md-grid-list(md-cols="5" md-row-height="180px").calculation-box
    md-grid-tile(md-rowspan="1" md-colspan="1").calculation-box__column
        .calculation-box__column__column-block.calculation-box__column__column-block_first(layout="column" layout-fill)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Daily Amount
                input(ng-model='payroll.foreman.daily_amount' ng-blur='updatePayroll()' er-only-digit with-decimal-point format="currency" ng-disabled='loading')
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Total Days
                input(ng-model='payroll.foreman.total_days' ng-blur='updatePayroll()' ng-disabled='loading' format="number" er-only-digit with-decimal-point)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Total Daily
                input(ng-model='payroll.foreman.total_daily' ng-blur='updatePayroll()' format="currency" disabled)
    md-grid-tile(md-rowspan="1").calculation-box__column
        .calculation-box__column__column-block(layout="column" layout-fill)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Hourly Rate
                input(ng-model='payroll.foreman.hourly_rate' ng-blur='updatePayroll()' er-only-digit with-decimal-point format="currency" ng-disabled='loading')
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Total Hours
                input(ng-model='payroll.foreman.total_hours' ng-blur='updatePayroll()' ng-disabled='loading' format="number" er-only-digit)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Total Hourly
                input(ng-model='payroll.foreman.total_hourly' ng-blur='updatePayroll()'  format="currency" disabled)
    md-grid-tile(md-rowspan="1" md-colspan="1").calculation-box__column
        .calculation-box__column__column-block(layout="column" layout-fill)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Loading Rate
                input(ng-model='payroll.foreman.loading_rate' ng-blur='updatePayroll()' er-only-digit with-decimal-point format="currency" ng-disabled='loading')
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Loading Volume
                input(ng-model='payroll.foreman.loading_volume' ng-blur='updatePayroll()' ng-disabled='loading' format="number" er-only-digit with-decimal-point)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Total Loading
                input(ng-model='payroll.foreman.total_loading' ng-blur='updatePayroll()' format="currency" disabled)
    md-grid-tile(md-rowspan="1" md-colspan="1").calculation-box__column
        .calculation-box__column__column-block(layout="column" layout-fill)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Unloading Rate
                input(ng-model='payroll.foreman.unloading_rate' ng-blur='updatePayroll()' er-only-digit with-decimal-point format="currency" ng-disabled='loading')
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Unloading Volume
                input(ng-model='payroll.foreman.unloading_volume' ng-blur='updatePayroll()' ng-disabled='loading' format="number" er-only-digit with-decimal-point)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Total Unloading
                input(ng-model='payroll.foreman.total_unloading' ng-blur='updatePayroll()' format="currency" disabled)
    md-grid-tile(md-rowspan="1" md-colspan="1").calculation-box__column
        .calculation-box__column__column-block.calculation-box__column__column-block_last(layout="column" layout-fill)
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Mileage Rate
                input(ng-model='payroll.foreman.mileage_rate' ng-blur='updatePayroll()' er-only-digit with-decimal-point format="currency" ng-disabled='loading')
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Mileage
                input(ng-model='payroll.foreman.mileage' ng-blur='updatePayroll()' format="number" er-only-digit with-decimal-point ng-disabled='loading')
            md-input-container(layout="row").calculation-box__column__column-block__item
                label Total Mileage
                input(ng-model='payroll.foreman.total_mileage' ng-blur='updatePayroll()' format="currency" disabled)
