.calculation-box
  margin-top 10px
  &__column
    &__column-block
      font-size 14px
      font-family Roboto,Helvetica Neue,sans-serif
      padding 10px 10px 0 10px
      margin 0 10px 0 10px
      background white
      box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
      &_first
        margin-left 0
      &_last
        margin-right  0
