.agent-folio-details(ng-show="jobsTripItems.length > 0"  ng-class="type")
	.agent-folio-details__head
		.agent-folio-details__head__item.agent-folio-details__body__item_padding
			md-checkbox.md-primary(ng-model="selectAll" ng-change="selectAllItems()")
		.agent-folio-details__head__item
			| Job
		.agent-folio-details__head__item
			| Trip
		.agent-folio-details__head__item
			| Owner
		.agent-folio-details__head__item
			| Rate per Cf
		.agent-folio-details__head__item
			| Volume, Cf
		.agent-folio-details__head__item
			| Job Cost
		.agent-folio-details__head__item
			| Services
		.agent-folio-details__head__item
			| Job Total
		.agent-folio-details__head__item
			| TP Collected
		.agent-folio-details__head__item
			| Received
		.agent-folio-details__head__item
			| Paid
		.agent-folio-details__head__item
			| To Receive
		.agent-folio-details__head__item
			| To Pay
		.agent-folio-details__head__item
			| Balance
	.agent-folio-details__body.animationIf(ng-repeat="item in jobsTripItems track by $index")
		.agent-folio-details__receipt(ng-if="item.state == 1 || item.state == 4")
			.agent-folio-details__body__item.receipts-list__body__item_flex-grow( ng-class="{'agent-folio-details__body__item_no-border': (item.state == 1 || item.state == 2)}")
				.agent-folio-details__body__big-elips(ng-class="getStatusClass(item)")
					ng-md-icon.black-icon(icon="credit_card" size="20" ng-if="item.receipt_id != 0")
					ng-md-icon.white-icon(icon="playlist_add_check" size="20" ng-if="item.invoice_id != 0")
				.agent-folio-details__body__line.agent-folio-details__body__line_top(ng-class="getStatusClass(item)" ng-if="item.state == 1 || item.state == 4")
			.receipts-list__body__item.receipts-list__body__item_bigger-item(ng-if="item.invoice_id != 0")
				span.receipts-list__body__title
					| Invoice Date
				| {{item.invoice.created  * 1000| date: 'EEEE, d MMMM y' }}
			.receipts-list__body__item.receipts-list__body__item_bigger-item(ng-if="item.receipt_id != 0")
				span.receipts-list__body__title
					| Receipt Date
				| {{item.receipt.created * 1000 | date: 'EEEE, d MMMM y' }}
			.receipts-list__body__item(ng-if="item.invoice_id != 0")
				span.receipts-list__body__title
					| Total Amount
				| {{item.invoice.data.amount | currency }}
			.receipts-list__body__item(ng-if=" item.invoice.data.partially_paid && item.invoice.data.partially_paid > 0")
				span.receipts-list__body__title
					| Partially Paid
				| {{item.invoice.data.partially_paid | currency }}
			.receipts-list__body__item(ng-if=" item.invoice.data.overpay")
				span.receipts-list__body__title
					| Overpaid
				div(custom-refund invoice="item.invoice" trip-id="item.ld_trip_id" balance="item.invoice.data.overpay" entity-type="7" entity-id="{{ userInfo.ld_carrier_id }}" user-info="userInfo" pay-success="getJobs()" overpaid="true")
			.receipts-list__body__item(ng-if="item.invoice.data.partially_paid")
				span.receipts-list__body__title
					| Rest
				.rest-value(ng-click="openCustomPayment($event, getAmount(item.invoice.data), getAmount(item.invoice.data), item.invoice.data.jobs_id, 1, undefined, item.invoice)") {{ getAmount(item.invoice.data) | currency }}
			.receipts-list__body__item(ng-if="item.receipt_id != 0")
				span.receipts-list__body__title
					| Total Amount
				| {{item.receipt.value.total_amount || item.receipt.value.amount  | currency }}
			.receipts-list__body__item(ng-if="item.receipt_id != 0 && item.receipt.value.amount != item.receipt.value.total_amount")
				span.receipts-list__body__title
					| Partially Paid
				| {{ item.receipt.value.amount | currency }}
			.receipts-list__body__item(ng-if=" item.receipt.value.partially_paid")
				span.receipts-list__body__title
					| Rest
				| {{ getReceiptAmount(item.receipt.value) | currency }}

			.receipts-list__body__item(ng-if="item.invoice_id != 0")
				span.receipts-list__body__title
					| Company
				| {{item.invoice.data.client_name }}
			.receipts-list__body__item(ng-if="item.receipt_id != 0")
				span.receipts-list__body__title
					| Company
				| {{item.receipt.value.name }}
			.receipts-list__body__item(ng-if="item.receipt_id != 0")
				span.receipts-list__body__title
					| Status
				span(ng-if="item.receipt.value.pending") Pending
				span(ng-if="!item.receipt.value.pending && item.receipt.value.amount != item.receipt.value.total_amount") Partially Paid
				span(ng-if="!item.receipt.value.pending && item.receipt.value.amount == item.receipt.value.total_amount") Paid
			.receipts-list__body__item(ng-if="item.receipt_id != 0")
				receipt-modal(receipt='item.receipt' get-jobs="getJobs()")
			.receipts-list__body__item(ng-if="item.invoice_id != 0")
				span.receipts-list__body__title
					| Status
				div(ng-if="!item.invoice.data.partially_paid && !item.invoice.data.overpay")
					| {{item.invoice.flag | invoiceStatus}}
				div(ng-if="item.invoice.data.partially_paid && item.invoice.flag == 3")
					| Partially Paid
				div(ng-if="item.invoice.data.partially_paid && item.invoice.data.partially_paid < 0")
					| Overrefunded
				div(ng-if="item.invoice.data.overpay && item.invoice.flag == 3")
					| Overpaid
			.receipts-list__body__item
				ng-md-icon.black-icon(ng-if='item.invoice.receipts.length > 0' icon="arrow_forward")
			.receipts-list__body__item(ng-if="item.invoice.receipts.length > 0")
				receipt-modal(multiple-receipts="true" receipts='item.invoice.receipts' get-jobs="getJobs()" user-info="userInfo" open-custom-payment="openCustomPayment" invoice="item.invoice")
			.receipts-list__body__item.receipts-list__body__item_bigger-item
				div(ng-if="item.invoice.receipts.length > 0")
					.receipts-list__body__title(ng-if="item.invoice.receipts.length == 1")
						| Receipt Date
					.receipts-list__body__title(ng-if="item.invoice.receipts.length > 1")
						| First Receipt Date
					| {{item.invoice.receipts[0].created * 1000| date: 'EEEE, d MMMM y' }}
			.receipts-list__body__item(ng-if="item.invoice.receipts.length == 0 || item.receipt_id != 0")
			.agent-folio-details__body__item.agent-folio-details__body__item_receipt
			.agent-folio-details__body__item.agent-folio-details__body__item__menu(ng-if="item.receipt_id != 0")
				md-fab-speed-dial.md-icon-button.md-scale(md-open='isOpen', md-direction='left')
					md-fab-trigger
						md-button.md-icon-button(aria-label='menu')
							ng-md-icon.black-icon(icon="more_vert")
					md-fab-actions.agent-folio-details__body__item__menu__items
						md-button.md-icon-button(aria-label='Close invoice'  ng-click="removeReceipt(item.receipt_id, $event)")
							md-tooltip(md-direction="top") Delete receipt
							ng-md-icon.red-icon(icon="delete_forever")
						md-button.md-icon-button(aria-label='Close invoice'  ng-click="openCustomPayment($event, item.receipt.value.amount, item.receipt.value.total_amount, item.receipt.value.jobs, 1, item.receipt)")
							md-tooltip(md-direction="top") Edit receipt
							ng-md-icon.green-icon(icon="create")
						receipt-modal(receipt = 'item.receipt' is-receipts-list="true" get-jobs="getJobs()" ng-click="$event.stopPropagation()")
			.agent-folio-details__body__item.agent-folio-details__body__item__menu(ng-if="item.invoice_id != 0")
				md-fab-speed-dial.md-icon-button.md-scale(md-open='isOpen', md-direction='left')
					md-fab-trigger
						md-button.md-icon-button(aria-label='menu')
							ng-md-icon.black-icon(icon="more_vert")
					md-fab-actions
						md-button.md-icon-button(aria-label='Remove' ng-if="item.invoice.receipts.length == 0" ng-click="removeInvoice(item.invoice_id, $event)")
							md-tooltip(md-direction="bottom") Remove
							ng-md-icon.red-icon(icon="delete_forever")
						a(href="/account/#/invoice/{{ item.invoice.hash}}" target="_blank")
							md-button.md-icon-button(aria-label='Show')
								md-tooltip(md-direction="bottom") Show invoice
								ng-md-icon.green-icon(icon="remove_red_eye")

						md-button.md-icon-button(aria-label='Resend' ng-if="item.invoice.flag != 3" ng-click="resendInvoice($event, item)")
							md-tooltip(md-direction="bottom") Edit invoice
							ng-md-icon.green-icon(icon="create")
						md-button.md-icon-button(aria-label='Close invoice'  ng-click="openCustomPayment($event, getAmount(item.invoice.data), getAmount(item.invoice.data), item.invoice.data.jobs_id, 1, undefined, item.invoice)" ng-hide='item.invoice.flag == 3 && !item.invoice.data.partially_paid')
							md-tooltip(md-direction="bottom") Pay invoice
							ng-md-icon.green-icon(icon="check_circle")
						md-button.md-icon-button(aria-label='Close invoice'  ng-click="openCustomPayment($event, getAmount(item.receipt.value), getAmount(item.receipt.value), item.receipt.value.jobs, 1, undefined, item.invoice)" ng-hide='!item.receipt.value.partially_paid || !item.receipt.value.overpay')
							md-tooltip(md-direction="bottom") Pay rest
							ng-md-icon.green-icon(icon="check_circle")

		.agent-folio-details__job
			.agent-folio-details__body__item(ng-if="item.state != 0" ng-class="{'agent-folio-details__body__item_no-border': (item.state == 1 || item.state == 2)}")
				.agent-folio-details__body__smoll-elips(ng-class="getStatusClass(item)" ng-if="item.state == 2 || item.state == 1")
				.agent-folio-details__body__smoll-elips(ng-class="getStatusClass(item)" ng-if="item.state == 3 || item.state == 4")
				.agent-folio-details__body__line.agent-folio-details__body__line_center(ng-class="getStatusClass(item)" ng-if="item.state == 2 || item.state == 1")
				.agent-folio-details__body__line.agent-folio-details__body__line_bottom(ng-class="getStatusClass(item)" ng-if="item.state == 3 || item.state == 4")
			.agent-folio-details__body__item.agent-folio-details__body__item_padding(ng-if="item.state == 0")
				md-checkbox.md-primary(ng-model="item.selected" ng-click="toggleSelect()")
			.agent-folio-details__body__item(call-job-modal id="item.job_id" show-text="{{item.job_id}}" ng-if="!item.delivery_job_id || item.delivery_job_id == null")
			.agent-folio-details__body__item(ng-if="item.delivery_job_id || item.delivery_job_id != null")
				.big-form__jobs-list__body__item__items.big-form__jobs-list__body__item_pointer(ng-click="openTpDelivery(item)")
					.big-form__jobs-list__body__item__items__inline
						span {{item.job_id}}
						span.big-form__jobs-list__body__item_margin-left-right /
						span {{item.delivery_job_id}}
			a.agent-folio-details__body__item(ui-sref="lddispatch.tripDetails({id: item.ld_trip_id, tab: 0})")
				| {{ item.ld_trip_id }}
			.agent-folio-details__body__item
				| {{ item.owner }}
			.agent-folio-details__body__item
				| {{ item.rate_per_cf | currency }}
			.agent-folio-details__body__item
				| {{ item.volume_cf | number : 2 }}
			.agent-folio-details__body__item
				| {{ item.job_cost | currency }}
			.agent-folio-details__body__item
				| {{ item.services_total | currency }}
			.agent-folio-details__body__item
				| {{ item.job_total | currency }}
			.agent-folio-details__body__item
				| {{ item.tp_collected | currency }}
			.agent-folio-details__body__item
				| {{ item.received | currency }}
			.agent-folio-details__body__item
				| {{ item.paid | currency }}
			.agent-folio-details__body__item
				| {{ item.to_receive | currency }}
			.agent-folio-details__body__item
				| {{ item.to_pay | currency }}
			.agent-folio-details__body__item
				| {{ item.balance | currency }}
		.agent-folio-details__footer__directive(ng-if="item.state == 3 || item.state == 4")
			div(agent-folio-footer item="item.invoice.jobs_total" ng-if="item.invoice_id != 0")
			div(agent-folio-footer item="item.receipt.jobs_total" ng-if="item.receipt_id != 0")
	div(ng-if="jobsTripItems.length > 0" payment-totals default-total="defaultTotal")


.no-details(ng-hide="jobsTripItems.length > 0") There aren't jobs in this trip
