.ui-view-container
	position relative
	height 65px

[ui-view].ng-enter, [ui-view].ng-leave
	position absolute
	left 0
	right 0
	-webkit-transition all .5s ease-in-out
	-moz-transition all .5s ease-in-out
	-o-transition all .5s ease-in-out
	transition all .5s ease-in-out

[ui-view].ng-enter
	opacity 0
	-webkit-transform scale3d(0.5, 0.5, 0.5)
	-moz-transform scale3d(0.5, 0.5, 0.5)
	transform scale3d(0.5, 0.5, 0.5)

[ui-view].ng-enter-active
	opacity 1
	-webkit-transform scale3d(1, 1, 1)
	-moz-transform scale3d(1, 1, 1)
	transform scale3d(1, 1, 1)

[ui-view].ng-leave
	opacity 1
	-webkit-transform translate3d(0, 0, 0)
	-moz-transform translate3d(0, 0, 0)
	transform translate3d(0, 0, 0)

[ui-view].ng-leave-active
	opacity 0
	-webkit-transform translate3d(100px, 0, 0)
	-moz-transform translate3d(100px, 0, 0)
	transform translate3d(100px, 0, 0)

.agent-folio-details
	width 100%
	font-size 12px
	font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
	background #fff
	&__head
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		&__item
			display flex
			flex-grow 1
			padding 8px
			height 56px
			justify-content center
			width 100px
			flex-direction column
			font-size 12px
			font-weight 500
			border-bottom 1px solid #ddd
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
	&__job
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
	&__receipt
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		background #e4e4e4

	&__body
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		&:nth-child(2n)
			background-color #fff
		&:nth-child(2n+1)
			background #fff
		&__big-elips
			position absolute
			width 30px
			border-radius: 50%
			height: 30px
			padding 5px
			z-index 10
		&__line
			margin-left 13px
			width 2px
			height 100%
			position absolute

			&_top
				height 50%
				margin-top 15px
			&_bottom
				height 50%
				margin-top -15px

		&__smoll-elips
			border-radius: 50%;
			height: 14px;
			width 14px
			margin-left 7px
		&__item
			position relative
			display flex
			flex-grow 1
			padding 8px
			width 100px
			color #000
			justify-content center
			height 52px
			flex-direction column
			font-size 12px
			border-bottom 1px solid #ddd

			&__menu
				justify-content flex-end
				flex-direction row
				align-items center
				&__items
					display flex
					flex-direction row
					justify-content space-between
					align-items center
			&__receipt
				width auto

			&__input
				width 100%
				text-align center

			&_pointer
				cursor pointer

			&_padding
				padding-top 20px
			&_no-border
				position relative
				padding-top 0px
				padding-bottom 0px
				border-bottom none
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
	&__footer
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		height 30px
		&__directive
			max-height 30px
			border-bottom 1px solid #ddd
		&__item
			display flex
			flex-grow 1
			padding 8px
			width 100px
			text-align center

	&__toolbar
		position relative
		&__total-bg
			background -moz-linear-gradient(left, rgba(76, 175, 80, 0) 0%, rgba(76, 175, 80, 1) 20%, rgba(76, 175, 80, 1) 100%)
			background -webkit-linear-gradient(left, rgba(76, 175, 80, 0) 0%, rgba(76, 175, 80, 1) 20%, rgba(76, 175, 80, 1) 100%)
			background linear-gradient(to right, rgba(76, 175, 80, 0) 0%, rgba(76, 175, 80, 1) 20%, rgba(76, 175, 80, 1) 100%)
			position absolute
			width 100%
			height 100%
			padding-left 172px
			padding-top 17px
			opacity 0
			&_show
				animation: showTotal 0.3s forwards ease-out
			&_hide
				animation: hideTotal 0.3s forwards ease-out
		&__gradient-box
			position absolute
			width 100%
			height 100%
			background linear-gradient(to right, rgba(63, 81, 181, 1) 0%, rgba(63, 81, 181, 0.2) 30%, rgba(63, 81, 181, 0) 100%)
			transition background-color 0.3s ease-out
			&__draft
				background-color rgb(120, 144, 156)
			&__pending
				background-color rgb(255, 213, 79)
			&__active
				background-color rgb(102, 187, 106)
			&__delivered
				background-color rgb(66, 165, 245)
		&__back-icon
			margin-top 10px
		&__label
			color #fff
		&__total
			color #3d3d3d
			background #62c257
			border-radius 5px
			margin-left 10px
			padding-right 10px
		&__status
			margin-left 30px
			max-width 200px
			&_left
				margin-top 17px
		&__summury
			margin-left 30px

		&__item
			&_left
				float right
				color #fff
				display inline-flex

.no-details
	background-color cornsilk
	text-align center
	height 50px
	padding-top 15px

.rest-value
	color #283593
	cursor pointer

.sit-payment-status
	&_status-0
		background-color #9E9E9E
	&_status-1
		background-color #E65100
	&_status-2
		background-color #1565C0
	&_status-3
		background-color #7CB342
	&_receipt
		background-color #FDD835

.fabSpeedDialdemoBasicUsage
	.text-capitalize
		text-transform capitalize
	p
		&.note
			font-size 1.2rem
	.lock-size
		min-width 300px
		min-height 300px
		width 300px
		height 300px
		margin-left auto
		margin-right auto

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused
	background-color #000 !important

@keyframes showTotal
	from
		opacity 0

	to
		opacity 1

@keyframes hideTotal
	from
		opacity 1

	to
		opacity 0
