.pagination-directive
    text-align right
    padding-right 15px
    &__body
        &__button
            display inline-block
            height 40px
            width 40px
            border 1px solid #e1e1e1
            border-radius 50%
            margin-right 8px
            text-align center
            padding-top 8px
            background #fafafa
            font-weight 600
            cursor pointer
            -webkit-user-select none
            -moz-user-select none
            -ms-user-select none

            &:hover
                color white
                background-color lightgray

            &__arrows
                display inline-block
                background #ff5604
                height 40px
                width 40px
                border 1px solid #e1e1e1
                border-radius 20px
                margin-right 10px
                text-align center
                padding-top 8px
                font-weight 600
                -webkit-user-select none
                -moz-user-select none
                -ms-user-select none
                cursor pointer
                color white
            &_active
                display inline-block
                background #3f4eb8
                color white
