.pagination-directive
	.pagination-directive__body
		.uib-pagination(uib-pagination="uib-pagination" ng-model="meta.currentPage" total-items="meta.totalCount" items-per-page="meta.perPage" ng-change="setPage(meta.currentPage)" max-size="3" boundary-links="false" next-text=">>" previous-text="<<" boundary-link-numbers="true" rotate="false" force-ellipses="true")