.edit-sit-modal(ng-style="{'left': modalPosition.leftOffset, 'top': modalPosition.topOffset}")
	.edit-sit-modal__header
		.edit-sit-modal__header__label
			h2 New SIT
	md-progress-linear(md-mode="indeterminate" ng-if="busy")
	.edit-sit-modal__body
		.edit-sit-modal__input
			.edit-sit-modal__input__item(ng-if="tp.id")
				md-input-container.md-block(flex-gt-sm='')
					label.label-small-margin Request Id:
					input(ng-model="tp.id" ng-disabled="true")
			.edit-sit-modal__input__item
				md-input-container.md-block(flex-gt-sm='')
					label.label-small-margin Client Name:
					input(ng-model="tp.details.customer" ng-disabled="true")
		.edit-sit-modal__input.edit-sit-modal__select
			.edit-sit-modal__input__item.edit-sit-modal__select
				md-input-container.md-block(flex-gt-sm='')
					label.label-small-margin Storage:
					md-select(ng-model="storage" ng-change="setStorage(storage)")
						md-option(ng-value="storage" ng-repeat="storage in storages") {{ storage.name }}
			.edit-sit-modal__input__item.edit-sit-modal__select
				md-input-container.md-block(flex-gt-sm='')
					label.label-small-margin Foreman:
					md-select(ng-model="foreman" ng-change="setForeman(foreman)")
						md-option(ng-value="foreman" ng-repeat="foreman in foremen") {{ foreman.field_user_first_name }} {{ foreman.field_user_last_name }}
			.edit-sit-modal__input__item.edit-sit-modal__select
				md-input-container.md-block(flex-gt-sm='')
					label.label-small-margin Status:
					md-select(ng-model="sit.status")
						md-option(ng-repeat="(key, value) in serviceTypes" ng-value="key") {{ value }}
		.edit-sit-modal__input
			.edit-sit-modal__input__item
				md-input-container.md-block(flex-gt-sm='')
					label.label-small-margin Date:
					md-datepicker(ng-model="date" md-open-on-focus)
			.edit-sit-modal__input__item
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Blankets:
						input(ng-model="sit.blankets" type="text")
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Rooms:
						input(ng-model="sit.rooms" type="text")
		div(ng-repeat="lotNumber in sit.lot_number track by $index")
			.edit-sit-modal__input
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Lot Number:
						input(ng-model="lotNumber.number" type="text" ng-change="showSit()")
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Color:
						md-select(ng-model="lotNumber.color")
							md-option(ng-repeat="color in colors" ng-value="color.name")
								.edit-sit-modal__input
									.edit-sit-modal__input__item {{color.name}}
									.edit-sit-modal__input__item 
										.color-pick(ng-style="{'background-color': color.color}")
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin From:
						input(ng-model="lotNumber.from" type="number" min="0")
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin To:
						input(ng-model="lotNumber.to" type="number" min="0")
				md-button.md-icon-button(ng-hide="sit.lot_number.length < 2" ng-click="removeLotNumber($index)")
					ng-md-icon(icon="clear" style="fill: red" size="25px")
			.edit-sit-modal__input_no-margin(ng-show="$index == sit.lot_number.length - 1")
				md-button.md-icon-button( ng-click="addLotNumber()")
					ng-md-icon(icon="add" style="fill: green" size="25px")
		div(ng-repeat="lotInfo in sit.lots_info track by $index")
			.edit-sit-modal__input
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Create:
						input(ng-model="lotInfo.create" type="text" ng-change="showSit()")
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Line:
						input(ng-model="lotInfo.line" type="text")
				.edit-sit-modal__input__item
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Lot:
						input(ng-model="lotInfo.lot_num" type="text")
				md-button.md-icon-button(ng-hide="sit.lots_info.length < 2" ng-click="removeLotsInfo($index)")
					ng-md-icon(icon="clear" style="fill: red" size="25px")
			.edit-sit-modal__input_no-margin(ng-show="$index == sit.lots_info.length - 1" )
				md-button.md-icon-button(ng-click="addLotsInfo()")
					ng-md-icon(icon="add" style="fill: green" size="25px")
		.edit-sit-modal__buttons
				md-button.md-raised.md-warn(ng-click="closeModal()") Close
				md-button.md-raised.md-primary(ng-click="updateSit()") Update



