.edit-sit-modal
	z-index 200
	position: absolute
	box-shadow 0 0 2px rgba(0,0,0,0.5)
	background-color #fff
	left 5px
	top 5px
	width 500px
	font-size 13px
	&__header
		width 100%
		display inline-flex
		flex-direction column
		justify-content center
		height 52px
		background #E0E0E0
		border-bottom 1px solid #ddd
		&__label
			padding-left 15px
			display flex
			flex-direction row
			justify-content flex-start
	&__body
		margin-top 15px
		padding 15px
		width 100%
		display inline-flex
		flex-direction column
		justify-content flex-start
	&__input
		width 100%
		margin-top -7px
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
		flex 1
		&__item
			display flex
			flex 1
			padding-left 5px
			padding-right 5px
			&:first-child
				padding-left 0
			&:last-child
				padding-right 0
		&_no-margin
			margin-top -25px
			padding-bottom 10px
		
	&__select
		padding-bottom 15px
	&__buttons
		display flex
		flex-direction row
		justify-content flex-end
.color-pick
	height 12px
	width 20px
	border 1px solid #ddd
.minimize-box
	max-width 300px
	font-size 16px