.lead-score-settings
	form.lead-scoring-rules.animated.fadeInDown(name="leadScoringForm" id="leadScoringForm")
		.lead-scoring-rules__saving-alert
			span(ng-show="saving") Saving
			span.animated.fadeIn(ng-show="saved") Saved!
		.lead-scoring-rules__switch
			input( type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
				ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
				ng-model="leadScoringSetting.enabled"
				ng-change="updateScoring()"
				data-switchery="true" style="display: none")
			h2.lead-scoring-rules__switch__label Enable lead scoring
		.lead-scoring-rules__scoring-box
			.lead-scoring-rules__box(ng-class="{'lead-scoring-rules__box_cold': leadScoringSetting.enabled ,'lead-scoring-rules__box_disabled': !leadScoringSetting.enabled}")
				.lead-scoring-rules__box__label
					| COLD
				.lead-scoring-rules__box__content
					.lead-scoring-rules__box__content__text
						| All Leads are considered COLD by default
			.lead-scoring-rules__box(ng-class="{'lead-scoring-rules__box_warm': leadScoringSetting.enabled ,'lead-scoring-rules__box_disabled': !leadScoringSetting.enabled}")
				.lead-scoring-rules__box__label
					| WARM
					.lead-scoring-rules__box__alert.show-score-error(ng-messages="leadScoringForm.warm.$error" role="alert")
						div(ng-message="min") Warm lead can't be less than cold!
						div(ng-message="max") Warm lead can't be greater than hot!
						div(ng-message="required") Warm lead is required!
				.lead-scoring-rules__box__content
					.lead-scoring-rules__box__content__text
						| Mark Leads as WARM if the score is more than
					.lead-scoring-rules__box__content__input
						md-input-container.lead-scoring-input
							input.lead-score-input(type="number" name="warm"
								ng-model="leadScoringSetting.scoring.warm"
								ng-blur="updateScoring()"
								ng-disabled="!leadScoringSetting.enabled"
								min="{{leadScoringSetting.scoring.cold}}" max="{{leadScoringSetting.scoring.hot}}"
								required string-to-number er-only-digit)
			.lead-scoring-rules__box(ng-class="{'lead-scoring-rules__box_hot': leadScoringSetting.enabled ,'lead-scoring-rules__box_disabled': !leadScoringSetting.enabled}")
				.lead-scoring-rules__box__label
					| HOT
					.lead-scoring-rules__box__alert.show-score-error(ng-messages="leadScoringForm.hot.$error" role="alert")
						div(ng-message="min") Hot lead can't be less then warm!
						div(ng-message="required") Hot lead is required!
				.lead-scoring-rules__box__content
					.lead-scoring-rules__box__content__text
						| Mark Leads as HOT if the score is more than
					.lead-scoring-rules__box__content__input
						md-input-container.lead-scoring-input
							input.lead-score-input(type="number" name="hot"
								ng-model="leadScoringSetting.scoring.hot"
								ng-blur="updateScoring()"
								ng-disabled="!leadScoringSetting.enabled"
								min="{{leadScoringSetting.scoring.warm}}"
								required string-to-number er-only-digit)
	form.lead-score-notif.animated.fadeInUp(ng-if="notificationsExists" name="notificationLeads")
		.lead-scoring-rules__saving-alert
			span(ng-show="scoreSaving") Saving
			span.animated.fadeIn(ng-show="scoreSaved") Saved!

		.lead-score-notif__column.lead-score-notif_without-border
			.lead-score-notif__column__line
				.lead-score-notif__column__line__labels
					.lead-score-notif-input-line
						h2.notif-score-label Notification
						h2.notif-score-label Score points
					.lead-score-notif-input-line(ng-repeat="notification in firstColumn")
						label.lead-score-input-label {{notification.title}}
							input.score-points-input(type="number"
								ng-model="notification.score"
								ng-blur="changeNotificationScore(notification)"
								ng-disabled="!leadScoringSetting.enabled"
								string-to-number er-only-digit)
		.lead-score-notif__column
			.lead-score-notif__column__line
				.lead-score-notif__column__line__labels
					.lead-score-notif-input-line.hide-if-small-screen
						h2.notif-score-label Notification
						h2.notif-score-label Score points
					.lead-score-notif-input-line(ng-repeat="notification in secondColumn")
						label.lead-score-input-label {{notification.title}}
							input.score-points-input(type="number"
								ng-model="notification.score"
								ng-blur="changeNotificationScore(notification)"
								ng-disabled="!leadScoringSetting.enabled"
								string-to-number er-only-digit)
		.lead-score-notif__column
			.lead-score-notif__column__line
				.lead-score-notif__column__line__labels
					.lead-score-notif-input-line.hide-if-small-screen
						h2.notif-score-label Notification
						h2.notif-score-label Score points
					.lead-score-notif-input-line(ng-repeat="notification in thirdColumn")
						label.lead-score-input-label {{notification.title}}
							input.score-points-input(type="number"
								ng-model="notification.score"
								ng-blur="changeNotificationScore(notification)"
								ng-disabled="!leadScoringSetting.enabled"
								string-to-number er-only-digit)