.lead-score-settings
	display: flex
	flex-direction: row
	flex-wrap: wrap
	width: 100%
	justify-content: flex-start
.lead-scoring-rules
	display inline-flex
	flex-direction column
	justify-content flex-start
	padding 0 25px 25px 0
	width 100%
	max-height 500px
	background-color #fff
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
	position relative
	&__saving-alert
		position absolute
		top 3px
		right 8px
		font-size 15px
		font-weight 600
		color green
	&__scoring-box
		display inline-flex
		flex-direction row
		flex-wrap wrap
		justify-content space-around
	&__switch
		padding 25px 0 0 25px
		align-items center
		display inline-flex
		flex-direction row
		justify-content flex-start
		&__label
			margin-left 20px
	&__box
		margin 25px 0 0 25px
		padding 10px 15px 15px
		display flex
		flex 1
		flex-direction column
		justify-content flex-start
		box-shadow 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
		background: url(/moveBoard/content/img/bg.png) 0 0 repeat-x scroll
		transition background-color 0.5s
		&_disabled
			background-color: #989898
			opacity: 0.5
		&_hot
			background-color: rgba(255, 2, 16, 0.33)
		&_warm
			background-color: rgba(255, 111, 2, 0.33)
		&_cold
			background-color: rgba(0, 158, 255, 0.38)
		&__label
			display flex
			flex-direction row
			justify-content space-between
			color white
			width 100%
			font-size 28px
			font-weight 600
		&__alert
			color #9b0000
			font-size 15px
			font-weight 400
			text-shadow 1px 1px 2px #ffffff
			margin-top 3px
			transition opacity 3s
		&__content
			width 100%
			margin-top 20px
			display inline-flex
			flex-direction row
			justify-content flex-end
			&__text
				color rgb(102, 102, 102)
				font-size 24px
				white-space: nowrap
			&__input
				height 30px
				margin -17px 0 0 10px
				width 60px
.lead-score-notif
	position relative
	display inline-flex
	flex-direction row
	justify-content space-between
	flex-wrap wrap
	padding 20px 0
	margin-top 25px
	width 100%
	background-color #fff
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
	&__column
		flex 1
		display flex
		flex-direction column
		padding 0 35px
		flex-wrap nowrap
		justify-content flex-start
		border-left 1px dashed rgba(0, 0, 0, .16)
		&__line
			display flex
			flex-direction row
			flex-wrap nowrap
			justify-content space-between
			width 100%
			&__labels
				padding 0 40px
				white-space: nowrap
				display inline-flex
				flex-direction column
				justify-content flex-start
				width 100%
			&__inputs
				padding-right 40px
				width 170px
				display inline-flex
				flex-direction column
				justify-content flex-start
	&_without-border
		border-left none

.without-border
	border-left none

.lead-score-notif-input-line
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	height 46px;
	width 100%

.notif-score-label
	color grey
	white-space nowrap
label.lead-score-input-label
	width 100%
	font-size: .938em
	font-family: Montserrat,sans-serif
	color: #424856
	margin: 0
	font-weight: 500
	line-height: 1.1
	cursor pointer
	position relative
input.score-points-input
	position absolute
	right 25px
	font-size: 15px;
	color: #585858;
	width: 60px
	text-align: center;
	margin: 0 auto;
	border-color: #f0e8e8;
input.score-points-input[type=number]::-webkit-inner-spin-button,
input.score-points-input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none;
	margin: 0;
input.score-points-input[type=number] {
	-moz-appearance: textfield;
}

md-input-container.lead-scoring-input .md-input
	font-size 25px
	color #585858
	text-align center
	background-color: #eae6ef
	border-radius: 50%
	height: 56px
	margin-top: -14px

md-input-container.lead-scoring-input:not(.md-input-invalid).md-input-focused .md-input {
	border-right 1px solid
	border-color: #b7b7b7
}

.lead-score-input
	&_disabled
		color #fff
input.lead-score-input[type=number]::-webkit-inner-spin-button,
input.lead-score-input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none;
	margin: 0;

input.lead-score-input[type=number] {
	-moz-appearance: textfield;
}

.show-score-error
	opacity 1

.show-score-error.ng-active-add {
	transition: 0.3s linear all;
	opacity 1
}

.show-score-error.ng-active {
	opacity 1
}

.show-score-error.ng-inactive-add {
	transition: 0.3s linear all;
	opacity 0
}

.show-score-error.ng-inactive {
	opacity 0
}

.show-score-error.ng-enter {
	transition: 0.3s linear all;
	opacity 0
}

.show-score-error.ng-enter-active {
	opacity 1
}

.show-score-error.ng-leave {
	transition: 0.3s linear all;
	opacity 1
}

.show-score-error.ng-leave-active {
	opacity 0
}

@media all and (min-width: 1450px) and (max-width: 1900px)
	.lead-scoring-rules
		width 49%
		&__scoring-box
			flex-direction column
			flex-wrap nowrap
	.lead-score-notif
		width 49%
		flex-direction column
		flex-wrap nowrap
		margin-top 0
		margin-left 25px
		&__column
			border-left none
			flex none
	.lead-score-notif-input-line.hide-if-small-screen
		display none

@media all and (max-width: 1449px)
	.lead-scoring-rules
		width 100% !important
		&__scoring-box
			flex-direction column
			flex-wrap nowrap
	.lead-score-notif
		width 100% !important
		flex-direction column
		flex-wrap nowrap
		.lead-score-notif__column
			border-left none
			flex none
	.lead-score-notif-input-line.hide-if-small-screen
		display none



