<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="LoginController"
     ng-class="{'busy':busy}">
    <div>
        <h3>Choose an option: </h3>
        <div class="login-choose-options">
            <div class="login-options">
                <h1 class="logo-name custom-logo-name"
                    ng-class="{'chosed-options': moveBoard}"
                    ng-click="homeEstimate = false; moveBoard = true;">
                    <i class="fa fa-truck"></i>
                </h1>
                <span>MoveBoard</span>
            </div>
            <div class="login-options">
                <h1 class="logo-name custom-logo-name"
                    ng-class="{'chosed-options': homeEstimate}"
                    ng-click="homeEstimate = true; moveBoard = false;">
                    <i class="fa fa-home"></i>
                </h1>
                <span>In-home Estimate</span>
            </div>
        </div>
        <form class="m-t ng-pristine ng-valid" ng-submit="login()" role="form"  name="form">
            <div class="busyoverlay fixed-busy-overlay" ng-show="loading">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>
            <div style="color: red;font-size: 14px;">{{error}}</div>
            <div class="form-group" ng-class="{'error': error.length}">
                <input class="form-control" id="email" ng-model="email" placeholder="Username"/>
            </div>
            <div class="form-group" ng-class="{'error': error.length}">
                <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password" required/>
            </div>
            <button ng-disabled="form.$invalid || dataLoading" type="submit" class="btn btn-primary block full-width m-b">Login</button>

            <a ui-sref="restore"><small>Forgot password?</small></a>

        </form>
        <p class="m-t"> <small>Powered by Elromco</small> </p>
    </div>
</div>

