<div class="modal-content example-greeting-modal">
    <div class="confgrats_box">
        <div class="calc-intro_heading" ng-bind-html="greetings.title"></div>
        <div class="calc-confirm" ng-bind-html="greetings.text"></div>
        <div class="flex-greeting-box" ng-if="greetings.buttonText.length">
            <button class="request-button top30 btn-inv-default">{{greetings.buttonText}}</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="close()">Close</button>
</div>