<div class="col-lg-12">
    <div class="flat-rate-account-settings">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Greeting Settings
                    <i class="fa fa-info-circle"
                       aria-hidden="true"
                       tooltip-placement="left"
                       uib-tooltip="This setting is responsible for a client's welcome screen. The client sees the window only when they first visit their account page"></i>
                </h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li ng-repeat="tab in tabs"
                        ng-class="{active: tab.selected}"
                        heading="{{tab.name}}"
                        class="ng-isolate-scope">
                        <a href="" ng-click="select(tab)">{{tab.name}}</a>
                    </li>
                </ul>
                <div class="tab-pane calculator" ng-class="{'active_tab_status': !tabs[0].selected}">
                    <div class="sizeset chat-widget">
						<div class="show-period-settings">
							<button class="btn btn-primary" ng-click="openShowPeriodSettingsModal(greetingsSettings)"><i class="fa fa-wrench" aria-hidden="true"></i>Show Period Setting</button>
							<span ng-if="greetingsSettings.showPeriod === 'first'"> Welcome window is shown only at first time of use</span>
							<span ng-if="greetingsSettings.showPeriod === 'each'"> Welcome window is shown every time</span>
							<span ng-if="greetingsSettings.showPeriod === 'noActivityPeriod'"> Welcome window is shown if user was absent {{greetingsSettings.absentingPeriod}} days</span>
						</div>
                        <h3 class="half-margin-bottom">Greeting Title</h3>
                        <div ng-model-options="{ updateOn: 'blur' }" ng-change="saveFlatRateSettings()"
                             class="margin-one"
                             ng-model="greetingsSettings.title" text-angular="text-angular"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                  ['fontColor', 'fontName', 'fontSize'],
                                                  ['insertLink', 'insertImage'],
                                                  ['undo', 'redo', 'clear', 'html']]"></div>
                        <h3 class="half-margin-bottom">Greeting content</h3>
                        <div ng-model-options="{ updateOn: 'blur' }" ng-change="saveFlatRateSettings()"
                             class="margin-one"
                             ng-model="greetingsSettings.text" text-angular="text-angular"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                  ['fontColor', 'fontName', 'fontSize'],
                                                  ['insertLink', 'insertImage'],
                                                  ['undo', 'redo', 'clear', 'html']]"></div>
                        <h3 class="half-margin-bottom">Button text</h3>
                        <input id="button-text"  ng-change="saveFlatRateSettings()"
                               class="form-control margin-one"
                               type="text"
                               ng-model="greetingsSettings.buttonText"
                               ng-model-options="{ updateOn: 'blur' }"
                               placeholder="Button text">
                        <div class="pull-right">
                            <div class="flex-justify-center margin-one">
                                <h3>Show greeting block</h3>
                                <input type="checkbox"
                                       class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                       ng-change="saveFlatRateSettings()"
                                       ng-model="greetingsSettings.show"
                                       id="visible" data-switchery="true" style="display: none;">
                            </div>
                            <div class="flex-justify-center">
                                <button class="btn btn-primary" ng-click="showExample(greetingsSettings)">Show greeting modal</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane calculator sizeset chat-widget" ng-class="{'active_tab_status': !tabs[1].selected}">
                    <div class="sizeset chat-widget">
                        <h3 class="half-margin-bottom">Greeting Title</h3>
                        <div ng-model-options="{ updateOn: 'blur' }" ng-change="saveFlatRateSettings()"
                             class="margin-one"
                             ng-model="greetingsParserSettings.title" text-angular="text-angular"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                  ['fontColor', 'fontName', 'fontSize'],
                                                  ['insertLink', 'insertImage'],
                                                  ['undo', 'redo', 'clear', 'html']]"></div>
                        <h3 class="half-margin-bottom">Greeting content</h3>
                        <div ng-model-options="{ updateOn: 'blur' }" ng-change="saveFlatRateSettings()"
                             class="margin-one"
                             ng-model="greetingsParserSettings.text" text-angular="text-angular"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                  ['fontColor', 'fontName', 'fontSize'],
                                                  ['insertLink', 'insertImage'],
                                                  ['undo', 'redo', 'clear', 'html']]"></div>
                        <div class="pull-right">
                            <div class="flex-justify-center margin-one">
                                <h3>Show greeting block</h3>
                                <input type="checkbox"
                                       class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                       ng-change="saveFlatRateSettings()"
                                       ng-model="greetingsParserSettings.show"
                                       id="visible" data-switchery="true" style="display: none;">
                            </div>
                            <div class="flex-justify-center">
                                <button class="btn btn-primary" ng-click="showExample(greetingsParserSettings)">Show greeting modal</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane calculator sizeset chat-widget" ng-class="{'active_tab_status': !tabs[2].selected}">
                    <div class="sizeset chat-widget">
                        <h3 class="half-margin-bottom">Greeting Title</h3>
                        <div ng-model-options="{ updateOn: 'blur' }" ng-change="saveFlatRateSettings()"
                             class="margin-one"
                             ng-model="greetingsNewUserSettings.title" text-angular="text-angular"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                  ['fontColor', 'fontName', 'fontSize'],
                                                  ['insertLink', 'insertImage'],
                                                  ['undo', 'redo', 'clear', 'html']]"></div>
                        <h3 class="half-margin-bottom">Greeting content</h3>
                        <div ng-model-options="{ updateOn: 'blur' }" ng-change="saveFlatRateSettings()"
                             class="margin-one"
                             ng-model="greetingsNewUserSettings.text" text-angular="text-angular"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                  ['fontColor', 'fontName', 'fontSize'],
                                                  ['insertLink', 'insertImage'],
                                                  ['undo', 'redo', 'clear', 'html']]"></div>
                        <h3 class="half-margin-bottom">Button text</h3>
                        <input id="button-text"  ng-change="saveFlatRateSettings()"
                               class="form-control margin-one"
                               type="text"
                               ng-model="greetingsNewUserSettings.buttonText"
                               ng-model-options="{ updateOn: 'blur' }"
                               placeholder="Button text">
                        <div class="pull-right">
                            <div class="flex-justify-center margin-one">
                                <h3>Show greeting block</h3>
                                <input type="checkbox"
                                       class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                       ng-change="saveFlatRateSettings()"
                                       ng-model="greetingsNewUserSettings.show"
                                       id="visible" data-switchery="true" style="display: none;">
                            </div>
                            <div class="flex-justify-center">
                                <button class="btn btn-primary" ng-click="showExample(greetingsNewUserSettings)">Show greeting modal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>