.valuation-modal
	&__radio
		display flex
		align-items center
		justify-content center
		cursor pointer
		&:before
			content "\2713"
			color transparent
			font-size 1.5em
			line-height 0.8em
			border 2px solid #82888a
			border-radius 3px
			width 1em
			height 1em
			margin-right 5px
		&.checked:before
			color #fff
			background-color rgba(46, 204, 113,.9)
	&__liability-amount_block
		cursor pointer
		&__recalculate
			position relative
			height 1em
			width 1em
			right 2em
		&__input
			text-align center
			margin-bottom -3px
			border-width 0 0 2px 0
	&__info
		width 100%
		padding 10px
		&-per-pound
			text-align center
		&-row
			padding 10px 0
		&-table
			width 100%
			text-align center
			font-size 14px
			line-height 3em
			&-header
				background: #f0f0f0;
				border-bottom: 1px solid #c5c5c5;
				border-top: 1px solid #c5c5c5;
				font-weight: 700;
				.cell-small
					width 20%
				.cell-big
					width 30%
			&-title
				width 25%
				padding-left 20px
				text-align left
				font-weight 700
			&-cell
				text-align center
	&__tabs
		display flex
		line-height 2em
	&__tab
		width 50%
		text-align center
		cursor pointer
		background #f0f0f0
		box-shadow 0px -2px 8px 0px #d3d3d3 inset
		&.checked
			box-shadow none
			color #565656
			background transparent
			border-bottom-color transparent
.valuation
	&__modal-request-header
		max-width 150px
		overflow hidden
		height 15px
