<div ng-show="busy">
	<div class="busyoverlay">
		<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
			<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
		</svg>
	</div>
</div>
<div class="valuation__modal">
	<div class="modal-header gray">
		<span>Full Valuation Protection </span> |
		<span class="valuation__modal-request-header">Request# {{nid}} | </span>
		<span class="valuation__modal-request-client" title="{{name}}">
			<i class="icon-user"></i> {{name}}
		</span>
		<div class="actions pull-right">
			<button type="button" class="close" ng-click="cancel()">&times;</button>
		</div>
	</div>
	<div class="req-valuation">
		<div class="valuation-modal__tabs">
			<div class="valuation-modal__tab"
				 ng-class="{'checked': valuation.selected.valuation_type == valuationTypes.PER_POUND}"
				 ng-click="setValuationType(valuationTypes.PER_POUND)">
				{{valuationTitles[valuationTypes.PER_POUND].title}}
			</div>
			<div class="valuation-modal__tab"
				 ng-class="{'checked': valuation.selected.valuation_type == valuationTypes.FULL_VALUE}"
				 ng-click="setValuationType(valuationTypes.FULL_VALUE)">
				{{valuationTitles[valuationTypes.FULL_VALUE].title}}
			</div>
		</div>

		<div class="valuation-modal__info valuation-modal__info-per-pound"
			 ng-if="valuation.selected.valuation_type == valuationTypes.PER_POUND"
			 ng-bind-html="::valuationTitles[valuationTypes.PER_POUND].explanation"></div>

		<div class="valuation-modal__info" ng-if="valuation.selected.valuation_type == valuationTypes.FULL_VALUE">
			<div class="valuation-modal__info-row">
				<table class="valuation-modal__info-table">
					<tr class="valuation-modal__info-table-header">
						<td class="cell-small">
							Weight, lbs
						</td>
						<td class="cell-big">
							Amount of liability
							<span ng-show="valuation.change_liability_amount">(manual)</span>
						</td>
						<td class="cell-small">
							Deductible Amount
						</td>
						<td class="cell-big">
							Valuation charge
						</td>
					</tr>
					<tr>
						<td class="valuation-modal__info-table-cell">
							{{weight}}
						</td>
						<td class="valuation-modal__info-table-cell valuation-modal__liability-amount_block">
							<div>
								<input cc-currency class="valuation-modal__liability-amount_block__input"
									   ng-model="valuation.selected.liability_amount"
									   ng-change="changeOnlyLiabilityAmount()"
									   ng-model-options="{'updateOn': 'blur'}">
								<i ng-click="recalculateLiabilityAmount()"
								   ng-show="valuation.change_liability_amount"
								   class="fa fa-calculator valuation-modal__liability-amount_block__recalculate"
								   uib-tooltip="Calculate liability amount"></i>
							</div>
						</td>
						<td class="valuation-modal__info-table-cell">
							<span ng-if="valuation.selected.deductible_level !== 'Select Valuation'">
								$
							</span> {{valuation.selected.deductible_level}}
						</td>
						<td class="valuation-modal__info-table-cell">
							$ {{valuation.selected.valuation_charge || 0 | number:2}}
						</td>
					</tr>
				</table>
			</div>

			<div class="valuation-modal__info-row">
				<table class="valuation-modal__info-table">
					<tr class="valuation-modal__info-table-header">
						<td class="valuation-modal__info-table-title">Deductible Level</td>
						<td ng-repeat="value in currentPlan.header track by $index">
							$ {{value}}
						</td>
					</tr>
					<tbody>
					<tr>
						<td class="valuation-modal__info-table-title">
							Valuation Charge
						</td>
						<td ng-repeat="value in currentPlan.header track by $index">
							$ {{calculateCharge(value)}}
						</td>
					</tr>
					<tr>
						<td class="valuation-modal__info-table-title">Select Deductible Level</td>
						<td ng-repeat="value in currentPlan.header track by $index">
							<div class="valuation-modal__radio"
								 ng-class="{'checked': valuation.selected.deductible_level == value}"
								 ng-click="setDeductibleLevel(value)">
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="clickSave()" data-ng-disabled="disableSave">Save
	</button>
	<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
