<!--new version of release form-->
<div ng-if="!data.releaseData.releaseInitials">
    <div ng-if="stepId != 'header' && stepId != 'footer'">
        <div class="signatured-box" style="cursor:default;height: 100%;" ng-if="data.releaseData.itemsRelease[stepId].signature.value != undefined ">
            <img disabled ng-src="{{ data.releaseData.itemsRelease[stepId].signature.value }}"/>
            <span class="sign-date">{{:: data.releaseData.itemsRelease[stepId].signature.date | date: "medium"}}</span>
            <a href="javascript:;" ng-show="!data.releaseData.isSubmitted" ng-click="removeReleaseSignature(stepId)">
                <span class="cancel"> &times;</span> </a>
        </div>
        <div class="signature-box" id="release-step_{{ stepId }}" ng-click="clickOpenSignature()" ng-if="!data.releaseData.itemsRelease[stepId].signature.value">
            <span><i class="glyphicon glyphicon-pencil"></i> Click here to sign</span>
        </div>
    </div>
    <div ng-if="stepId == 'header' || stepId == 'footer'">
        <div class="signatured-box" style="cursor:default;height: 100%;" ng-if="data.releaseData[stepId].signature.value != undefined ">
            <img disabled ng-src="{{ data.releaseData[stepId].signature.value }}"/>
            <span class="sign-date">{{:: data.releaseData[stepId].signature.date | date: "medium"}}</span>
            <a href="javascript:;" ng-show="!data.releaseData.isSubmitted" ng-click="removeReleaseSignature(stepId)">
                <span class="cancel"> &times;</span> </a>
        </div>
        <div class="signature-box" id="release-step_{{ stepId }}" ng-click="clickOpenSignature()" ng-if="!data.releaseData[stepId].signature.value">
            <span><i class="glyphicon glyphicon-pencil"></i> Click here to sign</span>
        </div>
    </div>
</div>

<!--old version of release form-->
<div ng-if="data.releaseData.releaseInitials">
    <div class="signatured-box" style="cursor:default;height: 100%;" ng-if="data.releaseData.releaseInitials[stepId].signature.value != undefined ">
        <img disabled ng-src="{{ data.releaseData.releaseInitials[stepId].signature.value }}" />
        <span class="sign-date">{{:: data.releaseData.releaseInitials[stepId].signature.date | date: "medium"}}</span>
        <a href="javascript:;" ng-show="!data.releaseData.isSubmitted" ng-click="removeReleaseSignature(stepId)">
            <span class="cancel" > &times;</span>
        </a>
    </div>
    <div class="signature-box" id="step_{{ stepId }}" ng-click="clickOpenSignature()" ng-if="!data.releaseData.releaseInitials[stepId].signature.value">
        <p><i class="glyphicon glyphicon-pencil"></i> Click here to sign</p>
    </div>

</div>
