.er-signature-modal
	&.modal
		z-index: 2060 !important;
	.modal-dialog
		width 95%
		height 95%
		.modal-content
			height 95%
			.modal-footer
				background-color white
	&__canvas
		display block
		padding 0
		margin 0 auto
		max-width 100%
	&__signature-form
		position absolute
		top 15%
		width 100%
		padding-left 20px
		padding-right 20px
		z-index 1000
	&__signature-underline
		border-top 5px solid #6D6D6D
		width 98%
		position fixed
		bottom 25%
