<div ng-attr-id="{{signatureType}}Pad" class="modal-body">
	<div class="er-signature-modal__signature-form">
		<div class="signature-times"></div>
		<hr class="er-signature-modal__signature-underline">
	</div>
	<canvas class="er-signature-modal__canvas" ng-attr-id="{{signatureType}}Canvas" width="550" height="137"></canvas>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-lg btn-default pull-left" ng-click="close()">Cancel</button>
	<button type="button" class="btn btn-lg btn-default pull-left" ng-click="cancel()">Clear</button>
	<button type="button" class="btn btn-lg btn-primary" ng-click="save()">Save Signature</button>
</div>