<div class="col-md-12 col-xs-12 addr">
    <div class="addr-wrapper">
        <div class="col-md-6 col-xs-6 addr-block" ng-hide="request.service_type.raw == 4">
            <h2 style="padding-left: 10px;text-transform: uppercase;font-size: 12px;">Origin</h2>
            <i ng-if="ifStorage && request.request_all_data.toStorage && pairedRequest"
               class="moving-storage-edit-icon icon-pencil" aria-hidden="true" ng-click="openRelinkModal()"></i>
            <div ng-if="ifStorage && request.request_all_data.toStorage && !pairedRequest"
                 ng-click="changeToFromMoveStorage()" class="moving-storage-swap-box">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </div>
            <div class="moving-storage-addr" style="text-align: center;padding: 20px;"
                 ng-if="ifStorage && request.request_all_data.toStorage && pairedRequest">
                <div style="float: left;" class="address-block">
                    <i class="icon-plus" ng-if="!states.invoiceState" ng-hide="request.extraPickup"
                       ng-click="request.extraPickup=true; invoice.extraPickup=true" tooltip-placement="right"
                       uib-tooltip="Add Extra Pickup"></i>
                    <i class="icon-plus" ng-if="states.invoiceState" ng-hide="invoice.extraPickup"
                       ng-click="invoice.extraPickup=true" tooltip-placement="right" uib-tooltip="Add Extra Pickup"></i>
                </div>
                <div ng-show="pairedRequest" class="status-ms without-title">Status:{{pairedRequest.status.value}}</div>
                <img style="cursor: pointer;"
                     ng-if="request.service_type.raw != 6"
                     ng-click="OpenModal(request.storage_id || request.request_all_data.baseRequestNid)"
                     src="content/img/from-storage.png" title="From storage Request">
                <i class="fa fa-truck fa-3x"
                   style="cursor: pointer;"
                   ng-if="request.service_type.raw == 6"
                   title="Overnight"
                   ng-click="OpenModal(request.storage_id || request.request_all_data.baseRequestNid)"
                   aria-hidden="true"></i>
                <div ng-show="pairedRequest" class="move-date-ms">Move date in: {{pairedRequestDate}}</div>
                <div ng-show="pairedRequest && request.service_type.raw == 2 && !request.request_all_data.toStorage"
                     class="move-date-ms monthly-rate-ms"
                     ng-if="request.service_type.raw != 6">Storage Monthly Estimate:
                    ${{storage_rate.min | number:2 }} - ${{storage_rate.max | number:2 }} ({{interval}})
                </div>
                <div ng-show="pairedRequest && request.service_type.raw == 2 && request.request_all_data.toStorage"
                     class="move-date-ms monthly-rate-ms">
                    Duration of stay in the storage: {{interval}}
                </div>
                <div ng-show="pairedRequest && overnightRate && overnightRate.extra_services" class="move-date-ms monthly-rate-ms" ng-if="request.service_type.raw == 6">
                    Overnight Charge:
                    ${{overnightRate.extra_services[0].services_default_value * overnightRate.extra_services[1].services_default_value | number:2 }}
                </div>
            </div>
            <div class="moving-storage-addr no-group-request" style="text-align: center;padding: 20px;"
                 ng-if="ifStorage && request.request_all_data.toStorage && !pairedRequest">
                <div style="float: left;" class="address-block">
                    <i class="icon-plus" ng-if="!states.invoiceState" ng-hide="request.extraPickup"
                       ng-click="request.extraPickup=true;invoice.extraPickup=true" tooltip-placement="right"
                       uib-tooltip="Add Extra Pickup"></i>
                    <i class="icon-plus" ng-if="states.invoiceState" ng-hide="invoice.extraPickup"
                       ng-click="invoice.extraPickup=true" tooltip-placement="right" uib-tooltip="Add Extra Pickup"></i>
                </div>
                <img style="cursor: pointer;" ng-click="openGroupModal()" src="content/img/from-storage.png"
                     title="From storage Request">
                <div class="move-date-ms">No storage request</div>
            </div>
            <div class="address-block"
                 ng-hide="(ifStorage && request.request_all_data.toStorage) || states.invoiceState">
                <div class="col-md-2 col-xs-2">
                    <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_moving_from)">A</h2>
                    <i class="fa fa-map-marker"></i>
                    <div>
                        <i class="icon-plus" ng-hide="request.extraPickup" ng-click="request.extraPickup=true"
                           tooltip-placement="right" uib-tooltip="Add Extra Pickup"></i>
                    </div>
                </div>
                <div class="address-info col-md-10 col-xs-10">
                    <div class="address form-item-moving-from">
                        <input cc-input-address-invoice editrequest="editrequest" message="message"
                               field="request.field_moving_from" type="field_moving_from" subfield="thoroughfare"
                               placeholder="From Address" class="required form-text" type="text" id="edit-moving-from"
                               name="moving_from" size="15" maxlength="128"
                               cc-change="changeRequestField('field_moving_from')"
                               ng-value="request.field_moving_from.thoroughfare"
                               address-autocomplete>

                        <input cc-input-invoice editrequest="editrequest" message="message" field="request.apt_from"
                               placeholder="Apt" class="apt form-text"
                               oldvalue="request.apt_from.value" type="text" id="edit-moving-from-apt"
                               name="moving_from_apt" value="" size="5" maxlength="5"
                               cc-change="changeRequestField('apt_from')" ng-value="request.apt_from.value">
                    </div>

                    <div class="main form-item-moving-from-city">
                        <input cc-input-address-invoice editrequest="editrequest" message="message"
                               field="request.field_moving_from" type="field_moving_from" subfield="locality"
                               placeholder="From City"
                               class="city  form-text" type="text"
                               ng-value="request.field_moving_from.locality">

                        <select cc-input-address-invoice editrequest="editrequest" message="message"
                                field="request.field_moving_from" type="field_moving_from"
                                subfield="administrative_area"
                                id="edit-moving-from-state" class="state form-select  f"
                                ng-value="request.field_moving_from.administrative_area">
                            <option value="">Select State</option>
                            <option ng-selected="request.field_moving_from.administrative_area == '{{state}}'"
                                    value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}
                            </option>
                        </select>
                        <input cc-input-address-invoice ng-value="request.field_moving_from.postal_code" placeholder="From Zip"
                               validate-zip="checkMoveToThisState(from, to, stateFrom, stateTo, areaCode)"
                               editrequest="editrequest" message="message" field="request.field_moving_from"
                               type="field_moving_from" subfield="postal_code" class="zip required form-text"
                               ng-class="{'has-error': isInvalidFieldMovingFrom}" id="edit-moving-from-zip"
                               name="moving_from_zip" size="5" cc-change="changeRequestField('field_moving_from')"
                               maxlength="5" er-only-digit>
                    </div>

                    <div class="form-item form-type-select form-item-Type-From">
                        <select cc-select-invoice editrequest="editrequest" message="message"
                                field="[request.type_from, 'type_from']" oldvalue="request.type_from.raw"
                                id="edit-size-move" class="form-select" ng-class="{'has-error': isInvalidTypeFrom}">
                            <option ng-selected="request.type_from.raw == {{id}}" value="{{id}}"
                                    ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                                {{fieldData.field_lists.field_type_of_entrance_from[id]}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>
            <div ng-if="states.invoiceState">
                <div class="address-block" ng-hide="ifStorage && request.request_all_data.toStorage">
                    <div class="col-md-2 col-xs-2"><h2>A</h2>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <i class="icon-plus" ng-hide="invoice.extraPickup" ng-click="invoice.extraPickup=true"
                               tooltip-placement="right" uib-tooltip="Add Extra Pickup"></i>
                        </div>
                    </div>
                    <div class="address-info col-md-10 col-xs-10">
                        <div class="address form-item-moving-from">
                            <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.field_moving_from, 'field_moving_from']" type="field_moving_from"
                                   subfield="thoroughfare" ng-value="invoice.field_moving_from.thoroughfare"
                                   placeholder="From Address" class="required form-text" type="text"
                                   id="edit-moving-from" name="moving_from" size="15" maxlength="128">

                            <input cc-input-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.apt_from, 'invoice.apt_from']" ng-model="invoice.apt_from.value"
                                   placeholder="Apt" class="apt form-text" oldvalue="invoice.apt_from.value" type="text"
                                   id="edit-moving-from-apt" name="moving_from_apt" value="" size="5" maxlength="5">
                        </div>

                        <div class="main form-item-moving-from-city">
                            <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.field_moving_from, 'field_moving_from']" type="field_moving_from"
                                   subfield="locality" ng-value="invoice.field_moving_from.locality"
                                   placeholder="From City" class="city  form-text disabled" type="text">

                            <select cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                    field="[invoice.field_moving_from, 'field_moving_from']" type="field_moving_from"
                                    subfield="administrative_area"
                                    ng-value="invoice.field_moving_from.administrative_area" id="edit-moving-from-state"
                                    class="state form-select  f disabled">
                                <option value="">Select State</option>
                                <option ng-selected="invoice.field_moving_from.administrative_area == '{{state}}'"
                                        value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}
                                </option>
                            </select>

                            <input cc-input-address-invoice
                                   ng-value="invoice.field_moving_from.postal_code" message="messageInvoice"
                                   validate-zip="checkMoveToThisState(from, to, stateFrom, stateTo, areaCode)"
                                   placeholder="From Zip" editrequest="editRequestinvoice"
                                   field="[invoice.field_moving_from, 'field_moving_from']" type="field_moving_from"
                                   subfield="postal_code" class="zip required form-text" id="edit-moving-from-zip"
                                   name="moving_from_zip" size="5" maxlength="5" er-only-digit>
                        </div>

                        <div class="form-item form-type-select form-item-Type-From">
                            <select cc-select-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                    field="[invoice.type_from, 'type_from']" oldvalue="invoice.type_from.raw"
                                    id="edit-size-move" class="form-select">
                                <option ng-selected="invoice.type_from.raw == {{id}}" value="{{id}}"
                                        ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                                    {{fieldData.field_lists.field_type_of_entrance_from[id]}}
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div ng-hide="states.invoiceState">
                <div class="address-block" ng-show="request.extraPickup">
                    <div class="col-md-2 col-xs-2" style="margin-top:10px">
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_extra_pickup)">B</h2>
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="address-info col-md-10 col-xs-10" style="margin-top:10px">
                        <h4>Extra Pickup</h4>
                        <i class="icon-ban"
                           ng-click="removeExtra('field_extra_pickup');request.extraPickup = false;"></i>
                        <div class="address form-item-moving-from">
                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_extra_pickup" type="field_extra_pickup" subfield="thoroughfare"
                                   placeholder="From Address"
                                   class="required form-text" cc-change="changeRequestField(fieldName)"
                                   ng-value="request.field_extra_pickup.thoroughfare" id="edit-moving-from"
                                   address-autocomplete>

                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_extra_pickup" type="field_extra_pickup"
                                   subfield="premise" placeholder="Apt"
                                   class="apt form-text" id="edit-moving-from-apt"
                                   cc-change="changeRequestField(fieldName)"
                                   ng-value="request.field_extra_pickup.premise" name="moving_from_apt">
                        </div>

                        <div class="main form-item-moving-from-city">
                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_extra_pickup" type="field_extra_pickup" subfield="locality"
                                   placeholder="From City"
                                   ng-value="request.field_extra_pickup.locality" class="city form-text disabled">

                            <select cc-input-address-invoice editrequest="editrequest" message="message"
                                    field="request.field_extra_pickup" type="field_extra_pickup"
                                    subfield="administrative_area"
                                    id="edit-moving-from-state" class="state form-select disabled"
                                    ng-value="request.field_extra_pickup.administrative_area">
                                <option value="">Select State</option>
                                <option ng-selected="request.field_extra_pickup.administrative_area == '{{state}}'"
                                        value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}
                                </option>
                            </select>

                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_extra_pickup" type="field_extra_pickup"
                                   validate-zip="checkMoveToThisState(from, to, stateFrom, stateTo, areaCode)"
                                   subfield="postal_code"
                                   ng-value="request.field_extra_pickup.postal_code"
                                   cc-change="changeRequestField(fieldName)" placeholder="From Zip"
                                   class="zip required  form-text" type="text" id="edit-moving-from-zip" size="5"
                                   maxlength="5" er-only-digit>
                        </div>

                        <div class="form-item form-type-select form-item-Type-From">
                            <select cc-input-address-invoice editrequest="editrequest" message="message"
                                    ng-value="request.field_extra_pickup.organisation_name"
                                    field="request.field_extra_pickup" type="field_extra_pickup"
                                    subfield="organisation_name"
                                    cc-change="changeRequestField(fieldName)" id="edit-size-move"
                                    class="form-select">
                                <option ng-selected="request.field_extra_pickup.organisation_name == {{id}}"
                                        value="{{id}}"
                                        ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                                    {{fieldData.field_lists.field_type_of_entrance_from[id]}}
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div ng-if="states.invoiceState">
                <div class="address-block" ng-show="invoice.extraPickup">
                    <div class="col-md-2 col-xs-2" style="margin-top:10px">
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_extra_pickup)">B</h2>
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="address-info col-md-10 col-xs-10" style="margin-top:10px">
                        <h4>Extra Pickup</h4>
                        <i class="icon-ban"
                           ng-click="removeInvoiceExtra('field_extra_pickup');invoice.extraPickup = false;"></i>
                        <div class="address form-item-moving-from">
                            <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.field_extra_pickup, 'field_extra_pickup']" type="field_extra_pickup"
                                   subfield="thoroughfare" ng-value="invoice.field_extra_pickup.thoroughfare"
                                   placeholder="From Address" class="required form-text" id="edit-moving-from"
                                   address-autocomplete>

                            <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.field_extra_pickup, 'field_extra_pickup']" type="field_extra_pickup"
                                   ng-value="invoice.field_extra_pickup.premise" subfield="premise" placeholder="Apt"
                                   class="apt form-text" id="edit-moving-from-apt" name="moving_from_apt">
                        </div>

                        <div class="main form-item-moving-from-city">
                            <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.field_extra_pickup, 'field_extra_pickup']" type="field_extra_pickup"
                                   subfield="locality" ng-value="invoice.field_extra_pickup.locality"
                                   placeholder="From City" class="city form-text disabled">

                            <select cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                    field="[invoice.field_extra_pickup, 'field_extra_pickup']" type="field_extra_pickup"
                                    subfield="administrative_area"
                                    ng-value="invoice.field_extra_pickup.administrative_area"
                                    id="edit-moving-from-state" class="state form-select disabled">
                                <option value="">Select State</option>
                                <option ng-selected="invoice.field_extra_pickup.administrative_area == '{{state}}'"
                                        value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}
                                </option>
                            </select>

                            <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   validate-zip="checkMoveToThisState(from, to, stateFrom, stateTo, areaCode)"
                                   field="[invoice.field_extra_pickup, 'field_extra_pickup']" type="field_extra_pickup"
                                   subfield="postal_code"
                                   ng-value="invoice.field_extra_pickup.postal_code" placeholder="From Zip"
                                   class="zip required  form-text" type="text" id="edit-moving-from-zip" size="5"
                                   maxlength="5" er-only-digit>
                        </div>

                        <div class="form-item form-type-select form-item-Type-From">
                            <select cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                    ng-value="invoice.field_extra_pickup.organisation_name"
                                    field="[invoice.field_extra_pickup, 'field_extra_pickup']" type="field_extra_pickup"
                                    subfield="organisation_name"

                                    id="edit-size-move" class="form-select">
                                <option ng-selected="invoice.field_extra_pickup.organisation_name == {{id}}"
                                        value="{{id}}"
                                        ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                                    {{fieldData.field_lists.field_type_of_entrance_from[id]}}
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6 col-xs-6"
             ng-hide="request.service_type.raw == 3 || request.service_type.raw == 8 || states.invoiceState"
             ng-class="{'marginleft50':request.service_type.raw == 4, 'disabled': homeEstimatePermission}">
            <div class="addr-block">
                <h2 style="padding-left: 10px;text-transform: uppercase;font-size: 12px;">Destination</h2>
                <i ng-if="ifStorage && !request.request_all_data.toStorage && pairedRequest"
                   class="moving-storage-edit-icon icon-pencil" aria-hidden="true" ng-click="openRelinkModal()"></i>
                <div ng-if="ifStorage && !request.request_all_data.toStorage && !pairedRequest"
                     ng-click="changeToFromMoveStorage()" class="moving-storage-swap-box swap-box-left">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                </div>
                <div class="moving-storage-addr" style="text-align: center;padding: 20px;"
                     ng-if="ifStorage && !request.request_all_data.toStorage && pairedRequest">
                    <div style="float: left;" class="address-block">
                        <i class="icon-plus" ng-if="!states.invoiceState" ng-hide="request.extraDropoff"
                           ng-click="request.extraDropoff=true;invoice.extraDropoff=true" tooltip-placement="right"
                           uib-tooltip="Add Extra Drop off"></i>
                        <i class="icon-plus" ng-if="states.invoiceState" ng-hide="invoice.extraDropoff"
                           ng-click="invoice.extraDropoff=true" tooltip-placement="right"
                           uib-tooltip="Add Extra Drop off"></i>
                    </div>
                    <div ng-show="pairedRequest" class="status-ms">Status:{{pairedRequest.status.value}}</div>
                    <img style="cursor: pointer;" src="content/img/to-storage.png" title="From storage Request" ng-click="OpenModal(request.storage_id || request.request_all_data.baseRequestNid)" ng-if="request.service_type.raw != 6">
                    <i class="fa fa-truck fa-3x" style="cursor: pointer;" title="Overnight" ng-click="OpenModal(request.storage_id || request.request_all_data.baseRequestNid)" ng-if="request.service_type.raw == 6" aria-hidden="true"></i>
                    <div ng-show="pairedRequest" class="move-date-ms">Move date out: {{pairedRequestDate}}</div>
                    <div ng-show="pairedRequest" class="move-date-ms monthly-rate-ms" ng-if="request.service_type.raw != 6">
                        Storage Monthly Estimate:
                        ${{storage_rate.min | number:2 }} - ${{storage_rate.max | number:2 }} ({{interval}})
                    </div>
                    <span class="storage-price-info" ng-if="pairedRequest && request.service_type.raw != 6">(Not included in grand total)</span>
                    <div ng-show="pairedRequest && overnightRate && overnightRate.extra_services" class="move-date-ms monthly-rate-ms" ng-if="request.service_type.raw == 6">
                        Overnight Charge:
                        ${{overnightRate.extra_services[0].services_default_value * overnightRate.extra_services[1].services_default_value | number:2 }}
                    </div>
                </div>

                <div class="moving-storage-addr no-group-request" style="text-align: center;padding: 20px;"
                     ng-if="ifStorage && !request.request_all_data.toStorage && !pairedRequest">
                    <div style="float: left;" class="address-block">
                        <i class="icon-plus" ng-if="!states.invoiceState" ng-hide="request.extraDropoff"
                           ng-click="request.extraDropoff=true;invoice.extraDropoff=true" tooltip-placement="right"
                           uib-tooltip="Add Extra Drop off"></i>
                        <i class="icon-plus" ng-if="states.invoiceState" ng-hide="invoice.extraDropoff"
                           ng-click="invoice.extraDropoff=true" tooltip-placement="right"
                           uib-tooltip="Add Extra Drop off"></i>
                    </div>
                    <img ng-if="request.service_type.raw != 6" style="cursor: pointer;" src="content/img/to-storage.png" title="From storage Request" ng-click="openGroupModal()">
                    <i ng-if="request.service_type.raw == 6" class="fa fa-truck fa-3x" style="cursor: pointer;" title="Overnight" aria-hidden="true" ng-click="openGroupModal()"></i>
                    <div ng-hide="pairedRequest" class="move-date-ms">No storage request</div>
                </div>

                <div class="address-block" ng-hide="ifStorage && !request.request_all_data.toStorage">
                    <div class="col-md-2 col-xs-2">
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_moving_to)"
                            ng-if="!request.extraPickup && !request.extraDropoff">B</h2>
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_moving_to)"
                            ng-if="(request.extraPickup || request.extraDropoff)"
                            ng-hide="request.extraDropoff && request.extraPickup">C</h2>
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_moving_to)"
                            ng-show="request.extraDropoff && request.extraPickup">D</h2>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <i class="icon-plus" ng-hide="request.extraDropoff" ng-click="request.extraDropoff=true"
                               tooltip-placement="right" uib-tooltip="Add Extra Drop off"></i>
                        </div>
                    </div>

                    <div class="address-info col-md-10 col-xs-10">
                        <div class="address form-item-moving-from">
                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_moving_to" type="field_moving_to" subfield="thoroughfare"
                                   ng-value="request.field_moving_to.thoroughfare"
                                   cc-change="changeRequestField(fieldName)" placeholder="To Address"
                                   class="required form-text" type="text" id="edit-moving-to" name="moving_from"
                                   size="15" maxlength="128"
                                   address-autocomplete>

                            <input cc-input-invoice editrequest="editrequest" message="message" field="request.apt_to"
                                   placeholder="Apt" class="apt form-text"
                                   ng-model="request.apt_to.value" ng-change="changeRequestField('apt_to')" type="text"
                                   id="edit-moving-from-apt" name="moving_from_apt" value="" size="5" maxlength="5">
                        </div>

                        <div class="main form-item-moving-from-city">
                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_moving_to" type="field_moving_to" subfield="locality"
                                   placeholder="From City"
                                   class="city  form-text" ng-value="request.field_moving_to.locality"
                                   type="text">

                            <select cc-input-address-invoice editrequest="editrequest" message="message"
                                    field="request.field_moving_to" type="field_moving_to"
                                    subfield="administrative_area"
                                    id="edit-moving-from-state"
                                    class="state form-select" ng-value="request.field_moving_to.administrative_area"
                                <option value="">Select State</option>
                                <option ng-selected="request.field_moving_to.administrative_area == '{{state}}'"
                                        value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}
                                </option>
                            </select>

                            <input cc-input-address-invoice
                                   ng-value="request.field_moving_to.postal_code"
                                   validate-zip="checkMoveToThisState(from, to, stateFrom, stateTo, areaCode)"
                                   placeholder="From Zip"
                                   editrequest="editrequest" field="request.field_moving_to" message="message"
                                   type="field_moving_to" subfield="postal_code" class="zip required form-text"
                                   ng-class="{'has-error': isInvalidFieldMovingTo}" id="edit-moving-from-zip"
                                   name="moving_from_zip" size="5" maxlength="5" er-only-digit>
                        </div>

                        <div class="form-item form-type-select form-item-Type-From">
                            <select cc-select-invoice editrequest="editrequest" field="[request.type_to, 'type_to']"
                                    message="message" field="request.type_to" id="edit-size-move" class="form-select"
                                    ng-class="{'has-error': isInvalidTypeTo}">
                                <option ng-selected="request.type_to.raw == {{id}}" value="{{id}}"
                                        ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                                    {{fieldData.field_lists.field_type_of_entrance_from[id]}}
                                </option>
                            </select>
                            <div ng-if="request.service_type.raw == 7">
                                <span>Area Code:</span> <span>{{request.field_moving_to.premise}}</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="address-block" ng-show="request.extraDropoff">
                    <div class="col-md-2 col-xs-2" style="margin-top:10px">
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_extra_dropoff)"
                            ng-hide="request.extraPickup==true">B</h2>
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_extra_dropoff)"
                            ng-if="request.extraPickup==true">C</h2>
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="address-info col-md-10 col-xs-10" style="margin-top:10px">

                        <h4>Extra Drop-off</h4>
                        <i class="icon-ban"
                           ng-click="removeExtra('field_extra_dropoff');request.extraDropoff=false;"></i>

                        <div class="address form-item-moving-from">
                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_extra_dropoff" type="field_extra_dropoff"
                                   subfield="thoroughfare"
                                   placeholder="From Address" class="required form-text"
                                   ng-value="request.field_extra_dropoff.thoroughfare"
                                   cc-change="changeRequestField(fieldName)" id="edit-moving-from"
                                   address-autocomplete>
                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_extra_dropoff" type="field_extra_dropoff"
                                   ng-value="request.field_extra_dropoff.premise"
                                   cc-change="changeRequestField(fieldName)" subfield="premise"
                                   placeholder="Apt" class="apt form-text" id="edit-moving-from-apt"
                                   name="moving_from_apt">

                        </div>
                        <div class="main form-item-moving-from-city">
                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   field="request.field_extra_dropoff" type="field_extra_dropoff" subfield="locality"
                                   ng-value="request.field_extra_dropoff.locality"
                                   placeholder="From City"
                                   class="city form-text disabled">

                            <select cc-input-address-invoice editrequest="editrequest" message="message"
                                    field="request.field_extra_dropoff" type="field_extra_dropoff"
                                    subfield="administrative_area"
                                    id="edit-moving-from-state"
                                    ng-value="request.field_extra_dropoff.administrative_area"
                                    class="state form-select disabled">
                                <option value="">Select State</option>
                                <option ng-selected="request.field_extra_dropoff.administrative_area == '{{state}}'"
                                        value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}
                                </option>
                            </select>

                            <input cc-input-address-invoice editrequest="editrequest" message="message"
                                   validate-zip="checkMoveToThisState(from, to, stateFrom, stateTo, areaCode)"
                                   field="request.field_extra_dropoff" type="field_extra_dropoff"
                                   subfield="postal_code"
                                   ng-value="request.field_extra_dropoff.postal_code"
                                   cc-change="changeRequestField(fieldName)" placeholder="From Zip"
                                   class="zip required  form-text" type="text" id="edit-moving-from-zip" size="5"
                                   maxlength="5" er-only-digit>
                        </div>

                        <div class="form-item form-type-select form-item-Type-From">
                            <select cc-input-address-invoice editrequest="editrequest" message="message"
                                    field="request.field_extra_dropoff" type="field_extra_dropoff"
                                    subfield="organisation_name"
                                    ng-value="request.field_extra_dropoff.organisation_name"
                                    cc-change="changeRequestField(fieldName)" id="edit-size-move"
                                    class="form-select">
                                <option ng-selected="request.field_extra_dropoff.organisation_name == {{id}}"
                                        value="{{id}}"
                                        ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                                    {{fieldData.field_lists.field_type_of_entrance_from[id]}}
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div ng-hide="ifStorage && !request.request_all_data.toStorage"
                 ng-if="request.request_all_data.storageRequestNid">
                <div ng-click="OpenModal(request.request_all_data.storageRequestNid)">
                    <label style="display: inline-block;float:right;margin-bottom: auto;line-height: 2.2;cursor: pointer;">"From
                        Storage" Request #{{request.request_all_data.storageRequestNid}}
                        <img src="content/img/storage.png" title="From storage Request"
                             style="height: 25px;float: right;padding: 0 5px 0 5px;display: inline-block;">
                    </label>
                </div>
            </div>

        </div>
        <div class="col-xs-6 packing-day-flex" ng-if="request.service_type.raw == 8">
            <div ng-if="!request.request_all_data.packing_request_id"
                 ng-click="openGroupModal()">
                <label class="packing-day-binding">Bind to request</label>
                <img class="packing-day-icon without-parent"
                     src="content/img/packing-day/delivery-package-opened.png"
                     title="Packing Day">
            </div>
            <div ng-if="request.request_all_data.packing_request_id"
                 ng-click="openBindingRequest(request.request_all_data.packing_request_id)">
                <label class="packing-day-binding">
                    Open request #{{::request.request_all_data.packing_request_id}}
                </label>
                <div class="addPackingInfo">
                    <span>Service Type: {{request.request_all_data.additionalInfo.serviceType}}</span>
                    <span>Status: {{request.request_all_data.additionalInfo.status}}</span>
                    <span>Move date: {{request.request_all_data.additionalInfo.moveDate}}</span>
                </div>
                <img class="packing-day-icon with-parent"
                     src="content/img/packing-day/delivery-package-opened.png"
                     title="Packing Day">
            </div>
            <div class="remove-packing-day" ng-if="request.request_all_data.packing_request_id">
                <i class="fa fa-times"
                   uib-tooltip="Unbind the request"
                   ng-click="unbindPackingDay()"></i>
            </div>
        </div>
    </div>
    <div ng-if="states.invoiceState">
        <div class="col-md-6 col-xs-6" ng-hide="request.service_type.raw == 3"
             ng-class="{'marginleft50':request.service_type.raw == 4, 'disabled': homeEstimatePermission}">
            <div class="addr-block" ng-if="request.service_type.raw != 8">
                <h2 style="padding-left: 10px;text-transform: uppercase;font-size: 12px;">Destination</h2>
                <div class="moving-storage-addr" style="text-align: center;padding: 20px;"
                     ng-if="ifStorage && !request.request_all_data.toStorage && pairedRequest">
                    <div style="float: left;" class="address-block">
                        <i class="icon-plus" ng-if="states.invoiceState" ng-hide="invoice.extraDropoff"
                           ng-click="invoice.extraDropoff=true" tooltip-placement="right"
                           uib-tooltip="Add Extra Drop off"></i>
                    </div>
                    <div ng-show="pairedRequest" class="status-ms">Status:{{pairedRequest.status.value}}</div>
                    <img ng-if="request.service_type.raw != 6" style="cursor: pointer;" ng-click="OpenModal(request.storage_id|| request.request_all_data.baseRequestNid)" src="content/img/to-storage.png" title="From storage Request">
                    <i class="fa fa-truck fa-3x" style="cursor: pointer;" title="Overnight" ng-click="OpenModal(request.storage_id|| request.request_all_data.baseRequestNid)" ng-if="request.service_type.raw == 6" aria-hidden="true"></i>
                    <div ng-show="pairedRequest" class="move-date-ms">Move date out: {{pairedRequestDate}}</div>
                    <div ng-show="pairedRequest" class="move-date-ms monthly-rate-ms" ng-if="request.service_type.raw != 6">
                        Storage Monthly Estimate:
                        ${{storage_rate.min | number:2 }} - ${{storage_rate.max | number:2 }} ({{interval}})
                    </div>
                    <span class="storage-price-info" ng-if="pairedRequest && request.service_type.raw != 6">(Not included in grand total)</span>
                </div>

                <div class="moving-storage-addr no-group-request" style="text-align: center;padding: 20px;"
                     ng-if="ifStorage && !request.request_all_data.toStorage && !pairedRequest"
                     ng-click="openGroupModal()">
                    <div style="float: left;" class="address-block">
                        <i class="icon-plus" ng-if="states.invoiceState" ng-hide="invoice.extraDropoff"
                           ng-click="invoice.extraDropoff=true" tooltip-placement="right"
                           uib-tooltip="Add Extra Drop off"></i>
                    </div>
                    <img style="cursor: pointer;" ng-if="request.service_type.raw != 6" src="content/img/to-storage.png"
                         title="From storage Request">
                    <i class="fa fa-truck fa-3x"
                       style="cursor: pointer;"
                       title="Overnight"
                       ng-if="request.service_type.raw == 6"
                       aria-hidden="true"></i>
                    <div ng-hide="pairedRequest" class="move-date-ms">No storage request</div>
                </div>


                <div class="address-block" ng-hide="ifStorage && !request.request_all_data.toStorage">
                    <div class="col-md-2 col-xs-2">
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_moving_to)"
                            ng-if="!invoice.extraPickup && !invoice.extraDropoff">B</h2>
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_moving_to)"
                            ng-if="(invoice.extraPickup || invoice.extraDropoff)"
                            ng-hide="invoice.extraDropoff && invoice.extraPickup">C</h2>
                        <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_moving_to)"
                            ng-show="invoice.extraDropoff && invoice.extraPickup">D</h2>
                        <i class="fa fa-map-marker"></i>
                        <div>
                            <i class="icon-plus" ng-hide="invoice.extraDropoff" ng-click="invoice.extraDropoff=true"
                               tooltip-placement="right" uib-tooltip="Add Extra Drop off"></i>
                        </div>
                    </div>

                    <div class="address-info col-md-10 col-xs-10">
                        <div class="address form-item-moving-from">
                            <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.field_moving_to, 'field_moving_to' ]" type="field_moving_to"
                                   subfield="thoroughfare" ng-value="invoice.field_moving_to.thoroughfare"
                                   placeholder="To Address" class="required form-text" type="text" id="edit-moving-from"
                                   name="moving_from" size="15" maxlength="128">

                            <input cc-input-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.apt_to, 'apt_to']" ng-model="invoice.apt_to.value" placeholder="Apt"
                                   class="apt form-text" type="text" id="edit-moving-from-apt" name="moving_from_apt"
                                   value="" size="5" maxlength="5">
                        </div>

                        <div class="main form-item-moving-from-city">
                            <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.field_moving_to, 'field_moving_to' ]" type="field_moving_to"
                                   subfield="locality" ng-value="invoice.field_moving_to.locality"
                                   placeholder="From City" class="city  form-text disabled" type="text">

                            <select cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                    field="[invoice.field_moving_to, 'field_moving_to' ]" type="field_moving_to"
                                    subfield="administrative_area"
                                    ng-value="invoice.field_moving_to.administrative_area" id="edit-moving-from-state"
                                    class="state form-select disabled">
                                <option value="">Select State</option>
                                <option ng-selected="invoice.field_moving_to.administrative_area == '{{state}}'"
                                        value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}
                                </option>
                            </select>

                            <input cc-input-address-invoice
                                   ng-value="invoice.field_moving_to.postal_code" placeholder="From Zip"
                                   validate-zip="checkMoveToThisState(from, to, stateFrom, stateTo, areaCode)"
                                   editrequest="editRequestinvoice" message="messageInvoice"
                                   field="[invoice.field_moving_to, 'field_moving_to' ]" type="field_moving_to"
                                   subfield="postal_code" class="zip required form-text" id="edit-moving-from-zip"
                                   name="moving_from_zip" size="5" maxlength="5" er-only-digit>
                        </div>

                        <div class="form-item form-type-select form-item-Type-From">
                            <select cc-select-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                    field="[invoice.type_to, 'type_to' ]" id="edit-size-move" class="form-select">
                                <option ng-selected="invoice.type_to.raw == {{id}}" value="{{id}}"
                                        ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                                    {{fieldData.field_lists.field_type_of_entrance_from[id]}}
                                </option>
                            </select>
                            <div ng-if="invoice.service_type.raw == 7">
                                <span>Area Code:</span> <span>{{invoice.field_moving_to.premise}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="address-block" ng-hide="ifStorage && !request.request_all_data.toStorage"
                 ng-if="request.request_all_data.storageRequestNid">
                <div class="moving-storage-addr" style="text-align: center;padding: 20px;cursor: pointer;"
                     ng-click="OpenModal(request.request_all_data.storageRequestNid)">
                    <label style="display: inline-block;float:right;margin-bottom: auto;line-height: 2.2;cursor: pointer;">"From
                        Storage" Request #{{request.request_all_data.storageRequestNid}}
                        <img src="content/img/storage.png" title="From storage Request"
                             style="height: 25px;float: right;padding: 0 5px 0 5px;display: inline-block;">
                    </label>
                </div>
            </div>

            <div class="address-block addr-block" ng-show="invoice.extraDropoff">
                <div class="col-md-2 col-xs-2" style="margin-top:10px">
                    <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_extra_dropoff)"
                        ng-hide="invoice.extraPickup==true">B</h2>
                    <h2 class="map-mark" ng-click="showPathFromCompanyToPoint(request.field_extra_dropoff)"
                        ng-if="invoice.extraPickup==true">C</h2>
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="address-info col-md-10 col-xs-10" style="margin-top:10px">

                    <h4>Extra Drop-off</h4>
                    <i class="icon-ban"
                       ng-click="removeInvoiceExtra('field_extra_dropoff');invoice.extraDropoff=false;"></i>

                    <div class="address form-item-moving-from">
                        <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                               field="[invoice.field_extra_dropoff, 'field_extra_dropoff']" type="field_extra_dropoff"
                               subfield="thoroughfare" ng-value="invoice.field_extra_dropoff.thoroughfare"
                               placeholder="From Address" class="required form-text" id="edit-moving-from"
                               address-autocomplete>
                        <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                               field="[invoice.field_extra_dropoff, 'field_extra_dropoff']" type="field_extra_dropoff"
                               ng-value="invoice.field_extra_dropoff.premise" subfield="premise" placeholder="Apt"
                               class="apt form-text" id="edit-moving-from-apt" name="moving_from_apt">

                    </div>
                    <div class="main form-item-moving-from-city">
                        <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                               field="[invoice.field_extra_dropoff, 'field_extra_dropoff']" type="field_extra_dropoff"
                               subfield="locality" ng-value="invoice.field_extra_dropoff.locality"
                               placeholder="From City" class="city form-text disabled">

                        <select cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                field="[invoice.field_extra_dropoff, 'field_extra_dropoff']" type="field_extra_dropoff"
                                subfield="administrative_area"
                                ng-value="invoice.field_extra_dropoff.administrative_area" id="edit-moving-from-state"
                                class="state form-select disabled">
                            <option value="">Select State</option>
                            <option ng-selected="invoice.field_extra_pickup.administrative_area == '{{state}}'"
                                    value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}
                            </option>
                        </select>

                        <input cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                               validate-zip="checkMoveToThisState(from, to, stateFrom, stateTo, areaCode)"
                               field="[invoice.field_extra_dropoff, 'field_extra_dropoff']" type="field_extra_dropoff"
                               subfield="postal_code"
                               ng-value="invoice.field_extra_dropoff.postal_code" placeholder="From Zip"
                               class="zip required  form-text" type="text" id="edit-moving-from-zip" size="5"
                               maxlength="5" er-only-digit>
                    </div>

                    <div class="form-item form-type-select form-item-Type-From">
                        <select cc-input-address-invoice editrequest="editRequestinvoice" message="messageInvoice"
                                ng-value="invoice.field_extra_dropoff.organisation_name"
                                field="[invoice.field_extra_dropoff, 'field_extra_dropoff']" type="field_extra_dropoff"
                                subfield="organisation_name"
                                id="edit-size-move" class="form-select">
                            <option ng-selected="invoice.field_extra_dropoff.organisation_name == {{id}}"
                                    value="{{id}}"
                                    ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                                {{fieldData.field_lists.field_type_of_entrance_from[id]}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="col-md-12 col-xs-12" ng-hide="states.invoiceState">
        <div class="form-item distance" ng-if="!longDistance"><label>Distance</label> :
            <span> A <i class="fa fa-long-arrow-right"></i> B<span ng-if="extraPickup"> <i
                    class="fa fa-long-arrow-right"></i> C</span> <span ng-if="extraDropoff"> <i
                    class="fa fa-long-arrow-right"></i> D</span></span><span
                    class="md">{{request.distance.value}} miles</span>
            <span class="md">{{request.duration.value | decToTime}}</span> <span class="map" ng-click="redirectToMap()">
                <i class="icon-map"></i>
            </span>
			<span arrivy-Modal class="arrivyButton" ng-if="request.arrivyRequestUrl" arrivy-Link="request.arrivyRequestUrl"></span>
            <span ng-if="request.request_all_data.storage_request_id" class="storage-request pull-right"
                  ng-click="openStorageRequest(request.request_all_data.storage_request_id)">Storage #{{request.request_all_data.storage_request_id}} <i
                    class="fa fa-archive" aria-hidden="true"></i></span>

            <div class="packing-day-control pull-right" ng-if="request.request_all_data.packing_request_id && request.service_type.raw != 8">
                <span class="packing-request" ng-click="openBindingRequest(request.request_all_data.packing_request_id)">
                    Packing request #{{request.request_all_data.packing_request_id}}
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                </span>
                <span class="packing-request">
                <i class="fa fa-times"
                   uib-tooltip="Unbind the request"
                   ng-click="unbindPackingDay()"></i>
                </span>
            </div>

        </div>

        <div class="form-item distance" ng-if="longDistance"><label>Distance</label> :
            <span> A <i class="fa fa-long-arrow-right"></i> <span ng-if="request.extraPickup">C</span> <i
                    ng-if="request.extraPickup" class="fa fa-long-arrow-right"></i> Parking</span>
            <span class="map" ng-click="redirectToMap()"><i class="icon-map"></i></span>
			<span arrivy-Modal class="arrivyButton" ng-if="request.arrivyRequestUrl" arrivy-Link="request.arrivyRequestUrl"></span>
            <span ng-if="request.request_all_data.storage_request_id" class="storage-request pull-right"
                  ng-click="openStorageRequest(request.request_all_data.storage_request_id)">Storage #{{request.request_all_data.storage_request_id}} <i
                    class="fa fa-archive" aria-hidden="true"></i></span>
            <div class="packing-day-control pull-right"
                 ng-if="request.request_all_data.packing_request_id && request.service_type.raw != 8">
                <span class="packing-request"
                      ng-click="openBindingRequest(request.request_all_data.packing_request_id)">
                    Packing request #{{request.request_all_data.packing_request_id}}
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                </span>
                <span class="packing-request">
                <i class="fa fa-times"
                   uib-tooltip="Unbind the request"
                   ng-click="unbindPackingDay()"></i>
                </span>
            </div>
        </div>

    </div>

    <div class="col-md-12 col-xs-12" ng-if="states.invoiceState">
        <div class="form-item distance" ng-if="!longDistance"><label>Distance</label> :
            <span> A <i class="fa fa-long-arrow-right"></i> B<span ng-if="extraPickup"> <i
                    class="fa fa-long-arrow-right"></i> C</span> <span ng-if="extraDropoff"> <i
                    class="fa fa-long-arrow-right"></i> D</span></span><span
                    class="md">{{invoice.distance.value}} miles</span>
            <span class="md">{{invoice.duration.value | decToTime}}</span> <span class="map" ng-click="redirectToMap()"><i
                    class="icon-map"></i></span>
			<span arrivy-Modal class="arrivyButton" ng-if="request.arrivyRequestUrl" arrivy-Link="request.arrivyRequestUrl"></span>
            <span ng-if="request.request_all_data.storage_request_id" class="storage-request pull-right"
                  ng-click="openStorageRequest(request.request_all_data.storage_request_id)">Storage #{{request.request_all_data.storage_request_id}} <i
                    class="fa fa-archive" aria-hidden="true"></i></span>

            <div class="packing-day-control pull-right" ng-if="request.request_all_data.packing_request_id && request.service_type.raw != 8">
                <span class="packing-request" ng-click="openBindingRequest(request.request_all_data.packing_request_id)">
                    Packing request #{{request.request_all_data.packing_request_id}}
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                </span>
                <span class="packing-request">
                <i class="fa fa-times"
                   uib-tooltip="Unbind the request"
                   ng-click="unbindPackingDay()"></i>
                </span>
            </div>
        </div>

        <div class="form-item distance" ng-if="longDistance">
            <label>Distance</label> :
            <span> A <i class="fa fa-long-arrow-right"></i> <span ng-if="invoice.extraPickup">C</span> <i
                    ng-if="invoice.extraPickup" class="fa fa-long-arrow-right"></i> Parking</span>
            <span class="map" ng-click="redirectToMap()"><i class="icon-map"></i></span>
			<span arrivy-Modal class="arrivyButton" ng-if="request.arrivyRequestUrl" arrivy-Link="request.arrivyRequestUrl"></span>
            <span ng-if="request.request_all_data.storage_request_id" class="storage-request pull-right"
                  ng-click="openStorageRequest(request.request_all_data.storage_request_id)">Storage #{{request.request_all_data.storage_request_id}} <i
                    class="fa fa-archive" aria-hidden="true"></i></span>

            <div class="packing-day-control pull-right" ng-if="request.request_all_data.packing_request_id && request.service_type.raw != 8">
                <span class="packing-request" ng-click="openBindingRequest(request.request_all_data.packing_request_id)">
                    Packing request #{{request.request_all_data.packing_request_id}}
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                </span>
                <span class="packing-request">
                <i class="fa fa-times"
                   uib-tooltip="Unbind the request"
                   ng-click="unbindPackingDay()"></i>
                </span>
            </div>
        </div>

    </div>
</div>
