<div class="form-item">

            <label ng-hide="recervation_received"> Reservation Price</label>
    <label ng-if="recervation_received" style="font-weight: 600;text-decoration: underline;cursor: pointer;" ng-click="cancelReservation();"> Reservation Received</label>
            <span style="float: right;color: #6ED86E;" ng-if="recervation_received"><i class="fa  fa-check"></i></span>
           <input  ng-hide="recervation_received" cc-currency editrequest="editrequest" message="message"
                   field="request.reservation_rate"
                   ng-model="request.reservation_rate.value"
                   ng-change="changeReservationManually();"
                   class="md form-text" type="text" id="reserv_price" size="60">

 </div>

<div class="quote-cost form-item col-md-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState && !serviceTypeInvoice">
    <label class="col-md-3 nopadding">Quote: </label>
    <div class="col-md-9 nopadding"  style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;"  ng-if="request.service_type.raw != 7 && request.service_type.raw != 5">
        <span ng-if="invoice.work_time_int != 0">
            <span ng-if="invoiceLabor && Job_Completed">
                ${{invoiceLabor | number : 2}}
            </span>
            <span ng-if="!invoiceLabor || !Job_Completed">
                ${{getBaseGrandTotalLocalMove(invoice.work_time_int) | number : 2}}
            </span>
       </span>
        <span ng-if="invoice.work_time_int == 0">$0</span>
    </div>
    <!-- Flat Rate -->
    <div class="col-md-9 nopadding"  style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;"  ng-if="request.service_type.raw == 5">
        <span>${{flatrateQuoteInvoiceChange(invoice, request)}}</span>
    </div>
    <!-- Long Distance -->
    <div class="col-md-9 nopadding"  style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;" ng-if="request.service_type.raw == 7">
        <span>${{longDistanceQuoteInvoice}}</span>
    </div>
</div>
<div class="quote-cost form-item col-md-12 nopadding" ng-if="states.invoiceState && invoice.service_type.raw == 5">
    <label class="col-md-3 nopadding">Quote: </label>
    <div class="col-md-9 nopadding quote-cost-number">
        <span>${{flatrateQuoteInvoiceChange(invoice, request) | number : 2}}</span>
    </div>
</div>
<div class="quote-cost form-item col-md-12 nopadding" ng-if="states.invoiceState && invoice.service_type.raw == 7">
    <label class="col-md-8 nopadding" >Transportation:
		<i ng-click="showQuoteTooltip(true)" class="icon-info" aria-hidden="true" ></i>
	</label>

    <div class="col-md-4 nopadding quote-cost-number" >
        <span>${{longDistanceQuoteInvoice | number : 2}}</span>

    </div>
</div>
<div mb-tooltip request="request" invoice="invoice" close="showQuoteTooltip" state="closing" ng-if="isShowQuoteTooltip"></div>


<!-- Fuel Surcharge -->
<div class="FuelCost form-item col-md-12 nopadding" style="line-height: 24px;" ng-if="!invoice.request_all_data.surcharge_fuel">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;" class="col-md-8 nopadding" ng-click="OpenSurchargeInvoiceModal();" >Fuel Surcharge: </label>
    <div class="col-md-4 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">$ 0</div>
</div>
<div iclass="form-item col-md-12 nopadding" style="line-height: 24px;" ng-if="invoice.request_all_data.surcharge_fuel" class="FuelCost">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;" class="col-md-8 nopadding" ng-click="OpenSurchargeInvoiceModal();" >Fuel Surcharge: </label>
    <div class="col-md-4 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">$ {{invoice.request_all_data.surcharge_fuel | number : 2}}</div>
</div>
<!-- Valuation-->
<div iclass="form-item col-md-12 nopadding" style="line-height: 24px;" class="ValuationCost">
    <label class="col-md-5 nopadding" ng-click="openValuationInvoiceModal()" style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;">Valuation: </label>
    <div  class="col-md-7 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span ng-if="invoice.request_all_data.valuation.selected.valuation_charge && invoice.request_all_data.valuation.selected.valuation_type == valuationTypes.FULL_VALUE">
            $ {{invoice.request_all_data.valuation.selected.valuation_charge | number : 2}}
        </span>
        <span ng-if="!invoice.request_all_data.valuation.selected.valuation_charge || invoice.request_all_data.valuation.selected.valuation_type == valuationTypes.PER_POUND">
            $ 0
        </span>
    </div>
</div>

<!-- Packing-->
<div class="PackingCost form-item col-md-12 nopadding" style="line-height: 24px;">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;" class="col-md-5 nopadding" ng-click="openAddPackingInvoiceModal();">
    Packing: </label>
    <div class="col-md-7 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">${{calculatePackingServicesInvoice() | number : 2}}</div>
</div>
<!-- Additional Services -->
<div class="ServicesCost form-item col-md-12 nopadding" style="line-height: 24px;">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;" class="col-md-9 nopadding" ng-click="openAddServicesInvoiceModal();">Additional Services: </label>
    <div class="col-md-3 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">${{calculateAddServicesInvoice() | number : 2}}</div>
</div>
<!-- Discount-->
<div class="DiscountCost form-item col-md-12 nopadding" style="line-height: 24px;">
    <label ng-class="{'red': invoice.request_all_data.add_money_discount != 0 || invoice.request_all_data.add_percent_discount != 0}"
            style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;" class="col-md-5 nopadding" ng-click="OpenDiscountInvoiceModal();">Discount:</label>
    <div class="col-md-7 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;" >
        <span ng-if="!invoice.request_all_data.add_money_discount && !invoice.request_all_data.add_percent_discount">$0</span>
       <span ng-if="invoice.request_all_data.add_money_discount">${{invoice.request_all_data.add_money_discount | number : 2}}</span>
       <span ng-if="invoice.request_all_data.add_percent_discount">{{invoice.request_all_data.add_percent_discount}}%</span>


    </div>
</div>
<!-- contract discount -->
<div class="ContractDiscountCost form-item col-md-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState && contract_discount && contract_discountType">
    <label class="col-md-7 nopadding">{{contractDiscountType[contract_discountType]}}: </label>
    <div class="col-md-5 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span>$({{contract_discount}})</span>
    </div>
</div>
<!-- Tips -->
<div class="TipsCost form-item col-md-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState">
    <label class="col-md-5 nopadding">Tips: </label>
    <div class="col-md-7 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <input  cc-currency ng-model="tips.value" class="md form-text"   size="60" ng-blur="saveRequestAllData()">
    </div>
</div>
<!-- Custom Discount -->
<div class="CustomDiscountCost form-item col-md-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState && customDiscount">
    <label class="col-md-5 nopadding">Custom Discount: </label>
    <div class="col-md-7 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        $ {{ customDiscount  | number : 2 }}
    </div>
</div>

<!-- Grand Total-->
<div class="PromotionCost form-item col-md-12 nopadding" style="line-height: 24px;" ng-show="localdiscount && request.service_type.raw == 7">
    <label class="col-md-3 nopadding">Promotion: </label>
    <div class="col-md-9 nopadding" style="color: #FF4895;text-decoration: line-through;text-align: right;font-weight: 600;font-size: 12px;">
        ${{longDistanceQuoteUpInvoice + calculateAddServices() | number : 2}}
    </div>
</div>

<div class="TotalCost form-item col-md-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState">
    <label class="col-md-5 nopadding">Grand Total: </label>
    <div class="col-md-7 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span >
            ${{ grandTotalFunc(invoice, 'invoice', tips) | number : 2 }}
        </span>
    </div>
</div>
<!-- Payment -->
<div class="PaymentCost form-item col-md-12 nopadding" style="line-height: 24px;">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;" class="col-md-5 nopadding" ng-click="OpenPaymentModal();">Payment: </label>
    <div class="col-md-7 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">${{calculatePayments() | number : 2}}</div>
</div>
<!-- FLAT RATE Balance-->
<!-- INVOICE Balance-->
<div class="BalanceCost form-item col-md-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState">
    <label class="col-md-3 nopadding">Balance: </label>
    <div class="col-md-9 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        ${{grandTotalFunc(invoice, 'invoice', tips) - calculatePayments() | number : 2}}
    </div>
</div>
