<div class="form-item">

    <label ng-hide="recervation_received"> Reservation Price</label>
    <label ng-if="recervation_received" style="font-weight: 600;text-decoration: underline;cursor: pointer;"
           ng-click="cancelReservation();"> Reservation Received</label>
    <span style="float: right;color: #6ED86E;" ng-if="recervation_received"><i class="fa  fa-check"></i></span>
    <input ng-hide="recervation_received" cc-currency er-only-digit with-decimal-point editrequest="editrequest"
           message="message"
           field="request.reservation_rate"
           ng-model="request.reservation_rate.value"
           ng-change="changeReservationManually();"
           class="md form-text" type="text" id="reserv_price" size="60">

</div>
<!-- FLAT RATE -->
<div class="form-item quote-cost" ng-show="request.service_type.raw == 5 &&  !states.invoiceState">
    <!-- <label>Quote: </label><div class="mdquote" style="width: 100px;">${{flatrateQuoteRequestChange() | number : 2}}</div> -->
    <label>Quote: </label>
    <div class="mdquote" style="width: 100px;">${{request.flat_rate_quote.value| number : 2}}</div>
</div>
<!-- Long Distance RATE -->
<div class="form-item quote-cost col-md-12 nopadding" ng-show="request.service_type.raw == 7 &&  !states.invoiceState">
	<label class="col-md-8 nopadding" >Transportation:
		<i ng-click="showQuoteTooltip(true)" class="icon-info" aria-hidden="true" ></i>
	</label>
	<div class="col-md-4 nopadding quote-cost-number">
		<span>${{longDistanceQuote | number : 2}}</span>
	</div>
</div>
<div mb-tooltip request="request" invoice="invoice" close="showQuoteTooltip" state="sales" ng-if="isShowQuoteTooltip"></div>

<!-- Local Quote -->
<div class="quote-cost form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;"
	 ng-hide="request.service_type.raw == 5 || request.service_type.raw == 7 || states.invoiceState">
	<label class="col-md-3  col-xs-3 nopadding">Quote: </label>
	<div class="col-md-9  col-xs-9 nopadding quote-cost-number">
		<!--  <span tooltip-placement="top" uib-tooltip="Minimum rate" ng-class="{'orange': minQuote >= request.quote.min}">${{calculateTotalBalance('min') | number : 2}} - </span> ${{calculateTotalBalance('max') | number : 2}} -->
		<span tooltip-placement="top" uib-tooltip="Minimum rate" ng-class="{'orange': minQuote >= request.quote.min}"
			  ng-hide="smallJob">${{request.quote.min | number : 2}} - </span> ${{request.quote.max | number : 2}}
	</div>
</div>

<div class="quote-cost form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState && !flatrate">
    <label class="col-md-3  col-xs-3 nopadding">Quote: </label>
    <div class="col-md-9  col-xs-9 nopadding"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span>${{invoice.work_time_int * invoice.rate.value | number : 2}}</span>

    </div>
</div>
<div class="quote-cost form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState && flatrate">
    <label class="col-md-3  col-xs-3 nopadding">Quote: </label>
    <div class="col-md-9  col-xs-9 nopadding"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span>${{calculateTotalBalance('flatrate') | number : 2}}</span>
    </div>
</div>

<!-- Fuel Surcharge -->
<div class="FuelCost form-item col-md-12  col-xs-12 nopadding surcharge_fuel" style="line-height: 24px;"
     ng-if="!request.request_all_data.surcharge_fuel">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;"
           class="colbtn col-md-8  col-xs-8 nopadding" ng-click="OpenSurchargeModal();">Fuel Surcharge: </label>
    <div class="col-md-4  col-xs-4 nopadding amount"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">$ 0
    </div>
</div>
<div class="FuelCost form-item col-md-12  col-xs-12 nopadding surcharge_fuel" style="line-height: 24px;"
     ng-if="request.request_all_data.surcharge_fuel">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;"
           class="colbtn blue col-md-8  col-xs-8 nopadding" ng-click="OpenSurchargeModal();">Fuel Surcharge: </label>
    <div class="col-md-4  col-xs-4 nopadding amount"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">$
        {{request.request_all_data.surcharge_fuel | number : 2}}
    </div>
</div>
<!-- Valuation-->
<div class="ValuationCost form-item col-md-12  col-xs-12 nopadding valuation" style="line-height: 24px;">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;"
           class="col-md-5  col-xs-5  colbtn nopadding red" ng-click="openValuationModal()">Valuation: </label>
    <div class="col-md-7  col-xs-7 nopadding amount"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span ng-if="request.request_all_data.valuation.selected.valuation_charge">
            $ {{request.request_all_data.valuation.selected.valuation_charge | number : 2}}
        </span>
        <span ng-if="!request.request_all_data.valuation.selected.valuation_charge">
            $ 0
        </span>
    </div>
</div>

<!-- Packing-->
<div class="PackingCost  form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;"
           class="col-md-3  col-xs-3 nopadding" ng-click="openAddPackingModal();">Packing: </label>
    <div class="col-md-1  col-xs-1 packing-icon" style="padding-left: 0;font-size: 10px;color: #E64F4F;">
        <i ng-if="request.request_all_data.requiredPackingService == 2" class="fa fa-cube" aria-hidden="true"
           tooltip-placement="right" uib-tooltip="Estimate Full Packing"></i>
        <i ng-if="request.request_all_data.requiredPackingService == 1" class="fa fa-cube" aria-hidden="true"
           tooltip-placement="right" uib-tooltip="Estimate Partial Packing"></i>
    </div>
    <div class="col-md-3  col-xs-3 nopadding"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;  float: right;">
        ${{calculatePackingServices() | number : 2}}
    </div>
</div>
<!-- Additional Services -->
<div class="ServicesCost form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;"
           class="col-md-8  col-xs-8 nopadding" ng-click="openAddServicesModal();">Additional Services: </label>
    <div class="col-md-3  col-xs-3 nopadding"
         style="float: right;text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        ${{calculateAddServices() | number : 2}}
    </div>
</div>
<!-- Discount-->
<div class="DiscountCost form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;">
    <label ng-class="{'red': request.request_all_data.add_money_discount != 0 || request.request_all_data.add_percent_discount != 0}"
           style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;"
           class="col-md-5  col-xs-5 nopadding" ng-click="OpenDiscountModal();">Discount:</label>
    <div class="col-md-7  col-xs-7 nopadding"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span ng-if="!request.request_all_data.add_money_discount && !request.request_all_data.add_percent_discount">$0</span>
        <span ng-if="request.request_all_data.add_money_discount">${{request.request_all_data.add_money_discount | number : 2}}</span>
        <span ng-if="request.request_all_data.add_percent_discount">{{request.request_all_data.add_percent_discount}}%</span>


    </div>
</div>
<!-- contract discount -->
<div class="ContractDiscountCost form-item col-md-12 nopadding" style="line-height: 24px;"
     ng-if="!states.invoiceState && contract_discount && contract_discountType">
    <label class="col-md-7 nopadding">{{contractDiscountType[contract_discountType]}}: </label>
    <div class="col-md-5 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span>$({{contract_discount}})</span>
    </div>
</div>
<!-- Custom Discount -->
<div class="CustomDiscountCost form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;"
     ng-if="states.invoiceState && customDiscount">
    <label class="col-md-5  col-xs-5 nopadding">Custom Discount: </label>
    <div class="col-md-7  col-xs-7 nopadding"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        $ {{ customDiscount | number : 2}}
    </div>
</div>

<!-- Grand Total-->
<div class="PromotionCost form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;"
     ng-show="localdiscount && request.service_type.raw == 7">
    <label class="col-md-3 col-xs-3  nopadding">Promotion: </label>
    <div class="col-md-9  col-xs-9 nopadding"
         style="color: #FF4895;text-decoration: line-through;text-align: right;font-weight: 600;font-size: 12px;">
        ${{longDistanceQuoteUp | number : 2}}
    </div>
</div>

<div class="TotalCost form-item col-md-12  col-xs-12 nopadding" style="line-height: 24px;"
     ng-hide="states.invoiceState">
    <label class="col-md-4 col-xs-4 nopadding">
        Grand Total:
    </label>
    <div ng-if="longDistance" class="col-md-8  col-xs-8 nopadding"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        ${{calculateGrandTotalBalance('longdistance') | number : 2}}
    </div>
    <div ng-if="flatrate" class="col-md-8 col-xs-8 nopadding"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        ${{calculateGrandTotalBalance('flatrate') | number : 2}}
    </div>
    <div ng-if="!longDistance && !flatrate" class="col-md-8 col-xs-8 nopadding"
         style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span ng-hide="smallJob">${{calculateGrandTotalBalance('min')  | number : 2}} - </span>
        ${{calculateGrandTotalBalance('max') | number : 2}}
    </div>
</div>

<div class="TotalCost form-item col-md-12 col-xs-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState">
    <label class="col-md-4 col-xs-4 nopadding">
        Grand Total:
    </label>
    <div class="col-md-8 col-xs-8 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span>
            ${{ grandTotalFunc(request, 'request') | number : 2 }}
        </span>
    </div>
</div>


<!-- Payment -->
<div class="PaymentCost form-item col-md-12 col-xs-12 nopadding" style="line-height: 24px;">
    <label style="color: #3131F4;font-weight: 600;text-decoration: underline;cursor: pointer;"
           class="col-md-5 col-xs-5 nopadding" ng-click="OpenPaymentModal();">Payment: </label>
    <div class="col-md-7 col-xs-7 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        ${{calculatePayments()| number : 2}}
    </div>
</div>


<!-- Balance-->
<div class="BalanceCost form-item col-md-12 col-xs-12 nopadding" style="line-height: 24px;"
     ng-if="request.service_type.raw == '7'">
    <label class="col-md-3 col-xs-3 nopadding">Balance: </label>
    <div class="col-md-9 col-xs-9 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        ${{calculateGrandTotalBalance('longdistance') - calculatePayments() | number : 2}}
    </div>
</div>
<!-- FLAT RATE Balance-->
<div class="BalanceCost form-item col-md-12 col-xs-12 nopadding" style="line-height: 24px;"
     ng-if="request.service_type.raw == '5' && !states.invoiceState">
    <label class="col-md-3 col-xs-3 nopadding">Balance: </label>
    <div class="col-md-9 col-xs-9 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        ${{calculateGrandTotalBalance('flatrate') - calculatePayments() | number : 2}}
    </div>
</div>
<!-- Balance-->
<div class="BalanceCost form-item col-md-12 col-xs-12 nopadding" style="line-height: 24px;"
     ng-if="request.service_type.raw != 7 && request.service_type.raw != 5 && !states.invoiceState">
    <label class="col-md-3 col-xs-3 nopadding">Balance: </label>
    <div class="col-md-9 col-xs-9 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        <span ng-hide="smallJob">${{calculateGrandTotalBalance('min') - calculatePayments() | number : 2}} -</span>
        ${{calculateGrandTotalBalance('max') - calculatePayments() | number : 2}}
    </div>
</div>
<!-- INVOICE Balance-->
<div class="BalanceCost form-item col-md-12 col-xs-12 nopadding" style="line-height: 24px;" ng-if="states.invoiceState">
    <label class="col-md-3 col-xs-3 nopadding">Balance: </label>
    <div class="col-md-9 col-xs-9 nopadding" style="text-align: right;font-weight: 600;color: #565A5C;font-size: 12px;">
        ${{calculateGrandTotalBalance('invoice') - calculatePayments() | number : 2}}
    </div>
</div>
