<div id="movecalc-admin-compact-form" class="movecalc_edit_form" ng-class="{'job_closed':Invoice, 'coloryStyle': basicSettings.style.chargeBoxButtons,'salesState':Job_Completed && !states.invoiceState,'invoiceState':Job_Completed && states.invoiceState}">
    <div ng-show="busy" class="busyoverlay">
        <img class="spinner" src="../../../../content/img/logo_animation.gif">
    </div>
    <!-- HEADER -->
    <div class="date_header">
        <div class="lotstats"><i class="icon-bar-chart"></i>
            <span class="confirmed">{{confirmedStats}}</span> confirmed | <i class="icon-flag"></i>
            <span class="unconfirmed">{{unconfirmedStats}}</span> not confirmed |
        </div>
        <h3>
            <!--   <span class="curdate">{{curDate | date:'EEEE, MMM d, yyyy'}}</span> -->
            <a ng-click="goToDay('prev')" uib-tooltip="Prev date" tooltip-popup-delay="3000">
                <i class="icon-arrow-left" aria-hidden="true"></i>
            </a>
            <i class="fa fa-calendar parklot-calendar" style="cursor: pointer;" ng-click="openCalendar()">
                <input disabled
                       style="width: 215px;background: white;border: none;color: #424856;cursor: pointer;font-family: 'Montserrat', sans-serif;text-align: center;"
                       ng-model="curDate"
                       ng-value="curDate" calendar="fieldData.calendar"
                       data-date="{{curDate}}" cc-fa-picker type="text" id="facalendar">
            </i>
            <a class="go-next-day" ng-click="goToDay('next')" uib-tooltip="Next date" tooltip-popup-delay="3000">
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
            <button ng-click="DeliveryDay()"
                    ng-if="flatrate && request.ddate.value.length && currentDay != request.ddate.value">Delivery Date
            </button>
            <button ng-click="PickupDay()" ng-if="flatrate && currentDay != request.date.value">Pickup Date</button>
        </h3>
        <button ng-if="states.invoiceState" ng-click="UpdateRequestInvoice()" type="button"
                class="btn btn-update btn-3d" ng-class="{disabled: disableByFuel}">Save Changes
        </button>
        <button ng-if="!states.invoiceState && !isMobile" ng-click="UpdateRequest()" type="button" class="btn btn-update btn-3d"
                ng-class="{disabled: disableByFuel}">
            Save Changes
        </button>
        <button class="btn pull-right hide-parklot-button" ng-init="isShowParklot = true" ng-click="isShowParklot = !isShowParklot">
            <i ng-hide="isShowParklot" class="fa fa-chevron-down" uib-tooltip="Show" tooltip-popup-delay="2000"></i>
            <i ng-show="isShowParklot" class="fa fa-chevron-up" uib-tooltip="Hide" tooltip-popup-delay="2000"></i>
        </button>
    </div>
    <!-- PARK LOT <div cc-park-lot control="parklotControl" request="request" requests="requests"></div>
        -->
    <div class="parklot-main" style="position: relative" ng-show="isShowParklot">
        <div class="prk_overlay" ng-if="Job_Completed || states.invoiceState">
            <h1><i class="icon-lock"></i></h1>
            <h2>Closing</h2>
        </div>
        <div er-park-lot data-height="25" data-dialog="true"></div>
    </div>
    <div class="clearfix"></div>
    <!-- PARKLOT TIMING IF Local MOVES -->
    <ng-include
            ng-hide="isMobile"
            src="'app/requests/directives/edit-request/localMovesTiming.html?9'" ng-class="{disabled: Job_Completed}"></ng-include>
    <!-- PARKLOT TIMING  IF FLAT RATES MOVES -->
    <ng-include
            ng-hide="isMobile"
            src="'app/requests/directives/edit-request/flatrateMovesTiming.html?12'" ng-class="{disabled: Job_Completed}"></ng-include>

    <div class="mobile-timing-root"
         ng-class="{disabled: Job_Completed}"
         ng-show="isMobile && !flatrate && !longDistance"
         ng-include="'app/requests/directives/edit-request/mobile-timing-templates/mobile-request-timing-local-move.tpl.html'"></div>

    <div class="mobile-timing-root"
         ng-show="isMobile && flatrate"
         ng-class="{disabled: Job_Completed}"
         ng-include="'app/requests/directives/edit-request/mobile-timing-templates/mobile-request-timing-flat-rate-move.tpl.html'"></div>

    <div class="mobile-timing-root"
         ng-show="isMobile && longDistance"
         ng-class="{disabled: Job_Completed}"
         ng-include="'app/requests/directives/edit-request/mobile-timing-templates/mobile-request-timing-long-distance.tpl.html'"></div>

    <!-- for home estimate ng-show="request.status.raw == 4" -->

    <home-estimate ng-show="request.status.raw == 4 || request.home_estimate_date.value" request="request" requests="homeestimates.nodes" home-estimators="userForHomeEstimate" options="{isActiveActions: true}" on-update-message="updateMessage" on-remove-message="removeMessage"></home-estimate>
    <!-- GENERAL INFO -->
    <div class="main-info box  col-md-12 col-xs-12">
        <div class="mail-and-reminder-icons">
            <span class="mail-and-reminder-icons__mail" ng-click="showWarningBeforeSendEmail()">
                <sending-emails emails="emails" send-email-button="true" email-parameters="emailParameters" ng-class="{disabled: !isEmpty(editrequest)}"></sending-emails>
            </span>
            <span ng-if="reminderOptions && !isOpenInPortal"
                  class="mail-and-reminder-icons__reminder"
                  ng-click="openReminderBox()"
                  ng-cloak>
                <i ng-style="hasUpcomingReminders && {'color':'red'}" class="icon-clock"></i>
            </span>
            <request-show-quote request="request"></request-show-quote>
            <request-phone-number-status request="request"></request-phone-number-status>
        </div>

        <div ng-hide="states.invoiceState" class="service_type rtitle service-type-label">
            {{service_type}}
            <span ng-if="request.move_size.raw == 11"> - {{commercialTitle}}</span>
        </div>
        <div ng-if="states.invoiceState" class="service_type rtitle service-type-label">
            {{invoice_service_type}}
            <span ng-if="request.move_size.raw == 11"> - {{commercialTitle}}</span>
        </div>
        <div class="main-info-right-block">
            <speedy-inventory-icon speedy-field="request.field_speedy_id"></speedy-inventory-icon>
            <span ng-if="leadscoringsettings.enabled">
                <lead-score-input request="request" send-notification="sendNotificationAfterSaveChanges" leadscoringsettings="leadscoringsettings"></lead-score-input>
            </span>
        </div>

        <div class="col-md-9 col-sm-12 leftblock nopadding" ng-hide="states.invoiceState">
            <div class="row nopadding">
                <div class="col-md-4 col-xs-4 form-item form-type-select form-item-Status">
                    <label>Status: </label>
                    <select data-index="{{$index}}" cc-select-invoice
                            message="message"
                            ng-class="{'disabled': request.status.raw == 3} && !PermissionsServices.allowConfirm()"
                            editrequest="editrequest"
                            data-field="[request.status, 'status']"
                            class="required form-select"
                            oldvalue="request.status.raw"
                            id="edit-status"
                            name="Status">
                        <option ng-selected="request.status.raw == id"
                                ng-value="id"
                                ng-repeat="id in objectKeys(allowedStatuses)">
                            {{fieldData.field_lists.field_approve[id]}}
                        </option>
                    </select>
                </div>
                <div class="form-item form-type-select form-item-Service col-md-4 col-xs-4"
                     uib-tooltip='To change the service type, please change the status of the request to "Not Confirmed" or "Pending"'
                     tooltip-enable="request.status.raw == 3">
                    <label for="edit-service">Type of service: </label>
                    <select cc-select-invoice
                            ng-class="{'disabled': request.status.raw == 3}"
                            editrequest="editrequest"
                            message="message"
                            data-field="[request.service_type, 'service_type']"
                            oldvalue="request.service_type.old"
                            id="edit-service"
                            name="Service" class="form-select">
                        <option ng-repeat="service in services track by $index" ng-value="service.id" ng-selected="request.service_type.raw == service.id">
                            {{service.title}}
                        </option>
                    </select>
                </div>
                <div class="form-item form-type-select form-item-Size-Move col-md-4 col-xs-4">
                    <label for="edit-size-move">Size of Move: </label>
                    <select cc-select-invoice
                            editrequest="editrequest"
                            message="message"
                            field="[request.move_size, 'move_size']"
                            id="edit-size-move" name="Size_Move" class="form-select"
                            ng-class="{'has-error': isInvalidMoveSize}">
                        <option ng-selected="request.move_size.raw == id" ng-value="id"
                                ng-repeat="(id, value) in allowedMoveSize">
                            {{value}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row ">
                <div class="form-item form-type-select form-item-Furnished-Rooms"
                     ng-show="request.move_size.raw != 11">
                    <label for="edit-furnished-rooms"><i class="flaticon-livingroom8"></i></label>
                    <select cc-rooms-invoice editrequest="editrequest" message="message" field="request.rooms"
                            ng-change="changeRequestField('rooms')" ng-model="request.rooms.value" multiple="multiple"
                            name="Furnished_Rooms[]" id="edit-furnished-rooms" class="form-select "
                            style="display: none;">
                        <option value="1">living room</option>
                        <option value="2">dining room</option>
                        <option value="3">office</option>
                        <option value="4">extra room</option>
                        <option value="5">basement</option>
                        <option value="6">garage</option>
                        <option value="7">patio</option>
                        <option value="8">play room</option>
                    </select>
                </div>
                <div class="form-item form-type-select form-item-Furnished-Rooms"
                     ng-if="request.move_size.raw == 11">
                    <commercial-move-size
                            edit-request="editrequest"
                            message="message"
                            is-new-request="false"
                            request="request"></commercial-move-size>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 leftblock nopadding" ng-if="states.invoiceState">
            <div class="row nopadding">
                <div class="col-md-4 col-xs-4 form-item form-type-select form-item-Status">
                    <label>Status: </label>
                    <select data-index="{{$index}}" cc-select-invoice
                            message="messageInvoice" editrequest="editRequestinvoice"
                            data-field="[invoice.status , 'status']" class="required form-select"
                            oldvalue="invoice.status.raw" id="edit-status" name="Status" ng-disabled="true">
                        <option ng-selected="invoice.status.raw == {{id}}" ng-value="{{id}}"
                                ng-repeat="id in objectKeys(fieldData.field_lists.field_approve) ">
                            {{fieldData.field_lists.field_approve[id]}}
                        </option>
                    </select>
                </div>
                <div class="form-item form-type-select form-item-Service col-md-4 col-xs-4">
                    <label for="edit-service">Type of service: </label>
                    <select cc-select-invoice editrequest="editRequestinvoice" message="messageInvoice"
                            ng-class="{'disabled': invoice.storage_id && invoice.toStorage}"
                            field="[invoice.service_type, 'service_type']" oldvalue="invoice.service_type.raw"
                            id="edit-service" name="Service" class="form-select" ng-disabled="true">
                        <option ng-selected="invoice.service_type.raw == service.id" ng-value="service.id"
                                ng-repeat="service in services track by $index">
                            {{service.title}}
                        </option>
                    </select>
                </div>
                <div class="form-item form-type-select form-item-Size-Move col-md-4 col-xs-4 ">
                    <label for="edit-size-move">Size of Move: </label>
                    <select cc-select-invoice editrequest="editRequestinvoice" message="messageInvoice"
                            field="[invoice.move_size, 'move_size']"
                            id="edit-size-move" name="Size_Move" class="form-select"
                            ng-class="{'has-error': isInvalidMoveSize}">
                        <option ng-selected="invoice.move_size.raw == {{id}}" ng-value="{{id}}"
                                ng-repeat="id in objectKeys(fieldData.field_lists.field_size_of_move)">
                            {{fieldData.field_lists.field_size_of_move[id]}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row ">
                <div class="form-item form-type-select form-item-Furnished-Rooms"
                     ng-show="invoice.move_size.raw != 11">
                    <label for="edit-furnished-rooms"><i class="flaticon-livingroom8"></i></label>
                    <select cc-rooms-invoice editrequest="editRequestinvoice" message="messageInvoice"
                            field="[invoice.rooms, 'rooms']" ng-model="invoice.rooms.value" multiple="multiple"
                            name="Furnished_Rooms[]" id="edit-furnished-rooms-invoice" class="form-select"
                            style="display: none;">
                        <option value="1">living room</option>
                        <option value="2">dining room</option>
                        <option value="3">office</option>
                        <option value="4">extra room</option>
                        <option value="5">basement</option>
                        <option value="6">garage</option>
                        <option value="7">patio</option>
                        <option value="8">play room</option>
                    </select>
                </div>
                <div class="form-item form-type-select form-item-Furnished-Rooms"
                     ng-if="invoice.move_size.raw == 11">
                    <commercial-move-size
                            edit-request="editRequestinvoice"
                            message="messageInvoice"
                            is-new-request="false"
                            request="invoice">
                    </commercial-move-size>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 request-weight ">
            <div class="weight_box">
                <span ng-if="!states.invoiceState">
                    <i ng-show="request.field_useweighttype.value == 1" class="fa fa-cubes"></i>
                    <i ng-show="request.field_useweighttype.value == 2" class="flaticon-livingroom8"></i>
                    <i ng-show="request.field_useweighttype.value == 3" class="flaticon-draw24"></i>
                </span>
                <span ng-if="states.invoiceState">
                    <i ng-show="invoice.field_useweighttype.value == 1" class="fa fa-cubes"></i>
                    <i ng-show="invoice.field_useweighttype.value == 2" class="flaticon-livingroom8"></i>
                    <i ng-show="invoice.field_useweighttype.value == 3" class="flaticon-draw24"></i>
                </span>

                <div class="weight">
                    <div ng-show="!request.isInventory">
                        <span ng-if="!states.invoiceState">{{request.visibleWeight}}</span>
                        <span ng-if="!longDistance && states.invoiceState">{{invoice.closing_weight.value}}</span>
                        <input ng-if="longDistance && states.invoiceState" ng-change="changeClosingWeightValue()" type="text"
                               class="text-center"
                               id="weight__total-weight" ng-model="invoice.closing_weight.value"
                               ng-readonly="Job_Completed">
                        <span>c.f.</span>
                    </div>
                    <div ng-show="!request.isInventory" class="weight-line">
                        <span ng-if="!states.invoiceState">{{Math.round(request.visibleWeight * 7)}}</span>
                        <span ng-if="!longDistance && states.invoiceState">{{Math.round(invoice.closing_weight.value * 7)}}</span>
                        <span ng-if="longDistance && states.invoiceState">{{Math.round((invoice.closing_weight.value || 0) * 7)}}</span>
                        <span>lbs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="general-fix-responsive">
        <div class="general col-md-12 col-xs-12">
            <div ng-if="Invoice" class="invoice_box pull-right" ng-class="{'mobile-invoice-box-wrapper': isMobile}">
                <div class="sales_type" ng-show="::PermissionsServices.hasPermission('canSeeDispatchMenu');"
                     ng-class="{'active':states.salesState}"
                     ng-click="changeSalesClosingTab('sales')">
                    <i class="icon-note"></i>
                    Sales
                </div>
                <div class="invoice_name" ng-show="::PermissionsServices.hasPermission('canSeeDispatchMenu');"
                     ng-class="{'active':states.invoiceState}"
                     ng-click="changeSalesClosingTab('closing')">
                    <i class="icon-folder-alt"></i>
                    Closing
                </div>
            </div>
            <div class="subbox col-md-8 col-sm-12">
                <div class="closing_row"
                     ng-if="(Invoice && !flatrate) || (Invoice && flatrate && request.field_flat_rate_local_move.value)">
                    <div class="open_button clossing" ng-class="{'completed':Job_Completed}"
                         ng-show="states.invoiceState">
                        <div ng-if="Job_Completed" ng-click="openJob();">
                        <span class="completedjob">
                            <i class="icon-check"></i> Completed
                        </span>
                            <span class="open">
                            <i style="color: white;" class="icon-close"></i>
                            Open Job
                        </span>
                        </div>
                        <div ng-if="!Job_Completed" class="active_job" ng-click="closeJob();">
                        <span class="open">
                            <i style="color: #FF7800;font-weight: bold;" class="icon-fire"></i>
                            Active
                        </span>
                            <span class="closing">
                            <i style="color: white;" class="icon-check"></i>
                            Close Job
                        </span>
                        </div>
                    </div>
                    <a ng-show="states.invoiceState && (request.service_type.raw != 7 || addMainPage)"
                       class="open_button_contract pull-left payroll"
                       ng-href="/account/#/request/{{ request.nid }}/contract" target="_blank">
                        <i class="fa fa-file-text-o"></i>Contract
                    </a>
                    <div ng-show="states.invoiceState" class="open_button payroll" ng-disabled="!Job_Completed"
                         ng-click="openSalaryCommisionModal();">
                        <i class="icon-wallet"></i> Payroll
                        <span ng-if="payrollDone" class="payroll-done">
                        <i class="fa fa-check"></i>
                    </span>
                    </div>
                </div>
                <div class="closing_row" ng-if="Invoice && flatrate && !request.field_flat_rate_local_move.value"
                     ng-show="states.invoiceState">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <a ng-show="states.invoiceState" class="open_button_contract pull-left payroll"
                               ng-href="/account/#/request/{{ request.nid }}/contract" target="_blank">
                                <i class="fa fa-file-text-o"></i>Contract </a>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <h2 class="service_type rtitle"
                                style="padding-left: 10px;text-transform: uppercase;font-size: 12px;text-align: center;margin-bottom: 5px;">
                                Pickup </h2>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div ng-show="states.invoiceState" class="open_button payroll" ng-disabled="!pickupCompleted" ng-class="{'disabled' : !pickupCompleted}"
                                         ng-click="openSalaryCommisionModal('pickedUpCrew');">
                                        <i class="icon-wallet"></i> Payroll <span ng-if="pickupPayrollDone" class="payroll-done"><i style="padding-right: 0;"
                                            class="fa fa-check"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="open_button clossing" ng-class="{'completed':pickupCompleted}" ng-show="states.invoiceState">
                                        <div ng-if="pickupCompleted" ng-click="openJob('Pickup Done');">
                                        <span class="completedjob">
                                            <i class="icon-check" style="padding: initial;"></i> Completed
                                        </span> <span class="open">
                                            <i style="color: white;" class="icon-close"></i>
                                            Open Job
                                        </span>
                                        </div>
                                        <div ng-if="!pickupCompleted" class="active_job" ng-click="closeJob('Pickup Done');">
                                        <span class="open">
                                            <i style="color: #FF7800;font-weight: bold;" class="icon-fire"></i>
                                            Active
                                        </span> <span class="closing">
                                            <i style="color: white;" class="icon-check"></i>
                                            Close Job
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <div class="row">
                                <h2 class="service_type rtitle"
                                    style="padding-left: 10px;text-transform: uppercase;font-size: 12px;text-align: center;margin-bottom: 5px;">
                                    Delivery </h2>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div ng-show="states.invoiceState" class="open_button payroll" ng-disabled="!deliveryCompleted" ng-class="{'disabled' : !deliveryCompleted}"
                                         ng-click="openSalaryCommisionModal('deliveryCrew');">
                                        <i class="icon-wallet"></i> Payroll
                                        <span ng-if="deliveryPayrollDone" class="payroll-done"><i class="fa fa-check" style="padding-right: 0;"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                                    <div class="open_button clossing" ng-class="{'completed':deliveryCompleted}" ng-show="states.invoiceState">
                                        <div ng-if="deliveryCompleted" ng-click="openJob('Delivery Done');">
                                        <span class="completedjob">
                                            <i class="icon-check" style="padding: initial;"></i> Completed
                                        </span> <span class="open">
                                            <i style="color: white;" class="icon-close"></i>
                                            Open Job
                                        </span>
                                        </div>
                                        <div ng-if="!deliveryCompleted" class="active_job" ng-click="closeJob('Delivery Done');">
                                        <span class="open">
                                            <i style="color: #FF7800;font-weight: bold;" class="icon-fire"></i>
                                            Active
                                        </span> <span class="closing">
                                            <i style="color: white;" class="icon-check"></i>
                                            Close Job
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--- ADDRESSES -->
                <div ng-include src="'app/requests/directives/edit-request/addressesBox.html?78'"
                     ng-style="{'margin-top':(Invoice && flatrate && states.invoiceState && !request.field_flat_rate_local_move.value)? '60px' : '0px'}"></div>
                <div class="clearfix"></div>
                <request-notes request="request"></request-notes>
            </div>
            <!-- CHARGE BOX-->
            <div class="subbox sales col-md-3 col-sm-12"
                 ng-class="{'mobile-subbox-wrapper': isMobile}"
                 ng-hide="states.invoiceState">
                <div class="subbox__child"
                     ng-include="'app/requests/directives/edit-request/chargeBox.html?240'"></div>
            </div>
            <div class="subbox sales col-md-3 col-xs-3 not-blocked"
                 ng-class="{'mobile-subbox-wrapper': isMobile}"
                 ng-if="states.invoiceState">
                <div class="subbox__child"
                     ng-include="'app/requests/directives/edit-request/chargeBoxInvoice.html'"></div>
            </div>

            <div class="request-setting-wrapper">
                <request-view-button button-text="Client's Page" nid="request.nid"></request-view-button>
                <request-view-button button-text="Confirmation" nid="request.nid" reservation="true"></request-view-button>
                <request-multiple-button request="request" field-data="fieldData" busy="busy"></request-multiple-button>
            </div>

        </div>
    </div>
    <div class="footer dialog col-md-12 col-xs-12 mobile-footer-portal">
        <div class="col-md-3 col-xs-3 text-centering">
            Assigned to: {{request.manager.first_name}} {{request.manager.last_name}}
        </div>
        <div class="col-md-3 col-xs-3 text-centering">
            Created: {{request.created * 1000 | date : "MMM d, yyyy"}}
        </div>
        <div class="col-md-3 col-xs-3 nopadding source_box text-centering">
            <div class="col-md-3 col-xs-3 nopadding">Source:</div>
            <div class="col-md-9 col-xs-9">
                <parser-provider-name request="request"></parser-provider-name>
            </div>
        </div>

        <div class="col-md-3 col-xs-3 nopadding text-centering" ng-show="request.status.raw == 3">
            Booked Date: {{request.field_date_confirmed.value * 1000 | date : "MMM d, yyyy h:mm a"}}
        </div>
    </div>
</div>


