#weight
    &__total-weight
        background: none;
        border: none;
        box-shadow: none;
        width: 45px;
.trip-status-select
	margin-top: 2px
	padding-bottom 5px;
	font-size: 12px;
	font-weight: 600;
	width: 120px;
	background: white;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #c4c4c4;
.delivery-days-select
	width 90px
	background white
	border none
	border-bottom 1px solid #fff !important
.flatRate-moving
	&__pickup-date
		width 13%
		&__input
			width 120px
	&__trucks
		width 6%
		&__input
			width 120px
	&__min-weight
		text-align center
		width 90%
	&__pointer
		cursor pointer
	&__rate
		&__label
			width 100%
		&__input
			margin-left 0
			width 35px
			font-size 14px
			padding 0px
			text-align center
		&__span
			font-size 12px
			font-weight 600
			letter-spacing -1px

.field-prefix
	&_display-block
		display block !important

.delivery-days-inline
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	min-width 30px
	&_margin
		margin-right 12px
.celendar-icon
	position relative
	color: #989898;
.remove-ddays-icon
	padding-right: 10px;
	margin-top: -25px;
	font-size: 20px;
	cursor: pointer
	color: #989898;
.delivery-days-calendar
	max-width: 20px;
	top 0
	left 0
	position: absolute
	opacity: 0
	cursor: pointer
.pickup-date-label
	position absolute
	left 50%
	align-items center
	padding 5px
	background #ffffff
	margin-left -20px
	&_grey-text
		color: #6a6a6a;
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button
	-webkit-appearance: none !important;
	margin: 0 !important;
	-moz-appearance:textfield !important;
.small-max-value
	font-size 12px
	color #838381
	position absolute
	margin-left 50px
	margin-top 14px
	font-size 10px
.mail-and-reminder-icons
	position absolute
	left 15px
	top 10px
	display inline-flex
	flex-direction row
	align-self: center
	flex-wrap nowrap
	justify-content flex-start
	&__mail
		cursor: pointer
	&__reminder
		margin-left 15px
		margin-top: 2px
		font-size: 15px
		color: black
		cursor: pointer
	&__quote-icon
		margin-left 15px
		font-size: 16px;
		width: 18px;
		.fa
			&:hover
				color: grey;
				cursor: pointer;

			&.fa-eye
				color: lighten(#6fb86f, 10%);
				&:hover
					color: #6fb86f;
.service-type-label
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #414141;
	font-size: 12px;
	text-align: center;
	margin-top: 14px
.icon-info
	font-size 13px
	vertical-align middle
	padding-left 2px
	cursor pointer
.quote-cost.form-item
	display flex
	justify-content space-between
	line-height 24px
	label
		color #333333
	.quote-cost-number
		text-align right
		font-weight 600
		color #565A5C
		font-size 12px
.main-info-right-block
	display block
	float right
	margin-top -20px
	span
		padding-right 5px