<div ng-if="!states.invoiceState" class="parklot-timing_main">
    <div class="parklot_timing col-md-12 col-xs-12 flexible-displaying-timing-panel" ng-if="flatrate || longDistance">
        <div class="form-item form-type-date form-item-Move-Date col-md-1 col-xs-1 flatRate-moving__pickup-date">
            <label>Pickup Date </label>
			<er-datepicker-input
				er-value="moveDateInput"
                allow-past="allow"
				er-change="onChangeFieldDateLongDistance(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"/>
        </div>
        <div class=" col-md-1 col-xs-1 form-item form-type-textfield form-item-start-time  time-window">
            <label for="edit-start-time">Start Time Window</label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-calendar68"></span></span>
            <input cc-start-time-invoice editrequest="editrequest" message="message" field="request.start_time1"
                   oldvalue="request.start_time1.value" ng-model="request.start_time1.value"
                   ng-value="request.start_time1.value" type="text" id="edit-start-time" name="start_time" size="60"
                   maxlength="128" class="form-text md ui-timepicker-input" autocomplete="off"
                   ng-change="changeRequestField('start_time1')">
            -
            <input cc-start-time-invoice editrequest="editrequest" message="message" field="request.start_time2"
                   oldvalue="request.start_time2.value" id="edit-start-time2" ng-value="request.start_time2.value"
                   maxlength="128" class="form-text md ui-timepicker-input" autocomplete="off"
                   ng-model="request.start_time2.value" ng-change="changeRequestField('start_time2')">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-max-time">
            <label for="edit-max-time">Pickup Work Time </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-delivery25"></span></span>
            <input cc-input-time-invoice editrequest="editrequest" message="message" field="request.maximum_time"
                   id="edit-max-time" ng-value="request.maximum_time.value" size="60" maxlength="128"
                   class="small form-text md ui-timepicker-input" autocomplete="off",
                   request="request"
                   ng-change="changeRequestField('maximum_time')" ng-model="request.maximum_time.value">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-movers-crew">
            <label for="edit-travel-time">{{::calcSettings.travelTimeName}} </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-logistics2"></span></span>
            <input cc-travel-time-invoice editrequest="editrequest"
                   message="message"
                   field="request.travel_time"
                   id="edit-travel-time"
                   ng-value="request.travel_time.value"
                   ng-model="request.travel_time.value"
                   class="small form-text md ui-timepicker-input" autocomplete="off"
                   ng-change="changeRequestField('travel_time')">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-movers-crew">
            <label for="edit-movers-crew">Crew Size </label>
            <span class="field-prefix field-prefix_display-block"><i class="icon-users"></i></span>
            <input cc-input-invoice editrequest="editrequest" message="message" editrequest="editreqeust"
                   message="message"
                   field="request.crew" oldvalue="request.crew.value" type="text" id="edit-movers-crew"
                   name="movers_crew"
                   er-only-digit
                   er-only-float
                   ng-model="request.crew.value" size="60" maxlength="128" class="form-text md"
                   ng-class="{'disabled':request.field_usecalculator.value}"
                   ng-change="changeRequestField('crew')">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" ng-if="flatrate">
            <label for="edit-price-per-hour">Flat Rate: </label>
            <span class="field-prefix field-prefix_display-block"><i class="fa fa-dollar"></i></span>
            <input cc-input-invoice editrequest="editrequest"
                   message="message"
                   field="request.flat_rate_quote"
                   oldvalue="request.flat_rate_quote.value"
                   type="text" id="edit-price-per-hour"
                   ng-value="request.flat_rate_quote.value"
                   size="60" maxlength="128" class="form-text md small"
                   ng-change="changeRequestField('flat_rate_quote')"
                   ng-model="request.flat_rate_quote.value">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour flatRate-moving__trucks">
            <label>Trucks: </label>
            <span class="field-prefix field-prefix_display-block"><i class="fa fa-truck"></i></span>
            <div class="trucks" ng-if="request.field_usecalculator.value">{{calcResults.trucks}}</div>
            <div class="trucks" ng-if="!request.field_usecalculator.value">{{request.truckCount}}</div>
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour flatRate-moving__pointer" ng-if="longDistance"
             ng-click=openMinWeight()>
            <label>Minimum c.f.</label>
            <div class="flatRate-moving_min-weight">
                <span>{{request.request_all_data.min_weight}} c.f.</span>
                <span class="minimum-price-cost"
                      ng-if="request.request_all_data.min_price_enabled">
                    ${{request.request_all_data.min_price | number: 2}}
                </span>
            </div>
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" ng-if="longDistance">
            <label for="edit-price-per-hour" class="flatRate-moving__rate__label">Rate: </label>
            $<input style="margin-left: 0; width: 35px; font-size: 14px; padding: 0px; text-align: center;"
                    cc-input-invoice editrequest="editrequest" message="message"
                    field="request.field_long_distance_rate"
                    type="text" id="edit-price-per-hour" ng-model="request.field_long_distance_rate.value" size="60"
                    maxlength="128" class="form-text md small"
                    ng-change="changeRequestField('field_long_distance_rate')">
            <span ng-if="request.field_cubic_feet.value" class="flatRate-moving__rate__span">per c.f.</span>
            <span ng-if="!request.field_cubic_feet.value" class="flatRate-moving__rate__span">per lbs</span>
        </div>

        <div class="col-md-1 col-xs-1  form-type-textfield form-item-price-per-hour" style="text-align: center; min-width: 11%;" ng-if="flatrate">
            <label for="edit-price-per-hour">Local Move: </label>
            <input ichecks="" type="checkbox" ng-model="request.field_flat_rate_local_move.value" class="form-text md small" ng-change="changeFlatRateLocalMove('request')">
        </div>
    </div>
    <!-- FLAT RATE -->
    <div class="parklot_timing col-md-12 col-xs-12" ng-show="flatrate && !request.field_flat_rate_local_move.value">
        <div class="form-item form-type-date form-item-Move-Date col-md-1" style="width: 15%;">
            <label>Delivery Date </label>
			<er-datepicker-input
				er-value="deliveryDateInput"
				er-change="onChangeFieldDeliveryDateFlatRate(newVal, oldVal)"
			/>
        </div>
        <div class="form-item form-type-date form-item-Move-Date second-flat-rate-date col-md-1">
            <label>Second Delivery Date </label>
			<er-datepicker-input
				er-value="deliveryDateSecondInput"
				er-change="onChangeFieldDeliveryDateSecondFlatRate(newVal, oldVal)"/>
            <i class="fa fa-times clear-sec-delivery" ng-click="clearSecDeliveryDate()"></i>
        </div>
        <div class=" col-md-1 col-xs-1 form-item form-type-textfield form-item-start-time time-window">
            <label for="edit-start-time">Delivery Start Time Window</label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-calendar68"></span></span>
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.dstart_time1"
                   ng-value="request.dstart_time1.value"
                   ng-model="request.dstart_time1.value"
                   ng-change="changeRequestField('dstart_time1')"
                   type="text" id="edit-start-time" name="start_time" size="60" maxlength="128"
                   class="form-text md ui-timepicker-input" autocomplete="off">
            -
            <input cc-start-time-invoice editrequest="editrequest" message="message"
                   field="request.dstart_time2"
                   id="edit-start-time2"
                   ng-value="request.dstart_time2.value"
                   ng-model="request.dstart_time2.value"
                   ng-change="changeRequestField('dstart_time2')"
                   class="form-text md ui-timepicker-input" autocomplete="off">
        </div>
        <div class="form-item form-type-date form-delivery-window col-md-1 col-xs-1">
            <label tooltip-placement="right" uib-tooltip="Date when truck leaving parklot">Delivery Dates </label>
            <div class="dateRange" cc-flat-rate-range-picker
                 request="request"
                 data-delivery="true"
                 editrequest="editrequest"
                 message="message"
                 invoice="invoice"
                 invoiceedit="editRequestinvoice"
                 invoicemess="messageInvoice">
            </div>
        </div>
        <div class=" col-md-1 col-xs-1 form-item form-type-textfield form-item-start-time delivery-flat-rate-time">
            <label for="edit-start-time">Delivery Start Time </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-calendar68"></span></span>
            <input cc-start-time-invoice editrequest="editrequest" message="message" field="request.delivery_start_time"
                   oldvalue="request.delivery_start_time.value" ng-value="request.delivery_start_time.value"
                   ng-model="request.delivery_start_time.value" type="text" id="edit-start-time" name="start_time"
                   size="60" maxlength="128" class="form-text md ui-timepicker-input" autocomplete="off"
                   ng-change="changeRequestField('delivery_start_time')">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-movers-crew">
            <label for="edit-movers-crew">Crew Size </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-multiple25"></span></span>
            <input cc-input-invoice editrequest="editrequest" message="message" editrequest="editreqeust"
                   message="message" field="request.field_delivery_crew_size" oldvalue="request.field_delivery_crew_size.value" type="text"
                   id="edit-movers-crew" name="movers_crew" ng-value="request.field_delivery_crew_size.value" size="60" maxlength="128"
                   er-only-float decimals="0"
                   class="form-text md" ng-model="request.field_delivery_crew_size.value" ng-change="changeRequestField('field_delivery_crew_size')">
        </div>
    </div>
    <!-- LONG DISTANCE-->
    <div class="parklot_timing col-md-12 col-xs-12" ng-show="longDistance" style="position: relative">
        <div class="form-item form-type-date form-item-Move-Date col-md-1 col-xs-1 width-20">
            <div class="delivery-days-inline">
                <label ng-if="request.inventory.move_details.delivery.length" class="ready" style="position: absolute;margin-bottom: 11px;top: -5px;text-transform: uppercase;font-size: 10px;color: #45C245;font-weight: bold; margin-top: 5px">Ready for delivery</label>
                <label ng-if="request.inventory.move_details.delivery_days && request.inventory.move_details.delivery_days !== '0'">Delivery Window</label>
                <label ng-if="!request.inventory.move_details.delivery_days && request.inventory.move_details.delivery_days !== '0'">Requested Delivery Date</label>
                <label ng-if="request.inventory.move_details.delivery_days === '0'">Guaranty Delivery Date</label>
                <div class="delivery-days-inline delivery-days-inline_margin">
                    <div class="celendar-icon">
                        <span class="flaticon-calendar68"></span>
                        <input class="delivery-days-calendar"
                              ng-model="request.inventory.move_details.delivery" min-date="{{moveDateInput}}"
                              cc-delivery-date-picker update-request="checkDeliveryDay">
                    </div>
                    <div class="remove-ddays-icon" ng-click="checkDeliveryDay(request.inventory.move_details.delivery, 'remove')" ng-if="request.inventory.move_details.delivery.length">
                        <i class="fa fa-times"></i>
                    </div>

                </div>
            </div>
            <div style="font-size: 12px;font-weight: 600;" ng-if="request.inventory.move_details.delivery.length">
                {{request.inventory.move_details.delivery}}
                <span ng-if="lastDeliveryDay  && request.inventory.move_details.delivery_days && request.inventory.move_details.delivery_days !=='0'">- {{lastDeliveryDay}}</span>
            </div>
            <div style="color:red;font-size: 12px;font-weight: 600; margin-top: 5px"
                 ng-if="!request.inventory.move_details.delivery.length">NOT READY FOR DELIVERY
            </div>
        </div>
        <div class="form-item form-type-date form-item-Move-Date col-md-1 col-xs-1"
             style="width: 130px;">
            <label>Schedule Deliver Date</label>
			<er-datepicker-input
				er-value="scheduleDeliveryDate"
				er-change="onChangeFieldScheduleDeliveryDateLongDistance(newVal, oldVal)"/>
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="height: 50px; width: 70px;">
              <md-input-container>
                <label style="font-size: 10px; margin-top: -3px; padding-bottom: 3px; margin-left: 10px">Delivery Days</label>
                <input type="number" min="0" max="60" class="no-spin"
                        ng-blur="changeRequestField('inventory.move_details.delivery_days'); changeDDays()" string-to-number
                        ng-model="request.inventory.move_details.delivery_days">
              </md-input-container>
        </div>

        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="margin-left: 12px">
            <label style="font-size: 13px; margin-top: -3px; padding-bottom: 3px; margin-left: 30px">LD Status</label>
            <select ng-options="item.id as item.name for item in flatsettings.ldStatus"
                    class="trip-status-select"
                    ng-model="request.ld_status"
                    ng-change="changeLDStatus()">
                <option value="">None</option>
            </select>
        </div>

        <div ng-show='request.ld_job.status > 1' class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="margin-left: 42px; height: 45px; width: 80px">
          <md-input-container >
            <label style="font-size: 13px; padding-bottom: 3px; margin-left: 5px">SIT Status</label>
            <input ng-model="tripStatusArr[+request.ld_job.status]" disabled>
          </md-input-container>
        </div>
        <div ng-show='request.ld_job.ld_trip_id' ng-click='openTrip(request.ld_job.ld_trip_id)' class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="margin-left: 22px; height: 45px; width: 50px">
          <md-input-container >
            <label style="font-size: 13px; padding-bottom: 3px; margin-left: 5px">Trip ID</label>
            <input ng-model="request.ld_job.ld_trip_id" style="cursor:pointer; color: #00f" disabled>
          </md-input-container>
        </div>
    </div>
</div>
<!-- INVOICE -->
<div ng-if="states.invoiceState">
    <div class="parklot_timing col-md-12 col-xs-12 flexible-displaying-timing-panel" ng-show="flatrateInvoice || longDistanceInvoice">
        <div class="form-item form-type-date form-item-Move-Date col-md-1"
             style="width:13%">
            <label>Pickup Date </label>
			<er-datepicker-input
				er-value="moveDateInputInvoice"
				er-change="onChangeFieldDateLongDistanceClosing(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"
			/>
        </div>
        <div class=" col-md-1 col-xs-1 form-item form-type-textfield form-item-start-time  time-window">
            <label for="edit-start-time">Start Time Window</label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-calendar68"></span></span>
            <input cc-start-time-invoice editrequest="editRequestinvoice" message="messageInvoice"
                   field="[invoice.start_time1, 'start_time1']" oldvalue="invoice.start_time1.value"
                   ng-value="invoice.start_time1.value" type="text" id="edit-start-time" name="start_time" size="60"
                   maxlength="128" class="form-text md ui-timepicker-input" autocomplete="off">
            -
            <input cc-start-time-invoice editrequest="editRequestinvoice" message="messageInvoice"
                   field="[invoice.start_time2, 'start_time2']" oldvalue="invoice.start_time2.value"
                   id="edit-start-time2" ng-value="invoice.start_time2.value" maxlength="128"
                   class="form-text md ui-timepicker-input" autocomplete="off">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-max-time">
            <label for="edit-max-time">Pickup Work Time </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-delivery25"></span></span>
            <input cc-input-time-invoice editrequest="editRequestinvoice" message="messageInvoice"
                   field="[invoice.maximum_time, 'maximum_time' ]" id="edit-max-time"
                   ng-value="invoice.maximum_time.value" size="60" maxlength="128"
                   class="small form-text md ui-timepicker-input" autocomplete="off">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-movers-crew">
            <label for="edit-travel-time">{{::calcSettings.travelTimeName}} </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-logistics2"></span></span>
            <input cc-travel-time-invoice editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.travel_time, 'travel_time']"
                   id="edit-travel-time"
                   ng-value="invoice.travel_time.value"
                   class="small form-text md ui-timepicker-input" autocomplete="off">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-movers-crew">
            <label for="edit-travel-time">Labor Time </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-logistics2"></span></span>
            <input cc-travel-time-invoice editrequest="editrequest"
                   message="message"
                   field="request.labor_time"
                   id="edit-labor-time"
                   ng-value="request.labor_time.value"
                   ng-model="request.labor_time.value"
                   class="small form-text md ui-timepicker-input" autocomplete="off"
                   ng-change="changeRequestField('labor_time')">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-movers-crew">
            <label for="edit-movers-crew">Crew Size </label>
            <span class="field-prefix field-prefix_display-block"><i class="icon-users"></i></span>
            <input cc-input-invoice editrequest="editRequestinvoice" message="messageInvoice" field="[invoice.crew, 'crew']"
                   oldvalue="invoice.crew.value" type="text" id="edit-movers-crew" name="movers_crew" er-only-digit er-only-float
                   ng-model="invoice.crew.value" size="60" maxlength="128" class="form-text md">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" ng-show="flatrateInvoice">
            <label for="edit-price-per-hour">Flat Rate: </label>
            <span class="field-prefix field-prefix_display-block"><i class="fa fa-dollar"></i></span>
            <input cc-input-invoice editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.flat_rate_quote, 'flat_rate_quote']"
                   oldvalue="invoice.flat_rate_quote.value"
                   type="text" id="edit-price-per-hour"
                   ng-value="invoice.flat_rate_quote.value"
                   size="60" maxlength="128" class="form-text md small">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="width: 6%;">
            <label>Trucks: </label>
            <span class="field-prefix field-prefix_display-block"><i class="fa fa-truck"></i></span>
            <div class="trucks" ng-if="request.field_usecalculator.value">{{calcResults.trucks}}</div>
            <div class="trucks" ng-if="!request.field_usecalculator.value">{{request.truckCount}}</div>
        </div>
        <div class="col-md-1 col-xs-1  form-type-textfield form-item-price-per-hour"  style="text-align: center;" ng-if="flatrateInvoice">
            <label for="edit-price-per-hour">Local Move: </label>
            <input ichecks="" type="checkbox" ng-model="request.field_flat_rate_local_move.value" class="form-text md small" ng-change="changeFlatRateLocalMove('invoice')">
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour"
             ng-if="longDistanceInvoice" style="cursor: pointer;">
            <label>Minimum c.f.</label>
            <div style="text-align: center;width: 90%;">
				<span>{{request.request_all_data.min_weight}} c.f.</span>
				<span class="minimum-price-cost"
					  ng-if="request.request_all_data.min_price_enabled">
                    ${{request.request_all_data.min_price | number: 2}}
                </span>
			</div>
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour"
             ng-if="longDistanceInvoice">
            <label for="edit-price-per-hour" style="    width: 100%;">Rate: </label>
            $<input style="    margin-left: 0px;
      width: 35px;
      font-size: 14px;
      padding: 0px;
      text-align: center;" cc-input-invoice editrequest="editRequestinvoice" message="messageInvoice"
                    field="[invoice.field_long_distance_rate, 'field_long_distance_rate']"
                    type="text" id="edit-price-per-hour" ng-model="invoice.field_long_distance_rate.value" size="60"
                    maxlength="128" class="form-text md small" ng-change="longDistanceQuoteInvoiceChange(); updateLDTooltip();">
            <span ng-if="request.field_cubic_feet.value" style="font-size: 12px;font-weight: 600;letter-spacing: -1px;">per c.f.</span>
            <span ng-if="!request.field_cubic_feet.value" style="font-size: 12px;font-weight: 600;letter-spacing: -1px;">per lbs</span>
        </div>
    </div>
    <!-- FLAT RATE -->
    <div class="parklot_timing col-md-12 col-xs-12" ng-show="flatrateInvoice && !request.field_flat_rate_local_move.value">
        <div class="form-item form-type-date form-item-Move-Date col-md-1 col-xs-1" style="width: 15%;">
            <label>Delivery Date </label>
			<er-datepicker-input
				er-value="deliveryDateInputInvoice"
				er-change="onChangeFieldDeliveryDateFlatRateClosing(newVal, oldVal)"
			/>
        </div>
        <div class=" col-md-1 col-xs-1 form-item form-type-textfield form-item-start-time time-window">
            <label for="edit-start-time">Delivery Start Time Window</label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-calendar68"></span></span>
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.dstart_time1, 'dstart_time1']"
                   ng-value="invoice.dstart_time1.value"
                   type="text" id="edit-start-time" name="start_time" size="60" maxlength="128"
                   class="form-text md ui-timepicker-input" autocomplete="off">
            -
            <input cc-start-time-invoice editrequest="editRequestinvoice" message="messageInvoice"
                   field="[invoice.dstart_time2, 'dstart_time2']"
                   id="edit-start-time2"
                   ng-value="invoice.dstart_time2.value"
                   class="form-text md ui-timepicker-input" autocomplete="off">
        </div>
        <div class="form-item form-type-date form-delivery-window col-md-1 col-xs-1">
            <label tooltip-placement="right" uib-tooltip="Date when truck leaving parklot">Delivery Dates </label>
            <div class="dateRange" cc-flat-rate-range-picker
                 request="invoice"
                 data-delivery="true"
                 editrequest="editRequestinvoice"
                 message="messageInvoice">
            </div>
        </div>
        <div class=" col-md-1 col-xs-1 form-item form-type-textfield form-item-start-time">
            <label for="edit-start-time">Delivery Start Time </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-calendar68"></span></span>
            <input cc-start-time-invoice editrequest="editRequestinvoice" message="messageInvoice"
                   field="[invoice.delivery_start_time, 'delivery_start_time' ]"
                   oldvalue="invoice.delivery_start_time.value" ng-value="invoice.delivery_start_time.value" type="text"
                   id="edit-start-time" name="start_time" size="60" maxlength="128"
                   class="form-text md ui-timepicker-input" autocomplete="off">
        </div>

        <div class="col-md-1 form-item form-type-textfield form-item-movers-crew">
            <label for="edit-movers-crew">Crew Size </label>
            <span class="field-prefix field-prefix_display-block"><span class="flaticon-multiple25"></span></span>
            <input cc-input-invoice editrequest="editRequestinvoice" message="messageInvoice"
                   field="[invoice.field_delivery_crew_size, 'field_delivery_crew_size' ]" oldvalue="invoice.field_delivery_crew_size.value" type="text" id="edit-movers-crew"
                   er-only-float decimals="0" ng-model="invoice.field_delivery_crew_size.value"
                   name="movers_crew" ng-value="invoice.field_delivery_crew_size.value" size="60" maxlength="128" class="form-text md">
        </div>
    </div>
    <!-- LONG DISTANCE-->
    <div class="parklot_timing col-md-12 col-xs-12" ng-show="longDistanceInvoice">
        <div class="form-item form-type-date form-item-Move-Date col-md-1 col-xs-1 width-20">
            <div class="delivery-days-inline">
                <label ng-if="request.inventory.move_details.delivery.length" class="ready" style="position: absolute;margin-bottom: 11px;top: -5px;text-transform: uppercase;font-size: 10px;color: #45C245;font-weight: bold; margin-top: 5px">Ready for delivery</label>
                <label ng-if="request.inventory.move_details.delivery_days && request.inventory.move_details.delivery_days !== '0'">Delivery Window</label>
                <label ng-if="!request.inventory.move_details.delivery_days && request.inventory.move_details.delivery_days !== '0'">Requested Delivery Date</label>
                <label ng-if="request.inventory.move_details.delivery_days === '0'">Guaranty Delivery Date</label>
                <div class="delivery-days-inline delivery-days-inline_margin">
                    <div class="celendar-icon">
                        <span class="flaticon-calendar68"></span>
                        <input class="delivery-days-calendar"
                               ng-model="request.inventory.move_details.delivery" min-date="{{deliveryDateInputInvoice}}"
                               cc-delivery-date-picker update-request="checkDeliveryDay">
                    </div>
                    <div class="remove-ddays-icon" ng-click="checkDeliveryDay(request.inventory.move_details.delivery, 'remove')" ng-if="request.inventory.move_details.delivery.length">
                        <i class="fa fa-times"></i>
                    </div>

                </div>
            </div>
            <div style="font-size: 12px;font-weight: 600;" ng-if="request.inventory.move_details.delivery.length">
                {{request.inventory.move_details.delivery}}
                <span ng-if="lastDeliveryDay  && request.inventory.move_details.delivery_days && request.inventory.move_details.delivery_days !=='0'">- {{lastDeliveryDay}}</span>
            </div>
            <div style="color:red;font-size: 12px;font-weight: 600; margin-top: 5px"
                 ng-if="!request.inventory.move_details.delivery.length">NOT READY FOR DELIVERY
            </div>
        </div>
        <div class="form-item form-type-date form-item-Move-Date col-md-1 col-xs-1"
             style="width: 130px;">
            <label>Schedule Deliver Date</label>
			<er-datepicker-input
				er-value="scheduleDeliveryDate"
				er-change="onChangeFieldScheduleDeliveryDateLongDistance(newVal, oldVal)"/>
        </div>
        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="height: 50px; width: 70px;">
              <md-input-container>
                    <label style="font-size: 10px; margin-top: -3px; padding-bottom: 3px; margin-left: 10px">Delivery Days</label>
                    <input type="number" min="0" max="60" class="no-spin"
                            ng-blur="changeRequestField('inventory.move_details.delivery_days'); changeDDays()" string-to-number
                            ng-model="request.inventory.move_details.delivery_days">
              </md-input-container>
        </div>

        <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="margin-left: 12px">
            <label style="font-size: 13px; margin-top: -3px; padding-bottom: 3px; margin-left: 30px">LD Status</label>
            <select ng-options="item.id as item.name for item in flatsettings.ldStatus"
                    class="trip-status-select"
                    ng-model="request.ld_status"
                    ng-change="changeLDStatus()">
                <option value="">None</option>
            </select>
        </div>

        <div ng-show='request.ld_job.status > 1' class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="margin-left: 42px; height: 45px; width: 80px">
          <md-input-container >
            <label style="font-size: 13px; padding-bottom: 3px; margin-left: 5px">SIT Status</label>
            <input ng-model="tripStatusArr[+request.ld_job.status]" disabled>
          </md-input-container>
        </div>

        <div ng-show='request.ld_job.ld_trip_id' class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" style="margin-left: 22px; height: 45px; width: 50px">
          <md-input-container >
            <label style="font-size: 13px; padding-bottom: 3px; margin-left: 5px">Trip ID</label>
            <input ng-model="request.ld_job.ld_trip_id" style="cursor:pointer; color: #00f" disabled>
          </md-input-container>
        </div>
        <a class="request-to-sit" style="margin-top: 10px" ng-click="openSendRequestToSITModal()">SIT<span ng-show="request.request_all_data.sit">: {{serviceTypesOfSIT[request.request_all_data.sit.status]}}</span></a>
    </div>
</div>
