<div class="parklot_timing col-md-12 col-xs-12" ng-if="!flatrate && !longDistance && !states.invoiceState">

    <div class="form-item form-type-date form-item-Move-Date col-md-1 col-xs-1" style="width: 13%;" ng-hide="states.invoiceState">
        <label>Move Date </label>
		<er-datepicker-input
			   er-value="moveDateInput"
               allow-past="allow"
			   er-change="onChangeMoveDateLocalMove(newVal, oldVal)"/>
    </div>


    <div class=" col-md-1  col-xs-1 form-item form-type-textfield form-item-start-time  time-window" ng-hide="states.invoiceState">
        <label for="edit-start-time">Start Time Window
            <i ng-show="request.request_all_data.arrivalTimeWindow.showInAccount" class="custom-tooltip arrival-tooltip fa fa-info-circle" uib-tooltip-html="'Arrival time setting is enabled in account page'"></i>
        </label>
        <div ng-class="{'disabled' : request.request_all_data.arrivalTimeWindow.showInAccount}">
            <span class="field-prefix"><span class="flaticon-calendar68"></span></span>
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.start_time1"
                   oldvalue="request.start_time1.value"
                   ng-value="request.start_time1.value"
                   type="text"
                   id="edit-start-time"
                   name="start_time"
                   size="60"
                   maxlength="128"
                   class="form-text md ui-timepicker-input"
                   autocomplete="off"
                   ng-model="request.start_time1.value"
                   ng-change="changeRequestField('start_time1')"> -
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.start_time2"
                   oldvalue="request.start_time2.value"
                   id="edit-start-time2"
                   ng-value="request.start_time2.value"
                   maxlength="128"
                   class="form-text md ui-timepicker-input"
                   autocomplete="off"
                   ng-model="request.start_time2.value"
                   ng-change="changeRequestField('start_time2')">
        </div>
    </div>


    <div class=" col-md-1  col-xs-1 form-item form-type-textfield form-item-start-time  work time-window" ng-hide="states.invoiceState">
        <label for="edit-start-time">Work Time </label>
        <span class="field-prefix field-prefix_display-block"><span class="flaticon-delivery25"></span></span>
        <input cc-input-time-invoice editrequest="editrequest" message="message" request="request" field="request.minimum_time" oldvalue="request.minimum_time.value" id="edit-min-time" ng-value="request.minimum_time.raw | numToTime" size="60" ng-model="request.minimum_time.value" maxlength="128" class="small form-text md ui-timepicker-input" autocomplete="off" ng-class="{'overriding': request.minimum_time.highlighted}"> -
        <input cc-input-time-invoice editrequest="editrequest" message="message" request="request" field="request.maximum_time" oldvalue="request.maximum_time.value" id="edit-max-time" ng-value="request.maximum_time.raw | numToTime" ng-model="request.maximum_time.value" size="60" maxlength="128" class="small noleft form-text md ui-timepicker-input" autocomplete="off" ng-change="request.timeChangeManually = true" ng-class="{'overriding': request.maximum_time.highlighted}">
    </div>


    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-travel-time" ng-hide="states.invoiceState" style="width: 9%;">
        <label for="edit-travel-time">{{::calcSettings.travelTimeName}} </label>
        <span class="field-prefix field-prefix_display-block"><span class="flaticon-logistics2"></span></span>
        <input cc-travel-time-invoice editrequest="editrequest" message="message" field="request.travel_time" oldvalue="request.travel_time.value" type="text" id="edit-travel-time" name="travel_time" ng-model="request.travel_time.value" size="60" maxlength="128" class="small form-text md ui-timepicker-input" autocomplete="off" ng-class="{'overriding': request.travel_time.highlighted}" ng-change="changeRequestField('travel_time')">
        <i class="fa fa-plus add_travel_time"
           aria-hidden="true"
           ng-if="localFlatMilesFlag"
           uib-tooltip-html="'Because this move distance is more than ' +  {{fieldData.basicsettings.local_flat_miles}} + ', the driving time between origin and destination is in the travel time.'"
        ></i>
    </div>

    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-travel-time double-travel-time" ng-if="!states.invoiceState && isDoubleDriveTime">
        <label for="edit-travel-time">{{::calcSettings.doubleDriveTimeName}}</label>
        <span class="field-prefix field-prefix_display-block"><span class="flaticon-logistics2"></span></span>
        <input cc-travel-time-invoice editrequest="editrequest" message="message" field="request.field_double_travel_time" oldvalue="request.field_double_travel_time.value" type="text" id="edit-double-travel-time" name="travel_time" ng-model="request.field_double_travel_time.value" size="60" maxlength="128" class="small form-text md ui-timepicker-input" autocomplete="off" ng-change="changeRequestField('field_double_travel_time')">
    </div>

    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-movers-crew" ng-hide="states.invoiceState">
        <label for="edit-movers-crew">Crew Size </label> <span class="field-prefix field-prefix_display-block"><i class="icon-users"></i></span>
        <input cc-input-invoice er-only-digit er-only-float editrequest="editrequest" message="message" editrequest="editreqeust" message="message" field="request.crew" oldvalue="request.crew.old" type="text" id="edit-movers-crew" name="movers_crew" ng-model="request.crew.value" size="60" maxlength="128" class="form-text md" ng-class="{'overriding': request.crew.highlighted,'disabled':request.field_usecalculator.value}" ng-change="changeRequestField('crew')">
    </div>

    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" ng-hide="states.invoiceState">
        <label for="edit-price-per-hour">Rate:
            <i ng-if="request.request_all_data.localdiscount" style="margin-top: -20px;margin-left: 25px;color: #FF5B5B;">${{request.rate.value / (1 - request.request_all_data.localdiscount/100) | number : 0}}</i></label>
        <span class="field-prefix field-prefix_display-block"><i class="fa fa-dollar" ng-class="{'red':request.rateDiscount}" style="    color: #4198DB;cursor: pointer;" ng-click="OpenDiscountRateModal();"></i></span>
        <input ng-hide="request.rateDiscount" cc-input-invoice editrequest="editrequest" message="message" field="request.rate" oldvalue="request.rate.value" type="text" id="edit-price-per-hour" ng-model="request.rate.value" size="60" maxlength="128" class="form-text md small" ng-class="{'overriding': request.rate.highlighted,'disabled':request.field_usecalculator.value}"
               ng-change="changeRequestField('rate')" er-only-digit er-only-float>
        <input ng-show="request.rateDiscount" cc-input-invoice editrequest="editrequest" message="message" field="request.rate" oldvalue="request.rate.value" type="text" id="edit-price-per-hour" ng-model="request.rateDiscount" size="60" maxlength="128" class="form-text md small" ng-class="{'overriding': request.rate.highlighted}"
               er-only-digit er-only-float>
    </div>

    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour truck-item">
        <label for="edit-price-per-hour">Trucks: </label> <span class="field-prefix"><i class="fa fa-truck"></i></span>
        <div class="trucks" ng-if="request.field_usecalculator.value">{{calcResults.trucks}}</div>
        <div class="trucks" ng-if="!request.field_usecalculator.value">{{request.truckCount}}</div>
    </div>


</div>
<div class="parklot_timing col-md-12 col-xs-12" ng-if="!flatrateInvoice  && !longDistanceInvoice && states.invoiceState">

    <div class="form-item form-type-date form-item-Move-Date col-md-1 disabled" style="width: 13%;">
        <label>Move Date </label>
		<er-datepicker-input
			   er-value="moveDateInputInvoice"
			   er-change="onChangeMoveDateLocalMoveClosing(newVal, oldVal)"/>
    </div>

    <div class=" col-md-1 col-xs-1 form-item form-type-textfield form-item-start-time  time-window" ng-if="states.invoiceState">
        <label for="edit-start-time">Start Time Window</label>
        <span class="field-prefix field-prefix_display-block"><span class="flaticon-calendar68"></span></span>
        <input cc-start-time-invoice editrequest="editRequestinvoice" message="messageInvoice" field="[invoice.start_time1, 'start_time1']" oldvalue="invoice.start_time1.value" ng-value="invoice.start_time1.value" type="text" id="edit-start-time" name="start_time" size="60" maxlength="128" class="form-text md ui-timepicker-input" autocomplete="off"> -
        <input cc-start-time-invoice editrequest="editRequestinvoice" message="messageInvoice" field="[invoice.start_time2, 'start_time2']" oldvalue="invoice.start_time2.value" id="edit-start-time2" ng-value="invoice.start_time2.value" maxlength="128" class="form-text md ui-timepicker-input" autocomplete="off">
    </div>

    <div class=" col-md-1 col-xs-1 form-item form-type-textfield form-item-start-time  work time-window" ng-if="states.invoiceState">
        <label for="edit-start-time">Labor Time </label>
        <span class="field-prefix field-prefix_display-block"><span class="flaticon-delivery25"></span></span>
        <input cc-input-time-invoice style="width: 50px; margin-left: 60px !important;" editrequest="editRequestinvoice" message="messageInvoice" field="[invoice.work_time, 'work_time']" id="edit-max-time" ng-value="invoice.work_time" ng-model="invoice.work_time" size="60" maxlength="128" ng-change="changeActualTime(invoice.work_time)" class="small noleft form-text md ui-timepicker-input">
    </div>

    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-travel-time" ng-if="states.invoiceState" style="width: 9%;">
        <label for="edit-travel-time">{{::calcSettings.travelTimeName}} </label>
        <span class="field-prefix field-prefix_display-block"><span class="flaticon-logistics2"></span></span>
        <input cc-travel-time-invoice editrequest="editRequestinvoice" message="messageInvoice" field="[invoice.travel_time, 'travel_time']" oldvalue="invoice.travel_time.value" type="text" id="edit-travel-time" name="travel_time" ng-model="invoice.travel_time.value" size="60" maxlength="128" class="small form-text md ui-timepicker-input" autocomplete="off" ng-class="{'overriding': invoice.travel_time.highlighted}">
    </div>

    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-travel-time double-travel-time" ng-if="states.invoiceState && isDoubleDriveTime">
        <label for="edit-travel-time">{{::calcSettings.doubleDriveTimeName}}</label>
        <span class="field-prefix field-prefix_display-block"><span class="flaticon-logistics2"></span></span>
        <input cc-travel-time-invoice editrequest="editRequestinvoice" message="messageInvoice" field="[invoice.field_double_travel_time, 'field_double_travel_time']" oldvalue="invoice.field_double_travel_time.value" type="text" id="edit-double-travel-time" name="travel_time" ng-model="invoice.field_double_travel_time.value" size="60" maxlength="128" class="small form-text md ui-timepicker-input" autocomplete="off" >
    </div>

    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-movers-crew" ng-if="states.invoiceState">
        <label for="edit-movers-crew">Crew Size </label> <span class="field-prefix field-prefix_display-block"><i class="icon-users"></i></span>
        <input cc-input-invoice editrequest="editRequestinvoice" message="messageInvoice"
               field="[invoice.crew, 'crew']" oldvalue="invoice.crew.old"
               type="text" id="edit-movers-crew" name="movers_crew"
               ng-model="invoice.crew.value" size="60" maxlength="128"
               er-only-digit
               er-only-float
               class="form-text md" ng-class="{'overriding': invoice.crew.highlighted}"
               ng-change="updateRate()">
    </div>

    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour" ng-if="states.invoiceState">
        <label for="edit-price-per-hour">Rate:</label>
        <span class="field-prefix field-prefix_display-block"><i class="fa fa-dollar" style="  color: #4198DB;cursor: pointer;" ng-class="{'red':invoice.rateDiscount}"></i></span>
        <input ng-hide="invoice.rateDiscount" cc-input-invoice type="text" id="edit-price-per-hour" editrequest="editRequestinvoice" message="messageInvoice" field="[invoice.rate, 'rate']" ng-model="invoice.rate.value" size="60" maxlength="128" class="form-text md small" ng-value="invoice.rate.value" ng-class="{'overriding': invoice.rate.highlighted}" er-only-digit er-only-float>
        <input ng-show="invoice.rateDiscount" cc-input-invoice editrequest="editRequestinvoice" message="messageInvoice" field="[invoice.rate, 'rate']" oldvalue="invoice.rate.value" type="text" id="edit-price-per-hour" ng-model="invoice.rateDiscount" size="60" maxlength="128" class="form-text md small" ng-class="{'overriding': invoice.rate.highlighted}" er-only-digit er-only-float>
    </div>


    <div class="col-md-1 col-xs-1 form-item form-type-textfield form-item-price-per-hour truck-item">
        <label for="edit-price-per-hour">Trucks: </label> <span class="field-prefix field-prefix_display-block"><i class="fa fa-truck"></i></span>
        <div class="trucks" ng-if="request.field_usecalculator.value">{{calcResults.trucks}}</div>
        <div class="trucks" ng-if="!request.field_usecalculator.value">{{request.truckCount}}</div>
    </div>
</div>
