@media all and (max-width: 860px) {
  .general-fix-responsive .subbox {
    width: auto !important;
    margin: 0 10px !important;
  }
  .general-fix-responsive .subbox .addr {
    margin: 0 !important;
  }
  .general-fix-responsive .subbox .addr .address-block:first-of-type {
    padding-left: 15px;
  }
  .general-fix-responsive .subbox .addr .address-block .col-md-2.col-xs-2 {
    margin-left: 0 !important;
  }
  .general-fix-responsive .subbox .addr .address-block .address-info {
    width: auto;
  }
  .general-fix-responsive .subbox .second {
    padding: 0 !important;
    margin: 1em 0 !important;
  }
  .general-fix-responsive .sales {
    height: 265px;
  }
  .main-info.box .leftblock {
    width: auto !important;
  }
  .main-info.box .request-weight {
    padding: 0 !important;
  }
  .main-info.box .request-weight .invoice_box {
    position: static;
    margin-top: 10px;
    margin-right: 25px;
  }
  .choose-dater-response .choose_dater.row {
    width: 105% !important;
  }
  .choose-dater-response .choose_dater.row .dateRo.col-md-12 {
    width: auto !important;
    margin-bottom: 0.5em;
  }
  .choose-dater-response .choose_dater.row .tRo3 {
    width: 33.333333% !important;
    margin: 0 !important;
    margin-bottom: 0.5em !important;
  }
  .choose-dater-response .choose_dater.row .tRo3 .tinputRo {
    border-radius: 0;
  }
  .choose-dater-response .choose_dater.row .tRo3 .tinputRo1 {
    border-top-left-radius: 5px;
  }
  .choose-dater-response .choose_dater.row .tRo3 .tinputRo3 {
    border-top-right-radius: 5px;
  }
}
