<div class="er-payment-form animated fadeInDown" ng-form name="erPayment">
	<div class="er-payment-form__row">
		<div class="er-payment-form__card-number_block">
			<input cc-payment-next-div id="card_number" class="er-payment-form__card-number" required cc-type cc-credit-card name="card_number" cc-number cc-format minlength="17" maxlength="19" ng-model="payerData.card_num" placeholder="4111 1111 1111 1111">
		</div>
		<div class="er-payment-form__expire-moth_block">
			<input cc-payment-next-div id="exp_month" class="er-payment-form__expire-moth" required ng-class="{'invalid': erPayment.exp_month.$invalid}" ng-model="payerData.exp_month" minlength="2" placeholder="MM" cc-exp-month name="exp_month">
		</div>
		<div class="er-payment-form__expire-year_block">
			<input cc-payment-next-div id="exp_year" class="er-payment-form__expire-year" required ng-class="{'invalid': erPayment.exp_year.$invalid}" ng-model="payerData.exp_year" minlength="2" placeholder="YY" cc-exp-year name="exp_year">
		</div>
	</div>
	<div class="er-payment-form__row">
		<div class="er-payment-form__payer-name_block" >
			<input ng-if="false" type="text" class="er-payment-form__payer-name" required ng-model="payerData.name" placeholder="Name on Card">
		</div>
		<div ng-if="!cvv.Amex" class="er-payment-form__secure-code_block">
			<input type="tel" id="cvc" class="er-payment-form__secure-code" required ng-class="{'invalid': erPayment.ccCvc.$invalid}" ng-model="secure.cvc" minlength="3" placeholder="CVC" cc-cvc cc-type="erPayment.card_number.$ccType" name="ccCvc">
		</div>
		<div ng-if="cvv.Amex" class="er-payment-form__secure-code_block">
			<input type="tel" id="cvc" class="er-payment-form__secure-code" required ng-model="secure.cvcAmex" minlength="3" maxlength="4" placeholder="CVC" cc-cvc cc-type="erPayment.card_number.$ccType" name="cvcAmex">
		</div>
	</div>
	<div class="er-payment-form__row" ng-if="false">
		<div class="er-payment-form__billing-city_block">
			<input type="text" class="er-payment-form__billing-city disabled" ng-model="payerData.billing_city" placeholder="City" readonly>
		</div>
		<div class="er-payment-form__billing-state_block">
			<input type="text" class="er-payment-form__billing-state disabled" ng-model="payerData.billing_state" placeholder="State" readonly>
		</div>
		<div class="er-payment-form__postal-code_block">
			<input type="text" class="er-payment-form__postal-code" maxlength="5" ng-maxlength="5" ng-model="payerData.billing_zip" placeholder="Postal Code">
		</div>
	</div>
</div>
