.er-payment-form
	color black
	margin 0 -15px
	&__row
		padding-bottom 15px
		display flex
	&__card-number
		background-image url(../../../../../../moveBoard/content/img/payment.png)
		background-repeat no-repeat
		background-size 120px 361px, 120px 361px
		background-position 130% 30px, 0 0
		&.Visa
			background-position 130% 5px, 0 0
		&.Mastercard
			background-position 130% -20px, 0 0
		&.AMEX
			background-position 130% -48px, 0 0
		&.Discover
			background-position 130% -80px, 0 0
		&_block
			width 66.66666667%
			padding 0 15px
	&__expire-moth_block,
	&__expire-year_block
		width 16.66666667%
		padding 0 15px
	&__payer-name_block
		width 66.66666667%
		padding 0 15px
	&__secure-code_block
		width 33.33333333%
		padding 0 15px
	&__billing-city_block
		width 66.66666667%
		padding 0 15px
	&__billing-state
		padding 0
		text-align center
		&_block
			width 8.33333333%
			padding-left 15px
			input.er-payment-form__billing-state
				width 45px
	&__postal-code_block
		width 25%
		padding 0 15px
	input
		width 100%
		margin 0
		line-height normal
		font-family inherit
		font-size 100%
		box-sizing border-box
		box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		border 1px solid
		border-color #b3c0e2 #bcc5e2 #c0ccea
		border-radius 4px
		display inline-block
		padding 0 7px
		height 32px
		color #525864
		background-color white
		vertical-align baseline
