<div class="statistics-main">
  <div class="settings_account_page_wrapper">
    <div class="ibox {{testClasses[key]}}" ng-repeat="(key, tab) in tabs">
      <div class="ibox-title">
        <h5>{{tab.name}} Quote Explanation</h5>
      </div>
      <div class="ibox-content">
        <TABLE class="calculator">
          <tbody>
          <TR>
            <TD class="sizeset chat-widget">
              <div ng-model-options="{ updateOn: 'blur' }" ng-change="saveQuoteExplanation(tab, key)"
                   ng-model="tab.data" text-angular ng-model="message"
                   ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                ['fontColor', 'fontName', 'fontSize'],
                                ['insertLink', 'insertImage'],
                                ['undo', 'redo', 'clear', 'html']]">
              </div>
            </TD>
          </TR>
          </tbody>
        </TABLE>
      </div>
    </div>
  </div>
</div>
