md-dialog.receipt-modal-form.print-receipt-modal
	form(ng-cloak print-section)
		.receipt-modal-form__header
			.md-toolbar-tools.receipt-modal-form__header__tools
				h2
					| Receipt | # {{item.receipt_id}}
			.receipt-print-button(print-btn print-remove)
				ng-md-icon(icon="print" style="fill: #424856" size="24" )
		md-dialog-content.receipt-modal-form__info
			md-list-item.receipt-modal-form__info__item
				label Type
				.md-secondary.receipt-modal-form__info__item__data.capitalize(ng-if="!item.value.transaction_id || item.value.transaction_id == 'Custom Payment'") {{item.value.type}}
				.md-secondary.receipt-modal-form__info__item__data(ng-if="item.value.transaction_id && item.value.transaction_id != 'Custom Payment'") Authorized Credit Card
			md-list-item.receipt-modal-form__info__item(ng-if="item.value.type == 'Credit Card' || item.value.payment_method == 'creditcard'")
				label CardType
				.md-secondary.receipt-modal-form__info__item__data {{item.value.cctype || item.value.card_type}}
			md-list-item.receipt-modal-form__info__item(ng-if="item.value.type == 'Credit Card' || item.value.payment_method == 'creditcard'")
				label Account number
				.md-secondary.receipt-modal-form__info__item__data {{'XXXX-XXXX-XXXX-' + item.value.ccardN }}
			md-list-item.receipt-modal-form__info__item(ng-if="item.value.transaction_id")
				label Transaction
				.md-secondary.receipt-modal-form__info__item__data {{item.value.transaction_id}}
			md-list-item.receipt-modal-form__info__item
				label Date
				.md-secondary.receipt-modal-form__info__item__data {{item.created*1000  |  date:'dd MMM, yyyy h:mm a'}}
			md-list-item.receipt-modal-form__info__item
				label Name
				.md-secondary.receipt-modal-form__info__item__data {{item.value.name}}
			md-list-item.receipt-modal-form__info__item
				label Phone
				.md-secondary.receipt-modal-form__info__item__data {{item.value.phone | nationalPhoneFormatter}}
			md-list-item.receipt-modal-form__info__item(ng-if="item.value.contact_person_phone")
				label Contact Person Phone
				.md-secondary.receipt-modal-form__info__item__data {{item.value.contact_person_phone | nationalPhoneFormatter}}
			md-list-item.receipt-modal-form__info__item
				label Email
				.md-secondary.receipt-modal-form__info__item__data {{item.value.email}}
			md-list-item.receipt-modal-form__info__item
				label Amount
				.md-secondary.receipt-modal-form__info__item__data {{item.value.amount | currency}}
			md-list-item.receipt-modal-form__info__item.receipt-modal-form__info__item_notes(ng-if="item.value.description")
				label Notes
				.md-secondary.receipt-modal-form__info__item__data {{item.value.description}}
			md-list-item.receipt-modal-form__info__item.receipt-modal-form__info__item_notes(ng-if="item.value.refunds && item.value.refund_type == 0")
				label Refund Notes
				.md-secondary.receipt-modal-form__info__item__data {{item.value.refund_notes}}
			md-list-item.receipt-modal-form__info__item(ng-if="item.value.type == 'Credit Card'")
				label Auth code
				.md-secondary.receipt-modal-form__info__item__data {{item.value.auth_code}}
			div(ng-if="item.value.refunds && item.value.refund_type == 1")
				.refund-toolbar
					h2 Refund

				md-list-item.receipt-modal-form__info__item.receipt-modal-form__info__item_margin
					label Refund Date
					.md-secondary.receipt-modal-form__info__item__data {{item.value.refund_date * 1000 | date: 'EEEE, d MMMM y'}}
				md-list-item.receipt-modal-form__info__item.receipt-modal-form__info__item_notes(ng-if="item.value.refund_notes")
					label Refund Notes
					.md-secondary.receipt-modal-form__info__item__data {{item.value.refund_notes}}
		md-dialog-actions(layout="row" print-remove).receipt-modal-form__footer
			md-button(ng-click="cancel()").receipt-modal-form__footer__cancel
				| Cancel
			span(flex)
