@media print
  .print-receipt-modal
    position absolute
    top 10mm
    left 20mm
    width 100% !important
  .receipt-modal-form
    width 100%
    &__header
      width 100%
      border-bottom 0.1mm solid black


.receipt-modal-form
	border 10px solid #bdbdbd
	width 500px
	&__header
	    display flex
	    flex-direction row
	    justify-content space-around
		background #f0f0f0
		width 100%
		min-height 40px
		margin-bottom 10px
		&__tools
			height 40px
	&__info
		background white
		&__item
			min-height 30px
			&_notes
				height 100%
			&__data
				width 200px
			&_margin
				margin-top 8px
	&__menu-item
		min-height 65px
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		cursor pointer
		border-bottom 1px solid #ddd
		&:hover
			background #f0f0f0
	&__inline
		display inline-flex
		flex-direction row
		justify-content flex-start
	&__x
		margin-top 14px
	&__is-receipt-list
		display flex
		flex-direction row
		justify-content flex-end
		width 100%

.black-icon
	fill #000
.green-icon
	fill #62c257
.white-icon
	fill #ffffff
.red-icon
	fill #d64747
.button-style
	height 46px !important
	min-width 46px !important
	padding-right 5px
.refund-button
	min-width 120px
.receipt-actions
	display flex
	flex-direction row
	justify-content space-around
	min-width 120px
	align-items center
.card-icon
	width 30px
	border-radius 50%
	background-color #ffda0d
	height 30px
	padding 5px
	z-index 10
.pending-switch
	align-items center
	max-width 140px
	min-width 105px
	font-size 14px
	max-height 1px
	&_width
		max-width 105px
.arrow-icon
	max-width 50px
	min-width 50px
	align-items center
	padding-right 15px
.refund-date
	min-width 210px
.bigger-width
	min-width 150px
	max-width 150px
.smaller-width
	max-width 80px
.receipt-print-button
    margin auto
    width 40px
.refund-toolbar
	padding-left 16px
	padding-top 8px
	padding-bottom 8px
	background #f0f0f0
.capitalize
	text-transform Capitalize
.menu-without-padding
	padding 0 !important
.remove-from-view
	display none
