md-button.md-icon-button(ng-if="!multipleReceipts && !isReceiptsList && !refundButton" aria-label='Show' ng-click="showReceiptModal($event, receipt)")
	ng-md-icon.green-icon(icon="info_outline")
.receipt-modal-form__inline(ng-if="multipleReceipts")
	md-menu
		md-button.md-icon-button.button-style(ng-click="showMenu($mdMenu, $event)")
			.card-icon
				ng-md-icon.black-icon(ng-if="receipts[0].value.type == 'Cash'" icon="attach_money" size="20")
				ng-md-icon.black-icon(ng-if="receipts[0].value.type == 'Credit Card'" icon="credit_card" size="20")
				ng-md-icon.black-icon(ng-if="receipts[0].value.transaction_id !== 'Custom Payment' && !receipts[0].value.refunds" icon="card_membership" size="20")
				ng-md-icon.black-icon(ng-if="receipts[0].value.type == 'Check'" icon="toc" size="20")
				ng-md-icon.black-icon(ng-if="receipts[0].value.type == 'Reservation'" icon="local_offer" size="20")
				ng-md-icon.black-icon(ng-if="receipts[0].value.type == 'Custom Refund'" md-menu-origin icon="redeem" size="20")
		md-menu-content.menu-without-padding( width="10")
			md-menu-item.receipt-modal-form__menu-item(ng-repeat="receipt in receipts track by $index")
				md-button.md-icon-button.button-style(aria-label='Show'  ng-click="showReceiptModal($event, receipt)")
					.card-icon
						ng-md-icon.black-icon(ng-if="receipt.value.type == 'Cash'" md-menu-origin icon="attach_money" size="20")
						ng-md-icon.black-icon(ng-if="receipt.value.type == 'Credit Card'" md-menu-origin icon="credit_card" size="20")
						ng-md-icon.black-icon(ng-if="receipt.value.payment_method === 'creditcard' && !receipt.value.refunds" md-menu-origin icon="card_membership" size="20")
						ng-md-icon.black-icon(ng-if="receipt.value.type == 'Check'" md-menu-origin icon="toc" size="20")
						ng-md-icon.black-icon(ng-if="receipt.value.type == 'Reservation'" md-menu-origin icon="local_offer" size="20")
						ng-md-icon.black-icon(ng-if="receipt.value.type == 'Custom Refund'" md-menu-origin icon="redeem" size="20")
				.receipts-list__body__item.bigger-width( ng-click="showReceiptModal($event, receipt)" ng-if="receipt.value.type != 'Custom Refund'")
					span.receipts-list__body__title
						| Receipt Date:
					| {{receipt.created * 1000 || receipt.value.date | date: 'EEEE, d MMMM y' }}
				.receipts-list__body__item.bigger-width( ng-click="showReceiptModal($event, receipt)" ng-if="receipt.value.type == 'Custom Refund'")
					span.receipts-list__body__title
						| Custom Refund Date:
					| {{receipt.created * 1000 || receipt.value.date | date: 'EEEE, d MMMM y' }}
				.receipts-list__body__item.smaller-width( ng-click="showReceiptModal($event, receipt)")
					span.receipts-list__body__title
						| Amount:
					| {{receipt.value.type != 'Custom Refund' ? receipt.value.amount : -receipt.value.amount | currency }}
				.receipts-list__body__item.arrow-icon( ng-click="showReceiptModal($event, receipt)" ng-if="receipt.value.refunds && receipt.value.type != 'Custom Refund'")
					ng-md-icon.black-icon(icon="arrow_forward")
				.receipts-list__body__item.refund-date( ng-click="showReceiptModal($event, receipt)" ng-if="receipt.value.refunds && receipt.value.type != 'Custom Refund'")
					span.receipts-list__body__title
						| Refund Date:
					| {{receipt.value.refund_date * 1000 | date: 'EEEE, d MMMM y' }}
				.receipts-list__body__item.pending-switch(ng-if="receipt.value.refunds && receipt.value.type == 'Custom Refund'")
				md-switch.pending-switch(md-no-ink aria-label="Switch No Ink" ng-model="receipt.value.pending" ng-disabled="disabledSwitch" ng-change="setPending(receipt)" ng-if="!receipt.value.refunds") Pending
				.receipts-list__body__item.refund-button(custom-refund receipt="receipt" trip-id="receipt.ld_trip_id" balance="getReceiptAmount(receipt.value)" entity-type="7" entity-id="{{ userInfo.ld_carrier_id }}" user-info="userInfo" pay-success="getJobs()" ng-if="!receipt.value.refunds && receipt.value.payment_method == 'creditcard'")
				.receipts-list__body__item.receipt-actions(ng-if="receipt.value.payment_method != 'creditcard'")
					md-button.md-icon-button(aria-label='Show')
						ng-md-icon.green-icon(icon="create" size="24" ng-click="openCustomPayment($event, 0, getMaxAmountForEditReceipt(receipt), item.invoice.data.jobs_id, 4, receipt, invoice)")
					md-button.md-icon-button(aria-label='Show')
						ng-md-icon.red-icon(icon="delete_forever" size="24" ng-click="removeReceipt(receipt.id, $index, $event)")
	.receipt-modal-form__x
		h1 x {{receipts.length}}
md-switch.pending-switch.pending-switch_width(md-no-ink aria-label="Switch No Ink" ng-model="receipt.value.pending" ng-true-value="true" ng-false-value="false" ng-disabled="disabledSwitch" ng-change="setPending(receipt)" ng-if="isReceiptsList") Pending
div(custom-refund receipt="receipt" trip-id="receipt.ld_trip_id" balance="getReceiptAmount(receipt.value)" entity-type="7" entity-id="{{ userInfo.ld_carrier_id }}" user-info="userInfo" pay-success="getJobs()" ng-if="refundButton")

