<div class="col-md-9 col-sm-9" >
  <div class="list-title">
    <h2 class="col-sm-5" ng-class="{ 'col-sm-6': vm.deliveryList[vm.currentStateId] == false }">
      {{ vm.currentState }}</h2>
    <span class="fa fa-print buttons col-sm-1"
      ng-click="vm.isPrint = !vm.isPrint" ng-if="vm.deliveryList[vm.currentStateId]"></span>
<!--    <label class="search col-sm-2">
      <input class="search-expand" placeholder="Parking Zip"
             type="number"
             ng-model="vm.longdistance.stateRates[vm.currentStateId].parkingZip"
             ng-change="vm.saveSettings()" />
    </label>-->
    <label class="search col-sm-2">
      <span class="fa fa-search"></span>
      <input class="search-expand" placeholder="Search Area"
             type="number"
             ng-model="vm.searchArea" />
    </label>
    </label>
    <label class="search col-sm-4">
      <span class="fa fa-search"></span>
      <input class="search-expand" placeholder="Search State" ng-model="vm.searchState" />
    </label>
  </div>
  <div class="list-title col-lg-12">
    <span ng-if="!vm.deliveryList[vm.currentStateId]">You have no states to delivery from <b>{{ vm.currentState }}</b>
    <br /></span>
    <div uib-dropdown is-open="status.isopen">
      <div class="btn-group" uib-dropdown dropdown-append-to-body>
      <button class="btn">
        <span ng-if="!vm.deliveryList[vm.currentStateId]">Create from:</span>
        <span ng-if="vm.deliveryList[vm.currentStateId]">Update from:</span>
      </button>
        <button id="btn-append-to-to-body" type="button" class="btn btn-default" uib-dropdown-toggle>
          {{ vm.bufferBasedState.name }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <li role="menuitem"
            ng-repeat="state in vm.stateCodes"
            ng-if="vm.deliveryList[vm.getStateId(state)] == true && state != vm.currentState">
            <a href ng-click="vm.copyBasedState(state, vm.getStateId(state))">
              {{ state }}
            </a>
          </li>
        </ul>
      </div>
      <button class="btn btn-primary"
              ng-click="vm.pasteBasedState(vm.currentStateId)">
        <span ng-if="!vm.deliveryList[vm.currentStateId]">Create</span>
        <span ng-if="vm.deliveryList[vm.currentStateId]">Update</span>
      </button>
    </div>
  </div>
  <div class="list-block" ng-if="vm.tabs.list.selected" masonry="{ transitionDuration: 'none', resize: 'false' }">
    <div class="lost-block-item masonry-brick col-sm-6 col-lg-4"
      ng-repeat="des in vm.stateCodes | toArray:false"
      ng-if="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].longDistance == true
             && (!vm.searchState || des.toLowerCase().includes(vm.searchState.toLowerCase()))
             && (vm.searchCounty(des) === true)">
      <div class="panel"
           ng-class="{ selected: vm.isSelected == vm.getStateId(des)}">
        <div class="item-title"
            ng-click="vm.copyState(vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()]);
            vm.isSelected = vm.getStateId(des)">
          {{ des }}
            <span uib-dropdown on-toggle="toggled(open)">
              <a href id="simple-dropdown" uib-dropdown-toggle>
                <span class="fa fa-bars"></span>
              </a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>
                  <a href ng-click="vm.deleteState(vm.currentStateId, vm.getStateId(des).toLowerCase())">Delete</a>
                </li>
              </ul>
            </span>

        </div>

        <div class="items">

          <div>
            <label>Days for Delivery:
            <input min="0" max="730" class="value"
            ng-blur="vm.saveSettings()"
            ng-model="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].delivery_days" /></label>
          </div>

          <div>
            <label>Minimum cbf:
            <input min="0" class="value"
            ng-blur="vm.saveSettings()"
            ng-model="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].min_weight" /></label>
			  <label>Minimum price:
				  <input min="0" class="value" onkeyup="this.value = this.value.replace (/[^0-9]/, '')"
						 ng-blur="vm.saveSettings()"
						 ng-model="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].minPrice"/>
			  </label>
          </div>

          <div ng-class="{inactive: !vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].state_rate}">
            <div class="price">
              <label>State Price:
              <input type="number" min="0" class="value"
              ng-blur="vm.saveSettings()"
              ng-model="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].state_rate" /></label>
            </div>
          </div>
        </div>

        <div class="list-expand">

          <div class="title" ng-click="isCounty = !isCounty" ng-class="{active:isCounty}">
            County price:
            <span class="fa fa-chevron-right"></span>
          </div>

          <div class="list-expand-content" uib-collapse="!isCounty">
            <div ng-repeat="codes in vm.areaCodes[des]">
              <div class="price">
                <label>{{ codes }}
                  <input type="number" class="value"
                  ng-blur="vm.saveSettings()"
                  ng-if="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].rate[codes] != null"
                  ng-model="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].rate[codes]"
                  />
                  <span class="value gray"
                  ng-click="
                  vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].rate[codes] = vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].state_rate"
                  ng-if="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].rate[codes] == null">
                    {{vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].state_rate}}
                  </span>
               </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-title col-lg-12">
    <h2>Other States</h2>
  </div>
  <div class="list-block" ng-if="vm.tabs.list.selected" masonry="{ transitionDuration: 'none', resize: 'false' }">
    <div class="lost-block-item masonry-brick col-sm-6 col-lg-4"
         ng-repeat="id in vm.stateCodes | toArray:false"
         ng-if="!vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(id).toLowerCase()].longDistance
                && id != vm.currentState
                && (!vm.searchState || id.toLowerCase().includes(vm.searchState.toLowerCase()))
                && (vm.searchCounty(id) === true)"
         >
      <div class="new-state" ng-click="vm.pasteState(vm.currentStateId, vm.getStateId(id).toLowerCase())"><span class="fa fa-plus"></span></div>
      <div class="panel unable">
        <div class="item-title">
        {{ id }}
        </div>

        <div class="items">

          <div>
            <label>Days for Delivery:
            <input min="0" max="730" class="value"
            ng-model="vm.bufferState.delivery_days" /></label>
          </div>

          <div>
            <label>Minimum cbf:
            <input min="0" class="value"
                   ng-model="vm.bufferState.min_weight" /></label>
			  <label>Minimum price:
				  <input min="0" class="value" type="number" onkeyup="this.value = this.value.replace (/[^0-9]/, '')"
						 ng-model="vm.bufferState.minPrice" /></label>
          </div>

          <div>
            <div class="price">
              <label>State Price:
              <input type="number" min="0" class="value"
              ng-model="vm.bufferState.state_rate" /></label>
            </div>
          </div>
        </div>

        <div class="list-expand">

          <div class="title" >
            County price:
            <span class="fa fa-chevron-right"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <long-print ng-if="vm.isPrint"></long-print>
  <style ng-if="vm.isPrint">
  #main-wrapper {
    overflow: hidden;
  }
  </style>
</div>
