<div class="long_distance" ng-open="vm.initLDMap()">
    <div class="panel box col-md-8" style="margin-top: 0px !important;">
        <div class="saving-progress">
            <span class="" ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
        </div>
        <div class="panel-body minimal calendar_settings">
            <div>Default charges by:
                <select style="margin-left: 10px;border: none;font-weight: 600;"
                        ng-change="vm.saveSettings()" ng-model="vm.longdistance.default_weight">
                    <option value="1">Cubic Feet</option>
                    <option value="2">Pounds</option>
                </select>
            </div>
            <div>
                <label for="acceptAllQuotes">Accept all quotes</label>
                <input name="acceptAllQuotes" id="acceptAllQuotes" type="checkbox" ng-model="vm.longdistance.acceptAllQuotes" ng-change="vm.saveSettings()" ichecks="">
            </div>
            <div style="z-index: 1000;width: 195px;position: absolute;margin-top: -55px;right: 0px;z-index:100;">
                Based State:
                <select style="width: 90%;" class="form-element form-control"
                        ng-model="vm.longdistance.basedState"
                        ng-change="vm.initLDMap();">
                    <option
                            ng-selected="n == vm.main_state"
                            ng-repeat="n in ::vm.fieldData.allowedstate" value="{{n}}">{{n}}
                    </option>
                </select>
                <div>
                    <input style="width: 175px;margin-top: 10px;"
                           class="form-element sinput form-control" placeholder="Parking Zip" ng-change="vm.saveSettings()"
                           ng-model="vm.longdistance.stateRates[vm.longdistance.basedState].parkingZip">

                </div>
            </div>
            <div style="min-height:750px;">
                <div ng-show="vm.loading_map" class="busyoverlay">
                    <img class="spinner" src="/moveBoard/content/img/logo_animation.gif">
                </div>
                <div id="longDistanceMap" class="vmap" style="height: 750px;"></div>
            </div>
        </div>
        <div class="image-overlay">
            <img src="/moveBoard/app/settings/longdistance/images/{{vm.areaImage[vm.state_name]}}">
        </div>
    </div>
    <long-editor ng-if="vm.showSidebar"></long-editor>
</div>
