<div class="print-section">
  <div id="toPrint">
    <div class="print-page">
      <p>Price list of <b>{{ vm.basicInfo.company_name }}</b></p>
      <hr />
      <h1>{{ vm.currentState }}</h1>
      <table width="100%">
        <tr>
          <th>State name</th>
          <th>Delivery days</th>
          <th>Minimum cbf</th>
          <th>State price</th>
          <th>County price</th>
        </tr>
        <tr ng-repeat="des in vm.stateCodes"
            ng-if="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].longDistance == true">
            <td>{{ des }}</td>
            <td>{{ vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].delivery_days }}</td>
            <td>{{ vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].min_weight }}</td>
            <td><span ng-if="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].state_rate"><b>{{ vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].state_rate }}</b> $/c.f</span></td>
            <td>
              <div ng-repeat="codes in vm.areaCodes[des]">
                {{ codes }}: <span style="float: right" ng-if="vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].rate[codes]"><b>{{ vm.longdistance.stateRates[vm.currentStateId][vm.getStateId(des).toLowerCase()].rate[codes] }}</b> $/c.f</span>
              </div>
            </td>
        </tr>
      </table>
    </div>
    <div class="print-btn" ng-click="vm.printPage()">
      <div class="btn btn-default">
        Print page
      </div>
    </div>
    <div ng-click="vm.isPrint = !vm.isPrint" class="close">
      <span class="fa fa-angle-left"></span>
    </div>
  </div>
</div>
