<div class="pageheader">
                <h1>General Settings </h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li>Settings</li>
                        <li class="active">Long Distance</li>
                    </ol>
                </div>
  </div>
<section id="main-content" class="animated fadeInUp general calcsettings long_distance_Lists"  ng-controller="LongdistanceContorller as vm" >
    <!--mail wrapper start-->
    <div class="row col-md-12 nopadding">
        <div class="col-md-2 col-sm-12" id="compose-wrapper">
            <div class="panel">
                <aside class="panel-body">
                      <div class="btn btn-primary btn-block">Long Distance Settings</div>
                    <ul class="nav nav-pills nav-stacked compose-nav">
                        <li ng-repeat="tab in vm.tabs"
                            ng-class="{ 'active': tab.selected}"
                            >
                            <a href="" ng-click="vm.select(tab)"> <i class="{{tab.icon}}"></i>{{tab.name}}
                                
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>

        </div>
        <div class="col-md-10 col-sm-12" id="inbox-wrapper">
            <div class="tab_content active">
              <long-map ng-show="vm.tabs.map.selected"></long-map>
              <long-extra ng-show="vm.tabs.extra.selected"></long-extra>
              <long-notice ng-show="vm.tabs.notice.selected"></long-notice>
              <long-list ng-show="vm.tabs.list.selected"></long-list>
              <long-status ng-show="vm.tabs.status.selected"></long-status>
              <long-print-settings ng-show="vm.tabs.print.selected"></long-print-settings>
			  <long-driver-expenses ng-show="vm.tabs.driver.selected"></long-driver-expenses>
            </div>
  
        </div>
       
    </div>
    
    <!--mail wrapper end-->
</section>
