<section class="panel panel col-md-12 col-sm-12 col-lg-8">
    <div class="row" ng-class="{'disabled': vm.busy}" id="company-flag">
        <div class="col-md-12">
            <div class="panel panel-default no-box-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Long Distance Status</h3>
                </div>
                <div class="saving-progress" >
                    <span class=""  ng-show="saving">Saving</span>
                    <span class="animated  fadeIn"  ng-show="saved">Saved!</span>
                </div>
                <div class="panel-body" >
                    <table class="table table-striped">
                        <tbody dragula='"flags-bag"' dragula-model='vm.companyFlags'>
                            <tr ng-repeat="values in longdistance.ldStatus track by $index">
                                <td>
                                    <i class="fa fa-arrows drag-flags" aria-hidden="true"></i>
                                </td>
                                <td class="col-md-5">
                                    <input ng-model="values.name"  class="form-control" ng-blur="saveChangesFlag(values)">
                                </td>
                                <td class="col-md-5">
                                    <input  minicolors="customSettings" id="color-input" ng-model="values.color"  class="form-control" ng-blur="saveChangesFlag(values)">
                                </td>
                                <td class="col-md-2">
                                    <div ng-click="removeFlag($index,values)" class="flag-remove pull-right">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="vm.addFlag" class="">
                                <td></td>
                                <td class="col-md-5">
                                   <input ng-model="newFlag.name" class="form-control">
                                </td>
                                <td class="col-md-5">
                                    <input minicolors="customSettings" ng-model="newFlag.color" class="form-control">
                                </td>
                                <td  class="col-md-2">
                                    <div ng-click="vm.addFlag = false" class="flag-delete pull-right">
                                        <i class="fa fa-times" aria-hidden="true" ></i>
                                    </div>
                                    <div style="display: inline-block;" class="pull-right ">
                                        <button class="btn btn-success" ng-click="saveNewFlag(); " ng-if="vm.addFlag">
                                            Save<i class="fa fa-check" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" ng-click="vm.addNewStatus(); vm.addFlag = true" ng-disabled="vm.addflag">
                        <i class="fa fa-plus" aria-hidden="false"></i>Add Status
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
