<!-- Parklot settings -->
<section class="panel col-md-9 col-sm-12">

    <div class="panel-body minimal">
        <div class="saving-progress" >
            <span  ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
        </div>

        <ul class="nav nav-tabs">
            <li ng-repeat="tab in tabs" ng-class="{active: tab.selected}" heading="{{tab.name}}" class="ng-isolate-scope">
                <a href="" ng-click="select(tab)">{{tab.name}}</a>
            </li>
        </ul>
        <div class="tab-wrappe">
            <div class="tab-content">

                <div class="tab-pane" ng-show="tabs[0].selected" >
                    <div class="option table-responsive">
                        <TABLE class="calculator">
                            <tbody>
                            <TR>
                                <TD class="sizeset chat-widget">
                                    <div ng-change="vm.saveSettings()"
                                         ng-model-options="{ updateOn: 'blur' }"
                                         ng-model="vm.longdistance.pending_info_text"
                                         text-angular
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]"
                                    >
                                    </div>
                                </TD>
                            </TR>
                            </tbody>
                        </TABLE>
                    </div>
                </div>

                <div class="tab-pane" ng-show="tabs[1].selected" >
                    <div class="option table-responsive">
                        <TABLE class="calculator">
                            <tbody>
                            <TR>
                                <TD class="sizeset chat-widget">
                                    <div ng-change="vm.saveSettings()"
                                         ng-model-options="{ updateOn: 'blur' }"
                                         ng-model="vm.longdistance.not_confirmed_info_text"
                                         text-angular
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]">
                                    </div>
                                </TD>
                            </TR>
                            </tbody>
                        </TABLE>
                    </div>
                </div>

                <div class="tab-pane" ng-show="tabs[2].selected" >
                    <div class="option table-responsive">
                        <TABLE class="calculator">
                            <tbody>
                            <TR>
                                <TD class="sizeset chat-widget">
                                    <div ng-change="vm.saveSettings()"
                                         ng-model-options="{ updateOn: 'blur' }"
                                         ng-model="vm.longdistance.delivery_info_text"
                                         text-angular ng-model="message"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]"
                                    >
                                    </div>
                                </TD>
                            </TR>
                            </tbody>
                        </TABLE>
                    </div>
                </div>

            </div>
        </div>
    </div>



</section>
