<div class="long_distance list">
{{vm.test}}
  <div class="col-md-3 col-sm-6 clear-list">
      <div>
        <div class="list-head">
          <h2>Based states</h2>
          <label class="search">
            <span class="fa fa-search"></span>
            <input class="search-expand" ng-model="searchText" ng-class="{ active:searchText }" />
          </label>
        </div>
        <div class="list-item"
            ng-repeat="state in vm.stateCodes | toArray:false | filter:searchText"
            ng-class="{ active: state == vm.currentState, copy: state == vm.bufferBasedState.name }"
            ng-if="vm.deliveryList[vm.getStateId(state)]">
            <div ng-click="vm.statesOpen(state, vm.getStateId(state))">{{ state }}</div>
            <span class="fa fa-files-o" ng-click="vm.copyBasedState(state, vm.getStateId(state))"></span>
        </div>
      </div>
      <div class="list-ignored">
        <div class="list-head"><h2>States without prices</h2></div>
        <div class="list-item"
             ng-repeat="state in vm.stateCodes | toArray:false | filter:searchText"
             ng-class="{ active: vm.currentState == state }"
             ng-click="vm.statesOpen(state, vm.getStateId(state))"
             ng-if="!vm.deliveryList[vm.getStateId(state)]">
          {{ state }}
        </div>
      </div>
  </div>
  <long-list-states data="vm.longdistance.stateRates[state.code]">
  </long-list-states>
</div>
