.long-distance
	&__table
		width 100%
	&__tabs
		cursor pointer
		width 100%
		&__row
			width 100%
	&__big-input
		display flex
		flex-direction column
		text-align center
		&-input
			margin-top 6px
			width 100%!important
	&__tab
		font-size 16px
		text-align center
		padding 8px 0
		background-color #f7f7f7
		color #989898
		border 1px solid #dddddd
		border-width 1px 1px 2px 1px
		&.wide
			width 60%
		&.active
			background-color white
			color #565656

.general .tab_content .option input.editorInput
	width 70px
	margin-right 3px
	margin-left 3px

.general .tab_content .option input.editorInputShort
	width 55px
	margin-right 3px
	margin-left 3px

.long_distance input.editorInputShort
	width 55px
	margin-right 3px
	margin-left 3px

.option-checkbox
	float right
	padding-top 9px

table
	tbody
		tr.discountHolder
			&:hover
				background #f9f9f9;
			& > td
				padding 0
