<div class="panel box col-md-3 nopadding  animated fadeInRight">
	<h2 class="statename">{{vm.longdistance.basedState}} -> {{vm.state_name}}</h2>
	<div class="long-distance__tabs">
        <table class="long-distance__tabs__row">
            <tr>
                <td class="long-distance__tab"
                     ng-class="{'active': !discountTabActive}"
                     ng-click="discountTabActive = false;">
                    Price settings
                </td>
                <td class="long-distance__tab"
                     ng-class="{'active': discountTabActive}"
                     ng-click="discountTabActive = true;">
                    Discount automation
                </td>
            </tr>
        </table>
	</div>
	<table ng-show="discountTabActive" class="table-inbox long-distance__table">
		<tr class="discountHolder">
			<td colspan="2">
				<er-long-distance-discounts-template
					button-text="Set up global discounts templates"
					discounts="vm.longdistance.discounts_template"
					save-settings="vm.saveSettings()">
				</er-long-distance-discounts-template>
			</td>
		</tr>
		<tr class="discountHolder">
			<td colspan="2">
				<er-long-distance-discounts-template
					button-text="Set up discounts template for {{vm.state_name}}"
					discounts="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].discounts_template"
					save-settings="vm.saveSettings()">
				</er-long-distance-discounts-template>
			</td>
		</tr>
		<tr class="discountHolder" ng-if="vm.state_name == 'Maryland' || vm.state_name == 'Delaware'">
			<td colspan="2">
				<er-long-distance-discounts-template
					button-text="Set up discounts template for Washington DC"
					discounts="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].discounts_template"
					save-settings="vm.saveSettings()">
				</er-long-distance-discounts-template>
			</td>
		</tr>
		<tr class="discountHolder" ng-if="vm.state_name == 'Connecticut' || vm.state_name == 'Massachusetts'">
			<td colspan="2">
				<er-long-distance-discounts-template
					button-text="Set up discounts template for Rhode Island"
					discounts="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].discounts_template"
					save-settings="vm.saveSettings()">
				</er-long-distance-discounts-template>
			</td>
		</tr>
	</table>
	<table ng-show="!discountTabActive" class="table table-inbox table-hover">
		<tbody>
		<tr class="option">
			<td>
				<input type="checkbox"
					   class="mail-checkbox icheck"
					   ichecks=""
					   ng-change="vm.saveSettings()"
					   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].longDistance">
			</td>
			<td>
				Moves for this state
			</td>
		</tr>

		<tr class="option">
			<td>
				<input class="form-element sinput form-control"
					   ng-blur="vm.saveSettings()"
					   er-natural-number
					   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].delivery_days">
			</td>
			<td>
				Days for Delivery
			</td>
		</tr>

		<tr class="option">
			<td colspan="2">
				<div class="long-distance__big-input">
						Tooltip for delivery days on account
					<input class="form-element form-control long-distance__big-input-input"
						   ng-change="vm.saveSettings()"
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].average_delivery_days">
				</div>
			</td>
		</tr>

		<tr class="option">
			<td>
				<input class="form-element sinput form-control"
					   ng-blur="vm.saveSettings()"
					   er-natural-number
					   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].min_weight">
			</td>
			<td>
				Minimum cbf
			</td>
		</tr>

		<tr class-="option">
			<td colspan="2">
				Set min. price $
				<input class="form-element sinput form-control" ng-blur="vm.saveSettings()"
					   ng-disabled="!vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].minPriceEnabled"
					   er-only-float
					   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].minPrice">
				for min. cbf
				<div class="option-checkbox">
					<input type="checkbox" class="mail-checkbox icheck" ichecks="" ng-change="vm.saveSettings()"
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].minPriceEnabled">
				</div>
			</td>
		</tr>

		<tr class="option">
			<td>
				State Price for add. cbf
			</td>
			<td>
				<input class="form-element sinput form-control"
					   ng-blur="vm.saveSettings()" type="number"
					   er-only-float
					   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].state_rate"
                       ng-change="vm.useDiscountTemplate(
                       vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].state_rate,
                       vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].discounts)">
				$ / c.f
			</td>
		</tr>
		<tr class="discountHolder">
			<td colspan="2">
				<er-long-distance-discounts
					discounts="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].discounts"
					discounts-template="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].discounts_template"
					discounts-template-global="vm.longdistance.discounts_template"
					base-rate="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].state_rate"
					save-settings="vm.saveSettings()"
					disabled="!vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].state_rate>0">
				</er-long-distance-discounts>
			</td>
		</tr>
		</tbody>
		<tbody ng-repeat="codes in vm.areaCodes[vm.state_name]">
		<tr class="option"
			ng-class="{'disabled': vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].state_rate}">
			<td>
				{{::codes}}
				<div ng-show="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].areaDiscounts[codes] &&
					vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].areaDiscounts[codes].length>0"
					 class="discountsLDInfo"><i class="icon-note"></i></div>
			</td>
			<td>
				<input class="form-element sinput form-control"
					   ng-blur="vm.saveSettings()" type="number"
					   er-only-float
					   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].rate[codes]"
                       ng-change="vm.useDiscountTemplate(
                       vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].rate[codes],
                       vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].areaDiscounts[codes])">$
				/ c.f
				<div ng-if="!vm.showDiscounts[codes]" ng-click="vm.expandDiscounts(codes)" class="expandDiscounts"
					 role="button"
					 tabindex="0">
					<div class="upArrow"><i class="icon-arrow-up"></i><i class="icon-arrow-up"></i></div>
					<div class="downArrow"><i class="icon-arrow-down"></i><i class="icon-arrow-down"></i></div>
				</div>
				<div ng-if="vm.showDiscounts[codes]" ng-click="vm.hideDiscounts(codes)" class="hideDiscounts"
					 role="button"
					 tabindex="0">
					<div class="upArrow"><i class="icon-arrow-down"></i><i class="icon-arrow-down"></i></div>
					<div class="downArrow"><i class="icon-arrow-up"></i><i class="icon-arrow-up"></i></div>
				</div>
			</td>
		</tr>

		<tr class="discountHolder" ng-show="vm.showDiscounts[codes]">
			<td colspan="2">
				<er-long-distance-discounts
					discounts="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].areaDiscounts[codes]"
					discounts-template="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].discounts_template"
					discounts-template-global="vm.longdistance.discounts_template"
					base-rate="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].rate[codes]"
					save-settings="vm.saveSettings()"
					disabled="vm.longdistance.stateRates[vm.longdistance.basedState][vm.stateCode].state_rate>0">
				</er-long-distance-discounts>
			</td>
		</tr>
		</tbody>
	</table>
	<div ng-show="!discountTabActive" ng-if="vm.state_name == 'Maryland' || vm.state_name == 'Delaware'">
		<h2 class="statename">Washington DC</h2>
		<table class="table table-inbox table-hover">
			<tbody>
			<tr class="option">
				<td>
					<input type="checkbox" class="mail-checkbox icheck" ichecks="" ng-change="vm.saveSettings()"
						   ng-init="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].longDistance = true"
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].longDistance">
				</td>
				<td>
					Moves for this state
				</td>
			</tr>
			<tr class="option">
				<td>
					<input class="form-element sinput form-control"
						   ng-blur="vm.saveSettings()"
						   er-natural-number
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].delivery_days">
				</td>
				<td>
					Days for Delivery
				</td>
			</tr>
			<tr class="option">
				<td>
					<input class="form-element sinput form-control"
						   ng-blur="vm.saveSettings()"
						   er-natural-number
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].min_weight">
				</td>
				<td>
					Minimum cbf
				</td>
			</tr>
			<tr class-="option">
				<td colspan="2">
					Set min. price $
					<input class="form-element sinput form-control" ng-blur="vm.saveSettings()"
						   ng-disabled="!vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].minPriceEnabled"
						   er-only-float
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].minPrice">
					for min. cbf
					<div class="option-checkbox">
						<input type="checkbox" class="mail-checkbox icheck" ichecks="" ng-change="vm.saveSettings()"
							   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].minPriceEnabled">
					</div>
				</td>
			</tr>
			<tr class="option">
				<td>
					State Price
				</td>
				<td>
					<input class="form-element sinput form-control" ng-blur="vm.saveSettings()" type="number"
						   er-only-float
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].state_rate"
                           ng-change="vm.useDiscountTemplate(
                       vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].state_rate,
                       vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].discounts)">
					$ / c.f
				</td>
			</tr>
			<tr class="discountHolder">
				<td colspan="2">
					<er-long-distance-discounts
						discounts="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].discounts"
						discounts-template="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].discounts_template"
						discounts-template-global="vm.longdistance.discounts_template"
						base-rate="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].state_rate"
						save-settings="vm.saveSettings()"
						disabled="!vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].state_rate>0"
					>
					</er-long-distance-discounts>
				</td>
			</tr>
			</tbody>

			<tbody>
			<tr class="option"
				ng-class="{'disabled': vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].state_rate}">
				<td>
					202
				</td>
				<td>
					<input class="form-element sinput form-control" ng-blur="vm.saveSettings()" type="number"
						   er-only-float
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].rate['202']"
                           ng-change="vm.useDiscountTemplate(
                       vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].rate['202'],
                       vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].areaDiscounts['202'])">$
					/ c.f
                    <div ng-if="!vm.showDiscounts['202']" ng-click="vm.expandDiscounts('202')" class="expandDiscounts"
                         role="button"
                         tabindex="0">
                        <div class="upArrow"><i class="icon-arrow-up"></i><i class="icon-arrow-up"></i></div>
                        <div class="downArrow"><i class="icon-arrow-down"></i><i class="icon-arrow-down"></i></div>
                    </div>
                    <div ng-if="vm.showDiscounts['202']" ng-click="vm.hideDiscounts('202')" class="hideDiscounts"
                         role="button"
                         tabindex="0">
                        <div class="upArrow"><i class="icon-arrow-down"></i><i class="icon-arrow-down"></i></div>
                        <div class="downArrow"><i class="icon-arrow-up"></i><i class="icon-arrow-up"></i></div>
                    </div>
				</td>
			</tr>
            <tr class="discountHolder" ng-show="vm.showDiscounts['202']">
                <td colspan="2">
                    <er-long-distance-discounts
                        discounts="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].areaDiscounts['202']"
                        discounts-template="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].discounts_template"
                        discounts-template-global="vm.longdistance.discounts_template"
                        base-rate="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].rate['202']"
                        save-settings="vm.saveSettings()"
                        disabled="vm.longdistance.stateRates[vm.longdistance.basedState]['dc'].state_rate>0">
                    </er-long-distance-discounts>
                </td>
            </tr>
			</tbody>
		</table>
	</div>
	<div ng-show="!discountTabActive" ng-if="vm.state_name == 'Connecticut' || vm.state_name == 'Massachusetts'">
		<h2 class="statename">Rhode Island</h2>
		<table class="table table-inbox table-hover">
			<tbody>
			<tr class="option">
				<td>
					<input type="checkbox" class="mail-checkbox icheck" ichecks="" ng-change="vm.saveSettings()"
						   ng-init="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].longDistance = true"
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].longDistance">
				</td>
				<td>
					Moves for this state
				</td>
			</tr>
			<tr class="option">
				<td>
					<input class="form-element sinput form-control"
						   ng-blur="vm.saveSettings()"
						   er-natural-number
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].delivery_days">
				</td>
				<td>
					Days for Delivery
				</td>
			</tr>
			<tr class="option">
				<td>
					<input class="form-element sinput form-control"
						   ng-blur="vm.saveSettings()"
						   er-natural-number
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].min_weight">
				</td>
				<td>
					Minimum cbf
				</td>
			</tr>
			<tr class-="option">
				<td colspan="2">
					Set min. price $
					<input class="form-element sinput form-control" ng-blur="vm.saveSettings()"
						   ng-disabled="!vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].minPriceEnabled"
						   er-only-float
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].minPrice">
					for min. cbf
					<div class="option-checkbox">
						<input type="checkbox" class="mail-checkbox icheck" ichecks="" ng-change="vm.saveSettings()"
							   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].minPriceEnabled">
					</div>
				</td>
			</tr>
			<tr class="option">
				<td>
					State Price
				</td>
				<td>
					<input class="form-element sinput form-control" ng-blur="vm.saveSettings()" type="number"
						   er-only-float
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].state_rate"
                           ng-change="vm.useDiscountTemplate(
                       vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].state_rate,
                       vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].discounts)">
					$ / c.f
				</td>
			</tr>
			<tr class="discountHolder">
				<td colspan="2">
					<er-long-distance-discounts
						discounts="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].discounts"
						discounts-template="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].discounts_template"
						base-rate="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].state_rate"
						save-settings="vm.saveSettings()"
						disabled="!vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].state_rate>0"
					>
					</er-long-distance-discounts>
				</td>
			</tr>
			</tbody>

			<tbody>
			<tr class="option"
				ng-class="{'disabled': vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].state_rate}">
				<td>
					401
				</td>
				<td>
					<input class="form-element sinput form-control" ng-blur="vm.saveSettings()" type="number"
						   er-only-float
						   ng-model="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].rate['401']"
                           ng-change="vm.useDiscountTemplate(
                       vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].rate['401'],
                       vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].areaDiscounts['401'])">$
					/ c.f
                    <div ng-if="!vm.showDiscounts['401']" ng-click="vm.expandDiscounts('401')" class="expandDiscounts"
                         role="button"
                         tabindex="0">
                        <div class="upArrow"><i class="icon-arrow-up"></i><i class="icon-arrow-up"></i></div>
                        <div class="downArrow"><i class="icon-arrow-down"></i><i class="icon-arrow-down"></i></div>
                    </div>
                    <div ng-if="vm.showDiscounts['401']" ng-click="vm.hideDiscounts('401')" class="hideDiscounts"
                         role="button"
                         tabindex="0">
                        <div class="upArrow"><i class="icon-arrow-down"></i><i class="icon-arrow-down"></i></div>
                        <div class="downArrow"><i class="icon-arrow-up"></i><i class="icon-arrow-up"></i></div>
                    </div>
				</td>
			</tr>
            <tr class="discountHolder" ng-show="vm.showDiscounts['401']">
                <td colspan="2">
                    <er-long-distance-discounts
                        discounts="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].areaDiscounts['401']"
                        discounts-template="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].discounts_template"
                        discounts-template-global="vm.longdistance.discounts_template"
                        base-rate="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].rate['401']"
                        save-settings="vm.saveSettings()"
                        disabled="vm.longdistance.stateRates[vm.longdistance.basedState]['ri'].state_rate>0">
                    </er-long-distance-discounts>
                </td>
            </tr>
			</tbody>
		</table>
	</div>
</div>
