<div class="panel col-md-5 col-sm-12">

    <div class="panel-body minimal">
        <div class="saving-progress">
            <span class="" ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
        </div>

        <div class="option table-responsive">
            <h1>Extra pickup and delivery rates</h1>
            <p>2nd or 3rd pickup price option and 2nd or 3rd delivery price option</p>

            <TABLE class="calculator">
                <tbody>
                <TR>
                    <td ng-form name="extraPickUpFee">
                        <h2>Extra Pickup Fee</h2>
                        <li style="line-height: 20px;margin-bottom: 10px;margin-top: 5px;">
                            If more than
                            <input ng-class="{error_field:!extraPickUpFee.extrapickupmiles1.$valid}"
                                   name="extrapickupmiles1" type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required
                                   min="0" step="1" class="basicinput"
                                   ng-change="vm.saveRegSettings('extrapickupmiles1')" string-to-number
                                   ng-model="vm.longdistance.extrapickupmiles1">
                            miles from ORIGIN, Extra Pickup Fee will be
                            $<input ng-class="{error_field:!extraPickUpFee.extrapickup.$valid}" name="extrapickup"
                                    type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required min="0" step="1"
                                    string-to-number
                                    class="basicinput" ng-change="vm.saveRegSettings('extrapickup')"
                                    ng-model="vm.longdistance.extrapickup">
                        </li>
                        <li style="line-height: 20px;margin-bottom: 10px;margin-top: 5px;"> If more than
                            <input ng-class="{error_field:!extraPickUpFee.extrapickupmiles2.$valid}"
                                   name="extrapickupmiles2" type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required
                                   string-to-number
                                   min="0" step="1" class="basicinput"
                                   ng-change="vm.saveRegSettings('extrapickupmiles2')"
                                   ng-model="vm.longdistance.extrapickupmiles2">
                            miles from ORIGIN, Extra Pickup Fee will be
                            $<input ng-class="{error_field:!extraPickUpFee.extrapickup2.$valid}" name="extrapickup2"
                                    type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required min="0" step="1"
                                    string-to-number
                                    class="basicinput" ng-change="vm.saveRegSettings('extrapickup2')"
                                    ng-model="vm.longdistance.extrapickup2">
                        </li>
                        <li style="line-height: 20px;margin-bottom: 10px;margin-top: 5px;">
                            Don't Allow Extra Pick up if more than
                            <input ng-class="{error_field:!extraPickUpFee.extrapickupmiles3.$valid}"
                                   name="extrapickupmiles3" type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required
                                   string-to-number
                                   min="0" step="1" class="basicinput"
                                   ng-change="vm.saveRegSettings('extrapickupmiles3')"
                                   ng-model="vm.longdistance.extrapickupmiles3">
                            miles from ORIGIN
                        </li>
                    </td>
                </TR>
                <TR>
                    <TD ng-form name="extraDropOffFee" class="sizeset">
                        <h2>Extra Drop-off Fee</h2>
                        <li style="line-height: 20px;margin-bottom: 10px;margin-top: 5px;">
                            If more than
                            <input ng-class="{error_field:!extraDropOffFee.extradeliverypmiles1.$valid}"
                                   name="extradeliverypmiles1" type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required
                                   string-to-number
                                   min="0" step="1" class="basicinput"
                                   ng-change="vm.saveRegSettings('extradeliverypmiles1')"
                                   ng-model="vm.longdistance.extradeliverypmiles1">
                            miles from DESTINATION,Extra Drop-off Fee will be
                            $<input ng-class="{error_field:!extraDropOffFee.extradelivery.$valid}" name="extradelivery"
                                    string-to-number
                                    type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required min="0" step="1"
                                    class="basicinput" ng-change="vm.saveRegSettings('extradelivery')"
                                    ng-model="vm.longdistance.extradelivery">
                        </li>
                        <li style="line-height: 20px;margin-bottom: 10px;margin-top: 5px;"> If more than
                            <input ng-class="{error_field:!extraDropOffFee.extradeliverypmiles2.$valid}"
                                   name="extradeliverypmiles2" type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required
                                   string-to-number
                                   min="0" step="1" class="basicinput"
                                   ng-change="vm.saveRegSettings('extradeliverypmiles2')"
                                   ng-model="vm.longdistance.extradeliverypmiles2">
                            miles from DESTINATION, Extra Drop-off Fee will be
                            $<input ng-class="{error_field:!extraDropOffFee.extradelivery2.$valid}"
                                    name="extradelivery2" type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required
                                    string-to-number
                                    min="0" step="1" class="basicinput" ng-change="vm.saveRegSettings('extradelivery2')"
                                    ng-model="vm.longdistance.extradelivery2">
                        </li>
                        <li style="line-height: 20px;margin-bottom: 10px;margin-top: 5px;">
                            Don't Allow Extra Drop-off if more than
                            <input ng-class="{error_field:!extraDropOffFee.extradeliverypmiles3.$valid}"
                                   name="extradeliverypmiles3" type="number" ng-pattern="/^\d+((\.)\d{1,2})?$/" required
                                   string-to-number
                                   min="0" step="1" class="basicinput"
                                   ng-change="vm.saveRegSettings('extradeliverypmiles3')"
                                   ng-model="vm.longdistance.extradeliverypmiles3">
                            miles from DESTINATION
                        </li>
                    </TD>
                </TR>

                </tbody>
            </TABLE>
        </div>
        <div class="option table-responsive setting_extra">
            <h1 style="margin-top: 20px; margin-bottom:5px;">Floor you are moving from
                <input type="checkbox"
                       class="mail-checkbox icheck"
                       ichecks=""
                       ng-change="vm.saveSettings()"
                       ng-model="vm.longdistance.isCalculateFloorMovingFrom">
                , to
                <input type="checkbox"
                       class="mail-checkbox icheck"
                       ichecks=""
                       ng-change="vm.saveSettings()"
                       ng-model="vm.longdistance.isCalculateFloorMovingTo">
                :
            </h1>
            <TABLE class="calculator">
                <tbody>
                <TR>
                    <TD ng-form name="floorAreYouMovingToA" class="sizeset"><h2>Stairs</h2>
                        Every flight from the
                        <select ng-change="vm.saveRegSettings('above_floorextra')"
                                ng-model="vm.longdistance.above_floorextra">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        floor and up the stairs (over one flight of stairs) will be charged at the rate of
                        $<input ng-class="{error_field:!floorAreYouMovingToA.floorextra.$valid, fadeout: vm.isSelectRelatedField('floorextra')}"
                                string-to-number
                                type="number"
                                required
                                min="0"
                                step="1"
                                name="floorextra"
                                class="form-element "
                                ng-pattern="/^\d+((\.)\d{1,2})?$/"
                                ng-change="vm.saveRegSettings('floorextra')"
                                ng-model="vm.longdistance.floorextra">
                        per 100 Cu.Ft or 700 Lbs. per flight. or flat rate $
                        <input ng-class="{error_field:!floorAreYouMovingToA.floorextra_flatrate.$valid, fadeout: vm.isSelectRelatedField('floorextra_flatrate')}"
                               type="number"
                               required
                               min="0"
                               step="1"
                               name="floorextra_flatrate"
                               string-to-number
                               class="form-element" ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               ng-change="vm.saveRegSettings('floorextra_flatrate')"
                               ng-model="vm.longdistance.floorextra_flatrate">
                        per flight.
                    </TD>
                    <TD ng-form
                        name="floorAreYouMovingToB"
                        class="sizeset">
                        <h2>Elevator</h2>
                        The elevator will be charged at the rate of $
                        <input ng-class="{error_field:!floorAreYouMovingToB.floorextrafifth.$valid, fadeout: vm.isSelectRelatedField('floorextrafifth')}"
                               type="number"
                               required
                               min="0"
                               step="1"
                               name="floorextrafifth"
                               class="form-element"
                               string-to-number
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               ng-change="vm.saveRegSettings('floorextrafifth')"
                               ng-model="vm.longdistance.floorextrafifth">
                        per 100 Cu.Ft or 700 Lbs. per flight. or flat rate $
                        <input ng-class="{error_field:!floorAreYouMovingToB.floorextrafifth_flatRate.$valid, fadeout: vm.isSelectRelatedField('floorextrafifth_flatRate')}"
                               type="number"
                               required
                               min="0"
                               step="1"
                               name="floorextrafifth_flatRate"
                               class="form-element"
                               string-to-number
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               ng-change="vm.saveRegSettings('floorextrafifth_flatRate')"
                               ng-model="vm.longdistance.floorextrafifth_flatRate">.
                    </TD>
                </TR>
                </tbody>
            </TABLE>

            <h1 style="margin-top: 20px; margin-bottom:5px;">
                Charge for stairs
                <input type="checkbox"
                       class="mail-checkbox icheck"
                       ichecks=""
                       ng-change="vm.saveRegSettings('chargeStairsOn')"
                       ng-model="vm.longdistance.chargeStairsOn">
            </h1>
            <TABLE class="calculator"
                   ng-class="{'disabled': !vm.longdistance.chargeStairsOn}">
                <tbody>
                <TR>
                    <td ng-form name="chargeForStairs">
                        One flight is
                        <input ng-class="{error_field:!chargeForStairs.stepsInflight.$valid}"
                               type="number"
                               min="0"
                               step="1"
                               string-to-number
                               name="stepsInflight"
                               class="form-element "
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               ng-change="vm.saveRegSettings('stepsInflight')"
                               ng-model="vm.longdistance.stepsInflight">
                        steps. Charge per flight is $
                        <input ng-class="{error_field:!chargeForStairs.chargePerflight.$valid}"
                               string-to-number
                               type="number"
                               min="0"
                               step="1"
                               name="chargePerflight"
                               class="form-element"
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               ng-change="vm.saveRegSettings('chargePerflight')"
                               ng-model="vm.longdistance.chargePerflight">.
                        First
                        <input ng-class="{error_field:!chargeForStairs.freeFlights.$valid}"
                               type="number"
                               min="0"
                               step="1"
                               name="freeFlights"
                               class="form-element"
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               string-to-number
                               ng-change="vm.saveRegSettings('freeFlights')"
                               ng-model="vm.longdistance.freeFlights">
                        flights are free.
                    </td>
                </TR>
                <TR>
                </tbody>
            </TABLE>


            <h1 style="margin-top: 20px; margin-bottom:5px;">Long carry charges</h1>
            <TABLE class="calculator">
                <tbody>
                <TR>
                    <td ng-form name="longCarryChanges">
                        Long carry charges will apply to every move that exceeds a walk of
                        <input ng-class="{error_field:!longCarryChanges.extrafeet.$valid}"
                               type="number"
                               required
                               min="0"
                               step="1"
                               name="extrafeet"
                               class="form-element "
                               string-to-number
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               ng-change="vm.saveRegSettings('extrafeet')"
                               ng-model="vm.longdistance.extrafeet">
                        feet from your home to the truck or from the truck to your new home. The rate for long carry is based on the rate of $
                        <input ng-class="{error_field:!longCarryChanges.extrafeetrate.$valid, fadeout: vm.isSelectRelatedField('extrafeetrate')}"
                               type="number"
                               required
                               min="0"
                               step="1"
                               name="extrafeetrate"
                               class="form-element"
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               string-to-number
                               ng-change="vm.saveRegSettings('extrafeetrate')"
                               ng-model="vm.longdistance.extrafeetrate">
                        per 100 Cu.Ft or 700 Lbs or $
                        <input ng-class="{error_field:!longCarryChanges.extrafeet_flatfee.$valid, fadeout: vm.isSelectRelatedField('extrafeet_flatfee')}"
                               type="number"
                               required
                               min="0"
                               step="1"
                               name="extrafeet_flatfee"
                               class="form-element"
                               string-to-number
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               ng-change="vm.saveRegSettings('extrafeet_flatfee')"
                               ng-model="vm.longdistance.extrafeet_flatfee">
                        flat fee, per {{vm.longdistance.extrafeet}} additional feet.
                    </td>
                </TR>
                <TR>
                </tbody>
            </TABLE>
            <h1 ng-if="false" style="margin-top: 20px; margin-bottom:5px;">Shuttle charges</h1>
            <TABLE ng-if="false" class="calculator">
                <tbody>
                <TR>
                    <td ng-form
                        name="shuttleChanges">
                        <!--TODO Shuttle charges not used at this moment-->
                        Shuttle charges will apply if our transportation vehicle
                        cannot park close to your home or business and we have to lease smaller
                        vehicle in order to perform delivery of your goods.
                        The shuttle charge includes the rental cost of the smaller vehicle and the additional
                        labor to load and unload your goods to and from the truck.
                        The rate for this service is based upon $
                        <input ng-class="{error_field:!shuttleChanges.shuttlefee.$valid}"
                               type="number"
                               step="1"
                               string-to-number
                               name="shuttlefee"
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               class="form-element"
                               ng-change="vm.saveRegSettings('shuttlefee')"
                               ng-model="vm.longdistance.shuttlefee">
                        for the leased van+ $
                        <input ng-class="{error_field:!shuttleChanges.shuttleextra_cf.$valid}"
                               type="number"
                               min="0"
                               step="1"
                               name="shuttleextra_cf"
                               string-to-number
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               class="form-element"
                               ng-change="vm.saveRegSettings('shuttleextra_cf')"
                               ng-model="vm.longdistance.shuttleextra_cf">
                        per cubic feet or
                        <input ng-class="{error_field:!shuttleChanges.shuttleextra_pound.$valid}"
                               type="number"
                               string-to-number
                               min="0"
                               step="0.01"
                               name="shuttleextra_pound"
                               ng-pattern="/^\d+((\.)\d{1,3})?$/"
                               class="form-element"
                               ng-change="vm.saveRegSettings('shuttleextra_pound')"
                               ng-model="vm.longdistance.shuttleextra_pound">
                        per pound for the labor, per 100 cubic feet or 700 pounds. And minimum
                        <input ng-class="{error_field:!shuttleChanges.shuttleextra_min.$valid}"
                               type="number"
                               min="0"
                               step="0.01"
                               string-to-number
                               name="shuttleextra_min"
                               ng-pattern="/^\d+((\.)\d{1,2})?$/"
                               class="form-element"
                               ng-change="vm.saveRegSettings('shuttleextra_min')"
                               ng-model="vm.longdistance.shuttleextra_min">$.
                    </td>
                </TR>
                <TR>
                    <td>
                        Packing labor and supplies needed for your move will be charged based the following rates:
                    </td>
                </TR>
                </tbody>
            </TABLE>
        </div>
    </div>
</div>
