include ../../../../../../../../node_modules/bemto.pug/bemto

+b.arrivy-integration
    +e.title
        | Arrivy Integration
    form.row(name='arrivyIntegrationForm' ng-submit='sendForemanToArrivy(arrivyIntegration)')
        .col-xs-12
            .form-group
                .col-sm-12
                    .row(ng-if='!arrivyForemanExist')
                        +e.radio-button-foreman-exist
                            input.foreman-exist-checkbox(type="radio" name="iCheck" radiostyle="green" class="iradio_flat-green icheck" ichecks ng-model="arrivyIntegration.create_new" ng-value="true")
                            span.foreman-exist-title I want to create a  new Arrivy foreman
                        +e.radio-button-foreman-exist
                            input.foreman-exist-checkbox(type="radio" name="iCheck" radiostyle="green" class="iradio_flat-green icheck" ichecks ng-model="arrivyIntegration.create_new" ng-value="false")
                            span.foreman-exist-title I already have this foreman in Arrivy
                    div(ng-if='!arrivyIntegration.create_new')
                        .row
                            label.col-sm-3.control-label Arrivy foreman ID
                            .col-sm-8
                                input.required.form-control.form-select(type="id" name="id" placeholder="Arrivy Foreman ID" ng-model="arrivyIntegration.arrivy_id" ng-disabled='arrivyForemanExist' required)
                    div(ng-if='arrivyIntegration.create_new')
                        .row
                            label.col-sm-3.control-label Email login
                            .col-sm-8
                                input.required.form-control.form-select(type="email" name="email" placeholder="Arrivy Email Login" ng-model="arrivyIntegration.arrivy_email" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$")
                            label.col-sm-3.control-label Password
                            .col-sm-8
                                input.required.form-control.form-select(type="password" name="password" placeholder="Arrivy Password" ng-model="arrivyIntegration.arrivy_pass" required)
        +e.footer
            .arrivy-send(ng-if="!arrivyForemanExist")
                button.btn.btn-primary(type="submit")
                    | Add Foreman to Arrivy
            .arrivy-send(ng-if="arrivyForemanExist")
                button.btn.btn-danger(type='button' ng-click='removeForemanFromArrivy()')
                    | Disconnect
