.arrivy-integration
    &__title
        font-size 16px
        padding 10px
    &__header
        margin-left 20px
        margin-bottom 10px
        .arrivy-on-title
            display inline-block
        .switchery-small
            margin-left 10px
    &__radio-button-foreman-exist
        margin-bottom 10px
        margin-left 30px
        .foreman-exist-title
            margin-left 10px
    &__footer
        .arrivy-send
            float right
            width 180px
            margin-right 64px
            button
                float right
