.request-score-box
	clear both
	margin-bottom 25px
	margin-top 0
	width 100%
	padding 5px 10px 5px 10px
	box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
	position relative
	background-color white
	display inline-flex
	flex-direction column
	flex-wrap nowrap
	justify-content flex-start
	flex 1
	&__main-label
		font-size 12px
		font-weight 500
		padding-bottom 5px
	&__row
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
	&__progress-bar
		padding-right 10px
		position relative
	&__percent-label
		position: absolute
		top: 0
		left: 0
		display: flex
		width: 54px
		font-weight: 600
		height: 54px
		flex-direction: row
		justify-content: center
		align-items: center
		font-size: 14px
		color: #5a5454
		font-weight: 600
	&__progress-line
		flex 1
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
	&__column
		position relative
		flex 1
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		align-items center
	&__line
		position absolute
		width 50%
		height 1px
		background-color #d2d2d2
		top 17px
		left 30px
		z-index 1
		&_left
			left 0
		&_right
			left 50%
	&__circle
		width 35px
		height 35px
		border 1px solid #d2d2d2
		border-radius 50%
		background #ffffff
		z-index 3
		display flex
		flex-direction row
		justify-content space-around
		align-items center
	&__label
		margin-top 3px
		font-size 10px
		text-align center
.border-green
	border-color #08d808
.green-line
	background-color #08d808
.progress-icon-img
	width 20px
	&_check
		width 17px
	&_small
		width 16px
	&_transparent
		filter opacity(30%)



