include ../../../../../../node_modules/bemto.pug/bemto

+b.request-score-box
	+e.main-label(ng-if="!isOptional") Your Progress Bar
	+e.main-label(ng-if="isOptional") Additional information
	+e.row
		+e.progress-bar
			round-progress(
				max="100"
				current="score"
				color="#08d808"
				bgcolor="#d2d2d2"
				radius="27"
				stroke="4"
				rounded="true"
				clockwise="true"
				responsive="false"
				duration="800"
				animation="easeInOutQuart"
				animation-delay="0")
			+e.percent-label
				| {{score}}%
		+e.progress-line
			+e.column
				+e.line_right(ng-class="{'green-line': isInventory}" ng-if="!isOptional")
				+e.circle.border-green(tooltip-placement="top" tooltip="Request created")
					img.progress-icon-img_check(src="../img/mymovepagecheck.png")
				+e.label
					| Quote
			+e.column
				+e.line_left(ng-class="{'green-line': isInventory }" ng-if="!isOptional")
				+e.line_right(ng-class="{'green-line': (isInventory && isDetails) }" ng-if="!isOptional")
				+e.circle(ng-class="{'border-green': isInventory}" tooltip-placement="top" tooltip="{{isInventory ? 'Inventory was submitted' : 'Submit inventory'}}")
					img.progress-icon-img.progress-icon-img_transparent(src="../img/armchair_2.png" ng-hide="isInventory")
					img.progress-icon-img_check(src="../img/mymovepagecheck.png" ng-show="isInventory")
				+e.label
					| Inventory
			+e.column
				+e.line_left(ng-class="{'green-line': (isInventory && isDetails) }" ng-if="!isOptional")
				+e.line_right(ng-class="{'green-line': (isDetails && isReservation) }" ng-if="!isOptional")
				+e.circle(ng-class="{'border-green': isDetails}" tooltip-placement="top" tooltip="{{isDetails ? 'Details was submitted' : 'Submit details'}}")
					img.progress-icon-img.progress-icon-img_small.progress-icon-img_transparent(src="../img/leaf.png" ng-hide="isDetails")
					img.progress-icon-img_check(src="../img/mymovepagecheck.png" ng-show="isDetails")
				+e.label
					| Details
			+e.column
				+e.line_left(ng-class="{'green-line': (isDetails && isReservation) }" ng-if="!isOptional")

				+e.circle(ng-class="{'border-green': isReservation}" tooltip-placement="top" tooltip="{{isReservation ? 'Your move was booked' : 'Book your move'}}" ng-if="!isOptional")
					img.progress-icon-img.progress-icon-img_transparent(src="../img/happy.png" ng-hide="isReservation")
					img.progress-icon-img_check(src="../img/mymovepagecheck.png" ng-show="isReservation")
				+e.circle(ng-class="{'border-green': photosAdded}" tooltip-placement="top" tooltip="{{photosAdded ? 'Photos added' : 'Add photos'}}" ng-if="isOptional")
					img.progress-icon-img.progress-icon-img_transparent(src="../img/happy.png" ng-hide="photosAdded")
					img.progress-icon-img_check(src="../img/mymovepagecheck.png" ng-show="photosAdded")
				+e.label(ng-if="!isOptional")
					| Booked
				+e.label(ng-if="isOptional")
					| Photos


