.header.clndr-ang-controls
	span.month {{::month.format("MMMM, YYYY")}}
.clndr-ang-grid
	.week.names.days-of-the-week
		.header-day Sun
		.header-day Mon
		.header-day Tue
		.header-day Wed
		.header-day Thu
		.header-day Fri
		.header-day Sat
	.week.empty(ng-if="weeks.length < 6")
		span.day.different-month(ng-class="{'different-month': !day.isCurrentMonth }" ng-click="showPopup(day,$event)" ng-repeat="day in week.days")
	.week(ng-repeat="week in weeks")
		span(class="day {{rate_types[day.type]}}" data-value="{{day.type}}" ng-class="{'different-month': !day.isCurrentMonth }" title="{{rate_types[day.type]}}" ng-click="showPopup(day,$event)" ng-repeat="day in week.days") {{::day.number}}
	ul.children.type_popup
		li.clicked_day
		.menu.calendar-settings__menu
			li.types.Discount(ng-click="updateType(0)") Discount
			li.types.regular(ng-click="updateType(1)") Regular
			li.types.subpeak(ng-click="updateType(2)") Subpeak
			li.types.peak(ng-click="updateType(3)") Peak
			li.types.highpeak(ng-click="updateType(4)") Highpeak
			li.types.block_date(ng-click="updateType(5)") X Block This Day