include ../../../../../../node_modules/bemto.pug/bemto

+b.request-show-quote-wrapper(ng-show='isSettingsAvailable')
	+e('span').quote-icon
		+e('i').icon.fa(ng-class='{"fa-eye-slash": !request.request_all_data.showQuote, "fa-eye": request.request_all_data.showQuote}',
						ng-click='switchShowingQuote()',
						uib-tooltip='{{explanationStateQuote}}',
						tooltip-popup-delay="1000")
