<section class="valuation-plan-settings-wrapper">
    <div class="valuation-plan-settings-wrapper__loading" ng-if="loading.action">
        <img src="../../../content/img/logo_animation.gif"
             alt="Loading..."
             class="valuation-plan-settings-wrapper__loading-image">
        <h3 class="valuation-plan-settings-wrapper__loading-title">{{loading.text}}</h3>
    </div>
    <div class="valuation-plan-settings">
        <div class="valuation-plan-settings__header bg-blue">
            <h3 class="text-white">Valuation Plan</h3>
            <button class="btn btn-sm valuation-plan-settings__save-changes"
                    ng-click="saveChanges()"
                    ng-class="{'btn-danger': changeDetected, 'btn-primary disabled': !changeDetected}">Save Changes</button>
        </div>
        <div class="valuation-plan-settings__setting bg-white">
            <md-radio-group class="valuation-plan-settings__radio-group"
                            ng-model="selectedItem"
                            ng-change="changeCurrentPlan(selectedItem)">
                <md-radio-button ng-repeat="setting in valuationPlan track by $index"
                                 class="valuation-plan-settings__radio md-primary"
                                 ng-value="$index"
                                 area-label="{{setting.name}}">{{setting.name}}</md-radio-button>
            </md-radio-group>
        </div>
        <div class="valuation-plan-settings__tables">
            <valuation-table></valuation-table>
        </div>
    </div>
</section>
