$bg-blue = #556b8d
$white = #fff
$oneEm = 1em
$imageSize = 30px

.valuation-plan-settings-wrapper
	position relative

	&__loading
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background-color rgba(255, 255, 255, .8)
		z-index 10
		display flex
		justify-content center
		align-items center
	&__loading-image
		width $imageSize
		height $imageSize
	&__loading-title
		margin-left $oneEm
		font-size 1.2em

	.bg-blue
		background-color $bg-blue
	.text-white
		color $white

	.valuation-plan-settings
		background-color $white
		&__header
			padding $oneEm
			display flex
			justify-content space-between
			align-items center
		&__setting
			padding $oneEm
		&__radio-group
			display flex
			justify-content space-between
			align-items center
		&__tables
			padding $oneEm
