.ngRule
	height 20px
	.rulePointer
		width 10px
		border-color #556b8d
		border-width 2px 0 0 2px
		border-style solid
		height 20px
	.ngRuleDigit
		position absolute
		border 1px solid #556b8d
		width 0px
		height 10px
		font-size 10px
		line-height 30px
		cursor pointer