.request-view
  float left
  margin-right 10px
  &__icon
    width 32px
    height 32px
    padding 2px
    border 1px solid #ccc
    border-radius 50%
    transition all 0.3s cubic-bezier(.25,.8,.25,1)
    opacity .8
    &:hover
      box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
      opacity 1