include ../../../../../../node_modules/bemto.pug/bemto

+b.request-multiple-button
	+e('img').icon(ng-src='{{menu}}', uib-tooltip="Actions", ng-click='showAvailable()')
	+e('img').icon-add(ng-repeat="setting in availableSettings",
		ng-class="{'fadeIn': isShowAvailable, 'fadeOut': !isShowAvailable}",
		ng-click='doAction($index)',
		ng-src='{{setting.icon}}',
		uib-tooltip='{{setting.name}}',
		class='icon-{{$index}}')
