.request-multiple-button
  &__icon
    width 32px
    height 32px
    padding 5px
    border 1px solid #ccc
    border-radius 50%
    transition all 0.3s cubic-bezier(.25,.8,.25,1)
    opacity .8
    z-index 20
    position relative
    cursor pointer
    &:hover
      filter drop-shadow(0 3px 6px rgba(0,0,0,.16)) drop-shadow(0 3px 6px rgba(0,0,0,.23))
      opacity 1
  &__icon-add
    width 32px
    height 32px
    padding 2px
    border 1px solid #ccc
    transition all 0.3s cubic-bezier(.25,.8,.25,1)
    border-radius 50%
    opacity .8
    z-index 0
    position relative
    cursor pointer
    &.fadeOut
      transform scale(0)
      &.icon-0
        top 0
        left -32px
      &.icon-1
        top 0
        left -62px
      &.icon-2
        top 0px
        left -124px
    &.fadeIn
      transform scale(1)
      &.icon-0
        transition-delay .1s
        top 50px
        left -30px
      &.icon-1
        transition-delay .3s
        top 34px
        left -20px
      &.icon-2
        transition-delay .4s
        top -4px
        left -37px
      &:hover
        transform scale(1.2)
    &:hover
      box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
      opacity 1