.home-estimate-month-cell
  cursor pointer
  background-color white
  width 14.285714285714285%
  border-bottom 1px solid #e1e1e1
  overflow hidden
  &:hover
    background-color #ededed
  .home-estimate-month-day
    position relative
    display block
    width 100%
  &.selected-day
    background-color #EDEDED
  .home-estimate-close-day-preview
    position absolute
    right 50%
    bottom -21px
    padding 0 5px
    cursor pointer
    z-index 5
    text-align center
    width 26px
    margin-right -17px
    border 1px solid #e1e1e1
    border-top 0 solid
    border-radius 0 0 5px 5px
    background-color #ededed
    .fa
      display none
.home-estimate-cal-day-weekend
  cursor pointer
  span[data-cal-date]
    color darkred
.home-estimate-out-month
  cursor default
  span[data-cal-date]
    opacity 0.1
    cursor default
.home-estimate-cal-day-today
  cursor pointer
  background-color #e8fde7
  span[data-cal-date]
    color darkgreen
    font-size 1.9em
