<div class="home-estimate-month-cell" ng-class="{'home-estimate-cal-day-weekend': monthItem.isWeekendDay, 'home-estimate-out-month': !monthItem.isCurrentMonth, 'home-estimate-cal-day-today': monthItem.isActualDay, 'selected-day': monthItem.isSelected}" ng-click="selectCurrentDay()">
    <div class="home-estimate-month-day">
        <span class="pull-right" data-cal-date ng-bind="monthItem.number"></span>
    </div>

    <el-home-estimate-works-cell-preview month-item="monthItem"></el-home-estimate-works-cell-preview>

    <div class="home-estimate-close-day-preview" ng-show="monthItem.isSelected">
        <i class="glyphicon glyphicon-chevron-up"></i>
        <i class="fa fa-chevron-down"></i>
    </div>
</div>