
<div ng-show="busy">
    <div class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<div class="panel-body"  style="    min-height: 260px;">
    <div id='tawk_57b74e5ee56cab650c704d64'></div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date(); Tawk_API.embedded='tawk_57b74e5ee56cab650c704d64';
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/57b74e5ee56cab650c704d64/1aqi12br7';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
	        s0.parentNode && s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--Start of Tawk.to Script-->
</div>