<section class="main-content-wrapper main-content-wrapper-storages tenants pending animated fadeInDown">
    <div class="pageheader" style="min-height: 65px;" >
        <h1>Storage Tenants</h1>
        <select class="form-control flag" ng-options="key as item for (key,item) in serviceTypes" ng-model="storageFlag" ng-change="changeFlag()">
            <option value="" style="display: none;"></option>
        </select>
    </div>
    <div ng-show="busy">
        <div class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    <section id="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Storage Tenants</h3>
                        <div class="row">
                            <span class="icon-refresh-payment" ng-click="refreshPage();">
                                <i class="fa fa-refresh" ng-class="{'fa-spin': busy}" ></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body mdDataTable">
                        <table datatable="ng" id="pedingTable" dt-options="dtOptions">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Move Request #</th>
                                <th>Job Type</th>
                                <th>Customer</th>
                                <th>Phone 1</th>
                                <th>E-mail</th>
                                <th>Volume</th>
                                <th>Monthly Rate</th>
                                <th>Moved In Date:</th>
                                <th>Moved Out Date:</th>
                                <th>Recurring</th>
                                <th>Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="request" ng-repeat="(id, request) in requests" ng-click="openModal(request, id)"  ng-class="{'disabled':busy, 'active_row' : clicked == id}" ng-hide="request.rentals.status_flag != storageFlag">
                                <td>{{id}}</td>
                                <td>{{request.rentals.move_request_id}}</td>
                                <td class="dtService ">
                                        <span class="status storage-status_{{request.rentals.status_flag}}">
                                            {{serviceTypes[request.rentals.status_flag]}}
                                        </span>
                                </td>
                                <td>{{request.user_info.name}}</td>
                                <td>{{request.user_info.phone1 | nationalPhoneFormatter}}</td>
                                <td>{{request.user_info.email}}</td>
                                <td>{{request.rentals.volume_cuft || 0 | number : 2}}, cuft</td>
                                <td>${{request.rentals.total_monthly || 0  | number : 2}}</td>
                                <td>{{dateFormatter(request.rentals.moved_in_date)}}</td>
                                <td>
                                    <span ng-if="request.rentals.moved_out_date">
                                        {{dateFormatter(request.rentals.moved_out_date)}}
                                    </span>
                                    <span ng-if="!request.rentals.moved_out_date" style="text-align: center;">
                                        ---
                                    </span>
                                </td>
                                <td>
                                    <span ng-if="request.recurring.start" >
                                        <i class="fa fa-refresh fa-spin" ></i><span style="padding-left: 10px;">{{dateFormatter(request.recurring.next_run_on)}}</span>
                                    </span>
                                </td>
                                <td>
                                        <span ng-class="{'red': calculatePayments(request) < 0, 'green': calculatePayments(request) > 0}">
                                        ${{calculatePayments(request) | number : 2}}
                                        </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
