<div id="admin_flat_rate_block" class="select_flat col-md-12">
    <div class="short-info">
        <div class="col-md-12 box nopadding">
            <div class="row_info col-md-3 nopadding">Move Size: {{request.move_size.value}}</div>
            <div class="row_info col-md-4 nopadding">
                <div class="col-md-3 title nopadding">Pick Up:</div>
                <div class="col-md-9 info nopadding">{{details.pickup | dateRange}}<span ng-if="!!secondPickUp"> - {{secondPickUp}}</span></div>
            </div>
            <div class="row_info col-md-4 nopadding">
                <div class="col-md-3 title nopadding">Delivery:</div>
                <div class="col-md-9 info nopadding">{{details.delivery | dateRange}}</div>
            </div>
        </div>
    </div>
    <div class="add_option_form col-md-12 nopadding row">
        <div class="wrapper">
            <div class="col-md-5 nopadding box">
                <h2>Pickup</h2>
                <input cc-da-picker ng-model="option.pickup" required
                       ng-class="{'error':!option.pickup.length && added}">
                <select ng-model="option.picktime1" class="pickup_time_select_from time_select"
                        ng-class="{'error':option.picktime1 == 0 && added}">
                    <option value="" selected="selected">Time</option>
                    <option value="0">0AM</option>
                    <option value="1">1AM</option>
                    <option value="2">2AM</option>
                    <option value="3">3AM</option>
                    <option value="4">4AM</option>
                    <option value="5">5AM</option>
                    <option value="6">6AM</option>
                    <option value="7">7AM</option>
                    <option value="8">8AM</option>
                    <option value="9">9AM</option>
                    <option value="10">10AM</option>
                    <option value="11">11AM</option>
                    <option value="12">12PM</option>
                    <option value="13">1PM</option>
                    <option value="14">2PM</option>
                    <option value="15">3PM</option>
                    <option value="16">4PM</option>
                    <option value="17">5PM</option>
                    <option value="18">6PM</option>
                    <option value="19">7PM</option>
                    <option value="20">8PM</option>
                    <option value="21">9PM</option>
                    <option value="22">10PM</option>
                    <option value="23">11PM</option>
                    <option value="24">12PM</option>
                </select>
                <span class="between">-</span>
                <select ng-model="option.picktime2" class="pickup_time_select_to time_select">
                    <option value="" selected="selected">Time</option>
                    <option value="0">0AM</option>
                    <option value="1">1AM</option>
                    <option value="2">2AM</option>
                    <option value="3">3AM</option>
                    <option value="4">4AM</option>
                    <option value="5">5AM</option>
                    <option value="6">6AM</option>
                    <option value="7">7AM</option>
                    <option value="8">8AM</option>
                    <option value="9">9AM</option>
                    <option value="10">10AM</option>
                    <option value="11">11AM</option>
                    <option value="12">12PM</option>
                    <option value="13">1PM</option>
                    <option value="14">2PM</option>
                    <option value="15">3PM</option>
                    <option value="16">4PM</option>
                    <option value="17">5PM</option>
                    <option value="18">6PM</option>
                    <option value="19">7PM</option>
                    <option value="20">8PM</option>
                    <option value="21">9PM</option>
                    <option value="22">10PM</option>
                    <option value="23">11PM</option>
                    <option value="24">12PM</option>
                </select>
                <br>
                <h2 style="margin-top:15px">Delivery</h2>
                <input cc-da-picker ng-model="option.delivery" ng-class="{'error':!option.delivery.length && added}">
                <select ng-model="option.deltime1" class="delivery_time_select_from time_select"
                        ng-class="{'error':option.deltime1 == 0 && added}">
                    <option value="" selected="selected">Time</option>
                    <option value="0">0AM</option>
                    <option value="1">1AM</option>
                    <option value="2">2AM</option>
                    <option value="3">3AM</option>
                    <option value="4">4AM</option>
                    <option value="5">5AM</option>
                    <option value="6">6AM</option>
                    <option value="7">7AM</option>
                    <option value="8">8AM</option>
                    <option value="9">9AM</option>
                    <option value="10">10AM</option>
                    <option value="11">11AM</option>
                    <option value="12">12PM</option>
                    <option value="13">1PM</option>
                    <option value="14">2PM</option>
                    <option value="15">3PM</option>
                    <option value="16">4PM</option>
                    <option value="17">5PM</option>
                    <option value="18">6PM</option>
                    <option value="19">7PM</option>
                    <option value="20">8PM</option>
                    <option value="21">9PM</option>
                    <option value="22">10PM</option>
                    <option value="23">11PM</option>
                    <option value="24">12PM</option>
                </select>
                <span class="between">-</span>
                <select ng-model="option.deltime2"
                        class="delivery_time_select_to time_select">
                    <option value="" selected="selected">Time</option>
                    <option value="0">0AM</option>
                    <option value="1">1AM</option>
                    <option value="2">2AM</option>
                    <option value="3">3AM</option>
                    <option value="4">4AM</option>
                    <option value="5">5AM</option>
                    <option value="6">6AM</option>
                    <option value="7">7AM</option>
                    <option value="8">8AM</option>
                    <option value="9">9AM</option>
                    <option value="10">10AM</option>
                    <option value="11">11AM</option>
                    <option value="12">12PM</option>
                    <option value="13">1PM</option>
                    <option value="14">2PM</option>
                    <option value="15">3PM</option>
                    <option value="16">4PM</option>
                    <option value="17">5PM</option>
                    <option value="18">6PM</option>
                    <option value="19">7PM</option>
                    <option value="20">8PM</option>
                    <option value="21">9PM</option>
                    <option value="22">10PM</option>
                    <option value="23">11PM</option>
                    <option value="24">12PM</option>
                </select>
                <br>
                <h2 style="margin-top:15px">Flat Rate</h2>
                <input id="flat_rate" ng-model="option.rate" ng-class="{'error':!option.rate.length && added}" type="text">
                <span class="money">$</span>
            </div>
            <div class="col-md-7 box chat-widget">
                <div
                        text-angular
                        ng-model="option.text"
                        ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]"
                        id="place-reason"></div>
                <div class="admin_buttons">
                    <a ng-click="addOption()" ng-show="!editMode" class="link red">+ Add Option</a>
                    <a ng-click="saveOptions()" ng-class="{'disabled' : options.length == 0}" ng-show="!editMode"
                       class="btn blue"> Send</a>
                </div>
            </div>
        </div>
        <div class="wrapper send-options-info">
            <div ng-show="isOptionsWasSend()" class="col-md-12 nopadding box box-info">
                Options was send
            </div>
            <div ng-show="isOptionsChosen()" class="col-md-12 nopadding box box-chosen">
                The option was chosen
            </div>
        </div>
    </div>
    <div class="row flat_rate_option">
        <div class="col-md-12">
            <div class="option_box" ng-repeat="(key,option) in options" ng-class="{'active': editMode && active == key}">
                <a class="fa fa-pencil btn pull-right red" ng-show="!editMode" ng-click="editOption(option,key)"></a>
                <a ng-click="chooseOption(option)" class="btn blue">Choose Option</a>
                <a ng-click="deleteOption(key)" ng-show="editMode" class="fa fa-trash btn red pull-right"></a>
                <a ng-click="updateOption(option,key)" ng-show="editMode" class="link blue pull-right">Update Option</a>
                <h5>Option {{key+1}}: </h5>
                <h3>Pick up on {{option.pickup}} at around {{option.picktime1 | usatime}} <span
                        ng-hide="option.picktime2 == 0">- {{option.picktime2 | usatime}}</span></h3>
                <h3>Delivery on {{option.delivery}} at around {{option.deltime1 | usatime}}<span
                        ng-hide="option.deltime2 == 0"> - {{option.deltime2 | usatime}}</span></h3>
                <h3 class="margintop">The flat rate price for your move would be ${{option.rate | number:0}}</h3>
                <div class="option_text" ng-bind-html="option.text" style="word-wrap: break-word;"></div>
            </div>
        </div>
    </div>
</div>