<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Receipt</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-show="busy" style="position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.45);">
        <svg class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <form class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label>Worker</label>
            </div>
            <div class="col-sm-9">
                {{usrName}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>Request #</label>
            </div>
            <div class="col-sm-9">
                {{receipt.nid}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>Amount</label>
            </div>
            <div class="col-sm-9">
                ${{receipt.amount}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>Type</label>
            </div>
            <div class="col-sm-9">
                {{receipt.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="text-align: center" ng-repeat="photo in receipt.photo">
                <img ng-src="{{photo.value}}" style="margin-top: 5px;"/>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default pull-left" type="button" ng-click="close()">Close</button>
</div>
