<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Receipt</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-show="busy" style="position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.45);">
        <svg class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <form class="form-group">
        <div class="row" ng-show="step.amount">
            <div class="col-sm-3">
                <label>Amount</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" ng-model="customPayroll.amount" cc-currency>
            </div>
        </div>
        <div class="row" ng-show="step.name">
            <div class="col-sm-3">
                <label>Type</label>
            </div>
            <div class="col-sm-9">
                <select ng-if="!admin" class="form-control" ng-model="customPayroll.name">
                    <option value="" style="display: none;">Select Type</option>
                    <option ng-repeat="type in types">{{type.value}}</option>
                </select>
                <input ng-if="admin" class="form-control" ng-model="customPayroll.name">
            </div>
        </div>
        <div class="row" ng-show="step.photo">
            <div class="col-sm-12" style="text-align: center">
                <div class="btn btn-success upload-card-wrapper" ng-class="{largeWidth: photo.base64.dataURL && photo.base64.dataURL !=''}">
                    <input ng-if="!photo.base64.dataURL || photo.base64.dataURL ==''" type="file"
                           class="upload-card-btn" accept="image/*" image="photo.base64" id="inputImage" name="photo"
                           resize-max-height="1024" resize-max-width="1024" resize-quality="0.7" resize-type="image/*"
                           ng-image-compress>
                    <img ng-show="photo.base64.dataURL && photo.base64.dataURL !=''"
                         ng-src="{{photo.base64.compressed.dataURL}}" style="width: 100%;  margin-top: 5px;"/>
                    <div ng-if="!photo.base64.dataURL || photo.base64.dataURL ==''">
                        <i class="fa fa-camera upload-camera-icon" aria-hidden="true"></i>
                    </div>
                    <div class="upload-card-text">
                        <span ng-hide="photo.base64.dataURL && photo.base64.dataURL !=''"> Upload photo</span>
                        <span ng-show="photo.base64.dataURL && photo.base64.dataURL !=''" class="remove-image"
                              ng-click="removePhoto()">Remove photo
                            <div class="cancel" style="color: white; display: inline-block;"> &times;</div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button ng-show="step.name" class="btn btn-primary" type="button" ng-click="nextStep('photo')">Next <i
            class="fa fa-angle-double-right" aria-hidden="true"></i></button>
    <button ng-show="step.amount" class="btn btn-primary" type="button" ng-click="nextStep('name')">Next <i
            class="fa fa-angle-double-right" aria-hidden="true"></i></button>
    <button ng-show="step.photo" class="btn btn-primary" type="button" ng-click="Save()">Save</button>
    <button class="btn btn-default pull-left" type="button" ng-click="cancel()">Cancel</button>
</div>
