@media screen and (min-width: 1900px){
	.foreman-table__head {
		font-size 14px
	}
	.foreman-table__body {
		font-size 15px
	}
	.foreman-table__footer {
		font-size 15px
	}
	.foreman-table__body__small {
		font-size 13px
	}
	.sorting_icon {
		height 16px
		width 16px
	}
	#foremanListStatus {
		font-size: 14px
	}
}
@media screen and (min-width: 1600px) and (max-width: 1899px){
	.foreman-table__head {
		font-size 12px
	}
	.foreman-table__body {
		font-size 13px
	}
	.foreman-table__footer {
		font-size 13px
	}
	#foremanListStatus {
		font-size: 12px
	}
}
@media screen and (min-width: 1300px) and (max-width: 1599px){
	.foreman-table__head {
		font-size 10px
		height 46px
	}
	.foreman-table__body {
		font-size 11px
		height 40px
	}
	.foreman-table__footer {
		font-size 11px
	}
	#foremanListStatus {
		font-size: 10px
	}

}
@media screen and (min-width: 1100px) and (max-width: 1299px){
	.foreman-table__header {
		padding 12px
	}
	.foreman-table__head {
		font-size 8px
		height 40px
	}
	.foreman-table__body {
		font-size 9px
		height 34px
	}
	.foreman-table__footer {
		font-size 9px
		padding 0 10px
	}
	.foreman-table__footer__entries {
		margin-top: 5px
	}
	.foreman-table__body__small {
		font-size 7px
	}
	.sorting_icon {
		height 11px
		width 12px
	}
	#foremanListStatus {
		font-size: 8px
	}
	input[type=text].foreman-table__header__search {
		padding: 0 4px;
	}
	.foreman-table__header__search {
		width: 120px;
		font-size: 7px;
		height: 16px;
	}
	.foreman-table__header__label {
		font-size: 9px;
	}
	input[type=text].foreman-table__header__search {
		padding: 0 6px;
	}
	.foreman-table__header__search {
		width: 100px;
		font-size: 9px;
		height: 20px;
	}
	.foreman-table__header__label {
		font-size: 11px;
	}
	.pagination {
		margin 15px 0
	}
}
@media screen and (max-width:1099px) {
	.foreman-table__header {
		padding 8px
	}
	.foreman-table__head {
		font-size 6px
		height 34px
	}

	.foreman-table__body {
		font-size 7px
		height 30px
	}
	.foreman-table__footer {
		font-size 7px
		padding 0 5px
	}
	.foreman-table__footer__entries {
		margin-top: 5px
	}
	.foreman-table__body__small {
		font-size 5px
	}

	.sorting_icon {
		height 9px
		width 11px
	}

	#foremanListStatus {
		font-size: 6px
	}

	input[type=text].foreman-table__header__search {
		padding: 0 4px;
	}
	.foreman-table__header__search {
		width: 80px;
		font-size: 7px;
		height: 16px;
	}
	.foreman-table__header__label {
		font-size: 9px;
		margin-top 2px
	}
	.pagination {
		margin 10px 0
	}
}