.foreman-table
	width 100%
	&__header
		width 100%
		padding 15px 15px
		display flex
		flex-direction row
		justify-content flex-end
		&__label
			padding-right 5px
			align-items center
			margin-top 3px
		&__search
			width 120px
	&__head
		height 56px
		font-size 12px
		font-weight 500
		color #757575
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		&__sort-item
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			&_left
				align-items center
				display flex
				flex-direction start
			&_right
				align-items center
				margin-left 8px
				display flex
				flex-direction row
				justify-content flex-start
				cursor pointer
	&__body
		align-items center
		height: 50px;
		font-size: 13px;
		color: #212121;
		border-bottom: 1px solid #ddd;
		cursor pointer;
		&:hover
			background-color #dfdfdf !important
		&:nth-child(2n+1)
			background-color #f9f9f9
		&__first
			padding-left 10px
		&__last
			padding-right 10px
		&__small
			font-size 10px
	&__footer
		margin-top 3px
		width 100%
		padding 0 15px
		display flex
		flex-direction row
		justify-content space-between
		&__entries
			margin-top 10px
			padding-bottom 10px
	&__footer-ipad
		margin-top 3px
		width 100%
		display flex
		flex-direction row
		justify-content space-between
		&__entries
			margin-top 10px
			padding-bottom 10px
.active_row
	background: #7DB3F9 !important
	td
		color white
		background #7DB3F9
input[type=text].foreman-table__header__search
	padding: 0px 10px;