<style>
    .panel-heading {
        display: none;
    }
</style>

<section id="main-content"  style="min-height:400px" ng-controller="ForemanController as vm" class="animated fadeInRight">
    <div class="row " ng-if="!vm.isIPad">
        <div class="col-md-12">
            <div class="panel panel-default adminpanel">
                <div ng-show="vm.busy">
                    <div class="busyoverlay">
                        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                        </svg>
                    </div>
                </div>

                <div class="panel-heading">
                    <!--<h3 class="panel-title">{{vm.tbtitle}}</h3>-->
                </div>
                <div>
                    <table class="foreman-table">
                        <div class="foreman-table__header">
                            <div class="foreman-table__header__label">Search:</div>
                            <input class="foreman-table__header__search" type="text" ng-model="vm.pageParams.conditions.nid" ng-change="vm.searchByNid(vm.pageParams.conditions.nid)">
                        </div>
                        <thead>
                        <tr class="foreman-table__head">
                            <th class="foreman-table__body__first">
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">#</div>
                                    <div class="foreman-table__head__sort-item_right " sorting params="vm.pageParams" get-list="vm.getJobs()" order="'nid'"></div>
                                </div>
                            </th>
                            <th>Status</th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Assign time</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_foreman_assign_time_value'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Start time</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_actual_start_time_value'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Service Type</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_move_service_type_value'"></div>
                                </div>
                            </th>
                            <th style="display:none;">Service Hidden</th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Move Date</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_date_value'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Customer</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_first_name_value'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Moving From</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_moving_from_administrative_area'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Moving To</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_moving_to_administrative_area'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Size of Move</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_size_of_move_value'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Crew</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'field_movers_count_value'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Create Date</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'created'"></div>
                                </div>
                            </th>
                            <th>
                                <div class="foreman-table__head__sort-item">
                                    <div class="foreman-table__head__sort-item_left">Updated Date</div>
                                    <div class="foreman-table__head__sort-item_right" sorting params="vm.pageParams" get-list="vm.getJobs()" order="'changed'"></div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-class="{'disabled':busy, 'active_row' : vm.clicked == request.nid}"
                            ng-click="vm.editReservation(request.nid)"
                            class="request foreman-table__body" data-nid="{{request.nid}}" ng-repeat="request in vm.requests">
                            <td class="foreman-table__body__first">{{request.nid}}</td>
                            <td class="dtStatus" id="foremanListStatus">
                                <span ng-if="request.status.raw == 9 && request.service_type.raw == 7" class="status status_{{request.status.raw}}">
                                    LD First Step
                                </span>
                                <span ng-hide="request.status.raw == 9 && request.service_type.raw == 7" class="status status_{{request.status.raw}}">
                                {{request.status.value}}
                                </span>
                            </td>
                            <td>{{request.field_foreman_assign_time.value ? (request.field_foreman_assign_time.value * 1000 | date: 'medium') : '-' }} </td>
                            <td>{{request.start_time1.value}} - {{request.start_time2.value}} </td>
                            <th style="display:none;">status_{{request.status.raw}}{{request.status.raw}}</th>
                            <td class="dtService">{{$parent.vm.getCurrentServiceTypeName(request)}}</td>
                            <td class="dtDate">{{request.date.value}}</td>
                            <td>{{request.name}}</td>
                            <td>{{request.from}}</td>
                            <td>{{request.to}}</td>
                            <td>{{request.move_size.value}}</td>
                            <td>{{request.crew.value}}</td>
                            <td class="foreman-table__body__small">{{request.created * 1000 | date : "M/d/yy h:mm a"}}</td>
                            <td class="foreman-table__body__last foreman-table__body__small">{{request.changed * 1000 |  date : "M/d/yy h:mm a"}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-if="vm.pageParams.totalCount == 0" class="no-jobs">Nothing to show</div>
                    <div class="foreman-table__footer">
                        <div class="foreman-table__footer__entries" ng-show="vm.pageParams.totalCount > 1">
                            <span> Showing </span>
                            <span ng-show="vm.pageParams.currentPage == 1">1</span>
                            <span ng-show="vm.pageParams.currentPage > 1"> {{(vm.pageParams.currentPage - 1) *  vm.pageParams.perPage}}</span>
							<span ng-show="vm.pageParams.pageCount == 1 || vm.pageParams.pageCount == vm.pageParams.currentPage"> to {{vm.pageParams.totalCount}} </span>
							<span ng-show="vm.pageParams.pageCount > 1 && vm.pageParams.pageCount != vm.pageParams.currentPage"> to {{vm.pageParams.currentPage * vm.pageParams.perPage}} </span>
							<span>of {{vm.pageParams.totalCount}} entries</span>

						</div>
                        <div ng-show="vm.pageParams.pageCount && vm.pageParams.pageCount > 1" elromco-paginator meta="vm.pageParams" set-page="vm.getRequestsByPage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="col-md-12 col-sm-12" ng-if="vm.isIPad">
     <div ng-show="vm.busy">
         <div class="mobile-busyoverlay-fixed">
             <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
             </svg>
         </div>
     </div>
     <h2 ng-show="vm.mobileData.length == 0" class="mobile-foreman-head">No data available</h2>
     <div ng-hide="vm.mobileData.length == 0" ng-repeat="currentMobileData in vm.mobileData">
         <h2 ng-hide="vm.mobileData.length == 0" class="mobile-foreman-head">Move date: {{currentMobileData.title}}</h2>
         <div class="mobile-foreman-job" data-nid="{{request.nid}}" ng-repeat="request in currentMobileData.data track by $index ">
             <mobile-foreman></mobile-foreman>
         </div>
     </div>
	 <div class="foreman-table__footer-ipad">
		 <div class="foreman-table__footer-ipad__entries" ng-show="vm.pageParams.totalCount > 1">
			 <span ng-show="vm.pageParams.currentPage == 1">1</span>
             <span ng-show="vm.pageParams.currentPage > 1"> {{(vm.pageParams.currentPage - 1) *  vm.pageParams.perPage}}</span>
			 <span ng-show="vm.pageParams.pageCount == 1 || vm.pageParams.pageCount == vm.pageParams.currentPage"> to {{vm.pageParams.totalCount}} </span>
			 <span ng-show="vm.pageParams.pageCount > 1 && vm.pageParams.pageCount != vm.pageParams.currentPage"> to {{vm.pageParams.currentPage * vm.pageParams.perPage}} </span>
			 <span>of {{vm.pageParams.totalCount}} entries</span>
		 </div>
		 <div ng-show="vm.pageParams.pageCount && vm.pageParams.pageCount > 1" elromco-paginator meta="vm.pageParams" set-page="vm.getRequestsByPage"></div>
	 </div>
</section>