<div class="mobile-foreman">
    <div ng-if="true">
    <div class="mobile-foreman-background">
            <div class="col-sm-2 col-xs-2">
                <img class='foreman-img-mobile' src="/moveBoard/content/img/Transport-Interstate-Truck-icon.png" alt="Truck">
            </div>
            <div class="col-sm-10 col-xs-10 paddingbottom20">
                <div class="mobile-foreman-line mobile-foreman-first-line col-sm-12 col-xs-12">
                    <div class="col-sm-3 col-xs-3 mobile-foreman-id"># {{request.nid}}</div>
                    <div class="col-sm-5 col-xs-5 job-info nopadding" >
                        <div class="start_window" >
                            <span class="flaticon-logistics2"></span>  {{request.start_time1.value}} - {{request.start_time2.value}}
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-4 job-info nopaddin">
                        {{request.move_size.value}}
                    </div>
                </div>
                <div class="mobile-foreman-line col-sm-12 col-xs-12 header-bottom-line">
                    <div class="nopadding alignleft col-sm-4 col-xs-3">{{request.name}}</div>
                    <div class="nopadding alignleft  col-sm-6 col-xs-6">From: {{request.from}}</div>
                </div>
                <div class="mobile-foreman-line col-sm-12 col-xs-12 header-bottom-line">
                    <div class="nopadding alignleft  col-sm-4 col-xs-3">{{request.phone | nationalPhoneFormatter}}</div>
                    <div class="nopadding alignleft  col-sm-6 col-xs-6">To: {{request.to}}</div>
                </div>
            </div>
            <div class="float-cleaner"></div>
        </div>
        <div class="mobile-foreman-line col-sm-12 foreman-mobile-buttons">
            <div class="сol-xs-12 col-sm-4" style="display: none">
                <a class="btn mobile-foreman-add-receipt" ng-click=""><img class="icon-button-mobile-foreman" src="/moveBoard/content/img/446091-200.png" alt="eye" style="padding-top: 3px;">
                    <span class="button-text">Add Receipt</span></a>
            </div>
            <div class="col-sm-4 col-xs-4 " ng-if="request.service_type.raw != 5 || request.field_flat_rate_local_move.value">
                <a ng-click="vm.addReceipt(request.nid)" class="btn mobile-foreman-add-receipt">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    Receipt
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 "  ng-if="request.service_type.raw == 5 && !request.field_flat_rate_local_move.value">
                <a ng-click="vm.addReceipt(request.nid, 'pickup')" class="btn mobile-foreman-add-receipt">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    Pickup <br>
                    Receipt
                </a>
            </div>
            <div class="col-sm-3 col-xs-3 "  ng-if="request.service_type.raw == 5 && !request.field_flat_rate_local_move.value">
                <a ng-click="vm.addReceipt(request.nid, 'delivery')" class="btn mobile-foreman-add-receipt">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    Delivery <br>
                    Receipt
                </a>
            </div>
            <div class="col-sm-6 col-xs-6">
                <a class="btn mobile-foreman-view-request" ng-click="vm.editReservation(request.nid)">
                    <img class="icon-button-mobile-foreman icon-button-mobile-foreman-steering-wheel" src="/moveBoard/content/img/118676.png" alt="steering wheel">
                    <span class="button-text">View Request</span></a>
            </div>
        </div>
    </div>
    <div ng-if="false">
        <div class="mobile-foreman-background">
            <div class="col-xs-12 mobile-foreman-status" >
                <div ng-if="request.status.raw == 9 && request.service_type.raw == 7" class="status status_{{request.status.raw}}">
                    LD First Step
                </div>
                <div ng-hide="request.status.raw == 9 && request.service_type.raw == 7" class="status status_{{request.status.raw}}">
                    {{request.status.value}}
                </div>
            </div>
            <div class="hidden-xs">
                <img class='foreman-img-mobile' src="/moveBoard/content/img/Transport-Interstate-Truck-icon.png" alt="Truck">
            </div>
            <div class="col-xs-12">
                <div class="mobile-foreman-line mobile-foreman-first-line col-sm-12 col-xs-12">
                    <div class="col-xs-4 mobile-foreman-id"># {{request.nid}}</div>
                    <div class="hidden-xs" >
                        <div ng-if="request.status.raw == 9 && request.service_type.raw == 7" class="status status_{{request.status.raw}}">
                            LD First Step
                        </div>
                        <div ng-hide="request.status.raw == 9 && request.service_type.raw == 7" class="status status_{{request.status.raw}}">
                            {{request.status.value}}
                        </div>
                    </div>
                    <div class="col-xs-4" >{{request.field_foreman_assign_time.value ? (request.field_foreman_assign_time.value * 1000 | date: 'medium') : '-' }}</div>
                    <div class="col-xs-4">
                        {{request.move_size.value}}
                    </div>
                </div>
                <div class="mobile-foreman-line header-bottom-line col-sm-12 col-xs-12">
                    <div class="col-xs-3">{{request.name}}</div>
                    <div class="col-xs-3">{{request.phone | nationalPhoneFormatter}}</div>
                    <div class="col-xs-3">From: {{request.from}}</div>
                    <div class="col-xs-3">To: {{request.to}}</div>
                </div>
            </div>
            <div class="hidden-xs mobile-foreman-second-line ">
                <div class="mobile-foreman-circle"></div>
            </div>
            <div class="float-cleaner"></div>
        </div>
        <div class="mobile-foreman-line col-xs-12foreman-mobile-buttons">
            <div class="col-xs-3">
                <a class="btn mobile-foreman-add-receipt" ng-click=""><img class="icon-button-mobile-foreman hidden-xs" src="/moveBoard/content/img/118676.png" alt="eye" style="padding-top: 3px;"><span>Add Receipt</span></a>
            </div>
            <div class="col-xs-9">
                <a class="btn btn-success mobile-foreman-view-request" ng-click="vm.editReservation(request.nid)"><img class="icon-button-mobile-foreman hidden-xs icon-button-mobile-foreman-steering-wheel" src="/moveBoard/content/img/446091-200.png" alt="steering wheel"><span>View Request</span></a>
            </div>
        </div>

    </div>
</div>
