include ../../default.pug

+b.elromco-file-uploader(ng-class="{'show-image': showImage}")
	input#fileInput.ng-hide(ng-model="model" data-type="file" data-imgtype="{{ fileType }}" name="{{ fileType }}" type="file" aria-label="image" required)
	+e('md-input-container').container
		+e.file-title
			+e('label').file-title-label {{ label }}
		+e.file-image(ng-style="imageHolderStyle" ng-click="chooseFile()" ng-class="{'emptyImage':!url}")
			md-button.buttonOnImage(ng-click="chooseFile()")
				ng-md-icon(icon="attach_file" style="fill: #fff" )
		+e.input
			input(ng-model='model' disabled ng-required="required")
		+e.button
			md-button(ng-click="chooseFile()").md-fab.md-mini.md-primary
				ng-md-icon(icon="attach_file" style="fill: #fff" )
	md-progress-linear(md-mode="determinate" ng-if="loadStatus" value="{{loadStatus}}")
		