.elromco-file-uploader
	width 100%
	
	&__container
		display flex
		flex-direction column
		margin-bottom 0px
	&__button
		position absolute
		right 0
		bottom 0
		^[0].show-image &
			display none
		& .md-button
			line-height 52px !important
	&__input
		width: calc(100% - 60px) !important
		^[0].show-image &
			display none
		& .md-errors-spacer
			display none
	&__file-title
		^[0].show-image &
			height 22px
			&-label
				transform translate3d(0,28px,0) scale(1)
				-webkit-transform translate3d(0,28px,0) scale(1)

	&__file-image
		width 130px
		height 130px
		border-color #9e9e9e
		border-style dashed
		border-radius 2px
		border-width 1px
		display none
		background-repeat no-repeat
		background-size contain
		background-clip content-box
		^[0].show-image &
			display flex
		&.emptyImage
			.md-button.buttonOnImage
				opacity 0.5
		.md-button.buttonOnImage
			width 100%
			height 100%
			margin 0
			border-radius 4px
			zoom 1
			opacity 0
			background-color #000
			transition-duration 1s
			transition-property opacity
			ng-md-icon
				svg
					width 50%
					height 50%
					position absolute
					top 24%
					left 27%
			&:hover
				transition-duration 1s
				transition-property opacity
				opacity 0.5
				ng-md-icon
					opacity 1