<div class="conainer" id="release-settings">
    <h2>Release Form</h2>
    <div class="row bottom-margin">
        <text-angular ng-model="releaseSettings.releaseForm.header" id="header" class="release-textarea" ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                    ['ul', 'ol'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight'],
                    ['fontColor', 'fontName', 'fontSize'],
                    ['insertLink', 'insertImage'],
                    ['undo', 'redo', 'clear', 'html']]" ta-unsafe-sanitizer="true" ng-class="{active: modal.showTextareaSettings == 'header'}" ng-focus="focusedTextArea('header')" ng-blur="blur()"></text-angular>
        <div class="textarea-settings header animated fade fadeInLeft" ng-show="modal.showTextareaSettings == 'header'">
            <div ng-repeat="(id, item) in settingsMenu" ng-click="addInput(item, releaseSettings.releaseForm.header)" ng-class="{'disabled': addedOneItemInSettings(item, releaseSettings.releaseForm.header)}">
                <button class="btn btn-block btn-default small">{{ item.title }}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 item-line-height">
            <div class="pull-right">
                <label>Display service on contract page</label>
                <input type="checkbox" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="releaseSettings.displayHoistingFee" id="checkOne" data-switchery="true" style="display: none;">
            </div>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item media">
            <div class="row" id="release-block-hoisting">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <span class="disabled">
                        <input ichecks checkstyle="green" type="checkbox" checked class="inline-block pull-left checkbox-release" ng-model="disabledIcheck">
                    </span> <label>Hoisting Service</label>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div class="pull-right">
                        Cost Of Service: $<input readonly type="number" value="0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Item Description:</label>
                    <textarea class="form-control bottom-margin" rows="2" title="For customer" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="pull-right">
            <button class="btn btn-md btn-success bottom-margin" ng-click="addNewItem()"><i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
        </span>
    </div>
    <div class="list-group" ng-repeat="setting in releaseSettings.releaseForm.services track by $index">
        <div class="list-group-item media">
            <div class="row">
                <div class="col-md-1 col-md-offset-11">
                    <i class="fa fa-times" aria-hidden="true" ng-click="removeItem($index)"></i>
                </div>
            </div>
            <div class="row bottom-margin">
                <div class="col-md-8">
                    <div class="inline-block disabled" ng-show="setting.addCheckbox">
                        <input type="checkbox" ichecks checkstyle="green" ng-model="setting.checkbox">
                    </div>
                    <input type="text" class="form-control title-input inline-block" ng-model="setting.title">
                </div>
                <div class="col-md-4 item-line-height">
                    <div class="pull-right">
                        <label>Add checkbox </label>
                        <input type="checkbox" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="setting.addCheckbox" id="checkOne" data-switchery="true" style="display: none;">
                    </div>
                </div>
            </div>
            <div class="row bottom-margin">
                <div class="col-md-12">
                    <text-angular class="release-textarea" id="release-textarea_{{$index}}" ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                            ['ul', 'ol'],
                                            ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                            ['fontColor', 'fontName', 'fontSize'],
                                            ['insertLink', 'insertImage'],
                                            ['undo', 'redo', 'clear', 'html']]" ta-unsafe-sanitizer="true" ng-model="setting.body" ng-class="{active: modal.showTextareaSettings == $index}" ng-focus="focusedTextArea($index)"
                    " ng-blur="blur()"></text-angular>
                    <div class="textarea-settings animated fade fadeInLeft" ng-show="modal.showTextareaSettings == $index">
                        <div ng-repeat="(id, item) in settingsMenu" ng-click="addInput(item, setting.body)" ng-class="{'disabled': addedOneItemInSettings(item, setting.body)}">
                            <button class="btn btn-block btn-default small" ng-disabled="setting.connected_service == ''">{{ item.title }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer bottom-margin">
        <text-angular ng-model="releaseSettings.releaseForm.footer" id="footer" class="release-textarea" ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                    ['ul', 'ol'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight'],
                    ['fontColor', 'fontName', 'fontSize'],
                    ['insertLink', 'insertImage'],
                    ['undo', 'redo', 'clear', 'html']]" ta-unsafe-sanitizer="true" ng-class="{active: modal.showTextareaSettings == 'footer'}" ng-focus="focusedTextArea('footer')" ng-blur="blur()"></text-angular>
        <div class="textarea-settings footer animated fade fadeInLeft" ng-show="modal.showTextareaSettings == 'footer'">
            <div ng-repeat="(id, item) in settingsMenu" ng-click="addInput(item, releaseSettings.releaseForm.footer)" ng-class="{'disabled': addedOneItemInSettings(item, releaseSettings.releaseForm.footer)}">
                <button class="btn btn-block btn-default small">{{ item.title }}</button>
            </div>
        </div>
    </div>
</div>
