<div id="release">
    <!-- header -->
    <div class="row header">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <img ng-src="{{basicSettings.company_logo_url}}">
        </div>
    </div>
    <!-- end header -->
    <!-- content release form -->
    <div class="row">
        <h2 class="btitle">RELEASE FORM</h2>
    </div>
    <div class="row" id="release-block-header">
        <div>
            <div class="margin-bottom paragraph left-offset" ng-if="releaseFormSettings" release-form-parse ng-model="releaseFormSettings.header" index="header" ng-change="saveReleaseData()"></div>
        </div>
    </div>
    <div class="row">
        <h2 class="btitle" ng-if="contractPage.releaseFormOldVersion">PLEASE MARK THE REQUIRED SERVICE/S:</h2>
        <div class="col-md-12 nopadding">
            <!-- sevice -->
            <div ng-if="contractPage.displayHoistingFee">
                <div class="row" id="release-block-hoisting">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <span ng-class="{ 'disabled' :data.releaseData.isSubmitted}">
                        <input ichecks checkstyle="green" type="checkbox" ng-model="releaseService.checkboxItem" class="inline-block pull-left checkbox-release" name="hoisting_service" id="hoisting_service" ng-change="releaseExtraServices();saveReleaseData()">
                    </span> <label>Hoisting Service</label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <div class="pull-right">
                            Cost Of Service: $<input ng-disabled="data.releaseData.isSubmitted" type="number" ng-model="releaseService.cost" ng-change="releaseExtraServices();saveReleaseData()" ng-model-options="{ debounce: 1000 }">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label ng-show="releaseService.description || !data.releaseData.isSubmitted">Item Description:</label>
                        <textarea ng-if="!data.releaseData.isSubmitted" placeholder="Enter description" ng-model="releaseService.description" class="form-control bottom-margin" rows="5" ng-change="saveReleaseData()" ng-model-options="{ debounce: 1000 }"></textarea>
                        <blockquote ng-if="data.releaseData.isSubmitted" style="font-size:14px" ng-show="releaseService.description" ng-bind-html="releaseService.description"></blockquote>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Location:</label> {{releaseService.billing_address}} {{releaseService.billing_city}}, {{releaseService.billing_state}} {{releaseService.billing_zip}}
                        <span tooltip-placement="right" ng-class="{ 'disabled' : data.releaseData.isSubmitted}" tooltip="Change to {{releaseService.take_address}} address" class="address_switcher" style="color: #ADADAD; cursor: pointer;position: absolute; bottom: -2px; margin-left: 10px;" ng-click="switchLocation(releaseService);">
                <i class="fa fa-arrows-h"></i>
                </span>
                    </div>
                </div>
                <hr class="item-line">
            </div>
            <div ng-if="releaseFormSettings" ng-repeat="rf in releaseFormSettings.services track by $index" id="release-block-{{$index}}">
                <div class="row">
                    <div class="sit-block">
                        <div class="row bottom-margin">
                            <div class="col-md-12">
                                <div class="inline-block" ng-if="rf.addCheckbox" ng-class="{ 'disabled' :data.releaseData.isSubmitted}">
                                    <input id="release_{{$index}}" type="checkbox" ichecks checkstyle="green" ng-model="itemsRelease[$index].checkboxItem" ng-change="saveReleaseData()">
                                </div>
                                <label>{{rf.title}}</label>
                            </div>
                        </div>
                        <div release-form-parse class="paragraph left-offset" ng-model="rf.body" index="{{$index}}" ng-change="saveReleaseData()"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Location:</label> {{itemsRelease[$index].billing_address}} {{itemsRelease[$index].billing_city}}, {{itemsRelease[$index].billing_state}} {{itemsRelease[$index].billing_zip}}
                        <span tooltip-placement="right" ng-class="{ 'disabled' : data.releaseData.isSubmitted}" tooltip="Change to {{itemsRelease[$index].take_address}} address" class="address_switcher" style="color: #ADADAD; cursor: pointer;position: absolute; bottom: -2px; margin-left: 10px;" ng-click="switchLocation(itemsRelease[$index]);">
                <i class="fa fa-arrows-h"></i>
                </span>
                    </div>
                </div>
                <hr class="item-line" ng-if="!$last">
            </div>
            <h2 class="btitle"></h2>
            <div class="row" id="release-block-footer">
                <div>
                    <div class="margin-bottom paragraph left-offset" ng-if="releaseFormSettings" release-form-parse ng-model="releaseFormSettings.footer" index="footer" ng-change="saveReleaseData()"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top">
        <div class="col-md-12 text-center">
            <button class="btn btn-lg btn-info" ng-disabled="data.releaseData.isSubmitted" ng-click="submitReleaseData()">Save</button>
        </div>
    </div>
</div>
<signature-modal signature-type="signatureRelease" save-step="saveSignatureRelease()"></signature-modal>
