<div class="request-phone-number-status" ng-switch="phoneStatus" ng-if="smsEnable">
	<div class="request-phone-number-status__default_status" ng-switch-when="1" uib-tooltip="SMS is enabled" tooltip-append-to-body="true">
		SMS
	</div>
	<div class="request-phone-number-status__good-number" ng-switch-when="2" uib-tooltip="The phone number is correct" tooltip-append-to-body="true">
		SMS
	</div>
	<div class="request-phone-number-status__bad_number" ng-switch-when="3" uib-tooltip="The phone number is incorrect" tooltip-append-to-body="true">
		SMS
	</div>
	<div class="request-phone-number-status__unsubscribed" ng-switch-when="4" uib-tooltip="The phone number is correct but the customer don't want to receive sms or balance less than zero" tooltip-append-to-body="true">
		<img src="/moveBoard/content/img/unsubscribe-sms.png" alt="">
	</div>
</div>
