.request-phone-number-status
	margin-left 10px
	position relative
	font-size 15px
	&__good-number
		color green
	&__bad_number
		color red
	&__unsubscribed
		width 30px
		margin-top -5px
	&__default_status
		color gray
