.day-number.peak, li.peak, .ui-datepicker-calendar td.peak a {
  background: #e76a6b; }

#owl-calendar .cal {
  float: left;
  margin-left: 45px;
  min-height: 245px; }

.cal {
  display: block;
  width: 210px; }
  .cal caption {
    display: block;
    font-family: "Open sans";
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #4D9FDF;
    text-align: center;
    background: white;
    margin: 0px !important; }
  .cal th {
    line-height: 20px;
    font-size: 8px;
    color: #4D9FDF;
    font-weight: bold;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 0px; }

cal th, .cal td {
  width: 15%;
  text-align: center;
  padding: 0px; }

.cal td {
  font-size: 11px;
  font-weight: bold; }

.cal th:first-child, .cal td:first-child {
  border-left: 0; }

.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 30px;
  line-height: 28px;
  color: #fff; }

.children.type_popup {
  display: none; }

.calendar-popup .month.ng-scope {
  float: left;
  width: 320px;
  min-height: 280px;
  margin-right: 40px; }
.calendar-popup span.day.SubPeak {
  background: #0a5c89;
  color: white; }
.calendar-popup span.day.Peak {
  background: #f36a13;
  color: white; }
.calendar-popup span.day.Discount {
  background: #1fc5ac; }
.calendar-popup span.day.HighPeak {
  background: #DB2D2D;
  color: white; }
.calendar-popup span.day.Regular {
  background: #4cb1e0;
  color: white; }

.day-number.regular, li.regular, .ui-datepicker-calendar td.Regular a {
  background: #4cb1e0; }

.day-number.peak, li.peak, .ui-datepicker-calendar td.Peak a {
  background: #f36a13; }

.day-number.subpeak, li.subpeak, .ui-datepicker-calendar td.SubPeak a {
  background: #0a5c89; }

.day-number.discount, li.dicount, .ui-datepicker-calendar td.Discount a {
  background: #1fc5ac; }

.day-number.highpeak, li.highPeak, .ui-datepicker-calendar td.HighPeak a {
  background: #DB2D2D; }

.ui-datepicker-buttonpane.ui-widget-content li.type {
  list-style: none;
  float: left;
  margin-left: 4px;
  margin: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0px 10px;
  color: white;
  font-family: "Open sans";
  font-weight: 400;
  font-size: 14px; }

.calendar_settings .clndr-ang .clndr-ang-controls {
  padding: 5px 10px; }

.calendar_settings h1.year {
  text-align: center;
  font-size: 3em;
  margin-bottom: 35px; }

.calendar_settings .clndr-ang .clndr-ang-controls .month {
  display: inline-block;
  width: 160px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative; }

.calendar_settings .month.ng-scope {
  display: inline-block;
  /* margin-left: 10px; */
  margin-right: 50px;
  min-height: 274px; }

.calendar_settings .clndr-ang {
  height: 287px;
  width: 285px;
  font-size: 14px;
  display: inline-block; }

.cal1 .clndr .clndr-controls {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  text-align: center; }

.cal1 .clndr .clndr-controls .month {
  display: inline-block;
  width: 190px;
  text-align: center;
  color: #c1c1c1;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 5px 5px;
  position: relative;
  top: 2px; }

.cal1 .clndr .clndr-controls .clndr-control-button {
  display: inline-block;
  text-align: right; }

.cal1 .clndr .clndr-controls .clndr-control-button.leftalign {
  text-align: left !important; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #C1C1C1; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #f4f4f4;
  padding: 5px 10px; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #C1C1C1; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #f4f4f4;
  padding: 5px 10px; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default; }

.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%; }

.cal1 .clndr .clndr-table .header-days {
  height: 40px;
  font-size: 10px;
  background: #fff; }

.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  color: #666;
  font-size: 14px; }

.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr {
  height: auto; }

.cal1 .clndr .clndr-table tr td {
  vertical-align: top; }

.cal1 .clndr .clndr-table tr .day {
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  width: 100%;
  height: inherit; }

.cal1 .clndr .clndr-table tr .day.inactive {
  background: #ddd; }

.cal1 .clndr .clndr-table tr .day:last-child {
  border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  text-align: center; }

.cal1 .clndr .clndr-table tr .empty, .cal1 .clndr .clndr-table tr .adjacent-month {
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  width: 100%;
  height: inherit; }

.cal1 .clndr .clndr-table tr .empty:last-child, .cal1 .clndr .clndr-table tr .adjacent-month:last-child {
  border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr:last-child .day {
  border-bottom: 0px solid #000000; }

.cal1 .clndr .clndr-table tr:last-child .empty {
  border-bottom: 0px solid #000000; }

.calendar-block {
  background: #fff; }

.event-list-block {
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px; }

.calendar-block .day-contents {
  width: 30px;
  margin: auto; }

.today .day-contents {
  width: 30px;
  background: #1fb0ab;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.calendar-block .day-contents:hover {
  width: 30px;
  background: #1fb0ab;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.cal1 .clndr .clndr-controls {
  display: block !important;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  background: #27B6AF;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  padding: 23px 20px;
  width: auto !important;
  color: #fff; }

.cal1 .clndr .clndr-controls .month span {
  display: block;
  font-size: 30px;
  padding: 0px 10px;
  margin-bottom: 10px; }

.cal1 .clndr .clndr-controls .month {
  color: #fff; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  color: #fff; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #f4f4f4;
  padding: 5px 10px;
  color: #1fb0ab; }

.clndr-previous-button {
  left: 15px;
  top: 25px;
  position: absolute; }

.clndr-next-button {
  right: 15px;
  top: 25px;
  position: absolute; }

.clndr-ang {
  display: block;
  margin: 0 auto; }

.clndr-ang .clndr-ang-controls {
  background: #27B6AF;
  display: block !important;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  padding: 5px 20px;
  width: auto !important;
  color: #fff; }

.clndr-ang .clndr-ang-controls .month {
  display: inline-block;
  width: 190px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative; }

.clndr-ang .clndr-ang-controls .clndr-ang-previous-button {
  right: auto;
  left: 20px;
  top: 10px;
  font-size: 1.7em;
  position: absolute; }

.clndr-ang .clndr-ang-controls .clndr-ang-next-button {
  left: auto;
  right: 20px;
  top: 10px;
  font-size: 1.7em;
  position: absolute; }

.clndr-ang .clndr-ang-controls:hover {
  cursor: pointer; }

.clndr-ang .clndr-ang-grid .days-of-the-week {
  width: 100%; }

.clndr-ang .clndr-ang-grid .days-of-the-week .header-day {
  float: left;
  width: 14.28571%;
  padding: 12px 0;
  text-align: center; }

.clndr-ang .days .day, .clndr-ang .days .empty {
  float: left;
  width: 14.28571%;
  padding: 8px;
  position: relative;
  text-align: center; }

.clndr-ang .days .day.today, .clndr-ang .days .empty.today {
  background: #27B6AF;
  color: #fff; }

.clndr-ang .days .day .event-indicator, .clndr-ang .days .empty .event-indicator {
  background-color: #1F7BB6;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 9px;
  height: 15px;
  line-height: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 15px; }

.clndr-ang .days .day.adjacent-month, .clndr-ang .days .empty.adjacent-month {
  opacity: 0.3; }

div.week {
  width: 100%; }
  div.week span.day {
    width: 14.285%;
    display: inline-block;
    text-align: center; }
    div.week span.day:first-child {
      border-left: none; }
    div.week span.day.today {
      background: #E3F2FF; }
    div.week span.day.different-month {
      color: #C0C0C0 !important;
      background: white !important; }

/*# sourceMappingURL=calendar.css.map */
