
.mobile_home {display:none;
    color: #F48C5D;
    float: right;
    font-size: 29px;
    padding: 5px;
    margin-top: 15px;
    cursor: pointer;
}
@media (max-width: 720px) and (min-width: 220px) {
    .hourly-rates.wow.fadeInLeft {
        height: 100% !important;
        padding-bottom: 50px;
    }
    .mobile_home {display: block;}
    .hourly-rates.wow.fadeInLeft {
        height: 100% !important;
        padding-bottom: 50px;
    }
    .hourly-rates.wow.fadeInLeft h3.title {
        font-size: 19px !important; }

    .flat-rates.wow.fadeInRight {
        height: 100% !important;
        padding-bottom: 50px;

    }
    .storage-info .hourly-rates  {
        padding-bottom: 0px !important;
    }

    .storage-info .bottom-block {
        width:100% !important;
        margin:0px !important;
    }
    section#flat-rate .info-box {
        padding: 0px !important;
    }
    .calendar_button {
        display: none;}

    .ld_map {
        width: 100% !important;
        margin: 0px !important;
    }
    .flat-map.wow.fadeInUp{
        margin-bottom: 0px;
    }

    .after-slide .subnav {display: block !important;}


}

.ratesTable{
    width: 100%;
    margin-bottom: 30px !important;
}
.ratesTable .title {
    text-align: center;
    font-size: 28px;
}
.ratesTable .raterow {
    border-bottom: 1px dotted #BFBFBF;
}

.ratesTable td {
    font-size: 20px;
    font-weight: 400;
    color: black;
    font-family: "Open sans";
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: auto !important;
}
.ratesTable .crossrate {
    color: gray;
    text-decoration: line-through;
    font-size: 16px;
    margin-left: -30px;
}
.ratesTable td.discount,.ratesTable .title.discount {
    color: #1fc5ac;
}
.ratesTable td.regular ,.ratesTable .title.regular {      color: #4cb1e0}
.ratesTable td.subpeak,.ratesTable .title.subpeak{      color: #0a5c89;}
.ratesTable td.peak,.ratesTable .title.peak{        color: #f36a13;}
.ratesTable td.hipeak,.ratesTable .title.hipeak{     color: #DB2D2D;}



