.dropdown-menu {
  position: absolute;
  margin-top: 5px;
  left: -40px;
  top: 35px;
  background-color: #fff;
  border: 1px solid #e0e7e8;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08); }
  .dropdown-menu li {
    float: none !important; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px  !important;
  clear: both;
  font-weight: 400  !important;
  line-height: 1.42857143  !important;
  color: #333  !important;
  white-space: nowrap;
  text-transform: CAPITALIZE !important;
  font-size: 14px !important; }
  .dropdown-menu > li > a:link, .dropdown-menu > li > a:visited {
    text-decoration: none;
    outline: none;
    color: #2e2e32; }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626 !important;
    text-decoration: none !important;
    background-color: #f5f5f5 !important; }

.open > .dropdown-menu {
  display: block !important; }

.dropdown-menu .arrow {
  border-width: 8px;
  z-index: 10; }

.dropdown-menu .arrow,
.dropdown-menu .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.dropdown-menu .arrow:after {
  border-width: 7px;
  content: ""; }

.dropdown-menu .arrow.top {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #eee;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  top: -8px; }

.dropdown-menu .arrow.top:after {
  content: " ";
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #fff; }

/*# sourceMappingURL=dropDownMenu.css.map */
