footer.footer {
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: #888888; }
  footer.footer a {
    color: #bbb3b3; }
    footer.footer a:hover {
      color: #bbb3b3; }
  footer.footer a.policy {
    color: #bbb3b3;
    /* font-weight: 600; */
    font-size: 12px; }
  footer.footer .rightbox {
    color: #bbb3b3; }
  footer.footer .leftbox {
    z-index: 100; }

footer li {
  z-index: 100;
  list-style: none;
  float: left;
  padding-right: 10px;
  /* padding-left: 5px; */
  line-height: 12px;
  margin-right: 10px;
  text-transform: uppercase;
  border-right: 1px solid gray; }
  footer li a {
    color: rgba(243, 106, 19, 0.73) !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px; }
    footer li a:hover {
      color: #f36a13; }

/*# sourceMappingURL=footer.css.map */
