.formText, .moving-form .right-block p {
  font-size: 14px;
  line-height: 20px; }

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
  min-height: 120px;
  position: relative;
  margin: -15px auto;
  width: 100%; }
  #progressbar span.progressline {
    border-bottom: 1px dashed #9a9b9b;
    bottom: 52px;
    content: "";
    left: 11%;
    position: absolute;
    width: 75%; }
  #progressbar li.active {
    color: black;
    font-weight: bold;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none; }
  #progressbar li {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
    width: 24% !important;
    float: left;
    text-align: center;
    height: 110px;
    position: relative; }
  #progressbar .dot {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #9a9b9b;
    border-radius: 25px;
    bottom: -13px;
    content: "";
    height: 26px;
    width: 26px;
    left: 50%;
    top: 50%;
    margin-left: -5.5px;
    position: absolute; }
  #progressbar li.active .dot {
    display: none; }
  #progressbar h2 {
    margin: 0;
    font-size: 16px;
    line-height: 62px;
    font-weight: 300;
    text-transform: uppercase;
    color: #373838; }
  #progressbar .circle {
    position: absolute;
    top: 50%;
    background: #f36a13 url("https://themoveboard.com/elromco/icon-succes.png") no-repeat center center;
    left: 50%;
    margin-left: -20px;
    margin-top: -9px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: none; }
  #progressbar li.active .circle {
    display: block; }

/* ------------------
    Request
--------------------*/
#request {
  margin-bottom: 38px; }
  #request h2 {
    font-size: 28px;
    color: #0a5c89;
    font-weight: 400;
    margin: 25px auto 20px; }
  #request .orange {
    color: #f36a13;
    font-weight: 400; }

.moving-form fieldset .form-block {
  background-color: #ebebeb;
  padding: 10px 15px !important;
  position: relative;
  z-index: -1;
  width: 33%;
  min-height: 575px;
  float: left;
  border: 1px solid #949494;
  margin: 0 1%;
  background-color: #ebebeb; }

.moving-form fieldset label {
  font-size: 14px;
  color: #6a7076;
  font-weight: normal;
  display: block;
  text-align: left;
  margin: 0px; }

.moving-form .left-block {
  width: 32.5%;
  height: 575px;
  border: 1px solid #949494;
  float: left; }
  .moving-form .left-block .title {
    height: 124px;
    background-color: #f36a13;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 54px; }
  .moving-form .left-block .title .fa {
    font-size: 44px;
    float: right;
    margin-right: 24px;
    line-height: 16px; }
  .moving-form .left-block h4 {
    margin: 30px 21px 0px;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #0a5c89; }
  .moving-form .left-block p {
    margin: 10px 21px;
    text-align: left; }
  .moving-form .left-block hr {
    border: 0;
    border-top: 1px dashed #373838;
    margin: 25px 21px 0; }
.moving-form .right-block {
  width: 32.5%;
  height: 575px;
  border: 1px solid #949494;
  z-index: -3;
  position: relative;
  float: right; }
  .moving-form .right-block h4 {
    margin: 15px 20px 0px;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #45aaf9; }
  .moving-form .right-block p {
    margin: 10px 21px;
    text-align: left; }
  .moving-form .right-block hr {
    border: 0;
    border-top: 1px dashed #373838;
    margin: 10px 21px 0; }

.moving-form fieldset {
  margin: 0 auto;
  height: 575px;
  z-index: -1; }
  .moving-form fieldset button#calculate_btn {
    float: left; }
  .moving-form fieldset input, .moving-form fieldset select {
    border: 1px solid darkgray; }
  .moving-form fieldset select#edit-size-move, .moving-form fieldset #edit-type-from, .moving-form fieldset #edit-type-to {
    width: 100%; }
  .moving-form fieldset .form-disabled input {
    background: #f3f3f3;
    pointer-events: none; }

.personal-loading {
  position: absolute;
  bottom: 65px;
  right: 5%; }

.review-loading {
  position: absolute;
  bottom: 65px;
  left: 160px; }

.big-left-block {
  border: 1px solid gray;
  width: 75%;
  height: 575px;
  float: left;
  margin-left: 5px;
  padding: 0px 20px; }
  .big-left-block .four_block {
    float: left;
    width: 28%;
    margin-right: 40px; }
    .big-left-block .four_block input, .big-left-block .four_block select {
      width: 100%; }

.four_block.left-small-block {
  width: 24%;
  padding: 0px 20px;
  height: 575px;
  border: 1px solid #949494;
  float: left;
  background-color: #ebebeb; }
  .four_block.left-small-block label {
    color: black; }
  .four_block.left-small-block input {
    width: 100%; }
  .four_block.left-small-block #request_user_login {
    float: right; }
  .four_block.left-small-block .account_info {
    text-align: left; }
    .four_block.left-small-block .account_info ul {
      padding-left: 20px; }
    .four_block.left-small-block .account_info li {
      list-style: initial;
      line-height: 20px;
      font-size: 14px; }
    .four_block.left-small-block .account_info h2.title {
      font-size: 14px !important;
      font-weight: bold !important;
      text-align: left;
      margin: 0px !important; }

a.request-button.button {
  background-color: #f36a13; }

i.fa.fa-check-circle-o {
  color: #30d730;
  font-size: 36px;
  padding: 0px; }

.calc-confirm.ng-binding {
  color: #676767;
  font-weight: 400; }

.note {
  color: #ff2424;
  font-weight: 400;
  font-size: 14px; }

.left-block.direction_info {
  padding: 20px;
  padding-top: 15px !important; }
  .left-block.direction_info h3 {
    color: #585757;
    font-size: 13px;
    line-height: 10px;
    font-weight: normal;
    letter-spacing: 0px;
    text-transform: Capitalize;
    margin: 0px;
    text-align: left; }
  .left-block.direction_info p.calc_left_info {
    margin: 0px;
    text-align: left;
    padding: 0px;
    line-height: 26px;
    color: #f36a13;
    font-weight: 600;
    font-size: 13px;
    margin: 0px !important; }
  .left-block.direction_info .calc-intro.storage_from {
    padding-bottom: 0px; }
  .left-block.direction_info .calc-intro.storage_to {
    padding-top: 0px;
    margin-top: 10px; }

span.st_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: 18px;
  color: #4a4a4a; }

.from_storage, .to_storage {
  margin-top: 0px;
  position: relative; }
  .from_storage .fa-level-up, .from_storage .fa-level-down, .to_storage .fa-level-up, .to_storage .fa-level-down {
    position: absolute;
    /* top: 0px; */
    margin-top: -30px;
    margin-left: 215px; }
    .from_storage .fa-level-up span, .from_storage .fa-level-down span, .to_storage .fa-level-up span, .to_storage .fa-level-down span {
      font-family: "Open sans";
      font-size: 10px;
      text-transform: UPPERCASE;
      margin-left: -90px;
      font-weight: 600 !important; }

.box_info.total.storage {
  margin-top: 20px;
  border-bottom: none; }

/* ------------------
   FORM INPUTS STYLES
--------------------*/
.form-item .form-select, .form-item .form-text, .form-item .form-textarea {
  padding: 0.2em !important; }

#edit-service {
  width: 100%;
  padding: 2px !important; }

#edit-service:focus, #edit-size-move:focus, #edit-type-from:focus, #edit-type-to:focus {
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8); }

.calc_form .form-item, .calc_form .form-actions {
  text-align: left;
  margin-top: 5px; }

.form-item.form-type-textfield.form-item-Date-Storage-date {
  margin-top: 0px !important;
  margin-bottom: 10px !important; }

.form-item.form-type-date-popup.form-item-Date-Storage {
  margin-bottom: -10px;
  margin-top: 2px; }

.form-item-Type-To {
  margin-top: 0px !important;
  margin-bottom: 20px !important; }

.form-item-Type-From {
  margin-top: 5px !important;
  margin-bottom: 10px !important; }

select#edit-type-from, #edit-type-to {
  padding: 2px !important; }

div#edit-extra-furnished-rooms label {
  font-size: 12px;
  line-height: 18px; }

#edit-extra-furnished-rooms .form-checkbox {
  float: left;
  margin-bottom: 0px;
  margin-right: 5px; }

.moving-form .form-item.form-type-checkbox {
  float: left;
  width: 110px;
  margin-right: 0px;
  line-height: 18px; }

.form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-5 {
  width: 120px; }

.form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-3 {
  margin-left: 25px;
  width: 70px !important; }

.form-item-Extra-Furnished-Rooms-6 {
  width: 110px !important; }

#short-calculator .form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-7 {
  width: 135px; }

.form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-8 {
  width: 75px; }

#short-calculator #edit-date-storage input, #short-calculator .input-group.date, #short-calculator #short-datepicker {
  width: 155px;
  background: #fff url('https://themoveboard.com/elromco/calendaricon.png') no-repeat 130px 7px; }
#short-calculator .three_block.info_block.left-block {
  height: 435px !important;
  width: 50%; }
#short-calculator .left-block .title {
  background-color: white !important;
  color: #f36a13 !important;
  height: 75px !important;
  border-bottom: 1px dotted #d5cccc;
  padding-top: 25px !important;
  font-weight: normal !important; }
#short-calculator .input-group {
  cursor: pointer; }
#short-calculator h3.smcap {
  font-size: 24px !important;
  line-height: 29px !important;
  margin: 0;
  margin-top: 15px;
  color: #0a5c89 !important;
  font-weight: 400 !important; }
#short-calculator .form-type-checkbox label.option {
  color: white; }

.calculate #block-movecalc-moving-form {
  height: 460px; }

#short-calculator .calculate .form-calc .form-group {
  margin-bottom: 15px;
  position: relative; }
#short-calculator .moving-form .left-block p {
  margin: -55px 0px;
  text-align: center;
  font-size: 17px;
  width: 100%;
  color: #f46a13; }
#short-calculator .box_info .calc-intro_description .move-size .desc {
  display: none; }
#short-calculator .form-control {
  border-radius: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 20px;
  height: 32px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none repeat scroll 0 0 white; }
#short-calculator input:active, #short-calculator input:hover, #short-calculator input:focus, #short-calculator select:active, #short-calculator select:hover, #short-calculator select:focus {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 4px #f55e35 !important;
  outline-color: #fe4d4d;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px; }
#short-calculator #edit-service {
  width: 100%;
  padding: 2px !important; }
#short-calculator .moving-form .left-block .title .fa {
  font-size: 25px;
  float: right;
  margin-right: 24px;
  line-height: 22px; }
#short-calculator p.calc-intro_description {
  color: #373838;
  margin-top: 5px;
  margin-bottom: 14px;
  font-size: 14px;
  padding: 0px;
  text-align: left;
  margin: 0px; }

.button_left_position, .btn-default {
  position: absolute;
  bottom: 25px;
  left: 20px; }

.button_right_position, #go-to-info-btn, #submitRequestButton, #edit-go-to-summery {
  position: absolute;
  bottom: 25px;
  right: 20px; }

button#submitRequestButton {
  position: absolute;
  bottom: 25px;
  right: 120px; }

.btn.processing {
  -webkit-transform: translate(0, 3px) !important;
  -moz-transform: translate(0, 3px) !important;
  transform: translate(0, 3px) !important;
  opacity: 0.6;
  pointer-events: none;
  -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.68) !important;
  -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.68) !important;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.68) !important; }

#edit-calculator .form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-5 {
  width: 135px; }

.check_ava_tip:before {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #f36a13;
  left: 44%;
  bottom: -20%;
  z-index: 1;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.check_ava_tip {
  -webkit-box-shadow: rgba(0, 0, 0, 0.49804) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.49804) 0 0 4px;
  position: absolute;
  width: 190px;
  bottom: 75px;
  color: white;
  right: 95px;
  border: 1px solid #F06A28;
  letter-spacing: 0px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  background-color: #f36a13;
  padding: 5px; }

/*# sourceMappingURL=form-style.css.map */
