/* ------------------
    General setting
--------------------*/
.flaticon-livingroom8:before {
  content: "\e00d";
  font-size: 77px; }

.row.withdiscount.ng-scope {
  margin-top: -10px;
  padding-top: 10px !important; }

@media (min-width: 220px) and (max-width: 720px) {
  .container {
    min-width: 200px !important;
    width: auto; }

  .prices-page .row.rates {
    display: none !important; }

  .row.ramobile {
    display: block !important; }

  .services-page section#home {
    display: none; }

  .prices-page section#home {
    display: none; }
  .prices-page #pricing {
    padding-top: 0px !important; }

  .promoText {
    color: white;
    font-size: 12px !important;
    line-height: 11px !important;
    font-weight: normal !important;
    padding: 0px !important;
    margin-top: 0px !important; }

  .col-md-6.col-xs-6.regular {
    font-size: 32px !important; }

  .ui-datepicker-div .type.link {
    display: none; }

  .flogo1 {
    width: 75px !important; }

  .flogo2 {
    width: 125px !important; }

  .flogo3 {
    width: 25px !important; }

  div#request {
    display: none; }

  .row.service-desc {
    display: none; }

  #services .service .title {
    width: 100% !important;
    height: 75px !important;
    padding: 25px !important;
    line-height: inherit !important;
    display: block !important; }

  #services .service .img {
    width: 100% !important; }

  #services .hidden-desc {
    display: block !important; }

  b h3.title {
    font-size: 19px !important; }

  .calculate {
    display: none !important; }

  .cf-form {
    display: block !important; }

  .pricing-table .price {
    margin-top: 24px !important; }

  #storage-rates .hourly-rates .title {
    left: 80px !important;
    font-size: 20px !important; }

  #flat-rate .service.flat {
    width: 100% !important;
    float: none !important; }

  #flat-rate .flat-rates {
    width: 100% !important;
    float: none !important; }

  #flat-rate h4.flat-title span {
    font-size: 15px !important; }

  .monitor {
    display: none; }

  #services .hidden-desc h4 {
    font-size: 13px !important;
    line-height: 12px  !important;
    font-weight: 400;
    margin: 0;
    margin-top: 0px; }

  #pricing p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 13px !important;
    line-height: 22px !important; }

  .storage-info .flat-rates p {
    padding: 15px !important; }

  #pricing .flat-rates .title {
    font-size: 16px !important; }

  #pricing .storage-info .title {
    font-size: 16px !important;
    left: 60px !important;
    width: 260px !important; }

  #pricing .flat-rates .bottom-block {
    font-size: 12px !important; }

  #pricing .hourly-rates .bottom-block {
    font-size: 16px !important; }

  #pricing .hourly-rates .bottom-block {
    position: absolute;
    bottom: -10px;
    background-color: #ffffff;
    color: #f36a13;
    padding-right: 10px;
    width: 285px !important;
    left: 25px !important; }

  .container {
    width: 100%; }

  .mobile {
    display: block !important; }

  button#go-to-info-btn, #back-to-calc-btn {
    display: block; }

  .moving-form fieldset label {
    font-size: 12px !important; }

  .big-left-block.ng-scope {
    background-color: #ebebeb;
    WIDTH: 100%;
    height: 1320px !important; }

  fieldset#edit-personal-info {
    height: 1320px !important; }

  .time_block.dis-1, .four_block.hear_block.dis-1, .four_block.time_block, .four_block.user-info.ng-scope {
    width: 100% !important; }

  #navigation .header-contact .number {
    color: #f36a13;
    font-size: 12px !important; }

  div#confirmation_block {
    height: 900px !important; }

  #navigation .header-contact {
    margin: 10px 0px 0 !important; }

  .mobile.loged-user-block.ng-scope {
    display: block;
    width: 100%; }
    .mobile.loged-user-block.ng-scope .four_block.user-info {
      width: 100% !important; }

  div#pref_popup {
    width: 85% !important;
    margin: 0 auto !important; }
    div#pref_popup .md-pop-6 {
      width: 100% !important; }
    div#pref_popup .md-pop-2, div#pref_popup .info.md-pop-4 {
      display: none; }

  .four_block.left-small-block.ng-scope {
    display: none; }

  #block-movecalc-moving-form {
    height: 1320px !important; }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px !important; }

  ul#nav {
    display: none; }

  #short-calculator .three_block.info_block.left-block {
    display: none; }

  #home .calculate {
    width: 100% !important;
    height: 530px; }

  #pricing .hourly-rates .title {
    font-size: 20px; }

  .hourly-rates {
    width: 100% !important; }

  .flat-rates.wow.fadeInRight {
    width: 100% !important;
    margin-top: 70px; }

  #services .service {
    width: 100% !important; }

  .reviews-text {
    height: auto !important; }

  .statistic .col-xs-4 {
    width: 100% !important;
    margin-bottom: 30px; }

  #pricing .hourly-rates .sub-title {
    padding-left: 20% !important;
    text-align: left; }

  #services .lear-more {
    margin: 30px 0 0px; }

  #pricing .hourly-rates .price, #pricing .flat-rates .price {
    padding-left: 50% !important; }

  .calculate .form-calc {
    background: none;
    float: none !important;
    display: block !important;
    width: 320px;
    margin: 0 auto !important; }

  #pricing .hourly-rates .title {
    position: absolute;
    top: -28px;
    left: 29% !important; }

  .slide .calculate h1 {
    font-size: 24px !important; }

  .footer .rightbox {
    display: none; }
  .footer .leftbox {
    width: 100% !important;
    text-align: left; }

  #request h2 span {
    display: block; }
  #request .three_block.info_block.left-block {
    display: none; }
  #request .three_block.right-block {
    width: 100%;
    margin-top: 30px; }
  #request .three_block.form-block {
    width: 100% !important; }
  #request #progressbar {
    display: none; }
  #request .three_block.left-block.direction_info {
    display: none; }
  #request .four_block.block_from.dis-1 {
    width: 100%; } }
.mobile {
  display: none; }

@media (max-width: 1080px) and (min-width: 720px) {
  .cf-form {
    display: none !important; }

  .container {
    min-width: 1200px !important;
    width: 1200px; }

  #wrapper {
    min-width: 1200px  !important; }

  section#reviews, section#home, footer.footer, section#social {
    min-width: 1270px; }

  #navigation .header-contact {
    margin: 10px 0px !important; }

  .big-left-block .four_block {
    float: left;
    width: 28%;
    margin-right: 5% !important; }

  #navigation #nav a {
    font-size: 12px !important; } }
@media (max-width: 1280px) and (min-width: 1080px) {
  .container {
    min-width: 1200px !important;
    width: 1200px; }

  .cf-form {
    display: none !important; }

  #wrapper {
    min-width: 1200px  !important; }

  .monitor.smaller {
    display: block !important; }

  #navigation #nav a {
    font-size: 14px !important; }

  #navigation .header-contact {
    margin: 10px 0px 0 !important; }

  .four_block.left-small-block .account_info h2.title {
    font-size: 13px !important;
    font-weight: bold !important;
    text-align: left;
    margin: 0px !important;
    line-height: 18px; } }
.promoText {
  color: white;
  font-family: 'OPen sans';
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase; }

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300; }

body {
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: 66px;
  line-height: 72px;
  margin-top: 48px;
  margin-bottom: 24px; }

h2 {
  font-size: 41px;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px; }

h3 {
  font-size: 26px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px; }

h4 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px; }

p, ul, ol, pre, table, blockquote {
  margin-top: 12px;
  margin-bottom: 12px; }

hr {
  border: 1px solid;
  margin: -1px 0; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: 1; }

table {
  margin: 0;
  padding: 0; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  top: 0.4em; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #373838; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #373838;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #373838;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #373838; }

a {
  text-decoration: none;
  outline: none; }

a:hover, a:visited, a:focus, a:active {
  text-decoration: none;
  outline: none; }

.clearfix {
  clear: both; }

.container {
  padding-right: 0px;
  padding-left: 0px; }

.hover-animate {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.font-weight-m {
  font-weight: 500; }

.social ul {
  padding: 0;
  margin: 12px 0; }

.social li {
  display: inline-block;
  list-style: none; }

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.border-top {
  border-top-width: 1px;
  border-top-style: solid; }

.border-left {
  border-left-width: 1px;
  border-left-style: solid; }

.border-right {
  border-right-width: 1px;
  border-right-style: solid; }

.padding-block {
  padding-top: 48px;
  padding-bottom: 48px; }

.btn-blue {
  background-color: #004a80;
  color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
  line-height: 24px;
  padding: 5px 40px 5px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer; }
  .btn-blue:hover {
    background-color: #0762A5; }

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  color: #ffffff; }

select + i {
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

#wrapper {
  margin-top: 70px; }

.disabled {
  opacity: 0.4;
  background: #CECECE;
  pointer-events: none; }

.overlay-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; }

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 900;
  color: #ce4233;
  font-family: "Open sans";
  font-size: 15px; }
  .loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ce4233;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out; }
  .loader::before {
    top: 0; }
  .loader::after {
    bottom: 0; }

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px; }
  50% {
    height: 8px;
    width: 40px; }
  100% {
    left: 235px;
    height: 30px;
    width: 15px; } }
.ramobile {
  display: none; }

/*# sourceMappingURL=global.css.map */
