.form-item.form-type-date-popup.form-item-Move-Date {
  float: left;
  width: 48.5%;
  margin-right: 1%; }

#edit-move-date-datepicker-short, input#edit-move-date-datepicker-popup-0, input#edit-move-date-datepicker-popup-1, #edit-date-storage input {
  /* width: 170px; */
  width: 100%;
  cursor: pointer;
  background: #fff url('https://themoveboard.com/elromco/calendaricon.png') no-repeat 95% 50%; }

.form-item-Service {
  float: left;
  width: 48.5%; }

.form-item-Zip-Code-From {
  float: left;
  margin-right: 1%;
  width: 48.5%; }

.form-item-Zip-Code-To {
  float: left;
  width: 48.5%; }

.form-item-Zip-Code-To {
  margin-left: 1%; }

.form-item-Zip-Code-From input, .form-item-Zip-Code-To input {
  width: 100%; }

.calc-intro-info h1 {
  margin: 0px;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  z-index: -2;
  position: relative;
  margin-left: 20px; }

/*# sourceMappingURL=movecalc.css.map */
