.ng-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 3000px;
  left: 0;
  padding-bottom: 70px;
  background: white;
  z-index: 250;
  overflow-y: scroll; }
  .ng-overlay h2 {
    font-size: 28px;
    text-transform: uppercase; }
  .ng-overlay li {
    list-style: none;
    text-align: center; }
  .ng-overlay h3 {
    font-size: 22px !important; }
  .ng-overlay .content {
    width: 100%; }
  .ng-overlay i.overlay-close {
    /* float: Right; */
    margin-top: 3%;
    margin-right: 2%;
    cursor: pointer;
    position: absolute;
    right: 10px; }
  .ng-overlay li.type {
    margin-bottom: 5px;
    color: white;
    width: 100px;
    margin: 0 auto;
    /* padding-bottom: 11px; */ }

/*# sourceMappingURL=overlay.css.map */
