div.saleslog {
  background: #F0F3F3;
  width: 650px;
  position: fixed;
  top: 185px;
  z-index: 1002;
  left: -650px;
  box-shadow: 1px 2px 1px #C9C9C9;
  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
  div.saleslog h4 {
    background-color: #1D212A;
    color: #fff;
    padding: 2px 0 5px 00px;
    margin: 0;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    text-transform: UPPERCASE; }
    div.saleslog h4 a {
      background-color: #1D212A;
      display: block;
      height: 37px;
      position: absolute;
      right: -40px;
      top: 0;
      width: 40px;
      font-size: 17px;
      line-height: 40px;
      color: #FFF;
      text-align: center;
      text-decoration: none;
      border-radius: 0px 5px 5px 0px; }
  div.saleslog .log-content {
    padding: 0px 60px; }

div#saleslog.logopen {
  left: 0px !important; }

div#saleslog.logclose {
  left: -650px !important; }

/*# sourceMappingURL=salesLog.css.map */
