/* ------------------
    General setting
--------------------*/
.flaticon-livingroom8:before {
  content: "\e00d";
  font-size: 77px; }
div#sf-move-size {

    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
}
.row.withdiscount.ng-scope {
  margin-top: -10px;
  padding-top: 10px !important; }

@media (min-width: 220px) and (max-width: 720px) {

    .sf-calculate-wrapper {
        width: 100% !important;
        left: 0% !important;;
    }

    .navbar-fixed-top {
        position: absolute !important;;
    }
  .slide {
    background-position-y: 0px !important;
    background-position-x: -240px !important;

  }

  .container {
    min-width: 200px !important;
    width: auto; }

  .prices-page .row.rates {
    display: none !important; }

  .row.ramobile {
    display: block !important; }

  .services-page section#home {
    display: none; }

  .prices-page section#home {
    display: none; }
  .prices-page #pricing {
    padding-top: 0px !important; }

  .promoText {
    color: white;
    font-size: 12px !important;
    line-height: 11px !important;
    font-weight: normal !important;
    padding: 0px !important;
    margin-top: 0px !important; }

  .col-md-6.col-xs-6.regular {
    font-size: 32px !important; }

  .ui-datepicker-div .type.link {
    display: none; }

  .flogo1 {
    width: 75px !important; }

  .flogo2 {
    width: 125px !important; }

  .flogo3 {
    width: 25px !important; }

  div#request {
    display: none; }

  .row.service-desc {
    display: none; }

  #services .service .title {
    width: 100% !important;
    height: 75px !important;
    padding: 25px !important;
    line-height: inherit !important;
    display: block !important; }

  #services .service .img {
    width: 100% !important; }

  #services .hidden-desc {
    display: block !important; }

  b h3.title {
    font-size: 19px !important; }


  .cf-form {
    display: block !important; }

  .pricing-table .price {
    margin-top: 24px !important; }

  #storage-rates .hourly-rates .title {
    left: 80px !important;
    font-size: 20px !important; }

  #flat-rate .service.flat {
    width: 100% !important;
    float: none !important; }

  #flat-rate .flat-rates {
    width: 100% !important;
    float: none !important; }

  #flat-rate h4.flat-title span {
    font-size: 15px !important; }

  .monitor {
    display: none; }

  #services .hidden-desc h4 {
    font-size: 13px !important;
    line-height: 12px  !important;
    font-weight: 400;
    margin: 0;
    margin-top: 0px; }

  #pricing p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 13px !important;
    line-height: 22px !important; }

  .storage-info .flat-rates p {
    padding: 15px !important; }

  #pricing .flat-rates .title {
    font-size: 16px !important; }

  #pricing .storage-info .title {
    font-size: 16px !important;
    left: 60px !important;
    width: 260px !important; }

  #pricing .flat-rates .bottom-block {
    font-size: 12px !important; }

  #pricing .hourly-rates .bottom-block {
    font-size: 16px !important; }

  #pricing .hourly-rates .bottom-block {
    position: absolute;
    bottom: -10px;
    background-color: #ffffff;
    color: #f36a13;
    padding-right: 10px;
    width: 285px !important;
    left: 25px !important; }

  .container {
    width: 100%; }

  .mobile {
    display: block !important; }

  button#go-to-info-btn, #back-to-calc-btn {
    display: block; }

  .moving-form fieldset label {
    font-size: 12px !important; }

  .big-left-block.ng-scope {
    background-color: #ebebeb;
    WIDTH: 100%;
    height: 1320px !important; }

  fieldset#edit-personal-info {
    height: 1320px !important; }

  .time_block.dis-1, .four_block.hear_block.dis-1, .four_block.time_block, .four_block.user-info.ng-scope {
    width: 100% !important; }

  #navigation .header-contact .number {
    color: #f36a13;
    font-size: 12px !important; }

  div#confirmation_block {
    height: 900px !important; }

  #navigation .header-contact {
    margin: 10px 0px 0 !important; }

  .mobile.loged-user-block.ng-scope {
    display: block;
    width: 100%; }
    .mobile.loged-user-block.ng-scope .four_block.user-info {
      width: 100% !important; }

  div#pref_popup {
    width: 85% !important;
    margin: 0 auto !important; }
    div#pref_popup .md-pop-6 {
      width: 100% !important; }
    div#pref_popup .md-pop-2, div#pref_popup .info.md-pop-4 {
      display: none; }

  .four_block.left-small-block.ng-scope {
    display: none; }

  #block-movecalc-moving-form {
    height: 1320px !important; }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px !important; }

  ul#nav {
    display: none; }

  #short-calculator .three_block.info_block.left-block {
    display: none; }

  #home .calculate {
    width: 100% !important;
    height: 530px; }

  #pricing .hourly-rates .title {
    font-size: 20px; }

  .hourly-rates {
    width: 100% !important; }

  .flat-rates.wow.fadeInRight {
    width: 100% !important;
    margin-top: 70px; }

  #services .service {
    width: 100% !important; }

  .reviews-text {
    height: auto !important; }

  .statistic .col-xs-4 {
    width: 100% !important;
    margin-bottom: 30px; }

  #pricing .hourly-rates .sub-title {
    padding-left: 20% !important;
    text-align: left; }

  #services .lear-more {
    margin: 30px 0 0px; }

  #pricing .hourly-rates .price, #pricing .flat-rates .price {
    padding-left: 50% !important; }

  .calculate .form-calc {
    background: none;
    float: none !important;
    display: block !important;
    width: 320px;
    margin: 0 auto !important; }

  #pricing .hourly-rates .title {
    position: absolute;
    top: -28px;
    left: 29% !important; }

  .slide .calculate h1 {
    font-size: 24px !important; }

  .footer .rightbox {
    display: none; }
  .footer .leftbox {
    width: 100% !important;
    text-align: left; }

  #request h2 span {
    display: block; }
  #request .three_block.info_block.left-block {
    display: none; }
  #request .three_block.right-block {
    width: 100%;
    margin-top: 30px; }
  #request .three_block.form-block {
    width: 100% !important; }
  #request #progressbar {
    display: none; }
  #request .three_block.left-block.direction_info {
    display: none; }
  #request .four_block.block_from.dis-1 {
    width: 100%; } }
.mobile {
  display: none; }

@media (max-width: 1080px) and (min-width: 720px) {
  .cf-form {
    display: none !important; }

  .container {
    min-width: 1200px !important;
    width: 1200px; }

  #wrapper {
    min-width: 1200px  !important; }

  section#reviews, section#home, footer.footer, section#social {
    min-width: 1270px; }

  #navigation .header-contact {
    margin: 10px 0px !important; }

  .big-left-block .four_block {
    float: left;
    width: 28%;
    margin-right: 5% !important; }

  #navigation #nav a {
    font-size: 12px !important; } }
@media (max-width: 1280px) and (min-width: 1080px) {
  .container {
    min-width: 1200px !important;
    width: 1200px; }

  .cf-form {
    display: none !important; }

  #wrapper {
    min-width: 1200px  !important; }

  .monitor.smaller {
    display: block !important; }

  #navigation #nav a {
    font-size: 14px !important; }

  #navigation .header-contact {
    margin: 10px 0px 0 !important; }

  .four_block.left-small-block .account_info h2.title {
    font-size: 13px !important;
    font-weight: bold !important;
    text-align: left;
    margin: 0px !important;
    line-height: 18px; } }
.promoText {
  color: white;
  font-family: 'OPen sans';
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase; }

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300; }

body {
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: 66px;
  line-height: 72px;
  margin-top: 48px;
  margin-bottom: 24px; }

h2 {
  font-size: 41px;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 24px; }

h3 {
  font-size: 26px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px; }

h4 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px; }

p, ul, ol, pre, table, blockquote {
  margin-top: 12px;
  margin-bottom: 12px; }

hr {
  border: 1px solid;
  margin: -1px 0; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: 1; }

table {
  margin: 0;
  padding: 0; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  top: 0.4em; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #373838; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #373838;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #373838;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #373838; }

a {
  text-decoration: none;
  outline: none; }

a:hover, a:visited, a:focus, a:active {
  text-decoration: none;
  outline: none; }

.clearfix {
  clear: both; }

.container {
  padding-right: 0px;
  padding-left: 0px; }

.hover-animate {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.font-weight-m {
  font-weight: 500; }

.social ul {
  padding: 0;
  margin: 12px 0; }

.social li {
  display: inline-block;
  list-style: none; }

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.border-top {
  border-top-width: 1px;
  border-top-style: solid; }

.border-left {
  border-left-width: 1px;
  border-left-style: solid; }

.border-right {
  border-right-width: 1px;
  border-right-style: solid; }

.padding-block {
  padding-top: 48px;
  padding-bottom: 48px; }

.btn-blue {
  background-color: #004a80;
  color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
  line-height: 24px;
  padding: 5px 40px 5px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer; }
  .btn-blue:hover {
    background-color: #0762A5; }

.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
  color: #ffffff; }

select + i {
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

#wrapper {
  margin-top: 70px; }

.disabled {
  opacity: 0.4;
  background: #CECECE;
  pointer-events: none; }

.overlay-loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

}

.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 900;
  color: #ce4233;
  font-family: "Open sans";
  font-size: 15px; }
  .loader::before, .loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ce4233;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out; }
  .loader::before {
    top: 0; }
  .loader::after {
    bottom: 0; }

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px; }
  50% {
    height: 8px;
    width: 40px; }
  100% {
    left: 235px;
    height: 30px;
    width: 15px; } }
.ramobile {
  display: none; }

footer.footer {
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  color: #888888; }
  footer.footer a {
    color: #bbb3b3; }
    footer.footer a:hover {
      color: #bbb3b3; }
  footer.footer a.policy {
    color: #bbb3b3;
    /* font-weight: 600; */
    font-size: 12px; }
  footer.footer .rightbox {
    color: #bbb3b3; }
  footer.footer .leftbox {
    z-index: 100; }

footer li {
  z-index: 100;
  list-style: none;
  float: left;
  padding-right: 10px;
  /* padding-left: 5px; */
  line-height: 12px;
  margin-right: 10px;
  text-transform: uppercase;
  border-right: 1px solid gray; }
  footer li a {
    color: rgba(243, 106, 19, 0.73) !important;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px; }
    footer li a:hover {
      color: #f36a13; }

.ng-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 3000px;
  left: 0;
  padding-bottom: 70px;
  background: white;
  z-index: 250;
  overflow-y: scroll; }
  .ng-overlay h2 {
    font-size: 28px;
    text-transform: uppercase; }
  .ng-overlay li {
    list-style: none;
    text-align: center; }
  .ng-overlay h3 {
    font-size: 22px !important; }
  .ng-overlay .content {
    width: 100%; }
  .ng-overlay i.overlay-close {
    /* float: Right; */
    margin-top: 3%;
    margin-right: 2%;
    cursor: pointer;
    position: absolute;
    right: 10px; }
  .ng-overlay li.type {
    margin-bottom: 5px;
    color: white;
    width: 100px;
    margin: 0 auto;
    /* padding-bottom: 11px; */ }

.day-number.peak, li.peak, .ui-datepicker-calendar td.peak a {
  background: #e76a6b; }

#owl-calendar .cal {
  float: left;
  margin-left: 45px;
  min-height: 245px; }

.cal {
  display: block;
  width: 210px; }
  .cal caption {
    display: block;
    font-family: "Open sans";
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #4D9FDF;
    text-align: center;
    background: white;
    margin: 0px !important; }
  .cal th {
    line-height: 20px;
    font-size: 8px;
    color: #4D9FDF;
    font-weight: bold;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 0px; }

cal th, .cal td {
  width: 15%;
  text-align: center;
  padding: 0px; }

.cal td {
  font-size: 11px;
  font-weight: bold; }

.cal th:first-child, .cal td:first-child {
  border-left: 0; }

.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 30px;
  line-height: 28px;
  color: #fff; }

.children.type_popup {
  display: none; }

.calendar-popup .month.ng-scope {
  float: left;
  width: 320px;
  min-height: 280px;
  margin-right: 40px; }
.calendar-popup span.day.SubPeak {
  background: #0a5c89;
  color: white; }
.calendar-popup span.day.Peak {
  background: #f36a13;
  color: white; }
.calendar-popup span.day.Discount {
  background: #1fc5ac; }
.calendar-popup span.day.HighPeak {
  background: #DB2D2D;
  color: white; }
.calendar-popup span.day.Regular {
  background: #4cb1e0;
  color: white; }

.day-number.regular, li.regular, .ui-datepicker-calendar td.Regular a {
  background: #4cb1e0; }

.day-number.peak, li.peak, .ui-datepicker-calendar td.Peak a {
  background: #f36a13; }

.day-number.subpeak, li.subpeak, .ui-datepicker-calendar td.SubPeak a {
  background: #0a5c89; }

.day-number.discount, li.dicount, .ui-datepicker-calendar td.Discount a {
  background: #1fc5ac; }

.day-number.highpeak, li.highPeak, .ui-datepicker-calendar td.HighPeak a {
  background: #DB2D2D; }

.ui-datepicker-buttonpane.ui-widget-content li.type {
  list-style: none;
  float: left;
  margin-left: 4px;
  margin: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0px 10px;
  color: white;
  font-family: "Open sans";
  font-weight: 400;
  font-size: 14px; }

.calendar_settings .clndr-ang .clndr-ang-controls {
  padding: 5px 10px; }

.calendar_settings h1.year {
  text-align: center;
  font-size: 3em;
  margin-bottom: 35px; }

.calendar_settings .clndr-ang .clndr-ang-controls .month {
  display: inline-block;
  width: 160px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative; }

.calendar_settings .month.ng-scope {
  display: inline-block;
  /* margin-left: 10px; */
  margin-right: 50px;
  min-height: 274px; }

.calendar_settings .clndr-ang {
  height: 287px;
  width: 285px;
  font-size: 14px;
  display: inline-block; }

.cal1 .clndr .clndr-controls {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  text-align: center; }

.cal1 .clndr .clndr-controls .month {
  display: inline-block;
  width: 190px;
  text-align: center;
  color: #c1c1c1;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 5px 5px;
  position: relative;
  top: 2px; }

.cal1 .clndr .clndr-controls .clndr-control-button {
  display: inline-block;
  text-align: right; }

.cal1 .clndr .clndr-controls .clndr-control-button.leftalign {
  text-align: left !important; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #C1C1C1; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #f4f4f4;
  padding: 5px 10px; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #C1C1C1; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #f4f4f4;
  padding: 5px 10px; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default; }

.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width: 100%; }

.cal1 .clndr .clndr-table .header-days {
  height: 40px;
  font-size: 10px;
  background: #fff; }

.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  color: #666;
  font-size: 14px; }

.cal1 .clndr .clndr-table .header-days .header-day:last-child {
  border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr {
  height: auto; }

.cal1 .clndr .clndr-table tr td {
  vertical-align: top; }

.cal1 .clndr .clndr-table tr .day {
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  width: 100%;
  height: inherit; }

.cal1 .clndr .clndr-table tr .day.inactive {
  background: #ddd; }

.cal1 .clndr .clndr-table tr .day:last-child {
  border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  text-align: center; }

.cal1 .clndr .clndr-table tr .empty, .cal1 .clndr .clndr-table tr .adjacent-month {
  border-left: 0px solid #000000;
  border-top: 0px solid #000000;
  width: 100%;
  height: inherit; }

.cal1 .clndr .clndr-table tr .empty:last-child, .cal1 .clndr .clndr-table tr .adjacent-month:last-child {
  border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr:last-child .day {
  border-bottom: 0px solid #000000; }

.cal1 .clndr .clndr-table tr:last-child .empty {
  border-bottom: 0px solid #000000; }

.calendar-block {
  background: #fff; }

.event-list-block {
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px; }

.calendar-block .day-contents {
  width: 30px;
  margin: auto; }

.today .day-contents {
  width: 30px;
  background: #1fb0ab;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.calendar-block .day-contents:hover {
  width: 30px;
  background: #1fb0ab;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.cal1 .clndr .clndr-controls {
  display: block !important;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  background: #27B6AF;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  padding: 23px 20px;
  width: auto !important;
  color: #fff; }

.cal1 .clndr .clndr-controls .month span {
  display: block;
  font-size: 30px;
  padding: 0px 10px;
  margin-bottom: 10px; }

.cal1 .clndr .clndr-controls .month {
  color: #fff; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  color: #fff; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #f4f4f4;
  padding: 5px 10px;
  color: #1fb0ab; }

.clndr-previous-button {
  left: 15px;
  top: 25px;
  position: absolute; }

.clndr-next-button {
  right: 15px;
  top: 25px;
  position: absolute; }

.clndr-ang {
  display: block;
  margin: 0 auto; }

.clndr-ang .clndr-ang-controls {
  background: #27B6AF;
  display: block !important;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  padding: 5px 20px;
  width: auto !important;
  color: #fff; }

.clndr-ang .clndr-ang-controls .month {
  display: inline-block;
  width: 190px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative; }

.clndr-ang .clndr-ang-controls .clndr-ang-previous-button {
  right: auto;
  left: 20px;
  top: 10px;
  font-size: 1.7em;
  position: absolute; }

.clndr-ang .clndr-ang-controls .clndr-ang-next-button {
  left: auto;
  right: 20px;
  top: 10px;
  font-size: 1.7em;
  position: absolute; }

.clndr-ang .clndr-ang-controls:hover {
  cursor: pointer; }

.clndr-ang .clndr-ang-grid .days-of-the-week {
  width: 100%; }

.clndr-ang .clndr-ang-grid .days-of-the-week .header-day {
  float: left;
  width: 14.28571%;
  padding: 12px 0;
  text-align: center; }

.clndr-ang .days .day, .clndr-ang .days .empty {
  float: left;
  width: 14.28571%;
  padding: 8px;
  position: relative;
  text-align: center; }

.clndr-ang .days .day.today, .clndr-ang .days .empty.today {
  background: #27B6AF;
  color: #fff; }

.clndr-ang .days .day .event-indicator, .clndr-ang .days .empty .event-indicator {
  background-color: #1F7BB6;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  font-size: 9px;
  height: 15px;
  line-height: 16px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 15px; }

.clndr-ang .days .day.adjacent-month, .clndr-ang .days .empty.adjacent-month {
  opacity: 0.3; }

div.week {
  width: 100%; }
  div.week span.day {
    width: 14.285%;
    display: inline-block;
    text-align: center; }
    div.week span.day:first-child {
      border-left: none; }
    div.week span.day.today {
      background: #E3F2FF; }
    div.week span.day.different-month {
      color: #C0C0C0 !important;
      background: white !important; }

.package-table th.title {
  text-align: center;
  font-weight: 600;
  font-size: 14px; }
.package-table th.boxes, .package-table th.size {
  width: 175px; }
.package-table th.price {
  width: 90px; }
.package-table td.price {
  text-align: center; }
.package-table thead tr {
  background-color: #f47313;
  color: white;
  font-weight: 600;
  font-weight: bold; }
.package-table tbody tr {
  border-bottom: 2px solid orange;
  background-color: #ffcaa9; }
.package-table tr.odd td {
  border-left: 2px solid orange; }
.package-table tbody th {
  font-weight: 600;
  font-size: 14px; }

.package tbody {
  border-bottom: 2px solid orange; }
  .package tbody tr {
    height: 39px; }
.package tr.odd {
  /* border-bottom: 2px solid orange; */
  background-color: #ffedcd; }
.package thead tr th {
  font-weight: bold;
  color: orange; }
.package .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #f36a13; }

.dropdown-menu {
  position: absolute;
  margin-top: 5px;
  left: -40px;
  top: 35px;
  background-color: #fff;
  border: 1px solid #e0e7e8;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08); }
  .dropdown-menu li {
    float: none !important; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px  !important;
  clear: both;
  font-weight: 400  !important;
  line-height: 1.42857143  !important;
  color: #333  !important;
  white-space: nowrap;
  text-transform: CAPITALIZE !important;
  font-size: 14px !important; }
  .dropdown-menu > li > a:link, .dropdown-menu > li > a:visited {
    text-decoration: none;
    outline: none;
    color: #2e2e32; }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626 !important;
    text-decoration: none !important;
    background-color: #f5f5f5 !important; }

.open > .dropdown-menu {
  display: block !important; }

.dropdown-menu .arrow {
  border-width: 8px;
  z-index: 10; }

.dropdown-menu .arrow,
.dropdown-menu .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.dropdown-menu .arrow:after {
  border-width: 7px;
  content: ""; }

.dropdown-menu .arrow.top {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #eee;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  top: -8px; }

.dropdown-menu .arrow.top:after {
  content: " ";
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #fff; }

div.saleslog {
  background: #F0F3F3;
  width: 650px;
  position: fixed;
  top: 185px;
  z-index: 1002;
  left: -650px;
  box-shadow: 1px 2px 1px #C9C9C9;
  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
  div.saleslog h4 {
    background-color: #1D212A;
    color: #fff;
    padding: 2px 0 5px 00px;
    margin: 0;
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    text-transform: UPPERCASE; }
    div.saleslog h4 a {
      background-color: #1D212A;
      display: block;
      height: 37px;
      position: absolute;
      right: -40px;
      top: 0;
      width: 40px;
      font-size: 17px;
      line-height: 40px;
      color: #FFF;
      text-align: center;
      text-decoration: none;
      border-radius: 0px 5px 5px 0px; }
  div.saleslog .log-content {
    padding: 0px 60px; }

div#saleslog.logopen {
  left: 0px !important; }

div#saleslog.logclose {
  left: -650px !important; }

.form-item.form-type-date-popup.form-item-Move-Date {
  float: left;
  width: 48.5%;
  margin-right: 1%; }

#edit-move-date-datepicker-short, input#edit-move-date-datepicker-popup-0, input#edit-move-date-datepicker-popup-1, #edit-date-storage input {
  /* width: 170px; */
  width: 100%;
  cursor: pointer;
  background: #fff url('https://themoveboard.com/elromco/calendaricon.png') no-repeat 95% 50%; }

.form-item-Service {
  float: left;
  width: 48.5%; }

.form-item-Zip-Code-From {
  float: left;
  margin-right: 1%;
  width: 48.5%; }

.form-item-Zip-Code-To {
  float: left;
  width: 48.5%; }

.form-item-Zip-Code-To {
  margin-left: 1%; }

.form-item-Zip-Code-From input, .form-item-Zip-Code-To input {
  width: 100%; }

.calc-intro-info h1 {
  margin: 0px;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  z-index: -2;
  position: relative;
  margin-left: 20px; }

.intro-started .main-nav, .intro-started .slide {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 1s,1s;
  transition-property: opacity,transform;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95), cubic-bezier(0.39, 0.575, 0.565, 1); }

.slide, .main-nav {
  opacity: 0; }

.boxleft, #pricing .hourly-rates {
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  width: 49.5%;
  height: 350px;
  float: left; }

.boxright, #pricing .flat-rates {
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  width: 49.5%;
  height: 350px;
  float: right; }

.boxtitle, #pricing .hourly-rates .title, #pricing .flat-rates .title {
  background-color: #ffffff;
  color: #f36a13;
  margin: 0;
  font-weight: 400;
  font-size: 28px;
  padding: 0 10px; }

.boxsub-title, #pricing .hourly-rates .sub-title, #pricing .flat-rates .sub-title {
  font-size: 17px;
  font-weight: 400;
  color: #373838; }

.section-title, #services h3, #flat-rate h3 {
  font-size: 28px;
  color: #0a5c89;
  margin: 0px;
  font-weight: 400;
  text-transform: uppercase; }

/* ------------------
    Header
--------------------*/
#navigation {
  height: 70px;
  width: 100%;
  background-color: #ffffff; }
  #navigation .logo1 {
    margin: 0px 10px;
    display: block;
    float: left; }
  #navigation a.logo1 img {
    width: 110px;
    margin-top: 2px;
    margin-left: 10px; }
  #navigation .main-nav {
    float: right; }
  #navigation .header-contact {
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #0a5c89;
    display: block;
    margin: 10px 15px 0; }
    #navigation .header-contact .number {
      color: #f36a13;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none; }
  #navigation #nav {
    margin-top: 10px; }
    #navigation #nav li {
      float: left; }
    #navigation #nav .userlogin {
      margin-left: 72px; }
    #navigation #nav .current a {
      border-bottom: 1px solid #b0b0b0; }
    #navigation #nav a {
      font-size: 18px;
      font-weight: 300;
      color: #0a5c89;
      text-transform: uppercase;
      text-decoration: none; }
      #navigation #nav a:hover {
        background: none; }

/* ------------------
    Slide
--------------------*/
.prices-page .slide {
  background-image: url("../img/slide_bg.png");
  background-position-y: 0px; }

.services-page .slide {
  background-image: url("../img/sales.JPG");
  background-position-y: -295px; }

.slide {
  background-image: url("../img/sales.JPG");
  background-position-y: -270px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  width: 100%;
  margin-bottom: 0px;
  position: relative; }

.slide .calculate {
  background-color: rgba(0, 37, 57, 0.4);
  border: 1px solid rgba(78, 105, 120, 0.2);
  display: block;
  top: 0px;
  position: relative;
  width: 400px; }

.slide .calculate h1 {
  color: #ffffff;
  font-size: 32px;
  margin: 10px 0px;
  line-height: 48px;
  display: block;
  text-align: center; }

.calculate .left-info {
  width: 400px;
  background-color: #ffffff;
  padding: 32px 36px 12px;
  margin-bottom: 50px;
  font-family: "Open Sans", Helvetica Neue, sans-serif;
  float: left; }

.form-group.form-item-Extra-Furnished-Rooms {
  margin-top: -10px; }


.calculate .left-info .title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #f36a13;
  text-transform: uppercase;
  padding-left: 5px;
  padding-bottom: 18px;
  border-bottom: 1px dotted #9a9b9b;
  margin-bottom: 20px; }

.calculate .left-info h4 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #0a5c89;
  font-weight: 400; }

.calculate .left-info p {
  color: #373838;
  margin-top: 5px;
  margin-bottom: 14px;
  font-size: 14px;
  font-family: "Open Sans", Helvetica Neue, sans-serif; }

.calculate .left-info .title .fa {
  font-size: 35px;
  float: right;
  margin-right: 20px;
  line-height: 28px; }

.calculate .form-calc {
  background: none;
  float: right;
  width: 320px;
  margin-right: 40px;
  margin-top: 0px; }

input#short-datepicker {
  cursor: pointer; }

.calculate .form-calc .form-group-left {
  width: 155px;
  float: left; }

.calculate .form-calc .form-group-right {
  width: 155px;
  float: right; }

.calculate .form-calc .form-group {
  margin-bottom: 24px;
  position: relative; }

.calculate .form-calc .form-control {
  border-radius: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  font-size: 17px;
  line-height: 23px;
  height: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.73); }

.calculate .form-group i {
  display: block;
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 16px;
  width: 8px;
  height: 8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #525252;
  pointer-events: none; }

.calculate .form-calc .input-group-addon {
  border: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.73); }

.calculate .form-calc .btn {
  background-color: #f47733 !important;
  color: #ffffff;
  font-size: 18px;
  border-radius: 3px;
  font-weight: 300;
  line-height: 32px; }
  .calculate .form-calc .btn:hover, .calculate .form-calc .btn:focus, .calculate .form-calc .btn:active {
    background-color: #f6915b !important;
    border: 1px solid #f57530; }

/* ------------------
    Border bottom
--------------------*/
.after-slide.fixed {
  position: fixed;
  color: #f47733;
  top: 70px;
  z-index: 50;
  border-top: 1px solid #d8d6d6;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  background-color: #f1f1f1;
  padding: 0px 0; }

.after-slide {
  color: #f47733;
  background-color: #f1f1f1;
  padding: 0px 0; }
  .after-slide li.current a {
    color: #f06a28;
    font-weight: 400; }

.after-slide h3 {
  font-size: 29px;
  line-height: 29px;
  padding-bottom: 5px;
  text-align: right;
  margin: 0;
  text-transform: none;
  font-weight: 300; }

.after-slide .darkblue {
  color: #0a5c89; }

.after-slide .btn-info {
  border: 1px solid #f47733;
  font-size: 18px;
  text-align: center;
  background: none;
  color: #f47733;
  font-family: "Roboto";
  padding: 10px 10px 7px;
  min-width: 305px;
  border-radius: 3px;
  display: inline-block;
  float: right; }

/* ------------------
    Pricing
--------------------*/
.prices-page #pricing {
  padding-top: 60px; }

.services-page #pricing {
  padding-top: 60px; }

#pricing {
  margin: 30px 0; }
  #pricing h3 {
    font-size: 28px;
    font-weight: 400;
    color: #0a5c89;
    margin: 0;
    text-transform: uppercase; }
  #pricing h3 .orange {
    font-weight: 400;
    color: #f36a13; }
  #pricing p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px; }
  #pricing .rates {
    margin-top: 40px; }
  #pricing .hourly-rates {
    position: relative; }
  #pricing .flat-rates {
    position: relative; }
  #pricing .hourly-rates .title {
    position: absolute;
    top: -28px;
    left: 190px; }
  #pricing .hourly-rates .sub-title {
    padding-left: 140px;
    text-align: left; }
  #pricing .hourly-rates .t-propose {
    font-size: 24px;
    font-weight: 300;
    color: #373838;
    padding-left: 140px;
    text-align: left;
    margin: 30px 0; }
  #pricing .hourly-rates .price {
    font-size: 42px;
    line-height: 60px;
    font-weight: 300;
    color: #004a80;
    padding-left: 285px;
    margin-bottom: 20px;
    margin-top: -30px;
    display: block; }
  #pricing .flat-rates .price {
    font-size: 42px;
    line-height: 60px;
    font-weight: 300;
    color: #0a5c89;
    margin-bottom: 20px;
    margin-top: -30px;
    display: block;
    padding-left: 272px;
    margin-bottom: 20px;
    text-align: left;
    display: block; }
  #pricing .hourly-rates .line-dotted {
    border: 0;
    border-top: 1px dashed #373838;
    margin: 0 32px; }

#pricing .hourly-rates .bottom-block {
  position: absolute;
  bottom: -12px;
  background-color: #ffffff;
  color: #f36a13;
  padding-right: 10px; }

#pricing .hourly-rates .bottom-block a {
  color: #4cb1e0;
  text-decoration: underline; }

#pricing .hourly-rates .bottom-block a:hover {
  text-decoration: none; }

#pricing .flat-rates .title {
  position: absolute;
  top: -28px;
  left: 35%; }

#pricing .flat-rates .sub-title {
  padding-left: 73px;
  text-align: left; }

#pricing .flat-rates .t-propose {
  font-size: 24px;
  font-weight: 300;
  color: #373838;
  padding-left: 73px;
  text-align: left;
  margin: 30px 0; }

#pricing .flat-rates .price .small {
  font-size: 22px;
  line-height: 22px; }

#pricing .flat-rates .line-dotted {
  border: 0;
  border-top: 1px dashed #373838;
  margin: 0 32px; }

#pricing .flat-rates .bottom-block {
  position: absolute;
  bottom: -12px;
  right: 0;
  background-color: #ffffff;
  color: #f36a13;
  padding-left: 10px; }

#pricing .flat-rates .bottom-block a {
  color: #4cb1e0;
  text-decoration: underline; }

#pricing .flat-rates .bottom-block a:hover {
  text-decoration: none; }

/* ------------------
    Service
--------------------*/
#services {
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 50px; }

#services p {
  font-size: 18px;
  color: #373838; }

#services .service {
  float: left;
  width: 49.4%;
  margin-bottom: 15px; }

#services .service:nth-child(2n) {
  float: right; }

#services .service .title {
  width: 50%;
  height: 200px;
  background-color: grey;
  color: #ffffff;
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  float: left;
  padding: 80px 20px 10px; }

#services .service .bg-green {
  background-color: #1fc5ac; }

#services .service .bg-darkblue {
  background-color: #0a5c89; }

#services .service .bg-blue {
  background-color: #4cb1e0; }

#services .service .bg-orange {
  background-color: #f36a13; }

#services .service .img {
  width: 50%;
  height: 200px;
  position: relative;
  float: left;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

#services .service .img img {
  width: 100%;
  height: 100%; }

#services .hidden-desc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 54, 0.79);
  color: #ffffff;
  padding: 25px;
  display: none; }

#services .img:hover .hidden-desc {
  display: block; }

#services .hidden-desc h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 0px; }

#services .hidden-desc hr {
  border: 0;
  border-top: 1px dashed #ffffff;
  margin: 20px 0; }

#services .hidden-desc p {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  margin: 0; }

#services .service-desc {
  margin-bottom: 20px; }

#services .lear-more {
  margin: 30px 0 50px;
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #f36a13;
  text-transform: uppercase; }

#services .line__right {
  left: .4em;
  margin: 0 -50% 0 0; }

#services .line__left {
  left: -0.4em;
  margin: 0 0 0 -50%; }

#services .line {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #707070;
  background-clip: content-box; }

/* ------------------
    Request more
--------------------*/
.request-more {
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  margin: 20px 0;
  padding: 50px 0 30px; }

.request-more h2 {
  font-size: 34px;
  line-height: 40px;
  color: #373838;
  margin: 0;
  margin-bottom: 20px; }

.request-more .btn-blue {
  font-size: 18px; }

.media-body p {
  font-size: 15px !important;
  line-height: 19px; }

.subnav {
  float: right; }
  .subnav li {
    float: left;
    margin-right: 30px;
    list-style: none;
    list-style-image: None; }

#flat-rate .service.flat {
  width: 49%;
  height: 450px;
  float: left; }
#flat-rate .flat-rates {
  float: right;
  width: 49%;
  height: 450px;
  padding-top: 0px;
  padding-top: 0px;
  border: 1px solid #707070;
  overflow-y: hidden; }
  #flat-rate .flat-rates .title {
    left: 160px !important;
    font-size: 16px;
    border-bottom: 1px solid #707070;
    padding: 15px !important;
    margin: 0px;
    color: #0a5c89; }
#flat-rate tr {
  /* padding: 26px; */
  border-bottom: 1px dotted gray; }
#flat-rate td {
  padding: 20px;
  font-size: 22px;
  font-weight: 400;
  width: 300px; }
#flat-rate table {
  margin: 0;
  padding: 0;
  /* overflow-y: auto; */
  overflow-y: scroll;
  height: 370px;
  width: 100% !important;
  display: block; }
#flat-rate .bg-col {
  background-image: url("../img/nyc.jpg");
  height: 210px; }
  #flat-rate .bg-col h4 {
    background-color: #1fc5ac; }
#flat-rate h4.flat-title {
  margin: 0px;
  padding: 20px;
  text-align: left;
  color: white; }
  #flat-rate h4.flat-title span {
    float: right;
    font-size: 34px;
    font-weight: 500; }
#flat-rate .cell1, #flat-rate .cell2 {
  width: 49%;
  height: 190px;
  margin-top: 50px; }
#flat-rate .cell1 {
  float: left;
  background-image: url("../img/jc.jpg"); }
  #flat-rate .cell1 h4 {
    background-color: #0a5c89;
    margin-top: -40px; }
#flat-rate .cell2 {
  float: right;
  background-image: url("../img/balt.jpg"); }
  #flat-rate .cell2 h4 {
    margin-top: -40px;
    background-color: #f36a13; }

/* ------------------
    Reviews
--------------------*/
#reviews h2 {
  color: white;
  font-size: 28px;
  line-height: 0px;
  margin: 65px 0;
  text-transform: UPPERCASE;
  font-weight: 400;
  text-align: center; }

.reviews-text {
  background-image: url("../img/bg1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  padding: 20px 0 20px; }

.reviews-text p {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  margin-bottom: 30px; }

.reviews-text .author {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 38px; }

.reviews-text .author a {
  color: #ffffff;
  font-size: 24px;
  float: right;
  margin-left: 20px; }

.statistic {
  background-color: #f1f1f1;
  padding: 36px 0;
  text-align: center; }

.statistic .circle-year {
  display: inline-block;
  width: 107px;
  height: 107px;
  border: 4px solid #1fc5ac;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat; }

.statistic .circle-clients {
  display: inline-block;
  width: 107px;
  height: 107px;
  border: 4px solid #004a80;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat; }

.statistic .circle-gplus {
  display: inline-block;
  width: 107px;
  height: 107px;
  border: 4px solid #f36a13;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat; }

.statistic i.fa {
  font-size: 38px;
  line-height: 95px; }

.statistic .fa-truck {
  color: #1fc5ac; }

.statistic .fa.fa-users {
  color: #004a80; }

.statistic .fa.fa-google-plus {
  color: #f36a13; }

.statistic .sum {
  font-size: 38px;
  font-weight: 400;
  line-height: 50px;
  margin: 10px auto 0px; }

.statistic .title {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px; }

/* ------------------
    Price Table
--------------------*/
h4.t-propose.first {
  margin-top: 40px; }

.pricing-table .t-propose {
  font-size: 20px;
  font-weight: 300;
  color: #373838;
  /* padding-left: 140px; */
  text-align: center;
  margin: 25px 0;
  border-bottom: 1px dotted;
  padding-bottom: 25px; }

.pricing-table .price {
  font-size: 28px;
  font-weight: 300;
  color: #004a80;
  display: block;
  text-align: center; }

.pricing-table span.title {
  font-size: 20px;
  font-weight: 400;
  color: black; }

span.price.first {
  margin-top: 5px; }

.pricing-table .price {
  font-size: 28px;
  font-weight: 400;
  color: #004a80;
  /* border-bottom: 1px dotted; */
  display: block;
  text-align: center;
  line-height: 41px;
  padding-bottom: 35px; }

.discount .price, span.title.discount {
  color: #1fc5ac; }

.regular .price, span.title.regular {
  color: #4cb1e0; }

.subpeak .price, span.title.subpeak {
  color: #0a5c89; }

.peak .price, span.title.peak {
  color: #f36a13; }

.highpeak .price, span.title.highpeak {
  color: #DB2D2D; }

/* ------------------
    Pricing
--------------------*/
#storage-rates {
  padding-top: 80px;
  margin-top: 0px;
  margin-bottom: 20px; }

#storage-rates {
  padding: 40px 0; }

#storage-rates h3 {
  font-size: 28px;
  font-weight: 400;
  color: #0a5c89;
  margin: 0;
  text-transform: uppercase; }

#storage-rates h3 .orange {
  font-weight: 400;
  color: #f47733; }

#storage-rates p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 40px; }

#storage-rates .rates {
  margin-top: 40px; }

#storage-rates .hourly-rates {
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  width: 49%;
  height: 400px;
  float: left;
  position: relative; }

#storage-rates .hourly-rates .title {
  position: absolute;
  top: -28px;
  left: 235px;
  background-color: #ffffff;
  color: #f36a13;
  margin: 0;
  font-weight: 400;
  font-size: 28px;
  padding: 0 10px; }

#storage-rates .hourly-rates .sub-title {
  font-size: 15px;
  font-weight: 400;
  color: #6E7272;
  padding-left: 140px;
  text-align: left; }

#storage-rates .hourly-rates .t-propose {
  font-size: 24px;
  font-weight: 300;
  font-weight: bold;
  color: #373838;
  padding-left: 140px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding-left: 30px; }

#storage-rates .hourly-rates .sub-propose {
  font-size: 15px;
  font-weight: 300;
  font-weight: 400;
  color: #373838;
  padding-left: 140px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding-left: 30px; }

#storage-rates .hourly-rates .line-dotted {
  border: 0;
  border-top: 1px dashed #373838;
  margin: 0 32px;
  margin-top: 30px;
  margin-bottom: 30px; }

#storage-rates .hourly-rates .bottom-block {
  position: absolute;
  bottom: -12px;
  background-color: #ffffff;
  color: #f36a13;
  padding-right: 10px;
  left: 100px; }

#storage-rates .hourly-rates .bottom-block a {
  color: #4cb1e0;
  text-decoration: underline; }

#storage-rates .hourly-rates .bottom-block a:hover {
  text-decoration: none; }

#storage-rates .flat-rates {
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  width: 49%;
  height: 400px;
  float: right;
  position: relative;
  background-image: url("../img/storage2.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#storage-rates .flat-rates .title {
  position: absolute;
  top: -28px;
  left: 210px;
  background-color: #ffffff;
  color: #f36a13;
  margin: 0;
  font-weight: 400;
  font-size: 34px;
  padding: 0 10px; }

#storage-rates .flat-rates .sub-title {
  font-size: 21px;
  font-weight: 400;
  color: #373838;
  padding-left: 73px;
  text-align: left; }

#storage-rates .flat-rates .t-propose {
  font-size: 24px;
  font-weight: 300;
  color: #373838;
  padding-left: 73px;
  text-align: left;
  margin: 30px 0; }

#storage-rates .flat-rates .price {
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  color: #004a80;
  padding-left: 272px;
  margin-bottom: 20px;
  text-align: left;
  display: block; }

#storage-rates span.price {
  /* float: right; */
  float: right;
  margin-right: 63px;
  margin-top: -40px;
  font-size: 28px; }

#storage-rates .flat-rates .price .small {
  font-size: 22px;
  line-height: 22px; }

#storage-rates .flat-rates .line-dotted {
  border: 0;
  border-top: 1px dashed #373838;
  margin: 0 32px; }

#storage-rates .flat-rates .bottom-block {
  position: absolute;
  bottom: -12px;
  right: 0;
  background-color: #ffffff;
  color: #f36a13;
  padding-left: 10px;
  left: 100px; }

#storage-rates .flat-rates .bottom-block a {
  color: #4cb1e0;
  text-decoration: underline; }

#storage-rates .flat-rates .bottom-block a:hover {
  text-decoration: none; }

.media-full h1 {
  font-size: 34px;
  font-weight: 400;
  color: #0a5c89;
  margin: 0;
  text-transform: UPPERCASE;
  font-weight: bold; }

.media-full h2 {
  font-weight: 400;
  color: #0a5c89;
  margin: 0;
  text-transform: UPPERCASE;
  font-size: 20px;
  font-weight: bold; }

.media-full h3.title {
  font-size: 18px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
  color: black; }

.media-full h3.title a {
  font-weight: bold; }

.info-box .title {
  font-weight: bold;
  text-transform: uppercase;
  color: #565c89;
  border-bottom: 1px dotted;
  padding-bottom: 15px;
  margin-bottom: 15px; }

a.more-link {
  color: #f36a13;
  font-weight: 600; }

.row.flat-desc {
  border-top: 1px solid #aaaaaa;
  padding-top: 85px; }

#storage-info .hourly-rates {
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  width: 605px;
  height: 400px;
  float: left;
  position: relative; }

#storage-info .flat-rates {
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
  width: 605px;
  height: 400px;
  float: right;
  position: relative; }

#storage-info h3 {
  font-size: 34px;
  font-weight: 400;
  color: #0a5c89;
  margin: 0; }

.storage-info .hourly-rates p, .storage-info .flat-rates p {
  font-size: 21px;
  font-weight: 400;
  color: #373838;
  /* padding-left: 140px; */
  text-align: left;
  padding: 30px;
  text-align: center;
  font-size: 16px; }

.storage-info .bottom-block {
  position: absolute;
  bottom: -12px;
  background-color: #ffffff;
  color: #f36a13;
  padding-right: -5px;
  text-align: center;
  margin-left: 180px; }

.storage-info .bottom-block a {
  text-decoration: none !important; }

.storage-info .flat-rates .bottom-block {
  right: 145px !important; }

.storage-info .bottom-block {
  position: absolute;
  bottom: -12px;
  background-color: #ffffff;
  color: #f36a13;
  padding-right: -5px;
  text-align: center;
  margin-left: 180px; }

.storage-info .hourly-rates, .storage-info .flat-rates {
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  width: 605px;
  height: 260px !important;
  float: left;
  position: relative; }

#pricing .storage-info .title {
  position: absolute;
  top: -28px;
  left: 190px;
  background-color: #ffffff;
  color: #f36a13;
  margin: 0;
  font-weight: 600;
  font-size: 29px;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 21px;
  /* letter-spacing: -1px; */ }

.flat-desc hr {
  border: 0px;
  border-top: 1px dotted gray; }

/* ------------------
    Footer
--------------------*/
.footer {
  background-color: #111a21;
  color: #494d51;
  font-size: 36px;
  line-height: 42px;
  padding-top: 25px;
  text-align: center;
  font-family: "Open Sans", Helvetica Neue, sans-serif; }

.footer h2 {
  margin: 110px auto 130px;
  font-weight: 400; }

/* ------------------
    Animated setting
--------------------*/
.animated {
  visibility: hidden; }

.visible {
  visibility: visible; }

.calc-intro_heading :after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 3em;
  display: block;
  content: ""; }

.calc-intro_heading {
  text-transform: capitalize;
  color: #5685FF;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-size: 28px;
  line-height: auto;
  padding-bottom: 1.422em;
  text-align: center;
  top: 0.2em;
  position: relative;
  margin: 0px; }

section#flat-rate {
  padding-bottom: 45px;
  margin-top: 40px; }
  section#flat-rate .info-box {
    padding: 0px 60px 60px; }

div#zip_search_box .form-control {
  margin-bottom: 25px;
  height: 50px;
  font-size: 20px;
  /* width: 100%; */
  /* margin: 0 auto; */ }

div#zipResults li {
  cursor: pointer; }
  div#zipResults li:hover {
    text-decoration: underline; }


.sf-calculate-wrapper {
     background-color: rgba(0, 37, 57, 0) !important;
     border: 0px solid rgb(255, 255, 255) !important;
    top: 40px !important;
    left: 25%;
    position: relative;
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 455px;
}
/*# sourceMappingURL=style.css.map */
/* ANIMATIONS
============================================================================= */
/* slide out to the left */

/* enter animation */
#request-form .ng-enter            {
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease;
}

/* leave animation */
#request-form .ng-leave            {
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;
}
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#request-form .ng-enter,
#request-form .ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}
@keyframes slideOutLeft {
    to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
    to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from 	{ transform:translateX(200%); }
    to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from 	{ -moz-transform:translateX(200%); }
    to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from 	{ -webkit-transform:translateX(200%); }
    to 		{ -webkit-transform: translateX(0); }
}
