<div class="controlls" ng-init="$ctrl.isPickerOpened = false">
    <button uib-datepicker-popup ng-model="$ctrl.pickerDate.date" ng-change="$ctrl.changeDateFromPicker()"
            is-open="$ctrl.isPickerOpened" type="button"
            class="btn btn-default calendar" ng-click="$ctrl.isPickerOpened = !$ctrl.isPickerOpened">
            <i class="glyphicon glyphicon-calendar"></i>
    </button>
    <select class="form-control" ng-model="$ctrl.selectedMonth"
            ng-options="item.index as item.month for item in ::$ctrl.monthList"
            ng-change="$ctrl.changeDateFromSelect()">
    </select>

</div>
<div class="calendar-content" busy-overlay="$ctrl.busy">
    <reminder-calendar-month month="$ctrl.month" day="$ctrl.selectedDay">
    </reminder-calendar-month>
</div>
