.er-signature-page-modal
	.modal-dialog
		min-width 820px
		min-height 95%
		.modal-content
			min-height 95%
	&__title
		text-align center
		padding 15px
		font-size 16px
	&__print-button
		text-transform uppercase
		font-weight normal
		border 1px solid gray
		padding 5px 10px
		font-size 12px
		position absolute
		left 20px
		top 10px
	.er-signature-box__make_action
		display none
