<div class="er-signature-page-modal__title">
<a href="javascript:void(0)" class="btn er-signature-page-modal__print-button" ng-click="print()">Print</a>	Estimate Signature
</div>
<div busy-overlay="busy">
</div>
<div class="er-signature-page-modal__body" move-board-compile="template">
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-lg btn-primary" ng-hide="isNeedToSign" ng-click="save()">Ok</button>
	<button type="button" class="btn btn-lg btn-primary" ng-show="isNeedToSign" ng-click="confirmReservation()">Confirm Estimate</button>
	<button type="button" class="btn btn-lg btn-default pull-left" ng-click="close()">Cancel</button>
</div>