<div id="block-calc-moving-form">
    <span class="clear-icon" ng-click="resetForm()"><i class="fa fa-paint-brush"></i> Clear Form</span>
    <!-- First Step -->
    <fieldset class="form-wrapper" id="short-calculator">
        <div class="form-calc wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
            <form name="calcForm" ng-submit="Calculate(calcForm.$valid)">

                <div class="form-group col-md-12 nopad">
                    <div class="col-md-6 nopadding paddingright">
                        <div class="input-group date">
                            <input class="form-control" type="text" ng-model='request.moveDate' id="short-datepicker" cc-rate-picker placeholder="Move Date">
                        </div>
                    </div>
                    <div class="col-md-6  nopadding paddingleft">
                        <select ng-Model="request.serviceType" class="form-control">
                            <option ng-repeat="id in ::objectKeys(servicesType)" value="{{id}}">{{servicesType[id]}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group form-item-Date-Storage" style="display: none;">
                    <div id="edit-date-storage" class="input-group date">
                        <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}" class="dd form-control" readonly="readonly" type="text" id="edit-date-storage-datepicker-popup-0" ng-model='request.deliveryDate' formdatepicker placeholder="Delivery Date" minDate="moveDate" name="Date_Storage[date]" value="" size="20" maxlength="30">
                    </div>
                </div>

                <div class="form-group col-md-12 nopad">
                    <div class="form-group col-md-6 nopadding paddingright">
                        <input class="required form-control" ng-model="request.zipFrom" zipcode data-mask="99999" address="request.From" placeholder="From Zip" required type="text">
                    </div>
                    <div class="form-group col-md-6 nopadding paddingleft">
                        <div class="input-group">
                            <input class="required form-control" placeholder="To Zip" type="text" address="request.To" ng-model="request.zipTo" zipcode required data-mask="99999">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <select ng-Model="request.moveSize" class="form-control" required ng-Change="showRooms()">
                        <option value="" selected="selected">Size of Move</option>
                        <option ng-repeat="id in objectKeys(sizeOfMove)" value="{{id}}">{{sizeOfMove[id]}}</option>
                    </select>
                </div>

                <div class="form-group  form-item-Extra-Furnished-Rooms">
                    <div id="edit-extra-furnished-rooms" class="form-checkboxes">
                        <div ng-show="roomsStatus[id] != 0" ng-class="{'disabled' : roomsStatus[id] == 2}" class="form-item form-type-checkbox " ng-repeat="id in objectKeys(rooms)">
                            <input type="checkbox" data-rid="{{id}}" id="edit-extra-furnished-rooms-{{id}}" checklist-model="request.checkedRooms.rooms" checklist-value="id" class="form-checkbox">
                            <label for="edit-extra-house-furnished-rooms-2">{{rooms[id]}}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group fromtype">
                    <select class="form-control" ng-model="request.typeFrom" required>
                        <option value="" selected="selected">From Type</option>
                        <option ng-repeat="(id,option) in entranceType" value="{{id}}">{{option}}</option>
                    </select>
                </div>

                <div class="form-group ">
                    <select class="form-control" ng-model="request.typeTo" required>
                        <option value="" selected="selected">To Type</option>
                        <option ng-repeat="(id,option) in entranceType" value="{{id}}">{{option}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="mybtn blue">Calculate</button>
                </div>
            </form>
        </div>
    </fieldset>
</div>
