#inventory-list.col-md-12.no-padd(ng-class='{"pending": tableArguments.blockTable, "disableDrag": !tablePermissions.allowDrag, "disableTrash": !tablePermissions.allowRemove}')
	.inventory-list-room(ng-repeat="room in roomsHolder.rooms track by $id(room)" ng-class="roomClass")
		.col-md-12.inventory-list-room-title
			.col-md-9.no-padd.title {{room.name}}
			.col-md-3.no-padd.title.total-right Qty.
		.col-md-12.no-padd.dragula-container(dragula="'inventory-table-bag'" dragula-model="room.items" dragula-scope="$parent" roomid="{{room.room_id}}")
			.col-md-12.no-padd.inventory-item(ng-repeat="item in room.items | orderBy:total_cf track by item.id" ng-mousedown='rememberForDrag(item)')
				.col-md-9.no-padd(ng-bind-html="item.name")
				.col-md-2.inventory-item-total.no-padd {{item.count}}
				.col-md-1.inventory-item-trash.no-padd
					i.fa.fa-trash(ng-click="removeItem(item)")