#inventory-list
	font-size 12px
	margin-top 10px
	transition-duration 300ms
	&.pending
		pointer-events none
		opacity 0.6
		transition-duration 150ms
	&.disableDrag
		pointer-events none
	&.disableTrash
		.inventory-list-room
			.inventory-item-trash
				pointer-events none
				display none
	.inventory-list-room
		min-height 130px
		.dragula-container
			min-height 100px
			cursor move
			cursor grab
			cursor -moz-grab
			cursor -webkit-grab
		.inventory-list-room-title
			color #1f1f1f
			padding-bottom 5px
			margin-bottom 5px
			border-bottom 1px solid #a4a4a4
			padding-left 0
			padding-right 0
			pointer-events none
		.inventory-item
			color #333333
			&.gu-transit
				cursor move
		.inventory-item-total
			text-align right
		.inventory-item-trash
			pointer-events all
			text-align right
			i
				transition-duration 300ms
				font-size 14px
				cursor pointer
				&:hover
					font-size 16px
					color red
					transition-duration 300ms