<div>
    <md-datepicker ng-model="$ctrl.date.from"
                   md-placeholder="Data from"
                   class="filter-block control-datepicker"
                   md-datepicker-autoopen
                   ng-blur="$ctrl.checkChanges('dateFrom')">
    </md-datepicker>
    <md-datepicker ng-model="$ctrl.date.to"
                   md-placeholder="Date to"
                   class="filter-block control-datepicker"
                   md-datepicker-autoopen
                   ng-blur="$ctrl.checkChanges('dateTo')">
    </md-datepicker>

    <md-input-container class="filter-block">
        <label>Payment type</label>
        <md-select ng-model="$ctrl.pickUpPaymentFilters"
                   md-on-close="$ctrl.checkCreditType();">
            <md-option ng-value="$ctrl.none" ng-bind="$ctrl.none"
                       ng-click="$ctrl.clearFilter({type: 'pickUpPaymentFilters',
                                                    prevName: 'prevPayment',
                                                    checkParams: 'payment'})"></md-option>
            <md-option ng-value="paymentType"
                       ng-repeat="paymentType in $ctrl.paymentTypesFilters">
                {{paymentType}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="filter-block" ng-if="$ctrl.showCreditCardTypes">
        <label>Card types</label>
        <md-select ng-model="$ctrl.pickUpCreditCards" multiple
                   md-on-close="$ctrl.checkStatusValue({choosedName: 'pickUpCreditCards',
                                                        prevName: 'prevCardType',
                                                        changeType: 'cartType'})">
            <md-option ng-value="$ctrl.selectAllType ? 'All': 'None'"
                       ng-bind="$ctrl.selectAllType ? 'All': 'None'"
                       ng-click="$ctrl.selectDeselect({flagName: 'selectAllType',
                                                       nameOption: 'pickUpCreditCards',
                                                       countName: 'countOptionsCardTypes',
                                                       defaultName: 'creditCardTypes'})">
            </md-option>
            <md-option ng-value="type" ng-repeat="type in $ctrl.creditCardTypes">{{type}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="filter-block">
        <label>Advanced filter</label>
        <md-select ng-model="$ctrl.advancedChoosedFilters" md-on-close="$ctrl.checkContractType('true')">
            <md-option ng-value="$ctrl.none" ng-bind="$ctrl.none"
                       ng-click="$ctrl.clearFilter({type: 'advancedChoosedFilters',
                                                    prevName: 'prevAdvanced',
                                                    checkParams: 'advancedFilter'})">None</md-option>
            <md-option ng-value="advancedFilter" ng-repeat="advancedFilter in $ctrl.advancedFilters">{{advancedFilter}}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="filter-block">
        <label>Payment flag</label>
        <md-select ng-model="$ctrl.additionalChoosedFilters" multiple
                   md-on-close="$ctrl.checkStatusValue({choosedName: 'additionalChoosedFilters',
                                                        prevName: 'prevPaymentFlag',
                                                        changeType: 'paymentFlag'})">
            <md-option ng-value="$ctrl.selectAllAdditionalFilters ? 'All': 'None'"
                       ng-bind="$ctrl.selectAllAdditionalFilters ? 'All': 'None'"
                       ng-click="$ctrl.selectDeselect({flagName: 'selectAllAdditionalFilters',
                                                       nameOption: 'additionalChoosedFilters',
                                                       countName: $ctrl.hasInvoice ? 'countAddAdvancedBase' : 'countAddAdvancedMin',
                                                       defaultName: 'additionalFilters'})">
            </md-option>
            <md-option ng-value="additionalFilter" ng-repeat="additionalFilter in $ctrl.additionalFilters">{{additionalFilter}}</md-option>
        </md-select>
    </md-input-container>

    <md-button class="md-raised md-button md-ink-ripple"
               ng-class="{'apply-btn-active': $ctrl.hasApplyFilter}"
               ng-click="$ctrl.applyFilters()">Appply filters
    </md-button>
    <md-button class="md-raised md-button md-ink-ripple"
               ng-click="$ctrl.removeFilters()">Remove filters
    </md-button>
    <i class="dashboard_icon icon-refresh payment-refresh"
       role="button"
       ng-click="$ctrl.getData()">
    </i>
</div>
