.filter-block {
	margin: 25px 5px;

	.md-errors-spacer {
		display: none;
	}

	md-select {
		width: 200px;
		max-width: 200px;
	}
}

.control-datepicker {
	display: inline-block;
}

.payment-refresh {
	top: 20px;
	margin-right: 25px;
}

.apply-btn-active {
	background: #57bb2b !important;
	color: #fff !important;
}
