<div class="panel panel-default " ng-class="{'small':small}">
    <div class="panel-body mdDataTable" ng-if="expenses">
        <table datatable="ng" dt-options="dtOptions" id="datatable-expenses">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Date</th>
              <th>Recurring</th>
              <th>Frequency</th>
              <th>Category</th>
              <th>Notes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'active_row': clicked == expense.id}" ng-repeat="(key,expense) in expenses | orderBy: 'id'" ng-click="openExpense(expense)">
                <td>${{expense.amount | number :2}}</td>
                <td>{{expense.date_value}}</td>
                <td>
                    <span ng-if="expense.recurring" style="margin-left: 20px;">
                        <i class="fa fa-refresh fa-spin"></i>
                        <span style="padding-left: 10px;" >{{calculateNextRecurringDate(expense)}}</span>
                    </span>
                </td>
                <td>{{frequencyOpt[expense.data.frequency].name}}</td>
                <td>{{expense.data.category}}</td>
                <td>{{expense.data.notes}}</td>
                <td><span ng-click="removeExpense(expense)" class="remove-expense pull-right"><i class="fa fa-trash" aria-hidden="true" ></i></span></td>
            </tr>
            <tr ng-click="openSalary()" ng-class="{'active_row': clicked == 'salary'}">
              <td> ${{sumPaycheck | number : 2}} </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Salary</td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
