.dispatch-logs-small-view
	position relative
	&.panel.panel-default
		min-height 200px !important
		margin-top -12px
		padding 0
		box-shadow none
		font-size 12.5px
		.panel-heading
			text-transform capitalize
			padding-bottom 5px
			button
				background-color white
				border 0
				color #4169E1
		.panel-body
			padding 10px
			.icon-clock
				color grey
			.pagination-directive
				padding-right 0
	&__busy
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		display flex
		justify-content center
		align-items center
		background-color rgba(236, 240, 241 ,.8)
		z-index 100

.preview-log
	display flex
	padding 0
	border-bottom 1px solid #d8d3d3
	&__icon
		padding 5px 5px 0 2px
	&__text
		text-align justify
	&__request-nid
		font-weight 700