<div class="dispatch-logs-small-view panel panel-default">
	<div class="dispatch-logs-small-view__busy" ng-if="vm.busy">
		<img src="/moveBoard/content/img/logo_animation.gif" alt="Loading...">
	</div>
	<div class="panel-heading">
		Log
		<button class="pull-right" ng-class="{disabled: !vm.logs.length}" ng-click="vm.openFullView();">View Full</button>
	</div>
	<div class="panel-body">
		<div ng-show="vm.showShortLog($index)"
             class="preview-log"
             ng-repeat="log in vm.logs track by log.id">
			<div class="preview-log__icon"><i class="icon-clock"></i></div>
			<div class="preview-log__text">
				<span ng-if="vm.currentVeiw == 1" class="preview-log__request-nid">#{{::log.nid}}</span>
				{{::log | shortViewDispatchLog}}
			</div>
		</div>
		<div ng-show="vm.logs.length && vm.pagination.pagesCount > 1" elromco-paginator meta="vm.pagination" set-page="vm.pagination.setPage"></div>
		<div ng-hide="vm.logs.length">
			Logs is empty
		</div>
	</div>
</div>
