<div class="form-group">
    <div class="col-sm-12">
        <div class="row">
            <a ng-click="uploadPhotoModal();" uib-tooltip="You can choose a photo after create a user" tooltip-placement="right" tooltip-enable="createUserRun">
                <img ng-src="{{imageUrl}}">
            </a>
        </div>
    </div>
</div>
