include ../../../../../default.pug

+b.create-filter
	+e.header
		+e.header-label
			h2 Inventory item
	+e('form').content(name="createItem")
		+e.progress
			md-progress-linear(md-mode="query" ng-show="busy")
		+e('md-input-container').input
			label Title
			input(ng-model='box.name' required name="itemName")
		+e('md-input-container').input
			label Cubic Feet
			input(ng-model='box.cf' required name="cf" er-only-float)
		+e('md-input-container')
			+e('label').filter-title(ng-class="{'create-filter__filter-title_no-valid' : createItem.filters.$touched && !createItem.filters.$valid }") Filters
			input(required ng-model="selectFilters" name="filters" ng-disabled="true")
			+e.selected-container
				+e.selected-item(ng-repeat="item in filters" ng-click="selectFilter(item)" ng-class="{'create-filter__selected-item_active' : item.selected }")
					+e.selected-title {{ item.name }}
					+e('img').selected-image(ng-src="{{ item.image_link }}")
		+e('md-input-container').input
			+e.uploader(file-uploader url="box.image_link", uri="box.uri", label="Image", show-image="true" required="true")
		+e.controls
			+e.controls_left
				md-button.md-raised.md-warn(ng-click="remove(box)" ng-show="mode == 'edit' && showRemove") Remove
			+e.controls_right
				md-button.md-raised(ng-click="cancel(box)") Close
				md-button.md-raised.md-primary(ng-click="create(box)" ng-show="mode == 'edit'") Update
				md-button.md-raised.md-primary(ng-click="create(box)" ng-show="mode != 'edit'" ng-disabled="busy") Create
