 <div class="modal-header">
     <button type="button" class="close" ng-click="cancel()">&times;</button>
     <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
</div>
<div class="modal-body"> 
        <form class="form-horizontal" name="clientForm" role="form" ng-class="{'disabled': busy}">
        <div class="form-group">
            <label for="inputphoto" class="col-sm-2 control-label">Photo</label>
            <div class="col-sm-10">
                  <div flow-init
                       flow-name="uploader.flow"
                       flow-files-added="processFiles($files)">
                      
                      <button flow-btn type="file">Upload Images</button>
                      
                      <div class="inv-thumbnail" ng-show="$flow.files.length">
                          <img class="inv-img" flow-img="uploader.flow.files[0]" />
                      </div> 
                      <i ng-show="uploader.flow.files.length"  class="fa fa-times inv-img-del" ng-click="uploader.flow.cancel()"></i>

                </div>
            </div> 
        </div>
          <div class="form-group">
          <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                 <input ng-model="inventory.title" type="text" class="form-control" placeholder="Title">
            </div>
        </div>
        <div class="form-group">
            <label for="inputFilter" class="col-sm-2 control-label">Filter</label>
            <div class="col-sm-10">
        <select class="filter-select" style="width:100%" ng-model="inventory.fid">
            <option  ng-selected="inventory.fid == {{fil.id}}" ng-value="{{fil.id}}" ng-repeat="fil in filters">{{fil.title}}</option>
        </select>
            </div>
        </div>
          <div class="form-group">
            <label for="inputCubic" class="col-sm-2 control-label">Cubic foot (cb ft)</label>
            <div class="col-sm-10">
                <input type="text" ng-model="inventory.cubicFeet" class="form-control" id="inputCubic" placeholder="Cubic foot">
            </div>
        </div>
    </form>
<div class="modal-footer">
    <button type="button" ng-if="!isAdd" class="btn btn-danger pull-left" ng-click="deleteInventory(inventory)">Delete Inventory</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="saveInventory(inventory)">Save</button>
</div>


