<section id="main-content" ng-controller="AccountController as vm" class="animated fadeInUp">
    <!--mail wrapper start-->
   
        <div class="col-md-3 col-sm-12" id="compose-wrapper">
            
                <div data-cc-user-block
                     client="vm.client"
                     subtitle="vm.hello" ></div>
            
        </div>

     <!--mail Tables/ Moves History end-->
        <div class="col-md-9 col-sm-12" id="view-mail-wrapper">
            
               <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Current Requests</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <table  class="table table-striped">
                              <thead>
                                <tr>
                                      <th>#</th>
                                      <th>Status</th>
                                      <th>Service Type</th>
                                      <th>Date</th>
                                      <th>From</th>
                                      <th>Size of Move</th>
                                      <th>Action</th>
                                    </tr>
                              </thead>
                              <tbody >
                                    <tr ng-repeat="request in vm.requests ">
                                      <td>{{request.nid}}</td>
                                      <td><span class="status status_{{request.statusid}}">{{request.status}}</span></td>
                                      <td>{{request.service_type}}</td>
                                      <td>{{request.date}}</td>
                        
                                      <td>
                                         <div> {{request.from}}</div>
                                          <div>{{request.to}}</div>
                                      </td>
                                
                                      <td>{{request.move_size}}</td>
                                        
                                      <td><button>View Request</button></td>
                                     
                                        
                                    </tr>
                              </tbody>
                            </table>
                          </div>
            </div>
            
            
        </div>

    
    <!--mail wrapper end-->
</section>