<div class="box_info" style="left:{{left}}px;top: -30px;" ng-class="{'right':ifright}" ng-if="!popup_request.ld_trip">
    <div class="overlaybox">
        <li class="overlist" ng-repeat="req in overlay" ng-click="switchCurrent(req)"
            ng-class="{'current':req.nid == currentNid}">
            {{::req.nid}}
        </li>
    </div>
    <span class="delete_icon" ng-click="closePopup()"><i class="fa fa-times"></i></span>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Request : </span>
        <span>#{{::popup_request.nid}}</span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Status : </span>
        <span>{{popup_request.status.value}}</span></div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Move Date : </span>
        <span>{{popup_request.date.value |  date:'EEEE, MMM d, yyyy'}}</span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Start Time : </span>
        <span>{{popup_request.start_time1.value}} - {{request.start_time2.value}}    </span>
    </div>
    <div class="field-type-of-entrance-from">
        <span ng-if="!isDoubleDriveTime" class="stitle">{{::calcSettings.travelTimeName}} : </span>
        <span ng-if="isDoubleDriveTime" class="stitle">{{::calcSettings.doubleDriveTimeName}} : </span>
        <span ng-if="!isDoubleDriveTime">{{popup_request.travel_time.value}}   </span>
        <span ng-if="isDoubleDriveTime">{{(popup_request.field_double_travel_time.raw ? popup_request.field_double_travel_time.value : '00:00')}} </span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Crew Size :  </span>
        <span>{{popup_request.crew.value}} movers </span>
    </div>
    <div class="field-type-of-entrance-from" ng-hide="popup_request.service_type.raw == 5 || popup_request.service_type.raw == 7">
        <span class="stitle">Hourly Rate : </span>
        <span>${{currentRate}}</span></div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Type of Service : </span>
        <span>{{serviceTypeName}} </span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Size of Move : </span>
        <span>{{popup_request.move_size.value}}</span>
    </div>
    <div class="field-type-of-entrance-from" ng-show="requestWeight">
        <span class="stitle">Weight : </span>
        <span>{{requestWeight}} c.f.</span>
    </div>
    <div class="field-type-of-entrance-from" ng-hide="popup_request.service_type.raw == 5 || popup_request.service_type.raw == 7">
        <span class="stitle">Est. Time : </span>
        <span> {{popup_request.minimum_time.raw | decToTime }} - {{popup_request.maximum_time.raw | decToTime}}</span>
    </div>
    <div class="field-type-of-entrance-from" ng-hide="popup_request.service_type.raw == 5 || popup_request.service_type.raw == 7">
        <span class="stitle">Est. Quote : </span>
        <span>${{popup_request.quote.min | number:2 }} - ${{popup_request.quote.max | number:2 }}</span>
    </div>


    <div class="address_box">
        <div class="field-type-of-entrance-from" ng-if="popup_request.field_moving_from.thoroughfare">
            <span class="stitle">From Address : </span>
            <span>{{popup_request.field_moving_from.thoroughfare}}</span>
        </div>
        <div class="field-type-of-entrance-from" ng-if="popup_request.apt_from.value">
            <span class="stitle">Apt.</span>
            <span>{{popup_request.apt_from.value}}</span>
        </div>
        <div class="field-type-of-entrance-from">
            <span class="stitle">Moving From : </span>
            <span>{{popup_request.from}}</span>
        </div>
        <div class="field-type-of-entrance-from">
            <span class="stitle">Ent. Type From : </span>
            <span>{{popup_request.type_from.value}}</span>
        </div>
        <div class="field-type-of-entrance-from" ng-if="popup_request.field_moving_to.thoroughfare">
            <span class="stitle">To Address: </span>
            <span>{{popup_request.field_moving_to.thoroughfare}}</span>
        </div>
        <div class="field-type-of-entrance-from" ng-if="popup_request.apt_to.value">
            <span class="stitle">Apt.</span>
            <span>{{popup_request.apt_to.value}}</span>
        </div>
        <div class="field-type-of-entrance-from">
            <span class="stitle">Moving To : </span>
            <span>{{popup_request.to}}</span>
        </div>
        <div class="field-type-of-entrance-from">
            <span class="stitle">Ent. Type To : </span>
            <span>{{popup_request.type_to.value}}</span>
        </div>
        <div class="field-type-of-entrance-from">
            <span class="stitle">Distance : </span>
            <span>{{popup_request.distance.value}} miles</span>
        </div>
    </div>


    <div class="field-type-of-entrance-from">
        <span class="stitle">Customer : </span>
        <span>{{popup_request.name}}</span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Phone : </span>
        <span>{{popup_request.phone | nationalPhoneFormatter}}</span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Email : </span>
        <span>{{popup_request.email}}</span>
    </div>

    <div style="text-align: center;line-height: 45px;" class="field-type-of-entrance-from">
        <span>{{popup_request.link}}</span>
    </div>

    <div class="field-type-of-entrance-from btnbox">
        <button ng-if="!popup_request.branch" class="popup-open btn" ng-click="openRequest(popup_request)">Open Request #{{::popup_request.nid}}
        </button>
        <button ng-if="popup_request.branch" class="popup-open btn" ng-click="openRequestInAnotherBranch(popup_request)">Open Request #{{::popup_request.nid}} in Branch {{popup_request.branch.name}}
        </button>
    </div>
</div>
<div class="box_info" style="left:{{left}}px;top: -30px;" ng-class="{'right':ifright}" ng-if="popup_request.ld_trip">
    <div class="overlaybox">
        <li class="overlist" ng-repeat="req in overlay" ng-click="switchCurrent(req)" ng-class="{'current':req.nid == currentNid}">
            {{::req.nid}}
        </li>
    </div>
    <span class="delete_icon" ng-click="closePopup()"><i class="fa fa-times"></i></span>
    <div class="field-type-of-entrance-from">
        <span class="stitle">LD Trip : </span>
        <span>#{{::popup_request.nid}}</span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Status : </span>
        <span>{{popup_request.trip_info.details.flag | tripStatus}}</span></div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Date Start : </span>
        <span>{{popup_request.trip_info.details.date_start * 1000 |  date:'EEEE, MMM d, yyyy'}}</span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Date End : </span>
        <span>{{popup_request.trip_info.details.date_end * 1000 |  date:'EEEE, MMM d, yyyy'}}</span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Crew Size :  </span>
        <span>{{popup_request.trip_info.helper.length + 1}} movers </span>
    </div>
    <div class="field-type-of-entrance-from" ng-if="popup_request.trip_info.details.internal_code">
        <span class="stitle">Internal Code: </span>
        <span>{{popup_request.trip_info.details.internal_code}}</span></div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Type of Service : </span>
        <span>Long Distance Trip</span>
    </div>
    <div class="field-type-of-entrance-from">
        <span class="stitle">Jobs Count : </span>
        <span>{{popup_request.trip_info.jobs_count}}</span>
    </div>
    <div class="field-type-of-entrance-from" ng-if="popup_request.trip_info.details.description">
        <span class="stitle">Description : </span>
        <span>{{popup_request.trip_info.details.description}}</span>
    </div>
    <div class="address_box">
        <div class="field-type-of-entrance-from">
            <span class="stitle">Volume/Weight : </span>
            <span>{{popup_request.trip_info.totals.volume_cf | number: 2}} / {{popup_request.trip_info.totals.volume_cf * 7 | number: 2}}</span>
        </div>
        <div class="field-type-of-entrance-from">
            <span class="stitle">Jobs Total : </span>
            <span>{{popup_request.trip_info.totals.job_total | currency}}</span>
        </div>

        <div class="field-type-of-entrance-from">
            <span class="stitle">TP Collected : </span>
            <span>{{popup_request.trip_info.totals.tp_collected | currency}}</span>
        </div>
        <div class="field-type-of-entrance-from">
            <span class="stitle">Balance : </span>
            <span>{{popup_request.trip_info.totals.balance | currency}}</span>
        </div>
    </div>

    <div class="field-type-of-entrance-from btnbox">
        <button class="popup-open btn" ng-click="goToTrip(popup_request.nid)">Open Trip #{{::popup_request.nid}}
        </button>
    </div>
</div>

