<div class="navigate flat-rate-crew-panel">
    <div class="row">
        <ul class="nav nav-tabs" style="position: relative;">
            <li ng-repeat="nav in vm.navigation.values track by $index"
                ng-class="{'active': vm.navigation.active == $index}"
                ng-click="vm.navigation.active = $index"
                ng-hide="curRequest.field_flat_rate_local_move.value && $index == 1">
                <a href="javascript:;" class="text-capitalize">
                    <span ng-hide="curRequest.field_flat_rate_local_move.value && $index == 0">{{:: nav }}</span>
                    <span ng-show="curRequest.field_flat_rate_local_move.value && $index == 0">Crew</span>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding: 10px;" ng-if="!vm.ldTrip">
            <!-- Base crew -->
            <div class="tab-pane" ng-class="{'active': vm.navigation.active == 0}" ng-click="vm.navigation.active = 0">
                <!-- For Crew 1-->
                <div>
                    <div class="form-group" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}">
                        <div class="work-crew-presets">
                            <label for="pickupCrew">Crews</label>
                            <select ng-disabled="!super.vm.clicked"
                                    class="form-control workers"
                                    ng-model="super.vm.data.pickedUpCrew.crew"
                                    ng-change="super.vm.pasteCrew('pickedUpCrew')"
                                    ng-options="crew.team_id as crew.name disable when crew.disabled for crew in super.vm.crews"
                                    id="pickupCrew">
                                <option value="">Please select crew</option>
                            </select>
                        </div>
                    </div>
                    <!-- Foreman -->
                    <div class="form-group" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}">
                        <div class="col-xs-12">
                            <label for="foreman">Foreman No. 1 &nbsp;
                                <a href="javascript:;" style="display: none;"  ng-if='super.vm.clicked' ng-click="openSettingsModal(vm.navigation.active)">
                                    <i class="fa fa-cog fa-fw"></i>
                                </a>
                            </label>
                            <select data-ng-disabled="!super.vm.clicked"
                                    name="foreman" id="foreman" class="form-control workers"
                                    ng-model="super.vm.data.pickedUpCrew.foreman"
                                    ng-change="super.vm.isSubmitted[curRequest.nid] = false; super.vm.changeWorker('foreman', super.vm.data.pickedUpCrew.foreman, 'pickedUpCrew')">
                                <option value="">- Select foreman -</option>
                                <option ng-repeat="(uid, user) in super.vm.users.foreman | orderBy:'name'" value="{{:: user.uid}}"
                                        ng-selected="user.uid == super.vm.data.pickedUpCrew.foreman"
                                        ng-disabled="isSelected(user.uid, 'pickedUpCrew') || user.disabled">
                                    {{ user.name}}
                                </option>
                            </select>
                            <a href="javascript:;" class="btn btn-switch no-animate"
                               ng-show="super.vm.clicked && !super.vm.isExistSwitchers(super.vm.data.pickedUpCrew.foreman)"
                               ng-click="super.vm.toggleSwitcher(super.vm.data.pickedUpCrew.foreman)"><i class="fa fa-refresh"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-switch no-animate"
                               ng-show="super.vm.clicked && super.vm.isExistSwitchers(super.vm.data.pickedUpCrew.foreman)"
                               ng-click="super.vm.removeSwitcher(super.vm.data.pickedUpCrew.foreman);"><i class="fa fa-times"></i>
                            </a>
                            <div class="clearfix"></div>

                            <select name="helper" class="form-control switcher no-animate" style="margin-top: 10px;"
                                    ng-model="super.vm.switchers[super.vm.data.pickedUpCrew.foreman]"
                                    ng-change="super.vm.isSubmitted[curRequest.nid] = false;"
                                    ng-show="super.vm.isExistSwitchers(super.vm.data.pickedUpCrew.foreman)">
                                <option value="">- Select Helper -</option>
                                <option ng-repeat="user in super.vm.users.foreman | orderBy:'name'"
                                        value="{{:: user.uid }}"
                                        ng-disabled="isSelected(user.uid, 'pickedUpCrew', true)"
                                        ng-selected="user.uid == super.vm.switchers[super.vm.data.foreman]">
                                    {{ user.name}}
                                </option>
                            </select>
                            <small id="helpBlock1" class="text-danger"
                                   ng-show="super.errors.foreman">* Please Select Foreman</small>
                        </div>
                    </div>

                    <!-- Helpers -->
                    <div class="form-group helpers" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}"
                         ng-repeat="worker in super.vm.data.pickedUpCrew.helpers track by $index">
                        <div class="col-xs-12">
                            <div class="clearfix">
                                <label >Helper No. {{ $index + 2}}</label>
                                <select name="helper" class="form-control workers"
                                        data-ng-disabled="!super.vm.clicked"
                                        ng-model="super.vm.data.pickedUpCrew.helpers[$index]"
                                        ng-change="super.vm.setWorker( super.vm.data.pickedUpCrew.helpers[$index], oldValue, 'pickedUpCrew')"
                                        ng-class="{'no-helper': super.vm.data.pickedUpCrew.helpers[$index] === undefined}"
                                        ng-click="oldValue =  super.vm.data.pickedUpCrew.helpers[$index]">
                                    <option value="">- Select Helper -</option>
                                    <optgroup ng-repeat="(role, helpers) in super.vm.helpers | groupBy: 'role' " label="{{ ::role }}">
                                        <option ng-repeat="helper in helpers | orderBy:'name'"
                                                value="{{:: helper.uid }}"
                                                ng-disabled="isSelected(helper.uid, 'pickedUpCrew', true) || super.vm.isLockedHelper(helper)"
                                                ng-selected="helper.uid == worker">
                                            {{:: helper.name }}
                                        </option>
                                    </optgroup>

                                </select>
                                <a href="javascript:;" class="btn btn-switch no-animate"
                                   ng-show="super.vm.clicked &&  !super.vm.isExistSwitchers(worker)"
                                   ng-click="super.vm.toggleSwitcher(worker)">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-switch no-animate"
                                   ng-show="super.vm.clicked &&  super.vm.isExistSwitchers(worker)"
                                   ng-click="super.vm.removeSwitcher(worker);">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <select name="helper" class="form-control switcher no-animate" style="margin-top: 10px;"
                                    ng-model="super.vm.switchers[worker]"
                                    ng-change="super.vm.isSubmitted[curRequest.nid] = false;"
                                    ng-show="super.vm.isExistSwitchers(worker)">
                                <option value="">- Select Helper -</option>
                                <optgroup ng-repeat="(role, helpers) in super.vm.helpers | groupBy: 'role' " label="{{ ::role }}">
                                    <option ng-repeat="helper in helpers | orderBy:'name'"
                                            value="{{:: helper.uid }}"
                                            ng-disabled="isSelected(helper.uid, 'pickedUpCrew', true)"
                                            ng-selected="helper.uid == super.vm.switchers[worker]">
                                        {{:: helper.name }}
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="btn-group btn-group-justified"
                         role="group"
                         ng-if="super.vm.clicked">
                        <div class="btn-group" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}">
                            <button class="btn dispatch-worker-crew-control-block__btn plus"
                                    uib-tooltip="Add Worker"
                                    ng-disabled="super.vm.availableWorkers()"
                                    ng-click="addWorker('pickedUpCrew')">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="btn-group" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}">
                            <button class="btn dispatch-worker-crew-control-block__btn minus"
                                    uib-tooltip="Delete Worker"
                                    ng-click="deleteWorker('pickedUpCrew')"
                                    ng-disabled="super.vm.data.pickedUpCrew.helpers.length == 1">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn dispatch-worker-crew-control-block__btn contract"
                                    uib-tooltip="View Contract"
                                    ng-click="super.vm.openContractInBlack()">
                                <i class="fa fa-file-o"></i>
                            </button>
                        </div>
                    </div>

                    <div class="dispatch-assign-crew-control-block">
                        <button class="btn dispatch-assign-crew-control-block__btn assign"
                                data-ng-disabled="!super.vm.clicked || super.vm.isSubmitted[curRequest.nid] || super.vm.checkJobCompleted(curRequest)"
                                ng-click="super.vm.assignTeam(request)">
                            Assign crew
                        </button>
                        <button class="btn dispatch-assign-crew-control-block__btn unassign"
                                data-ng-disabled="super.vm.checkJobCompleted(curRequest)"
                                ng-show="super.vm.clicked && super.vm.isFlagExist(curRequest.field_company_flags, 'teamAssigned')"
                                ng-click="super.vm.unAssignTeam()">
                            Unassign Crew
                        </button>
                        <!--<button class="btn dispatch-assign-crew-control-block__btn create-crew"-->
                                <!--ng-if="super.vm.allowToCreateCrew"-->
                                <!--ng-click="super.vm.createCrewToPreset()">-->
                            <!--Create Crew-->
                        <!--</button>-->
                    </div>
                </div>
            </div>

            <div class="tab-pane" ng-class="{'active': vm.navigation.active == 1}" ng-click="vm.navigation.active = 1">
                <!-- For other Crews -->
                <div>
                    <!-- Delivery -->
                    <div class="form-group" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="work-crew-presets">
                                    <label for="deliveryCrew">Crews</label>
                                    <select ng-disabled="!super.vm.clicked"
                                            class="form-control workers"
                                            ng-model="super.vm.data.deliveryCrew.crew"
                                            ng-change="super.vm.pasteCrew('deliveryCrew')"
                                            ng-options="crew.team_id as crew.name disable when crew.disabled for crew in super.vm.crews"
                                            id="deliveryCrew">
                                        <option value="">Please select crew</option>
                                    </select>
                                </div>
                            </div>
                            <label for="foreman">Foreman No. 1 &nbsp;
                                <a href="javascript:;" style="display: none;"  ng-if='super.vm.clicked' ng-click="openSettingsModal(vm.navigation.active)">
                                    <i class="fa fa-cog fa-fw"></i>
                                </a>
                            </label>
                            <select data-ng-disabled="!super.vm.clicked"
                                    name="foreman" id="foreman" class="form-control workers"
                                    ng-model="super.vm.data.deliveryCrew.foreman"
                                    ng-change="super.vm.isSubmitted[curRequest.nid] = false; super.vm.changeWorker('foreman', super.vm.data.deliveryCrew.foreman, 'deliveryCrew')">
                                <option value="">- Select foreman -</option>
                                <option ng-repeat="(uid, user) in super.vm.users.foreman | orderBy:'name'" value="{{:: user.uid}}"
                                        ng-selected="user.uid == super.vm.data.deliveryCrew.foreman"
                                        ng-disabled="isSelected(user.uid, 'deliveryCrew') || user.disabled">
                                    {{:: user.name }}
                                </option>
                            </select>
                            <a href="javascript:;" class="btn btn-switch no-animate"
                               ng-show="super.vm.clicked && !super.vm.isExistSwitchers(super.vm.data.deliveryCrew.foreman)"
                               ng-click="super.vm.toggleSwitcher(super.vm.data.deliveryCrew.foreman)"><i class="fa fa-refresh"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-switch no-animate"
                               ng-show="super.vm.clicked && super.vm.isExistSwitchers(super.vm.data.deliveryCrew.foreman)"
                               ng-click="super.vm.removeSwitcher(super.vm.data.deliveryCrew.foreman);"><i class="fa fa-times"></i>
                            </a>
                            <div class="clearfix"></div>

                            <select name="helper" class="form-control switcher no-animate" style="margin-top: 10px;"
                                    ng-model="super.vm.switchers[super.vm.data.deliveryCrew.foreman]"
                                    ng-change="super.vm.isSubmitted[curRequest.nid] = false;"
                                    ng-show="super.vm.isExistSwitchers(super.vm.data.deliveryCrew.foreman)">
                                <option value="">- Select Helper -</option>
                                <option ng-repeat="user in super.vm.users.foreman | orderBy:'name' "
                                        value="{{:: user.uid }}"
                                        ng-disabled="isSelected(user.uid, 'deliveryCrew' ,true)"
                                        ng-selected="user.uid == super.vm.switchers[super.vm.data.foreman]">
                                    {{ user.name}}
                                </option>
                            </select>
                            <small id="helpBlock1" class="text-danger"
                                   ng-show="super.errors.foreman">* Please Select Foreman</small>
                        </div>
                    </div>

                    <!-- Helpers -->
                    <div class="form-group helpers" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}"
                         ng-repeat="worker in super.vm.data.deliveryCrew.helpers track by $index">
                        <div class="col-xs-12">
                            <div class="clearfix">
                                <label >Helper No. {{ $index + 2}}</label>
                                <select name="helper" class="form-control workers"
                                        data-ng-disabled="!super.vm.clicked"
                                        ng-model="super.vm.data.deliveryCrew.helpers[$index]"
                                        ng-change="super.vm.setWorker( super.vm.data.deliveryCrew.helpers[$index], oldValue, 'deliveryCrew')"
                                        ng-class="{'no-helper': super.vm.data.deliveryCrew.helpers[$index] === undefined}"
                                        ng-click="oldValue =  super.vm.data.deliveryCrew.helpers[$index]">
                                    <option value="">- Select Helper -</option>
                                    <optgroup ng-repeat="(role, helpers) in super.vm.helpers | groupBy: 'role' " label="{{ ::role }}">
                                        <option ng-repeat="helper in helpers | orderBy:'name'"
                                                value="{{:: helper.uid }}"
                                                ng-disabled="isSelected(helper.uid, 'deliveryCrew', true) || super.vm.isLockedHelper(helper)"
                                                ng-selected="helper.uid == worker">
                                            {{:: helper.name }}
                                        </option>
                                    </optgroup>

                                </select>
                                <a href="javascript:;" class="btn btn-switch no-animate"
                                   ng-show="super.vm.clicked &&  !super.vm.isExistSwitchers(worker)"
                                   ng-click="super.vm.toggleSwitcher(worker)">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-switch no-animate"
                                   ng-show="super.vm.clicked &&  super.vm.isExistSwitchers(worker)"
                                   ng-click="super.vm.removeSwitcher(worker);">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                            <select name="helper" class="form-control switcher no-animate" style="margin-top: 10px;"
                                    ng-model="super.vm.switchers[worker]"
                                    ng-change="super.vm.isSubmitted[curRequest.nid] = false;"
                                    ng-show="super.vm.isExistSwitchers(worker)">
                                <option value="">- Select Helper -</option>
                                <optgroup ng-repeat="(role, helpers) in super.vm.helpers | groupBy: 'role' " label="{{ ::role }}">
                                    <option ng-repeat="helper in helpers | orderBy:'name'"
                                            value="{{:: helper.uid }}"
                                            ng-disabled="isSelected(helper.uid, 'deliveryCrew', true)"
                                            ng-selected="helper.uid == super.vm.switchers[worker]">
                                        {{:: helper.name }}
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="btn-group btn-group-justified"
                         role="group"
                         ng-if="super.vm.clicked">
                        <div class="btn-group" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}">
                            <button class="btn dispatch-worker-crew-control-block__btn plus"
                                    uib-tooltip="Add Worker"
                                    ng-disabled="super.vm.availableWorkers()"
                                    ng-click="addWorker('deliveryCrew')">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="btn-group" ng-class="{disabled: super.vm.checkJobCompleted(curRequest)}">
                            <button class="btn dispatch-worker-crew-control-block__btn minus"
                                    uib-tooltip="Delete Worker"
                                    ng-click="deleteWorker('deliveryCrew')"
                                    ng-disabled="super.vm.data.deliveryCrew.helpers.length == 1">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn dispatch-worker-crew-control-block__btn contract"
                                    uib-tooltip="View Contract"
                                    ng-click="super.vm.openContractInBlack()">
                                <i class="fa fa-file-o"></i>
                            </button>
                        </div>
                    </div>

                    <div class="dispatch-assign-crew-control-block">
                        <button class="btn dispatch-assign-crew-control-block__btn assign"
                                data-ng-disabled="!super.vm.clicked || super.vm.isSubmitted[curRequest.nid] || super.vm.checkJobCompleted(curRequest)"
                                ng-click="super.vm.assignTeam()">
                            Assign crew
                        </button>
                        <button class="btn dispatch-assign-crew-control-block__btn unassign"
                                data-ng-disabled="super.vm.checkJobCompleted(curRequest)"
                                ng-show="super.vm.clicked && super.vm.isFlagExist(curRequest.field_company_flags, 'teamAssigned')"
                                ng-click="super.vm.unAssignTeam()">
                            Unassign Crew
                        </button>
                        <!--<button class="btn dispatch-assign-crew-control-block__btn create-crew"-->
                                <!--ng-if="super.vm.allowToCreateCrew"-->
                                <!--ng-click="super.vm.createCrewToPreset()">-->
                            <!--Create Crew-->
                        <!--</button>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
