
.day-number.peak, li.peak, .ui-datepicker-calendar td.peak a {
    background: #e76a6b;
}

#owl-calendar .cal {
    float: left;
    margin-left: 45px;
    min-height: 245px;
}
.cal {
    display: block;
    width: 210px;
}
.cal caption {
    display: block;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #4D9FDF;
    text-align: center;
    background: white;
    margin: 0!important;
}

.cal th {
    line-height: 20px;
    font-size: 8px;
    color: #4D9FDF;
    font-weight: bold;
    text-transform: uppercase;
    background: #FFFFFF;
    border: 0px;
}

.cal th, .cal td {
    width: 15%;
    text-align: center;
    padding: 0px;
}
.cal td {
    font-size: 11px;
    font-weight: bold;
}
.cal th:first-child, .cal td:first-child {
    border-left: 0;
}
.cal td a {
    clear: both;
    display: block;
    position: relative;
    width: 30px;
    line-height: 28px;
    color: #fff;
}

.ui-datepicker a.ui-state-default {

}
.day-number.Block,li.Block,.ui-datepicker-calendar td.Block a{
	color: #ffffff!important;
}
.day-number.regular,li.regular,.ui-datepicker-calendar td.Regular a{
    background: #4cb1e0;
    color: #ffffff!important;
}
.day-number.peak,li.Peak,.ui-datepicker-calendar td.Peak a{
    background:  #f36a13;
    color: #ffffff!important;
}
.day-number.subpeak ,li.SubPeak,.ui-datepicker-calendar td.SubPeak a{
    background: #0a5c89;
    color: #ffffff!important;
}
.day-number.discount,li.Dicount, .ui-datepicker-calendar td.Discount a{
    background: rgb(31, 197, 172);
    color: #ffffff!important;
}
.day-number.highpeak,li.HighPeak, .ui-datepicker-calendar td.HighPeak a{
    background:#DB2D2D;
    color: #ffffff!important;
}

.ui-datepicker-buttonpane.ui-widget-content li.type {
    list-style: none;
    float: left;
    margin: 4px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0px 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.ui-state-disabled
{
    background: transparent!important;
}
.chosen-container{
    width: 100% !important;
}
