<div  class="full-screen-btn" ng-show="isSuportedFullScreen">
    <span ng-if="isMobile">Full screen mode</span>
    <i ng-show="isFullScreen" class="icon-size-fullscreen" aria-hidden="true"></i>
    <i ng-hide="isFullScreen" class="icon-size-actual" aria-hidden="true"></i>
</div>
