<ul class="dropdown-menu flipInX" role="menu">
                   <span class="arrow top"></span>
                        <li>
                            <a href="javascript:void(0);" ng-click="userPage()"> 
                                <span class="icon"><i class="fa fa-user"></i>
                                </span>My Account</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" ng-click="userSetting()">
                                <span class="icon"><i class="fa fa-cog"></i>
                                </span>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" ng-click="user_logout()">
                                <span class="icon"><i class="fa fa-sign-out"></i>
                                </span>Logout</a>
                        </li>
</ul>