.dispatch-settings-wrapper
	position relative
	.dispatch-settings-busy-overlay
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		display flex
		justify-content center
		align-items center
		background-color rgba(255, 255, 255, .8)
		z-index 10
	.dispatch-crew-setting
		background-color #fff
		box-shadow 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
		margin-bottom 1em
		&__header
			padding 1em
			border-bottom 1px solid #ebebeb
			background-color #556b8d
		&__title
			color #fff
		&__body
			padding 1em
			display flex
			justify-content space-between
			align-items center
