<div class="dispatch-settings-wrapper">
    <div class="dispatch-settings-busy-overlay"
         ng-if="busy">
        <img src="../../../../../content/img/logo_animation.gif"
             alt="Loading...">
    </div>
    <div class="dispatch-crew-setting">
        <div class="dispatch-crew-setting__header">
            <h3 class="dispatch-crew-setting__title">Dispatch Crew Setting</h3>
        </div>
        <div class="dispatch-crew-setting__body">
            <h4 class="dispatch-crew-setting__setting">Crews always available:</h4>
            <input class="dispatch-crew-setting__checkbox"
                   type="checkbox"
                   ichecks
                   ng-change="changeCrewAvailableState()"
                   ng-model="isCrewAlwaysAvailable"/>
        </div>
    </div>
</div>
