.reviews-wrapper {
  display: inline-block;
  width: 100%;
  margin: 50px 0;
  text-align: center;
  background: #fff;
}

.reviews-wrapper .reviews {
  width: 100%;
  display: inline-block;
  max-width: 1170px;
  text-align: left;
}

.reviews-text {
  height: auto !important;
  min-height: 480px !important;
}

.reviews-box-info {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  padding-left: 1em;
}

.reviews-title {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #535353;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  border-bottom: solid 1px #ccc;
}

.reviews-item-general-info {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}

.reviews-item {
  width: 100%;
  display: inline-block;
  position: relative;
  min-height: 310px;
}

.reviews-item .reviews-item-box {
  min-height: 230px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  width: 100%;
}

.reviews-item .reviews-item-box.active-slide {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.reviews-item .reviews-item-box p {
  text-align: left;
  color: #535353;
  font-style: normal;
}

.reviews-rating {
  float: left;
  color: #ffd200;
  height: 30px;
  line-height: 30px;
}

.reviews-date {
  float: left;
  font-size: 14px;
  color: #010101;
  margin-left: 15px;
  height: 30px;
  line-height: 30px;
}

.reviews-author {
  float: right;
  padding: 3px 10px;
  border-radius: 10px;
  background: #f1f1f1;
}

.reviews-text-item {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #535353 !important;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 0;
}

.reviews-city {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.reviews-controls {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  position: absolute !important;
  bottom: 0;
}

.reviews-control-left {
  position: absolute;
  left: -10px;
  font-size: 24px;
  color: #919191;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.reviews-control-right {
  position: absolute;
  right: -10px;
  font-size: 24px;
  color: #919191;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.reviews-control-left:hover,
.reviews-control-right:hover {
  color: #00b4ff;
}

.reviews-control-left:active,
.reviews-control-right:active,
.reviews-controls-indicator:active,
a.more-reviews:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.reviews-controls-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px 5px;
  background: #919191;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.reviews-controls-indicator.active, .reviews-controls-indicator:hover {
  background: #00b4ff;
}

.reviews-box-average {
  float: right;
  vertical-align: top;
  width: 50%;
  background: url(https://themoveboard.com/assets/img/reviews-bg.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 20px 0;
  margin-top: 15px;
}

.reviews-average-rate {
  display: inline-block;
  width: 100%;
  font-size: 130px;
  color: #3f4042;
  line-height: 130px;
}

.reviews-average-stars-box {
  display: inline-block;
  width: 80%;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 50px;
  color: #ffd200;
  margin-top: 30px;
}

.reviews-average-stars-box i {
  margin: 0 10px;
}

a.more-reviews {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  background: #3c3d40;
  padding: 5px 15px;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a.more-reviews:hover {
  opacity: 0.8;
}

.reviews-all-wrapper {
  display: inline-block;
  width: 100%;
}

@media (max-width: 1055px) {
  .reviews-box-info, .reviews-box-average {
    width: 100%;
  }
  .reviews-box-info {
    padding: 15px;
  }
}

@media (max-width: 470px) {
  .reviews-average-stars-box i {
    font-size: 30px;
  }
}

@media (max-width: 355px) {
  .reviews-average-stars-box i {
    font-size: 20px;
  }
  .reviews-average-stars-box {
    padding-top: 10px !important;
  }
}
/*# sourceMappingURL=reviews.css.map */