<div class="reviews-wrapper">
    <div class="reviews">
        <div class="reviews-box-info">
            <div class="reviews-title">
                CUSTOMER REVIEWS
            </div>
            <div ng-if="!greatestReviews.length">
                <p>"{{randomReview.value}}"</p>
                <p>"{{randomReview2.value}}"</p>
            </div>
            <div ng-if="greatestReviews.length">
                <div class="reviews-item">
                    <div class="reviews-item-box" ng-repeat="(key, value) in greatestReviews track by key" ng-class="{'active-slide': key == slideIndex}">
                        <div class="reviews-item-general-info">
                            <span class="reviews-rating" ng-repeat="marks in [1, 2, 3, 4, 5] | limitTo: value.stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="reviews-date">{{value.createdDate}}</span>
                            <span class="reviews-author">{{value.userName}}</span>
                        </div>
                        <p class="reviews-text-item" ng-bind-html="value.reviewText"></p>
                        <span class="reviews-city">Boston, MA</span>
                    </div>
                    <div class="reviews-controls">
                        <span class="reviews-control-left" ng-click="prevSlide()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </span>
                        <span class="reviews-control-right" ng-click="nextSlide()">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                        <span ng-repeat="index in reviewsIndex"
                              class="reviews-controls-indicator"
                              ng-click="changeSlideIndex(index)"
                              ng-class="{active: slideIndex == index}"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="reviews-box-average">
        	<span class="reviews-average-rate">
            	{{totalAverage | number:1}}
            </span>
            <div class="reviews-average-stars-box">
                <i ng-repeat="overallMark in [1, 2, 3 , 4 ,5] | limitTo: totalAverage" class="fa fa-star" aria-hidden="true"></i>
            </div>
            <div class="reviews-all-wrapper">
                <a href="reviews.html" class="more-reviews">VIEW MORE REVIEWS</a>
            </div>
        </div>
    </div>
</div>