.customer-online-panel-wrapper
	position relative
	width 60px
	height 60px
	&__panel
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		display flex
		justify-content center
		align-items center
		cursor pointer
		&:hover
			background-color #ebebeb
	&__title
		font-size 1.2em
		margin-left .5em
	&__online-indicator
		background-color rgba(39, 174, 96, .8)
		width 15px
		height 15px
		border-radius 50%
		filter blur(1.5px)
