<div class="customer-online-panel-wrapper"
     uib-tooltip="{{onlineCustomers}} customers online"
     tooltip-placement="left"
     ng-click="openCustomerOnlineModal()">
    <div class="customer-online-panel-wrapper__panel">
        <div class="customer-online-panel-wrapper__online-indicator"></div>
        <h3 class="customer-online-panel-wrapper__title">{{onlineCustomers}}</h3>
    </div>
</div>
