include ../../../../../../../node_modules/bemto.pug/bemto

+b.add-reservation-charge-form(style="visibility: hidden")
	+e.dialog-container.md-dialog-container#addReservationCharge
		+e('md-dialog').dialog(layout-padding)
			md-toolbar
				.md-toolbar-tools
					+e('h2').title
						| Reservation
					span(flex)
					md-button.md-icon-button(ng-click="cancel()")
						ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
			md-dialog-content
				.md-dialog-content
					+e('form').checkout(name="checkout_form")
						.step(ng-show="currentStep == 1")
							+e('md-input-container').input-container.md-block(flex-gt-sm)
								label Amount
								input(ng-model="payment.amount"  cc-currency)
						.step(ng-show="currentStep == 2")
							div(layout-gt-xs="row")
								+e('md-input-container').input-container.md-block(flex-gt-sm)
									label Card number
									input(ng-model="payment.card_num" name="cardNumber" cc-credit-card cc-type cc-number cc-format placeholder="4111 1111 1111 1111" minlength="17" maxlength="19")
								+e('md-input-container').input-container.md-block
									label Month
									input(ng-model="payment.exp_month" name="cardMonth" maxlength="2" cc-exp-month placeholder="MM")
								+e('md-input-container').input-container.md-block(flex-gt-xs)
									label Year
									input(ng-model="payment.exp_year" name="cardYear" maxlength="2" cc-exp-year placeholder="YY")
							div(layout-gt-xs="row")
								+e('md-input-container').input-container.md-block(flex-gt-sm)
									label Name
									input(ng-model="payment.name" name="cardNumber")
								+e('md-input-container').input-container.md-block
									label CVC
									input(ng-model="payment.cvc")
							div(layout-gt-xs="row")
								+e('md-input-container').input-container.md-block(flex-gt-sm)
									label Billing city
									input(ng-model="payment.billing_city" name="billingCity")
								+e('md-input-container').input-container.md-block
									label State
									input(ng-model="payment.billing_state")
								+e('md-input-container').input-container.md-block
									label Postal Code
									input(ng-model="payment.billing_zip" ng-maxlength="5")

			md-dialog-actions(layout="row")
				md-button(md-autofocus)
					| Cancel
				span(flex)
				md-button(ng-click="currentStep = 2" ng-show="currentStep == 1")
					| Next step
				md-button(ng-click="currentStep = 3" ng-show="currentStep == 2")
					| Pay
