.add-reservation-charge-form
    &__title
        color: #eee
    &__input-container
        margin: 0
        font-size: 12px
    &__dialog
        width: 500px
        padding: 0
    &__dialog-container
        z-index: 1100

    &__next-button
        width: 98%
    