.add-reservation-charge-form__title {
  color: #eee;
}
.add-reservation-charge-form__input-container {
  margin: 0;
  font-size: 12px;
}
.add-reservation-charge-form__dialog {
  width: 500px;
  padding: 0;
}
.add-reservation-charge-form__dialog-container {
  z-index: 1100;
}
.add-reservation-charge-form__next-button {
  width: 98%;
}
