<div ng-class="{'row general box_info': !isReservationPage, 'row': isReservationPage}"
     ng-if="noteClient.length > 7">
    <div class="col-md-3 h2title" ng-if="!isReservationPage">Client Notes</div>
    <h2 class="btitle" ng-if="isReservationPage">Client Notes</h2>
    <div ng-class="{'quote_note col-md-9': !isReservationPage, 'formen-notes': isReservationPage}"
         ng-bind-html="noteClient"></div>
</div>
<div class="row" ng-if="isReservationPage && (admin || isForeman) && noteForeman.length > 7">
    <h2 class="btitle">Foreman notes
        <span class="pull-right b-title-icons" ng-click="showNotes = !showNotes">
            <i ng-if="!showNotes" class="fa fa-plus" aria-hidden="true"></i>
            <i ng-if="showNotes" class="fa fa-minus" aria-hidden="true"></i>
        </span>
    </h2>
    <div class="formen-notes fadeIn" ng-show="showNotes" ng-bind-html="noteForeman">
    </div>
</div>