.email-was-read-tooltip
	width 300px
	height 50px
	display flex
	flex-direction column
	justify-content center
	align-items flex-start
	&__title
		color #fff
		font-size 0.8em
		line-height 1.2
		span
			font-weight 600
