<div class="email-was-read-tooltip">
    <h5 class="email-was-read-tooltip__title">
        Mail is read at <span>{{detail.date_viewed}}</span>.
    </h5>
    <h5 class="email-was-read-tooltip__title">
        IP-address: <span>{{detail.ip}}</span>
    </h5>
</div>
