<div ng-show="busy" class="busyoverlay-new-log">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
<div id="saleslog" class="fadeInLeft saleslog">
    <div class="config-swatch-wrap">
        <form ng-submit="addMessage()" class="log add ng-pristine ng-valid">
            <input type="text" ng-model="message" size="30" placeholder="add new message here" class="ng-pristine ng-valid ng-touched">
            <input class="btn-primary" type="submit" value="add">
        </form>
        <div class="tab-wrapper">
            <ul class="nav nav-tabs log-tabs" ng-hide="entitytype == 'STORAGEREQUEST'">
                <li heading="{{tab.name}}" class="ng-isolate-scope nav-tab" ng-class="{'active': tab.selected}" ng-repeat="(key, tab) in tabs">
                    <a href="" ng-click="select(tab)">{{tab.name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="row" ng-show="tabs[0].selected">
                    <div class="col-md-12">
                        <div class="log-content" ng-repeat="log in allLogs | orderBy: '-id' track by $index " ng-init="allLogsIndex = $index">
                            <div class="log">
                                <div ng-repeat="detail in log.details">
                                    <h2 style="display: inline-block;">{{detail.title}} </h2>
                                    <div style="display: inline-block;"> by {{log.source}}
                                        <span class="small-tooltip" ng-if="detail.from">({{detail.from}})</span>
                                        <span class="small-tooltip" ng-if="detail.body">
                                            <i class="fa fa-eye"
                                               tooltip-placement="top"
                                               uib-tooltip-template="'./app/requests/directives/new-log/email-is-read-tooltip.tpl.html'"
                                               aria-hidden="true"
                                               ng-show="detail.date_viewed"></i>
                                            <i class="fa fa-eye-slash" tooltip-placement="top" uib-tooltip="Mail not read" aria-hidden="true" ng-show="!detail.date_viewed"></i>
                                        </span>
                                    </div>
                                    <div class="type"><i class="fa {{getIconLogType(detail.title, detail)}}"></i></div>
                                    <div>
                                        <div class="message-new-log" ng-repeat="item in detail.text" ng-class="{'mail-subject': detail.body}">
                                        <span ng-if="item.text" class="log-text">
                                            <b>
                                                <span ng-bind-html='toTrustedHTML(item.text)' class="lot-numbers-item"></span>
                                            </b>
                                        </span>
                                        <span ng-if="item.simpleText">
                                            <br ng-hide="!item.text || !item.html">
                                            <b>{{item.simpleText}}</b>
                                        </span>
                                            <div ng-if="item.text.search('Lot') >= 0 || item.text.search('Charges') >= 0 || item.text == 'client notes'">
                                                <div ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                    <br ng-hide="!item.text || item.simpleText">
                                                    <div class="lot-numbers-label">From:</div>
                                                    <div ng-bind-html='item.from' class="lot-numbers-item"></div>
                                                </div>
                                                <div ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                    <br ng-if="item.from && item.from != ''">
                                                    <div class="lot-numbers-label">To:</div>
                                                    <div ng-bind-html='item.to' class="lot-numbers-item"></div>
                                                </div>
                                            </div>
                                            <span ng-if="item.text.search('Lot') == -1 && item.text.search('Charges') == -1 && item.text != 'client notes'">
                                            <span ng-if="item.from && item.from != '' && item.from != 'client notes'" style="padding-left: 25px;">
                                                <br ng-hide="!item.text || item.simpleText">
                                                <span>From: </span>
                                                <span class="lot-numbers-item">{{item.from}}</span>
                                            </span>
                                            <span ng-if="item.to && item.to != '' && item.to != 'client notes'" style="padding-left: 25px;">
                                                <br><span>To: </span>
                                                <span class="lot-numbers-item">{{item.to}}</span>
                                            </span>
                                        </span>
                                            <div class="body">
                                                <span ng-bind-html='item.html' ng-show="allLogsShow[allLogsIndex] && detail.body"></span>
                                                <span ng-bind-html='item.html' ng-show="!detail.body"></span>
                                            </div>
                                        </div>
                                        <div ng-if="detail.body" title="Open" class="open-html" ng-click="allLogsShow[allLogsIndex] = !allLogsShow[allLogsIndex]" style="display: inline-block;">
                                            <i class="fa fa-caret-square-o-down" aria-hidden="true" ng-show="!allLogsShow[allLogsIndex]"></i><span ng-show="!allLogsShow[allLogsIndex]"> Expand</span>
                                            <i class="fa fa-caret-square-o-up" aria-hidden="true" ng-hide="!allLogsShow[allLogsIndex]"></i><span ng-show="allLogsShow[allLogsIndex]"> Collapse</span>
                                        </div>
                                    </div>
                                    <div class="body" ng-if="detail.body">
                                        <span ng-bind-html='toTrustedHTML(detail.body)' ng-show="allLogsShow[allLogsIndex]"></span>
                                    </div>
                                    <div ng-if="detail.info" class="info">
                                        <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="Browser: {{detail.info.browser.name}}; Browser version: {{detail.info.browser.version}}; IP: {{detail.info.ip}}" tooltip-placement="left" tooltip-trigger="click" tooltip-class="customTooltip" tooltip-popup-close-delay="1000"></i>
                                    </div>
                                </div>
                                <div class="time"><i class="fa fa-clock-o"></i> {{dateFormatter(log.date)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="tabs[1].selected">
                    <div class="col-md-12">
                        <div class="log-content" ng-repeat="log in systemLogs | orderBy: '-date' track by $index " ng-init="systemIndex = $index">
                            <div class="log">
                                <div ng-repeat="detail in log.details">
                                    <h2 style="display: inline-block;">{{detail.title}} </h2>
                                    <div style="display: inline-block;"> by {{log.source}}
                                        <span class="small-tooltip" ng-if="detail.from">({{detail.from}})</span>
                                        <span class="small-tooltip" ng-if="detail.body">
                                            <i class="fa fa-eye" tooltip-placement="top" uib-tooltip="Mail read" aria-hidden="true" ng-show="detail.visit"></i>
                                            <i class="fa fa-eye-slash" tooltip-placement="top" uib-tooltip="Mail not read" aria-hidden="true" ng-show="!detail.visit"></i>
                                        </span>
                                    </div>
                                    <div class="type"><i class="fa {{getIconLogType(detail.title, detail)}}"></i></div>
                                    <div>
                                        <div class="message-new-log" ng-if="isItArray(detail)" ng-repeat="item in detail.text" ng-class="{'mail-subject': detail.body}">
                                        <span ng-if="item.text" class="log-text">
                                            <b>
                                                <span ng-bind-html='toTrustedHTML(item.text)' class="lot-numbers-item"></span>
                                            </b>
                                        </span> <span ng-if="item.simpleText">
                                            <br ng-hide="!item.text || !item.html">
                                            <b>{{item.simpleText}}</b>
                                        </span>
                                            <div ng-if="item.text.search('Lot') >= 0 || item.text.search('Charges') >= 0">
                                                <div ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                    <br ng-hide="!item.text || item.simpleText">
                                                    <div class="lot-numbers-label">From:</div>
                                                    <div ng-bind-html='item.from' class="lot-numbers-item"></div>
                                                </div>
                                                <div ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                    <br ng-if="item.from && item.from != ''">
                                                    <div class="lot-numbers-label">To:</div>
                                                    <div ng-bind-html='item.to' class="lot-numbers-item"></div>
                                                </div>
                                            </div>
                                            <span ng-if="item.text.search('Lot') == -1 && item.text.search('Charges') == -1">
                                            <span ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                <br ng-hide="!item.text || item.simpleText">
                                                <span>From: </span>
                                                <span class="lot-numbers-item">{{item.from}}</span>
                                            </span>
                                            <span ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                <br><span>To: </span>
                                                <span class="lot-numbers-item">{{item.to}}</span>
                                            </span>
                                        </span>
                                            <div class="body">
                                                <span ng-bind-html='item.html' ng-show="systemLogsShow[systemIndex] && detail.body"></span>
                                                <span ng-bind-html='item.html' ng-show="!detail.body"></span>
                                            </div>
                                            <div ng-if="detail.body" title="Open" class="open-html" ng-click="systemLogsShow[systemIndex] = !systemLogsShow[systemIndex]" style="display: inline-block;">
                                                <i class="fa fa-caret-square-o-down" aria-hidden="true" ng-show="!systemLogsShow[systemIndex]"></i><span ng-show="!systemLogsShow[systemIndex]"> Expand</span>
                                                <i class="fa fa-caret-square-o-up" aria-hidden="true" ng-hide="!systemLogsShow[systemIndex]"></i><span ng-show="systemLogsShow[systemIndex]"> Collapse</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body" ng-if="detail.body">
                                        <span ng-bind-html='toTrustedHTML(detail.body)' ng-show="systemLogsShow[systemIndex]"></span>
                                    </div>
                                    <div ng-if="detail.info" class="info">
                                        <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="Browser: {{detail.info.browser.name}}; Browser version: {{detail.info.browser.version}}; IP: {{detail.info.ip}}" tooltip-placement="left" tooltip-trigger="click" tooltip-class="customTooltip" tooltip-popup-close-delay="1000"></i>
                                    </div>
                                </div>
                                <div class="time"><i class="fa fa-clock-o"></i> {{dateFormatter(log.date)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="tabs[2].selected">
                    <div class="col-md-12">
                        <div class="log-content" ng-repeat="log in foremanLogs| orderBy: '-date' track by $index " ng-init="foremanIndex = $index">
                            <div class="log">
                                <div ng-repeat="detail in log.details">
                                    <h2 style="display: inline-block;">{{detail.title}} </h2>
                                    <div style="display: inline-block;"> by {{log.source}}
                                        <span class="small-tooltip" ng-if="detail.from">({{detail.from}})</span>
                                        <span class="small-tooltip" ng-if="detail.body">
                                            <i class="fa fa-eye" tooltip-placement="top" uib-tooltip="Mail read" aria-hidden="true" ng-show="detail.visit"></i>
                                            <i class="fa fa-eye-slash" tooltip-placement="top" uib-tooltip="Mail not read" aria-hidden="true" ng-show="!detail.visit"></i>
                                        </span>
                                    </div>
                                    <div class="type"><i class="fa {{getIconLogType(detail.title, detail)}}"></i></div>
                                    <div>
                                        <div class="message-new-log" ng-if="isItArray(detail)" ng-repeat="item in detail.text" ng-class="{'mail-subject': detail.body}">
                                        <span ng-if="item.text" class="log-text">
                                            <b>
                                                <span ng-bind-html='toTrustedHTML(item.text)' class="lot-numbers-item"></span>
                                            </b>
                                        </span>
                                        <span ng-if="item.simpleText">
                                            <br ng-hide="!item.text || !item.html">
                                            <b>{{item.simpleText}}</b>
                                        </span>
                                            <div ng-if="item.text.search('Lot') >= 0 || item.text.search('Charges') >= 0">
                                                <div ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                    <br ng-hide="!item.text || item.simpleText">
                                                    <div class="lot-numbers-label">From:</div>
                                                    <div ng-bind-html='item.from' class="lot-numbers-item"></div>
                                                </div>
                                                <div ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                    <br ng-if="item.from && item.from != ''">
                                                    <div class="lot-numbers-label">To:</div>
                                                    <div ng-bind-html='item.to' class="lot-numbers-item"></div>
                                                </div>
                                            </div>
                                            <span ng-if="item.text.search('Lot') == -1 && item.text.search('Charges') == -1">
                                            <span ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                <br ng-hide="!item.text || item.simpleText">
                                                <span>From: </span>
                                                <span class="lot-numbers-item">{{item.from}}</span>
                                            </span>
                                            <span ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                <br><span>To: </span>
                                                <span class="lot-numbers-item">{{item.to}}</span>
                                            </span>
                                        </span>
                                            <div class="body">
                                                <span ng-bind-html='item.html' ng-show="foremanLogsShow[foremanIndex] && detail.body"></span>
                                                <span ng-bind-html='item.html' ng-show="!detail.body"></span>
                                            </div>
                                            <div ng-if="detail.body" title="Open" class="open-html" ng-click="foremanLogsShow[foremanIndex] = !foremanLogsShow[foremanIndex]" style="display: inline-block;">
                                                <i class="fa fa-caret-square-o-down" aria-hidden="true" ng-show="!foremanLogsShow[foremanIndex]"></i><span ng-show="!foremanLogsShow[foremanIndex]"> Expand</span>
                                                <i class="fa fa-caret-square-o-up" aria-hidden="true" ng-hide="!foremanLogsShow[foremanIndex]"></i><span ng-show="foremanLogsShow[foremanIndex]"> Collapse</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body" ng-if="detail.body">
                                        <span ng-bind-html='toTrustedHTML(detail.body)' ng-show="foremanLogsShow[foremanIndex]"></span>
                                    </div>
                                    <div ng-if="detail.info" class="info">
                                        <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="Browser: {{detail.info.browser.name}}; Browser version: {{detail.info.browser.version}}; IP: {{detail.info.ip}}" tooltip-placement="left" tooltip-trigger="click" tooltip-class="customTooltip" tooltip-popup-close-delay="1000"></i>
                                    </div>
                                </div>

                                <div class="time"><i class="fa fa-clock-o"></i> {{dateFormatter(log.date)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="tabs[3].selected">
                    <div class="col-md-12">
                        <div class="log-content" ng-repeat="log in salesLogs | orderBy: '-date' track by $index " ng-init="salesIndex = $index">
                            <div class="log">
                                <div ng-repeat="detail in log.details">
                                    <h2 style="display: inline-block;">{{detail.title}} </h2>
                                    <div style="display: inline-block;"> by {{log.source}}
                                        <span class="small-tooltip" ng-if="detail.from">({{detail.from}})</span>
                                        <span class="small-tooltip" ng-if="detail.body">
                                            <i class="fa fa-eye" tooltip-placement="top" uib-tooltip="Mail read" aria-hidden="true" ng-show="detail.visit"></i>
                                            <i class="fa fa-eye-slash" tooltip-placement="top" uib-tooltip="Mail not read" aria-hidden="true" ng-show="!detail.visit"></i>
                                        </span>
                                    </div>
                                    <div class="type"><i class="fa {{getIconLogType(detail.title, detail)}}"></i></div>
                                    <div>
                                        <div class="message-new-log" ng-if="isItArray(detail)" ng-repeat="item in detail.text" ng-class="{'mail-subject': detail.body}">
                                        <span ng-if="item.text" class="log-text">
                                            <b>
                                                <span ng-bind-html='toTrustedHTML(item.text)' class="lot-numbers-item"></span>
                                            </b>
                                        </span>
                                        <span ng-if="item.simpleText">
                                            <br ng-hide="!item.text || !item.html">
                                            <b>{{item.simpleText}}</b>
                                        </span>
                                            <div ng-if="item.text.search('Lot') >= 0 || item.text.search('Charges') >= 0">
                                                <div ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                    <br ng-hide="!item.text || item.simpleText">
                                                    <div class="lot-numbers-label">From:</div>
                                                    <div ng-bind-html='item.from' class="lot-numbers-item"></div>
                                                </div>
                                                <div ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                    <br ng-if="item.from && item.from != ''">
                                                    <div class="lot-numbers-label">To:</div>
                                                    <div ng-bind-html='item.to' class="lot-numbers-item"></div>
                                                </div>
                                            </div>
                                            <span ng-if="item.text.search('Lot') == -1 && item.text.search('Charges') == -1">
                                            <span ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                <br ng-hide="!item.text || item.simpleText">
                                                <span>From: </span>
                                                <span class="lot-numbers-item">{{item.from}}</span>
                                            </span>
                                            <span ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                <br><span>To: </span>
                                                <span class="lot-numbers-item">{{item.to}}</span>
                                            </span>
                                        </span>
                                            <div class="body">
                                                <span ng-bind-html='item.html' ng-show="salesLogsShow[salesIndex] && detail.body"></span>
                                                <span ng-bind-html='item.html' ng-show="!detail.body"></span>
                                            </div>
                                            <div ng-if="detail.body" title="Open" class="open-html" ng-click="salesLogsShow[salesIndex] = !salesLogsShow[salesIndex]" style="display: inline-block;">
                                                <i class="fa fa-caret-square-o-down" aria-hidden="true" ng-show="!salesLogsShow[salesIndex]"></i><span ng-show="!salesLogsShow[salesIndex]"> Expand</span>
                                                <i class="fa fa-caret-square-o-up" aria-hidden="true" ng-hide="!salesLogsShow[salesIndex]"></i><span ng-show="salesLogsShow[salesIndex]"> Collapse</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body" ng-if="detail.body">
                                        <span ng-bind-html='toTrustedHTML(detail.body)' ng-show="salesLogsShow[salesIndex]"></span>
                                    </div>
                                </div>
                                <div class="time"><i class="fa fa-clock-o"></i> {{dateFormatter(log.date)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="tabs[4].selected">
                    <div class="col-md-12">
                        <div class="log-content" ng-repeat="log in clientLogs | orderBy: '-date' track by $index " ng-init="clientIndex = $index">
                            <div class="log">
                                <div ng-repeat="detail in log.details">
                                    <h2 style="display: inline-block;">{{detail.title}} </h2>
                                    <div style="display: inline-block;"> by {{log.source}}
                                        <span class="small-tooltip" ng-if="detail.from">({{detail.from}})</span>
                                        <span class="small-tooltip" ng-if="detail.body">
                                            <i class="fa fa-eye" tooltip-placement="top" uib-tooltip="Mail read" aria-hidden="true" ng-show="detail.visit"></i>
                                            <i class="fa fa-eye-slash" tooltip-placement="top" uib-tooltip="Mail not read" aria-hidden="true" ng-show="!detail.visit"></i>
                                        </span>
                                    </div>
                                    <div class="type"><i class="fa {{getIconLogType(detail.title, detail)}}"></i></div>
                                    <div>
                                        <div class="message-new-log" ng-if="isItArray(detail)" ng-repeat="item in detail.text" ng-class="{'mail-subject': detail.body}">
                                            <span ng-if="item.text" class="log-text">
                                                <b>
                                                    <span ng-bind-html='toTrustedHTML(item.text)' class="lot-numbers-item"></span>
                                                </b>
                                            </span>
                                            <span ng-if="item.simpleText">
                                                <br ng-hide="!item.text  || !item.html">
                                                <b>{{item.simpleText}}</b>
                                            </span>
                                            <div ng-if="item.text.search('Lot') >= 0 || item.text.search('Charges') >= 0">
                                                <div ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                    <br ng-hide="!item.text || item.simpleText">
                                                    <div class="lot-numbers-label">From:</div>
                                                    <div ng-bind-html='item.from' class="lot-numbers-item"></div>
                                                </div>
                                                <div ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                    <br ng-if="item.from && item.from != ''">
                                                    <div class="lot-numbers-label">To:</div>
                                                    <div ng-bind-html='item.to' class="lot-numbers-item"></div>
                                                </div>
                                            </div>
                                            <span ng-if="item.text.search('Lot') == -1 && item.text.search('Charges') == -1">
                                                <span ng-if="item.from && item.from != ''" style="padding-left: 25px;">
                                                    <br ng-hide="!item.text || item.simpleText">
                                                    <span>From: </span>
                                                    <span class="lot-numbers-item">{{item.from}}</span>
                                                </span>
                                                <span ng-if="item.to && item.to != ''" style="padding-left: 25px;">
                                                    <br><span>To: </span>
                                                    <span class="lot-numbers-item">{{item.to}}</span>
                                                </span>
                                            </span>
                                            <div class="body">
                                                <span ng-bind-html='item.html' ng-show="clientLogsShow[clientIndex] && detail.body"></span>
                                                <span ng-bind-html='item.html' ng-show="!detail.body"></span>
                                            </div>
                                            <div ng-if="detail.body" title="Open" class="open-html" ng-click="clientLogsShow[clientIndex] = !clientLogsShow[clientIndex]" style="display: inline-block;">
                                                <i class="fa fa-caret-square-o-down" aria-hidden="true" ng-show="!clientLogsShow[clientIndex]"></i><span ng-show="!clientLogsShow[clientIndex]"> Expand</span>
                                                <i class="fa fa-caret-square-o-up" aria-hidden="true" ng-hide="!clientLogsShow[clientIndex]"></i><span ng-show="clientLogsShow[clientIndex]"> Collapse</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body" ng-if="detail.body">
                                        <span ng-bind-html='toTrustedHTML(detail.body)' ng-show="clientLogsShow[clientIndex]"></span>
                                    </div>
                                    <div ng-if="detail.info" class="info">
                                        <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="Browser: {{detail.info.browser.name}}; Browser version: {{detail.info.browser.version}}; IP: {{detail.info.ip}}" tooltip-placement="left" tooltip-trigger="click" tooltip-class="customTooltip" tooltip-popup-close-delay="1000"></i>
                                    </div>

                                    <div ng-if="detail.info" class="info">
                                        <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="Browser: {{detail.info.browser.name}}; Browser version: {{detail.info.browser.version}}; IP: {{detail.info.ip}}" tooltip-placement="left" tooltip-trigger="click" tooltip-class="customTooltip" tooltip-popup-close-delay="1000"></i>
                                    </div>
                                </div>
                                <div class="time"><i class="fa fa-clock-o"></i> {{dateFormatter(log.date)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
