.trip-info-tooltip
	position absolute
	z-index 9999
	width 350px
	box-shadow 0 0 2px rgba(0,0,0,0.5)
	background-color white
	display inline-flex
	flex-wrap nowrap
	flex-direction column
	justify-content flex-start
	cursor default
	&__toolbar
		display flex
		flex-direction row
		justify-content space-between
		background-color #E0E0E0
		height 40px
		border-bottom 1px solid #ddd
		padding-left 10px
		&__item
			display flex
			flex-direction column
			justify-content center
	&__item
		display flex
		flex-wrap nowrap
		flex-direction row
		justify-content flex-start
		flex 1
		&__label
			margin-top 2px
			font-size 12px
			margin-left 10px
			display flex
			flex-wrap nowrap
			flex-direction row
			justify-content flex-start
			flex 1.5
		&__info
			font-size 13px
			font-weight 500
			display flex
			flex-wrap nowrap
			flex-direction row
			justify-content flex-start
			flex 2
		&_gray-background
			border-top 1px solid #ddd
			border-bottom 1px solid #ddd
			background-color #E0E0E0
			margin-top 5px
			padding-bottom 5px
	&__button
		margin-top 5px
		padding-bottom 10px
		display flex
		flex-direction row
		justify-content center
.delete-truck
	height 80px
	display flex
	flex-direction column
	flex-wrap wrap
	justify-content center
	&__item
		display flex
		flex-direction row
		justify-content center
		font-size 16px
		font-weight 600
	&__buttons
		display inline-flex
		flex-direction row
		justify-content flex-end
.tooltip-small-padding
	padding-bottom 10px
		
		