.trip-info-tooltip(ng-style="{'left': position.posX, 'top': position.posY}")
	.trip-info-tooltip__toolbar
		.trip-info-tooltip__toolbar__item
			h4(ng-if="trip.entity_type != 8") Request: # {{trip.entity_id}}
			h4(ng-if="trip.entity_type == 8") Trip: # {{trip.entity_id}}
		.trip-info-tooltip__toolbar__item(ng-if="trip.entity_type != 8 || trip.entity_type == 8 && trip.entity_id != tripId")
			md-button.md-icon-button(ng-disabled='false' ng-click="closeModal(trip)")
				ng-md-icon(icon="close" style="fill: #787179" size="20")
	md-progress-linear(md-mode="indeterminate" ng-if="deleteBusy")
	div(ng-if="trip.entity_type != 8")
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Status:
			.trip-info-tooltip__item__info
				span {{trip.full_info.status.value}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Detivery Date Start:
			.trip-info-tooltip__item__info
				span {{trip.full_info.date.value |  date:'EEEE, MMM d, yyyy'}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Detivery Date End:
			.trip-info-tooltip__item__info
				span {{trip.full_info.start_time1.value}} - {{trip.full_info.start_time2.value}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span(ng-if="!isDoubleDriveTime") Travel Time:
				span(ng-if="isDoubleDriveTime") Double Travel:
			.trip-info-tooltip__item__info
				span(ng-if="!isDoubleDriveTime") {{trip.full_info.travel_time.value}}
				span(ng-if="isDoubleDriveTime") {{(trip.full_info.field_double_travel_time.raw ? trip.full_info.field_double_travel_time.value : '00:00')}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Crew Size:
			.trip-info-tooltip__item__info
				span {{trip.full_info.crew.value}} movers
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Hourly Rate:
			.trip-info-tooltip__item__info
				span ${{trip.full_info.rate.value}} /hr
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Type of Service:
			.trip-info-tooltip__item__info
				span {{trip.full_info.service_type.value}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Size of Move:
			.trip-info-tooltip__item__info
				span {{trip.full_info.move_size.value}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Est. Time:
			.trip-info-tooltip__item__info
				span {{trip.full_info.minimum_time.raw | decToTime }} - {{trip.full_info.maximum_time.raw | decToTime}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Est. Quote:
			.trip-info-tooltip__item__info
				span ${{(trip.full_info.minimum_time.raw * trip.full_info.rate.value) | number:2 }} - ${{trip.full_info.maximum_time.raw *trip.full_info.rate.value | number:2 }}
		.trip-info-tooltip__item_gray-background
			.trip-info-tooltip__item
				.trip-info-tooltip__item__label
					span Moving From:
				.trip-info-tooltip__item__info
					span {{trip.full_info.from}}
			.trip-info-tooltip__item
				.trip-info-tooltip__item__label
					span Ent. Type From:
				.trip-info-tooltip__item__info
					span {{trip.full_info.type_from.value}}
			.trip-info-tooltip__item
				.trip-info-tooltip__item__label
					span Moving To:
				.trip-info-tooltip__item__info
					span {{trip.full_info.to}}
			.trip-info-tooltip__item
				.trip-info-tooltip__item__label
					span Ent. Type To:
				.trip-info-tooltip__item__info
					span {{trip.full_info.type_to.value}}
			.trip-info-tooltip__item
				.trip-info-tooltip__item__label
					span Distance:
				.trip-info-tooltip__item__info
					span {{trip.full_info.distance.value}} miles

		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Customer:
			.trip-info-tooltip__item__info
				span {{trip.full_info.name}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Phone:
			.trip-info-tooltip__item__info
				span {{trip.full_info.phone | nationalPhoneFormatter}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Email:
			.trip-info-tooltip__item__info
				span {{trip.full_info.email}}
		.trip-info-tooltip__button
			md-button.md-raised(ng-click="openRequest(trip.entity_id)") Open Request # {{trip.entity_id}}
	div(ng-if="trip.entity_type == 8")
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Status:
			.trip-info-tooltip__item__info(ng-if="trip.full_info.details.flag == 1")
				span Draft
			.trip-info-tooltip__item__info(ng-if="trip.full_info.details.flag == 2")
				span Pending
			.trip-info-tooltip__item__info(ng-if="trip.full_info.details.flag == 3")
				span Active
			.trip-info-tooltip__item__info(ng-if="trip.full_info.details.flag == 4")
				span Delivered/Closed
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Detivery Date Start:
			.trip-info-tooltip__item__info
				span {{(trip.from_date - timezoneOffset) * 1000 |  date:'EEEE, MMM d, yyyy'}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Detivery Date End:
			.trip-info-tooltip__item__info
				span {{(trip.to_date - timezoneOffset) * 1000 |  date:'EEEE, MMM d, yyyy'}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Foremen:
			.trip-info-tooltip__item__info
				span {{trip.full_info.foreman.foreman_name}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Helpers Count:
			.trip-info-tooltip__item__info
				span  {{trip.full_info.helper.length}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Jobs Count:
			.trip-info-tooltip__item__info
				span  {{trip.full_info.jobs.items.length - 1}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Service Type:
			.trip-info-tooltip__item__info
				span  Personally
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Internal Code:
			.trip-info-tooltip__item__info
				span  {{trip.full_info.details.internal_code}}
		.trip-info-tooltip__item
			.trip-info-tooltip__item__label
				span Description:
			.trip-info-tooltip__item__info
				span  {{trip.full_info.details.description}}
		.trip-info-tooltip__button(ng-if="trip.entity_id != tripId")
			md-button.md-raised(ng-click="openTrip(trip.entity_id)") Open Trip # {{trip.entity_id}}
		.tooltip-small-padding(ng-if="trip.entity_id == tripId")


	.delete-truck(ng-if="trip.entity_type == 8 && trip.entity_id == tripId")
		.delete-truck__item
			span Delete {{truck.truck_name}} from Parklot?
	.delete-truck__buttons(ng-if="trip.entity_type == 8 && trip.entity_id == tripId")
		md-button.md-raised(ng-click="closeModal()") Close
		md-button.md-raised.md-warn(ng-click="deleteTruck(truck, deleteBusy)") Delete
