<div id="details" class="fadeInLeft info-box col-md-12 nopadding">

    <div class="overlay" ng-show="busy">
        <img class="spinner" src="../../../../content/img/logo_animation.gif">
    </div>

    <TABLE class="details">
        <div class="pickup-date-label">
            <h5 class="pickup-date-label_grey-text">Pickup date:</h5>
            <small>{{ request.date.value }}</small>
       </div>
        <TR>
            <TD class="icon checked"><i class="icon fa-2x fa fa-check-square-o"></i></TD>
            <TD class="box boxleft" ng-hide="request.service_type.raw == 4">
                <h4>Origin</h4>
                <div class="field-moving-from">{{from}}</div>
                <div class="field-type-of-entrance-from"> {{entarence_origin}}</div>
            </TD>
            <TD class="box" ng-hide="request.service_type.raw == 3">
                <h4>Destination</h4>

                <div class="field-moving-from">{{to}}</div>
                <div class="field-type-of-entrance-from">{{entarence_dest}}</div>

            </TD>
        </TR>


        <!-- PREFERE PICKU DATE AND DELVIERY WHEN FLAT RATE STEP 1 -->
        <TR ng-if="service == 5">
            <TD class="icon" ng-class="{'checked':details.pickup !='' && details.delivery!=''}"><i
                    class="icon icon fa fa-2x fa-calendar-o"></i></TD>
            <TD class="box boxleft">
                <h4>Preferred Pick Up dates: <span ng-if="longDistance" style="color:red">*</span></h4>
                <div class="htips">You can choose more than one day</div>
                <div class="dateRange" cc-range-picker details="details" data-type="pickup" request="request">
                </div>
                <div class="details-settings__check-pickup">
                    <input type="checkbox" ng-model="details.showPickupRangeInAccount"
                           id="terms">Show in account
                </div>
            </TD>
            <TD class="box">
                <h4>Preferred Delivery dates: <span ng-if="longDistance" style="color:red">*</span></h4>
                <div class="htips">You can choose more than one day</div>
                <div class="dateRange delivery"
                     details="details"
                     data-type="delivery"
                     cc-range-picker request="request">
                </div>
            </TD>
        </TR>
        <!-- PREFERE PICKU DATE AND DELVIERY WHEN FLAT RATE STEP 1 -->
        <TR ng-if="service == 7" class="longDistance">
            <TD class="icon checked"><i class="icon icon  fa fa-2x fa-calendar-o"></i></TD>
            <TD class="box boxleft">
                <h4>Move date (pick up day or range): <span ng-if="longDistance" style="color:red">*</span></h4>

                <div class="dateRange" cc-range-picker details="details" data-type="pickup" request="request">
                </div>
                <div class="details-settings__check-pickup">
                    <input type="checkbox" ng-model="details.showPickupRangeInAccount"
                           id="terms">Show in account
                </div>

                <div style="font-size: 10px; margin-top: 5px;opacity:0;">
                    <input style="vertical-align: middle;margin-top:0px;opacity:0;"
                           type="checkbox" name="vehicle" ng-click="details.delivery='';delivery_disable = true;"
                           id="terms">Don't Know Yet
                    </div>
            </TD>
            <TD class="box">
                <h4>First available delivery date: <span ng-if="longDistance" style="color:red">*</span></h4>
                <div class="dateRange">
                    <input class="basic delivery"
                           details="details"
                           data-type="delivery"
                           ng-model="details.delivery"
                           ng-change="set_change();"
                           cc-da-picker request="vm.request" min-date="{{request.date.value}}" data-class="regular"
                           ng-class="{'disabled':disableDeliveryDatesCheckbox.disableInput}">
                </div>
                <div style="font-size: 10px; margin-top: 5px;">
                    <input style="vertical-align: middle;margin-top: 0px;"
                           type="checkbox" name="vehicle" ng-model="disableDeliveryDatesCheckbox.checkboxValue"
                           ng-change="disableDeliveryDate(disableDeliveryDatesCheckbox.checkboxValue)" id="terms">Don't Know Yet
                    </div>
            </TD>

        </TR>

        <!--Distance from Door TO DOOR -->
        <TR>
            <TD class="icon" ng-class="{'checked':details.current_door != '1' && details.new_door!= '1'}"><i
                    class="icon fa fa-exchange fa-2x"></i></TD>
            <TD class="box boxleft" ng-hide="request.service_type.raw == 4">
                <h4>Distance from door to parking <span ng-if="longDistance" style="color:red">*</span></h4>
                <select
                        ng-change="details_change('Distance from door to parking (origin) ', details.current_door, 'current_door')"
                        ng-model="details.current_door" ng-init="details.current_door='1'"
                        name="current_door_to_parking"
                        id="current_door_to_parking">
                    <option value="1" selected="selected">Select approximate distances</option>
                    <option value="2" selected="selected">Don't Know</option>
                    <option value="5">5 feet</option>
                    <option value="10">10 feet</option>
                    <option value="15">15 feet</option>
                    <option value="20">20 feet</option>
                    <option value="25">25 feet</option>
                    <option value="30">30 feet</option>
                    <option value="35">35 feet</option>
                    <option value="40">40 feet</option>
                    <option value="45">45 feet</option>
                    <option value="50">50 feet</option>
                    <option value="55">55 feet</option>
                    <option value="60">60 feet</option>
                    <option value="65">65 feet</option>
                    <option value="70">70 feet</option>
                    <option value="75">75 feet</option>
                    <option value="80">80 feet</option>
                    <option value="85">85 feet</option>
                    <option value="90">90 feet</option>
                    <option value="95">95 feet</option>
                    <option value="100">100 feet</option>
                    <option value="105">105 feet</option>
                    <option value="110">110 feet</option>
                    <option value="115">115 feet</option>
                    <option value="120">120 feet</option>
                    <option value="125">125 feet</option>
                    <option value="130">130 feet</option>
                    <option value="135">135 feet</option>
                    <option value="140">140 feet</option>
                    <option value="145">145 feet</option>
                    <option value="150">150 feet</option>
                    <option value="155">155 feet</option>
                    <option value="160">160 feet</option>
                    <option value="165">165 feet</option>
                    <option value="170">170 feet</option>
                    <option value="175">175 feet</option>
                    <option value="180">180 feet</option>
                    <option value="185">185 feet</option>
                    <option value="190">190 feet</option>
                    <option value="195">195 feet</option>
                    <option value="200">200 feet</option>
                    <option value="205">205 feet</option>
                    <option value="210">210 feet</option>
                    <option value="215">215 feet</option>
                    <option value="220">220 feet</option>
                    <option value="225">225 feet</option>
                    <option value="230">230 feet</option>
                    <option value="235">235 feet</option>
                    <option value="240">240 feet</option>
                    <option value="245">245 feet</option>
                    <option value="250">250 feet</option>
                    <option value="301">&gt; 250 feet</option>
                </select>
            </TD>
            <TD class="box" ng-hide="request.service_type.raw == 3">
                <h4>Distance from door to parking <span ng-if="longDistance" style="color:red">*</span></h4>
                <select ng-change="details_change('Distance from door to parking (destination) ', details.new_door, 'new_door')"
                        ng-model="details.new_door" ng-init="details.new_door='1'" name="new_door_to_parking"
                        id="new_door_to_parking">
                    <option value="1" selected="selected">Select approximate distances</option>
                    <option value="2" selected="selected">Don't Know</option>
                    <option value="5">5 feet</option>
                    <option value="10">10 feet</option>
                    <option value="15">15 feet</option>
                    <option value="20">20 feet</option>
                    <option value="25">25 feet</option>
                    <option value="30">30 feet</option>
                    <option value="35">35 feet</option>
                    <option value="40">40 feet</option>
                    <option value="45">45 feet</option>
                    <option value="50">50 feet</option>
                    <option value="55">55 feet</option>
                    <option value="60">60 feet</option>
                    <option value="65">65 feet</option>
                    <option value="70">70 feet</option>
                    <option value="75">75 feet</option>
                    <option value="80">80 feet</option>
                    <option value="85">85 feet</option>
                    <option value="90">90 feet</option>
                    <option value="95">95 feet</option>
                    <option value="100">100 feet</option>
                    <option value="105">105 feet</option>
                    <option value="110">110 feet</option>
                    <option value="115">115 feet</option>
                    <option value="120">120 feet</option>
                    <option value="125">125 feet</option>
                    <option value="130">130 feet</option>
                    <option value="135">135 feet</option>
                    <option value="140">140 feet</option>
                    <option value="145">145 feet</option>
                    <option value="150">150 feet</option>
                    <option value="155">155 feet</option>
                    <option value="160">160 feet</option>
                    <option value="165">165 feet</option>
                    <option value="170">170 feet</option>
                    <option value="175">175 feet</option>
                    <option value="180">180 feet</option>
                    <option value="185">185 feet</option>
                    <option value="190">190 feet</option>
                    <option value="195">195 feet</option>
                    <option value="200">200 feet</option>
                    <option value="205">205 feet</option>
                    <option value="210">210 feet</option>
                    <option value="215">215 feet</option>
                    <option value="220">220 feet</option>
                    <option value="225">225 feet</option>
                    <option value="230">230 feet</option>
                    <option value="235">235 feet</option>
                    <option value="240">240 feet</option>
                    <option value="245">245 feet</option>
                    <option value="250">250 feet</option>
                    <option value="301">&gt; 250 feet</option>
                </select>
            </TD>
        </TR>

        <!-- Number of Steps   -->
        <TR ng-if="longdistanceSettings.chargeStairsOn">
            <TD class="icon" ng-class="{'checked':details.steps_origin != '1' && details.steps_destination != '1'}"><i
                    class="icon fa fa-exclamation-triangle fa-2x"></i></TD>
            <TD class="box boxleft">

                <h4>Number of Steps on Stairs</h4>
                <select ng-change="details_change('Number of Steps on Stairs (origin) ', details.steps_origin, 'steps_origin')"
                        ng-model="details.steps_origin" name="current_door_to_parking" id="current_door_to_parking">
                    <option value="1">Select number of steps</option>
                    <option value="2">Don't Know</option>
                    <option
                            ng-selected="n == details.steps_origin"
                            ng-repeat="n in ::range(3,100,1)" value="{{n}}">{{n}} Steps
                    </option>
                </select>

            </TD>
            <TD class="box" ng-hide="request.service_type.raw == 3">
                <h4>Number of Steps on Stairs</h4>
                <select
                        ng-change="details_change('Number of Steps  on Stairs (destination) ', details.steps_destination, 'steps_destination')"
                        ng-model="details.steps_destination" name="current_door_to_parking"
                        id="current_door_to_parking">
                    <option value="1">Select number of steps</option>
                    <option value="2">Don't Know</option>
                    <option
                            ng-selected="n == details.steps_destination"
                            ng-repeat="n in ::range(3,100,1)" value="{{n}}">{{n}} Steps
                    </option>
                </select>

            </TD>
        </TR>

        <TR>
            <TD class="icon" ng-class="{'checked':details.new_permit !='None' && details.current_permit!='None'}"><i
                    class="icon fa fa-exclamation-triangle fa-2x"></i></TD>
            <TD class="box boxleft" ng-hide="request.service_type.raw == 4">
                <h4>Parking Availability <span ng-if="longDistance" style="color:red">*</span></h4>
                <select ng-change="details_change('Parking Availability (origin) ',details.current_permit, 'current_permit')"
                        ng-model="details.current_permit" ng-init="details.current_permit='None'"
                        name="current_parking_permit"
                        id="current_parking_permit">
                    <option value="None" selected="selected">Please Select</option>
                    <option value="PR">Street Parking</option>
                    <option value="PM">Loading Dock</option>
                    <option value="LZA">Commercial Loading Zone</option>
                    <option value="PDW">Private Driveway</option>
                    <option value="DK">Don't Know</option>
                </select>
            </TD>
            <TD class="box" ng-hide="request.service_type.raw == 3">
                <h4>Parking Availability <span ng-if="longDistance" style="color:red">*</span></h4>
                <select ng-change="details_change('Parking Availability (destination) ',details.new_permit, 'new_permit')"
                        ng-model="details.new_permit" ng-init="details.new_permit='None'" name="new_parking_permit"
                        id="new_parking_permit">
                    <option value="None">Please Select</option>
                    <option value="PR">Street Parking</option>
                    <option value="PM">Loading Dock</option>
                    <option value="LZA">Commercial Loading Zone</option>
                    <option value="PDW">Private Driveway</option>
                    <option value="DK">Don't Know</option>
                </select>
            </TD>
        </TR>
        <tr>
            <TD class="icon"></TD>
            <td class="box" colspan="2">
                <i ng-show="request.field_move_images.length != 0" ng-click="showDetailImagesModal()"
                   class="fa fa-picture-o"
                   aria-hidden="true"></i>
            </td>
        </tr>
        <TR>
            <TD class="icon" ng-class="{'checked':details.addcomment.length >0}"><i
                    class="icon fa fa-comment fa-2x"></i></TD>
            <TD colspan="2" class="add_comment chat-widget">
                <h4 class="center">Additional Comments <span ng-if="longDistance">(optional)</span></h4>
                <div
                        ng-change="details_change('Additional Comments ',details.addcomment, 'addcomment')"
                        text-angular
                        ng-model="details.addcomment"
                        ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]"
                        placeholder="Please include information on heavy, oversized or fragile items, narrow stairways or halls, long walk ways, extra stops (including address), or anything else that may affect the moving time."
                ></div>

            </TD>
        </TR>
        <TR ng-if="details.cancel_reason.length">
            <TD class="icon"><i class="icon fa fa-comment fa-2x"></i></TD>
            <TD colspan="2" class="add_comment">
                <h4 class="center">Cancellation Reason</span></h4>
                <div ng-bind-html="details.cancel_reason"></div>
            </TD>
        </TR>
        <TR>
            <TD colspan="3" ng-hide="longDistance" ng-class="{'disabled' : !changed}" class="center buttonbox">
                <button class="btn btn-primary btn-3d" ng-click="saveDetails()">Save Move Details</button>
            </TD>
            <TD colspan="3" ng-if="longDistance" ng-class="{'disabled' : !changed}" class="center buttonbox">
                <button class="btn btn-primary btn-3d" ng-click="saveDetails()">Next to Inventory</button>
            </TD>
        </TR>
    </TABLE>


</div>
