<div class="additional-block-modal">
    <div class="modal-header">
        Additional block
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <label for="title">Title: </label>
            </div>
            <div class="col-md-9">
                <input id="title" type="text" ng-model="additionalBlock.title">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div text-angular ng-model="additionalBlock.text"
                     ta-toolbar="[['ul', 'ol'],
                     ['bold','italics', 'underline', 'strikeThrough'],
                     ['justifyLeft', 'justifyCenter', 'justifyRight'],
                     ['insertLink', 'insertImage'],
                     ['undo', 'redo', 'clear', 'html']]"
                     ta-unsafe-sanitizer="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="visible" class="control-label">Show additional block:</label>
            </div>
            <div class="col-md-4">
                <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                       ng-model="additionalBlock.isVisible"
                       id="visible" data-switchery="true" style="display: none;">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="close()" class="btn btn-default close-button">Close</a>
        <a ng-click="save()" class="btn btn-success save-button">Save</a>
    </div>
</div>
