<div class="details-image-modal">
    <div class="modal-header">
        Request photos
    </div>
    <div class="modal-body">
        <div class="empty-gallery-box" ng-if="images.length == 0">
            Image list is empty!
        </div>
        <div ng-repeat="image in images" class="gallery-box" >
            <a ng-click="openLightboxModal($index)">
                <img ng-src="{{image.url}}" class="img-thumbnail">
            </a>
            <div>
                <input type="text" style="width: 100%;" ng-model="image.title">
                <a class="btn btn-xs btn-danger pull-left" ng-click="removeImg(image.fid, $index)" style="margin-top:3px;">
                    Remove
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="close()" class="btn btn-default close-button">Close</a>
    </div>
</div>
