<div class="form-group  gray-box" ng-show="origin">
    <div class="address-block">
        <label class="col-sm-2">Origin
            <i class="icon-plus" ng-hide="extraPickup" ng-click="extraPickup=true"
               ng-class="{'disabled': confirmed || !manageQuote}"
                                         tooltip-placement="right" tooltip="Add Extra Pickup"></i>
        </label>
        <div class="address-info col-sm-10">
            <div class="row address form-item-moving-from">
                <div class="col-md-9 nopadding">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_moving_from"
                           type="field_moving_from"
                           subfield="thoroughfare"
                           ng-value="request.field_moving_from.thoroughfare"
                           placeholder="From Address"
                           class="required form-text form-control"
                           type="text"
                           id="edit-moving-from">
                </div>
                <div class="col-md-3 ">
                    <input cc-input
                           editrequest="editrequest"
                           message="message"
                           field="request.apt_from"
                           ng-value="request.apt_from.value"
                           placeholder="Apt"
                           class="apt form-control form-text"
                           type="text"
                           size="5"
                           maxlength="5"
                           id="edit-moving-from-apt"
                           name="moving_from_apt">
                </div>
            </div>
            <div class="main row form-item-moving-from-city">
                <div class="col-md-5 nopadding" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_moving_from"
                           type="field_moving_from"
                           subfield="locality"
                           ng-value="request.field_moving_from.locality"
                           placeholder="From City"
                           class="city  disabled form-control form-text"
                           type="text">
                </div>
                <div class="col-md-5" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <select cc-input-address
                            editrequest="editrequest"
                            message="message"
                            field="request.field_moving_from"
                            type="field_moving_from"
                            subfield="administrative_area"
                            ng-value="request.field_moving_from.administrative_area"
                            id="edit-moving-from-state"
                            class="state disabled form-select form-control">
                        <option value="">Select State</option>
                        <option ng-selected="request.field_moving_from.administrative_area == '{{::state}}'"
                                value="{{::state}}" ng-repeat="state in fieldData.allowedstate">{{::state}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2 nopadding" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_moving_from"
                           type="field_moving_from"
                           subfield="postal_code"
                           ng-disabled="confirmed || !manageQuote"
                           ng-value="request.field_moving_from.postal_code"
                           placeholder="From Zip"
                           class="zip required form-control form-text"
                           id="edit-moving-from-zip" size="5" maxlength="5"
                           ng-class="{'has-error' : isInvalidFieldMovingFrom}">
                </div>
            </div>

            <div class="form-item form-type-select form-item-Type-From" ng-hide="!useCalculator">
                <select cc-select editrequest="editrequest" message="message"
                        ng-value="request.type_from.raw"
                        field="request.type_from"
                        id="edit-size-move"
                        ng-disabled="confirmed || !manageQuote"
                        class="form-select form-control"
                        ng-class="{'has-error' : isInvalidTypeFrom}">
                    <option ng-if="isInvalidParsingRequest && isInvalidTypeFrom" value="">Select Stairs</option>
                    <option ng-disabled="confirmed"
                            value="{{::id}}"
                            ng-selected="request.type_from.raw == {{::id}}"
                            ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                        {{::fieldData.field_lists.field_type_of_entrance_from[id]}}
                    </option>
                </select>
            </div>

        </div>
    </div>
</div>
<div class="form-group" ng-show="extraPickup" ng-class="{'disabled':confirmed}">
    <div class="address-block ">
        <label class="col-sm-2">Extra Pickup
            <i ng-class="{'disabled': confirmed || !manageQuote}" class="icon-ban" ng-click="extraPickup=false;request.field_extra_pickup.postal_code = '';editrequest.field_extra_pickup.postal_code = ''"></i>
        </label>
        <div class="address-info col-sm-10">
            <div class="row address form-item-moving-from">
                <div class="col-md-9 nopadding">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_extra_pickup"
                           type="field_extra_pickup"
                           subfield="thoroughfare"
                           ng-value="request.field_extra_pickup.thoroughfare"
                           placeholder="From Address"
                           class="required form-text  form-control"
                           id="edit-moving-from">
                </div>
                <div class="col-md-3 ">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_extra_pickup"
                           type="field_extra_pickup"
                           ng-value="request.field_extra_pickup.premise"
                           subfield="premise"
                           placeholder="Apt"
                           size="5"
                           maxlength="5"
                           class="apt form-control form-text"
                           id="edit-moving-from-apt"
                           name="moving_from_apt">
                </div>
            </div>

            <div class="main row form-item-moving-from-city">
                <div class="col-md-5 nopadding" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_extra_pickup"
                           type="field_extra_pickup"
                           subfield="locality"
                           ng-value="request.field_extra_pickup.locality"
                           placeholder="From City"
                           class="city  disabled form-control form-text">
                </div>
                <div class="col-md-5 " uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <select cc-input-address
                            editrequest="editrequest"
                            message="message"
                            field="request.field_extra_pickup"
                            type="field_extra_pickup"
                            subfield="administrative_area"
                            ng-value="request.field_extra_pickup.administrative_area"
                            id="edit-moving-from-state"
                            class="state disabled form-select  form-control">
                        <option value="">Select State</option>
                        <option ng-selected="request.field_extra_pickup.administrative_area == '{{::state}}'"
                                value="{{::state}}" ng-repeat="state in fieldData.allowedstate">{{::state}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2 nopadding" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_extra_pickup"
                           type="field_extra_pickup"
                           subfield="postal_code"
                           ng-value="request.field_extra_pickup.postal_code"
                           placeholder="From Zip"
                           class="zip required form-control form-text"
                           type="text"
                           ng-class="{'disabled': !manageQuote}"
                           id="edit-moving-from-zip" size="5" maxlength="5">
                </div>
            </div>

            <div class="form-item form-type-select form-item-Type-From" ng-hide="!useCalculator">
                <select cc-input-address
                        editrequest="editrequest"
                        message="message"
                        ng-value="request.field_extra_pickup.organisation_name"
                        field="request.field_extra_pickup"
                        type="field_extra_pickup"
                        subfield="organisation_name"
                        id="edit-size-move"
                        class="form-select form-control">
                    <option ng-selected="request.field_extra_pickup.organisation_name == {{::id}}"
                            value="{{::id}}"
                            ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                        {{::fieldData.field_lists.field_type_of_entrance_from[id]}}
                    </option>
                </select>
            </div>

        </div>
    </div>
</div>
<div class="form-group  gray-box" ng-show="destination">
    <div class="address-block ">
        <label class="col-sm-2">Destination
            <i class="icon-plus" ng-hide="extraDropoff" ng-click="extraDropoff=true"
               ng-class="{'disabled': confirmed || !manageQuote}"
                                              tooltip-placement="right" tooltip="Add Extra Delivery"></i>
        </label>
        <div class="address-info col-sm-10">
            <div class="row address form-item-moving-from">
                <div class="col-md-9 nopadding">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_moving_to"
                           type="field_moving_to"
                           subfield="thoroughfare"
                           ng-value="request.field_moving_to.thoroughfare"
                           placeholder="To Address"
                           class="required form-text form-control"
                           type="text"
                           id="edit-moving-from">
                </div>
                <div class="col-md-3 ">
                    <input cc-input
                           editrequest="editrequest"
                           message="message"
                           field="request.apt_to"
                           ng-value="request.apt_to.value"
                           placeholder="Apt"
                           size="5"
                           maxlength="5"
                           class="apt form-control form-text"
                           type="text"
                           id="edit-moving-from-apt"
                           name="moving_from_apt">
                </div>
            </div>

            <div class="main row form-item-moving-from-city">
                <div class="col-md-5 nopadding" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_moving_to"
                           type="field_moving_to"
                           subfield="locality"
                           ng-value="request.field_moving_to.locality"
                           placeholder="To City"
                           class="city  disabled form-control form-text"
                           type="text">
                </div>
                <div class="col-md-5 " uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <select cc-input-address
                            editrequest="editrequest"
                            message="message"
                            field="request.field_moving_to"
                            type="field_moving_to"
                            subfield="administrative_area"
                            ng-value="request.field_moving_to.administrative_area"
                            id="edit-moving-from-state"
                            class="state  disabled form-select  form-control ">
                        <option value="">Select State</option>
                        <option ng-selected="request.field_moving_to.administrative_area == '{{::state}}'"
                                value="{{::state}}" ng-repeat="state in fieldData.allowedstate">{{::state}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2 nopadding" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_moving_to"
                           type="field_moving_to"
                           subfield="postal_code"
                           ng-value="request.field_moving_to.postal_code"
                           ng-disabled="confirmed || !manageQuote"
                           placeholder="To Zip"
                           class="zip required form-control form-text"
                           type="text"
                           id="edit-moving-from-zip" size="5" maxlength="5"
                           ng-class="{'has-error' : isInvalidFieldMovingTo}">
                </div>
            </div>

            <div class="form-item form-type-select form-item-Type-From" ng-hide="!useCalculator">
                <select cc-select
                        editrequest="editrequest"
                        message="message"
                        ng-value="request.type_to.raw"
                        field="request.type_to"
                        id="edit-size-move"
                        ng-disabled="confirmed || !manageQuote"
                        class="form-select form-control"
                        ng-class="{'has-error' : isInvalidTypeTo}">
                    <option ng-if="isInvalidParsingRequest && isInvalidTypeTo" value="">Select Stairs</option>
                    <option value="{{::id}}"
                            ng-selected="request.type_to.raw == {{::id}}"
                            ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                        {{::fieldData.field_lists.field_type_of_entrance_from[id]}}
                    </option>
                </select>
            </div>

        </div>
    </div>
</div>
<div class="form-group " ng-show="extraDropoff" ng-class="{'disabled':confirmed}">
    <div class="address-block">
        <label class="col-sm-2">Extra Drop-off
            <i class="icon-ban"
               ng-class="{'disabled': confirmed || !manageQuote}"
               ng-click="extraDropoff=false; request.field_extra_dropoff.postal_code = '';editrequest.field_extra_dropoff.postal_code = ''"></i>
        </label>
        <div class="address-info col-sm-10">
            <div class="row address form-item-moving-from">
                <div class="col-md-9 nopadding">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_extra_dropoff"
                           type="field_extra_dropoff"
                           subfield="thoroughfare"
                           ng-value="request.field_extra_dropoff.thoroughfare"
                           placeholder="To Address"
                           class="required form-text form-control"
                           id="edit-moving-from">
                </div>
                <div class="col-md-3 ">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_extra_dropoff"
                           ng-value="request.field_extra_dropoff.premise"
                           subfield="premise"
                           placeholder="Apt"
                           size="5"
                           maxlength="5"
                           class="apt form-control form-text"
                           type="field_extra_dropoff"
                           id="edit-moving-from-apt"
                           name="moving_from_apt">
                </div>
            </div>

            <div class="main row form-item-moving-from-city">
                <div class="col-md-5 nopadding" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_extra_dropoff"
                           type="field_extra_dropoff"
                           subfield="locality"
                           ng-value="request.field_extra_dropoff.locality"
                           placeholder="To City"
                           class="city disabled form-control form-text">
                </div>
                <div class="col-md-5 " uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <select cc-input-address
                            editrequest="editrequest"
                            message="message"
                            field="request.field_extra_dropoff"
                            type="field_extra_dropoff"
                            subfield="administrative_area"
                            ng-value="request.field_extra_dropoff.administrative_area"
                            id="edit-moving-from-state"
                            class="state form-select  form-control disabled"
                            ng-class="{'disabled': !manageQuote}">
                        <option value="">Select State</option>
                        <option ng-selected="request.field_extra_dropoff.administrative_area == '{{::state}}'"
                                value="{{::state}}" ng-repeat="state in fieldData.allowedstate">{{::state}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2 nopadding" uib-tooltip="{{disableChangeAddressTooltipText}}" tooltip-enable="showTooltipDisabledChangeAddress">
                    <input cc-input-address
                           editrequest="editrequest"
                           message="message"
                           field="request.field_extra_dropoff"
                           type="field_extra_dropoff"
                           subfield="postal_code"
                           ng-value="request.field_extra_dropoff.postal_code"
                           placeholder="From Zip"
                           class="zip required form-control form-text"
                           type="text"
                           ng-class="{'disabled': !manageQuote}"
                           id="edit-moving-from-zip" size="5" maxlength="5">
                </div>
            </div>

            <div class="form-item form-type-select form-item-Type-From" ng-hide="!useCalculator">
                <select cc-input-address
                        editrequest="editrequest"
                        message="message"
                        ng-value="request.field_extra_dropoff.organisation_name"
                        field="request.field_extra_dropoff"
                        subfield="organisation_name"
                        type="field_extra_dropoff"
                        id="edit-size-move"
                        ng-class="{'disabled': !manageQuote}"
                        class="form-select  form-control">
                    <option ng-selected="request.field_extra_dropoff.organisation_name == {{::id}}"
                            value="{{::id}}"
                            ng-repeat="id in objectKeys(fieldData.field_lists.field_type_of_entrance_from)">
                        {{::fieldData.field_lists.field_type_of_entrance_from[id]}}
                    </option>
                </select>
            </div>

        </div>
    </div>
</div>


