<div class="addresses-modal">
    <div class="modal-body form-horizontal" ng-class="{'disabled':busy}">
        <div ng-show="busy" class="busyoverlay">
            <div class="sk-cube-grid ">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>   
        <ng-include src="'app/requestpage/services/addressesBox.html?669'"></ng-include>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="update(client)">Update</button>
    </div>
</div>