<!--LOCAL MOVE USER AUTHENTICATED-->

<div ng-if="request.service_type.raw != 5 && request.service_type.raw != 2 && !basicSettings.flatRateAccountSettings.greetingText.show" class="confgrats_box">
    <h1 class="calc-intro_heading"><i class="fa fa-check-circle-o"></i>Congrats! Welcome to Your Account Page. Your Request Has Been Created.</h1>
    <div class="calc-confirm">Thank you for choosing {{basicSettings.company_name}}! <br>
        Your move request was processed, and it's available for you in this account.<br>
        <br>We will check our schedule for availability, and will update your request status, so you'll be able to book your move at any time
        in this account.
        <br>
        In the meantime, you can make changes to your request. Please provide us with your move address, you can also add extra delivery or pickup, add your inventory, additional details, send a message to your relocation specialist and more.
        <br>
        <br>
        <div class="note">NOTE: Check your junk and spam folders to ensure that you are not missing any emails from us, notifying you on any updates to your account.</div></div>

    <button  class="request-button top30 btn-inv-default "  ng-click="cancel()" target="_blank" >View request</button>
</div>

<!--Long Distance-->
<div ng-if="request.service_type.raw == 5 && !basicSettings.flatRateAccountSettings.greetingNewUser.show" class="confgrats_box">
    <h1 class="calc-intro_heading">You are almost there!</h1>
    <div class="calc-confirm">Because this is a long distance move, we will provide fixed pricing for your convenience. To do so
        we need full inventory of items to be moved and additional move details. Please continue and finish the following steps.<br>

        <p><ul id="flat_states" class="states row">

            <li class="state details"><span class="icon icon-medium flaticon-edit26 notdone"></span>Move Details</li>
            <li class="state inventory"><span class="icon icon-medium flaticon-commercial15 notdone"></span>Inventory</li>
            <li class="state over"><span class="icon icon-medium notdone flaticon-verification5"></span>Review &amp; Submit</li>
        </ul> <br>

        <p class="note">We will provide estimate and availability within minutes after you submit all
            necessary information.</p>
        </br>

        <button  class="request-button top30 btn-inv-default "  ng-click="cancel()" target="_blank" >View request</button>

    </div>
</div>

<div ng-if="request.service_type.raw == 5 && basicSettings.flatRateAccountSettings.greetingNewUser.show" class="customized-greeting">
    <div ng-bind-html="basicSettings.flatRateAccountSettings.greetingNewUser.title"></div>
    <div ng-bind-html="basicSettings.flatRateAccountSettings.greetingNewUser.text"></div>
    <div class="cetered-button">
        <button  class="request-button top30 btn-inv-default "  ng-click="cancel()" target="_blank" >{{basicSettings.flatRateAccountSettings.greetingNewUser.buttonText}}</button>
    </div>
</div>


<!--Storage Move-->

<div ng-if="request.service_type.raw == 2 && !basicSettings.flatRateAccountSettings.greetingText.show" class="confgrats_box">
    <h1 class="calc-intro_heading"><i class="fa fa-check-circle-o"></i>Congrats! Welcome to Your Account Page. Your Request Has Been Created.</h1>

    <div class="calc-confirm">Thank you for choosing {{basicSettings.company_name}}! <br>
        Since this is a 2-part move, we have created <b>2 requests</b> for your job: <br>
        You will have an option to edit and/or confirm each request <b>individually</b>.
        <div class="storagehelp">
            <div class="tostorage">
                <img src="content/to-storage.png">
                moving to storage
            </div>
            <div class="fromtos">and</div>
            <div class="fromstorage">
                <img src="content/from-storage.png">
                delivery from storage
            </div>
        </div>
        <br><br>
        Your move request will be processed and we will email you as soon as possible. We strive to send out all estimates within minutes. Please expect an additional day for all weekend requests.<br>In the meantime, you can make changes or check request status in your request page.
        <br><br>
        <div class="note">NOTE: Check your junk and spam folders to ensure that you are not missing any emails from us, notifying you on any updates to your account.</div>

        <br>
        <button  class="request-button top30  btn-inv-default "  ng-click="cancel()" target="_blank" >View request</button>
    </div>
</div>


<div ng-if="basicSettings.flatRateAccountSettings.greetingText.show && request.service_type.raw != 5" class="customized-greeting">
    <div ng-bind-html="basicSettings.flatRateAccountSettings.greetingText.title"></div>
    <div ng-bind-html="basicSettings.flatRateAccountSettings.greetingText.text"></div>
    <div class="cetered-button">
        <button  class="request-button top30 btn-inv-default "  ng-click="cancel()" target="_blank" >{{basicSettings.flatRateAccountSettings.greetingText.buttonText}}</button>
    </div>
</div>