<div>
    <div class="modal-body form-horizontal" ng-show="isInvalidParsingRequest" ng-if="!customizedGreetings.show">
        <h2> Thank you for contacting {{::companyName}} via {{::request.field_parser_provider_name}}. </h2>
        <h3> But we are missing some information in order to provide you with a quote</h3>
        Please fill up the misssing information and continue to view account
    </div>
    <div ng-show="isInvalidParsingRequest" ng-if="customizedGreetings.show">
        <h2 ng-bind-html="customizedGreetings.title"></h2>
        <div ng-bind-html="customizedGreetings.text"></div>
    </div>
    <div class="modal-body form-horizontal" ng-class="{'disabled':busy}">
        <div ng-show="busy" class="busyoverlay">
            <div class="sk-cube-grid ">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <!--Move Date-->
        <div class="form-group" ng-hide="request.service_type.old == 7 || request.service_type.old == 6 || request.service_type.old == 2 || request.service_type.old == 5 || !useCalculator">
            <label class="col-sm-2 control-label">Service Type</label>
            <div class="col-sm-10">
                <div class="col-md-5 nopadding">
                    <select cc-select editrequest="editrequest"
                            message="message"
                            ng-disabled="confirmed"
                            field="request.service_type"
                            class="form-select form-control"
                            ng-value="request.service_type.raw"
                            ng-disabled="request.request_all_data.toStorage">
                        <option ng-repeat="servicesType in servicesTypes"
                                ng-selected="request.service_type.raw == servicesType.id"
                                ng-value="servicesType.id">
                            {{::servicesType.title}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group" ng-hide="!useCalculator">
                <label class="col-sm-2 control-label">Move Date</label>
                <div class="col-sm-10">
                    <input calendar="fieldData.calendar"
                           editrequest="editrequest"
                           message="message"
                           field="request.date"
                           ng-value="moveDateInput"
                           ng-disabled="confirmed"
                           cc-date-picker type="text"
                           class="md form-control"
                           close-text="Close"
                           ng-class="{'has-error' : isInvalidRequestDate}" />
                </div>
        </div>
        <!-- Start Window -->
        <div class="form-group" ng-show="request.status.raw == 1 || request.status.raw == 17">
            <label class="col-sm-2 control-label">Start Time</label>
            <div class="col-sm-10">
                <div class="col-md-5 nopadding">
                    <select ng-disabled="confirmed"
                            cc-select editrequest="editrequest" message="message" field="request.start_time"
                            id="edit-size-move" name="Size_Move" class="form-select form-control" ng-class="{'has-error' : isInvalidStartTime}"
                            ng-value="request.start_time.raw">
                        <option ng-selected="request.start_time.raw == {{id}}" ng-value="{{id}}"
                                ng-repeat="id in objectKeys(fieldData.field_lists.field_start_time)">
                            {{fieldData.field_lists.field_start_time[id]}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Move Size -->
        <div class="form-group" ng-hide="!useCalculator">
            <label class="col-sm-2">Move Size</label>
            <div class="col-sm-10">
                <select ng-disabled="confirmed"
                        cc-select editrequest="editrequest" message="message" field="request.move_size"
                        id="edit-size-move" name="Size_Move" class="form-select form-control" ng-class="{'has-error' : isInvalidMoveSize}"
                        ng-value="request.move_size.raw">
                    <option ng-selected="request.move_size.raw == {{id}}" value="{{id}}"
                            ng-repeat="id in objectKeys(allowedMoveSizes)">
                        {{allowedMoveSizes[id]}}
                    </option>
                </select>
            </div>
        </div>
        <!-- Extra Rooms-->
        <div class="form-group" ng-hide="!useCalculator">

            <label class="col-sm-2">Rooms</label>
            <div class="col-sm-10" ng-class="{'disabled':confirmed}" ng-if="request.move_size.raw != 11">
                <select cc-rooms
                        ng-disabled="confirmed"
                        editrequest="editrequest"
                        message="message"
                        field="request.rooms"
                        ng-value="request.rooms.raw"
                        multiple="multiple"
                        name="Furnished_Rooms[]"
                        id="edit-furnished-rooms"
                        class="form-select form-element">
                    <option value="1">living room</option>
                    <option value="2">dining room</option>
                    <option value="3">office</option>
                    <option value="4">extra room</option>
                    <option value="5">basement</option>
                    <option value="6">garage</option>
                    <option value="7">patio</option>
                    <option value="8">play room</option>
                </select>
            </div>
            <div class="col-sm-10" ng-if="request.move_size.raw == 11">
                <commercial-move-size-select
                        edit-request="editrequest"
                        message="message"
                        is-new-request="false"
                        request="request"
                        confirmed="confirmed">
                </commercial-move-size-select>
            </div>
        </div>

        <!-- Addresses-->
        <ng-include src="'app/requestpage/services/addressesBox.html?669'"></ng-include>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()" ng-class="{disabled: isInValidRequest}" ng-hide="isInvalidParsingRequest">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="update(client)" ng-class="{disabled: isInValidRequest}">Update</button>
    </div>
</div>
