<div id="signatureReservationPad">
<div class="modal-body form-horizontal contract" style="min-height: 200px;">
    <div>
        <h1>Sign Confirmation</h1>
        <div style="top: 20%">
            <hr class="signature-underline" style="width: 94%;">
        </div>
        <canvas style="background-color: white;" id="signatureCanvasReservation" min-width="850" height="450" ></canvas>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default pull-left" ng-click="cancel()" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-lg btn-default pull-left" ng-click="clearSignature()">Clear</button>
    <button type="button" class="btn btn-lg btn-primary" ng-click="saveSignature()">Save Signature</button>
</div>
</div>
