.agent-folio-details__toolbar
  md-toolbar.md-hue-2
    .md-toolbar-tools
      h2.agent-folio-details__toolbar__label(flex='', md-truncate='') Storages
      .agent-folio-details__toolbar__item_left
        md-button(aria-label='Create' ng-click="addStorage()" ng-disabled='false') Add Storage
        md-switch(md-no-ink aria-label="Switch No Ink" ng-model="params.active" ng-false-value="'0'"  ng-true-value="'1'" ng-change="setActiveOnly()") Active Only
.trip-filters
    .trip-filters__block
        md-input-container.trip-filters__block__options
            label Search by Name:
            input(ng-model='searchTerm' ng-change="searchByName(searchTerm)")
.carrier-list-item
    md-progress-linear(md-mode="indeterminate" ng-if="busy")
    .carrier-list-item__head
        .carrier-list-item__head__item
            .sit-list__head__item__sort-item
                .sit-list__head__item__sort-item_left
                    | Name
                .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getStorages()" order="'name'")
        .carrier-list-item__head__item
            .sit-list__head__item__sort-item
                .sit-list__head__item__sort-item_left
                    | Address
                .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getStorages()" order="'address'")
        .carrier-list-item__head__item
            .sit-list__head__item__sort-item
                .sit-list__head__item__sort-item_left
                    | Zip code
                .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getStorages()" order="'zip_code'")
        .carrier-list-item__head__item
            .sit-list__head__item__sort-item
                .sit-list__head__item__sort-item_left
                    | City
                .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getStorages()" order="'city'")
        .carrier-list-item__head__item
            .sit-list__head__item__sort-item
                .sit-list__head__item__sort-item_left
                    | State
                .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getStorages()" order="'state'")
        .carrier-list-item__head__item
            | Phones
        .carrier-list-item__head__item
            .sit-list__head__item__sort-item
                .sit-list__head__item__sort-item_left
                    | E-Mail
                .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getStorages()" order="'email'")
        .carrier-list-item__head__item
            .sit-list__head__item__sort-item
                .sit-list__head__item__sort-item_left
                    | Default storage
                .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getStorages()" order="'default_storage'")
        .carrier-list-item__head__item
            .sit-list__head__item__sort-item
                .sit-list__head__item__sort-item_left
                    | Active
                .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getStorages()" order="'active'")
    .carrier-list-item__body(ng-repeat="item in storages")
        .carrier-list-item__body__item(ng-click='editStorage(item.storage_id)')
            | {{ item.name }}
        .carrier-list-item__body__item(ng-click='editStorage(item.storage_id)')
            | {{ item.address }}
        .carrier-list-item__body__item(ng-click='editStorage(item.storage_id)')
            | {{ item.zip_code }}
        .carrier-list-item__body__item(ng-click='editStorage(item.storage_id)')
            | {{ item.city }}
        .carrier-list-item__body__item(ng-click='editStorage(item.storage_id)')
            | {{ item.state }}
        .carrier-list-item__body__item(ng-click='editStorage(item.storage_id)')
            | {{ item.phones.join() }}
        .carrier-list-item__body__item(ng-click='editStorage(item.storage_id)')
            | {{ item.email }}
        .carrier-list-item__body__item.carrier-list-item__body__item_checkbox
            md-checkbox.md-primary.icheck(name='checkbox',  ng-false-value="'0'"  ng-true-value="'1'" ichecks='', ng-model='item.default_storage', type='checkbox', ng-change='updateDefaultStorage(item)')
        .carrier-list-item__body__item
            md-switch(md-no-ink aria-label="Switch No Ink" ng-model="item.active" ng-false-value="'0'"  ng-true-value="'1'" ng-change="setStorageActive(item, $index)") Active

    div(ng-if="meta.pageCount && meta.pageCount > 1" elromco-paginator meta="meta" set-page="setPage")
