include ../../../../default

+b('md-dialog').expenses-list-template
	form(ng-cloak)
		+e('md-toolbar').head
			.md-toolbar-tools
				+e('label').label {{label}}
		+b('md-dialog-content').expenses-list-dialog-table
			+e.head
				+e.head-item
					md-checkbox.md-primary(name='checkbox' ichecks='' ng-model='selectedAll' ng-change='selectAll(selectedAll)' type='checkbox')
				+e.head-item
					| Amount
				+e.head-item
					| Description
			+e.body
				+e.body-items(ng-repeat="item in expensesDialogItem track by $index")
					+e.body-item
						md-checkbox.md-primary(name='checkbox' ichecks='' ng-model='item.selected' type='checkbox' )
					+e.body-item
						| {{item.amount | currency}}
					+e.body-item
						| {{item.description}}
		+e('md-dialog-actions').foot(layout="row")
			md-button(ng-click="cancel()")
				| Cancel
			span(flex)
			md-button(ng-click="add()")
				| Add
