.expenses-list
    .expenses-list__head
      .expenses-list__head_label
        h2.expenses-list__label {{ label }}
      .expenses-list__head_buttons
        md-button(aria-label='Add'  ng-click="addExpenses(event)" ng-disabled='loading').expenses-list__button
          ng-md-icon(icon='add_box').expenses-list__icon
        md-button(aria-label='New'  ng-click="addNewExpense()" ng-disabled='loading').expenses-list__button
          ng-md-icon(icon='fibre_new').expenses-list__icon
        md-button(aria-label='Create'  ng-click="editMode = !editMode" ng-disabled='loading').expenses-list__button
          ng-md-icon(icon='edit').expenses-list__icon
        md-button(aria-label='Delete' ng-if='editMode' ng-click="removeExpenses()" ng-disabled='loading').expenses-list__button
          ng-md-icon(icon='delete').expenses-list__icon
    .expenses-list__head
      .expenses-list__head-item(ng-show="editMode")
        md-checkbox.md-primary(name='checkbox' ichecks='' ng-model='selectedAll' ng-change='selectAllExpenses(selectedAll)' type='checkbox' )
      .expenses-list__head-item
        | Amount
      .expenses-list__head-item
        | Advanced
      .expenses-list__head-item
        | Description
    .expenses-list__body
      .expenses-list__body-items(ng-repeat="item in expenses track by $index")
        .expenses-list__body-item(ng-show="editMode")
          md-checkbox.md-primary(name='checkbox', ichecks='' ng-model='item.selected', type='checkbox' )
        .expenses-list__body-dialog(edit-item-dialog value="item.amount" close-dialog="closeDialog(item)" update-dialog="updateDialog(item)" mode="currency" extra-dialog-style="expenses-dialog" ng-show="item.amountEditDialogOpen")
        .expenses-list__body-item.expenses-list__body-item_pointer(ng-click="openEditDialog(item, 'amountEditDialogOpen')")
          .expenses-list__edit-item(ng-mouseover="showPencilAmount = 1" ng-mouseleave="showPencilAmount = 0")
            .expenses-list__edit-item__number-value
              | {{item.amount | currency}}
            .expenses-list__edit-item__icon
              ng-md-icon( icon="mode_edit" style="fill: #aaa " size="18px" ng-show="showPencilAmount")
        .expenses-list__body-dialog(edit-item-dialog value="item.date" close-dialog="closeDialog(item)" update-dialog="updateDialog(item)" mode="datePicker" position = "center" extra-dialog-style="expenses-dialog" ng-show="item.dateEditDialogOpen")
        .expenses-list__body-item.expenses-list__body-item_pointer(ng-click="openEditDialog(item, 'dateEditDialogOpen')")
          .expenses-list__edit-item(ng-mouseover="showPencilDate = 1" ng-mouseleave="showPencilDate = 0")
            .expenses-list__edit-item__number-value
              | {{item.date * 1000 | date:'M/d/yy'}}
            .expenses-list__edit-item__icon
              ng-md-icon( icon="mode_edit" style="fill: #aaa " size="18px" ng-show="showPencilDate")
        .expenses-list__body-dialog(edit-item-dialog value="item.description" close-dialog="closeDialog(item)" update-dialog="updateDialog(item)" mode="text" position = "right" extra-dialog-style="expenses-dialog" ng-show="item.descriptionEditDialogOpen")
        .expenses-list__body-item.expenses-list__body-item_pointer(ng-click="openEditDialog(item, 'descriptionEditDialogOpen')")
          .expenses-list__edit-item(ng-mouseover="showPencilDescription = 1" ng-mouseleave="showPencilDescription = 0")
            .expenses-list__edit-item__text-value
              | {{item.description}}
            .expenses-list__edit-item__icon
              ng-md-icon( icon="mode_edit" style="fill: #aaa " size="18px" ng-show="showPencilDescription")
    .expenses-list__footer
      | Total: {{total | currency}}
