.expenses-list
  position relative
  width 100%
  height 294px
  box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
  font-size 12px
  font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
  &__head
    display inline-flex
    flex-direction row
    flex-wrap nowrap
    justify-content flex-start
    width 100%
    border-bottom 1px solid #ddd
    min-height 30px
    &_label
      padding-left 16px
      width 100%
    &_buttons
      float right
      padding-right 16px
      display inline-flex
      fill: #757575
  &__label
    margin-top 12px
    font-size 14px
    font-weight 600
    color #757575
  &__button
    margin 0
    padding 0
    padding-top 8px
    height 40px
    min-width 40px
  &__head-item
    display flex
    justify-content center
    flex-direction column
    padding 4px
    padding-left 26px
    padding-right 35px
    text-align right
    height 36px
    min-width 130px
    color black
    font-size  12sp
    opacity 0.54
    border-bottom 1px solid #ddd
    &:first-child
      padding 16px 4px 0 12px
      min-width 30px
    &:last-child
      width 100%
      padding-right 16px
      text-align left
  &__body
    height 186px
    overflow-y  auto
  &__body-items
    display inline-flex
    flex-direction row
    justify-content flex-start
    width 100%
    background #fff
  &__body-item
    height 30px
    min-width 130px
    padding 4px
    padding-left 26px
    border-bottom 1px solid #ddd
    color black
    font-size 13sp
    opacity 0.87%
    display flex
    flex-direction column
    justify-content center
    &:first-child
      padding 16px 4px 0 12px
      min-width 30px
    &:last-child
      width 100%
      padding-right 4px
      flex-grow 3
      text-align right
    &_pointer
      cursor pointer
  &__edit-item
    display inline-flex
    flex-direction row
    &__number-value
      flex-grow 1
      flex-direction start
      overflow hidden
      text-align right
      height 21px
      padding-top 3px
      padding-right 2px
    &__text-value
      flex-grow 2
      flex-direction start
      overflow hidden
      text-align left
      height 21px
      padding-top 3px
    &__icon
      flex-grow 0
      flex-basis 30px
      flex-direction center
      padding 1px 6px 2px 6px
  &__footer
    display inline-flex
    flex-direction row
    flex-wrap nowrap
    justify-content flex-end
    align-items center
    width 100%
    min-height 30px
    border-top 1px solid #ddd
    padding-right 30px
    font-weight 500
    color #757575
    font-size 13px
.expenses-list-dialog-table
  font-size 12px
  font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
  &__head
    display inline-flex
    flex-direction row
    flex-wrap nowrap
    justify-content flex-start
    width 100%
    border-bottom 1px solid #ddd
    min-height 30px
  &__head-item
    display flex
    justify-content center
    flex-direction column
    height 36px
    min-width 100px
    padding-left 26px
    padding-right 35px
    opacity 0.54
    border-bottom 1px solid #ddd
    &:first-child
      padding 16px 4px 0 12px
      min-width 30px
      opacity 1
    &:last-child
      width 100%
      padding-right 16px
      text-align left
  &__body
    overflow-y  auto
    height 271px
  &__body-items
    display inline-flex
    flex-direction row
    justify-content flex-start
    width 100%
    background #fff
  &__body-item
    display flex
    flex-direction column
    justify-content center
    height 30px
    min-width 100px
    padding-left 16px
    border-bottom 1px solid #ddd
    &:first-child
      padding 16px 4px 0 12px
      min-width 30px
    &:last-child
      padding-right 4px
      flex-grow 4
      text-align left

.expenses-list-template
  height 400px
  width 400px
  &__label
    margin-top 6px
    font-size 14px
    font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-seri
    font-weight 500
    color #757575

  &__foot
    position absolute
    bottom 0
    padding-right 16px
    width 100%

md-toolbar.expenses-list-template__head
  background #f0f0f0
  height 40px
Add a comment to this line
  min-height 40px
