.full-value-protection-modal-not-allowed-edit
	padding 1em
.full-value-protection-modal-header
	padding .5em
	background-color #ebebeb
.full-value-protection-modal
	padding 1em
	font-size 1.2em
	&__table
		width 100%
		border-bottom 1px solid #ebebeb
		margin-bottom 1em
	&__table-cell
		padding .3em
		text-align center
		&:first-of-type
			text-align left
			font-weight 800
	&__info
		margin-bottom 1em
		border-bottom 1px solid #ebebeb
	&__info-item
		display flex
		justify-content flex-start
		align-items center
		margin-bottom .5em
	&__info-title
		font-weight 800
		margin-right 1em
		min-width 200px
	&__info-input
		border none
		border-bottom 1px solid #ebebeb
		&[disabled]
			background-color #fff
			border none
	&__explanation
		margin-bottom 1em
	&__footer
		display flex
		justify-content flex-end
		width 100%
		padding 1em
		background-color #ebebeb
	&__footer-button-right
		margin-left 1em

	md-checkbox
		margin 0
		width 18px
		&.md-checked
			.md-icon
				background-color #00cd79
