<div class="full-value-protection-modal-allowed-edit"
     ng-show="edit_amount_of_valuation">
    <div class="full-value-protection-modal-header">
        <h3>Please, select valuation deductible level</h3>
    </div>
    <div class="full-value-protection-modal">
        <div class="full-value-protection-modal__select-block"
             ng-class="{'disabled': readOnly}">
            <table class="full-value-protection-modal__table">
                <tr class="full-value-protection-modal__table-header">
                    <td class="full-value-protection-modal__table-cell">Deductible Level</td>
                    <td class="full-value-protection-modal__table-cell"
                        ng-repeat="value in currentPlan.header track by $index">
                        $ {{value}}
                    </td>
                </tr>
                <tbody>
                <tr class="full-value-protection-modal__table-body">
                    <td class="full-value-protection-modal__table-cell">
                        Valuation Charge
                    </td>
                    <td class="full-value-protection-modal__table-cell"
                        ng-repeat="value in currentPlan.header track by $index">
                        $ {{calculateCharge(value)}}
                    </td>
                </tr>
                <tr class="full-value-protection-modal__table-body">
                    <td class="full-value-protection-modal__table-cell">
                        Select Valuation
                    </td>
                    <td class="full-value-protection-modal__table-cell"
                        ng-repeat="value in currentPlan.header track by $index">
                        <md-checkbox ng-model="valuation.deductible_data.selected[$index]"
                                     ng-disabled="valuation.deductible_data.selected[$index]"
                                     aria-label="$ {{value}}"
                                     class="green"
                                     ng-change="setDeductibleLevel(value)">
                        </md-checkbox>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="full-value-protection-modal__info"
             ng-class="{'disabled': readOnly}">
            <div class="full-value-protection-modal__info-item">
                <div class="full-value-protection-modal__info-title">Full value Protection</div>
                <div class="full-value-protection-modal__info-text">
                    <input cc-currency
                           class="full-value-protection-modal__info-input"
                           ng-model="valuation.selected.liability_amount"
                           ng-change="changeOnlyLiabilityAmount()"
                           ng-disabled="is_not_edit_amount_of_liability"
                           ng-model-options="{'updateOn': 'blur'}">
                    <i class="fa fa-pencil"
                       ng-if="!is_not_edit_amount_of_liability && !valuation.change_liability_amount && !readOnly"
                       aria-hidden="true"></i>
                    <i ng-click="recalculateLiabilityAmount()"
                       ng-show="valuation.change_liability_amount && !readOnly"
                       class="fa fa-calculator valuation-info__liability-amount__recalculate"
                       uib-tooltip="Calculate liability amount"></i>
                    (Amount of Liability)
                </div>
            </div>
            <div class="full-value-protection-modal__info-item">
                <div class="full-value-protection-modal__info-title"
                     ng-if="valuation.selected.deductible_level">
                    Deductible Level
                </div>
                <div class="full-value-protection-modal__info-text"
                     ng-if="valuation.selected.deductible_level">
					<span ng-if="valuation.selected.deductible_level === 'Select Valuation'">
						{{valuation.selected.deductible_level}}
					</span>

                    <span ng-if="valuation.selected.deductible_level !== 'Select Valuation'">
						$ {{valuation.selected.deductible_level | number : 2 }}
					</span>
                </div>
            </div>
            <div class="full-value-protection-modal__info-item"
                 ng-if="valuation.selected.valuation_charge">
                <div class="full-value-protection-modal__info-title">Valuation charge</div>
                <div class="full-value-protection-modal__info-text">
                    $ {{valuation.selected.valuation_charge | number : 2}}
                </div>
            </div>
        </div>
        <div class="full-value-protection-modal__explanation"
             textforshow="valuationTitles[valuationTypes.FULL_VALUE].explanation"
             read-more>
        </div>
    </div>
</div>
<div class="full-value-protection-modal-not-allowed-edit"
     ng-show="!edit_amount_of_valuation"
     ng-bind-html="valuation_proposal_to_contact"></div>

<div class="full-value-protection-modal__footer">
    <button type="button"
            class="btn btn-primary full-value-protection-modal__footer-button-left"
            ng-show="edit_amount_of_valuation"
            ng-class="{'disabled': readOnly || !valuation.selected.valuation_charge}"
            ng-click="clickSave()"
            data-ng-disabled="disableSave">Save
    </button>
    <button type="button"
            class="btn btn-default full-value-protection-modal__footer-button-right"
            ng-click="clickClose()">Close
    </button>
</div>
