<div class="col-md-6 contract-box">
    <div class="contract-box-content no-border">
        <p class="title underline blue left-offset">
            <input class="form-control services-title"
                   ng-model="$ctrl.contract_page[$ctrl.type].name"
                   ng-blur="$ctrl.checkEmpty('name')"/>
        </p>
        <p class="uppercase left-offset">
            <input class="form-control origin-destination-title"
                   ng-model="$ctrl.contract_page[$ctrl.type].customerName"
                   ng-blur="$ctrl.checkEmpty('customerName')"/>
            <b></b>
        </p>
        <p class="uppercase left-offset">
            <span class="width-60">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].street"
                       ng-blur="$ctrl.checkEmpty('street')"/>
                    <b></b>
            </span>
            <span class="width-40">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].apt"
                       ng-blur="$ctrl.checkEmpty('apt')"/>
                <b></b>
            </span>
        </p>
        <p class="uppercase left-offset">
            <span class="width-40">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].city"
                       ng-blur="$ctrl.checkEmpty('city')"/>
                <b></b>
            </span>
            <span class="width-30">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].state"
                       ng-blur="$ctrl.checkEmpty('state')"/>
                <b></b>
            </span>
            <span class="width-30">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].zip"
                       ng-blur="$ctrl.checkEmpty('zip')"/>
                <b></b>
            </span>
        </p>
        <p class="uppercase left-offset">
            <span class="width-60">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].firstCellPhone"
                       ng-blur="$ctrl.checkEmpty('firstCellPhone')"/>
                <b></b>
            </span>
            <span class="width-40">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].secondCellPhone"
                       ng-blur="$ctrl.checkEmpty('secondCellPhone')"/>
            </span>
        </p>
        <p class="uppercase left-offset">
            <span class="width-60">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].flightsOrigin"
                       ng-blur="$ctrl.checkEmpty('flightsOrigin')"/>
                <b></b>
            </span>
            <span class="width-40">
                <input class="form-control origin-destination-title"
                       ng-model="$ctrl.contract_page[$ctrl.type].elevator"
                       ng-blur="$ctrl.checkEmpty('elevator')"/>
                <b>Yes / No</b>
            </span>
        </p>
    </div>
</div>
