.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize;
}
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem;
}
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  width: 300px;
  height: 50px;
  margin-left: 20px;
}
.fabSpeedDialdemoBasicUsage .md-fab:hover,
.fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important;
}
.payment-list .pageheader {
  padding: 22px 15px;
}
.payment-list .pageheader md-fab-speed-dial {
  position: fixed;
  left: 125px;
  top: 0;
}
