.fabSpeedDialdemoBasicUsage
    .text-capitalize
        text-transform capitalize
    p
        &.note
            font-size 1.2rem
    .lock-size
        min-width 300px
        width 300px
        height 50px
        margin-left 20px

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused
    background-color #000 !important

.payment-list .pageheader
    padding: 22px 15px

.payment-list .pageheader md-fab-speed-dial
    position: fixed
    left: 125px
    top: 0


.payment-list
    &__dialog-content
        padding: 0
    &__toolbar-item
        font-size: 12px

        &_green
            background: #009900
            color: #fff
    &__title
        color: #eee
    &__input-container
        font-size: 12px
    &__dialog
        width: 800px
        padding: 0
    &__dialog-container
        z-index: 1100