include ../../../../../../../node_modules/bemto.pug/bemto

+b.payment-list(style="visibility: hidden")
    +e.dialog-container.md-dialog-container#paymentList
        +e('md-dialog').dialog(layout-padding)
            md-toolbar
                .md-toolbar-tools
                    +e('h2').title
                        | Payments
                    span(flex)
                    md-button.md-icon-button(ng-click="cancel()")
                        ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
            +e('md-dialog-content').dialog-content
                .md-dialog-content(ng-show="showLoader")
                    div(layout="row" layout-sm="column" layout-align="space-around")
                        md-progress-circular(ng-disabled="!showLoader" class="md-hue-2" md-diameter="40")
                .md-dialog-content(ng-show="!showLoader")
                    section.cour.animated.fadeInDown
                        md-fab-speed-dial(md-open='fab.isOpen', md-direction='{{fab.selectedDirection}}', ng-class='fab.selectedMode')
                            md-fab-trigger
                                md-button.md-fab.md-warn.md-mini(aria-label='menu')
                                    ng-md-icon(icon="plus_one" style='font-size: 28px; fill:#fff;')
                            md-fab-actions
                                +e('md-button').toolbar-item_green(ng-click="openInvoice($event)")
                                    | Create invoice
                                +e('md-button').toolbar-item.md-raised(ng-click="openCustomPayment($event); hide()")
                                    | Add Custom Payment
                                +e('md-button').toolbar-item.md-raised(ng-click="openOnlinePayment($event)")
                                    | Add Online payment
                                +e('md-button').toolbar-item.md-raised(ng-click="openReservationCharge($event)")
                                    | Reservation charge
                                +e('md-button').toolbar-item.md-raised.md-warn
                                    | Refund
                        md-switch.md-primary(md-no-ink aria-label="Switch No Ink" ng-model="showInvoice")
                            | Show Invoices

                    section#main-content
                        md-table-container(ng-show="!showInvoice")
                            table(md-table multiple ng-model='selected' md-progress='promise')
                                thead(md-head md-order='query.order' )
                                    tr(md-row)
                                        th(md-column) Type
                                        th(md-column) Date
                                        th(md-column) Notes
                                        th(md-column) Amount
                                        th(md-column) Pinding
                                tbody(md-body)
                                    tr(ng-repeat='payment in payments' md-row ng-click="openReceipt($event, payment)" ng-if="!filtered || (filtered && payment.nid == requestId)")
                                        td(md-cell) {{payment.type}}
                                        td(md-cell) {{payment.date}}
                                        td(md-cell) {{payment.description}}
                                        td(md-cell) ${{payment.amount | number: 2}}
                                        td(md-cell)
                                            md-checkbox.md-primary(md-no-ink aria-label="Pending" ng-model="payment.pending")
                        md-table-container(ng-show="showInvoice")
                            table(md-table multiple ng-model='selected' md-progress='promise')
                                thead(md-head md-order='query.order' )
                                    tr(md-row)
                                        th(md-column) Invoice
                                        th(md-column) Description
                                        th(md-column) Date
                                        th(md-column) Total
                                        th(md-column) Status
                                        th(md-column) Actions
                                tbody(md-body)
                                    tr(ng-repeat='invoice in invoices' md-row ng-if="!filtered || (filtered && isHaveCharge(invoice, requestId))")
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" ) {{ entityId }} - {{ invoice.id }}
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" ) {{invoice.data.charges[0].description}}
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" ) {{invoice.data.date}}
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" ) ${{invoice.data.total | number: 2}}
                                        td(md-cell ng-click="openInvoice($event, invoice, true)" )
                                            span.flag-raw(ng-if="invoice.data.flag == 0") Not sent
                                            span.flag-raw(ng-if="invoice.data.flag == 1") Send
                                        td(md-cell)
                                            a(ng-href="/account/#/invoice/{{invoice.hash}}" title="view invoice" target="_blank")
                                                i.icon-eye
                                            a(ng-hide="invoice.data.flag == fieldData.enums.invoice_flags.PAID" href="javascript:void(0)" ng-click="deleteInvoice(invoice)" title="delete invoice")
                                                i.icon-trash

                    div(edit-receipt open-receipt="openReceipt")
                    div(payments-custom-payment open-custom-payment="openCustomPayment" entity-type="{{entityType}}" entity-id="{{entityId}}" user-info="userInfo" pay-success="updatePayments")
                    div(payments-online-payment open-online-payment="openOnlinePayment" user-info="userInfo" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments")
                    div(payments-reservation-charge open-reservation-charge="openReservationCharge" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments")
                    div(payments-invoice open-invoice="openInvoice" entity-type="{{entityType}}" entity-id="{{entityId}}" pay-success="updatePayments" user-info="userInfo")
