  <section id="main-content"  style="min-height:400px" ng-controller="RequestsController as vm" class="animated fadeInRight">

          <div class="row ">         
                    <div class="col-md-12">
                    
           <div class="busyoverlay" ng-show="vm.busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                       <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg></div>          
                        
                         <div ng-show="!vm.busy" cc-requests-datatable requests="vm.requests" displayLength="100" showheading="true"></div>
                               
                               
                      
                    </div>
            </div>

</section>