.client-edit-wrapper
  .client-busy-overlay-enable
    background-color rgba(255,255,255,.5)
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 10
    .busy-symbol
      position absolute
      z-index 1000
      width 36px
      height 36px
      top calc(50% - (32px / 2))
      left calc(50% - (32px / 2))
  .draft-user-warning
    padding 15px
    border 1px solid rgba(231, 76, 60, 1)
    border-radius 4px
    margin-bottom .5em
    background rgba(231, 76, 60, .4)
    font-weight 600
  .required-draft
    color rgba(231, 76, 60, 1)
  .required-draft-input
    border 1px solid rgba(231, 76, 60, .8)