<div class="client-edit-wrapper">
    <div class="modal-body">
        <div ng-show="busy" class="client-busy-overlay-enable">
            <img src="../../../app/core/assets/images/loading.gif" class="busy-symbol">
        </div>
        <div class="draft-user-warning" ng-if="isDraft">
            <span>Please, check all required fields</span>
        </div>
        <form class="form-horizontal"
              name="clientForm"
              role="form"
              autocomplete="off"
              ng-class="{'disabled': busy, 'disabled': isCannotEditUserField}">
            <div class="form-group">
                <label for="clientFirstName"
                       ng-class="{'required-draft': draftFirstNameValid}"
                       class="col-sm-2 control-label">
                    First Name
                </label>
                <div class="col-sm-10">
                    <input ng-model="client.field_user_first_name"
                           type="text"
                           class="form-control"
                           placeholder="First Name"
                           id="clientFirstName"
                           ng-class="{'required-draft-input': draftFirstNameValid}"
                           ng-change="validateDraftFields(client.field_user_first_name, 'field_user_first_name')"
                           ng-blur="edit('First Name', 'field_user_first_name', client.field_user_first_name)">
                </div>
            </div>
            <div class="form-group">
                <label for="clientLastName"
                       ng-class="{'required-draft': draftLastNameValid}"
                       class="col-sm-2 control-label">
                    Last Name
                </label>
                <div class="col-sm-10">
                    <input ng-model="client.field_user_last_name"
                           type="text"
                           id="clientLastName"
                           class="form-control"
                           placeholder="Last Name"
                           ng-class="{'required-draft-input': draftLastNameValid}"
                           ng-change="validateDraftFields(client.field_user_last_name, 'field_user_last_name')"
                           ng-blur="edit('Last Name', 'field_user_last_name', client.field_user_last_name)">
                </div>
            </div>

            <div class="form-group"
                 ng-if="request.move_size.raw == 11">
                <label for="company_name"
                       class="col-sm-2 control-label">
                    Company Name
                </label>
                <div class="col-sm-10">
                    <input type="text"
                           id="company_name"
                           class="form-control"
                           placeholder="Company Name"
                           ng-model="request.field_commercial_company_name.value"
                           ng-blur="edit('Company Name', 'field_commercial_company_name', request.field_commercial_company_name.value)">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3"
                       ng-class="{'required-draft': draftMailValid}"
                       class="col-sm-2 control-label">
                    Email
                </label>
                <div class="col-sm-10">
                    <input type="email"
                           name="client_email"
                           ng-model="client.mail"
						   er-lowercase
                           class="form-control"
                           id="inputEmail3"
                           placeholder="Email" ng-blur="edit('Email', 'mail', client.mail)"
                           required
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="submitted = false; validateDraftFields(client.mail, 'mail')"
                           ng-class="{'required_field': checkValidClientField(submitted, clientForm.client_email), 'required-draft-input': draftMailValid}">
                    <span class="required_text"
                          ng-show="isOnlyInvalidClientField(submitted, clientForm.client_email)">
                        Email is invalid
                    </span>
                    <span class="required_text"
                          ng-show="isRequiredRequestField(submitted, clientForm.client_email)">
                        Email is required.
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="clientPhone"
                       class="col-sm-2 control-label">
                    Phone
                </label>
                <div class="col-sm-10">
                    <input type="text"
                           name="primary_phone"
                           minLength="14"
                           maxLength="14"
                           required
                           ng-model="client.field_primary_phone"
                           class="form-control"
                           id="clientPhone"
                           placeholder="Primary Phone"
                           ng-change="submitted = false"
                           phone-input
                           ng-class="{'required_field': checkValidClientField(submitted, clientForm.primary_phone)}"
                           ng-blur="edit('Primary Phone', 'field_primary_phone', client.field_primary_phone)">
                    <span class="required_text"
                          ng-show="isOnlyInvalidClientField(submitted, clientForm.primary_phone)">
                        Phone number is invalid
                    </span>
                    <span class="required_text"
                          ng-show="isRequiredRequestField(submitted, clientForm.primary_phone)">
                        Phone is required.
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="clientAdditionalPhone"
                       class="col-sm-2 control-label">
                    Add. Phone
                </label>
                <div class="col-sm-10">
                    <input autocomplete="off"
                           type="text"
                           phone-input
                           minlength="14"
                           maxlength="14"
                           ng-model="client.field_user_additional_phone"
                           class="form-control"
                           id="clientAdditionalPhone"
                           placeholder="Additional Phone"
                           ng-blur="edit('Additional Phone', 'field_user_additional_phone', client.field_user_additional_phone)">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Active
                </label>
                <div class="col-sm-10">
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-model="client.status"
                           data-switchery="true" style="display: none;"
                           ng-change="edit('Status', 'status', client.status)">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3"
                       class="col-sm-2 control-label">
                    Password
                </label>
                <div class="col-sm-10">
                    <input type="password"
                           autocomplete="new-password"
                           class="form-control"
                           ng-model="client.password"
                           id="inputPassword3"
                           placeholder="Password"
                           ng-blur="edit('Password')">
                </div>
            </div>
        </form>
    </div>
    <div class="add-contact-base" ng-class="{disabled: isCannotEditUserField}">
        <button type="button"
                class="btn btn-danger pull-left"
                ng-if="isSuperUser"
                ng-click="delete(client)">Delete User</button>
        <div>
            <span class="add-contact-btn" ng-hide="hasAdditionalUser">
                <i class="icon-user-follow" ng-click="addContact = hasAdditionalUser = true"></i>
            </span>
            <button type="button"
                class="btn btn-primary"
                ng-click="update(client)">Update</button>
        </div>
    </div>
    <div class="modal-body" ng-show="hasAdditionalUser">
        <form class="form-horizontal" name="contacts" role="form" autocomplete="off">
            <div class="form-group">
                <h2 class="text-center">Additional client contacts</h2>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input ng-model="request.field_additional_user.first_name"
                            type="text" class="form-control"
                            placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input ng-model="request.field_additional_user.last_name"
                            type="text" class="form-control"
                            placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email"
                            name="additionalAccountMail"
                            ng-model="request.field_additional_user.mail"
                            placeholder="Email"
                            ng-class="contacts.additionalAccountMail.$valid ? 'form-control' : 'additional-user-has-error'">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text"
                           phone-input
                           minlength="14"
                           maxlength="14"
                           ng-model="request.field_additional_user.phone"
                           class="form-control"
                           placeholder="Primary Phone">
                </div>
            </div>
            <div class="form-group" ng-if="!addContact">
                <label class="col-sm-2 control-label">
                    Send email
                </label>
                <div class="col-sm-10">
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-model="request.send_additional_email"
                           ng-model-options="{debounce: 500}"
                           data-switchery="true" style="display: none;"
                           ng-change="switchAdditionalEmail()"/>
                </div>
            </div>
        </form>
    </div>
    <div class="add-contact-base" ng-show="addContact" ng-cloak>
        <button type="button" class="btn btn-danger" ng-click="cancelAddContact()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="saveAddContact()">Save Contact</button>
    </div>
    <div class="add-contact-base" ng-show="hasAdditionalUser && !addContact" ng-cloak>
        <button type="button" class="btn btn-danger" ng-click="removeAddContact()">Delete Contact</button>
        <button type="button" class="btn btn-primary" ng-click="updateAddContact()">Update Contact</button>
    </div>
</div>
