<h2>All Moves</h2>
<div cc-requests-datatable
     class="moveboard-client-history-wrapper"
     requests="current_requests"
     data-small="true"
     display-length="15"
     client-history="true"></div>
