<ng-transclude></ng-transclude>
<div class="sorting-container">
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24"
         width="14"
         height="14"
         class="sorting"
         ng-class="{'pick-up-sorting': sortingArrows == 'ASC'}">
        <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"></path>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 24 24"
         width="14"
         height="14"
         class="sorting desc-arrow"
         ng-class="{'pick-up-sorting': sortingArrows == 'DESC'}">
        <path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"></path>
    </svg>
</div>
