.sms-settings
	color black
	margin 20px
	overflow-x auto
	width 100%
	&__menu
		width 250px
		padding 10px 20px
		margin-top 20px
	&__block
		display flex
		align-items flex-start
		padding 10px
		max-width 1900px
	&_row
		display flex
		align-items center
		padding-bottom 10px
	&__name
		font-size 16px
		width 130px
	&__enable-sms
		color black
		text-transform capitalize
		font-size 1.188em
		.switchery
			margin-right 20px
	&__buy-sms
		padding-top 15px
		padding-left 10px
		&:hover
			cursor pointer
	&__dashboard
		display flex
		flex-direction column
		border 2px solid #e8ebed
		border-radius 5px
		width 250px
		padding 10px
		margin-right 20px
		&_title
			font-size 16px
			font-weight 700
			justify-content center
	&__buy-sms-block
		justify-content center
	&__payment-log
		border 2px solid #e8ebed
		border-radius 5px
		width 700px
		padding 10px
	&__phone-numbers
		border 2px solid #e8ebed
		border-radius 5px
		width 200px
		padding 10px
		margin-right 20px
	&__sms-sent-table
		border 2px solid #e8ebed
		border-radius 5px
		padding 10px
		width 100%
		min-width 500px
	&__refresh
		font-size 16px
		padding 11px
		line-height 20px
		border 1px solid #e0e0e0
		border-top 0
		right 5px
		cursor pointer
		margin-top 0
		&:hover
			background #1fc5ac
			color #fbfbfb
	.busyoverlay-container
		width 100%
		height 100%
		position absolute
		left 0
		top 0
	.panel-body
		display flex
		align-items flex-start
		flex-wrap wrap
		padding-top 0
		&>div
			margin-top 15px
			position relative
	.panel-heading
		padding 15px 15px 0
		position relative
		display flex
		justify-content space-between
	.er-saving-progress
		right 65px
