<div class="pageheader">
	<h1>SMS Settings </h1>
	<div class="breadcrumb-wrapper hidden-xs">
		<span class="label">You are here:</span>
		<ol class="breadcrumb">
			<li>Settings</li>
			<li class="active">SMS</li>
		</ol>
	</div>
</div>
<section class="sms-settings__block">
	<div class="sms-settings__menu panel">
		<ul class="nav nav-pills nav-stacked compose-nav">
			<li ng-repeat="tab in vm.tabs"
				ng-class="{ 'active': tab.selected}">
				<a href="javascript:void(0)" ng-click="vm.select(tab, $index)">
					{{tab.name}}
				</a>
			</li>
		</ul>
	</div>

	<div class="panel sms-settings" ng-show="vm.tabs[0].selected">
		<header class="panel-heading wht-bg">
			<div class="sms-settings__enable-sms">
				<input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
					   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
					   ng-model="isEnabled"
					   ng-change="saveSettings()"
					   id="checkOne" data-switchery="true" style="display: none;">
				Enable SMS
			</div>
			<er-saving-progress saving="saving"></er-saving-progress>
			<i class="sms-settings__refresh icon-refresh" ng-click="refreshSettings();"></i>
		</header>
		<div ng-if="busy" busy-overlay="busy"></div>
		<div class="panel-body minimal">
			<div class="sms-settings__dashboard">
				<div class="sms-settings_row sms-settings__dashboard_title">
					SMS statistic
				</div>
				<div class="sms-settings_row">
					<div class="sms-settings__name">
						Balance:
					</div>
					<div>
						${{balance | number : 4}}
					</div>
				</div>
				<div class="sms-settings_row">
					<div class="sms-settings__name">
						SMS Sent:
					</div>
					<div>
						{{smsCountSent}}
					</div>
				</div>
				<div class="sms-settings_row">
					<div class="sms-settings__name">
						Phone number rent:
					</div>
					<div>
						${{smsPhoneNumberSpent | number : 2}}
					</div>
				</div>
				<div class="sms-settings_row">
					<div class="sms-settings__name">
						Money spent:
					</div>
					<div>
						${{smsPriceSpent | number : 4}}
					</div>
				</div>
				<div class="sms-settings_row sms-settings__buy-sms-block">
					<div class="sms-settings__buy-sms">
						<button class="btn btn-info" ng-click="openBuyMoreSMS()">Buy more SMS</button>
					</div>
				</div>
			</div>
			<div class="sms-settings__phone-numbers">
				<sms-phone-numbers-settings selected-phone-number="phoneNumber"></sms-phone-numbers-settings>
			</div>
		</div>
	</div>

	<div class="panel sms-settings" ng-show="vm.tabs[1].selected">
		<div class="panel-body minimal">
			<div class="sms-settings__payment-log">
				<sms-payment-history></sms-payment-history>
			</div>
		</div>
	</div>

	<div class="panel sms-settings" ng-show="vm.tabs[2].selected">
		<div class="panel-body minimal">
			<div class="sms-settings__sms-sent-table" ng-if="phoneNumber">
				<sms-sent-table phone-number="phoneNumber"></sms-sent-table>
			</div>
		</div>
	</div>
</section>
