<div class="content" ng-click="$ctrl.checkFocus($event)" ng-blur="$ctrl.onBlur()" busy-overlay="$ctrl.awaiter">
    <div class="content-box">
        <div class="message-box special">
            <span ng-bind="$ctrl.reminder.description"></span>
        </div>
    </div>
    <div class="content-box">
        <div class="left-box">
            <span class="h4" ng-bind="$ctrl.reminder.remindTime * 1000 | date:'MMM d, h:mma'"></span>
        </div>
        <div>
            <div class="dismiss" ng-click="$event.stopPropagation()">
                <button ng-if="!$ctrl.reminder.dismissed_at"
                        ng-disabled="::!$ctrl.reminder.canEdit"
                        ng-click="$ctrl.dismiss();">
                    <span>Dismiss</span>
                </button>
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="left-box special">
            <span ng-bind="$ctrl.reminder.customer_name"></span>
        </div>
        <div class="right-box special">
            <span ng-bind="'Request # ' + $ctrl.reminder.node_id" class="request offset"></span>
        </div>
    </div>
</div>
