.er-signature-box
	display flex
	flex-direction column
	padding 15px
	width 285px
	&__image
		width 250px
	&__date-block
		padding 0 10px
.account-page-wrapper
	.er-signature-box
		&__signature-form
			width 255px
			border 1px solid #009FFA
			position relative
		&__signature-times
			border-top: 2px solid #6D6D6D;
			width: 250px;
			position: absolute;
			bottom: 10px;
		&__signature-footer
			p
				margin 0
