<div class="er-signature-box" style="cursor:default;" ng-if="signature.value">
	<div class="er-signature-box__signature-form">
		<img disabled class="col-dd-3 er-signature-box__image" ng-src="{{ signature.value }}"/>
		<div class="er-signature-box__signature-times"></div>
	</div>
	<div class="er-signature-box__signature-footer" ng-show="showSignatureFooter" ng-bind-html="signature.footer">
	</div>
	<div class="er-signature-box__date_block">
		<span class="er-signature-box__sign-date" ng-class="{printRemove: !showSignatureDate}" ng-show="showSignatureDate">{{:: signature.date | date: dateFormat}}</span>
		<a class="er-signature-box__sign-remove printRemove" href="javascript:;" ng-click="removeSignature()" ng-show="canRemove" ng-class="{disabled: !canEdit}">
			<span class="cancel"> &times;</span>
		</a>
	</div>
</div>
<div class="er-signature-box er-signature-box__make_action" ng-click="clickOpenSignature()" ng-if="!signature.value" ng-class="{disabled: !canEdit}">
	<div class="empty-signature printRemove">
		<i class="glyphicon glyphicon-pencil"></i>
		Click here to sign
	</div>
	<div id="errorSign" style="display:none;" class="printRemove">
		<i class="fa fa-arrow-left" aria-hidden="true">
		</i>
	</div>
</div>
