<div class="local-inventory-details-settings">
    <h4 class="local-inventory-details-settings__title">
        Allow a customer to make changes to the Inventory & Details when the job is confirmed
    </h4>
    <input type="checkbox"
           class="local-inventory-details-settings__switch js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
           ng-change="changeLocalInventoryDetails()"
           ng-model="localInventoryDetails"
           data-switchery="true">
</div>
