<div class="fieldset-wrapper">
    <div class="three_block left-block direction_info">
        <div class="disabled">
            <div ng-show="vm.flatRate || vm.longDistance">
                <img class="dirMap" src="content/img/settings/map-example.png">
                <h3>Moving From:</h3>
                <p class="calc_left_info company-color">
                    Dennis, MA 02641
                    <span class="bs">(No Stairs - Ground Floor)</span>
                </p>
                <h3>Moving To:</h3>
                <p class="calc_left_info company-color">
                    Haworth, NJ 07641
                    <span class="bs">(No Stairs - Ground Floor)</span>
                </p>
                <h3>Distance:</h3>
                <p class="calc_left_info company-color">259 miles</p>
            </div>

            <div ng-show="isActiveLocalMove() || isActiveLocalMoveHideQuote()">
                <img class="dirMap" src="content/img/settings/map-example.png">
                <h3>Moving From:</h3>
                <p class="calc_left_info company-color">
                    Dennis, MA 02641
                    <span class="bs">(No Stairs - Ground Floor)</span>
                </p>
                <h3>Moving To:</h3>
                <p class="calc_left_info company-color">
                    Dennis, MA 02641
                    <span class="bs">(No Stairs - Ground Floor)</span>
                </p>
                <h3>Distance:</h3>
                <p class="calc_left_info company-color">30 miles</p>
            </div>

            <div ng-show="vm.storage">
                <div class="storage_from">
                    <img id="map_direction_to_storage" src="content/img/settings/map-example-moving-from.png">
                    <h3>Moving From:</h3>
                    <p class="calc_left_info company-color">
                        Dennis, MA 02641
                        <span class="bs"> (No Stairs - Ground Floor)</span>
                    </p>
                    <h3>Moving To:</h3>
                    <p class="calc_left_info company-color">
                        Boston Best Rate Movers
                        <span class="bs"> (Allston)</span>
                    </p>
                    <h3>Distance:</h3>
                    <p class="calc_left_info company-color"> 83 miles</p>
                </div>

                <div class="storage_to">
                    <img id="map_direction_from_storage" src="content/img/settings/map-example-moving-to.png">
                    <h3>Moving From:</h3>
                    <p class="calc_left_info company-color">
                        Boston Best Rate Movers
                        <span class="bs"> (Allston)</span>
                    </p>
                    <h3>Moving To:</h3>
                    <p class="calc_left_info company-color">
                        Dennis, MA 02641
                        <span class="bs"> (No Stairs - Ground Floor)</span>
                    </p>
                </div>
            </div>
        </div>

        <div ng-if="isSecondStepFirst()" class="btn btn-default btn-3d" type="button" id="back-to-calc-btn">
            <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                 class="editable-button calculate-button-ta calc-result-btn-bottom-left"
                 ng-model="vm.movecalcFormSettings.buttonsText.calcResultSecondBack"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
            </div>
        </div>

        <div ng-if="isThirdStepFirst()" class="btn btn-default btn-3d" type="button" id="back-to-calc-btn">
            <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                 class="editable-button calculate-button-ta calc-result-btn-bottom-left"
                 ng-model="vm.movecalcFormSettings.buttonsText.calcResultFirstBack"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
            </div>
        </div>
    </div>

    <div class="calc_block form-block three_block">
        <div class="form_block calc-form">
            <div ng-show="vm.flatRate" class="box_info general disabled calc-middle-box-wrap">
                <div class="moving-date">
                    <h3>Desired Move Date:</h3>
                    <span class="company-color word-wrap">Thursday, Aug 18, 2016</span>
                </div>
                <div class="moving-date">
                    <h3>Type of Service:</h3>
                    <span class="company-color word-wrap">Flat Rate</span>
                </div>
                <div class="moving-date">
                    <h3>Size of Move:</h3>
                    <span class="company-color long word-wrap">Small 1 Bedroom Apartment</span>
                </div>
                <i class="rooms">(with living room)</i>
            </div>

            <div ng-show="vm.longDistance"
                 class="box_info general disabled calc-middle-box-wrap">
                <div class="moving-date">
                    <h3>Desired Move Date:</h3>
                    <span class="company-color word-wrap">Thursday, Aug 18, 2016</span>
                </div>
                <div class="moving-date">
                    <h3>Type of Service:</h3>
                    <span class="company-color word-wrap">Long Distance</span>
                </div>
                <div class="moving-date">
                    <h3>Size of Move:</h3>
                    <span class="company-color long word-wrap">Small 1 Bedroom Apartment</span>
                </div>
                <i class="rooms">(with living room)</i>
            </div>

            <div ng-show="vm.longDistance"
                 class="box_info calc-result-editable-block calc-middle-box-text-angular-wrap"
                 id="middle-wrapper"
                 text-angular
                 ng-change="vm.changeMoveCalcFormSettings()"
                 ng-model="vm.movecalcFormSettings.calcResultLongDistanceExplanationCenterBlock"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],
                 ['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]">
            </div>

            <div ng-show="vm.flatRate" class="box_info calc-result-editable-block calc-middle-box-text-angular-wrap"
                 id="middle-wrapper"
                 text-angular ng-change="vm.changeMoveCalcFormSettings()"
                 ng-model="vm.movecalcFormSettings.calcResultFlatRateExplanationCenterBlock"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]">
            </div>

            <div ng-show="isActiveLocalMove() || isActiveLocalMoveHideQuote()">
                <div class="box_info general disabled calc-middle-box-wrap">
                    <div class="moving-date">
                        <h3>Desired Move Date:</h3>
                        <span class="company-color word-wrap">Thursday, Aug 18, 2016</span>
                    </div>
                    <div class="moving-date">
                        <h3>Type of Service:</h3>
                        <span class="company-color word-wrap">Moving</span>
                    </div>
                    <div class="moving-date">
                        <h3>Size of Move:</h3>
                        <span class="company-color long word-wrap">Small 1 Bedroom Apartment</span>
                    </div>
                    <i class="rooms">(with living room)</i>
                </div>
                <div ng-show="isActiveLocalMove()" class="box_info detailsinfo disabled calc-middle-box-wrap">
                    <div class="moving-date">
                        <h3>Crew Size:</h3>
                        <span class="company-color word-wrap">3 Movers</span>
                    </div>
                    <div class="moving-date">
                        <h3>Truck:</h3>
                        <span class="company-color word-wrap"> 1 Truck</span>
                    </div>

                    <div class="moving-date travel-time">
                        <h3>Travel Time:</h3>
                        <span class="company-color word-wrap">3 hrs
                            <i class="company-color tooltips  fa fa-info-circle">
                            </i>
                        </span>
                    </div>

                    <div class="moving-date rate">
                        <h3>Hourly Rate:</h3>
                        <span class="company-color word-wrap">
                            <i style="text-decoration: line-through;font-style: normal;margin-right: 5px;color: #6B6B6B;"
                               class="cross">$193/Hr</i>
                                $145/Hr
                            <i class="company-color tooltips fa fa-info-circle">
                            </i>
                        </span>
                    </div>

                    <div class="moving-date est-time">
                        <h3>Estimated Job Time:</h3>
                        <span class="company-color word-wrap">4 Hrs 15 Min - 4 Hrs 45 Min</span>
                    </div>

                    <!-- Discount -->
                    <div>
                        <div class="moving-date est-quote">
                            <h3>Estimated quote:</h3>
                            <span style="text-decoration: line-through;color: #6B6B6B;font-weight: normal !important;"
                                  class="word-wrap">$821.67 - $918.33</span>
                        </div>
                    </div>
                    <div>
                        <div class="moving-date est-quote">
                            <h3></h3>
                            <span class="company-color word-wrap" style="margin-left: 135px;">$616.25 - $688.75</span>
                        </div>
                    </div>
                </div>
                <div ng-show="isActiveLocalMoveHideQuote()"
                     class="box_info detailsinfo calc-middle-box-text-angular-wrap"
                     id="middle-wrapper">
                    <div class="calc-intro-info" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                         ng-model="vm.movecalcFormSettings.thirdStepCenterBlockLocalMoveHideQuote"
                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                     ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                                     ['insertLink', 'insertImage'],
                                     ['undo', 'redo', 'clear', 'html']]">
                    </div>
                </div>
            </div>

            <div ng-show="vm.storage" class="disabled calc-middle-box-wrap">
                <div class="box_info general calc-middle-box-wrap">
                    <div class="moving-date">
                        <h3>Type of Service:</h3>
                        <span ng-if="vm.overnightStorage" class="company-color">Overnight</span>
                        <span ng-if="!vm.overnightStorage" class="company-color">Our storage</span>
                    </div>
                    <div class="moving-date">
                        <h3>Size of Move:</h3>
                        <span class="company-color long word-wrap">Small 1 Bedroom Apartment</span>
                    </div>
                    <i class="rooms">(with living room)</i>
                </div>

                <div class="box_info from_storage storage calc-middle-box-wrap">
                    <span ng-if="!vm.overnightStorage" class="st_title">Move to storage</span>
                    <span ng-if="vm.overnightStorage" class="st_title">Pick up</span>
                    <div class="moving-date">
                        <h3>Pick Up Date:</h3>
                        <span class="company-color word-wrap">Thursday, Aug 18, 2016</span>
                    </div>

                    <div class="moving-date travel-time">
                        <h3>Travel Time:</h3>
                        <span class="company-color word-wrap">3 hrs
                            <i class="company-color tooltips fa fa-info-circle">
                            </i>
                        </span>
                    </div>

                    <div class="moving-date">
                        <h3>Crew Size:</h3>
                        <span class="company-color word-wrap">3 movers</span>
                    </div>

                    <div class="moving-date rate">
                        <h3>Hourly Rate:</h3>
                        <span class="company-color word-wrap">
                            <i style="text-decoration: line-through;font-style: normal;margin-right: 5px;color: #6B6B6B;"
                               class="cross">$193/Hr</i>$145/hr
                            <i class="company-color tooltips fa fa-info-circle">
                            </i>
                        </span>
                    </div>

                    <div class="moving-date est-time">
                        <h3>Estimated Job Time:</h3>
                        <span class="company-color word-wrap">5 hrs 45 min - 6 hrs 15 min</span>
                    </div>

                    <div class="moving-date est-quote">
                        <div class="moving-date est-quote">
                            <h3>Estimated quote:</h3>
                            <span class="company-color word-wrap">$833.75 - $906.25</span>
                        </div>
                    </div>
                </div>

                <div class="box_info to_storage storage calc-middle-box-wrap">
                    <span ng-if="!vm.overnightStorage" class="st_title">Move from storage</span>
                    <span ng-if="vm.overnightStorage" class="st_title">Delivery</span>
                    <div class="moving-date">
                        <h3>Delivery Date:</h3>
                        <span class="company-color word-wrap">Friday, Aug 19, 2016</span>
                    </div>
                    <div class="moving-date travel-time">
                        <h3>Travel Time:</h3>
                        <span class="company-color word-wrap"> 3 hrs </span>
                    </div>

                    <div class="moving-date rate">
                        <h3>Crew Size:</h3>
                        <span class="company-color word-wrap">3 movers</span>
                    </div>
                    <div class="moving-date rate">
                        <h3>Hourly Rate:</h3>
                        <span class="company-color word-wrap">
                            <i style="text-decoration: line-through;font-style: normal;margin-right: 5px;color: #6B6B6B;"
                               class="cross">$220/Hr</i>$165/hr
                        </span>
                    </div>

                    <div class="moving-date est-time">
                        <h3>Estimated Job Time:</h3>
                        <span class="company-color word-wrap">5 hrs 45 min - 6 hrs 15 min</span>
                    </div>

                    <div class="moving-date est-quote">
                        <div ng-if="min_hours < (requestFromStorage.max_time + request.travelTime)"
                             class="moving-date est-quote">
                            <h3>Estimated quote:</h3>
                            <span class="company-color word-wrap">$948.75 - $1,031.25</span>
                        </div>
                    </div>
                </div>

                <div class="box_info total storage calc-middle-box-wrap">
                    <div class="moving-date">
                        <h3>Estimated labor:</h3>
                        <span class="company-color word-wrap">$930.00 - $1,007.50</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="three_block right-block">
        <div class="calc-results-settings-third-col" id="calc-results2">
            <div ng-show="vm.flatRate" class="editable-block overflow-visible">
                <div class="calc-intro-info" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                     ng-model="vm.movecalcFormSettings.thirdStepRightBlockFlatRate"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]">
                </div>
                <button ng-hide="isDefaultMoveCalcFormSetting('thirdStepRightBlockFlatRate')"
                        ng-click="restoreToDefault('thirdStepRightBlockFlatRate')"
                        class="btn btn-primary restore-to-default">Restore to default
                </button>
            </div>

            <div ng-show="vm.longDistance" class="editable-block overflow-visible">
                <div ng-change="vm.saveLongDistanceSettings()" ng-model="vm.longdistance.form_info_right" text-angular
                     ng-model="message"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]">
                </div>
                <button ng-hide="isDefaultThirdStepRightBlockLongDistance()"
                        ng-click="restoreToDefault('thirdStepRightBlockLongDistance')"
                        class="btn btn-primary restore-to-default">Restore to default
                </button>
            </div>

            <div ng-show="isActiveLocalMove()" class="editable-block overflow-visible">
                <div class="calc-intro-info" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                     ng-model="vm.movecalcFormSettings.thirdStepRightBlockLocalMove"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]"
                >
                </div>
                <button ng-hide="isDefaultMoveCalcFormSetting('thirdStepRightBlockLocalMove')"
                        ng-click="restoreToDefault('thirdStepRightBlockLocalMove')"
                        class="btn btn-primary restore-to-default">Restore to default
                </button>
            </div>

            <div ng-show="isActiveLocalMoveHideQuote()"
                 class="editable-block overflow-visible">
                <div class="calc-intro-info"
                     text-angular
                     ng-change="vm.changeMoveCalcFormSettings()"
                     ng-model="vm.movecalcFormSettings.thirdStepRightBlockLocalMoveHideQuote"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]"></div>
                <button ng-hide="isDefaultMoveCalcFormSetting('thirdStepRightBlockLocalMoveHideQuote')"
                        ng-click="restoreToDefault('thirdStepRightBlockLocalMoveHideQuote')"
                        class="btn btn-primary restore-to-default">
                    Restore to default
                </button>
            </div>

            <div ng-show="vm.storage" class="editable-block overflow-visible">
                <div class="calc-intro-info" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                     ng-model="vm.movecalcFormSettings.thirdStepRightBlockStorage"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]">
                </div>
                <button ng-hide="isDefaultMoveCalcFormSetting('thirdStepRightBlockStorage')"
                        ng-click="restoreToDefault('thirdStepRightBlockStorage')"
                        class="btn btn-primary restore-to-default">Restore to default
                </button>
            </div>

            <div ng-show="vm.storage && vm.overnightStorage" class="editable-block moving-and-storage overflow-visible">
                <div class="calc-intro-info storage-explanation" text-angular
                     ng-change="vm.changeMoveCalcFormSettings()"
                     ng-model="vm.movecalcFormSettings.thirdStepRightBlockOurNightTrackStorage"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]">
                </div>
                <button ng-hide="isDefaultMoveCalcFormSetting('thirdStepRightBlockOurNightTrackStorage')"
                        ng-click="restoreToDefault('thirdStepRightBlockOurNightTrackStorage')"
                        class="btn btn-primary restore-to-default">Restore to default
                </button>
            </div>

            <div ng-show="vm.storage && !vm.overnightStorage"
                 class="editable-block moving-and-storage overflow-visible">
                <div class="calc-intro-info storage-explanation" text-angular
                     ng-change="vm.changeMoveCalcFormSettings()"
                     ng-model="vm.movecalcFormSettings.thirdStepRightBlockOurStorage"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                 ['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['undo', 'redo', 'clear', 'html']]">
                </div>
                <button ng-hide="isDefaultMoveCalcFormSetting('thirdStepRightBlockOurStorage')"
                        ng-click="restoreToDefault('thirdStepRightBlockOurStorage')"
                        class="btn btn-primary restore-to-default">Restore to default
                </button>
            </div>

            <div ng-show="false" ng-if="request.serviceType == 7" class="calc-intro-info">
                <h4>Understand Your Quote</h4>
                <hr>
                <p class="quote_note" style="max-height: 430px; overflow: hidden;"
                   ng-bind-html="longdistance.form_info_right"></p>
            </div>

            <div ng-if="isSecondStepFirst()"
                 id="submitRequestButton" class="btn btn-success btn-3d" type="button" name="op">
                <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                     class="editable-button calculate-button-ta calc-result-btn-bottom-right"
                     ng-model="vm.movecalcFormSettings.buttonsText.calcResultSecondNext"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
                </div>
            </div>

            <div ng-if="isThirdStepFirst()"
                 style="background-color: {{vm.movecalcFormSettings.companyColor}};-webkit-box-shadow: 0 6px 0 {{companycolorLighter}};-moz-box-shadow: 0 6px 0 {{companycolorLighter}};box-shadow: 0 6px 0 {{companycolorLighter}};border-color: {{companyColorDarker}};"
                 class="btn btn-primary btn-3d" type="button" id="edit-go-to-summery" name="op">
                <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                     class="editable-button calculate-button-ta calc-result-btn-bottom-right"
                     ng-model="vm.movecalcFormSettings.buttonsText.calcResultFirstNext"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
                </div>
            </div>
        </div>
    </div>
</div>