<div class="four_block left-small-block">
    <div ng-if="!userLogin" class="login-block">
        <div class="editable-block">
            <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                 ng-model="vm.movecalcFormSettings.secondStepLeftBottomBlock"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],['insertLink', 'insertImage'],['undo', 'redo', 'clear', 'html']]"
                 class="account_info">
            </div>
            <button ng-hide="isDefaultMoveCalcFormSetting('secondStepLeftBottomBlock')"
                    ng-click="restoreToDefault('secondStepLeftBottomBlock')" class="btn btn-primary restore-to-default">
                Restore to default
            </button>
        </div>
    </div>

    <div ng-show="false" ng-if="userLogin" class="loged-user-block">
        <div class="four_block user-info">
            <div class="form-item form-type-textfield form-item-first-name form-disabled">
                <label for="edit-first-name">Personal Info </label>
                <input readonly placeholder="First Name" class=" form-text input-element-processed login-processed"
                       type="text" id="edit-first-name" name="first_name"
                       value="{{request.current_user.field_user_first_name}}" size="15" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-last-name form-disabled">
                <input readonly placeholder="Last Name*" class=" form-text input-element-processed login-processed"
                       type="text" id="edit-last-name" name="last_name"
                       value="{{request.current_user.field_user_last_name}}" size="15" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-primary-phone form-disabled">
                <input readonly placeholder="Primary Phone" class=" form-text input-element-processed login-processed"
                       type="text" id="primary_phone" name="primary_phone"
                       value="{{request.current_user.field_primary_phone}}">
            </div>
            <div class="form-item form-type-textfield form-item-additional-phone  form-disabled">
                <input ng-if="request.current_user.field_user_additional_phone"
                       placeholder="Additional Phone (optional)" ng-model="additionalPhone" type="text"
                       id="edit-additional-phone" name="phone"
                       value="{{request.current_user.field_user_additional_phone}}" size="15" maxlength="14"
                       class="form-text login-processed" autocomplete="off">
            </div>
            <div class="form-item form-type-textfield form-item-email form-disabled">
                <input value="{{request.current_user.mail}}" readonly class=" form-text login-processed" type="text"
                       id="edit-email" name="email" size="20" maxlength="180">
            </div>

        </div>
    </div>

    <div class="btn btn-default btn-3d"
         type="button" id="back-to-calendar-btn" name="op">
        <div ng-if="isSecondStepFirst()">
            <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                 class="editable-button calculate-button-ta customer-info-bottom-left"
                 ng-model="vm.movecalcFormSettings.buttonsText.customerInfoFirstBack"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
            </div>
        </div>
        <div ng-if="isThirdStepFirst()">
            <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                 class="editable-button calculate-button-ta customer-info-bottom-left"
                 ng-model="vm.movecalcFormSettings.buttonsText.customerInfoSecondBack"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
            </div>
        </div>
    </div>
</div>

<div class="big-left-block">
    <div class="disabled">
        <div id="summery-alert"></div>
        <div ng-if="userLogin" class="mobile loged-user-block">
            <div class="four_block user-info" ng-hide="userLogin">
                <div class="form-item form-type-textfield form-item-first-name form-disabled">
                    <label for="edit-first-name">Personal Info </label>
                    <input readonly placeholder="First Name" class=" form-text input-element-processed login-processed"
                           type="text" id="edit-first-name" name="first_name"
                           value="{{request.current_user.field_user_first_name}}" size="15" maxlength="128">
                </div>
                <div class="form-item form-type-textfield form-item-last-name form-disabled">
                    <input readonly placeholder="Last Name*" class=" form-text input-element-processed login-processed"
                           type="text" id="edit-last-name" name="last_name"
                           value="{{request.current_user.field_user_last_name}}" size="15" maxlength="128">
                </div>
                <div class="form-item form-type-textfield form-item-primary-phone form-disabled">
                    <input readonly placeholder="Primary Phone" class=" form-text input-element-processed login-processed"
                           type="text" id="primary_phone" name="primary_phone"
                           value="{{request.current_user.field_primary_phone}}">
                </div>
                <div class="form-item form-type-textfield form-item-additional-phone  form-disabled">
                    <input ng-if="request.current_user.field_user_additional_phone"
                           placeholder="Additional Phone (optional)" ng-model="additionalPhone" type="text"
                           id="edit-additional-phone" name="phone"
                           value="{{request.current_user.field_user_additional_phone}}" size="15" maxlength="14"
                           class="form-text login-processed" autocomplete="off">
                </div>
                <div class="form-item form-type-textfield form-item-email form-disabled">
                    <input value="{{request.current_user.mail}}" readonly class=" form-text login-processed" type="text"
                           id="edit-email" name="email" size="20" maxlength="180">
                </div>
            </div>
        </div>

        <div ng-if="!userLogin" class="four_block user-info">
            <div class="form-item form-type-textfield form-item-first-name ">
                <label for="edit-first-name">Personal Info </label>
                <input placeholder="First Name" isnotempty ng-model="request.firstName"
                       class="required form-text input-element-processed login-processed" type="text" id="edit-first-name"
                       name="first_name" value="" size="15" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-last-name ">
                <input isnotempty placeholder="Last Name" ng-model="request.lastName"
                       class="required form-text input-element-processed login-processed" type="text" id="edit-last-name"
                       name="last_name" value="" size="15" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-primary-phone ">
                <input placeholder="Primary Phone"
                       ng-model="request.primaryPhone"
                       restrict="reject"
                       name="phone"
                       phone-input
                       minlength="14"
                       maxlength="14"
                       class="required form-text input-element-processed login-processed"
                       type="text"
                       id="primary_phone">
            </div>
            <div class="form-item form-type-textfield form-item-additional-phone">
                <input placeholder="Additional Phone (optional)"
                       ng-model="request.additionalPhone"
                       restrict="reject"
                       name="phone"
                       phone-input
                       minlength="14"
                       maxlength="14"
                       type="text"
                       id="edit-additional-phone"
                       name="phone"
                       value=""
                       class="form-text login-processed"
                       autocomplete="off">
            </div>
            <div class="form-item form-type-textfield form-item-email ">
                <input isnotempty isemail required placeholder="Email" ng-model-options="{ updateOn: 'blur' }"
                       class="required form-text login-processed" ng-model="request.email" type="text" id="edit-email"
                       name="email" value="" size="20" maxlength="180">
            </div>
            <div isnotempty confirmemail class="form-item form-type-textfield form-item-confirmemail">
                <input isnotempty placeholder="Confirm Email" class="required  form-text " ng-model="confirmEmail"
                       type="text" id="edit-confirmemail" name="confirmemail" value="" size="20" maxlength="180">
            </div>
        </div>

        <div class="four_block block_from dis-1">
            <div class="form-item form-type-textfield form-item-moving-from" style="margin-bottom: 0px;">
                <label>Moving From </label>
            </div>
            <div ng-if="vm.basicSettings.movecalcFormSettings.showAddress" class="form-item form-type-textfield form-item-moving-from-address" style="margin-top: 0px;">
                <input placeholder="From Address" class="form-text input-element-processed"
                       ng-model="request.adrFrom"
                       tabindex="-1"
                       ng-class="{required:vm.basicSettings.movecalcFormSettings.requireAddress}"
                       type="text" id="edit-moving-from-address" name="moving_from_address" value="" size="60" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-moving-from-city" style="margin-top: 0px;">
                <input tabindex="-1" readonly placeholder="From City" class="required form-text input-element-processed"
                       type="text" id="edit-moving-from-city" name="moving_from_city" value="" size="60" maxlength="128">
            </div>
            <div class="form-item form-type-select form-item-moving-from-state">
                <select tabindex="-1" readonly autocomplete="off" id="edit-moving-from-state" name="moving_from_state"
                        class="form-select">
                    <option value="" selected="selected">Select State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MY">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <div class="form-item form-type-textfield form-item-moving-from-zip">
                <input tabindex="-1" readonly placeholder="From Zip" class="required form-text input-element-processed"
                       type="text" id="edit-moving-from-zip" name="moving_from_zip" value="" size="5" maxlength="5">
            </div>
        </div>
        <div class="four_block block_from dis-1">
            <div class="form-item form-type-textfield form-item-moving-to" style="margin-bottom: 0px;">
                <label>Moving To: </label>
            </div>
            <div ng-if="vm.basicSettings.movecalcFormSettings.showAddress" class="form-item form-type-textfield form-item-moving-to-address" style="margin-top: 0px;">
                <input placeholder="To Address" class="form-text input-element-processed"
                       ng-class="{required:vm.basicSettings.movecalcFormSettings.requireAddress}"
                       tabindex="-1"
                       ng-model="request.adrTo"
                       type="text" id="edit-moving-to-address" name="moving_to_address" value="" size="60" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-moving-to-city" style="margin-top: 0px;">
                <input tabindex="-1" readonly placeholder="To City" class="required form-text input-element-processed"
                       type="text" id="edit-moving-to-city" name="moving_to_city" value="" size="60" maxlength="128">
            </div>
            <div class="form-item form-type-select form-item-moving-to-state">
                <select tabindex="-1" readonly autocomplete="off" id="edit-moving-to-state" name="moving_to_state"
                        class="form-select">
                    <option value="" selected="selected">Select State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MY">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <div class="form-item form-type-textfield form-item-moving-to-zip">
                <input tabindex="-1" readonly placeholder="To Zip" class="required form-text input-element-processed"
                       type="text" id="edit-moving-to-zip" name="moving_to_zip" value="" size="5" maxlength="5">
            </div>
        </div>

        <div ng-if="!request.flatRate" class="four_block time_block dis-1">
            <div class="form-item form-type-select form-item-prefered-time">
                <label>Preferred Start Time: </label>
                <select isnotempty ng-model="request.prefDelivery" class="prefered form-select"
                        id="edit-prefered-fromstorage-time" name="prefered_fromstorage_time">
                    <option value="" selected="selected">Choose Starting Time</option>
                    <option value="1">Any Time</option>
                    <option value="2">9AM-12PM</option>
                    <option value="3">12PM-3PM</option>
                    <option value="4">3PM-6PM</option>
                </select>
            </div>
            <move-Preferedtime></move-Preferedtime>
            <div ng-if="storageMove" class="form-item form-type-select form-item-prefered-fromstorage-time">
                <label for="edit-prefered-fromstorage-time">Preferred Delivery Time: </label>
                <select isnotempty ng-model="request.prefDelivery" class="prefered form-select"
                        id="edit-prefered-fromstorage-time" name="prefered_fromstorage_time">
                    <option value="" selected="selected">Choose Starting Time</option>
                    <option value="1">Any Time</option>
                    <option value="2">9AM-12PM</option>
                    <option value="3">12PM-3PM</option>
                    <option value="4">3PM-6PM</option>
                </select>
            </div>
        </div>

        <div class="four_block hear_block dis-1">
            <div ng-if="!userLogin" class="form-item form-type-select form-item-poll-info">
                <label for="edit-poll-info">How did you hear about us? </label>
                <select isnotempty class="required form-select" id="edit-poll-info" ng-model="request.poll"
                        name="poll_info">
                    <option value="" selected="selected">Choose From Select List</option>
                    <option value="1">Yelp</option>
                    <option value="2">Angie's List</option>
                    <option value="3">Google search</option>
                    <option value="4">Word of mouth</option>
                </select>
            </div>
        </div>
        <div style="clear:both;"></div>

        <div class="personal-loading" ng-if="loadingImg"><img src="../../../../../app/core/assets/images/loading.gif">Loading...
        </div>
    </div>

    <div style="background-color: {{vm.movecalcFormSettings.companyColor}};-webkit-box-shadow: 0 6px 0 {{companycolorLighter}};-moz-box-shadow: 0 6px 0 {{companycolorLighter}};box-shadow: 0 6px 0 {{companycolorLighter}};border-color: {{companyColorDarker}};"
         class="btn btn-primary btn-3d"
         type="button" id="edit-go-to-summery" name="op">
        <div ng-if="isSecondStepFirst()">
            <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                 class="editable-button calculate-button-ta customer-info-bottom-right"
                 ng-model="vm.movecalcFormSettings.buttonsText.customerInfoFirstNext"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
            </div>
        </div>
        <div ng-if="isThirdStepFirst()">
            <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                 class="editable-button calculate-button-ta customer-info-bottom-right"
                 ng-model="vm.movecalcFormSettings.buttonsText.customerInfoSecondNext"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
            </div>
        </div>
    </div>
</div>
