<section class="panel col-md-12">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
    </header>
    <div class="panel-body minimal">
        <div class="saving-progress">
            <span class="" ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
        </div>

        <style>
            .company-bg-color {
                background-color: {{ vm.movecalcFormSettings.companyColor}} !important;
            }
            .company-color {
                color: {{vm.movecalcFormSettings.companyColor}} !important;
            }
        </style>

        <div class="option table-responsive">
            <div class="movecalc-edit-moving-form chat-widget">
                <div class="company-slogan" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                     ng-model="vm.movecalcFormSettings.companySlogan"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]">
                </div>
                <ul id="progressbar">
                    <span class="progressline">
                        <span class="changeOrder" style="left: 49%; z-index:50; cursor: pointer;"
                              ng-click="changeStepsOrder()">
                        <i class="icon-control-rewind"></i>
                        <i class="icon-control-forward"></i>
                    </span>
                    </span>
                    <li ng-click="selectStep('first')"
                        ng-class="{active: vm.firstStep || vm.secondStep || vm.thirdStep || vm.fourthStep}">
                        <div class="circle" ng-style="companyBGColor"></div>
                        <div class="icon discovery"></div>
                        <div class="dot"></div>
                        <h2>
                            <input ng-model="vm.movecalcFormSettings.buttonsText.calculatorTitle" ng-change="vm.changeMoveCalcFormSettings()">
                        </h2>
                    </li>
                    <div class="dragable" ng-if="isSecondStepFirst()" dragula='"form-step-bag"'
                         dragula-model='vm.movecalcFormSettings.formStepsOrder'>
                        <li ng-click="selectStep('second')"
                            ng-class="{active: vm.secondStep || vm.thirdStep || vm.fourthStep}">
                            <div class="circle" ng-style="companyBGColor"></div>
                            <div class="icon discovery"></div>
                            <div class="dot"></div>
                            <h2>
                                <input ng-model="vm.movecalcFormSettings.buttonsText.customerInfoTitle" ng-change="vm.changeMoveCalcFormSettings()">
                            </h2>
                        </li>

                        <li ng-click="selectStep('third')" ng-class="{active: vm.thirdStep || vm.fourthStep}">
                            <div class="circle" ng-style="companyBGColor"></div>
                            <div class="icon discovery"></div>
                            <div class="dot"></div>
                            <h2>
                                <input ng-model="vm.movecalcFormSettings.buttonsText.calcResultTitle" ng-change="vm.changeMoveCalcFormSettings()">
                            </h2>
                        </li>
                    </div>
                    <div class="dragable" ng-if="isThirdStepFirst()" dragula='"form-step-bag"'
                         dragula-model='vm.movecalcFormSettings.formStepsOrder'>
                        <li ng-click="selectStep('second')"
                            ng-class="{active: vm.secondStep || vm.thirdStep || vm.fourthStep}">
                            <div class="circle" ng-style="companyBGColor"></div>
                            <div class="icon discovery"></div>
                            <div class="dot"></div>
                            <h2>
                                <input ng-model="vm.movecalcFormSettings.buttonsText.calcResultTitle" ng-change="vm.changeMoveCalcFormSettings()">
                            </h2>
                        </li>
                        <li ng-click="selectStep('third')" ng-class="{active: vm.thirdStep || vm.fourthStep}">
                            <div class="circle" ng-style="companyBGColor"></div>
                            <div class="icon discovery"></div>
                            <div class="dot"></div>
                            <h2>
                                <input ng-model="vm.movecalcFormSettings.buttonsText.customerInfoTitle" ng-change="vm.changeMoveCalcFormSettings()">
                            </h2>
                        </li>
                    </div>
                    <li ng-click="selectStep('fourth')" ng-class="{active: vm.fourthStep}">
                        <div class="circle" ng-style="companyBGColor"></div>
                        <div class="icon discovery"></div>
                        <div class="dot"></div>
                        <h2>
                            <input ng-model="vm.movecalcFormSettings.buttonsText.confirmationTitle" ng-change="vm.changeMoveCalcFormSettings()">
                        </h2>
                    </li>
                </ul>

                <div class="moving-form">
                    <!--First step-->
                    <fieldset ng-show="vm.firstStep" class="form-wrapper" id="edit-calculator">
                        <div class="fieldset-wrapper">
                            <div class="info_block left-block">
                                <div id="calc-results"></div>

                                <div id="calc-info-steps" style="text-align:center;">
                                    <div class="editable-block chat-widget">
                                        <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                             ng-model="vm.movecalcFormSettings.firstStepLeftBlock"
                                             ng-show="!vm.afterReset"
                                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                          ['fontColor', 'fontName', 'fontSize'],
                                                          ['insertLink', 'insertImage'],
                                                          ['undo', 'redo', 'clear', 'html']]"
                                             class="calc-intro">
                                        </div>
                                        <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                             ng-model="vm.movecalcFormSettings.firstStepLeftAfterResetBlock"
                                             ng-show="vm.afterReset"
                                             ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6'],['bold','italics', 'underline', 'strikeThrough'],['ul', 'ol'],['justifyLeft', 'justifyCenter', 'justifyRight'],['insertLink', 'insertImage'],['undo', 'redo', 'clear', 'html']]"
                                             class="calc-intro">
                                        </div>
                                        <button ng-show="!vm.afterReset"
                                                ng-hide="isDefaultMoveCalcFormSetting('firstStepLeftBlock')"
                                                ng-click="restoreToDefault('firstStepLeftBlock')"
                                                class="btn btn-primary restore-to-default">Restore to default
                                        </button>
                                        <button ng-show="vm.afterReset"
                                                ng-hide="isDefaultMoveCalcFormSetting('firstStepLeftAfterResetBlock')"
                                                ng-click="restoreToDefault('firstStepLeftAfterResetBlock')"
                                                class="btn btn-primary restore-to-default">Restore to default
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-block">
                                <div class="disabled">
                                    <div class="form-group-left">
                                        <label>Desired Move Date: </label>
                                        <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                               class="required form-text input-element-processed"
                                               readonly="readonly"
                                               type="text"
                                               ng-model='request.moveDate'
                                               id="edit-move-date-datepicker-popup-0"
                                               name="Move_Date[date]"
                                               formdatepicker
                                               value="" size="20" maxlength="30">
                                    </div>

                                    <div class="form-group-right">
                                        <label for="edit-service">Service Type: </label>
                                        <select ng-class="{'disabled': loadingImg || request.serviceType =='5' || request.serviceType =='7', 'default': !loadingImg}"
                                                class="required form-select input-element-processed"
                                                id="edit-service" name="Service"
                                                ng-model="request.serviceType" servicetype
                                                ng-init="request.serviceType='1'">
                                            <option ng-hide="!basicsettings.services.localMoveOn" value="1">
                                                {{::basicsettings.services.localMoveLabel}}
                                            </option>
                                            <option ng-hide="!basicsettings.services.localMoveStorageOn" value="2">
                                                {{::basicsettings.services.localMoveStorageLabel}}
                                            </option>
                                            <option ng-hide="!basicsettings.services.loadingHelpOn" value="3">
                                                {{::basicsettings.services.loadingHelpLabel}}
                                            </option>
                                            <option ng-hide="!basicsettings.services.unloadingHelpOn" value="4">
                                                {{::basicsettings.services.unloadingHelpLabel}}
                                            </option>
                                            <option ng-hide="!basicsettings.isflat_rate_miles" class="disabled" value="5">
                                                {{::basicsettings.services.flatRateLabel}}
                                            </option>
                                            <option value="6" ng-hide="!basicsettings.services.overnightStorageOn">
                                                {{::basicsettings.services.overnightStorageLabel}}
                                            </option>
                                            <option ng-hide="!basicsettings.islong_distance_miles" class="disabled"
                                                    value="7">{{::basicsettings.services.longDistanceLabel}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="form-item form-type-date-popup form-item-Date-Storage"
                                         style="display: none;">
                                        <label>Desired Delivery Date: </label>
                                        <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                               class="dd form-text login-processed" readonly="readonly" type="text"
                                               id="edit-date-storage-datepicker-popup-0" ng-model='request.deliveryDate'
                                               formdatepicker minDate="moveDate" name="Date_Storage[date]" value=""
                                               size="20"
                                               maxlength="30">
                                    </div>

                                    <div id="zip_search" target="_blank" title="Search Zip Code by address, city, or county"
                                         class="listlip zipcode_search">
                                        <i ng-click="toggleOverlay('overlay-zipsearch')" class="fa fa-search"></i>
                                    </div>

                                    <div class="form-group-left">
                                        <label for="edit-zip-code-from">From Zip: </label>
                                        <input style="width: 100%;"
                                               ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                               class="required form-text input-element-processed" type="text"
                                               id="edit-zip-code-from" ng-model="request.zipFrom" zipcode mask="99999"
                                               name="Zip_Code_From" value="" size="5" maxlength="5" autocomplete="off">
                                    </div>

                                    <div class="form-group-right">
                                        <label for="edit-zip-code-to">To Zip: </label>
                                        <input style="width: 100%;"
                                               ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                               class="required form-text input-element-processed" type="text"
                                               id="edit-zip-code-to"
                                               name="Zip_Code_To" ng-model="request.zipTo" zipcode mask="99999" value=""
                                               size="5"
                                               maxlength="5" autocomplete="off">
                                    </div>
                                    <div class="clearfix"></div>

                                    <div class="form-item form-type-select form-item-Size-Move">
                                        <label>Size of Move: </label>
                                        <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="required typetip form-select input-element-processed ddd-processed login-processed"
                                                ng-Change="showRooms()" sizeofmove ng-Model="request.moveSize"
                                                id="edit-size-move"
                                                name="Size_Move">
                                            <option value="" selected="selected">Size of Move</option>
                                            <option ng-repeat="option in sizeOfMove" value="{{option.id}}">{{option.text}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-item form-type-checkboxes form-item-Extra-Furnished-Rooms"
                                         style="display: none;">
                                        <label for="edit-extra-furnished-rooms">Extra Rooms </label>
                                        <div id="edit-extra-furnished-rooms" class="form-checkboxes">
                                            <div class="form-item form-type-checkbox form-item-Extra-Furnished-Rooms-{{room.id}}"
                                                 ng-repeat="room in rooms">
                                                <input type="checkbox" ng-Click="showRoomImg(room.id)"
                                                       data-rid="{{room.id}}"
                                                       id="edit-extra-furnished-rooms-{{room.id}}"
                                                       checklist-model="request.checkedRooms.rooms"
                                                       checklist-value="room.id"
                                                       class="form-checkbox login-processed">
                                                <label class="option">{{room.text}}</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="clear:both;"></div>

                                    <div class="form-item form-type-select form-item-Type-From">
                                        <label>Type of entrance (From): </label>
                                        <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="required form-select input-element-processed" id="edit-type-from"
                                                name="Type_From" isnotempty ng-model="request.typeFrom">
                                            <option value="" selected="selected">From Type</option>
                                            <option ng-repeat="option in entranceType" value="{{option.id}}">
                                                {{option.text}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-item form-type-select form-item-Type-To">
                                        <label for="edit-type-to">Type of entrance (To): </label>
                                        <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="required form-select input-element-processed login-processed"
                                                isnotempty
                                                id="edit-type-to" ng-model="request.typeTo" name="Type_To">
                                            <option value="" selected="selected">To Type</option>
                                            <option ng-hide="option.id == 8 && request.serviceType != 7;"
                                                    ng-repeat="option in entranceType" value="{{option.id}}">{{option.text}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input_panel">
                                    <span class="clear-icon">
                                        <i class="fa fa-paint-brush"></i>
                                        <input ng-model="vm.movecalcFormSettings.buttonsText.calculatorClearForm" ng-change="vm.changeMoveCalcFormSettings()">
                                    </span>

                                    <div id="calculate_btn"
                                         style="background-color: {{vm.movecalcFormSettings.companyColor}};-webkit-box-shadow: 0 6px 0 {{companycolorLighter}};-moz-box-shadow: 0 6px 0 {{companycolorLighter}};box-shadow: 0 6px 0 {{companycolorLighter}};border-color: {{companyColorDarker}};"
                                         type="button" class="btn btn-primary btn-3d">
                                        <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                             class="calculate-button-ta calculate-button-ta-top"
                                             ng-model="vm.movecalcFormSettings.buttonsText.calculatorCalculateCustomerInfoFirst"
                                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['undo', 'redo', 'clear']]">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="right-block">
                                <div class="editable-block chat-widget">
                                    <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.firstStepRightBlock"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]"
                                         id="calc-results2">
                                    </div>
                                    <button ng-hide="isDefaultMoveCalcFormSetting('firstStepRightBlock')"
                                            ng-click="restoreToDefault('firstStepRightBlock')"
                                            class="btn btn-primary restore-to-default">Restore to default
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!--End First step-->

                    <!--Login / Get user info and details -->
                    <fieldset ng-show="vm.secondStep && isSecondStepFirst() || vm.thirdStep && isThirdStepFirst()"
                              class="form-wrapper" id="edit-personal-info">
                        <ng-include src="'app/settings/calculator/templates/formsetting/customerInfo.html'"></ng-include>
                    </fieldset>
                    <!--End Login / Get user info and details -->

                    <!-- Second Step .Show calc Results -->
                    <fieldset ng-show="vm.secondStep && isThirdStepFirst() || vm.thirdStep && isSecondStepFirst()"
                              class="form-wrapper" id="edit-calculator-results">
                        <ng-include src="'app/settings/calculator/templates/formsetting/calcResult.html'"></ng-include>
                    </fieldset>

                    <fieldset ng-show="vm.fourthStep" class="form-wrapper" id="edit-confirmation">
                        <div class="fieldset-wrapper">
                            <div id="confirmation_block">
                                <div ng-if="vm.storage && vm.overnightStorage" class="confgrats_box chat-widget">
                                    <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.fourthStepOvernightStorage"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]"
                                         class="account_info">
                                    </div>
                                    <button ng-hide="isDefaultMoveCalcFormSetting('fourthStepOvernightStorage')"
                                            ng-click="restoreToDefault('fourthStepOvernightStorage')"
                                            class="btn btn-primary restore-to-default">Restore to default
                                    </button>

                                    <div ng-style="companyBGColor" class="request-button button confirm-button">
                                        <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                             class="editable-confirm-button calculate-button-ta confirmation-button-calculate"
                                             ng-model="vm.movecalcFormSettings.buttonsText.confirmationStorageOvernight"
                                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="vm.storage && !vm.overnightStorage" class="confgrats_box chat-widget">
                                    <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.fourthStepOurStorage"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]"
                                         class="account_info">
                                    </div>
                                    <button ng-hide="isDefaultMoveCalcFormSetting('fourthStepOurStorage')"
                                            ng-click="restoreToDefault('fourthStepOurStorage')"
                                            class="btn btn-primary restore-to-default">Restore to default
                                    </button>

                                    <div ng-style="companyBGColor" class="request-button button confirm-button">
                                        <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                             class="editable-confirm-button calculate-button-ta confirmation-button-calculate"
                                             ng-model="vm.movecalcFormSettings.buttonsText.confirmationStorageOur"
                                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="isActiveLocalMove()" class="confgrats_box chat-widget">
                                    <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.fourthStepLocalMove"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]"
                                         class="account_info">
                                    </div>
                                    <button ng-hide="isDefaultMoveCalcFormSetting('fourthStepLocalMove')"
                                            ng-click="restoreToDefault('fourthStepLocalMove')"
                                            class="btn btn-primary restore-to-default">Restore to default
                                    </button>

                                    <div ng-style="companyBGColor" class="request-button button confirm-button">
                                        <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                             class="editable-confirm-button calculate-button-ta confirmation-button-calculate"
                                             ng-model="vm.movecalcFormSettings.buttonsText.confirmationLocalMove"
                                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="vm.flatRate" class="confgrats_box chat-widget">
                                    <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.fourthStepFlatRate"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]"
                                         class="account_info">
                                    </div>
                                    <button ng-hide="isDefaultMoveCalcFormSetting('fourthStepFlatRate')"
                                            ng-click="restoreToDefault('fourthStepFlatRate')"
                                            class="btn btn-primary restore-to-default">Restore to default
                                    </button>

                                    <div ng-style="companyBGColor" class="request-button button confirm-button">
                                        <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                             class="editable-confirm-button calculate-button-ta confirmation-button-calculate"
                                             ng-model="vm.movecalcFormSettings.buttonsText.confirmationFlatRate"
                                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="vm.longDistance" class="confgrats_box chat-widget">
                                    <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.fourthStepLongDistance"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]"
                                         class="account_info">
                                    </div>
                                    <button ng-hide="isDefaultMoveCalcFormSetting('fourthStepLongDistance')"
                                            ng-click="restoreToDefault('fourthStepLongDistance')"
                                            class="btn btn-primary restore-to-default">Restore to default
                                    </button>

                                    <div ng-style="companyBGColor" class="request-button button confirm-button">
                                        <div text-angular ng-change="vm.changeMoveCalcFormSettings()"
                                             class="editable-confirm-button calculate-button-ta confirmation-button-calculate"
                                             ng-model="vm.movecalcFormSettings.buttonsText.confirmationLongDistance"
                                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['insertLink', 'insertImage'],
                                                      ['undo', 'redo', 'clear', 'html']]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div ng-show="isVisibleServiceButtonPanel()" class="btn-group select-service-type" role="group">
                        <button type="button" ng-click="selectFlatRate()"
                                ng-class="{active: vm.flatRate}"
                                class="btn btn-default">Flat Rate
                        </button>
                        <button type="button" ng-click="selectLongDistance()"
                                ng-class="{active: vm.longDistance}" class="btn btn-default">Long Distance
                        </button>
                        <button type="button" ng-click="selectLocalMove()" ng-class="{active: isActiveLocalMove()}"
                                class="btn btn-default">Local Move
                        </button>
                        <button ng-hide="vm.fourthStep" type="button" ng-click="selectLocalMoveQuoteOff()" ng-class="{active: isActiveLocalMoveHideQuote()}"
                                class="btn btn-default">Local Move Calculator Off
                        </button>
                        <button type="button" ng-click="selectStorage()" ng-class="{active: vm.storage}"
                                class="btn btn-default">Storage
                        </button>
                    </div>

                    <div ng-show="isVisibleServiceButtonPanel() && vm.storage"
                         class="btn-group select-service-type select-storage-type" role="group">
                        <button type="button" ng-click="vm.overnightStorage = true"
                                ng-class="{active: vm.overnightStorage}" class="btn btn-default">Overnight Storage
                        </button>
                        <button type="button" ng-click="vm.overnightStorage = false"
                                ng-class="{active: !vm.overnightStorage}" class="btn btn-default">Our Storage
                        </button>
                    </div>

                    <div ng-show="vm.firstStep"
                         class="btn-group select-service-type select-storage-type" role="group">
                        <button type="button" ng-click="vm.afterReset = false"
                                ng-class="{active: !vm.afterReset}" class="btn btn-default">Get Started
                        </button>
                        <button type="button" ng-click="vm.afterReset = true"
                                ng-class="{active: vm.afterReset}" class="btn btn-default">After Reset
                        </button>
                    </div>
                    <!-- Second Step .Show calc Results -->

                </div>
            </div>
        </div>

        <div class="poll-sources-block">
            <uib-accordion close-others="true">
                <div uib-accordion-group ng-if="vm.localMove || vm.storage">
                    <uib-accordion-heading>
                        Calculate Result Tooltips <span ng-show="vm.localMove">Local Move</span> <span ng-show="vm.storage">Storage</span>
                    </uib-accordion-heading>
                    <div class="edit-tool-tips-panel chat-widget" ng-show="vm.localMove">
                        <div>Travel time tooltip</div>
                        <div class="box_info" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                             ng-model="vm.movecalcFormSettings.localMoveTravelTimeToolTip"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                          ['fontColor', 'fontName', 'fontSize'],
                                          ['insertLink', 'insertImage'],
                                          ['undo', 'redo', 'clear', 'html']]"
                        >
                        </div>
                        <div>Hourly rate tooltip</div>
                        <div class="box_info" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                             ng-model="vm.movecalcFormSettings.localMoveHourlyRateToolTip"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]"
                        >
                        </div>
                    </div>
                    <div class="edit-tool-tips-panel chat-widget" ng-show="vm.storage">
                        <div>Travel time tooltip</div>
                        <div class="box_info" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                             ng-model="vm.movecalcFormSettings.storageTravelTimeToolTip"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                          ['fontColor', 'fontName', 'fontSize'],
                                          ['insertLink', 'insertImage'],
                                          ['undo', 'redo', 'clear', 'html']]"
                        >
                        </div>
                        <div>Hourly rate tooltip</div>
                        <div class="box_info" text-angular ng-change="vm.changeMoveCalcFormSettings()"
                             ng-model="vm.movecalcFormSettings.storageHourlyRateToolTip"
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                          ['fontColor', 'fontName', 'fontSize'],
                                          ['insertLink', 'insertImage'],
                                          ['undo', 'redo', 'clear', 'html']]"
                        >
                        </div>
                    </div>
                </div>
                <div uib-accordion-group>
                    <uib-accordion-heading>
                        Allow customer to put in source and destination address?
                    </uib-accordion-heading>
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Show Address</label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox"
                                   class="js-switch"
                                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                   ng-change="vm.changeMoveCalcFormSettings()"
                                   ng-model="vm.movecalcFormSettings.showAddress"
                                   id="checkTwo" data-switchery="true" style="display: none;">
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">Require Address</label>
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox"
                                   class="js-switch"
                                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                   ng-change="vm.changeMoveCalcFormSettings()"
                                   ng-model="vm.movecalcFormSettings.requireAddress"
                                   id="checkTwo" data-switchery="true" style="display: none;">
                        </div>
                    </div>
                </div>
				<div class="poll-enable-checkbox">
					<input type="checkbox"
						   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
						   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
						   ng-change="vm.changeMoveCalcFormSettings()"
						   ng-model="vm.movecalcFormSettings.showHowDidYouHearAboutUsField"
						   id="checkOne">
					SHOW ON TOP FORM
				</div>
                <div uib-accordion-group>
                    <uib-accordion-heading>
                        How did you hear about us?
                    </uib-accordion-heading>
                    <div class="poll-panel">
                        <div ng-repeat="source in vm.movecalcFormSettings.pollSources.sources track by $index" class="poll-item">
                            {{source.name}}
                            <div class="select-poll">
                                <div class="remove-poll-block">
                                    <div class="remove-poll-button" ng-click="vm.removeSource($index)">
                                        Remove source
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-panel">
                            <input placeholder="Service name" ng-model="vm.newSource" ng-enter="vm.addSource()">
                            <button class="btn btn-primary" ng-disabled="vm.newSource == ''" ng-click="vm.addSource()">
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group>
                    <uib-accordion-heading>
                        Company color
                    </uib-accordion-heading>
                    <div class="company-color-panel">
                        <input ng-change="vm.changeMoveCalcFormSettings()" colorpicker="hex"
                               ng-model="vm.movecalcFormSettings.companyColor">
                        <div class="color-preview" style="background-color: {{vm.movecalcFormSettings.companyColor}}">
                        </div>
                    </div>
                </div>
                <div uib-accordion-group>
                    <uib-accordion-heading>
                        Datepicker tooltips
                    </uib-accordion-heading>
                    <div class="company-color-panel">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label class="control-label">Show General Tooltips</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox"
                                       class="js-switch"
                                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                       ng-change="vm.changeMoveCalcFormSettings()"
                                       ng-model="vm.movecalcFormSettings.rateTooltips.showGiant"
                                       id="checkTwo" data-switchery="true" style="display: none;">
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Show Big Tooltips</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox"
                                       class="js-switch"
                                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                       ng-change="vm.changeMoveCalcFormSettings()"
                                       ng-model="vm.movecalcFormSettings.rateTooltips.showBig"
                                       id="checkTwo" data-switchery="true" style="display: none;">
                            </div>
                            <div class="col-md-2">
                                <label class="control-label">Show Small Tooltips</label>
                            </div>
                            <div class="col-md-1">
                                <input type="checkbox"
                                       class="js-switch"
                                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                       ng-change="vm.changeMoveCalcFormSettings()"
                                       ng-model="vm.movecalcFormSettings.rateTooltips.showSmall"
                                       id="checkTwo" data-switchery="true" style="display: none;">
                            </div>
                        </div>
                        <TABLE class="datepickerTooltips giantTooltipFrontCalendar">
                            <thead>General Tooltip</thead>
                            <tbody>
                            <TR>
                                <TD class="sizesett chat-widget">
                                    <div ng-blur="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.rateTooltips.giant" text-angular="text-angular"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                ['fontColor', 'fontName', 'fontSize'],
                                                ['insertLink', 'insertImage'],
                                                ['undo', 'redo', 'clear', 'html']]">
                                    </div>
                                </TD>
                            </TR>
                            </tbody>
                        </TABLE>
                        <TABLE class="datepickerTooltips bigTooltipFrontCalendar">
                            <thead>Discount Tooltip</thead>
                            <tbody>
                            <TR>
                                <TD class="sizesett chat-widget">
                                    <div ng-blur="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.rateTooltips.discount" text-angular="text-angular"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                ['fontColor', 'fontName', 'fontSize'],
                                                ['insertLink', 'insertImage'],
                                                ['undo', 'redo', 'clear', 'html']]">
                                    </div>
                                </TD>
                            </TR>
                            </tbody>
                        </TABLE>
                        <TABLE class="datepickerTooltips bigTooltipFrontCalendar">
                            <thead>Regular Tooltip</thead>
                            <TR>
                                <TD class="sizesett chat-widget">
                                    <div ng-blur="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.rateTooltips.regular" text-angular="text-angular"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                ['fontColor', 'fontName', 'fontSize'],
                                                ['insertLink', 'insertImage'],
                                                ['undo', 'redo', 'clear', 'html']]">
                                    </div>
                                </TD>
                            </TR>
                        </tbody>
                        </TABLE>
                        <TABLE class="datepickerTooltips bigTooltipFrontCalendar">
                            <thead>SubPeak Tooltip</thead>
                            <TR>
                                <TD class="sizesett chat-widget">
                                    <div ng-blur="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.rateTooltips.subPeak" text-angular="text-angular"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                ['fontColor', 'fontName', 'fontSize'],
                                                ['insertLink', 'insertImage'],
                                                ['undo', 'redo', 'clear', 'html']]">
                                    </div>
                                </TD>
                            </TR>
                        </tbody>
                        </TABLE>
                        <TABLE class="datepickerTooltips bigTooltipFrontCalendar">
                            <thead>Peak Tooltip</thead>
                            <TR>
                                <TD class="sizesett chat-widget">
                                    <div ng-blur="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.rateTooltips.peak" text-angular="text-angular"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                ['fontColor', 'fontName', 'fontSize'],
                                                ['insertLink', 'insertImage'],
                                                ['undo', 'redo', 'clear', 'html']]">
                                    </div>
                                </TD>
                            </TR>
                        </tbody>
                        </TABLE>
                        <TABLE class="datepickerTooltips bigTooltipFrontCalendar">
                            <thead>HiPeak Tooltip</thead>
                            <TR>
                                <TD class="sizesett chat-widget">
                                    <div ng-blur="vm.changeMoveCalcFormSettings()"
                                         ng-model="vm.movecalcFormSettings.rateTooltips.hiPeak" text-angular="text-angular"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                ['fontColor', 'fontName', 'fontSize'],
                                                ['insertLink', 'insertImage'],
                                                ['undo', 'redo', 'clear', 'html']]">
                                    </div>
                                </TD>
                            </TR>
                            </tbody>
                        </TABLE>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</section>
