<section class="panel col-md-12">
	<header class="panel-heading wht-bg">
		<h4 class="gen-case">{{tab.name}} Settings</h4>
	</header>
	<div class="panel-body minimal">
		<div class="saving-progress">
			<span class="" ng-show="vm.saving">Saving</span>
			<span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
		</div>

		<style>
			.company-bg-color {
			background-color: {{ vm.movecalcFormSettings.companyColor}} !important;
			}
			.company-color {
			color: {{vm.movecalcFormSettings.companyColor}} !important;
			}
			.form-emulator .row .chat-widget .ta-editor {
			background-color: {{vm.backgroundColorEditor}};
			}
		</style>
		<div class="row">
			<div class="col-xs-12">
				<ng-rule ng-rule-model="vm.movecalcFormSettings.topFormWidth"
						 ng-rule-change="vm.changeMoveCalcFormSettings()"
						 trailing-direction="H"
				trailing-offset="0"></ng-rule>
				<div class="form-emulator"
					 ng-style='{width: vm.movecalcFormSettings.topFormWidth+"px"}'
					 ng-show="vm.firstStep">
					<div class="row">
						<div class="changeStepBtn nextStep" ng-click="selectStep('second')"> Next step &gt; </div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="editable-block chat-widget">
								<div text-angular class="noPadding"
									 ng-blur="vm.changeMoveCalcFormSettings()"
									 ng-model="vm.movecalcFormSettings.topFormFirstStep"
									 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                          ['backgroundColorRGBA', 'fontColor', 'fontName', 'fontSize'],
                                                          ['insertLink', 'insertImage', 'tags'],
                                                          ['undo', 'redo', 'clear', 'html']]">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6"><input disabled class="form-control" placeholder="Move Date"></div>
						<div class="col-xs-3"><input disabled class="form-control" placeholder="Zip From"></div>
						<div class="col-xs-3"><input disabled class="form-control" placeholder="Zip To"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><input disabled class="form-control" placeholder="Services"></div>
					</div>
					<div class="row editable-block chat-widget">
						<div class="col-xs-12 mybtn blue text-angular-btn"
							 text-angular
							 ng-blur="vm.changeMoveCalcFormSettings()"
							 ng-model="vm.movecalcFormSettings.topFormFirstStepButton"
							 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['undo', 'redo', 'clear', 'html']]">
						</div>
					</div>
				</div>
				<div class="form-emulator"
					 ng-style='{width: vm.movecalcFormSettings.topFormWidth+"px"}'
					 ng-show="vm.secondStep">
					<div class="row">
						<div class="changeStepBtn prevStep" ng-click="selectStep('first')"> &lt; Previous step </div>
						<div class="changeStepBtn nextStep" ng-click="selectStep('third')"> Next step &gt; </div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="editable-block chat-widget">
								<div text-angular class="noPadding" ng-blur="vm.changeMoveCalcFormSettings()"
									 ng-model="vm.movecalcFormSettings.topFormSecondStep"
									 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                          ['backgroundColorRGBA', 'fontColor', 'fontName', 'fontSize'],
                                                          ['insertLink', 'insertImage', 'tags'],
                                                          ['undo', 'redo', 'clear', 'html']]"
								>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12"><input disabled class="form-control" placeholder="Choose Move Size"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><input disabled class="form-control" placeholder="Entrance(from)"></div>
						<div class="col-xs-6"><input disabled class="form-control" placeholder="Entrance(to)"></div>
					</div>
					<div class="row editable-block chat-widget">
						<div class="col-xs-12 mybtn blue text-angular-btn"
							 text-angular
							 ng-blur="vm.changeMoveCalcFormSettings()"
							 ng-model="vm.movecalcFormSettings.topFormSecondStepButton"
							 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['undo', 'redo', 'clear', 'html']]">

						</div>
					</div>
				</div>
				<div class="form-emulator"
					 ng-style='{width: vm.movecalcFormSettings.topFormWidth+"px"}'
					 ng-show="vm.thirdStep">
					<div class="row">
						<div class="changeStepBtn prevStep" ng-click="selectStep('second')"> &lt; Previous step </div>
						<div class="changeStepBtn nextStep" ng-click="selectStep('fourth')"> Next step &gt; </div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="editable-block chat-widget">
								<div text-angular class="noPadding" ng-blur="vm.changeMoveCalcFormSettings()"
									 ng-model="vm.movecalcFormSettings.topFormThirdStep"
									 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                          ['backgroundColorRGBA', 'fontColor', 'fontName', 'fontSize'],
                                                          ['insertLink', 'insertImage', 'tags'],
                                                          ['undo', 'redo', 'clear', 'html']]"
								>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6"><input disabled class="form-control" placeholder="First Name"></div>
						<div class="col-xs-6"><input disabled class="form-control" placeholder="Last Name"></div>
					</div>
					<div class="row">
						<div class="col-xs-12"><input disabled class="form-control" placeholder="email"></div>
					</div>
					<div class="row">
						<div class="col-xs-12"><input disabled class="form-control" placeholder="Primary Phone"></div>
					</div>
					<div class="row" ng-if="vm.movecalcFormSettings.showHowDidYouHearAboutUsField">
						<div class="col-xs-12"><input disabled class="form-control" placeholder="How did you hear about us"></div>
					</div>
					<div class="row editable-block chat-widget">
						<div class="col-xs-12 mybtn blue text-angular-btn"
							 text-angular
							 ng-blur="vm.changeMoveCalcFormSettings()"
							 ng-model="vm.movecalcFormSettings.topFormThirdStepButton"
							 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['undo', 'redo', 'clear', 'html']]">

						</div>
					</div>
				</div>
				<div class="form-emulator"
					 ng-style='{width: vm.movecalcFormSettings.topFormWidth+"px"}'
					 ng-show="vm.fourthStep">
					<div class="row">
						<div class="changeStepBtn prevStep" ng-click="selectStep('third')"> &lt; Previous step </div>
					</div>
					<div class="row">
						<div class="col-xs-12 center">
							<img src="https://themoveboard.com/elromco/success-icon.png">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="editable-block chat-widget">
								<div text-angular class="noPadding" ng-blur="vm.changeMoveCalcFormSettings()"
									 ng-model="vm.movecalcFormSettings.topFormCongrats"
									 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                          ['backgroundColorRGBA', 'fontColor', 'fontName', 'fontSize'],
                                                          ['insertLink', 'insertImage', 'tags'],
                                                          ['undo', 'redo', 'clear', 'html']]"
								>
								</div>
							</div>
						</div>
					</div>
					<div class="row editable-block chat-widget">
						<div class="col-xs-12 mybtn blue text-angular-btn"
							 text-angular
							 ng-blur="vm.changeMoveCalcFormSettings()"
							 ng-model="vm.movecalcFormSettings.topFormCongratsButton"
							 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                      ['fontColor', 'fontName', 'fontSize'],
                                                      ['undo', 'redo', 'clear', 'html']]">

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row topFormEditorSettings">
			<div class="col-xs-2">
				<h4>Form width</h4>
				<input class="form-control" type="number" string-to-number
					   ng-model="vm.movecalcFormSettings.topFormWidth"
					   ng-blur="vm.changeMoveCalcFormSettings()">
			</div>
			<div class="col-xs-3">
				<h4>Editor Background (not style)</h4>
				<input class="form-control"
					   ng-model="vm.backgroundColorEditor"
					   colorpicker="rgb" colorpicker-close-on-select colorpicker-position='bottom'>
			</div>
		</div>
		<div class="row settings-show-poll">
			<div class="col-xs-5">
				<input type="checkbox"
					   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
					   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
					   ng-change="vm.changeMoveCalcFormSettings()"
					   ng-model="vm.movecalcFormSettings.showHowDidYouHearAboutUsField" id="checkOne">
				Show "How did you hear about us" field
			</div>
		</div>
	</div>
</section>
