div
	.ngRule
		border-top-width 2px
		border-top-color #556b8d
		border-top-style solid
		margin-left 0px
		.rulePointer
			width 10px
			height 260px
			border-bottom-color transparent
			border-bottom-width 240px
		.ngRuleDigit
			margin-left: 15px

.form-emulator
	margin-bottom 20px
	.row
		margin-right 0px
		margin-left 0px
		&.chat-widget
			padding-left 5px
			padding-right 5px
		margin-bottom 10px
		.text-angular-btn
			padding 0
			margin-top 5px
			.ta-editor
				background-color #4897fd
				border none
				box-shadow none
				min-height 25px
				div
					min-height 25px
					p
						margin-bottom 2px
			.ta-toolbar
				position absolute
				background-color rgba(0, 0, 0, 0.3)
				top -30px
				padding 5px
				border-radius 3px
				z-index 100
		.changeStepBtn
			cursor pointer
			&:hover
				color #4897fd
			&.prevStep
				float left
			&.nextStep
				float right
		div
			padding-right 5px
			padding-left 5px
		.chat-widget
			padding 0
			.noPadding
				padding 0
	.topFormEditorSettings input
		max-width 200px
	.ta-toolbar
		display none
	.focussed
		.ta-toolbar
			display block

.settings-show-poll
	margin-top 30px
	margin-bottom 20px
	input
		margin-left 10px

.poll-enable-checkbox
	height 4px
	position relative
	left 244px
	top 13px
