include ../../../../../../node_modules/bemto.pug/bemto

+b.change-user
	+e.loading-box(ng-if='loading')
		+e('img').load(src='./src/busy.png')
	+e.info-box
		+e('img').attention(src='./src/warning.png')
		+e('h3').warning-text
			| Client with this e-mail already exists
		+e('p').warning-explain
			| You can bind for changing client
	+e.action-box
		+e.left
			+e('button').cancel.btn.btn-danger(ng-click='cancelUpdate()')
				| Cancel
		+e.right-box
			+e('button').change.btn.btn-primary(ng-click='changeAll()')
				| Change User
