include ../../../../../../node_modules/bemto.pug/bemto

+b.multiple-requests-user
	+e.loading-box(ng-if='loading')
		+e('img').load(src='./src/busy.png')
	+e.info-box
		+e('img').attention(src='./src/warning.png')
		+e('h3').warning-text
			| Client has several requests
		+e('p').warning-explain
			| You can update either all requests or only the current
	+e.action-box
		+e.left
			+e('button').cancel.btn.btn-danger(ng-click='cancelUpdate()')
				| Cancel
		+e.right-box
			+e('button').update-this.btn.btn-primary(ng-click='updateThis()')
				| Unbind the client
			+e('button').update-all.btn.btn-primary(ng-click='updateAll()')
				| Update all requests
