.multiple-requests-user
  &__loading-box
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(255, 255, 255,.6)
    z-index 10
  &__load
    width 32px
    height 32px
    position absolute
    top calc(50% - (32px /2))
    left calc(50% - (32px / 2))
    animation rotation 2s infinite linear
  &__info-box
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding 1em
  &__attention
    width 64px
    height 64px
    filter drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1))
    margin-bottom .5em
  &__warning-text
    font-size 1.3em
    margin-bottom .5em
  &__warning-explain
    margin 0
    font-size 1em
  &__action-box
    padding .5em 1em
    display flex
    justify-content space-between
  &__update-this
    transition box-shadow .3s ease-in-out
    &:hover
      box-shadow 0 9px 16px rgba(0,0,0,.3), 0 7px 6px rgba(0,0,0,.22)
  &__cancel
    transition box-shadow .3s ease-in-out
    &:hover
      box-shadow 0 9px 16px rgba(0,0,0,.3), 0 7px 6px rgba(0,0,0,.22)
  &__update-all
    margin-left 1em
    transition box-shadow .3s ease-in-out
    &:hover
      box-shadow 0 9px 16px rgba(0,0,0,.3), 0 7px 6px rgba(0,0,0,.22)

@keyframes rotation
  from
    transform rotate(0deg)
  to
    transform rotate(359deg)