.dispatch-logs-full-view-modal
	position relative
	&__busy
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		display flex
		justify-content center
		align-items center
		background-color rgba(236, 240, 241 ,.8)
		z-index 100
	&__header
		display flex
		justify-content space-between
		align-items center
		padding .5em
		background-color #ebebeb
		.fa-times
			cursor pointer
	&__body
		padding .5em
		.pagination-directive
			padding-right 0
	&__footer
		display flex
		justify-content flex-end
		align-items center
		padding .5em
		background-color #ebebeb