<div class="dispatch-logs-full-view-modal">
	<div class="dispatch-logs-full-view-modal__busy" ng-if="busy">
		<img src="/moveBoard/content/img/logo_animation.gif" alt="Loading...">
	</div>
	<div class="dispatch-logs-full-view-modal__header">
		<h3 class="dispatch-logs-full-view-modal__header-title">Dispatch logs full view</h3>
		<i class="fa fa-times" ng-click="vm.close()" aria-hidden="true"></i>
	</div>
	<div class="dispatch-logs-full-view-modal__body">
		<dispatch-logs-full-view-list logs="vm.logs" is-show-n-i-d="vm.isShowNID"></dispatch-logs-full-view-list>
		<div ng-show="vm.logs.length && vm.pagination.pagesCount > 1" elromco-paginator meta="vm.pagination" set-page="vm.pagination.setPage"></div>
	</div>
	<div class="dispatch-logs-full-view-modal__footer">
		<button class="btn btn-default" ng-click="vm.close()">Close</button>
	</div>
</div>