#ui-datepicker-div {
  font-size: 100%;
  font-family: Verdana, sans-serif;
  background: #eee;
  border-right: 2px #666 solid;
  border-bottom: 2px #666 solid;
  z-index: 9999;
}

/* Datepicker
----------------------------------*/
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  float: left;
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  float: right;
}

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

.day-number.peak, li.peak, .ui-datepicker-calendar td.peak a {
  background: #e76a6b;
}

#owl-calendar .cal {
  float: left;
  margin-left: 45px;
  min-height: 245px;
}

.cal {
  display: block;
  width: 210px;
}

.cal caption {
  display: block;
  font-family: "Open sans";
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #4D9FDF;
  text-align: center;
  background: white;
  margin: 0px !important;
}

.cal th {
  line-height: 20px;
  font-size: 8px;
  color: #4D9FDF;
  font-weight: bold;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 0px;
}

.cal th, .cal td {
  width: 15%;
  text-align: center;
  padding: 0px;
}

.cal td {
  font-size: 11px;
  font-weight: bold;
}

.cal th:first-child, .cal td:first-child {
  border-left: 0;
}

.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 30px;
  line-height: 28px;
  color: #fff;
}

.day-number.regular, li.regular, .ui-datepicker-calendar td.regular a {
  background: #4cb1e0;
}

.day-number.peak, li.peak, .ui-datepicker-calendar td.peak a {
  background: #f36a13;
}

.day-number.subpeak, li.subpeak, .ui-datepicker-calendar td.subpeak a {
  background: #0a5c89;
}

.day-number.discount, li.dicount, .ui-datepicker-calendar td.discount a {
  background: #1fc5ac;
}

.day-number.highpeak, li.highpeak, .ui-datepicker-calendar td.highpeak a {
  background: #DB2D2D;
}

.ui-datepicker-buttonpane.ui-widget-content li.type {
  list-style: none;
  float: left;
  margin-left: 4px;
  margin: 4px;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 0px 10px;
  color: white;
  font-family: "Open sans";
  font-weight: 400;
  font-size: 14px;
}
/*# sourceMappingURL=datepicker.css.map */