table.extra-service thead th {
  text-align: center;
  font-size: 14px;
}

table.extra-service tbody tr td {
  color: #585757;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0px;
  text-transform: Capitalize;
  float: left;
  width: 135px;
  margin: 0px;
  line-height: 20px;
  text-align: left;
}

table.extra-service tbody tr td.price {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #F36A13;
  text-align: left;
  display: block;
}
/*# sourceMappingURL=quote-calculator.css.map */