nav#slide_menu, .slide_menu {
    z-index: 10000 !important;
    width: 100%;
    border: none;
    background: white;
    position: absolute;
}

.congrats_block {
	text-align: center;
	padding: 10px;
}

#slide_menu .form-item.form-type-checkbox {
    float: left;
    /* width: 89%; */
    width: 33%;
    font-size: 12px;
}

.form-slogan {
    margin-bottom: 5px;
    margin-top: 15px;
}

.mobile .form-item-Extra-Furnished-Rooms-7 {
    margin-left: 7px;
}

.mobile.box_info {
    border-bottom: none;
}

.mobile.box_info .calc-intro_description .size-info-block img {
    width:350px;
    margin-left:0px;
}

.mobile .form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-5 {
    width: 66% !important;
}

.mobile .move-size h3, .mobile .move-size span, .mobile .move-size i {
    display: none;
}

.mobile .move-size .desc {
    margin-top: 125px;
}

.mobile .move-size .box_info {
    padding-bottom: 10px;
    border-bottom: none;
}

.mobile .move-size {
    width: 100%;
    max-width: 100%;
}

.mobile .calc-intro_description {
    padding: 0px !important;
}

.slide-wrapper {
    padding: 10px;
}

.back-link {
    font-size: 14px;
    color: #ececec;
}

.movesizeinput {
    cursor: pointer;
}

.toolbar {
    text-align: left;
    background-color: #221f20;
    bottom: auto;
    top: 0;
    height: 50px;
}

.toolbar button {
    border: 0;
    padding: 0 20px 0 15px;
    color: #f38e1c;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background: none;
    cursor: pointer;
    font-weight: bold;
}



.sf-calculate-wrapper h1 {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0px;
    line-height: 20px;
    display: block;
    text-align: center;
}

div#request-form .input-group {
    width: 100%;
}

div#request-form .left-block .title {
    background-color: white !important;
    color: #f36a13 !important;
    height: 75px !important;
    border-bottom: 1px dotted #d5cccc;
    padding-top: 25px !important;
    font-weight: normal !important;
}

div#request-form h3.smcap {
    font-size: 24px !important;
    line-height: 29px !important;
    margin: 0;
    margin-top: 15px;
    color: #0a5c89 !important;
    font-weight: 400 !important;
}

div#request-form .three_block.info_block.left-block {
    background: white;
    padding: 20px;
    font-size: 14px;
}

div#request-form .form-group-left {
    /* width: 155px; */
    float: left;
    width: 48%;
    margin-right: 2%;
}

ultrasmall-form #calc-info-steps > div.box_info > div > div.move-size > div {
    margin-top: 10px;
    text-align: center;
}

.icheckbox_square-green {
    float: left;
    margin-right: 5px;
}

div#request-form .form-group-right {
    /* width: 155px; */
    float: left;
    width: 50%;
    position: relative;
}

div#request-form .form-group i {
    display: block;
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 10px;
    width: 5px;
    height: 5px;
    border-left: 5px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #525252;
    pointer-events: none;
}

#edit-date-storage input {
    background-position: 150px 10px;
}

div#request-form .form-group {
    margin-bottom: 15px;
    position: relative;
}

div#request-form .form-group search-zip.search-zip-icon {
    z-index: 1000;
    float: right;
    position: relative;
    margin-top: -22px;
    margin-right: 6px;
}
div#request-form .form-group search-zip.search-zip-icon i.fa-search {
    position: initial;
    border-width: 0px;
    color: black;
    font-size: 12px;
    cursor: pointer;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    pointer-events: all;
}

.divan {
    position: absolute;
    right: 40px;
    top: -8px;
}

.divan i::before {
    font-size: 30px;
}

/*.movesize .success.desktopzip {
//    background-position: 95% center !important;
}*/

.movesize .success.desktopzip .divan {
    display: none;
}

#edit-size-move .full {
    height: 220px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.circleHandler {
    position: absolute;
    bottom: 0px;
    left: 8%;
    width: 100%;
    height: 40px;
}

.circle {
    border: 2px white solid;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 12%;
    margin-left: 12%;
    top: 100%;
    width: 0px;
    height: 0px;
}

.circle.circleShow {
    top: 0;
    width: 15px;
    height: 15px;
    transition: .5s;
}

.circleDone {
    background-color: limegreen;
    transition: .5s;
}

.MoveSizeBtn {
    background-color: #e2e2e2;
    color:black;
    border: 1px #8a8a8a solid;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    margin: 2px;
    cursor: pointer;
}

.mobileform.submit_btn{
    padding: 0;
    color: white;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 6px 0px #b35215;
    -moz-box-shadow: 0px 6px 0px #b35215;
    box-shadow: 0px 6px 0px #b35215;
}
.mobileform.submit_btn a:active {
    -webkit-transform: translate(0, 3px);
    -moz-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0px 2px 0px #f36a13;
    -moz-box-shadow: 0px 2px 0px #f36a13;
    box-shadow: 0px 2px 0px #f36a13;
}
.spmenu .congrats-title a:hover {
	background:none !important;
	text-decoration:underline;
}
.spmenu .mobileform.submit_btn a:hover {
    background: #de6920 !important;
}
.mobile img.studioimg {
    margin-left: 0px;
}
.mobile .extra_room_8,.mobile  .extra_room_9,.mobile  .extra_room_10 {
    position: absolute;
    top: 69px;
    left: 15px;
    width: 100px !important;
}
.mobile .dinning_room{
    top: 69px;
    left: 105px;
}
.mobile .garage_room {

    top: 129px;
    left: 240px;

}
.mobile .office_room_9 {
    top: 117px;
    left: 148px;
}
.mobile .office_room_8 {
    top: 79px;
    left: 132px;
}
.mobile  .office_room_10 {
    top: 137px;
    left: 185px;
}
.mobile .play_room_10,.mobile .play_room_9 {
    top: 90px;
    left: 236px;
}
.mobile .patio_room {

    top: 138px;

    left: -10px;

}
.mobile .office_room_3,.mobile .office_room_4 {
    position: absolute;
    top: 48px;
    left: 158px;
    z-index: 999;
    width: 98px !important;
}
.mobile .extra_room_5,
.mobile .extra_room_3 {
    position: absolute;
    top: 62px;
    left: 0px;
    width: 105px !important;
}
.mobile .extra_room_4,.mobile  .extra_room_6,.mobile  .extra_room_7 {
    position: absolute;
    top: 67px;
    left: -16px;
    width: 109px !important;
}
.mobile .office_room_7 {
    top: 93px;
}
.mobile .office_room_6 {
    top: 78px;
}
.mobile .office_room_5 {
    position: absolute;
    top: 75px;
    left: 210px;
    z-index: 999;
    width: 95px !important;
}

.mobile .basement_room{
    top: -5px;
    left: 260px;
}
.mobile .play_room_8 {
    position: absolute;
    top: 102px;
    width: 105px !important;
    left: 181px;
    z-index: 10001;
}
.mobile.box_info{
    border-bottom:none;
}
@media (min-width: 220px) and (max-width: 720px) {
    .mobile.loged-user-block.ng-scope {
        display: block;
        width: 100%; }
    .mobile.loged-user-block.ng-scope .four_block.user-info {
        width: 100% !important; }
}
.mobile .form-item-Extra-Furnished-Rooms-7 {
    margin-left: 7px;
}

.mobile.box_info {
    border-bottom: none;
}

.mobile .form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-5 {
    width: 66% !important;
}

.mobile .move-size h3, .mobile .move-size span, .mobile .move-size i {
    display: none;
}

.mobile .move-size .desc {
    margin-top: 125px;
}

.mobile .move-size .box_info {
    padding-bottom: 10px;
    border-bottom: none;
}

.mobile .move-size {
    width: 100%;
    max-width: 100%;
}
.mobile .calc-intro_description {
    padding: 0px !important;
}

.ultrasmall-primary-phone{
	margin-top: 15px;
}

.ultrasmall-primary-phone-short {
	display: inline-block;
	width: 33%;
}
.ultrasmall-hear-about-us {
	display: inline-block;
	width: 65%;
	margin-top: 15px;
	float: right;
}

.sf-calculate-wrapper h1, .sf-calculate-wrapper .form-slogan font, .sf-calculate-wrapper .form-slogan font a {
    color: #ffffff;
    margin: 5px 0px;
    display: inline-block;
    text-align: center;
}

.sf-calculate-wrapper .form-slogan font a:hover {
	text-decoration:underline;
}
