<div ng-repeat="block in vm.request.request_all_data.additionalBlock">
    <div class="row general box_info" ng-if="block.isVisible">
        <div class="col-md-3 h2title">{{block.title}}</div>
        <div class="col-md-9 quote_note" ng-bind-html="block.text"></div>
    </div>
</div>