<!-- Details List -->
<div class="row" ng-show="vm.ifDetails || vm.detailHasComment" cc-list-details details="vm.details"></div>
<!-- Inventories List-->
<div class="row inventory-box" ng-show="vm.listInventories.length">
    <div class="col-md-4"></div>
    <div class="col-md-8 total-right total-indicators">
        Total Items: <span>{{inventoryTotals.counts}}</span>, Total Boxes: <span>{{inventoryTotals.boxes}}</span>, Custom: <span>{{inventoryTotals.custom}}</span>.
        <span ng-if="showQuote" style="font-weight: initial;"> Total Estimated: <span>{{inventoryTotals.cfs | number:0 }} c.f. / {{inventoryTotals.cfs * 7}} lbs</span> </span></div>
    <div ng-if="vm.request.field_request_settings.inventoryVersion == 2" class="col-md-12 nopadding">
		<div class="col-md-3 h2title">Inventory List</div>
		<div class="col-md-9 nopadding" inventory-table entity-id="vm.request.nid"></div>
	</div>
	<div ng-if="vm.request.field_request_settings.inventoryVersion != 2" list-inventories listInventories="vm.listInventories" rooms="vm.rooms"  removed="vm.removedItems" decrease="vm.decreaseItems"></div>
</div>

<div class="details_block_info row" ng-class="{'disabled':vm.busyInventory || vm.request.status.raw == 3}"  ng-hide="vm.ifDetails">
    <div class="col-md-3"><span class="icon icon-medium flaticon-edit26"></span></div>
    <div class="col-md-9"><h3>Move Details  <a  ng-click="vm.select(vm.tabs[2])" id="details_link">Submit Here </a></h3><p>We do it better and faster if we are prepared and know what to expect!</p></div>
</div>
<!-- Details List -->

<!-- Inventories List-->
<div class="details_block_info row" ng-class="{'disabled':vm.busyInventory || vm.request.status.raw == 3}" ng-hide="vm.listInventories.length">
    <div class="col-md-3"><span class="icon icon-medium flaticon-commercial15 notdone"></span></div>
    <div class="col-md-8"><h3>Inventory <a ng-click="vm.select(vm.tabs[1])"  id="inv_link">Submit Here</a></h3> <p>We can be more precise with your estimate if we know what you’re moving!</p>
    </div>
</div>

<div id="conf_block" ng-show="vm.flatStepOne && detailsDone && inventoryDone && !vm.longDistance " style="display: block;">
    <p class="helptext">Please review all information and proceed</p>
    <button ng-click="submitFlatRate()" id="conf_send" class="button color_1"> Request Quote and Availability</button>
</div>

<div id="conf_block" ng-show="vm.flatStepOne && detailsDone && inventoryDone && vm.longDistance" style="display: block;">
    <p class="helptext">Please review all information and proceed</p>
    <button ng-click="submitFlatRate()" id="conf_send" class="button color_1"> Get Long Distance Quote</button>
</div>
