<div class="row general box_info">
    <div class="rtitle quote-title">What to do next</div>
    <div class="row">
        <div class="com-md-12">
            <div class="col-md-3 quote-line-height quote-gif-block"><div class="work-block"></div></div>
            <div class="col-md-9 rtitle quote-line-height quote-text first">We are working on providing you with a quote.</div>
        </div>
    </div>
    <div class="row">
        <div class="com-md-12">
            <div class="col-md-3 quote-line-height quote-icon-block"><i class="icon-envelope-letter fa-3x" aria-hidden="true"></i> </div>
            <div class="col-md-9 rtitle quote-line-height quote-text">We will send you an email once your account page has been updated.</div>
        </div>
    </div>
    <div class="row">
        <div class="com-md-12">
            <div class="col-md-3 quote-line-height quote-icon-block"><i class="fa fa-paper-plane fa-3x" aria-hidden="true"></i></div>
            <div class="col-md-9 rtitle quote-line-height quote-text">In the meantime you can submit your <a ng-click="vm.select(vm.tabs[1])" ng-class="{'disabled': disable_menu}">inventory</a>,
                update your <a ng-click="vm.select(vm.tabs[2])" ng-class="{'disabled': disable_menu}">move details</a>, enter your full address, read information about your move or send a message to your relocation specialist.</div>
        </div>
    </div>
</div>