<div id="extra-services-account" class="row general box_info" ng-if="vm.extraServices.length" ng-hide="!showFlatRateAddService">
    <div class="col-md-3  h2title">Additional Services:</div>
    <div class="col-md-8 info">
        <div ng-repeat="service in vm.extraServices" class="col-md-12 nopadding" style="border-bottom: 1px dotted rgba(128, 128, 128, 0.27);
    line-height: 20px;">
            <div class="col-md-7 nopadding">{{service.name}}:</div>
            <div class="col-md-2 nopadding">${{calculateRowTotal(service) | number : 2}}</div>
        </div>
        <div class="total" ng-show="vm.isVisibleExtraServiceTotal()" class="col-md-12 nopadding" style="border-bottom: 1px dotted rgba(128, 128, 128, 0.27); line-height: 20px;">
            <div class="col-md-7 nopadding">Total</div>
            <div class="col-md-2 nopadding">${{vm.calculateExtraServiceTotal() | number : 2}}</div>
        </div>
    </div>

</div>
<div id="additional-discount-account" class="row general box_info" ng-if="vm.request.request_all_data.add_money_discount || vm.request.request_all_data.add_percent_discount" >
    <div class="col-md-3  h2title" ng-if="vm.localdiscount != 0 && vm.request.request_all_data.add_money_discount && vm.request.request_all_data.add_percent_discount == 0 && vm.request.request_all_data.add_money_discount != 0">Additional Discount</div>
    <div class="col-md-3  h2title" ng-if="vm.localdiscount != 0 && vm.request.request_all_data.add_percent_discount && vm.request.request_all_data.add_money_discount == 0 && vm.request.request_all_data.add_percent_discount != 0">Additional Discount</div>
    <div class="col-md-3  h2title"  ng-if="vm.localdiscount == 0">Discount:</div>
    <div class="col-md-5 info total_discount" ng-if="vm.localdiscount != 0">
        <div ng-if="vm.request.request_all_data.add_percent_discount == 0 && vm.request.request_all_data.add_money_discount != 0 && vm.request.request_all_data.add_money_discount ">
            <div ng-if="vm.request.request_all_data.add_money_discount != 0">
                -${{vm.request.request_all_data.add_money_discount}}
            </div>
        </div>
        <div ng-if="vm.request.request_all_data.add_money_discount == 0 && vm.request.request_all_data.add_percent_discount != 0 && vm.request.request_all_data.add_percent_discount ">
            <div ng-if="vm.request.request_all_data.add_percent_discount != 0">
                -{{vm.request.request_all_data.add_percent_discount}}%
            </div>
        </div>
    </div>
    <div class="col-md-9 total_discount" ng-if="vm.localdiscount == 0">
        <div ng-if="vm.request.request_all_data.add_percent_discount == 0 && vm.request.request_all_data.add_money_discount != 0 && vm.request.request_all_data.add_money_discount ">
            <div ng-if="vm.request.request_all_data.add_money_discount != 0">
                -${{vm.request.request_all_data.add_money_discount}}
            </div>
        </div>
        <div ng-if="vm.request.request_all_data.add_money_discount == 0 && vm.request.request_all_data.add_percent_discount != 0 && vm.request.request_all_data.add_percent_discount">
            <div ng-if="vm.request.request_all_data.add_percent_discount != 0">
                -{{vm.request.request_all_data.add_percent_discount}}%
            </div>
        </div>
    </div>
</div>
