<div class=" row general flat_rate options">
    <div class="service_type rtitle service-type-title">
        {{vm.topTextSettings[vm.request.service_type.raw]}}
    </div>
    <div class="service_type rtitle" style="text-align: center;margin-top: -10px;padding-bottom: 5px;">
        SERVICE TYPE: {{vm.currentServiceType}}
        <span ng-if="vm.request.move_size.raw == 11"> - {{vm.commercialTitle}}</span>
    </div>
    <div class="col-md-3 h2title">Request ID <span>#{{::vm.request.nid}}</span></div>
    <div class="col-md-4 box_info" ng-hide="!vm.flatRate || vm.longDistance">
        <div class="row_info">
            <div class="col-md-12 title nopadding">Preferred Pick Up:</div>
            <div class="col-md-12 info nopadding">{{vm.details.pickup | dateRange}}</div>
        </div>
        <div class="row_info">
            <div class="col-md-12 title nopadding">Preferred Delivery:</div>
            <div class="col-md-12 info nopadding">{{vm.details.delivery | dateRange}}</div>
        </div>
    </div>
    <div class="col-md-4 box_info" ng-show="vm.flatRateService && !vm.flatRate">
        <div class="row_info" ng-if="vm.flatRateLocalMove">
            <div class="col-md-4 title nopadding"> Pickup Date:</div>
            <div class="col-md-6 info nopadding">{{vm.moveDate}}</div>
        </div>
        <div class="row_info" ng-if="!vm.flatRateLocalMove">
            <div class="col-md-12 title nopadding"> Pickup Date:</div>
            <div class="col-md-12 info nopadding">{{vm.moveDate}}</div>
        </div>
        <div class="row_info" ng-if="!vm.flatRateLocalMove">
            <div class="col-md-4 title nopadding">Start Time:</div>
            <div class="col-md-6 info nopadding">{{vm.request.start_time1.value}} <span ng-if="vm.request.start_time2.value.length">- {{vm.request.start_time2.value}}</span></div>
        </div>
        <div class="row_info" ng-if="vm.flatRateLocalMove">
            <div class="col-md-4 title nopadding">Start Time:</div>
            <div class="col-md-6 info nopadding">{{vm.request.start_time1.value}} <span ng-if="vm.request.start_time2.value.length">- {{vm.request.start_time2.value}}</span></div>
        </div>
        <div class="row_info" ng-if="vm.deliveryDate.length && !vm.flatRateLocalMove">
            <div class="col-md-12 title nopadding">Delivery Date:</div>
            <div class="col-md-12 info nopadding">
                {{vm.deliveryDate}}
                <span ng-if="vm.deliveryDateSecond.length"> - {{vm.deliveryDateSecond}}</span>
            </div>
        </div>
        <div class="row_info" ng-if="vm.request.dstart_time1.value.length && !vm.flatRateLocalMove">
            <div class="col-md-4 title nopadding">Start Time :</div>
            <div class="col-md-6 info nopadding">
                {{vm.request.dstart_time1.value}}
                <span ng-if="vm.request.dstart_time2.value.length">
                    - {{vm.request.dstart_time2.value}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 box_info">
        <div class="row_info row">
            <div class="col-md-12 title nopadding" ng-hide="vm.pickupOnly">Moving From:</div>
            <div class="col-md-12 title nopadding" ng-show="vm.pickupOnly">{{vm.request.service_type.value}}:</div>
            <div class="col-md-12 info nopadding">
            <span ng-if="vm.request.field_moving_from.thoroughfare == 'Enter Address' || !vm.request.field_moving_from.thoroughfare" ng-click="vm.openAddressModal()" style="color: #ED6B61;cursor: pointer;">Enter Address</span>
            <span ng-if="vm.request.field_moving_from.thoroughfare != 'Enter Address' && vm.request.field_moving_from.thoroughfare" >{{vm.request.field_moving_from.thoroughfare}}</span>
            , {{vm.request.field_moving_from.locality}}, {{vm.request.field_moving_from.administrative_area}} {{vm.request.field_moving_from.postal_code}} <span ng-show="vm.request.apt_from.value.length">(Apt #{{vm.request.apt_from.value}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_from.raw]}}</div>

        </div>

        <div class="row_info row extrapickup" ng-if="extraPickup">
            <div class="col-md-12 title nopadding">Extra Pickup:</div>
            <div class="col-md-12 info nopadding">{{vm.request.field_extra_pickup.thoroughfare}}, {{vm.request.field_extra_pickup.locality}}, {{vm.request.field_extra_pickup.administrative_area}} {{vm.request.field_extra_pickup.postal_code}} <span ng-show="vm.request.apt_from.value.length">(Apt #{{vm.request.field_extra_pickup.premise}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_pickup.organisation_name]}}</div>

        </div>
        <div class="row_info row extrapickup"  ng-if="extraDropoff">
            <div class="col-md-12 title nopadding">Extra Drop-off</div>
            <div class="col-md-12 info nopadding">{{vm.request.field_extra_dropoff.thoroughfare}}, {{vm.request.field_extra_dropoff.locality}}, {{vm.request.field_extra_dropoff.administrative_area}} {{vm.request.field_extra_dropoff.postal_code}}<span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.field_extra_dropoff.premise}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_dropoff.organisation_name]}}</div>
        </div>


        <div class="row_info row">
            <div class="col-md-12 title nopadding" ng-hide="vm.pickupOnly">Moving to:</div>
            <div class="col-md-12 info nopadding">
            <span ng-if="vm.request.field_moving_to.thoroughfare == 'Enter Address'  || !vm.request.field_moving_to.thoroughfare" ng-click="vm.openAddressModal()" style="color: #ED6B61;cursor: pointer;">Enter Address</span>
            <span ng-if="vm.request.field_moving_to.thoroughfare != 'Enter Address' && vm.request.field_moving_to.thoroughfare" >{{vm.request.field_moving_to.thoroughfare}}</span>
            , {{vm.request.field_moving_to.locality}}, {{vm.request.field_moving_to.administrative_area}} {{vm.request.field_moving_to.postal_code}}<span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.apt_to.value}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_to.raw]}}</div>
        </div>

        <div class="row_info row packing-day-request" ng-if="vm.request.request_all_data.packing_request_id">
            <a ng-click="vm.goToNewRequest(vm.request.request_all_data.packing_request_id)" class="btn btn-primary">
                <span>View Packing Day Request</span>
            </a>
        </div>
    </div>

    <div class="edit_request" ng-class="{'disabled': vm.busyInventory}" ng-hide="vm.admin" ng-click="openEditModal()"><i class="icon-pencil"></i></div>
</div>
<!--SECONDARY INFO -->

<ng-include ng-if="!showQuote" src="'app/requestpage/templates/overview/doNotShowQuote.html'" class="no-quote-box no-quote-{{vm.request.service_type.raw}}"></ng-include>

<!--MOVEZISE-->
<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/movesizeBlock.html?4'"></ng-include>

<!--PACKINGS-->
<ng-include ng-if="vm.request && showQuote" src="'app/requestpage/templates/overview/packings-request.html'"></ng-include>

<!--EXSTRA SERVICES-->
<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/extraservices.html?5'"></ng-include>

<!--VALUATION INFO -->
<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/valuation.html?'"></ng-include>


<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/additionalBlock.html'"></ng-include>

<div id="flat-rate-quote-block-account" ng-if="showQuote" class="row general box_info" ng-show="vm.flatRateService" ng-hide="!showFlatRateQuote && !showFlatRateExplanation">
    <div ng-show="vm.deposit">
        <div class="col-md-3 h2title">Paid Deposit</div>
        <div class="col-md-9 info">
            ${{vm.deposit}}
        </div>
    </div>
    <div class="col-md-3 h2title">Flat Rate</div>
    <div class="col-md-9 info">
        <div ng-if="showFlatRateQuote">
            <span ng-hide="vm.getGrandTotal('flatrate', vm.request) == 0">
                ${{vm.getGrandTotal('flatrate', vm.request) | number:2 }}
            </span>
            <span ng-if="vm.extraServices.length">(with Additional Services)</span>
        </div>
        <div ng-if="showFlatRateExplanation">
            <p class="quote_note"
               ng-if="!vm.flatOptionText"
               read-more
               textforshow="vm.quote_note"></p>
            <p class="quote_note"
               ng-if="vm.flatOptionText"
               read-more
               textforshow="vm.flatOptionText"></p>
        </div>
    </div>
</div>
<notes-directive request-note="vm.request" admin="vm.admin" is-foreman="vm.isForeman"></notes-directive>
<custom-blocks ng-if="vm.request && !vm.request.request_all_data.additionalBlock[0].isVisible"
               class="account-page-custom-block-wrapper"
               request="vm.request"></custom-blocks>
<general-blocks class="account-page-general-block-wrapper"
                request="vm.request"></general-blocks>
<div class="row general box_info" ng-if="vm.request.request_all_data.storage_request_id">
    <div class="col-md-3 h2title" style="line-height: 2.8;">Storage</div>
    <div class="col-md-9 info">
        <button class="btn btn-primary pull-right"
                ng-click="vm.goStorageTenant(vm.request.request_all_data.storage_request_id)">
            View Storage Statement
        </button>
    </div>
</div>
