
<!--GENERAL INFO -->
<div class=" row general ">
    <div class="service_type rtitle service-type-title">
        {{vm.topTextSettings[vm.request.service_type.raw]}}
    </div>
    <div class="service_type rtitle service-type-title">
        SERVICE TYPE: {{vm.currentServiceType}}
        <span ng-if="vm.request.move_size.raw == 11"> - {{vm.commercialTitle}}</span>
    </div>
    <div class="col-md-3 h2title">Request ID <span>#{{::vm.request.nid}}</span></div>
    <div class="col-md-4 box_info general_info_row">
        <div class="row_info move_date_row">
            <div class="col-md-6 title nopadding">Move Date :</div>
            <div class="col-md-6 info nopadding">{{vm.moveDate}}</div>
        </div>
        <div class="row_info arrival_time_row">

            <div ng-hide="vm.request.request_all_data.arrivalTimeWindow.showInAccount && !vm.request.request_all_data.arrivalTimeWindow.text">
                <div class="col-md-6 title nopadding">Arrival Time Window:</div>
                <div class="col-md-6 info nopadding" ng-show="vm.request.request_all_data.arrivalTimeWindow.showInAccount">{{vm.request.request_all_data.arrivalTimeWindow.text}}</div>
                <div ng-hide="vm.request.request_all_data.arrivalTimeWindow.showInAccount">
                    <div class="col-md-6 info nopadding" ng-if="vm.request.start_time.raw == 1 &&
                    (vm.request.start_time1.value == '8:00 AM' && vm.request.start_time2.value == '8:00 PM')
                    ">{{vm.request.start_time.value}}</div>
                    <div class="col-md-6 info nopadding"
                         ng-hide="vm.request.start_time.raw == 1 &&
                    (vm.request.start_time1.value == '8:00 AM' && vm.request.start_time2.value == '8:00 PM')">{{vm.request.start_time1.value}} <span ng-if="vm.request.start_time2.value.length">- {{vm.request.start_time2.value}}</span></div>
                </div>
            </div>

        </div>
        <div ng-if="showQuote" class="row_info crew_size_row">
            <div class="col-md-6 title nopadding">Crew Size :</div>
            <div class="col-md-6 info nopadding">{{vm.request.crew.value}} movers</div>
        </div>
        <div ng-if="showQuote" class="row_info hourly_rate_row" ng-hide="vm.request.rate.value == 0">
            <div class="col-md-6 title nopadding">Hourly Rate :</div>
            <div class="col-md-6 info nopadding"> <i style="text-decoration: line-through;font-style: normal;margin-right: 5px;color: #6B6B6B;" ng-if="vm.localdiscount != 0 || vm.request.request_all_data.add_rate_discount != 0" class="cross">${{vm.uprate  | number : 0}}/hr</i> ${{vm.request.rate.value | number : 0}}/hr </div>
        </div>
        <div ng-if="showQuote" class="row_info truck_row">
            <div class="col-md-6 title nopadding">Truck :</div>
            <div class="col-md-6 info nopadding" ng-if="vm.request.truckCount == 1">{{vm.request.truckCount}} Truck</div>
            <div class="col-md-6 info nopadding" ng-if="vm.request.truckCount > 1">{{vm.request.truckCount}} Trucks</div>
        </div>
    </div>

    <div class="col-md-4 box_info">
        <div class="row_info row">
            <div class="col-md-12 title nopadding" ng-hide="vm.pickupOnly">Moving From:</div>
            <div class="col-md-12 title nopadding" ng-show="vm.pickupOnly">{{vm.request.service_type.value}}:</div>

            <div class="col-md-12 info nopadding" ng-hide="vm.request.service_type.raw == 4">
            <span ng-if="vm.request.field_moving_from.thoroughfare == 'Enter Address' || !vm.request.field_moving_from.thoroughfare" ng-click="vm.openAddressModal()" style="color: #ED6B61; cursor: pointer;">Enter Address</span>
            <span ng-if="vm.request.field_moving_from.thoroughfare != 'Enter Address' && vm.request.field_moving_from.thoroughfare" >{{vm.request.field_moving_from.thoroughfare}}</span>
            , {{vm.request.field_moving_from.locality}}, {{vm.request.field_moving_from.administrative_area}} {{vm.request.field_moving_from.postal_code}} <span ng-show="vm.request.apt_from.value.length">(Apt #{{vm.request.apt_from.value}})</span></div>
            <div class="col-md-12 info nocolor nopadding" ng-hide="vm.request.service_type.raw == 4">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_from.raw]}}</div>

            <div ng-show="vm.request.service_type.raw == 4">
                <div class="col-md-12 info nopadding">
                    <span ng-if="vm.request.field_moving_to.thoroughfare == 'Enter Address' || !vm.request.field_moving_to.thoroughfare" ng-click="vm.openAddressModal()" style="color: #ED6B61; cursor: pointer;">Enter Address</span>
                    <span ng-if="vm.request.field_moving_to.thoroughfare != 'Enter Address' && vm.request.field_moving_to.thoroughfare" >{{vm.request.field_moving_to.thoroughfare}}</span>
                    , {{vm.request.field_moving_to.locality}}, {{vm.request.field_moving_to.administrative_area}} {{vm.request.field_moving_to.postal_code}}
                    <span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.apt_to.value}})</span>
                </div>
                <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_to.raw]}}</div>
            </div>

        </div>

        <div class="row_info row extrapickup" ng-if="extraPickup">
            <div class="col-md-12 title nopadding">Extra Pickup:</div>
            <div class="col-md-12 info nopadding">
                {{vm.request.field_extra_pickup.thoroughfare}},
                {{vm.request.field_extra_pickup.locality}}, {{vm.request.field_extra_pickup.administrative_area}}
                {{vm.request.field_extra_pickup.postal_code}}
                <span ng-show="vm.request.field_extra_pickup.premise">
                    (Apt #{{vm.request.field_extra_pickup.premise}})
                </span></div>
            <div class="col-md-12 info nocolor nopadding">
                {{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_pickup.organisation_name]}}
            </div>

        </div>
        <div class="row_info row extrapickup"  ng-if="extraDropoff">
            <div class="col-md-12 title nopadding">Extra Drop-off</div>
            <div class="col-md-12 info nopadding">
                {{vm.request.field_extra_dropoff.thoroughfare}},
                {{vm.request.field_extra_dropoff.locality}},
                {{vm.request.field_extra_dropoff.administrative_area}}
                {{vm.request.field_extra_dropoff.postal_code}}
                <span ng-show="vm.request.field_extra_dropoff.premise">
                    (Apt #{{vm.request.field_extra_dropoff.premise}})
                </span>
            </div>
            <div class="col-md-12 info nocolor nopadding">
                {{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_dropoff.organisation_name]}}
            </div>
        </div>

        <div class="row_info row" ng-hide="vm.pickupOnly || vm.isPackingDayRequest">
            <div class="col-md-12 title nopadding" >Moving To:</div>
            <div class="col-md-12 info nopadding">
            <span ng-if="vm.request.field_moving_to.thoroughfare == 'Enter Address' || !vm.request.field_moving_to.thoroughfare" ng-click="vm.openAddressModal()" style="color: #ED6B61; cursor: pointer;">Enter Address</span>
            <span ng-if="vm.request.field_moving_to.thoroughfare != 'Enter Address' && vm.request.field_moving_to.thoroughfare" >{{vm.request.field_moving_to.thoroughfare}}</span>
            , {{vm.request.field_moving_to.locality}}, {{vm.request.field_moving_to.administrative_area}} {{vm.request.field_moving_to.postal_code}}<span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.apt_to.value}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_to.raw]}}</div>
        </div>
        <div class="row_info row packing-day-request" ng-if="vm.request.request_all_data.packing_request_id">
            <a ng-click="vm.goToNewRequest(vm.request.request_all_data.packing_request_id)" class="btn btn-primary">
                <span ng-show="vm.request.service_type.raw != 8">View Packing Day Request</span>
                <span ng-show="vm.request.service_type.raw == 8">View Move Request</span>
            </a>
        </div>
    </div>

    <div class="edit_request" ng-class="{'disabled': vm.busyInventory}" style="cursor: pointer;" ng-hide="vm.admin" ng-click="openEditModal()"><i class="icon-pencil"></i>Manage Your Quote</div>

</div>

<ng-include ng-if="!showQuote" src="'app/requestpage/templates/overview/doNotShowQuote.html'" class="no-quote-box no-quote-{{vm.request.service_type.raw}}"></ng-include>

<!--SECONDARY INFO -->
<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/movesizeBlock.html?4'"></ng-include>

<!--VALUATION INFO -->
<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/valuation.html?'"></ng-include>
<!-- packings -->
<div ng-if="vm.request && showQuote">
    <ng-include src="'app/requestpage/templates/overview/packings-request.html'"></ng-include>
</div>

<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/extraservices.html?7'"></ng-include>

<div ng-if="showQuote && vm.usedCoupon != 0" class="row general box_info">
    <div class="col-md-3 h2title">Coupon</div>
    <div class="col-md-9 info total_discount">${{vm.usedCoupon}}</div>
</div>

<div id="local-move-travel-time-account" ng-if="!vm.isDoubleDriveTime && vm.travelTimeSetting && showQuote && (vm.request.travel_time.raw != 0)" class="row general box_info">
    <div class="col-md-3  h2title">
        <span>{{::vm.calcSettings.travelTimeName}}</span>
    </div>
    <div class="col-md-9 info">{{vm.request.travel_time.raw | hrmin}}
        <i ng-show="vm.tooltipData.travelTime.isDisplay" class="custom-tooltip fa fa-info-circle" tt-tool-tips tips-string="<div class='tips rmtips'> {{vm.tooltipData.travelTime.value}}</div>"></i>
    </div>
</div>
<div id="estimated-labor-time-account" ng-if="showQuote && (vm.min_hours < vm.request.maximum_time.raw)" class="row general box_info">
    <div class="col-md-3 h2title">Estimated Labor time</div>
    <div class="col-md-9 info">
            {{vm.request.minimum_time.raw | hrmin }} <span ng-hide="vm.isEqualMaxMinLaborTime()">- {{vm.request.maximum_time.raw | hrmin}}</span>
        <i ng-show="vm.tooltipData.laborTime.isDisplay" class="custom-tooltip fa fa-info-circle"  tt-tool-tips tips-string="<div class='tips rmtips'>{{vm.tooltipData.laborTime.value}}</div>"></i>
    </div>
</div>
<div id="local-move-double-travel-time-account" ng-if="vm.isDoubleDriveTime && vm.request.field_double_travel_time.raw && showQuote" class="row general box_info">
    <div class="col-md-3  h2title">
        <span>{{::vm.calcSettings.doubleDriveTimeName}}</span>
    </div>
    <div class="col-md-9 info">{{vm.request.field_double_travel_time.raw || 0 | hrmin}}
        <i ng-show="vm.tooltipData.travelTime.isDisplay" class="custom-tooltip fa fa-info-circle" tt-tool-tips tips-string="<div class='tips rmtips'> {{vm.tooltipData.travelTime.value}}</div>"></i>
    </div>
</div>

<div id="quote-block-account" ng-if="showQuote" class="row general box_info">
    <div class="col-md-3 h2title estimated-job-time-account-page">Estimated Job Time</div>
    <div class="col-md-9 info estimated-job-time-account-page" ng-if="vm.min_hours < vm.calculateLocalMoveMaxJobTime()">
        {{vm.calculateLocalMoveMinJobTime() | hrmin }} <span ng-hide="vm.isEqualLocalMoveMaxMinTime()">- {{vm.calculateLocalMoveMaxJobTime() | hrmin}}</span>
        <i ng-show="vm.tooltipData.jobTime.isDisplay" class="custom-tooltip fa fa-info-circle"  tt-tool-tips tips-string="<div class='tips rmtips'> {{vm.tooltipData.jobTime.value}}</div>"></i>
    </div>
    <div class="col-md-9 info estimated-job-time-account-page" ng-if="vm.min_hours >= vm.calculateLocalMoveMaxJobTime()">{{vm.min_hours | hrmin}}
        (minimum hours)
    </div>
    <div ng-show="vm.deposit">
        <div class="col-md-3 h2title">Paid Deposit</div>
        <div class="col-md-9 info">
            ${{vm.deposit}}
        </div>
    </div>
    <div class="col-md-3 h2title">Estimated Quote</div>
    <div class="col-md-9 info" ng-if="!vm.DiscountApply">
        <span ng-if="vm.min_hours < vm.calculateLocalMoveMaxJobTime()">
            <span>${{vm.getGrandTotal('min', vm.request) | number:2}}
                <span ng-hide="vm.isEqualLocalMoveMaxMinTime()"> -${{vm.getGrandTotal('max', vm.request) | number:2}}</span>
            </span>
            <span ng-if="vm.extraServices.length">(with Additional Services)</span>
        </span>

        <span ng-if="vm.min_hours >= vm.calculateLocalMoveMaxJobTime()">
            ${{vm.calculateLocalMoveQuoteByMinHours() | number:2 }}
            <span ng-if="vm.extraServices.length">(with Additional Services)</span>
        </span>

        <a ng-show="vm.request.status.raw == 2"
           style="font-size: 10px !important;width: 110px;line-height: 5px;margin-top: 10px;margin-bottom: 10px;"
           class="btn color_2" href="#request/{{::vm.request.nid}}/reservation">BOOK YOUR MOVE</a>

        <p class="quote_note"
           read-more
           textforshow="vm.quote_note"></p>
    </div>
    <!--DISCOUNT -->
    <div class="col-md-9 info" ng-if="vm.DiscountApply">
        <span ng-if="vm.min_hours < vm.calculateLocalMoveMaxJobTime()">
        <span class="cross">
            ${{vm.calculateLocalMoveMinQuoteByUprate()  | number:2 }} - ${{vm.calculateLocalMoveMaxQuoteByUprate() | number:2 }}</span>
            <span ng-if="vm.extraServices.length">(with Additional Services)</span>
        </span>
        <span ng-if="vm.min_hours >= vm.calculateLocalMoveMaxJobTime()" class="cross">
            ${{vm.calculateLocalMoveQuoteByMinHoursAndUprate() | number: 0 }}
            <span ng-if="vm.extraServices.length">(with Additional Services)</span>
        </span>
        <!-- Real Rate -->
        <div style="color: #EF692C;" ng-if="vm.min_hours < vm.calculateLocalMoveMaxJobTime()">
            ${{vm.calculateLocalMoveMinQuoteWithDiscount() | number:2 }} - ${{vm.calculateLocalMoveMaxQuoteWithDiscount() | number:2 }} <br>
            You save ${{vm.calculateLocalMoveDiscount() | number : 2}} ({{vm.calculateLocalMoveDiscountPercent() | number : 1}}%) <br>
            <span style="color: red;" class="red" ng-if="vm.request.request_all_data.add_rate_discount != 0 && vm.request.request_all_data.add_rate_discount_expiration.length && !vm.isConfirmed">Your rate discount will be expired on {{vm.request.request_all_data.add_rate_discount_expiration}}</span>
        </div>
        <div style="color: #EF692C;" ng-if="vm.min_hours >= vm.calculateLocalMoveMaxJobTime()">
            ${{vm.calculateLocalMoveQuoteWithDiscountAndMinHours() | number:2 }} <br>
            You save ${{vm.calculateLocalMoveDiscountByMinHours() | number : 2}} ({{vm.calculateLocalMoveDiscountPercent() | number : 1}}%) <br>
            <span  style="color: red;" class="red" ng-if="vm.request.request_all_data.add_rate_discount != 0 && vm.request.request_all_data.add_rate_discount_expiration.length && !vm.isConfirmed">Your rate discount will be expired on {{vm.request.request_all_data.add_rate_discount_expiration}}</span>
        </div>
        <a ng-show="vm.request.status.raw == 2"
           style="    font-size: 10px !important;width: 110px;line-height: 5px;margin-top: 10px;margin-bottom: 10px;"
           class="btn color_2" href="#request/{{::vm.request.nid}}/reservation">BOOK YOUR MOVE</a>
        <p class="quote_note "
           read-more
           textforshow="vm.quote_note"></p>
    </div>
</div>
<notes-directive request-note="vm.request" admin="vm.admin" is-foreman="vm.isForeman"></notes-directive>

<custom-blocks ng-if="vm.request && !vm.request.request_all_data.additionalBlock[0].isVisible"
               class="account-page-custom-block-wrapper"
               request="vm.request"></custom-blocks>
<general-blocks class="account-page-general-block-wrapper"
                request="vm.request"></general-blocks>
<div class="row general box_info" ng-if="vm.request.request_all_data.storage_request_id">
    <div class="col-md-3 h2title" style="line-height: 2.8;">Storage</div>
    <div class="col-md-9 info">
        <button class="btn btn-primary pull-right"
                ng-click="vm.goStorageTenant(vm.request.request_all_data.storage_request_id)">
            View Storage Statement
        </button>
    </div>
</div>
<ng-include src="'app/requestpage/templates/overview/additionalBlock.html'"></ng-include>
