<div class=" row general ">
    <div class="service_type rtitle service-type-title">
        {{vm.topTextSettings[vm.request.service_type.raw]}}
    </div>
    <div class="service_type rtitle" style="text-align: center;margin-top: -10px;padding-bottom: 5px;">
        SERVICE TYPE: {{vm.currentServiceType}}
        <span ng-if="vm.request.move_size.raw == 11"> - {{vm.commercialTitle}}</span>
    </div>
    <div class="col-md-3 h2title">Request ID <span>#{{::vm.request.nid}}</span></div>

    <div class="col-md-4 box_info" ng-show="vm.longDistance">
        <div class="row_info">
            <div class="col-md-12 title nopadding">Move Date (Pick Up Day):</div>
            <div class="col-md-12 info nopadding">{{vm.moveDate}}</div>
        </div>
        <div class="row_info">

            <div ng-hide="vm.request.request_all_data.arrivalTimeWindow.showInAccount && !vm.request.request_all_data.arrivalTimeWindow.text">
                <div class="col-md-6 title nopadding">Arrival Time Window:</div>
                <div class="col-md-6 info nopadding" ng-show="vm.request.request_all_data.arrivalTimeWindow.showInAccount">{{vm.request.request_all_data.arrivalTimeWindow.text}}</div>
                <div ng-hide="vm.request.request_all_data.arrivalTimeWindow.showInAccount">
                    <div class="col-md-6 info nopadding" ng-if="vm.request.start_time.raw == 1 &&
                    (vm.request.start_time1.value == '8:00 AM' && vm.request.start_time2.value == '8:00 PM')">{{vm.request.start_time.value}}</span></div>
                    <div class="col-md-6 info nopadding"
                         ng-hide="vm.request.start_time.raw == 1 &&
                    (vm.request.start_time1.value == '8:00 AM' && vm.request.start_time2.value == '8:00 PM')">{{vm.request.start_time1.value}} <span ng-if="vm.request.start_time2.value.length">- {{vm.request.start_time2.value}}</span></div>
                </div>
            </div>

        </div>
        <div class="row_info">
            <div class="col-md-12 title nopadding" ng-if="vm.details.delivery_days && vm.details.delivery_days !== '0'">Delivery Window:
                <i class="tooltips fa fa-info-circle" style="color: #4E93FF;"
                   tt-tool-tips tips-string="<div class='tips rmtips delivery-date'>{{vm.average_ld_day}}</div>"></i>
            </div>
            <div class="col-md-12 title nopadding" ng-if="vm.details.delivery_days === '0'">
                Guaranty Delivery Date:
            </div>
            <div class="col-md-12 title nopadding" ng-if="!vm.details.delivery_days && vm.details.delivery_days !== '0'">
                Requested Delivery Date:
            </div>
            <div class="col-md-12 info nopadding">
                <span ng-if="vm.details.delivery == ''">Don't know</span>
                <span ng-if="vm.details.delivery != ''">{{vm.details.delivery}}</span>
                <span ng-if="vm.lastDeliveryDay != 0 && vm.details.delivery_days && vm.details.delivery_days !== '0' && vm.details.delivery != ''">- {{vm.lastDeliveryDay}}</span>
            </div>
        </div>
    </div>

    <div class="col-md-4 box_info">
        <div class="row_info row">
            <div class="col-md-12 title nopadding" ng-hide="vm.pickupOnly">Moving From:</div>
            <div class="col-md-12 title nopadding" ng-show="vm.pickupOnly">{{vm.request.service_type.value}}:</div>
            <div class="col-md-12 info nopadding">
            <span ng-if="vm.request.field_moving_from.thoroughfare == 'Enter Address' || !vm.request.field_moving_from.thoroughfare" ng-click="vm.openAddressModal()" style="color: #ED6B61; cursor: pointer;">Enter Address</span>
            <span ng-if="vm.request.field_moving_from.thoroughfare != 'Enter Address' && vm.request.field_moving_from.thoroughfare" >{{vm.request.field_moving_from.thoroughfare}}</span>
            , {{vm.request.field_moving_from.locality}}, {{vm.request.field_moving_from.administrative_area}} {{vm.request.field_moving_from.postal_code}} <span ng-show="vm.request.apt_from.value.length">(Apt #{{vm.request.apt_from.value}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_from.raw]}}</div>

        </div>

        <div class="row_info row extrapickup" ng-if="extraPickup">
            <div class="col-md-12 title nopadding">Extra Pickup:</div>
            <div class="col-md-12 info nopadding">{{vm.request.field_extra_pickup.thoroughfare}}, {{vm.request.field_extra_pickup.locality}}, {{vm.request.field_extra_pickup.administrative_area}} {{vm.request.field_extra_pickup.postal_code}} <span ng-show="vm.request.apt_from.value.length">(Apt #{{vm.request.field_extra_pickup.premise}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_pickup.organisation_name]}}</div>

        </div>
        <div class="row_info row extrapickup"  ng-if="extraDropoff">
            <div class="col-md-12 title nopadding">Extra Drop-off</div>
            <div class="col-md-12 info nopadding">{{vm.request.field_extra_dropoff.thoroughfare}}, {{vm.request.field_extra_dropoff.locality}}, {{vm.request.field_extra_dropoff.administrative_area}} {{vm.request.field_extra_dropoff.postal_code}}<span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.field_extra_dropoff.premise}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_dropoff.organisation_name]}}</div>
        </div>


        <div class="row_info row">
            <div class="col-md-12 title nopadding" ng-hide="vm.pickupOnly">Moving to:</div>
            <div class="col-md-12 info nopadding">
            <span ng-if="vm.request.field_moving_to.thoroughfare == 'Enter Address' || !vm.request.field_moving_to.thoroughfare" ng-click="vm.openAddressModal()" style="color: #ED6B61; cursor: pointer;">Enter Address</span>
            <span ng-if="vm.request.field_moving_to.thoroughfare != 'Enter Address'  && vm.request.field_moving_to.thoroughfare" >{{vm.request.field_moving_to.thoroughfare}}</span>
            , {{vm.request.field_moving_to.locality}}, {{vm.request.field_moving_to.administrative_area}} {{vm.request.field_moving_to.postal_code}}<span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.apt_to.value}})</span></div>
            <div class="col-md-12 info nocolor nopadding">{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_to.raw]}}</div>
        </div>
        <div class="row_info row packing-day-request" ng-if="vm.request.request_all_data.packing_request_id">
            <a ng-click="vm.goToNewRequest(vm.request.request_all_data.packing_request_id)" class="btn btn-primary">
                <span>View Packing Day Request</span>
            </a>
        </div>
    </div>

    <div class="edit_request" ng-class="{'disabled': vm.busyInventory}" ng-hide="vm.admin" ng-click="openEditModal()"><i class="icon-pencil"></i></div>
</div>

<ng-include ng-if="!showQuote" src="'app/requestpage/templates/overview/doNotShowQuote.html'" class="no-quote-box no-quote-{{vm.request.service_type.raw}}"></ng-include>

<!--SECONDARY INFO -->
<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/movesizeBlock.html?4'"></ng-include>

<!--VALUATION INFO -->
<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/valuation.html?'"></ng-include>
<!-- packings -->
<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/packings-request.html'"></ng-include>

<ng-include ng-if="showQuote" src="'app/requestpage/templates/overview/extraservices.html?5'"></ng-include>

<div id="long-distance-quote-block-account" ng-if="showQuote && vm.longDistanceGrandTotal" class="row general box_info" ng-show="vm.longDistance && vm.request.status.raw != 9">
    <div ng-show="vm.deposit">
        <div class="col-md-3 h2title">Paid Deposit</div>
        <div class="col-md-9 info">
            ${{vm.deposit}}
        </div>
    </div>
    <div class="col-md-3 h2title">Long Distance Grand Total</div>

    <div  class="col-md-9 info">
        <span ng-if="!vm.DiscountApply" >${{vm.longDistanceGrandTotal | number: 2 }}</span>
        <span ng-if="vm.DiscountApply" ng-class="{'cross':vm.DiscountApply}">${{vm.longDistanceQuoteUp | number: 2 }}</span>
        <span ng-if="vm.extraServices.length">(with Additional Services)</span>
        <div ng-if="vm.DiscountApply"  style="color: #EF692C;">${{vm.longDistanceGrandTotalDiscount | number:2 }}<br>
        You save ${{vm.longDistanceDiscount | number : 2}} ({{vm.longDistanceDiscountPercent | number : 1}}%)
        </div>
        <p ng-if="vm.request.status.raw == 1" class="quote_note"
           read-more data-height="75"
           textforshow="vm.longdistancePendingInfo"
        ></p>
        <p ng-if="vm.request.status.raw != 1" class="quote_note"
           read-more data-height="75"
           textforshow="vm.longdistanceNotConfirmedInfo"
        ></p>
    </div>
</div>
<div class="row general box_info" ng-show="showQuote && vm.longDistance && vm.request.status.raw != 9">
        <div class="col-md-3 h2title">Delivery Info</div>
        <div class="col-md-9 info">
            <p class="quote_note"
                           read-more data-height="75"
                           textforshow="vm.delivery_info_text"></p>
        </div>
</div>
<notes-directive request-note="vm.request" admin="vm.admin" is-foreman="vm.isForeman"></notes-directive>
<custom-blocks ng-if="vm.request && !vm.request.request_all_data.additionalBlock[0].isVisible"
               class="account-page-custom-block-wrapper"
               request="vm.request"></custom-blocks>
<general-blocks class="account-page-general-block-wrapper"
                request="vm.request"></general-blocks>
<ng-include src="'app/requestpage/templates/overview/additionalBlock.html'"></ng-include>
<div class="row general box_info" ng-if="vm.request.request_all_data.storage_request_id">
    <div class="col-md-3 h2title" style="line-height: 2.8;">Storage</div>
    <div class="col-md-9 info">
        <button class="btn btn-primary pull-right"
                ng-click="vm.goStorageTenant(vm.request.request_all_data.storage_request_id)">
            View Storage Statement
        </button>
    </div>
</div>
