<div class="row general box_info">
	<div class="col-md-7 col-sm-7 col-xs-7 move_size_row" id="move-size-block-account">
	    <div class="col-md-5 col-sm-5 nopadding  h2title">Move Size</div>
	    <div class="col-md-7 col-sm-7 info " ng-show="vm.request.move_size.raw != 11">
	        <div>
	            {{vm.request.move_size.value}}
				<span class="tip" ng-if="vm.request.field_useweighttype.value == '1' && vm.request.total_weight.weight">
	            	(Total {{vm.request.total_weight.weight}} c.f. / {{vm.request.total_weight.weight | cubicFootToPounds}} lbs)
				</span>
				<span class="tip" ng-if="vm.request.field_useweighttype.value == '2' && vm.request.inventory_weight.cfs">
	            	(Inventory {{vm.request.inventory_weight.cfs}} c.f. / {{vm.request.inventory_weight.cfs | cubicFootToPounds}} lbs)
				</span>
				<span class="tip" ng-if="vm.request.field_useweighttype.value == '3' && vm.request.custom_weight.value">
	            	(Custom {{vm.request.custom_weight.value}} c.f. / {{vm.request.custom_weight.value | cubicFootToPounds}} lbs)
				</span>
	        </div>
	        <div>{{vm.request.rooms.raw | rooms}}</div>
	    </div>
		<div class="col-md-7 col-sm-7 info" ng-show="vm.request.move_size.raw == 11">
			<div>
				{{vm.request.move_size.value}}
				<span class="tip">
					{{vm.commercialWeight.explanation}}
				</span>
			</div>
		</div>
	</div>

	<div class="loader loader-packing" ng-show="vm.packingUpdating">
		<ng-include src="'app/requestpage/templates/svg-loaders/loader-for-packing.html'"></ng-include>
	</div>

	<div id="packing-choosen-block-account" class="col-md-5 col-sm-5 col-xs-5" ng-class="{'disabled': vm.disable_menu || vm.admin || vm.packingUpdating}" ng-hide="vm.isHidePackingService || vm.isPackingDayRequest">
	    <div class="col-md-3 nopadding  h2title">Packing Services</div>
	    <div class="col-md-9 info ">
	        <div>
	        	<label for="myself" class="c-input c-radio">
	        		<input type="radio" name="packing-radio" id="myself" ng-model="vm.packing_service" value="0" ng-change="vm.choosePackingService(vm.packing_service, true)"/>
                 	<span class="c-indicator">I pack Myself
						 <i ng-show="vm.tooltipData.myselfPacking.isDisplay" class="custom-tooltip tooltips fa fa-info-circle"  tt-tool-tips tooltip-placement="'left'" tips-string="<div class='tips rmtips'> {{vm.tooltipData.myselfPacking.value}}</div>"></i>
					</span>
                </label>
	        </div>
	        <div>
	        	<label for="partial" class="c-input c-radio">
	        		<input type="radio" name="packing-radio" id="partial" ng-model="vm.packing_service" ng-change="vm.choosePackingService(vm.packing_service, true)" value="1" />
                	<span class="c-indicator">I need Partial Paсking
						<i ng-show="vm.tooltipData.partialPacking.isDisplay" class="custom-tooltip tooltips fa fa-info-circle"  tt-tool-tips tooltip-placement="'left'" tips-string="<div class='tips rmtips'> {{vm.tooltipData.partialPacking.value}}</div>"></i>
					</span>
                </label>
	        </div>
	        <div>
	        	<label for="full" class="c-input c-radio" >
	        		<input type="radio" name="packing-radio" id="full" ng-model="vm.packing_service" ng-change="vm.choosePackingService(vm.packing_service, true)" value="2" />
                	<span class="c-indicator">I need Full Packing
						<i ng-if="vm.tooltipData.fullPacking.isDisplay" class="custom-tooltip tooltips fa fa-info-circle"  tt-tool-tips tooltip-placement="'left'" tips-string="<div class='tips rmtips'> {{vm.tooltipData.fullPacking.value}}</div>"></i>
					</span>
                </label>
	        </div>
	    </div>
	</div>
</div>
