<div id="packing-request-account" class="row general box_info" ng-if="vm.packingSettings && vm.packingSettings.length >0">
    <div class="col-md-3 col-sm-3  h2title">Packings:</div>
    <div class="col-md-9 col-sm-9 info">
        <div class="col-md-12 col-sm-12 nopadding" style="border-bottom: 1px dotted rgba(128, 128, 128, 0.27);
    line-height: 20px;">
            <div class="col-md-3 col-sm-3 nopadding"></div>
            <div class="col-md-1 col-sm-1 nopadding request-packings-item">Quantity</div>
            <div class="col-md-2 col-sm-2 nopadding request-packings-item" ng-if="vm.request.service_type.raw != '5' && vm.request.service_type.raw != '7'">Unit Cost</div>
            <div class="col-md-2 col-sm-2 nopadding request-packings-item" ng-if="vm.request.service_type.raw == '5' || vm.request.service_type.raw == '7'">Unit Cost</div>
            <div class="col-md-2 col-sm-2 nopadding request-packings-item" ng-if="vm.packing.labor" ng-hide="vm.request.service_type.raw != '5' && vm.request.service_type.raw != '7'">
                <span ng-if="vm.request.service_type.raw == '5' || vm.request.service_type.raw == '7'">Labor Rate</span>
            </div>
            <div class="col-md-2 col-sm-2 nopadding request-packings-item">Total</div>
        </div>
        <div ng-repeat="packing in vm.packingSettings" class="col-md-12 col-sm-12 nopadding" style="border-bottom: 1px dotted rgba(128, 128, 128, 0.27);
    line-height: 20px;">
            <div class="col-md-3 col-sm-3 nopadding">{{packing.name}}:</div>
            <div class="col-md-1 col-sm-1 nopadding request-packings-item">
                <span ng-hide="packing.name == vm.packingNames.partial || packing.name == vm.packingNames.full">
                    {{packing.quantity }}
                </span>
            </div>
            <div class="col-md-2 col-sm-2 nopadding request-packings-item"
                 ng-if="vm.request.service_type.raw != '5' && vm.request.service_type.raw != '7'">
                <span ng-hide="packing.name == vm.packingNames.partial || packing.name == vm.packingNames.full">
                    $ {{packing.rate | number : 2}}
                </span>
            </div>
            <div class="col-md-2 col-sm-2 nopadding request-packings-item"
                 ng-if="vm.request.service_type.raw == '5' || vm.request.service_type.raw == '7'">
                <span ng-hide="packing.name == vm.packingNames.partial || packing.name == vm.packingNames.full">
                    $ {{packing.LDRate | number : 2}}
                </span>
            </div>
            <div class="col-md-2 col-sm-2 nopadding request-packings-item"
                 ng-if="vm.packing.labor"
                 ng-hide="vm.request.service_type.raw != '5' && vm.request.service_type.raw != '7'">
                <span ng-if="vm.request.service_type.raw == '5' || vm.request.service_type.raw == '7'" ng-hide="packing.name == vm.packingNames.partial || packing.name == vm.packingNames.full">
                    $ {{packing.laborRate | number : 2}}
                </span>
            </div>
            <div class="col-md-2 col-sm-2 nopadding request-packings-item">$ {{packing.total | number : 2}}</div>
        </div>
        <div ng-show="vm.isVisiblePackingTotal()" class="col-md-12 nopadding total" style="border-bottom: 1px dotted rgba(128, 128, 128, 0.27); line-height: 20px;">
            <div class="col-md-3 col-sm-3 nopadding">Total</div>
            <div class="col-md-2 col-md-offset-6 col-sm-2 col-sm-offset-6 nopadding request-packings-item" ng-class="{'col-md-offset-4 col-sm-offset-4': !vm.packing.labor && serviceType}">$ {{vm.getPackingTotal() | number : 2}}</div>
        </div>
    </div>
</div>
