<div>
	<div class="row general box_info valuation_row"
		 ng-if="vm.valuationShow">
		<div class="col-md-3 h2title">Valuation</div>
		<div class="col-md-9">
			<valuation-select-block
				after-change="afterChangeValuation(text)"
				request="vm.request"
				invoice="vm.invoice"
				request-interval="reactivateRequestInterval"
				is-admin="vm.admin">
			</valuation-select-block>
		</div>
	</div>
	<div id="fuel-surcharge-account" class="row general box_info fueld_surcharge_row"
		 ng-hide="!vm.fuelSurcharge || vm.fuelSurcharge == 0 || !showFlatRateFuel">
		<div class="col-md-3 h2title">
			<span>Fuel Surcharge</span>
		</div>
		<div class="col-md-9 info">
			$ {{vm.fuelSurcharge | number : 2}}
			<i ng-show="vm.tooltipData.fuelSurchrge.isDisplay" class="custom-tooltip fa fa-info-circle" tt-tool-tips
			   tips-string="<div class='tips rmtips'> {{vm.tooltipData.fuelSurchrge.value}}</div>"></i>
		</div>
	</div>
</div>
