      <div class="option table-responsive">
        <table class="table table-inbox table-hover">
          <tbody>
            <tr ng-repeat="item in vm.types">
              <td colspan="3"  class="notification-setting__title">
                <md-input-container class="md-block" flex-gt-sm>
                  {{item.title}}
                </md-input-container>
              </td>
              <td colspan="3">
               <md-input-container class="md-block" flex-gt-sm>
                <md-switch class="md-primary" ng-model="item.info.mail" ng-change="vm.updateEmail(item)" ng-true-value="'2'" ng-false-value="'3'" aria-label="Is email notification">
                  Send email notification
                </md-switch>
                <md-switch class="md-primary" ng-model="item.info.sales_permission" ng-change="vm.updateSalesPermision(item)" ng-true-value="1" ng-false-value="0" aria-label="Is email notification">
                  Show only my notification
                </md-switch>
              </md-input-container>              
            </td>
            <td colspan="2" class="notification-setting__title">
              <md-input-container  ng-blur="item.showTokens = false" id="message" class="md-block notification-setting__texarea" flex-gt-sm>
                <label>Template</label>
                <textarea rows="3"
                placeholder=""
                ng-model="item.info.templates"
                name="template{{item.ntid}}" id="template{{item.ntid}}" ng-click="item.showTokens = true" ng-blur="vm.templateBlur(item)"></textarea>

                <div class="token-list notification-setting__title" ng-show="item.showTokens">
                  <div class="token-list__item" ng-repeat="token in vm.tokens" ng-click="vm.addToken(token, item.ntid)">
                    {{ token }}
                  </div>
                </div>

              </md-input-container>


            </td>
            <td colspan="2" class="notification-setting__title">
              <md-input-container id="message" class="md-block notification-setting__chips" flex-gt-sm>
                <md-chips ng-model="item.info.users" md-autocomplete-snap md-on-add="vm.addUser($chip, item)"  md-on-remove="vm.removeUser($chip, item)"
                md-require-match="true">
                <md-autocomplete
                md-selected-item="item.selectedUserItem"
                md-search-text="item.searchUserText"
                md-items="text in vm.querySearchUser(item.searchUserText)"
                md-item-text="text.name"
                placeholder="Choose user">
                <span md-highlight-text="item.searchUserText">{{text.name}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip.name}}</strong>
                </span>
              </md-chip-template>
            </md-chips>
          </md-input-container>
        </td>
      </tr>

    </tbody>
  </table>
</div>