<div class="pageheader">
                <h1>Notification Settings </h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li>Settings</li>
                        <li class="active">Notifications</li>
                    </ol>
                </div>
  </div>
<section id="main-content" class="animated fadeInUp general calcsettings long_distance_Lists"  ng-controller="NotificationsContorller as vm" >
    <!--mail wrapper start-->
    <div class="row col-md-12 nopadding">
        <div class="col-md-12 col-sm-12" id="inbox-wrapper">
            <div class="tab_content active">
              <notifications-rules ng-show="vm.tabs.basic.selected"></notifications-rules>
            </div>
  
        </div>
       
    </div>
    
    <!--mail wrapper end-->
</section>
