.md-chips
	font-size 12px !important
md-chip
	height 24px !important
	line-height: 24px !important
.md-chip-remove
	width 24px !important
	height 24px !important
.md-virtual-repeat-container.md-autocomplete-suggestions-container
	z-index 1001 !important
// .md-scroll-mask
// 	z-index 1000 !important
.notification-setting
	&__title
		padding-top 24px !important
		font-family Roboto
		font-size 14px
	&__texarea
		width 300px
	&__chips
		width 300px
	&__input-label
		margin-top 3px
		padding-right 5px
	&__input
		padding-top 24px !important
		font-family Roboto
		font-size 14px
		display: flex
		flex-direction row
		align-items center
		justify-content flex-start
.user-notifications
	font-family Roboto
	&__title
		text-align center
	&__list
		font-size 13px
	.margin-top-one
		margin-top 1em
