.token-list
	margin-left 350px
	margin-top -100px
	background #000
	opacity 0.7
	position absolute
	width 200px
	border-radius 5px 5px 5px 5px
	padding 10px 0
	z-index 100
	&__item
		width 100%
		height 20px
		line-height 15px
		text-align center
		color white 
		font-size 14px
		cursor pointer
		
		&:hover
			background: #888