mixin aside(data)
	- data = data || {};

	+b.aside.js-aside&attributes(attributes)
		each title in data.titles
			- var isTitleOpened = false;
			each item in title.items
				if item.text === pageTitle
					- isTitleOpened = true;
			+e.wrap-aside(class=isTitleOpened ? '_state_opened' : '').js-aside-wrap
				+e.nav.js-aside-nav
					+e.title=title.text
				+e.items.js-aside-items
					each item in title.items
						+e('a').link(
							href=item.href || jv0
							class=(item.text == pageTitle) ? '_state_active' : ''
							data-filter= filter ? ('filter' + Math.floor(Math.random() * 10)) : false
							).js-aside-inner.js-aside-item
							+e.item=item.text
