@import "../../../style/default.styl"

.aside
	width 245px

	&__wrap-aside
		font-size 0
		margin-top 10px

		&_state_opened
			margin-bottom 12px
			background #dedede
		&_state_opened .aside__title
			font-weight 700
		&_state_opened .aside__items
			height initial
			//opacity 1
			transform scale(1)

	&__nav
		cursor pointer
		margin-left 10px

	&__items
		overflow hidden
		height 0
		margin-left 20px
		//transition opacity .3s, height .3s, overflow .3s
		backface-visibility hidden
		//will-change opacity, height, overflow

	&__title
		padding-y 16px
		margin-left 42px
		line-height 32px
		font-family geom
		font-size 13px
		text-transform uppercase
		color black

	&__count
		float right
		margin-right 30px
		font-size 16px
		
		&_item
			font-size 13px
			font-weight: normal
	&__link
		display block
		text-decoration none
		&_state_active
			cursor default
			pointer-events none
		&:not(:last-child)
			padding-bottom 17px

	&__item
		font-family geom
		font-size 13px
		color black
		margin-left 20px
		^[0]__link_state_active &
			color #900
			font-weight: bold
	&__icon
		width 25px
		height 25px
		float left