.aside-new
	width 245px

	&_full-width
		width 100%
	
	&__aside-mobile
		height 100vh
		background #fff
		width 100%
		margin-top -10px

	&__wrap-aside
		font-size 0
		margin-top 10px

		&_state_opened
			margin-bottom 8px
			background #dedede
		&_state_opened .aside__title
			font-weight 700
		&_state_opened .aside__items
			height initial
			//opacity 1
			transform scale(1)

	&__nav
		cursor pointer
		margin-left 10px
		padding-top 6px
		padding-bottom 6px
		&_no-margin
			margin-left 0
		^[0]__aside-mobile &
			padding-top 16px
			padding-bottom 16px

	&__items
		overflow hidden
		max-height 0
		margin-left 20px
		//transition opacity .3s, max-height .3s, overflow .3s
		backface-visibility hidden
		//will-change opacity, height, overflow
		position relative
		^[0]__aside-mobile &
			font-size 18px
			margin-left 8px
		
		&_state_opened
			max-height 800px
			border-bottom 1px solid #ddd
			transition max-height .6s


	&__title
		position relative
		margin-left 42px
		font-family geom
		font-size 13px
		text-transform uppercase
		color black
		^[0]__aside-mobile &
			margin-left 46px
			font-size 18px
		
		&_package
			margin-left 22px
	
	&__edit-item
		margin-right 10px
		font-size 16px
		margin-top -10px
		//opacity 0
		transition 0.2s all
		position absolute
		top 0
		right 3px
		width 100%
		justify-content flex-end
		display flex
		z-index 10
		cursor pointer
		
		//&:hover
			//opacity 1
	&__edit
		margin-right 10px
		font-size 16px
		margin-top -2px
		//opacity 0
		transition 0.2s all
		position absolute
		top 0
		right 3px
		width 100%
		justify-content flex-end
		display flex
		z-index 10
		
		//&:hover
			//opacity 1


	&__count
		float right
		margin-right 30px
		font-size 16px
		^[0]__aside-mobile &
			font-size 18px
		&_absolute
			position absolute
			right 0
		&_item
			font-size 13px
			font-weight normal
			
	&__link
		display block
		text-decoration none
		padding-bottom 5px
		padding-top 5px
		^[0]__aside-mobile &
			padding-bottom 10px
			padding-top 10px
		&_state_active
			cursor default
	&__link-wrap
		margin-left -40px
			

	&__item
		font-family geom
		font-size 13px
		color black
		margin-left 20px
		position relative
		^[0]__aside-mobile &
			font-size 18px
		^[0]__link_state_active &
			color #900
			font-weight: bold
			
		&_flex
			display flex
			position relative
			height 20px
	&__item:before
		background #900
		width 10px
		height 10px
				
	&__item-title
		width 70%
		word-wrap break-word
		cursor pointer
		
		&_absolute
			position absolute
	&__icon
		width 25px
		height 25px
		float left
		margin-top -6px
		^[0]__aside-mobile &
			width 28px
			height 28px