.restore-email-page(class="middle-box text-center loginscreen animated fadeInDown" ng-class="{'disable':busy}")
	div
		h1(class="logo-name")
			i(class="fa fa-truck")
	h3 E-mail New Password
	form(class="m-t ng-pristine ng-valid" ng-submit="restorePassword()" role="form" name="form")
		.busyoverlay(ng-show="loading")
			.sk-cube-grid
				.sk-cube(class="sk-cube1")
				.sk-cube(class="sk-cube2")
				.sk-cube(class="sk-cube3")
				.sk-cube(class="sk-cube4")
				.sk-cube(class="sk-cube5")
				.sk-cube(class="sk-cube6")
				.sk-cube(class="sk-cube7")
				.sk-cube(class="sk-cube8")
				.sk-cube(class="sk-cube9")
		.restore-email-error-message(ng-show="form.email.$invalid && !form.email.$pristine") Enter a valid email.
		.restore-email-error-message {{error}}
		.form-group
			input(class="form-control" id="email" ng-model="email" placeholder="Email" type="email" name="email" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$")
		button(ng-disabled="form.$invalid || dataLoading" type="submit" class="btn btn-primary block full-width m-b") E-mail New Password
	p(class="m-t")
		small Powered by Elromco 2015