.dispatch-assign-crew-control-block
	display flex
	flex-direction column
	justify-content center
	&__btn
		text-transform uppercase
		font-weight 600
		outline 0
		&.assign
			border-bottom 3px solid rgba(39, 174, 96, 1)
			color #fff !important
			background-color rgba(39, 174, 96, .8)
			transition margin-top .3s ease-in-out, border-bottom .2s ease-in-out
			&:active
				margin-top 3px
				border-bottom 0
		&.unassign
			background-color #fff
			color #fb8f50


.dispatch-worker-crew-control-block
	&__btn
		color #333 !important
		text-transform uppercase
		font-weight 600
		outline 0
		background-color #fff
		&[disabled]
			background-color #fff

.no-helper
	border-color #c0392b

.local-dispatch__crew-panel
	max-height 90vh
	min-height: 531px;
	box-shadow 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
