<div ng-if="request.serviceType != 7 && request.serviceType != 5" class="confgrats_box">
	<div show-data template="{{movecalcFormSettings.fourthStepLocalMove}}">
	</div>
    <a style="background-color: {{movecalcFormSettings.companyColor}};" class="request-button button request-buttom-margin-none"  href="{{requesturl}}" target="_blank" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.confirmationLocalMove)"></a>
</div>
<div ng-if="request.serviceType == 5" class="confgrats_box">
	<div show-data template="{{movecalcFormSettings.fourthStepFlatRate}}">
	</div>
	<br>
	<a style="background-color: {{movecalcFormSettings.companyColor}};" class="request-button button request-buttom-margin-none" href="{{requesturl}}" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.confirmationFlatRate)"></a>
</div>
<div ng-if="request.serviceType == 7" class="confgrats_box">
	<div show-data template="{{movecalcFormSettings.fourthStepLongDistance}}">
	</div>
	<br>
	<a style="background-color: {{movecalcFormSettings.companyColor}};" class="request-button button request-buttom-margin-none" href="{{requesturl}}" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.confirmationLongDistance)"></a>
</div>
