<div ng-if="storageMove && overnightMove" class="confgrats_box">
	<div show-data template="{{movecalcFormSettings.fourthStepOvernightStorage}}">
	</div>
	<br>
	<a style="background-color: {{movecalcFormSettings.companyColor}};" class="request-button button request-buttom-margin-none"  href="{{requesturl}}" target="_blank" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.confirmationStorageOvernight)"></a>
</div>
<div ng-if="storageMove && !overnightMove" class="confgrats_box">
	<div show-data template="{{movecalcFormSettings.fourthStepOurStorage}}">
	</div>
	<br>
	<a style="background-color: {{movecalcFormSettings.companyColor}};" class="request-button button request-buttom-margin-none"  href="{{requesturl}}" target="_blank" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.confirmationStorageOur)"></a>
</div>