<div class="three_block left-block direction_info">
	<div google-map-route
		 id="map_direction"
		 address-from="request.addressFrom"
		 address-to="request.addressTo"></div>

	<h3>Moving From:</h3>
	<p class="company-color calc_left_info">{{request.addressFrom.full_adr}}<span class="bs"> ({{request.typeFromText}})</span> </p>
	<h3>Moving To:</h3>
	<p class="company-color calc_left_info" ng-class="{'error-address' : !moveToState}">{{request.addressTo.full_adr}}<span class="bs"> ({{request.typeToText}})</span></p>
	<h3>Distance:</h3>
	<p class="company-color calc_left_info"> {{requestCalcResult.distance}} miles</p>
	<div ng-if="showQuoteFront && request.serviceType == 7 && requestCalcResult.quote">
		<h3>Estimated quote:</h3>
		<p class="company-color calc_left_info"> {{requestCalcResult.quote | number:0}}$</p>
	</div>

	<button class="btn btn-default btn-3d request-buttom-margin-none" ng-Click="PrevStep('#edit-calculator-results')" type="button" id="back-to-calc-btn">
		<div ng-if="isSecondStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultSecondBack)"></div>
		<div ng-if="isThirdStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultFirstBack)"></div>
	</button>
</div>

<div class="calc_block form-block three_block">
	<div class="form_block calc-form">
		<div class="box_info general">
			<div class="moving-date">
				<h3>Desired Move Date:</h3>
				<span class="company-color" ng-bind="request.moveDateTime | date:'EEEE, MMM d, y'"></span>
			</div>
			<div class="moving-date" ng-hide="request.serviceType == 7">
				<h3>Type of Service:</h3>
				<span class="company-color">
                    Flat Rate
                    <span class="company-color inline-commercial" ng-show="request.moveSize == 11"> - {{request.moveSizeText}}</span>
                </span>
			</div>
			<div class="moving-date" ng-show="request.serviceType == 7">
				<h3>Type of Service:</h3>
				<span class="company-color">
                    Long Distance
                    <span class="company-color inline-commercial" ng-show="request.moveSize == 11"> - {{request.moveSizeText}}</span>
                </span>
			</div>
			<div class="moving-date">
				<h3>Size of Move:</h3>
				<span class="company-color long">{{request.moveSizeText}}</span>
			</div>
			<i class="rooms">{{request.roomsText}}</i>

			<div ng-if="showQuoteFront && request.serviceType == 7">
				<div class="moving-date travel-time" ng-if="equipmentFee.amount">
					<h3>{{equipmentFee.name}}:</h3>
					<span class="company-color"> ${{equipmentFee.amount | number: 2}}
                </span>
				</div>
				<div class="moving-date" ng-show="requestCalcResult.surcharge_fuel">
					<h3>Fuel Surcharge:</h3>
					<span class="company-color">${{requestCalcResult.surcharge_fuel| number: 2}}</span>
				</div>
				<div class="moving-date box_info" ng-show="requestCalcResult.extraServiceTotal">
					<table class="extra-service">
						<thead>
						<tr>
							<th colspan="2">
								Extra services
							</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="extraService in request.extraServices">
							<td>{{extraService.name}}:</td>
							<td class="price company-color">${{extraService.extra_services[0].services_default_value | number: 2}}</td>
						</tr>
						<tr ng-if="request.extraServices.length > 1">
							<td>Total:</td>
							<td class="price company-color">${{requestCalcResult.extraServiceTotal| number: 2}}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<!--IF Discount -->
				<div ng-hide="!requestCalcResult.quote" class="moving-date " ng-if="requestCalcResult.localdiscount">
					<h3>Estimated quote:</h3>
					<span style="text-decoration: line-through;color: #848484;">${{requestCalcResult.discountQuote | number :0}}</span>
				</div>
				<div ng-hide="!requestCalcResult.quote" class="moving-date" ng-if="requestCalcResult.localdiscount">
					<h3></h3>
					<span class="company-color" style="margin-left: 135px;">${{requestCalcResult.quote}}</span>
				</div>

				<div ng-hide="!requestCalcResult.quote" class="moving-date" ng-if="!requestCalcResult.localdiscount">
					<h3>Estimated quote:</h3>
					<span class="company-color">${{requestCalcResult.quote}}</span>
				</div>
			</div>
		</div>
		<div ng-if="request.serviceType == 7" class="box_info" show-data template="{{movecalcFormSettings.calcResultLongDistanceExplanationCenterBlock}}">
		</div>

		<div ng-if="request.serviceType != 7" class="box_info" show-data template="{{movecalcFormSettings.calcResultFlatRateExplanationCenterBlock}}">
		</div>
	</div>
</div>

<div class="three_block right-block">
	<div class="bigform-longdistance-results-text" id="calc-results2">
		<div ng-if="request.moveSize == 11"
			 class="calc-intro-info"
			 ng-bind-html="toTrustedHTML(customizedText.quoteExplanation['8'])"></div>
		<div ng-show="request.moveSize != 11">
			<div ng-if="request.serviceType != 7"
				 class="calc-intro-info"
				 ng-bind-html="toTrustedHTML(movecalcFormSettings.thirdStepRightBlockFlatRate)"></div>
			<div ng-if="request.serviceType == 7"
				 class="calc-intro-info"
				 ng-bind-html="toTrustedHTML(longdistance.form_info_right)"></div>
		</div>

		<a ng-if="isSecondStepFirst()" ng-click="NextStep('#edit-calculator-results')"
           ng-class="{'processing': loadingImg, 'default': !loadingImg}"
           id="submitRequestButton"
           class="btn btn-success btn-3d request-buttom-margin-none" type="button" name="op"
           ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultSecondNext)">
		</a>
		<button ng-if="isThirdStepFirst()" class="btn btn-primary btn-3d request-buttom-margin-none"
				style="background-color: {{movecalcFormSettings.companyColor}};-webkit-box-shadow: 0 6px 0 {{companycolorLighter}};-moz-box-shadow: 0 6px 0 {{companycolorLighter}};box-shadow: 0 6px 0 {{companycolorLighter}};border-color: {{companyColorDarker}};"
				ng-class="{'processing': loadingImg, 'default': !loadingImg}" ng-click="GoToInfo()" type="button" id="edit-go-to-summery" name="op"
                ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultFirstNext)">
		</button>
	</div>
</div>
