<a ng-click="toggleOverlay('overlay-calendar')" class="btn-blue wow calendar_button fadeInUp">Check Moving Calendar here</a>

<div class='ng-overlay' ng-class="{'open': overlayShown,'close': !overlayShown}">
    <div class="container">
        <i class='overlay-close fa fa-times fa-2x' ng-click='toggleOverlay()'></i>
        <div class="overlay-calendar" style="display: none">
            <div ng-if="overlayShown" class="col-md-8 col-sm-8 col-xs-8 calendar-popup">

                <div class="year" ng-repeat="(year,yearArray) in calendarshow">

                    <h1 class="year">{{year}}</h1>

                    <div class="month"  ng-if="year == currentYear" ng-repeat="month in range(currentMonth,12,1)">
                        <calendar calendar="calendar" types="calendarTypes" class="clndr-ang" year="year" month="month"></calendar>
                    </div>

                    <div class="month"  ng-if="year != currentYear" ng-repeat="month in range(1,2,1)">
                        <calendar calendar="calendar" types="calendarTypes" class="clndr-ang" year="year" month="month"></calendar>
                    </div>

                    <span class="clearfix"></span>
                </div>



            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 calendar-left">

                <h3>Federal Holidays</h3>
                <ul class="holidays">
                    <li>1/1 - New Year's Day</li>
                    <li>1/19 - Martin Luther King, Jr. Day</li>
                    <li>2/16* - George Washington's Birthday</li>
                    <li>5/25 - Memorial Day</li>
                    <li>7/3* -Independence Day</li>
                    <li>9/7 - Labor Day</li>
                    <li>10/12 - Columbus Day</li>
                    <li>11/11 - Veterans Day</li>
                    <li>11/26 - Thanksgiving Day</li>
                    <li>12/25 - Christmas Day</li>
                </ul>
                <ul class="holidays" style="margin-top: 30px;">
                    <li class="type dicount">Discount</li>
                    <li class="type regular">Regular</li>
                    <li class="type subpeak">Sub-Peak</li>
                    <li class="type peak">Peak</li>
                    <li class="type highpeak">Hi-Peak</li>
                    <li class="type" style="color: black !important;
        font-size: 13px;">X - Not Available</li>
                </ul>
            </div>
        </div>
    </div>
</div>

