<section id="home" class="slide">

    <div class="fh5co-overlay"></div>

    <div class="promo_block wow fadeInRight" ng-show="!loading" ng-bind-html="basicsettings.fp_promo_block_text"></div>
    <div class="calculate">
        <ultrasmall-form></ultrasmall-form>
        <!--
        <ultra-form></ultra-form>
        <small-desktop-form ng-if="!ifMobile" class="desktop-short-form" ></small-desktop-form>
        -->
    </div>


    <div id="loader" class="overlay-loader" style="background: rgba(255, 255, 255, 0.88);" ng-class="{'fadedout':!loading}" >
        <div class="loader"><img src="https://themoveboard.com/elromco/squares.gif"></div>
    </div>

</section>
