<div class="three_block left-block direction_info">
	<div google-map-route
		 id="map_direction"
		 address-from="request.addressFrom"
		 address-to="request.addressTo"></div>

    <div ng-if="request.serviceType == 1 || request.serviceType == 5">
        <h3>Moving From:</h3>
        <p class="company-color calc_left_info">{{request.addressFrom.full_adr}}
            <span class="bs"> ({{request.typeFromText}})</span>
        </p>
        <h3>Moving To:</h3>
        <p class="company-color calc_left_info" ng-class="{'error-address' : !moveToState}">{{request.addressTo.full_adr}}
            <span class="bs"> ({{request.typeToText}})</span></p>
        <h3>Distance:</h3>
        <p class="company-color calc_left_info"> {{request.distance | number : 2}} miles</p>
    </div>

    <div ng-if="request.serviceType == 3 || request.serviceType == 4">
        <h3>Moving Address:</h3>
        <p class="company-color calc_left_info">{{request.addressFrom.full_adr}}
            <span class="bs"> ({{request.typeFromText}})</span>
        </p>
    </div>

    <button class="btn btn-default btn-3d request-buttom-margin-none" ng-Click="PrevStep('#edit-calculator-results')" type="button" id="back-to-calc-btn">
        <div ng-if="isSecondStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultSecondBack)"></div>
        <div ng-if="isThirdStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultFirstBack)"></div>
    </button>
</div>

<div class="calc_block form-block three_block">
    <div class="form_block calc-form">
        <div class="box_info general">
            <div class="moving-date">
                <h3>Desired Move Date:</h3>
                <span class="company-color" ng-bind="request.moveDateTime | date:'EEEE, MMM d, y'"></span>
            </div>
            <div class="moving-date">
                <h3>Type of Service:</h3>
                <span class="company-color">
                    {{request.serviceTypeText}}
                    <span class="company-color inline-commercial" ng-show="request.moveSize == 11"> - {{request.moveSizeText}}</span>
                </span>
            </div>
            <div class="moving-date">
                <h3>Size of Move:</h3>
                <span class="company-color long">{{request.moveSizeText}}</span>
            </div>
            <i class="rooms">{{request.roomsText}}</i>
        </div>
        <div ng-if="getFrontQuoteExplanation()" class="box_info detailsinfo">
            <div class="moving-date">
                <h3>Crew Size:</h3>
                <span class="company-color">{{request.crew }} movers</span>
            </div>
            <div class="moving-date">
                <h3>Truck:</h3>
                <span class="company-color" ng-if="request.truck == 1"> {{request.truck }} Truck</span>
                <span class="company-color" ng-if="request.truck > 1"> {{request.truck }} Trucks</span>
            </div>

            <div class="moving-date travel-time" ng-hide="isDoubleDriveTime" ng-if="calcsettings.travelTime">
                <h3>{{::calcsettings.travelTimeName}}:</h3>
                <span class="company-color"> {{request.travelTime | hrmin}}
                    <i elromcotooltips class="company-color tooltips  fa fa-info-circle" style="position: absolute; z-index: 2;">
                        <div class="tips rmtips geninfo" show-data template="{{movecalcFormSettings.localMoveTravelTimeToolTip}}">
                        </div>
                    </i>
                </span>
            </div>
            <div class="moving-date travel-time" ng-show="isDoubleDriveTime && request.serviceType != 3 && request.serviceType != 4 && !!request.double_travel_time">
                <h3>{{::calcsettings.doubleDriveTimeName}}:</h3>
                <span class="company-color"> {{request.double_travel_time | hrmin}}
                    <i elromcotooltips class="company-color tooltips  fa fa-info-circle" style="position: absolute; z-index: 2;">
                        <div class="tips rmtips geninfo" show-data template="{{movecalcFormSettings.localMoveTravelTimeToolTip}}">
                        </div>
                    </i>
                </span>
            </div>
            <div class="moving-date travel-time" ng-if="equipmentFee.amount">
                <h3>{{equipmentFee.name}}:</h3>
                <span class="company-color"> ${{equipmentFee.amount | number: 2}}
                </span>
            </div>

            <div class="moving-date rate">
                <h3>Hourly Rate:</h3>
                <span class="company-color">
                    <i style="text-decoration: line-through;font-style: normal;margin-right: 5px;color: #6B6B6B;" ng-if="localdiscountOn" class="cross">${{requestCalcResult.discountRate | number : 0}}/Hr</i>
                     ${{request.rate}}/hr
                    <i elromcotooltips class="company-color tooltips fa fa-info-circle" style="position: absolute; z-index: 1;">
                        <div class="tips rmtips hourly" show-data template="{{movecalcFormSettings.localMoveHourlyRateToolTip}}">
                        </div>
                    </i>
                </span>
            </div>

            <div class="moving-date travel-time" ng-show="requestCalcResult.surcharge_fuel">
                <h3>Fuel Surcharge:</h3>
                <span class="company-color">${{requestCalcResult.surcharge_fuel| number: 2}}</span>
            </div>

            <div class="moving-date est-time" ng-hide="isDoubleDriveTime">
                <h3>Estimated Job Time:</h3>
                <span class="company-color" ng-if="!requestCalcResult.small_job">{{requestCalcResult.minTime | hrmin }} - {{requestCalcResult.maxTime | hrmin}}</span>
                <span class="company-color" ng-if="requestCalcResult.small_job">{{min_hours | hrmin }} (minimum)
                    <i elromcotooltips class="company-color tooltips fa fa-info-circle"><div class="tips rmtips estinfo"><b>Job Time = Move Time + {{::calcsettings.travelTimeName}}.</b><br><b>Move Time</b>&nbsp;starts once movers arrive to your origin address and ends when movers finish unloading at the destination address.<br> Lunch breaks will be deducted of your total&nbsp; Job Time.</div></i>
                </span>
            </div>

            <div class="moving-date est-time" ng-show="isDoubleDriveTime">
                <h3>Estimated Job Time:</h3>
                <span class="company-color" ng-if="!requestCalcResult.small_job">{{requestCalcResult.minTime | hrmin }} - {{requestCalcResult.maxTime | hrmin}}</span>
                <span class="company-color" ng-if="requestCalcResult.small_job">{{min_hours | hrmin }} (minimum)
                    <i elromcotooltips class="company-color tooltips fa fa-info-circle"><div class="tips rmtips estinfo"><b>Job Time = Move Time + {{::calcsettings.travelTimeName}}.</b><br><b>Move Time</b>&nbsp;starts once movers arrive to your origin address and ends when movers finish unloading at the destination address.<br> Lunch breaks will be deducted of your total&nbsp; Job Time.</div></i>
                </span>
            </div>

            <!-- Discount -->
            <div ng-if="localdiscountOn">
                <div ng-if="!requestCalcResult.small_job" class="moving-date est-quote">
                    <h3>Estimated quote:</h3>
                    <span style="text-decoration: line-through;color: #6B6B6B;font-weight: normal !important;">${{requestCalcResult.discountMinQuote | number :2}} - ${{requestCalcResult.discountMaxQuote | number :2}}</span>
                </div>
                <div ng-if="requestCalcResult.small_job" class="moving-date est-quote">
                    <h3>Estimated quote:</h3>
                    <span style="text-decoration: line-through;color: #6B6B6B;font-weight: normal !important;">${{requestCalcResult.discountMinQuote | number :2}}</span>
                </div>
            </div>
            <div ng-if="localdiscountOn">
                <div ng-if="!requestCalcResult.small_job" class="moving-date est-quote">
                    <h3></h3>
                    <span class="company-color" style="margin-left: 135px;">${{requestCalcResult.minQuote | number :2}} - ${{requestCalcResult.maxQuote | number :2}}</span>
                </div>
                <div ng-if="requestCalcResult.small_job" class="moving-date est-quote">
                    <h3></h3>
                    <span class="company-color" style="margin-left: 135px;">${{requestCalcResult.minQuote | number :2}}</span>
                </div>
            </div>

            <div ng-if="!localdiscountOn">
                <div ng-if="!requestCalcResult.small_job" class="moving-date est-quote">
                    <h3>Estimated quote:</h3>
                    <span class="company-color">${{requestCalcResult.minQuote | number :2}} - ${{requestCalcResult.maxQuote | number :2}}</span>
                </div>
                <div ng-if="requestCalcResult.small_job" class="moving-date est-quote">
                    <h3>Estimated quote:</h3>
                    <span class="company-color">${{requestCalcResult.minQuote | number :2}}</span>
                </div>
            </div>
        </div>
        <div ng-if="!getFrontQuoteExplanation()" class="box_info detailsinfo"
             show-data template="{{movecalcFormSettings.thirdStepCenterBlockLocalMoveHideQuote}}">
        </div>
    </div>
</div>

<div class="three_block right-block">
    <div class="bigform-localmove-results-text" id="calc-results2">
        <div ng-if="request.moveSize == 11" class="calc-intro-info calc-commercial-size" ng-bind-html="toTrustedHTML(customizedText.quoteExplanation['8'])"></div>
        <div class="include-calc-intro-info" ng-if="request.moveSize != 11">
            <div ng-if="getFrontQuoteExplanation()" class="calc-intro-info" ng-bind-html="toTrustedHTML(movecalcFormSettings.thirdStepRightBlockLocalMove)">
            </div>
            <div ng-if="!getFrontQuoteExplanation()" class="calc-intro-info" ng-bind-html="toTrustedHTML(movecalcFormSettings.thirdStepRightBlockLocalMoveHideQuote)">
            </div>
        </div>
        <div class="review-loading" ng-if="loadingImg"><img src="localmoveCalcResult.html">Loading...
        </div>
        <a ng-if="isSecondStepFirst()"
           ng-click="NextStep('#edit-calculator-results')"
           ng-class="{'processing': loadingImg, 'default': !loadingImg}"
           id="submitRequestButton" class="btn btn-success btn-3d request-buttom-margin-none" type="button" name="op"
            ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultSecondNext)"></a>
        <button ng-if="isThirdStepFirst()" class="btn btn-primary btn-3d request-buttom-margin-none"
                style="background-color: {{movecalcFormSettings.companyColor}};-webkit-box-shadow: 0 6px 0 {{companycolorLighter}};-moz-box-shadow: 0 6px 0 {{companycolorLighter}};box-shadow: 0 6px 0 {{companycolorLighter}};border-color: {{companyColorDarker}};"
                ng-class="{'processing': loadingImg, 'default': !loadingImg}"
                ng-click="GoToInfo()" type="button" id="edit-go-to-summery" name="op"
                ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultFirstNext)">
        </button>
    </div>
</div>
