<ng-slide-push-menu id="congrats_menu" class="" position="right">
    <div class="toolbar">
        <button ng-slide-menu="congrats_menu" tabindex="-1"><span>&lt;</span> Back</button>
        <button class="pull-right" ng-slide-menu="congrats_menu" tabindex="-1">Done</button>
    </div>

    <div class="slide-wrapper" style="text-align: center;">
        <div class="ng-binding">
            <div><img src="https://themoveboard.com/elromco/success-icon.png" tabindex="-1"></div>
            <div class="congrats-title" style="font-weight: bold;"
                 ng-bind-html="::parseTags(movecalcFormSettings.topFormCongrats)" tabindex="-1">
            </div>
            <a class="btn submit_btn mobileform" href="{{requesturl}}" tabindex="-1"
               ng-bind-html="::toTrustedHTML(movecalcFormSettings.topFormCongratsButton)">
            </a>
        </div>
</ng-slide-push-menu>
