

<div ng-bind-html="toTrustedHTML(movecalcFormSettings.companySlogan)">
</div>

<div id="block-movecalc-moving-form" class="er-request-form">
    <form action="/" method="post" class="moving-form" id="movecalc-moving-form" accept-charset="UTF-8" autocomplete="off">
        <div>
            <ul id="progressbar">
                <span class="progressline"></span>
                <li class="active">
                    <div class="circle" ng-style="companyBGColor"></div>
                    <div class="icon discovery"></div>
                    <div class="dot"></div>
                    <h2>{{movecalcFormSettings.buttonsText.calculatorTitle}}</h2>
                </li>
                <div ng-if="isSecondStepFirst()">
                    <li>
                        <div class="circle" ng-style="companyBGColor"></div>
                        <div class="icon discovery"></div>
                        <div class="dot"></div>
                        <h2>{{movecalcFormSettings.buttonsText.customerInfoTitle}}</h2>
                    </li>
                    <li>
                        <div class="circle" ng-style="companyBGColor"></div>
                        <div class="icon discovery"></div>
                        <div class="dot"></div>
                        <h2>{{movecalcFormSettings.buttonsText.calcResultTitle}}</h2>
                    </li>
                </div>
                <div ng-if="isThirdStepFirst()">
                    <li>
                        <div class="circle" ng-style="companyBGColor"></div>
                        <div class="icon discovery"></div>
                        <div class="dot"></div>
                        <h2>{{movecalcFormSettings.buttonsText.calcResultTitle}}</h2>
                    </li>
                    <li>
                        <div class="circle" ng-style="companyBGColor"></div>
                        <div class="icon discovery"></div>
                        <div class="dot"></div>
                        <h2>{{movecalcFormSettings.buttonsText.customerInfoTitle}}</h2>
                    </li>
                </div>
                <li>
                    <div class="circle" ng-style="companyBGColor"></div>
                    <div class="icon discovery"></div>
                    <div class="dot"></div>
                    <h2>{{movecalcFormSettings.buttonsText.confirmationTitle}}</h2>
                </li>
            </ul>
            <!-- First Step -->
            <fieldset class="form-wrapper" id="edit-calculator">
                <div class="fieldset-wrapper">
                    <div class="three_block info_block left-block">
                        <div id="calc-results"></div>
                        <div id="calc-info-steps" style="text-align:center;">
                            <div ng-if="!wasReset" class="calc-intro" ng-bind-html="toTrustedHTML(movecalcFormSettings.firstStepLeftBlock)">
                            </div>
                            <div ng-if="wasReset" class="calc-intro" ng-bind-html="toTrustedHTML(movecalcFormSettings.firstStepLeftAfterResetBlock)">
                            </div>

                            <div class="box_info">
                                <div class="calc-intro_description">
                                    <div class="moving-date"></div>
                                    <div class="delivery-date"></div>
                                    <div class="service-type"></div>
                                    <div class="clearfix"></div>
                                    <div class="moving-from"></div>
                                    <div class="moving-to"></div>
                                    <div class="travel_time"></div>
                                    <div class="move-size"></div>
                                    <p class="distance"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span ng-if="loading" style="position: absolute; margin-left: 40%; margin-top: 19%;">Loading...</span>
                    <div class="three_block form-block" ng-class="{'disabled2': loading}">
                        <div class="form-group-left">
                            <label>Desired Move Date: </label>
                            <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                   class="required form-text input-element-processed"
                                   readonly="readonly"
                                   tabindex="-1"
                                   type="text"
								   change-move-date-process
                                   ng-model='request.moveDate'
                                   id="edit-move-date-datepicker-popup-0"
                                   name="Move_Date[date]"
                                   pick-a-date="date"
                                   pick-a-date-options="MoveDatePickerOptions"
                                   value="" size="20" maxlength="30" />
                        </div>

                        <div class="form-group-right">
                            <label for="edit-service">Service Type: </label>
                            <select ng-class="{'disabled': loadingImg || request.serviceType =='5' || request.serviceType =='7', 'default': !loadingImg}"
                                    class="required form-select input-element-processed"
                                    id="edit-service" name="Service"
                                    ng-model="request.serviceType" servicetype>
                                <option ng-if="basicsettings.services.localMoveOn" value="1">{{::basicsettings.services.localMoveLabel}}</option>
                                <option ng-if="basicsettings.services.localMoveStorageOn" value="2">{{::basicsettings.services.localMoveStorageLabel}}</option>
                                <option ng-if="basicsettings.services.loadingHelpOn" value="3">{{::basicsettings.services.loadingHelpLabel}}</option>
                                <option ng-if="basicsettings.services.unloadingHelpOn" value="4">{{::basicsettings.services.unloadingHelpLabel}}</option>
                                <option ng-if="basicsettings.isflat_rate_miles" class="disabled" value="5">{{::basicsettings.services.flatRateLabel}}</option>
                                <option value="6" ng-if="basicsettings.services.overnightStorageOn">{{::basicsettings.services.overnightStorageLabel}}</option>
                                <option ng-if="basicsettings.islong_distance_miles" class="disabled" value="7">{{::basicsettings.services.longDistanceLabel}}</option>
							<option ng-if="basicsettings.services.packingDayOn" value="8">{{::basicsettings.services.packingDayLabel}}</option>
                            </select>
                        </div>

                        <div class="clearfix"></div>

                        <div class="form-item form-type-date-popup form-item-Date-Storage" style="display: none;">
                            <label>Desired Delivery Date: </label>
                            <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                   class="dd form-text login-processed" readonly="readonly" type="text"
                                   tabindex="-1"
                                   id="edit-date-storage-datepicker-popup-0" ng-model='request.deliveryDate'
                                   pick-a-date="date2"
                                   pick-a-date-options="StorageDatePickerOptions"
                                   minDate="moveDate" name="Date_Storage[date]" value="" size="20"
                                   maxlength="30" />
                        </div>

                        <div class="form-group-left">
                            <label for="edit-zip-code-from">From Zip: </label>
                            <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                   class="required form-text input-element-processed" type="text"
                                   id="edit-zip-code-from" ng-model="request.zipFrom" zipcode mask="99999"
                                   name="Zip_Code_From" value="" size="5" maxlength="5" autocomplete="off" />
                            <search-zip ng-hide="request.zipFrom.length==5" class="search-zip-icon" target-zip="request.zipFrom"
                                        allowedstate="allowedstate">
                            </search-zip>
                        </div>

                        <div class="form-group-right">
                            <label for="edit-zip-code-to">To Zip: </label>
                            <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                   class="required form-text input-element-processed" type="text" id="edit-zip-code-to"
                                   name="Zip_Code_To" ng-model="request.zipTo" zipcode mask="99999" value="" size="5"
                                   maxlength="5" autocomplete="off" />
                            <search-zip ng-hide="request.zipTo.length==5" class="search-zip-icon" target-zip="request.zipTo"
                                        allowedstate="allowedstate">
                            </search-zip>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-item form-type-select form-item-Size-Move">
                            <label>Size of Move: </label>
                            <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                    class="required typetip form-select input-element-processed ddd-processed login-processed"
                                    ng-Change="showRooms()" sizeofmove ng-Model="request.moveSize" id="edit-size-move"
                                    name="Size_Move">
                                <option value="" selected="selected">Size of Move</option>
                                <option ng-repeat="option in sizeOfMove" value="{{option.id}}">{{option.text}}</option>
                            </select>
                        </div>

                        <div class="form-item form-type-checkboxes form-item-Extra-Furnished-Rooms" style="display: none;">
                            <label for="edit-extra-furnished-rooms">Extra Rooms </label>
                            <div id="edit-extra-furnished-rooms" class="form-checkboxes">
                                <div class="form-item form-type-checkbox form-item-Extra-Furnished-Rooms-{{room.id}}"
                                     ng-repeat="room in rooms"
                                     ng-show="request.moveSize != 11">
                                    <input type="checkbox" ng-Click="showRoomImg(room.id)" data-rid="{{room.id}}"
                                           id="edit-extra-furnished-rooms-{{room.id}}"
                                           checklist-model="request.checkedRooms.rooms" checklist-value="room.id"
                                           class="form-checkbox login-processed" />
                                    <label class="option">{{room.text}}</label>
                                </div>
                                <div id="sf-rooms"
                                     class="form-item form-item-Extra-Furnished-Rooms-{{room.id}}"
                                     ng-show="request.moveSize == 11">
                                    <select ng-model="request.field_commercial_extra_rooms"
                                            style="position: relative;" ng-change="getCommercialText()"
                                            class="form-control commercial-select"
                                            ng-options="moveSize.id as moveSize.name for moveSize in commercialExtra">
                                        <option value="" selected>Choose your commercial extra size</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div style="clear:both;"></div>

                        <div class="form-item form-type-select form-item-Type-From">
                            <label>Type of entrance (From): </label>
                            <select ng-disabled="loadingImg || request.serviceType==4"
									ng-class="{'disabled':loadingImg || request.serviceType==4, 'default': !loadingImg, 'required':request.serviceType!=4}"
                                    class="form-select input-element-processed" id="edit-type-from"
                                    name="Type_From" isnotempty ng-model="request.typeFrom">
                                <option value="" selected="selected">From Type</option>
                                <option ng-repeat="option in entranceType" value="{{option.id}}">
                                    {{option.text}}
                                </option>
                            </select>
                        </div>

                        <div class="form-item form-type-select form-item-Type-To">
                            <label for="edit-type-to">Type of entrance (To): </label>
                            <select	ng-disabled="loadingImg || request.serviceType==3 || request.serviceType==8"
									ng-class="{'disabled':loadingImg || request.serviceType==3 || request.serviceType==8, 'default': !loadingImg, 'required':request.serviceType!=3 && request.serviceType!=8}"
                                    class="form-select input-element-processed login-processed" isnotempty
                                    id="edit-type-to" ng-model="request.typeTo" name="Type_To">
                                <option value="" selected="selected">To Type</option>
                                <option ng-hide="option.id == 8 && request.serviceType != 7;"
                                        ng-repeat="option in entranceType" value="{{option.id}}">{{option.text}}
                                </option>
                            </select>
                        </div>

                        <div class="input_panel">
                            <span class="clear-icon" ng-click="resetForm()">
                                <i class="fa fa-paint-brush"></i>{{movecalcFormSettings.buttonsText.calculatorClearForm}}
                            </span>

                            <button style="background-color: {{movecalcFormSettings.companyColor}};-webkit-box-shadow: 0 6px 0 {{companycolorLighter}};-moz-box-shadow: 0 6px 0 {{companycolorLighter}};box-shadow: 0 6px 0 {{companycolorLighter}};border-color: {{companyColorDarker}};"
                                    ng-disabled="busy"
                                    id="calculate_btn" ng-class="{'processing': loadingImg, 'default': !loadingImg}"
                                    ng-click="Calculate(0,'FullForm')" type="button" class=" btn btn-primary btn-3d request-buttom-margin-none"
                                    ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calculatorCalculateCustomerInfoFirst)"></button>

                            <div class="calc-loading" ng-if="loadingImg">
                                <img />Calculating...
                            </div>

                            <span class="loder"></span>
                        </div>
                    </div>

                    <div class="three_block right-block">
                        <div id="calc-results2" ng-bind-html="toTrustedHTML(movecalcFormSettings.firstStepRightBlock)">
                        </div>
                    </div>
                </div>
            </fieldset>

            <!--Login / Get user info and details -->
            <fieldset ng-if="isSecondStepFirst()" class="form-wrapper" id="edit-personal-info">
                <div ng-include="personalInfoTemplate.url"></div>
            </fieldset>
            <fieldset ng-if="isThirdStepFirst() && currentStep && currentStep != ''" class="form-wrapper" id="edit-calculator-results">
                <div class="fieldset-wrapper">
                    <div ng-include="calcResultTemplate.url"></div>
                </div>
            </fieldset>


            <!-- Second Step .Show calc Results -->
            <fieldset ng-if="isSecondStepFirst() && currentStep && currentStep != ''" class="form-wrapper" id="edit-calculator-results">
                <div class="fieldset-wrapper">
                    <div ng-include="calcResultTemplate.url"></div>
                </div>
            </fieldset>
            <fieldset ng-if="isThirdStepFirst()" class="form-wrapper" id="edit-personal-info">
                <div ng-include="personalInfoTemplate.url"></div>
            </fieldset>

            <!--Confirmation Page
            <fieldset class="form-wrapper" id="edit-summery"><div class="fieldset-wrapper">
                <div id="summery_results">
                    <div  ng-include="reviewFormTemplate.url"></div>
                </div>
            </fieldset>
             -->
            <!--Congrats Page -->
            <fieldset class="form-wrapper" id="edit-confirmation">
                <div class="fieldset-wrapper">
                    <div id="confirmation_block">
                        <div ng-include="congratsTemplate.url"></div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <p class="elromco_logo">
        <a style="cursor: pointer" href="http://www.elromco.com/" target="_blank">
            Powered By
            <img style="width: 50px;" src="https://static.wixstatic.com/media/a80349_71378d07e1f9495db250888a8786f049.png/v1/fill/w_348,h_99,al_c,usm_0.66_1.00_0.01/a80349_71378d07e1f9495db250888a8786f049.png" />
        </a>
    </p>
</div>