<div class="four_block left-small-block">

    <div ng-if="!userLogin" class="login-block">
        <div ng-bind-html="toTrustedHTML(movecalcFormSettings.secondStepLeftBottomBlock)" class="account_info">
        </div>

        <div style="display:none">
            <div class="form-item form-type-textfield form-item-email-login ">
                <label for="edit-email-login">I already have an account! </label>
                <input placeholder="Your Email" ng-model="user_login_email" class="login-email dis-1 form-text login-processed"  type="text" id="edit-email-login" name="email_login"  size="255" maxlength="128">
            </div>
            <div class="form-item form-type-password form-item-passowrd-login">
                <input placeholder="Password"  ng-model="user_login_password" class="user-login form-text login-processed" type="password" id="edit-passowrd-login" name="passowrd_login" size="15" maxlength="64">
            </div>
            <div class="login-forgot">
                <a href="{{host}}user/password" target="_blank">Forgot password?</a>
            </div>

            <button class="btn btn-success btn-3d" ng-class="{'processing': loginBusy, 'default': !loginBusy}" ng-Click="user_login(user_login_email,user_login_password)" type="button" id="request_user_login">Login</button>

            <div class="login-alert" ng-if="loginBusy"></div>

            <div style="clear:both;"></div>
            <div class="message-alert">
                {{alertmessage}}
            </div>
        </div>
    </div>

    <div ng-if="userLogin" class="loged-user-block">
        <div class="four_block user-info">
            <div class="form-item form-type-textfield form-item-first-name form-disabled">
                <label for="edit-first-name">Customer  Info </label>
                <input readonly placeholder="First Name" class=" form-text input-element-processed login-processed" type="text" id="edit-first-name" name="first_name" value="{{request.current_user.field_user_first_name}}" size="15" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-last-name form-disabled">
                <input  readonly placeholder="Last Name*" class=" form-text input-element-processed login-processed"  type="text" id="edit-last-name" name="last_name" value="{{request.current_user.field_user_last_name}}" size="15" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-primary-phone form-disabled">
                <input readonly placeholder="Primary Phone" class=" form-text input-element-processed login-processed"  type="text" id="primary_phone" name="primary_phone" value="{{request.current_user.field_primary_phone | nationalPhoneFormatter}}">
            </div>
            <div class="form-item form-type-textfield form-item-additional-phone  form-disabled">
                <input ng-if="request.current_user.field_user_additional_phone" placeholder="Additional Phone (optional)"  ng-model="additionalPhone" type="text" id="edit-additional-phone" name="phone" value="{{request.current_user.field_user_additional_phone | nationalPhoneFormatter}}" size="15" maxlength="14" class="form-text login-processed" autocomplete="off">
            </div>
            <div class="form-item form-type-textfield form-item-email form-disabled">
                <input value="{{request.current_user.mail}}" readonly class=" form-text login-processed"  type="text" id="edit-email" name="email"  size="20" maxlength="180">
            </div>
        </div>
    </div>

    <button class="btn btn-default btn-3d request-buttom-margin-none" ng-click="PrevStep('#edit-personal-info')" type="button" id="back-to-calendar-btn" name="op">
        <div ng-if="isSecondStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.customerInfoFirstBack)"></div>
        <div ng-if="isThirdStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.customerInfoSecondBack)"></div>
    </button>
</div>

<div class="big-left-block">
    <div id="summery-alert"></div>

    <div ng-if="userLogin" class="mobile loged-user-block">
        <div class="four_block user-info"  ng-hide="userLogin">
            <div class="form-item form-type-textfield form-item-first-name form-disabled">
                <label for="edit-first-name">Customer Info: </label>
                <input readonly placeholder="First Name" class=" form-text input-element-processed login-processed" type="text" id="edit-first-name" name="first_name" value="{{request.current_user.field_user_first_name}}" size="15" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-last-name form-disabled">
                <input  readonly placeholder="Last Name*" class=" form-text input-element-processed login-processed"  type="text" id="edit-last-name" name="last_name" value="{{request.current_user.field_user_last_name}}" size="15" maxlength="128">
            </div>
            <div class="form-item form-type-textfield form-item-primary-phone form-disabled">
                <input readonly placeholder="Primary Phone" class=" form-text input-element-processed login-processed"  type="text" id="primary_phone" name="primary_phone" value="{{request.current_user.field_primary_phone | nationalPhoneFormatter}}">
            </div>
            <div class="form-item form-type-textfield form-item-additional-phone  form-disabled">
                <input ng-if="request.current_user.field_user_additional_phone" placeholder="Additional Phone (optional)"  ng-model="additionalPhone" type="text" id="edit-additional-phone" name="phone" value="{{request.current_user.field_user_additional_phone | nationalPhoneFormatter}}" size="15" maxlength="14" class="form-text login-processed" autocomplete="off">
            </div>
            <div class="form-item form-type-textfield form-item-email form-disabled">
                <input value="{{request.current_user.mail}}" readonly class=" form-text login-processed"  type="text" id="edit-email" name="email"  size="20" maxlength="180">
            </div>
        </div>
    </div>

    <div ng-if="!userLogin" class="four_block user-info">
        <div class="form-item form-type-textfield form-item-first-name ">
            <label for="edit-first-name">Customer Info: </label>
            <input placeholder="First Name" isnotempty ng-model="request.firstName" class="required form-text input-element-processed login-processed" type="text" id="edit-first-name" name="first_name" value="" size="15" maxlength="128">
        </div>
        <div class="form-item form-type-textfield form-item-last-name ">
            <input isnotempty placeholder="Last Name" ng-model="request.lastName" class="required form-text input-element-processed login-processed"  type="text" id="edit-last-name" name="last_name" value="" size="15" maxlength="128">
        </div>
        <div class="form-item form-type-textfield form-item-primary-phone ">
            <input placeholder="Primary Phone"
                   ng-model="request.primaryPhone"
                   restrict="reject"
                   name="phone"
                   phone-input
                   minlength="14"
                   maxlength="14"
                   class="required form-text input-element-processed login-processed"
                   type="text"
                   id="primary_phone">
        </div>
        <div class="form-item form-type-textfield form-item-additional-phone">
            <input placeholder="Additional Phone (optional)"
                   ng-model="request.additionalPhone"
                   restrict="reject"
                   name="phone"
                   phone-input
                   minlength="14"
                   maxlength="14"
                   type="text"
                   id="edit-additional-phone"
                   name="phone"
                   value=""
                   class="form-text login-processed"
                   autocomplete="off">
        </div>
        <div class="form-item form-type-textfield form-item-email ">
            <input isnotempty isemail required
				   placeholder="Email"
				   ng-model-options="{ updateOn: 'blur' }"
				   class="required form-text login-processed"
				   ng-model="request.email"
				   er-lowercase
				   type="text"
				   id="edit-email"
				   name="email"
				   value=""
				   size="20"
				   maxlength="180">
        </div>
        <div isnotempty confirmemail class="form-item form-type-textfield form-item-confirmemail">
            <input isnotempty placeholder="Confirm Email"
				   class="required  form-text "
				   ng-model="confirmEmail"
				   er-lowercase
				   type="text"
				   id="edit-confirmemail"
				   name="confirmemail"
				   value=""
				   size="20"
				   maxlength="180">
        </div>
    </div>

    <div class="four_block block_from dis-1">
        <div class="form-item form-type-textfield form-item-moving-from" style="margin-bottom: 0px;">
            <label>Moving From:</label>
        </div>
        <div ng-if="basicsettings.movecalcFormSettings.showAddress" class="form-item form-type-textfield form-item-moving-from-address" style="margin-top: 0px;">
            <input placeholder="From Address" class="form-text input-element-processed"
                   ng-model="request.adrFrom"
                   ng-class="{required:basicsettings.movecalcFormSettings.requireAddress}"
                   type="text" id="edit-moving-from-address" name="moving_from_address" value="" size="60" maxlength="128">
        </div>
        <div class="form-item form-type-textfield form-item-moving-from-city" style="margin-top: 0px;">
            <input tabindex="-1" readonly placeholder="From City" class="required form-text input-element-processed success_desktopzip" type="text" id="edit-moving-from-city" name="moving_from_city" value="" size="60" maxlength="128">
        </div>
        <div class="form-item form-type-select form-item-moving-from-state">
            <select tabindex="-1" readonly autocomplete="off" id="edit-moving-from-state" name="moving_from_state" class="form-select success_desktopzip">
                <option value="" selected="selected">Select State</option>
                <option value="{{key}}" ng-repeat="(key, value) in stateLists">{{value}}</option>
            </select>
        </div>
        <div class="form-item form-type-textfield form-item-moving-from-zip">
            <input tabindex="-1" readonly placeholder="From Zip" class="required form-text input-element-processed success_desktopzip" type="text" id="edit-moving-from-zip" name="moving_from_zip" value="" size="5" maxlength="5">
        </div>
    </div>
    <div class="four_block block_from dis-1">
        <div class="form-item form-type-textfield form-item-moving-to" style="margin-bottom: 0px;">
            <label>Moving To: </label>
        </div>
        <div ng-if="basicsettings.movecalcFormSettings.showAddress" class="form-item form-type-textfield form-item-moving-to-address" style="margin-top: 0px;">
            <input placeholder="To Address" class="form-text input-element-processed"
                   ng-class="{required:basicsettings.movecalcFormSettings.requireAddress}"
                   ng-model="request.adrTo"
                   type="text" id="edit-moving-to-address" name="moving_to_address" value="" size="60" maxlength="128">
        </div>
        <div class="form-item form-type-textfield form-item-moving-to-city" style="margin-top: 0px;">
            <input tabindex="-1" readonly placeholder="To City" class="required form-text input-element-processed success_desktopzip" type="text" id="edit-moving-to-city" name="moving_to_city" value="" size="60" maxlength="128">
        </div>
        <div class="form-item form-type-select form-item-moving-to-state">
            <select tabindex="-1" readonly autocomplete="off" id="edit-moving-to-state" name="moving_to_state" class="form-select success_desktopzip">
                <option value="" selected="selected">Select State</option>
                <option value="{{key}}" ng-repeat="(key, value) in stateLists">{{value}}</option>
            </select>
        </div>
        <div class="form-item form-type-textfield form-item-moving-to-zip">
            <input tabindex="-1" readonly placeholder="To Zip" class="required form-text input-element-processed success_desktopzip" type="text" id="edit-moving-to-zip" name="moving_to_zip" value="" size="5" maxlength="5">
        </div>
    </div>

    <div ng-if="!request.flatRate" class="four_block time_block dis-1">
        <div class="form-item form-type-select form-item-prefered-time">
            <label for="edit-prefered-time">Preferred Start Time: </label>
        </div>
        <move-Preferedtime></move-Preferedtime>
        <div ng-if="storageMove" class="form-item form-type-select form-item-prefered-fromstorage-time">
            <label for="edit-prefered-fromstorage-time">Preferred Delivery Time: </label>
            <select isnotempty  ng-model="request.prefDelivery" class="prefered form-select" id="edit-prefered-fromstorage-time" name="prefered_fromstorage_time"><option value="" selected="selected">Choose Starting Time</option><option value="1">Any Time</option><option value="2">9AM-12PM</option><option value="3">12PM-3PM</option><option value="4">3PM-6PM</option></select>
        </div>
    </div>

    <div class="four_block hear_block dis-1">
        <div ng-if="!userLogin" class="form-item form-type-select form-item-poll-info">
            <label for="edit-poll-info">How did you hear about us? </label>
            <select  isnotempty class="required form-select" id="edit-poll-info" ng-model="request.poll" name="poll_info" >
                <option value="" selected="selected">Choose From Select List</option>
                <option ng-repeat="source in movecalcFormSettings.pollSources.sources">{{source.name}}</option>
            </select>
        </div>
    </div>

    <div style="clear:both;"></div>

    <input type="hidden" name="distance_zip" value="">
    <input type="hidden" name="movers_crew" value="">
    <input type="hidden" name="price_per_hour" value="">
    <input type="hidden" name="min_time" value="">
    <input type="hidden" name="max_time" value="">
    <input type="hidden" name="estimated_price" value="">
    <input type="hidden" name="estimated_total_time" value="">
    <input type="hidden" name="truck" value="">
    <input id="distance_form" type="hidden" name="distance" value="">
    <input id="duration_form" type="hidden" name="duration" value="">
    <input id="fromstorage_distance_form" type="hidden" name="fromstorage_distance" value="">
    <input id="fromstorage_duration_form" type="hidden" name="fromstorage_duration" value="">
    <input id="flat_rate_form" type="hidden" name="flat_rate" value="">
    <input type="hidden" name="travel_time" value="">
    <input type="hidden" name="fromstorage_travel_time" value="">

    <div class="personal-loading" ng-if="loadingImg"><img src="https://themoveboard.com/elromco/squares.gif">Loading...</div>
    <button style="background-color: {{movecalcFormSettings.companyColor}};-webkit-box-shadow: 0 6px 0 {{companycolorLighter}};-moz-box-shadow: 0 6px 0 {{companycolorLighter}};box-shadow: 0 6px 0 {{companycolorLighter}};border-color: {{companyColorDarker}};" class="btn btn-primary btn-3d request-buttom-margin-none" ng-class="{'processing': loadingImg, 'default': !loadingImg}" ng-Click="goToSummery()" type="button" id="edit-go-to-summery" name="op" >
        <div ng-if="isSecondStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.customerInfoFirstNext)"></div>
        <div ng-if="isThirdStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.customerInfoSecondNext)"></div>
    </button>
</div>
