<!-- start row -->
<div class="row ramobile ratesTableMobile" style="display: none;">
    <div ng-if="localdiscount != 0 && promoTextOn" style="height: 75px;background: #2E3B4C;width: 80%;margin: 0 auto; margin-bottom: 45px;">
                       <span style="color: #FF7373;text-align: left;float: left;font-size: 53px;line-height: 71px;font-family: 'Open sans';margin-left: 30px;
                        font-weight: bold;">{{localdiscount}}
                           <i style="font-size: 22px;margin-top: -10px;margin-left: -15px;position: absolute;">%</i>
                           <i style="font-size: 22px; margin-left: -15px;font-family:'Times';">OFF</i></span>
                       <span class="promoText">{{promoText}} </span>

    </div>


    <table class="ratesTable">
        <thead>
        <tr>
            <th class="eltitle" colspan="2">
                3 Movers & Truck
            </th>
        </tr>
        </thead>
        <tr class="raterow">
            <td class="type discount">Discount</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Discount'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Discount'][1]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type regular" data-title="Category">Regular</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Regular'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Regular'][1]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type peak"  data-title="Category">SubPeak</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['SubPeak'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['SubPeak'][1]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type peak"  data-title="Category">Peak</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Peak'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Peak'][1]}}/hr
            </td>
        </tr>
        <tr class="raterow">
            <td class="type hipeak"  data-title="Category">Hi-Peak</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['HighPeak'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['HighPeak'][1]}}/hr</td>
        </tr>
    </table>
    <table class="ratesTable">
        <thead>
        <tr>
            <th class="eltitle" colspan="2">
                4 Movers & Truck
            </th>
        </tr>
        </thead>
        <tr class="raterow">
            <td class="type discount">Discount</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Discount'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Discount'][2]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type regular" data-title="Category">Regular</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Regular'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Regular'][2]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type peak"  data-title="Category">SubPeak</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['SubPeak'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['SubPeak'][2]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type peak"  data-title="Category">Peak</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Peak'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Peak'][2]}}/hr
            </td>
        </tr>
        <tr class="raterow">
            <td class="type hipeak"  data-title="Category">Hi-Peak</td>
            <td class="rate" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['HighPeak'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['HighPeak'][2]}}/hr</td>
        </tr>
    </table>
    <table class="ratesTable">
        <thead>
        <tr>
            <th class="title" colspan="2">
                Additional Mover
            </th>
        </tr>
        </thead>
        <tr class="raterow">
            <td class="type discount">Discount</td>
            <td class="rate" >

                ${{rates['Discount'][3]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type regular" data-title="Category">Regular</td>
            <td class="rate" >
                ${{rates['Regular'][3]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type peak"  data-title="Category">SubPeak</td>
            <td class="rate" >
                ${{rates['SubPeak'][3]}}/hr</td>
        </tr>
        <tr class="raterow">
            <td class="type peak"  data-title="Category">Peak</td>
            <td class="rate" >
                ${{rates['Peak'][3]}}/hr
            </td>
        </tr>
        <tr class="raterow">
            <td class="type hipeak"  data-title="Category">Hi-Peak</td>
            <td class="rate" >
                ${{rates['HighPeak'][3]}}/hr</td>
        </tr>
    </table>


</div>
<!-- end row -->

