<!-- start row -->
<div class="row regular rateTableFull" >
    <div ng-if="localdiscount != 0 && promoTextOn" style="height: 75px;background: #2E3B4C;width: 80%;margin: 0 auto; margin-bottom: 45px;">
                       <span style="color: #FF7373;text-align: left;float: left;font-size: 53px;line-height: 71px;font-family: 'Open sans';margin-left: 30px;
                        font-weight: bold;">{{localdiscount}}
                           <i style="font-size: 22px;margin-top: -10px;margin-left: -15px;position: absolute;">%</i>
                           <i style="font-size: 22px; margin-left: -15px;font-family:'Times';">OFF</i></span>
        <span class="promoText">{{promoText}} </span>

    </div>



    <table class="ratesTable">
        <thead>
        <tr>
            <th class="eltitle type">
            </th>
            <th class="eltitle discount" ng-show="basicsettings.ratesSettings.disocountOn">
                Discount
            </th>
            <th class="eltitle regular" ng-show="basicsettings.ratesSettings.regularOn">
                Regular
            </th>
            <th class="eltitle subpeak" ng-show="basicsettings.ratesSettings.subpeakOn">
                SubPeak
            </th>
            <th class="eltitle peak" ng-show="basicsettings.ratesSettings.peakOn">
                Peak
            </th>
            <th class="eltitle hipeak" ng-show="basicsettings.ratesSettings.hipeakOn">
                Hi-Peak
            </th>

        </tr>
        </thead>
        <tr class="raterow"  ng-show="basicsettings.ratesSettings.twomoversOn" >
            <td class="type ">2 Movers & Truck</td>
            <td class="rate discount" ng-show="basicsettings.ratesSettings.disocountOn">
                <span ng-if="localdiscountOn" class="crossrate discount" >${{ rates['Discount'][0]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Discount'][0]}}/hr
            </td>
            <td class="rate regular" ng-show="basicsettings.ratesSettings.regularOn" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Regular'][0]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Regular'][0]}}/hr</td>
            <td class="rate subpeak"  ng-show="basicsettings.ratesSettings.subpeakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['SubPeak'][0]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['SubPeak'][0]}}/hr</td>
            <td class="rate peak" ng-show="basicsettings.ratesSettings.peakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Peak'][0]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Peak'][0]}}/hr
            </td>
            <td class="rate hipeak" ng-show="basicsettings.ratesSettings.hipeakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['HighPeak'][0]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['HighPeak'][0]}}/hr
            </td>
        </tr>
        <tr class="raterow" ng-show="basicsettings.ratesSettings.threemoversOn">
            <td class="type ">3 Movers & Truck</td>
            <td class="rate discount" ng-show="basicsettings.ratesSettings.disocountOn">
                <span ng-if="localdiscountOn" class="crossrate " >${{ rates['Discount'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Discount'][1]}}/hr
            </td>
            <td class="rate regular" ng-show="basicsettings.ratesSettings.regularOn" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Regular'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Regular'][1]}}/hr</td>
            <td class="rate subpeak" ng-show="basicsettings.ratesSettings.subpeakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['SubPeak'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['SubPeak'][1]}}/hr</td>
            <td class="rate peak" ng-show="basicsettings.ratesSettings.peakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Peak'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Peak'][1]}}/hr
            </td>
            <td class="rate hipeak" ng-show="basicsettings.ratesSettings.hipeakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['HighPeak'][1]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['HighPeak'][1]}}/hr
            </td>
        </tr>
        <tr class="raterow" ng-show="basicsettings.ratesSettings.fourmoversOn">
            <td class="type ">4 Movers & Truck</td>
            <td class="rate discount" ng-show="basicsettings.ratesSettings.disocountOn" >
                <span ng-if="localdiscountOn" class="crossrate " >${{ rates['Discount'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Discount'][2]}}/hr
            </td>
            <td class="rate regular" ng-show="basicsettings.ratesSettings.regularOn" >
                <span ng-if="localdiscountOn" class="crossrate" >${{rates['Regular'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Regular'][2]}}/hr</td>
            <td class="rate subpeak" ng-show="basicsettings.ratesSettings.subpeakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['SubPeak'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['SubPeak'][2]}}/hr</td>
            <td class="rate peak" ng-show="basicsettings.ratesSettings.peakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Peak'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Peak'][2]}}/hr
            </td>
            <td class="rate hipeak " ng-show="basicsettings.ratesSettings.hipeakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['HighPeak'][2]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['HighPeak'][2]}}/hr
            </td>
        </tr>
        <tr class="raterow" ng-show="basicsettings.ratesSettings.addmoversOn">
            <td class="type ">Additional Mover/hr</td>
            <td class="rate discount" ng-show="basicsettings.ratesSettings.disocountOn" >
                <span ng-if="localdiscountOn" class="crossrate discount" >${{ rates['Discount'][3]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Discount'][3]}}/hr
            </td>
            <td class="rate regular" ng-show="basicsettings.ratesSettings.regularOn" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Regular'][3]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Regular'][3]}}/hr</td>
            <td class="rate subpeak" ng-show="basicsettings.ratesSettings.subpeakOn" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['SubPeak'][3]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['SubPeak'][3]}}/hr</td>
            <td class="rate peak" ng-show="basicsettings.ratesSettings.peakOn" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Peak'][3]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Peak'][3]}}/hr
            </td>
            <td class="rate hipeak" ng-show="basicsettings.ratesSettings.hipeakOn" >
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['HighPeak'][3]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['HighPeak'][3]}}/hr
            </td>
        </tr>
        <tr class="raterow" ng-show="basicsettings.ratesSettings.addtruckOn">
            <td class="type ">Additional Truck/hr</td>
            <td class="rate discount" ng-show="basicsettings.ratesSettings.disocountOn">
                <span ng-if="localdiscountOn" class="crossrate discount" >${{ rates['Discount'][4]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Discount'][4]}}/hr
            </td>
            <td class="rate regular" ng-show="basicsettings.ratesSettings.regularOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Regular'][4]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Regular'][4]}}/hr</td>
            <td class="rate subpeak" ng-show="basicsettings.ratesSettings.subpeakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['SubPeak'][4]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['SubPeak'][4]}}/hr</td>
            <td class="rate peak" ng-show="basicsettings.ratesSettings.peakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['Peak'][4]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['Peak'][4]}}/hr
            </td>
            <td class="rate hipeak"ng-show="basicsettings.ratesSettings.hipeakOn">
                <span ng-if="localdiscountOn" class="crossrate" >${{ rates['HighPeak'][4]/(1 -localdiscount/100 )| number : 0}}/hr</span>
                ${{rates['HighPeak'][4]}}/hr
            </td>
        </tr>

    </table>


</div>
<!-- end row -->
