   <div class="three_block left-block direction_info">
	   <div google-map-route
			id="map_direction"
			address-from="request.addressFrom"
			address-to="request.addressTo"></div>

        <div  ng-if="request.serviceType == 1 || request.serviceType == 5">
            <h3>Moving From:</h3>  <p class="calc_left_info">{{request.addressFrom.full_adr}}<span class="bs"> ({{request.typeFromText}})</span> </p>
            <h3>Moving To:</h3> <p class="calc_left_info">{{request.addressTo.full_adr}}<span class="bs"> ({{request.typeToText}})</span></p>
            <h3>Distance:</h3><p class="calc_left_info"> {{request.distance | number :2}} miles</p>
        </div>
        <div ng-if="request.serviceType == 3 || request.serviceType == 4">

            <h3>Moving Address:</h3>  <p class="calc_left_info">{{request.addressFrom.full_adr}}<span class="bs">({{request.typeFromText}})</span> </p>

        </div>
        <button style="display: none" class="btn btn-default btn-3d" ng-Click="PrevStep('#edit-summery')" type="button" id="back-to-calc-btn">&lt;&lt; Back to Details</button>



 </div>
<!--- Main INFO -->




 <div ng-if="!request.flatRate" class="calc_block form-block three_block">
     <div class="form_block calc-form">
				<div class="box_info general">
				<div class="moving-date"><h3>Desired Move Date:</h3> <span ng-bind="request.moveDateTime | date:'EEEE, MMM d, y'"></span></div>
				<div class="moving-date">
                    <h3>Type of Service:</h3>
                    <span>
                        {{request.serviceTypeText}}
                        <span class="inline-commercial" ng-show="request.moveSize == 11"> - {{request.moveSizeText}}</span>
                    </span>
                </div>
				<div class="moving-date"><h3>Size of Move:</h3> <span class="long">{{request.moveSizeText}}</span></div>
				<i class="rooms">{{request.roomsText}}</i>



				</div>
        <div class="box_info detailsinfo">
				<div class="moving-date"><h3>Crew Size:</h3> <span>{{request.crew }} movers</span></div>
				<div class="moving-date"><h3>Truck Size:</h3> <span> {{request.truck }}</span></div>

				<div class="moving-date travel-time" ng-if="calcsettings.travelTime">
                    <h3>{{::calcsettings.travelTimeName}}:</h3> <span> {{request.travelTimeStr}} <i class="tooltips  fa fa-info-circle"><div class="tips rmtips geninfo"><b>{{::calcsettings.travelTimeName}}</b> - time added to <b>Move Time</b> in order to compensate time spent traveling from our terminal to the shipper's point of origin and/or from the destination address back to our terminal.<br></div></i></span>
                    </div>

				<div class="moving-date rate"><h3>Hourly Rate:</h3> <span> ${{request.price}}/hr
                    <i class="tooltips fa fa-info-circle">
                        <div class="tips rmtips hourly">This rate includes 3 movers and a 16' Box truck fully equipped with dollies, tools and a full line of boxes. We do not charge for the use of moving pads and tape to protect furniture, as well fuel, mileage and tolls.</div>
                    </i>
                    </span>
                    </div>


				<div class="moving-date est-time"><h3>Estimated Job Time:</h3>
                    <span>{{request.est_time}}
                    <i class="tooltips fa fa-info-circle"><div class="tips rmtips estinfo"><b>Job Time = Move Time + {{::calcsettings.travelTimeName}}.</b><br><b>Move Time</b>&nbsp;starts once movers arrive to your origin address and ends when movers finish unloading at the destination address.<br> Lunch breaks will be deducted of your total&nbsp; Job Time.</div>                      </i>
                    </span>
                </div>

        </div>

					<div class="moving-date est-quote"><h3>Estimated quote:</h3> <span>{{request.est_quote}}</span></div>
</div>

</div>



<div ng-if="request.flatRate" class="calc_block form-block three_block">
        <div class="form_block calc-form">
				<div class="box_info general">
				<div class="moving-date"><h3>Desired Move Date:</h3> <span ng-bind="request.moveDateTime | date:'EEEE, MMM d, y'"></span></div>
				<div class="moving-date">
                    <h3>Type of Service:</h3>
                    <span>{{servicesType[request.serviceType-1].text}}</span>
                    <span class="company-color" ng-if="request.moveSize == 11"> - Commercial</span>
                </div>
				<div class="moving-date"><h3>Size of Move:</h3> <span class="long">{{request.moveSizeText}}</span></div>
				<i class="rooms">{{request.roomsText}}</i>

				</div>
            <div class="box_info">
				<h2 class="flat_label">YOUR ORIGIN/DESTINATION ADDRESS IS MORE THAN 150 MILES FROM BOSTON, MA.</h2>
				<div class="flat_desc">For all moves with a distance greater than 150 miles we use flat rate pricing system. In order to provide you with a quote and availability we require the following information:
	<ul>
	<li>Complete inventory of items to be moved</li>
	<li>Preferred pick-up and delivery dates</li>
	<li>Origin/destination address descriptions: long walks, stairs, etc.</li>
		</ul>

		<h2 class="flat_label">PLEASE CONTINUE TO THE NEXT STEP TO RECEIVE AN ESTIMATE.</h2>
		We strive to send out all estimates within 24 hours after you submit a request. Please expect an additional day for all weekend requests. If this is a rush order you can contact our office at 617.681.8181
</div>
				</div>

        </div>

</div>



<!--- Right BLock -->

    <div class="three_block right-block">

        <div id="calc-results2">
			 <div class="calc-intro-info">
			  <h4>Client Contact Info</h4>
                <hr>
                 <p class="calc-intro_description">{{request.current_user.field_user_first_name}} {{request.current_user.field_user_last_name}}</p>
				<p class="calc-intro_description">Phone : {{request.current_user.field_primary_phone | nationalPhoneFormatter}}</p>
                 <p ng-if="additionalPhone" class="calc-intro_description">Additional Phone : {{request.current_user.field_user_additional_phone | nationalPhoneFormatter}}</p>
                 <p class="calc-intro_description">Email : {{request.current_user.mail}}</p>


                  <div class="review-loading" ng-if="loadingImg"><img src="https://themoveboard.com/elromco/squares.gif">Loading...</div>
                <button ng-Click="submitRequest()" ng-class="{'processing': loadingImg, 'default': !loadingImg}" id="submitRequestButton" class="btn btn-success btn-3d" type="button" name="op">Go to Account Page</button>





			</div>
        </div>




    </div>
