<div id="block-movecalc-moving-form" class="small">
    <form action="/" method="post" class="moving-form" id="movecalc-short-form" accept-charset="UTF-8" autocomplete="off">
        <div>
            <!-- First Step -->
            <fieldset class="form-wrapper" id="short-calculator" style="height: 460px;">
                <div class="fieldset-wrapper">
                    <div class="three_block info_block left-block">
                        <div id="calc-results"></div>
                        <div id="calc-info-steps">
                            <div class="calc-intro">
                                <div class="title">let’s get started <i class="fa fa-angle-right"></i></div>
                                <h3 class="smcap">It's easy</h3>
                                <p class="calc-intro_description">
                                    Just two easy steps, and see your results price quote.
                                </p>

                                <h3 class="smcap">It's fast</h3>
                                <p class="calc-intro_description">
                                    Enter when, where, and what you're moving, and get a preliminary estimate for any local move within seconds.
                                </p>
                                <h3 class="smcap">It's safe</h3>
                                <p class="calc-intro_description">
                                    There is no obligation. By submitting a request here you are just getting an estimate and checking availability for your move.
                                </p>
                            </div>

                            <div class="box_info">
                                <div class="calc-intro_description">
                                    <div class="moving-date"></div>
                                    <div class="delivery-date"></div>
                                    <div class="service-type"></div>
                                    <div class="clearfix"></div>
                                    <div class="moving-from"></div>
                                    <div class="moving-to"></div>
                                    <div class="travel_time"></div>
                                    <div class="move-size"></div>
                                    <p class="distance"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-calc wow fadeInUp" ng-class="{'disabled': loading}" style="visibility: visible; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
                    <form action="" method="post" autocomplete="off">
                        <div class="form-group form-group-left">
                            <div class="input-group date">
                                <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                       class="required  form-control  "
                                       readonly="readonly"
                                       type="text" ng-model='moveDate' id="short-datepicker" name="Move_Date[date]"
                                       formdatepicker
                                       placeholder="Move Date">

                            </div>
                        </div>

                        <div class="form-group form-group-right">
                            <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                    class="required form-control"
                                    id="edit-service"
                                    ng-model="request.serviceType"
                                    servicetype
                                    ng-init="serviceType='1'">
                                <option value="1">Moving</option>
                                <option value="2">Moving &amp; Storage</option>
                                <option value="3">Loading Help</option>
                                <option value="4">Unloading Help</option>
                                <option value="6">Overnight Storage</option>
								<option value="8">Packing Day</option>
                            </select>
                            <i></i>
                        </div>
                        <div class="form-group form-group-left form-item-Date-Storage" style="display: none;">
                            <div id="edit-date-storage" class="input-group date">
                                <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}" class="dd form-control" readonly="readonly" type="text" id="edit-date-storage-datepicker-popup-0" ng-model='request.deliveryDate' formdatepicker  placeholder="Delivery Date" minDate="moveDate" name="Date_Storage[date]" value="" size="20" maxlength="30">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group form-group-left">
                            <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                   class="required form-control"
                                   ng-model="request.zipFrom"
                                   zipcode mask="99999"
                                   placeholder="From Zip"
                                   type="text">
                        </div>
                        <div class="form-group form-group-right">
                            <div class="input-group">
                                <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                       class="required form-control"
                                       placeholder="To Zip"
                                       type="text"
                                       ng-model="request.zipTo" zipcode mask="99999">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                    class="required form-control"
                                    ng-Change="showRooms()"
                                    sizeofmove ng-Model="request.moveSize"
                                    id="edit-size-move">
                                <option value="" selected="selected">Size of Move</option>
                                <option value="1">Room or less</option>
                                <option value="2">Studio Apartment</option>
                                <option value="3">Small 1 Bedroom Apartment</option>
                                <option value="4">Large 1 Bedroom Apartment </option>
                                <option value="5">Small 2 Bedroom Apartment</option>
                                <option value="6">Large 2 Bedroom Apartment</option>
                                <option value="7">3 Bedroom Apartment</option>
                                <option value="8" text="2 Bedroom">2 Bedroom house/townhouse</option>
                                <option value="9">3 Bedroom house/townhouse</option>
                                <option value="10">4 Bedroom house/townhouse </option>
                            </select>
                            <i></i>
                        </div>

                        <div class="form-group form-item-Extra-Furnished-Rooms" style="display: none;">
                            <div id="edit-extra-furnished-rooms" class="form-checkboxes">
                                <div class="form-item form-type-checkbox form-item-Extra-Furnished-Rooms-{{room.id}}"
                                     ng-repeat="room in rooms"
                                     ng-show="request.moveSize != 11">
                                    <input type="checkbox" ng-change="showRoomImg(room.id)"
                                           data-rid="{{room.id}}"
                                           id="edit-extra-furnished-rooms-{{room.id}}"
                                           checklist-model="request.checkedRooms.rooms"
                                           checklist-value="room.id"
                                           class="form-checkbox">
                                    <label class="option" >{{room.text}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group fromtype">
                            <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                    class="required form-control"
                                    id="edit-type-from"
                                    isnotempty ng-model="request.typeFrom" >
                                <option value="" selected="selected">From Type</option>
                                <option value="1">No Stairs - Ground Floor</option>
                                <option value="2">Stairs - 2nd Floor</option>
                                <option value="3">Stairs - 3rd Floor</option>
                                <option value="4">Stairs - 4th Floor</option>
                                <option value="5">Stairs - 5th Floor</option>
                                <option value="6">Elevator</option>
                                <option value="7">Private House</option>
                            </select>
                            <i></i>
                        </div>
                        <div class="form-group">
                            <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                    class="required form-control"
                                    id="edit-type-from"
                                    isnotempty ng-model="request.typeTo" >
                                <option value="" selected="selected">To Type</option>
                                <option value="1">No Stairs - Ground Floor</option>
                                <option value="2">Stairs - 2nd Floor</option>
                                <option value="3">Stairs - 3rd Floor</option>
                                <option value="4">Stairs - 4th Floor</option>
                                <option value="5">Stairs - 5th Floor</option>
                                <option value="6">Elevator</option>
                                <option value="7">Private House</option>
                            </select>
                            <i></i>
                        </div>
                        <div class="form-group">
                            <input type="button" class="form-control btn" ng-Click="goToForm()" value="Calculate">
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </form>
</div>
