 <div class="three_block left-block direction_info">

    <div class="storage_from">
         <div id="map_direction_to_storage"></div>
		  <h3>Moving From:</h3>  <p class="calc_left_info">{{requestToStorage.addressFrom.full_adr}}<span class="bs"> ({{requestToStorage.typeFromText}})</span> </p>
        <h3>Moving To:</h3> <p class="calc_left_info">{{storageName}}<span class="bs"> ({{storageCity}})</span></p>
        <h3>Distance:</h3><p class="calc_left_info"> {{requestToStorage.distance}} miles</p>

     </div>


    <div class="storage_to">
      <div id="map_direction_from_storage"></div>
      <h3>Moving From:</h3>  <p class="calc_left_info">{{storageName}}<span class="bs">  ({{storageCity}})</span> </p>
      <h3>Moving To:</h3> <p class="calc_left_info">{{requestFromStorage.addressTo.full_adr}}<span class="bs"> ({{requestFromStorage.typeToText}})</span></p>


	</div>

    <button class="btn btn-default btn-3d" ng-Click="PrevStep('#edit-summery')" type="button" id="back-to-calc-btn">&lt;&lt; Back to Details</button>


</div>





 <div class="calc_block form-block three_block storage"><div class="form_block calc-form">
				<div class="box_info general">

                    <div class="moving-date">
                        <h3>Type of Service:</h3>
                        <span>
                            {{requestToStorage.serviceTypeText}}
                            <span class="inline-commercial" ng-show="request.moveSize == 11"> - {{requestToStorage.moveSizeText}}</span>
                        </span>
                    </div>
                    <div class="moving-date"><h3>Size of Move:</h3> <span class="long">{{requestToStorage.moveSizeText}}</span></div>
                    <i class="rooms">{{request.roomsText}}</i>

				</div>

				<div class="box_info from_storage storage">
			     <span class="st_title">Move to storage</span>
				<div class="moving-date"><h3>Pick Up Date:</h3>  <span ng-bind="requestToStorage.moveDateTime | date:'EEEE, MMM d, y'"></span></div>

                 <div class="moving-date travel-time" ng-if="calcsettings.travelTime">
                    <h3>{{::calcsettings.travelTimeName}}:</h3> <span> {{requestToStorage.travelTime | hrmin}} <i elromcotooltips class="tooltips  fa fa-info-circle"><div class="tips rmtips geninfo"><b>{{::calcsettings.travelTimeName}}</b> - time added to <b>Move Time</b> in order to compensate time spent traveling from our terminal to the shipper's point of origin and/or from the destination address back to our terminal.<br></div></i></span>
                </div>

                <div class="moving-date"><h3>Crew Size:</h3> <span>{{requestToStorage.crew }} movers</span></div>


				<div class="moving-date rate"><h3>Hourly Rate:</h3> <span> ${{requestToStorage.rate}}/hr
                    <i elromcotooltips class="tooltips fa fa-info-circle">
                        <div class="tips rmtips hourly">This rate includes 3 movers and a 16' Box truck fully equipped with dollies, tools and a full line of boxes. We do not charge for the use of moving pads and tape to protect furniture, as well fuel, mileage and tolls.</div>
                    </i>
                    </span>
                </div>

		          <div class="moving-date est-time"><h3>Estimated Job Time:</h3>
                    <span>{{requestToStorage.min_time | hrmin }} - {{requestToStorage.max_time | hrmin}}
                    <i elromcotooltips class="tooltips fa fa-info-circle"><div class="tips rmtips estinfo"><b>Job Time = Move Time + {{::calcsettings.travelTimeName}}.</b><br><b>Move Time</b>&nbsp;starts once movers arrive to your origin address and ends when movers finish unloading at the destination address.<br> Lunch breaks will be deducted of your total&nbsp; Job Time.</div></i>
                    </span>
                </div>

                <div class="moving-date est-quote">
                    <div  ng-if="!storageCalcResult.to.small_job" class="moving-date est-quote"><h3>Estimated quote:</h3> <span>${{requestToStorage.total_quote_min | number :2}} - ${{requestToStorage.total_quote_max| number :2}}</span></div>
                    <div  ng-if="storageCalcResult.to.small_job "class="moving-date est-quote"><h3>Estimated quote:</h3> <span>${{requestToStorage.total_quote_max | number :2}}</span></div>

                 </div>

        <div class="box_info to_storage storage">
			     <span class="st_title">Move from storage</span>
				<div class="moving-date"><h3>Delivery Date:</h3>  <span ng-bind="requestFromStorage.deliveryDateTime | date:'EEEE, MMM d, y'"></span></div>
				<div class="moving-date travel-time" ng-if="calcsettings.travelTime"><h3>{{::calcsettings.travelTimeName}}:</h3> <span> {{requestFromStorage.travelTime  | hrmin}}</div>

				<div class="moving-date rate"><h3>Crew Size:</h3><span>{{requestFromStorage.crew }} movers</span></div>
				<div class="moving-date rate"><h3>Hourly Rate:</h3> <span>${{requestFromStorage.rate}}/hr</span></div>

            <div class="moving-date est-time"><h3>Estimated Job Time:</h3>
                    <span>{{requestFromStorage.min_time | hrmin }} - {{requestFromStorage.max_time | hrmin}}
                    <i elromcotooltips class="tooltips fa fa-info-circle"><div class="tips rmtips estinfo"><b>Job Time = Move Time + {{::calcsettings.travelTimeName}}.</b><br><b>Move Time</b>&nbsp;starts once movers arrive to your origin address and ends when movers finish unloading at the destination address.<br> Lunch breaks will be deducted of your total&nbsp; Job Time.</div></i>
                    </span>
            </div>

            <div class="moving-date est-quote">
                <div  ng-if="!storageCalcResult.from.small_job" class="moving-date est-quote"><h3>Estimated quote:</h3> <span>${{requestFromStorage.total_quote_min | number :2}} - ${{requestFromStorage.total_quote_max| number :2}}</span></div>
                <div  ng-if="storageCalcResult.from.small_job "class="moving-date est-quote"><h3>Estimated quote:</h3> <span>${{requestFromStorage.total_quote_max | number :2}}</span></div>

            </div>
</div>





                <div class="box_info total storage">
                <div class="moving-date"><h3>Estimated labor:</h3> <span>{{request.total_quote}}</span></div>

               <div ng-if="!overnightMove" class="moving-date"><h3>Estimated monthly storage: <div class="tips">{{request.interval}} </div></h3><span>{{request.storage_price}} <i elromcotooltips class="tooltips fa fa-info-circle"><div class="tips rmtips estinfo">Monthly storage price is approximate and depends on the season and availability. Minimum storage fee is one month, after we can prorate your stay weekly.</div></i></span>
                </div>

                 <div ng-if="overnightMove" class="moving-date"><h3>Overnight Storage: <div class="tips">{{request.interval}} </div></h3><span>${{basicsettings.overnight.rate}}</span>
                    </div>

                </div>

    </div>

</div>


<!--- Right BLock -->

    <div class="three_block right-block">

        <div id="calc-results2">
			 <div class="calc-intro-info">
			  <h4>Client Contact Info</h4>
                <hr>
                 <p class="calc-intro_description">{{request.current_user.field_user_first_name}} {{request.current_user.field_user_last_name}}</p>
				<p class="calc-intro_description">Phone : {{request.current_user.field_primary_phone | nationalPhoneFormatter}}</p>
                 <p ng-if="additionalPhone" class="calc-intro_description">Additional Phone : {{request.current_user.field_user_additional_phone | nationalPhoneFormatter}}</p>
                 <p class="calc-intro_description">Email : {{request.current_user.mail}}</p>


                  <div class="review-loading" ng-if="loadingImg"><img src="https://themoveboard.com/elromco/squares.gif">Loading...</div>
                 <button ng-Click="submitRequest()" ng-class="{'processing': loadingImg, 'default': !loadingImg}" id="submitRequestButton" class="btn btn-success btn-3d" type="button" name="op">Go to Account Page</button>





			</div>
        </div>




    </div>
