<div class="three_block left-block direction_info">
    <div class="storage_from">
		<div google-map-route
			 id="map_direction_to_storage"
			 address-from="requestToStorage.addressFrom"
			 address-to="basicsettings.parking_address"></div>
		<h3>Moving From:</h3>
        <p class="company-color calc_left_info">
            {{requestToStorage.addressFrom.full_adr}}
            <span class="bs"> ({{field_lists.field_type_of_entrance_to_[requestToStorage.typeFrom]}})</span>
        </p>
        <h3>Moving To:</h3>
        <p class="company-color calc_left_info">
            {{storageName}}<span class="bs"> ({{storageCity}})</span>
        </p>
        <h3>Distance:</h3>
        <p class="company-color calc_left_info"> {{requestToStorage.distance}} miles</p>
    </div>

    <div class="storage_to">
		<div google-map-route
			 id="map_direction_from_storage"
			 address-from="basicsettings.parking_address"
			 address-to="requestFromStorage.addressTo"></div>
        <h3>Moving From:</h3>
        <p class="company-color calc_left_info">
            {{storageName}}
            <span class="bs">  ({{storageCity}})</span>
        </p>
        <h3>Moving To:</h3>
        <p class="company-color calc_left_info">
            {{requestFromStorage.addressTo.full_adr}}
            <span class="bs"> ({{field_lists.field_type_of_entrance_to_[requestFromStorage.typeTo]}})</span>
        </p>
    </div>

    <button class="btn btn-default btn-3d request-buttom-margin-none" ng-Click="PrevStep('#edit-calculator-results')" type="button" id="back-to-calc-btn">
        <div ng-if="isSecondStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultSecondBack)"></div>
        <div ng-if="isThirdStepFirst()" ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultFirstBack)"></div>
    </button>
</div>

<div class="calc_block form-block three_block storage">
    <div class="form_block calc-form">
        <div class="box_info general">
            <div class="moving-date">
                <h3>Type of Service:</h3>
                <span class="company-color">
                    {{request.serviceTypeText}}
                <span class="company-color inline-commercial" ng-show="request.moveSize == 11"> - {{request.moveSizeText}}</span>
            </span>
            </div>
            <div class="moving-date">
                <h3>Size of Move:</h3>
                <span class="company-color long">{{request.moveSizeText}}</span>
            </div>
            <i class="rooms">{{request.roomsText}}</i>
        </div>

        <div ng-if="getFrontQuoteExplanation()" class="box_info from_storage storage">
            <span ng-if="!overnightMove" class="st_title">Move to storage</span>
            <span ng-if="overnightMove" class="st_title">Pick up</span>
            <div class="moving-date">
                <h3>Pick Up Date:</h3>
                <span class="company-color" ng-bind="request.moveDateTime | date:'EEEE, MMM d, y'"></span>
            </div>

            <div class="moving-date travel-time" ng-if="storageCalcResult.to.travelTime">
                <h3 ng-hide="isDoubleDriveTime">{{::calcsettings.travelTimeName}}:</h3>
                <h3 ng-show="isDoubleDriveTime">{{::calcsettings.doubleDriveTimeName}}:</h3>
                <span class="company-color"> {{storageCalcResult.to.travelTime | hrmin}}
                    <i elromcotooltips class="company-color tooltips fa fa-info-circle" style="position: absolute; z-index: 2;">
                        <div class="tips rmtips geninfo" show-data template="{{movecalcFormSettings.storageTravelTimeToolTip}}">
                        </div>
                    </i>
                </span>
            </div>

            <div class="moving-date travel-time" ng-if="equipmentFeeMovingTo.amount">
                <h3>{{equipmentFeeMovingTo.name}}:</h3>
                <span class="company-color"> ${{equipmentFeeMovingTo.amount | number: 2}}
                </span>
            </div>

            <div class="moving-date travel-time" ng-if="storageCalcResult.to.surcharge_fuel">
                <h3>Fuel Surcharge:</h3>
                <span class="company-color"> ${{storageCalcResult.to.surcharge_fuel | number: 2}}
                </span>
            </div>

            <div class="moving-date travel-time" ng-if="storageCalcResult.overnightRate">
                <h3>Overnight Storage:</h3>
                <span class="company-color"> ${{storageCalcResult.overnightRate | number: 2}}
                </span>
            </div>

            <div class="moving-date">
                <h3>Crew Size:</h3>
                <span class="company-color">{{requestToStorage.crew }} movers</span>
            </div>

            <div class="moving-date rate">
                <h3>Hourly Rate:</h3>
                <span class="company-color">
                    <i style="text-decoration: line-through;font-style: normal;margin-right: 5px;color: #6B6B6B;" ng-if="storageCalcResult.localdiscount" class="cross">${{storageCalcResult.to.discountRate  | number : 0}}/Hr</i> ${{storageCalcResult.to.rate}}/hr
                    <i elromcotooltips class="company-color tooltips fa fa-info-circle" style="position: absolute; z-index: 1;">
                        <div class="tips rmtips hourly" show-data template="{{movecalcFormSettings.storageHourlyRateToolTip}}">
                        </div>
                    </i>
                </span>
            </div>

            <div class="moving-date est-time">
                <h3>Estimated Job Time:</h3>
                <span class="company-color" ng-if="!storageCalcResult.to.small_job">{{storageCalcResult.to.minTime | hrmin }} - {{storageCalcResult.to.maxTime | hrmin}}</span>
                <span class="company-color" ng-if="storageCalcResult.to.small_job">{{min_hours | hrmin }} (minimum)
                    <i elromcotooltips class="company-color tooltips fa fa-info-circle">
                        <div class="tips rmtips estinfo"><b>Job Time = Move Time + {{::calcsettings.travelTimeName}}.</b><br><b>Move Time</b>&nbsp;starts once movers arrive to your origin address and ends when movers finish unloading at the destination address.<br> Lunch breaks will be deducted of your total&nbsp; Job Time.</div>
                    </i>
                </span>
            </div>

            <div class="moving-date est-quote">
                <div ng-if="!storageCalcResult.to.small_job" class="moving-date est-quote">
                    <h3>Estimated quote:</h3>
                    <span class="company-color">${{storageCalcResult.to.minQuote | number :2}} - ${{storageCalcResult.to.maxQuote | number :2}}</span>
                </div>
                <div ng-if="storageCalcResult.to.small_job" class="moving-date est-quote">
                    <h3>Estimated quote:</h3>
                    <span class="company-color">${{storageCalcResult.to.minQuote | number :2}}</span>
                </div>
            </div>
        </div>

        <div ng-if="getFrontQuoteExplanation()" class="box_info to_storage storage">
            <span ng-if="!overnightMove" class="st_title">Move from storage</span>
            <span ng-if="overnightMove" class="st_title">Delivery</span>
            <div class="moving-date">
                <h3>Delivery Date:</h3>
                <span class="company-color" ng-bind="request.deliveryDateTime | date:'EEEE, MMM d, y'"></span>
            </div>
            <div class="moving-date travel-time" ng-if="storageCalcResult.from.travelTime">
                <h3 ng-hide="isDoubleDriveTime">{{::calcsettings.travelTimeName}}:</h3>
                <h3 ng-show="isDoubleDriveTime">{{::calcsettings.doubleDriveTimeName}}:</h3>
                <span class="company-color"> {{storageCalcResult.from.travelTime  | hrmin}} </span>
            </div>

            <div class="moving-date travel-time" ng-if="equipmentFeeMovingFrom.amount">
                <h3>{{equipmentFeeMovingFrom.name}}:</h3>
                <span class="company-color"> ${{equipmentFeeMovingFrom.amount | number: 2}}
                </span>
            </div>

            <div class="moving-date travel-time" ng-if="storageCalcResult.from.surcharge_fuel">
                <h3>Fuel Surcharge:</h3>
                <span class="company-color"> ${{storageCalcResult.from.surcharge_fuel | number: 2}}
                </span>
            </div>

            <div class="moving-date rate">
                <h3>Crew Size:</h3>
                <span class="company-color">{{requestFromStorage.crew }} movers</span>
            </div>
            <div class="moving-date rate">
                <h3>Hourly Rate:</h3>
                <span class="company-color">
                    <i style="text-decoration: line-through;font-style: normal;margin-right: 5px;color: #6B6B6B;" ng-if="storageCalcResult.localdiscount" class="cross">${{storageCalcResult.from.discountRate  | number : 0}}/Hr</i> ${{storageCalcResult.from.rate}}/hr
                </span>
            </div>

            <div class="moving-date est-time">
                <h3>Estimated Job Time:</h3>
                <span class="company-color" ng-if="!storageCalcResult.from.small_job">{{storageCalcResult.from.minTime | hrmin }} - {{storageCalcResult.from.maxTime | hrmin}}</span>
                <span class="company-color" ng-if="storageCalcResult.from.small_job">{{min_hours | hrmin }} (minimum)</span>
            </div>

            <div class="moving-date est-quote">
                <div ng-if="!storageCalcResult.from.small_job" class="moving-date est-quote">
                    <h3>Estimated quote:</h3>
                    <span class="company-color">${{storageCalcResult.from.minQuote | number :2}} - ${{storageCalcResult.from.maxQuote | number :2}}</span>
                </div>
                <div ng-if="storageCalcResult.from.small_job" class="moving-date est-quote">
                    <h3>Estimated quote:</h3>
                    <span class="company-color">${{storageCalcResult.from.minQuote | number :2}}</span>
                </div>
            </div>
        </div>

        <div ng-if="getFrontQuoteExplanation()" class="box_info total storage">
            <div class="moving-date">
                <h3>Estimated labor:</h3>
                <span class="company-color">${{(requestFromStorage.total_quote_min + requestToStorage.total_quote_min) | number :2}} - ${{(requestFromStorage.total_quote_max + requestToStorage.total_quote_max) | number :2}}</span>
            </div>

            <div ng-if="!overnightMove" class="moving-date">
                <h3>Estimated monthly storage:
                    <div class="tips">({{interval | number :0}} days )</div>
                </h3>
                <span class="company-color">${{storage_rate.min | number :2}} - ${{storage_rate.max | number :2}}
                    <i elromcotooltips class="company-color tooltips fa fa-info-circle">
                        <div class="tips rmtips estinfo">Monthly storage price is approximate and depends on the season and availability. Minimum storage fee is one month, after we can prorate your stay weekly.</div>
                    </i>
                </span>
            </div>

            <div ng-if="overnightMove" class="moving-date">
                <h3>Overnight Storage: </h3>
                <span class="company-color">${{basicsettings.overnight.rate}}</span>
            </div>
        </div>
    </div>
</div>

<div class="three_block  right-block">
    <div class="bigform-storagemove-results-text" id="calc-results2" ng-if="request.moveSize == 11">
        <div class="calc-intro-info" ng-bind-html="toTrustedHTML(customizedText.quoteExplanation['8'])"></div>
    </div>

    <div class="bigform-storagemove-results-text" id="calc-results2" ng-if="request.moveSize != 11">
        <div class="calc-intro-info" ng-bind-html="toTrustedHTML(movecalcFormSettings.thirdStepRightBlockStorage)">
        </div>

        <div class="calc-intro-info" ng-if="!overnightMove"
             ng-bind-html="toTrustedHTML(movecalcFormSettings.thirdStepRightBlockOurStorage)">
        </div>

        <div class="calc-intro-info" ng-if="overnightMove"
             ng-bind-html="toTrustedHTML(movecalcFormSettings.thirdStepRightBlockOurNightTrackStorage)">
        </div>
    </div>

    <a ng-if="isSecondStepFirst()"
       ng-click="NextStep('#edit-calculator-results')"
       ng-class="{'processing': loadingImg, 'default': !loadingImg}"
       id="submitRequestButton" class="btn btn-success btn-3d request-buttom-margin-none" type="button" name="op"
       ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultSecondNext)"></a>
    <button ng-if="isThirdStepFirst()" class="btn btn-primary btn-3d request-buttom-margin-none"
            style="background-color: {{movecalcFormSettings.companyColor}};-webkit-box-shadow: 0 6px 0 {{companycolorLighter}};-moz-box-shadow: 0 6px 0 {{companycolorLighter}};box-shadow: 0 6px 0 {{companycolorLighter}};border-color: {{companyColorDarker}};"
            ng-class="{'processing': loadingImg, 'default': !loadingImg}"
            ng-click="GoToInfo()" type="button" id="edit-go-to-summery" name="op"
            ng-bind-html="toTrustedHTML(movecalcFormSettings.buttonsText.calcResultFirstNext)">
    </button>
</div>
