<style>
    nav#slide_menu, .slide_menu {
        z-index: 10000 !important;
        width: 100%;
        border: none;
        background: white;
        position: absolute;
    }

    #slide_menu .form-item.form-type-checkbox {
        float: left;
        /* width: 89%; */
        width: 33%;
        font-size: 12px;
    }

    .commercial-select {
        position: relative;
        top: 1.2em;
    }

    .mobile .form-item-Extra-Furnished-Rooms-7{
        margin-left:7px;
    }
    .mobile.box_info {
        border-bottom: none;
    }
    .mobile .form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-5 {
        width: 66% !important;
    }
    .mobile .move-size h3,.mobile .move-size  span,.mobile .move-size  i {
        display:none;
    }
    .mobile .move-size .desc{margin-top: 125px !important;}
    .mobile .move-size .box_info {
        padding-bottom: 10px;
        border-bottom: none;
    }
    .mobile .move-size{width:100%; max-width:350px;}
    .mobile .calc-intro_description{padding:0px !important;}
    .slide-wrapper {
        padding: 10px;
    }
    .toolbar {
        text-align: left;
        background-color: #221f20;
        bottom: auto;
        top: 0;
        height: 50px;
    }
    .toolbar button {
        border: 0;
        padding: 0 20px 0 15px;
        color: #f38e1c;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        background: none;
        cursor: pointer;
        font-weight: bold;
    }
    .sf-calculate-wrapper {
        background-color: rgba(0, 37, 57, 0.4);
        border: 2px solid rgb(255, 255, 255);
        top: 0px;
        position: relative;
        padding-top: 20px;
        max-width: 500px;
        margin: 0 auto;
        overflow: hidden;
        min-height: 455px;
    }
    .sf-calculate-wrapper h1 {
        color: #ffffff;
        font-size: 18px;
        margin: 10px 0px;
        line-height: 20px;
        display: block;
        text-align: center;
    }
    div#request-form {
        padding: 40px;
    }
    div#request-form .input-group {
        width: 100%;
    }
    div#request-form .left-block .title {
        background-color: white !important;
        color: #f36a13 !important;
        height: 75px !important;
        border-bottom: 1px dotted #d5cccc;
        padding-top: 25px !important;
        font-weight: normal !important;
    }

    div#request-form h3.smcap {
        font-size: 24px !important;
        line-height: 29px !important;
        margin: 0;
        margin-top: 15px;
        color: #0a5c89 !important;
        font-weight: 400 !important;
    }
    div#request-form .three_block.info_block.left-block {
        background: white;
        padding: 20px;
        font-size: 14px;
    }

    div#request-form .form-control {
        border-radius: 0;
        border: 0;
        outline: none;
        box-shadow: none;
        font-size: 14px;
        line-height: 23px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 3px;
    }
    div#request-form .form-group-left {
        /* width: 155px; */
        float: left;
        width: 48%;
        margin-right: 2%;
    }
    #calc-info-steps > div.box_info > div > div.move-size > div{
        margin-top:10px;
    }
    .icheckbox_square-green {
        float: left;
        margin-right: 5px;
    }
    div#request-form .form-group-right {
        /* width: 155px; */
        float: left;
        width: 50%;
        position: relative;
    }
    div#request-form .form-group i {
        display: block;
        position: absolute;
        z-index: 2;
        top: 15px;
        right: 10px;
        width: 5px;
        height: 5px;
        border-left: 5px solid transparent;
        border-right: 4px solid transparent;
        border-top: 7px solid #525252;
        pointer-events: none;
    }
    div#request-form .form-group {
        margin-bottom: 15px;
        position: relative;
    }
</style>

<div class="sf-calculate-wrapper">
    <h1 class="wow fadeInUp">Get Your Quote Online!</h1>
    <h1><span>or Call Us -  {{basicsettings.company_phone | nationalPhoneFormatter}}</span></h1>

    <ng-slide-push-menu id="slide_menu" position="right">
        <div class="toolbar">
            <button ng-slide-menu="slide_menu"><span>&lt;</span> Back</button>
            <button class="pull-right" ng-slide-menu="slide_menu">Done</button>
        </div>

        <div class="slide-wrapper">
            <div id="calc-info-steps">
                <div class="calc-intro"></div>
                <div style="position: relative;">
                    <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                            class="required form-control"
                            ng-Change="showRooms()"
                            sizeofmove ng-Model="request.moveSize"
                            id="edit-size-move">
                        <option value="" selected="selected">Choose Size of Your Move</option>
                        <option value="1">Room or less</option>
                        <option value="2">Studio Apartment</option>
                        <option value="3">Small 1 Bedroom Apartment</option>
                        <option value="4">Large 1 Bedroom Apartment </option>
                        <option value="5">Small 2 Bedroom Apartment</option>
                        <option value="6">Large 2 Bedroom Apartment</option>
                        <option value="7">3 Bedroom Apartment</option>
                        <option value="8" text="2 Bedroom">2 Bedroom house/townhouse</option>
                        <option value="9">3 Bedroom house/townhouse</option>
                        <option value="10">4 Bedroom house/townhouse </option>
                    </select>
                    <i class="select_cross"></i>
                </div>

                <div id="size-intro" style="text-align: center;margin-top: 50px;">
                    <i class="flaticon-livingroom8"></i>
                    <h4>Choose Size of You Move</h4>
                </div>

                <div class="box_info mobile">

                    <div class="calc-intro_description">
                        <div class="move-size"></div>
                    </div>
                    <div id="sf-rooms" class="form-item form-type-checkbox form-item-Extra-Furnished-Rooms-{{room.id}}"
                         ng-repeat="room in rooms"
                         ng-show="request.moveSize != 11"
                         style="display:none;" >
                        <input type="checkbox" ng-change="showRoomImg(room.id)"
                               ichecks
                               data-rid="{{room.id}}"
                               id="edit-extra-furnished-rooms-{{room.id}}"
                               checklist-model="request.checkedRooms.rooms"
                               checklist-value="room.id"
                               class="form-checkbox">
                        <label class="option" >{{room.text}}</label>
                    </div>
                    <div id="sf-rooms"
                         class="form-item form-item-Extra-Furnished-Rooms-{{room.id}}"
                         ng-show="request.moveSize == 11">
                        <select ng-model="request.field_commercial_extra_rooms"
                                style="position: relative; top: 1.2em;"
                                ng-change="getCommercialText()"
                                class="form-control commercial-select"
                                ng-options="moveSize.id as moveSize.name for moveSize in commercialExtra">
                            <option value="" selected>Choose your commercial extra size</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </ng-slide-push-menu>

    <div id="request-form">
        <form action="/" method="post"  accept-charset="UTF-8" autocomplete="off">
            <div>

                <!-- First Step -->
                <fieldset class="form-wrapper">
                    <div style="display: none;" class="fieldset-wrapper">
                        <div class="three_block info_block left-block">
                            <div id="calc-results"></div>

                            <div id="calc-info-steps">
                                <div class="calc-intro">
                                    <div class="title">let’s get started <i class="fa fa-angle-right"></i></div>
                                    <h3 class="smcap">It's easy</h3>
                                    <p class="calc-intro_description">
                                        Just two easy steps, and see your results price quote.
                                    </p>

                                    <h3 class="smcap">It's fast</h3>
                                    <p class="calc-intro_description">
                                        Enter when, where, and what you're moving, and get a preliminary estimate for any local move within seconds.

                                    </p>
                                    <h3 class="smcap">It's safe</h3>
                                    <p class="calc-intro_description">

                                        There is no obligation. By submitting a request here you are just getting an estimate and checking availability for your move.

                                    </p>


                                </div>

                                <div class="box_info">

                                    <div class="calc-intro_description">
                                        <div class="moving-date"></div>
                                        <div class="delivery-date"></div>
                                        <div class="service-type"></div>
                                        <div class="clearfix"></div>
                                        <div class="moving-from"></div>
                                        <div class="moving-to"></div>
                                        <div class="travel_time"></div>
                                        <div class="move-size"></div>
                                        <p class="distance"></p>
                                    </div>
                                </div>


                            </div></div>
                    </div>

                    <div class="" ng-class="{'disabled': loading}">
                        <form action="" method="post" autocomplete="off">

                            <div class="step2 animation " ng-show="step2" ng-class="{'ng-enter':step1 == false,'ng-leave':step2 == false}"  >
                                <div class="form-group form-group-left">
                                    <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                           class="required form-control"
                                           ng-model="request.first_name"
                                           placeholder="First Name"
                                           isnotempty
                                           type="text">
                                </div>
                                <div class="form-group  form-group-right">
                                    <div class="input-group">
                                        <input
                                                ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="required form-control"
                                                ng-model="request.last_name"
                                                placeholder="Last Name"
                                                isnotempty
                                                type="text"
                                                >

                                    </div>
                                </div>
                                <div class="" >
                                    <input isnotempty
                                           sfisemail
                                           required
                                           placeholder="Email"
                                           class="form-control required form-text login-processed"
                                           ng-model="request.email"
										   er-lowercase
                                           type="email" id="edit-email" name="email"
                                           size="20"
                                           maxlength="180">


                                </div>
                                <div class="form-group" style="margin-top:10px;">
                                    <input placeholder="Primary Phone"
                                           ng-model="request.primaryPhone"
                                           restrict="reject"
                                           name="phone"
                                           isnotempty
                                           clean="true"
                                           phone-input
                                           minlength="14"
                                           maxlength="14"
                                           class="form-control required form-text input-element-processed "
                                           type="text"
                                           id="primary_phone">

                                </div>

                                <div class="form-group" ng-if="mobile">
                                    <input  type="button" class="form-control btn submit_btn" ng-Click="Calculate('Submit')" value="Get Quote Now">
                                    <button ng-slide-menu="congrats_menu" id="slid_menu_program" style="display: none;"></button>
                                </div>
                                <div class="form-group" ng-if="!mobile">
                                    <input type="button" class="form-control btn submit_btn" ng-Click="goToForm()" value="Calculate">
                                </div>

                                <div class="form-group" >
                                    <input type="button" class="form-control btn submit_btn" ng-Click="step2 =false;step1 = true;" value="back">
                                </div>
                            </div>

                            <div class="step1 animation" ng-show="step1" ng-class="{'ng-leave':step1 == false,'ng-enter':step2 == false}">
                                    <div class="form-group form-group-left">
                                        <div class="input-group date">
                                            <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                   class="form-control required  form-control  "
                                                   readonly="readonly"
                                                   type="text"
                                                   ng-model='moveDate' id="short-datepicker" name="Move_Date[date]"
                                                   formdatepicker
                                                   placeholder="Move Date">

                                        </div>
                                    </div>

                                    <div class="form-group form-group-right">
                                        <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="required form-control"
                                                id="edit-service"
                                                ng-model="request.serviceType"
                                                servicetype
                                                ng-init="serviceType='1'">
                                            <option ng-hide="!basicsettings.services.localMoveOn"
                                                    value="1">{{::basicsettings.services.localMoveLabel}}
                                            </option>
                                            <option ng-hide="!basicsettings.services.localMoveStorageOn"
                                                    value="2">{{::basicsettings.services.localMoveStorageLabel}}</option>
                                            <option ng-hide="!basicsettings.services.loadingHelpOn"
                                                    value="3">{{::basicsettings.services.loadingHelpLabel}}</option>
                                            <option  ng-hide="!basicsettings.services.unloadingHelpOn" value="4"
                                                    >{{::basicsettings.services.unloadingHelpLabel}}</option>
                                            <option  ng-hide="!basicsettings.isflat_rate_miles"
                                                     class="disabled" value="5">{{::basicsettings.services.flatRateLabel}}</option>
                                            <option value="6"
                                                    ng-hide="!basicsettings.services.overnightStorageOn">{{::basicsettings.services.overnightStorageLabel}}</option>
                                            <option  ng-hide="!basicsettings.islong_distance_miles"
                                                     class="disabled"  value="7">{{::basicsettings.services.longDistanceLabel}}</option>
											<option ng-if="basicsettings.services.packingDayOn"
													value="8">{{::basicsettings.services.packingDayLabel}}
											</option>
                                        </select>
                                        <i></i>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="form-group  form-item-Date-Storage" style="display: none;">
                                        <div id="edit-date-storage" class="input-group date" style="width:100%">
                                            <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}" class="dd form-control" readonly="readonly" type="text" id="edit-date-storage-datepicker-popup-0" ng-model='request.deliveryDate' formdatepicker  placeholder="Delivery Date" minDate="moveDate" name="Date_Storage[date]" value="" size="20" maxlength="30">

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group form-group-left zip">
                                        <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                               class="desktopzip required form-control"
                                               ng-model="request.zipFrom"
                                               zipcode mask="99999"
                                               placeholder="From Zip"
                                               type="tel">
                                    </div>
                                    <div class="form-group form-group-right">
                                        <div class="input-group">
                                            <input
                                                    ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                    class="desktopzip required form-control"
                                                    placeholder="To Zip"
                                                    type="tel"
                                                    ng-model="request.zipTo" zipcode mask="99999">

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group" style="    margin-bottom: 0px;">
                                        <div class="" ng-class="{'empty':!request.moveSize}" ng-click="openSlide();" id="sf-move-size" style="background: white;">
                                            <button ng-slide-menu="slide_menu" id="slid_menu_size" style="display: none;"></button>
                                        <span ng-if="request.moveSize" style="font-size: 15px;padding: 10px;line-height: 15px;display: block;">{{sizeOfMove[request.moveSize-1].text}}
                                          <span ng-show="rooms_text" style="    display: block;color: #F06F34;line-height: 11px;font-size: 14px;padding-left: 10px;">{{rooms_text}}</span>
                                        </span>
                                            <span style="font-size: 15px;padding: 10px;line-height: 15px;display: block;" ng-show="!request.moveSize">Choose Move Size</span>


                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group fromtype">
                                        <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="required form-control"
                                                id="edit-type-from"
                                                isnotempty ng-model="request.typeFrom" >
                                            <option value="" selected="selected">Entrance(from)</option>
                                            <option value="1">No Stairs - Ground Floor</option>
                                            <option value="2">Stairs - 2nd Floor</option>
                                            <option value="3">Stairs - 3rd Floor</option>
                                            <option value="4">Stairs - 4th Floor</option>
                                            <option value="5">Stairs - 5th Floor</option>
                                            <option value="6">Elevator</option>
                                            <option value="7">Private House</option>
                                        </select>
                                        <i></i>

                                    </div>
                                    <div class="form-group">
                                        <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="required form-control"
                                                id="edit-type-from"
                                                isnotempty ng-model="request.typeTo" >
                                            <option value="" selected="selected">Entrance(to)</option>
                                            <option value="1">No Stairs - Ground Floor</option>
                                            <option value="2">Stairs - 2nd Floor</option>
                                            <option value="3">Stairs - 3rd Floor</option>
                                            <option value="4">Stairs - 4th Floor</option>
                                            <option value="5">Stairs - 5th Floor</option>
                                            <option value="6">Elevator</option>
                                            <option value="7">Private House</option>
                                        </select>
                                        <i></i>
                                    </div>

                                    <div class="form-group" >
                                        <input type="button" class="form-control btn submit_btn" ng-Click="step2 =true;step1 = false;" value="Calculate">
                                    </div>
                             </div>


                        </form>
                    </div>

                </fieldset>


        </form>
    </div>
</div>

<mobile-congrats></mobile-congrats>
