<div class="sf-calculate-wrapper" ng-style="{'max-width': movecalcFormSettings.topFormWidth+'px'}">

    <ng-slide-push-menu id="slide_menu" position="right" disable-tab with-siblings="true">
        <div class="toolbar">
            <button ng-slide-menu="slide_menu"><span>&lt;</span> Back</button>
            <button class="pull-right" ng-slide-menu="slide_menu">Done</button>
        </div>

        <div class="slide-wrapper">
            <div id="calc-info-steps">
                <div class="calc-intro"></div>
                <div style="position: relative;" ng-hide="moveSizePreview">
                    <select ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                            class="required form-control SizeAndEntrance"
                            ng-Change="showRooms()"
                            sizeofmove ng-Model="request.moveSize"
                            id="edit-size-move">
                        <option value="" selected="selected">Choose Size of Your Move</option>
                        <option value="1">Room or less</option>
                        <option value="2">Studio Apartment</option>
                        <option value="3">Small 1 Bedroom Apartment</option>
                        <option value="4">Large 1 Bedroom Apartment</option>
                        <option value="5">Small 2 Bedroom Apartment</option>
                        <option value="6">Large 2 Bedroom Apartment</option>
                        <option value="7">3 Bedroom Apartment</option>
                        <option value="8" text="2 Bedroom">2 Bedroom house/townhouse</option>
                        <option value="9">3 Bedroom house/townhouse</option>
                        <option value="10">4 Bedroom house/townhouse</option>
                        <option value="11" ng-show="sizeOfMove[10]">{{sizeOfMove[10].text}}</option>
                    </select>
                    <i class="select_cross"></i>
                </div>
                <div ng-show="moveSizePreview" style="width:100%;">
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('1')">Room or less</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('2')">Studio Apartment</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('3')">Small 1 Bedroom Apartment</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('4')">Large 1 Bedroom Apartment</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('5')">Small 2 Bedroom Apartment</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('6')">Large 2 Bedroom Apartment</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('7')">3 Bedroom Apartment</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('8')">2 Bedroom house/townhouse</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('9')">3 Bedroom house/townhouse</div>
                    <div class="MoveSizeBtn" ng-click="MoveSizePreviewClick('10')">4 Bedroom house/townhouse</div>
                    <div class="MoveSizeBtn"
                         ng-if="sizeOfMove[10]"
                         ng-click="MoveSizePreviewClick('11')">
                        {{sizeOfMove[10].text}}
                    </div>
                </div>

                <div class="box_info mobile">

                    <div class="calc-intro_description">
                        <div class="move-size"></div>
                    </div>
                    <div id="sf-rooms" class="form-item form-type-checkbox form-item-Extra-Furnished-Rooms-{{room.id}}"
                         ng-repeat="room in rooms"
                         ng-show="request.moveSize != 11"
                         style="display:none;">
                        <input type="checkbox" ng-change="showRoomImg(room.id)"
                               ichecks
                               data-rid="{{room.id}}"
                               id="edit-extra-furnished-rooms-{{room.id}}"
                               checklist-model="request.checkedRooms.rooms"
                               checklist-value="room.id"
                               class="form-checkbox">
                        <label class="option">{{room.text}}</label>
                    </div>
                    <div id="sf-rooms"
                         class="form-item form-item-Extra-Furnished-Rooms-{{room.id}}"
                         ng-show="request.moveSize == 11">
                        <select ng-model="request.field_commercial_extra_rooms"
                                style="position: relative; top: 1.2em;" ng-change="getCommercialText()"
                                class="form-control commercial-select"
                                ng-options="moveSize.id as moveSize.name for moveSize in commercialExtra">
                            <option value="" selected>Choose your commercial extra size</option>
                        </select>
                    </div>
                </div>
                <div class="bottom-done-button-wrapper">
                    <button class="bottom-done-button" ng-slide-menu="slide_menu">Done</button>
                </div>
            </div>
        </div>
    </ng-slide-push-menu>

    <div id="request-form">
        <img ng-show="loadingImg" style="    width: 90px;
    position: absolute;
    z-index: 15;
    margin: 0 auto;
    top: 33%;
    left: 39%;" src="https://themoveboard.com/elromco/animat-road-trip-color.gif" class="ng-hide">

        <form action="/" method="post" accept-charset="UTF-8" autocomplete="off">
            <div>

                <!-- First Step -->
                <fieldset class="form-wrapper">

                    <div class="" ng-class="{'disabled': loading}">
                        <form action="" method="post" autocomplete="off">

                            <div id="step3" class="step3 animation " ng-show="step3"
                                 ng-class="{'ng-enter':step3 == true,'ng-leave':step2 == true}">
                                <div class="form-slogan" ng-bind-html="::parseTags(movecalcFormSettings.topFormThirdStep)">
                                </div>
                                <div class="form-group form-group-left">
                                    <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                           class="required form-control"
                                           ng-model="request.first_name"
                                           placeholder="First Name"
                                           isnotempty
                                           type="text">
                                </div>
                                <div class="form-group  form-group-right">
                                    <div class="input-group">
                                        <input
                                                ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="required form-control"
                                                ng-model="request.last_name"
                                                placeholder="Last Name"
                                                isnotempty
                                                type="text"
                                                >

                                    </div>
                                </div>
                                <div class="">
                                    <input isnotempty
                                           sfisemail
                                           required
                                           placeholder="Email"
                                           class="form-control required form-text login-processed"
                                           ng-model="request.email"
										   er-lowercase
                                           type="email" id="edit-email" name="email"
                                           size="20"
                                           maxlength="180">


                                </div>
                                <div class="form-group ultrasmall-primary-phone"
                                     ng-class="{'ultrasmall-primary-phone-short': !userLogin && movecalcFormSettings.showHowDidYouHearAboutUsField}"
                                     disable-Tab
                                     with-Siblings="true">
                                    <input placeholder="Primary Phone"
                                           ng-model="request.primaryPhone"
                                           restrict="reject"
                                           name="phone"
                                           isnotempty
                                           clean="true"
                                           phone-input
                                           minlength="14"
                                           maxlength="14"
                                           class="form-control required form-text input-element-processed "
                                           type="text"
                                           id="primary_phone">

                                </div>
								<div ng-if="!userLogin && movecalcFormSettings.showHowDidYouHearAboutUsField" class="form-group form-type-select ultrasmall-hear-about-us">
									<select  isnotempty
											 class="required form-control SizeAndEntrance"
											 id="edit-poll-info"
											 ng-model="request.poll"
											 name="poll_info" >
										<option value="" disabled selected="selected">How did you hear about us?</option>
										<option ng-repeat="source in movecalcFormSettings.pollSources.sources">{{source.name}}</option>
									</select>
								</div>

                                <div class="form-group" disable-Tab with-Siblings="true" ng-class="{'disabled': blockCalculateSmallForm}">
                                    <div class=" btn submit_btn btn-3d" ng-click="blockCalculateSmallForm = true; Calculate(1, sourceTopForm)"
                                           ng-bind-html="::toTrustedHTML(movecalcFormSettings.topFormThirdStepButton)">
                                    </div>
                                </div>

                                <div class="form-group" disable-Tab with-Siblings="true">
                                    <a href="#" class="back-link" ng-click="showStep2()">Change to Move Size</a>
                                </div>


                            </div>

                            <div id="step1" class="step1 animation" ng-show="step1"
                                 ng-class="{'ng-leave':step1 == false,'ng-enter':step2 == false}">
                                <div class="form-slogan" ng-bind-html="::parseTags(movecalcFormSettings.topFormFirstStep)">
                                </div>

                                <!-- TESTING NEW CALENDAR -->
                                <div style="width: 45%;" class="form-group form-group-left">
                                    <div class="input-group date">
                                        <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                               class="form-control required"
                                               tabindex="-1"
                                               readonly="readonly"
                                               type="text"
                                               ng-model='request.moveDate' id="short-datepicker" name="Move_Date[date]"
                                               pick-a-date="date"
                                               pick-a-date-options="MoveDatePickerOptions"
                                               strg="false"
                                               placeholder="Move Date">
                                    </div>
                                </div>


                                <div style="width: 25%;" class="form-group form-group-left zip">
                                    <input ng-if="request.serviceType!=='4'"
                                           ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                           class="desktopzip form-control required"
                                           ng-model="request.zipFrom"
                                           zipcode mask="99999"
                                           placeholder="From Zip"
                                           type="tel">
                                    <search-zip ng-hide="request.zipFrom.length==5 || request.serviceType=='4'" class="search-zip-icon" target-zip="request.zipFrom"
                                                allowedstate="allowedstate">
                                    </search-zip>
                                </div>
                                <div style="width: 25%;" class="form-group form-group-right zip">
                                    <div class="input-group">
                                        <input  ng-if="request.serviceType!=='3' && request.serviceType!=='8'"
                                                ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                                class="desktopzip form-control required"
                                                placeholder="To Zip"
                                                type="tel"
                                                ng-model="request.zipTo" zipcode mask="99999">
                                        <search-zip ng-hide="request.zipTo.length==5 || request.serviceType=='3' || request.serviceType=='8'" class="search-zip-icon" target-zip="request.zipTo"
                                                    allowedstate="allowedstate">
                                        </search-zip>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group" disable-tab with-Siblings="true" ng-hide="serviceneed || !basicsettings.services.localMoveOn">
                                    <input type="checkbox" ng-change="serviceneed = true"
                                           ichecks
                                           id="extra-service"
                                           checklist-model="serviceneed"
                                           checklist-value="serviceneed"
                                           class="form-checkbox">
                                    <label class="option" style="color: white;font-weight: normal;">- Need storage or
                                        labor help only?</label>
                                </div>
                                <div style="    width: 45%;" class="form-group form-group-left" disable-Tab with-Siblings="true" ng-show="serviceneed || !basicsettings.services.localMoveOn">
                                    <select ng-class="{'disabled': loadingImg, 'default': !loadingImg,}"
                                            class="required form-control"
                                            id="edit-service"
                                            ng-model="request.serviceType"
                                            servicetype>
                                        <option ng-if="basicsettings.services.localMoveOn"
                                                value="1">{{::basicsettings.services.localMoveLabel}}
                                        </option>
                                        <option ng-if="basicsettings.services.localMoveStorageOn"
                                                value="2">{{::basicsettings.services.localMoveStorageLabel}}
                                        </option>
                                        <option ng-if="basicsettings.services.loadingHelpOn"
                                                value="3">{{::basicsettings.services.loadingHelpLabel}}
                                        </option>
                                        <option ng-if="basicsettings.services.unloadingHelpOn" value="4"
                                                >{{::basicsettings.services.unloadingHelpLabel}}
                                        </option>
                                        <option ng-if="basicsettings.isflat_rate_miles"
                                                class="disabled" value="5">{{::basicsettings.services.flatRateLabel}}
                                        </option>
                                        <option value="6"
                                                ng-if="basicsettings.services.overnightStorageOn">{{::basicsettings.services.overnightStorageLabel}}
                                        </option>
                                        <option ng-if="basicsettings.islong_distance_miles"
                                                class="disabled" value="7">{{::basicsettings.services.longDistanceLabel}}
                                        </option>
										<option ng-if="basicsettings.services.packingDayOn"
												value="8">{{::basicsettings.services.packingDayLabel}}
										</option>
                                    </select>
                                    <i></i>
                                </div>
                                <div class="form-group  form-item-Date-Storage"
                                     ng-if="request.serviceType == 2"
                                     style="float:left;width: 52%;">
                                    <div id="edit-date-storage" class="input-group date" style="width: 100% ">
                                        <input ng-class="{'disabled': loadingImg, 'default': !loadingImg}"
                                               class="dd form-control required" readonly="readonly" type="text"
                                               tabindex="-1"
                                               id="edit-date-storage-datepicker-popup-1" ng-model='request.deliveryDate'
                                               name="Date_Storage[date]" value="" size="20" maxlength="30"
                                               pick-a-date="date2" pick-a-date-options="StorageDatePickerOptions"
                                               strg="true">

                                    </div>
                                </div>


                                <div class="" ng-if="!threesteps">
                                    <div class="clearfix"></div>
                                    <div class="form-group " style="    margin-bottom: 0px;">
                                        <div class="" ng-class="{'empty':!request.moveSize}" ng-click="openSlide();"
                                             id="sf-move-size" style="background: white;">
                                            <button ng-slide-menu="slide_menu" id="slid_menu_size"
                                                    style="display: none;"></button>
                                            <span ng-if="request.moveSize" ng-class="{'success desktopzip':sizeChoosen}"
                                                  class="movesizeinput"
                                                  style="font-size: 15px;padding: 10px;line-height: 15px;display: block;">{{sizeOfMove[request.moveSize-1].text}}
                                              <span ng-show="rooms_text"
                                                    style="    display: block;color: #F06F34;line-height: 11px;font-size: 14px;padding-left: 10px;">{{rooms_text}}</span>
                                            </span>
                                            <span style="font-size: 15px;padding: 10px;line-height: 15px;display: block;"
                                                  class="movesizeinput"
                                                  ng-show="!request.moveSize"
                                                  ng-bind-html="::parseTags(movecalcFormSettings.topFormSecondStep)">
                                            </span>

                                            <div class="divan">
                                                <i class="flaticon-livingroom8"></i>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group form-group-left fromtype">
                                        <select ng-disabled="loadingImg || request.serviceType==4"
												ng-class="{'disabled':loadingImg || request.serviceType==4, 'default': !loadingImg, 'required':request.serviceType!=4}"
                                                class="form-control"
                                                id="edit-type-from"
                                                isnotempty ng-model="request.typeFrom">
                                            <option value="" selected="selected">Entrance(from)</option>
                                            <option value="1">No Stairs - Ground Floor</option>
                                            <option value="2">Stairs - 2nd Floor</option>
                                            <option value="3">Stairs - 3rd Floor</option>
                                            <option value="4">Stairs - 4th Floor</option>
                                            <option value="5">Stairs - 5th Floor</option>
                                            <option value="6">Elevator</option>
                                            <option value="7">Private House</option>
                                        </select>
                                        <i></i>

                                    </div>
                                    <div class="form-group form-group-right fromtype">
                                        <select ng-disabled="loadingImg || request.serviceType==3 || request.serviceType==8"
												ng-class="{'disabled':loadingImg || request.serviceType==3 || request.serviceType==8, 'default': !loadingImg, 'required':request.serviceType!=3 && request.serviceType!=8}"
                                                class="form-control"
                                                id="edit-type-to"
                                                isnotempty ng-model="request.typeTo">
                                            <option value="" selected="selected">Entrance(to)</option>
                                            <option value="1">No Stairs - Ground Floor</option>
                                            <option value="2">Stairs - 2nd Floor</option>
                                            <option value="3">Stairs - 3rd Floor</option>
                                            <option value="4">Stairs - 4th Floor</option>
                                            <option value="5">Stairs - 5th Floor</option>
                                            <option value="6">Elevator</option>
                                            <option value="7">Private House</option>
                                        </select>
                                        <i></i>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group" disable-Tab with-Siblings="true">
                                    <div class="btn submit_btn btn-3d"
                                           ng-Click="Continue1('step1')" ng-bind-html="::toTrustedHTML(movecalcFormSettings.topFormFirstStepButton)">
                                    </div>
                                </div>
                            </div>

							<div id="step4" class="step4" ng-show='step4'>

								<div class="congrats_block">
									<div><img src="https://themoveboard.com/elromco/success-icon.png"></div>
									<div class="congrats-title" ng-bind-html="::parseTags(movecalcFormSettings.topFormCongrats)">
									</div>
									<a class="btn submit_btn btn-3d" href="{{requesturl}}"
									   ng-bind-html="::toTrustedHTML(movecalcFormSettings.topFormCongratsButton)">
									</a>
								</div>
							</div>

                            <div id="step2" class="step2 animation" disable-Tab with-Siblings="true" ng-if="threesteps" ng-show="step2"
                                 ng-class="{'ng-enter':step1 == false,'ng-leave':step2 == false,'ng-leave':step3 == true}">
                                <div class="form-slogan" ng-bind-html="::parseTags(movecalcFormSettings.topFormSecondStep)">
                                </div>
                                <div class="form-group" style="    margin-bottom: 0px;">
                                    <div class="required" ng-class="{'empty':!request.moveSize}" ng-click="openSlide();"
                                         id="sf-move-size" style="background: white;">
                                        <button ng-slide-menu="slide_menu" id="slid_menu_size"
                                                style="display: none;"></button>
                                        <span ng-if="request.moveSize" class="movesize"
                                              ng-class="{'success desktopzip':sizeChoosen}"
                                              style="font-size: 15px;padding: 10px;line-height: 15px;display: block;">{{sizeOfMove[request.moveSize-1].text}}
                                              <span ng-show="rooms_text"
                                                    style="    display: block;color: #F06F34;line-height: 11px;font-size: 14px;padding-left: 10px;">{{rooms_text}}</span>
                                            </span>
                                        <span class="movesizeinput"
                                              style="font-size: 15px;padding: 10px;line-height: 15px;display: block;"
                                              ng-show="!request.moveSize">Choose Move Size</span>
                                        <i ng-hide="sizeChoosen"></i>

                                        <div class="divan" ng-hide="sizeChoosen">
                                            <i class="flaticon-livingroom8" style="border:none;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group form-group-left fromtype">
                                    <select ng-disabled="loadingImg || request.serviceType==4"
											ng-class="{'disabled':loadingImg || request.serviceType==4, 'default': !loadingImg, 'required':request.serviceType!=4}"
                                            class="form-control"
                                            id="edit-type-from"
                                            isnotempty ng-model="request.typeFrom">
                                        <option value="" selected="selected">Entrance(from)</option>
                                        <option value="1">No Stairs - Ground Floor</option>
                                        <option value="2">Stairs - 2nd Floor</option>
                                        <option value="3">Stairs - 3rd Floor</option>
                                        <option value="4">Stairs - 4th Floor</option>
                                        <option value="5">Stairs - 5th Floor</option>
                                        <option value="6">Elevator</option>
                                        <option value="7">Private House</option>
                                    </select>
                                    <i></i>

                                </div>
                                <div class="form-group form-group-right fromtype">
                                    <select ng-disabled="loadingImg || request.serviceType==3 || request.serviceType==8"
											ng-class="{'disabled':loadingImg || request.serviceType==3 || request.serviceType==8, 'default': !loadingImg, 'required':request.serviceType!=3 && request.serviceType!=8}"
                                            class="form-control"
                                            id="edit-type-to"
                                            isnotempty ng-model="request.typeTo">
                                        <option value="" selected="selected">Entrance(to)</option>
                                        <option value="1">No Stairs - Ground Floor</option>
                                        <option value="2">Stairs - 2nd Floor</option>
                                        <option value="3">Stairs - 3rd Floor</option>
                                        <option value="4">Stairs - 4th Floor</option>
                                        <option value="5">Stairs - 5th Floor</option>
                                        <option value="6">Elevator</option>
                                        <option value="7">Private House</option>
                                    </select>
                                    <i></i>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class=" btn submit_btn btn-3d"
                                           ng-Click="Continue2('step2')" ng-bind-html="::toTrustedHTML(movecalcFormSettings.topFormSecondStepButton)">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a href="#" class="back-link" ng-click="showStep1()">Change Move Date</a>
                                </div>

                            </div>


                            <div id="ngProgress"></div>
                        </form>
                    </div>

                </fieldset>
            </div>

        </form>

    </div>

    <div class="circleHandler">
        <div class="circle" id="step1Circle" ng-class="{'circleShow':stepBookmarks[0], 'circleDone':true}"></div>
        <div class="circle" id="step2Circle" ng-class="{'circleShow':stepBookmarks[1], 'circleDone':step2||step3}"></div>
        <div class="circle" id="step3Circle" ng-class="{'circleShow':stepBookmarks[2], 'circleDone':step3}"></div>
    </div>
</div>
