<div class="er-message-item" ng-class="{'er-message-item__left': isLeftSide(message)}">
	<div class="er-message-item__wrapper animated fadeInLeft">
		<div ng-mouseover="readMessageInThread(message)" class="er-message-item__wrapper_content" ng-class="{'er-message-item__new' : isNewMessage(message)}">
			<span class="er-message-item__name">{{message.user_first_name + ' ' + message.user_last_name}}</span>
			<span class="er-message-item__arrow"></span>
			<div class="er-message-item__wrapper_body" style="position: relative">
				<p ng-bind-html="message.comment_body"></p>
				<i ng-if="isCanEditMessage(message)" class="icon-pencil er-message-item__icon-pencil" ng-click="openEditCommentModal(message,nid)"></i>
			</div>
			<div class="er-message-item__footer">
				<er-sms-message-info></er-sms-message-info>
				<span class="er-message-item__time">
					{{message.created | momentDate: 'MMMM DD, YYYY, h:mm A'}}
				</span>
				<span ng-show="isNewMessage(message)" class="er-message-item__message-label-new">
					new
				</span>
			</div>
		</div>
	</div>
</div>
