.er-message-item
	color white
	&__icon-pencil
		position absolute
		right 10px
		top -15px
		font-size 12px
		cursor pointer
	&__message-label-new
		display: inline;
		padding: .2em .6em .3em;
		font-weight: 700;
		line-height: 1;
		font-family: Open Sans,Helvetica,Arial,sans-serif;
		font-size: 8px;
		letter-spacing: 0;
		border-radius: .25em;
		background-color: #f77d7d;
		color white
	&__arrow
		position absolute
		display block
		width 0
		height 0
		z-index 10
		margin-top -10px
		border-color transparent
		border-style solid
		border-right-width 0
		border-top-width 10px
		border-left-width 15px
		border-bottom-width 0
		border-left-color #556b8d
		top 100%
		right -15px
	&__wrapper
		margin 0
		clear both
		&_body
			padding 0 10px
			position relative
			min-width: 200px;
			p
				margin 0
				font-size 15px
		&_content
			background-color #556b8d
			color #fff
			border-radius 3px 3px 0 3px
	&__name
		height 20px
		position relative
		display block
		color white
		font-weight 700
		padding-left 10px
	&__new
		cursor pointer
		background-color #ffdbdb
	&__time
		font-family Roboto
		font-size 11px
		color white
	&__footer
		position relative
		display flex
		justify-content flex-end
		padding 0 5px
	&__left
		.er-message-item
			&__name
				color #565656
			&__arrow
				position absolute
				display block
				width 0
				height 0
				z-index 10
				margin-top 0
				border-color transparent
				border-style solid
				border-right-width 15px
				border-top-width 0
				border-left-width 0
				border-bottom-width 10px
				border-right-color #e6e6e6
				top 0
				left -15px
				right 0
			&__wrapper_content
				background-color #e6e6e6
				border-radius 0 3px 3px 3px
				color #565656
			&__time
				color #565656
