.draft-request-container
	a.btn.btn-yellow(href="javascript:void(0);" ng-click='createDraft()') Draft Request
.draft-request-busy-overlay(ng-if='busy')
	svg.spinner(width='65px', height='65px', viewbox='0 0 66 66', xmlns='http://www.w3.org/2000/svg')
		circle.path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')