.draft-request-container
	.btn.btn-yellow
		background url('./stripes.png') 0 0 repeat-x scroll orange
		padding 5px 12px
		color #fff
		border-radius 0
		margin 15px 0 0 22px
		font-size 14px
		font-weight 600
		letter-spacing 1px
		&:hover
			color #fff
			background url('./stripes.png') 0 0 repeat-x scroll #ffb100
			border-color #ffb100
.draft-request-busy-overlay
	position absolute
	top calc(50vh - (65px / 2))
	left calc(50% + 65px)