<div  ng-controller="LongdistanceContorller as vm" class="long_distance">
    <div class="panel col-md-8">
           <div class="saving-progress" >
                            <span class=""  ng-show="vm.saving">Saving</span>
                            <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
                        </div>
        
                    <div class="panel-body minimal calendar_settings" >

                        <div long-distance-map class="vmap" style=" height: 750px;"></div>


                    </div>
    </div>
     <div ng-show="vm.showSidebar" class="panel col-md-2 nopadding long_distance animated fadeInRight">

        <h2 class="statename">{{vm.state_name}}</h2>
          <table class="table table-inbox table-hover">
                            <tbody>
                                <tr class="option">
                                    <td>
                                     <input type="checkbox" class="mail-checkbox icheck" ichecks=""  ng-change="vm.saveSettings()" ng-model="vm.longdistance[vm.stateCode].flatRate">
                                    
                                    </td>
                                    <td>
                                    Flat Rate Service
                                    </td>
                                </tr>
                                
                                 <tr class="option">
                                    <td>
                                    State Price
                                    </td>
                                    <td>
                                      <input class="form-element form-control" ng-change="vm.saveSettings()"  ng-model="vm.longdistance[vm.stateCode].state_rate">$ / c.f
                                    </td>
                                     
                                </tr>
                                 <tr class="option" ng-repeat="codes in ::vm.areaCodes[vm.state_name]" ng-class="{'disabled': vm.longdistance[vm.stateCode].state_rate}">
                                    <td>
                                    {{codes}}
                                    </td>
                                    <td>
                                      <input class="form-element form-control" ng-change="vm.saveSettings()"  ng-model="vm.longdistance[vm.stateCode].rate[codes]">$ / c.f
                                    </td>
                                </tr>
                                
                            </tbody>
            </table>
         
    </div>


</div>
