.trip-create-modal-form
	.agent-folio-details__toolbar
		md-toolbar.md-hue-2
			.md-toolbar-tools
				md-button.md-icon-button(aria-label='Go Back' ng-click="back()" ng-disabled='false')
					ng-md-icon.agent-folio-details__toolbar__back-icon.white-icon(icon="chevron_left" size="24")
				h2.agent-folio-details__toolbar__label(flex='', md-truncate='') Payment # {{ job_id }}
				.agent-folio-details__toolbar__item_left
					md-button.md-raised.md-warn(ng-if="!paymentExist" aria-label='Go Back' ng-click="openCustomPayment($event, 0, undefined, [job_id], 4)" ng-disabled="paymentExist") Create Payment
	.receipts-list(ng-show="receipts.length" ng-class="type")
		md-progress-linear(md-mode="indeterminate" ng-if="busy")
		.receipts-list__table
			.jobs-trip-list
				.jobs-trip-list__head.jobs-trip-list__body__item_padding
					.jobs-trip-list__head__item
						| Payment Type
					.jobs-trip-list__head__item
						| Type
					.jobs-trip-list__head__item
						| Created Date
					.jobs-trip-list__head__item
						| Notes
					.jobs-trip-list__head__item
						| Amount
					.jobs-trip-list__head__item
						| Pending
					.jobs-trip-list__head__item
						| Actions

				.jobs-trip-list__body(class="hover" ng-repeat="item in receipts"  ng-class="isPaidReceipt(item.transaction_type)")
					.jobs-trip-list__body__item(ng-click='showReceiptModal($event, item)')
						| Receipt
					.jobs-trip-list__body__item.capitalize(ng-click='showReceiptModal($event, item)')
						| {{ item.value.type  }}
					.jobs-trip-list__body__item(ng-click='showReceiptModal($event, item)')
						| {{ item.created * 1000 | date:'medium' }}
					.jobs-trip-list__body__item(ng-click='showReceiptModal($event, item)')
						| {{ item.value.description  }}
					.jobs-trip-list__body__item(ng-click='showReceiptModal($event, item)')
						| {{ item.value.amount | currency}}
					.jobs-trip-list__body__item
						md-switch.pending-switch(md-no-ink aria-label="Switch No Ink" ng-model="item.value.pending" ng-true-value="true" ng-false-value="false" ng-disabled="disabledSwitch || paymentExist" ng-change="setPending(item)")

					.jobs-trip-list__body__item
						.jobs-trip-list__body__item__actions
							md-button.md-icon-button( ng-click="openCustomPayment($event, 0, undefined, [], 4, item)" ng-disabled="paymentExist")
								ng-md-icon.green-icon(icon="create")
							md-button.md-icon-button( ng-click="removeReceipt(item, $index)" ng-disabled="paymentExist")
								ng-md-icon.red-icon(icon="delete_forever")

		div(ng-if="meta.pageCount && meta.pageCount > 1" elromco-paginator meta="meta" set-page="setPage")

		.no-jobs(ng-hide="receipts.length > 0") No receipts

div(id="tpCollectedCustomPayment" payments-custom-payment open-custom-payment="openCustomPayment" nid="job_id" entity-type="0" entity-id="{{ job_id }}" trip-id="trip_id" user-info="userInfo" pay-success="updatePayments()" balance="balance")



