<div>
    <div class="modal-body">
         <div ng-show="busy" class="busyoverlay">
                            <div class="sk-cube-grid">
                              <div class="sk-cube sk-cube1"></div>
                              <div class="sk-cube sk-cube2"></div>
                              <div class="sk-cube sk-cube3"></div>
                              <div class="sk-cube sk-cube4"></div>
                              <div class="sk-cube sk-cube5"></div>
                              <div class="sk-cube sk-cube6"></div>
                              <div class="sk-cube sk-cube7"></div>
                              <div class="sk-cube sk-cube8"></div>
                              <div class="sk-cube sk-cube9"></div>
                            </div>
        </div>
        <form class="form-horizontal" name="clientForm" role="form" ng-class="{'disabled': busy}">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input ng-model="client.field_user_first_name" type="text" class="form-control" placeholder="First Name">
                </div>
            </div>
              <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                     <input ng-model="client.field_user_last_name" type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group" ng-show="moveSize == 11">
                <label for="companyName" class="col-sm-2 control-label">Company Name</label>
                <div class="col-sm-10">
                    <input id="companyName"
                           type="text"
                           class="form-control"
                           placeholder="Company Name"
                           ng-model="companyName">
                </div>
            </div>
            <div class="form-group" ng-class="{'disabled':changeMail}">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" ng-model="client.mail" er-lowercase class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="text"
                           phone-input
                           minlength="14"
                           maxlength="14"
                           ng-model="client.field_primary_phone"
                           class="form-control"
                           id="inputEmail3"
                           placeholder="Primary Phone">
                </div>
            </div>
               <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Add. Phone</label>
                <div class="col-sm-10">
                    <input type="text"
                           ng-model="client.field_user_additional_phone"
                           phone-input
                           minlength="14"
                           maxlength="14"
                           class="form-control"
                           id="inputEmail3"
                           placeholder="Additional Phone">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" ng-model="client.password" id="inputPassword3" placeholder="Password">
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="update(client)">Update</button>
    </div>
</div>
