<div class="contact-box  center-version">
    <a ui-sref="profile">
        <img alt="image" class="img-circle m-t-xs" width="50px" height="50px"
             src="app/account/shared/directives/user_pic.jpg">
        <h3 ng-if="moveSize != 11 || !companyName.length">
            <strong>
                {{user.field_user_first_name}} {{user.field_user_last_name}}
            </strong>
        </h3>

        <h4 ng-if="moveSize == 11 && companyName.length">
            Company: <strong>{{companyName}}</strong>
        </h4>
        <address>
            <i class="icon-envelope" style="margin-right:5px"></i> <span>{{user.mail}}</span><br>
            <i class="fa fa-phone" style="margin-right:5px"></i>{{user.field_primary_phone | nationalPhoneFormatter}}<br>
            <i class="fa fa-phone" ng-if="user.field_user_additional_phone.length > 1" style="margin-right:5px"></i>{{user.field_user_additional_phone | nationalPhoneFormatter}}<br>
        </address>
        <div class="clearfix"></div>
    </a>
    <div class="contact-box-footer" ng-class="{'disabled': user.admin}">
        <div class="m-t-xs btn-group">
            <a class="btn btn-xs btn-white" ng-click="openModal()">
                <i class="fa fa-wrench" style="margin-right:5px"></i>
                Edit Account
            </a>
            <a href="#history" class="btn btn-xs btn-white" ng-show="!hideHistory">
                <i class="fa fa-history" style="margin-right:5px"></i>
                Moves History
            </a>
        </div>
    </div>
</div>
