.masonry-item
	.ibox.material-shadow
		.ibox-title
			h5 {{header.title}}
			.ibox-tools
				span.statistic-switcher Period
				input#visible.js-switch.statistic-switch(type='checkbox',
					ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
					ng-model='switcher',
					ng-change='getStatiscticInfo(index, switcher)'
					data-switchery='true',
					style='display: none;')
				span.statistic-switcher Today
		.ibox-content
			table.table.table-hover
				thead
					tr
						th {{header.name}}
						th {{header.from}}
						th {{header.to}}
						th(ng-if='header.conversion') {{header.conversion}}
				tbody
					tr(ng-repeat='data in tableData track by $index')
						td {{data.name}}
						td {{data.from || 0}}
						td {{data.to || 0}}
						td(ng-if='header.conversion') {{(data.conversion|number:0) || 0}}%
					tr.advanced-info-total
						td Total
						td {{total.from || 0}}
						td {{total.to || 0}}
						td(ng-if='header.conversion') {{total.conversion}}%