.home-estimate-worker-item
  font-family "Roboto"
  font-weight normal
  line-height 25px
  padding-left 10px
  margin-bottom 5px
  padding-right 10px
  font-size 12px
  cursor pointer
  overflow hidden
  border-top 1px solid transparent
  border-bottom 1px solid transparent
  word-break break-all
  height 25px
  &.enable-hover
    &:hover
      border-top 1px solid grey
      border-bottom 1px solid grey
  &.choosen
    background-color #82BDEA
    color white
