.gu-mirror
	cursor grabbing
	cursor -moz-grabbing
	cursor -webkit-grabbing
	position fixed !important
	margin 0 !important
	z-index 9999 !important
	opacity 0.8
	-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
	filter "alpha(opacity = 80)"
.gu-transit
	opacity 0.8
	-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
	filter "alpha(opacity = 80)"
.gu-hide
	display: none !important;

.gu-unselectable
	-webkit-user-select none !important
	-moz-user-select none !important
	-ms-user-select none !important
	user-select none !important
