.job-sit-modal
  .modal-body
    padding 0
    h2
      border-bottom 1px solid #e5e5e5
      padding 20px 0
    h3
      padding 10px 0 0
    .form-group
      padding 15px 0
    .panel-body
      padding 15px 7px
      .btn
        margin-left 9px
    .error_field
      border dangerColor 1px solid
      &:focus
        border dangerColor 1px solid
        outline-color dangerColor
        box-shadow 0 0 5px 1px dangerColor
.tripModal
  .basic-modal
    .custom-tab-content
      .tab-body
        margin-bottom 25px
.ld-dispatch
  .padding-bottom
    padding-bottom 10px
  .dateRo
    label
      padding 0 !important
      font-size 15px
  &.trip-info-modal
    .sit-closing-table
      table
        tbody
          tr
            input
              width 60px
    .closing-info-panel
      input
        float left !important
.tripModal
  .modal-content
    .modal-header
      &.gray
        padding 6px 10px
        .close
          margin-top -2px
  .modal-dialog
    min-width 1125px !important
    .custom-tab-content
      .panel
        .panel-body
          &.mdDataTable
            padding 15px 0
    .table
      &.dataTable
        thead
          tr
            th
              height 30px
          .sorting, .sorting_asc, .sorting_desc, .sorting_disabled, .sorting_asc_disabled, .sorting_desc_disabled
            cursor pointer
            position relative
            background rgba(224, 224, 224, 0.34)
          .sorting, .sorting_asc, .sorting_desc
            &:after
              position absolute
              top 8px
              right 8px
              display block
              font-family 'FontAwesome'
              opacity 0.5
          .sorting
            &:after
              opacity 0.2
              content "\f175\f176"
              display none
          .sorting_asc
            &:after
              content "\f160"
          .sorting_desc
            &:after
              content "\f161"
  .modal-footer
    .fa
      &.fa-trash
        color dangerColor
        font-size 25px
        margin-right 20px
        margin-top 6px
        cursor pointer
        &:hover
          opacity 0.8
  .panel
    .action-group
      a
        &.action
          position relative
          text-transform Capitalize
          border 1px solid #bfbfbf
          margin-right 15px
          padding 8px 10px
          color rgba(80, 79, 79, 0.81)
          font-weight bold
          border-radius 5px
          background -moz-linear-gradient(top, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%)
          background -webkit-linear-gradient(top, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%)
          background linear-gradient(to bottom, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%)
          font-size 12px
          margin-left -4px
          .fa
            margin-right 5px
            font-size 14px
            &.fa-plus-circle
              color appyColor