html, body
  outline none!important
.no-padding
  padding 0
.alert-message
  display inline-block
  width 210px
  text-align center
  margin-left 40%
  margin-top 15px
  border-bottom 1px solid red
  color red
.status
  &.storage-status_1
    background-color #FBB130
  &.storage-status_2
    background-color #13C713
  &.storage-status_3
    background-color #fc0000
  &.storage-status_4
    background-color #3498db
.storage, .cour
  padding-top 0
  .storage-item, .cour-item
    height 290px
    margin-bottom 15px
    a
      &:hover, &:focus
        color inherit
    .panel
      margin-bottom 0
      height 100%
      display block
      .profile-wrapper
        height 100%
        div
          padding 0
        .default
          display inline-block
          float right
          img
            margin 0 auto
        .storage-pic
          img
            margin 0 auto
            min-height 155px
        .storage-info
          vertical-align top
          p
            font-size 16px
            span
              font-weight bold
          h1
            margin-bottom 10px
    &.new
      .panel
        padding 35px 0
        .storage-info
          display block
          h1
            color #000
.addingStorage
  .modal-header
    .nav-tabs
      li
        a
          border-radius 0
          padding 10px
    h1
      font-family "Open Sans", Helvetica, Arial, sans-serif
  .modal-body
    .tab-content
      #add
        .half
          .form-group
            .row
              margin-bottom 15px
              .fa-trash
                cursor pointer
                font-size 26px
            .storage-reminders-title
              text-align: center;
              padding-bottom: 17px;
        .def-del
          .form-group
            margin-bottom 0
            .row
              margin-bottom 0
              label
                padding-top 2px
              input[type=checkbox]
                box-shadow none
                width 20px
                height 20px
                margin 2px 0 0
.tenants
  select
    &.flag
      width 25em
      display inline-block
      float right
  .icon-refresh-payment
    font-size 16px
    padding 11px
    line-height 20px
    border 1px solid #e0e0e0
    position absolute
    z-index 10
    float right
    border-top 0px
    right 5px
    background #eaeaea
    cursor pointer
    margin-top 0px
    margin-right 10px
    top 53px
    &:hover
      background: #1fc5ac
      color: #fbfbfb
.pending, .cour, .trips
  .dropdown, .dropdown-menu
    .btn-default.disabled, .btn-default[disbled]
      background-color #D7D9DA !important
      color #909AA0 !important
    .btn-default, a.btn-default:link, a.btn-default:visited
      background-color #ffffff !important
      color #373a3e !important
    .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active
      color: #fff !important
      background-color: #31b0d5 !important
  padding-top 0
  height 100%
  .pageheader
    h1
      display inline-block
    .btn
      display inline-block
      float right
      &.yellow
        background #FBB130
      &:hover, &:focus
        color #fff
  .active_row
    background #7DB3F9;
    td
      color white;
      background #7DB3F9;
.pendingModal, .addingStorage, .agentModal, .tripModal
  &.status_1
    .modal-content
      border solid 10px rgba(255, 165, 0, 0.45)
  &.status_2
    .modal-content
      border solid 10px rgba(19, 199, 19, 0.42)
  &.status_3
    .modal-content
      border solid 10px rgba(255, 0, 0, 0.45)
  .modal-header
    &.template-preview-header
      margin 0 -15px
      border-bottom initial;
    .nav-tabs
      li
        a
          border-radius 0
          border 0
        &.active
          border-bottom 2px solid #556B8D
          a
            &:hover, &:focus
              color inherit
              background-color inherit
              border-color transparent
  .modal-body
    #general, #recurring
      h3
        margin-bottom 10px
        font-size 20px
      .common
        padding 15px 0
        .real-request
          cursor: pointer
          -webkit-transform: rotate(-90deg)
          -moz-transform: rotate(-90deg)
          -ms-transform: rotate(-90deg)
          -o-transform: rotate(-90deg)
        .edit-request-id
          display inline-block
          position absolute
          right 5px
          bottom 15px
          width 40px
          height 20px
          text-align center
          .icon
            vertical-align initial
        .row
          margin 0
          .form-group
            margin 0
            padding 5px 15px
            border 1px solid #e5e5e5
            -webkit-box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
            -moz-box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
            box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
            &.no-shadow
              border 0
              box-shadow none
              -webkit-box-shadow none
              -moz-box-shadow none
            label
              float left
              width auto
              padding-left 0
              padding-top 10px
            span
              &.forever
                display inline-block
                position absolute
                left 150px
                top 15px
            input, select, textarea
              width 65%
              display inline-block
              float right
              border-width 0
              border-bottom 1px solid #e5e5e5
              &:disabled
                background inherit
            img
              opacity 0
              position absolute
              right 0
              width 65%
              height 37px
              cursor text
            .icheckbox_flat-grey
              margin-left 20px
              vertical-align -webkit-baseline-middle
            div
              padding 10px 0
            .checkbox-div
              label
                width 30%
                text-align left
          .half
            border 0
            box-shadow none
            .remove-end-date
              margin-top 15px
              font-size larger
              cursor pointer
          .has-error
            .form-control
              border-bottom 1px solid #a94442
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              &:focus
                outline-color #ce8483
                box-shadow 0 0 5px 1px #ce8483
    .right
        display table
        .row
          margin-bottom 40px
          .balance-col
            padding 0
            display table-cell
            border 1px solid #e5e5e5
            -webkit-box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
            -moz-box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
            box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
            p
              text-align center
              margin 25px 0
              font-size 16px
              &.col-title
                text-transform uppercase
                color #c7c7c7
                font-weight 600
                margin 0
                font-size 14px
              &.red-text
                color #ff0000
      .action
        padding 0
        text-align right
        margin-bottom 15px
      .recurring-run
        position absolute
        width 100%
        z-index 10
        top 48px
        bottom 0
        height calc(100% - 60px)
        left 0
        right 0
        background-color rgba(240, 243, 243, 0.61)
        text-align center
      .image-recurring
        position absolute
        bottom 20%
        left 20%
        opacity 0.6
      .billing-cycle
        font-size 14px
        width 65%
        display inline-block
        float right
        border 0
        border-bottom 1px solid #e5e5e5
        border-radius 2px
        box-shadow none
        height 37px
        padding 5px 12px 9px 12px !important
    #documents
      .documents-table
        width 100%
        position relative
        margin-bottom 25px
        td
          padding: 6px 12px
          border-bottom solid 1px #6B6B70
      .document-head
        background-color #FFF1DD
        th
          padding: 6px 12px
          border-bottom solid 1px #6B6B70
          font-width bold
    #colors
      table
        tbody
          tr
            td
              border 0
              label
                padding-left 0
              .btn-group
                width 100%
                &.open
                  .colorPick
                    box-shadow none
                    -webkit-box-shadow none
                    -moz-box-shadow none
                .colorPick
                  width 100%
                  text-align left
                  font-size 15px
                  &:hover
                    color inherit
                  .caret
                    position absolute
                    left 90%
                    top 40%
                .dropdown-menu
                  width 100%
                  margin 0
                  border-radius 0
                  li
                    img
                      display inline-block
                      width 60px
                      height 20px
                      margin-right 10px
      #save
        float right
      .action-btn
        color #fff
        font-size 15px
        font-weight 700
  .modal-footer
    border-top none
    .action
      .action-btn
        background #fbb130
        color #fff
        font-size 15px
        font-weight 700
#agentsTable
  thead, tbody
    tr
      td, th
        &:first-child
          text-align center
          width 35px
.customModal
  cc-tabsgroup
    display block
    width 100%
    .custom-tab-btn
      padding 10px 15px
      border-bottom 2px solid transparent
      border-radius 0
      font-size 16px
      &.active
        border-bottom 2px solid #556b8d
        color #555
        font-weight 600
    .custom-tab-content
      padding 15px
      cc-tab
        display block
        h3
          margin-bottom 15px
          font-size 20px
        .common
          padding 0
          .row
            margin 0
            &.col-elem-margin
              margin-bottom 30px
            .form-group
              margin 0
              padding 5px 15px
              border 1px solid #e5e5e5
              -webkit-box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
              -moz-box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
              box-shadow 0 0.1em 0.1em rgba(100, 100, 100, 0.75)
              &.no-shadow
                border 0
                box-shadow none
                -webkit-box-shadow none
                -moz-box-shadow none
              label
                float left
                width auto
                padding-left 0
                padding-top 10px
              input, select, textarea
                width 65%
                display inline-block
                float right
                border 0
                border-bottom 1px solid #e5e5e5
                &:disabled
                  background inherit
              img
                opacity 0
                position absolute
                right 0
                width 65%
                height 37px
                cursor text
              .icheckbox_flat-grey
                margin-left 20px
                vertical-align -webkit-baseline-middle
              div
                padding 10px 0
              .checkbox-div
                label
                  width 30%
                  text-align left
            .half
              border 0
              box-shadow none
        .trip-jobs
          margin-top 30px
          display inline-block
          .custom-tab-content
            padding 10px 0
            .panel
              .panel-header
                height 38px
                .action-group
                  a
                    &.action
                      position relative
                      text-transform Capitalize
                      border 1px solid #bfbfbf
                      margin-right 15px
                      padding 8px 10px
                      color rgba(80, 79, 79, 0.81)
                      font-weight bold
                      border-radius 5px
                      background -moz-linear-gradient(top, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%)
                      background -webkit-linear-gradient(top, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%)
                      background linear-gradient(to bottom, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%)
                      margin-left -4px
                      font-size 12px
                      .fa
                        margin-right 5px
                        font-size 14px
                        &.fa-minus-circle
                          color dangerColor
                        &.fa-undo
                          color dangerColor
                        &.fa-check-circle
                          color appyColor
#storage-request
  &.modal-body
    position static !important
  .request-id
    width 65%
    float right
    padding 5px 12px 9px 12px !important
    font-size 14px
  #general
    .remove-end-date
      right 15px
      position absolute
      bottom 20px
      cursor pointer
    .btn-default
      background-color white !important
      color #333 !important
  #ledger
    .inside_box
      border: 1px solid #2B7B03;
    .dropdown, .dropdown-menu
      .btn-default.disabled, .btn-default[disbled]
        background-color #D7D9DA !important
        color #909AA0 !important
      .btn-default, a.btn-default:link, a.btn-default:visited
        background-color #ffffff !important
        color #373a3e !important
      .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active
        color: #fff !important
        background-color: #31b0d5 !important
    .charge
      background-color rgba(255, 171, 171, 0.3)
    .payment
      background-color rgba(127, 224, 122, 0.3)
    .active
      background-color #BBD6FF !important
    .charge-link
      float right
      line-height 2.1
      background-color transparent
      border none
      padding initial
      font-size 12px
#payment_collected, #recurring_revenue
  .dropdown, .dropdown-menu
    .btn-default.disabled, .btn-default[disbled]
      background-color #D7D9DA !important
      color #909AA0 !important
    .btn-default, a.btn-default:link, a.btn-default:visited
      background-color #ffffff !important
      color #373a3e !important
    .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active
      color: #fff !important
      background-color: #31b0d5 !important
  .total-recurring
    font-size 40px
    font-weight bold
    padding-right 50px
  .date
    width 60%
    display inline-block
  .select-type
    width 60%
    display inline-block
  .icon-refresh-payment
    font-size 16px
    padding 11px
    line-height 20px
    border 1px solid #e0e0e0
    position absolute
    z-index 10
    float right
    border-top 0px
    right 5px
    background #eaeaea
    cursor pointer
    margin-top 0px
    margin-right 10px
    top 0
    &:hover
      background: #1fc5ac
      color: #fbfbfb
#storage-request
  .dropdown, .dropdown-menu
    .btn-default.disabled, .btn-default[disbled]
      background-color #D7D9DA !important
      color #909AA0 !important
    .btn-default, a.btn-default:link, a.btn-default:visited
      background-color #ffffff !important
      color #373a3e !important
    .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active
      color: #fff !important
      background-color: #31b0d5 !important
  #colors
    .dropdown, .dropdown-menu
      a
        display inline-block !important
      .colorItem
        display inline-block
        width 10px
        height 10px
        margin-left 15px
        border solid 1px #C1C1C1
      .Blue
        background-color #0000fe
      .Green
        background-color #008000;
      .Orange
        background-color #fea400
      .Red
        background-color #fe0000
      .White
        background-color white
      .Yellow
        background-color #fffc26
      li
        &:hover, &:focus
          color #262626
          text-decoration none
          background-color #f5f5f5
    .btn
      margin-bottom 0
    .table>tbody>tr>td
      vertical-align middle
    .fa
      &.fa-times
        &.fa-2x
          cursor pointer
          &:hover
            color rgba(86, 86, 86, 0.8)
.main-content-wrapper-storages
  .icon-refresh-payment
    font-size 16px
    padding 10px
    line-height 20px
    border 1px solid #e0e0e0
    position absolute
    z-index 10
    float right
    border-top 0px
    right 5px
    background #eaeaea
    cursor pointer
    margin-top 0px
    margin-right 10px
    top 0
    &:hover
      background: #1fc5ac
      color: #fbfbfb
.positive-balance
  color #369A04
.negative-balance
  color: #d9000f

.storage_icon_table
 width: 40px;
 color: black;
 float: left;
 margin-right: 10px;