html,
body {
  outline: none !important;
}
.no-padding {
  padding: 0;
}
.alert-message {
  display: inline-block;
  width: 210px;
  text-align: center;
  margin-left: 40%;
  margin-top: 15px;
  border-bottom: 1px solid #f00;
  color: #f00;
}
.status.storage-status_1 {
  background-color: #fbb130;
}
.status.storage-status_2 {
  background-color: #13c713;
}
.status.storage-status_3 {
  background-color: #fc0000;
}
.storage,
.cour {
  padding-top: 0;
}
.storage .storage-item,
.cour .storage-item,
.storage .cour-item,
.cour .cour-item {
  height: 290px;
  margin-bottom: 15px;
}
.storage .storage-item a:hover,
.cour .storage-item a:hover,
.storage .cour-item a:hover,
.cour .cour-item a:hover,
.storage .storage-item a:focus,
.cour .storage-item a:focus,
.storage .cour-item a:focus,
.cour .cour-item a:focus {
  color: inherit;
}
.storage .storage-item .panel,
.cour .storage-item .panel,
.storage .cour-item .panel,
.cour .cour-item .panel {
  margin-bottom: 0;
  height: 100%;
  display: block;
}
.storage .storage-item .panel .profile-wrapper,
.cour .storage-item .panel .profile-wrapper,
.storage .cour-item .panel .profile-wrapper,
.cour .cour-item .panel .profile-wrapper {
  height: 100%;
}
.storage .storage-item .panel .profile-wrapper div,
.cour .storage-item .panel .profile-wrapper div,
.storage .cour-item .panel .profile-wrapper div,
.cour .cour-item .panel .profile-wrapper div {
  padding: 0;
}
.storage .storage-item .panel .profile-wrapper .default,
.cour .storage-item .panel .profile-wrapper .default,
.storage .cour-item .panel .profile-wrapper .default,
.cour .cour-item .panel .profile-wrapper .default {
  display: inline-block;
  float: right;
}
.storage .storage-item .panel .profile-wrapper .default img,
.cour .storage-item .panel .profile-wrapper .default img,
.storage .cour-item .panel .profile-wrapper .default img,
.cour .cour-item .panel .profile-wrapper .default img {
  margin: 0 auto;
}
.storage .storage-item .panel .profile-wrapper .storage-pic img,
.cour .storage-item .panel .profile-wrapper .storage-pic img,
.storage .cour-item .panel .profile-wrapper .storage-pic img,
.cour .cour-item .panel .profile-wrapper .storage-pic img {
  margin: 0 auto;
  min-height: 155px;
}
.storage .storage-item .panel .profile-wrapper .storage-info,
.cour .storage-item .panel .profile-wrapper .storage-info,
.storage .cour-item .panel .profile-wrapper .storage-info,
.cour .cour-item .panel .profile-wrapper .storage-info {
  vertical-align: top;
}
.storage .storage-item .panel .profile-wrapper .storage-info p,
.cour .storage-item .panel .profile-wrapper .storage-info p,
.storage .cour-item .panel .profile-wrapper .storage-info p,
.cour .cour-item .panel .profile-wrapper .storage-info p {
  font-size: 16px;
}
.storage .storage-item .panel .profile-wrapper .storage-info p span,
.cour .storage-item .panel .profile-wrapper .storage-info p span,
.storage .cour-item .panel .profile-wrapper .storage-info p span,
.cour .cour-item .panel .profile-wrapper .storage-info p span {
  font-weight: bold;
}
.storage .storage-item .panel .profile-wrapper .storage-info h1,
.cour .storage-item .panel .profile-wrapper .storage-info h1,
.storage .cour-item .panel .profile-wrapper .storage-info h1,
.cour .cour-item .panel .profile-wrapper .storage-info h1 {
  margin-bottom: 10px;
}
.storage .storage-item.new .panel,
.cour .storage-item.new .panel,
.storage .cour-item.new .panel,
.cour .cour-item.new .panel {
  padding: 35px 0;
}
.storage .storage-item.new .panel .storage-info,
.cour .storage-item.new .panel .storage-info,
.storage .cour-item.new .panel .storage-info,
.cour .cour-item.new .panel .storage-info {
  display: block;
}
.storage .storage-item.new .panel .storage-info h1,
.cour .storage-item.new .panel .storage-info h1,
.storage .cour-item.new .panel .storage-info h1,
.cour .cour-item.new .panel .storage-info h1 {
  color: #000;
}
.addingStorage .modal-header .nav-tabs li a {
  border-radius: 0;
}
.addingStorage .modal-header h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.addingStorage .modal-body .tab-content #add .half .form-group .row {
  margin-bottom: 15px;
}
.addingStorage .modal-body .tab-content #add .half .form-group .row .fa-trash {
  cursor: pointer;
  font-size: 26px;
}
.addingStorage .modal-body .tab-content #add .half .form-group .storage-reminders-title {
  text-align: center;
  padding-bottom: 17px;
}
.addingStorage .modal-body .tab-content #add .def-del .form-group {
  margin-bottom: 0;
}
.addingStorage .modal-body .tab-content #add .def-del .form-group .row {
  margin-bottom: 0;
}
.addingStorage .modal-body .tab-content #add .def-del .form-group .row label {
  padding-top: 2px;
}
.addingStorage .modal-body .tab-content #add .def-del .form-group .row input[type=checkbox] {
  box-shadow: none;
  width: 20px;
  height: 20px;
  margin: 2px 0 0;
}
.tenants select.flag {
  width: 25em;
  display: inline-block;
  float: right;
}
.tenants .icon-refresh-payment {
  font-size: 16px;
  padding: 11px;
  line-height: 20px;
  border: 1px solid #e0e0e0;
  position: absolute;
  z-index: 10;
  float: right;
  border-top: 0px;
  right: 5px;
  background: #eaeaea;
  cursor: pointer;
  margin-top: 0px;
  margin-right: 10px;
  top: 53px;
}
.tenants .icon-refresh-payment:hover {
  background: #1fc5ac;
  color: #fbfbfb;
}
.pending,
.cour,
.trips {
  padding-top: 0;
  height: 100%;
}
.pending .dropdown .btn-default.disabled,
.cour .dropdown .btn-default.disabled,
.trips .dropdown .btn-default.disabled,
.pending .dropdown-menu .btn-default.disabled,
.cour .dropdown-menu .btn-default.disabled,
.trips .dropdown-menu .btn-default.disabled,
.pending .dropdown .btn-default[disbled],
.cour .dropdown .btn-default[disbled],
.trips .dropdown .btn-default[disbled],
.pending .dropdown-menu .btn-default[disbled],
.cour .dropdown-menu .btn-default[disbled],
.trips .dropdown-menu .btn-default[disbled] {
  background-color: #d7d9da !important;
  color: #909aa0 !important;
}
.pending .dropdown .btn-default,
.cour .dropdown .btn-default,
.trips .dropdown .btn-default,
.pending .dropdown-menu .btn-default,
.cour .dropdown-menu .btn-default,
.trips .dropdown-menu .btn-default,
.pending .dropdown a.btn-default:link,
.cour .dropdown a.btn-default:link,
.trips .dropdown a.btn-default:link,
.pending .dropdown-menu a.btn-default:link,
.cour .dropdown-menu a.btn-default:link,
.trips .dropdown-menu a.btn-default:link,
.pending .dropdown a.btn-default:visited,
.cour .dropdown a.btn-default:visited,
.trips .dropdown a.btn-default:visited,
.pending .dropdown-menu a.btn-default:visited,
.cour .dropdown-menu a.btn-default:visited,
.trips .dropdown-menu a.btn-default:visited {
  background-color: #fff !important;
  color: #373a3e !important;
}
.pending .dropdown .btn-info:hover,
.cour .dropdown .btn-info:hover,
.trips .dropdown .btn-info:hover,
.pending .dropdown-menu .btn-info:hover,
.cour .dropdown-menu .btn-info:hover,
.trips .dropdown-menu .btn-info:hover,
.pending .dropdown .btn-info:focus,
.cour .dropdown .btn-info:focus,
.trips .dropdown .btn-info:focus,
.pending .dropdown-menu .btn-info:focus,
.cour .dropdown-menu .btn-info:focus,
.trips .dropdown-menu .btn-info:focus,
.pending .dropdown .btn-info.focus,
.cour .dropdown .btn-info.focus,
.trips .dropdown .btn-info.focus,
.pending .dropdown-menu .btn-info.focus,
.cour .dropdown-menu .btn-info.focus,
.trips .dropdown-menu .btn-info.focus,
.pending .dropdown .btn-info:active,
.cour .dropdown .btn-info:active,
.trips .dropdown .btn-info:active,
.pending .dropdown-menu .btn-info:active,
.cour .dropdown-menu .btn-info:active,
.trips .dropdown-menu .btn-info:active,
.pending .dropdown .btn-info.active,
.cour .dropdown .btn-info.active,
.trips .dropdown .btn-info.active,
.pending .dropdown-menu .btn-info.active,
.cour .dropdown-menu .btn-info.active,
.trips .dropdown-menu .btn-info.active {
  color: #fff !important;
  background-color: #31b0d5 !important;
}
.pending .pageheader h1,
.cour .pageheader h1,
.trips .pageheader h1 {
  display: inline-block;
}
.pending .pageheader .btn,
.cour .pageheader .btn,
.trips .pageheader .btn {
  display: inline-block;
  float: right;
}
.pending .pageheader .btn.yellow,
.cour .pageheader .btn.yellow,
.trips .pageheader .btn.yellow {
  background: #fbb130;
}
.pending .pageheader .btn:hover,
.cour .pageheader .btn:hover,
.trips .pageheader .btn:hover,
.pending .pageheader .btn:focus,
.cour .pageheader .btn:focus,
.trips .pageheader .btn:focus {
  color: #fff;
}
.pending .active_row,
.cour .active_row,
.trips .active_row {
  background: #7db3f9;
}
.pending .active_row td,
.cour .active_row td,
.trips .active_row td {
  color: #fff;
  background: #7db3f9;
}
.pendingModal.status_1 .modal-content,
.addingStorage.status_1 .modal-content,
.agentModal.status_1 .modal-content,
.tripModal.status_1 .modal-content {
  border: solid 10px rgba(255,165,0,0.45);
}
.pendingModal.status_2 .modal-content,
.addingStorage.status_2 .modal-content,
.agentModal.status_2 .modal-content,
.tripModal.status_2 .modal-content {
  border: solid 10px rgba(19,199,19,0.42);
}
.pendingModal.status_3 .modal-content,
.addingStorage.status_3 .modal-content,
.agentModal.status_3 .modal-content,
.tripModal.status_3 .modal-content {
  border: solid 10px rgba(255,0,0,0.45);
}
.pendingModal .modal-header.template-preview-header,
.addingStorage .modal-header.template-preview-header,
.agentModal .modal-header.template-preview-header,
.tripModal .modal-header.template-preview-header {
  margin: 0 -15px;
  border-bottom: initial;
}
.pendingModal .modal-header .nav-tabs li a,
.addingStorage .modal-header .nav-tabs li a,
.agentModal .modal-header .nav-tabs li a,
.tripModal .modal-header .nav-tabs li a {
  border-radius: 0;
  border: 0;
}
.pendingModal .modal-header .nav-tabs li.active,
.addingStorage .modal-header .nav-tabs li.active,
.agentModal .modal-header .nav-tabs li.active,
.tripModal .modal-header .nav-tabs li.active {
  border-bottom: 2px solid #556b8d;
}
.pendingModal .modal-header .nav-tabs li.active a:hover,
.addingStorage .modal-header .nav-tabs li.active a:hover,
.agentModal .modal-header .nav-tabs li.active a:hover,
.tripModal .modal-header .nav-tabs li.active a:hover,
.pendingModal .modal-header .nav-tabs li.active a:focus,
.addingStorage .modal-header .nav-tabs li.active a:focus,
.agentModal .modal-header .nav-tabs li.active a:focus,
.tripModal .modal-header .nav-tabs li.active a:focus {
  color: inherit;
  background-color: inherit;
  border-color: transparent;
}
.pendingModal .modal-body #general h3,
.addingStorage .modal-body #general h3,
.agentModal .modal-body #general h3,
.tripModal .modal-body #general h3,
.pendingModal .modal-body #recurring h3,
.addingStorage .modal-body #recurring h3,
.agentModal .modal-body #recurring h3,
.tripModal .modal-body #recurring h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.pendingModal .modal-body #general .common,
.addingStorage .modal-body #general .common,
.agentModal .modal-body #general .common,
.tripModal .modal-body #general .common,
.pendingModal .modal-body #recurring .common,
.addingStorage .modal-body #recurring .common,
.agentModal .modal-body #recurring .common,
.tripModal .modal-body #recurring .common {
  padding: 15px 0;
}
.pendingModal .modal-body #general .common .real-request,
.addingStorage .modal-body #general .common .real-request,
.agentModal .modal-body #general .common .real-request,
.tripModal .modal-body #general .common .real-request,
.pendingModal .modal-body #recurring .common .real-request,
.addingStorage .modal-body #recurring .common .real-request,
.agentModal .modal-body #recurring .common .real-request,
.tripModal .modal-body #recurring .common .real-request {
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.pendingModal .modal-body #general .common .edit-request-id,
.addingStorage .modal-body #general .common .edit-request-id,
.agentModal .modal-body #general .common .edit-request-id,
.tripModal .modal-body #general .common .edit-request-id,
.pendingModal .modal-body #recurring .common .edit-request-id,
.addingStorage .modal-body #recurring .common .edit-request-id,
.agentModal .modal-body #recurring .common .edit-request-id,
.tripModal .modal-body #recurring .common .edit-request-id {
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 15px;
  width: 40px;
  height: 20px;
  text-align: center;
}
.pendingModal .modal-body #general .common .edit-request-id .icon,
.addingStorage .modal-body #general .common .edit-request-id .icon,
.agentModal .modal-body #general .common .edit-request-id .icon,
.tripModal .modal-body #general .common .edit-request-id .icon,
.pendingModal .modal-body #recurring .common .edit-request-id .icon,
.addingStorage .modal-body #recurring .common .edit-request-id .icon,
.agentModal .modal-body #recurring .common .edit-request-id .icon,
.tripModal .modal-body #recurring .common .edit-request-id .icon {
  vertical-align: initial;
}
.pendingModal .modal-body #general .common .row,
.addingStorage .modal-body #general .common .row,
.agentModal .modal-body #general .common .row,
.tripModal .modal-body #general .common .row,
.pendingModal .modal-body #recurring .common .row,
.addingStorage .modal-body #recurring .common .row,
.agentModal .modal-body #recurring .common .row,
.tripModal .modal-body #recurring .common .row {
  margin: 0;
}
.pendingModal .modal-body #general .common .row .form-group,
.addingStorage .modal-body #general .common .row .form-group,
.agentModal .modal-body #general .common .row .form-group,
.tripModal .modal-body #general .common .row .form-group,
.pendingModal .modal-body #recurring .common .row .form-group,
.addingStorage .modal-body #recurring .common .row .form-group,
.agentModal .modal-body #recurring .common .row .form-group,
.tripModal .modal-body #recurring .common .row .form-group {
  margin: 0;
  padding: 5px 15px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
  box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
}
.pendingModal .modal-body #general .common .row .form-group.no-shadow,
.addingStorage .modal-body #general .common .row .form-group.no-shadow,
.agentModal .modal-body #general .common .row .form-group.no-shadow,
.tripModal .modal-body #general .common .row .form-group.no-shadow,
.pendingModal .modal-body #recurring .common .row .form-group.no-shadow,
.addingStorage .modal-body #recurring .common .row .form-group.no-shadow,
.agentModal .modal-body #recurring .common .row .form-group.no-shadow,
.tripModal .modal-body #recurring .common .row .form-group.no-shadow {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.pendingModal .modal-body #general .common .row .form-group label,
.addingStorage .modal-body #general .common .row .form-group label,
.agentModal .modal-body #general .common .row .form-group label,
.tripModal .modal-body #general .common .row .form-group label,
.pendingModal .modal-body #recurring .common .row .form-group label,
.addingStorage .modal-body #recurring .common .row .form-group label,
.agentModal .modal-body #recurring .common .row .form-group label,
.tripModal .modal-body #recurring .common .row .form-group label {
  float: left;
  width: auto;
  padding-left: 0;
  padding-top: 10px;
}
.pendingModal .modal-body #general .common .row .form-group span.forever,
.addingStorage .modal-body #general .common .row .form-group span.forever,
.agentModal .modal-body #general .common .row .form-group span.forever,
.tripModal .modal-body #general .common .row .form-group span.forever,
.pendingModal .modal-body #recurring .common .row .form-group span.forever,
.addingStorage .modal-body #recurring .common .row .form-group span.forever,
.agentModal .modal-body #recurring .common .row .form-group span.forever,
.tripModal .modal-body #recurring .common .row .form-group span.forever {
  display: inline-block;
  position: absolute;
  left: 150px;
  top: 15px;
}
.pendingModal .modal-body #general .common .row .form-group input,
.addingStorage .modal-body #general .common .row .form-group input,
.agentModal .modal-body #general .common .row .form-group input,
.tripModal .modal-body #general .common .row .form-group input,
.pendingModal .modal-body #recurring .common .row .form-group input,
.addingStorage .modal-body #recurring .common .row .form-group input,
.agentModal .modal-body #recurring .common .row .form-group input,
.tripModal .modal-body #recurring .common .row .form-group input,
.pendingModal .modal-body #general .common .row .form-group select,
.addingStorage .modal-body #general .common .row .form-group select,
.agentModal .modal-body #general .common .row .form-group select,
.tripModal .modal-body #general .common .row .form-group select,
.pendingModal .modal-body #recurring .common .row .form-group select,
.addingStorage .modal-body #recurring .common .row .form-group select,
.agentModal .modal-body #recurring .common .row .form-group select,
.tripModal .modal-body #recurring .common .row .form-group select,
.pendingModal .modal-body #general .common .row .form-group textarea,
.addingStorage .modal-body #general .common .row .form-group textarea,
.agentModal .modal-body #general .common .row .form-group textarea,
.tripModal .modal-body #general .common .row .form-group textarea,
.pendingModal .modal-body #recurring .common .row .form-group textarea,
.addingStorage .modal-body #recurring .common .row .form-group textarea,
.agentModal .modal-body #recurring .common .row .form-group textarea,
.tripModal .modal-body #recurring .common .row .form-group textarea {
  width: 65%;
  display: inline-block;
  float: right;
  border-width: 0;
  border-bottom: 1px solid #e5e5e5;
}
.pendingModal .modal-body #general .common .row .form-group input:disabled,
.addingStorage .modal-body #general .common .row .form-group input:disabled,
.agentModal .modal-body #general .common .row .form-group input:disabled,
.tripModal .modal-body #general .common .row .form-group input:disabled,
.pendingModal .modal-body #recurring .common .row .form-group input:disabled,
.addingStorage .modal-body #recurring .common .row .form-group input:disabled,
.agentModal .modal-body #recurring .common .row .form-group input:disabled,
.tripModal .modal-body #recurring .common .row .form-group input:disabled,
.pendingModal .modal-body #general .common .row .form-group select:disabled,
.addingStorage .modal-body #general .common .row .form-group select:disabled,
.agentModal .modal-body #general .common .row .form-group select:disabled,
.tripModal .modal-body #general .common .row .form-group select:disabled,
.pendingModal .modal-body #recurring .common .row .form-group select:disabled,
.addingStorage .modal-body #recurring .common .row .form-group select:disabled,
.agentModal .modal-body #recurring .common .row .form-group select:disabled,
.tripModal .modal-body #recurring .common .row .form-group select:disabled,
.pendingModal .modal-body #general .common .row .form-group textarea:disabled,
.addingStorage .modal-body #general .common .row .form-group textarea:disabled,
.agentModal .modal-body #general .common .row .form-group textarea:disabled,
.tripModal .modal-body #general .common .row .form-group textarea:disabled,
.pendingModal .modal-body #recurring .common .row .form-group textarea:disabled,
.addingStorage .modal-body #recurring .common .row .form-group textarea:disabled,
.agentModal .modal-body #recurring .common .row .form-group textarea:disabled,
.tripModal .modal-body #recurring .common .row .form-group textarea:disabled {
  background: inherit;
}
.pendingModal .modal-body #general .common .row .form-group img,
.addingStorage .modal-body #general .common .row .form-group img,
.agentModal .modal-body #general .common .row .form-group img,
.tripModal .modal-body #general .common .row .form-group img,
.pendingModal .modal-body #recurring .common .row .form-group img,
.addingStorage .modal-body #recurring .common .row .form-group img,
.agentModal .modal-body #recurring .common .row .form-group img,
.tripModal .modal-body #recurring .common .row .form-group img {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 65%;
  height: 37px;
  cursor: text;
}
.pendingModal .modal-body #general .common .row .form-group .icheckbox_flat-grey,
.addingStorage .modal-body #general .common .row .form-group .icheckbox_flat-grey,
.agentModal .modal-body #general .common .row .form-group .icheckbox_flat-grey,
.tripModal .modal-body #general .common .row .form-group .icheckbox_flat-grey,
.pendingModal .modal-body #recurring .common .row .form-group .icheckbox_flat-grey,
.addingStorage .modal-body #recurring .common .row .form-group .icheckbox_flat-grey,
.agentModal .modal-body #recurring .common .row .form-group .icheckbox_flat-grey,
.tripModal .modal-body #recurring .common .row .form-group .icheckbox_flat-grey {
  margin-left: 20px;
  vertical-align: -webkit-baseline-middle;
}
.pendingModal .modal-body #general .common .row .form-group div,
.addingStorage .modal-body #general .common .row .form-group div,
.agentModal .modal-body #general .common .row .form-group div,
.tripModal .modal-body #general .common .row .form-group div,
.pendingModal .modal-body #recurring .common .row .form-group div,
.addingStorage .modal-body #recurring .common .row .form-group div,
.agentModal .modal-body #recurring .common .row .form-group div,
.tripModal .modal-body #recurring .common .row .form-group div {
  padding: 10px 0;
}
.pendingModal .modal-body #general .common .row .form-group .checkbox-div label,
.addingStorage .modal-body #general .common .row .form-group .checkbox-div label,
.agentModal .modal-body #general .common .row .form-group .checkbox-div label,
.tripModal .modal-body #general .common .row .form-group .checkbox-div label,
.pendingModal .modal-body #recurring .common .row .form-group .checkbox-div label,
.addingStorage .modal-body #recurring .common .row .form-group .checkbox-div label,
.agentModal .modal-body #recurring .common .row .form-group .checkbox-div label,
.tripModal .modal-body #recurring .common .row .form-group .checkbox-div label {
  width: 30%;
  text-align: left;
}
.pendingModal .modal-body #general .common .row .half,
.addingStorage .modal-body #general .common .row .half,
.agentModal .modal-body #general .common .row .half,
.tripModal .modal-body #general .common .row .half,
.pendingModal .modal-body #recurring .common .row .half,
.addingStorage .modal-body #recurring .common .row .half,
.agentModal .modal-body #recurring .common .row .half,
.tripModal .modal-body #recurring .common .row .half {
  border: 0;
  box-shadow: none;
}
.pendingModal .modal-body #general .common .row .half .remove-end-date,
.addingStorage .modal-body #general .common .row .half .remove-end-date,
.agentModal .modal-body #general .common .row .half .remove-end-date,
.tripModal .modal-body #general .common .row .half .remove-end-date,
.pendingModal .modal-body #recurring .common .row .half .remove-end-date,
.addingStorage .modal-body #recurring .common .row .half .remove-end-date,
.agentModal .modal-body #recurring .common .row .half .remove-end-date,
.tripModal .modal-body #recurring .common .row .half .remove-end-date {
  margin-top: 15px;
  font-size: larger;
  cursor: pointer;
}
.pendingModal .modal-body #general .common .row .has-error .form-control,
.addingStorage .modal-body #general .common .row .has-error .form-control,
.agentModal .modal-body #general .common .row .has-error .form-control,
.tripModal .modal-body #general .common .row .has-error .form-control,
.pendingModal .modal-body #recurring .common .row .has-error .form-control,
.addingStorage .modal-body #recurring .common .row .has-error .form-control,
.agentModal .modal-body #recurring .common .row .has-error .form-control,
.tripModal .modal-body #recurring .common .row .has-error .form-control {
  border-bottom: 1px solid #a94442;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pendingModal .modal-body #general .common .row .has-error .form-control:focus,
.addingStorage .modal-body #general .common .row .has-error .form-control:focus,
.agentModal .modal-body #general .common .row .has-error .form-control:focus,
.tripModal .modal-body #general .common .row .has-error .form-control:focus,
.pendingModal .modal-body #recurring .common .row .has-error .form-control:focus,
.addingStorage .modal-body #recurring .common .row .has-error .form-control:focus,
.agentModal .modal-body #recurring .common .row .has-error .form-control:focus,
.tripModal .modal-body #recurring .common .row .has-error .form-control:focus {
  outline-color: #ce8483;
  box-shadow: 0 0 5px 1px #ce8483;
}
.pendingModal .modal-body .right,
.addingStorage .modal-body .right,
.agentModal .modal-body .right,
.tripModal .modal-body .right {
  display: table;
}
.pendingModal .modal-body .right .row,
.addingStorage .modal-body .right .row,
.agentModal .modal-body .right .row,
.tripModal .modal-body .right .row {
  margin-bottom: 40px;
}
.pendingModal .modal-body .right .row .balance-col,
.addingStorage .modal-body .right .row .balance-col,
.agentModal .modal-body .right .row .balance-col,
.tripModal .modal-body .right .row .balance-col {
  padding: 0;
  display: table-cell;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
  box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
}
.pendingModal .modal-body .right .row .balance-col p,
.addingStorage .modal-body .right .row .balance-col p,
.agentModal .modal-body .right .row .balance-col p,
.tripModal .modal-body .right .row .balance-col p {
  text-align: center;
  margin: 25px 0;
  font-size: 16px;
}
.pendingModal .modal-body .right .row .balance-col p.col-title,
.addingStorage .modal-body .right .row .balance-col p.col-title,
.agentModal .modal-body .right .row .balance-col p.col-title,
.tripModal .modal-body .right .row .balance-col p.col-title {
  text-transform: uppercase;
  color: #c7c7c7;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}
.pendingModal .modal-body .right .row .balance-col p.red-text,
.addingStorage .modal-body .right .row .balance-col p.red-text,
.agentModal .modal-body .right .row .balance-col p.red-text,
.tripModal .modal-body .right .row .balance-col p.red-text {
  color: #f00;
}
.pendingModal .modal-body .action,
.addingStorage .modal-body .action,
.agentModal .modal-body .action,
.tripModal .modal-body .action {
  padding: 0;
  text-align: right;
  margin-bottom: 15px;
}
.pendingModal .modal-body .recurring-run,
.addingStorage .modal-body .recurring-run,
.agentModal .modal-body .recurring-run,
.tripModal .modal-body .recurring-run {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 48px;
  bottom: 0;
  height: calc(100% - 60px);
  left: 0;
  right: 0;
  background-color: rgba(240,243,243,0.61);
  text-align: center;
}
.pendingModal .modal-body .image-recurring,
.addingStorage .modal-body .image-recurring,
.agentModal .modal-body .image-recurring,
.tripModal .modal-body .image-recurring {
  position: absolute;
  bottom: 20%;
  left: 20%;
  opacity: 0.6;
}
.pendingModal .modal-body .billing-cycle,
.addingStorage .modal-body .billing-cycle,
.agentModal .modal-body .billing-cycle,
.tripModal .modal-body .billing-cycle {
  font-size: 14px;
  width: 65%;
  display: inline-block;
  float: right;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: none;
  height: 37px;
  padding: 5px 12px 9px 12px !important;
}
.pendingModal .modal-body #documents .documents-table,
.addingStorage .modal-body #documents .documents-table,
.agentModal .modal-body #documents .documents-table,
.tripModal .modal-body #documents .documents-table {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}
.pendingModal .modal-body #documents .documents-table td,
.addingStorage .modal-body #documents .documents-table td,
.agentModal .modal-body #documents .documents-table td,
.tripModal .modal-body #documents .documents-table td {
  padding: 6px 12px;
  border-bottom: solid 1px #6b6b70;
}
.pendingModal .modal-body #documents .document-head,
.addingStorage .modal-body #documents .document-head,
.agentModal .modal-body #documents .document-head,
.tripModal .modal-body #documents .document-head {
  background-color: #fff1dd;
}
.pendingModal .modal-body #documents .document-head th,
.addingStorage .modal-body #documents .document-head th,
.agentModal .modal-body #documents .document-head th,
.tripModal .modal-body #documents .document-head th {
  padding: 6px 12px;
  border-bottom: solid 1px #6b6b70;
  font-width: bold;
}
.pendingModal .modal-body #colors table tbody tr td,
.addingStorage .modal-body #colors table tbody tr td,
.agentModal .modal-body #colors table tbody tr td,
.tripModal .modal-body #colors table tbody tr td {
  border: 0;
}
.pendingModal .modal-body #colors table tbody tr td label,
.addingStorage .modal-body #colors table tbody tr td label,
.agentModal .modal-body #colors table tbody tr td label,
.tripModal .modal-body #colors table tbody tr td label {
  padding-left: 0;
}
.pendingModal .modal-body #colors table tbody tr td .btn-group,
.addingStorage .modal-body #colors table tbody tr td .btn-group,
.agentModal .modal-body #colors table tbody tr td .btn-group,
.tripModal .modal-body #colors table tbody tr td .btn-group {
  width: 100%;
}
.pendingModal .modal-body #colors table tbody tr td .btn-group.open .colorPick,
.addingStorage .modal-body #colors table tbody tr td .btn-group.open .colorPick,
.agentModal .modal-body #colors table tbody tr td .btn-group.open .colorPick,
.tripModal .modal-body #colors table tbody tr td .btn-group.open .colorPick {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.pendingModal .modal-body #colors table tbody tr td .btn-group .colorPick,
.addingStorage .modal-body #colors table tbody tr td .btn-group .colorPick,
.agentModal .modal-body #colors table tbody tr td .btn-group .colorPick,
.tripModal .modal-body #colors table tbody tr td .btn-group .colorPick {
  width: 100%;
  text-align: left;
  font-size: 15px;
}
.pendingModal .modal-body #colors table tbody tr td .btn-group .colorPick:hover,
.addingStorage .modal-body #colors table tbody tr td .btn-group .colorPick:hover,
.agentModal .modal-body #colors table tbody tr td .btn-group .colorPick:hover,
.tripModal .modal-body #colors table tbody tr td .btn-group .colorPick:hover {
  color: inherit;
}
.pendingModal .modal-body #colors table tbody tr td .btn-group .colorPick .caret,
.addingStorage .modal-body #colors table tbody tr td .btn-group .colorPick .caret,
.agentModal .modal-body #colors table tbody tr td .btn-group .colorPick .caret,
.tripModal .modal-body #colors table tbody tr td .btn-group .colorPick .caret {
  position: absolute;
  left: 90%;
  top: 40%;
}
.pendingModal .modal-body #colors table tbody tr td .btn-group .dropdown-menu,
.addingStorage .modal-body #colors table tbody tr td .btn-group .dropdown-menu,
.agentModal .modal-body #colors table tbody tr td .btn-group .dropdown-menu,
.tripModal .modal-body #colors table tbody tr td .btn-group .dropdown-menu {
  width: 100%;
  margin: 0;
  border-radius: 0;
}
.pendingModal .modal-body #colors table tbody tr td .btn-group .dropdown-menu li img,
.addingStorage .modal-body #colors table tbody tr td .btn-group .dropdown-menu li img,
.agentModal .modal-body #colors table tbody tr td .btn-group .dropdown-menu li img,
.tripModal .modal-body #colors table tbody tr td .btn-group .dropdown-menu li img {
  display: inline-block;
  width: 60px;
  height: 20px;
  margin-right: 10px;
}
.pendingModal .modal-body #colors #save,
.addingStorage .modal-body #colors #save,
.agentModal .modal-body #colors #save,
.tripModal .modal-body #colors #save {
  float: right;
}
.pendingModal .modal-body #colors .action-btn,
.addingStorage .modal-body #colors .action-btn,
.agentModal .modal-body #colors .action-btn,
.tripModal .modal-body #colors .action-btn {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.pendingModal .modal-footer,
.addingStorage .modal-footer,
.agentModal .modal-footer,
.tripModal .modal-footer {
  border-top: none;
}
.pendingModal .modal-footer .action .action-btn,
.addingStorage .modal-footer .action .action-btn,
.agentModal .modal-footer .action .action-btn,
.tripModal .modal-footer .action .action-btn {
  background: #fbb130;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
#agentsTable thead tr td:first-child,
#agentsTable tbody tr td:first-child,
#agentsTable thead tr th:first-child,
#agentsTable tbody tr th:first-child {
  text-align: center;
  width: 35px;
}
.customModal cc-tabsgroup {
  display: block;
  width: 100%;
}
.customModal cc-tabsgroup .custom-tab-btn {
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  font-size: 16px;
}
.customModal cc-tabsgroup .custom-tab-btn.active {
  border-bottom: 2px solid #556b8d;
  color: #555;
  font-weight: 600;
}
.customModal cc-tabsgroup .custom-tab-content {
  padding: 15px;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab {
  display: block;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab h3 {
  margin-bottom: 15px;
  font-size: 20px;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common {
  padding: 0;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row {
  margin: 0;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row.col-elem-margin {
  margin-bottom: 30px;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group {
  margin: 0;
  padding: 5px 15px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
  -moz-box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
  box-shadow: 0 0.1em 0.1em rgba(100,100,100,0.75);
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group.no-shadow {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group label {
  float: left;
  width: auto;
  padding-left: 0;
  padding-top: 10px;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group input,
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group select,
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group textarea {
  width: 65%;
  display: inline-block;
  float: right;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group input:disabled,
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group select:disabled,
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group textarea:disabled {
  background: inherit;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group img {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 65%;
  height: 37px;
  cursor: text;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group .icheckbox_flat-grey {
  margin-left: 20px;
  vertical-align: -webkit-baseline-middle;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group div {
  padding: 10px 0;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .form-group .checkbox-div label {
  width: 30%;
  text-align: left;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .common .row .half {
  border: 0;
  box-shadow: none;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .trip-jobs {
  margin-top: 30px;
  display: inline-block;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .trip-jobs .custom-tab-content {
  padding: 10px 0;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .trip-jobs .custom-tab-content .panel .panel-header {
  height: 38px;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .trip-jobs .custom-tab-content .panel .panel-header .action-group a.action {
  position: relative;
  text-transform: Capitalize;
  border: 1px solid #bfbfbf;
  margin-right: 15px;
  padding: 8px 10px;
  color: rgba(80,79,79,0.81);
  font-weight: bold;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #fff 0%, rgba(237,237,237,0.89) 100%);
  background: -webkit-linear-gradient(top, #fff 0%, rgba(237,237,237,0.89) 100%);
  background: linear-gradient(to bottom, #fff 0%, rgba(237,237,237,0.89) 100%);
  margin-left: -4px;
  font-size: 12px;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .trip-jobs .custom-tab-content .panel .panel-header .action-group a.action .fa {
  margin-right: 5px;
  font-size: 14px;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .trip-jobs .custom-tab-content .panel .panel-header .action-group a.action .fa.fa-minus-circle {
  color: #e25d5d;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .trip-jobs .custom-tab-content .panel .panel-header .action-group a.action .fa.fa-undo {
  color: #e25d5d;
}
.customModal cc-tabsgroup .custom-tab-content cc-tab .trip-jobs .custom-tab-content .panel .panel-header .action-group a.action .fa.fa-check-circle {
  color: #008000;
}
#storage-request.modal-body {
  position: static !important;
}
#storage-request .request-id {
  width: 65%;
  float: right;
  padding: 5px 12px 9px 12px !important;
  font-size: 14px;
}
#storage-request #general .remove-end-date {
  right: 15px;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}
#storage-request #general .btn-default {
  background-color: #fff !important;
  color: #333 !important;
}
#storage-request #ledger .inside_box {
  border: 1px solid #2b7b03;
}
#storage-request #ledger .dropdown .btn-default.disabled,
#storage-request #ledger .dropdown-menu .btn-default.disabled,
#storage-request #ledger .dropdown .btn-default[disbled],
#storage-request #ledger .dropdown-menu .btn-default[disbled] {
  background-color: #d7d9da !important;
  color: #909aa0 !important;
}
#storage-request #ledger .dropdown .btn-default,
#storage-request #ledger .dropdown-menu .btn-default,
#storage-request #ledger .dropdown a.btn-default:link,
#storage-request #ledger .dropdown-menu a.btn-default:link,
#storage-request #ledger .dropdown a.btn-default:visited,
#storage-request #ledger .dropdown-menu a.btn-default:visited {
  background-color: #fff !important;
  color: #373a3e !important;
}
#storage-request #ledger .dropdown .btn-info:hover,
#storage-request #ledger .dropdown-menu .btn-info:hover,
#storage-request #ledger .dropdown .btn-info:focus,
#storage-request #ledger .dropdown-menu .btn-info:focus,
#storage-request #ledger .dropdown .btn-info.focus,
#storage-request #ledger .dropdown-menu .btn-info.focus,
#storage-request #ledger .dropdown .btn-info:active,
#storage-request #ledger .dropdown-menu .btn-info:active,
#storage-request #ledger .dropdown .btn-info.active,
#storage-request #ledger .dropdown-menu .btn-info.active {
  color: #fff !important;
  background-color: #31b0d5 !important;
}
#storage-request #ledger .charge {
  background-color: rgba(255,171,171,0.3);
}
#storage-request #ledger .payment {
  background-color: rgba(127,224,122,0.3);
}
#storage-request #ledger .active {
  background-color: #bbd6ff !important;
}
#storage-request #ledger .charge-link {
  float: right;
  line-height: 2.1;
  background-color: transparent;
  border: none;
  padding: initial;
  font-size: 12px;
}
#payment_collected .dropdown .btn-default.disabled,
#recurring_revenue .dropdown .btn-default.disabled,
#payment_collected .dropdown-menu .btn-default.disabled,
#recurring_revenue .dropdown-menu .btn-default.disabled,
#payment_collected .dropdown .btn-default[disbled],
#recurring_revenue .dropdown .btn-default[disbled],
#payment_collected .dropdown-menu .btn-default[disbled],
#recurring_revenue .dropdown-menu .btn-default[disbled] {
  background-color: #d7d9da !important;
  color: #909aa0 !important;
}
#payment_collected .dropdown .btn-default,
#recurring_revenue .dropdown .btn-default,
#payment_collected .dropdown-menu .btn-default,
#recurring_revenue .dropdown-menu .btn-default,
#payment_collected .dropdown a.btn-default:link,
#recurring_revenue .dropdown a.btn-default:link,
#payment_collected .dropdown-menu a.btn-default:link,
#recurring_revenue .dropdown-menu a.btn-default:link,
#payment_collected .dropdown a.btn-default:visited,
#recurring_revenue .dropdown a.btn-default:visited,
#payment_collected .dropdown-menu a.btn-default:visited,
#recurring_revenue .dropdown-menu a.btn-default:visited {
  background-color: #fff !important;
  color: #373a3e !important;
}
#payment_collected .dropdown .btn-info:hover,
#recurring_revenue .dropdown .btn-info:hover,
#payment_collected .dropdown-menu .btn-info:hover,
#recurring_revenue .dropdown-menu .btn-info:hover,
#payment_collected .dropdown .btn-info:focus,
#recurring_revenue .dropdown .btn-info:focus,
#payment_collected .dropdown-menu .btn-info:focus,
#recurring_revenue .dropdown-menu .btn-info:focus,
#payment_collected .dropdown .btn-info.focus,
#recurring_revenue .dropdown .btn-info.focus,
#payment_collected .dropdown-menu .btn-info.focus,
#recurring_revenue .dropdown-menu .btn-info.focus,
#payment_collected .dropdown .btn-info:active,
#recurring_revenue .dropdown .btn-info:active,
#payment_collected .dropdown-menu .btn-info:active,
#recurring_revenue .dropdown-menu .btn-info:active,
#payment_collected .dropdown .btn-info.active,
#recurring_revenue .dropdown .btn-info.active,
#payment_collected .dropdown-menu .btn-info.active,
#recurring_revenue .dropdown-menu .btn-info.active {
  color: #fff !important;
  background-color: #31b0d5 !important;
}
#payment_collected .total-recurring,
#recurring_revenue .total-recurring {
  font-size: 40px;
  font-weight: bold;
  padding-right: 50px;
}
#payment_collected .date,
#recurring_revenue .date {
  width: 60%;
  display: inline-block;
}
#payment_collected .select-type,
#recurring_revenue .select-type {
  width: 60%;
  display: inline-block;
}
#payment_collected .icon-refresh-payment,
#recurring_revenue .icon-refresh-payment {
  font-size: 16px;
  padding: 11px;
  line-height: 20px;
  border: 1px solid #e0e0e0;
  position: absolute;
  z-index: 10;
  float: right;
  border-top: 0px;
  right: 5px;
  background: #eaeaea;
  cursor: pointer;
  margin-top: 0px;
  margin-right: 10px;
  top: 0;
}
#payment_collected .icon-refresh-payment:hover,
#recurring_revenue .icon-refresh-payment:hover {
  background: #1fc5ac;
  color: #fbfbfb;
}
#storage-request .dropdown .btn-default.disabled,
#storage-request .dropdown-menu .btn-default.disabled,
#storage-request .dropdown .btn-default[disbled],
#storage-request .dropdown-menu .btn-default[disbled] {
  background-color: #d7d9da !important;
  color: #909aa0 !important;
}
#storage-request .dropdown .btn-default,
#storage-request .dropdown-menu .btn-default,
#storage-request .dropdown a.btn-default:link,
#storage-request .dropdown-menu a.btn-default:link,
#storage-request .dropdown a.btn-default:visited,
#storage-request .dropdown-menu a.btn-default:visited {
  background-color: #fff !important;
  color: #373a3e !important;
}
#storage-request .dropdown .btn-info:hover,
#storage-request .dropdown-menu .btn-info:hover,
#storage-request .dropdown .btn-info:focus,
#storage-request .dropdown-menu .btn-info:focus,
#storage-request .dropdown .btn-info.focus,
#storage-request .dropdown-menu .btn-info.focus,
#storage-request .dropdown .btn-info:active,
#storage-request .dropdown-menu .btn-info:active,
#storage-request .dropdown .btn-info.active,
#storage-request .dropdown-menu .btn-info.active {
  color: #fff !important;
  background-color: #31b0d5 !important;
}
#storage-request #colors .dropdown a,
#storage-request #colors .dropdown-menu a {
  display: inline-block !important;
}
#storage-request #colors .dropdown .colorItem,
#storage-request #colors .dropdown-menu .colorItem {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 15px;
  border: solid 1px #c1c1c1;
}
#storage-request #colors .dropdown .Blue,
#storage-request #colors .dropdown-menu .Blue {
  background-color: #0000fe;
}
#storage-request #colors .dropdown .Green,
#storage-request #colors .dropdown-menu .Green {
  background-color: #008000;
}
#storage-request #colors .dropdown .Orange,
#storage-request #colors .dropdown-menu .Orange {
  background-color: #fea400;
}
#storage-request #colors .dropdown .Red,
#storage-request #colors .dropdown-menu .Red {
  background-color: #fe0000;
}
#storage-request #colors .dropdown .White,
#storage-request #colors .dropdown-menu .White {
  background-color: #fff;
}
#storage-request #colors .dropdown .Yellow,
#storage-request #colors .dropdown-menu .Yellow {
  background-color: #fffc26;
}
#storage-request #colors .dropdown li:hover,
#storage-request #colors .dropdown-menu li:hover,
#storage-request #colors .dropdown li:focus,
#storage-request #colors .dropdown-menu li:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
#storage-request #colors .btn {
  margin-bottom: 0;
}
#storage-request #colors .table>tbody>tr>td {
  vertical-align: middle;
}
#storage-request #colors .fa.fa-times.fa-2x {
  cursor: pointer;
}
#storage-request #colors .fa.fa-times.fa-2x:hover {
  color: rgba(86,86,86,0.8);
}
.main-content-wrapper-storages .icon-refresh-payment {
  font-size: 16px;
  padding: 10px;
  line-height: 20px;
  border: 1px solid #e0e0e0;
  position: absolute;
  z-index: 10;
  float: right;
  border-top: 0px;
  right: 5px;
  background: #eaeaea;
  cursor: pointer;
  margin-top: 0px;
  margin-right: 10px;
  top: 0;
}
.main-content-wrapper-storages .icon-refresh-payment:hover {
  background: #1fc5ac;
  color: #fbfbfb;
}
.positive-balance {
  color: #369a04;
}
.negative-balance {
  color: #d9000f;
}
.storage_icon_table {
  width: 40px;
  color: #000;
  float: left;
  margin-right: 10px;
}
.add-agents-modal .modal-body .tab-content .row .red-asterisk {
  color: #a94442;
}
.md-datepicker-calendar-pane,
.md-select-menu-container {
  z-index: 9999;
}
.job-sit-modal .modal-body {
  padding: 0;
}
.job-sit-modal .modal-body h2 {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
}
.job-sit-modal .modal-body h3 {
  padding: 10px 0 0;
}
.job-sit-modal .modal-body .form-group {
  padding: 15px 0;
}
.job-sit-modal .modal-body .panel-body {
  padding: 15px 7px;
}
.job-sit-modal .modal-body .panel-body .btn {
  margin-left: 9px;
}
.job-sit-modal .modal-body .error_field {
  border: #e25d5d 1px solid;
}
.job-sit-modal .modal-body .error_field:focus {
  border: #e25d5d 1px solid;
  outline-color: #e25d5d;
  box-shadow: 0 0 5px 1px #e25d5d;
}
.tripModal .basic-modal .custom-tab-content .tab-body {
  margin-bottom: 25px;
}
.ld-dispatch .padding-bottom {
  padding-bottom: 10px;
}
.ld-dispatch .dateRo label {
  padding: 0 !important;
  font-size: 15px;
}
.ld-dispatch.trip-info-modal .sit-closing-table table tbody tr input {
  width: 60px;
}
.ld-dispatch.trip-info-modal .closing-info-panel input {
  float: left !important;
}
.tripModal .modal-content .modal-header.gray {
  padding: 6px 10px;
}
.tripModal .modal-content .modal-header.gray .close {
  margin-top: -2px;
}
.tripModal .modal-dialog {
  min-width: 1125px !important;
}
.tripModal .modal-dialog .custom-tab-content .panel .panel-body.mdDataTable {
  padding: 15px 0;
}
.tripModal .modal-dialog .table.dataTable thead tr th {
  height: 30px;
}
.tripModal .modal-dialog .table.dataTable thead .sorting,
.tripModal .modal-dialog .table.dataTable thead .sorting_asc,
.tripModal .modal-dialog .table.dataTable thead .sorting_desc,
.tripModal .modal-dialog .table.dataTable thead .sorting_disabled,
.tripModal .modal-dialog .table.dataTable thead .sorting_asc_disabled,
.tripModal .modal-dialog .table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
  background: rgba(224,224,224,0.34);
}
.tripModal .modal-dialog .table.dataTable thead .sorting:after,
.tripModal .modal-dialog .table.dataTable thead .sorting_asc:after,
.tripModal .modal-dialog .table.dataTable thead .sorting_desc:after {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  font-family: 'FontAwesome';
  opacity: 0.5;
}
.tripModal .modal-dialog .table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\f175\f176";
  display: none;
}
.tripModal .modal-dialog .table.dataTable thead .sorting_asc:after {
  content: "\f160";
}
.tripModal .modal-dialog .table.dataTable thead .sorting_desc:after {
  content: "\f161";
}
.tripModal .modal-footer .fa.fa-trash {
  color: #e25d5d;
  font-size: 25px;
  margin-right: 20px;
  margin-top: 6px;
  cursor: pointer;
}
.tripModal .modal-footer .fa.fa-trash:hover {
  opacity: 0.8;
}
.tripModal .panel .action-group a.action {
  position: relative;
  text-transform: Capitalize;
  border: 1px solid #bfbfbf;
  margin-right: 15px;
  padding: 8px 10px;
  color: rgba(80,79,79,0.81);
  font-weight: bold;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #fff 0%, rgba(237,237,237,0.89) 100%);
  background: -webkit-linear-gradient(top, #fff 0%, rgba(237,237,237,0.89) 100%);
  background: linear-gradient(to bottom, #fff 0%, rgba(237,237,237,0.89) 100%);
  font-size: 12px;
  margin-left: -4px;
}
.tripModal .panel .action-group a.action .fa {
  margin-right: 5px;
  font-size: 14px;
}
.tripModal .panel .action-group a.action .fa.fa-plus-circle {
  color: #008000;
}
