.pending-info-settings-wrapper
	background-color #fff
	box-shadow 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
	&__header
		background-color #556b8d
		padding .5em 1em
		display flex
		justify-content space-between
		align-items center
		h3
			color #fff
		span
			color #fff
	&__setting-switcher-block
		padding 1em
		display flex
		justify-content space-between
		align-items center
