include ../../../../../../../node_modules/bemto.pug/bemto

+b.pending-info-settings-wrapper
	+e.header
		+e('h3').title
			| Pending-info Settings
		+e('span').explanation(tooltip-placement='left',
		uib-tooltip='THIS SETTING IS RESPONSIBLE FOR TRANSFERRING REQUEST TO "PENDING INFO" STATUS')
			+e('i').explanation-of-setting.fa.fa-info-circle
	+e.setting-switcher-block
		+e('h4').setting-name
			| Request can be transferred to "Pending-info" status
		+e('input').setting-switcher.js-switch(type="checkbox"
		ui-switch="{size: 'small',color:'#27B6AF',secondaryColor: '#B3B8C3'}"
		ng-change='updateSetting()'
		ng-model="setting"
		data-switchery="true")
