.valuation-coefficient-block-wrapper
	background-color #fff
	&__header
		background-color #556b8d
		padding 1em
		display flex
		justify-content space-between
		align-items center
	&__title
		color #fff
	&__body
		padding 1em
