<div class="valuation-coefficient-block-wrapper">
    <div class="valuation-coefficient-block-wrapper__header">
        <h3 class="valuation-coefficient-block-wrapper__title">Dollars per pound (Full Value Protection)</h3>
        <button class="btn btn-sm"
                ng-class="{'btn-primary disabled': !directivePresets.changes, 'btn-danger': directivePresets.changes}"
                ng-click="vm.updateValuationSetting(directivePresets)">Save Changes</button>
    </div>
    <div class="valuation-coefficient-block-wrapper__body">
        <input type="number"
               class="form-control"
               ng-change="vm.applySettingChanges(directivePresets)"
               ng-model="directivePresets.setting"
               ng-model-options="{updateOn: 'blur'}">
    </div>
</div>
