<print-download class="download-row"
                ng-if="!isFamiliarization && !isPrint && data.mainContractPagePdf.url ||
                            contract_page.allow_download_and_print && isPrint && data.mainContractPagePdf.url"
                url="data.mainContractPagePdf.url">
</print-download>
<send-letter-pdf class="send-letter-pdf-row"
                 ng-if="contract_page.allow_send_letter_pdf && !data.isSubmitted"
                 send-pdf-page="sendLetterPdf()"
                 download-pdf-page="downloadPdfPage()">
</send-letter-pdf>
<div class="contract" ng-if="!imContract" style="padding: initial;">
    <!-- header -->
    <div class="row header">
        <div class="col-md-3">
            <img ng-src="{{basicSettings.company_logo_url}}" width="170px" id="company_logo_img">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <p class="bold uppercase padding-left-0"  ng-bind-html="content.header"></p>
        </div>
        <div class="col-md-3">
            <p class="bold right uppercase">non negotiable</p>
            <p class="bold uppercase">B/L - {{ ::request.nid }}</p>
            <p class="bold uppercase">date of order <span class="detail">{{:: request.date.value}}</span></p>
        </div>
        <div class="col-md-12">
            <p class="blue uppercase bold left-offset"> carrier
                <span class="detail">
                    {{basicSettings.company_name}} {{basicSettings.company_address}} | {{basicSettings.company_tall_free_phone | nationalPhoneFormatter}}
                </span>
            </p>
            <p class="paragraph left-offset" ng-bind-html="content.welcome">
            </p>
        </div>
        <div class="col-md-12" ng-if="loadCustom && content.customContent1.length > minLengthCustomBlock">
            <div class="custom-content-box">
                <div class="paragraph left-offset" custom-content content="content.customContent1"
                                                                  container="customContent1"
                                                                  is-submitted="data.isSubmitted">
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->

    <!-- shipper signature at origin -->
    <div class="row">
        <div class="col-md-12">
            <div class="contract-box" >
                <div class="contract-box-content no-border border-bottom" ng-if="showFirstSinature()">
                    <div>
                        <p class="inline-block orange bold uppercase left-offset">
                            shipper or agent signature at origin
                        </p>
                        <signature-box admin="isAdminManager" step-id="0" owner="customer" data="data"></signature-box>
                    </div>
                    <p class="inline-block orange uppercase left-offset"></p>
                    <p class="orange bold uppercase left-offset">
                        received subject to tarif rule and regulations of the above named carrier
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- end shipper signature at origin-->

    <!-- origin and destination -->
    <div class="row">
        <!-- origin -->
        <div class="col-md-6 contract-box">
            <div class="contract-box-content no-border" ng-if="ifStorage && !request.request_all_data.toStorage || !ifStorage && request.service_type.raw != 4">
                <trip-data request="request"
                           name="field_extra_pickup"
                           data="contract_page.origin">
                </trip-data>
            </div>
            <div class="contract-box-content no-border" ng-if="request.service_type.raw == 4">
            </div>
            <div class="contract-box-content no-border" ng-if="ifStorage && request.request_all_data.toStorage">
                <p class="title  underline blue left-offset">origin</p>
                <div class="moving-storage-addr" style="text-align: center;padding: 40px;">
                    <img src="content/img/from-storage.png" title="From storage Request" style="width: 40%;">
                </div>
            </div>
        </div>
        <!-- end origin -->

        <!-- destination -->
        <div class="col-md-6 contract-box no-border">
            <div class="contract-box-content no-border" ng-if="ifStorage && request.request_all_data.toStorage || !ifStorage && request.service_type.raw != 3 && request.service_type.raw != 8">
                <trip-data request="request"
                           name="field_extra_dropoff"
                           data="contract_page.destination">
                </trip-data>
            </div>
            <div class="contract-box-content no-border" ng-if="ifStorage && !request.request_all_data.toStorage">
                <p class="title  underline blue left-offset">destination</p>
                <div class="moving-storage-addr" style="text-align: center;padding: 40px;"  >
                    <img src="content/img/to-storage.png" title="From storage Request" style="width: 40%;">
                </div>
            </div>
        </div>
        <!-- end destination -->
    </div>
    <!-- end origin and destination -->
    <div class="row" ng-if="contract_page.lessInitialContract && showDeclarVal">
        <div class="col-md-12 contract-box" id="step_2">
            <div class="contract-box-content" id="step_declaration">
                <p class="title underline left-offset" ng-bind="contract_page.editableFields.declarationValue"></p>
                <ul class="dolc">
                    <li ng-if="content.declarUp != '' "><span>{{:: content.declarUp }}</span></li>
                    <li ng-repeat="declarObj in declarationValue"
                        ng-show="declarObj.show" class="clearfix">
                        <span class="capital">{{ declarObj.index }}</span>
                        <p>{{ declarObj.description }}</p>
                    </li>
                    <li ng-if="content.declarDown != '' "><span>{{:: content.declarDown }}</span></li>
                    <li>
                        <div>
                            <span class="">I choose the option: </span>
                            <select class='select-lead declar'
                                    ng-disabled="data.signatures[2] && (data.signatures[2].value != '' || data.isSubmitted)"
                                    name="declaration_select"
                                    ng-model="data.declarationValue.selected" ng-change="removeDeclarSelectError()">

                                <option ng-repeat="declarObj in declarationValue track by declarObj.index"
                                        ng-selected="declarObj.index == data.declarationValue.selected"
                                        value="{{ declarObj.index }}"
                                        ng-if="declarObj.show">
                                    {{:: declarObj.index}}
                                </option>
                            </select>
                        </div>
                    </li>
                    <li ng-if="content.showDeclarCustomer" style="font-size: 14px;">
                        <label>Customer value declaration:</label>
                        <span>{{:: content.declarCustomer }}</span>
                        $<input class="medium full-width-input"
                                type="number"
                                ng-model="data.declarationValue.declarCustomer"
                                ng-change='saveContract({data:true})'
                                ng-model-options="{ debounce: 500 }"/>
                    </li>
                </ul>
                <div ng-if="!contract_page.lessInitialContract">
                    <p class="inline-block orange uppercase left-offset">
                        <span>signature of shipper</span>
                    </p>
                    <signature-box  step-id="2" owner="shipper" admin="isAdminManager"></signature-box>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-12 contract-box" id="step_1">
            <div class="contract-box-content">
                <p class="title center underline blue left-offset"
                   ng-bind="contract_page.editableFields.localHourlyRatesOption">
                </p>
                <p class="paragraph">
                    Confirm rate of $ {{ request.rateDiscount || (request.request_all_data.invoice.rate.value || request.rate.value) }} / hour for
                                      {{ request.crew.value }} movers
                                      {{ request.trucks.raw.length }} truck/s
                    <span ng-if="::minHours">( {{:: minHours }} hour minimum)</span>.
                    <p class="paragraph pdf-margin-left" ng-bind-html="content.localHourlyRate"></p>
                <!--Customer agrees and understands that BOSTON FLAT RATE MOVERS is on the clock upon arrival at origin,
                    through the load, through the drive to destination and the through the unload, until our truck and/or
                    trailer has been fully rassembled. Billed in 15 minutes increments.-->
                </p>
                <p class="inline-block orange bold left-offset">if customer agrees, please sign here</p>
                <signature-box step-id="1" owner="customer" admin="isAdminManager"></signature-box>
            </div>
        </div>
    </div>
    <div class="row" ng-if="loadCustom && content.customContent2.length > minLengthCustomBlock">
        <div class="col-md-12">
            <div class="custom-content-box">
                <div class="paragraph" custom-content content="content.customContent2"
                                                      container="customContent2"
                                                      is-submitted="data.isSubmitted">
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-6">
            <div class="contract-box" id="step_2" ng-if="!contract_page.lessInitialContract && showDeclarVal">
                <div class="contract-box-content" id="step_declaration">
                    <p class="title underline left-offset"
                       ng-bind="contract_page.editableFields.declarationValue">
                    </p>
                    <ul class="dolc">
                        <li ng-if="content.declarUp != '' "><span>{{:: content.declarUp }}</span></li>
                        <li ng-repeat="declarObj in declarationValue"
                            ng-show="declarObj.show" class="clearfix">
                            <span class="capital">{{ declarObj.index }}</span>
                            <p>{{ declarObj.description }}</p>
                        </li>
                        <li ng-if="content.declarDown != '' "><span>{{:: content.declarDown }}</span></li>
                        <li>
                            <div>
                                <span class="">I choose the option: </span>
                                <select class='select-lead declar'
                                        ng-disabled="data.signatures[2] && (data.signatures[2].value != '' || data.isSubmitted)"
                                        name="declaration_select"
                                        ng-model="data.declarationValue.selected"
                                        ng-change="removeDeclarSelectError()">

                                    <option ng-repeat="declarObj in declarationValue track by declarObj.index"
                                            ng-selected="declarObj.index == data.declarationValue.selected"
                                            value="{{ declarObj.index }}"
                                            ng-if="declarObj.show">
                                        {{:: declarObj.index}}
                                    </option>
                                </select>
                            </div>
                        </li>
                        <li ng-if="content.showDeclarCustomer" style="font-size: 14px;">
                            <label>Customer value declaration:</label>
                            <span>{{:: content.declarCustomer }}</span>
                            $<input class="medium full-width-input"
                                    type="number"
                                    ng-model="data.declarationValue.declarCustomer"
                                    ng-change='saveContract({data:true})'
                                    ng-model-options="{ debounce: 500 }"/>
                        </li>
                    </ul>
                    <div ng-if="!contract_page.lessInitialContract">
                        <p class="inline-block orange uppercase left-offset"><span>signature of shipper</span></p>
                        <signature-box  step-id="2" owner="shipper" admin="isAdminManager"></signature-box>
                    </div>
                </div>
            </div>
            <div class="contract-box" id="step_3" details-labor data="data"
                                                                request="request"
                                                                request-data="request_data"
                                                                navigation="navigation"
                                                                flat-miles="flatMiles"
                                                                contract-page="contract_page"
                                                                customer="customer"
                                                                is-double-drive-time="isDoubleDriveTime"
                                                                travel-time="travelTime"
                                                                travel-time-setting="travelTimeSetting"
                                                                busy="mainBusy"
                                                                max-sign-count="maxSignCount"

                                                                save-req-data-invoice="saveReqDataInvoice()"
                                                                save-contract="saveContract({data: data})"
                                                                pickup-timer="pickupTimer({type: type})"
                                                                unload-timer="unloadTimer({type: type})"
                                                                start-timer="startTimer()"
                                                                stop-timer="stopTimer()"
                                                                set-less-signatures="setLessSignatures({arr: arr})">

            </div>

            <div class="contract-box storage_in_transit sit_block" ng-if="services">
                <div class="contract-box-content">
                    <p class="title underline left-offset">
                        {{contract_page.editableFields.servicesTitle}}
                        <a href="javascript:;" class="pull-right" style="padding-right: 15px;" ng-click="showTransit()">
                            {{ openStorageAndTransit ? '-' : '+' }}
                        </a>
                    </p>
                    <div ng-show="openStorageAndTransit">
                        <p class="paragraph left-offset bold"> if shipment must be stored, customer must initial below</p>
                        <div class="paragraph left-offset right-offset">
                            <div class="row">
                                <button class="btn btn-info pull-left col-xs-6 col-sm-6 col-md-6"
                                        style="margin: 0 -5px 0 -5px;"
                                        ng-click="openService('overnight_storage')"
                                        ng-if="showService('overnight_storage')"
                                        ng-disabled="data.isSubmitted">
                                    Coming  to Overnight
                                </button>
                                <button class="btn btn-info pull-right col-xs-6 col-sm-6 col-md-6"
                                        ng-class="{'btn-danger':!storageButton()}"
                                        style="margin: 0 -5px 0 -5px;"
                                        ng-click="openInventory()"
                                        ng-if="showService('monthly_storage_fee')"
                                        ng-disabled="data.isSubmitted">
                                    <span ng-if="storageButton()">Coming to Storage</span>
                                    <span ng-if="!storageButton()">Close Storage</span>
                                </button>
                            </div>
                            <div parse-show-storage-service
                                 class="paragraph left-offset sit-block"
                                 ng-model="sf.connected_service"
                                 monthly-total="storageTotal"
                                 volume-cuft="storageVolume"
                                 rate-cuft="storageRateCuft"
                                 ng-repeat="sf in content.storageFit | filter:{ active: true, unremovable: true}"
                                 ng-if="!showService(sf.connected_service)">
                            </div>
                            <div parser
                                 class="paragraph left-offset sit-block"
                                 services="request.extraServices"
                                 ng-model="sf.connected_service"
                                 monthly-total="storageTotal"
                                 volume-cuft="storageVolume"
                                 rate-cuft="storageRateCuft"
                                 ng-repeat="sf in content.storageFit | filter:{ active: true}"
                                 ng-if="!sf.unremovable">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="contract-box no-margin-top">
                <div class="contract-box-content no-border">
                    <table>
                        <tbody ng-if="requestReady"
                               packing-table
                               request="request">
                        </tbody>
                        <tbody ng-if="requestReady"
                               extra-services-table
                               request="request"
                               save-contract="saveContract()">
                        </tbody>
                        <tbody ng-if="requestReady"
                               payments
                               show-discount="showDiscount"
                               is-submitted="data.isSubmitted"
                               balance-paid="balance_paid"
                               request-type="request.service_type.raw"
                               save-contract="saveContract({data: data})"
                               save-req-data-invoice="saveReqDataInvoice({type: type})"
                               send-contract-log="sendContractLog({msgToLog: msgToLog})"
                               remove-discount="removeDiscount()"
                               get-tips="getTips()"
                               open-coupon-modal="openCouponModal()"
                               total-cost="calculation.totalCost()"
                               total-less-deposit="totalLessDeposit()"
                               show-payment="showPayment()">
                        </tbody>
                    </table>
                    <div class="animated checkout_btn"
                         ng-click="applyPayment({step: paymentButton()})"
                         ng-class="{'checkout_btn_paid': totalLessDeposit() == 0}">
                        <span ng-show="paymentButton()">
                            <i class="icon-check"></i>
                        </span>
                        <span ng-hide="paymentButton()">
                            <span ng-show="!openPay">Pay</span>
                            <span ng-show="openPay">
                                <svg  style="margin-top: 12px;left: calc(50% - 12px);"
                                      class="spinner white"
                                      width="25px"
                                      height="25px"
                                      viewBox="0 0 66 66"
                                      xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path_white"
                                            fill="none"
                                            stroke-width="6"
                                            stroke-linecap="round"
                                            cx="33"
                                            cy="33"
                                            r="30">
                                    </circle>
                                </svg>
                            </span>
                        </span>
                        <div id="errorSign_checkout_btn" style="display:none;">
                            <i class="fa fa-arrow-left"
                               aria-hidden="true">
                            </i>
                        </div>
                    </div>
                    <div class="card-signatured-box" style="cursor:default;">
                        <img ng-repeat="image in cardImages track by $index" ng-src="{{image}}" style="cursor: pointer;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="loadCustom && content.customContent3.length > minLengthCustomBlock">
        <div class="col-md-12">
            <div class="custom-content-box">
                <div class="paragraph" custom-content content="content.customContent3"
                                                      container="customContent3"
                                                      is-submitted="data.isSubmitted">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 contract-box">
            <div class="contract-box-content">
                <p class="paragraph pdf-margin-left" ng-bind-html="content.last">
                </p>
                <!-- info rows -->
                <div class="info-rows" ng-if="!flatMiles">
                    <div class="col-md-6">
                        <p class="orange bold uppercase inline-block">customer signature</p>
                        <signature-box admin="isAdminManager" step-id="{{ 5 + data.stepSpace }}" owner="customer"></signature-box>
                    </div>
                    <div class="col-md-6 pull-right"
                         ng-if="contract_page.lessInitialContract && data.req_comment && data.req_comment.length != '' ">
                        <p class="blue bold uppercase inline-block">carrier signature</p>
                        <signature-box admin="isAdminManager" step-id="{{ 6 + data.stepSpace }}" owner="carrier"></signature-box>
                    </div>
                    <div class="col-md-6 pull-right" ng-if="!contract_page.lessInitialContract">
                        <p class="blue bold uppercase inline-block">carrier signature</p>
                        <signature-box admin="isAdminManager" step-id="{{ 6 + data.stepSpace }}" owner="carrier"></signature-box>
                    </div>
                </div>
                <div class="info-rows" ng-if="flatMiles">
                    <div class="col-md-6">
                        <p class="orange bold uppercase inline-block">customer signature</p>
                        <signature-box admin="isAdminManager" step-id="{{ 7 + data.stepSpace }}" owner="customer"></signature-box>
                    </div>
                    <div class="col-md-6 pull-right"
                         ng-if="contract_page.lessInitialContract && data.req_comment && data.req_comment.length != '' ">
                        <p class="blue bold uppercase inline-block">carrier signature</p>
                        <signature-box admin="isAdminManager" step-id="{{ 8 + data.stepSpace }}" owner="carrier"></signature-box>
                    </div>
                    <div class="col-md-6 pull-right" ng-if="!contract_page.lessInitialContract">
                        <p class="blue bold uppercase inline-block">carrier signature</p>
                        <signature-box admin="isAdminManager" step-id="{{ 8 + data.stepSpace }}" owner="carrier"></signature-box>
                    </div>
                </div>
                <div class="comments">
                    <p class="bold uppercase">customer comments</p>
                    <textarea rows="10" ng-model="data.req_comment"
                              ng-value="data.req_comment"
                              ng-disabled="data.isSubmitted">
                    </textarea>
                    <pre class="print-comments" ng-bind="data.req_comment"></pre>
                </div>
            </div>
        </div>
    </div>

    <p class="bold center top" ng-bind-html="content.footer">
    </p>
    <p class="bold center top no-print">
        (See contract <span class="blue underline" style="cursor: pointer;" ng-click="mainFlipPage()">terms and conditions</span>)
    </p>
    <p class="bold center top no-print">
        <button class="btn btn-lg btn-info"
                ng-if="!data.isSubmitted"
                ng-disabled="!submitContract()"
                ng-click="submitContractBtn({ isBtn: true, lastPageSubmit: true})">

            Submit contract
        </button>
        <button class="btn btn-lg btn-success" ng-if="data.isSubmitted" disabled>Job is Done</button>
    </p>
</div>
<img ng-src="{{imContract}}" ng-if="imContract && data.isSubmitted" style="width: 100%">
