<div class="sms-template-builder-menu">
	<uib-accordion close-others="true">
		<div uib-accordion-group ng-repeat="menu in templatesMenu">
			<uib-accordion-heading>
				{{menu.header}}
				<span class="sms-template-builder-menu__child-template-is-edit" ng-show="isChooseChildTemplate(filteredTemplate)">*</span>
				<i class="pull-right">{{filteredTemplate.length}}</i>
			</uib-accordion-heading>
			<div dragula='"preview-template-bag"' dragula-model='menu.templates'>
				<div class="sms-template-builder-menu__preview-template" ng-repeat="template in menu.templates | filter:filterByKeyName:comparatorFunction as filteredTemplate"
					 ng-class="{'sms-template-builder-menu__preview-template_active-template': template.id == selectedTemplate.id}"
					 ng-click="chooseTemplate(template)">
					<!--<div class="dragdrop-block">-->
						<!--<i class="fa fa-arrows drag-templates" aria-hidden="true"></i>-->
					<!--</div>-->
					<div class="sms-template-builder-menu__template-block">
						<div class="sms-template-builder-menu__item-block prevent-selection">
							<div>
								<div>{{template.name}}</div>
							</div>
							<!--<div class="sms-template-builder-menu__select-block">-->
								<!--<div class="sms-template-builder-menu__edit-template-button" ng-click="chooseTemplate(template)">-->
									<!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
									<!--Edit-->
								<!--</div>-->
							<!--</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</uib-accordion>
</div>