.sms-template-builder-menu
	width 250px
	&__preview-template
		cursor pointer
		height auto
		padding 10px 5px
		box-shadow 0 0 1px 0 #0000004d
	&__preview-template_active-template
		background-color aliceblue
