<div class="pageheader">
  <h1>General Settings </h1>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li>Settings</li>
      <li class="active">Account page settings</li>
    </ol>
  </div>
</div>
<section id="main-content" class="animated fadeInUp general calcsettings" ng-controller="AccountPageController as vm">
  <!--mail wrapper start-->
  <div class="row col-md-12 nopadding">
    <div class=" col-lg-3 col-md-2 col-sm-12" id="compose-wrapper">
      <div class="panel">
        <aside class="panel-body">
          <div class="btn btn-primary btn-block">Account Page Settings</div>
          <ul class="nav nav-pills nav-stacked compose-nav">
            <li ng-repeat="menu in vm.menu" ng-init="menu.selected = $first" ng-class="{ 'active': menu.selected}">
              <a href="" ng-click="vm.select(menu)"> <i class="{{menu.icon}}"></i>{{menu.name}}</a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
    <div class="col-lg-9 col-md-10 col-sm-12" id="inbox-wrapper">
      <div class="row">
        <div class="tab_content col-lg-12" style="padding: 0" ng-repeat="menu in vm.menu"  ng-class="{'active': menu.selected}">
          <div ng-include="menu.url"></div>
        </div>
      </div>
    </div>
  </div>
</section>

