.valuation-select-block
	display flex
	flex-direction column
	align-items baseline
	md-checkbox
		min-width 24px
		min-height 24px
		margin-bottom .5em
		.md-container
			width 24px
			height 24px
			.md-icon
				color inherit
				width 18px
				height 18px
				&:after
					left 4px
					top 0
		&.md-checked
			.md-ink-ripple
				color rgba(0, 205, 121, 0.87);
	md-checkbox[disabled]
		.md-label
			color inherit
		&.md-checked
			.md-icon
				background-color #00cd79

	&__valuation-type
		margin-bottom .8em
	&__info
		&-table
			margin-top .2em
			text-align center
			line-height 2em
			width 100%
			&-header
				background: #f0f0f0;
				border-bottom: 1px solid #c5c5c5;
				border-top: 1px solid #c5c5c5;
				font-weight: 700;
				md-checkbox
					margin-top 15px
				.cell-small
					width 20%
				.cell-big
					width 30%
			&-title
				padding .5em 0
				width max-content
				padding-left 20px
				text-align left
				font-weight 700
			&-cell
				text-align center
.valuation-info
	margin-top 4px
	.disabled
		opacity 1
	.h2title
		margin-top 6px
		padding-left 0
	.info
		margin-top 6px
	.item-absolute-position
		position relative
		&__child
			position absolute
			top calc(50% - (18px / 2))
			right 10px

.disabled
	.valuation-info__liability-amount__input
		border-bottom 0
		font-weight 500


.valuation-select-block-wrapper
	font-size 12px
	font-weight 600
	font-family 'open sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
	&__description
		margin-top 1em
	.valuation-explanation-text
		width 100%
		margin-top .5em
		.showMore
			width inherit
	.full-value-protection-checkbox
		width 100%
		height 30px
		position relative
		&__overlap-layer
			width calc(100% + 20px)
			height inherit
			z-index 10
			cursor pointer
			position relative
			top 0
			left -10px
			right 0
			bottom 0
		&__lower-layer
			position absolute
			top 0
			z-index 0
