<div class="valuation-select-block-wrapper"
	 ng-class="{'disabled': isCannotEditValuation}">
	<div class="valuation-select-block">
		<md-checkbox ng-model="is_checked_valuation_per_pound"
					 ng-disabled="is_checked_valuation_per_pound"
					 aria-label="{{valuationTitles[valuationTypes.PER_POUND].title}}"
					 ng-show="valuation_account_show_setting.cent_per_pound"
					 ng-change="setValuationType(valuationTypes.PER_POUND)">
			{{valuationTitles[valuationTypes.PER_POUND].title}}
		</md-checkbox>
		<div class="full-value-protection-checkbox"
			 ng-show="valuation_account_show_setting.full_value_protection">
			<div class="full-value-protection-checkbox__overlap-layer"
				 ng-click="openValuationAccountModalForFullValue()"></div>
			<md-checkbox class="full-value-protection-checkbox__lower-layer"
						 ng-model="is_checked_valuation_full_value_protection"
						 ng-disabled="is_checked_valuation_full_value_protection || !edit_amount_of_valuation"
						 aria-label="{{valuationTitles[valuationTypes.FULL_VALUE].title}}">
				{{valuationTitles[valuationTypes.FULL_VALUE].title}}
			</md-checkbox>
		</div>
	</div>
	<div class="valuation-select-block-wrapper__valuation-block" ng-hide="hideSelectBlock">
		<div class="valuation-info">
			<div class="row"
				 ng-class="{'disabled': readOnly}"
				 ng-show="request.request_all_data.valuation.selected.valuation_type == valuationTypes.FULL_VALUE">
				<div class="col-md-3 h2title">Full value Protection</div>
				<div class="col-md-9 info" ng-class="{'disabled': is_not_edit_amount_of_liability}">
					$ {{valuation.selected.liability_amount | number: 2}} (Amount of Liability)
				</div>
				<div class="col-md-3 h2title" ng-show="request.request_all_data.valuation.selected.deductible_level">
					Deductible Level
				</div>
				<div class="col-md-9 info" ng-show="request.request_all_data.valuation.selected.deductible_level">
					<span ng-show="request.request_all_data.valuation.selected.deductible_level === 'Select Valuation'">
						{{request.request_all_data.valuation.selected.deductible_level}}
					</span>

					<span ng-show="request.request_all_data.valuation.selected.deductible_level !== 'Select Valuation'">
						$ {{request.request_all_data.valuation.selected.deductible_level | number : 2 }}
					</span>
				</div>
				<div class="col-md-3 h2title" ng-show="request.request_all_data.valuation.selected.valuation_charge">Valuation charge</div>
				<div class="col-md-9 info" ng-show="request.request_all_data.valuation.selected.valuation_charge">
					$ {{request.request_all_data.valuation.selected.valuation_charge | number : 2}}
				</div>
			</div>
			<div class="valuation-explanation-text"
				 ng-show="request.request_all_data.valuation.selected.valuation_type == valuationTypes.PER_POUND && valuation_account_show_setting.cent_per_pound"
				 textforshow="valuationTitles[valuationTypes.PER_POUND].explanation"
				 request="request"
				 read-more>
			</div>
			<div class="valuation-explanation-text"
				 ng-if="request.request_all_data.valuation.selected.valuation_type == valuationTypes.FULL_VALUE && valuation_account_show_setting.full_value_protection"
				 textforshow="valuationTitles[valuationTypes.FULL_VALUE].explanation"
				 request="request"
				 read-more>
			</div>
		</div>
	</div>
</div>
