.home-estimate
  .date-title
    text-align center
    text-transform uppercase
    font-size 14px
    font-weight bold
    margin-bottom 10px
    margin-top -1px
    padding-bottom 10px
    padding-top 84px
    background #efefef
    border-bottom 1px solid #d4d4d4
  &-calendar
    font-size 12.756px
  &-plan
    padding 0
  &-info
    padding 0
    input
      border-left none
      border-top none
      border-right none
      border-bottom 1px solid #C4C4C4
      background-color #FFFFFF
      color #565A5C
      font-family "Open sans"
      font-size 12px
      font-weight 600
      box-shadow none
  &-hide-button
    margin-top -27px
    background-color white
    opacity .3
    padding 7px
    &:hover
      opacity 1
  &.mobile-home-estimate-wrapper
    .date-title
      padding-top 10px

