<div class="home-estimate" ng-class="{'mobile-home-estimate-wrapper': isMobile}">
    <div ng-show="busy">
        <div class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    <div class="date-title" ng-show="isActiveActions">
        In-home estimate
    </div>
    <div class="home-estimate-calendar" ng-show="isActiveActions">
        <!-- <navigate-calendar cur-date="curDate"></navigate-calendar> -->
        <button class="btn pull-right home-estimate-hide-button" ng-click="isShowHomeEstimate = !isShowHomeEstimate">
            <i ng-hide="isShowHomeEstimate" class="fa fa-chevron-down" uib-tooltip="Show" tooltip-popup-delay="2000"></i>
            <i ng-show="isShowHomeEstimate" class="fa fa-chevron-up" uib-tooltip="Hide" tooltip-popup-delay="2000"></i>
        </button>
    </div>
    <div class="home-estimate-plan" ng-show="isShowHomeEstimate">
        <el-home-estimate-work-plan request="request" requests="requests" options="options" cur-date="curDate" home-estimators="homeEstimators" on-update-message="updateMessage" on-remove-message="removeMessage"></el-home-estimate-work-plan>
    </div>
    <div class="home-estimate-info" ng-show="isActiveActions">
        <el-home-estimate-info request="request" requests="requests" cur-date="curDate" on-update-message="updateMessage" on-remove-message="removeMessage" options="options"></el-home-estimate-info>
    </div>
</div>
