<div class="calendar-navigator">
    <a ng-click="goToPrevDay()" uib-tooltip="Prev date" tooltip-popup-delay="3000">
        <i class="icon-arrow-left" aria-hidden="true"></i>
    </a>
    <i class="fa fa-calendar" ng-click="openCalendar()">
        <input disabled ng-model="curDate"
               ng-value="curDate"
               current-date="curDate"
               data-date="{{curDate}}"
               elromco-date-picker
               type="text">
    </i>
    <a class="go-next-day" ng-click="goToNextDay()" uib-tooltip="Next date" tooltip-popup-delay="3000">
        <i class="icon-arrow-right" aria-hidden="true"></i>
    </a>
</div>