.calendar-navigator
  padding-left 50%
  margin-left -140px
  .fa-calendar
    cursor pointer
    input
      width 215px
      background white
      border none
      color #424856
      cursor pointer
      font-family 'Montserrat', sans-serif
      font-size 12.756px
      text-align center
    .ui-datepicker-trigger
      display none