<div class="reminder-header">
    <div class="title">
        <h2>Reminder</h2>
    </div>
</div>
<fieldset ng-disabled="::!$ctrl.canEdit" ng-form="$ctrl.editReminder" class="reminder-container">
    <div class="container-group">
        <div class="group-item-left">
            <label class="lb">Sales person</label>
            <select-sales name="salesPerson" class="inp-left" ng-model="$ctrl.reminder.user_id"></select-sales>
        </div>
        <div class="group-item-right">
            <label class="lb">Request</label>
            <input class="form-control inp-right" type="input" ng-model="$ctrl.reminder.node_id" disabled></input>
        </div>
    </div>
    <div class="container-group">
        <label class="lb">Subject</label>
        <input name="subject" class="form-control subject-input" type="input" ng-model="$ctrl.reminder.subject" required></input>
    </div>
    <div class="container-group">
        <label class="lb">Start time</label>
        <unix-date-picker class="long-input" ng-model="$ctrl.reminder.starts_at" min-date="$ctrl.minDate"></unix-date-picker>
    </div>
    <div class="container-group">
        <label class="lb remind-me-lb">
            <input type="checkbox" ng-model="$ctrl.remindMe" ng-click="$ctrl.showOffset = true"/>
            <span>Remind time</span>
        </label>
        <time-offset-for class="remind-input" ng-model="$ctrl.reminder.remind_for"></time-offset-for>
        <label class="color-piker">Color
            <color-chooser ng-model="$ctrl.reminder.Color"></color-chooser>
        </label>
    </div>
    <div class="reminder-text-container">
        <textarea class="form-control" name="description" ng-model="$ctrl.reminder.description" required></textarea>
    </div>
</fieldset>
<div class="reminder-footer">
    <button class="btn btn-default" ng-click="$ctrl.done()">Close</button>
    <button ng-if="$ctrl.isOld" class="btn btn-primary" open-request="$ctrl.reminder.node_id">Open request</button>
    <button ng-if="$ctrl.isOld && !$ctrl.reminder.dismissed_at" 
            class="btn btn-primary" 
            ng-click="$ctrl.dismiss()" 
            ng-disabled="::!$ctrl.canEdit">Dismiss
    </button>
    <button ng-if="!$ctrl.reminder.dismissed_at" 
            class="btn btn-success"
            ng-click="$ctrl.saveReminder()" 
            ng-bind="$ctrl.isOld ? 'Update' : 'Save'" 
            ng-disabled="!$ctrl.canEdit || $ctrl.editReminder.$submitted">
    </button>
</div>

