include ../../../../../../../node_modules/bemto.pug/bemto

+b.request-pending-info-setting-block
	+e('h4').header
		| Allow to switch request to "Pending-info" status
	+e('input').setting-switcher.js-switch(type="checkbox"
		ui-switch="{size: 'small',color:'#27B6AF',secondaryColor: '#B3B8C3'}"
		ng-change='switchSetting()'
		ng-model="field"
		data-switchery="true")
