include ../../../../../../node_modules/bemto.pug/bemto

+b.custom-commercial-block
	+e('h4').explain Commercial Name
	+e.control-panel
		+e('input').field-commercial-name.form-control(ng-model='customName', ng-model-options="{ updateOn: 'blur' }")