<div class="modal-header">
    <div class="actions pull-right">
        <button type="button" class="close" ng-click="closeModal()">&times;</button>
    </div>
</div>
<form>
    <div class="modal-body form-horizontal">
        <div ng-show="busy" class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Change Request ID</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" ng-class="{'has-error': buttonText == 'Set anyway'}">
                    <input class="form-control" ng-model="requestId" ng-change="changeIdValue()">
                    <span ng-if="buttonText == 'Set anyway'" style="text-align: center; color: #a94442;">No such request</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-xs-12 action">
            <button class="btn action-btn" type="submit" ng-click="search(requestId, buttonText)">{{buttonText}}</button>
            <button class="btn action-btn" ng-click="closeModal()">Cancel</button>
        </div>
    </div>
</form>
