<table class="table" ng-show="lotNumbers.length">
    <tbody>
    <tr>
        <td class="col-md-3">
            <label for="lotNumb">Lot Number</label>
        </td>
        <td class="col-md-3">
            <label for="colorPick">Color</label>
        </td>
        <td class="col-md-3">
            <label for="from">From</label>
        </td>
        <td class="col-md-3">
            <label for="to">To</label>
        </td>
    </tr>
    <tr ng-form name="storages" ng-repeat="lotNumber in lotNumbers track by $index">
        <td class="col-md-3">
            <input ng-model="lotNumber.number" id="lotNumb" class="form-control"
                   ng-pattern="/[a-zA-Z0-9]$/" step="1" name="lotNumb"
                   ng-change="changeField('lot_number', lotNumbers)">
        </td>
        <td class="col-md-2">
            <div class="btn-group" ng-model="lotNumber.color">
                <button type="button" class="btn dropdown dropdown-toggle colorPick form-control" id="colorPick"
                        data-toggle="dropdown">
                    <div ng-hide="lotNumber.color">Choose Color <span class="caret"></span></div>
                    <div ng-show="lotNumber.color">
                        <div class="{{lotNumber.color}} colorItem" style="margin-left: 2px;"></div>
                        <span style="margin-left: 24px;"> {{lotNumber.color}}</span> <span class="caret"></span>
                    </div>
                </button>
                <ul class="dropdown-menu colorMenu" role="menu">
                    <li role="menuitem" ng-click="lotNumber.color = 'Blue'">
                        <div class="Blue colorItem"></div>
                        <a href="">Blue</a>
                    </li>
                    <li role="menuitem" ng-click="lotNumber.color = 'Green'">
                        <div class="Green colorItem"></div>
                        <a href="">Green</a>
                    </li>
                    <li role="menuitem" ng-click="lotNumber.color = 'Orange'">
                        <div class="Orange colorItem"></div>
                        <a href="">Orange</a>
                    </li>
                    <li role="menuitem" ng-click="lotNumber.color = 'Red'">
                        <div class="Red colorItem"></div>
                        <a href="">Red</a>
                    </li>
                    <li role="menuitem" ng-click="lotNumber.color = 'White'">
                        <div class="White colorItem"></div>
                        <a href="">White</a>
                    </li>
                    <li role="menuitem" ng-click="lotNumber.color = 'Yellow'">
                        <div class="Yellow colorItem"></div>
                        <a href="">Yellow</a>
                    </li>
                </ul>
            </div>
        </td>
        <td class="col-md-3">
            <input type="number" id="from" ng-model="lotNumber.from" class="form-control"
                   ng-pattern="/^\d+((\.)\d{1,2})?$/" step="1" min="0" name="from" ng-class="{error_field: storages.from.$invalid}"
                   ng-change="changeField('lot_number', lotNumbers)"
                   ng-class="{error_field: storages.blankets.$invalid}">
        </td>
        <td class="col-md-3">
            <input type="number" id="to" ng-model="lotNumber.to" class="form-control"
                   ng-pattern="/^\d+((\.)\d{1,2})?$/" step="1" min="0" name="to" ng-class="{error_field: storages.to.$invalid}"
                   ng-change="changeField('lot_number', lotNumbers)"
                   ng-class="{error_field: storages.blankets.$invalid}">
        </td>
        <td class="col-md-1">
            <i class="fa fa-times fa-2x" aria-hidden="true"
               ng-click="removeColor($index);changeField('lot_number', lotNumbers)"
               ng-class="{error_field: storages.blankets.$invalid}"></i>
        </td>
    </tr>
    </tbody>
</table>
<button class="btn btn-primary action-btn" ng-click="addColor();changeField('lot_number', lotNumbers)"
        id="addColor">
    <i class="fa fa-plus" aria-hidden="false"></i>Add Row
</button>
<!--<button class="btn btn-success action-btn" id="save" ng-show="data.rentals.lot_number.length">Save</button>-->
