<div id="print-content">
    <style>
        @media print {
            body * {
                visibility: hidden;
            }

            #image-print * {
                visibility: visible;
            }
        }

    </style>
    <div class="modal-header gray" style="cursor: all-scroll;">
        <span class="reqheader" style="display:none">Request# {{data.rentals.move_request_id}} | </span>
        <span class="client" style="display: block; float: left; max-width: 150px; overflow: hidden; height: 15px;" title="{{request.name}}">
        <i class="icon-user"></i> {{data.user_info.name}}
    </span> | <span class="email">
        <i class="fa fa-fw fa-envelope-o"></i> {{data.user_info.email}}
    </span> | <span class="phone">
        <i class="icon-screen-smartphone"></i> {{data.user_info.phone1 | nationalPhoneFormatter}}
    </span> | <span class="hstatus">
        <i class="icon-flag"></i>
    {{serviceTypes[data.rentals.status_flag]}}
    </span> | <span uib-dropdown on-toggle="toggled(open)" id="company-flags">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        <span ng-style="{color: currentFlag.color}">
          <i class="fa fa-flag" aria-hidden="true"></i>
          {{currentFlag.name}}
        </span>
      </a>
    </span>
        <div class="actions pull-right">
            <button type="button" class="close" ng-click="closeModal()">&times;</button>
        </div>
    </div>
    <div class="modal-header" select-tab>
        <ul class="nav nav-tabs">
            <li heading="Request #1234" ng-class="{active:tabs.isSet(1)}">
                <a href="" ng-click="tabs.setTab(1)">Storage
                    <span ng-if="request.id">ID#{{request.id}}</span><span ng-if="!request.id">New</span></a>
            </li>
            <li heading="Documents" ng-class="{active:tabs.isSet(2), 'disabled':!update}">
                <a href="" ng-click="tabs.setTab(2)">Documents</a>
            </li>
            <li heading="Log" ng-class="{active:tabs.isSet(3), 'disabled':!update}">
                <a href="" ng-click="tabs.setTab(3)">Log</a>
            </li>
            <li heading="Ledger" ng-class="{active:tabs.isSet(4), 'disabled':!update}">
                <a href="" ng-click="tabs.setTab(4)">Ledger</a>
            </li>
            <li heading="Recurring" ng-class="{active:tabs.isSet(5), 'disabled':!update}">
                <a href="" ng-click="tabs.setTab(5)">Recurring</a>
            </li>
            <li heading="Lot Numbers" ng-class="{active:tabs.isSet(6), 'disabled':!update}">
                <a href="" ng-click="tabs.setTab(6)">Lot Numbers</a>
            </li>
            <li class="pull-right" style="margin-right: 25px;">
                <select style="margin-top: 3px; margin-right: 15px;" class="form-control flag" ng-options="key as item for (key,item) in serviceTypes" ng-model="data.rentals.status_flag" ng-change="changeField('status_flag', data.rentals.status_flag)">
                    <option value="" style="display: none;"></option>
                </select>
            </li>
        </ul>
    </div>
    <div class="modal-body form-horizontal" id="storage-request">
        <div ng-show="busy" class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        <div class="tab-content">
            <div ng-show="tabs.isSet(1)" id="general">
                <form name="storageReq">
                    <div class="col-md-5 left common">
                        <div class="row cl-info-row">
                            <h3 class="panel-title">Client Info</h3>
                            <div class="form-group">
                                <div class="col-md-12" style="padding: 10px 0 0 0;">
                                    <span style="font-size: 12px;">
                                        <i ng-if="data.user_info.lease_agreement">(from Lease Agreement)</i>
                                        <i ng-if="!data.user_info.lease_agreement">(from Request)</i>
                                    </span>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Request Id: </label>
                                    <div ng-if="data.rentals.move_request_id" class="request-id">
                                        <i class="fa fa-link real-request" aria-hidden="true" ng-if="data.user_info.realRequest" ng-click="requestEditModal(data.rentals.move_request_id)"></i> {{data.rentals.move_request_id}}
                                    </div>
                                    <span class="edit-request-id" ng-click="changeRequestNid()" style="cursor: pointer">
                                        <i class="fa fa-pencil icon" aria-hidden="true" ng-if="data.rentals.move_request_id"></i>
                                        <i class="fa fa-plus-circle icon" aria-hidden="true" ng-if="!data.rentals.move_request_id"></i>
                                    </span>
                                </div>
                                <div class="col-md-12"  ng-class="{ 'has-error': storageReq.customer.$invalid || storageReq.customer.$error.required}">
                                    <label class="control-label" for="customer">Customer Name: </label>
                                    <input class="required form-control" type="text" id="customer" name="customer" ng-change="changeField('name', data.user_info.name)" ng-model="data.user_info.name" required>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.address.$invalid || storageReq.address.$error.required}">
                                    <label class="control-label" for="address">Address: </label>
                                    <input name="address" id="address" rows="3" class="form-control" ng-model="data.user_info.rental_address" ng-change="changeField('rental address', data.user_info.rental_address)">
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.zip.$invalid || storageReq.zip.$error.required || storageReq.zip.$error.mask }">
                                    <label class="control-label" for="zip">Zip: </label>
                                    <input class="required form-control" type="text" id="zip" name="zip" ng-change="changeZip(data.user_info.zip);changeField('zip', data.user_info.zip)" ng-model="data.user_info.zip" placeholder="Zip code" size="5" maxlength="5" required>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="state">State: </label>
                                    <input class="required form-control" type="text" id="state" name="state" ng-model="data.user_info.state" disabled>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="city">City: </label>
                                    <input class="required form-control" type="text" id="city" name="city" ng-model="data.user_info.city" disabled>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.phone1.$invalid || storageReq.phone1.$error.mask || storageReq.phone1.$error.required}">
                                    <label class="control-label" for="phone1">Phone 1: </label>
                                    <input class="required form-control"
                                           type="text"
                                           id="phone1"
                                           name="phone1"
                                           ng-change="changeField('phone1', data.user_info.phone1)"
                                           ng-model="data.user_info.phone1"
                                           phone-input
                                           minlength="14"
                                           maxlength="14"
                                           placeholder="(XXX) XXX-XXXX"
                                           required>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="phone2">Phone 2: </label>
                                    <input class="required form-control"
                                           type="text"
                                           id="phone2"
                                           ng-change="changeField('phone2', data.user_info.phone2)"
                                           ng-model="data.user_info.phone2"
                                           phone-input
                                           minlength="14"
                                           maxlength="14"
                                           placeholder="(XXX) XXX-XXXX">
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.email.$error.required || storageReq.email.$error.email || storageReq.email.$invalid}">
                                    <label class="control-label" for="email">E-mail: </label>
                                    <input class="required form-control" type="email" id="email" name="email" ng-change="changeField('email', data.user_info.email)" ng-model="data.user_info.email" required>
                                </div>
                            </div>
                        </div>
                        <fieldset class="row add-info-client" ng-if="data.field_additional_user" disabled>
                            <h3 class="panel-title">Additional Client Info</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label">First Name: </label>
                                    <input class="required form-control" type="text" ng-model="data.field_additional_user.first_name">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Last Name: </label>
                                    <input class="required form-control" type="text" ng-model="data.field_additional_user.last_name">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Phone: </label>
                                    <input class="required form-control" type="text" ng-model="data.field_additional_user.phone">
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">E-mail: </label>
                                    <input class="required form-control" type="text" ng-model="data.field_additional_user.mail">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6 col-md-offset-1 right common">
                        <div class="row account-balance-row">
                            <div>
                                <h3 class="panel-title" style="display: inline-block;">Account Balance</h3>
                                <button class="btn btn-primary pull-right status" ng-disabled="!request.id" ng-click="openPayment()">Payments</button>
                            </div>
                        </div>
                        <div class="row account-balance-row">
                            <div class="col-md-4 balance-col hide">
                                <div>
                                    <p class="col-title panel-title">Paid Through</p>
                                    <p style="min-height: 22px;">
                                        <span ng-if="calculatePayments() > 0 && request.id && receipts.length && invoices.length">{{datePaidTrought()}}</span>
                                        <span ng-if="calculatePayments() < 0 && request.id">Not Paid</span>
                                        <span ng-if="calculatePayments() == 0 && request.id && !receipts.length && !invoices.length">Not Paid</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 balance-col">
                                <p class="col-title panel-title">Prepaid Credit</p>
                                <p>$ {{ calculatePayments() > 0 ? calculatePayments() : 0 || 0 | number : 2}}</p>
                            </div>
                            <div class="col-md-6 balance-col">
                                <p class="col-title panel-title">Balance Due</p>
                                <p class="red-text">$ {{ calculatePayments() < 0 ? calculatePayments() : 0 || 0 | onlyPositiveNumber | number : 2}}</p>
                            </div>
                        </div>
                        <div class="row st-info-row" style="margin-top:15px;">
                            <h3 class="panel-title">Storage Info</h3>
                            <div class="form-group">
                                <div class="col-md-12"  ng-class="{ 'has-error': storageReq.storage.$invalid && storageReq.storage.$error.required }">
                                    <label class="control-label" for="storage">Storage: </label>
                                    <select id="storage" name="storage" class="required form-control" ng-options="item.id as item.data.name for item in storageList" ng-model="data.rentals.storage" ng-change="changeStorage(data.rentals.storage)" required>
                                        <option value="?" style="display: none;"></option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="location">Location: </label>
                                    <input class="required form-control" type="text" id="location" ng-model="data.rentals.location" ng-change="changeField('location', data.rentals.location)">
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.moveInDate.$invalid && storageReq.moveInDate.$error.required }">
                                    <label class="control-label" for="moveInDate">Moved In Date: </label>
                                    <input uib-datepicker-popup="mediumDate" name="moveInDate" id="moveInDate" type="text" class="form-control" ng-model="data.rentals.moved_in_date" init-date="data.rentals.moved_in_date" is-open="openedIn" ng-click="openedIn = !openedIn" max-date="data.rentals.moved_out_date" datepicker-options="dateOptions" close-text="Close" ng-change="changeField('moved_in_date', data.rentals.moved_in_date)" required="true" >
                                </div>
                                <div class="col-md-12" >
                                    <label class="control-label" for="moveOutDate">Moved Out Date: </label>
                                    <input name="moveOutDate" id="moveOutDate" uib-datepicker-popup="mediumDate" ng-model="data.rentals.moved_out_date" init-date="data.rentals.moved_out_date" type="text" class="form-control"  is-open="openedOut" ng-click="openedOut = !openedOut" min-date="data.rentals.moved_in_date" datepicker-options="dateOptions" close-text="Close" ng-change="changeField('moved_out_date', data.rentals.moved_out_date)" >
                                    <i class="fa fa-times remove-end-date" aria-hidden="true" ng-click="removeMoveOutDate();changeField('moved_out_date_removed')"></i>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Billing Cycle: </label>
                                    <div class="billing-cycle">
                                        <span ng-show="data.recurring.start">Next charge {{dateFormatter(data.recurring.next_run_on)  | date : 'mediumDate'}}</span>
                                        <span ng-hide="data.recurring.start">1st of month</span>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.minVolume.$invalid && storageReq.minVolume.$error.required }">
                                    <label class="control-label" for="minVolume">Minimum Cuft: </label>
                                    <input class="required form-control" type="text" id="minVolume" name="minVolume" ng-model="data.rentals.min_cuft" ng-change="changeVolume('min_cuft', data.rentals.min_cuft)" required>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.volume.$invalid && storageReq.volume.$error.required }">
                                    <label class="control-label" for="volume">Actual Volume, Cuft: </label>
                                    <input class="required form-control" type="text" id="volume" name="volume" ng-model="data.rentals.volume_cuft" ng-change="changeVolume('volume_cuft', data.rentals.volume_cuft)" value="{{data.rentals.volume_cuft}}" required>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.monthlyRate.$invalid && storageReq.monthlyRate.$error.required }">
                                    <label class="control-label" for="monthlyRate">Monthly Rate: </label>
                                    <input ng-model="data.rentals.total_monthly" id="monthlyRate" name="monthlyRate" cc-currency ng-change="changeField('total_monthly',data.rentals.total_monthly); changeTotalMonthly()" class="form-control" value="{{data.rentals.total_monthly}}" ng-style="{'color':(data.rentals.total_monthly_change ? 'red' : '#555')}" required>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.tax.$invalid && storageReq.tax.$error.required }">
                                    <label class="control-label" for="tax">Tax: </label>
                                    <input cc-percent id="tax" name="tax" class="form-control" ng-model="data.rentals.tax_rate" ng-change="changeField('tax_rate', data.rentals.tax_rate)" required>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.rate.$invalid && storageReq.rate.$error.required }">
                                    <label class="control-label" for="rate">Rate Per Cuft: </label>
                                    <input ng-model="data.rentals.rate_per_cuft" id="rate" name="rate" cc-currency ng-change="changeVolume('rate_per_cuft', data.rentals.rate_per_cuft)" class="form-control" required>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.lateFee.$invalid && storageReq.lateFee.$error.required }">
                                    <label class="control-label" for="lateFee">Late Fee: </label>
                                    <input id="lateFee" name="lateFee" class="form-control" ng-model="data.rentals.late_fee" ng-change="changeField('late_fee', data.rentals.late_fee )" cc-currency required>
                                </div>
                                <div class="col-md-12" ng-class="{ 'has-error': storageReq.applyLateFee.$invalid && storageReq.applyLateFee.$error.required }">
                                    <label class="control-label" for="lateFee">Apply late Fee in: </label>
                                    <input id="applyLateFee" name="applyLateFee" cc-days class="form-control" ng-model="data.rentals.apply_late_fee_in" ng-change="changeField('apply_late_fee_in', data.rentals.apply_late_fee_in)" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="tabs.isSet(2)" id="documents">
                <cc-storages-documents ng-if="request.nid"></cc-storages-documents>
            </div>
            <div ng-if="tabs.isSet(3)" id="log">
                <div cc-request-new-log nid="request.id" request="request" entitytype="STORAGEREQUEST" ng-if="request.nid"></div>
            </div>
            <div ng-show="tabs.isSet(4)" id="ledger">
                <div class="row">
                    <div style="line-height: 0.9;">
                        <div class="col-md-8">
                            <button class="btn btn-primary status" ng-click="openPayment()">Payments</button>
                            <button class="btn btn-primary status" ng-click="createInvoice()">Create Charge
                            </button>
                            <button class="btn btn-primary status" ng-click="proRate()">
                                <i class=" icon-credit-card"></i> Pro rate
                            </button>
                            <div class="quick-send-email" style="display: inline-block;">
                                <div class="busyoverlay ng-hide" ng-show="smallBusyModal">
                                    <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                </div>
                                <button class="btn btn-primary status" ng-click="sendEmail()" uib-tooltip="Send Statement" tooltip-popup-delay="2000">
                                    <i class="fa fa-envelope"  style="color: white;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4" style="font-weight: 600;font-size: 24px;">
                        <span class="pull-right">
                            Balance :
                            <span ng-class="{'positive-balance': calculatePayments() >=0, 'negative-balance': calculatePayments() < 0 }">${{calculatePayments() | onlyPositiveNumber | number : 2}}</span>
                        </span>
                        </div>
                    </div>
                </div>
                <cc-ledger payments='receipts' invoices='invoices' request="data" ng-if="request.nid"></cc-ledger>
            </div>
            <div ng-if="tabs.isSet(5)" id="recurring">
                <div class="col-md-12 common">
                    <div class="row rec-info-row">
                        <form name="recurring">
                            <div class="row">
                                <h3 class="panel-title" style="display: inline-block;">Recurring Info</h3>
                                <div class="col-md-3 pull-right" ng-if="request.nid">
                                    <button ng-class="{'btn-success': !data.recurring.start, 'btn-danger': data.recurring.start}" class="btn status pull-right" ng-click="changeStartRecurring()">
                                        <span ng-hide="data.recurring.start">Start <i class="fa fa-play" aria-hidden="true"></i></span>
                                        <span ng-show="data.recurring.start">Stop <i class="fa fa-stop" aria-hidden="true"></i></span>
                                    </button>
                                </div>
                                <div class="col-md-3 pull-right" ng-if="!request.nid">
                                    <label class="control-label">Start recurring</label>
                                    <input ng-model="data.recurring.start" type="checkbox" name="checkbox" ng-true-value="1" ng-false-value="0" ichecks="" class="icheck">
                                </div>
                            </div>
                            <div ng-show="data.recurring.start && request.nid" class="recurring-run">
                                <img src="/moveBoard/content/img/storage-icons/recurring_started.gif" class="image-recurring">
                            </div>
                            <div class="form-group" style="min-height: 400px;">
                                <div class="row">
                                    <div class="col-md-6 half">
                                        <label class="control-label">Start Date: </label>
                                        <input type="text" class="form-control"
                                               min-date="currDate"
                                               uib-datepicker-popup="mediumDate"
                                               ng-model="data.recurring.start_point"
                                               init-date="data.recurring.start_point"
                                               is-open="openedStart"
                                               ng-click="openedStart = !openedStart"
                                               max-date="data.recurring.how_many"
                                               ng-change="changeHowOften('start_point'); changeField('start_point', data.recurring.start_point);changeRecurringStartDate();dateEdited()"
                                               datepicker-options="dateOptions"
                                               close-text="Close"
                                               ng-disabled="data.recurring.start"
                                               ng-if="!testingRecurring">
                                        <input type="text" class="form-control" ng-model="data.recurring.start_point" ng-change="changeField('start_point', data.recurring.start_point);changeRecurringStartDate()" ng-if="testingRecurring">
                                    </div>
                                    <div class="col-md-5 col-md-offset-1  half">
                                        <label class="control-label" for="howOften">How Often: </label>
                                        <select id="howOften" class="required form-control disabled" ng-model="data.recurring.how_often" ng-change="changeHowOften();changeField('how_often', data.recurring.how_often);dateEdited()" ng-options="item.id as item.name for item in howOften" ng-disabled="data.recurring.start"> </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 half">
                                        <label class="control-label">End Date: </label>
                                        <input type="text" class="form-control" uib-datepicker-popup="mediumDate" ng-model="data.recurring.how_many" init-date="data.recurring.how_many"  is-open="opened.openedEnd" ng-click="opened.openedEnd = !opened.openedEnd" min-date="data.recurring.start_point" ng-change="changeHowOften();changeField('how_many', data.recurring.how_many);dateEdited()" datepicker-options="dateOptions" close-text="Close" ng-disabled="data.recurring.start" ng-if="!testingRecurring">
                                        <span class="forever" ng-if="!data.recurring.how_many" style="min-width: 150px;min-height: 22px;background-color: white;cursor: text;" ng-click="openDate($event)" ng-if="!testingRecurring">Forever</span>
                                        <input type="text" class="form-control" ng-model="data.recurring.how_many" ng-change="changeField('how_many', data.recurring.how_many)" ng-if="testingRecurring">
                                    </div>
                                    <div class="col-md-1 half">
                                        <i class="fa fa-times remove-end-date" aria-hidden="true" ng-click="removeEndDate();changeField('how_many_removed', 0);dateEdited()"></i>
                                    </div>
                                    <div class="col-md-5 half">
                                        <label class="control-label">Next Run: </label>
                                        <div class="billing-cycle" ng-if="!testingRecurring">
                                            <span ng-if="data.recurring.next_run_on">{{dateFormatter(data.recurring.next_run_on) | date : 'mediumDate'}}</span>
                                        </div>
                                        <div class="billing-cycle" ng-if="testingRecurring">
                                            <span ng-if="data.recurring.next_run_on">{{data.recurring.next_run_on }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label" for="autoSend">Automatic send invoice e-mail
                                        <input ng-model="data.recurring.auto_send" type="checkbox" name="checkbox" ng-change="changeField('auto_send', data.recurring.auto_send);dateEdited()" ng-true-value="1" ng-false-value="0" id="autoSend" ichecks="" checkstyle="green" class="icheck">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-show="tabs.isSet(6)" id="colors">
                <div class="panel-body">
                    <lot-number-directive basic-data="basicData" msg-log="msgLog" lot-numbers="data.rentals.lot_number"></lot-number-directive>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12 action">
            <button class="btn action-btn" ng-click="createNewStorageRequest()" ng-if="!update">Create</button>
            <button class="btn action-btn" ng-click="updateStorageRequest(data)" ng-if="update">Update</button>
        </div>
    </div>
</div>
