<div ng-show="pending.busy">
    <div class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<section class="main-content-wrapper main-content-wrapper-storages pending animated fadeInDown">
    <div class="pageheader">
        <h1>Pending Storage</h1>
        <button class="status btn yellow" ng-click="pending.createModal()">Add Storage Tenant</button>
    </div>
    <section id="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Storage Tenants</h3>
                        <div class="row">
                            <span class="icon-refresh-payment" ng-click="pending.refreshPending();">
                                <i class="fa fa-refresh" ng-class="{'fa-spin': pending.busy}" ></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body mdDataTable">
                        <table datatable="ng" dt-options="pending.dtOptions" id="pedingTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Move Request #</th>
                                    <th>Job Type</th>
                                    <th>Customer</th>
                                    <th>Phone 1</th>
                                    <th>E-mail</th>
                                    <th>Volume</th>
                                    <th>Monthly Rate</th>
                                    <th>Moved In Date:</th>
                                    <th>Moved Out Date:</th>
                                    <th>Balance due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pendingRow request" ng-repeat="(id, request)  in pending.requests track by $index" ng-click="pending.openModal(request, id)"  ng-class="{'disabled':pending.busy, 'active_row' : pending.clicked == id}" ng-hide="request.rentals.status_flag != 1" >
                                    <td>{{id}}</td>
                                    <td>{{request.rentals.move_request_id}}</td>
                                    <td class="dtService ">
                                        <span class="status storage-status_{{request.rentals.status_flag}}">
                                            {{pending.serviceTypes[request.rentals.status_flag]}}
                                        </span>
                                    </td>
                                    <td>{{request.user_info.name}}</td>
                                    <td>{{request.user_info.phone1 | nationalPhoneFormatter}}</td>
                                    <td>{{request.user_info.email}}</td>
                                    <td>{{request.rentals.volume_cuft || 0 | number : 2}}, cuft</td>
                                    <td>${{request.rentals.total_monthly || 0  | number : 2}}</td>
                                    <td>
                                        <span ng-if="request.rentals.moved_in_date">
                                        {{pending.dateFormatter(request.rentals.moved_in_date)}}
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="!request.rentals.moved_out_date" style="text-align: center;">
                                            ---
                                        </span>
                                        <span ng-if="request.rentals.moved_out_date">
                                            {{pending.dateFormatter(request.rentals.moved_out_date)}}
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-class="{'red': pending.calculatePayments(request) < 0, 'green': pending.calculatePayments(request) > 0}">
                                            ${{pending.calculatePayments(request) | number : 2}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
