<div ng-show="busy">
    <div class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<div id="documents">
    <div class="col-md-12 nopadding">
        <div>
            <table class="documents-table" ng-if="data.user_info.documents">
                <thead class="document-head">
                <tr>
                    <th>Activity</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Source</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="doc in data.user_info.documents track by $index">
                    <td>
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </td>
                    <td>{{doc.name}}</td>
                    <td>
                        {{doc.type}}
                    </td>
                    <td>
                        {{doc.source}}
                    </td>
                    <td>
                       on {{dateFormatter(doc.date) | date : 'mediumDate'}}
                    </td>
                    <td>
                        <!--<button class="btn btn-xs btn-info">Send</button>-->
                        <button class="btn btn-xs btn-success" ng-click="printDocument($index)">View</button>
                        <div style="display: none;" id="image-print_{{ $index }}">
                            <img ng-src="{{doc.image}}" class="print" style="height: auto; width: 100%; position: absolute; left: 0; top: 0;" >
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
