md-input-container(
	    class="request-score-input-container for-request-modal"
	    tooltip-placement="left"
	    uib-tooltip="{{request.field_total_score > 9999 ? 'Score: ' + request.field_total_score + '. ' : ''}} Lead score {{request.field_total_score_updated ? 'last update: ' + request.field_total_score_updated : ''}}")
	input.request-score-input(
		type="number"
		ng-focus="hideTooltip($event)"
		ng-blur="saveLeadScore()"
		ng-model="request.field_total_score"
		ng-class="getLeadScoreStyle(request.field_total_score)"
		er-only-digit string-to-number)
