.create-filter
	width 500px
	
	&__input
		&_hidden
			display none
	&__header
		width 100%
		display inline-flex
		flex-direction column
		justify-content center
		height 52px
		background #e0e0e0
		border-bottom 1px solid #ddd
	&__content
		width 100%
		padding 15px
		display inline-flex
		flex-direction column
		justify-content flex-start
		
	&__header-label
		padding-left: 15px
		display: flex
		flex-direction: row
		justify-content: flex-start
		
	&__input
		display flex
		font-weight normal !important
		
	&__controls
		width 100%
		display flex
		flex-direction row
		justify-content flex-end
		
		&_left
			justify-content flex-start
			
	&__progress
		position absolute
		margin-left -15px
		margin-top -15px
		width 100%
	&__uploader
		width 100%
	&__selected-item
		position relative
		width 55px
		height 55px
		border-radius 50%
		font-size 10px
		display flex
		justify-content center
		margin-left 10px
		margin-bottom 10px
		overflow hidden
		border 1px solid #6a6a6a
		cursor pointer
		box-shadow inset 0px 0px 3px 1px #000
		
		&_active
			border 2px solid #4bad50
		
	&__filter-title
		&_no-valid
			color #dd2c00
	&__selected-container
		display flex
		flex-wrap wrap
		margin-top 64px
	&__selected-title
		position absolute
		background rgba(250, 250, 250, 1)
		display flex
		justify-content center
		left 0
		top 0
		width 100%
		height 100%
		z-index 1
		align-items center
		text-align center
		font-weight 600
		color #333
	&__selected-image
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		z-index 0