include ../../../../../default.pug

+b.create-filter
	+e.header
		+e.header-label
			h2 Filter
	+e('form').content(name="createFilter")
		+e.progress
			md-progress-linear(md-mode="query" ng-show="busy")
		+e('md-input-container').input
			label Title
			input(ng-model='filter.name' required)
		//- +e('md-input-container')
		//- 	label Room
		//- 	md-select(ng-model="filter.room_id" required).input
		//- 		md-option(ng-repeat="item in rooms" ng-value="item.room_id")
		//- 			| {{item.name}}
		+e('md-input-container')
			+e('label').filter-title(ng-class="{'create-filter__filter-title_no-valid' : createItem.filters.$touched && !createItem.filters.$valid }") Rooms
			input(required ng-model="selectRooms" name="rooms" ng-disabled="true")
			+e.selected-container
				+e.selected-item(ng-repeat="item in rooms" ng-click="selectRoom(item)" 
					ng-class="{ 'create-filter__selected-item_active' : item.selected }"
					)
					+e.selected-title {{ item.name }}
					+e('img').selected-image(ng-src="{{ item.image_link }}")
		+e.controls
			+e.controls_left
				md-button.md-raised.md-warn(ng-click="remove()" ng-show="mode == 'edit'") Remove
			+e.controls_right
				md-button.md-raised(ng-click="cancel(filter)") Close
				md-button.md-raised.md-primary(ng-click="create(filter)" ng-show="mode == 'edit'") Update
				md-button.md-raised.md-primary(ng-click="create(filter)" ng-show="mode != 'edit'" ng-disabled="busy") Create
