.valuation-show-settings-wrapper
	background-color #fff
	&__header
		padding 1em
		background-color #556b8d
		display flex
		justify-content space-between
		align-items center
	&__title
		color #fff
	&__body-setting-wrapper
		padding 1em

@media all and (max-width 782px)
	.valuation-show-settings-wrapper
		&__title
			text-overflow ellipsis
			white-space nowrap
			overflow hidden
			width 250px
