.mobile-request-timing-root
	padding .5em
	display flex
	flex-wrap wrap
	justify-content flex-start
	border-top 1px solid rgba(52, 73, 94,1.0)
	border-bottom 1px solid rgba(52, 73, 94,1.0)
	&__field
		display flex
		flex-direction column
		justify-content flex-start
		align-items center
		margin .2em .5em
		&.mobile-sit-button-wrapper
			width auto
			height auto
			padding 5px
			border 1px solid #ddd
			align-self center
			.mobile-sit-button-box
				width inherit
				height inherit
				display flex
				justify-content center
				align-items center
				.request-to-sit
					color #333
					cursor pointer
		&.ld-delivery-window
			position relative
			.flaticon-calendar68
				position absolute
				top 0
				right 0
				&:before
					font-size 18px
			.ld-delivery-window-control-box
				width 140px
	&__explanation
		font-size .9em
		margin-bottom .5em
		.red-text
			color rgba(192, 57, 43,1.0)
			text-decoration line-through
		.add-travel-time-explanation
			position absolute
			top -4px
			right -10px
			color rgba(52, 152, 219,1.0)
			font-size 1.2em
		.mobile-ld-delivery-status
			position absolute
			width 150px
			top 65%
			font-size .8em
			font-weight 600
			&.green
				color #16a085
			&.blue
				color #2980b9
			&.red
				color #c0392b
	&__control-box
		.fa.fa-dollar
			color rgba(52, 152, 219,1.0)
			&.red
				color rgba(192, 57, 43,1.0) !important
		.ld-min-weight
			position relative
			.minimum-price-cost
				color rgba(192, 57, 43, 1.0)
				position absolute
				top 17px
				right 20px
				font-size .8em
				font-style italic
			.minimum-price-is-enabled-icon
				color rgba(192, 57, 43, 1.0)
		.mobile-ld-delivery-clear
			position absolute
			top 25px
			right 0
	&__truck
		border none
		margin 0 .5em
		align-self center
		text-align center
		.fa.fa-truck
			color rgba(52, 73, 94, .7)
	&__control
		border none
		border-bottom 1px solid #ddd
		margin 0 .5em
		margin-left 0
		align-self center
		text-align center
		&.move-date
			width 140px
		&.start-time
			width 80px
		&.work-time
			width 60px
		&.travel-time
			width 60px
		&.crew-size
			width 60px
		&.rate-field
			width 70px
		&.pickup-work-time
			width 60px
		&.ld-delivery-window-mobile
			&::placeholder
				color #c0392b
				font-size .8em
