<div class="mobile-request-timing-root">

    <!--MOVE DATE-->
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Move Date:
        </span>
        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
			<er-datepicker-input
				er-value="moveDateInput"
                allow-past="allow"
				er-change="onChangeMoveDateLocalMove(newVal, oldVal)"/>
        </div>
        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
			<er-datepicker-input
				er-value="moveDateInputInvoice"
				er-change="onChangeMoveDateLocalMoveClosing(newVal, oldVal)"/>
        </div>
    </div>

    <!--START TIME WINDOW-->
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Start Time Window:
            <i ng-show="request.request_all_data.arrivalTimeWindow.showInAccount"
               class="custom-tooltip arrival-tooltip fa fa-info-circle"
               uib-tooltip-html="'Arrival time setting is enabled in account page'"></i>
        </span>
        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box two-inputs"
             ng-if="!states.invoiceState"
             ng-class="{'disabled' : request.request_all_data.arrivalTimeWindow.showInAccount}">
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.start_time1"
                   oldvalue="request.start_time1.value"
                   ng-value="request.start_time1.value"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-model="request.start_time1.value"
                   ng-change="changeRequestField('start_time1')">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.start_time2"
                   oldvalue="request.start_time2.value"
                   ng-value="request.start_time2.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-model="request.start_time2.value"
                   ng-change="changeRequestField('start_time2')">
        </div>
        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box two-inputs"
             ng-if="states.invoiceState"
             ng-class="{'disabled' : request.request_all_data.arrivalTimeWindow.showInAccount}">
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.start_time1, 'start_time1']"
                   oldvalue="invoice.start_time1.value"
                   ng-value="invoice.start_time1.value"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-model="invoice.start_time1.value">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.start_time2, 'start_time2']"
                   oldvalue="invoice.start_time2.value"
                   ng-value="invoice.start_time2.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-model="invoice.start_time2.value">
        </div>
    </div>

    <!--WORK TIME-->
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Work Time:
        </span>
        <div class="mobile-request-timing-root__control-box two-inputs">
            <input cc-input-time-invoice
                   editrequest="editrequest"
                   message="message"
                   request="request"
                   field="request.minimum_time"
                   oldvalue="request.minimum_time.value"
                   ng-value="request.minimum_time.raw | numToTime"
                   ng-model="request.minimum_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control work-time"
                   autocomplete="off"
                   ng-class="{'overriding': request.minimum_time.highlighted}">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-input-time-invoice
                   editrequest="editrequest"
                   message="message"
                   request="request"
                   field="request.maximum_time"
                   oldvalue="request.maximum_time.value"
                   ng-value="request.maximum_time.raw | numToTime"
                   ng-model="request.maximum_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control work-time"
                   autocomplete="off"
                   ng-change="request.timeChangeManually = true"
                   ng-class="{'overriding': request.maximum_time.highlighted}">
        </div>
    </div>

    <!--TRAVEL TIME-->
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            {{::calcSettings.travelTimeName}}
            <i class="fa fa-plus add-travel-time-explanation"
               aria-hidden="true"
               uib-tooltip-html="'Because this move distance is more than ' +  {{fieldData.basicsettings.local_flat_miles}} + ', the driving time between origin and destination is in the travel time.'">
        </i>
        </span>
        <div class="mobile-request-timing-root__control-box">
            <input cc-travel-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.travel_time"
                   oldvalue="request.travel_time.value"
                   type="text"
                   name="travel_time"
                   ng-model="request.travel_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control travel-time"
                   autocomplete="off"
                   ng-class="{'overriding': request.travel_time.highlighted}"
                   ng-change="changeRequestField('travel_time')">
        </div>
    </div>

    <div class="mobile-request-timing-root__field" ng-if="isDoubleDriveTime">
        <span class="mobile-request-timing-root__explanation">
            {{::calcSettings.doubleDriveTimeName}}
        </span>
        <div class="mobile-request-timing-root__control-box">
            <input cc-travel-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.field_double_travel_time"
                   oldvalue="request.field_double_travel_time.value"
                   type="text"
                   name="travel_time"
                   ng-model="request.field_double_travel_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control travel-time"
                   autocomplete="off"
                   ng-change="changeRequestField('field_double_travel_time')">
        </div>
    </div>

    <!--CREW SIZE-->
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Crew Size:
        </span>
        <div class="mobile-request-timing-root__control-box">
            <input cc-input-invoice
                   editrequest="editrequest"
                   message="message"
                   editrequest="editreqeust"
                   message="message"
                   field="request.crew"
                   oldvalue="request.crew.old"
                   type="text"
                   name="movers_crew"
                   er-only-digit
                   er-only-float
                   ng-model="request.crew.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control crew-size"
                   ng-class="{'overriding': request.crew.highlighted,'disabled':request.field_usecalculator.value}"
                   ng-change="changeRequestField('crew')">
        </div>
    </div>

    <!--RATE-->
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Rate:
            <i class="red-text"
               ng-if="request.request_all_data.localdiscount">
                ${{request.rate.value / (1 - request.request_all_data.localdiscount/100) | number : 0}}
            </i>
        </span>
        <div class="mobile-request-timing-root__control-box">
            <i class="fa fa-dollar"
               ng-class="{'red':request.rateDiscount}"
               ng-click="OpenDiscountRateModal();"></i>
            <input ng-hide="request.rateDiscount"
                   cc-input-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.rate"
                   oldvalue="request.rate.value"
                   er-only-digit er-only-float
                   type="text"
                   ng-model="request.rate.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control rate-field"
                   ng-class="{'overriding': request.rate.highlighted,'disabled':request.field_usecalculator.value}"
                   ng-change="changeRequestField('rate')">
            <input ng-show="request.rateDiscount"
                   cc-input-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.rate"
                   oldvalue="request.rate.value"
                   type="text"
                   ng-model="request.rateDiscount"
                   er-only-digit er-only-float
                   maxlength="128"
                   class="mobile-request-timing-root__control rate-field"
                   ng-class="{'overriding': request.rate.highlighted}">
        </div>
    </div>

    <!--TRUCKS-->
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Trucks:
        </span>
        <div class="mobile-request-timing-root__control-box">
            <div class="mobile-request-timing-root__truck"
                 ng-if="request.field_usecalculator.value">
                <i class="fa fa-truck"></i>
                {{calcResults.trucks}}
            </div>
            <div class="mobile-request-timing-root__truck"
                 ng-if="!request.field_usecalculator.value">
                <i class="fa fa-truck"></i>
                {{request.truckCount}}
            </div>
        </div>
    </div>

</div>
