<div class="mobile-request-timing-root">

    <!--PICKUP DATE-->
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Pickup date:
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
			<er-datepicker-input
				er-value="moveDateInput"
                allow-past="allow"
				er-change="onChangeFieldDateLongDistance(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"/>
        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
			<er-datepicker-input
				er-value="moveDateInputInvoice"
				er-change="onChangeFieldDateLongDistanceClosing(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"/>
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Start Time Window:
            <i ng-show="request.request_all_data.arrivalTimeWindow.showInAccount"
               class="custom-tooltip arrival-tooltip fa fa-info-circle"
               uib-tooltip-html="'Arrival time setting is enabled in account page'"></i>
        </span>
        <div class="mobile-request-timing-root__control-box two-inputs"
             ng-if="!states.invoiceState"
             ng-class="{'disabled' : request.request_all_data.arrivalTimeWindow.showInAccount}">
            <!--REQUEST-->
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.start_time1"
                   oldvalue="request.start_time1.value"
                   ng-model="request.start_time1.value"
                   ng-value="request.start_time1.value"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-change="changeRequestField('start_time1')">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.start_time2"
                   oldvalue="request.start_time2.value"
                   ng-value="request.start_time2.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-model="request.start_time2.value"
                   ng-change="changeRequestField('start_time2')">
        </div>
        <div class="mobile-request-timing-root__control-box two-inputs"
             ng-if="states.invoiceState"
             ng-class="{'disabled' : request.request_all_data.arrivalTimeWindow.showInAccount}">
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.start_time1, 'start_time1']"
                   oldvalue="invoice.start_time1.value"
                   ng-value="invoice.start_time1.value"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.start_time2, 'start_time2']"
                   oldvalue="invoice.start_time2.value"
                   ng-value="invoice.start_time2.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Pickup Work Time:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <input cc-input-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.maximum_time"
                   id="edit-max-time"
                   ng-value="request.maximum_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control pickup-work-time"
                   autocomplete="off",
                   request="request"
                   ng-change="changeRequestField('maximum_time')"
                   ng-model="request.maximum_time.value">
        </div>
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <input cc-input-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.maximum_time, 'maximum_time' ]"
                   ng-value="invoice.maximum_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control pickup-work-time"
                   autocomplete="off">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            {{::calcSettings.travelTimeName}}:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <input cc-travel-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.travel_time"
                   oldvalue="request.travel_time.value"
                   type="text"
                   name="travel_time"
                   ng-model="request.travel_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control travel-time"
                   autocomplete="off"
                   ng-class="{'overriding': request.travel_time.highlighted}"
                   ng-change="changeRequestField('travel_time')">
        </div>
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <input cc-travel-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.travel_time, 'travel_time']"
                   ng-value="invoice.travel_time.value"
                   class="mobile-request-timing-root__control travel-time"
                   autocomplete="off">
        </div>
    </div>

    <div class="mobile-request-timing-root__field"
         ng-if="states.invoiceState">
        <span class="mobile-request-timing-root__explanation">
            Labor Time:
        </span>
        <div class="mobile-request-timing-root__control-box">
            <input cc-travel-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.labor_time"
                   ng-value="request.labor_time.value"
                   ng-model="request.labor_time.value"
                   class="mobile-request-timing-root__control travel-time"
                   autocomplete="off"
                   ng-change="changeRequestField('labor_time')">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Crew Size:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <input cc-input-invoice
                   editrequest="editrequest"
                   message="message"
                   editrequest="editreqeust"
                   message="message"
                   field="request.crew"
                   oldvalue="request.crew.old"
                   type="text"
                   name="movers_crew"
                   ng-model="request.crew.value"
                   er-only-digit
                   er-only-float
                   maxlength="128"
                   class="mobile-request-timing-root__control crew-size"
                   ng-class="{'disabled':request.field_usecalculator.value}"
                   ng-change="changeRequestField('crew')">
        </div>
        <div class="mobile-request-timing-root_control-box"
             ng-if="states.invoiceState">
            <input cc-input-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.crew, 'crew']"
                   oldvalue="invoice.crew.value"
                   er-only-digit
                   er-only-float
                   type="text"
                   name="movers_crew"
                   ng-model="invoice.crew.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control crew-size">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Flat Rate:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <i class="fa fa-dollar"></i>
            <input cc-input-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.flat_rate_quote"
                   oldvalue="request.flat_rate_quote.value"
                   type="text" id="edit-price-per-hour"
                   ng-value="request.flat_rate_quote.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control rate-field"
                   ng-change="changeRequestField('flat_rate_quote')"
                   ng-model="request.flat_rate_quote.value">
        </div>
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <i class="fa fa-dollar"></i>
            <input cc-input-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.flat_rate_quote, 'flat_rate_quote']"
                   oldvalue="invoice.flat_rate_quote.value"
                   type="text"
                   ng-value="invoice.flat_rate_quote.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control rate-field">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Trucks:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">

            <div class="mobile-request-timing-root__truck"
                 ng-if="request.field_usecalculator.value">
                <i class="fa fa-truck"></i>
                {{calcResults.trucks}}
            </div>
            <div class="mobile-request-timing-root__truck"
                 ng-if="!request.field_usecalculator.value">
                <i class="fa fa-truck"></i>
                {{request.truckCount}}
            </div>

        </div>

        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">

            <div class="mobile-request-timing-root__truck"
                 ng-if="request.field_usecalculator.value">
                {{calcResults.trucks}}
            </div>

            <div class="mobile-request-timing-root__truck"
                 ng-if="!request.field_usecalculator.value">
                {{request.truckCount}}
            </div>

        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Local Move:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">

            <input ichecks
                   type="checkbox"
                   ng-model="request.field_flat_rate_local_move.value"
                   class="form-text md small"
                   ng-change="changeFlatRateLocalMove('request')">

        </div>

        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">

            <input ichecks
                   type="checkbox"
                   ng-model="request.field_flat_rate_local_move.value"
                   class="form-text md small"
                   ng-change="changeFlatRateLocalMove('invoice')">

        </div>
    </div>

    <div class="mobile-request-timing-root__field"
         ng-hide="request.field_flat_rate_local_move.value">
        <span class="mobile-request-timing-root__explanation">
            Delivery Date:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
			<er-datepicker-input
				er-value="deliveryDateInput"
				er-change="onChangeFieldDeliveryDateFlatRate(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"/>

        </div>

        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">

			<er-datepicker-input
				er-value="deliveryDateInputInvoice"
				er-change="onChangeFieldDeliveryDateFlatRateClosing(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"/>

        </div>
    </div>

    <div class="mobile-request-timing-root__field"
         ng-hide="request.field_flat_rate_local_move.value"
         ng-if="!states.invoiceState">
        <span class="mobile-request-timing-root__explanation">
            Second Delivery Date:
        </span>
        <div class="mobile-request-timing-root__control-box">

			<er-datepicker-input
				er-value="deliveryDateSecondInput"
				er-change="onChangeFieldDeliveryDateSecondFlatRate(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"/>
            <i class="fa fa-times clear-sec-delivery" ng-click="clearSecDeliveryDate()"></i>

        </div>
    </div>

    <div class="mobile-request-timing-root__field"
         ng-hide="request.field_flat_rate_local_move.value">
        <span class="mobile-request-timing-root__explanation">
            Delivery Start Time Window:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">

            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.dstart_time1"
                   ng-value="request.dstart_time1.value"
                   ng-model="request.dstart_time1.value"
                   ng-change="changeRequestField('dstart_time1')"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.dstart_time2"
                   ng-value="request.dstart_time2.value"
                   ng-model="request.dstart_time2.value"
                   ng-change="changeRequestField('dstart_time2')"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off">

        </div>

        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.dstart_time1, 'dstart_time1']"
                   ng-value="invoice.dstart_time1.value"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.dstart_time2, 'dstart_time2']"
                   ng-value="invoice.dstart_time2.value"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off">
        </div>
    </div>

    <div class="mobile-request-timing-root__field"
         ng-hide="request.field_flat_rate_local_move.value">
        <span class="mobile-request-timing-root__explanation"
              tooltip-placement="right"
              uib-tooltip="Date when truck leaving parklot">
            Delivery Dates:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">

            <input class="mobile-request-timing-root__control dateRange"
                 cc-flat-rate-range-picker
                 request="request"
                 data-delivery="true"
                 editrequest="editrequest"
                 message="message"
                 invoice="invoice"
                 invoiceedit="editRequestinvoice"
                 invoicemess="messageInvoice">

        </div>

        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">

            <input class="mobile-request-timing-root__control dateRange"
                 cc-flat-rate-range-picker
                 request="invoice"
                 data-delivery="true"
                 editrequest="editRequestinvoice"
                 message="messageInvoice">

        </div>
    </div>

    <div class="mobile-request-timing-root__field"
         ng-hide="request.field_flat_rate_local_move.value">
        <span class="mobile-request-timing-root__explanation">
            Delivery Start Time:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">

            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.delivery_start_time"
                   oldvalue="request.delivery_start_time.value"
                   ng-value="request.delivery_start_time.value"
                   ng-model="request.delivery_start_time.value"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-change="changeRequestField('delivery_start_time')">

        </div>

        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <input cc-start-time-invoice
                    editrequest="editRequestinvoice"
                    message="messageInvoice"
                    field="[invoice.delivery_start_time, 'delivery_start_time' ]"
                    oldvalue="invoice.delivery_start_time.value"
                    ng-value="invoice.delivery_start_time.value"
                    type="text"
                    name="start_time"
                    maxlength="128"
                    class="mobile-request-timing-root__control start-time"
                    autocomplete="off">
        </div>
    </div>
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Delivery Crew Size:
        </span>
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <input cc-input-invoice
                   editrequest="editrequest"
                   message="message"
                   editrequest="editreqeust"
                   message="message"
                   er-only-float decimals="0"
                   field="request.field_delivery_crew_size"
                   oldvalue="request.field_delivery_crew_size.old"
                   type="text"
                   name="movers_crew"
                   ng-model="request.field_delivery_crew_size.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control crew-size"
                   ng-class="{'disabled':request.field_usecalculator.value}"
                   ng-change="changeRequestField('crew')">
        </div>
        <div class="mobile-request-timing-root_control-box"
             ng-if="states.invoiceState">
            <input cc-input-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.field_delivery_crew_size, 'field_delivery_crew_size']"
                   oldvalue="invoice.field_delivery_crew_size.value"
                   er-only-float decimals="0"
                   type="text"
                   name="movers_crew"
                   ng-model="invoice.field_delivery_crew_size.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control crew-size">
        </div>
    </div>
</div>
