<div class="mobile-request-timing-root">
    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Pickup Date:
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
			<er-datepicker-input
				er-value="moveDateInput"
                allow-past="allow"
				er-change="onChangeFieldDateLongDistance(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"/>
        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
			<er-datepicker-input
				er-value="moveDateInputInvoice"
				er-change="onChangeFieldDateLongDistanceClosing(newVal, oldVal)"
				validator-async="askForChangeDeliveryDate(date)"/>
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Start Time Window:
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box two-inputs"
             ng-if="!states.invoiceState"
             ng-class="{'disabled' : request.request_all_data.arrivalTimeWindow.showInAccount}">

            <!--REQUEST-->
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.start_time1"
                   oldvalue="request.start_time1.value"
                   ng-model="request.start_time1.value"
                   ng-value="request.start_time1.value"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-change="changeRequestField('start_time1')">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-start-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.start_time2"
                   oldvalue="request.start_time2.value"
                   ng-value="request.start_time2.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off"
                   ng-model="request.start_time2.value"
                   ng-change="changeRequestField('start_time2')">
        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box two-inputs"
             ng-if="states.invoiceState">
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.start_time1, 'start_time1']"
                   oldvalue="invoice.start_time1.value"
                   ng-value="invoice.start_time1.value"
                   type="text"
                   name="start_time"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off">
            <span class="mobile-request-timing-root__separator">-</span>
            <input cc-start-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.start_time2, 'start_time2']"
                   oldvalue="invoice.start_time2.value"
                   ng-value="invoice.start_time2.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control start-time"
                   autocomplete="off">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Pickup Work Time:
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <input cc-input-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.maximum_time"
                   id="edit-max-time"
                   ng-value="request.maximum_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control pickup-work-time"
                   autocomplete="off",
                   request="request"
                   ng-change="changeRequestField('maximum_time')"
                   ng-model="request.maximum_time.value">
        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <input cc-input-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.maximum_time, 'maximum_time' ]"
                   ng-value="invoice.maximum_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control pickup-work-time"
                   autocomplete="off">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            {{::calcSettings.travelTimeName}}:
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <input cc-travel-time-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.travel_time"
                   oldvalue="request.travel_time.value"
                   type="text"
                   name="travel_time"
                   ng-model="request.travel_time.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control travel-time"
                   autocomplete="off"
                   ng-class="{'overriding': request.travel_time.highlighted}"
                   ng-change="changeRequestField('travel_time')">
        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <input cc-travel-time-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.travel_time, 'travel_time']"
                   ng-value="invoice.travel_time.value"
                   class="mobile-request-timing-root__control travel-time"
                   autocomplete="off">
        </div>
    </div>

    <div class="mobile-request-timing-root__field" ng-if="states.invoiceState">
        <span class="mobile-request-timing-root__explanation">
            Labor Time:
        </span>

        <div class="mobile-request-timing-root__control-box">
            <input cc-travel-time-invoice editrequest="editrequest"
                   message="message"
                   field="request.labor_time"
                   ng-value="request.labor_time.value"
                   ng-model="request.labor_time.value"
                   class="mobile-request-timing-root__control travel-time"
                   autocomplete="off"
                   ng-change="changeRequestField('labor_time')">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Crew Size:
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <input cc-input-invoice
                   editrequest="editrequest"
                   message="message"
                   editrequest="editreqeust"
                   message="message"
                   field="request.crew"
                   oldvalue="request.crew.old"
                   type="text"
                   name="movers_crew"
                   ng-model="request.crew.value"
                   er-only-digit
                   er-only-float
                   maxlength="128"
                   class="mobile-request-timing-root__control crew-size"
                   ng-class="{'disabled':request.field_usecalculator.value}"
                   ng-change="changeRequestField('crew')">
        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box" ng-if="states.invoiceState">
            <input cc-input-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.crew, 'crew']"
                   oldvalue="invoice.crew.value"
                   er-only-digit
                   er-only-float
                   type="text"
                   name="movers_crew"
                   ng-model="invoice.crew.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control crew-size">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Trucks:
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">

            <div class="mobile-request-timing-root__truck"
                 ng-if="request.field_usecalculator.value">
                <i class="fa fa-truck"></i>
                {{calcResults.trucks}}
            </div>
            <div class="mobile-request-timing-root__truck"
                 ng-if="!request.field_usecalculator.value">
                <i class="fa fa-truck"></i>
                {{request.truckCount}}
            </div>

        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">

            <div class="mobile-request-timing-root__truck"
                 ng-if="request.field_usecalculator.value">
                <i class="fa fa-truck"></i>
                {{calcResults.trucks}}
            </div>
            <div class="mobile-request-timing-root__truck"
                 ng-if="!request.field_usecalculator.value">
                <i class="fa fa-truck"></i>
                {{request.truckCount}}
            </div>
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Minimum c.f.
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState"
             ng-click="openMinWeight()">
            <div class="ld-min-weight">
                <span>{{min_weight}} c.f.</span>
                <span class="minimum-price-cost"
                      ng-if="min_price_enabled">
                    ${{min_price | number: 2}}
                </span>
                <i class="fa fa-usd minimum-price-is-enabled-icon"
                   uib-tooltip="Minimum Price is enabled"
                   ng-if="min_price_enabled"></i>
            </div>
        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <div class="ld-min-weight">
                <span>{{min_weight}} c.f.</span>
                <span class="minimum-price-cost"
                      ng-if="min_price_enabled">
                    ${{min_price | number: 2}}
                </span>
                <i class="fa fa-usd minimum-price-is-enabled-icon"
                   uib-tooltip="Minimum Price is enabled"
                   ng-if="min_price_enabled"></i>
            </div>
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Rate:
        </span>

        <!--REQUEST-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="!states.invoiceState">
            <i class="fa fa-usd"></i>
            <input cc-input-invoice
                   editrequest="editrequest"
                   message="message"
                   field="request.field_long_distance_rate"
                   type="text"
                   ng-model="request.field_long_distance_rate.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control rate-field"
                   ng-change="changeRequestField('field_long_distance_rate')">
            <span ng-if="request.field_cubic_feet.value"
                  class="flatRate-moving__rate__span">per c.f.</span>
            <span ng-if="!request.field_cubic_feet.value"
                  class="flatRate-moving__rate__span">per lbs</span>
        </div>

        <!--INVOICE-->
        <div class="mobile-request-timing-root__control-box"
             ng-if="states.invoiceState">
            <i class="fa fa-usd"></i>
            <input cc-input-invoice
                   editrequest="editRequestinvoice"
                   message="messageInvoice"
                   field="[invoice.field_long_distance_rate, 'field_long_distance_rate']"
                   type="text"
                   ng-model="invoice.field_long_distance_rate.value"
                   maxlength="128"
                   class="mobile-request-timing-root__control rate-field"
                   ng-change="longDistanceQuoteInvoiceChange()">
            <span ng-if="request.field_cubic_feet.value"
                  class="flatRate-moving__rate__span">per c.f.</span>
            <span ng-if="!request.field_cubic_feet.value"
                  class="flatRate-moving__rate__span">per lbs</span>
        </div>
    </div>

    <div class="mobile-request-timing-root__field ld-delivery-window">
        <span class="mobile-request-timing-root__explanation">
            <span ng-if="request.inventory.move_details.delivery.length"
                  class="mobile-ld-delivery-status green">
                Ready for delivery
            </span>
            <span ng-if="request.inventory.move_details.delivery_days && request.inventory.move_details.delivery_days !== '0'">
                Delivery Window
            </span>
            <span ng-if="!request.inventory.move_details.delivery_days && request.inventory.move_details.delivery_days !== '0'"
                  class="mobile-ld-delivery-status blue">
                Requested Delivery Date
            </span>
            <span ng-if="request.inventory.move_details.delivery_days === '0'"
                  class="mobile-ld-delivery-status green">
                Guaranty Delivery Date
            </span>
        </span>
        <div class="mobile-request-timing-root__control-box ld-delivery-window-control-box">
            <div class="mobile-ld-calendar-for-delivery-date">
                <span class="flaticon-calendar68"></span>
                <input class="mobile-request-timing-root__control move-date ld-delivery-window-mobile"
                       placeholder="Not Ready For Delivery"
                       ng-model="request.inventory.move_details.delivery"
                       min-date="{{moveDateInput}}"
                       cc-delivery-date-picker
                       update-request="checkDeliveryDay">
            </div>
            <div class="mobile-ld-delivery-clear"
                 ng-click="checkDeliveryDay(request.inventory.move_details.delivery, 'remove')"
                 ng-if="request.inventory.move_details.delivery.length">
                <i class="fa fa-times"></i>
            </div>
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Schedule Deliver Date:
        </span>
        <div class="mobile-request-timing-root__control-box">
			<er-datepicker-input
				er-value="scheduleDeliveryDate"
				er-change="onChangeFieldScheduleDeliveryDateLongDistance(newVal, oldVal)"/>
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            Delivery Days:
        </span>
        <div class="mobile-request-timing-root__control-box">
            <input type="number"
                   min="0"
                   max="60"
                   class="mobile-request-timing-root__control"
                   ng-blur="changeRequestField('inventory.move_details.delivery_days'); changeDDays()"
                   string-to-number
                   ng-model="request.inventory.move_details.delivery_days">
        </div>
    </div>

    <div class="mobile-request-timing-root__field">
        <span class="mobile-request-timing-root__explanation">
            LD Status:
        </span>
        <div class="mobile-request-timing-root__control-box">
            <select ng-options="item.id as item.name for item in flatsettings.ldStatus"
                    class="trip-status-select"
                    ng-model="request.ld_status"
                    ng-change="changeLDStatus()">
                <option value="">None</option>
            </select>
        </div>
    </div>

    <div class="mobile-request-timing-root__field" ng-if="request.ld_job.status > 1">
        <span class="mobile-request-timing-root__explanation">
            SIT Status
        </span>
        <div class="mobile-request-timing-root__control-box">
            <input ng-model="tripStatusArr[+request.ld_job.status]"
                   disabled>
        </div>
    </div>

    <div class="mobile-request-timing-root__field"
         ng-if="request.ld_job.ld_trip_id">
        <span class="mobile-request-timing-root__explanation">
            Trip ID
        </span>
        <div class="mobile-request-timing-root__control-box">
            <input ng-model="request.ld_job.ld_trip_id"
                   disabled>
        </div>
    </div>

    <div class="mobile-request-timing-root__field mobile-sit-button-wrapper"
         ng-if="states.invoiceState">
        <div class="mobile-request-timing-root__control-box mobile-sit-button-box">
            <a class="request-to-sit"
               ng-click="openSendRequestToSITModal()">
                <span>SIT</span>
                <span ng-show="request.request_all_data.sit">
                    : {{serviceTypesOfSIT[request.request_all_data.sit.status]}}
                </span>
            </a>
        </div>
    </div>

</div>
