<div class="col-lg-12">
    <div class="flat-rate-account-settings">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Account Top Text
                </h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="serviceType in serviceTypes">
                    <h3 class="half-margin-bottom">{{serviceType.title}}</h3>
                    <input id="button-text" ng-change="saveFlatRateSettings()"
                           class="form-control margin-one"
                           type="text"
                           ng-model="topTextSettings[serviceType.id]"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="saveFlatRateSettings()"
                           placeholder="{{serviceType.title}} Top Text">
                </div>
            </div>
        </div>
    </div>
</div>
