<div class="home-estimate-month-calendar">
    <el-home-estimate-month-calendar-header></el-home-estimate-month-calendar-header>
    <div class="home-estimate-month-calendar-container">
        <div class="home-estimate-calendar-week-row" ng-repeat="(numberWeek, week) in currentCalendar track by $index">
            <el-home-estimate-month-cell month-item="day" ng-repeat="(index, day) in week track by $index" position="{week: numberWeek, day: index}"></el-home-estimate-month-cell>
            <el-home-estimate-slide-box week="week"></el-home-estimate-slide-box>
        </div>
    </div>
</div>