.home-estimate-month-calendar
  .cal-row-fluid
    &.cal-row-head
      .cal-cell1
        &:hover
          cursor pointer
  &-container
    border-right: 0;
    border-bottom: 0;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-radius: 2px;
    [class*="home-estimate-month-cell"]
      min-height 140px
      border-right 1px solid #e1e1e1
      position relative
.home-estimate-calendar-week-row
  border-bottom 1px solid #e1e1e1
  margin-left 0
  margin-right 0
  width 100%
  [class*="home-estimate-month-cell"]
    display block
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    float left
    margin-left 0
    &:first-child
      margin-left: 0;