/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .contract p.paragraph {
    font-size: 22px !important;
  }
  .contract {
    font-size: 16px  !important;
  }
  .contract p span.detail {
    font-size: 17px  !important;

  }
  .contract p.title {

    font-size: 18px  !important;
  }
  .btn-lg, .btn-group-lg>.btn {

    font-size: 36px !important;

  }
  .contract .ui-timepicker-input {
    width: 145px !important;
    font-size: 28px  !important;

  }
  .contract .contract-box .contract-box-content .table-timer tr td, .contract .contract-box .contract-box-content .table-timer tr th {

    text-align: center !important;
  }
  .table-timer .sign-date {
    /* padding: 10px; */
    /* padding-left: 25px; */
    /* background: rgba(224, 224, 224, 0.32); */
    font-size: 12px;
    /* box-shadow: inset 0px 0px 3px rgba(51, 51, 51, 0.2); */
    /* text-shadow: 1px 1px 1px #e0e0e0; */
    display: block;
  }
  .contract .contract-box .contract-box-content table th.big-padding, .contract .contract-box .contract-box-content table td.big-padding {
    padding: 10px !important;
    font-size: 12px !important;
  }
  #total_hours .ui-timepicker-input {
    width: 75px !important;
    font-size: 16px !important;
  }
  .contract .storage_in_transit input {
    border: none;
    border-bottom: 1px solid #BBBBBB;
    width: 50px !important;
  }
}
#inventory-moving .icheckbox_flat-grey.checked.disabled {
    background-position: -22px 0;
}
.contract .donesign {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../content/mymovepagecheck.png);
  background-repeat: no-repeat;
  background-position: 15px 90px;
}
/** variables */
/** Signature pad style **/
.contract-box-content.error ,.contract-box.error{
  border: 1px solid #ED5565;
  animation: bordered 1s infinite alternate;
  -webkit-animation: bordered 1s infinite alternate;
}
#paybutton {
  background-color: #5693FF;
  background-image: linear-gradient(#90aaff, #2f93ff);
  color: white;
  border: 1px solid #8196EA;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18), inset 0 0 1px 1px rgba(255, 255, 255, 0.09);
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  display: block;
  text-transform: UPPERCASE;
  font-weight: 600;
  margin: 20px auto;
  width: 340px;

}
.green_total {
  color: #37a000;
  font-weight: bold;
}
.red_total {
  color: red;
  font-weight: bold;
}
#signaturePad .modal-dialog {
  margin-top: 2%; }
  #signaturePad .modal-dialog .modal-content .modal-footer {
    padding: 10px; }

/** Contract page style **/
.contract .initials-ctnr {
  margin-top: -3px;
  margin-bottom: 0;
}
.contract .initials-ctnr .signature-box {
    vertical-align: middle; }
.contract .initials-ctnr p {
    top: 35%; }

.contract .modal-body {
  padding: 0 !important; }

.contract .modal-footer {
  margin-top: 0; }
.navigate {
  background: #ffffff;
  padding-top: 10px;
  -webkit-box-shadow: 3px 3px 5px #BBBBBB;
  -moz-box-shadow: 3px 3px 5px #BBBBBB;
  box-shadow: 3px 3px 5px #BBBBBB;
}
.contract {
  padding-top: 30px;
  padding-bottom: 30px;
  }
  .contract .contract-box .contract-box-content .extra-table tr td {
    padding: 0;
    position: relative;
  }
  .contract .extra-title {
    padding: 6px;
    background: #e0e0e0;
    border-bottom: 1px solid #556B8D;
    margin-top: -1px;
    min-width: 100px;
  }
  .contract .extra-input {
    border-bottom: 0;
    width: 100%;
  }
  .contract .extra-body{
    padding: 6px;
    text-transform: Capitalize;
  }
  .contract .remove {
    position: absolute;
    top: 0;
    right: 0;
    color: #333;

  }
  .contract .ui-timepicker-input {
    display: inline-block;
    width: 90px;
    text-align: center;
    margin-left: 10px;
    background: inherit;}
  .contract .ui-timepicker-wrapper {
    width: 160px;
    font-size: 31px;
    height: 350px
  }
  .contract .ui-timepicker-wrapper::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  .contract .ui-timepicker-wrapper::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  .contract .ui-timepicker-wrapper::-webkit-scrollbar-thumb{
    background-color: #1980EC;
  }
  .contract .services-dropdown {
    position: absolute;
    right: -1px;
    top: 30px;
    background: white;
    width: 50%;
    z-index: 100;}
    .contract .services-dropdown ul {
      list-style: none;
      border: 1px solid #BBBBBB;
      padding: 0; }
      .contract .services-dropdown ul li {
        padding: 15px 6px;
        border-bottom: 1px solid #BBBBBB;
        cursor: pointer;
        text-transform: capitalize; }
        .contract .services-dropdown ul li.bold {
          font-weight: 700; }
        .contract .services-dropdown ul li:hover {
          background: #0889AF;
          color: white; }
        .contract .services-dropdown ul li:last-child {
          border-bottom: none; }
        .contract .services-dropdown ul li span {
          float: right; }
  .contract .timer-btns {
    margin-bottom: 10px; }
    .contract .timer-btns a {
      margin-right: 10px; }
  .contract a {
    color: #0889AF;
    cursor: pointer; }
  .contract input {
    border: none;
    border-bottom: 1px solid #BBBBBB; }
    .contract input.marge-left {
      margin-left: 6px; }
    .contract input.small {
      width: 35px; }
    .contract input.medium {
      width: 45px; }
    .contract input.medium.full-width-input {
      width: calc(45px * 3);
    }
    .contract input.large {
      width: 100%; }
    .contract input:focus {
      outline: 0; }

  .contract .signature-box {
    position: relative;
    cursor: pointer;
    -height: 70px;
    padding: 0 10px 0px 10px;
    display: inline-block;

    -margin-left: 10px;
    -left: 10px;
    display: inline-block; }
  .contract .signatured-box {
    position: relative;
    cursor: pointer;
    height: 70px;
    left: 10px;
    display: inline-block;
  }
  #add-contract-page .signatured-box {
    position: static;
  }
  .card-signatured-box {
    cursor: pointer;
    height: 70px;
  }
.contract .signature-box.error, .contract li select.error, .contract .checkout_btn.error{
  border:1px solid #ED5565;
  animation: bordered 1s infinite alternate;
  -webkit-animation: bordered 1s infinite alternate;
}
.contract .checkout_btn.error {
    position: relative;
}
.contract .signature-box .errorArrow, .contract li select .errorArrow{
  animation: arrowred 1s infinite alternate;
  -webkit-animation: arrowred 1s infinite alternate;
  display: inline-block !important;
  margin-left: 25px;
  font-size: 30px;
}
.contract #errorSign_checkout_btn.errorArrow {
    animation: arrowred 1s infinite alternate;
    -webkit-animation: arrowred 1s infinite alternate;
    display: block !important;
    font-size: 30px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 40px;
    margin-left: calc(50% - 10px);
}
/* Современные браузеры, кроме Chrome, Opera, Safari */
@keyframes bordered {   /* назовём анимацию: "go-left-right" */
  0% {
    border: 3px solid rgba(237, 85, 101,0);
  }
  50% {
    border: 3px solid rgba(237, 85, 101,1);
  }
  100% {
    border: 3px solid rgba(237, 85, 101,0);
  }
}

@keyframes arrowred {
  0% {
    color: rgba(237, 85, 101,0);
  }
  50% {
    color: rgba(237, 85, 101,1);
  }
  100% {
    color:rgba(237, 85, 101,0);
  }
}


/* Префикс для Chrome, Opera, Safari */
@-webkit-keyframes bordered {
  0% {
    border: 3px solid rgba(237, 85, 101,0);
  }
  50% {
    border: 3px solid rgba(237, 85, 101,1);
  }
  100% {
    border: 3px solid rgba(237, 85, 101,0);
  }
}

@-webkit-keyframes arrowred {
  0% {
    color: rgba(237, 85, 101,0);
  }
  50% {
    color: rgba(237, 85, 101,1);
  }
  100% {
    color: rgba(237, 85, 101,0);
  }
}
    .contract .signature-box._50 {
      width: 50%; }
    .contract .signature-box .empty-signature {
      font-weight: 900;
      font-size: 15px;
      color: #BBBBBB;
      display: inline-block;
      position: relative; }
    .contract .signature-box .empty-signature i {
      font-size: 16px;
      -ms-transform: rotate(110deg);
      /* IE 9 */
      -webkit-transform: rotate(110deg);
      /* Chrome, Safari, Opera */
      transform: rotate(110deg); }
  .contract .left-offset {
    padding-left: 15px; }
  .contract .sit-block {
    margin-top: 20px; }
  .contract .left-margin {
    margin-left: 15px; }
  .contract .bottom-margin {
    margin-bottom: 10px; }
  .contract .header {
    margin-bottom: 0px; }
    .contract .header img {
      padding-left: 15px; }
  .contract p.inline-block {
    display: inline-block; }
  .contract p.title {
    color: #0889AF;
    display: block !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px; }
  .contract p.top {
    margin-top: 40px; }
  .contract p.uppercase {
    text-transform: uppercase; }
  .contract p.bold, span.bold {
    font-weight: 700; }
  .contract p.paragraph {
    padding: 5px 15px 0px 15px;
    font-size: 14px; }
  .contract div[ng-bind-html] {
    padding: 0 15px; }
  .contract p.margin-left {
    margin-left: 40px; }
  .contract p.center {
    text-align: center; }
  .contract p.right {
    text-align: right; }
  .contract p.underline {
    text-decoration: underline; }
  .contract span.underline {
    text-decoration: underline; }
  .contract p.orange {
    color: #ff7f27; }
  .contract span.blue {
    color: #0889AF; }
  .contract p.blue {
    color: #0889AF; }
  .contract p span {
    display: inline-block; }
    .contract p span.width-60 {
      width: 60%; }
    .contract p span.width-40 {
      width: 39%; }
    .contract p span.width-30 {
      width: 29%; }
    .contract p span.detail {
      font-size: 12px;
      padding-left: 15px; }
    .contract p span.red {
      color: red; }
  .contract .contract-box {
    margin-top: 15px; }
    .contract .contract-box ul.dolc {
      list-style: none;
      padding-left: 15px; }
      .contract .contract-box ul.dolc li {
        margin-bottom: 25px; }
        .contract .contract-box ul.dolc li span.capital {
          text-transform: uppercase;
          font-size: 40px;
          font-weight: 900;
          border: 4px solid;
          padding: 1px 5px;
          float: left; }
        .contract .contract-box ul.dolc li p {
          width: 78%;
          display: inline-block;
          padding-left: 10px; }
    .contract .contract-box.no-margin-top {
      margin-top: 5px; }
    .contract .contract-box img {
      height: 100%;
      max-width: 165px;
      margin: 5px 0;}
    .contract .contract-box.padding-left-0 {
      padding-left: 0; }
    .contract .contract-box .contract-box-content {
      border: 1px solid #BBBBBB;
      padding-top: 10px;
      padding-bottom: 10px; }
      .contract .contract-box .contract-box-content .comments {
        padding: 15px; }
        .contract .contract-box .contract-box-content .comments textarea {
          width: 100%;
          max-width: 100% !important;
          border: 1px solid #BBBBBB; }
      .contract .contract-box .contract-box-content.border-bottom {
        border-bottom: 1px solid #0889AF !important; }
      .contract .contract-box .contract-box-content.no-border {
        border: none; }
      .contract .contract-box .contract-box-content.no-border-bottom {
        border-bottom: none !important;
        position: relative;
        padding-bottom: 0; }
      .contract .contract-box .contract-box-content .info-rows {
        display: inline-block;
        width: 100%; }
      .contract .contract-box .contract-box-content table {
        width: 100%; }
        .contract .contract-box .contract-box-content table th, .contract .contract-box .contract-box-content table td {
          border: 1px solid #BBBBBB;
          border-collapse: collapse;
          padding: 10px 15px 10px 15px;
          text-align: left;
          text-transform: uppercase; }
          .contract .contract-box .contract-box-content table th p, .contract .contract-box .contract-box-content table td p {
            margin-bottom: 0; }
            .contract .contract-box .contract-box-content table th p a, .contract .contract-box .contract-box-content table td p a {
              float: right;
              cursor: pointer;
              text-transform: capitalize;
              font-size: 14px; }
          .contract .contract-box .contract-box-content table th.big-padding, .contract .contract-box .contract-box-content table td.big-padding {
            padding: 15px !important; }
          .contract .contract-box .contract-box-content table th.no-border-right, .contract .contract-box .contract-box-content table td.no-border-right {
            border-right: none !important; }
          .contract .contract-box .contract-box-content table th.no-border-left, .contract .contract-box .contract-box-content table td.no-border-left {
            border-left: none !important; }
.contract .contract-box .contract-box-content table tr td {
  position: relative;
}
.settings {
  padding-top: 40px; }
  .settings button {
    float: right; }
  .settings ul {
    list-style: none;
    padding: 20px 10px; }
    .settings ul li {
      margin-bottom: 25px; }
      .settings ul li span.capital {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 900;
        border: 4px solid;
        padding: 1px 5px;
        float: left;
        cursor: pointer; }
        .settings ul li span.capital:active {
          -webkit-box-shadow: 1px 1px 2px black;
          -moz-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black; }
        .settings ul li span.capital:hover, .settings ul li span.capital.active {
          background: #0889AF;
          color: white;
          border-color: #0889AF; }
      .settings ul li p {
        width: 78%;
        display: inline-block;
        padding-left: 10px; }
  .settings .row .white {
    background: white; }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  background: #EAE9E9;
  font-family: 'Lato', sans-serif; }

@media only screen and (device-width:768px){
  /* default iPad screens */
  .contract .contract-box .contract-box-content.no-border{
    border-bottom: 0px solid #E0E0E0;
  }

}
.flat-rate signature-box img {
    display: block;
    max-width: 120px !important;
    padding: 5px;
    margin-bottom: 10px;
}
signature-box img {
  display: inline-block;
  max-width: 120px;
  padding: 5px;
}
.contract .contract-box .contract-box-content .table-timer tr td,
.contract .contract-box .contract-box-content .table-timer tr th
{
  border-left: 0;
  vertical-align: middle;
  padding: 20px 10px;
}
.contract .contract-box .contract-box-content .table-timer tr.disabled {
  background: #E0E0E0;
}
.contract .contract-box .contract-box-content .table-timer tr td:last-child,
.contract .contract-box .contract-box-content .table-timer tr th:last-child
{
  border-right: 0;
}

.contract .editable {
  width: 100%;
  height: 70px;
  border: 1px solid #e0e0e0;
  padding: 5px;
  color: #333;
  max-width: 100%;
  margin-bottom: 10px;
}
.contract textarea.editable {
  float: none;
  width:95%;
  resize: vertical;
}
.contract .editable.left-edit {
  width: 85%;
  float: left;
  margin-left: 10px;
  resize: vertical;
}
.contract .cancel {
  font-size:18px;
  padding-left: 5px;
  padding-top: 2px;
}
.sa-button-container > .cancel {
  padding: 10px 32px !important;
}
#contract-page.setting{
  display: inline-flex;
}
#contract-page .container.navigate.setting{
  display: inline-flex;
  margin-left: inherit;
}
#contract-page .modal-body {
  padding: 0 !important;
}
#contract-page .tab-content>.active
{
  position: relative;
}
#contract-page .busyoverlay {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 10000;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.54);
}
#contract-page .tabs-navigate{
  display: inline-flex;
  margin-top: 40px;
}
#contract-page .tabs-navigate ul{
  list-style-type: none;
}
#contract-page .tabs-navigate .tab-navigate{
  cursor: pointer;
  padding: 16px 24px;
  font-size: 20px;
  background-color: #F1F1F1;
  border: solid 1px #B7DDE8;
  color: rgba(8, 137, 175, 0.64);
  box-shadow: 0px 2px 0px #C1C1C1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-color: white;
  margin-bottom: 15px;
}
#contract-page .tabs-navigate .tab-navigate.active{
  background-color: white;
  color: #0889AF;
}
#contract-page .ta-toolbar button{
  font-size: 14px;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin-top: 20%;
  margin-left: 30%;
}
.sf-textarea {
  width: 400px;
  border: 1px solid #e0e0e0;
  resize: vertical;
  margin-top: 13px;
  margin-left: 5px;
  height: 85px;
  padding: 0 5px;
  margin-bottom: 0px;
}
.sf-text-box {
  position: relative;
}
.textarea-settings {
  position: absolute;
  width: 125px;
  top: 25px;
  right: 10px;
  opacity: 0.5;
  border-radius: 0 9px 1px 10px;
  border: 1px solid #c2c2c2;
  z-index: 1;
}
#add-contract-page .textarea-settings {
  width: 140px;
}
.textarea-settings:hover {
  opacity: 1;
}
.textarea-settings .btn {
  border-radius: 0;
  border-bottom: 1px solid #b6b6b6;
}
#contract-page #quantity {
  border-radius: 0;
  border: 0;
  background: transparent;
  width: 50px;
}

.busyoverlay { height: 100vh }
.sign-date {
  padding: 10px;
  /*padding-left: 25px;*/
  background: rgba(224, 224, 224, 0.32);
  box-shadow: inset 0px 0px 3px rgba(51, 51, 51, 0.2);
  text-shadow: 1px 1px 1px #e0e0e0;
}
.select-lead
{
  border: 1px solid #e0e0e0;
  background: transparent;
  margin-left: 10px;
  text-transform: uppercase;
  width: 50px;
  height: 25px;
  text-indent: 3px;
  border-radius: 0;
}
.select-lead.declar {

  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
table {
  position: relative;
}
.add-crew {

  display: block;
  border: 0;
  position: absolute;
  top: 64px;
  left: -11px;


}

.checkout_btn{
  line-height: 1.6;
  width: 100%;
  cursor: pointer;
  height: 50px;
  font-size: 29px;
  margin-top: 25px;
  padding: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-color: #1486f9 #0f7de9 #0d6acf;
  background: #1993fb;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.checkout_btn_paid{
  border-color: #159c33 #12862b #0f7024;
  background-image: linear-gradient(to bottom, #1ee049, #1bc941 40%, #18b33a);
  line-height: 1.8;
  background-color: #1bc941;
}
.payment_received {
  background-image: -webkit-linear-gradient(top, #25D02A, #31DE36 40%, #20AF24);
  background-image: -moz-linear-gradient(top, #25D02A, #31DE36 40%, #20AF24);
  background-image: -o-linear-gradient(top, #25D02A, #31DE36 40%, #20AF24);
  background-image: linear-gradient(to bottom, #25D02A, #31DE36 40%, #20AF24);
  border-color: #25D02A #31DE36 #20AF24;
  background: #25D02A;
  background: #25D02A;
  line-height: 52px;
  pointer-events: none;
}
/*# sourceMappingURL=all.css.map */
.contract .coupon-btn{
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to bottom, #46A7C3, #2999BA 40%, #0889AF);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  font-size: 16px;
}
.contract .ui-timepicker-wrapper {
  width: 50%;
  font-size: 29px;
  height: 275px;
}
.contract .checkout-title{
  font-size: 30px;
  height: 55px;
  line-height: 1.7;
}
.contract .close{
  font-size: 50px;
  top: 0px !important;
}
.contract h3{
  font-size: 30px;
}
.contract .checkout .step{
  width: 100%;
}
.contract .payment-tips .form-control{
  font-size: 25px;
  height: 60px;
  width: 100%;
  max-width: 100%;
}
.contract .payment-tips-steb0{
  /*padding: 15px 10px 10px 10px;*/
}
.contract .payment-tips-percent{
  width: 100%;
  font-size: 35px;
  height: 60px;
}
.contract .checkout .fa-arrow-right{
  top: 10px;
  font-size: 30px;
}
.contract .payment_button{
  height: 60px;
  font-size: 30px;
  line-height: 1.9 !important;
}
.contract .checkout .charge_amount{
  margin-bottom: 20px;
  height: 60px;
  font-size: 35px;;
}
.contract .checkout .pay_options{
  top: 50px;
}
.contract .credit_form{
  margin: 0 100px 0 100px;
}
.contract .pay{
  margin-bottom: 15px;
}
.contract .pay input{
  width: 100% !important;
  height: 50px;
  font-size: 25px;
}
.contract .fa-arrows-h{
  font-size: 35px;
}
.contract .checkout-cvc, .contract .checkout-exp{
  margin-left: 0 !important;
}
.contract .modal-lg{
  width: 1100px;
}
.contract .checkout_back{
  font-size: 30px !important;
  top: 3px;
}
.contract .payment-btn{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.contract .upload-card-text{
  font-size: 40px
}
.contract .modal-lg .cancel{
  font-size: 40px
}
.contract .extra-storage {
  width: 110px;
  position: absolute;
  top: 30px;
  right: 5px;
}
.contract .remove-extra-storage{
  bottom: 5px;
  margin-left: 20px;
  position: absolute;
}
.contract .checkout #card_number{
  background-size: 225px 600px, 153px 399px;
  background-position: 145% 50px, 0px 0px;
}
.contract .checkout #card_number.Visa{
  background-position: 145% 10px, 0px 0px;
}
.contract .checkout #card_number.Mastercard{
  background-position: 145% -35px, 0px 0px;
}
.contract .checkout #card_number.AMEX{
  background-position: 145% -80px, 0px 0px;
}
.contract  #check_number{
  text-align: center;
  width: 75% !important;
  height: 50px;
  font-size: 25px;
}
.contract .checkout #card_number.Discover{
    background-position: 145% -130px, 0px 0px;
}
.contract #signatureReleasePad .modal-dialog{
  width: 99% !important;
  margin-left: 10px;
}
.contract #signaturePad .modal-dialog{
  width: 99% !important;
  margin-left: 10px;
}
.contract #signatureInventoryPad .modal-dialog{
  width: 99% !important;
  margin-left: 10px;
}
.contract #signatureInventoryPad .modal-dialog{
   width: 99% !important;
   margin-left: 10px;
 }
#signatureInventoryPad .modal-dialog{
  width: 99% !important;
  margin-left: 10px;
}
.contract #signatureAddInventoryPad .modal-dialog{
  width: 99% !important;
  margin-left: 10px;
}
.contract .signature-underline{
  border-top: 5px solid #6D6D6D;
  width: 98%;
  position: fixed;
  bottom: 25%;
}
.contract .signature-form{
  position: absolute;
  top: 15%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;
}
.contract canvas{
  position: inherit;
  z-index: 1001;
}
#reservation .signature-underline{
  border-top: 5px solid #6D6D6D;
  width: 98%;
  position: fixed;
  bottom: 30%;
}
#reservation .signature-form{
  position: absolute;
  top: 15%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;
}
#reservation canvas{
  position: inherit;
  z-index: 1001;
}
.signature-times{
  background-image: url('/account/content/sign.png');    background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 37em;
  display: none;
}
.contract #inventory-moving table th.inverse{
  background-color: #676a6c;
  color: white;
  text-align: center;
  word-break: normal;
}
.contract #inventory-moving .vertical-line{
  border-right: solid #676A6C;
  border-right-width: thin;
  min-height: 170px;
}
.contract #inventory-moving table.footer-inventory-moving td{
  text-align: justify;
}
.contract div.uppercase{
  text-transform: uppercase;
}
.contract #inventory-moving .text-center{
  text-align: center;
}
.contract #inventory-moving .text-justify{
  text-align: justify;
}
.contract textarea{
  resize: vertical;
}
.contract #inventory-moving .btn-inventory{
  margin-bottom: 15px;
  margin-top: 15px;
}
.contract #inventory-moving .sign-date {
  padding: 10px;
  background: rgba(224, 224, 224, 0.32);
  box-shadow: inset 0px 0px 3px rgba(51, 51, 51, 0.2);
  text-shadow: 1px 1px 1px #e0e0e0;
}
.contract #inventory-moving .no-padding {
  padding: 0px !important;
}
.contract #condition-modal .btn-default{
  min-width: 140px;
  margin-top: 15px;
}
.contract #condition-modal .btn-default.active-condition{
  background-color: #69DC87;
  border-color: #60C37A;
}
.contract #condition-modal .conditions{
  font-size: 18px;
  margin-left: 15px;
}
.contract #condition-modal .remove-condition{
    font-size: 30px;
    vertical-align: baseline;
    padding-left: 10px;
    border-left: solid 1px #98CC95;
    position: absolute;
    height: calc(100% - 10px);
}
.contract #condition-modal .condition-block{
    background-color: #D9FAD7;
    min-height: 55px;
    padding: 5px 5px;
    border: solid 1px #98CC95;
    border-radius: 5px;
    position: relative;
}
.contract #condition-modal .condition-block div{
    display: inline-block;
    width: 110px;
}
.contract .dropdown div.Blue, .dropdown-menu div.Blue{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #0000fe;
  margin-left: 15px;
}
.contract .dropdown div.Green, .dropdown-menu div.Green{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #008000;
  margin-left: 15px;
}
.contract .dropdown div.Orange, .dropdown-menu div.Orange{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fea400;
  margin-left: 15px;
}
.contract .dropdown div.Red, .dropdown-menu div.Red{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fe0000;
  margin-left: 15px;
}
.contract .dropdown div.White, .dropdown-menu div.White{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  margin-left: 15px;
}
.contract .dropdown div.Yellow, .dropdown-menu div.Yellow{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fffc26;
  margin-left: 15px;
}
.contract #inventory-dropdown a{
  display: inline-block;
  padding: 2px;
}
.contract .dropdown div{
  margin-left: 0px !important;
  margin-right: 10px;
}
.contract .right-offset{
  margin-right: 15px;
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    #condition-modal .btn-lg, .btn-group-lg > .btn {
        padding: 10px 6px !important;
        max-width: 140px;
        max-height: 55px;
        font-size: 20px !important;
        min-height: 53px;
    }
}
#inventory-moving .articles .btn.btn-primary.dropdown-toggle{
    background-color: #FFFFFF;
    border-color: #E5E6E7;
    color: #676A6C;
    width: 100%;
    text-align: left;
    min-height: 34px;
}
#inventory-moving .articles .caret{
    float: right; top: 15px; position: absolute; right: 10px;
}
.contract .menuitem-article{
    min-height: 37px;
    zoom: 4;
}
.inventory-color{
    zoom: 3;
}
body.contract, body.coupon{
    background-color: #F3F3F4 !important;
}
.contract .contract-page-flippy{
    padding-left: inherit;
    padding-right: inherit;
}
.contract .contract-page-flippy-nav-tab{
    margin-left: 15px;
    margin-right: 15px;
}
.terms-condition{
    padding-right: 15px;
    cursor: pointer;
    text-align: center;
}
.terms-condition-page{
    margin: 0 15px 50px 15px;
}
.no-white-space{
  white-space: nowrap;
}
/*start of styles for additional contract pages*/
td#txt-angular-table:hover{
  background-color: #ececec;
}
td#txt-angular-table.hovered{
  background-color: #ececec;
}
.contract-tr {
  height: 39px;
}
.contract-tr td{
  text-transform: none !important;
}
li.column-txtangular{
  text-align: center;
}
li.column-txtangular:hover{
  background-color: #ececec;
}
.rows-cols-txtangular {
    color: #5f5f5f;
}
.dropdown-txtangular{
    position: absolute;
    z-index: 1;
    top: 24px;
    border-radius: 3px;
    left: 0px;
    width: 25px;
    min-width: 20px;
}
.column-txtangular span{
    padding-left: initial !important;
}
.contract-own-columns{
    display: flex;
    display:-ms-flexbox;
    justify-content: space-around;
}
.contract-own-columns .contract-own-column{
  padding: 10px 20px;
  border: none !important;
}
#add-contract-page .tab-label{
  display: inline-block;
  margin: auto;
  height: 34px;
  line-height: 2.5;
  font-weight: 600;
  font-size: 14px;
  float: left;
}
#local_moves #add-contract-page{
  margin-bottom: 15px;
}
#add-contract-page table th, #add-contract-page table td, #add-contract-page .contract-box-content table th, #add-contract-page .contract-box-content table td{
  text-transform: none;
}
#add-contract-page .packing-extra-services table th, #add-contract-page .packing-extra-services table td{
  text-transform: uppercase;
}
#add-contract-page .contract-box-content{
  border: none;
}
#add-contract-page .additional-contract-textarea .additional-contract-dropdown ul{
  height: 500px;
  overflow-y: auto;
}
#add-contract-page .additional-contract-textarea .additional-contract-dropdown ul li{
  border-bottom: solid 1px #dadada !important;
}
#add-contract-page .additional-contract-textarea .additional-contract-dropdown ul li button{
  background-color: #c2c2c2 !important;
  color: white !important;
}
/* end of styles for additional contract pages*/
