@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.form-item [class^="flaticon-"]:before,.form-item [class*=" flaticon-"]:before,
.form-item [class^="flaticon-"]:after,.form-item [class*=" flaticon-"]:after {   
	font-family: Flaticon;
   font-family: Flaticon;
      font-size: 19px;
font-style: normal;
}
.details_block [class^="flaticon-"]:before,.details_block [class*=" flaticon-"]:before,.details_block [class^="flaticon-"]:after,.details_block [class*=" flaticon-"]:after {
font-family: Flaticon;
font-family: Flaticon;
font-size: 32px;
font-style: normal;
position: absolute;
top: 36%;
left: 11px;
opacity: 0.5;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
   font-family: Flaticon;
      font-size: 12px;
font-style: normal;
}

.boxcount [class^="flaticon-"]:before,.boxcount  [class*=" flaticon-"]:before,.boxcount  [class^="flaticon-"]:after,.boxcount  [class*=" flaticon-"]:after {
font-family: Flaticon;
font-family: Flaticon;
font-size: 18px;
color: rgb(120, 132, 139);
font-weight: bold;
margin-right: 10px;
font-style: normal;
}
.col2 [class^="flaticon-"]:before,.col2  [class*=" flaticon-"]:before, .col2 [class^="flaticon-"]:after, .col2 [class*=" flaticon-"]:after {
font-family: Flaticon;
font-family: Flaticon;
font-size: 50px;
color: rgb(255, 104, 104);
font-style: normal;
}

.flaticon-apple:before {
	content: "\e000";
}
.flaticon-arrow483:before {
	content: "\e001";
}
.flaticon-arrow487:before {
	content: "\e002";
}
.flaticon-back3:before {
	content: "\e003";
}
.flaticon-box39:before {
	content: "\e004";
}
.flaticon-calendar68:before {
	content: "\e005";
}
.flaticon-check35:before {
	content: "\e006";
}
.flaticon-close13:before {
	content: "\e007";
}
.flaticon-commercial15:before {
	content: "\e008";
}
.flaticon-delete85:before {
	content: "\e009";
}
.flaticon-delivery25:before {
	content: "\e00a";
}
.flaticon-dollars2:before {
	content: "\e00b";
}
.flaticon-edit26:before {
	content: "\e00c";
}
.flaticon-event7:before {
	content: "\e00d";
}
.flaticon-facebook30:before {
	content: "\e00e";
}
.flaticon-handshake1:before {
	content: "\e00f";
}
.flaticon-hourglass9:before {
	content: "\e010";
}
.flaticon-list92:before {
	content: "\e011";
}
.flaticon-logistics2:before {
	content: "\e012";
}
.flaticon-logistics3:before {
	content: "\e013";
}
.flaticon-mail59:before {
	content: "\e014";
}
.flaticon-menu48:before {
	content: "\e015";
}
.flaticon-moving3:before {
	content: "\e016";
}
.flaticon-multiple25:before {
	content: "\e017";
}
.flaticon-plate13:before {
	content: "\e018";
}
.flaticon-real5:before {
	content: "\e019";
}
.flaticon-verification5:before {
	content: "\e01a";
}
