@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

@import "SASS/colors.scss";

@import "SASS/base.scss";
@import "SASS/_color_statuses.scss";

@import "SASS/_request_page.scss";

@import "SASS/_inventories.scss";
@import "SASS/_comments.scss";
@import "SASS/_details.scss";
@import "SASS/_spinners.scss";

@import "SASS/_datepicker.scss";
@import "SASS/_edit_request_block.scss";
@import "SASS/_reservation_page.scss";
@import "SASS/_print.scss";
@import "SASS/_companies.scss";
@import "SASS/_payment.scss";
@import "SASS/_release_form_page.scss";
@import "SASS/_your_voice_page.scss";
@import "SASS/_agreement.scss";
@import "SASS/_coupon.scss";
@import "SASS/_ledger.scss";
@import "SASS/_specialist.scss";

@import "SASS/_contract_settings.scss";
@import "SASS/_review-modal.scss";
@import "SASS/_tooltip.scss";
@import "SASS/_additional_contract.scss";
@import "SASS/_addresses-modal.scss";
div#footer {
  margin-top: 80px;
}
