<a class="send-letter-pdf-container"
    ng-click="$ctrl.downloadPdfPage({index: $ctrl.index})"
    style="margin-right: 20px;">
    <span class="send-letter-pdf-title">
        Download PDF copy
    </span>
</a>
<a class="send-letter-pdf-container"
   ng-click="$ctrl.sendPdfPage({index: $ctrl.index})">
    <span class="send-letter-pdf-title">
        Send PDF copy
    </span>
</a>