#move-size-block-account {

  /*visibility: hidden;*/
}

#valuation-block-account {
  /*display: none;*/
}

#fuel-surcharge-account {
  /*display: none;*/
}

#extra-services-account {
  /*display: none;*/
}

#local-move-travel-time-account {
  /*display: none;*/
}

#estimated-labor-time-account {
  /*display: none;*/
}

#local-move-double-travel-time-account {
  /*display: none;*/
}

#quote-block-account {
  /*display: none;*/
}

#storage-travel-time-account {
  /*display: none;*/
}

#storage-double-travel-time-account {
  /*display: none;*/
}

#packing-request-account {
  /*display: none;*/
}

#additional-discount-account {
  /*display: none;*/
}

#long-distance-quote-block-account {
  /*display: none;*/
}

#flat-rate-quote-block-account {
    /*display: none;*/
}

#packing-choosen-block-account {
    /*display: none;*/
}
