#reservation-page-travel-time {
    /*display: none;*/
}

#reservation-page-estimated-job {
    /*display: none;*/
}

#reservation-page-valuation {
    /*display: none;*/
}

#reservation-page-fuel-surcharge {
    /*display: none;*/
}

#reservation-page-extra-services {
    /*display: none;*/
}

#packing-reservation {
    /*display: none;*/
}

#reservation-page-discounts {
    /*display: none;*/
}

#long-distance-reservation-page-transportation-info {
    /*display: none;*/
}

#long-distance-reservation-page-quote-explanation {
    /*display: none;*/
}

#flat-rate-reservation-page-transpartation {
    /*display: none;*/
}

#flat-rate-reservation-page-explanation-quote {
    /*display: none;*/
}