
<section id="main-content" class="animated fadeInRight"  ng-controller="History as vm">
<!-- Begin Body -->
<div class="container">
	<div class="row">

  			<div class="col-md-3" id="leftCol">

                <cc-user-block user="vm.user"></cc-user-block>

      		</div>

      		<div class="col-md-9">
            <div class="ibox">
            <div class="ibox-content">
                 <div class="ibox-title">
                    <h3 class="font-bold no-margins">Current Moves</h3>
                </div>
                <div class="">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Service</th>
                            <th>Date</th>
                            <th>Origin </th>
                            <th>Destination </th>
                            <th>Details </th>
                            <th>Updated </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ng-if="request.status.value != 'Expired' && request.service_type.raw != '2'"  -->
                        <tr ng-repeat="request in vm.current_requests">
                                <td>{{request.nid}}</td>
                                <td class="dtStatus"><span class="status label status_{{request.status.raw}}">{{request.status.value}}</span></td>
                                                  <td class="dtService">{{::vm.getCurrentServiceTypeName(request)}}</td>
                                                  <td class="dtDate">{{request.date.value}}</td>
                                                  <td>{{request.from}}</td>
                                                  <td>{{request.to}}</td>
                                                  <td>{{request.move_size.value}}<br>
                                                      {{request.crew.value}} movers
                                                    </td>
                                                  <td>{{request.changed | ago}}</td>
                                                  <td><button class="btn-blue btn btn-xs" ng-click="vm.viewRequest(request.nid)">View</button></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
                <div class="history"><i class="fa fa-history"></i></div>
              <div class="ibox-content">
                 <div class="ibox-title">
                    <h3 class="font-bold no-margins">Past Moves</h3>
                </div>
                <div class="table-responsive ">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>Service</th>
                            <th>Date</th>
                            <th>Origin </th>
                            <th>Destination </th>
                            <th>Details </th>
                            <th>Updated </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="request in vm.past_requests">
                                <td>{{request.nid}}</td>
                                <td class="dtStatus"><span class="status label status_{{request.status.raw}}">{{request.status.value}}</span></td>
                                                  <td class="dtService">{{::vm.getCurrentServiceTypeName(request)}}</td>
                                                  <td class="dtDate">{{request.date.value}}</td>
                                                  <td>{{request.from}}</td>
                                                  <td>{{request.to}}</td>
                                                  <td>{{request.move_size.value}}<br>
                                                      {{request.crew.value}} movers
                                                    </td>
                                                  <td>{{request.changed | ago}}</td>
                                                  <td><button class="btn-blue btn btn-xs" ng-click="vm.viewRequest(request.nid)">View</button></td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
                </div>
        </div>

 </div>


</div>
</section>
