<div class="mobile-login-logout-root-block pull-right">
    <img class="mobile-login-logout-root-block__icon-button"
         ng-click="vm.openMobileContextMenu()"
         src="content/img/more.png"
         alt="menu">
    <div class="mobile-login-logout-root-block__menu-block" ng-class="{'mobile-menu-open': vm.mobileMenu}">
        <ul class="mobile-login-logout-root-block__list">
            <li>
                <div class="mobile-login-logout-root-block__list-item">
                    <full-screen></full-screen>
                </div>
            </li>
            <li class="mobile-login-logout-root-block__list-item"
                ng-click="vm.Logout()">
                <span class="text">{{currentUser.userId.field_user_first_name}} {{currentUser.userId.field_user_last_name}}</span>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</div>
