.mobile-login-logout-root-block
	width 60px
	height 60px
	display flex
	justify-content center
	align-items center
	margin-right 1em
	position relative
	&__icon-button
		width 40px
		height 40px
		cursor pointer
	&__menu-block
		position absolute
		top 65px
		right calc(0px - (300px + 1em))
		width 300px
		height auto
		background-color #fff
		border-radius 4px
		box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
		transition right .4s cubic-bezier(.42,.97,.52,1.49)
	&__list
		list-style none
		padding 0
	&__list-item
		margin 0
		display flex
		justify-content space-between
		align-items center
		height 60px
		padding 0 10px
		transition background-color .3s cubic-bezier(.42,.97,.52,1.49)
		.full-screen-btn
			display flex
			justify-content space-between
			align-items center
			width 280px
		&:hover
			background-color #ecf0f1
	.mobile-menu-open
		right 0px
