<div ng-controller="Shell as vm" class="shell-view">
    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                <div class="blink">{{vm.busyMessage}}</div>
                
                 <div class="progress progress-striped active">
                     <div class="progress-bar progress-bar-success" style="width: {{vm.progressLoading}}%">{{vm.progressLoading}}%</div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Wrapper-->
    <div inventories request="2222" ng-if="vm.showSplash"></div>
    <section id="main-wrapper" class="theme-default container animated fadeInUp" ng-if="!vm.showSplash">
        <!-- Page wrapper -->
        <header id="header" ng-if="!vm.login" ng-include="'app/layout/topnav.html'"></header>
        <!-- Left Sidebar Navigation -->
        <aside class="sidebar sidebar-left"  ng-if="!vm.login"  ng-include="'app/layout/sidebar.html'"></aside>
        <!-- Content wraper -->
       <section ng-if="vm.showMain" class="main-content-wrapper">
            <!-- Main content view  -->
            <div ui-view></div>
            <!-- Footer -->
        </section> 
            
     
    
        <!-- /Content wraper-->
    </section>
    
</div>

