<div data-ng-controller="Sidebar as vm">
    <nav>
        <h5 class="sidebar-header">Navigation</h5>
        <!-- location directive.js | data-nav-toggle-sub maps to -->
        <div ng-if="vm.userRoleIs.home_estimator">
            <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
                <li ui-sref-active="active">
                    <a ui-sref="inhome.estimator-jobs" title="New in-home estimate">
                        <i class="fa fa-fw fa-th-list"></i> New in-home estimate
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="inhome.estimator-closed-jobs" title="Closed in-home estimate">
                        <i class="fa fa-fw fa-calendar"></i> Closed in-home estimate
                    </a>
                </li>
            </ul>
        </div>
        <div ng-if="vm.userRoleIs.foreman">
            <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
                <li ui-sref-active="active">
                    <a ui-sref="foreman.new" title="New Jobs">
                        <i class="fa fa-fw fa-th-list"></i> New Jobs
                    </a>
                </li>
                <li ui-sref-active="active"
                    class="company-custom-hide-this-block" ng-hide="vm.basicsettings.hideForemanPastJobsTab">
                    <a ui-sref="foreman.past" title="Past Jobs">
                        <i class="fa fa-fw fa-calendar"></i> Past Jobs
                    </a>
                </li>
            </ul>
        </div>
        <div ng-if="!vm.userRoleIs.foreman && !vm.userRoleIs.home_estimator">
            <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
                <li ui-sref-active="active" ui-sref="dashboard">
                    <a ui-sref="dashboard" ui-sref-opts="{reload: true}" title="Dashboard"
                       ng-right-click="[{name:'Open in new tab', route:['dashboard', ''], target:'_blank'}]"> <i
                            class="fa fa-fw fa-tachometer"></i> Dashboard
                    </a>
                </li>
                <li class="nav-dropdown">
                    <a ng-click="vm.goToPage('requests.child')" title="Requests"
                       ng-right-click="[{name:'Open in new tab', route:['requests.child', ''], target:'_blank'}]"
                       ng-middle-click="{route:['requests.child', '']}">
                        <i class="fa fa-fw fa-th-list"></i>Requests
                    </a>
                    <ul class="nav-sub">
                        <!-- REQUESTS PAGE - LOCAL-->
                        <li class="nav-dropdown" ng-repeat="flag in ::vm.companyColorFlags track by $index">
                            <a ng-click="vm.goToPage('requests.child', {id: flag.id})"
                               title="{{::flag.name}}"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('requests.child', {id: flag.id}), target:'_blank'}]">
                                {{::flag.name}}
                            </a>
                        </li>
                        <li class="nav-dropdown">
                            <a ui-sref="requests.status({statusReq: '22'})"
                               title="Archive"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('requests.status', {statusReq: '22'}), target:'_blank'}]">
                                Archive
                            </a>
                        </li>
                        <li class="nav-dropdown">
                            <a ui-sref="requests.status({statusReq: '4'})" title="In-home Estimate"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('requests.status', {statusReq: '4'}), target:'_blank'}]">
                                In-home Estimate
                                <span class="label label-primary label-circle pull-right"
                                      ng-if="vm.homeEstimateCountOfScheduleWorks > 0">{{::vm.homeEstimateCountOfScheduleWorks}}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-dropdown" ui-sref-active="active" ui-sref="schedule"
                    ng-show="vm.PermissionsServices.hasPermission('canSeeScheduleMenu')">
                    <a href="" ng-click="vm.goToPage('schedule.requests', '')" title="Schedule"
                       ng-right-click="[{name:'Open in new tab', route:['schedule.requests', ''], target:'_blank'}]"
                       ng-middle-click="{route:['schedule.requests', '']}">
                        <i class="fa fa-fw fa-calendar"></i> Schedule
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a href="" ui-sref="schedule.requests" ui-sref-active="active" title="Request Schedule"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('schedule.requests', {}), target:'_blank'}]">
                                Request
                            </a>
                        </li>
                        <li>
                            <a href="" ui-sref="schedule.home-estimate-schedule" ui-sref-active="active"
                               title="In-home Estimate Schedule"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('schedule.home-estimate-schedule', {}), target:'_blank'}]">
                                In-home Estimate
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="messages" title="Messages"
                       ng-right-click="[{name:'Open in new tab', route:['messages', ''], target:'_blank'}]">
                        <i class="fa fa-fw fa-envelope-o"></i> Messages
                        <span class="label label-primary label-circle pull-right" ng-if="vm.unreadCount > 0">{{vm.unreadCount}}</span>
                    </a>
                </li>
                <li class="nav-dropdown"
                    ui-sref-active="active"
                    ui-sref="dispatch"
                    ng-show="vm.PermissionsServices.hasPermission('canSeeDispatchMenu') && !vm.basicsettings.lightVersion">
                    <a href="" ng-click="vm.goToPage('dispatch.local', '')" title="dispatch"
                       ng-right-click="[{name:'Open in new tab', route:['dispatch.local', ''], target:'_blank'}]"
                       ng-middle-click="{route:['dispatch.local', '']}">
                        <i class="fa fa-fw fa-user"></i> Dispatch
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a ui-sref="dispatch.local" ui-sref-active="active" title="Local Dispatch"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('dispatch.local', {}), target:'_blank'}]">Local Dispatch
                            </a>
                        </li>
                        <!--  <li>
                        <a ui-sref="dispatch.trucks" title="Trucks">Trucks
                        </a>
                    </li> -->
                        <li>
                            <a ui-sref="dispatch.opened-jobs" ui-sref-active="active" title="Opened Jobs"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('dispatch.opened-jobs', {}), target:'_blank'}]">Opened Jobs
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dispatch.closed-jobs" ui-sref-active="active" title="Closed Jobs"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('dispatch.closed-jobs', {}), target:'_blank'}]">Closed Jobs
                            </a>
                        </li>
                        <li class="payroll-status_hidden">
                            <a ui-sref="dispatch.payroll-status" ui-sref-active="active" title="Jobs/Payroll Status"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('dispatch.payroll-status', {}), target:'_blank'}]">Jobs/Payroll
                                Status
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dispatch.payroll" ui-sref-active="active" title="Payroll"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('dispatch.payroll', {}), target:'_blank'}]">Payroll
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-dropdown"
                    ng-show="vm.PermissionsServices.hasPermission('canSeeLongDistanceMenu') && !vm.basicsettings.lightVersion"
                    ui-sref-active="active">
                    <a href="" ng-click="vm.goToPage('lddispatch.trip', '')" title="Long Distance Dispatch"
                       ng-right-click="[{name:'Open in new tab', route:['lddispatch.trip', ''], target:'_blank'}]"
                       ng-middle-click="{route:['lddispatch.trip', '']}">
                        <i class="fa fa-fw fa-globe" aria-hidden="true"></i> Long Distance Dispatch
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a ui-sref="lddispatch.trip" ng-class="{active:vm.isCurrent('trip planner')}"
                               title="Trip Planner"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('lddispatch.trip', {}), target:'_blank'}]">Trip-Planner</a>
                        </li>
                        <li>
                            <a ui-sref="lddispatch.sitJobs" ng-class="{active:vm.isCurrent('sit Jobs')}"
                               title="Jobs in SIT"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('lddispatch.sitJobs', {}), target:'_blank'}]">Jobs in SIT
                            </a>
                        </li>
                        <li>
                            <a ui-sref="lddispatch.pick_up" ng-class="{active:vm.isCurrent('pickup')}" title="Pick up"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('lddispatch.pick_up', {}), target:'_blank'}]">Pick
                                up
                            </a>
                        </li>
                        <li>
                            <a ui-sref="lddispatch.ld_delivery" ng-class="{active:vm.isCurrent('ld_delivery')}"
                               title="ld-Delivery"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('lddispatch.ld_delivery', {}), target:'_blank'}]">LD Delivery
                            </a>
                        </li>
                        <li>
                            <a ui-sref="lddispatch.agentFolio" ng-class="{active:vm.isCurrent('agentFolio')}"
                               title="agentFolio"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('lddispatch.agentFolio', {}), target:'_blank'}]">Agent Folio
                            </a>
                        </li>
                        <li>
                            <a ui-sref="lddispatch.couriers" ng-class="{active:vm.isCurrent('carriers and agents')}"
                               title="Carriers and Agents"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('lddispatch.couriers', {}), target:'_blank'}]">Carriers and Agents</a>
                        </li>
                        <li>
                            <a ui-sref="lddispatch.lddispatchStorages"
                               ng-class="{active:vm.isCurrent('lddispatchStorages')}" title="Storages"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('lddispatch.lddispatchStorages', {}), target:'_blank'}]">Storages
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-dropdown"
                    ng-show="vm.PermissionsServices.hasPermission('canSeeStorageMenu') && !vm.basicsettings.lightVersion"
                    ui-sref-active="active" ui-sref="storages">
                    <a href="" ng-click="vm.goToPage('storages.pending', '')" title="Storages"
                       ng-right-click="[{name:'Open in new tab', route:['storages.pending', ''], target:'_blank'}]"
                       ng-middle-click="{route:['storages.pending', '']}">
                        <i class="fa fa-fw fa-archive"></i>Storages
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a ui-sref="storages.pending" ui-sref-active="active" title="Pending Storage"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('storages.pending', {}), target:'_blank'}]">Pending
                                Storage
                            </a>
                        </li>
                        <li>
                            <a ui-sref="storages.tenants" ui-sref-active="active" title="Storage Tenants"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('storages.tenants', {}), target:'_blank'}]">Storage
                                Tenants
                            </a>
                        </li>
                        <li>
                            <a ui-sref="storages.storage" ui-sref-active="active" title="Storage"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('storages.storage', {}), target:'_blank'}]">Storage
                            </a>
                        </li>
                        <li>
                            <a ui-sref="storages.payment_collected" ui-sref-active="active" title="Payments Collected"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('storages.payment_collected', {}), target:'_blank'}]">Payments
                                Collected
                            </a>
                        </li>
                        <li style="display: none;">
                            <a ui-sref="storages.recurring" ui-sref-active="active" title="Recurring Revenue"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('storages.recurring', {}), target:'_blank'}]">Recurring
                                Revenue
                            </a>
                        </li>
                        <li>
                            <a ui-sref="storages.aging" ui-sref-active="active" title="Storage Aging"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('storages.aging', {}), target:'_blank'}]">Storage Aging
                            </a>
                        </li>
                        <li>
                            <a ui-sref="storages.invoices" ui-sref-active="active" title="Storage Invoices"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('storages.invoices', {}), target:'_blank'}]">Storage
                                Invoices</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-dropdown"
                    ng-show="vm.PermissionsServices.hasPermission('canSeeSettingsMenu');"
                    ui-sref-active="active" ui-sref="settings">
                    <a title="Settings" ng-click="vm.goToPage('settings.general', '')"
                       ng-right-click="[{name:'Open in new tab', route:['settings.general', ''], target:'_blank'}]"
                       ng-middle-click="{route:['settings.general', '']}">
                        <i class="fa fa-fw fa-cogs"></i>Settings
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a ui-sref="settings.general" ui-sref-active="active" title="general"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.general', {}), target:'_blank'}]">General
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.calculator" ui-sref-active="active" title="calculator"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.calculator', {}), target:'_blank'}]">Calculator
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.longdistance" ui-sref-active="active" title="long distance"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.longdistance', {}), target:'_blank'}]">Long
                                Distance
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.accountPageSettings" ui-sref-active="active" title="account page"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.accountPageSettings', {}), target:'_blank'}]">Account
                                Page
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.schedule" ui-sref-active="active" title="schedule"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.schedule', {}), target:'_blank'}]">Miscellaneous
                            </a>
                        </li>

                        <li>
                            <a ui-sref="settings.department" ui-sref-active="active" title="Department"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.department', {}), target:'_blank'}]">
                                Department
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.templatebuilder" ui-sref-active="active"
                               title="Email template builder"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.templatebuilder', {}), target:'_blank'}]">
                                Email template builder
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.smsTemplateBuilder" ui-sref-active="active" title="SMS Template Builder"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.smsTemplateBuilder', {}), target:'_blank'}]">
                                SMS template builder
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.notifications"
                               ui-sref-active="active" title="Notifications"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.notifications', {}), target:'_blank'}]">
                                Notifications
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.inventory"  ui-sref-active="active" title="Inventory">
                                Inventory
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.leadScoring" ui-sref-active="active" title="Lead scoring"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.leadScoring', {}), target:'_blank'}]">
                                Lead Scoring
                            </a>
                        </li>
                        <li>
                            <a ui-sref="settings.smsSetting" ui-sref-active="active" title="SMS Settings"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('settings.smsSetting', {}), target:'_blank'}]">
                                SMS Settings
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="support" title="support"
                       ng-right-click="[{name:'Open in new tab', route:['support', ''], target:'_blank'}]">
                        <i class="fa fa-fw fa-support"></i> Support
                    </a>
                </li>

                <li class="nav-dropdown"
                    ng-show="vm.PermissionsServices.hasPermission('canSeeStatisticsMenu');"
                    ui-sref-active="active" ui-sref="statistics">
                    <a href="" ng-click="vm.goToPage('statistics.byrole', '')" title="Statistics"
                       ng-right-click="[{name:'Open in new tab', route:['statistics.byrole', ''], target:'_blank'}]"
                       ng-middle-click="{route:['statistics.byrole', '']}">
                        <i class="fa fa-fw fa-bar-chart-o"></i> Statistics
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a ui-sref="statistics.byrole" ui-sref-active="active" title="Statistics"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('statistics.byrole', {}), target:'_blank'}]">Statistics
                            </a>
                        </li>
                        <li ng-hide="vm.userRoleIs.sales || vm.userRoleIs.customer_service || vm.userRoleIs.manager">
                            <a ui-sref="statistics.reviews" ui-sref-active="active"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('statistics.reviews', {}), target:'_blank'}]">Reviews</a>
                        </li>
                        <li ng-hide="vm.userRoleIs.sales || vm.userRoleIs.customer_service || vm.userRoleIs.manager">
                            <a ui-sref="statistics.ProfitLose" ui-sref-active="active" title="ProfitLoss"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('statistics.ProfitLose', {}), target:'_blank'}]">Profit and
                                Loss
                            </a>
                        </li>
						<li>
							<a ui-sref="statistics.invoices" ui-sref-active="active" title="Invoices"
							   ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('statistics.invoices', {}), target:'_blank'}]">Invoices
							</a>
						</li>
                        <li>
                            <a ui-sref="statistics.paymentsCollected" ui-sref-active="active" title="PaymentCollected"
                               ng-right-click="[{name:'Open in new tab',
                               href:vm.getHrefForContextmenu('statistics.paymentsCollected', {}), target:'_blank'}]">Payments Collected
                            </a>
                        </li>
                    </ul>
                </li>

                <li ui-sref-active="active" style="display: none;">
                    <a ui-sref="mails" title="Mail"
                       ng-right-click="[{name:'Open in new tab', route:['mails', ''], target:'_blank'}]">
                        <i class="fa fa-fw fa-envelope"></i> Mail
                    </a>
                </li>
            </ul>
            <i ng-show="vm.isShowBranches" class="branches-tooltip elromco-tooltip" title="Branches" elromco-tooltip>
                <i class="fa icon-globe">
                    <span>Branches</span>
                </i>
                <div class="rmtips">
                    <div ng-show="vm.fieldData.current_branch != branch.id" ng-repeat="branch in ::vm.branches">
                        <a class="branch-name" href="{{::branch.front_url}}/moveBoard/" title="{{::branch.name}}"
                           target="_self">
                            {{::branch.name}}
                        </a>
                    </div>
                </div>
            </i>
            <i ng-if="vm.PermissionsServices.isSuper()">
                <a href="{{::vm.apiUrl}}" target="_blank" style="color: #2e2e32">API URL</a>
                <a href="{{::vm.apiUrl}}/admin/config/system/cron" target="_blank" style="color: #2e2e32">CRON URL</a>
            </i>
        </div>
    </nav>
</div>
