<!--logo start-->
<div class="brand">
    <branch-logo></branch-logo>
</div>
<!--logo end-->
<ul class="nav navbar-nav navbar-left">
    <li class="toggle-navigation" toggle-left-sidebar></li>
    <li ng-hide="vm.userRoleIs.foreman || vm.userRoleIs.home_estimator">
        <div  data-cc-search-input ></div>
    </li>
    <li  ng-hide="vm.userRoleIs.foreman || vm.userRoleIs.home_estimator">
        <div  data-cc-request-btn></div>
    </li>
    <li ng-hide="vm.userRoleIs.foreman || vm.userRoleIs.home_estimator">
        <draft-request></draft-request>
    </li>
</ul>
<ul class="nav navbar-nav navbar-right"
    ng-if="!vm.isMobile">
    <li ng-if="vm.PermissionsServices.hasPermission('canSeeWhatCustomerViewRequest')"
        class="navbar-right__online-customers">
        <customer-online-panel></customer-online-panel>
    </li>
    <li ng-if="!vm.userRoleIs.foreman && vm.isDesktop && !vm.userRoleIs.home_estimator">
        <div class="slide-panel-invoker" slide-panel-invoker="vm.slidePanelOptions">
            <notification-sound ng-disabled="true"></notification-sound>
            <reminders-count></reminders-count>
        </div>
    </li>
    <li ng-if="!vm.userRoleIs.foreman && vm.isDesktop && !vm.userRoleIs.home_estimator">
        <div elromco-notifications-center></div>
    </li>
    <li>
        <div class="full-screen-block"><full-screen></full-screen></div>
    </li>
     <li class="dropdown profile">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <span class="meta">
                <span class="text">{{currentUser.userId.field_user_first_name}} {{currentUser.userId.field_user_last_name}}</span>
                <span class="caret"></span>
            </span>
        </a>
        <ul class="dropdown-menu animated flipInX" role="menu">
            <li>
                <a href="javascript:void(0);" ng-click="vm.Logout()">
                    <span class="icon"><i class="fa fa-sign-out"></i>
                    </span>Logout</a>
            </li>
        </ul>
    </li>

</ul>
<ng-include ng-if="vm.isMobile"
            src="'app/layout/mobile-log-out.tpl.html'"></ng-include>

