section(class="panel col-md-12 col-sm-12 col-lg-8")
	div(class="panel-body minimal")
		.saving-progress
			span(ng-show="data.saving") Saving
			span(class="animated  fadeIn" ng-show="data.saved") Saved!
		ul(class="nav nav-tabs")
			li(ng-repeat="tab in driverSettingsTabs track by $index" ng-class="{active: tab.selected}" heading="{{::tab.name}}" class="ng-isolate-scope")
				a(href="" ng-click="driverSettingsSelect(tab)" class="ng-binding") {{::tab.name}}
		.tab-wrapper
			.tab-content
				div(class="tab-pane ng-scope" ng-class="{active: driverSettingsTabs[0].selected}")
					div
						table(class="table table-striped")
							tbody
								tr(ng-repeat="values in longdistance.ldDriver.expenses track by $index")
									td(class="col-md-2 col-lg-2")
										input(ng-model="values.amount" class="form-control" ng-blur="saveChanges()" type="number")
									td(class="col-md-8 col-lg-7")
										input(ng-model="values.description" class="form-control" ng-blur="saveChanges()")
									td(class="col-md-2 col-lg-3")
										div(ng-click="removeItem('expenses', $index)" class="flag-remove pull-right")
											i(class="fa fa-trash-o" aria-hidden="true")
								tr(ng-if="data.addExpenses")
									td(class="col-md-2 col-lg-2")
										input(ng-model="newExpenses.amount" class="form-control" type="number")
									td(class="col-md-8 col-lg-7")
										input(ng-model="newExpenses.description" class="form-control")
									td(class="col-md-2 col-lg-3")
										.pull-right
											button(class="btn btn-warning" ng-click="data.addExpenses = false" ng-if="data.addExpenses")
												span(class="fa fa-times" aria-hidden="true")
											button(class="btn btn-success button-margin-left" ng-click="saveNewItem('expenses', newExpenses)" ng-if="data.addExpenses")
												span(class="fa fa-floppy-o" aria-hidden="true")
						div(ng-if='errorMessage && data.addExpenses' class='text-danger text-right') It is necessary to fill both fields
						button(class="btn btn-primary" ng-click="data.addExpenses = true" ng-disabled="data.addExpenses")
							i(class="fa fa-plus" aria-hidden="false") Add Expenses
				div(class="tab-pane ng-scope" ng-class="{active: driverSettingsTabs[1].selected}")
					div
						table(class="table table-striped")
							tbody
								tr(ng-repeat="values in longdistance.ldDriver.cash track by $index")
									td(class="col-md-2 col-lg-2")
										input(ng-model="values.amount" class="form-control" ng-blur="saveChanges()" type="number")
									td(class="col-md-8 col-lg-7")
										input(ng-model="values.description" class="form-control" ng-blur="saveChanges()")
									td(class="col-md-2 col-lg-3")
										div(ng-click="removeItem('cash', $index)" class="flag-remove pull-right")
											i(class="fa fa-trash-o" aria-hidden="true")
								tr(ng-if="data.addCash" class="")
									td(class="col-md-2 col-lg-2")
										input(ng-model="newCash.amount" class="form-control" type="number")
									td(class="col-md-8 col-lg-7")
										input(ng-model="newCash.description" class="form-control")
									td(class="col-md-2 col-lg-3")
										.pull-right
											button(class="btn btn-warning" ng-click="data.addCash = false" ng-if="data.addCash")
												span(class="fa fa-times" aria-hidden="true")
											button(class="btn btn-success button-margin-left" ng-click="saveNewItem('cash', newCash)" ng-if="data.addCash")
												span(class="fa fa-floppy-o" aria-hidden="true")
						div(ng-if='errorMessage && data.addCash' class='text-danger text-right') It is necessary to fill both fields
						button(class="btn btn-primary" ng-click="data.addCash = true" ng-disabled="data.addCash")
							i(class="fa fa-plus" aria-hidden="false") Add Cash
