<div class="modal-header gray">
      <span>Card Photo</span>
  </div>
    <div class="row">
      <div class="col-md-12">
        <img ng-src="{{img}}" style="width: 100%">
    </div>
  </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
</div>
