<style>
    .sk-cube-grid {
        margin-top: 15%;
        margin-left: 28%;
        position: fixed;
    }
    .ta-editor.ta-html, .ta-scroll-window.form-control {
        min-height: 60px;
    }
    .ta-scroll-window > .ta-bind {
        min-height: 60px;
    }
</style>
<div ng-controller="ContractSettingsCtrl as vm" id="contract-page" class="setting">
    <div class="tabs tabs-navigate">
        <ul>
            <li ng-repeat="(id, tab) in vm.tabs" class="tab tab-navigate" ng-class="{'active':tab.selected}" ng-click="vm.selectTab(id)">
                {{tab.name}}
            </li>
        </ul>
    </div>
    <div class="navigate container setting">
        <div class="row" style="width: 100%;">
            <!-- Tab panes -->
                <div class="contract" style="position: relative;">
                    <div class="busyoverlay" ng-if="vm.busy">
                        <div class="sk-cube-grid">
                            <div class="sk-cube sk-cube1"></div>
                            <div class="sk-cube sk-cube2"></div>
                            <div class="sk-cube sk-cube3"></div>
                            <div class="sk-cube sk-cube4"></div>
                            <div class="sk-cube sk-cube5"></div>
                            <div class="sk-cube sk-cube6"></div>
                            <div class="sk-cube sk-cube7"></div>
                            <div class="sk-cube sk-cube8"></div>
                            <div class="sk-cube sk-cube9"></div>
                        </div>
                    </div>
                    <div ng-if="vm.tabs.contract.selected">
                        <!-- header -->
                        <div class="row header">
                            <div class="col-md-2">
                               <img ng-src="{{basicSettings.company_logo_url}}" width="110px">
                            </div>
                            <div class="col-md-7">
                                <p class="bold uppercase padding-left-0">
                                    <text-angular ng-model="vm.contract_page.textContent.header"
                                       ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                         ['ul', 'ol'],
                                         ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                         ['fontColor', 'fontName', 'fontSize'],
                                         ['insertLink', 'insertImage'],
                                         ['undo', 'redo', 'clear', 'html']]" ta-unsafe-sanitizer="true"></text-angular></p>
                            </div>
                            <div class="col-md-3">
                                <p class="bold right uppercase">non negotiable</p>
                                <p class="bold uppercase">b/l</p>
                                <p class="bold uppercase">date of order <span class="detail"></span></p>
                            </div>
                            <div class="col-md-12">
                                <p class="blue uppercase bold left-offset"> carrier <span class="detail">{{vm.settings.company_name}} {{vm.settings.company_address}} | {{vm.settings.company_tall_free_phone | nationalPhoneFormatter}}</span></p>
                                <text-angular ng-model="vm.contract_page.textContent.welcome"
                                      ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                     ['ul', 'ol'],
                                     ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                     ['fontColor', 'fontName', 'fontSize'],
                                     ['insertLink', 'insertImage'],
                                     ['undo', 'redo', 'clear', 'html']]"
                                      ta-unsafe-sanitizer="true"></text-angular>
                            </div>
                        </div>
                        <!-- end header -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="contract-box">
                                    <div class="contract-box-content no-border border-bottom contract-setting-node">
                                        <p class="uppercase left-offset">
                                            <label for="allow_attach_to_email">Allow attach main page to e-mail</label>
                                            <input type="checkbox"
                                                   name="allow_attach_to_email"
                                                   id="allow_attach_to_email"
                                                   ng-model="vm.contract_page.allow_attach_to_email">
                                            </input>
                                        </p>
                                        <p class="uppercase left-offset">
                                            <label for="allow_download_and_print">Allow download and print</label>
                                            <input type="checkbox"
                                                    name="allow_download_and_print"
                                                    id="allow_download_and_print"
                                                    ng-model="vm.contract_page.allow_download_and_print">
                                            </input>
                                        </p>
                                        <p class="uppercase left-offset">
                                            <label for="allow_download_and_print">Allow send letter pdf</label>
                                            <input type="checkbox"
                                                   name="allow_send_letter_pdf"
                                                   id="allow_send_letter_pdf"
                                                   ng-model="vm.contract_page.allow_send_letter_pdf">
                                            </input>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- first additional custom content -->
                        <div class="row">
                            <div class="col-md-12 contract-box">
                                <text-angular ng-model="vm.contract_page.textContent.customContent1"
                                    ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                                    ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo'],
                                    ['fontColor', 'fontName', 'fontSize', 'backgroundColor'],
                                    ['table', 'columns'],
                                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'indent', 'outdent'],
                                    ['html', 'insertImage','insertLink', 'insertVideo'],
                                    ['additionalContract']]" ta-unsafe-sanitizer="true"></text-angular>
                            </div>
                        </div>
                        <!-- end of first additional custom content -->

                        <!-- shipper signature at origin -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contract-box">
                                    <div class="contract-box-content no-border border-bottom">
                                        <p class="inline-block orange bold uppercase left-offset">shipper or agent signature at origin</p>
                                        <p class="uppercase left-offset">
                                            <label for="first_signature">Show shipper or agent signature on contract</label>
                                            <input type="checkbox" name="first_signature" id="first_signature" ng-model="vm.contract_page.first_signature"/>
                                        </p>
                                        <p class="orange bold uppercase left-offset">received subject to tariff rule and regulations of the above named carrier</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end shipper signature at origin-->

                        <!-- origin and destination -->
                        <div class="row">
                            <trip-data-settings contract-page="vm.contract_page" type="origin"></trip-data-settings>
                            <trip-data-settings contract-page="vm.contract_page" type="destination"></trip-data-settings>
                        </div>
                        <!-- end origin and destination -->

                        <div class="row">
                            <div class="col-md-12 contract-box">
                                <div class="contract-box-content">
                                    <p class="title center underline blue left-offset">
                                        <input class="form-control services-title"
                                               ng-model="vm.contract_page.editableFields.localHourlyRatesOption"
                                               ng-blur="vm.checkEmptySettings('localHourlyRatesOption')"/>
                                    </p>
                                    <p class="paragraph">
                                        Confirm rate of $ 1 / hour for 3 movers 3 truck/s 10 ( minimum) hour.
                                        <text-angular ng-model="vm.contract_page.textContent.localHourlyRate" class="compact"
                                          ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                         ['ul', 'ol'],
                                         ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                         ['fontColor', 'fontName', 'fontSize'],
                                         ['insertLink', 'insertImage'],
                                         ['undo', 'redo', 'clear', 'html']]"
                                          ta-unsafe-sanitizer="true"></text-angular>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="col-md-12 contract-box">
                                <div class="contract-box-content">
                                    <p class="title center underline blue left-offset">
                                        <input class="form-control services-title"
                                               ng-model="vm.contract_page.editableFields.longDistanceFlatRatesOption"
                                               ng-blur="vm.checkEmptySettings('longDistanceFlatRatesOption')"/>
                                    </p>
                                    <p class="paragraph">
                                        Confirm rate of $ 10 for household goods shipment moving from 20 to 3.
                                        <text-angular ng-model="vm.contract_page.textContent.longRates" class="compact"
                                          ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                         ['ul', 'ol'],
                                         ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                         ['fontColor', 'fontName', 'fontSize'],
                                         ['insertLink', 'insertImage'],
                                         ['undo', 'redo', 'clear', 'html']]"
                                          ta-unsafe-sanitizer="true"></text-angular>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- second additional custom content -->
                        <div class="row">
                            <div class="col-md-12 contract-box">
                                <text-angular ng-model="vm.contract_page.textContent.customContent2"
                                    ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                                    ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo'],
                                    ['fontColor', 'fontName', 'fontSize', 'backgroundColor'],
                                    ['table', 'columns'],
                                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'indent', 'outdent'],
                                    ['html', 'insertImage','insertLink', 'insertVideo'],
                                    ['additionalContract']]" ta-unsafe-sanitizer="true"></text-angular>
                            </div>
                        </div>
                        <!-- end of second additional custom content -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="contract-box">
                                    <div class="contract-box-content no-border-bottom">
                                        <p class="title center underline">
                                            <input class="form-control services-title"
                                                   ng-model="vm.contract_page.editableFields.detailsLaborCharges"
                                                   ng-blur="vm.checkEmptySettings('detailsLaborCharges')"/>
                                        </p>

                                        <!-- info rows -->
                                        <div class="info-rows">
                                            <div class="timer-btns left-offset">
                                            </div>
                                            <table class="table table-responsive table-timer">
                                                <tr>
                                                    <th>Time</th>
                                                    <th>Customers Initials</th>
                                                </tr>
                                                <tr >
                                                    <td>
                                                        <p>Start Time:
                                                            <input cc-start-time=""
                                                                   type="text"
                                                                   id="edit-start-time"
                                                                   name="start_time" size="60" maxlength="128"
                                                                   class="form-text md ui-timepicker-input"
                                                                   autocomplete="off">
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <!--<p class="orange inline-block">Customer Initials</p>-->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>Time Off: &nbsp&nbsp
                                                            <input cc-travel-time=""

                                                                   type="text"
                                                                   id="edit-time-off"
                                                                   name="time_off" size="60" maxlength="128"
                                                                   class="form-text md ui-timepicker-input"
                                                                   autocomplete="off"
                                                                   >

                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>End Time:&nbsp
                                                            <input cc-start-time=""
                                                                   type="text"
                                                                   id="edit-end-time"
                                                                   name="start_time" size="60" maxlength="128"
                                                                   class="form-text md ui-timepicker-input"
                                                                   autocomplete="off">
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <!--<p class="orange inline-block">Customer Initials</p>-->
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                        <!-- table -->
                                        <table>
                                            <tr>
                                                <td class="big-padding no-border-left">description</td>
                                                <td  class="big-padding">#trucks</td>
                                                <td  class="big-padding">#movers</td>
                                                <td  class="big-padding">rate per hr.</td>
                                                <td  class="big-padding">number of hours</td>
                                                <td  class="big-padding no-border-right">total</td>
                                            </tr>
                                            <tr>
                                                <th class="no-border-left">CREW</th>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td class="no-border-right">0</td>
                                            </tr>
                                            <tr>
                                                <th class="no-border-left">Travel Time</th>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td class="no-border-right"> 0 </td>
                                            </tr>
                                            <tr>
                                                <th class="no-border-left" colspan="3">Total hourly charge</th>
                                                <td>0</td>
                                                <td>0</td>
                                                <td class="no-border-right">0</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="contract-box">
                                    <div class="contract-box-content">
                                        <p class="title underline left-offset">
                                            <input class="form-control services-title"
                                                   ng-model="vm.contract_page.editableFields.declarationValue"
                                                   ng-blur="vm.checkEmptySettings('declarationValue')"/>
                                        </p>
                                        <ul class="dolc">
                                            <li>
                                                <textarea class="editable" ng-change="vm.isSubmitted = false"
                                                          ng-model="vm.contract_page.textContent.declarUp">{{ vm.contract_page.textContent.declarUp }}
                                                </textarea>
                                            </li>
                                            <li ng-repeat="declarObj in vm.contract_page.declarations" class="clearfix">
                                                <span class="capital">{{ declarObj.index }}</span>
                                                <textarea class="editable left-edit" edit-declaration-text="" ng-change="vm.isSubmitted = false" ng-model="declarObj.description">{{ declarObj.description }}</textarea>
                                            </li>
                                            <li>
                                                <textarea class="editable" ng-change="vm.isSubmitted = false"
                                                          ng-model="vm.contract_page.textContent.declarDown">{{ vm.contract_page.textContent.declarDown }}
                                                </textarea>
                                            </li>
                                            <li>
                                                <label>Customer value declaration:</label>
                                                <textarea class="editable" ng-change="vm.isSubmitted = false"
                                                          ng-model="vm.contract_page.textContent.declarCustomer">{{ vm.contract_page.textContent.declarCustomer }}
                                                </textarea>
                                            </li>
                                            <li>
                                                <label>Show Customer value declaration</label>
                                                <input type="checkbox" ichecks="" ng-change="vm.isSubmitted = false" ng-model="vm.contract_page.textContent.showDeclarCustomer">
                                            </li>
                                        </ul>
                                       </div>
                                </div>
                                <div class="contract-box">
                                    <div class="contract-box-content">
                                        <p class="title underline left-offset">
                                            <input class="form-control services-title"
                                                   ng-model="vm.contract_page.editableFields.servicesTitle"
                                                   ng-blur="vm.checkEmptySettings('servicesTitle')"/>
                                        <button class="btn btn-info pull-right" style="height: 35px;margin-right: 5px;" ng-click="vm.addNewStorageFit()">Add</button>
                                        </p>
                                        <div sf-text-box data="vm.contract_page.textContent"></div>
                                        <div class="row">
                                            <div class="col-md-12" style="padding-left: 20px; padding-top: 15px;">
                                                <button class="btn btn-info" ng-click="vm.setDefaultStorage()">Set default settings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contract-box no-margin-top">
                                    <div class="contract-box-content no-border">
                                        <table>

                                            <tr>
                                                <th><p class="blue">packing and unpacking</p></th>
                                                <th>No</th>
                                                <th>rate</th>
                                                <th>amount</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="large" type="text">
                                                </td>
                                                <td>
                                                    <select name="quantity" id="quantity">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    $ <input class="small" type="text" value="0">
                                                </td>
                                                <td>
                                                    0
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <p class="bold">
                                                        <a href='javascript:;' class="right" >
                                                            + add a packing
                                                        </a>
                                                    </p>

                                                </td>
                                            </tr>
                                            <!-- total -->
                                            <tr>
                                                <td colspan="3">
                                                    <p class="blue right">total packing charges</p>
                                                </td>
                                                <td>$ 0 </td>
                                            </tr>

                                            <!-- additional services -->
                                            <tr>
                                                <th colspan="2"><p class="blue">ADDITIONAL SERVICE CHARGE</p></th>
                                                <th colspan="2">Cost</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <input class="large" type="text">
                                                </td>
                                                <td colspan="2">
                                                    $<input class="" type="text" value="0">
                                                </td>
                                            </tr>
                                            <tr >
                                                <td colspan="4">
                                                    <p class="bold">
                                                        <a class="right">
                                                          + add a service
                                                        </a>
                                                    </p>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <p class="blue right">total Extra charges</p>
                                                </td>
                                                <td>$ 0</td>
                                            </tr>

                                            <tr>
                                                <td colspan="5">
                                                    <p class="bold center">Total</p>
                                                </td>
                                            </tr>

                                            <!-- tip -->
                                            <tr>
                                                <td colspan="2">
                                                    <p class="bold">TIP:</p>
                                                </td>
                                                <td colspan="2">
                                                    $ <input type="number">
                                                </td>
                                            </tr>
                                            <!-- Discount -->
                                            <tr>
                                                <td colspan="2">
                                                    <p class="bold">Discount:</p>
                                                </td>
                                                <td colspan="2">
                                                    $ <input type="number" >
                                                </td>
                                            </tr>

                                            <!-- credit charge tax -->
                                            <tr>
                                                <td colspan="2">
                                                    <input placeholder="Type text..." ng-model="vm.contract_page.paymentTax.customTax.text" ng-disabled="!vm.contract_page.paymentTax.customTax.state" class="form-control">
                                                </td>
                                                <td colspan="2">
                                                    %<input type="number" ng-disabled="!vm.contract_page.paymentTax.customTax.state" ng-model="vm.contract_page.paymentTax.customTax.value" class="medium">
                                                    <span class="pull-right"><input type="checkbox" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="vm.contract_page.paymentTax.customTax.state" id="checkOne" data-switchery="true" style="display: none;"></span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">
                                                    <p class="bold">
                                                        Credit Card processing fee:
                                                    </p>
                                                </td>
                                                <td colspan="2">
                                                    %<input type="number" ng-disabled="!vm.contract_page.paymentTax.creditCharge.state" ng-model="vm.contract_page.paymentTax.creditCharge.value" class="medium">
                                                    <span class="pull-right"><input type="checkbox" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="vm.contract_page.paymentTax.creditCharge.state" id="checkOne" data-switchery="true" style="display: none;"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <p class="bold">
                                                        Cash (discount):
                                                    </p>
                                                </td>
                                                <td colspan="2">
                                                    %<input type="number" ng-disabled="!vm.contract_page.paymentTax.cashCharge.state" ng-model="vm.contract_page.paymentTax.cashCharge.value" class="medium">
                                                    <span class="pull-right"><input type="checkbox" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="vm.contract_page.paymentTax.cashCharge.state" id="checkOne" data-switchery="true" style="display: none;"></span>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="option in vm.contract_page.paymentOptions | limitTo :
                                                           vm.contract_page.paymentOptions.length - vm.countBasePayment :
                                                           vm.countBasePayment">
                                                <td colspan="2">
                                                    <p class="bold" ng-bind="option.name"></p>
                                                    <span class="bold">processing fee</span>
                                                </td>
                                                <td colspan="2">
                                                    %<input type="number"
                                                            ng-disabled="!vm.contract_page.paymentTax[option.name].state"
                                                            ng-model="vm.contract_page.paymentTax[option.name].value"
                                                            class="medium">
                                                    <span class="pull-right">
                                                        <input type="checkbox"
                                                                class="js-switch"
                                                                ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                                                ng-model="vm.contract_page.paymentTax[option.name].state"
                                                                id="checkOne"
                                                                data-switchery="true"
                                                                style="display: none;">
                                                    </span>
                                                </td>
                                            </tr>
                                            <!-- total cost -->
                                            <tr>
                                                <td colspan="2">
                                                    <p class="bold">
                                                        <input class="form-control"
                                                               ng-model="vm.contract_page.editableFields.totalCost"
                                                               ng-blur="vm.checkEmptySettings('totalCost')"/>
                                                    </p></td>
                                                <td colspan="2">
                                                    $ 0
                                                </td>
                                            </tr>

                                            <!-- receive id -->
                                            <tr>
                                                <td colspan="2">
                                                    <p class="bold">
                                                        <input class="form-control"
                                                               ng-model="vm.contract_page.editableFields.reservationReceivid"
                                                               ng-blur="vm.checkEmptySettings('reservationReceivid')"/>
                                                    </p>
                                                </td>
                                                <td colspan="2">
                                                    $ ( - 0  )
                                                </td>
                                            </tr>

                                            <!-- less deposit -->
                                            <tr>
                                                <td colspan="2">
                                                    <p class="bold">
                                                        <input class="form-control"
                                                               ng-model="vm.contract_page.editableFields.totalLessDepositReceived"
                                                               ng-blur="vm.checkEmptySettings('totalLessDepositReceived')"/>
                                                    </p></td>
                                                <td colspan="2">
                                                    $0
                                                </td>
                                            </tr>



                                            <!-- total balance paid -->
                                            <tr>
                                                <td colspan="2">
                                                    <p class="bold">
                                                    <input class="form-control"
                                                           ng-model="vm.contract_page.editableFields.totalBalancePaid"
                                                           ng-blur="vm.checkEmptySettings('totalBalancePaid')"/>
                                                    </p>
                                                </td>
                                                <td colspan="2">
                                                    $ 0
                                                    </td>
                                            </tr>

                                            <!-- balance due at delivery -->
                                            <tr ng-if="request.service_type.value == 7">
                                                <td colspan="2">
                                                    <p class="bold">

                                                        Balance due at delivery:
                                                    </p></td>
                                                <td colspan="2">
                                                 $ 0
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- third additional custom content -->
                        <div class="row">
                            <div class="col-md-12 contract-box">
                                <text-angular ng-model="vm.contract_page.textContent.customContent3"
                                    ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                                    ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo'],
                                    ['fontColor', 'fontName', 'fontSize', 'backgroundColor'],
                                    ['table', 'columns'],
                                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'indent', 'outdent'],
                                    ['html', 'insertImage','insertLink', 'insertVideo'],
                                    ['additionalContract']]" ta-unsafe-sanitizer="true"></text-angular>
                            </div>
                        </div>
                        <!-- end of third additional custom content -->

                        <div class="row">
                            <div class="col-md-12 contract-box">
                                <div class="contract-box-content" style="padding: 20px;">
                                    <text-angular ng-model="vm.contract_page.textContent.last"
                                      ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                     ['ul', 'ol'],
                                     ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                     ['fontColor', 'fontName', 'fontSize'],
                                     ['insertLink', 'insertImage'],
                                     ['undo', 'redo', 'clear', 'html']]"
                                      ta-unsafe-sanitizer="true"></text-angular>
                                    <!-- info rows -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="padding: 20px;">
                                    <text-angular ng-model="vm.contract_page.textContent.footer"
                                      ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                         ['ul', 'ol'],
                                         ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                         ['fontColor', 'fontName', 'fontSize'],
                                         ['insertLink', 'insertImage'],
                                         ['undo', 'redo', 'clear', 'html']]" ta-unsafe-sanitizer="true"></text-angular>
                                </div>
                                <p class="bold center top">
                                    (See contract <span class="blue underline">terms and conditions</span>)
                                </p>
                            </div>
                        </div>

                    </div>
                    <div ng-show="vm.tabs.releaseForm.selected">
                        <div class="row" ng-if="vm.settings">
                            <div class="col-md-12">
                                <div class=" contract-box">
                                    <div class="contract-box-content" style="padding: 20px;">
                                        <div release-form-settings release-settings="vm.contract_page"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.tabs.ownPages.selected">
                        <div class="row">
                            <div class=" contract-box">
                                <div class="contract-box-content" style="padding: initial;">
                                    <div additional-contract-settings contract-settings="vm.contract_page"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.tabs.rentalAgreement.selected">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" contract-box">
                                    <div class="contract-box-content" style="padding: 20px;">
                                        <p class="title center underline blue left-offset">Notice of lien</p>
                                        <text-angular ng-model-options="{ updateOn: 'blur' }" ng-model="vm.contract_page.rentalAgreement.noticeOfLien"
                                              ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                             ['ul', 'ol'],
                                             ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                             ['fontColor', 'fontName', 'fontSize'],
                                             ['insertLink', 'insertImage'],
                                             ['undo', 'redo', 'clear', 'html']]"
                                            ta-unsafe-sanitizer="true"></text-angular>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class=" contract-box">
                                    <div class="contract-box-content" style="padding: 20px;">
                                        <p class="title center underline blue left-offset">Payment settings</p>
                                        <div class="row" ng-repeat="(id, settings) in vm.contract_page.rentalAgreement.paymentSettings">
                                            <div class="col-xs-12">
                                                <label for="{{id}}">
                                                    <i class="fa {{vm.rentalIcons(settings.alias)}}" aria-hidden="true" ></i>
                                                    Show {{settings.name}} option
                                                </label>
                                                <input type="checkbox" name="{{id}}" id="{{id}}" ng-model="settings.selected"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vm.tabs.terms.selected">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" contract-box">
                                    <div class="contract-box-content" style="padding: 20px;">
                                        <p class="title center underline blue left-offset">Terms and Conditions</p>
                                        <text-angular ng-model-options="{ updateOn: 'blur' }" ng-model="vm.contract_page.terms"
                                              ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                             ['ul', 'ol'],
                                             ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                             ['fontColor', 'fontName', 'fontSize'],
                                             ['insertLink', 'insertImage'],
                                             ['undo', 'redo', 'clear', 'html']]"
                                              ta-unsafe-sanitizer="true"></text-angular>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="bold center top">
                        <button class="btn btn-lg btn-info" ng-click="vm.save(true)">Save Changes</button>
                    </p>
                </div>
        </div>
    </div>
</div>
