<div ng-controller="ContractCtrl" id="contract-page">
    <div class="navigate container" ng-class="{'contract-page-flippy': navigation.active === 1}">
        <div class="row">
            <ul class="nav nav-tabs page-tabs"
				ng-class="{'contract-page-flippy-nav-tab': navigation.active === 1}">
                <li id="tab_{{page}}"
					ng-repeat="page in navigation.pages track by $index"
                    ng-class="{'active': navigation.active == $index}"
                    ng-click="navigation.active = $index" ng-hide="($index == 2 && hideRentalTab()) || ($index == 3 && hideInventoryTab()) || ($index == 4 && hideAddInventoryTab()) || ($index == 5 && hideSecondAddInventoryTab())">
                    <a href="javascript:;">{{ page }}</a>
                </li>
                <li ng-if="isForeman">
                    <a href="/moveBoard/#/foreman/new-jobs" target="_self" class="pull-right btn">Return to foreman page</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="reservation_page" class="tab-pane" ng-class="{'active': navigation.active === 0}" >
                    <ng-include src="'app/requestpage/templates/reservation_page.html'"></ng-include>
                </div>
                <div id="local_moves" class="tab-pane" ng-class="{'active': navigation.active === 1}" >
                    <div id="stylesheet"></div>
                    <ng-include src="'app/contractpage/templates/billOfLanding.html'"></ng-include>
                </div>
                <div class="tab-pane" ng-class="{'active': navigation.active === 2}">
                    <lease-agreement ng-if="request.request_all_data && !busy"
                                     request="request"
                                     navigation="navigation"
                                     if-storage="ifStorage"
                                     data="data"
                                     additional-services="additionalServices"
                                     content="content"
                                     save-contract="saveContract({missModalClose: missModalClose})">
                    </lease-agreement>
                    <signature-modal signature-type="signatureAgreement" save-step="saveSignature()"></signature-modal>
                </div>
                <div id="contract_inventory_moving"  class="tab-pane" ng-if="navigation.active == 3" ng-class="{'active': navigation.active === 3}" >
                    <contract-inventory-moving data="data"
                                               name="inventoryMoving"
                                               request="request"
                                               list="inventoryList"
                                               inv-count="inventoryCount"
                                               inv-length="inventoryLength"
                                               if-storage="ifStorage"
                                               is-overnight="isOvernight"
                                               navigation="navigation"
                                               save-contract="saveContract({callback: callback})"
                                               load-inventory="loadInventory(data)">
                    </contract-inventory-moving>
                </div>
                <div id="contract_add_inventory_moving" class="tab-pane" ng-if="navigation.active == 4" ng-class="{'active': navigation.active === 4}">
                    <contract-inventory-moving data="data"
                                               name="addInventoryMoving"
                                               request="request"
                                               list="addInventoryList"
                                               inv-count="addInventoryCount"
                                               inv-length="addInventoryLength"
                                               if-storage="ifStorage"
                                               is-overnight="isOvernight"
                                               navigation="navigation"
                                               save-contract="saveContract({callback: callback})"
                                               load-inventory="loadInventory(data)">
                    </contract-inventory-moving>
                </div>
                <div id="contract_add_inventory_moving" class="tab-pane" ng-if="navigation.active == 5" ng-class="{'active': navigation.active === 5}">
                    <contract-inventory-moving data="data"
                                               name="secondAddInventoryMoving"
                                               request="request"
                                               list="secondAddInventoryList"
                                               inv-count="secondAddInventoryCount"
                                               inv-length="secondAddInventoryLength"
                                               if-storage="ifStorage"
                                               is-overnight="isOvernight"
                                               navigation="navigation"
                                               save-contract="saveContract({callback: callback})"
                                               load-inventory="loadInventory(data)">
                    </contract-inventory-moving>
                </div>
                <div id="contract_photos"  class="tab-pane" ng-class="{'active': navigation.active === 6}" >
                    <ng-include src="'app/contractpage/templates/photos.html'"></ng-include>
                </div>
                <div id="release_form"  class="tab-pane" ng-class="{'active': navigation.active === 7}" >
                    <release-form ng-if="!oldVersionOfReleaseForm && !isEmpty(request) && requestReady"></release-form>
                    <release-form-old ng-if="oldVersionOfReleaseForm && !isEmpty(request) && requestReady"></release-form-old>
                </div>
                <div id="review"
                     class="tab-pane"
                     ng-class="{'active': navigation.active === 8}" >
                    <review-form request="request"
                                 data="data"
                                 save-contract="saveContract"></review-form>
                </div>

                <div class="busyoverlay" ng-show="busy">
                    <div class="sk-cube-grid">
                        <div class="sk-cube sk-cube1"></div>
                        <div class="sk-cube sk-cube2"></div>
                        <div class="sk-cube sk-cube3"></div>
                        <div class="sk-cube sk-cube4"></div>
                        <div class="sk-cube sk-cube5"></div>
                        <div class="sk-cube sk-cube6"></div>
                        <div class="sk-cube sk-cube7"></div>
                        <div class="sk-cube sk-cube8"></div>
                        <div class="sk-cube sk-cube9"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
