<div flow-init flow_name="uploader.flow" flow-files-submitted="" flow-file-added="" ng-class="{'disabled': busy}" style="text-align: center">
  <div class="drop" flow-drop="" ng-class="dropClass">
    <span class="btn btn-inv-default" flow-btn="">Upload Image<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
    <b>OR</b>
    Drag And Drop your images here
  </div>
  <br>
  <div>
    <div style="text-align: center">
        <div ng-repeat="image in images" class="gallery-box" style="text-align: center; width: 30%;">
            <a ng-click="openLightboxModal($index)">
                <img ng-if="image.hasOwnProperty('url')" ng-src="{{image.url}}" class="img-thumbnail">
            </a>
            <div class="btn-group">
                <input type='text' style="float: left;margin:5px 10px 0 0;border:0;" ng-value="image.title" />
              <span class="btn btn-xs btn-danger" ng-click="removePhoto(image.fid, $index)" style="margin-top:15px;">
                Remove
              </span>
            </div>
        </div>
    </div>
    <div style="border-top: 1px solid #ddd" ng-show="$flow.files.length">
      <div ng-repeat="file in $flow.files" class="gallery-box" style="width: 30%;">
        <div style="min-height: 18px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" class="title">{{file.title}}</div>
        <div class="thumbnail" ng-show="$flow.files.length">
          <img flow-img="file">
          <input style="width: 100%;margin-top: 5px;border-radius: 2px; border: 1px solid #ddd; padding: 0 5px;" type="text" placeholder="title" ng-model="file.title">
        </div>

        <div style="display: none;" class="progress progress-striped" ng-class="{active: file.isUploading()}">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
            <span class="sr-only">1% Complete</span>
          </div>
        </div>
        <div class="btn-group">
          <span class="btn btn-xs btn-danger" ng-click="file.cancel()">
            Remove
          </span>
        </div>
      </div>
        <div style="margin: 0 10px 10px 10px;">
            <span class="btn btn-inv-default" style="background-color: #F96C45 !important;" ng-click="savePhotos($flow.files);">Save Photos</span>
        </div>
    </div>
      <div class="clear"></div>
  </div>
</div>
