<div ng-attr-id="{{signatureType}}Pad" class="modal fade in contract" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="signature-form">
                    <div class="signature-times"></div>
                    <hr class="signature-underline">
                </div>
                <canvas ng-attr-id="{{signatureType}}Canvas" width="1800" height="450"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default pull-left" ng-click="cancel()">Clear</button>
                <button type="button" class="btn btn-lg btn-primary" ng-click="saveStep()">Save Signature</button>
                <button type="button" class="btn btn-lg btn-default pull-left" ng-click="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
