<div class="switchModal">
    <div class="modal-header">
        <h2>Select switched helpers work time</h2>
    </div>
    <div class="modal-body">
        <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
        </div>
        <form class="form form-horizontal" name="switcherForm">
            <div class="col-xs-12">
                <legend class="row">
                    <span class="col-xs-9 no-padding">Switcher <small>/hours</small></span>
                    <span class="col-xs-3 no-padding">Helper <small>/hours</small></span>
                </legend>
            </div>
            <div class="form-group" ng-repeat="worker in workers track by $index">
                <div class="col-xs-12" >
                    <div class="row">
                        <div class="col-xs-8" ng-init="index = 'to_'+$index">
                            <label for="{{ index }}" style="width: 120px;">{{ worker.to.field_user_first_name }} {{ worker.to.field_user_last_name }}</label>
                            <input style='width:60px;' type="number" ng-init='workTimes[worker.to.uid] = 0' ng-model="workTimes[worker.to.uid]" name="{{ index }}" min="0" max="{{ workDuration }}" /> / {{ workDuration }} Hour
                            <div class="clearfix">
                                <small id="helpBlock2" class="text-danger" ng-show="switcherForm[index].$invalid" > * Please Select Number between 0 - {{ :: workDuration }}</small>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <label class="row">
                                {{ worker.from.field_user_first_name }} {{ worker.from.field_user_last_name }} - {{ workDuration - workTimes[worker.to.uid] | number:2 }} hour
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="saveWorkHours()" data-ng-disabled="switcherForm.$invalid">Ok</button>
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
    </div>
</div>
