.valuation-confirmation-setting-wrapper
	background-color #fff
	&__header
		padding 1em
		background-color #556b8d
		display flex
		justify-content space-between
		align-items center
	&__title
		color #fff
	&__body
		padding 1em
	&__global-setting
		display flex
		justify-content space-between
		align-items center
		margin-bottom 1em
		padding-bottom 1em
		border-bottom 1px solid #ebebeb
		.md-primary
			margin 0 !important

@media all and (max-width 782px)
	.valuation-confirmation-setting-wrapper
		&__title
			text-overflow ellipsis
			white-space nowrap
			overflow hidden
			width 250px

