<div class="valuation-confirmation-setting-wrapper">
    <div class="valuation-confirmation-setting-wrapper__header">
        <h3 class="valuation-confirmation-setting-wrapper__title">Confirmation Page Options</h3>
        <button class="btn btn-sm"
                ng-class="{'btn-primary disabled': !directivePresets.changes, 'btn-danger': directivePresets.changes}"
                ng-click="vm.updateValuationSetting(directivePresets)">Save Settings</button>
    </div>
    <div class="valuation-confirmation-setting-wrapper__body">
        <div class="valuation-confirmation-setting-wrapper__body-setting-wrapper">
            <div class="valuation-confirmation-setting-wrapper__body-setting">
                <md-checkbox ng-model="directivePresets.all"
                             class="md-primary"
                             ng-change="vm.checkAll(directivePresets)">All</md-checkbox>
            </div>
            <div class="valuation-confirmation-setting-wrapper__body-setting"
                 ng-repeat="(key, item) in directivePresets.setting track by key">
                <md-checkbox ng-model="item"
                             class="md-primary"
                             ng-change="vm.switchItem(directivePresets, key, item)">
                    {{key | serviceTypeFilter}}
                </md-checkbox>
            </div>
        </div>
    </div>
</div>
