<div class="modal-header gray edit-request-main">
	<span class="reqheader" style="display:none">Request# {{request.nid}} | </span>
	<span class="client client-info"
		  ng-if="request.move_size.raw != 11 && !request.field_commercial_company_name.value.length"
		  title="{{request.name}}">
        <i class="icon-user"></i> {{request.name}}
    </span>
	<span class="client client-info"
		  ng-if="request.move_size.raw == 11 && request.field_commercial_company_name.value.length"
		  title="{{request.field_commercial_company_name.value}}">
        <i class="fa fa-home" aria-hidden="true"></i> {{request.field_commercial_company_name.value}}
    </span> |
	<span class="email">
      <i class="fa fa-fw fa-envelope-o"></i> {{request.email | limitTo:25}}
    </span> |
	<span class="phone">
        <i class="icon-screen-smartphone"></i>
		<a href="tel:{{request.phone}}">{{request.phone | nationalPhoneFormatter}}</a>
    </span> |
	<span class="hstatus">
        <i class="icon-flag"></i>
    {{fieldData.field_lists.field_approve[request.status.raw]}}
    </span> |
	<span>
        <i class="icon-magic-wand"></i> {{editUser}} |
        <span ng-if="(admin || isCurrentUserHaveEditPermission) && !canedit" class="release_button" ng-click="ReleaseEdit()">Release</span>
    </span>
	<span uib-dropdown on-toggle="toggled(open)" id="company-flags">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        <span ng-style="{color: currentFlag.color}">
          <i class="fa fa-flag" aria-hidden="true"></i>
          {{currentFlag.name}}
        </span>
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <div class="log-arrow-up"></div>
        <li>
          <a href ng-click="removeFlag(request.nid)">remove flag</a>
          <hr class="dropdown-hr">
        </li>
        <li ng-repeat="(key,flag) in companyFlags track by $index">
          <a href ng-click="changeFlag(flag)" ng-style=" {color: flag.color}">{{flag.name}}</a>
          <hr ng-hide="companyFlags.length == key+1">
        </li>
      </ul>
    </span>
	<span ng-show="request.showQuickBooksStatus">
        |
        <span >{{request.quickBookFlag}}</span>
        <img class="edit-request__quickbooks-icon" src="../../../../content/img/qb.png">
    </span>
	<div class="actions pull-right"
		 ng-if="isDesktop">
		<i class="icon-calculator"></i>
		<span class="switchery-calc" ng-click="switchCalc()"
			  ng-class="{'on':request.field_usecalculator.value , 'off' :!request.field_usecalculator.value}">
                 <small></small>
         </span>
		<i ng-if="isDesktop" modal-toggle="" nid="{{request.nid}}" class="hide-request-modal-arrow fa fa-chevron-down"></i>
		<button type="button" class="close" ng-click="cancel()">&times;</button>
	</div>
</div>
<div class="modal-header request-top-nav edit-request-main">
	<ul class="nav nav-tabs">
		<li ng-class="{active: tabs[0].selected}" heading="{{tabs[0].name}}" class="ng-isolate-scope">
			<a href="javascript:void(0)" ng-click="select(tabs[0])">{{tabs[0].name}}</a>
		</li>
		<li ng-show="request.service_type.raw == 5" ng-class="{active: tabs[6].selected, 'disabled': disableTabs}" heading="{{tabs[6].name}}"
			class="ng-isolate-scope">
			<a href="javascript:void(0)" ng-click="select(tabs[6])" ng-class="{'inventory_filled':isOptionsChanged()}">{{tabs[6].name}}</a>
		</li>
		<li ng-class="{active: tabs[1].selected,'disabled': disableTabs}" heading="{{tabs[1].name}}" class="ng-isolate-scope" >
			<span ng-show="request.inventory.inventory_list.length" class="inventoryfill"><i class="fa fa-bolt"></i>{{request.inventory_weight.cfs}}</span>
			<span ng-show="isHaveRedPiano" class="inventoryfill inventoryfill_left"><img src="../../../../content/img/icons/piano-alert.png"/></span>
			<a href="javascript:void(0)" ui-sref="newinventory.page({id: {{request.nid}} })" ng-if="!isDesktop && request.field_request_settings.inventoryVersion == 2" ng-class="{'inventory_filled':request.inventory.inventory_list.length}">{{tabs[1].name}}</a>
			<a href="javascript:void(0)" ng-if="isDesktop || request.field_request_settings.inventoryVersion != 2" ng-click="select(tabs[1])" ng-class="{'inventory_filled':request.inventory.inventory_list.length}">{{tabs[1].name}}</a>
		</li>
		<li ng-class="{active: tabs[2].selected,'disabled': disableTabs}" heading="{{tabs[2].name}}" class="ng-isolate-scope">
            <span ng-show="isHavePhoto" class="inventoryfill inventoryfill_left">
                <img src="../../../../content/img/icons/photo.png">
            </span>
			<a href="javascript:void(0)" ng-click="select(tabs[2])" ng-class="{'inventory_filled':isDetailsChanged()}">{{tabs[2].name}}</a>
		</li>
		<li ng-class="{active: tabs[3].selected}" heading="{{tabs[3].name}}" class="ng-isolate-scope">
            <span ng-show="request.messages" class="messagenotify" style="color: #373737;">
                <i class="fa  fa-comment-o"></i>{{request.messages}}
            </span>
			<a href="javascript:void(0)" ng-click="select(tabs[3])">{{tabs[3].name}}</a>
		</li>
		<li ng-class="{active: tabs[4].selected}" heading="{{tabs[4].name}}" class="ng-isolate-scope">
			<a href="javascript:void(0)" ng-click="select(tabs[4])">{{tabs[4].name}}</a>
			<img src="../../../../content/img/warning.png"
				 alt="Draft Request"
				 class="draft-request"
				 ng-if="isDraftRequest">
		</li>
		<li ng-class="{active: tabs[5].selected}" heading="{{tabs[5].name}}" class="ng-isolate-scope">
			<a href="javascript:void(0)" ng-click="select(tabs[5])">{{tabs[5].name}}</a>
		</li>
		<li ng-class="{active: tabs[7].selected}" heading="{{tabs[7].name}}" class="ng-isolate-scope">
			<a href="javascript:void(0)" ng-click="select(tabs[7])">{{tabs[7].name}}</a>
		</li>
	</ul>
</div>

<div class="tab-wrappe">
    <div class="tab-content" ng-class="{'disabled':!canedit}">
        <div class="tab-pane">
            <div ng-include="template.url"></div>
        </div>
    </div>
</div>

<div ng-if="!isDesktop">
    <button class="mobile-save-changes bottom-right blue"
            ng-click="saveChanges()">
        <img src="../../../inhome-estimator-portal/src/update.png"
             alt="Save Changes">
    </button>

    <button class="mobile-save-changes bottom-left grey"
            ng-click="cancel()">
        <img src="../../../inhome-estimator-portal/src/home-white.png"
             alt="Close">
    </button>
</div>
