contextSideBarBorderColor = #3f7fc6
.fullScreenLayer
  background-color rgba(0,0,0,0)
  .modal-dialog
    position absolute
    margin 0
    .modal-content
      border none
      .contextmenuHolder
        position absolute
        .contextmenuSidebar
          display block
          position fixed
          background-color #1d212a
          color #a4b8c3
          padding 4px 8px
          border-radius 8px
          z-index 1000
          border solid 2px contextSideBarBorderColor
          transition-duration 400ms
          &:hover
            color white
            background-color #1d212a!important
            box-shadow 0 0 2px 2px contextSideBarBorderColor, inset 0 0 4px 2px contextSideBarBorderColor
            transition-duration 250ms