<div class="header clndr-ang-controls ">
    <span class="month">{{month.format("MMMM, YYYY")}}</span>

</div>
<div class="clndr-ang-grid ">
    <div class="week names days-of-the-week">
        <span class=" header-day ">Sun</span>
        <span class=" header-day ">Mon</span>
        <span class=" header-day ">Tue</span>
        <span class=" header-day ">Wed</span>
        <span class=" header-day ">Thu</span>
        <span class=" header-day ">Fri</span>
        <span class=" header-day ">Sat</span>
    </div>

    <div class="week empty" ng-if="weeks.length < 6">
        <span class="day different-month" ng-class="{'different-month': !day.isCurrentMonth }" ng-click="showPopup(day,$event)" ng-repeat="day in week.days"></span>
    </div>
    <div class="week" ng-repeat="week in weeks">

        <span class="day {{rate_types[day.type]}} " data-value="{{day.type}}" ng-class="{'different-month': !day.isCurrentMonth }" title="{{rate_types[day.type]}}" ng-click="showPopup(day,$event)" ng-repeat="day in week.days">{{day.number}}</span>

    </div>

    <ul class="children type_popup">
        <li class="clicked_day"></li>
        <div class="menu" style="margin-left: 50px;margin-top: -130px;">
            <li class="types Discount" ng-click="updateType(0)" >Discount</li>
            <li class="types regular" ng-click="updateType(1)">Regular</li>
            <li class="types subpeak" ng-click="updateType(2)">Subpeak</li>
            <li class="types peak" ng-click="updateType(3)">Peak</li>
            <li class="types highpeak" ng-click="updateType(4)">Highpeak</li>
            <li class="types block_date" ng-click="updateType(5)">X Block This Day</li>
        </div>
    </ul>
</div>