   <div id="prefeefe" ng-model="preferedTime" class="required form-select form-item">Choose Starting Time</div>
    <div id="pref_popup">
                    <div class="info md-pop-4">
                        <h2>PLEASE NOTE!</h2>
                        <p>
                            We only guarantee start 
                            times in the morning. 
                            Afternoon and evening 
                            slots are given as a 
                            window and mover's 
                            arrival time will depend 
                            on our first availability.
                        </p>		
                    </div>
                    <div class="md-pop-6">

                            <h2 class="header">Preferred Move Start Time</h2>
                            <div class="select_item pre_1" data-name="Any Time" data-value="1"><i class="fa fa-clock-o"></i> Any Time</div>
                            <div class="select_item pre_2" data-name="8AM-10AM" data-value="2"><i class="fa fa-clock-o"></i>8AM-10AM</div>
                            <div class="select_item pre_3" data-name="11AM-2PM" data-value="3"><i class="fa fa-clock-o"></i>12PM-3PM</div>
                            <div class="select_item pre_4" data-name="1PM-4PM" data-value="4"><i class="fa fa-clock-o"></i>1PM-4PM</div>
                            <div class="select_item pre_5" data-name="3PM-7PM" data-value="5"><i class="fa fa-clock-o"></i>3PM-7PM</div>

                    </div>
                    <div class="md-pop-2">

                            <h2 class="header">Maximum Estimated Move Time</h2>
                            <div class="select_item pre_1">-</div>
                            <div class="select_item pre_2"> Any</div>
                            <div class="select_item pre_3">&lt; 8 hrs </div>
                            <div class="select_item pre_4">&lt; 6 hrs </div>
                            <div class="select_item pre_5">&lt; 3 hrs</div>

                    </div>

    </div>