<section class="valuation-table-wrapper">
    <div class="valuation-table">
        <valuation-table-formula
                table="vm.selectedTable"
                ng-if="vm.idRateTable"></valuation-table-formula>
        <table class="valuation-table__table table">
            <tr class="valuation-table__row header">
                <th class="valuation-table__cell__up-to"></th>
                <th class="valuation-table__cell valuation-table__header">
                    <span class="red">Amount of Valuation</span>
                </th>
                <th class="valuation-table__cell valuation-table-header-cell-index-{{$index}}"
                    ng-repeat="deductible in vm.selectedTable.header track by trackValuationTable($index)">
                    <span class="valuation-table__deductible">
                        <input type="text"
                               class="valuation-table__input red form-control"
                               cc-currency
                               ng-model="deductible"
                               ng-model-options="{updateOn: 'blur'}"
                               ng-change="changeDeductibleLevel($index, deductible)">
                        <i class="fa fa-times valuation-table__action red"
                           ng-click="removeDeductibleLevel($index)"></i>
                    </span>
                </th>
                <td class="valuation-table__cell"></td>
            </tr>
            <tr class="valuation-table__row body valuation-table-row-index-{{$index}}"
                ng-repeat="body in vm.selectedTable.body track by trackValuationTable($index)">
                <td class="valuation-table__cell__up-to">Up to</td>
                <td class="valuation-table__cell">
                    <input type="text"
                           class="valuation-table__input red form-control"
                           cc-currency
                           ng-model="body.name"
                           ng-model-options="{updateOn: 'blur'}"
                           ng-change="sortByRows()">
                </td>
                <td class="valuation-table__cell valuation-table-body-cell-index-{{$index}}"
                    ng-repeat="amount in body.value track by trackValuationTable($index)">
                    <input type="text"
                           class="valuation-table__input form-control"
                           ng-if="!vm.percent"
                           cc-currency
                           ng-model="amount"
                           ng-model-options="{updateOn: 'blur'}"
                           ng-change="changeAmountOfValuation(body.value, $index, amount)">
                    <input type="text"
                           ng-if="vm.percent"
                           class="valuation-table__input form-control"
                           cc-percent
                           ng-model="amount"
                           ng-model-options="{updateOn: 'blur'}"
                           ng-change="changeAmountOfValuation(body.value, $index, amount)">
                </td>
                <td class="valuation-table__cell">
                    <i class="fa fa-trash-o valuation-table__action"
                       ng-click="removeAmountOfValuation($index)"></i>
                </td>
            </tr>
        </table>
    </div>
    <div class="valuation-table-control">
        <div class="valuation-table-control__button-box">
            <button class="btn btn-primary valuation-table-control__button"
                    ng-click="addRow()">
                Add Row
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary valuation-table-control__button"
                    ng-click="addColumn()">
                Add Column
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</section>
