.valuation-table-wrapper
	.valuation-table
		&__header
			padding-top 15px
		&__deductible
			display flex
			justify-content space-between
			align-items center
		&__input
			border none
			border-bottom 1px solid #ccc
		&__action
			cursor pointer
			font-size 1.5em
		&__cell__up-to
			font-size 1.5em;
			width: 85px;