#add-contract-page {
    #rate_per_hour,
    #travel_fee,
    #request_id,
    #crew_number,
    #truck_number,
    #travel_fee,
    #labor_time,
    #contract_total,
    #fuel_surcharge,
    #valuation,
    #tips,
    #reservation_received,
    #balance_due {
        width: 50px;
    }
    #simple_input,
    #initial_input,
    #address_from,
    #address_to,
    #city_from,
    #city_to,
    #time,
    #address_pickup,
    #address_dropoff,
    #city_pickup,
    #city_dropoff{
        width: 100px;
    }
}