#agreement{
  padding: 30px 70px;
  font-size: 22px;
  min-height: 1200px;
  color: black;
  .header{
    text-align: center;
  }
  h1 {
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
    font-size: 24px;
  }
  p{
    text-align: justify;
  }
  .signatured-box {
    position: relative;
    cursor: pointer;
    height: 100px;
    left: 10px;
    display: inline-block;
    img {
      height: 100%;
    }
  }
  .sign-remove-signature {
    padding: 0 5px;
  }
  signature-box img {
    display: inline-block;
    max-width: 120px;
    padding: 5px;
  }
  input.form-control{
    font-size: 20px;
    width: 50%;
    display: inline-block;
  }
  .checkout_btn_rental {
    line-height: 1.6;
    width: 100%;
    cursor: pointer;
    height: 50px;
    font-size: 29px;
    margin-top: 25px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: #1486f9 #0f7de9 #0d6acf;
    background: #1993fb;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
    background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .checkout_btn_rental_paid {
    border-color: #159c33 #12862b #0f7024;
    background-image: linear-gradient(to bottom, #1ee049, #1bc941 40%, #18b33a);
    line-height: 1.8;
    background-color: #1bc941;
  }
  .strikethrough{
    text-decoration: line-through;
  }
  .storageValueInput{
    max-width: 70px;
  }
  .ng-invalid, .ng-empty{
    border-bottom-color: #ed5565;
    border-bottom-width: 1px;
  }
}
