$primary-color: rgb(243, 106, 19); //orange
$orange: rgb(243, 106, 19); //orange
$green: rgb(31, 197, 172);
$dark-blue: #0a5c89;
$light-blue: #4cb1e0;
$red: #DB2D2D;
$pending: #F87208;

$regular: $light-blue;
$peak: $orange;
$subpeak: $dark-blue;
$discount: $green;
$nice-blue: #7FC3F8;
$main-color: #F36A13;

.status.label.status_1, .status.label.status_16, .status.label.status_17 {
  background-color: #f8ac59;
  color: #FFFFFF;
}

.label.status_14, .label.status_12 { //spam
  background-color: #F85962;
  color: #FFFFFF;
}

span.status.label.status_2 { // Not Confrimed
  background-color: #4F97FF;
  color: white;
}

span.status.label.status_3 {
  background-color: #26CE26;
  color: white;
}

td.dtStatus {
  width: 14%;
  /* text-align: center; */
}

button.btn-blue.btn.btn-xs {
  background-color: #4F97FF;
  color: white;
  &:hover {
    background-color: #3989FD;
    border: 1px solid #4F97FF;
  }
}

input#adminbutton {
  background-color: #5693FF;
  background-image: linear-gradient(#90aaff, #2f93ff);
  color: white;
  border: 1px solid #8196EA;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18), inset 0 0 1px 1px rgba(255, 255, 255, 0.09);
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  display: block;
  text-transform: UPPERCASE;
  font-weight: 600;
  margin: 20px auto;
}

.btn.color_2 {
  background-color: #5693FF;
  padding: 10px;
  border-radius: 0px !important;
  background-image: linear-gradient(#90aaff, #2f93ff);
  border: 1px solid #8196EA;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18), inset 0 0 1px 1px rgba(255, 255, 255, 0.09);
  font-size: 13px !important;
  width: 250px;
  text-align: center;
  display: block;
  text-transform: UPPERCASE;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    background-color: #83AEFC;
    background-image: -webkit-linear-gradient(#b8c8fd, #5ba9fd);
    background-image: linear-gradient(#b8c8fd, #5ba9fd);
    color: white;
    border: 1px solid #768CE4;
    text-decoration: none !important;
  }
  &:active {
    background-color: rgba(86, 147, 255, 0.58);
    background-image: linear-gradient(#90aaff, rgba(47, 147, 255, 0.42));
    color: white;
    border: 1px solid rgba(45, 81, 224, 0.28);
  }
}

.color_1 {
  background-color: $pending !important;
  border-color: $pending !important;
  &:hover {
    background-color: #FF8728 !important;
  }
}

.color_2 {
  border-color: #64B4F3;
  border-bottom-color: #267DC2;
  background-color: #45AAF9;
}

.color_3 {
  background-color: #2BB910 !important;
  background-image: -webkit-linear-gradient(#62cc30, #2bb910) !important;
  background-image: linear-gradient(#62cc30, #2bb910) !important;
  border: 1px solid #2BB910 !important;
}

.color_4 {
  background-color: $pending !important;
  border-color: $pending !important;
  &:hover {
    background-color: #FF8728 !important;
  }
  .home-estimator-info {
    text-transform: capitalize;
  }
  .home-estimate-date-info {
    text-transform: capitalize;
  }
  .home-estimate-arrival-time {
    text-transform: capitalize;
  }
}

.withtext .button {
  width: 100%;
}

.button {
  padding: 10px;
  width: 65%;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 2px;
  border: 1px solid;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-weight: 600;
  padding-left: 12px;
  cursor: pointer;
  padding-right: 12px;
  text-decoration: none;
  text-transform: UPPERCASE;
  border-color: #949494;
  border-bottom-color: #8A8A8A;
  background-color: #929292;
  color: white !important;
}

.day-number.regular, li.regular, .ui-datepicker-calendar td.Regular a {
  background: $regular;
}

.day-number.Peak, li.Peak, .ui-datepicker-calendar td.Peak a {
  background: $peak

}

.day-number.Subpeak, li.SubPeak, .ui-datepicker-calendar td.SubPeak a {
  background: $subpeak;

}

.day-number.Discount, li.Dicount, .ui-datepicker-calendar td.Discount a {
  background: $discount;

}

.day-number.Highpeak, li.HighPeak, .ui-datepicker-calendar td.HighPeak a {
  background: $red;
}