$component-active-color: #fff;

$component-active-bg: #428bca;

$gray-dark: gray;
//** Dropdown link text color.
$dropdown-link-color: $gray-dark;
//** Hover color for dropdown links.
$dropdown-link-hover-color: darken($gray-dark, 5%);
//** Hover background for dropdown links.
$dropdown-link-hover-bg: #f5f5f5;

//** Active dropdown menu item text color.
$dropdown-link-active-color: $component-active-color;
//** Active dropdown menu item background color.
$dropdown-link-active-bg: $component-active-bg;

$line-height-base: 1.428571429;

#contract-page {
    .services-title{
        width: calc( 100% - 120px);
        display: inline-block;
        text-transform: uppercase;
    }
	.origin-destination-title {
		width: 60%;
		display: inline-block;
	}
    text-angular {
        .btn-group > .btn.active {
            z-index: initial;
        }

        // Toolbar buttons textAngular
        .ta-toolbar button {
            font-size: 15px;
            height: 23px;
        }

        .bar-btn-dropdown {
            padding: 0 0 1px 0;
            border: none;

            .dropdown-toggle {
                margin: 0;
                height: 22px;
            }
        }

        .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) button {
            border-radius: 0;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) button {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        .btn-group > .btn:last-child:not(:first-child):not(.dropdown-toggle) button {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }

        // Links within the dropdown menu
        .bar-btn-dropdown .dropdown-menu > li > button {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: $line-height-base;
            color: $dropdown-link-color;
            white-space: nowrap; // prevent links from randomly breaking onto new lines
            background-color: white;
            -webkit-appearance: none;
            width: 100%;
            border: none;
        }

        // Dropdowns with active checkmark
        .bar-btn-dropdown .dropdown-menu > li > .checked-dropdown {
            padding-left: 30px;
            position: relative;
            text-align: left;
        }

        .bar-btn-dropdown .dropdown-menu > li > button .fa-check {
            position: absolute;
            left: 80%;
            top: 50%;
            margin-top: -5px;
            font-size: 14px;
        }

        .dropdown-menu.inline-opts {
            min-width: 0;
        }

        // Hover/Focus state
        .dropdown-menu > li > button {
            &:hover,
            &:focus {
                text-decoration: none;
                color: $dropdown-link-hover-color;
                background-color: $dropdown-link-hover-bg;
            }
        }

        // Active state
        .dropdown-menu > .active > button {
            &,
            &:hover,
            &:focus {
                color: $dropdown-link-active-color;
                text-decoration: none;
                outline: 0;
                background-color: $dropdown-link-active-bg;
            }
        }
    }
    .cred-card-rate {
        line-height: 1.8;
    }
}
