#coupon-settings{
  .nav-tabs
    li.active a{
    border-bottom: solid 2px #c61c1b;
  }
  h2{
    color: #c61c1b;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  table{
    thead{
      tr{
        background: #E8E8E8;
        font-weight: bold;
        th{
          text-align: center;
        }
      }
    }
    td{
      text-align: center;
      .text-left{
        text-align: left;
      }
    }
  }
}
#coupon-header{
  .close {
    margin-top: -10px;
  }
}
#create-coupon{
  h3, h4{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
#preview-coupon{
  .coupon{
    background-color: #EBEEF3;
    border-radius: 5px;
    border: solid 1px #BAC5C5;
    padding: 6px 12px;
    margin-right: 15px;
    .btn-coupon{
      background-color: #7ABD48;
      border: solid 1px #75A551;
      color: white;
      padding: 5px;
      width: 100%;
    }
    .info-table{
      background-color: white;
      margin: auto;
      text-align: center;
      padding: 5px;
      border-radius: 5px;
      border: solid 1px #BAC5C5;
      .col-md-4{
        padding: inherit;
      }
      .vertical-line {
        border-right: solid thin #BAC5C5;
        min-height: 40px;
      }
      .title-preview{
        padding-bottom: 6px;
        padding-top: 6px;
      }
    }
    h3, h4, .row {
      margin-bottom: 10px;
    }
  }
}
#coupon-data{
  input[type='checkbox'], input[type='radio'] {
    height: 16px;
    width: 15px;
    display: inline-block;
  }
  input[type='number']{
    width: 70px;
    display: inline-block;
    height: 35px;
    padding: 5px;
  }
  .custom{
    font-size: 13px;
    padding-left: 15px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
  .price{
    min-height: 30px;
  }
}
