.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.48);
  width: 100%;
  height: 100%;
  z-index: 10000;
}

div#details {
  padding: 0px;

  .details_block {
    padding: 0px;
  }
}

.longDistance {
  input.dateRange {
    padding: 5px 10px;
    width: 65%;
    padding: 5px;
  }
}

div#details {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none;
}

// DETAILS TABLE
table.details {
  width: 100%;
  .center {
    text-align: center;
  }

  td.icon {
    width: 5%;
    text-align: center;
    border-right: 1px solid gray;
    border-right: 1px solid #d9d9d9;
    font-size: 7px;
  }
  td.icon.checked {
    color: #ACF2AC !important;
  }
  td.box {
    padding: 15px;
    text-align: center;
    font-size: 1.1em;
    select, .dateRange input {
      width: 65%;
      padding: 5px;
      margin-top: 10px;
      /* text-align: center; */
    }
  }
  h4.center {
    margin-bottom: 10px;
  }
  td.boxleft {
    border-right: 1px solid #D8D8D8;
  }
  .add_comment {
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .buttonbox {
    padding: 20px;

    button {
      margin-left: 6%;
    }
  }

  .dateRange.delivery {
    .ui-datepicker {
      margin-left: -50px;
    }
  }
}

.row_info {
  .title {
    color: black;
  }
}

.listdetails {
  .info {
    border-bottom: 1px dashed #D6D4D4;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    min-height: 30px;
  }
  .tt {
    line-height: 18px;
    color: #4C4C4C;
  }
}

.fix-text-angular-height {
  .ta-scroll-window {
    min-height: 150px;
    height: 150px;
    overflow-y: inherit;
  }
}

.text-center-important {
	text-align: center !important;
}
