.address-block {

  .row {
    margin-bottom: 5px;
  }

  .icon-plus, .icon-ban {
    margin-left: 10px;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: #B6B6B6;
    cursor: pointer;
    font-weight: bold;
  }
}

#edit_furnished_rooms_chosen {
  width: 100% !important;
}

.gray-box {
  background: #E3E3E3;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #C4C4C4;

  .form-control {
    border: 1px solid #C6C8CA;

  }
}

.icon-pencil {
  cursor: pointer;
  padding: 10px;
}
