$blue-background: #45AAF9;
$red-background: #FF0000;

.btn-inv-default {
    font-weight: normal;
    text-transform: uppercase;
    background-color: $blue-background;
    color: white !important;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
}

.inp-inventories{
    text-align: center;                                                               
    font-size: 18px;
    padding: 7px;
}
.btn-inv-action{
    float: left;
    color: white;
    height: 20px;
    text-align: center;
    padding: 2px 3px;
    width: 45px;
    cursor: pointer;
    border:none;
}

.increase{
    background-color: $blue-background;
}
.decrease{
    background-color: $red-background;
}
.inv-picked {
    border-color: #45AAF9 !important;
}
.counter-inventories{
    text-align: right;
    /* width: 100%; */
    padding: 0px 5px;
    font-size: 18px;
    display: block !important;
    position: absolute;
    right: 0px;
    color: #4E4E4E;
    top: 0px;
    font-family: 'PT sans';
    font-size: 14px;
    font-weight: bold !important;

}

.inv-item{
    height: 170px;
    font-size: 12px;
    width: 120px;
    border: 2px solid #ddd; 
    margin: 8px;
    padding: 0px;
}

.li-inv-default{
    font-weight: bold !important;
    cursor: pointer;
}

.i-inv-action{
    padding: 0px 5px;
    cursor: pointer;
}

.inv-total{
    text-align: right;
    cursor: pointer;
}

.no-padd{
    padding: 0px;
}
.inv-title-items {
    color: #0E0E0E;
    overflow: hidden;
    /* width: 72%; */
    width: 145px;
    height: 18px;
    line-height: 16px;
    overflow: hidden;
    float: left;
}

.inv-title-items.new{
    color: red;
}

.title{
     font-weight: bold !important;
}

.total-right{
    text-align: right;
}

.inv-result{
     color: #1F1F1F;
     padding-bottom: 5px;
     margin-bottom: 5px;
     border-bottom: 1px solid #a4a4a4;
     padding-left: 0px;
     padding-right: 0px;
}

.save-inventory{
   margin-left: 45%;
    height: 47px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 15px;
    &:hover {    background-color: #6BBDFD;}
}

.total-indicators{
    margin-top:35px;
    margin-bottom:35px;
}

.btn-add-inventory{
    height: 40px; 
    border:none;
    margin-top:15px;
}

.custom-counter{
    margin-right: 20px;
}

.check-container{
    margin-right: 20px;
}

.check{
    color:#0CD60C
}

.custom-items-list{
    margin-left:30px;
}

.add-custom{
    height: 40px;
    margin-left:50px; 
    margin-top:18px; 
}

.inp-container{
    text-align: center;
    float: left;
    margin-left:30px
}

.inp-title{
      width: 100%;
}

.inp-num{
    width: 100%;
}

.parent-container{
    font-size: 13px
}
.directive-title{
    margin: 20px 0px;
}

.recomended-background{
    background: #B2F5FB;
}

.inp-search-filter{
    padding: 7px;
    width: 100%;
    margin-bottom: 10px; 
    font-weight: bold; 
    text-align: center;
}

.list-filters{
    border: 1px solid #eeeeee;
    padding: 5px; 
    text-align: center
}

.center{
    text-align: center;
}

.databable-rooms-container{
    min-height: 350px;
    max-height: 530px; 
    overflow-y: scroll;
    border: 1px solid #eeeeee;
}

.custom-inventory-container{
    margin-top: 20px;
}
.inputs-container{
    //margin: 20px 5px
}
.invtitle {
    margin-top: 7px;
    font-size: 12px;
    color: #4E4E4E;
    text-decoration: none;
    font-family: 'Open sans',sans-serif;
    letter-spacing: 0PX;
    text-align: center;
    text-transform: capitalize;
    text-shadow: none;
    line-height: 12px;
    font-weight: bold;
}

.tabs-rooms-container{
    padding-left: 0px;
    padding-right: 0px;
}
/*лист*/
ul.list-filters{
    padding-left: 0px;
}

.listFilters{
    color:white;
    border: 1px solid #eeeeee;
    padding: 10px 0px;
    text-align: center;
    list-style-type: none;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal !important;
    
}
ul.list-Filters li:hover{
	background: #B8DCF9;
}

ul.list-Filters .active{
 background-color: #45AAF9 !important;
 color: white;
}

li.listFilters{
	color:black;
}

.list-FillRoom{
    border: 1px solid #eeeeee;
}
.listFillRoom{	
	padding: 7px 0px; 
	text-align: center
}
div.list-FillRoom.active{
 background-color: #45AAF9;
 color: white;
}
div.list-FillRoom:hover{
	background: #B8DCF9;
}
div.required,span{
	position: relative;
}

.data-rooms-container{
    padding: 0px;
}
li.li-inv-default.recomended {
    background-color: #B8DEFB;
}
.valid-message{
    color: red;
    font-size: 10px;
}

.btn-inv-edit{
   
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -15px;
    top: 0px;

}
.inp-inventory{
    padding: 5px;
    width: 200px;
}

.span-inventory{
    color: #848484;
    line-height: 24px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin: 0px;
    padding-left: 5px !important;
}

.filter-select{
    border: 1px solid #c4c4c4;
    background-color: #fff;
    color: #565a5c;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Open sans';
    font-size: 14px;
    width: 145px;
    font-weight: 600;
    padding-left: 10px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.item-form{
    margin: 10px;
}

.add-custom-container{
    text-align: right;
}
.inv-thumbnail{
    line-height: 20px;
    width:120px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #ddd;
}

.inv-img{
    width: 110px; 
    height: 150px;
}

.inv-img-del{
    position: absolute;
    left: 145px;
    top: 28px;
}

.list-rooms{
    min-height: 50px;
}

.drag-element{
    cursor: move;
}
div#listinventories-container {
    font-size: 12px;
    .list-rooms {
        min-height: 130px;
        min-width: 200px;
    }
}
.col-md-4.list-rooms.drag-enter {
    border: 1px dotted gray;
}
.inventory_modal > .modal-dialog {
    width: 80%;
}

.inventory_modal > .modal-dialog > .modal-content > .modal-header {
    border: none;
}
@media only screen and (max-width: 1023px) {
    .inventory_modal > .modal-dialog {
        margin-top: 0;
        width: 100%;
        height: 100%;
    }
}