#ledger {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    .dropdown, .dropdown-menu {
        .btn-default.disabled, .btn-default[disbled] {
            background-color: #D7D9DA !important;
            color: #909AA0 !important;
        }
    }
    .btn-default, a.btn-default:link, a.btn-default:visited {
        background-color: #ffffff !important;
        color: #373a3e !important;
    }
    .btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active {
        color: #fff !important;
        background-color: #31b0d5 !important;
    }
    .charge {
        background-color: rgba(255, 171, 171, 0.3);
    }
    .payment {
        background-color: rgba(127, 224, 122, 0.3);
    }
    .active {
        background-color: #BBD6FF !important;
    }
    .charge-link {
        float: right;
        line-height: 2.1;
        background-color: transparent;
        border: none;
        padding: initial;
        font-size: 12px;
    }
    .small_box_header{
        padding: 5px;
        font-size: 11px;
        text-transform: UPPERCASE;
        border-bottom: 1px solid #D4D4D4;
        color: white;
    }
    .text_center {
        text-align: center;
    }
    .inside_box {
        margin-top: 10px;
        border: 1px solid #2B7B03;
        margin-bottom: 20px;
    }
    h2{
        font-family: "Montserrat", sans-serif;
        margin: 0;
        font-weight: bold;
    }
    table {
        font-size: 12px;
        th, td{
            padding: 5px;
        }
    }
}

@media print {
    a[href]::after {
        content: none !important;
    }
}
