.payment-tips-percent{
	display: inline-block;
    padding: 5px 9px 5px 8px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 1px 0px rgba(99, 122, 195, 0.75);
    color: #FFFFFC;
    min-width: 24%;
    text-align: center;
    cursor: pointer;
}
.payment-tips-percent:active {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #075bba #0c69d2 #0f7de9;
    background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
    background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
    background-image: -o-linear-gradient(top, #1281dc, #1593fc);
    background-image: linear-gradient(to bottom, #1281dc, #1593fc);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}
.payment-tips{
	display: inline-block;
	.form-control:focus{
		border-color: #66afe9 !important;
	}
	.form-control{
		max-width: 145px;
	}
}
.payment-receipt-modal {
  .print-button {
    margin-top: -70px;
    color: #23c6c8;
    background-color: #ffffff;
    &:hover {
      color: #ffffff;
      background-color: #23c6c8;
    }
  }
}

@media print {
  .payment-receipt-modal {
    .modal-header {
      h2 {
        text-align: center;
      }
    }
    .field-type-of-entrance-from {
      .mtitle {
        font-size: 24px;
        font-weight: 600;
        color: black;
        width: 255px;
        display:inline-block;
      }
      font-size: 20px;
      font-family: Open Sans;
      line-height: 18px;
      color: #616161;
      letter-spacing: 0px;
      padding: 0px 10px 0px 10px;
    }
  }
}