#release {
    padding: 20px;
    font-size: 14px;
    text-align: justify;
    .btitle {
        color: #1f78bc;
        text-transform: uppercase;
        border-bottom: 1px solid #1b75bb;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    h2 {
        font-weight: bold;
        font-size: 15px;
        line-height: 28px;
    }
    .checkbox-release {
        margin-right: 10px;
    }
    .item-line {
        border-top: 1px solid #B3B3B3;
    }
    img {
        display: inline-block;
        max-width: 120px;
        padding: 5px;
    }
    .inline-block{
        display: inline-block;
    }
    .input-md{
        width: 120px;
        display: inline-block;
    }
    .margin-top{
        margin-top: 10px;
    }
    .release-error{
        border: 1px solid #ED5565;
        animation: bordered 1s infinite alternate;
        -webkit-animation: bordered 1s infinite alternate;
    }
}
#release-settings{
    .inline-block{
        display: inline-block;
    }
    .item-line-height{
        line-height: 2.8;
    }
    .item-line-height label{
        font-weight: 700;
        font-size: 14px;
    }
    .icheckbox_flat-grey.disabled{
        opacity: 1;
    }
    .title-input{
        font-size: 16px;
        font-weight: bold;
        width: 90%;
    }
    .fa-times{
        font-size: 18px;
        cursor: pointer;
        float: right;
    }
    .textarea-settings {
        top: 23px;
        right: -110px;
    }
    .textarea-settings.header {
        top: 115px;
        right: -89px;
    }
    .textarea-settings.footer{
        right: -125px;
    }
    .row.footer.bottom-margin{
        position: relative;
    }
}
