.request-loading-root-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  &__busy {
    width: 50px;
    height: 50px;
    margin-bottom: 1em;
  }
  &__explanation {
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
  }
}

.main-content-spinner.busyoverlay .sk-cube-grid{
	margin-top: calc(50vh - 40px);
}

.dateRange {
  .ui-datepicker a.ui-state-default {
    color: gray;
  }
  .ui-datepicker a.date-range-selected {
    color: white;
  }
  span.ui-icon.ui-icon-circle-triangle-e {
    margin-left: -25px;
  }
  .ui-datepicker-inline {
    background: white;
  }
  .ui-datepicker td a {
    display: block;
    padding: 0.7em;
    text-align: right;
    text-decoration: none;
  }
}

.option_box {
  padding: 21px;
  background: #ECECEC;
  border: 1px solid #B3B3B3;
  margin-bottom: 25px;
}

.row.flat_rate_option {
  margin-top: 25px;
  z-index: 100;
}

.current i.icon.notdone.icon-medium.fa.fa-tasks {
  background: orange !important;
}

li.state.rmoptions.tooltipf.rmicon.done {
  background: #49D061 !important;
  color: white;
  font-size: 14px !important;
  line-height: 40px;
  color: white;
}

.icon.icon-medium.flaticon-check35.done, .icon.icon-medium.fa-check.done {
  background: #49D061;
}

#flat_states2 li.rmicon {
  cursor: pointer;
  margin-left: 60px !important;
  margin-right: 65px !important;
  display: block;
  height: 40px;
  width: 40px;
  font-size: 20px;
  margin-top: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #C6C6C6;
  margin-bottom: 0px;
}

li.state.tooltipf.rmicon.current {
  background: #ffa604 !important;
}

div#conf_block {
  margin: 0 auto;
  /* padding: 50px; */
  text-align: center;
  padding-bottom: 35px;
}

span.icon.icon-medium.notdone.flaticon-verification5.active {
  background: orange !important;
}

.header_status.flatrate {
  display: block !important;
  position: inherit !important;
  margin: 0 auto !important;
  width: 100% !important;
  padding: 10px !important;
  box-shadow: none !important;
}

.flat .request_title {
  color: #464a4e !important;
  font-size: 18px !important;
  line-height: 25px;
  text-align: center;
  margin: 0 !important;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: -17px;

}

#flat_states .icon.notdone.active {
  background: #3D80F7;
}

.flat p.helptext {
  font-size: 12px !important;
  line-height: 15px;
  text-align: center;
  margin: 0 !important;
  font-style: italic;
  overflow: hidden;
  padding-left: 0px;
  position: relative;
  background: white;
}

#flat_states li {
  float: left;
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  text-align: center;
  font-weight: 600;
}

#flat_states2 li {
  float: left;
  display: inline-block;
  vertical-align: top;
  width: 19.5%;
  text-align: center;
  font-weight: 600;
}

#flat_states2 {
  padding: 0px;
  .icon-medium {
    cursor: pointer;
    display: block;
    height: 2.5em;
    width: 2.5em;
    margin: .3em auto .5em auto;
    font-size: 26px;
    text-align: center;
    line-height: 66px;
    color: #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 0px;
  }
  .icon.notdone {
    background: #C6C6C6;
  }
  i.fa.fa-spin.fa-refresh {
    font-size: 14px;
    line-height: 40px;
    color: white;
  }
  i.fa.fa-refresh {
    font-size: 14px;
    line-height: 40px;
    color: white;
  }
}

#flat_states {
  margin-bottom: 10px;
  padding: 0px;

  span.icon.icon-medium, i.icon.icon-medium {
    display: block;
    height: 2em;
    width: 2em;
    margin: .3em auto .5em auto;
    font-size: 2.25em;
    text-align: center;
    line-height: 1.7em;
    color: #223648;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 0px;
  }
  .icon.notdone {
    background: #C6C6C6;
  }
  :before {
    font-family: Flaticon;
    font-size: 26px;
    font-weight: normal;
    margin-left: 0px;
    line-height: 63px;
    color: white;
  }
}

.tooltip-inner {
  width: 200px !important;
}

.red {
  color: red !important;
}

//REQUEST SIDE BAR

.request_menu {
  li {
    border: none;

  }
  .nav > li > a {
    border-bottom: 1px solid #CECECE;
  }
  .nav > li.active {
    border: none;
    background: #4D93FF;
  }
  .nav > li.active > a {
    color: #ffffff !important;
    &:hover {
      background: #4D93FF;
    }
    &:focus {
      background: #4D93FF;
    }
  }
  .active .tip {
    color: white !important;
  }
  span.tip {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #11C511;
    font-size: 17px;
    font-weight: bold;
  }
  li.active {
    color: white !important;
  }
}

.ibox .history {
  text-align: center;
  color: #B7B7B7;
  font-size: 44px;
  color: #DADADA;
  text-shadow: 1px -1px #D4D4D4;
}

.requestpage {
  .Overview {
    .inv-total.no-padd .fa-trash {
      display: none;
    }
  }

  .row.general {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e4e2e2;
    position: relative;

    div {
      &.quote-title {
        text-align: center;
        margin-top: -10px;
        margin-bottom: -15px;
      }
      &.quote-gif-block {
        padding-left: 38px !important;
      }
      &.quote-icon-block {
        padding-left: 46px !important;
      }
      &.work-block {
        background: no-repeat center url('../content/animat-chop-wood-color.gif');
        width: 75px;
        height: 55px;
        background-size: 94px;
      }
      &.quote-line-height {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;

        &.quote-text {
          &.first {
            padding-top: 48px !important;
          }
          padding-top: 30px;
          text-transform: inherit;
          width: 435px;
        }
      }
    }
  }
  div#ermap {
    width: 100%;
    height: 175px;
    opacity: 0.8;
    .gmnoprint.gm-style-cc {
      display: none;
    }
    .gm-style-cc {
      display: none;
    }
  }
  .field-status.notconfirmed {
    margin: 0 auto;
    display: block;
    float: none;
    width: 255px;
    margin: 0px auto;
  }

  .header_status {
    position: absolute;
    top: 10px;
    z-index: 10;
    margin: 10px auto;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    background: white;
    padding: -6px;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
    -moz-box-shadow: -1px 0 0 0 #d2d2d2, -1px 0 0 0 #e6e6e6, 1px 0 0 0 #d2d2d2, 2px 0 0 0 #e6e6e6, 0 -1px 0 0 #e8e8e8, 0 2px 0 0 rgba(241, 241, 241, 0.3), 0 1px 0 0 #b1b1b1;
    -moz-border-radius: 4px;

    .right.text.bold {
      text-align: center;
    }
    a {
      font-weight: 400;
      color: #727272;
      font-size: 12px;
      line-height: 15px;
      display: block;
      margin: 0 auto;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .loader.loader-packing {
    position: absolute;
    top: calc(50% - (24px / 2));
    right: 20%;
    svg path,
    svg rect {
      fill: rgba(46, 204, 113,1.0);
    }
  }

  .h2title {
    color: #82888a;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 600;
    /* float: left; */
    /* line-height: 15px; */
  }

  .box_info {
    .title {
      font-weight: normal !important;
      font-family: 'Open Sans';
      font-size: 12px;
    }
    .info {
      color: rgb(77, 147, 255);
      font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 600;
    }
    .info.nocolor {
      color: #5F5D5D !important;
    }
    .total {
      color: #4C4C4C;
    }
    .total_discount {
      color: #FF0F27;
    }
  }

  p.quote_note {
    /* font-family: "PT Sans"; */
    color: #565656;
    font-weight: normal;
    font-family: Roboto;
  }
  .quote_note h1 {
    font-size: 18px;
  }

  table.details {
    border-top: 1px solid #CACACA;
  }

  .details_block_info {
    border-top: 1px solid rgb(191, 191, 191);
    margin-bottom: 0px;
    min-height: 60px;
    background: #E9E9E9;
    padding-top: 40px;
    padding-bottom: 40px;
    h3 {
      color: #565a5c;
      font-size: 18px;
      float: none;
      line-height: 0px;
      margin-bottom: 20px;
    }
    p {
      font-size: 13px;
      font-family: Open Sans;
      line-height: 20px;
      color: #949494;
      letter-spacing: 0px;
      color: #464a4e;
    }
    a {
      color: #FF6A6A !important;
      margin-left: 30px;
    }

    span.icon.icon-medium {
      /* font-size: 43px; */
      color: rgb(255, 104, 104);
      font-style: normal;
      padding: 30px;
      line-height: 40px;

      &:before {
        font-size: 50px;
      }
    }
  }

  .inventory-box {
    border-top: 1px solid #e4e2e2;
    padding-bottom: 20px;
  }

  .messages {
    .form-control {
      position: relative;
      z-index: 2;
      float: left;
      line-height: 12px;
      width: 100%;
      margin-bottom: 0;
      margin-top: 10px;
    }
    p {
      font-size: 15px;
      line-height: 12px;
      margin-top: 5px;
    }
  }

  .total-indicators span {
    font-weight: bold;
  }
}

.extrapickup {
  display: block;
  background: #E7E7E7;
  padding: 10px;
  border: 1px solid #D7D7D7;
  margin-bottom: 5px;
  margin-top: 5px;
}

.packing-day-request {
  margin-top: .5em;
}

.gallery-box {
  display: inline-block;
  width: 25%;
  border: 1px solid gainsboro;
  padding: 15px;
  margin: 10px;
}

.drop {
  text-align: center;
  margin-top: 20px;
}

.busyoverlay {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.customized-greeting {
  padding: 50px;
  .cetered-button {
    text-align: center;
  }
}

.confgrats_box {
  padding: 50px;
  font-family: Open sans;
  text-align: center;
  i.fa.fa-check-circle-o {
    color: #30d730;
    font-size: 36px;
    padding: 0px;
  }
  .calc-confirm {
    display: block;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #686565;
  }
  .note {
    color: red;
  }
  h1 {
    padding: 0px;

    text-transform: capitalize;
    color: #606061;
    text-align: center;

    -webkit-font-smoothing: antialiased;
    font-size: 28px;
    line-height: auto;
    padding-bottom: 1.422em;
    top: 0.2em;
    font-weight: 600;
    position: relative;
    margin: 0px;
  }
}

span.mtitle {
  color: black;
  display: inline-block;
  width: 150px;
  font-weight: 600;
  line-height: 22px;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

.tips.rmtips:before {
  //content: '';
  //position: absolute;
  //border: 10px solid transparent;
  //border-left-color: #8A8A8A;
  //left: -17px;
  //bottom: 40%;
  //z-index: 1;
  //-ms-transform: rotate(180deg);
  //-webkit-transform: rotate(180deg);
  //transform: rotate(180deg)
}

.tips.rmtips.geninfo, .tips.rmtips.estinfo {
  margin-top: -8.5% !important;
  max-width: 370px !important
}

.tips.rmtips.tttime {
  margin-top: -6.5% !important;
  max-width: 397px !important;
  width: 400px !important;
}

.tips.rmtips.estinfo:before {
  top: 37%
}

.tips.rmtips.hourly:before {
  top: 33%
}

.tips.rmtips {
	padding: 10px;
	max-width: 200px;
	color: black;
	border: 1px solid #8a8a8a;
	text-shadow: none;
	background-color: white;
	font-family: "Open sans";
	line-height: 16px;
	font-weight: normal;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.89);
	position: absolute;
	margin-left: 3%;
	z-index: 10000;
	font-size: 13px;
}

.tips.rmtips.delivery-date {
	width: 250px;
	margin-left: 8%;
	margin-top: -32px;
}

.edit_request {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  text-transform: UPPERCASE;
  font-size: 11px;
  color: #8D9294;
}

.request-packings-item {
  text-align: center;
}

.request-packings-container {
  border-bottom: 1px dotted rgba(128, 128, 128, 0.27);
  line-height: 20px;
  width: 95%;
}

.has-error {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  &:active, &:focus {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
}
