.reservation-page-loading-root {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ecf0f1;
	.reservation-loading-spinner {
		width: 50px;
		height: 50px;
		margin-bottom: 1em;
	}
	.reservation-loading-explanation {
		font-size: 1.5em;
		font-family: "Monserrat", sans-serif;
	}
}

.reservation-page {
	.relative-position {
		position: relative;
		.back-to-moveboard-block {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}

	.quote_note {
		width: 95%;
		h1 {
			font-weight: 600;
			font-size: 18px;
		}
	}
	.details {
		color: black;
		.row, .det_info {
			padding-top: 0px !important;
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		.col-md-3.h2title {
			display: none;
		}
	}
	.empty-inventory-label {
		font-size: 15px;
		color: black;
	}
	#listinventories-container {
		#left-column {
			display: none;
		}
		.list-rooms {
			padding: 0px;
			padding-right: 20px;
		}
		.fa-trash {
			display: none;
		}
	}
	font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	.resercontainer {
		padding-left: 50px;

		h2.font-initial {
			font-weight: initial !important;
		}
	}
	h3, h2 {
		font-family: "Open sans";
	}
	p.confnote {
		width: 95%;
		margin: 0 0 10px;
		font-family: "Open sans";
		color: #444444;
	}
	.client {
		font-weight: bold;
		font-size: 12px;
	}
	.tt {
		line-height: 18px !important;
		color: black;
	}
	.date i.fa {
		color: #989696;
		margin-right: 10px;
	}
	.col-rm-4.current .fa, #itinerarywrapper .new .fa {
		font-size: 28px;
		color: #989696;
	}
	span.texttip {
		text-transform: lowercase;
		font-weight: 600;
		font-size: 13px;
		font-style: italic;
	}
	.current .fa, .new .fa {
		font-size: 28px;
		color: #989696;
	}
	.stat_row {
		letter-spacing: 0px;
		font-weight: 600;
		line-height: 27px;
		color: black;
		font-size: 12px;
		h2 {
			font-family: "Open sans";
			font-weight: bold;
			font-size: 15px;
			line-height: 12px !important;
			float: left;
			width: 185px;
			color: black;
		}
		.total_discount {
			color: #FF0F27;
		}
		.unlimitedWidth {
			width: auto;
			margin-right: 10px;
			&__amount {
				font-size: 15px;
				color: #000;
			}
		}
	}
	.valuation-confirmation-table {
		width: 95%;
		&__cell {
			border: 1px solid black;
			padding: 0 10px;
			text-align: center;
			vertical-align: middle;
			.selected-deductible-level {
				color: red;
			}
			&.text-left {
				text-align: left;
			}
		}
		&__explanation-cell {
			border: 1px solid black;
			padding: 10px;
			min-width: 200px;
		}
	}
	.row.general_info.stats {
		margin-top: 20px;
	}
	.current h3, .new h3 {
		color: rgb(70, 74, 78);
		font-size: 12px;
		font-style: normal;
		font-variant: normal;
		font-weight: 600;
		line-height: 20px;
	}
	.header h1 {
		font-family: "Open sans";
		letter-spacing: 0px;
		margin: 0px;
		font-weight: bold;
		font-size: 22px;
		color: #464a4e;
		text-transform: uppercase;
		text-align: center;
		padding: 30px;
	}
	h2.title {
		color: black;
		display: block;
		font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 18px !important;
		font-weight: normal !important;

		margin-bottom: 20px;
	}
	a#printinerary.pull.right {
		position: absolute;
		top: 20px;
		right: 25px;
		color: gray;
		text-decoration: none;
		font-family: 'Open sans', sans-serif;
		letter-spacing: 0PX;
		font-weight: 600;
	}
	.ibox-content .row {
		padding-left: 40px;
		h2 {
			font-family: "Open sans";
			font-weight: bold;
			font-size: 15px;
			line-height: 28px;
		}
		h2.btitle {
			color: #1f78bc;
			text-transform: uppercase;
			border-bottom: 1px solid #1b75bb;
			width: 95%;
			margin-top: 20px;
		}
	}
	.client {
		h2 {
			color: black !important;
			font-size: 15px;
			text-transform: Capitalize;
			font-weight: bold;
			line-height: 17px !important;
			margin-bottom: 0px;
		}
		i.fa.fa-phone {
			font-size: 16px;
			margin-right: 10px;
			color: gray;
			line-height: 26px;
			/* baseline-shift: super; */
			/* letter-spacing: initial; */
			vertical-align: middle;
		}
		i.fa.fa-fw.fa-envelope-o {
			font-size: 13px;
			margin-left: -5px;
			margin-right: 8px;
		}
	}
	.general_info span {
		font-size: 12px;
		font-family: "Open sans";
		color: black;
		color: rgb(70, 74, 78);
		font-weight: bold;
	}
	.payment {
		.confirm {
			padding: 40px;
			text-align: center;
			font-weight: bold;
		}
		.check_row {
			font-family: "Open Sans";
			letter-spacing: 0px;
			line-height: 30px;
		}
		h2 {
			font-size: 20px;
			color: #393c3d;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
			color: #464a4e;
			font-weight: bold;
			line-height: 24px;
			font-family: "Open sans";
			margin-bottom: 10px;
		}
	}
	.down-arrow-container {
		position: absolute;
		left: 32%;
		cursor: pointer;
		z-index: 10;
		margin-top: 20px;
		font-size: 12px;
		text-transform: UPPERCASE;
		font-weight: bold;
		color: #FF0F27;
		width: 449px;

		.fa-angle-down {
			&.arrow-down {
				white-space: nowrap;
				font-size: 4rem;
				position: absolute;
				right: 0;
				left: 0;
				margin: auto;
				width: 24px;
				height: 40px;
				animation: MoveUpDown 2s linear infinite;
			}
		}
	}
}

@keyframes MoveUpDown {
	0% {
		bottom: -30px;
	}
	50% {
		bottom: -40px;
	}
	100% {
		bottom: -30px;
	}
}

.page_title {
	font-family: "Open sans";
	letter-spacing: 0px;
	margin: 0px;
	font-weight: bold;
	font-size: 22px;
	color: #464a4e;
	text-transform: uppercase;
	text-align: center;
	padding: 30px;
}

a#printinerary.pull.right {
	position: absolute;
	top: 20px;
	right: 25px;
	color: gray;
	text-decoration: none;
	font-family: 'Open sans', sans-serif;
	letter-spacing: 0PX;
	font-weight: 600;
	font-size: 12px;
}

.cancelation-page {
	margin-top: 15px;
	#printwrapper {
		padding: 50px;
		padding-top: 0px;
	}
	#confpages {
		padding-left: 10px;
		padding-right: 10px;
		#printcancel {
			margin-left: 30px;
		}
		#printinerary {
			margin-right: 30px;
		}
	}
}

.policy-modal-window .modal-dialog {
	width: 1200px;
}

body.modal-open {
	overflow: hidden !important;
}

@media print {
	.policy-modal-window .modal-dialog {
		position: absolute;

	}
	body.modal-open {
		position: absolute !important;

	}
}

#confpages {
	padding: 60px;
	padding-top: 20px;
	font-size: 18px;
	font-family: 'Open sans';
	letter-spacing: 0px;
	font-weight: 400;
	line-height: 30px;
	color: #999;
	h2 {
		font-weight: bold;
	}

}

#confpages a#printcancel {
	text-transform: uppercase;
	font-weight: normal;
	border: 1px solid gray;
	padding: 5px 10px;
	font-size: 12px
}

#confpages #printwrapper .col-block-left {
	float: left;
	width: 20%
}

#confpages #printwrapper .col-block-left h2 {
	margin-top: 20%;
	text-align: center;
	font-size: 18px
}

#confpages #printwrapper .col-block-left h2.discount {
	color: #1fb89b
}

#confpages #printwrapper .col-block-left h2.regular {
	color: #4D9FDF
}

#confpages #printwrapper .col-block-left h2.sub-paek {
	color: #ffc770
}

#confpages #printwrapper .col-block-left h2.peak {
	color: #FD8686
}

#confpages #printwrapper .col-block-right {
	float: left;
	color: black;
	width: 70%;
	padding: 20px;
	border-left: 1px solid #cdcdcd
}

#confpages #printwrapper .polici-block {
	border: 1px solid #cdcdcd;
	margin-top: 20px
}

#confpages #printwrapper .polici-block .col-block {
	border-bottom: 1px solid #cdcdcd
}

#confpages #printwrapper b.underline {
	text-decoration: underline
}

#confpages #printwrapper h3 {
	text-align: center;
	line-height: 60px
}

#confpages #printwrapper h3 img {
	padding-left: 15px;
	padding-right: 15px;
	display: none
}

#confpages #printwrapper .col-block.active {
	background: #eef
}

#confpages #printwrapper .col-block-left .active {
	font-weight: bold;
	color: black;
	text-transform: UPPERCASE;
	letter-spacing: 0px;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	width: 100%
}

#confpages #printwrapper header {
	display: none
}

@media print {
	#confpages {
		font-size: 12px;
		padding: 10px;
		p {
			line-height: 14px;
		}
		h3 {
			font-size: 14px;
		}
	}
	.ibox {
		font-size: 12px;
		.col-md-4 {
			width: 33.33333333%;
			float: left;
		}
		.client {
			font-weight: bold;
			font-size: 12px;
		}
	}
	.signature_only_print {
		display: flex !important;
	}
	.hide_print {
		display: none !important;
	}
	/*styles here*/
}

a#printcancel {
	text-transform: uppercase;
	font-weight: normal;
	border: 1px solid gray;
	padding: 5px 10px;
	font-size: 12px;
}

.edit_request {
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	text-transform: UPPERCASE;
	font-size: 11px;
	color: #8D9294;
}

#packing-reservation .packings-title {
	width: 95%;
	text-align: center;
	font-weight: bold;
}

#packing-reservation .packing-item {
	text-align: center;
}

.formen-notes {
	margin-right: 50px;
	.form-control:focus {
		border-color: #1F78BC !important;
	}
}

.confirm-page {
	padding-left: 0px !important;
}

.explanation_quote_wrapper {
	padding-left: 40px;
	width: 95%;
	h2.btitle {
		color: #1f78bc;
		text-transform: uppercase;
		border-bottom: 1px solid #1b75bb;
		margin-top: 20px;
		font-family: "Open sans";
		font-weight: bold;
		font-size: 15px;
		line-height: 28px;
		.b-title-icons {
			color: #1f78bc;
			cursor: pointer;
		}
	}
}

.company_signature {
	margin-top: -115px;
	padding: 0 55px 20px 8px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.company_signature img {
	margin: 0px !important;
	max-height: 100px;
	padding-left: 0px !important;
}

.com_sign_info {
	margin-top: 14px;
	text-align: right;
}

p.com_sign_line {
	line-height: 14px;
	font-size: 11px;
	padding: 0px;
	color: #2e2e2e;
	margin: 0px;
}

.h_order_service {
	text-align: center;
	margin-top: -30px !important;
	padding-bottom: 30px;
	font-size: 14px !important;
	text-transform: uppercase;
	font-weight: normal !important;
}

.signature_only_print {
	display: none;
}

.reservation-page .payment .confirm.confirm-company-policies {
	.sk-cube-grid {
		width: 40px;
		height: 40px;
		margin: 15px auto;
	}
	.check_row{
		width: 70%;
		margin: 0 auto;
		input {
			height: 20px;
			width: 20px;
			margin-right: 10px;
			vertical-align: text-bottom;
			&.highlighed {
				@media screen {
					animation: highlightedInput 2s infinite ease-in-out;
				}
			}
			@keyframes highlightedInput {
				0% {box-shadow: 0 0 16px 0px transparent inset, 0 0 20px 2px transparent;}
				50% {box-shadow: 0 0 16px 0px #ff00008a inset, 0 0 20px 2px #ff00008a;}
				100% {box-shadow: 0 0 16px 0px transparent inset, 0 0 20px 2px transparent;}
			}
		}
		.content-company-policies {
			display: inline;
			&.highlighted {
				color: #bd0021;
				.bluelink_res {
					color: red;
				}
			}
		}
		.custom-content-company-policies {
			display: inline;
			&.highlighted {
				color: #bd0021;
				.bluelink_res {
					color: red;
				}
			}
			p:first-child {
				display: inline;
			}
		}
	}
	.ecomm-checkout-img {
		margin-left:60px;
		margin-top: 35px
	}
}

.reservation-signature-row {
	padding:25px;
	display: inline-block;
	div {
		text-align: center;
		img {
			cursor: pointer;
		}
	}
}

.user-block {
	.phone {
		margin-top: 5px;
	}
	.additional-phone {
		padding-left: 23px;
		padding-bottom: 5px;
	}
	.email {
		margin-left: 2px;
	}
	&__name {
		margin-top: 6px;
		span.additional_name_field {
			font-size: 15px;
		}
	}
}

.confirmation_page_header {
	display: block;
	margin-top: 30px;
}
