#reviews-moveboard {
  .close-review-window {
    cursor: pointer;
  }
  .stars {
    margin-bottom: 1em;
    .stars-mark {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4em;
      .star_setting {
        margin-right: .3em;
        color: #f1c40f;
        cursor: pointer;
        &.fa-star {
          text-shadow: 1px 2px 10px #f1c40f;
        }
      }
    }
  }
  .ta-scroll-window.form-control {
    min-height: 150px;
    .ta-bind {
      min-height: inherit;
    }
  }
  .ta-toolbar {
    button {
      padding: 0px 5px !important;
      font-size: 10px;
    }
  }
  .btn-toolbar {
    margin-bottom: 10px;
  }
  .chat-widget {
    .btn-group {
      .bar-btn-dropdown.dropdown.btn.btn-default {
        height: 13.33px !important;
        padding: 0;
        line-height: 10px;
        &.active {
          .open {
            .dropdown-toggle.btn-default {
              background: #909AA0;
              border-color: #909AA0;
            }
          }
        }
        .dropdown-menu {
          li {
            button {
              display: block;
              padding: 3px 20px;
              clear: both;
              font-weight: normal;
              line-height: 1.42857;
              color: gray;
              text-align: left;
              white-space: nowrap;
              background-color: white;
              -webkit-appearance: none;
              width: 160%;
              border: none;
            }
          }
        }
      }
    }
  }
  .calculator {
    margin-bottom: 1em;
  }
  .modal-footer {
    padding: 1em 0;
  }
}