.movspec{
  line-height: 22px;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 10px !important;
  font-size: 16px;
  margin: 0px;
  font-weight: 600;
  font-family: 'Open sans' !important;
  padding: 10px 15px;
}
div.mspec{
  min-height: 120px;
  padding: 5px;
  border-bottom: 1px solid #DAD9D9;
  padding-top: 5px;
  line-height: 20px;
  padding-bottom: 0px;
}
div.mspec > div{
  min-height: 110px;
  word-wrap: break-word;
}
div.mspec > img{
  height: 110px;
  width: 110px;
  padding-top: 0px;
  margin-right: 5px;
  float: left;
}
