#your-voice{
	padding: 20px;
	font-size: 14px;
	text-align: justify;
  .info_box {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    padding: 20px;
    color: #2d2d2d;
  }
}
#your-voice .header{
	text-align: center;
}
#your-voice h2{
	font-weight: bold;
    font-size: 15px;
    line-height: 28px;
}
.item-line{
    border-top: 1px solid #B3B3B3;
}
#your-voice img{
    display: inline-block;
    max-width: 200px;
    padding: 5px;
}
#your-voice aside{
    text-align: center;
}
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  
  .star {
    padding: 1px;
    color: #ddd;
    font-size: 64px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color:#1f78bc;
    }
  }

  &.readonly .star.filled {
    color: #8ABFE8;
  }
}