include ../../../../../../../node_modules/bemto.pug/bemto

+b.edit-receipt-form(style="visibility: hidden")
    +e.dialog-container.md-dialog-container#editReceipt
        +e('md-dialog').dialog(layout-padding)
            md-toolbar
                .md-toolbar-tools
                    +e('h2').title
                        | Receipt | \#{{payment.transaction_id}}
                    span(flex)
                    md-button.md-icon-button(ng-click="cancel()")
                        ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
            md-dialog-content
                .md-dialog-content
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Id
                        input(ng-model="payment.id" disabled)
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Type
                        input(ng-model="payment.payment_flag" disabled)
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Transaction id
                        input(ng-model="payment.transaction_id" disabled)
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Date
                        input(ng-model="payment.Date")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Name
                        input(ng-model="payment.name" disabled)
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Phone
                        input(ng-model="payment.phone")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Email
                        input(ng-model="payment.email")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Amount
                        input(ng-model="payment.amount")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Account number
                        input(ng-model="payment.account_number")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Auth_code
                        input(ng-model="payment.auth_code")
                    +e('md-input-container').input-container.md-block(flex-gt-sm)
                        label Description
                        input(ng-model="payment.description")



            md-dialog-actions(layout="row")
                md-button(md-autofocus)
                    | Cancel
                span(flex)
                md-button(ng-click="answer('useful')")
                    | Save
