.select-list
  width 100%
  position relative
  z-index 1000
  &__field
    width 100%
    font-size 10px
    font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
    font-weight 600
    margin -8px
    padding 8px
    cursor: pointer;
    border-radius 2px
    &__icon
      position absolute
      &_white
        fill white
    &_text-white
      color white
  &__list
    padding 0
    &__item
      &__button
        &__text
          font-size 12px
          font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
          font-weight 400