md-menu.select-list
    .select-list__field(ng-click="$mdMenu.open(); $event.stopPropagation()" ng-mouseover='showArrowIcon = 1' ng-mouseleave='showArrowIcon = 0' trip-status ng-class="{'trip-status_grey' : jobStatusArr[jobStatus-1].id == 1, 'trip-status_orange' : jobStatusArr[jobStatus-1].id == 2, 'trip-status_green' : jobStatusArr[jobStatus-1].id == 3, 'trip-status_blue' : jobStatusArr[jobStatus-1].id == 4, 'select-list__field_text-white' : jobStatusArr[jobStatus-1].id != 2}")
        |{{jobStatusArr[jobStatus-1].type}}
        ng-md-icon(ng-show='showArrowIcon' icon='arrow_drop_down' style="fill: #000" size='16' ng-class="{ 'select-list__field__icon_white' : jobStatusArr[jobStatus-1].id != 2}").select-list__field__icon
    md-menu-content(width='2' ng-mouseleave="$mdMenu.close()").select-list__list
        md-menu-item(ng-repeat = 'item in jobStatusArr track by $index' ng-model='jobStatus').select-list__list__item
            md-button(ng-click='changeStatus($event,item.id)' ng-class="{'trip-status_grey' : item.id == 1, 'trip-status_orange' : item.id == 2, 'trip-status_green' : item.id == 3, 'trip-status_blue' : item.id == 4}").select-list__list__item__button
               .select-list__list__item__button__text {{item.type}}
