<section id="main-content" class="animated fadeInRight">
    <div ng-show="busy" style="position: absolute;margin-top: 10px;">
        <svg class="spinner" width="15px" height="15px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="row" ng-class="{'disabled': busy}" ng-if="currCoupons.length != 0" style="margin-top: 15px;">
        <div class="col-md-12">
            <h2 style="padding: 0px 15px;margin-bottom: 30px;font-weight: bold;text-align: justify;">{{settings.couponsTitle}}</h2>
            <div class="col-md-6" ng-repeat="coupon in currCoupons" style="margin-bottom: 15px;">
                <div id="preview-coupon">
                    <div class="coupon">
                        <div class="row" style="margin-bottom: auto; margin-top: 10px;">
                            <div class="col-md-12">
                                <h3>
                                    <i class="fa fa-tag" aria-hidden="true" style="transform: rotate(90deg);color: #4E901A;"></i> ${{coupon.value.price | number : 2}} for ${{coupon.value.discount | number : 2}} Deal at {{settings.company_name}}
                                </h3>
                                <h4 ng-if="coupon.value.coupons_left > 0">Only {{coupon.value.coupons_left}} deals left!</h4>
                                <div class="row info-table">
                                    <div class="col-md-4 vertical-line">
                                        <div class="title-preview">Reg.Price</div>
                                        <h4>${{coupon.value.discount | number : 2}}</h4>
                                    </div>
                                    <div class="col-md-4 vertical-line">
                                        <div class="title-preview">Discount</div>
                                        <h4>%{{100 - (100*coupon.value.price/coupon.value.discount || 0)| number : 2}}</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="title-preview">Savings</div>
                                        <h4>${{coupon.value.discount - coupon.value.price | number : 2}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{coupon.value.description}}</p>
                                        <a class="btn btn-coupon" ng-href="/account/#/coupon/{{coupon.value.hash}}" ng-click="setRequestNid()" title="buy coupon" target="_self"><b>${{coupon.value.price | number : 2}} Buy now</b></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul style="padding-left: 20px;list-style: initial;">
                                            <li ng-repeat="term in coupon.value.terms track by $index" ng-if="term && term != ''" style="margin-bottom: inherit;">
                                                {{term}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="currCoupons.length == 0">
        <div class="col-md-12">
            <div style="text-align: center;">
                <h3>No available coupons</h3>
            </div>
        </div>
    </div>
</section>
