<div class="row">
    <div class="col-lg-12">
        <section class="panel schedule_settings" ng-controller="ScheduleContorller as vm">
            <header class="panel-heading wht-bg">
                <h4 class="gen-case">Miscellaneous Settings</h4>
            </header>
            <div class="panel-body minimal">
                <div class="saving-progress">
                    <span class="ng-hide" ng-show="vm.saving">Saving</span>
                    <span class="animated fadeIn ng-hide" ng-show="vm.saved">Saved!</span>
                </div>
                <div class="option table-responsive">
                    <h1>Reservation Price</h1>
                    <table class="table table-inbox table-hover">
                        <tbody>
                        <TR>
                            <TD class="title" style="width: 40%;"><h2>Local Moves</h2></TD>
                            <TD class="floor">
                                <select ng-change="vm.saveSettings()" ng-model-options="{ updateOn: 'blur' }"
                                        ng-class="{'fadeout':vm.scheduleSettings.localReservationRate}"
                                        ng-model="vm.scheduleSettings.localReservation" class="form-control floor form-element">
                                    <option ng-selected="n == vm.scheduleSettings.localReservation"
                                            ng-repeat="n in ::vm.range(0, 4, 1)" value="{{n}}">{{n}} hour
                                    </option>
                                </select>
                            </TD>
                            <TD class="floor">
                                OR
                            </TD>
                            <TD class="setprice" colspan="4">
                                <input cc-currency class="form-element form-control" ng-model-options="{ updateOn: 'blur' }"
                                       ng-change="vm.saveSettings()" ng-model="vm.scheduleSettings.localReservationRate">
                            </TD>
                        </TR>
                        <TR>
                            <TD class="title"><h2>Flat Rate Moves</h2></TD>
                            <TD class="floor">
                                <select ng-change="vm.saveSettings()" ng-model-options="{ updateOn: 'blur' }"
                                        ng-class="{'fadeout':vm.scheduleSettings.flatReservationRate}"
                                        ng-model="vm.scheduleSettings.flatReservation" class="form-control floor form-element">
                                    <option ng-selected="n == vm.scheduleSettings.flatReservation"
                                            ng-repeat="n in ::vm.range(0, 100, 5)" value="{{n}}">{{n}}%
                                    </option>
                                </select>
                                <span>of max quote</span>
                            </TD>
                            <TD class="floor">
                                OR
                            </TD>
                            <TD class="setprice" colspan="4">
                                <input cc-currency class="form-element form-control" ng-model-options="{ updateOn: 'blur' }"
                                       ng-change="vm.saveSettings()" ng-model="vm.scheduleSettings.flatReservationRate">
                            </TD>
                        </TR>
                        <TR>
                            <TD class="title"><h2>Long Distance Moves</h2></TD>
                            <TD class="floor">
                                <select ng-change="vm.saveSettings()" ng-model-options="{ updateOn: 'blur' }"
                                        ng-class="{'fadeout':vm.scheduleSettings.longReservationRate}"
                                        ng-model="vm.scheduleSettings.longReservation" class="form-control floor form-element">
                                    <option ng-selected="n == vm.scheduleSettings.longReservation"
                                            ng-repeat="n in ::vm.range(0, 100, 5)" value="{{n}}">{{n}}%
                                    </option>
                                </select>
                                <span>of max quote</span>
                            </TD>
                            <TD class="floor">
                                OR
                            </TD>
                            <TD class="setprice" colspan="4">
                                <input cc-currency class="form-element form-control" ng-model-options="{ updateOn: 'blur' }"
                                       ng-change="vm.saveSettings()" ng-model="vm.scheduleSettings.longReservationRate">
                            </TD>
                        </TR>
                        <TR>
                            <TD class="title"><h2>How many hours before the move date the reservation price will increase</h2>
                            </TD>
                            <TD class="floor">
                                <select ng-change="vm.saveSettings()" ng-model-options="{ updateOn: 'blur' }"
                                        ng-model="vm.scheduleSettings.whenReservationRateIncrease"
                                        class="form-control floor form-element">
                                    <option ng-selected="n == vm.scheduleSettings.whenReservationRateIncrease"
                                            ng-repeat="n in ::vm.range(24, 72, 24)" value="{{n}}">{{n}}
                                    </option>
                                </select>
                                hours before
                            </TD>
                            <TD class="floor">
                                AND
                            </TD>
                            <TD class="floor">
                                <select ng-change="vm.saveSettings()" ng-model-options="{ updateOn: 'blur' }"
                                        ng-class="{'fadeout':vm.scheduleSettings.ReservationRateIncreaseRate}"
                                        ng-model="vm.scheduleSettings.ReservationRateIncreaseRatePercent"
                                        class="form-control floor form-element">
                                    <option ng-selected="n == vm.scheduleSettings.ReservationRateIncreaseRatePercent"
                                            ng-repeat="n in ::vm.range(0, 100, 5)" value="{{n}}">{{n}}%
                                    </option>
                                </select>
                                <span>of max quote</span>
                            </TD>
                            <TD class="floor">
                                OR
                            </TD>
                            <TD class="setprice">
                                <input cc-currency class="form-element form-control" ng-model-options="{ updateOn: 'blur' }"
                                       ng-change="vm.saveSettings()" ng-model="vm.scheduleSettings.ReservationRateIncreaseRate">
                            </TD>
                        </TR>
                        </tbody>
                    </table>
                    <h1>Expirations rules</h1>
                    <table class="table table-inbox table-hover">
                        <tbody>
                        <!-- Expirations rules-->
                        <TR>
                            <TD colspan="6" class="title">
                                <h2><span class="status" style="background-color: #4B94D2;
    font-size: 12px;">not confirmed</span>
                                    ( <select ng-change="vm.saveSettings()" ng-model="vm.scheduleSettings.ExperationReqType">
                                        <option value="all">all</option>
                                        <option value="morning">morning</option>
                                    </select> )
                                    jobs will be expired after <select ng-change="vm.saveSettings()"
                                                                       ng-model="vm.scheduleSettings.ExperationBeforeTime">
                                        <option value="14">2pm</option>
                                        <option value="15">3pm</option>
                                        <option value="16">4pm</option>
                                        <option value="17">5pm</option>
                                        <option value="18">6pm</option>
                                        <option value="19">7pm</option>
                                        <option value="20">8pm</option>
                                    </select>day before the move date.
                                </h2>
                            </TD>
                        </TR>
                        <TR>
                            <TD colspan="6" class="title">
                                <h2>Request will be expired in
                                    <select ng-change="vm.saveSettings()" ng-model="vm.scheduleSettings.daysExpired">
                                        <option ng-selected="0 == vm.scheduleSettings.daysExpired" value="0">Never</option>
                                        <option ng-selected="n == vm.scheduleSettings.daysExpired" ng-repeat="n in ::vm.range(2, 15, 1)" value="{{n}}">{{n}}</option>
                                    </select>
                                    days, if there is no activity.
                                </h2>
                            </TD>
                        </TR>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
