<print-download class="download-row"
                ng-if="!isFamiliarization && !isPrint && data.mainContractPagePdf.url ||
                                contract_page.allow_download_and_print && isPrint && data.mainContractPagePdf.url"
                url="data.mainContractPagePdf.url">
</print-download>
<send-letter-pdf class="send-letter-pdf-row"
                 ng-if="contract_page.allow_send_letter_pdf && !data.isSubmitted"
                 send-pdf-page="sendLetterPdf()"
                 download-pdf-page="downloadPdfPage()">
</send-letter-pdf>
<div ng-if="!imContract">
    <div class="contract-inner contract flat-rate-contract">
        <!-- header -->
        <div class="row header">
            <div class="col-md-3">
                <img ng-src="{{basicSettings.company_logo_url}}" width="110px">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <p class="bold uppercase padding-left-0" ng-bind-html="content.header"></p>
            </div>
            <div class="col-md-3">
                <p class="bold right uppercase">non negotiable</p>
                <p class="bold uppercase">B/L - {{ ::request.nid }}</p>
                <p class="bold uppercase">date of order <span class="detail">{{:: request.date.value}}</span></p>
            </div>
            <div class="col-md-12">
                <p class="blue uppercase bold left-offset"> carrier
                    <span class="detail">
                        {{basicSettings.company_name}} {{basicSettings.company_address}} | {{basicSettings.company_tall_free_phone | nationalPhoneFormatter}}
                    </span>
                </p>
                <p class="paragraph left-offset" ng-bind-html="content.welcome"></p>
            </div>
            <div class="col-md-12" ng-if="loadCustom && content.customContent1.length > minLengthCustomBlock">
                <div class="custom-content-box">
                    <div class="paragraph" custom-content
                                           content="content.customContent1"
                                           container="customContent1"
                                           is-submitted="data.isSubmitted">
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->

        <!-- shipper signature at origin -->
        <div class="row">
            <div class="col-md-12">
                <div class="contract-box">
                    <div class="contract-box-content no-border border-bottom" ng-if="showFirstSinature()">
                        <p class="inline-block orange bold uppercase left-offset">
                            shipper or agent signature at origin
                        </p>
                        <signature-box step-id="0" owner="customer" data="data"></signature-box>
                        <p class="inline-block orange uppercase left-offset"></p>
                        <p class="orange bold uppercase left-offset">
                            received subject to tarif rule and regulations of the above named carrier
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end shipper signature at origin-->

        <!-- origin and destination -->
        <div class="row">
            <!-- origin -->
            <div class="col-md-6 contract-box">
                <div class="contract-box-content no-border">
                    <trip-data request="request"
                               name="field_extra_pickup"
                               data="contract_page.origin">
                    </trip-data>
                </div>
            </div>
             <!--end origin-->

            <!-- destination -->
            <div class="col-md-6 contract-box no-border">
                <div class="contract-box-content no-border">
                    <trip-data request="request"
                               name="field_extra_dropoff"
                               data="contract_page.destination">
                    </trip-data>
                </div>
            </div>
            <!-- end destination -->
        </div>
        <!-- end origin and destination -->

        <div class="row">
            <div class="col-md-12 contract-box">
                <div class="contract-box-content">
                    <p class="title center underline blue left-offset"
                       ng-bind="contract_page.editableFields.longDistanceFlatRatesOption">
                    </p>
                    <p class="paragraph">
                        Confirm rate of $ {{:: request.request_all_data.invoice.flat_rate_quote.value || request.flat_rate_quote.value }}
                        for household goods shipment moving from {{:: request.field_moving_from.locality }}
                        to {{ request.field_moving_to.locality }}
                    <p class="paragraph pdf-margin-left" ng-bind-html="content.longRates"></p></p>
                    <p class="inline-block orange bold left-offset">if customer agrees, please sign here</p>
                    <signature-box step-id="1" owner="customer"></signature-box>
                </div>
            </div>
        </div>

        <div class="row" ng-if="loadCustom && content.customContent2.length > minLengthCustomBlock">
            <div class="col-md-12">
                <div class="custom-content-box">
                    <div class="paragraph" custom-content
                                           content="content.customContent2"
                                           container="customContent2"
                                           is-submitted="data.isSubmitted">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="contract-box" ng-if="showDeclarVal">
                    <div class="contract-box-content" id="step_declaration">
                        <p class="title underline left-offset"
                           ng-bind="contract_page.editableFields.declarationValue">
                        </p>
                        <ul class="dolc">
                            <li ng-if="content.declarUp != '' "><span>{{:: content.declarUp }}</span></li>
                            <li ng-repeat="declarObj in declarationValue" ng-show="declarObj.show" class="clearfix">
                                <span class="capital">{{ declarObj.index }}</span>
                                <p>{{ declarObj.description }}</p>
                            </li>
                            <li ng-if="content.declarDown != '' "><span>{{:: content.declarDown }}</span></li>
                            <li>
                                <div>
                                    <span class="">I choose the option: </span>
                                    <select class='select-lead declar'
                                            ng-disabled="data.signatures[2] && (data.signatures[2].value != '' || data.isSubmitted)"
                                            name="declaration_select"
                                            ng-model="data.declarationValue.selected"
                                            ng-change="removeDeclarSelectError()">
                                        <option ng-repeat="declarObj in declarationValue track by declarObj.index"
                                                ng-selected="declarObj.index == data.declarationValue.selected"
                                                value="{{ declarObj.index }}"
                                                ng-if="declarObj.show">
                                            {{:: declarObj.index}}
                                        </option>
                                    </select>
                                </div>
                            </li>
                            <li ng-if="content.showDeclarCustomer" style="font-size: 14px;">
                                <label>Customer value declaration:</label>
                                <span>{{:: content.declarCustomer }}</span>
                                $<input class="medium full-width-input"
                                        type="number"
                                        ng-model="data.declarationValue.declarCustomer"
                                        ng-change='saveContract({data:true})'/>
                            </li>
                        </ul>
                        <div ng-if="!contract_page.lessInitialContract">
                            <p class="inline-block orange uppercase left-offset"><span>signature of shipper</span></p>
                            <signature-box step-id="2" owner="shipper"></signature-box>
                        </div>
                    </div>
                </div>
                <div class="contract-box storage_in_transit sit_block" ng-if="services">
                    <div class="contract-box-content">
                        <p class="title underline left-offset">
                            {{contract_page.editableFields.servicesTitle}}
                            <a href="javascript:;"
                               class="pull-right"
                               style="padding-right: 15px;"
                               ng-click="showTransit()">
                                {{openStorageAndTransit ? '-' : '+' }}
                            </a>
                        </p>
                        <div ng-show="openStorageAndTransit">
                            <p class="paragraph left-offset bold"> if shipment must be stored, customer must initial below</p>
                            <div class="paragraph left-offset right-offset">
                                <div class="row">
                                    <button class="btn btn-info pull-left col-xs-6 col-sm-6 col-md-6"
                                            style="margin: 0 -5px 0 -5px;"
                                            ng-click="openService('overnight_storage')"
                                            ng-if="showService('overnight_storage')"
                                            ng-disabled="data.isSubmitted">
                                        Coming to Overnight
                                    </button>
                                </div>
                                <div parse-show-storage-service
                                     class="paragraph left-offset sit-block"
                                     ng-model="sf.connected_service"
                                     monthly-total="storageTotal"
                                     volume-cuft="storageVolume"
                                     rate-cuft="storageRateCuft"
                                     ng-repeat="sf in content.storageFit | filter:{ active: true, unremovable: true}"
                                     ng-if="!showService(sf.connected_service)">
                                </div>
                                <div parser class="paragraph left-offset sit-block"
                                     services="request.extraServices"
                                     ng-model="sf.connected_service"
                                     monthly-total="storageTotal"
                                     volume-cuft="storageVolume"
                                     rate-cuft="storageRateCuft"
                                     ng-repeat="sf in content.storageFit | filter:{ active: true}"
                                     ng-if="!sf.unremovable">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contract-box no-margin-top">
                    <div class="contract-box-content no-border">
                        <table>
                            <tbody ng-if="requestReady"
                                   packing-table
                                   request="request">
                            </tbody>
                            <tbody ng-if="requestReady"
                                   extra-services-table
                                   request="request"
                                   save-contract="saveContract()">
                            </tbody>
                            <tbody ng-if="requestReady"
                                   payments
                                   show-discount="showDiscount"
                                   balance-paid="balance_paid"
                                   request-type="request.service_type.raw"
                                   save-contract="saveContract({data: data})"
                                   save-req-data-invoice="saveReqDataInvoice({type: type})"
                                   send-contract-log="sendContractLog({msgToLog: msgToLog})"
                                   get-tips="getTips()"
                                   total-less-deposit="totalLessDeposit()"
                                   show-payment="showPayment()"
                                   total-flat-rate-closing="totalFlatRateClosing()">
                            </tbody>
                        </table>
                        <div class="animated checkout_btn"
                             ng-click="applyPayment({step: paymentButton()})"
                             ng-class="{'checkout_btn_paid': paymentButton()}">
                        <span ng-show="paymentButton()">
                            <i class="icon-check"></i>
                        </span> <span ng-hide="paymentButton()">
                            <span ng-show="!openPay">Pay</span>
                            <span ng-show="openPay">
                                <svg style="margin-top: 15px;"
                                     class="spinner white"
                                     width="25px"
                                     height="25px"
                                     viewBox="0 0 66 66"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path_white"
                                            fill="none"
                                            stroke-width="6"
                                            stroke-linecap="round"
                                            cx="33"
                                            cy="33"
                                            r="30">
                                    </circle>
                                </svg>
                            </span>
                        </span>
                            <div id="errorSign_checkout_btn" style="display:none;">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="loadCustom && content.customContent3.length > minLengthCustomBlock">
            <div class="col-md-12">
                <div class="custom-content-box">
                    <div class="paragraph" custom-content
                                           content="content.customContent3"
                                           container="customContent3"
                                           is-submitted="data.isSubmitted">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 contract-box" style="margin-top: 25px;">
                <div class="contract-box-content">
                    <p class="paragraph pdf-margin-left" ng-bind-html="content.last"></p>
                    <!-- info rows -->
                    <!--local move-->
                    <div class="info-rows" ng-if="request.field_flat_rate_local_move.value">
                        <div class="col-md-6 col-sm-6">
                            <p class="orange bold uppercase">customer signature</p>
                            <signature-box step-id="3" owner="customer"></signature-box>
                        </div>
                        <div class="col-md-6 col-sm-6"
                             ng-if="contract_page.lessInitialContract && data.req_comment && data.req_comment.length != ''">
                            <p class="blue bold uppercase">carrier signature</p>
                            <signature-box step-id="4" owner="carrier"></signature-box>
                        </div>
                        <div class="col-md-6 col-sm-6" ng-if="!contract_page.lessInitialContract">
                            <p class="blue bold uppercase">carrier signature</p>
                            <signature-box step-id="4" owner="carrier"></signature-box>
                        </div>
                    </div>
                    <div class="comments" ng-if="request.field_flat_rate_local_move.value">
                        <p class="bold uppercase">customer comments</p>
                        <textarea rows="10"
                                  ng-model="data.req_comment"
                                  ng-value="data.req_comment"
                                  ng-disabled="data.isSubmitted">
                        </textarea>
                        <pre class="print-comments" ng-bind="data.req_comment"></pre>
                    </div>
                    <!--flat rate-->
                    <div class="info-rows contract-box flat-rate"
                         ng-if="!request.field_flat_rate_local_move.value"
                         style="padding: 15px 0px;">
                        <div class="col-md-6 col-sm-6" style="border-right: solid 1px #BBBBBB;
    padding-bottom: 8px;">
                            <div class="info-rows">
                                <p class="title  underline blue ">Pickup</p>
                                <div class="col-md-6 col-sm-6" style="padding: inherit;">
                                    <p class="orange bold uppercase">customer signature</p>
                                    <signature-box step-id="3" owner="customer"></signature-box>
                                </div>
                                <div class="col-md-6 col-sm-6"
                                     style="padding: inherit;"
                                     ng-hide="contract_page.lessInitialContract && !data.req_comment">
                                    <p class="blue bold uppercase">carrier signature</p>
                                    <signature-box step-id="4" owner="carrier"></signature-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="info-rows">
                                <p class="title  underline blue ">Delivery</p>
                                <div class="col-md-6 col-sm-6" style="padding: inherit;">
                                    <p class="orange bold uppercase">customer signature</p>
                                    <signature-box step-id="5" owner="customer"></signature-box>
                                </div>
                                <div class="col-md-6 col-sm-6"
                                     style="padding: inherit;"
                                     ng-hide="contract_page.lessInitialContract && !data.req_commentDelivery">
                                    <p class="blue bold uppercase">carrier signature</p>
                                    <signature-box step-id="6" owner="carrier"></signature-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-rows contract-box flat-rate"
                         ng-if="!request.field_flat_rate_local_move.value"
                         style="padding: 15px 0px;">
                        <div class="col-md-6 col-sm-6" style="border-right: solid 1px #BBBBBB; padding: initial;">
                            <div class="comments">
                                <p class="bold uppercase">customer comments</p>
                                <textarea rows="10"
                                          ng-model="data.req_comment"
                                          ng-value="data.req_comment"
                                          data-ng-disabled="data.isPickupSubmitted">
                                </textarea>
                                <pre class="print-comments" ng-bind="data.req_comment"></pre>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" style="border-right: solid 1px #BBBBBB;padding: initial;">
                            <div class="comments">
                                <p class="bold uppercase">customer comments</p>
                                <textarea rows="10"
                                          ng-model="data.req_commentDelivery"
                                          ng-value="data.req_commentDelivery"
                                          data-ng-disabled="data.isSubmitted">
                                </textarea>
                                <pre class="print-comments" ng-bind="data.req_comment"></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="bold center top" ng-bind-html="content.footer"></p>
        <p class="bold center top no-print">
            (See contract
            <span class="blue underline" style="cursor: pointer;" ng-click="flipPage()">terms and conditions</span>)
        </p>
        <div class="bold center top no-print">
            <div class="row" ng-if="!request.field_flat_rate_local_move.value">
                <button class="btn btn-lg btn-info"
                        ng-hide="data.isPickupSubmitted"
                        ng-click="submitContractBtn({pickup: true, isBtn: true })"
                        ng-disabled="submitContract() || data.isPickupSubmitted">
                    Submit pick-up
                </button>
                <button class="btn btn-lg btn-success"
                        ng-if="data.isPickupSubmitted && !data.isSubmitted"
                        ng-disabled="submitContract()"
                        ng-click="submitContractBtn({pickup: true, delivery: true, isBtn: true, lastPageSubmit: true})">
                    Submit delivery
                </button>
                <button class="btn btn-lg btn-success" ng-if="data.isSubmitted" disabled>Job is Done</button>
            </div>
            <div class="row" ng-if="request.field_flat_rate_local_move.value">
                <button class="btn btn-lg btn-info"
                        ng-if="!data.isSubmitted"
                        ng-disabled="submitContract()"
                        ng-click="submitContractBtn({pickup: true, isBtn: true, lastPageSubmit: true})">
                    Submit contract
                </button>
                <button class="btn btn-lg btn-success" ng-if="data.isSubmitted" disabled>Job is Done</button>
            </div>
        </div>
    </div>
</div>
<img id="contract-image" ng-src="{{imContract}}" ng-if="imContract && data.isSubmitted" style="width: 100%">
