<tr>
   <th colspan="2" ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">
      <p class="blue">ADDITIONAL SERVICE CHARGE</p>
   </th>
   <th colspan="3" ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">
      <p class="blue">ADDITIONAL SERVICE CHARGE</p>
   </th>
   <th>No</th>
   <th>Rate</th>
   <th>Amount</th>

</tr>
<tr ng-repeat="service in additionalServices track by $index">
   <td colspan="2" ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">
      <input class="large"
             type="text"
             ng-model="service.name"
             ng-value="service.name"
             ng-change="changeName(service);editPackingLog('Name', service, service.name);saveServices();"
             ng-model-options="{ debounce: 500 }"
             ng-disabled="data.isSubmitted"/>
   </td>
   <td colspan="3" ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">
      <input class="large"
             type="text"
             ng-model="service.name"
             ng-value="service.name"
             ng-change="changeName(service);editPackingLog('Name', service, service.name);saveServices();"
             ng-model-options="{ debounce: 500 }"
             ng-disabled="data.isSubmitted"/>
   </td>
   <td>
      <select ng-if="service.extra_services[1] && service.name != 'Estimate Partial Packing' && service.name != 'Estimate Full Packing'"
              ng-init="service.extra_services[1].services_default_value = service.extra_services[1].services_default_value.toString() || '0'"
              ng-model="service.extra_services[1].services_default_value"
              ng-value="service.extra_services[1].services_default_value"
              ng-change="editPackingLog('No', service, service.extra_services[1].services_default_value);saveServices();"
              ng-disabled="service.extra_services[2].services_read_only || data.isSubmitted && !isFamiliarization && !isPrint">
         <option ng-repeat="n in dummyArray track by $index" ng-selected="service.extra_services[1].services_default_value == $index">{{:: $index}}</option>
      </select>
      <span ng-if="service.name == 'Estimate Partial Packing' || service.name == 'Estimate Full Packing'">{{service.extra_services[1].services_default_value}}</span>
   </td>
   <td>$<input type="number" class="medium m-r-xs" string-to-number ng-change="editPackingLog('Rate', service, service.extra_services[0].services_default_value);saveServices()"
               ng-model-options="{ debounce: 500 }"
               ng-model="service.extra_services[0].services_default_value"
               ng-value="service.extra_services[0].services_default_value"
               ng-disabled="service.extra_services[0].services_read_only || data.isSubmitted && !isFamiliarization && !isPrint">
      <input
           ng-if="service.extra_services[2].services_default_value" type="number" class="medium" string-to-number
           ng-change="editPackingLog('Rate', service, '$'+service.extra_services[2].services_default_value);saveServices();"
           ng-model-options="{ debounce: 500 }"
           ng-model="service.extra_services[2].services_default_value"
           ng-value="service.extra_services[2].services_default_value"
           ng-disabled="service.extra_services[2].services_read_only || data.isSubmitted && !isFamiliarization && !isPrint"></td>
   <td>
      $ <input class="medium" type="text" disabled value="{{service.extra_services[0].services_default_value * (service.extra_services[2].services_default_value || 1)* (service.extra_services[1].services_default_value || 1)  | number:2 }}"/>
      <p ng-if="showAddServicesBtn()" class="remove" ng-click="removeCharge($index)">
          <a href="javascript:;" class="btn btn-close">&times;</a>
      </p>
   </td>
</tr>
<tr ng-if="showAddServicesBtn()">
    <td colspan="5" ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">
      <p class="bold"><a class="right" ng-click="showAdditionalServicesRef.show = !showAdditionalServicesRef.show">{{showAdditionalServicesRef.show ? "-" : "+"}} add a service</a></p>
      <div class="services-dropdown" ng-show="showAdditionalServicesRef.show">
         <ul>
            <li ng-click="addService(s)" ng-repeat="s in additionalServicesRef">{{:: s.name }} </li>
            <li class="bold" ng-click="addService()"> + Add a service manually </li>
         </ul>
      </div>
   </td>
   <td colspan="6" ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">
      <p class="bold"><a class="right" ng-click="showAdditionalServicesRef.show = !showAdditionalServicesRef.show">{{showAdditionalServicesRef.show ? "-" : "+"}} add a service</a></p>
      <div class="services-dropdown" ng-show="showAdditionalServicesRef.show">
         <ul>
            <li ng-click="addService(s)" ng-repeat="s in additionalServicesRef">{{:: s.name }} </li>
            <li class="bold" ng-click="addService()"> + Add a service manually </li>
         </ul>
      </div>
   </td>
</tr>
<tr>
   <td colspan="4" ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">
      <p class="blue right">total Extra charges</p>
   </td>
   <td colspan="5" ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">
      <p class="blue right">total Extra charges</p>
   </td>
   <td>$ {{ sumServicesChanged() }}</td>
</tr>
