@import "../../../style/default.styl"

.inventory
	display flex
	flex-direction column
	background white
	width 100%
	height 100%
	margin-top 0
	margin-left 0
	&__save-button
		background-color #2392BA
		font-weight 600
		padding 0 15px
		color white
		&:hover
			color #2392BA
	&__bottom-save-button
		display flex
		flex-direction row
		justify-content center
		padding-bottom 20px
	&__fullscreen
		background white
		position static
		z-index 2050
		top 0
		left 0

	&__dots
		display flex
		width 100%
		height 40px

	&__inventory-list
		display flex
		flex-direction column
		background #fff
		width 98%
		height 98%
		margin-top 1%
		margin-left 1%
		border 1px solid #ddd

		&_with-dots
			margin-top 0


	&__table-new
		padding 10px 5px
		width 100%

	md-table-container
		width 100%

	&__iframe
		width 100%

	&__visible
		overflow hidden
		width 100%
		height 100%
	&__unvisible
		position relative
		width 100%
		height 100%
		display flex
		justify-content center
	&__spinner
		left 0
		top 0
	&__spinner-hor
		width 65px
		height 100%
		display flex
		flex-direction column
		justify-content center

	&__spinner-ver
		width 65px
		height 65px
		display flex
		position relative

	&__progress
		width 100%
		height 1px

	&__button
		padding 5px 15px
		height 30px
		padding 5px
		font-weight 600
		font-size 14px
		border none
		text-transform uppercase
		&.mobile-visible
			display none
			^[0]__fullscreen &
				display inline

	&__wraper
		width 100%
		max-height 100vh
		overflow-y auto
		overflow-x hidden
		transition filter 0.5s linear
		&.loading
			background-image url("/moveBoard/content/img/icons/animat-search-color.gif")
			background-repeat no-repeat
			background-position center
			background-size 150px
		&.blur-grayscale
			filter blur(3px) grayscale(100%)

	&__wraper-aside
		border-right 1px solid s-grey
		background-color #fff
		min-width 245px
		width 245px
		max-height 100vh
		overflow-y auto
		overflow-x hidden
		display flex
		flex-direction column
		padding-top 10px

		^[0]__fullscreen &
			position absolute
			left 10px
			top 61px
			width 0
			min-width 0
			height calc(100% - 72px)
			z-index 2
			transition-duration 300ms
			&.opened
				width 245px
				transition-duration 300ms
		&_visible
			display block

	&__room
		width 100%
		padding 8px
		cursor pointer
		font-weight 500
		border-left 0 solid s-grey
		transition-duration 150ms
		&:hover
			background-color s-grey
			border-left 2px solid blue
			transition-duration 150ms
		&.opened
			transition-duration 150ms
			font-weight bold
			background-color #eee
			border-left 2px solid #2392ba
		&.pending
			background-color s-grey
			border-left 2px solid #a6a6a6
			transition-duration 150ms
			.inventory__title
				color #a6a6a6
			.inventory__icon-add-custom-room
				color #a6a6a6
			&::after
				top 0%
				content ""
				border-left 0px
				animation pending-animation 2s infinite linear
				margin-top -13px
				display block
				height 0
				width 0
				position relative
				box-shadow 0 0 35px 8px #fff

			@keyframes pending-animation {
				0% {
					box-shadow 0 0 10px 0px #fff;
					left 0%
					margin-left -8px
				}
				85% {
					box-shadow 0 0 35px 24px #fff
					left 0%
					margin-left -8px
				}
				100% {
					left 100%
					margin-left 8px
					box-shadow 0 0 35px 24px #fff
				}
			}

	&__nav
		height 25px

	&__icon
		width 25px
		height 25px
		float left

	&__title
		margin-left 10px
		font-size 15px
		font-family "Open Sans"
		line-height 25px
		color #000
		float left
		width calc(100% - 35px)
		^[0]__fullscreen &
			.custom-room-name .settings--edit:hover
				color #565656
				font-size 16px
			font-size 20px
			& .custom-room-name .title-input
				font-size 15px
		&_left
			top 10px
			left 25px
			width 210px
			position absolute
		&_right
			top 10px
			right 45px
			width 220px
			position absolute
		&_active h2
			color #4caf50 !important

	&__count
		display inline
		margin-left 10px
		font-weight 600
		float right
		font-size 15px

	&__filters
		display block
		margin-left 45px
		font-weight normal
		&_wrapper
			display flex
			flex-direction column
			margin-top 3px
			margin-left -1px

	&__filter
		color #000
		font-size 15px
		font-family geom
		margin-top 15px
		margin-bottom 5px
		&.active
			color #900
			font-weight 700


	&__room-mobile-bg
		position absolute
		background #000
		//opacity 0.4
		width 100%
		height 100%
		z-index 1

		&_white
			background #fff
			//opacity 1
			width 245px

	&__menu-wrapper
		position absolute
		height 100%
		width 100%

	&__table
		width 98%
		margin-top 10px
		border 1px #999 solid

	&__table-row
		height 35px
		border-top: 1px solid s-grey

	&__table-cell
		padding 0 6px 0 6px
		&_center
			text-align center

	&__side-bar
		width 200px
		background s-grey
	&__search
		color #000
		height 30px
		padding 5px
		margin-top 4px
		margin-left 10px
		border solid 1px #dedede
		border-radius 2px

	&__new-item
		width $invWidth
		height 170px
		background #fff

	&__item
		float left
		display flex
		flex-wrap wrap
		align-content flex-start
		border-right 1px s-grey solid
		border-bottom 1px s-grey solid
		width 25%
		height 200px
		will-change scroll-position

		&_filter
			width calc(100% + 10px)
			height 40px
			margin-bottom 0px
			margin-top 0
			margin-left -3px

		&_list
			width 100% !important
			height 40px

		&_custom
			display flex
			flex-direction row
			flex-wrap nowrap
			width 100% !important

			height 56px
			border 1px solid #000
			align-items center
			justify-content center
			align-self flex-start

			.new-custom-item_input
				height 40px
				width 120px
				margin-left 20px
				padding 5px
				&:focus
					border 1px solid #909000
			&.ng-submitted
				.new-custom-item_input
					&.ng-invalid, &.ng-invalid-required
						border 1px solid red

		&_novalid
			border 1px solid red
		&_focus
			border 1px solid #909000

	&__toolbar
		display flex
		flex-direction row
		height 50px
		padding 10px
		padding-top 0
		padding-bottom 30px
		color #000
		width 100%
		font-size 14px
		justify-content flex-start
		border-bottom 1px solid #ddd
	&__group
		display flex
		flex-wrap wrap
		align-content flex-start
		width 100%

	&__group-title
		width 100%
		height 40px
		padding 10px
		background blue
		color #fff
		text-align center
		margin-bottom 15px
	&__toolbar-group
		display flex
		flex-direction row
		&.reverse
			flex-direction row-reverse
			margin-left auto
	&__toolbar-item
		padding-top 5px
		display flex
		font-weight 600
		&.mobile-visible
			display none
			^[0]__fullscreen &
				display inline
		&_info
			height 50px
			line-height 2.7
			margin-left 20px
		&_typical-item
			position absolute
			right 70px
	&__typical-button
		margin 0 6px
		height 40px
	&__row
		display flex
		flex-direction row
		width 100%
		margin-bottom 15px
		&.block
			display block
			margin-bottom 0
		&.reverse
			flex-direction row-reverse
		&_mobile
			display none
			height auto
		&_hidden
			height 0
		&_curren-room
			width: 99%

		&_absolute
			display none
			position absolute
			overflow hidden
			background #fff
			z-index 100
			//box-shadow 0px 0px 20px 0px #aaa
			transition all 0.3s
			max-height 600px
			width 97%

	&__inventory-items
		width calc(100% - 20px)
		margin-left 10px
		margin-right 10px

	&__form-wrapper
		max-width 550px
		margin 0 auto

		form
			margin-top 20px
			padding 15px
			border 1px solid s-grey

	&__form-row
		display flex
		flex-direction row

		&:first-child
			.inventory__wrapper
				width 100%
				padding-right 15px

	&__column
		display flex
		flex-direction column
		&:last-child
			margin-left 15px
			.inventory__wrapper
				padding-right 15px

	&__wrapper
		display flex
		justify-content space-between
		align-items center
		margin 10px 0

		span
			margin-left 15px
			font-size 14px
			min-width 125px

		input
			font-size 12px

	.inventory-button
		margin auto

	&__selected-room
		height 40px
		margin-top -15px
		padding 10px 0
		border-bottom 1px solid s-grey
		width 100%
		text-align center
		cursor pointer
		display flex
		position relative
		justify-content center
		&_clicked
			span
				transform scale(0.9, 0.9)
		&__room-name
			margin-right 10px
			font-weight bold
		&__filter-name
			color #900

	&__selected-room-arrow
		position absolute
		margin-top -10px !important

		&_left
			left -6px

		&_rigth
			right 10px

	&__custom-item-size-hint
		img
			width 100%

	&__icon-add-custom-room
		color green
		padding-left 3px
		float left
		width 25px
		height 25px
		font-size 25px
		line-height 20px

	&__nested-info
		margin-right 20px

.custom-item-input-max-width
	max-width 106px


@media screen and (max-width: 1024px)
	.inventory
		&__form-wrapper
			form
				padding 40px
		&__form-row
			display block

			&:first-child
				.inventory__wrapper
					padding 0

		&__column
			&:last-child
				margin 0
				.inventory__wrapper
					padding 0

		&__wrapper
			padding 0
			span
				margin 0;

		//.inventory-button
		//	margin-top 20px

@media print
	.modal
		overflow visible !important
		overflow-x visible !important
		overflow-y visible !important

	.modal-content
		overflow visible !important

	.modal-header
		display none

@media screen and (max-width: 2000px)
	.inventory__item
		width 16%

	.inventory__item_filter
		width calc(100% + 10px)

@media screen and (max-width: 1750px)
	.inventory__item
		width 20%

	.inventory__item_filter
		width calc(100% + 10px)

@media screen and (max-width: 1600px)
	.inventory
		.container
			min-width inherit

@media screen and (max-width: 1580px)
	.inventory__item
		width 25%

	.inventory__item_filter
		width calc(100% + 10px)

@media screen and (max-width: 1360px)
	.inventory__item
		width 33.3%

	.inventory__item_filter
		width calc(100% + 10px)

	.inventory
		&__toolbar
			height auto
			padding 10px
			display flex
			flex-wrap wrap
			justify-content space-evenly

			&-item
				order: 4
				&:nth-child(1)
					order: 1
				&:nth-child(2)
					flex-basis 50%
					order: 2
					input
						width 100%
			&-group
				&.reverse
					justify-content flex-start
					flex-basis	30%
					order: 3
					margin-left 0
					.inventory__toolbar-item
						order 0

		&__nested-info
			margin-right 50px

		&__search
			margin-top 2px

@media screen and (max-width: 900px)
	.inventory__item
		width 33.3%

	.inventory__item_filter
		width calc(100% + 10px)

	.inventory
		&__toolbar
			&-item
				font-size 11px
				&:nth-child(2)
					flex-basis 45%

@media screen and (max-width: 700px)
	.inventory__item
		width 50%

	.inventory__item_filter
		width calc(100% + 10px)

//@media screen and (max-width 1224px)
.modal-inventory
	width 98%


.mobile-toolbar
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	padding .5em
	&__save-button
		padding 0 20px
		background-color rgba(52, 152, 219, 1.0)
		color #fff
		font-size 1.1em
		font-weight 600
		border-bottom 5px solid rgba(41, 128, 185, 1.0)
		margin 0
		transition all .3s ease-in-out
		&:active
		&:hover
		&:focus
			background-color rgba(52, 152, 219, 1.0) !important
			border-bottom none
	&__menu-button
		display flex
		justify-content center
		align-items center
		border 1px solid #ddd
		min-height 41px !important
	&__toolbar-search-item
		width 100%
		margin 0 1em
		position relative
	&__search
		width 100%
		height 41px
		border 1px solid #ddd
		border-radius 4px
		padding-left .5em
		font-size 1.2em
		font-weight 600
	&__search-clear-icon
		position absolute
		top 0
		right 0
		display flex
		justify-content center
		align-items center
		height 41px
		width 100px
		background-color #2c3e50
		color #fff
		border-bottom-right-radius 4px
		border-top-right-radius 4px

.mobile-explanation
	display flex
	flex-direction row
	justify-content space-around
	align-items center
	padding .5em
	float right
	&__toolbar-item_info
		font-size 25px
		font-weight 600
		display flex
		justify-content center
		align-items center
		border-right 1px solid #ddd
		padding-right .5em
		margin-right .5em
		&:last-child
			border-right 0
			padding-right 0
			margin-right 0
	&__icon-explanation
		width 20px
		height 20px
		margin-right .5em
	&__nested-info-explain
		font-size 20px
		align-self flex-end
		margin-bottom 2px
		margin-left .3em

.mobile-current-room
	display flex
	flex-direction column
	justify-content center
	padding .5em 1em
	float left
	font-size .9em
	&__current-room
		font-weight 600
	&__current-filter
		padding-left 3em

.inventory__fullscreen
	.inventory__wraper-aside.i-pad-detected
		top 120px
		box-shadow 5px 0 5px -5px #333
		height calc(100vh - 120px)
	.inventory__filters
		width 181px

.inventory-mobile-loading
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index 5000
	display flex
	flex-direction column
	justify-content center
	align-items center
	background-color #ecf0f1
	.loading-header
		margin-top 1em

@media all and (max-width: 767px)
	.inventory__fullscreen
		.inventory__wraper-aside.i-pad-detected
			top 140px
			height calc(100vh - 140px)
