.inventory-print
	position absolute
	margin 0
	font-family Arial, Helvetica, sans-serif
	&__title
		width 100%
		position relative
	&__title-nid
		display block
		margin-bottom 4 m
	&__title-label
		display block
		margin-bottom 4mm
	&__total-row
		margin-bottom 4mm
		width 100%
		float: left
		position: relative
		min-height: 1mm
	&__total-row-item
		display inline-block
		padding-right 5mm
	&__list-pages
		height 100vh
		float left
		padding-right 5mm
		padding-left 5mm
	&__one-column-page
		width 33%
	&__two-column-page
		width 66%
		columns 10mm 2
	&__three-column-page
		width 100%
		columns 10mm 3
	&__inv-result
		width 100%
		color: #1f1f1f
		padding-bottom 1mm
		margin-bottom 1mm
		padding-left: 0
		padding-right: 0
	&__inv-result-title
		width 75%
		border-bottom 0.1mm solid black
		font-weight: 700 !important
		padding 0
		float left
		position: relative
		min-height: 1px
	&__inv-result-title-right
		width 25%
		border-bottom 0.1mm solid black
		position relative
		text-align: right
		padding 0
		font-weight 700 !important
		float left
		min-height 1px
	&__selected-items-list-element
		width 100%
		padding 0
	&__inv-item
		width 100%
		padding 0
	&__inv-title-items
		display inline-block
		color: #0e0e0e
		width: 75%
		height: 6mm
		overflow: hidden
		float: left
		padding 0
		position: relative
	&__inv-total
		display inline-block
		text-align: right
		width 25%
		float left
		padding 0
