mixin inventory-print-page()
	.inventory-print
		.inventory-print__title
			.inventory-print__title-nid Request #
				span(ng-bind="request.nid")
			.inventory-print__title-label Inventory List
		.inventory-print__total-row
			.inventory-print__total-row-item(ng-if="total.count")
				| Total Items :
				span(ng-bind="total.count")
			.inventory-print__total-row-item(ng-if="total.boxes")
				| Total Boxes:
				span(ng-bind="total.boxes")
			.inventory-print__total-row-item(ng-if="total.total_custom")
				| Custom:
				span(ng-bind="total.total_custom")
			.inventory-print__total-row-item(ng-if="total.total_cf > 0 && !isAccount")
				| Total Estimated Cubic Feet: {{total.total_cf}}
		.inventory-print__content-box
			.inventory-print__list-pages(ng-repeat="page in printPages.pages track by $id(page)" ng-class='printPages.pagesClass[$index]')
				.inventory-print__list-rooms(ng-repeat="room in page track by $id(room)")
					.inventory-print__inv-result(ng-if='room.items.length')
						.inventory-print__inv-result-title
							span(ng-bind="room.name")
						.inventory-print__inv-result-title-right
							span(ng-show='room.name') Qty.
					.inventory-print__selected-items-list
						.inventory-print__inv_item(ng-repeat="item in room.items track by $id(item)")
							.inventory-print__inv-title-items
								span(ng-bind="item.name")
							.inventory-print__inv-total
								span(ng-bind="item.count")
