include ../../../../default.pug
include ../aside/aside.pug
include ../button/button.pug
include ./inventory-print-page.pug

.inventory-print-section(print-section print-only)
	+inventory-print-page()(ng-if="showPrintInventory")


+b.inventory#inventory(ng-class="{'inventory__fullscreen': fullscreenMode}" ng-cloak)
	+e.dots(elromco-dots count="{{::countPages}}" ng-if="showAdditionalInventory" current-index="pageInventory" change-index="changeInventoryPage")
	+e.title_left(ng-if="showAdditionalInventory" ng-class="{'inventory__title_active' : pageInventory == 0 }")
		h2 Default Inventory
	+e.title_right(ng-if="showAdditionalInventory" ng-class="{'inventory__title_active' : pageInventory >= 1 }")
		h2 Additional Inventory
	+e.inventory-list(ng-class="{'inventory__inventory_with-dots' : showAdditionalInventory}")
		+e.progress
			md-progress-linear(md-mode="query" ng-show="busy")
		+e.row.block
			+b.mobile-toolbar(ng-show='isMobile')
				+e.menu-button(md-button='md-button', ng-show='pageInventory == 0', ng-click='openMobileMenu()')
					ng-md-icon(icon="menu" style="fill: #444; display: flex")
				+e.toolbar-search-item
					+e('input').search.js-inventory-search#gSearch(placeholder="Search item..."  ng-model="searchText" ng-change="search()")
					+e('i').search-clear-icon.fa.fa-times(ng-click="clearSearchText()")
				+e.toolbar-item_typical-item(ng-if="false && !isPackageSettings")
					+e('md-button').typical-button.launch(aria-label='typical' ng-if="!request.request_all_data.typicalItemsOn" ng-click="addTypicalItems()") Add typical Items
					+e('md-button').typical-button.launch(aria-label='typical' ng-if="request.request_all_data.typicalItemsOn" ng-click="removeTypicalitems()") Remove typical Items
				+e.__toolbar-group.reverse
					+e('md-button').save-button(aria-label='typical' ng-click="close()" ng-class="{disabled: adminOnAccaunt}") Save And Close
			+b.mobile-current-room(ng-show='isMobile')
				+e('h3').current-room
					| {{activeRoom.name}}
				+e('span').current-filter
					| {{activeFilter.name}}
			+b.mobile-explanation(ng-show='isMobile')
				+e.toolbar-item_info(ng-if="total.count")
					+e('img').icon-explanation(src='./src/total_items.png')
					+e('span').nested-info
						| {{total.count | number : 0}}
				+e.toolbar-item_info(ng-if="total.boxes")
					+e('img').icon-explanation(src='./src/total_boxes.png')
					+e('span').nested-info
						| {{total.boxes | number : 0}}
				+e.toolbar-item_info(ng-if="total.total_custom")
					+e('img').icon-explanation(src='./src/total_custom_items.png')
					+e('span').nested-info
						| {{total.total_custom | number : 0}}
				+e.toolbar-item_info(ng-if="total.total_cf > 0 && (!isAccount || isContractPage)")
					+e('img').icon-explanation(src='./src/total_cubic_feet.png')
					+e('span').nested-info
						| {{total.total_cf | number : 0}}
					+e('span').nested-info-explain
						| c.f.
				+e.toolbar-item_info(ng-if="total.total_cf > 0 && (!isAccount || isContractPage)")
					+e('img').icon-explanation(src='./src/total_estimated_pounds.png')
					+e('span').nested-info
						| {{total.total_cf * 7 | number : 0}}
					+e('span').nested-info-explain
						| lbs

			+e.toolbar(ng-show='!isMobile')
				+e.__button.__toolbar-item.mobile-visible(md-button='md-button' ng-show="pageInventory == 0" ng-click="openMobileMenu()")
					ng-md-icon( icon="menu" style="fill: #444 " size="24px" aria-label="Open menu")
				+e.toolbar-item
					+e('input').search.js-inventory-search#gSearch(placeholder="Search item..."  ng-model="searchText" ng-change="search()")
				+e.toolbar-item_info(ng-if="total.count")
					| Total Items:
					span(ng-bind="total.count")
				+e.toolbar-item_info(ng-if="total.boxes")
					| Total Boxes:
					span(ng-bind="total.boxes")
				+e.toolbar-item_info(ng-if="total.total_custom")
					| Custom:
					span(ng-bind="total.total_custom")
				+e.toolbar-item_info(ng-if="total.total_cf > 0 && (!isAccount || isContractPage)")
					| Total Estimated Cubic Feet:
					+e('span').nested-info(ng-bind="total.total_cf")
					| Total Estimated Pounds:
					span(ng-bind="total.total_cf * 7")
				+e.toolbar-item_typical-item(ng-if="false && !isPackageSettings")
					+e('md-button').typical-button.launch(aria-label='typical' ng-if="!request.request_all_data.typicalItemsOn" ng-click="addTypicalItems()") Add typical Items
					+e('md-button').typical-button.launch(aria-label='typical' ng-if="request.request_all_data.typicalItemsOn" ng-click="removeTypicalitems()") Remove typical Items
				+e.__toolbar-group.reverse
					+e.toolbar-item.mobile-visible()
						md-button.md-icon-button.launch(aria-label='back' ng-click="close()")
							ng-md-icon( icon="close" style="fill: #444 " size="24px")
					+e('md-button').save-button(aria-label='typical' ng-click="close()" ng-class="{disabled: adminOnAccaunt}") Save Inventory
					+e.toolbar-item.toolbar-item_print-btn(ng-if="!isPackageSettings")
						md-button.md-icon-button.launch(aria-label='back' ng-click="print()")
							ng-md-icon( icon="print" style="fill: #444 " size="24px")

		+e.row
			+e.wraper-aside(ng-class="{'opened':showMobileMenu, 'i-pad-detected': isMobile}"
			ng-show="pageInventory == 0 || isContractPage")
				+e.room
					+e.nav(ng-click="getMyInventory()" ng-class="{'opened': myInventory.opened}")
						+e('img').icon(ng-src="/moveBoard/content/img/icons/room-key.png")
						+e.title
							| My Inventory
							+e.count
								span(ng-show="total.count" ng-bind="total.count")
				+e.room(ng-repeat="room in bedRooms track by $id(room)" ng-class='{"opened":room.opened}' ng-click="openRoom(room)")
					+e.nav
						+e.room-info()
							+e('img').icon(ng-src="{{::room.image_link }}")
							+e.title
								span(ng-bind="::room.name" ng-if='+room.type == 0')
								+e.count(ng-show="room.count" ng-bind="room.count" ng-if='+room.type == 0')
								+e('custom-room-name')(room="room" ng-if='+room.type != 0' delete-custom-room="deleteCustomRoom(room, callback)" custom-Room-Permissions="customRoomPermissions")
					+e.filters(ng-class="{'opened': room.opened}" ng-show="menuMode == 0")
						+e.filters_wrapper(ng-show="room.opened")
							+e('a').filter(href=jv0 ng-repeat="filter in room.filters track by $id(filter)" ng-click="selectFilter(filter);" ng-class="{'active' : filter.active}")
								+e('span').filter-title(ng-bind="::filter.name")
								+e.count(ng-show="filter.total_count" ng-bind="filter.total_count")
							+e('a').filter(href=jv0 ng-show="!isPackageSettings" ng-click="setCustomItemMode()" ng-class="{'active' : customMode}")
								+e('span').filter-title Custom item
								+e.count(ng-show="room.total_custom_count" ng-bind="room.total_custom_count")
				+e.room(ng-class='{"pending": creatingCustomBedroom}' ng-if="allowCreatingCustomRooms")
					+e.nav(ng-click="createCustomRoom('2')")
						+e.icon-add-custom-room
							i.fa.fa-plus-square-o
						+e.title
							span() Add bedroom
				+e.room(ng-repeat="room in notBedrooms track by $id(room)" ng-class='{"opened":room.opened}' ng-click="openRoom(room, $event)")
					+e.nav
						+e.room-info()
							+e('img').icon(ng-src="{{::room.image_link }}")
							+e.title
								span(ng-bind="::room.name" ng-if='+room.type == 0')
								+e.count(ng-show="room.count" ng-bind="room.count" ng-if='+room.type == 0')
								+e('custom-room-name')(room="room" ng-if='+room.type != 0' delete-custom-room="deleteCustomRoom(room, callback)" custom-Room-Permissions="customRoomPermissions")
					+e.filters(ng-class="{'opened': room.opened}" ng-show="menuMode == 0")
						+e.filters_wrapper(ng-show="room.opened")
							+e('a').filter(href=jv0 ng-repeat="item in room.filters track by $id(item)" ng-click="selectFilter(item);" ng-class="{'active' : item.active}")
								+e('span').filter-title(ng-bind="::item.name")
								+e.count(ng-show="item.total_count" ng-bind="item.total_count")
							+e('a').filter(href=jv0 ng-show="!isPackageSettings" ng-click="setCustomItemMode()" ng-class="{'active' : customMode}")
								+e('span').filter-title Custom item
								+e.count(ng-show="room.total_custom_count" ng-bind="room.total_custom_count")
				+e.room(ng-class='{"pending": creatingCustomRoom}' ng-if="allowCreatingCustomRooms")
					+e.nav(ng-click="createCustomRoom('1')")
						+e.icon-add-custom-room()
							i.fa.fa-plus-square-o
						+e.title
							span() Custom room
			+e.wraper(ng-class="{'loading': busy, 'blur-grayscale': showMobileMenu && isMobile}")
				+e.inventory-items.js-inventory-items(ng-if="!busy && customMode && !adminOnAccaunt")
					+e.form-wrapper
						+e('form')(name="customItemForm" ng-submit="addCustomItem(customItemForm)" ng-class="{disabled: !inventoryItemsPermissions.allowChange}" data-index="0")
							+e.form-row
								+e.wrapper
									span Item Name
									input.form-control(type="text" ng-model="newItem.title.value" id="customInventoryName" ng-class="{'error':$invalid}" required)
							+e.form-row
								+e.column
									+e.wrapper(ng-if="!isAccount")
										span Cubic ft.
										input.form-control.custom-item-input-max-width(type="number" min="0" ng-model="newItem.pounds.value" ng-class="{'error':$invalid}" required)
									+e.wrapper(ng-if="isAccount")
										span Height (inches)
										input.form-control.custom-item-input-max-width(type="number" min="0" ng-model="newItem.height.value" ng-class="{'error':$invalid}" required)
									+e.wrapper(ng-if="isAccount")
										span Length (inches)
										input.form-control.custom-item-input-max-width(type="number" min="0" ng-model="newItem.depth.value" ng-class="{'error':$invalid}" required)
								+e.column
									+e.wrapper(ng-if="isAccount")
										span Width (inches)
										input.form-control.custom-item-input-max-width(type="number" min="0" ng-model="newItem.width.value" ng-class="{'error':$invalid}" required)
									+e.wrapper
										span Count
										input.form-control.custom-item-input-max-width(type="number" min="0" ng-model="newItem.count.value" required ng-class="{'error':$invalid}")
							+inventory-button({
								text: 'Add Item',
								type: 'submit',
								margin: '1',
								ngClick: "customItemForm.$setSubmitted()",
								custom: true
							})

				+e.custom-item-size-hint(ng-if="customMode && isAccount && !isAdmin")
					img(src="/moveBoard/content/img/icons/inv_mage.jpg")

				+e.item(lazy-repeater="10" lazy-placeholder="{{::inventoryItemPlaceHolder}}" ng-repeat="item in inventoryItems track by $id(item)" data-index="{{$index}}" ng-class="{'inventory__item_filter': item.type == undefined}")
					+e.visible(new-inventory-item inventory-data="item" request="request" change-item-count="changeItemCount(item, value, isManualUpdated)"
					after-saving-item-count="afterSavingItemCount(result)" active-requests="activeRequests")
	+b(inventory-table='inventory-table' entity-id="request.nid" table-Arguments="tableArguments" column-width="3" change-item-count="changeItemCount(item, value)" update-After-Drop="updateAfterDrop()" ng-if="!fullscreenMode" table-Permissions="tablePermissions").container.inventory__table-new
	+e.bottom-save-button(ng-class="{disabled: adminOnAccaunt}")
		+e('md-button').save-button(aria-label='typical' ng-click="close()") Save Inventory

+b.inventory-mobile-loading(ng-if='mobileSavingInventory && isMobile')
	img(src='./src/logo_animation.gif')
	h3.loading-header
		| We're saving the inventory. Wait a minute please...
+b.inventory-mobile-loading(ng-if='rootLoadingInventory && isMobile')
	img(src='./src/logo_animation.gif')
	h3.loading-header
		| We're opening the inventory. Wait a minute please...
