section.inhome-estimator-portal-root(ng-class='{"disable-overflow": vm.busy}')
    .request-block(ng-repeat='request in vm.inHomeEstimateRequests', ng-class='{"blur": vm.isOpenPanel}')
        inhome-estimate-request(request='request', job-type='vm.jobsType')
    .request-empty-block(ng-if='!vm.inHomeEstimateRequests.length')
        img.request-empty-img(src='../../src/job-search.png')
        h3.request-empty-block__header
            | Seems that all the work is done...
    .portal-controls(ng-if='vm.meta', ng-class='{"portal-controls-is-open": vm.isOpenPanel}')
        inhome-estimate-controls(meta='vm.meta')
.requests-loading(ng-if='vm.busy')
    img.loading(src='../../src/logo_animation.gif')
