.inhome-estimate-request-portal(ng-if='vm.initialRequest')
    in-home-estimate-edit-request(initial-request="vm.initialRequest"
                        requests="vm.requests"
                        super-response="vm.superResponse"
                        is-delivery="isDelivery"
                        modal-instance="vm.modalInstance")
.inhome-estimate-request-loading(ng-if='vm.globallLoading')
    img(src='../../src/logo_animation.gif')
    h3.loading-header
        | Wait a minute please...
.inhome-estimate-request-redirecting(ng-if='vm.redirectLoading')
    img(src='../../src/logo_animation.gif')
    h3.loading-header
        | We're redirecting you at confirmation page...
