<div class="crew-modal-wrapper">
    <div class="crew-modal">
        <div class="crew-modal__busy"
             ng-if="busy">
            <img src="/moveBoard/content/img/logo_animation.gif"
                 alt="Loading...">
        </div>
        <div class="crew-modal__header">
            <h3 class="crew-modal__header-title">Crew Management</h3>
            <i class="fa fa-times"
               ng-click="closeCrewManagementModal()"
               aria-hidden="true"></i>
        </div>
        <div class="crew-modal__body">
            <div class="crew-modal__body-saved-crews crews-tab">
                <span class="crew-modal__tab-title">Saved Crews</span>
                <div class="crew-modal__crew-button"
                     ng-class="{'editable-crew': crew.team_id === activeCrew.team_id}"
                     ng-repeat="crew in crews track by $index"
                     ng-click="showCrewMembers(crew)">
                    <span class="crew-modal__crew-name"
                          ng-show="!crew.isChanging"
                          ng-dblclick="changeCrewTitle(crew)">
                        {{crew.name}}
                    </span>
                    <i class="fa fa-times"
                       ng-show="!crew.isChanging && !crew.isNew"
                       ng-click="removeCrew($index)"></i>
                    <input type="text"
                           class="form-control"
                           ng-model="crew.name"
                           ng-show="crew.isChanging"
                           ng-model-options="{ updateOn: 'blur click' }"
                           ng-change="changeCrewTitle(crew)">
                </div>
                <div class="crew-modal__crew-button add-crew"
                     ng-click="addCrew()"
                     ng-disabled="!availableForemen.length">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Crew
                </div>
            </div>
            <div class="crew-modal__body-crew-control crews-tab">
                <span class="crew-modal__tab-title">Select Crew</span>
                <div class="crew-modal__crew-controls"
                     ng-show="activeCrew">
                    <h3>Foreman:</h3>
                    <select ng-model="activeCrew.foreman.uid"
                            ng-init="activeCrew.foreman.name"
                            class="form-control"
                            ng-change="updateCrews()"
                            ng-options="foreman.uid as foreman.name for foreman in availableForemen">
                        <option value="" ng-if="!activeCrew.foreman.uid">Please select crew foreman</option>
                    </select>
                </div>
                <div class="crew-modal__crew-controls"
                     ng-show="activeCrew">
                    <h3>Helpers:</h3>
                    <oi-select oi-options="helper.uid as helper.name for helper in availableHelpers"
                               placeholder="Add Helpers"
                               ng-disabled="!activeCrew.foreman"
                               ng-model="activeCrew.helpers"
                               ng-change="updateCrews()"
                               multiple></oi-select>
                </div>
            </div>
        </div>
        <div class="crew-modal__footer">
            <button class="btn btn-default"
                    ng-click="closeCrewManagementModal()">Close</button>
            <button class="btn btn-default"
                    ng-class="{'btn-danger': unsavedNewCrew || unsavedChanges}"
                    ng-click="saveAllCrews()">Save</button>
        </div>
    </div>
</div>
