.crew-modal-wrapper
	.crew-modal
		position relative
		&__busy
			position absolute
			left 0
			top 0
			right 0
			bottom 0
			display flex
			justify-content center
			align-items center
			background-color rgba(236, 240, 241 ,.8)
			z-index 100
		&__header
			display flex
			justify-content space-between
			align-items center
			padding .5em
			background-color #ebebeb
		&__body
			padding .5em
			display flex
			justify-content space-between
			align-items flex-start
			.crews-tab
				flex-basis 100%
				border 1px solid #556b8d
		&__body-saved-crews
			flex-grow 2
			flex-shrink 2
			margin-right .5em
		&__body-crew-control
			flex-grow 1
			flex-shrink 1
			margin-left .5em
		&__footer
			display flex
			justify-content space-between
			align-items center
			padding .5em
			background-color #ebebeb
		&__tab-title
			background-color #556b8d
			display block
			padding .2em
			color #fff
			text-align center
		&__crew-button
			margin .5em .3em
			padding .3em
			background-color #ebebeb
			border-radius 4px
			cursor pointer
			display flex
			justify-content space-between
			align-items center
			transition box-shadow .3s ease-in-out
			&:hover
				box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
			&.add-crew
				font-weight 600
			&.editable-crew
				background-color #556b8d
				color #fff
		&__crew-name
			display block
			width 100%
		&__crew-controls
			padding .5em
			.crew-btn-full-width
				width 100%
