oi-select
	display block
	position relative
	width 100%
	.select-search
		cursor text
		border 1px solid #d9d9d9
		background-color #fff
		overflow hidden !important
		box-sizing border-box
		border-radius 4px
	.select-search-list
		display flex
		flex-flow row wrap
		justify-content flex-start
		margin 0
		padding 2px 4px
		list-style none
	.select-search-list-item
		font-size 14px
		margin 2px 4px 2px 0
		vertical-align middle
		white-space normal
	.select-search-list-item_selection
		cursor pointer
		border-color #ebebeb
		&:hover
			border-color #e5e5e5
		&.focused
			.close
				display none
	.select-search-list-item_selection-remove
		padding-left 2px
	.select-search-list-item_loader
		float right
		margin-top 6px
		width 16px
		height 16px
	.select-search-list-item_input
		flex-grow 1
		margin 4px 0 5px 5px
		width auto !important
		input
			padding 0
			outline 0
			border 0
			width 100%
	.select-search-list-item_hide
		position fixed
		width 0
		height 0
		margin 0
		opacity 0
		pointer-events none
		text-indent -9999em
	.select-dropdown
		position absolute
		width inherit
		overflow-y scroll
		max-height 70px
		min-width 160px
		font-size 14px
		background-color #fff
		border-radius 0 0 4px 4px
		border 1px solid #66afe9
		border-top 0
		outline 0
		box-shadow inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6)
		background-clip padding-box
		z-index 1000
	.select-dropdown-optgroup
		margin 0
		padding 0
	.select-dropdown-optgroup-header
		font-weight bolder
		padding 3px 10px
	.select-dropdown-optgroup-option
		padding 3px 20px
		&.active
			&:not(.disabled)
				background-color #f1f1f1
				cursor pointer
		&.disabled
			color #aaa
	&:not(.multiple)
		.select-search-list-item_selection
			color #000
			width 100%
			border-color #fff
			text-align left
			&:not(:active)
				background none
		.select-search
			&:after
				content ""
				position absolute
				display block
				right 10px
				width 0
				height 0
				margin-top -19px
				border-color #000 transparent transparent transparent
				border-style solid
				border-width 5px 5px 0 5px
	&.focused
		.select-search
			border-color #66afe9
			outline 0
			box-shadow inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6)
	&.open
		.select-search
			border-radius 4px 4px 0 0
			border-bottom 1px solid rgba(0,0,0,0.075)
		&:not(.multiple)
			.select-search
				&:after
					border-color transparent transparent #000 transparent
					border-width 0 5px 5px 5px
	&.loading
		&:not(.multiple)
			.select-search
				&:after
					border-width 0
	&.emptyList
		.select-dropdown-optgroup-option
			strong
				font-weight normal
oi-select .select-search-list-item_selection:active,
oi-select .select-search-list-item_selection.focused
	border 1px solid #fff
	border-radius 0
	box-shadow inset 0 0 10px 5px #fff
oi-select[disabled="disabled"]
	.select-search
		cursor not-allowed
		background #eee
		border 1px solid #bdbdbd
		opacity 0.5
	.select-search-list-item_selection
		cursor not-allowed
		box-shadow none
		border-color transparent
	.select-search-list-item_selection-remove
		visibility hidden
	.select-search-list-item_input
		input
			&:disabled
				cursor not-allowed
				background none
oi-select.limited .select-search,
oi-select.invalid-item .select-search,
oi-select.limited .select-dropdown,
oi-select.invalid-item .select-dropdown
	border-color #f1bc28
	box-shadow inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(230,189,46,0.6)
span.close.select-search-list-item_selection-remove
	display block !important

