.inhome-estimate-request-portal
  position fixed
  top 0
  left 0
  right 0
  overflow-x hidden
  overflow-y auto
  height 100vh
  background-color #fff

.in-home-estimate-edit-request-wrapper
  &__client-info-box
    display flex
    justify-content space-between
    align-items center
    padding 5px
    &.gray
      background-color rgba(236, 240, 241, 1)
    &.border-bottom-wet-asphalt
      border-bottom 1px solid #ddd
  &__client-info
    font-weight 600
    font-size .9em
    &.canedit-button
      background url('../../src/stripes.png') 0 0 repeat-x scroll rgba(230, 126, 34,1.0)
      color #fff
      border none
      padding .1em 2em
      font-weight 400
      font-size 1.2em
      border-radius 3px
      box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
      height 50px
      width 200px
      position fixed
      top calc(50vh - (50px / 2))
      left calc(50% - (200px / 2))
      z-index 10
  &__margin-right
    margin-right .2em
  &__button-in-home-estimate
    width 76px
    height 76px
    border none
    position fixed
    z-index 1001
    box-shadow 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2)
    padding 20px
    &.rounded
      border-radius 50%
    &.bottom-left
      top calc(100vh - 136px)
      left 20px
    &.bottom-right
      top calc(100vh - 136px)
      right 20px
    &.bottom-right-more
      top calc(100vh - 136px)
      right 116px
    &.grey
      background-color rgba(127, 140, 141, 1)
    &.blue
      background-color rgba(52, 152, 219, 1)
    &.wet-asphalt
      background-color rgba(52, 73, 94,1.0)

.in-home-estimate-main-content-wrapper
  &__in-home-estimate-request
    background-color #ecf0f1
  &__header
    border-radius 0 !important
  &__draft-request
    position absolute
    top 2px
    right 0

@media all and (max-width: 767px)
  .inhome-estimate-request-portal
    width 100vw
    margin-left 0
  .in-home-estimate-edit-request-wrapper
    &__client-info
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
  .in-home-estimate-main-content-wrapper
    &__header
      padding 5px !important
    &__draft-request
      width 10px

.margin-right-flag
  margin-right .5em

.inhome-estimate-request-redirecting
.inhome-estimate-request-loading
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background-color rgba(236, 240, 241,1.0)
  display flex
  flex-direction column
  justify-content center
  align-items center
  z-index 1000
  .loading-header
    font-size 1.2em
    margin-top .5em
