.mobile-edit-request
  margin-left -50px
  margin-top -60px
  overflow-x auto
  .modal-dialog
    width 100%
    margin-top -70px
    .edit-request-main
      .actions
        .close
          padding-left 10px
          font-size 30px
          margin-top -5px
  @media (max-width: 767px)
  margin-left -20px
  @media (max-width: 860px)
    .modal-content
      .modal-header
        .client.client-info
          display inline
          float none
    .date_header
      .hide-parklot-button
        margin-top -10px
    .btn-update
      position absolute
      right 8px
      top 36px
    .modal-dialog
      min-width 900px
      margin-top: -10px;

@media (min-width: 768px)
  .sidebar-mini .sidebar+.main-content-wrapper
    .mobile-edit-request
      margin-left -60px
  .sidebar+.main-content-wrapper
    .mobile-edit-request
      margin-left -250px
      overflow-x scroll
      .modal-dialog
        margin-top -10px
        min-width 900px