.requests-loading
  position absolute
  top 60px
  left 0
  right 0
  bottom 0
  cursor progress
  background-color #ecf0f1
  .loading
    position relative
    width 36px
    height 36px
    top calc(50% - (36px / 2))
    left calc(50% - (36px / 2))
