.in-home-estimate-tab-content-wrapper
  &__request
    .dropdown-menu
      z-index 10001 !important
    .btn.pull-right.home-estimate-hide-button
      margin-top -50px
      margin-right 10px
    .date_header
      padding 10px
      height 50px
      display flex
      justify-content space-between
      align-items center
      font-size .8em
      h3
        margin 0
        display block
        margin-left -150px
        a
          i
            background-color transparent
        .hasDatepicker
          background-color transparent !important
          width auto !important
      .lotstats
        margin 0
      .btn.btn-update.btn-3d
        display none
      .hide-parklot-button
        margin 0
    .parklot_timing
      .form-item:first-of-type
        input
          width auto !important
    .form-item.form-type-select.form-item-Furnished-Rooms
      margin-top 1em
    .main-info.box
      padding-bottom 5px
      .weight_box
        display flex
        justify-content center
        align-items center
    .mobile-footer-portal
      display flex
      justify-content center
      align-items center
      padding 2em 7em
      .text-centering
        text-align center
  &__settings
    .choose_list
      display flex
    .mobile-request-settings
      padding-left 0
    .mobile-flexible-display
      display flex
      justify-content space-between
      align-items center

div#ui-datepicker-div
  z-index 10000 !important

@media all and (max-width: 768px)
  .in-home-estimate-tab-content-wrapper
    &__request
      .new-notes-by-role
        margin 0
      .address-block
        display flex
