.inhome-estimator-portal-root
	max-height 100vh
	.request-empty-block
		height calc(100vh - 100px)
		display flex
		flex-direction column
		justify-content center
		align-items center
		.request-empty-img
			width 100px
			height 100px
			margin-bottom 1em

.disable-overflow
	overflow hidden

.portal-controls-is-open
	z-index 100
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background-color rgba(236, 240, 241, .5)

.blur
	filter blur(10px)
