<div ng-class="{'disabled': loader.busy || !busyTestEmail}">
	<div class="modal-body form-horizontal cusermodal-department">
		<div ng-show="loader.busy || !busyTestEmail" class="busyoverlay">
			<div class="sk-cube-grid" style="margin-top: 50%;">
				<div class="sk-cube sk-cube1"></div>
				<div class="sk-cube sk-cube2"></div>
				<div class="sk-cube sk-cube3"></div>
				<div class="sk-cube sk-cube4"></div>
				<div class="sk-cube sk-cube5"></div>
				<div class="sk-cube sk-cube6"></div>
				<div class="sk-cube sk-cube7"></div>
				<div class="sk-cube sk-cube8"></div>
				<div class="sk-cube sk-cube9"></div>
			</div>
		</div>
		<form name="createUserRequest" autocomplete="false" novalidate>
			<div class="form-group">
				<legend style="padding: 10px 28px;">Employee Information</legend>
			</div>
			<div class="form-group main">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12" ng-init="activeMainTab = 0">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li ng-class="{'active': activeMainTab === 0}" ng-click="activeMainTab = 0">
									<a href="">Employee Details</a>
								</li>
								<li ng-class="{'active': activeMainTab == 1}"
									ng-click="activeMainTab = 1">
									<a href="">Account</a>
								</li>
								<li ng-class="{'active': activeMainTab == 6}"
									ng-click="activeMainTab = 6">
									<a href="">Notifications</a>
								</li>
								<li ng-class="{'active': activeMainTab == 2}"
									ng-hide="request.workerPosition == 'Administrator'"
									ng-click="activeMainTab = 2">
									<a href="">Rates & Commission</a>
								</li>
								<li ng-hide="request.workerPosition == 'Administrator' || request.workerPosition == 'Helper' || request.workerPosition == 'Driver' || request.workerPosition == 'Foreman'"
									ng-class="{'active': activeMainTab == 3}"
									ng-click="activeMainTab = 3">
									<a href="">Permissions</a>
								</li>
								<li ng-show="request.workerPosition == 'Sales' || request.workerPosition == 'Manager' || request.workerPosition == 'Customer service' || request.workerPosition == 'Administrator'"
									ng-class="{'active': activeMainTab == 4}"
									ng-click="activeMainTab = 4">
									<a href="">Auto-Assignment</a>
								</li>
								<li ng-show="request.workerPosition == 'Sales' || request.workerPosition == 'Manager' || request.workerPosition == 'Customer service' || request.workerPosition == 'Administrator'"
									ng-class="{'active': activeMainTab == 5}"
									ng-click="activeMainTab = 5">
									<a href="">Signature</a>
								</li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane" ng-class="{'active': activeMainTab === 0}">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<div ng-show="request.userId">
													<label class="col-sm-3 control-label">Employee Id: </label>
													<div class="col-sm-3">
														<input type="text"
															   class="required form-control form-select"
															   disabled
															   autocomplete="false"
															   ng-value="request.userId">
													</div>
												</div>
												<div class="active-user"
													 ng-show="request.workerPosition == 'Manager' || request.workerPosition == 'Sales' || request.workerPosition == 'Customer service' || request.workerPosition == 'Administrator'">
													<div>
														<input type="checkbox"
															   checkstyle="green"
															   class="icheck"
															   ng-model="request.homeEstimator"
															   ichecks="">
													</div>
													<label>
														In-home Estimator
													</label>
												</div>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-group">
												<label class="col-sm-3 control-label">Creation Date: </label>
												<div class="col-sm-3">
													<input class="required  form-control  form-select"
														   type="text"
														   ng-value='request.creationDate'
														   autocomplete="false"
														   disabled>
												</div>
												<div class="col-sm-6 active-user">
													<div>
														<input type="checkbox"
															   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
															   ng-model="request.employeeIsActive"
															   id="checkOne">
													</div>
													<label>
														Employee Is Active:
													</label>
												</div>
											</div>
											<div class="form-group branching-group"
												 ng-show="isActiveBranching && (request.workerPosition == 'Sales' || request.workerPosition == 'Manager' || request.workerPosition == 'Customer service')">
												<div class="col-sm-12">
													<div class="row">
														<label class="col-sm-3 control-label">
															Copy To Branch
														</label>
														<div class="col-sm-5">
															<select class="form-element form-control"
																	ng-model="selectedBranchId">
																<option value="">
																	Select Branch
																</option>
																<option ng-repeat="branch in allBranches"
																		value="{{branch.id}}">
																	{{branch.name}}
																</option>
															</select>
														</div>
														<div class="col-sm-4">
															<button type="button" class="btn btn-primary"
																	ng-class="{disabled: selectedBranchId == ''}"
																	ng-click="copyWorkerToBranch(selectedBranchId)">
																Copy to Branch
															</button>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<div class="row">
														<label class="col-sm-3 control-label">
															<span class="required-input">*</span>
															First Name:
														</label>
														<div class="col-sm-9">
															<input class="required form-control form-select"
																   onkeyup="this.value = this.value.replace (/[^\w-]/ig, '')"
																   ng-class="{'validation-field': submitted && createUserRequest.firstName1.$error.required}"
																   type="text"
																   ng-model='request.firstName'
																   autocomplete="false"
																   required>
															<span class="validation-text" ng-show="submitted">
                                                                <span ng-show="createUserRequest.firstName1.$error.required">First Name is required.</span>
                                                            </span>
														</div>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-12">
													<div class="row">
														<label class="col-sm-3 control-label">
															<span class="required-input">*</span>
															Last Name:
														</label>
														<div class="col-sm-9">
															<input class="required form-control form-select"
																   onkeyup="this.value = this.value.replace (/[^\w-]/ig, '')"
																   ng-class="{'validation-field': submitted && createUserRequest.lastName1.$error.required}"
																   type="text"
																   autocomplete="false"
																   ng-model='request.lastName' required>
															<span class="validation-text" ng-show="submitted">
                                                                <span ng-show="createUserRequest.lastName1.$error.required">Last Name is required.</span>
                                                            </span>
														</div>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-12">
													<div class="row">
														<label class="col-sm-3 control-label">Date Of Birth: </label>
														<div class="col-sm-3">
															<input ng-model="request.dateOfBirth"
																   style="min-width: 150px;"
																   class="required  form-control  form-select"
																   placeholder="Date Of Birth"
																   number-of-months="1"
																   change-year="true"
																   min-date="1916"
																   cc-da-picker data-type="pickup">
														</div>
													</div>
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label">Date Started: </label>
												<div class="col-sm-3">
													<input ng-model="request.dateStarted" style="min-width: 150px;"
														   class="required  form-control  form-select"
														   placeholder="Date Started"
														   cc-da-picker data-type="pickup">
												</div>

												<label class="col-sm-3 control-label" style="max-width: 109px;">Date
													Leaving: </label>
												<div class="col-sm-3">
													<input ng-model="request.dateLeaving" style="min-width: 150px;"
														   class="required  form-control  form-select"
														   placeholder="Date Leaving"
														   cc-da-picker data-type="pickup">
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label">Department: </label>
												<div class="col-sm-9">
													<select class="form-select form-control"
															ng-init="request.department = departments[0]"
															ng-model="request.department"
															ng-options="department as department for department in departments">
													</select>
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-3 control-label">Position: </label>
												<div class="col-sm-9">
													<select class="form-select form-control"
															ng-model="request.workerPosition">
														<option value="{{position}}" ng-repeat="position in positions">
															{{position == 'Administrator' ? 'Owner' : position}}
														</option>
													</select>
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-12">
													<div class="row">
														<label class="col-sm-3 control-label">Driver License: </label>
														<div class="col-sm-9">
															<input class="required  form-control  form-select"
																   type="text"
																   autocomplete="false"
																   ng-model="request.driverLicense"
																   required>
														</div>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-12">
													<div class="row">
														<label class="col-sm-3 control-label">SSN: </label>
														<div class="col-sm-9">
															<input class="required  form-control  form-select"
																   type="text"
																   autocomplete="false"
																   ng-model="request.ssn"
																   required>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-sm-12">
													<!-- Nav tabs -->
													<ul class="nav nav-tabs" ng-init="activeTab = 0">
														<li ng-class="{'active': activeTab === 0}"
															ng-click="activeTab = 0">
															<a href="">Contact Details</a>
														</li>
														<li ng-class="{'active': activeTab === 1}"
															ng-click="activeTab = 1">
															<a href="">Emergency Contact</a>
														</li>
														<li ng-class="{'active': activeTab === 2}"
															ng-click="activeTab = 2"
															ng-show="request.workerPosition === 'Foreman'">
															<a href="">Foreman Photo</a>
														</li>
													</ul>

													<!-- Tab panes -->
													<div class="tab-content">
														<div class="tab-pane" ng-class="{'active': activeTab === 0 }">
															<div class="form-group">
																<div class="col-sm-12">
																	<div class="row">
																		<label class="col-sm-3 control-label">Address: </label>
																		<div class="col-sm-9">
																			<input class="required  form-control  form-select"
																				   type="text"
																				   autocomplete="false"
																				   ng-model="request.address">
																		</div>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="col-sm-3 control-label">City: </label>
																<div class="col-sm-9">
																	<input class="required  form-control  form-select"
																		   type="text"
																		   autocomplete="false"
																		   ng-model="request.worker.locality">
																</div>
															</div>

															<div class="form-group">
																<label class="col-sm-3 control-label">State: </label>
																<div class="col-sm-4">
																	<select ng-model="request.worker.administrative_area"
																			id="edit-moving-from-state"
																			class="state disabled form-select form-control ">
																		<option value="">Select State</option>
																		<option ng-selected="request.worker.administrative_area == '{{state}}'"
																				value="{{state}}"
																				ng-repeat="state in fieldData.allowedstate">
																			{{state}}
																		</option>
																	</select>
																</div>
																<label class="col-sm-1 control-label">Zip: </label>
																<div class="col-sm-4">
																	<input class="form-control input-element-processed ng-isolate-scope"
																		   ng-model="request.zip"
																		   ng-maxlength="5" placeholder="Zip from"
																		   editrequest="request" field="{}"
																		   subfield="postal_code" type="worker"
																		   cc-input-address="" size="5" maxlength="5"
																		   autocomplete="false">
																</div>
															</div>

															<div class="form-group">
																<label class="col-sm-3 control-label"><span
																		class="required-input">*</span>Phone 1: </label>
																<div class="col-sm-4">
																	<select class="form-select form-control"
																			ng-init="btnName == 'Save' ? getCorrespondingPhone() : '';"
																			ng-change="btnName == 'Save' ? getCorrespondingPhone() : '';"
																			ng-model="request.phoneType1">
																		<option value="Home">Home</option>
																		<option value="Cellular">Cellular</option>
																	</select>
																</div>
																<div class="col-sm-5">
																	<input class="form-control input-element-processed"
																		   ng-class="{'validation-field': (submitted && createUserRequest.phone10.$error.required) || (submitted && createUserRequest.phone10.$invalid)}"
																		   type="text"
																		   ng-model="request.phone1"
																		   autocomplete="false"
																		   minLength="14"
																		   maxLength="14"
																		   required
																		   phone-input
																		   ng-change="submitted = false">
																	<span class="validation-text"
																		  ng-show="submitted && (createUserRequest.phone10.$invalid || createUserRequest.phone10.$error.required)">
                                                                        <span ng-show="createUserRequest.phone10.$invalid && !createUserRequest.phone10.$error.required">Phone number is invalid</span>
                                                                        <span ng-show="createUserRequest.phone10.$error.required">Phone is required.</span>
                                                                    </span>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-3 control-label">Phone 2: </label>
																<div class="col-sm-4">
																	<select class="form-select form-control"
																			ng-model="request.phoneType2">
																		<option value="Home">Home</option>
																		<option value="Cellular">Cellular</option>
																	</select>
																</div>
																<div class="col-sm-5">
																	<input class="form-control input-element-processed"
																		   type="text"
																		   ng-model="request.phone2"
																		   autocomplete="false"
																		   minLength="14"
																		   maxLength="14"
																		   phone-input>
																</div>
															</div>

															<div class="form-group">
																<div class="col-sm-12">
																	<div class="row">
																		<label class="col-sm-3 control-label"> Contact
																			Email: </label>
																		<div class="col-sm-9">
																			<input class="required form-control form-select"
																				   type="email"
																				   autocomplete="false"
																				   ng-model="request.secondaryEmail">
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" ng-class="{'active': activeTab === 1}">
															<div class="form-group">
																<div class="col-sm-12">
																	<div class="row">
																		<label class="col-sm-3 control-label">Contact
																			Name:
																		</label>
																		<div class="col-sm-9">
																			<input class="required  form-control  form-select"
																				   type="text"
																				   autocomplete="false"
																				   ng-model="request.contactName">
																		</div>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<div class="col-sm-12">
																	<div class="row">
																		<label class="col-sm-3 control-label">Relationship: </label>
																		<div class="col-sm-9">
																			<input class="required  form-control  form-select"
																				   type="text"
																				   autocomplete="false"
																				   ng-model="request.relationship">
																		</div>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="col-sm-3 control-label">Phone 1: </label>
																<div class="col-sm-4">
																	<select class="form-select form-control"
																			ng-model="request.phoneType1">
																		<option value="Home">Home</option>
																		<option value="Cellular">Cellular</option>
																	</select>
																</div>
																<div class="col-sm-5">
																	<input class="form-control input-element-processed"
																		   ng-class="{'validation-field': (submitted && createUserRequest.phone11.$error.required) || (submitted && createUserRequest.phone11.$invalid)}"
																		   type="text"
																		   ng-model="request.phone1"
																		   maxlength="14"
																		   minLength="14"
																		   autocomplete="false"
																		   required
																		   phone-input
																		   ng-change="submitted = false">
																	<span class="validation-text"
																		  ng-show="submitted && (createUserRequest.phone11.$invalid || createUserRequest.phone11.$error.required)">
                                                                        <span ng-show="createUserRequest.phone11.$error.required">Phone is required.</span>
                                                                        <span ng-show="createUserRequest.phone11.$invalid">Phone number is invalid</span>
                                                                    </span>
																</div>
															</div>

															<div class="form-group">
																<div class="col-sm-12">
																	<div class="row">
																		<div class="col-sm-11 col-sm-offset-1">
                                                                            <textarea
																					class="form-control input-element-processed"
																					style="resize: vertical;"
																					ng-model="request.message"
																			></textarea>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" ng-class="{'active': activeTab === 2}">
															<foreman-photo></foreman-photo>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane" ng-class="{'active': activeMainTab === 1}">
									<div class="row" style="margin-bottom: 20px;">
										<div class="col-xs-12">
											<div form autocomplete="false"
												 ng-hide="request.workerPosition == 'Helper' || request.workerPosition == 'Driver'">
												<div class="form-group">
													<div class="col-sm-12">
														<div class="row">
															<label class="col-sm-3 control-label">
																<span class="required-input">*</span>
																Login name:
															</label>
															<div class="col-sm-8">
																<input class="required form-control form-select"
																	   ng-class="{'validation-field': submitted && createUserRequest.login.$error.required}"
																	   type="text"
																	   ng-model='request.login'
																	   ng-blur="checkLogin(request.login)"
																	   required
																	   autocomplete="false">
																<span class="validation-text">
                                                                <span ng-show="createUserRequest.login.$error.required && submitted">Login is required.</span>
                                                                <span ng-show="userIsExist">Login name already exists.</span>
                                                            </span>
															</div>
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="col-sm-12">
														<div class="row">
															<label class="col-sm-3 control-label"><span
																	class="required-input">*</span>Password:</label>
															<div class="col-sm-8">
																<input class="form-control input-element-processed"
																	   ng-class="{'validation-field': submitted && btnName === 'Create' && createUserRequest.password.$error.required}"
																	   type="password"
																	   ng-model="request.password"
																	   required
																	   autocomplete="false">
																<span class="validation-text"
																	  ng-show="submitted && btnName === 'Create'">
                                                                <span ng-show="createUserRequest.password.$error.required">Password is required.</span>
                                                            </span>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div ng-if="request.workerPosition != 'Foreman' && request.workerPosition != 'Administrator' && request.workerPosition != 'Helper' && request.workerPosition != 'Driver'">
												<!--EMAIL ACCOUNT -->
												<div class="form-group" ng-form name="outgoingEmailForm">
													<h3 class="acc_title">
														<input checkstyle="green" type="checkbox"
															   class="mail-checkbox icheckbox_flat-green icheck"
															   ichecks=""
															   ng-model="request.email_account.outgoing.active">
														Use Outgoing email
														<button ng-disabled="isDisableTestButton(outgoingEmailForm)"
																class="btn btn-primary pull-right btn-test-connection"
																ng-click="testEmailConnection()">Test Connection
														</button>
													</h3>
													<div class="col-sm-12"
														 ng-class="{'disabled':!request.email_account.outgoing.active}">
														<div class="row">
															<label class="col-sm-3 control-label">Outgoing Mail Server
																(SMTP)</label>
															<div class="col-sm-5"
																 ng-class="{'has-error': isInvalidOutgoingServer(outgoingEmailForm)}">
																<input class="form-control" required type="text"
																	   name="outgoingServer"
																	   autocomplete="false"
																	   ng-model="request.email_account.outgoing.server">
															</div>
															<label class="col-sm-1 control-label">Port</label>
															<div class="col-sm-3"
																 ng-class="{'has-error': isInvalidOutgoingPort(outgoingEmailForm)}">
																<input class="form-control" required type="text"
																	   name="outgoingPort"
																	   autocomplete="false"
																	   ng-model="request.email_account.outgoing.port">
															</div>
														</div>
														<div class="row">
															<div class="col-sm-offset-3 col-sm-8">
																<label style="padding: 0px;">
																	<input type="checkbox" checkstyle="grey"
																		   class="icheck" ichecks=""
																		   ng-model="request.email_account.outgoing.ssl"
																		   ng-change="chooseConnectionType('ssl')"
																		   class="ng-valid ng-touched ng-dirty ng-valid-parse">
																	This server requires an encrypted connection (SSL)
																</label>
																<label style="padding: 0px;">
																	<input type="checkbox" checkstyle="grey"
																		   class="icheck" ichecks=""
																		   ng-model="request.email_account.outgoing.tls"
																		   ng-change="chooseConnectionType('tls')"
																		   class="ng-valid ng-touched ng-dirty ng-valid-parse">
																	This server requires an encrypted connection (TSL)
																</label>
															</div>
														</div>
													</div>
													<div class="form-group"
														 ng-class="{'disabled':!request.email_account.outgoing.active}">
														<div class="col-sm-12">
															<div class="row"
																 ng-class="{'has-error': isInvalidOutgoingEmail(outgoingEmailForm)}">
																<label class="col-sm-3 control-label">Email Address
																	(account):</label>
																<div class="col-sm-8">
																	<input class="form-control" type="email" required
																		   name="outgoingEmail"
																		   ng-model="request.email_account.name"
																		   autocomplete="false"
																		   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
																</div>
															</div>
															<div class="row"
																 ng-class="{'has-error': isInvalidOutgoingPassword(outgoingEmailForm)}">
																<label class="col-sm-3 control-label">Password:</label>
																<div class="col-sm-8">
																	<input class="form-control input-element-processed"
																		   required name="outgoingPassword"
																		   autocomplete="false"
																		   type="password"
																		   ng-model="request.email_account.password">
																</div>
															</div>
														</div>
													</div>
												</div>

												<!-- INCOMING -->
												<div class="form-group">

													<h3 class="acc_title">
														<input checkstyle="green" type="checkbox"
															   class="mail-checkbox flat-green icheck" ichecks=""
															   ng-model="request.email_account.incoming.active">
														Use Incoming email
													</h3>
													<div class="col-sm-12"
														 ng-class="{'disabled':!request.email_account.incoming.active}">
														<div class="row">
															<label class="col-sm-3 control-label">Incoming Mail
																Server</label>
															<div class="col-sm-5">
																<input class="form-control"
																	   type="text"
																	   autocomplete="false"
																	   name="server"
																	   ng-model="request.email_account.incoming.server">
															</div>
															<label class="col-sm-1 control-label">Port</label>
															<div class="col-sm-3">
																<input class="form-control"
																	   type="text"
																	   autocomplete="false"
																	   name="port"
																	   ng-model="request.email_account.incoming.port">
															</div>
														</div>
														<div class="row">
															<div class="col-sm-offset-3 col-sm-8">
																<label style="padding: 0px;">
																	<input type="checkbox" checkstyle="grey" ichecks=""
																		   ng-model="request.email_account.incoming.ssl"
																		   class="ng-valid ng-touched ng-dirty ng-valid-parse icheck">
																	This server requires an encrypted connection (SSL)
																</label>

															</div>

														</div>
													</div>
												</div>
											</div>

											<div ng-if="request.workerPosition === 'Foreman' && request.userId">
												<arrivy-integration foreman="request"></arrivy-integration>
											</div>
											<!-- END-->


											<er-department-google-calendar-integration uid="request.userId" busy="busy"
																					   origin-google-calendars="request.originGoogleCalendars"
																					   gmail="request.gmail"
																					   user-role="request.workerPosition"></er-department-google-calendar-integration>
										</div>
									</div>
								</div>

								<div class="tab-pane" ng-class="{'active': activeMainTab === 2}">
									<div ng-hide="request.workerPosition == 'Manager' || request.workerPosition == 'Sales' || request.workerPosition == 'Customer service' || request.workerPosition.split(' ')[0] == 'Customer'">
										<div class="row" style="margin-bottom: 20px;">
											<div class="col-xs-12">
												<div class="form-group">
													<label class="control-label">Sales Commission is calculated
														from</label>
												</div>
												<div>
													<label>
														<input type="radio" checkstyle="green" class="icheck" ichecks=""
															   name="optionsRadios" id="optionsRadios1"
															   ng-model="request.estimatedClosingPrice"
															   value="Estimated Price">
														Estimated Price
													</label>
												</div>
												<div>
													<label>
														<input type="radio" checkstyle="green" class="icheck" ichecks=""
															   name="optionsRadios" id="optionsRadios2"
															   ng-model="request.estimatedClosingPrice"
															   value="Closing Price">
														Closing Price
													</label>
												</div>
											</div>
										</div>

										<div class="row"
											 ng-repeat="rateAndCommission in rateAndCommissions track by $index"
											 ng-init="trueIndex = $index">
											<div class="col-xs-7 margin-bottom-10">
												<select class="form-control" ng-model="rateCommission[trueIndex].option"
														ng-change="disableCommissions()">
													<option ng-repeat="item in rateAndCommission.optionList"
															ng-show="item.name != ''" ng-disabled="item.optionDisabled"
															ng-selected="rateCommission[trueIndex].option == item.name"
															value="{{ item.name }}">
														{{item.name}}
													</option>
												</select>
											</div>
											<div class="col-xs-4 margin-bottom-10">
												<input cc-percent-and-currency class="form-control" type="text"
													   er-only-digit with-decimal-point="true"
													   ng-model="rateCommission[$index].input">
											</div>
											<div class="col-xs-1 margin-bottom-10">
												<div class="form-group">
													<div class="btn-delete" ng-click="deleteRow($index)">X</div>
												</div>
											</div>
											<div class="col-xs-12"
												 ng-if="rateCommission[trueIndex].option == 'Commission from total'">
												<div class="row" style="margin-bottom: 20px;">
													<div class="col-xs-12">
														<label>
															<input type="checkbox" checkstyle="green" class="icheck"
																   ng-model="request.excludeFuelMS" ichecks="">
															Exclude fuel surcharge from commission base
														</label>
													</div>
													<div class="col-xs-12">
														<label>
															<input type="checkbox" checkstyle="green" class="icheck"
																   ng-model="request.excludeValuationMS" ichecks="">
															Exclude valuation from commission base
														</label>
													</div>
													<div class="col-xs-12">
														<label>
															<input type="checkbox" checkstyle="green" class="icheck"
																   ng-model="request.excludePackingMS" ichecks="">
															Exclude packing from commission base
														</label>
													</div>
													<div class="col-xs-12">
														<label>
															<input type="checkbox" checkstyle="green" class="icheck"
																   ng-model="request.excludeAdditionalMS" ichecks="">
															Exclude additional services from commission base
														</label>
													</div>
													<div class="col-xs-12" ng-show="request.excludeAdditionalMS"
														 aria-hidden="false" style="">
														<i style="font-size: 12px;margin-left: 15px;color: grey;text-decoration: blink;font-weight: 600;">
															*Include Specific services to commission</i>
														<button class="btn btn-success btn-xs"
																style="margin-bottom: auto; background-color: #1abc9c;"
																ng-click="excludedAdditionalServices()">Add services
														</button>
													</div>
												</div>

											</div>
										</div>
										<div class="row"
											 ng-hide="request.workerPosition == 'Foreman' && rateAndCommissions.length >= 7 || request.workerPosition != 'Foreman' && rateAndCommissions.length >= 5">
											<div class="col-xs-offset-11 col-xs-1 margin-bottom-10">
												<div class="form-group">
													<div class="btn-add" ng-click="addRow()">+</div>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="request.workerPosition == 'Manager' || request.workerPosition == 'Sales' || request.workerPosition == 'Customer service' || request.workerPosition.split(' ')[0] == 'Customer'">
										<div class="row" style="margin-bottom: 20px;">
											<div class="col-xs-12">
												<div class="form-group">
													<label class="control-label">Sales Commission is calculated
														from</label>
												</div>
												<div class="col-sm-6" style="display: none;">
													<label>
														<input type="radio" checkstyle="green" class="icheck" ichecks=""
															   name="optionsRadiosMS"
															   ng-model="request.estimatedClosingPriceMS"
															   value="Estimated Price">
														Estimated Price
													</label>
												</div>
												<div class="col-sm-6" style="display: none;">
													<label>
														<input type="radio" checkstyle="green" class="icheck" ichecks=""
															   name="optionsRadiosMS"
															   ng-model="request.estimatedClosingPriceMS"
															   value="Payments Collected">
														Payments Collected
													</label>
												</div>
												<div class="col-sm-6">
													<label>
														<input type="radio" checkstyle="green" class="icheck" ichecks=""
															   name="optionsRadiosMS"
															   ng-model="request.estimatedClosingPriceMS"
															   value="Closing Price">
														Closing Price
													</label>
												</div>
											</div>
										</div>

										<div class="row" style="margin-bottom: 20px;">
											<div class="col-xs-12">
												<label>
													<input type="checkbox" checkstyle="green" class="icheck"
														   ng-model="request.excludeFuelMS" ichecks="">
													Exclude fuel surcharge from commission base
												</label>
											</div>
											<div class="col-xs-12">
												<label>
													<input type="checkbox" checkstyle="green" class="icheck"
														   ng-model="request.excludeValuationMS" ichecks="">
													Exclude valuation from commission base
												</label>
											</div>
											<div class="col-xs-12">
												<label>
													<input type="checkbox" checkstyle="green" class="icheck"
														   ng-model="request.excludePackingMS" ichecks="">
													Exclude packing from commission base
												</label>
											</div>
											<div class="col-xs-12">
												<label>
													<input type="checkbox" checkstyle="green" class="icheck"
														   ng-model="request.excludeAdditionalMS" ichecks="">
													Exclude additional services from commission base
												</label>
												<button ng-show="request.excludeAdditionalMS"
														class="btn btn-success btn-xs" style="margin-bottom: auto"
														ng-click="excludedAdditionalServices()">Add services
												</button>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12">
												<div class="form-group">
													<label class="control-label">Local Move</label>
												</div>
											</div>
											<div>
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.localMoveRateCommission1 = rateAndCommissionMS[0]"
															ng-model="request.localMoveRateCommission1"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.localMoveRateCommissionInput1">
												</div>
											</div>

											<div style="display: none;">
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.localMoveRateCommission2 = rateAndCommissionMS[1]"
															ng-model="request.localMoveRateCommission2"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.localMoveRateCommissionInput2">
												</div>
											</div>

											<div style="display: none;">
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.localMoveRateCommission3 = rateAndCommissionMS[2]"
															ng-model="request.localMoveRateCommission3"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.localMoveRateCommissionInput3">
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-xs-12">
												<div class="form-group">
													<label class="control-label">Long Distance Move</label>
												</div>
											</div>
											<div>
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.longDistanceMoveRateCommission1 = rateAndCommissionMS[0]"
															ng-model="request.longDistanceMoveRateCommission1"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.longDistanceMoveRateCommissionInput1">
												</div>
											</div>

											<div style="display: none;">
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.longDistanceMoveRateCommission2 = rateAndCommissionMS[1]"
															ng-model="request.longDistanceMoveRateCommission2"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.longDistanceMoveRateCommissionInput2">
												</div>
											</div>

											<div style="display: none;">
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.longDistanceMoveRateCommission3 = rateAndCommissionMS[2]"
															ng-model="request.longDistanceMoveRateCommission3"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.longDistanceMoveRateCommissionInput3">
												</div>
											</div>
										</div>

										<div class="row" style="display: none;">
											<div class="col-xs-12">
												<div class="form-group">
													<label class="control-label">International</label>
												</div>
											</div>
											<div>
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.internationalRateCommission1 = rateAndCommissionMS[0]"
															ng-model="request.internationalRateCommission1"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.internationalRateCommissionInput1">
												</div>
											</div>

											<div>
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.internationalRateCommission2 = rateAndCommissionMS[1]"
															ng-model="request.internationalRateCommission2"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.internationalRateCommissionInput2">
												</div>
											</div>

											<div>
												<div class="col-xs-7 margin-bottom-10">
													<select class="form-control"
															ng-init="request.internationalRateCommission3 = rateAndCommissionMS[2]"
															ng-model="request.internationalRateCommission3"
															ng-options="item as item for item in commissionsFroSales(rateAndCommissionMS)">
													</select>
												</div>
												<div class="col-xs-4 margin-bottom-10">
													<input cc-percent class="form-control" type="text"
														   er-only-digit with-decimal-point="true"
														   ng-model="request.internationalRateCommissionInput3">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane" ng-class="{'active': activeMainTab === 3}">
									<ng-include
											src="'app/settings/department/directives/permissionsTab.html?3'"></ng-include>
								</div>

								<div class="tab-pane" ng-class="{'active': activeMainTab === 4}">
									<div class="row" style="margin-bottom: 20px;">
										<div class="col-xs-12">
											<div class="form-group">
												<label class="control-label" for="autoassign-worker"
													   style="margin-right: 15px;">Auto-Assign: </label>
												<input type="checkbox"
													   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
													   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
													   ng-model="request.autoassignment.isAutoAssign"
													   id="autoassign-worker"
													   data-switchery="true" style="display: none;">
											</div>
											<div class="form-group">
												<h3 class="acc_title">
													Services
												</h3>
												<div ng-class="{'disabled':!request.autoassignment.isAutoAssign}">
													<div class="with-left-padding"
														 ng-repeat="service in autoAssignment track by $index">
														<input id="autoassignservices{{$index}}" checkstyle="green"
															   type="checkbox" class="mail-checkbox flat-green icheck"
															   ichecks=""
															   ng-model="service.checked"
															   ng-change="pushAutoassignCheckBox($index, service.checked)">
														<label for="autoassignservices{{$index}}">{{service.name}}</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane" ng-class="{'active': activeMainTab === 5}">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label for="signature-first-name" class="col-sm-2 control-label">First
													Name: </label>
												<div class="col-sm-10">
													<input class="required  form-control form-select"
														   id="signature-first-name" type="text"
														   ng-model='request.signature.firstName'>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<div class="row">
														<label for="signature-full-name" class="col-sm-2 control-label">Full
															Name: </label>
														<div class="col-sm-10">
															<input class="required form-control form-select"
																   id="signature-full-name" type="text"
																   ng-model='request.signature.fullName'>
														</div>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-12" style="min-height: 110px">
													<div class="row">
														<label class="col-sm-2 control-label">Signature: </label>
														<div class="col-sm-10 chat-widget">
															<div text-angular
																 ng-model="request.signature.textSignature"
																 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                                              ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                                              ['fontColor', 'fontName', 'fontSize'],
                                                                              ['insertLink', 'insertImage'],
                                                                              ['undo', 'redo', 'clear', 'html']]"
																 placeholder="Please put your signature here">
															</div>
														</div>

													</div>
												</div>

												<div class="col-sm-12">
													<div class="row">
														<h3 class="acc_title">
															Estimate Signature
														</h3>
														<er-signature-box signature="request.extraSignature" can-remove="1" can-edit="1" show-signature-date="1"></er-signature-box>
													</div>
													<div class="row chat-widget">
														<label class="col-sm-2 control-label">Signature footer: </label>
														<div class="col-sm-10 chat-widget">
															<div text-angular
																 ng-model="request.extraSignature.footer"
																 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                                              ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                                              ['fontColor', 'fontName', 'fontSize'],
                                                                              ['insertLink', 'insertImage'],
                                                                              ['undo', 'redo', 'clear', 'html']]"
																 placeholder="Please put your estimate signature text here">
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-12"
													 ng-show="request.workerPosition == 'Manager' || request.workerPosition == 'Sales' || request.workerPosition == 'Administrator'">
													<div class="row">
														<h3 class="acc_title">
															Sales Person Contact
														</h3>

														<div ng-show="createUserRun" class="text-center">
															<h3>First create a user</h3>
														</div>


														<div class="employee-signature"
															 ng-class="{'disabled': createUserRun}">
															<div class="mode-switch">
																<label class="control-label">Show info on
																	account: </label>
																<input type="checkbox"
																	   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
																	   ng-model="request.accountDetails.isShowSpecialistOnAccount"
																	   data-switchery="false">
															</div>
															<div class="show-emp-sig"
																 ng-if="request.accountDetails.isShowSpecialistOnAccount">
																<h1 class="show-emp-margin">
																	{{request.accountDetails.title}}</h1>
																<div class="show-emp-margin">
																	<img ng-src={{imageUrl}}>
																	<div ng-bind-html='request.accountDetails.additionalInformation'></div>
																</div>
															</div>
															<div class="edit-emp-sig"
																 ng-if="!request.accountDetails.isShowSpecialistOnAccount">
																<div class="show-info-on-account">
																	<div class="col-xs-2 text-align-right">
																		<label>Title:</label>
																	</div>
																	<div class="col-xs-10">
																		<input maxlength="22"
																			   class="required form-control form-select"
																			   ng-model="request.accountDetails.title"
																			   type="text">
																	</div>
																</div>
																<div class="show-info-on-account">
																	<div class="col-xs-3" ng-show="imageUrl">
																		<a ng-click="uploadPhotoModal();"> <img
																				ng-src="{{imageUrl}}"></a>
																	</div>
																	<div class="col-xs-9">
																		<div class="chat-widget">
																			<div ng-class="{'disabled': createUserRun}"
																				 text-angular
																				 ng-model="request.accountDetails.additionalInformation"
																				 ta-toolbar="[['bold','italics','underline'],
                                                                                                     ['ul'],['fontColor'],
                                                                                                     ['fontName','fontSize']]"
																				 placeholder="Please put your additional inforamtion here">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="tab-pane user-notifications" ng-class="{'active': activeMainTab === 6}">

									<div class="form-group"
										 ng-if="request.workerPosition != 'Driver' && request.workerPosition != 'Foreman' && request.workerPosition != 'Helper'">
										<div class="user-notifications__title">Notification email</div>
										<div class="col-sm-12">
											<input class="form-control margin-top-one"
												   type="email" name="email2"
												   ng-model="request.email"
												   elromco-user-unique>
										</div>
									</div>
									<div class="form-group"
										 ng-if="request.workerPosition == 'Driver' || request.workerPosition == 'Foreman' || request.workerPosition == 'Helper'">
										<div class="user-notifications__title">Notification email</div>
										<div class="col-sm-12">
											<input class="form-control margin-top-one"
												   type="email" name="email2"
												   ng-model="request.field_notification_mail"
												   elromco-user-unique>
										</div>
									</div>

									<div class="user-notifications__title"
										 ng-show="request.workerPosition != 'Foreman' && request.workerPosition != 'Helper' && request.workerPosition != 'Driver'">
										Notifications list
									</div>
									<ul class="nav nav-tabs" ng-init="activeTab = 0"
										ng-show="request.workerPosition != 'Foreman' && request.workerPosition != 'Helper' && request.workerPosition != 'Driver'">
										<li ng-class="{'active': notificationsGroup === 0}"
											ng-click="notificationsGroup = 0">
											<a href="">Sales</a>
										</li>
										<li ng-class="{'active': notificationsGroup === 1}"
											ng-click="notificationsGroup = 1">
											<a href="">Admin</a>
										</li>
										<li ng-class="{'active': notificationsGroup === 2}"
											ng-click="notificationsGroup = 2">
											<a href="">Dispatch</a>
										</li>
									</ul>
									<md-switch
											ng-repeat="selectAllNotification in selectAllNotifications track by $index"
											ng-model="selectAllNotifications[$index]"
											class="md-primary"
											ng-show="$index == notificationsGroup && request.workerPosition != 'Foreman' && request.workerPosition != 'Helper' && request.workerPosition != 'Driver'"
											ng-change="turnAllNotifications()"
											aria-label="Turn on all">
										Turn on all
									</md-switch>
									<md-input-container class="md-block user-notifications__list"
														flex-gt-sm
														ng-show="request.workerPosition != 'Foreman' && request.workerPosition != 'Helper' && request.workerPosition != 'Driver'">

										<md-switch ng-repeat="notification in notificationTypes"
												   ng-show="notificationsGroup == notification.type"
												   class="md-primary"
												   ng-model="notification.selected"
												   ng-change="addNotificationsToUser()"
												   aria-label="Is email notification">
											{{ notification.title }}
										</md-switch>
									</md-input-container>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer footer-bg_grey">
		<button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
		<button class="btn btn-danger" ng-if="currentUser == 'roma4ke' && btnName === 'Save'"
				ng-click="deleteWorker()" ng-disabled="vm.activeRow === -1">Delete
		</button>
		<button type="submit" class="btn btn-primary" ng-click="submitted=true; create(createUserRequest)">{{btnName}}
		</button>
	</div>
</div>
