<div class="panel" style="position: relative;">
    <div class="panel-heading">
        <h3 class="panel-title">Foreman receipt types</h3>
    </div>
    <div class="saving-progress-packing" >
        <span class=""  ng-show="vm.saving">Saving</span>
        <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
    </div>
    <div class="panel-body">
        <details>
            <summary style="margin-bottom: 10px; cursor: pointer;">Types</summary>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="setting in vm.foremanReceiptsTypes track by $index">
                    <input type="text" class="form-control" ng-model="setting.value" style="width: calc(100% - 30px);display: inline-block;">
                    <div style="display: inline-block; float: right; cursor: pointer; font-size: 20px; margin-top: 4px;" ng-click="vm.removeItem($index)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </li>
            </ul>
            <div ng-click="vm.addNewItem()" ng-class="{'disabled': vm.disableNewItem()}" style="cursor: pointer; font-size: 26px; padding-top: 6px; display: inline-block;">
                <i class="fa fa-plus-square pull-left" aria-hidden="true"></i>
            </div>
            <button class="btn btn-success pull-right" ng-click="vm.saveItems()" ng-disabled="vm.disableNewItem()">Save</button>
        </details>
    </div>
</div>
