<div>
    <ul class="nav nav-tabs submenu_tab" ng-init="activePermTab = 0">
        <li ng-class="{'active': activePermTab === 0}" ng-click="activePermTab = 0"><a href="">Admin Permissions</a></li>
        <li ng-class="{'active': activePermTab === 1}" ng-click="activePermTab = 1"><a href="">Requests</a></li>
        <li ng-class="{'active': activePermTab === 2}" ng-click="activePermTab = 2"><a href="">Request Window</a></li>
        <li ng-class="{'active': activePermTab === 3}" ng-click="activePermTab = 3"><a href="">Reminders</a></li>
    </ul>
    <div class="tab-content checkboxes">
        <div class="tab-pane" ng-class="{'active': activePermTab === 0}" >
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeSettingsMenu">
                    <span>Can see Settings Page</span>
                </label>
            </div>
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeStatisticsMenu">
                    <span>Can see Statistics Page</span>
                </label>
            </div>
            <div class="" ng-show="checkRoles(request, ' sales manager ')" >
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeStorageMenu">
                    <span>Can see Storage Page</span>
                </label>
            </div>
            <div class="" ng-show="checkRoles(request, ' sales manager ')">
                <label>
                    <input type="checkbox"  checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeLongDistanceMenu">
                    <span>Can see Long Distance Dispatch Page</span>
                </label>
            </div>
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeScheduleMenu">
                    <span>Can see Schedule Page</span>
                </label>
            </div>
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeDispatchMenu">
                    <span>Can see Dispatch Page</span>
                </label>
            </div>
			<div>
				<label>
					<input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeInvoiceDashboardTab">
					<span>Can see Invoice Dashboard Tab</span>
				</label>
			</div>
            <div>
                <label>
                    <input type="checkbox"
                           checkstyle="green"
                           class="icheck"
                           ichecks
                           ng-model="request.permissions.canSeeWhatCustomerViewRequest">
                    <span>Can See Customers Online</span>
                </label>
            </div>
        </div>

        <div class="tab-pane" ng-class="{'active': activePermTab === 1}" >
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeOtherLeads">
                    <span>Can see other salespeople's leads</span>
                </label>
            </div>
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSearchOtherLeads">
                    <span>Can search other salespeople's leads</span>
                </label>
            </div>
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canEditOtherLeads">
                    <span>Can edit other leads</span>
                </label>
            </div>
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeUnsignedLeads">
                    <span>Can see unassigned leads</span>
                </label>
            </div>
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSignedSales">
                    <span>Can assign leads to other salespeople</span>
                </label>
            </div>
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canMoveRequestToOtherBranch">
                    <span>Can move request to another branch</span>
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canEditPayroll">
                    <span>Can edit payroll</span>
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canAssignUnassignedLeads">
                    <span>Can assign unassigned leads</span>
                </label>
            </div>
        </div>

        <div class="tab-pane" ng-class="{'active': activePermTab === 2}" >
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canSeeAllStatuses">
                    <span>Can see all statuses</span>
                </label>
            </div>
        </div>
        <div class="tab-pane" ng-class="{'active': activePermTab === 3}" >
            <div class="">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck" ichecks="" ng-model="request.permissions.canAssignToOther">
                    <span>Can assign reminders to other salespeople</span>
                </label>
            </div>
        </div>
    </div>
</div>
