<div ng-class="{'disabled': uploadedBusy}">
    <div flow-init="{target: '/upload', singleFile: true}" flow_name="uploader.flow" flow-files-submitted="" flow-file-added="onImageAdded( $file, $event, $flow )" class="tab-pane photo-modal" ng-class="{'disabled': uploadedBusy}">
        <div class="modal-header gray">
            <div class="actions pull-right">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
            </div>
        </div>
        <div ng-show="uploadedBusy">
            <div class="sk-cube-grid busyoverlay">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <div ng-show="$flow.files.length" class="row">
            <div class="cropped-photo col-sm-4">
                <label>Cropped Photo:</label>
                <img ng-src="{{myCroppedImage}}" />
            </div>
            <div class="col-sm-8">
                <ui-cropper class="crop-photo" image="photo" result-image="myCroppedImage"></ui-cropper>
            </div>
        </div>
        <div ng-hide="$flow.files.length" class="row text-center">
            <div class="col-sm-12">Select the picture or upload your photo</div>
            <div  class="col-sm-6">
                <a ng-click="uploadSelectedPhoto(img_1Url)"><img class="default-photo pull-right" ng-src="{{img_1Url}}"></a>
            </div>
            <div class="col-sm-6">
                <a ng-click="uploadSelectedPhoto(img_2Url)"><img class="default-photo pull-left" ng-src="{{img_2Url}}"></a>
            </div>
            <div class="col-sm-6">
                <a ng-click="uploadSelectedPhoto(img_3Url)"><img class="default-photo pull-right" ng-src="{{img_3Url}}"></a>
            </div>
            <div class="col-sm-6">
                <a ng-click="uploadSelectedPhoto(img_4Url)"><img class="default-photo pull-left" ng-src="{{img_4Url}}"></a>
            </div>
        </div>
        <div class="drop text-center" flow-drop="" ng-class="dropClass" ng-show="$flow.files.length < 1">
            <span class="btn btn-primary" flow-btn="">Upload Photo</span><br>
        <b>OR </b> Drag And Drop your photo here
        </div>
        <div class="modal-footer" ng-show="$flow.files.length">
            <span  class="btn btn-default pull-left" flow-btn="" ng-click="">Change Photo</span>
            <span class="btn btn-primary pull-right"  ng-click="uploadPhoto(myCroppedImage)">Save Photo</span>
        </div>
    </div>
</div>

