<div class="panel panel-default adminpanel datatable-requests" ng-class="{'small':small}">
    <div ng-show="busy">
        <div class="busyoverlay">
            <img class="spinner" src="../../../../content/img/logo_animation.gif">
        </div>
    </div>

    <div class="panel-heading" ng-if="showheading">

        <div class="choose-dater-response">
            <div class="row">
                <div class="col-md-12">
                    <div class="tRo tRo3" ng-if="selectInputs.status">
                        <select id="fstatus" class="tinputRo tinputRo1" ng-model="selectInputs.status">
                            <option value="0">All Requests</option>
                            <option ng-repeat="(key,status) in statusFields" value="{{key}}" ng-bind="status"></option>
                        </select>
                    </div>
                    <div class="tRo tRo3" ng-if="selectInputs.serviceTypeOption">
                        <select id="search-service-type" class="tinputRo" ng-model="selectInputs.serviceTypeOption">
                            <option value="0">All services</option>
                            <option ng-repeat="service in serviceType track by $index" value="{{service.id}}"
                                    ng-bind="service.title">

                            </option>
                        </select>
                    </div>
                    <div class="tRo tRo3" ng-if="canSeeOtherLeads">
                        <select class="tinputRo" ng-model="selectInputs.managerIdSort">
                            <option value="0">All managers</option>
                            <option ng-repeat="manager in managersList track by $index" value="{{manager.uid}}">
                                {{manager.field_user_first_name}} {{manager.field_user_last_name}}
                            </option>
                        </select>
                    </div>
                    <div class="tRo tRo3" ng-if="dateFields.selected">
                        <select class="tinputRo tinputRo3" ng-model="dateFields.selected">
                            <option value="1">Created Date</option>
                            <option value="2">Move Date</option>
                        </select>
                    </div>
                    <div class="tRo tRo3" ng-if="::leadscoringsettings.enabled">
						<select class="scoreInputRo text-capitalize" ng-model="selectInputs.leadScoringInput">
							<option selected value>Lead Score</option>
							<option class="text-capitalize" ng-repeat="(key, value) in leadscoringsettings.scoring track by $index" ng-value="key">
								{{key}}
							</option>
						</select>
					</div>
                    <div class="tRo tRo3" ng-hide="small || payrollstatus">
                        <select class="tinputRo" ng-model="selectInputs.sourceSort">
                            <option value="0">All source</option>
                            <option ng-repeat="source in sources track by $index" value="{{source}}">
                                {{source}}
                            </option>
                        </select>
                    </div>
					<div class="dateRo col-md-12">
                        <i class="fa fa-calendar-o"></i>
                        <input type="text" class="form-control"
                               uib-datepicker-popup="mediumDate" ng-model="dateFrom" id="dateFrom"
                               is-open="openedFrom" ng-click="openedFrom = !openedFrom"
                               datepicker-options="dateFromOptions" ng-change="bDateChange = true; dateToOptions.minDate = dateFrom;"
                               close-text="Close"/>
                        -
                        <input type="text" class="form-control"
                               uib-datepicker-popup="mediumDate" id="dateTo" ng-model="dateTo" is-open="openedTo"
                               ng-click="openedTo = !openedTo"
                               datepicker-options="dateToOptions"
                               ng-change="bDateChange = true; dateFromOptions.maxDate = dateTo;" close-text="Close"/>
                    </div>
                    <div style="width: 75px;float: left;">
                        <button class="mbtn btn btn-info" ng-click="GetMonthStats()">Submit</button>
                    </div>
                    <div class="tRo receipt-search-button">
                        <div ng-click="receiptChange()" class="tinputRo btn btn-default"
                             style="background-color: #DDDDDD">
                            Receipt Search
                        </div>
                    </div>
                </div>
                <div class="col-md-12 animated fadeInDown fade req-receipt-search" ng-show="receiptSearch"
                     ng-animate="'animate'" ng-class="{fadeOut : receiptSearchHide}" id="receipt-search">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <input ng-model="receipt.customer_name" class="form-control"
                                       placeholder="Enter customer name">
                            </div>
                            <div class="col-md-2">
                                <input ng-model="receipt.customer_phone"
                                       class="form-control"
                                       phone-input
                                       minlength="14"
                                       maxlength="14"
                                       placeholder="Enter customer phone">
                            </div>
                            <div class="col-md-2">
                                <input ng-model="receipt.credit_card" class="form-control"
                                       placeholder="Last 4 digits of credit card"
                                       type="tel" mask-restrict='reject' cc-credit-card mask="9999"
                                       mask-clean='true'>
                            </div>
                            <div class="col-md-1">
                                <input cc-currency ng-model="receipt.amount" placeholder="Amount" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <select ng-model="receipt.card_type" class="form-control">
                                    <option value="" style="display: none;">Select card type</option>
                                    <option value=""></option>
                                    <!-- <option ng-repeat="(key, value) in cardType" value="{{key}}">{{value}}</option> -->
                                    <!-- <option value="cash">Cash</option> -->
                                    <!-- <option value="check">Check</option> -->
                                    <option value="Visa">Visa</option>
                                    <option value="Mastercard">Mastercard</option>
                                    <option value="AMEX">AMEX</option>
                                    <option value="Discover">Discover</option>
                                    <!-- <option value="reservation">Reservation</option> -->
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div style="display: inline-block;">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="mediumDate" ng-model="receipt.date" id="dateFrom"
                                           is-open="openedReceipt"
                                           ng-click="$event.stopPropagation(); openedReceipt = !openedReceipt"
                                           datepicker-options="dateOptions" close-text="Close"/>
                                </div>
                                <div style="display: inline-block;" ng-click="clearDate()">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <button class="btn btn-success pull-right" ng-click="globalReceiptSearch()">Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-heading panel-dashboard-heading" ng-if="!showheading && tbtitle">
        <h3 class="panel-title">{{tbtitle}}</h3>
        <score-filter lead-score-filter="leadScoreFilter"
                      get-requests-by-lead-score-filter="getRequestsByLeadScoreFilter"
                      ng-if="::leadscoringsettings.enabled"></score-filter>
    </div>

    <div class="requests-main-table">
        <!--Data Table -->
        <div class="panel-body mdDataTable " ng-if="requests && !pagination">
            <table datatable="ng" dt-options="dtOptions" id="datatable_without_pagination">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="dtStatus">Status</th>
                    <th ng-show="!clientHistory">Flag</th>
                    <th ng-show="showBooked">Booked Date</th>
                    <th style="display:none;"></th>
                    <th class="dtService">Service Type</th>
                    <th style="display:none;">Service Hidden</th>
                    <th class="dtDate">Move Date</th>
                    <th ng-show="!clientHistory">Customer</th>
                    <th ng-show="!clientHistory">Phone</th>
                    <th>Moving From</th>
                    <th>Moving To</th>
                    <th>Size of Move</th>
                    <th ng-show="!clientHistory">Crew</th>
                    <th ng-hide="small">Create Date</th>
                    <th ng-hide="small">Updated Date</th>
                    <th ng-hide="small ||payrollstatus">Source</th>
                    <th ng-hide="small || payrollstatus">Assigned</th>
                    <th ng-show="!clientHistory && !payrollstatus">Quick Message</th>
                    <th ng-hide="!payrollstatus">Job Status</th>
                    <th ng-hide="!payrollstatus">Payrol Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'disabled':busy, 'active_row' : clicked == request.nid}"
                    class="request" data-nid="{{request.nid}}" ng-repeat="request in requests track by $index"
                    ng-show="!vm.basicsettings.lightVersion || vm.isAdmin">

                    <td ng-click="requestEditModal(request)" ng-bind="request.nid"></td>
                    <td class="dtStatus" ng-click="requestEditModal(request)">
                          <span ng-if="request.status.raw == 9 && request.service_type.raw == 7"
                                class="status status_{{request.status.raw}}">
                               LD First Step
                          </span>
                        <span ng-hide="request.status.raw == 9 && request.service_type.raw == 7"
                              class="status status_{{request.status.raw}}" ng-bind="request.status.value">

                          </span>
                        <i class="fa fa-dollar red" ng-show="request.request_all_data.add_rate_discount"
                           title="Discount expiration {{request.request_all_data.add_rate_discount_expiration}}"
                           style="margin-left: 20px;color: #4198DB;cursor: pointer;"></i>
                        <img width="30px" ng-show="request.field_company_flags.value.hasOwnProperty(3)"
                             src="../../../../content/img/animat-essential/diamond/animat-diamond-color.gif">

                    </td>
                    <td ng-init="createCurrentFlag(request.nid)"
                        ng-show="!clientHistory">
                        <div class="btn-group" id="company-flag" uib-dropdown dropdown-append-to-body="true"
                             ng-class="{ 'dropup': isDropUp }" ng-click="toggleDropUp($event)">
                            <span id="btn-append-to-single-button" type="button" class="requests-flag"
                                  uib-dropdown-toggle
                                  ng-style="{color: currentFlag[request.nid].color}">
                              <i class="fa fa-flag" aria-hidden="true"></i>
                                {{currentFlag[request.nid].name}}
                            </span>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                aria-labelledby="btn-append-to-single-button">
                                <div class="log-arrow-up" ng-class="{ 'log-arrow-down': isDropUp }"></div>
                                <li>
                                    <a href ng-click="removeFlag(request.nid)">remove flag</a>
                                    <hr class="dropdown-hr">
                                </li>
                                <li ng-repeat="(key,flag) in companyFlags track by $index">
                                    <a href ng-click="changeFlag(request.nid, flag)" ng-style=" {color: flag.color}"
                                       ng-bind="flag.name"></a>
                                    <hr class="dropdown-hr">
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td class="dtService " ng-click="requestEditModal(request)">
                          <span class="service_type service_type_{{request.status.raw}}"
                                ng-bind="request.service_type.value">

                          </span>
                    </td>
                    <td class="dtDate" ng-click="requestEditModal(request)" ng-bind="request.date.value"></td>
                    <td ng-click="requestEditModal(request)"
                        ng-show="!clientHistory"
                        ng-bind="request.name"></td>
                    <td ng-click="requestEditModal(request)"
                        ng-show="!clientHistory">
                        <span ng-bind="request.phone | nationalPhoneFormatter"></span>
                    </td>
                    <td ng-click="requestEditModal(request)" ng-bind="request.from"></td>
                    <td ng-click="requestEditModal(request)" ng-bind="request.to"></td>
                    <td ng-click="requestEditModal(request)" ng-bind="request.move_size.value"></td>
                    <td ng-click="requestEditModal(request)"
                        ng-show="!clientHistory"
                        ng-bind="request.crew.value"></td>
                    <td ng-click="requestEditModal(request)" ng-hide="small" style="font-size: 10px;" ng-bind="request.created
                                * 1000 | date : 'M/d/yy h:mm a'">
                    </td>
                    <td ng-click="requestEditModal(request)" ng-hide="small" style="font-size: 10px;" ng-bind="request.changed
                                * 1000 | date : 'M/d/yy h:mm a'">
                    </td>
                    <td ng-click="requestEditModal(request)"
                        ng-hide="small || payrollstatus"
                        ng-bind="request.field_parser_provider_name">
                    </td>
                    <td ng-click="requestEditModal(request)"
                        ng-hide="small || payrollstatus"
                        ng-bind="request.manager.first_name">
                    </td>
                    <td ng-show="!clientHistory && !payrollstatus">
                        <div class="" ng-click="openQuickMessage(request.nid)">Quick Message</div>
                    </td>
                    <td ng-hide="!payrollstatus" ng-click="requestEditModal(request)">
                        <div ng-if="requestJobStatus(request.nid)">
                            <i class="fa fa-check" aria-hidden="true" style="color: #13C713"></i>
                        </div>
                        <div ng-if="!requestJobStatus(request.nid)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td ng-hide="!payrollstatus" ng-click="requestEditModal(request)">
                        <div ng-if="requestPayrollStatus(request.nid)">
                            <i class="fa fa-check" aria-hidden="true" style="color: #13C713"></i>
                        </div>
                        <div ng-if="!requestPayrollStatus(request.nid)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td ng-show="!clientHistory"></td>
                    <td ng-show="!clientHistory"></td>
                    <td ng-show="!clientHistory"></td>
                </tr>

                </tbody>
            </table>
            <div class="row" ng-show="pagination">
                <div class="table_info" style="display: none;">
                    Showing {{25*currentPage}} to {{currentPage*25 + 25}} of {{total_entries}} entries
                </div>
                <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                    <ul class="pagination">
                        <li class="paginate_button previous" ng-class="{'disabled' : currentPage==0}"
                            aria-controls="example" tabindex="0" id="example_previous"><a ng-click="previousPage()">Previous</a>
                        </li>
                        <li class="paginate_button next" aria-controls="example" id="clients_next"><a
                                ng-click="nextPage()">Next</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- END OF DATATABLE -->
        <!-- HANDMADE TABLE -->
        <div class="panel-body mdDataTable nopadding requestDashboardTable" ng-if="requests && pagination">
            <table id="datatable" class="dataTable">
                <thead>
                <tr>
                    <th ng-click="changeSorting('nid')"
                        ng-class="{'sorting_desc':sorting_desc && sorting_fields['nid'], 'sorting_asc':sorting_asc && sorting_fields['nid']}">
                        #
                    </th>
                    <th class="dtStatus">Status</th>
                    <th>Flag</th>
                    <th ng-if="leadscoringsettings.enabled" ng-click="changeSorting('field_total_score')"
                        ng-class="{'sorting_desc':sorting_desc && sorting_fields['field_total_score'], 'sorting_asc':sorting_asc && sorting_fields['field_total_score']}">
                        Lead Score
                    </th>
                    <th ng-show="showBooked" ng-click="changeSorting('field_date_confirmed')"
                        ng-class="{'sorting_desc':sorting_desc && sorting_fields['field_date_confirmed'], 'sorting_asc':sorting_asc && sorting_fields['field_date_confirmed']}">
                        Booked Date
                    </th>
                    <th style="display:none;"></th>
                    <th class="dtService">Service Type</th>
                    <th style="display:none;">Service Hidden</th>
                    <th class="dtDate" ng-click="changeSorting('field_date')"
                        ng-class="{'sorting_desc':sorting_desc && sorting_fields['field_date'], 'sorting_asc':sorting_asc && sorting_fields['field_date']}">
                        Move Date
                    </th>

                    <th>Customer</th>
                    <th>Phone</th>
                    <th ng-hide="payrollstatus">Message</th>
                    <th>Moving From</th>
                    <th>Moving To</th>
                    <th>Size of Move</th>
                    <th>Crew</th>
                    <th ng-hide="small" ng-click="changeSorting('created')"
                        ng-class="{'sorting_desc':sorting_desc && sorting_fields['created'], 'sorting_asc':sorting_asc && sorting_fields['created']}">
                        Create Date
                    </th>
                    <th ng-hide="small" ng-click="changeSorting('changed')"
                        ng-class="{'sorting_desc':sorting_desc && sorting_fields['changed'], 'sorting_asc':sorting_asc && sorting_fields['changed']}">
                        Updated Date
                    </th>

                    <th ng-hide="small ||payrollstatus" ng-click="changeSorting('field_parser_provider_name')"
                        ng-class="{'sorting_desc':sorting_desc && sorting_fields['field_parser_provider_name'], 'sorting_asc':sorting_asc && sorting_fields['field_parser_provider_name']}">
                        Source
                    </th>
                    <th ng-hide="small || payrollstatus" ng-click="changeSorting('field_request_manager')"
                        ng-class="{'sorting_desc':sorting_desc && sorting_fields['field_request_manager'], 'sorting_asc':sorting_asc && sorting_fields['field_request_manager']}">
                        Assigned
                    </th>

                    <th ng-hide="!payrollstatus">Job Status</th>
                    <th ng-hide="!payrollstatus">Payrol Status</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'disabled':busy, 'active_row' : clicked == request.nid}"
                    class="request" data-nid="{{request.nid}}" ng-repeat="request in requests track by $index">

                    <td ng-click="requestEditModal(request)" ng-bind="request.nid"></td>
                    <td class="dtStatus" ng-click="requestEditModal(request)">
                          <span ng-if="request.status.raw == 9 && request.service_type.raw == 7"
                                class="status status_{{request.status.raw}}">
                               LD First Step
                          </span>
                        <span ng-hide="request.status.raw == 9 && request.service_type.raw == 7"
                              class="status status_{{request.status.raw}}" ng-bind="request.status.value">
                          </span>
                        <i class="fa fa-dollar red" ng-show="request.request_all_data.add_rate_discount"
                           title="Discount expiration {{request.request_all_data.add_rate_discount_expiration}}"
                           style="margin-left: 20px;color: #4198DB;cursor: pointer;"></i>
                        <img width="30px" ng-show="request.field_company_flags.value.hasOwnProperty(3)"
                             src="../../../../content/img/animat-essential/diamond/animat-diamond-color.gif">

                    </td>
                    <td ng-init="createCurrentFlag(request.nid)">
                        <!-- <div  ng-repeat="(key, value) in request.field_flags.value">
                                      <span ng-init="currentFlag[request.nid] = companyFlags[key]"></span>
                                    </div>  -->
                        <div class="btn-group" id="company-flag" uib-dropdown dropdown-append-to-body="true"
                             ng-class="{ 'dropup': isDropUp }" ng-click="toggleDropUp($event)">
                            <span id="btn-append-to-single-button" type="button" class="requests-flag"
                                  uib-dropdown-toggle
                                  ng-style="{color: currentFlag[request.nid].color}">
                              <i class="fa fa-flag" aria-hidden="true"></i>
                                <span ng-bind="currentFlag[request.nid].name">
                                </span>
                            </span>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                aria-labelledby="btn-append-to-single-button">
                                <div class="log-arrow-up" ng-class="{ 'log-arrow-down': isDropUp }"></div>
                                <li>
                                    <a href ng-click="removeFlag(request.nid)">remove flag</a>
                                    <hr class="dropdown-hr">
                                </li>
                                <li ng-repeat="(key,flag) in companyFlags">
                                    <a href ng-click="changeFlag(request.nid, flag)" ng-style=" {color: flag.color}"
                                       ng-bind="flag.name"></a>
                                    <hr class="dropdown-hr">
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td ng-if="::leadscoringsettings.enabled" ng-click="requestEditModal(request)">
                        <div class="request-lead-score"
                             ng-class="getLeadScoreStyle(request.field_total_score)"
                             ng-bind="request.field_total_score || '0'"></div>
                    </td>

                    <td ng-show="showBooked" style="font-size: 10px;" ng-click="requestEditModal(request)"
                        ng-bind="request.field_date_confirmed.raw">

                    </td>
                    <th style="display:none;">status_{{request.status.raw}}{{request.status.raw}}</th>
                    <td style="display:none;" ng-bind="request.phone | nationalPhoneFormatter"></td>
                    <td class="dtService " ng-click="requestEditModal(request)">
                              <span class="service_type service_type_{{request.status.raw}}">
                                <span>
                                    {{getCurrentServiceTypeName(request)}}
                                </span>
                                <i class="fa fa-cubes red"
                                   ng-if="request.request_all_data.requiredPackingService == 2"></i>
                                <i class="fa fa-cube red cube-packing"
                                   ng-if="request.request_all_data.requiredPackingService == 1"></i>
                              </span>
                    </td>
                    <td class="dtDate" ng-click="requestEditModal(request)" ng-bind="request.date.value"></td>

                    <td ng-click="requestEditModal(request)" ng-bind="request.name"></td>
                    <td class="phone-number" ng-click="requestEditModal(request)" ng-bind="request.phone | nationalPhoneFormatter"></td>
                    <td ng-hide="payrollstatus">
                        <div class="" ng-click="openQuickMessage(request.nid)">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td ng-click="requestEditModal(request)"
                        ng-hide="(request.service_type.raw == 6 || request.service_type.raw == 2) && request.request_all_data.toStorage"
                        ng-bind="request.from">

                    </td>
                    <td
                            ng-if="(request.service_type.raw == 6 || request.service_type.raw == 2) && request.request_all_data.toStorage">
                        <img ng-show="request.service_type.raw == 6"
                             style=" width: 30px;color: black;float: left;margin-right: 10px;"
                             alt="" class="storage_icon_table"
                             src="../../../../content/img/storage-icons/truck_icon.png">
                        <img ng-show="request.service_type.raw == 2"
                             style=" width: 40px;color: black;float: left;margin-right: 10px;"
                             alt="" class="storage_icon_table"
                             src="../../../../content/img/storage-icons/storage_icon.png"><span
                            style="line-height: 29px;">From Storage</span></i>
                    </td>
                    <td ng-click="requestEditModal(request)"
                        ng-hide="(request.service_type.raw == 6 || request.service_type.raw == 2 || request.service_type.raw == 8) && !request.request_all_data.toStorage"
                        ng-bind="request.to">

                    </td>
                    <td ng-click="requestEditModal(request)" ng-if="request.service_type.raw == 8">
                        <img alt=""
                             class="packing_day_icon"
                             src="../../../../content/img/packing-day-request.png">
                    </td>
                    <td
                            ng-if="(request.service_type.raw == 6 || request.service_type.raw == 2) && !request.request_all_data.toStorage">
                        <img ng-show="request.service_type.raw == 6"
                             style=" width: 30px;color: black;float: left;margin-right: 10px;"
                             alt="" class="storage_icon_table"
                             src="../../../../content/img/storage-icons/truck_icon.png">
                        <img ng-show="request.service_type.raw == 2"
                             style=" width: 40px;color: black;float: left;margin-right: 10px;"
                             alt="" class="storage_icon_table"
                             src="../../../../content/img/storage-icons/storage_icon.png"><span
                            style="line-height: 29px;">To Storage</span></i>
                    </td>
                    <td ng-click="requestEditModal(request)" ng-bind="request.move_size.value"></td>
                    <td ng-click="requestEditModal(request)" ng-bind="request.crew.value"></td>
                    <td ng-click="requestEditModal(request)" ng-hide="small" style="font-size: 10px;" ng-bind="request.created
                                * 1000 | date : 'M/d/yy h:mm a'">
                    </td>
                    <td ng-click="requestEditModal(request)" ng-hide="small" style="font-size: 10px;" ng-bind="request.changed
                                * 1000 | date : 'M/d/yy h:mm a'">
                    </td>

                    <td ng-click="requestEditModal(request)" ng-hide="small || payrollstatus"
                        ng-bind="request.field_parser_provider_name">

                    </td>
                    <td ng-hide="small || payrollstatus" class="request-sales">
                        <div ng-hide="PermissionsServices.hasPermission('canSignedSales') || PermissionsServices.hasPermission('canAssignUnassignedLeads')">
                            <span ng-if="request.manager.first_name">{{request.manager.first_name}} {{request.manager.last_name}}</span>
                            <span class="disabled" ng-if="!request.manager.first_name">Assign sales person</span>
                        </div>
                        <div ng-show="::showManagerDropdown();">
                            <div class="btn-group">
                                <button type="button"
                                        ng-class="{'btn dropdown-toggle sales-person-dropdown': !request.manager.first_name, 'btn sales-person-dropdown' : request.manager.first_name}"
                                        data-toggle="dropdown" aria-expanded="true">
                            <span class="pull-right" ng-show="showManagerDropdown(request.manager.first_name)">
                                <span class="caret"
                                      ng-class="{'caret-right' : showManagerDropdown(request.manager.first_name) }"></span>
                            </span>
                                    <span class="pull-left sales-name" ng-show="request.manager.first_name">
                                {{shortName(request.manager.first_name +' '+request.manager.last_name)}}
                            </span>
                                    <span class="pull-left" ng-show="!request.manager.first_name">
                                Assign sales person
                            </span>
                                </button>
                                <ul class="dropdown-menu sales-list" role="menu"
                                    ng-show="showManagerDropdown(request.manager.first_name)">
                                    <li ng-repeat="manager in managersList">
                                        <a ng-click="setManager(manager, request)"> {{manager.field_user_first_name}}
                                            {{manager.field_user_last_name}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>

                    <td ng-hide="!payrollstatus" ng-click="requestEditModal(request)">
                        <div ng-if="requestJobStatus(request.nid)">
                            <i class="fa fa-check" aria-hidden="true" style="color: #13C713"></i>
                        </div>
                        <div ng-if="!requestJobStatus(request.nid)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </td>
                    <td ng-hide="!payrollstatus" ng-click="requestEditModal(request)">
                        <div ng-if="requestPayrollStatus(request.nid)">
                            <i class="fa fa-check" aria-hidden="true" style="color: #13C713"></i>
                        </div>
                        <div ng-if="!requestPayrollStatus(request.nid)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </td>


                </tr>

                </tbody>
            </table>
            <div class="row" ng-show="pagination">
                <div class="table_info" style="margin-left: 20px;">
                    <span ng-show="totalentries == 0">There is no data</span>
                    <span ng-show="currentPage == 0 && totalentries != 0">Showing 1 to {{totalentries > 25 ? 25 : totalentries}} of {{totalentries}} entries</span>
                    <span ng-show="currentPage != 0 && currentPage*25 + 25 < totalentries && totalentries != 0">Showing {{25*currentPage}} to {{currentPage*25 + 25}} of {{totalentries}} entries</span>
                    <span ng-show="currentPage != 0 && currentPage*25 + 25 >= totalentries && totalentries != 0">Showing {{25*currentPage}} to {{totalentries}} of {{totalentries}} entries</span>

                </div>
                <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                    <ul class="pagination" style="    margin-right: 20px;">
                        <li class="paginate_button previous" ng-class="{'disabled' : currentPage==0}"
                            aria-controls="example" tabindex="0" id="example_previous"><a ng-click="previousPage()">Previous</a>
                        </li>
                        <li class="paginate_button next" ng-class="{'disabled' : currentPage*25 + 25 >= totalentries}"
                            aria-controls="example" id="clients_next"><a ng-click="nextPage()">Next</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- END OF HANDMADE TABLE-->
    </div>


    <div class="bubble popup" ng-show="request.showquickmessage">
        <div quick-message nid="request.nid"></div>
    </div>
</div>
