<div class="">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
            <h1>ADDITIONAL INVENTORY</h1>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <section id="main-content" style="min-height:400px" ng-controller="InventoriesController as vm"
                             ng-init="vm.init(request, 'contract', fieldName)" class="animated fadeInRight">
                        <div ng-show="vm.busy">
                            <div class="busyoverlay">
                                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="busyoverlay" ng-show="vm.busy">
                                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                                         xmlns="http://www.w3.org/2000/svg">
                                    </svg>
                                </div>

                                <div ng-if="request.field_request_settings.inventoryVersion == 2" inventories request="request" save-list-inventories="vm.saveAddListInventories" listinventories="vm.listInventories" is-contract-page="true" type-inventory="{{::fieldName}}" closing-function="$close()"></div>

                                <div ng-if="vm.request.field_request_settings.inventoryVersion != 2">
                                    <div list-new-inventories calculate-filter="calculateFilter" listInventories="vm.listInventories" save-list-inventories="vm.saveAddListInventories" ng-if="vm.rooms" rooms="vm.rooms" items-log="vm.itemsLog"></div>
                                    <div list-inventories calculate-filter="vm.calculateFilter" listInventories="vm.listInventories" rooms="vm.rooms" removed="vm.removedItems" decrease="vm.decreaseItems"></div>
                                </div>

                                <div class="row" style="margin-bottom: 30px;" ng-if="vm.request.field_request_settings.inventoryVersion != 2">
                                    <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
                                        <button id="save-inventory-client" class="btn-inv-default btn-lg btn col-md-12" ng-class="{'disabled':vm.busyInventory}" ng-click="vm.saveAddListInventories()">Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
