<div class="">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true" style="margin-top: -15px;">×
            </button>
            <h1>CONDITION AT ORIGIN</h1>
        </div>
        <div class="modal-body" id="condition-modal" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="row" style="margin-top: 30px; margin-bottom: 30px; text-align: center;">
                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="condition">
                    <h1>EXCEPTION SYMBOLS</h1>
                    <div class="row">
                        <div class="col-md-2 uppercase" ng-repeat="(key, symbol)  in exceptionSymbols">
                            <button class="btn btn-lg btn-md btn-default" ng-click="addCondition(key)"
                                    ng-disabled="inventory.originCondition[key]">
                                <div class="uppercase">{{key == 'CU' ? 'UNKNOWN' : symbol}}</div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="!condition">
                    <h1>LOCATION SYMBOLS</h1>
                    <div class="row">
                        <div class="col-md-2" ng-repeat="symbol  in locationSymbols">
                            <button class="btn btn-lg btn-md btn-default"
                                    ng-class="{'active-condition': !!newCondition.location[symbol.key]}"
                                    ng-click="addLocation(symbol.key)">
                                <div class="uppercase">{{symbol.val}}</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pull-right">
                    <hr>
                    <button type="button" class="btn btn-lg btn-danger pull-right" ng-click="Save()"><i
                            class="fa fa-plus" aria-hidden="true" style="font-size: 15px; margin-right: 5px;"></i>Add
                        more
                    </button>
                    <button type="button" class="btn btn-lg btn-primary" ng-click="returnBack()">
                        Return Back
                    </button>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-9">
                    <div class="col-md-3" ng-repeat="(key, condition) in inventory.originCondition" class="conditions col-md-3 col-sm-3 col-xs-3" style="font-size: 18px;">
                        <div class="condition-block">
                            <div >
                                <b>{{condition.condition}}</b> - <span ng-repeat="value in condition.location">{{value}}<span ng-if="!$last">, </span></span>
                            </div>
                            <div class="remove-condition" style="float: right;">
                                <i class="fa fa-trash" aria-hidden="true" ng-click="removeCondition(key)" style="cursor: pointer; top: 50%; transform: translate(0, -50%); position: absolute;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pull-right">
                    <button type="button" class="btn btn-lg btn-danger pull-right" style="margin-right: 15px;"
                            ng-click="SaveExit()">Done
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
