<div class="contract" id="inventory-moving">
    <div ng-show="busy">
        <div class="busyoverlay" style="position: fixed;">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    <!-- header -->
    <div class="section row header">
        <div ng-show="fieldName == 'addInventoryMoving' && !data.secondAddInventoryMoving.open || fieldName == 'secondAddInventoryMoving'">
            <button class="btn btn-lg btn-danger btn-inventory pull-right" ng-click="cancelInventory()">Cancel</button>
        </div>
        <p class="uppercase">
            <span>
                contract or carrier
            </span>
        <div class="rtitle">
            <h4 class="text-center">household goods descriptive inventory</h4>
        </div>
        </p>
    </div>
    <!-- end header -->
    <div class="contract-box">
        <div class="contract-box-content no-border">
            <table>
                <tr>
                    <td colspan="3" style="border: none;"></td>
                    <td width="25%">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 uppercase">
                                <b>page no.</b>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 uppercase">
                                <b>no. of pages</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 uppercase">
                                <input type="number" ng-model="data[fieldName].pageNumber" readonly="true" ng-change="nextPage(data[fieldName].pageNumber)"  class="form-control"  ng-disabled="data[fieldName].isSubmitted || blockChosen()">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 uppercase">
                                <input type="number" ng-model="data[fieldName].numberOfPages" readonly="true" class="form-control" ng-disabled="data[fieldName].isSubmitted || blockChosen()" >
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border: none;"></td>
                    <td>
                        <p class="uppercase">
                            <b>agent</b>
                            <span> {{basicSettings.company_name}} </span>
                        </p>
                    </td>
                    <td>
                        <p class="uppercase">
                            <b>carrier's reference no.</b>
                            <span> {{request.nid}} </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p class="uppercase">
                            <b>owner's grade or rating and name </b>
                            <span> {{:: request.name}}</span>
                        </p>
                    </td>
                    <td>
                        <p class="uppercase">
                            <b>contract or gbl. no. </b>
                            <span class="width-30">
                                <input type="text" ng-model="data[fieldName].contractGbl" class="form-control" ng-change="saveInventory()" ng-disabled="data[fieldName].isSubmitted">
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p class="uppercase">
                            <b>origin loading address</b>
                            <span style="margin-right: 15px;"> {{:: request.adrfrom.value}} {{:: request.apt_from.value}}</span>
                            <span style="margin-right: 15px;"> <b>city:</b> {{:: request.city_from.value}}</span>
                            <span style="margin-right: 15px;"><b>state:</b> {{:: request.state_from.value}}</span>
                        </p>
                    </td>
                    <td>
                        <p class="uppercase">
                            <b>govt. service order no. </b>
                            <span class="width-30">
                                <input type="text" ng-model="data[fieldName].govtService"  ng-change="saveInventory()"  class="form-control"  ng-disabled="data[fieldName].isSubmitted">
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p class="uppercase">
                            <b>destination</b>
                            <span> {{:: request.adrto.value}} {{:: request.apt_to.value}} {{:: request.city_to.value}} {{:: request.state_to.value}} {{:: request.zip_to.value}}</span>
                        </p>
                    </td>
                    <td>
                        <p class="uppercase">
                            <b>van number </b>
                            <span class="width-30">
                                <input type="text" ng-model="data[fieldName].vanNumb"  ng-change="saveInventory()"  class="form-control"  ng-disabled="data[fieldName].isSubmitted">
                            </span>
                        </p>
                    </td>
                </tr>
                <tr style="font-size: 11px;">
                    <td colspan="4">
                        <div class="row">
                            <div class="col-md-4 col-xs-4 col-sm-4 vertical-line">
                                <div class="row">
                                    <p class="text-center">
                                        <label>
                                            descriptive symbols
                                        </label>
                                    </p>
                                    <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                                        <p class="uppercase"><b>B/W</b> - black & white tv</p>
                                        <p class="uppercase"><b>C </b>- color tv</p>
                                        <p class="uppercase"><b>CP</b>- carrier packed</p>
                                        <p class="uppercase"><b>PBO</b> - packed by owner</p>
                                        <p class="uppercase"><b>CD</b> - carrier disassembled</p>
                                        <p class="uppercase"><b>SW</b> - switch wrappered</p>
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                                        <p class="uppercase"><b>DBO</b> - disassembled by owner</p>
                                        <p class="uppercase"><b>PB</b> - professional books</p>
                                        <p class="uppercase"><b>PE</b> - professional equipment</p>
                                        <p class="uppercase"><b>PP</b> - professional papers</p>
                                        <p class="uppercase"><b>MCU</b> - mechanical condition unknown</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5 vertical-line">
                                <div class="row">
                                    <p class="text-center">
                                        <label>
                                            exception symbols
                                        </label>
                                    </p>
                                    <div class="col-md-4 col-xs-4 col-sm-4 no-padding">
                                        <p class="uppercase"><b>BE</b> - BENT</p>
                                        <p class="uppercase"><b>BR</b> - BROKEN</p>
                                        <p class="uppercase"><b>BU</b> - BURNED</p>
                                        <p class="uppercase"><b>CH</b> - CHIPPED</p>
                                        <p class="uppercase"><b>CU</b> - CONTENTS & CONDITION UNKNOWN</p>
                                        <p class="uppercase"><b>D </b>- DENTED</p>
                                        <p class="uppercase"><b>F </b>- FADED</p>
                                    </div>
                                    <div class="col-md-4 col-xs-4 col-sm-4 no-padding">
                                        <p class="uppercase"><b>G </b>- GOUGED</p>
                                        <p class="uppercase"><b>L </b>- LOOSE</p>
                                        <p class="uppercase"><b>M </b>- MARRIED</p>
                                        <p class="uppercase"><b>MI</b> - MILDEW</p>
                                        <p class="uppercase"><b>MO</b> - MOTHEATEN</p>
                                        <p class="uppercase"><b>P </b>- PEELING</p>
                                        <p class="uppercase"><b>R </b>- RUBBED</p>
                                        <p class="uppercase"><b>RU</b> - RUSTED</p>
                                    </div>
                                    <div class="col-md-4 col-xs-4 col-sm-4 no-padding">
                                        <p class="uppercase"><b>S </b>- STREITCHED</p>
                                        <p class="uppercase"><b>SC</b> - SCRATCHED</p>
                                        <p class="uppercase"><b>SH</b> - SHORT</p>
                                        <p class="uppercase"><b>SO</b> - SOILED</p>
                                        <p class="uppercase"><b>ST</b> - STAINED</p>
                                        <p class="uppercase"><b>T </b>- TORN</p>
                                        <p class="uppercase"><b>W </b>- BADLY WORN</p>
                                        <p class="uppercase"><b>Z </b>- CRACKED</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 col-sm-3">
                                <p class="text-center">
                                    <label>
                                        location symbols
                                    </label>
                                </p>
                                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                                    <p class="uppercase"><b>1 </b>- ARM</p>
                                    <p class="uppercase"><b>2 </b>- BOTTOM</p>
                                    <p class="uppercase"><b>3 </b>- CORNER</p>
                                    <p class="uppercase"><b>4 </b>- FRONT</p>
                                    <p class="uppercase"><b>5 </b>- LEFT</p>
                                    <p class="uppercase"><b>6 </b>- LEGS</p>
                                    <p class="uppercase"><b>7 </b>- PEAR</p>
                                    <p class="uppercase"><b>8 </b>- RIGHT</p>
                                    <p class="uppercase"><b>9 </b>- SIDE</p>
                                    <p class="uppercase"><b>10</b> - TOP</p>
                                </div>
                                <div class="col-md-6 col-xs-6 col-sm-6 no-padding">
                                    <p class="uppercase"><b>11</b> - VENEER</p>
                                    <p class="uppercase"><b>12</b> - EDGE</p>
                                    <p class="uppercase"><b>13</b> - CENTER</p>
                                    <p class="uppercase"><b>14</b> - INSIDE</p>
                                    <p class="uppercase"><b>15</b> - SEAT</p>
                                    <p class="uppercase"><b>16</b> - DRAWER</p>
                                    <p class="uppercase"><b>17</b> - DOOR</p>
                                    <p class="uppercase"><b>18</b> - SHELF</p>
                                    <p class="uppercase"><b>19</b> - HARDWARE</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button class="right-offset btn btn-lg btn-info btn-inventory pull-right" ng-if="(fieldName == 'addInventoryMoving' || fieldName == 'secondAddInventoryMoving' || !ifStorage) && !data[fieldName].delivery" ng-click="openAdditionalInventory()"  ng-disabled="data[fieldName].isSubmitted || blockChosen()">
        <i class="fa fa-plus" aria-hidden="true" style="margin-right: 5px;" ></i>Additional inventory
    </button>
    <!-- main content -->
    <div class="contract-box">
        <div class="contract-box-content no-border">
            <table id="example">
                <thead>
                    <th width="8%">
                        <p class="uppercase">
                            <b>item no.</b>
                        </p>
                        <p class="uppercase">
                            <span>
                                <input type="text" ng-model="data[fieldName].rangeStart"  class="form-control"  ng-disabled="data[fieldName].isSubmitted || blockChosen()" ng-change="changeNumberFrom(data[fieldName].rangeStart);saveInventory()">
                            </span>
                        </p>
                    </th>
                    <th>
                        <p class="uppercase">
                            <b>cr ref.</b>
                        </p>
                    </th>
                    <th>
                        <p class="uppercase">
                            <b>articles</b>
                        </p>
                    </th>
                    <th  width="20%">
                        <p class="uppercase">
                            <b>condition at origin</b>
                        </p>
                    </th>
                    <th class="inverse" style="width: 5%;font-size: 10px;">
                        <p class="uppercase">
                            <b>shipper check dest. <i class="fa fa-check" aria-hidden="true"></i></b>
                        </p>
                    </th>
                    <th class="inverse">
                        <p class="uppercase">
                            <b>exceptions(if any) at destination</b>
                        </p>
                    </th>
                    <th>
                        <p class="uppercase">
                            <b>item no.</b>
                        </p>
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="n in rangeArr">
                        <td class="text-center">{{n}}</td>
                        <td>
                            <select class="form-control" ng-change="saveInventory()"  ng-model="data[fieldName].inventory[n].crRef" ng-disabled="data[fieldName].isSubmitted || data[fieldName].delivery">
                                <option value=""></option>
                                <option ng-repeat="symbol  in descreptiveSymbols  | orderBy : 'key'" value="{{symbol.key}}" ng-selected="data[fieldName].inventory[n].crRef == symbol.key" >{{symbol.key}}</option>
                            </select>
                        </td>
                        <td>
                            <div class="uppercase articles">
                                <div class="btn-group" uib-dropdown dropdown-append-to-body style="width: 100%;">
                                    <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="data[fieldName].isSubmitted || data[fieldName].delivery">
                                       <span style="margin-right: 10px;"> {{inventoryList[data[fieldName].inventory[n].article].title}} </span><span class="caret" ></span>
                                    </button>
                                    <ul id="inventory-dropdown" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                        <li role="menuitem" class="menuitem-article" ng-click="data[fieldName].inventory[n].article = ''; checkArticle(n); saveInventory()">
                                            <a href=""></a>
                                        </li>
                                        <li role="menuitem" class="menuitem-article" ng-hide="inventoryCount[articles.id] == 0 || request.request_all_data.invoice[fieldName].doneWithInventory" ng-click="data[fieldName].inventory[n].article = articles.id; checkArticle(n); saveInventory()" ng-repeat="articles in  inventoryList | toArray | orderBy: 'title'  ">
                                            <a href="" >{{articles.title}} ({{inventoryCount[articles.id]}}/{{inventoryList[articles.id].count}})</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-md-2 col-xs-2 col-sm-2" style="padding: 0;">
                                <button ng-click="openCondition(data[fieldName].inventory[n], n)" class="btn btn-md btn-success" style="padding: 3px 5px 3px 5px;" ng-disabled="data[fieldName].isSubmitted || data[fieldName].delivery">
                                    <i class="fa fa-plus-circle" aria-hidden="true" style="font-size: 28px;"></i>
                                </button>
                            </div>
                            <div class="col-md-10 col-xs-10 col-sm-10">
                                <div ng-repeat="condition in data[fieldName].inventory[n].originCondition" class="conditions">
                                    <b>{{condition.condition}}</b> - <span ng-repeat="value in condition.location">{{value}}<span ng-if="!$last">, </span> </span>;
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" ichecks="" ng-change="saveInventory()"  class="" ng-model="data[fieldName].inventory[n].checkshipper" ng-disabled="data[fieldName].isSubmitted || blockChosen() || !data[fieldName].inventory[n].article">
                        </td>
                        <td>
                            <textarea auto-resize-texarea class="form-control" ng-change="saveInventory()"  rows="2" ng-model="data[fieldName].inventory[n].destinationCondition" ng-disabled="data[fieldName].isSubmitted || blockChosen()"></textarea>
                        </td>
                        <td class="text-center">{{n}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <p class="uppercase">
                                <b>item no.</b>
                            </p>
                        </td>
                        <td colspan="2">
                            <p class="uppercase">
                                <b>remarks/excepetions</b>
                            </p>
                        </td>
                        <td colspan="4">
                            <textarea auto-resize-texarea  class="form-control" rows="2" ng-change="saveInventory()" ng-model="data[fieldName].remarks" ng-disabled="data[fieldName].isSubmitted || blockChosen()"></textarea>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="row">
                <div class="col-md-1 ">
                    <button class="btn btn-lg btn-success pull-left btn-inventory" ng-click="prevPage()" ng-disabled="data[fieldName].pageNumber == 1">Prev</button>
                </div>
                <div class="col-md-1 pull-right">
                    <button class="btn btn-lg btn-success pull-right btn-inventory" ng-click="nextPage()" ng-disabled="data[fieldName].pageNumber == data[fieldName].numberOfPages">Next</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="pull-right" ng-show="!request.storage_id && !request.request_all_data.baseRequestNid && data[fieldName].tranfer && isAdminManager && !data[fieldName].isSubmitted && data[fieldName].reqNid">Transferred from: {{data[fieldName].reqNid}}</h2>
                    <h2 class="pull-right" ng-show="request.storage_id || request.request_all_data.baseRequestNid">Transferred <span ng-if="!data[fieldName].delivery">to</span> <span ng-if="data[fieldName].delivery">from</span>: {{request.storage_id || request.request_all_data.baseRequestNid}}</h2>
                    <button class="right-offset btn btn-lg btn-info btn-inventory pull-left" ng-disabled="data[fieldName].isSubmitted" ng-click="doneWithInventory()" ng-hide="countInventory() || data[fieldName].isSubmitted || blockChosen() || request.request_all_data.invoice[fieldName].doneWithInventory">Done with inventory</button>
                    <button class="right-offset btn btn-lg btn-info btn-inventory pull-right" ng-if="(fieldName == 'addInventoryMoving' || fieldName == 'secondAddInventoryMoving'  || !ifStorage) && !data[fieldName].delivery" ng-click="openAdditionalInventory()"  ng-disabled="data[fieldName].isSubmitted || blockChosen()">
                        <i class="fa fa-plus" aria-hidden="true" style="margin-right: 5px;" ></i>Additional inventory
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--just for moving-->
                    <div ng-if="fieldName == 'inventoryMoving' && !data[fieldName].delivery && ifStorage" style="display: inline-block;">
                        <h2>
                            <label for="addInv">Add additional inventory</label>
                            <input id="addInv" name="addInv" ichecks="" type="checkbox" ng-change="saveInventory('add.inventory')" ng-model="data.addInventoryMoving.open">
                        </h2>
                    </div>
                    <!--just for add.inventory-->
                    <div ng-if="fieldName == 'addInventoryMoving' && !data[fieldName].delivery && ifStorage" style="display: inline-block;">
                        <h2>
                            <label for="addInv">Add additional inventory</label>
                            <input id="addInv" name="addInv" ichecks="" type="checkbox" ng-change="saveInventory('add.inventory')" ng-model="data.secondAddInventoryMoving.open">
                        </h2>
                    </div>
                    <button class="btn btn-lg btn-danger btn-inventory pull-right" ng-click="openTransferModal(fieldName)" ng-if="data[fieldName].isSubmitted && isAdminManager && !data[fieldName].delivery" ng-disabled="blockChosen()">Transfer the inventory</button>
                </div>
            </div>
            <table class="footer-inventory-moving">
                <tbody>
                    <tr ng-if="(fieldName == 'addInventoryMoving' || fieldName == 'secondAddInventoryMoving') && data[fieldName].signatures[6].value">
                        <td colspan="6" width="55%">
                            <div style="font-size: 14px;">
                                I understand that my monthly storage fee was <b>$ {{data[fieldName].newInventoryAgreement.originalCost}}</b> based on my original list of items ({{data[fieldName].newInventoryAgreement.originalWeight}} cubic feet) and my additional inventory monthly storage fee is <b>$ {{data[fieldName].newInventoryAgreement.addInventoryCost}}</b>. So my new monthly storage fee is <b>$ {{data[fieldName].newInventoryAgreement.totalInventoryCost}}</b>.
                                <div style="display: inline-block; height: 70px;" class="contract-box">
                                    <img ng-src="{{data[fieldName].signatures[6].value}}">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="request.request_all_data.additional_inventory_cost">
                        <td colspan="6">
                            <div class="uppercase" ng-if="fieldName == 'inventoryMoving'" ng-if="request.request_all_data.additional_inventory_cost">
                                <div style="display: inline-block;">
                                    it will costs $ {{request.request_all_data.additional_inventory_cost}} with additional inventory.</br>
                                    valuation will increase by $ {{request.request_all_data.additional_inventory_valuation}}.
                                </div>
                                <div class="signatured-box" style="cursor:default;" ng-if="request.request_all_data.additional_inventory_sign">
                                    <img disabled ng-src="{{request.request_all_data.additional_inventory_sign.value}}" />
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="4" width="55%">
                            <div class="uppercase">
                                <i>"we have checked all the items and numbered 1 to</i> <input ng-change="saveInventory()"  style="width: 35px;" type="number" ng-model="data[fieldName].numberedItems" ng-disabled="data[fieldName].isSubmitted || blockChosen()">
                                <i>inclusive and acknowlege that this is a true and complete list of the goods tendered and of the state of the goods received"</i>
                            </div>
                            <div class="uppercase">
                                <div style="display: inline-block;">
                                    <h2 style="color: red !important;font-weight: bold;">warning <i class="fa fa-arrow-right" aria-hidden="true"></i></h2>
                                </div>
                                <span>
                                    before signing check shipment, count items and describe loss or damage in space on right above.
                                </span>
                            </div>
                        </td>
                        <td width="25%" colspan="2">
                            <div class="row">
                                <div class="col-md-6  col-xs-6 col-sm-6 uppercase">
                                    <b>tape lot no.</b>
                                </div>
                                <div class="col-md-6  col-xs-6 col-sm-6 uppercase">
                                    <b>tape color</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xs-6 col-sm-6 uppercase">
                                    <input type="text" ng-model="data[fieldName].tapeNumbers" ng-change="saveInventory()" class="form-control" ng-disabled="data[fieldName].isSubmitted  || blockChosen()|| data[fieldName].delivery">
                                </div>
                                <div class="col-md-6  col-xs-6 col-sm-6 uppercase">
                                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                        <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="data[fieldName].isSubmitted || blockChosen() || data[fieldName].delivery">
                                            <div class="{{data[fieldName].tapeColor}}"></div>{{data[fieldName].tapeColor}} <span class="caret"></span>
                                        </button>
                                        <ul id="inventory-dropdown" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                            <li role="menuitem" ng-click="data[fieldName].tapeColor = 'Blue'; saveInventory()" class="inventory-color">
                                                <div class="Blue"></div>
                                                <a href="">Blue</a>
                                            </li>
                                            <li role="menuitem" ng-click="data[fieldName].tapeColor = 'Green'; saveInventory()" class="inventory-color">
                                                <div class="Green"></div>
                                                <a href="">Green</a>
                                            </li>
                                            <li role="menuitem" ng-click="data[fieldName].tapeColor = 'Orange'; saveInventory()" class="inventory-color">
                                                <div class="Orange"></div>
                                                <a href="">Orange</a>
                                            </li>
                                            <li role="menuitem" ng-click="data[fieldName].tapeColor = 'Red'; saveInventory()" class="inventory-color">
                                                <div class="Red"></div>
                                                <a href="">Red</a>
                                            </li>
                                            <li role="menuitem" ng-click="data[fieldName].tapeColor = 'White'; saveInventory()" class="inventory-color">
                                                <div class="White"></div>
                                                <a href="">White</a>
                                            </li>
                                            <li role="menuitem" ng-click="data[fieldName].tapeColor = 'Yellow'; saveInventory()" class="inventory-color">
                                                <div class="Yellow"></div>
                                                <a href="">Yellow</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="45%" colspan="2">
                            <div class="row">
                                <div class="col-md-6  col-xs-6 col-sm-6 uppercase">
                                    <b>nos. from</b>
                                </div>
                                <div class="col-md-6  col-xs-6 col-sm-6 uppercase">
                                    <b>thru</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6  col-xs-6 col-sm-6 uppercase">
                                    <input type="number" ng-model="data[fieldName].nosFrom" readonly class="form-control" ng-change="changeNosFrom('start')" ng-disabled="data[fieldName].isSubmitted || blockChosen()">
                                </div>
                                <div class="col-md-6  col-xs-6 col-sm-6 uppercase">
                                    <input type="number" ng-model="data[fieldName].numberThru" readonly class="form-control"  ng-change="changeNosFrom('stop')" ng-disabled="data[fieldName].isSubmitted || blockChosen()">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <div class="uppercase text-center">
                                <b>
                                    at origin
                                </b>
                            </div>
                        </td>
                        <td>
                            <div class="uppercase">
                                <span>
                                    contractor, carrier or authorized agent(driver)
                                </span>
                            </div>
                            <signature-inventory-box ng-if="fieldName == 'inventoryMoving'"
                                                     step-id="0"
                                                     field-name="fieldName"
                                                     request="request"
                                                     owner="shipper"
                                                     admin="isAdmin"
                                                     box-type="signaturePad"
                                                     ng-class="{'disabled' : data[fieldName].delivery}">
                            </signature-inventory-box>
                            <signature-inventory-box ng-if="fieldName == 'addInventoryMoving' || fieldName == 'secondAddInventoryMoving'"
                                                     step-id="0"
                                                     field-name="fieldName"
                                                     request="request"
                                                     owner="shipper"
                                                     admin="isAdmin"
                                                     box-type="signatureAddInventoryPad"
                                                     ng-class="{'disabled' :  data[fieldName].delivery}">
                            </signature-inventory-box>
                        </td>
                        <td>
                            <div class="uppercase text-center">
                                <span>
                                    date
                                    <p ng-if="data[fieldName].signatures[0]">
                                        <span class="sign-date">{{data[fieldName].signatures[0].date | date: "medium"}}</span>
                                    </p>
                                </span>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="uppercase text-center">
                                <b>
                                    at destination
                                </b>
                            </div>
                        </td>
                        <td>
                            <div class="uppercase">
                                <span>
                                    contractor, carrier or authorized agent(driver)
                                </span>
                            </div>
                            <signature-inventory-box ng-if="fieldName == 'inventoryMoving'"
                                                     field-name="fieldName"
                                                     request="request"
                                                     step-id="2"
                                                     owner="shipper"
                                                     admin="isAdmin"
                                                     box-type="signaturePad"
                                                     ng-class="{'disabled' :  !data[fieldName].delivery }">
                            </signature-inventory-box>
                            <signature-inventory-box  field-name="fieldName"
                                                          request="request"
                                                          ng-if="fieldName == 'addInventoryMoving'|| fieldName == 'secondAddInventoryMoving'"
                                                          step-id="2"
                                                          owner="shipper"
                                                          admin="isAdmin"
                                                          box-type="signatureAddInventoryPad"
                                                          ng-class="{'disabled' : !data[fieldName].delivery}">
                            </signature-inventory-box>
                        </td>
                        <td>
                            <div class="uppercase text-center">
                                <span>
                                    date
                                    <p ng-if="data[fieldName].signatures[2]">
                                        <span class="sign-date">{{data[fieldName].signatures[2].date | date: "medium"}}</span>
                                    </p>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="uppercase">
                                <span>
                                    owner or authorized agent
                                </span>
                            </div>
                            <signature-inventory-box ng-if="fieldName == 'inventoryMoving'"
                                                     step-id="1"
                                                     field-name="fieldName"
                                                     request="request"
                                                     owner="customer"
                                                     admin="isAdmin"
                                                     box-type="signaturePad"
                                                     ng-class="{'disabled' : data[fieldName].delivery}">
                            </signature-inventory-box>
                            <signature-inventory-box  field-name="fieldName"
                                                          request="request"
                                                          ng-if="fieldName == 'addInventoryMoving'|| fieldName == 'secondAddInventoryMoving'"
                                                          step-id="1"
                                                          owner="customer"
                                                          admin="isAdmin"
                                                          box-type="signatureAddInventoryPad"
                                                          ng-class="{'disabled' : data[fieldName].delivery}" >
                            </signature-inventory-box>
                        </td>
                        <td>
                            <div class="uppercase text-center">
                                <span>
                                    date
                                    <p ng-if="data[fieldName].signatures[1]">
                                        <span class="sign-date">{{data[fieldName].signatures[1].date | date: "medium"}}</span>
                                    </p>
                                </span>
                            </div>
                        </td>
                        <td >
                            <div class="uppercase">
                                <span>
                                    owner or authorized agent
                                </span>
                            </div>
                            <signature-inventory-box ng-if="fieldName == 'inventoryMoving'"
                                                     step-id="3" field-name="fieldName"
                                                     request="request"
                                                     owner="customer"
                                                     admin="isAdmin"
                                                     box-type="signaturePad"
                                                     ng-class="{'disabled' : !data[fieldName].delivery }">
                            </signature-inventory-box>
                            <signature-inventory-box  field-name="fieldName"
                                                          request="request"
                                                          ng-if="fieldName == 'addInventoryMoving'|| fieldName == 'secondAddInventoryMoving'"
                                                          step-id="3"
                                                          owner="customer"
                                                          admin="isAdmin"
                                                          box-type="signatureAddInventoryPad"
                                                          ng-class="{'disabled' :!data[fieldName].delivery}">
                            </signature-inventory-box>
                        </td>
                        <td>
                            <div class="uppercase text-center">
                                <span>
                                    date
                                    <p ng-if="data[fieldName].signatures[3]">
                                        <span class="sign-date">{{data[fieldName].signatures[3].date | date: "medium"}}</span>
                                    </p>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-1 col-md-offset-5">
                    <button class="btn btn-lg btn-info btn-inventory"
                            ng-disabled="data[fieldName].isSubmitted"
                            ng-click="saveInventory('submit')"
                            ng-if="!data[fieldName].delivery">Submit pickup</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-5">
                    <button class="btn btn-lg btn-info btn-inventory"
                            ng-disabled="data[fieldName].isSubmitted"
                            ng-click="saveInventory('submit')"
                            ng-if="data[fieldName].delivery">Submit delivery</button>
                </div>
            </div>
        </div>
    </div>
</div>
<signature-modal ng-if="fieldName == 'inventoryMoving'"
                           ng-init="initSignatureCanvas()"
                           signature-type="signatureInventory"
                           save-step="saveStep()">
</signature-modal>
<signature-modal ng-if="fieldName == 'addInventoryMoving' || fieldName == 'secondAddInventoryMoving'"
                           ng-init="initSignatureCanvas()"
                           signature-type="signatureAddInventory"
                           save-step="saveStep()">
</signature-modal>
