<div class="busyoverlay" ng-show="busy">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>
<div class="modal-header">
    <h2>Transfer the inventory</h2>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
            <input class="form-control nid-request" ng-model="requestNid" placeholder="Enter request nid">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-default pull-left" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-lg btn-inv-default" ng-click="transfer()">Transfer the inventory</button>
</div>
<style>
    .nid-request{
        height: 55px;
        margin-bottom: 15px;
        font-size: 35px;
        display: inline-block;
        text-align: center;
    }
</style>
