<div class="col-xs-5 review_column review_column_fixed pull-right">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Reviews displayed on the site</h3>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12" ng-if="!greatestReviews.length">
                    There is no reviews...
                </div>
                <div class="col-lg-12" ng-if="greatestReviews.length">
                    <div class="review" ng-repeat="review in greatestReviews">
                        <div class="review-body greatest-reviews">
                            <div class="pull-right">
                                <i class="fa fa-times" ng-click="removeReview(review)" aria-hidden="true"></i>
                            </div>
                            <div class="row">
                                <div class="review-text-body col-xs-12">
                                    <span ng-repeat="marks in [1, 2, 3, 4, 5] | limitTo: review.stars">
                                        <i class="fa fa-star" ng-class="{'star-color_red': review.stars <= markCount}" aria-hidden="true"></i>
                                    </span>
                                    <span class="review-date">{{review.createdDate}}</span>
                                </div>
                                <div class="review-text-body col-xs-12">
                                    <p ng-bind-html="review.reviewText"></p>
                                </div>
                                <div class="review-text-body col-xs-12">
                                    <span class="review-name">{{review.userName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>