<div class="row">
    <div class="col-sm-6">
        <chart-statistic-tab ng-if="vm.weekUniqueUsers" graphic-data="vm.weekUniqueUsers"></chart-statistic-tab>
    </div>
    <div class="col-sm-6">
        <chart-statistic-tab ng-if="vm.week_requests" graphic-data="vm.week_requests"></chart-statistic-tab>
    </div>
    <div class="col-sm-6">
        <chart-statistic-tab ng-if="vm.week_confirmed" graphic-data="vm.week_confirmed"></chart-statistic-tab>
    </div>
    <div class="col-sm-6">
        <chart-statistic-tab ng-if="vm.halfYearProfit" graphic-data="vm.halfYearProfit"></chart-statistic-tab>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox material-shadow">
            <div class="ibox-title statistic-line-chart-header">
                <h5 class="statistic-line-chart-title">Common stat</h5>
                <div class="pull-right custom-right-datepicker">
                    <div class="panel-heading">
                        <div class="wrapper">
                            <div class="actions form-inline">
                                <i class="fa fa-calendar-o"></i>
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup="mediumDate"
                                       ng-model="vm.dates.from"
                                       id="dateFrom"
                                       is-open="openedFrom"
                                       ng-click="$event.stopPropagation(); openedFrom = !openedFrom"
                                       datepicker-options="vm.dates.options"
                                       ng-change="vm.bDateChange = true;"
                                       close-text="Close"/>
                                -
                                <input type="text"
                                       class="form-control"
                                       uib-datepicker-popup="mediumDate"
                                       id="dateTo"
                                       ng-model="vm.dates.to"
                                       is-open="openedTo"
                                       ng-click="$event.stopPropagation(); openedTo = !openedTo"
                                       datepicker-options="vm.dates.options"
                                       ng-change="vm.bDateChange = true;"
                                       close-text="Close"/>
                                <button class="mbtn" ng-show="vm.bDateChange" ng-click="vm.getDate()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-9" style="position:relative;">
                        <canvas
                                tc-chartjs-line
                                chart="chart"
                                chart-data="vm.lineData"
                                chart-options="vm.lineChartOptions"
                                auto-legend=""
                                width="1000"
                                height="250"
                        ></canvas>
                    </div>
                    <div class="col-lg-3">
                        <div class="statistics-conversions">
                            <p class="no-margins margtop">
                                {{vm.periodUniqueUsers || 0}}
                                <span class="small-tooltip">{{vm.last_year_periodUsers}}</span>
                            </p>
                            <div class="conversion-by-steps" ng-if="!vm.noToolTip">
                                <ul class="by-steps">
                                    <li>Page views <span class="font-bold">{{vm.siteVisitors || 0}}</span></li>
                                    <li>Ultra-small form (step 1) <span
                                            class="font-bold">{{vm.periodStepOne || 0}}</span></li>
                                    <li>Ultra-small form (step 2) <span
                                            class="font-bold">{{vm.periodStepTwo || 0}}</span></li>
                                    <li>Calculator <span class="font-bold">{{vm.periodStepFour || 0}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <small class="small-tooltip">Visitors in period</small>
                        <div class="devider-tooltip label-blue-bg"></div>
                        <div class="statistics-conversions">
                            <p class="no-margins margtop">{{vm.periodRequests || 0}}
                                <span class="small-tooltip">{{vm.last_year_periodRequests}}</span>
                            </p>
                            <div class="conversion-by-steps" ng-if="!vm.noToolTip">
                                <ul class="by-steps">
                                    <li>Ultra-small form <span class="font-bold">{{vm.periodStepThree || 0}}</span></li>
                                    <li>Calculator <span class="font-bold">{{vm.periodStepFive || 0}}</span></li>
                                    <li>Moveboard <span class="font-bold">{{vm.periodRequests - vm.periodStepFive - vm.periodStepThree || 0}}</span>
                                    </li>
                                    <li>Visit account <span class="font-bold">{{vm.accountVisitors || 0}}</span></li>
                                    <li>Visit confirmation page <span
                                            class="font-bold">{{vm.confPageVisitors || 0}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="stat-percent font-bold text-crimson-color statistics-conversions">
                            {{((vm.periodRequests / vm.periodUniqueUsers * 100)|number:0) || 0}}%
                            <div class="conversion-tooltip">
                                <small class="small-tooltip text-white">
                                    Requests / Visitors
                                </small>
                            </div>
                        </div>
                        <small class="small-tooltip">Requests in period</small>
                        <div class="devider-tooltip label-cyan-bg"></div>
                        <div class="statistics-conversions">
                            <p class="no-margins margtop">
                                {{vm.periodConfirmed || 0}}
                                <span class="small-tooltip">{{vm.last_year_periodConfirmed}}</span>
                            </p>
                            <div class="conversion-by-steps" ng-if="!vm.noToolTip">
                                <ul class="by-steps">
                                    <li>Booked by manager {{vm.bookedByManager|| 0}}</li>
                                    <li>Booked by user {{vm.bookedByUser|| 0}}</li>
                                    <li>Reservation {{((vm.periodConfirmed||0) - (vm.bookedByManager||0) -
                                        (vm.bookedByUser||0))}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="stat-percent font-bold text-crimson-color statistics-conversions">
                            {{((vm.periodConfirmed / vm.periodRequests * 100)|number:0) || 0}}%
                            <div class="conversion-tooltip">
                                <small class="small-tooltip text-white">
                                    Confirmed / Requests
                                </small>
                            </div>
                        </div>
                        <small class="small-tooltip">Confirmed in period</small>
                        <div class="devider-tooltip label-crimson-bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 masonry-grid">
        <!--ASSIGN-->
        <statistic-table header="vm.HEADING_TABLES[0]"
                         index="3"
                         dates="vm.dates"></statistic-table>
        <!--SERVICE TYPE-->
        <statistic-table header="vm.HEADING_TABLES[1]"
                         index="2"
                         dates="vm.dates"></statistic-table>
        <!--SIZE OF MOVE-->
        <statistic-table header="vm.HEADING_TABLES[2]"
                         index="4"
                         dates="vm.dates"></statistic-table>
        <!--SOURCES-->
        <statistic-table header="vm.HEADING_TABLES[3]"
                         index="5"
                         dates="vm.dates"></statistic-table>
        <!--ENTRANCE-->
        <statistic-table header="vm.HEADING_TABLES[4]"
                         index="1"
                         dates="vm.dates"></statistic-table>
    </div>
</div>
