<div id="reviews-moveboard" class="modal-body form-horizontal cusermodal-custom_block">
    <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs" ng-class="{'active': tab.selected}">
            <a href="" ng-click="setTab(tab)">{{tab.name}}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="review_reminder_send" ng-class="{'hidden': !tabs[0].selected}">
            <email-template-preview template="reviewReminderTemplate" blocks-menu="blocksMenu" is-send-preview="reviewReminderTemplate.subject" template-options="previewOptionsOfReview"></email-template-preview>
            <div class="row">
                <div class="check-autosend col-md-6">
                    <h3>Send email automatically:</h3>
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-model="autoSend"
                           id="visible" data-switchery="true" style="display: none;">
                </div>
                <div class="days-to-reminder col-md-6">
                    <h3 class="title-start">Send after</h3>
                    <select class="form-select form-control"
                            ng-options="item.name for item in daysToSendReminder track by item.value"
                            ng-model="selectedDay"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 show-review-btn">
                    <h3>Show Review Button On Account</h3>
                    <select class="form-select form-control"
                            ng-options="item.name for item in showReviewButton track by item.value"
                            ng-model="currentStateShowReviewButton"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="apply()">Save</button>
            </div>
        </div>
        <div id="welcome_review" ng-class="{'hidden': !tabs[1].selected}">
            <h3 class="setting_title">Welcome review modal settings</h3>
            <div class="padding_one_em">
                <div class="sizeset chat-widget">
                    <div text-angular ng-model="welcomeText"
                         placeholder="Describe your experience."
                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                  ['fontColor', 'fontName', 'fontSize'],
                                  ['insertLink', 'insertImage'],
                                  ['undo', 'redo', 'clear', 'html']]"></div>
                </div>
            </div>
            <div class="review-preview">
                <div ng-bind-html="welcomeText"></div>
                <div class="stars">
                    <i class="star_setting fa fa-star-o"
                       ng-repeat="star in stars"></i>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="apply()">Save</button>
            </div>
        </div>
        <div id="success_review" ng-class="{'hidden': !tabs[2].selected}">
            <div class="stars">
                <h3 class="stars__explanation-of-settings">Success Review is equal to {{currentStars}} star<span ng-if="currentStars > 1">s</span> <span ng-if="currentStars != 5">or more</span></h3>
                <i class="star_setting"
                   ng-repeat="star in stars"
                   ng-click="changeMark(star)"
                   ng-class="{'fa fa-star-o': !star.selected, 'fa fa-star': star.selected}"></i>
            </div>
            <div class="padding_one_em">
                <div class="sizeset chat-widget">
                    <div text-angular ng-model="successText"
                         placeholder="Describe your experience."
                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                  ['fontColor', 'fontName', 'fontSize'],
                                  ['insertLink', 'insertImage'],
                                  ['undo', 'redo', 'clear', 'html']]"></div>
                </div>
            </div>
            <div class="padding_one_em">
                <div class="slide-down-panel-review" ng-class="{'open-panel-review': showTpl}">
                    <h3 class="slide-down-panel-review__black-text" ng-click="openEmailReview()">Customize email template <i class="fa fa-chevron-down" aria-hidden="true"></i></h3>
                    <div class="email-review">
                        <email-template-preview template="reviewSuccessReminderTemplate" blocks-menu="blocksMenu" is-send-preview="reviewSuccessReminderTemplate.subject" template-options="previewOptionsOfSuccessReview"></email-template-preview>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="apply()">Save</button>
            </div>
        </div>
        <div id="fail_review" ng-class="{'hidden': !tabs[3].selected}">
            <div class="stars">
                <h3 class="stars__explanation-of-settings">Failed Review is <span ng-if="currentNegativeStars != 1">less than</span> {{currentNegativeStars + 1}} star<span ng-if="currentNegativeStars > 1">s</span></h3>
                <i class="star_setting  star_setting_negative"
                   ng-repeat="starNegative in negativeStars"
                   ng-click="changeNegativeMark(starNegative)"
                   ng-class="{'fa fa-star-o': !starNegative.selected, 'fa fa-star': starNegative.selected}"></i>
            </div>
            <div class="padding_one_em">
                <div class="sizeset chat-widget">
                    <div text-angular ng-model="failText"
                         placeholder="Describe your experience."
                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                  ['fontColor', 'fontName', 'fontSize'],
                                  ['insertLink', 'insertImage'],
                                  ['undo', 'redo', 'clear', 'html']]"></div>
            </div>
            </div>
            <div class="padding_one_em">
                <div class="slide-down-panel-review" ng-class="{'open-panel-review': showTpl}">
                    <h3 class="slide-down-panel-review__black-text" ng-click="openEmailReview()">Customize email template <i class="fa fa-chevron-down" aria-hidden="true"></i></h3>
                    <div class="email-review">
                        <email-template-preview template="reviewFailReminderTemplate" blocks-menu="blocksMenu" is-send-preview="reviewFailReminderTemplate.subject" template-options="previewOptionsOfFailedReview"></email-template-preview>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="apply()">Save</button>
            </div>
        </div>
    </div>
</div>
