<div class="col-xs-5 review_column">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Review's statistics</h3>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="review">
                        <div class="review-header">
                            <h5>Review's summary</h5>
                        </div>
                        <div class="review-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <canvas tc-chartjs-horizontalbar
                                            chart="chart"
                                            chart-legend=""
                                            chart-data="sortedReviews"
                                            chart-options="profitOptions">
                                    </canvas>
                                </div>
                                <div class="col-sm-6 middle-mark_blue">
                                    <span class="blue-text">{{(totalAverage || 0) | number: 1}}</span>
                                    <div class="star-marks">
                                        <span ng-repeat="mark in [1,2,3,4,5] | limitTo: totalAverage">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </span>
                                        <div class="floating" ng-if="isFloat()">
                                            <i class="fa fa-star-half" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <p class="explanation">You have {{total}} review<span ng-if="total > 1">s</span> since {{date.datefrom * 1000 | date:'MMMM dd yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>