<div class="col-xs-7 review_column">
    <div class="ibox">
        <div class="ibox-title">
            <h3>
                Reviews
                <span class="border-none">
                    <select class="form-control display-inline-block" ng-model="sorting">
                        <option value="created">By created date</option>
                        <option value="count_stars">By star's count</option>
                    </select>
                </span>
                <span class="border-none">
                    <select class="form-control display-inline-block" ng-model="direction">
                        <option value="DESC">Descending</option>
                        <option value="ASC">Ascending</option>
                    </select>
                </span>
            </h3>
            <button class="btn btn-primary" ng-click="openReviewSettings()">Review settings</button>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12" ng-if="!allReviews.length">
                    There is no reviews...
                </div>
                <div class="col-lg-12" ng-if="allReviews.length">
                    <div class="review" ng-repeat="review in allReviews">
                        <div class="review-header">
                            <h5 uib-tooltip="Open request" ng-click="requestEditModal(review.requestID)" class="open-request">Request: #{{review.requestID}}</h5>
                            <i class="fa fa-plus add-review"
                               uib-tooltip="Allow to show on front site"
                               tooltip-placement="bottom-right"
                               ng-click="addGreatestReview(review)"
                               aria-hidden="true"></i>
                        </div>
                        <div class="review-body">
                            <div class="row">
                                <div class="col-xs-3">
                                    {{review.userName}}
                                </div>
                                <div class="review-text-body col-xs-9">
                                    <span ng-repeat="marks in [1, 2, 3, 4, 5] | limitTo: review.stars">
                                        <i class="fa fa-star" ng-class="{'star-color_red': review.stars <= markCount}" aria-hidden="true"></i>
                                    </span>
                                    <p ng-bind-html="review.reviewText"></p>
                                </div>
                            </div>
                        </div>
                        <div class="review-footer">
                            <span>Created: {{review.createdDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button
                                class="btn btn-success"
                                ng-class="{'disabled': page == 0}"
                                ng-click="getPreviousPage()">Previous page</button>
                        <button
                                class="btn btn-success"
                                ng-class="{'disabled': allReviews.length != 25}"
                                ng-click="getNextPage()">Next page</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>