<section id="reviews-moveboard" class="animated fadeInRight">
    <div class="row">
        <reviews-directive></reviews-directive>
        <reviews-statistics-directive></reviews-statistics-directive>
        <greatest-reviews></greatest-reviews>
    </div>
</section>