<div class="row">
  <div class="col-lg-4 col-md-12">
    <chart-statistic-tab ng-if="vm.request_daily" graphic-data="vm.request_daily"></chart-statistic-tab>
  </div>
  <div class="col-lg-4 col-md-12">
    <chart-statistic-tab ng-if="vm.confirmed_daily" graphic-data="vm.confirmed_daily"></chart-statistic-tab>
  </div>
  <div class="col-lg-4 col-md-12">
    <chart-statistic-tab ng-if="vm.commision_daily" graphic-data="vm.commision_daily"></chart-statistic-tab>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-12">
    <chart-statistic-tab ng-if="vm.request_monthly" graphic-data="vm.request_monthly"></chart-statistic-tab>
  </div>
  <div class="col-lg-4 col-md-12">
    <chart-statistic-tab ng-if="vm.confirmed_monthly" graphic-data="vm.confirmed_monthly"></chart-statistic-tab>
  </div>
  <div class="col-lg-4 col-md-12">
    <chart-statistic-tab ng-if="vm.commision_monthly" graphic-data="vm.commision_monthly"></chart-statistic-tab>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox material-shadow">
      <div class="ibox-title statistic-line-chart-header">
        <h5 class="statistic-line-chart-title">Common statistic by assign time</h5>
        <div class="pull-right custom-right-datepicker">
          <div class="panel-heading">
            <div class="wrapper">
              <div class="actions form-inline">
                <i class="fa fa-calendar-o"></i>
                <input type="text" class="form-control" uib-datepicker-popup="mediumDate"
                       ng-model="vm.dates.from" id="dateFrom" is-open="openedFrom"
                       ng-click="$event.stopPropagation(); openedFrom = !openedFrom"
                       datepicker-options="vm.dates.options"  ng-change="vm.bDateChange = true; vm.adjustToDate()"
                       close-text="Close" />
                -
                <input type="text" class="form-control"
                       uib-datepicker-popup="mediumDate" id="dateTo" ng-model="vm.dates.to"
                       is-open="openedTo" ng-click="$event.stopPropagation(); openedTo = !openedTo"
                       datepicker-options="vm.dates.options"  ng-change="vm.bDateChange = true; vm.adjustFromDate()"  close-text="Close" />
                <button class="mbtn" ng-show="vm.bDateChange" ng-click="vm.getDate()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-9" style="position:relative;">
            <canvas tc-chartjs-line
              chart="chart"
              chart-legend="chartLegend"
              chart-data="vm.lineData"
              chart-options="vm.lineChartOptions"
              auto-legend=""
              width="1000"
              height="250"></canvas>
          </div>
          <div class="col-lg-3">
            <p class="no-margins margtop">
              {{vm.periodRequests || 0}}
              <span class="small-text">as a main sales</span>
            </p>
            <p class="no-margins"
               ng-if="!!vm.secondConfirmedJobs">
              {{vm.secondConfirmedJobs}}
              <span class="small-text">as an additional sales</span>
            </p>
            <small class="small-tooltip">Requests from {{vm.fromDate}} till {{vm.toDate}}</small>
            <div class="devider-tooltip label-cyan-bg"></div>
            <p class="no-margins margtop">{{vm.periodConfirmed || 0}}</p>
            <small class="small-tooltip">Confirmed from {{vm.fromDate}} till {{vm.toDate}}</small>
            <div class="devider-tooltip label-crimson-bg"></div>
            <p class="no-margins margtop">{{(vm.periodComission | number:2) || '0.00'}}$</p>
            <small class="small-tooltip">Commission from {{vm.fromDate}} till {{vm.toDate}}</small>
            <div class="devider-tooltip label-blue-bg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5 uib-tooltip="By created date" tooltip-placement="right">Requests by status</h5>
        <div class="ibox-tools">
          <a class="collapse-link pull-right" ng-click="approve = !approve">
            <i ng-class="{'fa fa-chevron-up': !approve, 'fa fa fa-chevron-down': approve}"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content" ng-show="!approve">
        <table class="table table-hover">
          <thead>
            <tr><th>Status</th><th>Amount</th></tr>
          </thead>
          <tbody>
            <tr>
              <td class="request"><span class="status status_3">Confirmed</span></td>
              <td>{{vm.status.confirmed || 0}}</td>
            </tr>
            <tr>
              <td class="request"><span class="status status_2">Not Confirmed</span></td>
              <td>{{vm.status.not_confirmed || 0}}</td>
            </tr>
            <tr>
              <td class="request"><span class="status status_5">Cancelled</span></td>
              <td>{{vm.status.canceled || 0}}</td>
            </tr>
            <tr>
              <td class="request"><span class="status status_12">Expired</span></td>
              <td>{{vm.status.expired || 0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
  <div class="col-lg-4 col-md-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5 uib-tooltip="By created date" tooltip-placement="right">Service type</h5>
        <div class="ibox-tools">
          <a class="collapse-link pull-right" ng-click="service_type = !service_type">
            <i ng-class="{'fa fa-chevron-up': !service_type, 'fa fa fa-chevron-down': service_type}"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content" ng-show="!service_type">
        <table class="table table-hover">
          <thead>
          <tr><th>Type</th><th>Amount</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="sales_service in vm.sales_by_service_type track by $index">
            <td>{{sales_service.name}}</td>
            <td>{{sales_service.from || 0}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5 uib-tooltip="By created date" tooltip-placement="right">Source</h5>
        <div class="ibox-tools">
          <a class="collapse-link pull-right" ng-click="source = !source">
            <i ng-class="{'fa fa-chevron-up': !source, 'fa fa fa-chevron-down': source}"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content" ng-show="!source">
        <table class="table table-hover">
          <thead>
          <tr><th>Type</th><th>Amount</th></tr>
          </thead>
          <tbody>
          <tr ng-repeat="sales_source in vm.sales_by_source track by $index">
            <td>{{sales_source.name || 'Without source'}}</td>
            <td>{{sales_source.from || 0}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
