
.payment-tabs
	width 100%
	&__toolbar
		position relative
		&__total-bg
			background -moz-linear-gradient(left,rgba(76,175,80,0) 0%, rgba(76,175,80,1) 20%, rgba(76,175,80,1) 100%)
			background -webkit-linear-gradient(left,rgba(76,175,80,0) 0%,rgba(76,175,80,1) 20%,rgba(76,175,80,1) 100%)
			background linear-gradient(to right,rgba(76,175,80,0) 0%,rgba(76,175,80,1) 20%,rgba(76,175,80,1) 100%)
			position absolute
			width 100%
			height 100%
			padding-top 16px
			left 50px
			opacity 0
			&_show
				animation: showTotal 0.3s forwards ease-out			
			&_hide
				animation: hideTotal 0.3s forwards ease-out

		&__back-icon
			margin-top 10px
		&__label
			color #fff
			&_left-padding
				padding-left 30px
		&__total
			color #3d3d3d
			background #62c257
			border-radius 5px
			margin-left 10px
			padding-right 10px

			&_left
				margin-top 17px
		&__item
			&_left
				float right
				color #fff
				display inline-flex
.font-small
	margin-left -400px
	font-size 12px
.bigger-index
	z-index 10