.payment-tabs
  .payment-tabs__toolbar
    md-toolbar.md-hue-2
        .md-toolbar-tools
            md-button.md-icon-button(aria-label='Go Back' ng-click="back()" ng-disabled='false')
                ng-md-icon.payment-tabs__toolbar__back-icon.white-icon(icon="chevron_left" size="24")
            h2.payment-tabs__toolbar__label(flex='', md-truncate='')
                span(id="agent-folio_carrier-name") {{ userInfo.name }}
            .payment-tabs__toolbar__total-bg(ng-class="{'agent-folio-details__toolbar__total-bg_show': (total && selectedJobs.length && total && selectedJobs.length), 'agent-folio-details__toolbar__total-bg_hide': !(total && selectedJobs.length && total && selectedJobs.length)}")
                span.payment-tabs__toolbar__label.payment-tabs__toolbar__label_left-padding(ng-show="total && selectedJobs.length") &nbsp Total : {{total.balance | currency}}
                md-button.md-raised.payment-tabs__toolbar__label(ng-show="selectedJobs.length && total && total.balance > 0" aria-label='Send invoice' ng-click="openInvoice($event, charge, false, selectedJobs, total.balance)") Send invoice
                md-button.md-raised.payment-tabs__toolbar__label(ng-show="selectedJobs.length && total && total.balance < 0" aria-label='Pay' ng-click="openCustomPayment($event, -total.balance, -total.balance, selectedJobs, payType)") Pay

            .trip-list__summury(flex='', md-truncate='' ng-if="currentTab == 0")
                .trip-list__summury__column
                    span.trip-list__summury__title
                      | Job Total
                    | {{defaultTotal.job_total || 0 | currency}}
                .trip-list__summury__column
                    span.trip-list__summury__title
                      | TP Collected
                    |  {{defaultTotal.tp_collected || 0 | currency}}
                .trip-list__summury__column
                    span.trip-list__summury__title
                      | Balance
                    | {{defaultTotal.balance || 0 | currency}}
            .payment-tabs__toolbar__item_left
                md-switch(md-no-ink aria-label="Switch No Ink" ng-model="hideZero" ng-false-value="0"  ng-true-value="1" ng-change="setHideZero()") Hide zero

md-tabs.tabs(md-selected="currentTab" md-dynamic-height='', md-border-bottom='')
    md-tab(label='Payment details' ng-click="changeState(0)")
        div(ng-if="currentTab == 0"  agent-folio-details get-jobs="getJobs()" jobs-trip-items="jobsTripList" default-total="defaultTotal" change-select-list="changeSelectList" open-custom-payment="openCustomPayment" open-invoice="openInvoice" get-charge="getCharge" select-all="selectAll" user-info="userInfo" hide-zero="hideZero")
    md-tab(label='Receipts' ng-click="changeState(1)")
        div(ng-if="currentTab == 1" receipts-list get-receipts="getReceipts()" receipts="receipts" open-custom-payment="openCustomPayment" hide-zero="hideZero")
    md-tab(label='Invoices' ng-click="changeState(2)" )
        div(ng-if="currentTab == 2" invoices-list get-invoices="getInvoices" invoices="invoices" open-invoice="openInvoice" get-charge="getCharge" open-custom-payment="openCustomPayment" user-info="userInfo" hide-zero="hideZero")
    md-tab(label='Log' ng-click="changeState(3)")
        div(ng-if="currentTab == 3")
          trip-log-directive(trip-id='userInfo.ld_carrier_id' entity-type='7')

div(payments-custom-payment open-custom-payment="openCustomPayment" entity-type="7" entity-id="{{ userInfo.ld_carrier_id }}" user-info="userInfo" pay-success="updateList()" )

div(payments-invoice open-invoice="openInvoice" entity-type="7" entity-id="{{ userInfo.ld_carrier_id }}" pay-success="getJobs()"  user-info="userInfo" sit="true")
