.pickup
	.agent-folio-details__toolbar
		md-toolbar.md-hue-2
			.md-toolbar-tools
				h2.agent-folio-details__toolbar__label(flex='', md-truncate='') Pick Up

	.pickup-filters
		.pickup-filters__block
			md-input-container
				label Pickup date from
				md-datepicker(ng-model='from' md-open-on-focus='' md-max-date="to" md-min-date="today" ng-change='changeFromFilter(from)')
		.pickup-filters__block
			md-input-container
				label Pickup date to
				md-datepicker(ng-model='to' md-open-on-focus='', ng-change='changeToFilter(to)' md-min-date="from")
		.pickup-filters__block
			.pickup-filters__block__states
				.pickup-filters__block__states__label(ng-class="{'pickup-filters__block__states__label_open' : modalFromOpened == true}") Pick Up States:
				.pickup-filters__block__states__text.pickup-filters__block__states__text_over(ng-click="openModalFrom()" ng-class="{'pickup-filters__block__states__text_open' : modalFromOpened == true, 'pickup-filters__block__states__text_text-black': selectStringFrom != 'None'}") {{selectStringFrom}}
				.pickup-filters__block__states_border

			.pickup-state-modal(states-modal chosen-states="chosenStatesFrom" modal-opened="modalFromOpened" get-list="getList()")

		.pickup-filters__block
			.pickup-filters__block__states
				.pickup-filters__block__states__label(ng-class="{'pickup-filters__block__states__label_open' : modalToOpened == true}") Delivery States:
				.pickup-filters__block__states__text(ng-hide="modalFromOpened" ng-click="openModalTo()" ng-class="{'pickup-filters__block__states__text_open' : modalToOpened == true, 'pickup-filters__block__states__text_text-black': selectStringTo != 'None'}") {{selectStringTo}}
					.pickup-filters__block__states_border

			.pickup-state-modal(states-modal chosen-states="chosenStatesTo" modal-opened="modalToOpened" get-list="getList()")

		.pickup-filters__block
			md-input-container.pickup-filters__block__options
				label LD Status
				md-select(ng-model='selectedStatus' ng-change="setStatus()")
					md-option
						em(ng-value="undefined") None
					md-option(ng-value="item" ng-repeat="item in ldStatuses")
						| {{item.name}}
		.pickup-filters__block
			.trip-filters__block__remove-button
				md-button.md-raised(ng-click="removeFilters()")   Remove All Filters

.pickup-list-form
	.request-list-form__refresh-button
		md-button.md-primary.md-raised.md-hue-2(ng-click="getList()") Refresh
	md-progress-linear(md-mode="indeterminate" ng-if="busy")
	.pickup-list
		.pickup-list__head
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Id
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'ld_nid'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Customer
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'customer_name'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Pick Up Date
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'pickup_date'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Pick Up From
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'from_state'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Delivery To
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'to_state'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Distance
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'distance'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Weight/ cubic feet
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'sales_weight'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| LD Status
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'ld_status'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Ready for Delivery
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'ready_for_delivery'")
				.pickup-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Schedule Delivery Date
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'schedule_delivery_date'")
		.pickup-list__body(ng-repeat="item in jobs track by $index")
				.pickup-list__body__item(call-job-modal id="item.ld_nid" show-text="{{item.ld_nid}}")
				.pickup-list__body__item
					| {{ item.customer_name }}
				.pickup-list__body__item(ng-if="item.pickup_date != 0")
					| {{ (item.pickup_date - offset) * 1000 | date:'MM-dd-yyyy' }}
				.pickup-list__body__item(ng-if="item.pickup_date == 0")
					.trip-list-item-body__body__item_none
					| None
				.pickup-list__body__item
					| {{ item.address_from }}
					br
					| {{ item. from_city}}, {{item.from_state}} {{item.from_zip}}
				.pickup-list__body__item
					| {{ item.address_to }}
					br
					| {{ item. to_city}}, {{item.to_state}} {{item.to_zip}}
				.pickup-list__body__item
					.delivery-list__body__item__text {{ item.distance }}
						.delivery-list__body__item__text_text-small miles
				.pickup-list__body__item
					| {{ item.sales_weight }}
				.pickup-list__body__item
					.option-select
						.option-select__span
							| {{ item.ld_status_name }}
						.option-select__icon(ng-hide="!item.ld_status_color")
							ng-md-icon( icon="flag" ng-style="{'fill': item.ld_status_color}" size="20px")
				.pickup-list__body__item
					span(ng-if="item.ready_for_delivery == 1") Ready
					span(ng-if="item.ready_for_delivery == 0") Not Ready
				.pickup-list__body__item
					span(ng-if="item.schedule_delivery_date !== '0'") {{ (item.schedule_delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
					span(ng-if="item.schedule_delivery_date == '0'") No
	div(ng-if="meta.pageCount && meta.pageCount > 1" elromco-paginator meta="meta" set-page="setList")
