<div class="panel panel-default " ng-class="{'small':small}">

    <button ng-show="showExportAllButton" class="btn btn-primary pull-right export-to-quickbooks"
            ng-click="exportAll()">Export to QuickBooks
    </button>

    <div class="panel-body mdDataTable" ng-if="profits">
        <table datatable="ng" dt-options="dtOptions" id="datatable-profit">
            <thead>
            <tr>
                <th ng-click="changeSorting('nid')">#</th>
                <th ng-click="changeSorting('field_approve')">Status</th>
                <th ng-click="changeSorting('created')">Booked Date</th>
                <th ng-click="changeSorting('field_move_service_type')">Service Type</th>
                <th ng-click="changeSorting('field_date')">Move Date</th>
                <th>Est. total</th>
                <th>Profit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{'disabled': busy, 'active_row' : clicked == profit.nid}"
                ng-click="requestEditModal(profit)" class="request" data-nid="{{request.nid}}"
                ng-repeat="profit in profits track by $index">
                <td>{{::profit.nid}}</td>
                <td class="dtStatus">
                  <span class="status status_3">
                    {{::profit.status.value}}
                  </span>
                </td>
                <td>{{::getBookedDay(profit)}}</td>
                <td>{{::profit.service_type.value}}</td>
                <td>{{::profit.date.value | date: 'MMM d, YYYY'}}</td>
                <td>${{::profit.field_grand_total_middle | number : '2'}}</td>
                <td>${{::profit.receipts_total| number : 2}}</td>
            </tr>
            </tbody>
        </table>
        <div class="profit-and-loss-info">
            <div class="profit-info">
                Showing {{meta.currentPage}} to {{meta.pageCount}} of {{meta.totalCount}} entries
            </div>
            <div class="uib-pagination"
                 uib-pagination
                 ng-model="meta.currentPage"
                 total-items="meta.totalCount"
                 items-per-page="meta.perPage"
                 ng-change="initProfitAndLossData(meta.currentPage, sorting)"
                 max-size="3"
                 boundary-links="false"
                 next-text=">>"
                 previous-text="<<"
                 boundary-link-numbers="true"
                 rotate="false"
                 force-ellipses="true"></div>
        </div>
    </div>
</div>
