.trip-create-modal-form
    &__remove-button
        right: 140px
        position: absolute
        bottom: 30px
        color: #ffffff
        background-color: #e25d5d
        border-radius: 3px
        padding: 8px 14px
        margin-bottom: 5px
        border: none
        font-size: 15px
        font-weight: normal
        cursor: pointer
        outline: none
        &:hover
              background: #e07979
    &__toolbar
        position relative
        &__gradient-box
            position absolute
            width 100%
            height 100%
            background linear-gradient(to right,  rgba(63,81,181,1) 0%,rgba(63,81,181,0.2) 30%,rgba(63,81,181,0) 100%)
            transition background-color 0.3s ease-out
            &__draft
              background-color rgb(120,144,156)
            &__pending
              background-color rgb(255, 213, 79)
            &__active
              background-color rgb(102, 187, 106)
            &__delivered
              background-color rgb(66, 165, 245)

        &__summury
            display inline-flex
            flex-wrap nowrap
            flex-direction row
            justify-content flex-start
            &__title
                font-size 12px
                color #424242
            &__column
                padding-right 100px
                font-size 14px
                display inline-flex
                flex-wrap nowrap
                flex-direction column
                justify-content flex-start
                &_dark
                    color #757575
        &__back-icon
            margin-top 10px
        &__label
            flex-grow 0.5
            color #fff
            width 200px
        &__total
            color #3d3d3d
            background #62c257
            border-radius 5px
            margin-left 10px
            padding-right 10px
        &__status
            margin-left 30px
            &_left
              margin-top 17px
        &__item
            &_left
              color #fff
              display inline-flex
              justify-content flex-end
              position absolute
              right 0
.md-toast-content
  margin-top 60px
._md-visually-hidden
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-transform: none;


