md-dialog(aria-label='Mango (Fruit)')
  form(ng-cloak='' style="width: 400px")
    md-toolbar
      .md-toolbar-tools
        h2(style="color: #fff") Carrier is required
        span(flex='')
        md-button.md-icon-button(ng-click='cancel()')
          md-icon(md-svg-src='img/icons/ic_close_24px.svg', aria-label='Close dialog')
    md-dialog-content
      .md-dialog-content
        h2 Carrier
        .trip-create-modal-form__trip-form_padding
            md-input-container.md-block(flex-gt-sm='')
                label Carrier:
                md-select(ng-model='trip.data.carrier.carrier_id')
                    md-option(ng-repeat='item in carrierList', value='{{item.ld_carrier_id}}')
                        | {{item.name}}
        .trip-create-modal-form__trip-form_padding
            md-input-container.md-block(flex-gt-sm='')
                label Driver Name:
                input(ng-model='trip.data.carrier.driver_name')
        .trip-create-modal-form__trip-form_padding
            md-input-container.md-block(flex-gt-sm='')
                label Driver Phone:
                input(ng-model='trip.data.carrier.driver_phone' placeholder="(XXX) XXX-XXXX" phone-input minlength='14' maxlength='14')

    md-dialog-actions(layout='row')
      md-button(ng-click="cancel()")
        | Cancel
      span(flex='')
      md-button(ng-click="update()")
        | Update
