.trip-create-modal-form
	.trip-create-modal-form__toolbar
		md-progress-linear(ng-show='loading' md-mode="indeterminate")
		md-toolbar.md-hue-2
			.md-toolbar-tools.trip-create-modal-form__toolbar__gradient-box(ng-class="tripStatusStyleArr[trip.data.details.flag]")
				md-button.md-icon-button(aria-label='Go Back' ng-click="closeTrip()" ng-disabled='false')
					ng-md-icon.trip-create-modal-form__toolbar__back-icon(icon="chevron_left" style="fill: #fff" size="24")
				h2.trip-create-modal-form__toolbar__label(flex='', md-truncate='') # {{ trip_id }}
					span(ng-if='trip.data.details.flag').trip-create-modal-form__toolbar__status  Status: {{ trip.data.details.flag | tripStatus }}

				.trip-create-modal-form__toolbar__summury(flex='', md-truncate='')
					div(ng-show="jobs.length > 0" ng-class="{ 'trip-create-modal-form__toolbar__summury__column_dark' : trip.data.details.flag == 2 }")
						.trip-create-modal-form__toolbar__summury__column
							span.trip-create-modal-form__toolbar__summury__title
								| Jobs
							| {{jobs.length}}
						.trip-create-modal-form__toolbar__summury__column
							span.trip-create-modal-form__toolbar__summury__title
								| Volume/Weight
							| {{jobs_total.volume_cf || 0 | setDecimal:2}}/{{(jobs_total.volume_cf || 0) * 7 | setDecimal:2}}

						.trip-create-modal-form__toolbar__summury__column
							span.trip-create-modal-form__toolbar__summury__title
								| Jobs Total
							| {{jobs_total.job_total || 0 | currency}}
						.trip-create-modal-form__toolbar__summury__column
							span.trip-create-modal-form__toolbar__summury__title
								| TP Collected
							|  {{jobs_total.tp_collected || 0 | currency}}
						.trip-create-modal-form__toolbar__summury__column
							span.trip-create-modal-form__toolbar__summury__title
								| Balance
							| {{jobs_total.balance || 0 | currency}}

				.trip-create-modal-form__toolbar__item_left
					md-button.md-raised.md-warn(aria-label='Remove' ng-if="trip.data.details.flag == '1'" ng-click="removeTrip(event, trip_id)" ng-disabled='false') Remove
					md-button.md-raised.md-primary(aria-label='Update' ng-if='currentTab == 0' ng-click="createTrip(trip)" ng-disabled='false' ng-class="{ 'trip-create-modal-form__toolbar__summury__column_dark' : trip.data.details.flag == 2 }") Update
					md-button.md-raised.md-primary(aria-label='Payroll Submit' ng-if="trip.data.details.type == 2 && currentTab == 2  && trip.data.payroll_status == '0'" ng-click="submitPayroll()" ng-disabled='loading') Submit Payroll
					md-button.md-raised.md-primary(aria-label='Revoke Submit' ng-if="trip.data.details.type == 2 && currentTab == 2 && trip.data.payroll_status == '1'" ng-click="revokePayroll()" ng-disabled='loading') Revoke Payroll
		div(ng-if="trip.data")
			md-tabs(md-selected="tab" md-dynamic-height='', md-border-bottom='' md-no-select-click="'true'")
				md-tab(label='Trip details' ng-click="changeState(tab, this)"  md-active="currentTab == 0" ng-disabled="(trip.data.details.type == 1 && carrierBusy) || (trip.data.details.type == 2 && foremanBusy)")
					div(ng-show="currentTab == 0 && trip"
						add-trip-form trip="trip"
						jobs="jobs"
						jobs-total="jobs_total"
						get-jobs="getJobs()"
						create-trip="createTrip"
						carrier-form-bind="carrier"
						foreman-form-bind="foreman"
						change-state="changeState"
						jobs-busy="jobsBusy"
						carrier-busy="carrierBusy"
						foreman-busy="foremanBusy"
						carriers="carrierList"
						params="params"
						payments-exist="paymentsExist")

				md-tab(label='Add Pickup/Delivery' ng-click="changeState(tab, this)" ng-disabled="trip.data.details.flag == 4 || (trip.data.details.type == 1 && carrierBusy) || (trip.data.details.type == 2 && foremanBusy)" md-active="currentTab == 1")
					div(ng-if="currentTab == 1 && trip"
						request-list trip="trip"
						trip-id="trip_id"
						get-jobs="getJobs()"
						update-trip="createTrip"
						change-state='changeTab')

				md-tab(label='Closing' ng-click="changeState(tab, this)" md-active="currentTab == 2" ng-disabled="(trip.data.details.type == 1 && carrierBusy) || (trip.data.details.type == 2 && foremanBusy)")
					div(ng-if="currentTab == 2 && trip.data.details.type == 1"
						jobs-trip-list id="trip_id"
						get-jobs="getJobs" jobs="jobs"
						trip="trip"
						jobs-total="jobs_total"
						params="params")
					div(ng-if="currentTab == 2 && trip.data.details.type == 2"
						trip-payroll id='trip_id'
						jobs-total="jobs_total"
						payroll_status="trip.data.payroll_status")

				md-tab(label='Log' ng-click="changeState(tab, this)" md-active="currentTab == 3" ng-disabled="(trip.data.details.type == 1 && carrierBusy) || (trip.data.details.type == 2 && foremanBusy)")
					div(ng-if="currentTab == 3 && trip.data")
						trip-log-directive(trip-id='trip_id' entity-type='8')
