section.animated.fadeInUp.general.calcsettings.settings_account_page_wrapper
    .row.col-md-12.nopadding
        #inbox-wrapper.col-lg-12.col-md-12.col-sm-12
            .row
                .statistics-main.col-lg-6(ng-repeat="(field, tooltip) in tooltips track by $index")
                    .ibox
                        .ibox-title
                            h5 {{ title[field] }}
                        |
                        .ibox-content
                            .calculator
                                .sizeset.chat-widget
                                    div(ng-model-options="{ updateOn: 'blur' }",
                                    ng-model="tooltip.value",
                                    ng-change="checkTooltipsChanges(tooltip.value, field)",
                                    text-angular="text-angular",
                                    ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],\
                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],\
                                                  ['fontColor', 'fontName', 'fontSize'],\
                                                  ['insertLink', 'insertImage'],\
                                                  ['undo', 'redo', 'clear', 'html']]")
                                    |
                                    .ibox-title
                                        .settings_left
                                            span.show-account-settings-name.tooltip-switch-label Show in account
                                            |
                                            input.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type="checkbox", ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}", ng-model="tooltip.isDisplay", data-switchery="true", style="display: none;")
                                            |
                                            button.btn.btn-primary.pull-right(ng-click="saveCustomTooltipSettings()")
                                                | Save
