<div id="main-content" ng-init="invoicesTotals = {}">
	<div class="row sales-stats">
		<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-md-4">
					<div class="panel widget-comments widget-mini">
						<div class="panel-body blueBox">
							<span class="total text-center">$ {{invoicesTotals.allMoney | number:2}} ({{invoicesTotals.all}})</span>
							<span class="title text-center">Total invoices</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-pending-stats widget-mini">
						<div class="panel-body greenBox">
							<span class="total text-center">$ {{invoicesTotals.paidMoney | number:2}} ({{invoicesTotals.paid}})</span>
							<span class="title text-center">Total Paid</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="panel panel-pending-stats widget-mini">
						<div class="panel-body redBox">
							<span class="total text-center">$ {{invoicesTotals.unpaidMoney | number:2}} ({{invoicesTotals.unpaid}})</span>
							<span class="title text-center">Total Unpaid</span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div datatable-invoice totals-top="invoicesTotals"></div>
</div>
