.rate-modal
	md-progress-linear(md-mode="indeterminate" ng-if="busy")
	.rate-modal__input(ng-show="item.confirmedRateToOpen")
		md-input-container.md-block(flex-gt-sm='')
			label Rate per Cf:
			input(ng-model="rate_per_cf" type="text" er-only-digit with-decimal-point format="currency")
			div(class="hint" ng-if="error" style="color: red") Invalid value
	.rate-modal__input(ng-show="item.confirmedVolumeToOpen")
		md-input-container.md-block(flex-gt-sm='')
			label Volume Cf:
			input(ng-model="volume_cf" type="text" ng-focus="volume_cf = undefined" er-only-digit with-decimal-point format="number")
			div(class="hint" ng-if="error" style="color: red") Invalid value
	.rate-modal__buttons
		.rate-modal_buttons_left
			md-button.md-no-ink.md-primary(ng-click="close()") Close
		.rate-modal_buttons_right
			md-button.md-no-ink.md-primary(ng-click="update()") Update



