.rate-modal
	z-index 2000
	position: absolute
	padding-bottom -150px
	width 280px
	margin-top 45px
	box-shadow 0 0 2px rgba(0,0,0,0.5)
	background-color #fff
	&__input
		padding-top 30px
		font-size 12px
		padding-left 26px
		padding-right 26px
	&__buttons
		padding-left 70px
		display block
		display inline-flex
		padding left 24px
		&_left
			width 50%
		&_right
			width 50%
