<p class="title underline blue left-offset" ng-bind="$ctrl.data.name"></p>
<p class="uppercase left-offset">
    <span ng-bind="$ctrl.data.customerName"></span>
    <b>{{::$ctrl.request.name}}</b>
</p>
<p class="uppercase left-offset">
    <span class="width-60">
        <span ng-bind="$ctrl.data.street"></span>
        <b>{{::$ctrl.request['adr'+$ctrl.direction].value}}</b>
    </span>
    <span class="width-40">
        <span ng-bind="$ctrl.data.apt"></span>
        <b>{{::$ctrl.request['apt_'+$ctrl.direction].value}}</b>
    </span>
</p>
<p class="uppercase left-offset">
    <span class="width-40">
        <span ng-bind="$ctrl.data.city"></span>
        <b>{{::$ctrl.request['city_'+$ctrl.direction].value}}</b>
    </span>
    <span class="width-30">
        <span ng-bind="$ctrl.data.state"></span>
        <b>{{::$ctrl.request['state_'+$ctrl.direction].value}}</b>
    </span>
    <span class="width-30">
        <span ng-bind="$ctrl.data.zip"></span>
        <b>{{::$ctrl.request['zip_'+$ctrl.direction].value}}</b>
    </span>
</p>
<p class="uppercase left-offset">
    <span class="width-60">
        <span ng-bind="$ctrl.data.firstCellPhone"></span>
        <b>{{::$ctrl.request.phone}}</b>
    </span>
    <span class="width-40" ng-bind="$ctrl.data.secondCellPhone"></span>
</p>
<p class="uppercase left-offset">
    <span class="width-60">
        <span ng-bind="$ctrl.data.flightsOrigin"></span>
        <b>{{::$ctrl.request['type_'+$ctrl.direction].raw}}</b>
    </span>
    <span class="width-40">
        <span ng-bind="$ctrl.data.elevator"></span>
        <b ng-if="::$ctrl.request['type_'+$ctrl.direction].raw == '6'">Yes</b>
        <b ng-if="::$ctrl.request['type_'+$ctrl.direction].raw != '6'">No</b>
    </span>
</p>
<div ng-if=" ::$ctrl.request[$ctrl.name].premise" class="left-offset">
    <div class="row_info row extrapickup" style="width: 40%;">
        <div class="col-md-12 title nopadding">Additional Drop-off:</div>
        <div class="col-md-12 info nopadding">
            {{::$ctrl.request[$ctrl.name].thoroughfare }}
            <span ng-show="::$ctrl.request[$ctrl.name].premise">
                (Apt #{{::$ctrl.request[$ctrl.name].premise}})
            </span>
            <div>
                {{::$ctrl.request[$ctrl.name].locality}},
                {{::$ctrl.request[$ctrl.name].administrative_area}}
                {{::$ctrl.request[$ctrl.name].postal_code}}
            </div>
        </div>
    </div>
</div>
