.mobile-request-root-wrapper
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	overflow-x hidden
	overflow-y auto
	height 100%
	background-color #fff
	.mobile-save-changes
		width 38px
		height 38px
		border none
		position fixed
		z-index 120
		box-shadow 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2)
		padding 0 10px
		margin-bottom 20px
		border-radius 50%
		&.bottom-right
			bottom 0
			right 0
			margin-right 20px
		&.bottom-left
			bottom 0
			left 0
			margin-left 20px
		&.blue
			background-color rgba(52, 152, 219, 1)
		&.grey
			background-color rgba(127, 140, 141, 1)
	.request-top-nav.edit-request-main
		padding 0
		border-bottom none
	.mobile-footer-portal
		display flex
		justify-content center
		align-items center
		padding 1em 2em
	.form-item-Furnished-Rooms
		margin-top 1em

@media all and (max-width: 768px)
	.mobile-request-root-wrapper
		.weight_box
			display flex
			justify-content center
			align-items center
		.subbox
			width 97% !important
		.new-notes-by-role
			margin-left 0
		.date_header
			justify-content space-between
			padding 0 10px
			.hide-parklot-button
				margin-top 0
		.choose_list
			display flex
			justify-content space-between
			align-items center
		.mobile-flexible-display
			display flex
			justify-content space-between
			align-items center
		.mobile-request-settings
			padding-left 5px
		.config-swatch-wrap
			height 100%
		.closing_row
			position static
