<div class="overlay" ng-show="busy">
    <img class="spinner" src="../../../../content/img/logo_animation.gif">
</div>
<div class="group-request-modal">
    <div class="modal-header">
        Connect with request
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <label for="requestuid">Request id:</label>
            </div>
            <div ng-form name="groupRequestId" class="col-md-9">
                <input ng-enter="!isUpdateDisable() && update()" name="requestuid" ng-class="{error_field: groupRequestId.requestuid.$invalid}" type="text"
                       id="requestuid" class="form-element form-control" ng-model="secondRequestNid" ng-pattern="/^(\d+)$/">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-class="{disabled: isUpdateDisable()}" type="button" class="btn btn-primary" ng-click="update()">Update</button>
        <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
    </div>
</div>