<section id="main-content"  style="min-height:400px" ng-controller="InventoriesController as vm" ng-init="vm.init(request)" class="animated fadeInRight">
    <div class="row ">
    <div class="col-md-12">
        <div class="busyoverlay" ng-show="vm.busy">
            <img class="spinner" src="content/img/logo_animation.gif">
        </div>

		<div ng-if="request.field_request_settings.inventoryVersion == 2"
			 inventories
			 request="request"
			 save-list-inventories="vm.saveListInventories"
			 listinventories="vm.listInventories"
			 closing-function="select(tabs[0])"></div>

		<div ng-if="request.field_request_settings.inventoryVersion != 2 || !request.field_request_settings.inventoryVersion">
			<div list-new-inventories calculate-filter="calculateFilter" listInventories="vm.listInventories" save-list-inventories="vm.saveListInventories" ng-if="vm.rooms" rooms="vm.rooms"  items-log="vm.itemsLog" save-inventory-on-destroy="true"></div>

			<div list-inventories calculate-filter="calculateFilter" listInventories="vm.listInventories" rooms="vm.rooms" removed="vm.removedItems" decrease="vm.decreaseItems" rid="vm.rid"></div>
		</div>

        <div ng-if="(request.service_type.raw == 2 || request.service_type.raw == 6) && request.field_request_settings.inventoryVersion != 2">
            <div ng-if="request.request_all_data.additional_inventory && !request.request_all_data.toStorage" style="text-align: center;margin-bottom: 20px;">Additional Inventory</div>
            <div ng-if="request.request_all_data.additional_inventory  && !request.request_all_data.toStorage" list-inventories calculate-filter="calculateFilter" listInventories="request.request_all_data.additional_inventory" rooms="vm.rooms" removed="vm.removedItems" decrease="vm.decreaseItems"></div>
        </div>

        <div class="col-md-12" ng-if="request.field_request_settings.inventoryVersion != 2">
            <button id="save-inventory" class="btn-inv-default save-inventory" ng-class="{'disabled':vm.busyInventory}" ng-click="vm.saveListInventories()">Save Inventory</button>
        </div>
    </div>
    </div>
</section>