<!--<div ng-if="!request.request_all_data.isNewRequest" cc-request-log nid="request.nid"  request="request"></div>-->
<div cc-request-new-log nid="request.nid" request="request" entitytype="MOVEREQUEST"></div>