<section class="calcsettings req-settings-wrapper">
  <!--mail wrapper start-->
  <div class="row col-md-12 nopadding">
    <div class="col-lg-12" id="compose-wrapper">
      <div class="panel">
        <aside class="panel-body no-padding">
          <ul class="nav nav-pills nav-stacked compose-nav no-margin">
            <li ng-click="general=false; labelIsSelected ? (labelIsSelected = !labelIsSelected) : ''" ng-class="{'active': !labelIsSelected, '': labelIsSelected}">
              <a href=""><i class="fa fa-truck"></i>  General</a>
            </li>
            <li ng-click="general=true; !labelIsSelected ? (labelIsSelected = !labelIsSelected) : ''" ng-class="{'active': labelIsSelected, '': !labelIsSelected}">
              <a href=""><i class="fa fa-file-text-o"></i>  Account page</a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
    <div class="col-lg-12" id="inbox-wrapper">
      <div class="row">
        <div class="tab_content col-lg-12" style="padding: 0">
          <er-request-settings request="request"
                               editrequest="editrequest"
                               message="message"
                               ng-hide="general"></er-request-settings>
          <req-account-page request="request"
                            editrequest="editrequest"
                            message="message"
                            ng-show="general"></req-account-page>
        </div>
      </div>
    </div>
  </div>
</section>

