<div ng-form name="storageInTransit" class="basic-modal template-invoice-item-modal job-sit-modal pendingModal" id="storage-request">
    <div class="modal-header gray">
        <div class="actions pull-right">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
        </div>
    </div>

    <div class="modal-body">
        <div ng-show="busy" class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        <h2 class="center">Storage in Transit</h2>
            <div class="sit-tabs">
                <div class="sit-tabs__tab" ng-class="{'sit-tabs__tab_active': selectedTab == 0, 'sit-tabs__tab_hover': selectedTab != 0}" ng-click="setTab(0)">
                   <div class="sit-tabs__label">Info</div>
                </div>
                <div class="sit-tabs__tab" ng-class="{'sit-tabs__tab_active': selectedTab == 1, 'sit-tabs__tab_hover': selectedTab != 1 }" ng-click="setTab(1)">
                   <div class="sit-tabs__label">Log</div>
                </div>

            </div>
            <div class="sit-info" ng-hide="selectedTab != 0">
                <div id="colors">
                    <div class="form-group disabled">
                        <label class="col-sm-4 control-label">Request id: </label>
                        <div class="col-sm-8">
                            <input ng-model="requestId" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group disabled">
                        <label class="col-sm-4 control-label">Client name: </label>
                        <div class="col-sm-8">
                            <input ng-model="clientName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="storage">Storage: </label>
                        <div class="col-sm-8">
                            <select class="form-control flag" id="storage"
                                    ng-options="item.storage_id as item.name for (key,item) in storages"
                                    ng-model="sit.storage_id"
                                    ng-change="changeField('storage_id', sit.storage_id)">
                                <option value="" style="display: none;"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="transit-rooms">Rooms: </label>
                        <div class="col-sm-8">
                            <input ng-model="sit.rooms" class="form-control" type="number" name="rooms"
                                   ng-class="{error_field: storageInTransit.rooms.$invalid}"
                                   id="transit-rooms" ng-pattern="/^\d+((\.)\d{1,2})?$/" step="1" min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="transit-date">Move in Date: </label>
                        <div class="col-sm-8 date-picker">
                            <input id="transit-date" type="text" class="form-control"
                                   uib-datepicker-popup="mediumDate"
                                   ng-model="moveInDate"
                                   is-open="openedDate" ng-click="openedDate = !openedDate"
                                   ng-change="changeField('date', moveInDate)"
                                   datepicker-options="dateOptions" close-text="Close">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="transit-foreman">Foreman: </label>
                        <div class="col-sm-8">
                            <select class="form-control flag" id="transit-foreman"
                                    ng-options="item.uid as item.allName for (key,item) in workers"
                                    ng-model="sit.foreman"
                                    ng-change="changeField('foreman', item.allName)"
                                    ng-disabled="foremanSelectDisabled">
                                <option value="" style="display: none;"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="transit-blankets">Blankets: </label>
                        <div class="col-sm-8">
                            <input ng-model="sit.blankets" class="form-control" type="number" id="transit-blankets"
                                   name="blankets"
                                   ng-class="{error_field: storageInTransit.blankets.$invalid}"
                                   ng-pattern="/^\d+((\.)\d{1,2})?$/" step="1" min="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="transit-status">Status: </label>
                        <div class="col-sm-8">
                            <select class="form-control flag" id="transit-status"
                                    ng-options="key as item for (key,item) in serviceTypes"
                                    ng-model="sit.status"
                                    ng-change="changeField('status', sit.status)">
                                <option value="" style="display: none;"></option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-4 control-label" for="transit-job-type">Type: </label>
                        <div class="col-sm-8">
                            <select class="form-control flag" id="transit-job-type"
                                    ng-options="key as item for (key,item) in jobTypes"
                                    ng-model="sit.type"
                                    ng-change="changeField('type', sit.type)">
                                <option value="" style="display: none;"></option>
                            </select>
                        </div>
                    </div> -->
                    <div class="panel-body">
                        <lot-number-directive basic-data="basicSit" msg-log="msgLog"
                                              lot-numbers="sit.lot_number"></lot-number-directive>
                    </div>
                    <div class="panel-body">
                        <table ng-form name="lotsInfo" class="table" ng-show="sit.lots_info.length">
                            <tbody>
                            <tr>
                                <td class="col-md-4">
                                    <label for="create_lot_info">Storage Containers</label>
                                </td>
                                <td class="col-md-4">
                                    <label for="line_lot_info">Line</label>
                                </td>
                                <td class="col-md-4">
                                    <label for="lot_info">Lot</label>
                                </td>
                            </tr>
                            <tr ng-repeat="lotInfo in sit.lots_info track by $index">
                                <td class="col-md-4">
                                    <input ng-model="lotInfo.create" id="create_lot_info" class="form-control" type="text"
                                           ng-change="changeField('lots_info', sit.lots_info)">
                                </td>
                                <td class="col-md-4">
                                    <input type="text" id="line_lot_info" ng-model="lotInfo.line" class="form-control"
                                           ng-change="changeField('lots_info', sit.lots_info)">
                                </td>
                                <td class="col-md-3">
                                    <input type="text" id="lot_info" ng-model="lotInfo.lot_num" class="form-control"
                                           ng-change="changeField('lots_info', sit.lots_info)">
                                </td>
                                <td class="col-md-1">
                                    <i class="fa fa-times fa-2x" aria-hidden="true"
                                       ng-click="removeRow($index);changeField('lots_info', sit.lots_info)"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary action-btn" ng-click="addRow();changeField('lots_info', sit.lots_info)"
                                id="addColor">
                            <i class="fa fa-plus" aria-hidden="false"></i>Add Row
                        </button>
                    </div>
                </div>
            </div>

            <div ng-hide="selectedTab != 1" flex layout-padding>
                <md-content class="sit-log">
                    <trip-log-directive trip-id='requestId' entity-type='10'></trip-log-directive>
                </md-content>
            </div>


    </div>
    <div class="modal-footer">
        <a ng-click="save()" ng-class="{disabled: isInvalidForm()}" class="btn btn-primary save-button">Save</a>
        <a ng-click="cancel()" class="btn btn-default cancel-button">Cancel</a>
    </div>
</div>
