md-toolbar.md-hue-2
	.md-toolbar-tools
		md-button.md-icon-button(aria-label='Go Back' ng-click="getBack()" ng-disabled='false')
			ng-md-icon.jobs-details__toolbar__back-icon.white-icon(icon="chevron_left" size="24")
		h2.jobs-details__toolbar__label(flex='', md-truncate='') Add TP Delivery
		.jobs-details__toolbar__item_left
			md-button(ng-click="createTpDelivery()" ng-if="tpId == 'new'") Create
			md-button(ng-click="createTpDelivery()" ng-if="tpId != 'new'") Update
form.tp-delivery(name="tpModel")
	.tp-delivery__side
		h2.tp-delivery__tp-info Info
		.tp-delivery__sellary-box
			.tp-delivery__input
				.tp-delivery__input__half(ng-if="tpId != 'new'")
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Delivery Number:
						input(ng-model="tp.id" ng-disabled="true")
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Job Id:
						input(ng-model="tp.delivery_job_id" ng-disabled="tpId != 'new'" er-only-digit maxlength="6" name="job_id" required)
						div(ng-messages="tpModel.job_id.$error")
							div(ng-message="required") Job Id is required.
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.tp-delivery__input__select.md-block(flex-gt-sm='')
						label.label-small-margin Delivery for:
						md-select(ng-model="selectedCarrier" ng-change="setCarrier()" name="carrier" ng-disabled="paymentExist" required)
							md-option(ng-repeat="item in carrierList" ng-value="item")
								| {{item.name}}
						div(class="errors" ng-messages="tpModel.carrier.$error")
							div(ng-message="required") Carrier is required.
						.small-message(ng-if="paymentExist")
							| You can't change carrier if you have payments for this carrier

			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Customer:
						input(ng-model="tp.details.customer" name="customer" required)
						div(ng-messages="tpModel.customer.$error")
							div(ng-message="required") Customer is required.
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Email:
						input(ng-model="tp.details.email" name="email" type="email" required)
						div(ng-messages="tpModel.email.$error")
							div(ng-message="required") Email is required.
							div(ng-message="email") Invalid Email.
			.tp-delivery__input(ng-repeat="item in tp.details.phones track by $index")
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin(ng-hide="$index > 0") Phone:
						label.label-small-margin(ng-show="$index > 0") Second Phone:
						input(ng-model="tp.details.phones[$index]"
						phone-input
						minlength="14"
						maxlength="14"
						placeholder="(XXX) XXX-XXXX"
						ng-change="checkPhones($index)")

		h2.tp-delivery__tp-info Delivery
		.tp-delivery__box
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Date From:
						md-datepicker(ng-model="date_from" md-open-on-focus)
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Date To:
						md-datepicker(ng-model="date_to" md-open-on-focus)
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Address:
						input(ng-model="tp.details.address")
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Zip Code:
						input(ng-change="changePostalCode()"	ng-model="tp.details.zip" er-only-digit maxlength="5" minlength="5" name="zip_code" required)
						div(ng-messages="tpModel.zip_code.$error")
							div(ng-message="required") Zip Code is required.
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin City:
						input(ng-model="tp.details.city" name="city" disabled required)
						div(ng-messages="tpModel.city.$error")
							div(ng-message="required") City is required.
				.tp-delivery__input__half
					md-input-container.tp-delivery__input__select.md-block(flex-gt-sm='')
						label.label-small-margin State:
						md-select(ng-model="state" ng-change="setState(state)" disabled name="state" required)
							md-option(ng-value="undefined")
								em None
							md-option(ng-repeat="item in allStates" value="{{item}}") {{item}}
						div(ng-messages="tpModel.state.$error")
							div(ng-message="required") State is required.

	.tp-delivery__side
		h2.tp-delivery__tp-info Salary and Commissions
		.small-message.small-message_margin(ng-if="paymentExist")
			| You can't change Closing if you have carrier payments
		md-progress-linear(md-mode="indeterminate" ng-if="closingBusy")
		.tp-delivery__sellary-box
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin.tp-delivery__input_label-blue Rate per c.f.:
						input.tp-delivery__input_label-blue(ng-model="tp.closing.rate_per_cf"	ng-blur="setSellaryData()" er-only-digit with-decimal-point format="currency" ng-disabled="paymentExist")
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin.tp-delivery__input_label-blue Order Balance:
						input.tp-delivery__input_label-blue(ng-model="tp.closing.order_balance" ng-blur="setSellaryData()" er-only-digit with-decimal-point format="currency" ng-disabled="paymentExist")
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin.tp-delivery__input_label-blue Volume, c.f.:
						input.tp-delivery__input_label-blue(ng-model="tp.closing.volume_cf" ng-blur="setSellaryData()" er-only-digit with-decimal-point ng-disabled="paymentExist")
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Collected By Us:
						input(ng-model="tp.closing.tp_collected" ng-disabled="true" format="currency")
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Weight, lbs:
						input(ng-model="weight" ng-disabled="true")
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Received from 3rd Party:
						input(ng-model="tp.closing.received" ng-disabled="true" format="currency")
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Job Cost:
						input(ng-model="tp.closing.job_cost" ng-disabled="true" format="currency")
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin To Receive from 3rd Party:
						input(ng-model="tp.closing.to_receive" ng-disabled="true" format="currency")
			.tp-delivery__input
				.tp-delivery__input__half.tp-delivery__input__half_relative
					md-input-container.pointer.md-block(flex-gt-sm='')
						label.tp-delivery__input_label-blue Additional Services:
						input.tp-delivery__input_label-blue(ng-model="tp.closing.services_total" format="currency" ng-disabled="true")
					.tp-delivery__click-box(ng-click='addServices(tp)' ng-class="{'tp-delivery__click-box_disabled' : paymentExist}")
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Paid To 3rd Party:
						input(ng-model="tp.closing.paid" ng-disabled="true" format="currency")
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin Job Total:
						input(ng-model="tp.closing.job_total" ng-disabled="true" format="currency")
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						label.label-small-margin To Pay to 3rd Party:
						input(ng-model="tp.closing.to_pay" ng-disabled="true" format="currency")

		h2.tp-delivery__tp-info Storages In Transit
		.tp-delivery__sellary-box
			.tp-delivery__list
				.tp-delivery__list__second-head(ng-if="!tp.sit")
					.tp-delivery__list__second-head__item
						md-button(ng-click="openModal('new')")
							span(ng-if="!tp.sit") New SIT
							span(ng-if="tp.sit") Update SIT

				.tp-delivery__list__head(ng-if="tp.sit" ng-click="openModal('new')")
					.trip-list__summury__column
						span.trip-list__summury__title
							| Date
						| {{ tp.sit.date * 1000 | date: 'EEEE, MMM d, yyyy' }}
					.trip-list__summury__column
						span.trip-list__summury__title
							| Storage
						| {{ tp.sit.storage_name }}
					.trip-list__summury__column
						span.trip-list__summury__title
							| Foreman
						| {{ tp.sit.first_name }} {{ tp.sit.last_name }}
					.trip-list__summury__column
						span.trip-list__summury__title
							| Status
						|	{{ tp.sit.status | tpSitStatus:serviceTypes }}
				.tp-delivery__list___second-head__item(edit-sit-list-modal tp="tp" id="tpId" close-modal="closeModal()" service-types="serviceTypes" ng-if="modalOpened" modal-position="modalPosition")

		h2.tp-delivery__tp-info Notes
		.tp-delivery__box
			.tp-delivery__input
				.tp-delivery__input__half
					md-input-container.md-block(flex-gt-sm='')
						textarea(ng-model="tp.notes" md-no-resize md-no-autogrow)
.tp-delivery.tp-delivery_padding-bottom
	.tp-delivery__side
		h2.tp-delivery__tp-info Payments
		.small-message.small-message_margin(ng-if="paymentExist")
			| You can't create or change receipts if you have carrier payments
		.tp-delivery__receipts-box
			.tp-delivery__receipts-box__toolbar
				.tp-delivery__receipts-box__toolbar__item
					md-button.md-raised.md-warn(aria-label='Go Back' ng-click="openNewPayment($event)" ng-disabled="paymentExist") Create Payment
			md-progress-linear(md-mode="indeterminate" ng-if="receiptsBusy")
			.jobs-trip-list
				.jobs-trip-list__head
					.jobs-trip-list__head__item
						| Payment Type
					.jobs-trip-list__head__item
						| Type
					.jobs-trip-list__head__item
						| Created Date
					.jobs-trip-list__head__item
						| Notes
					.jobs-trip-list__head__item
						| Amount
					.jobs-trip-list__head__item
						| Pending
					.jobs-trip-list__head__item
						| Actions
				.jobs-trip-list__body(class="hover" ng-repeat="item in receipts" ng-class="isPaidReceipt(item.transaction_type)" )
					.jobs-trip-list__body__item(ng-click="showReceiptModal($event, item)")
						| Receipt
					.jobs-trip-list__body__item.capitalize(ng-click="showReceiptModal($event, item)")
						| {{ item.value.type	}}
					.jobs-trip-list__body__item(ng-click="showReceiptModal($event, item)")
						| {{ item.created * 1000 | date:'MM-dd-yyyy' }}
					.jobs-trip-list__body__item(ng-click="showReceiptModal($event, item)")
						| {{ item.value.description	}}
					.jobs-trip-list__body__item(ng-click="showReceiptModal($event, item)")
						| {{ item.value.amount | currency}}
					.jobs-trip-list__body__item
						md-switch.pending-switch(md-no-ink aria-label="Switch No Ink" ng-model="item.value.pending" ng-true-value="true" ng-false-value="false" ng-disabled="disabledSwitch || paymentExist" ng-change="setPending(item)")
					.jobs-trip-list__body__item
						.jobs-trip-list__body__item__actions
							md-button.md-icon-button( ng-click="openCustomPayment($event, 0, undefined, [tpId], 4, item)" ng-disabled="paymentExist")
								ng-md-icon.green-icon(icon="create")
							md-button.md-icon-button( ng-click="removeReceipt(item, $index)" ng-disabled="paymentExist")
								ng-md-icon.red-icon(icon="delete_forever")
				div( payments-custom-payment open-custom-payment="openCustomPayment" entity-type="11" nid="tpId" entity-id="{{ tpId }}" trip-id="tripId" user-info="tp.details" pay-success="getReceipts()" is-tp-delivery="true")
				.no-jobs(ng-hide="receipts.length > 0") No receipts



