.jobs-details
	&__toolbar
		&__label
			color white
.tp-delivery
	display inline-flex
	flex-wrap wrap
	flex-direction row
	justify-content space-between
	flex 1
	width 100%
	&_padding-bottom
		padding-bottom 24px
	&__tp-info
		width 100%
		padding-top 12px
		padding-bottom 12px
	&__side
		display flex
		flex 1
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		padding-left 24px
		padding-right 24px
	&__box
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		flex 1
		padding-top 25px
		padding-bottom 5px
		box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
		background #fff
	&__sellary-box
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		padding-top 25px
		padding-bottom 5px
		box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
		background #fff
	&__receipts-box
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
		background #fff
		&__toolbar
			height 54px
			display inline-flex
			flex-direction row
			justify-content flex-end
			border-bottom 1px solid #ddd
			background #E0E0E0
			&__item
				display flex
				flex-direction column
				justify-content center
	&__click-box
		position absolute
		left 0
		right 0
		top -20px
		bottom 25px
		cursor pointer
		&_disabled
			pointer-events none
			cursor default
	&__input
		width 100%
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
		flex 1
		&__icon
			margin-left -3px
		&__half
			padding-left 20px
			padding-right 20px
			display flex
			flex 1
			&_relative
				position relative
		&__select
			padding-bottom 26px
		&_label-blue
			color #283593 !important
			cursor pointer !important
	&__content
		max-height 600px
	&__list
		margin-top -25px
		font-size 12px
		font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
		background #fff
		&__head
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			padding 20px
			justify-content space-between
			width 100%
			padding-bottom -5px
			cursor pointer
			&:hover
				background #EEEEEE
			
			&__item
				display flex
				flex-grow 1
				padding 8px
				height 56px
				justify-content center
				width 100px
				flex-direction column
				font-size 12px
				font-weight 500
				color #757575
				&:first-child
					padding-left 24px
				&:last-child
					padding-right 24px
		&__second-head
			position relative
			width 100%
			height 56px
			padding 8px
			display inline-flex
			flex-direction column
			flex-wrap nowrap
			justify-content center
			&__item
				display flex
				flex-direction row
				justify-content flex-start
		&__body
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			width 100%
			cursor pointer
			font-family Roboto,Helvetica Neue,sans-serif
			border-bottom 1px solid #ddd
			&_pickup
				border-bottom 1px solid #ffab00
			&_delivery
				border-bottom 1px solid #9400ff
			&_selected
				background #F5F5F5
			
			&__item
				display flex
				flex-grow 1
				padding 8px
				width 100px
				min-height 48px
				justify-content center
				flex-direction column
				color #212121
				font-size 13px
				&:first-child
					padding-left 24px
					padding-top 20px
				&:last-child
					padding-right 24px
					border-right 0
.label-small-margin
	margin-bottom 0
.small-message
	font-size 12px
	color #838381
	position absolute
	margin-top -3px
	&_margin
		margin-top 28px
.box-label
	width 100%
	height 50px
	display flex
	flex-direction column
	justify-content center
				