.agent-folio-list-item
    &__body
        display inline-flex
        flex-direction row
        flex-wrap nowrap
        justify-content flex-start
        width 100%
        cursor pointer
        font-family Roboto,Helvetica Neue,sans-serif

        &_selected
            background #F5F5F5
        &:hover
            background #EEEEEE
        &__item
            display flex
            flex-grow 1
            padding 8px
            width 100px
            height 48px
            justify-content center
            flex-direction column
            color #212121
            font-size 13px
            border-bottom 1px solid #ddd
            &:first-child
                padding-left 24px
            &:last-child
                padding-right 24px
                border-right 0
