.agent-folio-list-item__body
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.name }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.job_total | currency }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.job_cost | currency }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.services_total | currency }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.tp_collected | currency }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.received | currency }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.paid | currency }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.to_receive | currency }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.to_pay | currency }}
  .agent-folio-list-item__body__item(ng-click='showDetails(item)')
      | {{ item.total.balance | currency }}
