include ../../../../../../../../node_modules/bemto.pug/bemto

+b.progress-bar-example
	+e.main-label(ng-if="!isOptional") Your Progress Bar
	+e.main-label(ng-if="isOptional") Additional Information
	+e.row
		+e.progress-bar
			round-progress(
				max="100"
				current="25"
				color="#08d808"
				bgcolor="#d2d2d2"
				radius="27"
				stroke="4"
				rounded="true"
				clockwise="true"
				responsive="false")
			+e.percent-label
				| 25%
		+e.progress-line
			+e.column
				+e.line_right(ng-if="!isOptional")
				+e.circle.border-green
					img.progress-icon-img_check(src="./img/mymovepagecheck.png")
				+e.label
					| Quote
			+e.column
				+e.line_left(ng-if="!isOptional")
				+e.line_right(ng-if="!isOptional")
				+e.circle
					img.progress-icon-img.progress-icon-img_transparent(src="./img/armchair_2.png")
				+e.label
					| Inventory
			+e.column
				+e.line_left(ng-if="!isOptional")
				+e.line_right(ng-if="!isOptional")
				+e.circle
					img.progress-icon-img.progress-icon-img_small.progress-icon-img_transparent(src="./img/leaf.png")
				+e.label
					| Details
			+e.column
				+e.line_left(ng-if="!isOptional")
				+e.circle
					img.progress-icon-img.progress-icon-img_transparent(src="./img/happy.png")
				+e.label(ng-if="!isOptional")
					| Booked
				+e.label(ng-if="isOptional")
					| Photos


