.home-estimate-work-item
  position absolute
  top 0
  background url(../../../../../../content/img/bg.png) 0 0 repeat-x scroll #E7E7E7
  font-size 10px
  padding 5px
  overflow hidden
  line-height 17px
  cursor pointer
  &.current
    z-index 2
    border 2px dotted #252525
    line-height 12px
  &.status-schedule
    background url(../../../../../../content/img/bg.png) 0 0 repeat-x scroll #FFA500
  &.status-done
    background url(../../../../../../content/img/bg.png) 0 0 repeat-x scroll #90EE90
  &.status-canceled
    background url(../../../../../../content/img/bg.png) 0 0 repeat-x scroll #E7E7E
  &.service_type_1
    border-left 10px solid lightgreen
  &.service_type_2
    border-left 10px solid rgb(255, 200, 0)
  &.service_type_3
    border-left 10px solid rgb(214, 143, 250)
  &.service_type_4
    border-left 10px solid rgb(214, 143, 250)
  &.service_type_5
    border-left 10px solid rgb(238, 235, 144)
  &.service_type_6
    border-left 10px solid rgb(241, 115, 115)
  &.service_type_7
    border-left 10px solid rgb(105, 182, 248)