.home-estimate-work-item-tooltip
  &.right
    background-color: rgba(128,128,128,0.29);
    padding: 2px 2px 2px 5px
    border-radius 5px
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    .tooltip-arrow
      color black
      border-right-color #FFFFFF
  &.tooltip.in
    filter opacity(100)
    opacity 1
  .tooltip-inner
    max-width 340px
    width 340px
    background-color white
    color black
    font-size 12px
    text-align left
    padding 3px 0
    .info-row
      font-size 12px
      font-family Open Sans
      line-height 18px
      color #616161
      letter-spacing 0
      padding 0 10px 0 10px
      span
        &.title
          width 100px
          display block
          float left
          color #565a5c
      .close-tooltip
        float right
        cursor pointer
    .address-bloc
      padding 10px 0
      background #e9e9e9
      border-top 1px solid #ccc
      border-bottom 1px solid #ccc
      margin-top 5px
      margin-bottom 5px
    .btn-row
      text-align center
      padding 15px
      font-size 12px
      font-family Open Sans
      line-height 18px
      color #616161
      letter-spacing 0
      .btn
        margin 0 auto
        text-align center
        background #F6C655
        color white
        padding 5px
        font-size 12px
        border-radius 0
