<div class="info-row">
    <span class="title">Request:</span>
    <span>#{{::item.nid}}</span>
    <span ng-click="closeTooltip($event)" class="close-tooltip fa fa-times">
    </span>
</div>
<div class="info-row" ng-show="item.home_estimate_status.value">
    <span class="title">Status:</span>
    <span ng-if="item.home_estimate_status.value == 1">Schedule</span>
    <span ng-if="item.home_estimate_status.value == 2">Done</span>
    <span ng-if="item.home_estimate_status.value == 3">Canceled</span>
</div>
<div class="info-row">
    <span class="title">Type of Service:</span>
    <span>{{::serviceTypes[item.service_type.raw]}}</span>
</div>
<div class="info-row">
    <span class="title">Estimate date:</span>
    <span>{{::item.homeEstimateDate}}</span>
</div>
<div class="address-bloc">
    <div ng-if="item.service_type.raw != 4 && !((item.service_type.raw == 2 || item.service_type.raw == 6) && item.request_all_data.toStorage)">
        <div class="info-row">
            <span class="title">Moving From:</span>
            <span>{{::item.field_moving_from.locality}}, {{::item.field_moving_from.administrative_area}}, {{::item.field_moving_from.postal_code}}</span>
        </div>
        <div class="info-row">
            <span class="title">Ent. Type From:</span>
            <span>{{::item.type_from.value}}</span>
        </div>
    </div>
    <div ng-if="item.service_type.raw != 3 && !((item.service_type.raw == 2 || item.service_type.raw == 6) && !item.request_all_data.toStorage)">
        <div class="info-row" >
            <span class="title">Moving To:</span>
            <span>{{::item.field_moving_to.locality}}, {{::item.field_moving_to.administrative_area}}, {{::item.field_moving_to.postal_code}}</span>
        </div>
        <div class="info-row" >
            <span class="title">Ent. Type To:</span>
            <span>{{::item.type_to.value}}</span>
        </div>
    </div>
    <div class="info-row" ng-if="item.distance.value">
        <span class="title">Distance:</span>
        <span>{{::item.distance.value}} miles</span>
    </div>
</div>

<div class="btn-row">
    <button class="btn" ng-click="openRequest(item.nid)">Open Request #{{::item.nid}}</button>
</div>
