<span
	ng-class="{current: item.isCurrent, 'status-schedule': item.home_estimate_status.value == 1, 'status-done': item.home_estimate_status.value == 2, 'status-canceled': item.home_estimate_status.value == 3}"
	class="home-estimate-work-item service_type_{{item.service_type.raw}}"
	uib-tooltip-template="'app/requests/directives/home-estimate/directives/work-item/work-item-tolltip.template.html'"
	tooltip-trigger="'click'"
	tooltip-placement="right"
	tooltip-class="home-estimate-work-item-tooltip">
    #{{item.nid}} |
    <i class="icon-clock"> </i> {{item.home_estimate_actual_start.value}} - {{item.home_estimate_start_time.value}} |
    <i class="icon-calendar"> </i> {{item.homeEstimateDate}}
</span>