<section class="main-content-wrapper pending animated fadeInDown">
    <div class="pageheader">
        <h1>Storage Invoices</h1>
    </div>
    <div ng-show="busy">
        <div class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                        r="30"></circle>
            </svg>
        </div>
    </div>
    <section id="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" id="storage_invoices">
                    <div class="panel-heading storage-invoices_flex">
                        <h3 class="panel-title">Storage invoices</h3>
                        <div class="invoices-controls">
                            <h3>Sort by:</h3>
                            <select class="form-control" ng-model="sorting">
                                <option value="id">ID</option>
                                <option value="created">Created</option>
                            </select>
                            <select class="form-control" ng-model="direction">
                                <option value="DESC">Descending</option>
                                <option value="ASC">Ascending</option>
                            </select>
                        </div>
                    </div>
                    <div class="panel-body mdDataTable nopadding">
                        <table>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Client name</th>
                                <th>Descritpion</th>
                                <th>Invoice date</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="invoice in invoices" ng-class="{'disabled':busy}">
                                <td>{{invoice.id}}</td>
                                <td>{{invoice.client_name}}</td>
                                <td>{{invoice.description}}</td>
                                <td>{{invoice.invoice_date}}</td>
                                <td>$ {{invoice.total}}</td>
                                <td> <span class="status {{invoice.status}}">{{invoice.status}}</span></td>
                                <td ng-click="openRequest(invoice.storage_request_id)">Open Request</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="pull-right">
                            <button class="btn btn-success" ng-class="{'disabled': page == 0}" ng-click="getPreviousPage()">Previous</button>
                            <button class="btn btn-success" ng-class="{'disabled': ( page + 1 ) == meta.pageCount}" ng-click="getNextPage()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>