include ../../../../../node_modules/bemto.pug/bemto

+b.mb-tooltip
	+e('table').table
		tr
			th Sales

		tr.explanation(ng-if="sales.minPriceEnabled")
			td.firstCol {{sales.minWeight}} c.f. min
			td ${{sales.minPrice | number : 2}}
		tr.explanation(ng-if="!sales.minPriceEnabled")
			td.firstCol {{sales.minWeight}} c.f. min x ${{sales.rate}}/c.f.
			td ${{sales.minWeight * sales.rate | number : 2}}
		tr.explanation
			td.firstCol {{sales.weightWoutMinweight}} c.f. more inventory x ${{sales.rate}}/c.f.
			td ${{sales.weightWoutMinweight * sales.rate | number : 2}}
		tr
			td.firstCol Origin {{sales.cf}} c.f.
			td ${{ sales.total | number : 2}}
		tbody(ng-if="isClosing")
			tr
				th Closing
			tr.explanation
				td.firstCol Origin {{sales.cf}} c.f.
				td ${{ closing.originTotal | number : 2}}
			tr.explanation
				td.firstCol {{closing.additionalCf}} c.f. additional inventory x ${{closing.rate}}/c.f.
				td ${{closing.additionalCf * closing.rate | number : 2}}
			tr
				td.firstCol Closing {{closing.cf}} c.f.
				td ${{ closing.total | number : 2}}
	+e('button').close(
	class="close"
	ng-click="close(false)"
	)
		| x