.mb-tooltip
	position absolute
	background #f7f7f7
	left -135px
	top 60px
	width 300px
	z-index 100
	padding 10px
	border 1px solid
	&__table
		padding 5px
		th, td
			padding 5px
			&.firstCol
				width 80%
		tr
			margin-top 5px
			&.explanation
				background-color #d9d9d9
	&__close
		position absolute
		right 4px
		top 0