<div class="contract-box-content no-border-bottom">
    <p class="title center underline" ng-bind="contract_page.editableFields.detailsLaborCharges"></p>
    <!-- info rows -->
    <div class="info-rows">
        <ul class="nav nav-tabs" style="border-bottom: 0;">
            <li ng-repeat="crew in data.crews"
                ng-class="{active: navigation.activeCrew == $index}"
                ng-disabled="data.isSubmitted">
                <a href="javascript:;" ng-click="navigation.activeCrew = $index">
                    Crew {{ $index + 1 }}
                </a>
            </li>
            <li style="background: #4cb8ff; color: #ffffff !important; border-radius: 5px 5px 0px 0;">
                <a href="javascript:;"
                   ng-click="addCrew()"
                   ng-if="canAddCrew(navigation.activeCrew)"
                   style="color: #ffffff !important; margin-right: 0;"> + </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane"
                 ng-repeat="crew in data.crews"
                 ng-class="{active: navigation.activeCrew == $index }"
                 ng-disabled="data.isSubmitted">
                <!-- basic distance -->
                <table class="table table-responsive table-timer"
                       ng-if="!flatMiles && !contract_page.lessInitialContract">
                    <tr>
                        <th>Time</th>
                        <th ng-if="!contract_page.lessInitialContract">Customers Initials</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Start Time:
                                <input cc-start-time=""
                                       add-contract="false"
                                       ng-disabled="disableTime(3, $index)"
                                       isolated="true"
                                       ng-value="crew.timer.start  || request.start_time1.value"
                                       type="text"
                                       id="{{ 'edit-start-time-'+$index }}"
                                       name="start_time" size="60" maxlength="128"
                                       class="form-text md ui-timepicker-input"
                                       autocomplete="off"
                                       contract="true"
                                       field-type="start"
                                       index="$index"
                                />
                            </p>
                        </td>
                        <td ng-if="$index == 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{ 3 }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                        <td ng-if="$index > 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{:: 3 + data.stepSpace }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Time Off: &nbsp&nbsp
                                <input cc-travel-time=""
                                       type="text"
                                       ng-model="crew.timer.timeOff"
                                       ng-value="crew.timer.timeOff"
                                       ng-change="calculation.calculateWork(crew);
                                                              saveContract({data:true});
                                                              changeCrewTime($index+1, 'off', crew.timer.timeOff);
                                                              saveReqDataInvoice();"
                                       id="{{ 'edit-time-off-'+$index }}"
                                       name="time_off" size="60" maxlength="128"
                                       class="form-text md ui-timepicker-input"
                                       autocomplete="off"
                                       data-ng-disabled="data.isSubmitted"/>
                            </p>
                        </td>
                        <td ng-if="!contract_page.lessInitialContract">
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>End Time:&nbsp
                                <input cc-start-time=""
                                       add-contract="false"
                                       isolated="true"
                                       ng-value="crew.timer.stop || request.start_time2.value"
                                       type="text"
                                       id="{{ 'edit-end-time-'+$index }}"
                                       name="start_time" size="60" maxlength="128"
                                       class="form-text md ui-timepicker-input"
                                       autocomplete="off"
                                       ng-disabled="disableTime(4, $index)"
                                       contract="true"
                                       field-type="end"
                                       index="$index"/>
                            </p>
                        </td>
                        <td ng-if="$index == 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{ 4 }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                        <td ng-if="$index > 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{:: 4 + data.stepSpace }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                    </tr>
                </table>
                <table class="table table-responsive table-timer"
                       ng-if="!flatMiles && contract_page.lessInitialContract">
                    <tr>
                        <th colspan="2">Time</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Start Time:
                                <input cc-start-time=""
                                       add-contract="false"
                                       ng-disabled="disableTime(3, $index)"
                                       isolated="true"
                                       ng-value="crew.timer.start  || request.start_time1.value"
                                       type="text"
                                       id="{{ 'edit-start-time-'+$index }}"
                                       name="start_time" size="60" maxlength="128"
                                       class="form-text md ui-timepicker-input"
                                       autocomplete="off"
                                       contract="true"
                                       field-type="start"
                                       index="$index"
                                />
                            </p>
                        </td>
                        <td>
                            <p>End Time:&nbsp
                                <input cc-start-time=""
                                       add-contract="false"
                                       isolated="true"
                                       ng-value="crew.timer.stop || request.start_time2.value"
                                       type="text"
                                       id="{{ 'edit-end-time-'+$index }}"
                                       name="start_time" size="60" maxlength="128"
                                       class="form-text md ui-timepicker-input"
                                       autocomplete="off"
                                       ng-disabled="disableTime(4, $index)"
                                       contract="true"
                                       field-type="end"
                                       index="$index"
                                />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Time Off: &nbsp&nbsp
                                <input cc-travel-time=""
                                       type="text"
                                       ng-model="crew.timer.timeOff"
                                       ng-change="calculation.calculateWork(crew);
                                                              saveContract({data:true});
                                                              changeCrewTime($index+1, 'off', crew.timer.timeOff);
                                                              saveReqDataInvoice();"
                                       id="{{ 'edit-time-off-'+$index }}"
                                       name="time_off" size="60" maxlength="128"
                                       class="form-text md ui-timepicker-input"
                                       autocomplete="off"
                                       data-ng-disabled="data.isSubmitted" />
                            </p>
                        </td>
                        <td ng-if="!contract_page.lessInitialContract">
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>
                <!-- flat distance -->
                <table class="table table-responsive table-timer"
                       ng-if="flatMiles && !contract_page.lessInitialContract">
                    <tr>
                        <th>Time</th>
                        <th ng-if="!contract_page.lessInitialContract">Customers Initials</th>
                    </tr>
                    <tr>
                        <td ng-class="{'donesign':!!data.signatures[3].value}">
                            <p>
                            <p>PickUp Start Time:</p>
                            <input cc-start-time=""
                                   ng-disabled="disableTime(3, $index)"
                                   add-contract="false"
                                   isolated="true"
                                   ng-value="crew.timer.startPickUp  || request.start_time1.value"
                                   type="text"
                                   id="{{ 'edit-start-pickup-time-'+$index }}"
                                   name="start_time" size="60" maxlength="128"
                                   class="form-text md ui-timepicker-input"
                                   autocomplete="off"
                                   contract="true"
                                   field-type="startPickUp"
                                   index="$index"
                            />
                            </p>
                        </td>
                        <td ng-if="$index == 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{ 3 }}"
                                           owner="customer" >
                            </signature-box>
                        </td>
                        <td ng-if="$index > 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{:: 3 + data.stepSpace }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                    </tr>
                    <tr>
                        <td ng-class="{'donesign':!!data.signatures[4].value}">
                            <p>
                            <p>PickUp End Time:</p>
                            <input cc-start-time=""
                                   ng-disabled="disableTime(4, $index)"
                                   add-contract="false"
                                   isolated="true"
                                   ng-value="crew.timer.stopPickUp  || request.start_time1.value"
                                   type="text"
                                   id="{{ 'edit-end-pickup-time-'+$index }}"
                                   name="start_time" size="60" maxlength="128"
                                   class="form-text md ui-timepicker-input"
                                   autocomplete="off"
                                   contract="true"
                                   field-type="startPickUp"
                                   index="$index"
                            />
                            </p>
                        </td>
                        <td ng-if="$index == 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{ 4 }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                        <td ng-if="$index > 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{:: 4 + data.stepSpace }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Time Off: &nbsp&nbsp
                                <input cc-travel-time=""
                                       type="text"
                                       ng-model="crew.timer.timeOff"
                                       ng-change="calculation.calculateWork(crew);
                                                              saveContract({data:true});
                                                              changeCrewTime($index+1, 'off', crew.timer.timeOff);
                                                              saveReqDataInvoice();"
                                       id="{{ 'edit-time-off-'+$index }}"
                                       name="time_off" size="60" maxlength="128"
                                       class="form-text md ui-timepicker-input"
                                       autocomplete="off"
                                       data-ng-disabled="data.isSubmitted" />
                            </p>
                        </td>
                        <td ng-if="!contract_page.lessInitialContract">
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td ng-class="{'donesign':!!data.signatures[5].value}">
                            <p>
                            <p>Unloading Start Time:&nbsp</p>
                            <input cc-start-time=""
                                   add-contract="false"
                                   isolated="true"
                                   ng-value="crew.timer.startUnload || request.start_time2.value"
                                   type="text"
                                   id="{{ 'edit-start-unload-time-'+$index }}"
                                   name="start_time" size="60" maxlength="128"
                                   class="form-text md ui-timepicker-input"
                                   autocomplete="off"
                                   ng-disabled="disableTime(5, $index)"
                                   contract="true"
                                   field-type="startUnload"
                                   index="$index"
                            />
                            </p>
                        </td>
                        <td ng-if="$index == 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{ 5 }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                        <td ng-if="$index > 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{:: 5 + data.stepSpace }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                    </tr>
                    <tr>
                        <td ng-class="{'donesign':!!data.signatures[6].value}">
                            <p>
                            <p>Unloading End Time:&nbsp</p>
                            <input cc-start-time=""
                                   add-contract="false"
                                   isolated="true"
                                   ng-value="crew.timer.stopUnload || request.start_time2.value"
                                   type="text"
                                   id="{{ 'edit-end-unload-time-'+$index }}"
                                   name="start_time" size="60" maxlength="128"
                                   class="form-text md ui-timepicker-input"
                                   autocomplete="off"
                                   ng-disabled="disableTime(6, $index)"
                                   contract="true"
                                   field-type="stopUnload"
                                   index="$index"
                            />
                            </p>
                        </td>
                        <td ng-if="$index == 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{ 6 }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                        <td ng-if="$index > 0 && !contract_page.lessInitialContract">
                            <signature-box admin="isAdminManager"
                                           step-id="{{:: 6 + data.stepSpace }}"
                                           owner="customer">
                            </signature-box>
                        </td>
                    </tr>
                </table>
                <table class="table table-responsive table-timer"
                       ng-if="flatMiles && contract_page.lessInitialContract">
                    <tr>
                        <th colspan="2">Time</th>
                    </tr>
                    <tr>
                        <td ng-class="{'donesign':!!data.signatures[3].value}">
                            <p>
                            <p>PickUp Start Time:</p>
                            <input cc-start-time=""
                                   add-contract="false"
                                   ng-disabled="disableTime(3, $index)"
                                   isolated="true"
                                   ng-value="crew.timer.startPickUp  || request.start_time1.value"
                                   type="text"
                                   id="{{ 'edit-start-pickup-time-'+$index }}"
                                   name="start_time" size="60" maxlength="128"
                                   class="form-text md ui-timepicker-input"
                                   autocomplete="off"
                                   contract="true"
                                   field-type="startPickUp"
                                   index="$index"
                            />
                            </p>
                        </td>
                        <td ng-class="{'donesign':!!data.signatures[4].value}">
                            <p>
                            <p>PickUp End Time:</p>
                            <input cc-start-time=""
                                   add-contract="false"
                                   ng-disabled="disableTime(4, $index)"
                                   isolated="true"
                                   ng-value="crew.timer.stopPickUp  || request.start_time1.value"
                                   type="text"
                                   id="{{ 'edit-end-pickup-time-'+$index }}"
                                   name="start_time" size="60" maxlength="128"
                                   class="form-text md ui-timepicker-input"
                                   autocomplete="off"
                                   contract="true"
                                   field-type="stopPickUp"
                                   index="$index"
                            />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Time Off: &nbsp&nbsp
                                <input cc-travel-time=""
                                       type="text"
                                       ng-model="crew.timer.timeOff"
                                       ng-change="calculation.calculateWork(crew);
                                                              saveContract({data:true});
                                                              changeCrewTime($index+1, 'off', crew.timer.timeOff);
                                                              saveReqDataInvoice();"
                                       id="{{ 'edit-time-off-'+$index }}"
                                       name="time_off" size="60" maxlength="128"
                                       class="form-text md ui-timepicker-input"
                                       autocomplete="off"
                                       data-ng-disabled="data.isSubmitted" />
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td ng-class="{'donesign':!!data.signatures[5].value}">
                            <p>
                            <p>Unloading Start Time:&nbsp</p>
                            <input cc-start-time=""
                                   add-contract="false"
                                   isolated="true"
                                   ng-value="crew.timer.startUnload || request.start_time2.value"
                                   type="text"
                                   id="{{ 'edit-start-unload-time-'+$index }}"
                                   name="start_time" size="60" maxlength="128"
                                   class="form-text md ui-timepicker-input"
                                   autocomplete="off"
                                   ng-disabled="disableTime(5, $index)"
                                   contract="true"
                                   field-type="startUnload"
                                   index="$index"
                            />
                            </p>
                        </td>
                        <td ng-class="{'donesign':!!data.signatures[6].value}">
                            <p>
                            <p>Unloading End Time:&nbsp</p>
                            <input cc-start-time=""
                                   add-contract="false"
                                   isolated="true"
                                   ng-value="crew.timer.stopUnload || request.start_time2.value"
                                   type="text"
                                   id="{{ 'edit-end-unload-time-'+$index }}"
                                   name="start_time" size="60" maxlength="128"
                                   class="form-text md ui-timepicker-input"
                                   autocomplete="off"
                                   ng-disabled="disableTime(6, $index)"
                                   contract="true"
                                   field-type="stopUnload"
                                   index="$index"
                            />
                            </p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <table class="table table-responsive" ng-show="contract_page.foremanChangeRate == true && navigation.activeCrew == 0">
        <tr>
            <td class="no-border-left">
                <span>Credit card payment extra rate :</span>
                <select ng-model="foreman_rate"
                        class="select-lead declar cred-card-rate"
                        ng-change="changeRate()">
                    <option ng-repeat="rate in contract_rate"
                            ng-value="rate"
                            ng-selected="rate == ctrlRate">{{rate}}</option>
                </select>
            </td>
        </tr>
    </table>

    <!-- table -->
    <table id="total_hours">
        <tr>
            <td class="big-padding no-border-left">description</td>
            <td class="big-padding">#trucks</td>
            <td class="big-padding">#movers</td>
            <td class="big-padding">rate per hr.</td>
            <td class="big-padding">number of hours</td>
            <td class="big-padding no-border-right">total</td>
        </tr>
        <tr ng-repeat="crew in data.crews">
            <th class="no-border-left">
                CREW {{ $index + 1 }}
            </th>
            <td>{{ getTrucks($index) }}</td>
            <td>{{ getMovers($index) }}</td>
            <td>$ {{ calculation.getCrewRate($index, data.crews, request_data.crews.additionalCrews) }}</td>
            <td> {{ crew.workDuration }}</td>
            <td class="no-border-right no-white-space">
                $ {{ getTotalByCrew($index) }}
            </td>
        </tr>

        <tr ng-hide="!travelTimeSetting && !isDoubleDriveTime">
            <th class="no-border-left">
                <span ng-if="!isDoubleDriveTime">{{::calcSettings.travelTimeName}}</span>
                <span ng-if="isDoubleDriveTime">{{::calcSettings.doubleDriveTimeName}}</span>
            </th>
            <td>{{ getTrucks() }}</td>
            <td>{{ getMovers() }}</td>
            <td>$ {{ getTravelRate() }} </td>
            <td>
                <input cc-travel-time-float=""
                       ng-value="travelTime.value"
                       type="text"
                       style="margin:0"
                       id="edit-travel"
                       name="time_off" size="60" maxlength="128"
                       class="form-text md ui-timepicker-input"
                       autocomplete="off"
                       data-ng-disabled="data.isSubmitted"
                       data-ng-model="travelTime.value"
                       data-ng-model="travelTime.value"
                       ng-change="saveReqDataInvoice();"
                       ng-blur="changeCrewTime('', 'travel', travelTime.value);">
            </td>
            <td class="no-border-right no-white-space">
                $ {{ (calculation.canCalc() ? ((getTravelRate()  * ((isDoubleDriveTime ? travelTime.raw : (travelTimeSetting ? travelTime.raw : 0))) * 1 || 0)).toFixed(2) : 0) }}
            </td>
        </tr>
        <tr>
            <th class="no-border-left" colspan="3">Total hourly charge</th>
            <td class="text-center-important">-</td>
            <td>{{ calculation.getCrewTotalDuration() }}</td>
            <td class="no-border-right no-white-space">$ {{ calculation.totalHourlyCharge() }}</td>
        </tr>
    </table>
</div>
