.valuation-proposal-to-contact-wrapper
	background-color #fff
	&__title
		margin-bottom .5em
	&__text
		span.bar-btn-dropdown.dropdown.btn.btn-default
			padding 0 5px
			height 13px
			button.btn.btn-default.dropdown-toggle
				padding 0 !important
				vertical-align top
	&__wysiwyg
		.btn-group
		.bar-btn-dropdown.dropdown.btn.btn-default
			height 13.33px !important
			padding 0
			line-height 10px
			&.active
				.open
					.dropdown-toggle.btn-default
						background #909AA0
						border-color #909AA0
			.dropdown-menu
				li
					button
						display block
						padding 3px 20px
						clear both
						font-weight normal
						line-height 1.42857
						color gray
						text-align left
						white-space nowrap
						background-color white
						-webkit-appearance none
						width 100%
						border none