<div class="valuation-proposal-to-contact-wrapper" ng-if="state">
    <h3 class="valuation-proposal-to-contact-wrapper__title">Do not allow choose valuation (explanation setting)</h3>
    <div class="valuation-proposal-to-contact-wrapper__text valuation-proposal-to-contact-wrapper__wysiwyg"
         text-angular
         ng-model="directivePresets.setting"
         ng-change="vm.applySettingChanges(directivePresets)"
         ng-model-options="{'updateOn': blur}"
         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                          ['fontColor', 'fontName', 'fontSize'],
                          ['insertLink', 'insertImage'],
                          ['undo', 'redo', 'clear', 'html']]"></div>
</div>
