.buy-phone-number-modal
	&__header
		position relative
		&_close
			position absolute
			top 10px
			right 10px
			-webkit-appearance none
			padding 0
			cursor pointer
			background 0 0
			border 0
			float right
			font-size 21px
			font-weight 700
			line-height 1
			color #000
			text-shadow 0 1px 0 #fff
			opacity .2
		&_title
			text-align center
			padding 0 15px
			margin 0px
			line-height 38px
			font-size 13px
			font-weight bold
			color #7f889e
			text-shadow 0 1px rgba(255, 255, 255, 0.7)
			background #eceff5
			border-bottom 1px solid #c5ccdb
			border-radius 7px 7px 0 0
			background-image -webkit-linear-gradient(top, #f5f8fb, #e9edf3)
			background-image -moz-linear-gradient(top, #f5f8fb, #e9edf3)
			background-image -o-linear-gradient(top, #f5f8fb, #e9edf3)
			background-image linear-gradient(to bottom, #f5f8fb, #e9edf3)
			-webkit-box-shadow inset 0 1px white
			box-shadow inset 0 1px white
	&__body
		width 600px
		margin 0 auto
		padding 20px 5px
		display flex
		flex-direction column
		&_title
			padding 20px 0 0
			font-weight 700
			font-size 18px
		[busy-overlay]
			position absolute
			width 100%
			height 100%
			left 0
			top 0
			.busyoverlay-container
				width 100%
				height 100%
	&__input
		width 20%
		font-size 24px
		height 50px
		display inline-block
		padding 0 15px
		color #525864
		background white
		border 1px solid
		border-color #b3c0e2 #bcc5e2 #c0ccea
		border-radius 4px
		background-image -webkit-linear-gradient(top, #f6f8fa, white)
		background-image -moz-linear-gradient(top, #f6f8fa, white)
		background-image -o-linear-gradient(top, #f6f8fa, white)
		background-image linear-gradient(to bottom, #f6f8fa, white)
		-webkit-box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		margin 25px auto
		line-height normal
		font-family inherit
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
	&__button
		position relative
		cursor pointer
		text-shadow 0 1px 1px rgba(0, 0, 0, 0.2)
		border-color #075bba #0c69d2 #0f7de9
		background-image -webkit-linear-gradient(top, #1281dc, #1593fc)
		background-image -moz-linear-gradient(top, #1281dc, #1593fc)
		background-image -o-linear-gradient(top, #1281dc, #1593fc)
		background-image linear-gradient(to bottom, #1281dc, #1593fc)
		-webkit-box-shadow inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		box-shadow inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		width 100%
		height 34px
		margin 20px 0
		padding 0
		font-weight bold
		color white
		text-align center
		border 1px solid
		border-color #1486f9 #0f7de9 #0d6acf
		background #1993fb
		border-radius 4px
		background-image -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6)
		background-image -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6)
		background-image -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6)
		background-image linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6)

	&__suggested_number
		display flex
		justify-content center
		padding-bottom 15px
		margin 0 -100px
		flex-wrap wrap
		&-text
			cursor pointer
			font-size 25px
			padding 0 10px
			margin-right auto
		&-radio
			padding 6px
			margin-left auto
		&-list
			display flex
			width 33.3333333%
