<div class="buy-phone-number-modal">
	<div class="buy-phone-number-modal__header">
		<div class="buy-phone-number-modal__header_title">Buy phone number</div>
		<button class="buy-phone-number-modal__header_close" ng-click="vm.close()">×</button>
	</div>
	<div class="buy-phone-number-modal__body">
		<div ng-if="vm.busy" busy-overlay="vm.busy"></div>
		<div class="buy-phone-number-modal__body_title">Please enter the area code of the number you wish to buy</div>
		<input type="number" class="buy-phone-number-modal__input noArrows" ng-model="vm.searchNumber" maxlength="5" ng-change="vm.searchPhoneNumbers()" placeholder="(123)">

		<div class="buy-phone-number-modal__suggested_number">
			<div class="buy-phone-number-modal__suggested_number-list" ng-repeat="phoneNumber in vm.suggestNumbers">
				<div class="buy-phone-number-modal__suggested_number-radio">
					<input type="radio" name="iCheck" radiostyle="green" class="iradio_flat-green icheck" ichecks ng-model="vm.selected" value="{{phoneNumber}}">
				</div>
				<div class="buy-phone-number-modal__suggested_number-text" ng-click="vm.choosePhoneNumber(phoneNumber)">
					{{phoneNumber | nationalPhoneFormatter}}
				</div>
			</div>
		</div>

		<button class="buy-sms-modal__button" ng-class="{disabled: !vm.suggestNumbers.list && !vm.selected}" ng-click="vm.submit()">
			Buying number for ${{vm.phoneNumberPrice}}
		</button>
	</div>
</div>