.erDatepicker
	position absolute
	left 0
	z-index 4
	background white
	display flex
	flex-direction row
	box-shadow 0px 0px 12px 5px rgba(0, 0, 0, 0.1)
	&__prevButton
		position: absolute;
		left: 0;
		padding: 5px;
		cursor pointer
	&__nextButton
		position: absolute;
		right: 0;
		padding: 5px;
		cursor pointer
	&__daysOfWeek
		display: flex;
		flex-direction: row;
	&__dayOfWeek
		width: 40px;
		height: 30px;
		font-size: 15px;
		line-height: 26px;
		text-align: center;
		cursor pointer
	&__monthName
		text-align center
		font-size: 15px;
		line-height: 26px;
		cursor pointer
	&__month
		display flex
		flex-direction column
		margin: 10px;
	&__week
		display flex
		flex-direction row
	&__day
		width: 40px;
		height: 30px;
		color white
		font-weight 600
		font-size: 15px;
		line-height: 26px;
		text-align: center;

		&.Regular
			background #4cb1e0
		&.Peak
			background #f36a13
		&.SubPeak
			background #0a5c89
		&.Discount
			background #1fc5ac
		&.HighPeak
			background #DB2D2D
		&.block_date
			background #9b9b9b
		&.past
			.erDatepicker__dayText
				background rgba(85, 85, 85, 0.5)
		&.differentMonth
			.erDatepicker__dayText
				background rgba(85, 85, 85, 0.5)
		&.active
			.erDatepicker__dayText
				background rgba(156, 22, 177, 0.5)
	&__dayText
		cursor pointer
		display: block;
		height: 100%;
		width: 100%;
		&:hover
			background rgba(156, 22, 177, 0.5)