div.erDatepicker
	div.erDatepicker__prevButton(ng-click="prevMonth()") prev
	div.erDatepicker__nextButton(ng-click="nextMonth()") next
	div.erDatepicker__month(ng-repeat="month in monthes")
		div.erDatepicker__monthName
			| {{month.label}}
		div.erDatepicker__daysOfWeek
			div.erDatepicker__dayOfWeek(ng-repeat="dayName in $parent.daysOfWeek")
				| {{dayName}}
		div.erDatepicker__week(ng-repeat="week in month.weeks")
			div.erDatepicker__day(
			ng-repeat="day in week"
			ng-class="day.className"
			ng-click="select(day.moment)"
			date-attribute="{{day.attributeString}}")
				span.erDatepicker__dayText {{day.date}}