<div >
    <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
    </div>
    <div class="paymentModal">
        <div class="modal-body">
            <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>
            <div class="modal-header">
                <h2>Create Expense</h2>
            </div>
            <form class="form-horizontal" role="form" ng-class="{'disabled': busy}">
                <div class="form-group" >
                    <div class="col-sm-3">
                        <label style="margin-top: 10px;">Amount</label>
                    </div>
                    <div class="col-sm-3">
                        <input cc-amount-payment type="text" ng-model="expense.amount" class="form-control" style="margin-top: 10px;" />
                    </div>
                    <div class="col-sm-3">
                        <div class="payment-details-pending">
                            <label for="recurring">Recurring</label>
                            <input type="checkbox" name="recurring"  id="recurring"
                                   ichecks="" class="icheck form-control"
                                   ng-model="expense.recurring" />
                        </div>
                    </div>
                    <div class="col-sm-3" >
                        <div class="payment-details-pending" ng-if="expense.recurring">
                            <label for="forever">Forever</label>
                            <input type="checkbox" name="forever"  id="forever"
                                   ichecks="" class="icheck form-control"
                                   ng-model="expense.forever"
                                    ng-change="setDateToRecurring()"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group" id="payment_details" ng-if="expense.recurring && !expense.forever">
                    <div class="col-sm-3">
                        <label>Recurring to</label>
                    </div>
                    <div class="col-sm-6 text-right">
                        <input type="text" class="form-control"
                           uib-datepicker-popup="mediumDate" ng-model="expense.recurring_to"
                           is-open="openedTo" ng-click="openedTo = !openedTo"
                           datepicker-options="dateOptions" close-text="Close" />
                    </div>
                </div>
                <div class="form-group" id="payment_details" >
                    <div class="col-sm-3">
                        <label>Date</label>
                    </div>
                    <div class="col-sm-6 text-right">
                        <input type="text" class="form-control"
                           uib-datepicker-popup="mediumDate" ng-model="expense.date"
                           is-open="openedFrom" ng-click="openedFrom = !openedFrom"
                           datepicker-options="dateOptions" close-text="Close" />
                    </div>
                </div>
                <div class="form-group" ng-if="expense.recurring">
                    <div class="col-sm-3">
                        <label>Frequency</label>
                    </div>
                    <div class="col-sm-6">
                        <select ng-model="expense.data.frequency" class="form-control" >
                            <option ng-repeat="value in frequencyOpt track by $index" ng-selected="$index == expense.data.frequency" value="{{$index}}">{{value.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label>Category</label>
                    </div>
                    <div class="col-sm-6">
                        <select ng-model="expense.data.category" class="form-control"  >
                            <option ng-repeat="(key, value) in categoryOpt" ng-selected="value.name == expense.data.category" value="{{value.name}}">{{value.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-3">
                        <label>Notes</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" ng-model="expense.data.notes" ></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" ng-click="remove()">Remove</button>
            <button type="button" class="btn btn-default pull-right" ng-click="cancel()">Close</button>
            <button type="button" class="btn btn-primary pull-right" ng-click="saveExpense()">Save changes</button>
        </div>
    </div>
</div>
