<section id="main-content" class="animated fadeInRight" ng-controller="profitLoseController as vm">
	<!--- STATS -->
	<div class="row sales-stats">
		<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-md-3">
					<div class="panel widget-comments widget-mini">
						<div class="panel-body redBox">
							<i class="fa fa-usd"></i>
							<span class="total text-center">{{vm.estimatiedProfitCount | number : 2}}</span>
							<span class="title text-center">Estimated Income</span>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="panel panel-pending-stats widget-mini">
						<div class="panel-body orangeBox">
							<i class="fa fa-usd"></i>
							<span class="total text-center">{{vm.actualProfitCount | number : 2}}</span>
							<span class="title text-center">Actual Income</span>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="panel panel-pending-stats widget-mini">
						<div class="panel-body blueBox">
							<i class="fa fa-usd"></i>
							<span class="total text-center">{{vm.losesCount | number : 2}}</span>
							<span class="title text-center">Expenses</span>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="panel widget-comments widget-mini">
						<div class="panel-body greenBox">
							<i class="fa fa-usd"></i>
							<span class="total text-center">{{vm.incomeCount | number : 2}}</span>
							<span class="title text-center">Profit</span>
						</div>
					</div>
				</div>


            </div>
        </div>
    </div>
    <div class="row profit-losses-date" id="profit-losses-date">
            <div class="col-md-2 col-lg-2 col-xs-1 col-sm-1">
                <button ng-click="vm.prevMonth()" class="btn btn-success button-prev-month">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    Previous month
                </button>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-3 col-sm-3">
                <!-- <label for="datefield">Date From</label> -->
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup="mediumDate"
                       ng-model="vm.dates.from"
                       is-open="openedFrom"
                       ng-click="openedFrom = !openedFrom"
                       datepicker-options="vm.date.options"
                       close-text="Close"
                       ng-change="vm.dates.to = vm.dates.from; vm.initProfitAndLossData()"/>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-3 col-sm-3">
                <input max-date="maxDate"
                       type="text"
                       class="form-control"
                       is-open="openedTo"
                       uib-datepicker-popup="mediumDate"
                       id="dateTo"
                       ng-model="vm.dates.to"
                       ng-click="openedTo = !openedTo"
                       datepicker-options="vm.date.options"
                       close-text="Close"
                       ng-change="vm.initProfitAndLossData()"/>
            </div>
            <div class="col-md-2 col-lg-2 col-xs-1 col-sm-1">
                <button ng-click="vm.nextMonth()" class="btn btn-success button-next-month">
                    Next month
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-2 col-sm-2">
                <button class="btn btn-primary pull-right" ng-click="vm.createExpense()">
                    Create expense
                </button>
            </div>

	</div>

	<!--- Table -->
	<div class="row">
		<div class="busyoverlay" ng-show="vm.busy">
			<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
						r="30"></circle>
			</svg>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
			<div ng-show="!vm.busy"
				 cc-profit-datatable
				 profits="vm.profits"
				 date-from="vm.dates.from"
				 date-to="vm.dates.to"
				 meta="vm.meta"
				 current-page="vm.currentPage"
                 dt-options="vm.dtOptions"
				 init-profit-and-loss-data="vm.initProfitAndLossData">
			</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
			<div ng-if="!vm.busy"
				 cc-lose-datatable
				 expenses="vm.expenses"
				 sum-paycheck="vm.sumPaycheck"
				 date-from="vm.dates.from"
				 date-to="vm.dates.to"
				 init-profit-and-loss-data="vm.initProfitAndLossData">
			</div>
		</div>
	</div>

</section>
