include ../../../../../default.pug
include ../../../../newInventories/directive/aside/aside.pug
include ../../../../newInventories/directive/button/button.pug

+b.inventory-setting
	md-toolbar.md-hue-2
		.md-toolbar-tools
			+e('h2').toolbar-label(flex='', md-truncate='') Inventory
			md-input-container.search-input()
				label Search
				input(ng-model="searchText" ng-change="doSearch()" md-no-asterisk)
			md-switch(ng-model="inventorySetting.showItemsInFilter" aria-label="Show all items in one page" ng-change="saveSettings()" style="display: none")
				| Show all items in one page
			md-button.md-raised.md-warn(ng-if='false' create-package create-call-back="createPackageCallBack" mode="create") Add package
			md-button.md-raised.md-warn(ng-if="state == 10000" inventory-create-room create-call-back="createRoomCallBack" mode="create") Add room
			md-button.md-raised.md-warn(ng-if="state == 10000" inventory-create-filter create-call-back="createFilterCallBack" mode = 'create' rooms="rooms") Add filter
			md-button.md-raised.md-warn(ng-if="state == 10000" inventory-create-item create-call-back="createItemCallBack" mode = 'create' filters = "filters") Add inventory item
			md-button.md-raised.md-warn(ng-if="state == 10000" inventory-create-box create-call-back="createItemCallBack" mode = 'create' filters = "filters") Add box
	+e.progress
		md-progress-linear(md-mode="query" ng-show="busy")
	+e('md-tabs').tabs(md-dynamic-height md-border-bottom md-selected="selectedTabIndex")
		md-tab(label="Inventory"  ng-click="state = 10000" md-on-select="initScroll()")
			+e.row(ng-if="state == 10000")
				+e.wraper-aside
					+e.aside
						+b.aside-new.js-aside
							+e('ul').dragula(dragula='"inventory-room"' dragula-model="rooms")
								+e('li').wrap-aside(ng-repeat="room in rooms"
									id="{{'room_' + room.room_id}}").js-aside-wrap-desk.dragula-room
									+e.nav.js-aside-nav(
									ng-click="openRoom(room)"
									ng-class="{'aside-new__wrap-aside_state_opened' : room.opened}"
									)
										+e('img').icon(ng-src="{{ room.image_link }}").dragula-room-img
										+e.title.dragula-room-title
											| {{ room.name }}
										+e.edit
											md-button.md-icon-button(inventory-create-room room="room" mode="edit" create-call-back="updateRoomCallBack" ng-click="showTabDialog($event, room)" aria-label='edit')
												ng-md-icon(icon="mode_edit" style="fill: #000" size="16")
									+e.items.js-aside-items(ng-class="{'aside-new__items_state_opened' : room.opened}")
										+e.link(
										href=jv0
										inventory-create-filter
										create-call-back="createFilterCallBack"
										mode = 'create'
										room="{{room.room_id}}"
										rooms="rooms"
										).js-.-inner.js-aside-item
											+e.item
												| Create filter
												+e.count_item

										+e.link(ng-show="room.opened && room.filters")
											+e('ul')(dragula='"inventory-filter"' dragula-model="room.filters").dragula
												+e('li').link(
												href=jv0
												ng-repeat="item in room.filters track by $index"
												ng-click="setFilter(item, room.filters)"
												ng-class="{'aside-new__link_state_active' : item.active}"
												).js-aside-inner.js-aside-item
													+e.item.js-filter-item
														+e.item-title
															| {{item.name}}
														+e.edit-item
															md-button.md-icon-button( inventory-create-filter create-call-back="createFilterCallBack" mode = 'edit' rooms="rooms" filter="item" aria-label='edit')
																ng-md-icon(icon="mode_edit" style="fill: #000" size="16")
				+e.wraper
					+e.inventory-items
						+e('ul').inventory-items-container(dragula='"inventory-item"' dragula-model="inventoryItems")
							+e('li').inventory-item(ng-repeat="item in inventoryItems")
								+e.inventory-item-content(setting-inventory-item filters="filters" inventory-data="item")

		md-tab(ng-if='false' ng-click="setState(package.package_id)" ng-repeat="package in packages" md-on-select="initScroll()")
			md-tab-label
				+e.tab-title
					| {{ package.name }}
				+e.edit-button
					md-button.md-icon-button(create-package inventory-package="package" create-call-back="createPackageCallBack" mode="edit")
						ng-md-icon(icon="mode_edit" style="fill: #000" size="16")
			md-tab-body
				+e.package( ng-if="state == package.package_id" )
					+e.inventory(inventories package-id="{{ package.package_id }}")
