.inventory-setting
	display: flex;
	flex-wrap wrap
	background #fff
	width 98%
	height 98%
	margin-top 1%
	margin-left 1%
	border 1px solid #ddd
	border-radius 5px 5px 0px 0px
	overflow hidden

	.search-input, .search-input.md-input-focused, .search-input.md-input-has-value
		label
			color #e2e4f1
			position static
			margin-bottom -8px
			font-weight normal
		.md-input
			color #e2e4f1
			border-color #e2e4f1
			border-bottom-width 1px

	md-table-container
		width 100%

	&__tab-title
		margin-right 20px
	&__edit-button
		font-size 16px
		margin-top 6px
		opacity 0
		transition 0.2s all
		position absolute
		top 0
		right 0
		width 100%
		justify-content flex-end
		display flex
		z-index 10
		
		&:hover
			opacity 1
			
	&__toolbar-label
		color rgba(255,255,255,0.87)
	&__tabs
		width 100%

	&__progress
		width 100%
		height 1px
		
	&__fullscreen
		width 100%
		height 100%
		margin-top 0

	&__button
		padding 5px 15px
		height 30px
		padding 5px
		font-weight 600
		font-size 14px
		border none
		background-color #45AAF9
		color #fff
		text-transform uppercase
		margin-top -7px

	&__title
		margin-top 60px

	&__wraper
		width 100%
		height 72vh
		overflow-y auto
		overflow-x hidden
		
	&__wraper-aside
		min-width 245px
		width  245px
		height 72vh
		overflow-y auto
		overflow-x hidden
		
		&_auto-height
			height auto

	&__aside
		width 245px
		.aside-new
			&__dragula
				padding-left 20px
				width 100%
			&__wrap-aside
				border-color red
			&__nav
				display flex
				flex-direction row
				align-items center
				flex-wrap nowrap
				img
					width 32px
					height 32px
			&__title
				width 100%
				padding 5px 0
				display flex
				flex-direction row
				min-height 32px
				margin-left 20px
			&__edit
				display flex
				flex-direction
				button
					margin-right 14px
			&__edit-item
				margin-right 10px
				position static
				margin-top -5px
				height 40px
				width 40px

			&__link
				color black
				font-size 15px
				display flex
				flex-direction row
				margin-top 5px
				width 100%
				&_state_active
					color #900
					font-weight 700
			&__items
				margin-left 32px
			&__item
				height min-content
				display flex
				flex-direction row
				width 100%
				&-title
					width 100%

		

	&__table
		width 98%
		margin-top 10px
		border 1px #999 solid

	&__table-row
		height 35px
		border-top: 1px solid #eee

	&__table-cell
		padding 0 6px 0 6px
		&_center
			text-align center

	&__side-bar
		width 200px
		background #eee
	&__search
		color #000
		height 30px
		padding 5px
		margin-top -3px
		border solid 1px #aaa
		border-radius 2px

	&__new-item
		width $invWidth
		height 170px
		background #fff

	&__item
		display flex
		flex-wrap wrap
		align-content flex-start
		background #eee
		padding 1px


		&_custom
			display flex
			flex-direction row
			flex-wrap nowrap
			width 98%
			
			height 56px
			border 1px solid #000
			align-items center
			justify-content center
			align-self flex-start

			input
				height 40px
				width 120px
				margin-left 20px
				padding 5px

		&_novalid
			border 1px solid red
		&_focus
			border 1px solid #909000

	&__toolbar
		display flex
		height 50px
		padding 10px
		padding-top 0
		padding-bottom 30px
		color #000
		width 100%
		font-size 14px
		justify-content flex-end
		border-bottom 1px solid #ddd
	&__group
		display flex
		flex-wrap wrap
		align-content flex-start
		width 100%

	&__group-title
		width 100%
		height 40px
		padding 10px
		background #2392BA
		color #fff
		text-align center
	&__toolbar-item
		display flex
		font-weight 600
		z-index 10
	&__row
		display flex
		width 100%
		margin-bottom 15px

		&_hidden
			height 0
		&_curren-room
			width: 99%

		&_absolute
			position absolute
			overflow hidden
			background #fff
			z-index 100
			box-shadow 0px 0px 20px 0px #aaa
			transition all 0.3s
			max-height 72vh
			width 97%
			
		&_toolbar
			position absolute
			padding-right 25px
			border none

	&__inventory-items
		width 100%
		margin-left 10px
		margin-right 10px
		padding 2px
		overflow none
		display flex
		flex-wrap wrap
		align-content flex-start

	&__inventory-items-container
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content flex-start
		list-style-type none
		padding 0

	&__inventory-item
		background #eee
		padding 1px
		flex-basis 280px

	&__inventory-item-content
		width 100%

.dragula-room.gu-mirror
	img
		display inline-block
		width 32px
		height 32px
	.dragula-room-title
		font-weight 600
		display inline-block
		margin-left 20px
	button
		display none

