mixin print-loading-receipt()
    .loading-receipt
        .loading-receipt__head
            .loading-receipt__title Loading Receipt
            .loading-receipt__date {{dateNow | date: 'EEEE, MMMM d, yyyy'}}
        .loading-receipt__company-name {{::company.name}}
        .loading-receipt__trip
            .loading-receipt__trip-left-box
                .loading-receipt__trip-data ATTENTION: Accounting
                .loading-receipt__trip-data {{::company.address}}
                .loading-receipt__trip-data
                .loading-receipt__trip-data
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold Trip Code:
                    .loading-receipt__trip-data-line &nbsp {{ tripPrintData.data.trip_id}}
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold Carrier:
                    .loading-receipt__trip-data-line &nbsp {{ tripPrintData.data.carrier.name}}
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold Load Date:
                    .loading-receipt__trip-data-line &nbsp {{ tripPrintData.data.details.date_start * 1000 | date:'MMMM dd yyyy'}}
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold Driver:
                    .loading-receipt__trip-data-line &nbsp {{ tripPrintData.data.carrier.driver_name}}
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold Phone:
                    .loading-receipt__trip-data-line &nbsp {{ tripPrintData.data.carrier.driver_phone | nationalPhoneFormatter}}

            .loading-receipt__trip-right-box
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold Phone:
                    | &nbsp {{ ::company.phone | nationalPhoneFormatter}}
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold E-mail:
                    | &nbsp {{ ::company.email}}
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold Prepared by:
                    | &nbsp {{ ::currentUserName}}
                .loading-receipt__trip-data
                .loading-receipt__trip-data
                    .loading-receipt__trip-data_bold Bill To:
                    | &nbsp {{ tripPrintData.data.carrier.name}}
                .loading-receipt__trip-data(ng-repeat='phone in tripPrintData.data.carrier.phones track by $index ')
                    .loading-receipt__trip-data_bold
                        span(ng-if='$first') Phone
                        .loading-receipt__phone-space(ng-if='!$first')
                    | &nbsp {{ phone | nationalPhoneFormatter}}
        .loading-receipt__jobs
            table.loading-receipt-table(print-table="jobs")
                thead.loading-receipt-table__head
                    tr.loading-receipt-table__head-row
                        td.loading-receipt-table__head-item Job No
                        td.loading-receipt-table__head-item Customer
                        td.loading-receipt-table__head-item Destination
                        td.loading-receipt-table__head-item Volume
                        td.loading-receipt-table__head-item Rate
                        td.loading-receipt-table__head-item Job Cost
                        td.loading-receipt-table__head-item Advanced
                        td.loading-receipt-table__head-item Job Total
                        td.loading-receipt-table__head-item Job Balance
                        td.loading-receipt-table__head-item TP Collect
                        td.loading-receipt-table__head-item Balance
                tbody.loading-receipt-table__body
                    tr.loading-receipt-table__body-row(ng-repeat='job in jobs')
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_left-text {{ job.job_id}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_left-text {{ job.owner}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_left-text {{ job.address_to}} {{ job. to_a_city}}, {{job.to_a_state}} {{job.to_a_zip}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_right-text {{ job.volume_cf}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_right-text {{ job.rate_per_cf | currency}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_right-text {{ job.job_cost | currency}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_right-text {{ job.services_total | currency}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_right-text {{ job.job_total | currency}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_right-text {{ job.to_receive | currency}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_right-text {{ job.tp_collected | currency}}
                        td.loading-receipt-table__body-item.loading-receipt-table__body-item_right-text {{ job.balance | currency}}
                tfoot.loading-receipt-table__foot
                    tr.loading-receipt-table__foot-row
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_left-text(colspan='3') Total:
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_right-text(ng-bind='jobsTotal.volume_cf')
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_right-text
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_right-text(ng-bind='jobsTotal.job_cost | currency')
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_right-text(ng-bind='jobsTotal.services_total | currency')
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_right-text(ng-bind='jobsTotal.job_total | currency')
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_right-text(ng-bind='jobsTotal.to_receive | currency')
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_right-text(ng-bind='jobsTotal.tp_collected | currency')
                        td.loading-receipt-table__foot-item.loading-receipt-table__foot-item_right-text(ng-bind='jobsTotal.balance | currency')
        .loading-receipt__footer
            .loading-receipt__signature
                | Drivers Signature
                .loading-receipt__signature-line
            .loading-receipt__notes
                .loading-receipt__notes-title NOTES
                .loading-receipt__notes-content
                    div(ng-bind-html = 'printNotes')
                    .loading-receipt__notes-line
                    .loading-receipt__notes-line
                    .loading-receipt__notes-line
                    .loading-receipt__notes-line
