.loading-receipt
  flex-direction: column
  justify-content: flex-start
  align-items: center
  font-size 70%
  &__head
    display block
    width 90%
    margin auto
    margin-top 10mm
    height 6mm
    border-bottom 0.1mm solid black
  &__title
    font-size 120%
    font-weight 600
    width 50%
    display inline-block
    text-align left
  &__date
    width 50%
    display inline-block
    text-align right
  &__company-name
    display block
    width 90%
    margin auto
    font-size 120%
    font-weight 600
  &__trip
    width 90%
    display flex
    flex-wrap wrap
    justify-content space-between
    margin auto
    margin-top 10mm
    min-height 24mm
    //border 0.2mm solid black
  &__trip-left-box
    display inline-block
    flex-basis 30%
  &__trip-right-box
    display inline-block
    flex-basis 30%
  &__trip-data
    //padding 1mm 0 0 2mm
    display inline-block
    height 4mm
    width 100%
  &__trip-data-line
    position absolute
    left 35mm
    border-bottom 0.1mm solid black
    width 30mm
    display inline-block
  &__trip-data_bold
    display inline-block
    font-weight 600
  &__jobs
    width 90%
    margin auto
    margin-top 10mm
  &__footer
    width 90%
    margin auto
    margin-top 10mm
    display flex
  &__signature
    flex-basis 30%
  &__notes
    flex-basis 70%
    border 0.1mm solid black
  &__notes-title
    display block
    border-bottom 0.1mm solid black
    text-align center
    font-weight 600
  &__notes-content
    padding 2mm
  &__signature-line
    display inline-block
    width 50%
    margin-left 2mm
    border-bottom 0.1mm solid black
  &__notes-line
    display block
    width 80%
    height 5mm
    border-bottom 0.1mm solid black
  &__notes-line-title
    margin-top 3mm
  &__phone-space
    display inline-block
    width 9mm
.loading-receipt-table
  width 100%
  border-collapse collapse
  border 0.1mm solid black
  &__head
    font-weight 600
    text-align center
  &__head-item
    border 0.1mm solid black
  &__body-item
    border 0.1mm solid black
    &_left-text
      text-align left
      padding-left 1mm
    &_right-text
      text-align right
      padding-right 1mm
  &__foot-item
    border 0.1mm solid black
    font-weight 600
    &_left-text
      text-align left
      padding-left 1mm
    &_right-text
      text-align right
      padding-right 1mm

