<section id="main-content" ng-controller="Clients as vm" class="animated fadeInRight">
    <div ng-show="vm.busy">
        <img src="/core/assets/images/loading.gif" class="busy-symbol">
    </div>
    <div class="row" ng-class="{'disabled': vm.busy}">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>
                        <input ng-model="searchEmail"
                               style="border:none"
                               placeholder="CLIENT SEARCH "
                               ng-change="typing = true;">
                        <button id="gSearchButton"
                               ng-click="vm.searchClient(searchEmail)"
                               type="submit"
                               ng-show="typing"
                               class="btn btn-sm btn-search">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    <div class="actions pull-right">
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="clients table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-uid="{{client.uid}}" data-row="{{row}}" ng-repeat="(row,client) in vm.clients">
                            <td class="title">{{client.field_user_first_name}} {{client.field_user_last_name}}</td>
                            <td>{{client.mail}}</td>
                            <td>{{client.field_primary_phone | nationalPhoneFormatter}}</td>
                            <td>
                                <button class="btn btn-default small" ng-click="vm.userEditModal(client)"
                                        title="Edit Client Info">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-info small" ng-click="vm.goToAccountPage(client)"
                                        title="View Client Page">
                                    <i class="icon-eye"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous" ng-class="{'disabled' : vm.currentPage==0}"
                                    aria-controls="example" tabindex="0" id="example_previous"><a
                                    ng-click="vm.previousPage()">Previous</a></li>
                                <li class="paginate_button next" aria-controls="example" id="clients_next"><a
                                    ng-click="vm.nextPage()">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
