<!-- Form Modal -->

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel"> Client </h4>
</div>
<div class="modal-body">
     <div ng-show="busy"><img src="../core/assets/images/loading.gif" class="busy-symbol"></div>
    <form class="form-horizontal" name="clientForm" role="form" ng-class="{'disabled': busy}">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input ng-model="client.field_user_first_name" type="text" class="form-control" placeholder="First Name">
            </div>
        </div>
          <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                 <input ng-model="client.field_user_last_name" type="text" class="form-control" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" ng-model="client.mail" er-lowercase class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input type="text"
                       phone-input
                       minlength="14"
                       maxlength="14"
                       ng-model="client.field_primary_phone"
                       class="form-control"
                       id="inputEmail3"
                       placeholder="Primary Phone">
            </div>
        </div>
           <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Add. Phone</label>
            <div class="col-sm-10">
                <input type="text"
                       phone-input
                       minlength="14"
                       maxlength="14"
                       ng-model="client.field_user_additional_phone"
                       class="form-control"
                       id="inputEmail3"
                       placeholder="Additional Phone">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Active</label>
             <div class="col-sm-10">

            <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                   ng-model="client.status"
                   id="checkOne" data-switchery="true" style="display: none;">
            </div>

        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="client.password"   id="inputPassword3" placeholder="Password">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-left" ng-click="delete(client)">Delete User</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="update(client)">Update</button>
</div>

<!-- End Form Modal -->
