<tr>
    <td colspan="{{::mainColspan}}">
        <p class="bold center">
            Total
            <span class="pull-right" style="color: #0889AF; cursor: pointer;" ng-click="showDiscountInContract()">
                <i ng-if="!showDiscount" class="fa fa-plus" aria-hidden="true"></i>
                <i ng-if="showDiscount" class="fa fa-minus" aria-hidden="true"></i>
            </span>
        </p>
    </td>
</tr>
<!-- tip -->
<tr ng-if="finance.tip && finance.tip !=0">
    <td colspan="3">
        <p class="bold">TIP:</p>
    </td>
    <td colspan="{{::partialColspan}}" ng-bind="getTips() | currency:$:2">
    </td>
</tr>
<tr ng-if="!contract_page.pushTips">
    <td colspan="3">
        <p class="bold">TIP:</p>
    </td>
    <td colspan="{{::partialColspan}}">
        $ <input type="number"
                 ng-model-options="{ debounce: 500 }"
                 ng-model="finance.tip"
                 ng-value="finance.tip"
                 ng-disabled="data.isSubmitted"
                 ng-change="saveContract({data:true});
                            saveReqDataInvoice();
                            sendContractLog({msgToLog: 'Tips changed on $'+finance.tip})"
                 ng-disabled="data.isSubmitted"/>
    </td>
</tr>
<!-- VALUTION -->
<tr ng-if="finance.valuation && finance.valuation != 0">
    <td colspan="3">
        <p class="bold">Valuation:</p>
    </td>
    <td colspan="{{::partialColspan}}">
        $ {{finance.valuation | number :2}}
    </td>
</tr>
<!-- FUEL SURHARGE -->
<tr>
    <td colspan="3">
        <p class="bold">Fuel surcharge:</p>
    </td>
    <td colspan="{{::partialColspan}}">
        $ <input type="number"
                 ng-model-options="{ debounce: 1000 }"
                 ng-change="saveContract({data:true});
                            saveReqDataInvoice({type: 'fuel'});
                            sendContractLog({msgToLog: 'Fuel surcharge changed on $'+finance.fuel})"
                 ng-model="finance.fuel"
                 ng-value="finance.fuel"
                 ng-disabled="data.isSubmitted"
                 style="width: 90%; display:inline-block"/>
    </td>
</tr>
<!-- Discount -->
<tr ng-if="showDiscount">
    <td colspan="3">
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4" style="padding: inherit;line-height: 2.5;">
                <p class="bold">Discount:</p>
            </div>
            <div class="col-md-8 col-xs-8 col-sm-8" style="padding: inherit;">
                <div ng-click="removeDiscount()"
                     class="pull-right"
                     style="line-height: 2.5;cursor:pointer;"
                     ng-show="data.discountUsed">
                    <i class="fa fa-times fa-2x" aria-hidden="true" style="vertical-align: middle;"></i>
                </div>
                <button class="btn btn-lg btn-success coupon-btn pull-right"
                        ng-click="openCouponModal()"
                        ng-disabled="data.discountUsed || data.isSubmitted">
                    <span ng-show="!data.discountUsed">Use coupon</span>
                    <span ng-show="data.discountUsed">Coupon used</span>
                </button>
            </div>
        </div>
    </td>
    <td colspan="{{::partialColspan}}" class="td-discount">
        $<input type="number"
                string-to-number=""
                ng-model-options="{ debounce: 500 }"
                ng-change="saveContract({data:true});saveReqDataInvoice()"
                ng-model="finance.discount"
                ng-value="finance.discount"
                ng-disabled="data.discountUsed || data.isSubmitted"
                style="width:40px; display:inline-block"/>

        <!-- Do not use ng-options here, it will bugging with pdf because op 'selected' attribute -->
        <select name=""
                id=""
                data-ng-disabled="data.discountUsed || data.isSubmitted"
                ng-model="data.discountType"
                ng-change="selectCoupon()"
                style="float: right;">
            <option ng-repeat="coupon in couponTypes track by $index"
                    value="{{coupon.value}}"
                    ng-selected="data.discountType == coupon.value">
                {{coupon.name}}</option>
        </select>
    </td>
</tr>
<tr ng-if="finance.moneyDiscount">
    <td colspan="3">
        <p class="bold">Money Discount:</p>
    </td>
    <td colspan="{{::partialColspan}}">
        <span>$</span><input hide-field-discount-before-print type="number"
                 ng-model-options="{ debounce: 500 }"
                 ng-change="saveContract({data:true});
                            saveReqDataInvoice();
                            sendContractLog({msgToLog: 'Money Discount changed on $'+finance.moneyDiscount})"
                 ng-model="finance.moneyDiscount"
                 ng-disabled="data.isSubmitted"/>
        <span class="show-me-when-print" style="display: none;">{{finance.moneyDiscount}}</span>
    </td>
</tr>
<tr ng-if="finance.percentDiscount">
    <td colspan="3">
        <p class="bold">Percent Discount:</p>
    </td>
    <td colspan="{{::partialColspan}}">
        <input type="number"
                 ng-model-options="{ debounce: 500 }"
                 ng-change="saveContract({data:true});
                            saveReqDataInvoice();
                            sendContractLog({msgToLog: 'Percent Discount changed on $'+finance.percentDiscount})"
                 ng-model="finance.percentDiscount"
                 ng-disabled="data.isSubmitted"/>%
    </td>
</tr>

<!-- credit charge -->
<tr ng-if="contract_page.paymentTax.customTax.state">
    <td colspan="3">
        <p class="bold">
            {{contract_page.paymentTax.customTax.text}}
        </p>
    </td>
    <td colspan="{{::partialColspan}}">
        {{contract_page.paymentTax.customTax.value}}%
        <span class="pull-right">$ {{finance.customTax | number : 2}}</span>
    </td>
</tr>
<tr ng-if="contract_page.paymentTax.creditCharge.state">
    <td colspan="3">
        <p class="bold">
            Credit Card processing fee:
        </p>
    </td>
    <td colspan="{{::partialColspan}}">
        {{contract_page.paymentTax.creditCharge.value}}%
        <span class="pull-right">$ {{finance.creditTax | number : 2}}</span>
    </td>
</tr>
<tr ng-if="contract_page.paymentTax.cashCharge.state">
    <td colspan="3">
        <p class="bold">
            Cash (discount):
        </p>
    </td>
    <td colspan="{{::partialColspan}}">
        {{contract_page.paymentTax.cashCharge.value}}%
        <span class="pull-right">
            $ {{finance.cashDiscount | number : 2}}
        </span>
    </td>
</tr>
<tr ng-if="contract_page.paymentTax[option.name].state && contract_page.paymentOptions[countBasePayment+$index].selected
           || finance.customPayments[option.name].value"
    ng-repeat="option in contract_page.paymentOptions | limitTo : countCustomPayment:countBasePayment">
    <td colspan="3">
        <p class="bold" ng-bind="option.name"></p>
        <span class="bold">processing fee</span>
    </td>
    <td colspan="{{partialColspan}}">
        <span>{{contract_page.paymentTax[option.name].value}}%</span>
        <span class="pull-right">
            $ {{finance.customPayments[option.name].value || 0 | number : 2}}
        </span>
    </td>
</tr>

<!-- local moves total cost -->
<tr ng-if="type == 'localMoves'">
    <td colspan="3" ng-init="grandTotal = totalCost()">
        <p class="bold" ng-bind="contract_page.editableFields.totalCost"></p>
    </td>
    <td colspan="2">
        $ {{ totalCost() | number: 2 }}
    </td>
</tr>

<!-- flat rate moves total cost -->
<tr ng-if="type == 'flatRate'">
    <td colspan="3" ng-init="grandTotal = totalFlatRateClosing()">
        <p class="bold" ng-bind="contract_page.editableFields.totalCost"></p>
    </td>
    <td colspan="3">
        $ {{ totalFlatRateClosing() | number: 2 }}
    </td>
</tr>

<!-- receive id -->
<tr>
    <td colspan="3">
        <p class="bold" ng-bind="contract_page.editableFields.reservationReceivid"></p>
    </td>
    <td colspan="{{::partialColspan}}">
        <span ng-if="finance.deposit != 0 && finance.deposit ">
            $ (-{{finance.deposit | number: 2}})
        </span>
        <span ng-if="finance.deposit == 0 || !finance.deposit ">
            $  {{ 0 | number: 2}}
        </span>
    </td>
</tr>

<!-- less deposit -->
<tr>
    <td colspan="3">
        <p class="bold" ng-if="type == 'localMoves' || data.isSubmitted"
           ng-bind="contract_page.editableFields.totalLessDepositReceived">
        </p>
        <p class="bold" ng-if="type == 'flatRate' && !data.isPickupSubmitted && !data.isSubmitted">
            Pickup balance less deposit received
        </p>
        <p class="bold" ng-if="type == 'flatRate' && data.isPickupSubmitted && !data.isSubmitted">
            Delivery balance less deposit received
        </p>
    </td>
    <td colspan="{{::partialColspan}}" ng-class="{'red_total': totalLessDeposit() }">
        $ {{ totalLessDeposit() | number : 2 }}
    </td>
</tr>

<!-- total balance paid -->
<tr>
    <td colspan="3">
        <p class="bold" ng-bind="contract_page.editableFields.totalBalancePaid"></p>
    </td>
    <td colspan="{{::partialColspan}}"  ng-class="{'green_total': balance_paid != 0 }">
        $ {{balance_paid | number : 2 }}
        <span style="color: #0889AF;font-weight: bold;float: right; cursor: pointer;" ng-click="showPayment();">
            Show Payments
        </span>
    </td>
</tr>

<!-- balance due at delivery -->
<tr ng-if="request.service_type.value == 7">
    <td colspan="3">
        <p class="bold">
            Balance due at delivery:
        </p></td>
    <td colspan="{{::partialColspan}}">
        $ {{ finance.balanceDueAtDelivery }}
    </td>
</tr>
