iframe(ng-src="{{url}}") Your Browser doesn't support iframes. Please install <a href="https://www.google.com/chrome/">Chrome</a> or <a href="https://www.mozilla.org/en-US/">Mozilla</a> browser.
i.icon-close.closeModal(ng-click="$close()")