.arrivyButton
	background-image url("https://www.arrivy.com/images/logo-dark.png")
	background-size cover
	width 20px
	margin-left 15px
	height 27px
	display inline-block
	vertical-align middle

.arrivyModal_windowClass
	.modal-dialog
		width 100%
		height 100%
		padding 25px
		padding-top 20px
		padding-bottom 10px
		margin 0 0 0 0
		.modal-content
			width 100%
			height 100%
			border-width 40px 10px 10px 10px
			border-color rgba(255, 255, 255, 0.9)
			iframe
				border-width 0px
				width 100%
				height 100%
			.closeModal
				position fixed
				top 25px
				right 50px
				color #b70000
				font-size 30px
				cursor pointer