<section id="main-content" class="animated fadeInRight"  packing-service>
    <div ng-show="busy" style="position: absolute;margin-top: 10px;">
        <svg class="spinner"  width="15px" height="15px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="row" ng-class="{'disabled': busy}" ng-if="packingSettings.length != 0">
        <div class="col-md-12">
            <div class="ibox-content">
                 <div class="ibox-title">
                    <h3 class="font-bold no-margins">Packing</h3>
                </div>
                <div class="">
                    <table class="mdDataTable clients table table-striped">
                        <thead>
                        <tr style="background: #fff;">
                            <th>Name</th>
                            <th ng-if="request.service_type.raw != '5' && request.service_type.raw != '7'">Unit Cost</th>
                            <th ng-if="request.service_type.raw == '5' || request.service_type.raw == '7'">Unit Cost</th>
                            <th ng-if="packing.labor" class="" ng-hide="request.service_type.raw != '5' && request.service_type.raw != '7'">
                                <span ng-if="request.service_type.raw == '5' || request.service_type.raw == '7'">
                                    Labor Rate
                                </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="setting in packingSettings"
                            ng-class="{'active_row': activeRow === $index}"
                            ng-click="activeRow = $index; prepareToDelete($index)"
                            ng-dblclick="addService(setting, $index)" style="cursor: pointer;">
                            <td>{{::setting.name}}</td>
                            <td ng-if="request.service_type.raw != '5' && request.service_type.raw != '7'">$ {{::setting.rate | number : 2}}</td>
                            <td ng-if="request.service_type.raw == '5' || request.service_type.raw == '7'">
                                <span ng-if="setting.LDRate">
                                    $ {{::setting.LDRate | number : 2}}
                                </span>
                            </td>
                            <td ng-if="packing.labor" class="" ng-hide="request.service_type.raw != '5' && request.service_type.raw != '7'">
                                <span ng-if="request.service_type.raw == '5' || request.service_type.raw == '7'">
                                    $ {{::setting.laborRate | number : 2}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="packingSettings.length == 0">
        <div class="col-md-12">
            <div  style="text-align: center;">
                <h3>No packings</h3>
            </div>
        </div>
    </div>
</section>

