  <div class="view-mail-header account panel panel-default">
                 <div class="panel-body">

                        <div class="col-md-3 nopadding">
                            <img src="./content/img/user_pic.jpg" alt="" class="img-triangle" width="55" height="55">

                        </div>
                        <div class="col-md-9 nopadding">
                               <h1>{{client.field_user_first_name}} {{client.field_user_last_name}}</h1>
                            <div class="client_mail"><i class="fa fa-fw fa-envelope-o"></i><span class="text-muted">{{client.mail}}</span></div>
                            <div class="client_phone">
                              <i class="fa fa-mobile"></i>
                              <span class="text-muted"> {{client.field_primary_phone | nationalPhoneFormatter}}</span> </div>
                            <div  class="client_additional_phone" ng-if="client.field_user_additional_phone">
                               <i class="fa fa-mobile"></i>
                                <span class="text-muted"> {{client.field_user_additional_phone | nationalPhoneFormatter}}</span></div>


                            <div class="edit-link" ng-click="userEditModal(client)"></div>

                        </div>

                </div>
 </div>

