@import "../../../../node_modules/angular-material/angular-material.css";
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/eot/30C0FC_6_0.eot");
  src: url("../fonts/eot/30C0FC_6_0.eot?#iefix") format('embedded-opentype'), url("../fonts/woff2/30C0FC_6_0.woff2") format('woff2'), url("../fonts/woff/30C0FC_6_0.woff") format('woff'), url("../fonts/ttf/30C0FC_6_0.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/eot/30C0FC_7_0.eot");
  src: url("../fonts/eot/30C0FC_7_0.eot?#iefix") format('embedded-opentype'), url("../fonts/woff2/30C0FC_7_0.woff2") format('woff2'), url("../fonts/woff/30C0FC_7_0.woff") format('woff'), url("../fonts/ttf/30C0FC_7_0.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/eot/30C0FC_4_0.eot");
  src: url("../fonts/eot/30C0FC_4_0.eot?#iefix") format('embedded-opentype'), url("../fonts/woff2/30C0FC_4_0.woff2") format('woff2'), url("../fonts/woff/30C0FC_4_0.woff") format('woff'), url("../fonts/ttf/30C0FC_4_0.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/eot/30C0FC_5_0.eot");
  src: url("../fonts/eot/30C0FC_5_0.eot?#iefix") format('embedded-opentype'), url("../fonts/woff2/30C0FC_5_0.woff2") format('woff2'), url("../fonts/woff/30C0FC_5_0.woff") format('woff'), url("../fonts/ttf/30C0FC_5_0.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: '21 Cent';
  src: url("../fonts/eot/30C0FC_3_0.eot");
  src: url("../fonts/eot/30C0FC_3_0.eot?#iefix") format('embedded-opentype'), url("../fonts/woff2/30C0FC_3_0.woff2") format('woff2'), url("../fonts/woff/30C0FC_3_0.woff") format('woff'), url("../fonts/ttf/30C0FC_3_0.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: '21 Cent';
  src: url("../fonts/eot/30C0FC_2_0.eot");
  src: url("../fonts/eot/30C0FC_2_0.eot?#iefix") format('embedded-opentype'), url("../fonts/woff2/30C0FC_2_0.woff2") format('woff2'), url("../fonts/woff/30C0FC_2_0.woff") format('woff'), url("../fonts/ttf/30C0FC_2_0.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: '21 Cent';
  src: url("../fonts/eot/30C0FC_0_0.eot");
  src: url("../fonts/eot/30C0FC_0_0.eot?#iefix") format('embedded-opentype'), url("../fonts/woff2/30C0FC_0_0.woff2") format('woff2'), url("../fonts/woff/30C0FC_0_0.woff") format('woff'), url("../fonts/ttf/30C0FC_0_0.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: '21 Cent';
  src: url("../fonts/eot/30C0FC_1_0.eot");
  src: url("../fonts/eot/30C0FC_1_0.eot?#iefix") format('embedded-opentype'), url("../fonts/woff2/30C0FC_1_0.woff2") format('woff2'), url("../fonts/woff/30C0FC_1_0.woff") format('woff'), url("../fonts/ttf/30C0FC_1_0.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(255,255,255,0);
  cursor: default;
}
body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  background: transparent;
}
*:focus,
*:active,
*:hover {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
}
ol,
ul {
  list-style: none;
}
pre {
  tab-size: 4;
  white-space: pre-wrap;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
img {
  border: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
input,
select,
textarea {
  border-radius: 0;
  box-shadow: none;
}
input,
textarea {
  resize: none;
  user-select: text;
}
[placeholder]:focus::placeholder {
  color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.aside {
  width: 245px;
}
.aside__wrap-aside {
  font-size: 0;
  margin-top: 10px;
}
.aside__wrap-aside_state_opened {
  margin-bottom: 12px;
  background: #dedede;
}
.aside__wrap-aside_state_opened .aside__title {
  font-weight: 700;
}
.aside__wrap-aside_state_opened .aside__items {
  height: initial;
  opacity: 1;
  transform: scale(1);
}
.aside__nav {
  cursor: pointer;
  margin-left: 10px;
}
.aside__items {
  overflow: hidden;
  height: 0;
  margin-left: 20px;
  transition: opacity 0.3s, height 0.3s, overflow 0.3s;
  backface-visibility: hidden;
  will-change: opacity, height, overflow;
}
.aside__title {
  padding-y: 16px;
  margin-left: 42px;
  line-height: 32px;
  font-family: 'Geometria', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
}
.aside__count {
  float: right;
  margin-right: 30px;
  font-size: 16px;
}
.aside__count_item {
  font-size: 13px;
  font-weight: normal;
}
.aside__link {
  display: block;
  text-decoration: none;
}
.aside__link_state_active {
  cursor: default;
  pointer-events: none;
}
.aside__link:not(:last-child) {
  padding-bottom: 17px;
}
.aside__item {
  font-family: 'Geometria', sans-serif;
  font-size: 13px;
  color: #000;
  margin-left: 20px;
}
.aside__link_state_active .aside__item {
  color: #900;
  font-weight: bold;
}
.aside__icon {
  width: 25px;
  height: 25px;
  float: left;
}
.button {
  position: relative;
  padding-x: 10px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  min-width: 60px;
  height: 37px;
  font-family: 'Geometria', sans-serif;
  line-height: 35px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
  background-color: #333;
  border: 1px solid #333;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
below(1199px)
}
.button:hover {
  background-color: #484848;
  border-color: #484848;
}
.button__text {
  position: relative;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.3s;
}
.button_width_auto {
  width: initial;
  min-width: 170px;
below(1023px)
}
.button_style_margin {
  margin-left: 20px;
  margin-right: 20px;
}
.button_style_transparent {
  background-color: transparent;
}
.button_style_transparent.button_hover_disable:hover {
  background-color: transparent;
}
.button_style_transparent .button__text {
  color: #333;
}
.button_style_transparent:hover .button__text {
  color: #fff;
}
.button_style_transparent.button_hover_disable:hover .button__text {
  color: #333;
}
.button_style_search {
  min-width: 37px;
  height: 37px;
  background-color: transparent;
  border: none;
below(1199px)
below(1023px)
}
.button_style_search:hover {
  background-color: transparent;
  border: none;
}
.button_style_search .button__icon_find {
  vertical-align: middle;
}
.button_style_search-result {
  min-width: 37px;
  height: 37px;
  background-color: transparent;
  border: none;
below(1199px)
}
.button_style_search-result:hover {
  background-color: transparent;
  border: none;
}
.button_style_search-result .button__icon_find {
  vertical-align: middle;
}
.button_style_filter-search {
  size: 37px;
  line-height: normal;
  background-color: transparent;
  border: none;
}
.button_style_filter-search:hover {
  background-color: transparent;
  border: none;
}
.button_style_filter-search .button__icon_find {
  vertical-align: middle;
}
.button_style_search-close {
  padding-top: 7px;
  display: none;
  min-width: 37px;
  height: 61px;
  background-color: transparent;
  border: none;
below(1199px)
below(1023px)
}
.button_style_search-close:hover {
  background-color: transparent;
  border: none;
}
.button_style_search-close:before,
.button_style_search-close:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 20px;
  content: '';
  background-color: #000;
}
.button_style_search-close:before {
  transform: rotate(45deg);
}
.button_style_search-close:after {
  transform: rotate(135deg);
}
.button__icon_find {
  width: 20px;
  height: 20px;
}
.button_disabled {
  pointer-events: none;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.button_disabled:hover {
  color: #000;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.button:disabled {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.button:disabled:hover {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.button:disabled .button__text {
  color: #888;
}
.button:disabled:hover .button__text {
  color: #888;
}
.button_style_border {
  outline: 1px solid #fff;
}
.inventory-item {
  background: #fff;
  padding: 2px;
  padding-top: 8px;
}
.inventory-item__icon {
  width: 25px;
  height: 25px;
}
.inventory-item__item {
  width: 100%;
  height: 170px;
}
.inventory-item__item-image {
  width: 110px;
  height: 110px;
}
.inventory-item__title {
  display: block;
  float: right;
  width: 82px;
  font-size: 14px;
}
.inventory-item__col {
  padding: 10px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Geometria', sans-serif;
}
.counter__button {
  size: 28px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  outline: none;
  width: 28px;
  height: 28px;
}
.counter__button:hover {
  border: 1px solid #a9a9a9;
}
.counter__button:active {
  background: #eee;
  border: 1px solid #a9a9a9;
}
.counter__button:disabled {
  border: none;
}
.counter__button:disabled .counter__text {
  color: #d9d9d9;
}
.counter__minus,
.counter__plus {
  position: relative;
}
.counter__minus:before,
.counter__plus:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 1px;
  content: '';
  background-color: #000;
  transform: translate(-50%, -50%);
}
.counter__plus:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 11px;
  content: '';
  background-color: #000;
  transform: translate(-50%, -50%);
}
.counter__input {
  display: inline-block;
  width: 45px;
  height: 28px;
  font-size: 13px;
  text-align: center;
  user-select: none;
  color: #252525;
  border: none;
  border-radius: 3px;
  outline: none;
}
.inventory {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.inventory__title {
  margin-top: 60px;
}
.inventory__wraper {
  width: 100%;
  height: 600px;
}
.inventory__wraper-aside {
  width: 245px;
  height: 600px;
}
.inventory__aside {
  width: 245px;
below(1199px)
below(1023px)
}
.inventory__side-bar {
  width: 200px;
  background: #eee;
}
.inventory__search {
  color: #000;
  height: 30px;
  padding: 5px;
  margin-top: -3px;
  border: solid 1px #aaa;
  border-radius: 2px;
}
.inventory__item {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background: #eee;
  padding: 1px;
}
.inventory__item_custom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 56px;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.inventory__item_custom input {
  height: 40px;
  width: 120px;
  margin-left: 20px;
  padding: 5px;
}
.inventory__toolbar {
  display: flex;
  height: 40px;
  padding: 10px;
  padding-top: 20px;
  color: #000;
  width: 100%;
}
.inventory__group {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}
.inventory__group-title {
  width: 100%;
  height: 40px;
  padding: 10px;
  background: #2392ba;
  color: #fff;
  text-align: center;
}
.inventory__toolbar-item {
  display: flex;
  flex: auto;
  font-weight: 600;
}
.inventory__row {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.inventory__inventory-items {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  padding-top: 2px;
  overflow: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.red-piano {
  color: #f00;
}
.sit-input-container {
  margin: 0;
  font-size: 14px;
}
.sit-input-container .md-datepicker-button {
  display: none;
}
.sit-input-container .md-title {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 15px;
}
.sit-input-container .md-button {
  font-size: 14px;
  margin-top: -4px;
}
.sit__morefilter {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease-out;
}
.sit__morefilter_active {
  height: 140px;
  padding-top: 15px;
}
.md-select-menu-container {
  z-index: 1100;
}
.md-datepicker-calendar-pane {
  z-index: 1100;
}
