.closing-tab
	.closing-carrier-details
		.closing-carrier-details__block
			.closing-carrier-details__block__input
				md-input-container.md-block(flex-gt-sm='')
					label Carrier:
					input.closing-carrier-details__block__red-text(ng-model='trip.data.carrier.name' ng-disabled="true")
		.closing-carrier-details__block
			md-input-container
				label Date Start:
				md-datepicker(ng-model="trip.data.details.start" ng-disabled="true")
		.closing-carrier-details__block
			md-input-container
				label Date End:
				md-datepicker(ng-model="trip.data.details.end" md-placeholder="No Date" ng-disabled="true")
	.request-list-form__refresh-button
		md-button.md-primary.md-raised.md-hue-2(ng-click="getJobs()") Refresh
	.jobs-trip-list
		div(ng-if="jobs.length > 0")
			md-progress-linear(md-mode="indeterminate" ng-if="busy")
			.jobs-trip-list__head
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Job
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'job_id'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Owner
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'owner'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Rate per Cf
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'rate_per_cf'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Volume, Cf
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'volume_cf'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Job Cost
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'job_cost'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Services
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'services_total'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Shipping Total
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'job_total'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| TP Collected
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'tp_collected'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Received
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'received'")

				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Paid
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'paid'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| To Receive
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'to_receive'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| To Pay
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'to_pay'")
				.jobs-trip-list__head__item
					.sit-list__head__item__sort-item
						.sit-list__head__item__sort-item_left
							| Balance
						.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'balance'")

			.jobs-trip-list__body(ng-repeat="item in jobs track by $index"  ng-if="item.is_total != '1'")
				.jobs-trip-list__body__item(call-job-modal id="item.job_id" show-text="{{item.job_id}}" ng-if="!item.ld_tp_delivery_id || item.ld_tp_delivery_id == null")
				.jobs-trip-list__body__item(ng-if="item.ld_tp_delivery_id || item.ld_tp_delivery_id != null")
					.big-form__jobs-list__body__item__items.big-form__jobs-list__body__item_pointer(ng-click="openTpDelivery(item)")
						.big-form__jobs-list__body__item__items__inline
							span {{item.job_id}}
							span.big-form__jobs-list__body__item_margin-left-right /
							span {{item.delivery_job_id}}

				.jobs-trip-list__body__item
					| {{ item.owner }}
				.jobs-trip-list__body__item(rate-modal sum-jobs-trip-list="jobsTotal" item="item" modal-opened="modalOpened" get-jobs="getJobs"  close-modal="closeModal()" ng-if="item.confirmedRateToOpen")
				.jobs-trip-list__body__item.jobs-trip-list__body__item_pointer(ng-click="openRateModal(item)" ng-hide="item.confirmedRateToOpen")
					.jobs-trip-list__body__edit-item(ng-mouseover="showPencilRatePerCf = 1" ng-mouseleave="showPencilRatePerCf = 0")
						.jobs-trip-list__body__edit-item_left
							| {{item.rate_per_cf | currency}}
						.jobs-trip-list__body__edit-item_right
							ng-md-icon( icon="mode_edit" style="fill: #aaa " size="18px" ng-show="showPencilRatePerCf")
				.jobs-trip-list__body__item.jobs-trip-list__body__item_icon(rate-modal sum-jobs-trip-list="jobsTotal" item="item" modal-opened="modalOpened"  close-modal="closeModal()"  get-jobs="getJobs" ng-if="item.confirmedVolumeToOpen")
				.jobs-trip-list__body__item.jobs-trip-list__body__item_pointer(ng-click="openVolumeModal(item)" ng-hide="item.confirmedVolumeToOpen" style="jobs-trip-list__body__item_left")
					.jobs-trip-list__body__edit-item(ng-mouseover="showPencilVolumeCf = 1" ng-mouseleave="showPencilVolumeCf = 0")
						.jobs-trip-list__body__edit-item_left
							| {{item.volume_cf | number:2}}
						.jobs-trip-list__body__edit-item_right
							ng-md-icon( icon="mode_edit" style="fill: #aaa " size="18px" ng-show="showPencilVolumeCf")
				.jobs-trip-list__body__item
					| {{ item.job_cost | currency }}
				.jobs-trip-list__body__item.jobs-trip-list__body__item_text-blue.jobs-trip-list__body__item_pointer(ng-click='addServices(item, $index)')
					| {{ item.services_total | currency }}
				.jobs-trip-list__body__item
					| {{ item.job_total | currency }}
				.jobs-trip-list__body__item.jobs-trip-list__body__item_pointer(ng-click="showTpCollected(item, item.balance)")
					| {{ item.tp_collected | currency }}
				.jobs-trip-list__body__item
					| {{ item.received | currency }}
				.jobs-trip-list__body__item
					| {{ item.paid | currency }}
				.jobs-trip-list__body__item
					| {{ item.to_receive | currency }}
				.jobs-trip-list__body__item
					| {{ item.to_pay | currency }}
				.jobs-trip-list__body__item
					| {{ item.balance | currency }}
			.jobs-trip-list__footer(ng-if="jobs.length > 1")
				.jobs-trip-list__footer__item
				.jobs-trip-list__footer__item
				.jobs-trip-list__footer__item
				.jobs-trip-list__footer__item
					| {{ jobsTotal.volume_cf }}
				.jobs-trip-list__footer__item
					| {{ jobsTotal.job_cost | currency }}
				.jobs-trip-list__footer__item.jobs-trip-list__footer__item_text-blue
					| {{ jobsTotal.services_total | currency }}
				.jobs-trip-list__footer__item
					| {{ jobsTotal.job_total | currency }}
				.jobs-trip-list__footer__item
					| {{ jobsTotal.tp_collected | currency }}
				.jobs-trip-list__footer__item
					| {{ jobsTotal.received | currency }}
				.jobs-trip-list__footer__item
					| {{ jobsTotal.paid | currency }}
				.jobs-trip-list__footer__item
					| {{ jobsTotal.to_receive | currency }}
				.jobs-trip-list__footer__item
					| {{ jobsTotal.to_pay | currency }}
				.jobs-trip-list__footer__item
					| {{ jobsTotal.balance | currency }}

		.no-jobs(ng-hide="jobs.length > 0") There aren't jobs in this trip