.closing-tab
	padding-bottom 80px
	margin 24px 24px 0px 24px

.closing-carrier-details
	display inline-flex
	flex-direction row
	justify-content flex-start
	max-height 70px
	&__block
		margin-left 24px
		min-width 120px
		font-size 17px
		&__input
			margin-top 20px
		&__red-text
			color red !important

.jobs-trip-list
	box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
	font-size 12px
	font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
	position relative
	&__head
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		&__item
			display flex
			flex-grow 1
			padding 8px
			height 56px
			justify-content center
			flex 1
			flex-direction column
			font-size 12px
			font-weight 500
			color #757575
			border-bottom 1px solid #ddd
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px

	&__body
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		&:nth-child(2n)
			background #f9f9f9
		&__item
			padding-top: 30px;
			display flex
			flex-grow 1
			padding 8px
			flex 1
			color #000
			justify-content center
			min-height 48px
			flex-direction column
			font-size 12px
			border-bottom 1px solid #ddd

			&_pointer
				cursor pointer

			&_padding
				padding-top 20px

			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
			&_hover
				cursor pointer
				&:hover
					background #EEEEEE
			&_text-blue
				color blue
			&__actions
				width 100px
				display flex
				flex-direction row
				justify-content space-between
				align-items center
		&__edit-item
			display inline-flex
			flex-direction row

			&_left
				display flex
				flex: 1
				flex-direction start
			&_right
				display flex
				flex: 1
				flex-direction end

	&__footer
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		height 32px
		&__item
			display flex
			flex-grow 1
			padding 8px
			flex 1
			text-align center
			color blue
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
			&_text-blue
				color blue
.jobs-trip-list-in-trips
	width 95%
	margin-top 5px
	margin-left 5%
	margin-bottom 20px

.jobs-trip-list-in-trip-modal
	width 100%
	margin-top 20px
	margin-left 1%
	margin-right 1%

.no-jobs
	background-color cornsilk
	text-align center
	height 50px
	padding-top 15px

.item-button
	width: 10%
	text-align: left
	font-size: 12px
	font-family Roboto, Helvetica Neue, sans-serif
	font-weight: normal
	background-color: #fff
	cursor pointer
	&:hover
		text-shadow 0px 0px 2px rgba(204, 204, 204, 0.8)
	&:focus
		font-size: 10px
		text-shadow 0px 0px 2px rgba(204, 204, 204, 0.8)
	&:blur
		font-size: 12px
		text-shadow 0px 0px 0px rgba(0, 0, 0, 0)

