section.panel.col-md-12.col-sm-12.col-lg-8.nopadding.animated.fadeInRight
	.row(id="company-flag" ng-class="{'disabled': vm.busy}")
		.col-md-12
			.panel.panel-default.no-box-shadow
				.panel-heading
					h3.panel-title Company Flags
				.saving-progress
					span(ng-show="vm.saving") Saving
					span.animated.fadeIn(ng-show="vm.saved") Saved!
				.panel-body
					table.table.table-striped
						tbody(dragula='"flags-bag"' dragula-model='vm.companyFlags')
							tr(ng-repeat="values in vm.companyFlags track by $index")
								td
									i.fa.fa-arrows.drag-flags(aria-hidden="true")
								td.col-md-5
									input.form-control(ng-model="values.name" ng-blur="vm.saveChangesFlag(values)")
								td.col-md-5
									input.form-control(id="color-input" ng-model="values.color" minicolors="vm.customSettings" ng-blur="vm.saveChangesFlag(values)")
								td.col-md-2
									.flag-remove.pull-right(ng-click="vm.removeFlag($index,values)")
										i.fa.fa-trash-o(aria-hidden="true")
							tr(ng-if="vm.addFlag")
								td
								td.col-md-5
									input.form-control(ng-model="vm.newFlag.name")
								td.col-md-5
									input.form-control(minicolors="vm.customSettings" ng-model="vm.newFlag.color")
								td.col-md-2
									.flag-delete.pull-right(ng-click="vm.addFlag = false")
										i.fa.fa-times(aria-hidden="true")
									span.pull-right
										button.btn.btn-success(ng-click="vm.saveNewFlag();" ng-if="vm.addFlag")
											| Save
											i.fa.fa-check(aria-hidden="true")
					button.btn.btn-primary(ng-click="vm.addNewFlag(); vm.addFlag = true" ng-disabled="vm.addflag")
						i.fa.fa-plus(aria-hidden="false")
