fontSize = 12px
.print-parklot
	&__table
		page-break-inside auto
		font-size fontSize
		border-collapse collapse
		&__tbody
			page-break-inside avoid
			page-break-before auto
			page-break-after auto
		&__header
			page-break-before auto
			page-break-inside avoid
			page-break-after avoid
			font-weight 800
			background-color #d2d2d2
			-webkit-print-color-adjust exact
			&__cell
				border .2em solid #eaeaea
				padding .3em 1.2em
				line-height 1.2em
				min-width min-content
				&.no-spacing
					white-space nowrap
				&__hide
					display none
		&__row
			page-break-before avoid
			page-break-inside avoid
			page-break-after avoid
			&__cell
				border .2em solid #eaeaea
				padding .3em 1.2em
				line-height 1.2em
				min-width min-content
				&.no-spacing
					white-space nowrap
				&__hide
					display none
