<div class="print-parklot">
    <div id="printContent" ng-if="readyForPrint" ng-show="false">
        <table class="print-parklot__table">
            <tbody ng-repeat="row in tableRows" class="print-parklot__table__tbody">
                <tr class="print-parklot__table__header">
                    <td class="print-parklot__table__header__cell">
                        <div ng-class="{'print-parklot__table__header__cell__hide': $index != 0}">
                            <span>{{currentDate}}</span>
                            <span>{{currentDay}}</span>
                        </div>
                    </td>
                    <td ng-repeat="header in row.headers"
                        class="print-parklot__table__header__cell no-spacing">
                        {{header}}
                    </td>
                </tr>
                <tr class="print-parklot__table__row">
                    <td class="print-parklot__table__row__cell no-spacing">{{row.time}}</td>
                    <td class="print-parklot__table__row__cell">
                        Customer:
                    </td>
                    <td class="print-parklot__table__row__cell">
                        <div>
                            <div>
                                {{row.customer}}
                            </div>
                            <div>
                                {{row.phone}}
                            </div>
                        </div>
                    </td>
                    <td class="print-parklot__table__row__cell">{{row.from}}</td>
                    <td class="print-parklot__table__row__cell">{{row.to}}</td>
                    <td class="print-parklot__table__row__cell no-spacing">
                        <div ng-repeat="worker in row.crew track by $index">
                            {{worker}}
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="truck in row.trucks" class="print-parklot__table__row">
                    <td></td>
                    <td class="print-parklot__table__row__cell">
                        <span ng-class="{'print-parklot__table__row__cell__hide': $index != 0}">Trucks:</span>
                    </td>
                    <td class="print-parklot__table__row__cell">
                        {{truck}}
                    </td>
                    <td class="print-parklot__table__row__cell"
                        ng-class="{'print-parklot__table__row__cell__hide': $index != 0}"
                        colspan="4">
                        {{$parent.row.weight}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
