.quickbooks
    &__reconnect-notice
        margin-bottom -20px
        padding-top 5px
        padding-bottom 5px
        text-align center
        color white
        border-radius 5px
        margin-top 10px
        background-color #e25d5d
	&__input_width
		width 90%!important
	&__btn_width
		width 100px
	&__text-width
		width 55%