<section>
	<div ng-show="showReconnectButton" class="quickbooks__reconnect-notice">Please reconnect to Quickbooks as soon as possible to prevent disconnection</div>
	<header class="panel-heading wht-bg">
		<h3 class="gen-case">{{::tab.name}}</h3><br>
		<h6>Please input your Quickbooks Company ID, then save your changes before proceeding with connection.</h6>
	</header>
	<div class="panel-body minimal">
		<div class="option table-responsive">
			<table class="table table-inbox table-hover">
				<tbody>
				<tr ng-hide="showDisconnectButton">
					<td class="text">
						Company ID
					</td>
					<td>
						<input class="form-element form-control quickbooks__input_width" ng-model="companyId.compid">
					</td>
					<td>
						<button ng-click="saveCompanyId()" class="btn btn-success pull-right quickbooks__btn_width">
							Save
						</button>
					</td>
				</tr>
				<tr>
					<td class="quickbooks__text-width">
                        <span ng-hide="showDisconnectButton">
                            Please  input your Intuit login credentials in the new popup
                            window and give us permissions to post to Quickbooks.
                        </span>
						<span ng-show="showDisconnectButton">
                            Please disconnect to stop posting information to Quickbooks.
                        </span>
					</td>
					<td>
					</td>
					<td>
						<button ng-show="showDisconnectButton"
										ng-click="disconnect(); postPaidJobs = false; postClosedJobs = false;"
										class="btn btn-danger pull-right quickbooks__btn_width">
							Disconnect
						</button>
						<er-connect-to-quickbooks button="showDisconnectButton" class="pull-right" ng-hide="showDisconnectButton"
																			ng-click="vm.checkConnectToQuickBooks()"></er-connect-to-quickbooks>
					</td>
				</tr>
				<tr ng-show="showReconnectButton">
					<td>
                        <span>
                            You can reconnect now without entering credentials
                        </span>
					</td>
					<td>
					</td>
					<td>
						<button ng-click="reconnect()" class="btn btn-primary pull-right quickbooks_btnquickbooks__btn_width">
							Reconnect
						</button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<header class="panel-heading wht-bg">
		<h3 class="gen-case">Behavior</h3>
	</header>
	<div class="panel-body minimal">
		<div class="option table-responsive">
			<table class="table table-inbox table-hover" ng-class="{disabled: !showDisconnectButton}">
				<tbody>
				<tr>
					<td>
                        <span>
                            Automatically post payments to quickbooks when job is closed
                        </span>
					</td>
					<td>
						<input type="checkbox" class="mail-checkbox icheck pull-left" ichecks=""
									 ng-change="autoPostClosedJobsToQuickbooks(); postPaidJobs = false;" ng-model="postClosedJobs">
					</td>
				</tr>
				<tr>
					<td>
                        <span>
                            Automatically post payments to quickbooks when payment is made
                        </span>
					</td>
					<td>
						<input type="checkbox" class="mail-checkbox icheck pull-left" ichecks=""
									 ng-change="autoPostPaidJobsToQuickbooks(); postClosedJobs = false;" ng-model="postPaidJobs">
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
