<div class="extra-signature-settings-item" ng-class="{disabled: !settings.isEnable}">
	<div class="extra-signature-settings-item__title_block">
		<div class="extra-signature-settings-item__title_text">
			{{::id | serviceTypeFilter}}
		</div>
		<div class="extra-signature-settings-item__title_button">
			<extra-signature-settings-template-builder-menu template="item.template"></extra-signature-settings-template-builder-menu>
		</div>
	</div>
	<div class="extra-signature-settings-item__editor chat-widget">
		<div ng-change="saveSetting()"
			 ng-model-options="{updateOn: 'blur'}"
			 ng-model="item.template"
			 text-angular
			 ta-toolbar="textAngularToolbar">
		</div>
		<div class="extra-signature-settings-item__editor_footer">
			<div class="extra-signature-settings-item__editor_footer-enable">
				<div class="extra-signature-settings-item__editor_footer_title">Enable Estimate Signatures</div>
				<div class="extra-signature-settings-item__editor_footer_checkbox">
					<input type="checkbox" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model='item.isEnable' data-switchery='true' style='display: none;' ng-change="saveSetting()">
				</div>
			</div>
		</div>
	</div>
</div>
