.extra-signature-settings-item
	display flex
	flex-direction column
	margin 20px 0
	border 1px solid #e7eaec
	&__title_block
		border-bottom 2px solid #e7eaec
		color inherit
		margin-bottom 0
		padding 15px 15px 7px
		min-height 48px
		display flex
		justify-content space-between
	&__editor
		padding 20px 10px
		&_footer
			padding 20px 0 0
			&-enable
				display flex
			&_title
				margin-right 10px
				font-family Montserrat,sans-serif
				color #424856
				font-size 1em
		.btn-group>.btn.open
			z-index 3
		.search-bar
			color gray
