include ../../../../../default.pug

.busyoverlay(ng-if="inventoryPage.busy")
	svg.spinner(width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg")
		circle.path(fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30")

+b.edit-form-controller(ng-if="!inventoryPage.busy" ng-controller="erEditFormController")
	.inventory-controller(ng-controller="InventoriesController as vm" ng-init="vm.init(inventoryPage.request)")
		+e.inventory-page(inventories request="inventoryPage.request" save-list-inventories="vm.saveListInventories" listInventories="inventoryPage.listInventories" closing-function="inventoryPage.closeEditRequest()")
