span.editRequest-datepicker
	input(
	ng-click="openCalendar()"
	ng-model="inputValue"
	ng-model-options="{updateOn: 'blur'}")
	er-datepicker(
		ng-if="isCalendarVisible"
		er-model="selectedDate"
		month-count="2"
		get-day-class="getDayClass(date)")