<div class="customer-card-wrapper">
    <div class="customer-card-wrapper__row">
        <div class="customer-card-wrapper__header">
            <img class="customer-card-wrapper__user-pic"
                 src="./src/user.png"
                 alt="user">
            <span>{{userCard.name}}</span>
            <span>Request: #{{userCard.nid}}</span>
        </div>
    </div>
    <div class="customer-card-wrapper__row">
        <div class="customer-card-wrapper__cell space-between">
            <span class="customer-card-wrapper__explanation">Phone:</span>
            {{userCard.phone | nationalPhoneFormatter}}
        </div>
    </div>
    <div class="customer-card-wrapper__row">
        <div class="customer-card-wrapper__cell space-between">
            <span class="customer-card-wrapper__explanation">Email:</span>
            {{userCard.mail}}
        </div>
    </div>
    <div class="customer-card-wrapper__row">
        <div class="customer-card-wrapper__cell space-between">
            <span class="customer-card-wrapper__explanation">Move Date:</span>
            {{userCard.date}}
        </div>
    </div>
    <div class="customer-card-wrapper__row">
        <div class="customer-card-wrapper__cell space-between">
            <span class="customer-card-wrapper__explanation">Status:</span>
            <span class="customer-card-wrapper__status status-{{request.status.raw}}">{{userCard.status}}</span>
        </div>
    </div>
    <div class="customer-card-wrapper__row" ng-hide="hideFrom">
        <div class="customer-card-wrapper__cell space-between">
            <span class="customer-card-wrapper__explanation">From:</span>
            <div class="customer-card-wrapper__address">
                <span class="customer-card-wrapper__address">{{userCard.addressFrom}}</span>
            </div>
        </div>
    </div>
    <div class="customer-card-wrapper__row" ng-hide="hideTo">
        <div class="customer-card-wrapper__cell space-between">
            <span class="customer-card-wrapper__explanation">To:</span>
            <div class="customer-card-wrapper__address">
                <span class="customer-card-wrapper__address">{{userCard.addressTo}}</span>
            </div>
        </div>
    </div>
    <div class="customer-card-wrapper__row">
        <div class="customer-card-wrapper__cell space-between">
            <span class="customer-card-wrapper__explanation">Est. Time:</span>
            {{userCard.estTime}}
        </div>
    </div>
    <div class="customer-card-wrapper__row">
        <div class="customer-card-wrapper__cell space-between">
            <span class="customer-card-wrapper__explanation">Grand Total:</span>
            {{userCard.grandTotal}}
        </div>
    </div>

    <div class="customer-card-wrapper__footer">
        <button class="btn btn-primary customer__view-request"
                ng-click="openRequestModal()">View Request</button>
    </div>
</div>
