.customer-card-wrapper
	padding 1em
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	&__header
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 100%
		font-size 1.2em
		font-weight 600
	&__user-pic
		width 50px
		height 50px
	&__row
		display flex
		justify-content space-between
		align-items center
		border-bottom 1px solid #ebebeb
		padding .5em
	&__footer
		padding .5em
		display flex
		justify-content center
		align-items center
		background-color #ebebeb
	&__explanation
		font-weight 600
	&__mail
		text-overflow ellipsis
		white-space nowrap
		overflow hidden
		cursor default
	&__cell
		width 100%
		&.flex-displaying
			display flex
		&.space-between
			display flex
			justify-content space-between
			align-items center
	&__address
		text-overflow ellipsis
		white-space nowrap
		overflow hidden
		cursor default
	&__status
		padding .1em .5em
		border-radius 4px
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		color #fff
		font-weight 600
		margin-left .5em
		&.status-1
			background-color #fbb130
		&.status-2
			background-color #4b94d2
		&.status-3
			background-color #13c713
		&.status-4
			background-color #fbb130
		&.status-7
			background-color #fbb130
		&.status-9
			background-color #fbb130
		&.status-10
			background-color #fbb130
		&.status-11
			background-color #fbb130
		&.status-17
			background-color #fbb130
		&.status-12
			background-color #f77d7d
