@media print
	.reservation-page
		.confirmation_page_header
			margin-top 15px
		.resercontainer
			.stat_row
				line-height 28px
			.title
				margin-bottom 10px
			.logistic
				h2.btitle
					margin-top 10px
					margin-bottom 0
				.tt
					margin-bottom 0
			.row.general_info.general_info_row
				margin-top 0
			#reservation-page-valuation
				.btitle
					margin-top 0
					margin-bottom 0
			.valuation-confirmation-table
				margin-bottom 0
				.valuation-confirmation-table__explanation-row
					.valuation-confirmation-table__explanation-cell
						p
							margin-bottom 5px!important
				.valuation-confirmation-table__cell
					h2
						line-height 10px
			.inventory
				h2.btitle
					margin-top 0
					margin-bottom 0
				#inventory-list
					.inventory-list-room
						.inventory-list-room-title
							padding-bottom 0
							margin-bottom 0
							.title
								margin-bottom 0
					.inventory-item
						padding-top 0
			.confirm.confirm-company-policies
				padding 0 40px
				.reservation-signature-row
					padding 0 20px
					display flex
					justify-content space-around
				.confirmation-signed-information
					display flex
					justify-content space-around
			#packing-reservation
				h2.btitle
					margin-top 5px
					line-height 20px
				.request-packings-container
					line-height 15px
			.details
				h2.btitle
					margin-top 5px
					line-height 20px
			#reservation-page-extra-services
				h2.btitle
					margin-top 5px
					line-height 20px
				&>div
					line-height 15px!important
