.request-list-item
    &__body
        display inline-flex
        flex-direction row
        flex-wrap nowrap
        justify-content flex-start
        width 100%
        cursor pointer
        font-family Roboto,Helvetica Neue,sans-serif
        transition opacity 0.5s ease-out 0.5s
        overflow hidden
        border-bottom 1px solid #ddd
        &_pickup
            border-bottom 1px solid #ffab00
        &_delivery
            border-bottom 1px solid #9400ff
        &_selected
            background #F5F5F5
        &:nth-child(2n)
            background #f9f9f9
        &:hover
            background #EEEEEE
        &__item
            display flex
            flex-grow 1
            padding 8px
            width 100px
            min-height 48px
            justify-content center
            flex-direction column
            color #212121
            font-size 13px
            &:first-child
                padding-left 24px
                padding-top 20px
            &:last-child
                padding-right 24px
                border-right 0

    &__option-select
        display inline-flex
        flex-direction row
        justify-content flex-start
        align-items center
        width 100%
        &__span
            padding-right 5px
        &__icon
            margin-left 20px