.request-list-item__body__item(ng-click='editTrip(item.trip_id)')
	md-checkbox.md-primary.icheck(name='checkbox', ichecks='' ng-change="toggleSelect(item)" ng-model='item.a_a_selected', type='checkbox' )
.request-list-item__body__item(call-job-modal id="item.ld_nid" show-text="{{item.ld_nid}}")

.request-list-item__body__item(ng-click='editTrip(item.trip_id)')
	.job-type.job-type_type-0(ng-if="item.r_type == 'Pickup'")
		| Not ready for delivery
	.job-type.job-type_type-1(ng-if="item.r_type == 'Delivery'")
		| Ready for delivery
.request-list-item__body__item(ng-click='editTrip(item.trip_id)')
	| {{item.customer_name}}
.request-list-item__body__item(ng-click='editTrip(item.trip_id)')
	| {{(item.pickup_date - offset) * 1000 | date:'MM/dd/yyyy'}}
.request-list-item__body__item(ng-click='editTrip(item.trip_id)' ng-show="item.delivery_date != 0")
	span {{(item.delivery_date - offset) * 1000 | date:'MM/dd/yyyy'}} -
	span(ng-if="item.second_delivery_date && item.second_delivery_date != 0") {{ (item.second_delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
	.trip-list-item-body__body__item_none(ng-if="!item.second_delivery_date || item.second_delivery_date == 0")
		| None
.request-list-item__body__item(ng-click='editTrip(item.trip_id)' ng-hide="item.delivery_date != 0")
	.trip-list-item-body__body__item_none
		| None
.request-list-item__body__item(ng-click='editTrip(item.trip_id)' ng-show="item.schedule_delivery_date != 0")
	| {{(item.schedule_delivery_date - offset) * 1000 | date:'MM/dd/yyyy'}}
.request-list-item__body__item(ng-click='editTrip(item.trip_id)' ng-hide="item.schedule_delivery_date != 0")
	.trip-list-item-body__body__item_none
		| None
.request-list-item__body__item(ng-click='editTrip(item.trip_id)')
	| {{ item.address_from }}
	br
	| {{ item. from_city}}, {{item.from_state}} {{item.from_zip}}
.request-list-item__body__item(ng-click='editTrip(item.trip_id)')
	| {{ item.address_to }}
	br
	| {{ item. to_city}}, {{item.to_state}} {{item.to_zip}}
.request-list-item__body__item(ng-click='editTrip(item.trip_id)' ng-show="item.storage_id")
	| {{item.storage_name}}
.request-list-item__body__item(ng-click='editTrip(item.trip_id)' ng-hide="item.storage_id")
	.trip-list-item-body__body__item_none
		| None
.request-list-item__body__item(ng-click='editTrip(item.trip_id)')
	.request-list-item__option-select
		.request-list-item__option-select__span
			| {{ item.ld_status_name }}
		.request-list-item__option-select__icon(ng-hide="!item.ld_status_color")
			ng-md-icon( icon="flag" ng-style="{'fill': item.ld_status_color}" size="20px")
