span.brunches-trucks-common-settings__check-box(ng-show="isAllowCommonTruck")
	input.icheck.icheckbox_flat-green(type="checkbox" checkstyle="green" ichecks="" ng-change="onChangeCommonParklotSettings()" ng-model="allowTruck" )

.brunches-trucks-common-settings__check-box.icheck.icheckbox_flat-green(ng-click="showAlert()" ng-hide="isAllowCommonTruck")