<button type="button" class="close" ng-click="Cancel()">&times;</button>
<div class="col-md-12 margin20 chat-widget">
    <div text-angular
         ng-model="comment.comment_body"
         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                      ['fontColor', 'fontName', 'fontSize'],
                      ['insertLink', 'insertImage'],
                      ['undo', 'redo', 'clear', 'html']]"
    ></div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="Save()">Update</button>
    <button type="button" class="btn btn-default" ng-click="Cancel()">Cancel</button>
</div>