<div class="panel panel-default comments-table">

    <div class=" mdDataTable">
        <div class="panel-heading">
            <!--<h2 class="panel-title">Requests</h2>-->
            <h2>Requests</h2>
            <div class="icon-mark-all-read" ng-click="markAllMessagesAsRead()" uib-tooltip="Mark all as read" type="button">
                <i class="icon-envelope-letter"></i>
            </div>

        </div>
        <table class="dataTable">
            <thead>
            <tr>
                <th hidden>#</th>
                <th class="dtStatus" hidden>Status</th>
                <th class="dtService" hidden>Service Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="showComments(request)" ng-class="{'active': request.nid == nid}"
                ng-dblclick="requestEditModal(request)" class="request" data-nid="{{request.nid}}"
                ng-repeat="request in requests">

                <td>{{request.nid}}</td>

                <td class="message">
                    <div class="title">{{request.name}}</div>
                    <div> {{request.from}} | {{request.to}} | {{request.move_size.value}}</div>
                </td>
                <td class="text-right">
                    <div>{{request.date.value}}</div>
                    <span class="label pull-right">
                        <span class="status_{{request.status.raw}}">{{request.status.value}}</span>
                    </span>
                    <div class="arrowTable" style="display:none;margin-left:-15%;"></div>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>