
md-toolbar.md-hue-2
	.md-toolbar-tools
		h2.agent-folio-details__toolbar__label.trip-list__smaller-label Trip-Planner
		.trip-list__summury(flex='', md-truncate='')
			.trip-list__summury__column
				span.trip-list__summury__title
					| Trips
				| {{total.trip_count || 0}}
			.trip-list__summury__column
				span.trip-list__summury__title
					| Jobs
				| {{total.jobs_count || 0 | setDecimal:2}}
			.trip-list__summury__column
				span.trip-list__summury__title
					| Volume/Weight
				| {{total.volume_cf || 0 | setDecimal:2}}/{{total.weight || 0 | setDecimal:2}}
			.trip-list__summury__column
				span.trip-list__summury__title
					| Jobs Total
				|  {{total.job_total || 0 | currency}}
			.trip-list__summury__column
				span.trip-list__summury__title
					| Balance
				| {{total.balance || 0 | currency}}
		.agent-folio-details__toolbar__item_left
			md-button(aria-label='Create' ng-click="addTrip()" ng-disabled='false') Add Trip
md-progress-linear(md-mode="indeterminate" ng-if="busy")
.trip-filters
	.trip-filters__block
		md-input-container.trip-filters__block__options
			label Search by Request Id:
			input(ng-model='searchId' ng-change="searchByRequestId(searchId)" onkeypress='return ((event.charCode >= 48 && event.charCode <= 57 || event.charCode == 8 || event.charCode == 46 || event.charCode == 37 || event.charCode == 39) || (event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39))' maxlength="6" ng-disabled="busy")
	.trip-filters__block
		md-input-container.trip-filters__block__options
			label Status
			md-select(ng-model='selectedStatus' ng-change="setTripStatus()" multiple ng-disabled="busy")
				md-select-header.trip-filters__select-header(class="justify-content : flex-end")
					.trip-filters__select-header__button
						md-button.md-icon-button(ng-click="closeSelectBox($event)")
							ng-md-icon(icon="check" fill="black" size="22px")
				md-option(ng-value="item.id" ng-repeat="item in tripStatus")
					span {{item.title}}
	.trip-filters__block
		.trip-filters__block__remove-button
			md-button.md-raised(ng-click="removeFilters()" ng-disabled="busy")   Remove Filter
.request-list-form__refresh-button
	md-button.md-primary.md-raised.md-hue-2(ng-click="getTrips()") Refresh
.trip-list
	.trip-list__head
		.trip-list__head__item(id="firstItem")

		.trip-list__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Trip id
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getTrips()" order="'ld_trip_id'")
		.trip-list__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Created
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getTrips()" order="'created'")
		.trip-list__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| C(internal code)
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getTrips()" order="'internal_code'")
		.trip-list__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Description
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getTrips()" order="'description'")
		.trip-list__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Trip Type
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getTrips()" order="'type'")
		.trip-list__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Status
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getTrips()" order="'flag'")
		.trip-list__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Delivery by
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getTrips()" order="'foreman'")
		.trip-list__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Delivery Dates
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getTrips()" order="'date_start'")
		.trip-list__head__item
			| Jobs
		.trip-list__head__item
			| Volume/Weight
		.trip-list__head__item
			| Jobs Total
		.trip-list__head__item
			| Balance
		.trip-list__head__item
			| Remove

	div(ng-repeat="item in trips track by $index")
		.trip-list__body(ng-class="{'trip-list__body_show': (item.showJobs && !item.selected), 'trip-list__body_hide': (!item.showJobs && !item.selected) , 'trip-list__body_selected': item.selected}")
			.trip-list__body__item
				.trip-elips__big-elips(ng-click="getTripJobs(item)" ng-class="{'trip-elips__status-{{item.flag}}': true}")
					ng-md-icon(icon="local_shipping" style="fill: #000" size="20" ng-if="item.type == 1")
					ng-md-icon(icon="people" style="fill: #000" size="20" ng-if="item.type == 2")
				.trip-elips__line.trip-elips__line_top(ng-class="{'trip-elips__line_open': item.showJobs, 'trip-elips__status-{{item.flag}}': true}" ng-if="item.jobs.length > 0")
			.trip-list__body__item(ng-click='editTrip(item)')
				| {{ item.ld_trip_id }}

			.trip-list__body__item(ng-click='editTrip(item)')
				| {{ item.created * 1000 | date:'MM/dd/yyyy'}}
			.trip-list__body__item(ng-if="item.internal_code" ng-click='editTrip(item)')
				| {{ item.internal_code }}

			.trip-list__body__item(ng-if="!item.internal_code" ng-click='editTrip(item)')
				.trip-list__body__item_none
					| None

			.trip-list__body__item(ng-if="item.description" ng-click='editTrip(item)')
				| {{ item.description }}
			.trip-list__body__item(ng-if="!item.description" ng-click='editTrip(item)')
				.trip-list__body__item_none
					| None

			.trip-list__body__item(ng-click='editTrip(item)')
				| {{ item.type | tripType}}
			.trip-list__body__item(ng-click='editTrip(item)')
				.trip-status( ng-class="{'trip-status_grey' : item.flag == 1, 'trip-status_orange' : item.flag == 2, 'trip-status_green' : item.flag == 3, 'trip-status_blue' : item.flag == 4}")
					| {{ item.flag | tripStatus }}

			.trip-list__body__item(ng-if="item.driver_name" ng-click='editTrip(item)')
				| {{ item.driver_name }}
			.trip-list__body__item(ng-if="!item.driver_name" ng-click='editTrip(item)')
				.trip-list__body__item_none
					| None

			.trip-list__body__item( ng-click='editTrip(item)')
				span {{ item.date_start * 1000 | date:'MM/dd/yyyy' }} -
				span(ng-if="item.date_end != 0") {{ item.date_end * 1000 | date:'MM/dd/yyyy' }}
				.trip-list__body__item_none(ng-if="item.date_end == 0")
					| None
			.trip-list__body__item(ng-if="item.date_start == 0 && item.date_end == 0" ng-click='editTrip(item)')
				.trip-list__body__item_none
					| None

			.trip-list__body__item(ng-if="item.jobs_count" ng-click='editTrip(item)')
				| {{ item.jobs_count }}
			.trip-list__body__item(ng-if="!item.jobs_count" ng-click='editTrip(item)')
				.trip-list__body__item_none
					| None

			.trip-list__body__item(ng-click='editTrip(item)')
				| {{ item.volume_cf }}
			.trip-list__body__item(ng-click='editTrip(item)')
				| {{ item.job_total | currency }}
			.trip-list__body__item(ng-click='editTrip(item)')
				| {{ item.balance | currency }}
			.trip-list__body__item
				md-button.md-icon-button.md-warn(aria-label='Remove Trip' ng-disabled="item.jobs_count > 0 || item.flag != 1" ng-click='removeTrip($event, item, $index)')
					ng-md-icon.remove-trip-icon(icon="delete_forever" ng-class="{'remove-trip-icon_active': (!item.jobs_count && item.flag == 1)}")
		div(trip-list-item item="item")

	div(ng-if="meta.pageCount && meta.pageCount > 1" elromco-paginator meta="meta" set-page="setPage")
