.trip-list
    font-size 15px
    font-family Roboto,Helvetica Neue,sans-serif
    background #fff
    &__smaller-label
        width 200px
    &__summury
        display inline-flex
        flex-wrap nowrap
        flex-direction row
        justify-content flex-start
        z-index 2000
        &__title
            font-size 12px
            color #b6b6b6
        &__column
            padding-right 100px
            font-size 14px
            display inline-flex
            flex-wrap nowrap
            flex-direction column
            justify-content flex-start
    &__head
        display inline-flex
        flex-direction row
        flex-wrap nowrap
        justify-content flex-start
        width 100%
        &__item
            display flex
            flex-grow 1
            padding 8px
            height 56px
            justify-content center
            width 100px
            flex-direction column
            font-size 12px
            font-weight 500
            color #757575
            border-bottom 1px solid #ddd

            &:first-child
                padding-left 24px
            &:last-child
                padding-right 24px
    &__item
        width 100%
        padding-left -20px
    &__body
        display inline-flex
        flex-direction row
        flex-wrap nowrap
        justify-content flex-start
        width 100%
        cursor pointer
        font-family Roboto,Helvetica Neue,sans-serif
        color #212121
        &_show
            animation show-jobs 0.1s forwards
        &_hide
            animation hide-jobs 0.1s forwards
        &_selected
            background #c2c0c0 !important
            color white !important
        &__item
            position relative
            display flex
            flex-grow 1
            padding 8px
            width 100px
            min-height 48px
            justify-content center
            flex-direction column

            font-size 13px
            border-bottom 1px solid #ddd
            &:first-child
                padding-left 24px
            &:last-child
                padding-right 24px
                border-right 0
		    &_none
                font-size 11px
                color #757575
.trip-status
    padding 5px
    color #ffffff
    font-weight 600
    &_3
        background-color: #13C713;
    &_4
        background-color: rgba(66, 165, 245, 1);

    &_blue
        background-color rgba(66, 165, 245, 1)
    &_green
        background-color rgba(102, 187, 106, 1)
    &_grey
        background-color rgba(120, 144, 156, 1)
    &_orange
        background-color rgba(255, 213, 79, 1)
.trip-filters
    margin-top 20px
    display inline-flex
    flex-direction row
    flex-wrap wrap
    justify-content flex-start
    width 100%
    flex 1
    &__select-header
        display flex
        flex-direction row
        flex-wrap nowrap
        justify-content flex-end
        min-height 40px
        border-bottom 1px solid black
        &__button
            display flex
            flex-direction column
            justify-content flex-start
    &__block
        max-height 70px
        min-width 220px
        padding-right 20px
        display inline-flex
        &__options
            margin-left 24px
            padding-right 24px
            width 220px
        &__remove-button
            margin-top 4px
            pudding 10px
.remove-trip-icon
    fill #e0e0e0
    &_active
        fill #f44336

@keyframes show-jobs
    from
        background #fff

    to
        background #e4e4e4

@keyframes hide-jobs
    from
        background #e4e4e4

    to
        background #fff
