<div class="statistics-main">
    <section id="main-content" class="animated fadeInRight adminpanel"  ng-controller="Statistics as vm">
        <quick-info-statistics ng-if="!vm.access_statistics"></quick-info-statistics>
        <sales-statistics ng-if="vm.access_statistics"></sales-statistics>
        <!--<div ng-if="!quick" class="busyoverlay">-->
            <!--<div class="sk-cube-grid">-->
                <!--<div class="sk-cube sk-cube1"></div>-->
                <!--<div class="sk-cube sk-cube2"></div>-->
                <!--<div class="sk-cube sk-cube3"></div>-->
                <!--<div class="sk-cube sk-cube4"></div>-->
                <!--<div class="sk-cube sk-cube5"></div>-->
                <!--<div class="sk-cube sk-cube6"></div>-->
                <!--<div class="sk-cube sk-cube7"></div>-->
                <!--<div class="sk-cube sk-cube8"></div>-->
                <!--<div class="sk-cube sk-cube9"></div>-->
            <!--</div>-->
        <!--</div>-->
    </section>
</div>
