.valuation-account-show-settings-wrapper
	background-color #fff
	&__header
		padding 1em
		background-color #556b8d
		display flex
		justify-content space-between
		align-items center
	&__title
		color #fff
	&__body
		padding 1em
		md-checkbox
			margin-bottom .5em !important
