<div class="valuation-account-show-settings-wrapper">
    <div class="valuation-account-show-settings-wrapper__header">
        <h3 class="valuation-account-show-settings-wrapper__title">Show Valuation Protection On Account Page</h3>
        <button class="btn btn-sm"
                ng-class="{'btn-danger': directivePresets.changes, 'btn-primary disabled': !directivePresets.changes}"
                ng-click="vm.updateValuationSetting(directivePresets)">Save Changes</button>
    </div>
    <div class="valuation-account-show-settings-wrapper__body">
        <div class="valuation-account-show-settings-wrapper__item">
            <md-checkbox ng-model="directivePresets.setting.cent_per_pound"
                         class="md-primary valuation-account-show-settings-wrapper__switch-box"
                         ng-change="vm.applySettingChanges(directivePresets)">Released Value Protection</md-checkbox>
        </div>
        <div class="valuation-account-show-settings-wrapper__item"
             ng-if="directivePresets.setting.cent_per_pound">
            <confirmation-show-table></confirmation-show-table>
        </div>
        <div class="valuation-account-show-settings-wrapper__item">
            <md-checkbox ng-model="directivePresets.setting.full_value_protection"
                         class="md-primary valuation-account-show-settings-wrapper__switch-box"
                         ng-change="vm.applySettingChanges(directivePresets)">Full Value Protection</md-checkbox>
        </div>
        <div class="valuation-account-show-settings-wrapper__item"
             ng-if="directivePresets.setting.full_value_protection">
            <edit-amount-of-valuation></edit-amount-of-valuation>
        </div>
        <div class="valuation-account-show-settings-wrapper__item"
             ng-if="directivePresets.setting.full_value_protection">
            <valuation-proposal-to-contact
                    state="state"></valuation-proposal-to-contact>
        </div>
        <div class="valuation-account-show-settings-wrapper__item"
             ng-if="directivePresets.setting.full_value_protection">
            <edit-amount-of-liability state="state"></edit-amount-of-liability>
        </div>
    </div>
</div>
