<div class="valuation-titles">
	<div class="valuation-titles__header">
		<h3 class="text-white">Valuation Titles</h3>
		<button
			class="btn btn-sm"
			ng-class="{'btn-danger': directivePresets.changes, 'btn-primary disabled': !directivePresets.changes}"
			ng-click="vm.updateValuationSetting(directivePresets)">Save Changes</button>
	</div>
	<div class="valuation-titles__setting">
		<h3 class="valuation-titles__title">Title for basic valuation</h3>
		<input type="text"
			   class="valuation-titles__input form-control"
			   ng-change="vm.applySettingChanges(directivePresets)"
			   ng-model-options="{updateOn: 'blur'}"
			   ng-model="directivePresets.setting[valuationTypes.PER_POUND].title">
	</div>
	<div class="valuation-titles__setting">
		<h3 class="valuation-titles__title">Explanation for basic valuation</h3>
		<div class="valuation-titles__wysiwyg"
			 text-angular
			 ng-change="vm.applySettingChanges(directivePresets)"
			 ng-model-options="{updateOn: 'blur'}"
			 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                          ['fontColor', 'fontName', 'fontSize'],
                          ['insertLink', 'insertImage', 'insertCustom'],
                          ['undo', 'redo', 'clear', 'html']]"
			 ng-model="directivePresets.setting[valuationTypes.PER_POUND].explanation"></div>
	</div>
	<div class="valuation-titles__setting">
		<h3 class="valuation-titles__title">Title for Full Value Protection</h3>
		<input type="text"
			   class="valuation-titles__input form-control"
			   ng-change="vm.applySettingChanges(directivePresets)"
			   ng-model-options="{updateOn: 'blur'}"
			   ng-model="directivePresets.setting[valuationTypes.FULL_VALUE].title">
	</div>
	<div class="valuation-titles__setting">
		<h3 class="valuation-titles__title">Explanation for Full Value Protection</h3>
		<div class="valuation-titles__wysiwyg"
			 text-angular
			 ng-change="vm.applySettingChanges(directivePresets)"
			 ng-model-options="{updateOn: 'blur'}"
			 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                          ['fontColor', 'fontName', 'fontSize'],
                          ['insertLink', 'insertImage', 'insertCustom'],
                          ['undo', 'redo', 'clear', 'html']]"
			 ng-model="directivePresets.setting[valuationTypes.FULL_VALUE].explanation"></div>
	</div>
</div>
