.agent-folio-list-item
    font-size 15px
    font-family Roboto,Helvetica Neue,sans-serif
    background #fff
    &__head
        display inline-flex
        flex-direction row
        flex-wrap nowrap
        justify-content flex-start
        width 100%
        &__item
            display flex
            flex-grow 1
            padding 8px
            height 56px
            justify-content center
            width 100px
            flex-direction column
            font-size 12px
            font-weight 500
            color #757575
            border-bottom 1px solid #ddd
            border-top 1px solid #ddd
            &:first-child
                padding-left 24px
            &:last-child
                padding-right 24px
    &__body-directive
        &:nth-child(2n)
            background #f9f9f9
