md-toolbar.md-hue-2
	.md-toolbar-tools
		h2.agent-folio-details__toolbar__label(flex='', md-truncate='') Agent Folio
		.agent-folio-details__toolbar__item_left
			md-switch(md-no-ink aria-label="Switch No Ink" ng-model="hideZero" ng-false-value="0"  ng-true-value="1" ng-change="setHideZero()") Hide zero
.trip-filters
	.trip-filters__block
		md-input-container.trip-filters__block__options
			label Search by Name:
			input(ng-model='searchTerm' ng-change="searchByName(searchTerm)")
.request-list-form__refresh-button
	md-button.md-primary.md-raised.md-hue-2(ng-click="getAgentFolio()") Refresh
md-progress-linear(md-mode="indeterminate" ng-if="busy")
.agent-folio-list-item
	.agent-folio-list-item__head
		.agent-folio-list-item__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Name
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getAgentFolio()" order="'name'")
		.agent-folio-list-item__head__item
			| Job Total
		.agent-folio-list-item__head__item
			| Job Cost
		.agent-folio-list-item__head__item
			| Job Services
		.agent-folio-list-item__head__item
			| TP Collected
		.agent-folio-list-item__head__item
			| Received
		.agent-folio-list-item__head__item
			| Paid
		.agent-folio-list-item__head__item
			| To Receive
		.agent-folio-list-item__head__item
			| To Pay
		.agent-folio-list-item__head__item
			| Balance

	.agent-folio-list-item__body-directive(agent-folio-item ng-repeat="item in agentFolio" item="item")
	div(ng-if="meta.pageCount && meta.pageCount > 1" elromco-paginator meta="meta" set-page="setPage")
