<!-- Parklot settings -->
<section class="panel col-md-6">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
    </header>
    <div class="panel-body minimal">
        <div class="saving-progress" >
            <span class=""  ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
        </div>

        <div class="option table-responsive">
            <h1>Google Analytics</h1>
            <table class="table table-inbox table-hover">
                <tbody>
                <tr class="option">
                    <td class="text">
                        Google Conversion id
                    </td>
                    <td colspan="2" ng-class="{'disabled':!vm.basicSettings.localDistountOn}">
                        <input style="width: 100%;" class="form-element form-control"  ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.conversionid">                     </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck" ichecks=""  ng-change="vm.saveSettings()" ng-model="vm.basicSettings.AnalyticsOn">
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</section>
