<section class="panel col-md-8">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
    </header>
    <div class="panel-body minimal">
        <div class="saving-progress">
            <span class="" ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
        </div>
        <div class="option table-responsive">
            <h1>Company</h1>
            <table class="table table-inbox table-hover">
                <tbody>
                <tr>
                    <td class="text">
                        Company Name
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.company_name">
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Company Email
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.company_email">
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Company Phone Number
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.company_phone">
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Toll Free Phone Number
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.company_tall_free_phone">
                    </td>
                </tr>
                <tr class="option">
                    <td class="text">
                        License
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.company_licence">
                    </td>
                </tr>

                <tr class="option">
                    <td class="text">
                        Company Address
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.company_address">
                    </td>
                </tr>
                <tr class="option">
                    <td class="text">
                        Main State
                    </td>
                    <td colspan="2">
                        <select style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings(); vm.updateMainState();"
                                ng-model-options="{ updateOn: 'blur' }"
                                ng-model="vm.basicSettings.main_state">
                            <option ng-selected="n == vm.basicSettings.main_state"
                                    ng-repeat="n in ::vm.fieldData.allowedstate" value="{{n}}">{{n}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="option">
                    <td class="text">
                        Parking Zip
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings(); vm.updateZipCode();"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.parking_address">
                    </td>
                </tr>
                <tr class="option">
                    <td class="text">
                        Parking City
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.storage_city">
                    </td>
                </tr>

                <tr>
                    <td colspan="3" style="    background: #41BDB6;
                        text-align: center;
                        font-size: 15px;
                        text-transform: UPPERCASE;
                        color: white;">
                        Links
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        WebSite URL
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.website_url">
                    </td>
                </tr>
                <tr>
                    <td class="text">
                        Client Page URL
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.client_page_url">
                    </td>
                </tr>
                <tr class="option">
                    <td class="text">
                        Logo Url
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.company_logo_url">
                    </td>
                </tr>

                <tr class="option">
                    <td class="text">
                        Company Policy
                    </td>
                    <td colspan="2"
                        uib-tooltip="The Own Company Polices settings is enabled. Show more: General Settings => Company Site => Own Company Polices"
                        tooltip-enable="vm.basicSettings.own_company_policy.show">
                        <input style="width: 90%;" class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.company_policy_url"
                               ng-disabled="vm.basicSettings.own_company_policy.show">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="option table-responsive" style="">
            <h1>ParkLot Drawing</h1>
            <table class="table table-inbox table-hover">
                <tbody>
                <tr class="option">
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck" ichecks="" ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.withLunchBreak">
                    </td>
                    <td>
                        Show Lunch Break on Schedule
                    </td>
                </tr>
                <tr class="option">
                    <td>
                        <input type="checkbox"
                               class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.withTravelTime">
                    </td>
                    <td>
                        Include Travel Time in width of each job.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

		<div class="option table-responsive" style="">
			<h1>Show Invoice Tab On Dashboard</h1>
			<table class="table table-inbox table-hover">
				<tbody>
				<tr class="option">
					<td>
						<input type="checkbox" class="mail-checkbox icheck" ichecks="" ng-change="vm.saveSettings()"
							   ng-model="vm.basicSettings.showInvoiceTabOnDashboard">
					</td>
					<td>
						You can see and search invoices on dashboard
					</td>
				</tr>
				</tbody>
			</table>
		</div>

        <flat-rate-and-long-distance-setting
                basic-settings="vm.basicSettings"></flat-rate-and-long-distance-setting>

        <div class="option table-responsive">
            <h1>Cancellation</h1>
            <p></p>
            <table class="table table-inbox table-hover">
                <tbody>
                <tr class="option">
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck" ichecks="" ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.cancelationFromAccount">
                    </td>
                    <td>
                        Allow request cancellation from account
                    </td>
                </tr>
                <tr class="option" ng-show="vm.PermissionsServices.isSuper();">
                    <td>
                        <label for="siteLogId">Site log id</label>
                    </td>
                    <td>
                        <input class="form-element form-control"
                               ng-model-options="{ updateOn: 'blur' }"
                               id="siteLogId"
                               ng-change="vm.setSiteLog()" ng-model="vm.site_log_id">
                    </td>
                </tr>
                <tr class="option" ng-show="vm.PermissionsServices.isSuper();">
                    <td>
                        <label for="siteLogName">Site log name</label>
                    </td>
                    <td>
                        <input class="form-element form-control"
                               id="siteLogName"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-change="vm.setSiteLog()" ng-model="vm.site_log_name">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="option table-responsive" ng-if="vm.PermissionsServices.isSuper()">
            <h1>Auto assignment</h1>
            <p> Managers and Sales will be assigned to request in clockwise order. </p>
            Off
            <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                   ng-model="vm.basicSettings.autoAssignSales"
                   ng-change="vm.saveSettings()"
                   id="checkOne" data-switchery="true" style="display: none;">
            On
        </div>

        <er-google-calendar-integration ng-if="vm.PermissionsServices.isSuper()"></er-google-calendar-integration>

        <div class="option table-responsive" ng-if="vm.PermissionsServices.isSuper()">
            <h1>Light version</h1>
            Off
            <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                   ng-model="vm.basicSettings.lightVersion"
                   ng-change="vm.saveSettings()"
                   id="checkOne" data-switchery="true" style="display: none;">
            On
        </div>
        <div class="option table-responsive" ng-if="vm.PermissionsServices.isSuper()">
            <h1>Dismiss interval load dashboard</h1>
            Off
            <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                   ng-model="vm.basicSettings.intervalLoadDashboardDismissed"
                   ng-change="vm.saveSettings()"
                   id="checkOne" data-switchery="true" style="display: none;">
            On
        </div>
        <div class="option table-responsive" ng-if="vm.PermissionsServices.isSuper()">
            <h1>Disable Company</h1>
            Enable
            <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                   ng-model="vm.basicSettings.is_disable_company"
                   ng-change="vm.saveSettings()"
                   id="checkOne" data-switchery="true" style="display: none;">
            Disable
        </div>

        <div class="option table-responsive" ng-if="vm.PermissionsServices.isSuper()" style="display: none;">
            <h1>Hide past jobs on foreman page</h1>
            Enable
            <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                   ng-model="vm.basicSettings.hideForemanPastJobsTab"
                   ng-change="vm.saveSettings()"
                   id="checkOne" data-switchery="true" style="display: none;">
            Disable
        </div>
    </div>
</section>
