<section class="panel col-md-8">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
    </header>
    <branch-settings-directive></branch-settings-directive>
</section>