<section class="panel col-md-12 calendarSettings">
    <div class="panel-body minimal calendar_settings">
        <div class="year" ng-repeat="(year,yearArray) in  ::vm.calendar">
            <h1 class="year">{{year}}</h1>
            <div class="month" ng-repeat="month in ::vm.range(1,12,1)">
                <calendar calendar="vm.calendar" data-admin="admin" types="vm.calendarTypes" class="clndr-ang"
                          year="year" month="month"></calendar>
            </div>
        </div>
    </div>
    <div class="modal-backdrop-white"></div>
</section>
