<!-- Parklot settings -->
<section class="panel col-md-6">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
    </header>
    <div class="panel-body minimal">
        <div class="saving-progress" >
            <span class=""  ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
        </div>

        <div class="option table-responsive">
            <h1>Services</h1>
            <table class="table table-inbox table-hover">
                <tbody>
                <tr class="option">
                    <td colspan="2">
                        <input  class="form-element width50 form-control"  ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.services.localMoveLabel">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.services.localMoveOn">
                    </td>
                </tr>
                <tr class="option">
                    <td colspan="2" >
                        <input  class="form-element width50 form-control"  ng-change="vm.saveSettings()"
                                ng-model-options="{ updateOn: 'blur' }"
                                ng-model="vm.basicSettings.services.overnightStorageLabel">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.services.overnightStorageOn">
                    </td>
                </tr>

                <tr class="option">
                    <td colspan="2">
                        <input  class="form-element width50 form-control"  ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.services.loadingHelpLabel">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.services.loadingHelpOn">
                    </td>
                </tr>
                <tr class="option">
                    <td colspan="2">
                        <input  class="form-element width50 form-control"  ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.services.unloadingHelpLabel">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.services.unloadingHelpOn">
                    </td>
                </tr>

                <tr class="option">
                    <td colspan="2">
                        <input   class="form-element width50 form-control"  ng-change="vm.saveSettings()"
                                ng-model-options="{ updateOn: 'blur' }"
                                ng-model="vm.basicSettings.services.localMoveStorageLabel">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.services.localMoveStorageOn">
                    </td>
                </tr>

                <tr class="option">
                    <td colspan="2" >
                        <input   class="form-element width50 form-control"  ng-change="vm.saveSettings()"
                                 ng-model-options="{ updateOn: 'blur' }"
                                 ng-model="vm.basicSettings.services.flatRateLabel">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.isflat_rate_miles">
                    </td>
                </tr>

                <tr class="option">
                    <td colspan="2">
                        <input   class="form-element width50 form-control"  ng-change="vm.saveSettings()"
                                 ng-model-options="{ updateOn: 'blur' }"
                                 ng-model="vm.basicSettings.services.longDistanceLabel">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.islong_distance_miles">
                    </td>
                </tr>

                <tr class="option">
                    <td colspan="2">
                        <input   class="form-element width50 form-control"  ng-change="vm.saveSettings()"
                                 ng-model-options="{ updateOn: 'blur' }"
                                 ng-model="vm.basicSettings.services.packingDayLabel">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"
                               ichecks=""
                               ng-change="vm.saveSettings()"
                               ng-model="vm.basicSettings.services.packingDayOn">
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</section>
