<!-- Parklot settings -->
<section class="panel col-md-12 col-sm-12">

    <div class="panel-body minimal">

        <div class="saving-progress" >
            <span  ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
        </div>

        <div class="option table-responsive">
            <h1>Front Page Promo Block</h1>
            <table class="calculator">
                <tbody>
                    <tr class="chat-widget">
                        <td class="sizeset">
                            <div ng-change="vm.saveSettings()"
                                 ng-model="vm.basicSettings.fp_promo_block_text" text-angular
                                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                          ['fontColor', 'fontName', 'fontSize'],
                                          ['insertLink', 'insertImage'],
                                          ['undo', 'redo', 'clear', 'html']]">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="option table-responsive">
            <div class="floating">
                <h1>Own Cancellation Policy</h1>
                <input type="checkbox"
                       class="js-switch"
                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                       ng-change="vm.saveSettings()"
                       ng-model="vm.basicSettings.own_cancelation_policy.show"
                       id="visible"
                       data-switchery="true">
            </div>
            <table class="calculator">
                <tbody>
                    <tr class="chat-widget">
                        <td class="sizeset">
                            <div ng-change="vm.saveSettings()"
                                 ng-model="vm.basicSettings.own_cancelation_policy.text"
                                 text-angular
                                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                          ['fontColor', 'fontName', 'fontSize'],
                                          ['insertLink', 'insertImage'],
                                          ['undo', 'redo', 'clear', 'html']]">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="option table-responsive">
            <div class="floating">
                <h1>Own Company Policy</h1>
                <input type="checkbox"
                       class="js-switch"
                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                       ng-change="vm.saveSettings()"
                       ng-model="vm.basicSettings.own_company_policy.show"
                       id="visible"
                       data-switchery="true">
            </div>
            <table class="calculator">
                <tbody>
                    <tr class="chat-widget">
                        <td class="sizeset">
                            <div ng-change="vm.saveSettings()"
                                 ng-model="vm.basicSettings.own_company_policy.text"
                                 text-angular
                                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                          ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                          ['fontColor', 'fontName', 'fontSize'],
                                          ['insertLink', 'insertImage'],
                                          ['undo', 'redo', 'clear', 'html']]">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
