<section class="animated fadeInRight contract-settings" contract-settings>
    <div ng-show="busy">
        <img src="app/core/assets/images/loading.gif" class="busy-symbol">
    </div>
    <div class="row" ng-class="{'disabled': vm.busy}">
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
            <h2>Declaration of value
                <a href="/account/#/request/contract" target='_blank' class="btn btn-success"> Edit Contract page </a>
            </h2>
            <table class="table table-bordered">

                <tr ng-repeat="d in contract_page.declarations track by $index">
                    <td class="big" ng-class="{selected: d.show}" ng-click="toggle($index)">
                        <div>
                            <h1>{{:: d.index }}</h1>
                        </div>
                    </td>
                    <td>
                        <div class="desc">
                            <p>{{:: d.description }}</p>
                        </div>
                    </td>
                </tr>
            </table>
            <h2 style="min-height: 37px; line-height: 2;">
                Check Available payment options
                <button ng-click="newPaymentObj = !newPaymentObj" class="btn  pull-right status " ng-class="{'btn-danger': newPaymentObj, 'btn-success': !newPaymentObj }" style="margin: 7px 0 0 0;font-size: 14px;line-height: 1.3;">
                    <span ng-show="!newPaymentObj"><i class="fa fa-plus" aria-hidden="true"></i>Add </span><span ng-show="newPaymentObj"><i class="fa fa-minus" aria-hidden="true"></i>Remove </span></button>
            </h2>
            <table class="table table-bordered">
                <tr ng-repeat="option in contract_page.paymentOptions track by $index">
                    <td><label for="{{option.name}}">{{ option.name }}</label>
                        <i class="fa fa-times pull-right" aria-hidden="true" style="line-height: 1.5; cursor: pointer;" ng-if="option.alias == 'custom'" ng-click="removeCustomPayment($index)"></i>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="{{option.name}}" id="{{option.name}}" ichecks="" ng-model="option.selected"/>
                    </td>
                </tr>
                <tr ng-if="newPaymentObj">
                    <td>
                        <input type="text" class="form-control" ng-model="newPayment.name" placeholder="Payment name">
                        <button ng-click="addNewPayment()" class="btn btn-default" style="margin-top: 10px;">Save</button>
                    </td>
                    <td class="center">
                        <input type="checkbox" ichecks="" ng-model="newPayment.selected"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
            <h2 style="min-height: 37px; line-height: 2;">
                Contract Settings
            </h2>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <label for="minPayroll">Minimum payroll hours</label>
                    </td>
                    <td class="center">
                        <input type="number" name="minPayroll" id="minPayroll" class="form-control" style="width: 80px; margin: auto;" ng-model="contract_page.minPayrollHours"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="pushTips">Push Tips</label>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="pushTips" id="pushTips" ichecks="" ng-model="contract_page.pushTips"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="lessInitialContract">Less Initial Contract</label>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="lessInitialContract" ichecks="" id="lessInitialContract" ng-model="contract_page.lessInitialContract"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="review">Move to review tab after paid payment</label>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="review" id="review" ichecks="" ng-model="contract_page.goToReview"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="inventory">Use inventory on contract</label>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="inventory" id="inventory" ichecks="" ng-model="contract_page.useInventory"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="releaseForm">Use default Release Form</label>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="releaseForm" id="releaseForm" ichecks="" ng-model="contract_page.releaseFormOldVersion"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rentalAgreementForm">Use Rental Agreement form</label>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="rentalAgreementForm" id="rentalAgreementForm" ichecks="" ng-model="contract_page.rentalAgreementForm"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="foremanChangeRate">Allow foreman to change rate on contract</label>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="foremanChangeRate" id="foremanChangeRate" ichecks="" ng-model="contract_page.foremanChangeRate"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="foremanMoveDateSorting">Show foreman's jobs by move date</label>
                    </td>
                    <td class="center">
                        <input type="checkbox" name="foremanMoveDateSorting" id="foremanMoveDateSorting" ichecks="" ng-model="contract_page.foremanMoveDateSorting"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="pickUpPercent">Percent of total for pickup job (flat rate)</label>
                    </td>
                    <td class="center">
                        <input type="text" class="form-control" cc-percent name="pickUpPercent" id="pickUpPercent" ng-model="contract_page.pickUpPercent" ng-change="percentOfTotalForPickup()"/>
                    </td>
                </tr>
                <tr ng-repeat="photoSetting in contract_page.skippingPhoto track by $index">
                    <td>
                        <label for="{{photoSetting.name}}">{{photoSetting.name}}</label>
                    </td>
                    <td class="center">
                        <input type="checkbox"
                               id="{{photoSetting.name}}"
                               ichecks
                               ng-model="photoSetting.value">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
            <h2 style="min-height: 37px; line-height: 2;">
                Check Available payment types
            </h2>
            <table class="table table-bordered">
                <tr ng-repeat="type in contract_page.paymentTypes track by $index" ng-hide="type.alias == 'FlatFee'">
                    <!--Hide payment type 'FlatFee' until there is new improvement for payroll calculation-->
                    <td><label for="{{type.name}}">{{ type.name }}</label></td>
                    <td class="center">
                        <input type="checkbox"
                               name="{{type.name}}"
                               id="{{type.name}}"
                               ichecks=""
                               ng-model="type.selected" ng-change="setAvailablePaymentType(type.name)"/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
            <h2 style="min-height: 37px; line-height: 2;">
                Confirmation Page Settings
            </h2>
            <table class="table table-bordered">
                <tr>
                    <td><label>Show Company Signature on confirmation page </label></td>
                    <td class="center">
                        <input type="checkbox" ng-model="vm.basicSettings.confirmation_page.showSignature" name="showSignature" id="showSignature" ichecks=""/>
                    </td>
                </tr>
                <tr>
                    <td><label>Show Company Signature on confirmation print page only</label></td>
                    <td class="center">
                        <input type="checkbox" ng-model="vm.basicSettings.confirmation_page.showSignatureprint" name="showSignatureprint" id="showSignatureprint" ichecks=""/>
                    </td>
                </tr>

                <tr>
                    <td><label>{{contract_page.confirmationShowQuote.name}}</label></td>
                    <td class="center">
                        <input type="checkbox" ng-model="contract_page.confirmationShowQuote.selected" ichecks=""/>
                    </td>
                </tr>

				<tr>
					<td><label>{{contract_page.confirmationShowForemanNotes.name}}</label></td>
					<td class="center">
						<input type="checkbox" ng-model="contract_page.confirmationShowForemanNotes.selected" ichecks=""/>
					</td>
				</tr>

                <td colspan="2" class="confirmation-policy-settings">
                    <button ng-click="confirmationPageTitlesModal()"
                            class="btn btn-success btn-full-width">CONFIRMATION PAGE TITLES SETTINGS</button>
                </td>

                <tr>
                    <td colspan="2" class="confirmation-policy-settings">
                        <button ng-click="contractAgreeTextSettingModal()"
                                class="btn btn-success btn-full-width">
                            CONFIRMATION PAGE POLICY TEXT SETTINGS</button>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 col-xs-offset-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4" style="text-align: center;">
            <div class="btn-group">
                <button class="btn  btn-primary" ng-click="save()" data-ng-disabled="!canSubmit()" style="width: 180px;"> Save</button>
            </div>
        </div>
    </div>

</section>
