<div class="modal-header" id="coupon-header">
  <div class="actions pull-right">
    <button type="button" class="close" ng-click="closeModal()">&times;</button>
  </div>
</div>
<div class="modal-body form-horizontal" id="create-coupon">
  <div ng-show="busy" class="busyoverlay">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
  <div id="preview-coupon">
    <div class="row">
      <div class="col-md-12">
        <h3>Preview</h3>
        <div class="row" >
          <div class="col-md-8 col-md-offset-2 coupon">
            <div class="row" style="margin-bottom: auto; margin-top: 10px;">
              <div class="col-md-12">
                <h3><i class="fa fa-tag" aria-hidden="true" style="transform: rotate(90deg);color: #4E901A;"></i>
                  ${{coupon.price | number : 2}} for ${{coupon.discount | number : 2}} Deal at {{settings.company_name}}
                </h3>
                <h4 ng-if="coupon.coupons_left > 0">Only {{coupon.coupons_left}} deals left!</h4>
                <div class="row info-table">
                  <div class="col-md-4 vertical-line">
                    <div class="title-preview">Reg.Price</div>
                    <h4>${{coupon.discount | number : 2}}</h4>
                  </div>
                  <div class="col-md-4 vertical-line">
                    <div class="title-preview">Discount</div>
                    <h4>%{{100 - (100*coupon.price/coupon.discount || 0) | number : 2}}</h4>
                  </div>
                  <div class="col-md-4">
                    <div class="title-preview">Savings</div>
                    <h4>${{coupon.discount - coupon.price | number : 2}}</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p>{{coupon.description}}</p>
                    <button class="btn btn-coupon"><b>${{coupon.price | number : 2}} Buy now</b>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <ul style="padding-left: 20px;list-style: initial;">
                      <li ng-repeat="term in coupon.terms track by $index" ng-if="term && term != ''" style="margin-bottom: inherit;">
                        {{term}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="coupon-data">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h3>Price</h3>
            <div class="row">
              <div class="col-md-12 price">
                <input class="form-control" type="radio" ng-model="couponPrice" value="50" name="for100" id="for100" ng-change="changePrice()"> <label for="for100">$50 for $100</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 price">
                <input class="form-control" type="radio" ng-model="couponPrice" value="100" name="for150" id="for150" ng-change="changePrice()"> <label for="for150" >$100 for $150</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 price">
                  <input class="form-control" type="radio" ng-model="couponPrice" value="custom" name="custom"  id="custom" ng-change="changePrice()"> <label for="custom">Custom Price</label>
                <div ng-if="couponPrice=='custom'" class="custom">
                  $<input min="0" positive-decimal-number class="form-control" ng-model="coupon.price" type="number" >for $<input min="0" positive-decimal-number  class="form-control" ng-model="coupon.discount" type="number">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Number Available</h3>
            <div class="row">
              <div class="col-md-12">
                <input class="form-control" type="checkbox" ng-model="couponLimit" name="limit" id="limit" ng-change="changeLimit()"><label for="limit">Do not limit how many deals can be sold</label>
                <div ng-if="!couponLimit">
                  <input class="form-control" positive-number type="number" ng-model="coupon.coupons_count" ng-change="coupon.coupons_left = coupon.coupons_count"> Deals Available
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Special Terms
              <i class="fa fa-plus pull-right" aria-hidden="true" ng-click="addTerm()" style="cursor: pointer;font-size: 22px;"></i>
            </h3>
          </div>
        </div>
        <div class="row" ng-repeat="term in coupon.terms track by $index">
          <div class="col-md-11">
            <textarea ng-model="coupon.terms[$index]" rows="2" class="form-control"></textarea>
          </div>
          <div class="col-md-1">
            <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;font-size: 22px; line-height: 2.7;" ng-click="removeTerm($index)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success pull-right" ng-click="createNewCoupon()" ng-if="!editCoupon">Create</button>
  <button class="btn btn-success pull-right" ng-click="updateCoupon()" ng-if="editCoupon">Update</button>
</div>
