 <div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
     </svg></div> </div> 
<div ng-class="{'disabled': busy}">
    <div class="modal-header">
       <h2>Are you sure you want to delete truck ?</h2>
    </div>
    <div class="modal-body">
        <div><b>ATENTION!!!</b>If you delete truck, <b>requests signed on this truck will not be shown on shcedule.</b></div>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary alert" ng-click="deleteTruck(tid)">Delete</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    </div>

</div>
  