<extra-service-settings></extra-service-settings>
<section class="panel col-md-12 col-sm-12 col-lg-12 animated fadeInRight equipment-fee-settings">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">EQUIPMENT FEE</h4>
    </header>
    <form class="row" ng-class="{'disabled': vm.busy}">
        <div class="col-md-12">
            <div class="panel panel-default no-box-shadow">
                <div class="saving-progress">
                    <span class="" ng-show="vm.saving">Saving</span>
                    <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
                </div>
                <div class="panel-body">
                    <div class="row form-group">
                        <div class="com-md-3">
                            <label for="equipment-fee-name" >Equipment Fee Name</label>
                        </div>
                        <div class="col-md-5">
                            <input id="equipment-fee-name" type="text" ng-blur="vm.saveChangesEquipmentFee()"
                                   ng-model="vm.equipment_fee.name" class="form-control"
                                    placeholder="Please. Enter equipment fee name">
                        </div>
                    </div>
                    <div class="row fuel-row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                <tr class="valuation-header">
                                    <th colspan="2">
                                        Equipment fee by mileage
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(index,  value) in vm.equipment_fee.by_mileage">
                                    <td>
                                        <input placeholder="Miles from" ng-model="value.from" ng-blur="vm.saveChangesEquipmentFee()"
                                               class="form-control">
                                    </td>
                                    <td>
                                        <input placeholder="Miles to" ng-model="value.to" ng-blur="vm.saveChangesEquipmentFee()"
                                               class="form-control">
                                    </td>
                                    <td>
                                        <input cc-currency ng-model="value.amount"
                                               ng-blur="vm.saveChangesEquipmentFee()" class="form-control">
                                    </td>
                                    <td>
                                        <div ng-click="vm.removeEquipmentFee(index)" class="valuation-remove">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="vm.addEquipmentFee" class="">
                                    <td>
                                        <input placeholder="Miles from" ng-model="vm.newEquipmentFee.from" class="form-control">
                                    </td>
                                    <td>
                                        <input placeholder="Miles to" ng-model="vm.newEquipmentFee.to" class="form-control">
                                    </td>
                                    <td>
                                        <input cc-currency ng-model="vm.newEquipmentFee.amount"
                                               class="form-control">
                                    </td>
                                    <td class="add-valuation">
                                        <div style="display: inline-block;">
                                            <button class="btn btn-success"
                                                    ng-click="vm.saveNewEquipmentFee(); "
                                                    ng-if="vm.addEquipmentFee">
                                                Save<i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div ng-click="vm.addEquipmentFee = false"
                                             style="display: inline-block; cursor: pointer;">
                                            <i class="fa fa-times" aria-hidden="true"
                                               style="font-size: 20px;"></i>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary"
                                    ng-click="vm.addNewEquipmentFee(); vm.addEquipmentFee = true"
                                    ng-disabled="vm.addEquipmentFee">
                                <i class="fa fa-plus" aria-hidden="false"></i>Add Row
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>