<div id="extraSettings" class="modal-body form-horizontal">
    <div ng-show="busy" class="busyoverlay">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <form action="#" name="createUserRequest">
        <div class="form-group">
            <legend style="padding: 10px 28px;">Additional Service</legend>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" >
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">Name: </label>
                            <div class="col-sm-8">
                                <input ng-model="request.name" class="required  form-control  form-select"  type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h4 style="padding: 10px 0px 5px 20px;">Parameters </h4>
                </div>
                <div class="form-group" >
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-1"> </label>
                            <label class="col-sm-4">Name </label>
                            <label class="col-sm-3">Type </label>
                            <label class="col-sm-1">Read-only </label>
                            <label class="col-sm-3">Default Value </label>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-1" style="line-height: 36px;">
                            </div>
                            <div class="col-sm-4">
                                <input ng-model="request.parameterName1" class="required  form-control  form-select" type="text" required>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-select form-control"
                                        ng-init="request.type1 = serviceType[0]"
                                        ng-model="request.type1"
                                        ng-options="type as type for type in serviceType">
                                </select>
                            </div>
                            <div class="col-sm-1" style="line-height: 36px;">
                                <input type="checkbox" ng-model="request.readOnly1">
                            </div>
                            <div class="col-sm-3">
                                <input class="required  form-control  form-select" type="text" ng-model="request.defaultValue1" required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-1" style="line-height: 36px;">
                                <input type="checkbox" ng-model="request.enable2">
                            </div>
                            <div class="col-sm-4">
                                <input ng-disabled="!request.enable2" ng-model="request.parameterName2" class="required  form-control  form-select" type="text" required>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-select form-control"
                                        ng-init="request.type2 = serviceType[0]"
                                        ng-disabled="!request.enable2"
                                        ng-model="request.type2"
                                        ng-options="type as type for type in serviceType">
                                </select>
                            </div>
                            <div class="col-sm-1" style="line-height: 36px;">
                                <input type="checkbox" ng-disabled="!request.enable2" ng-model="request.readOnly2">
                            </div>
                            <div class="col-sm-3">
                                <input class="required  form-control  form-select" type="text"
                                       ng-disabled="!request.enable2"
                                       ng-model="request.defaultValue2" required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-1" style="line-height: 36px;">
                                <input type="checkbox" ng-model="request.enable3">
                            </div>
                            <div class="col-sm-4">
                                <input ng-disabled="!request.enable3" ng-model="request.parameterName3" class="required  form-control  form-select" type="text" required>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-select form-control"
                                        ng-init="request.type3 = serviceType[0]"
                                        ng-disabled="!request.enable3"
                                        ng-model="request.type3"
                                        ng-options="type as type for type in serviceType">
                                </select>
                            </div>
                            <div class="col-sm-1" style="line-height: 36px;">
                                <input type="checkbox" ng-model="request.readOnly3" ng-disabled="!request.enable3">
                            </div>
                            <div class="col-sm-3">
                                <input class="required  form-control  form-select" type="text"
                                       ng-disabled="!request.enable3"
                                       ng-model="request.defaultValue3" required>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary"
            ng-click="create()"
            ng-class="{disabled: newRequest.$invalid || !isValid()}"
            ng-disabled="!isValid() || newRequest.$invalid">
        <span ng-if="editService">Update</span><span ng-if="!editService">Create</span>
    </button>
</div>