<section class="panel panel col-md-12 col-sm-12 col-lg-12 nopadding animated fadeInRight fuel-settings">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}}</h4>
    </header>
    <div class="row" ng-class="{'disabled': vm.busy}" id="Surcharge">
        <div class="col-md-12">
            <div class="panel panel-default no-box-shadow">
                <div class="saving-progress">
                    <span class="" ng-show="vm.saving">Saving</span>
                    <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
                </div>
                <div class="panel-body">
                    <form class="row">
                        <div class="col-md-12">
                            <h3 class="acc_title">
                                Local Move.
                                <i class="icon-question elromco-tooltip" elromco-tooltip>
                                    <div class="rmtips">
                                        <div class="center">
                                            Priority
                                        </div>
                                        <ol>
                                            <li>
                                                Fuel by mileage.
                                            </li>
                                            <li>
                                                Fuel percent from quote.
                                            </li>
                                            <li>
                                                Fuel settings by miles.
                                            </li>
                                        </ol>
                                    </div>
                                </i>
                            </h3>
                            <div class="row fuel-row form-group horizontal-line">
                                <h1>
                                    Fuel by mileage
                                    <i class="icon-question elromco-tooltip" elromco-tooltip>
                                        <div class="rmtips">
                                            <p>
                                                We take maximum distance from "Parking to Origin" or "Parking to Destination".
                                            </p>
                                            <p>
                                                Next, we search for matches with our settings. For example: We have a setting that adds 50$ fuel surcharge if our distance is from 0 to 50 miles. Since our max distance of 30 miles lies in between 0 and 50 miles, we will get 50$ fuel surcharge for a request.
                                            </p>
                                            <p>
                                                If we don't find any matches, we calculate by following setting "Fuel percent from quote".
                                            </p>
                                        </div>
                                    </i>
                                </h1>
                                <div class="col-md-12">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr class="valuation-header">
                                            <th class="fuel-header">
                                                From miles
                                            </th>
                                            <th class="fuel-header">
                                                To miles
                                            </th>
                                            <th class="fuel-header">
                                                Amount
                                            </th>
                                            <th class="fuel-header"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(index, amount) in vm.surcharge">
                                            <td>
                                                <input ng-model="amount.from" ng-blur="vm.saveChangesSurcharge()" class="form-control" placeholder="From miles">
                                            </td>
                                            <td>
                                                <input ng-model="amount.to" ng-blur="vm.saveChangesSurcharge()" class="form-control" placeholder="To miles">
                                            </td>
                                            <td>
                                                <input cc-currency ng-model="amount.amount" ng-blur="vm.saveChangesSurcharge()" class="form-control">
                                            </td>
                                            <td>
                                                <div ng-click="vm.removeSurcharge(index)" class="valuation-remove">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-if="vm.addSurcharge" class="">
                                            <td>
                                                <input ng-model="vm.newSurcharge.from" class="form-control">
                                            </td>
                                            <td>
                                                <input ng-model="vm.newSurcharge.to" class="form-control">
                                            </td>
                                            <td>
                                                <input cc-currency ng-model="vm.newSurcharge.amount" class="form-control">
                                            </td>
                                            <td class="add-valuation">
                                                <div style="display: inline-block;">
                                                    <button class="btn btn-success" ng-click="vm.saveNewSurcharge();" ng-if="vm.addSurcharge">
                                                        Save<i class="fa fa-check" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div ng-click="vm.addSurcharge = false" style="display: inline-block; cursor: pointer;">
                                                    <i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-primary" ng-click="vm.addNewSurcharge(); vm.addSurcharge = true" ng-disabled="vm.addSurcharge">
                                        <i class="fa fa-plus" aria-hidden="false"></i>Add Row
                                    </button>
                                </div>
                            </div>

                            <div class="form-group row horizontal-line">
                                <h1>
                                    Fuel percent
                                    <i class="icon-question elromco-tooltip" elromco-tooltip>
                                        <div class="rmtips">
                                            For example, we have a setting that charges 5% from 1000$ quote, which will result in 50$ fuel surcharge. If this setting is disabled we calculate by last setting "Fuel settings by miles"
                                        </div>
                                    </i>
                                </h1>
                                <div class="col-md-12">
                                    <label class="col-md-5" for="def_local">
                                        Default Local fuel surcharge from quote
                                    </label>
                                    <div class="col-md-2">
                                        <input id="def_local" cc-percent ng-blur="vm.saveChangesSurcharge()" ng-model="vm.fuel_surcharge.def_local" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row settingsByMileage form-group">
                                <h1>
                                    Fuel settings by miles
                                    <i class="icon-question elromco-tooltip" elromco-tooltip>
                                        <div class="rmtips">
                                            We take fuel charge per mile and multiply it by distance calculated with selected way setting below.
                                        </div>
                                    </i>
                                </h1>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-5" for="setting-per-mileage">
                                            How much you charge per mile?
                                        </label>
                                        <div class="col-md-2">
                                            <input cc-currency ng-blur="vm.saveChangesSurcharge()" ng-model="vm.fuel_surcharge.settingsByMileage.amount" class="form-control" id="setting-per-mileage">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5" for="setting-start-mile">
                                            Start charge from distance:
                                        </label>
                                        <div class="col-md-2">
                                            <input type="number" min="0" ng-blur="vm.saveChangesSurcharge()" ng-model="vm.fuel_surcharge.settingsByMileage.minimumDistance" class="form-control" id="setting-start-mile">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-5 select-label">
                                                    <label>Please select way for calculating fuel surcharge:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="way1">Way 1:</label>
                                                    <input type="radio" ng-change="vm.saveChangesSurcharge()" checkstyle="green" name="fuelSurchargeWays" id="way1" ichecks="" ng-model="vm.fuel_surcharge.settingsByMileage.selectedWay" value="0"/>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-class="{disabled: vm.fuel_surcharge.settingsByMileage.selectedWay != '0'}">
                                                            In one direction (From C to A or B to C):
                                                            <select class="form-element form-control" ng-model="vm.fuel_surcharge.settingsByMileage.details" ng-change="vm.saveChangesSurcharge()">
                                                                <option ng-repeat="wayoption in vm.wayOneOptions" value="{{wayoption.value}}">{{wayoption.name}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="way2">Way 2:</label>
                                                    <input type="radio" ng-change="vm.saveChangesSurcharge()" checkstyle="green" name="fuelSurchargeWays" id="way2" ichecks="" ng-model="vm.fuel_surcharge.settingsByMileage.selectedWay" value="1"/>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-class="{disabled: vm.fuel_surcharge.settingsByMileage.selectedWay != '1'}">
                                                            From C to A plus from B to C:
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="way3">Way 3:</label>
                                                    <input type="radio" ng-change="vm.saveChangesSurcharge()" checkstyle="green" name="fuelSurchargeWays" id="way3" ichecks="" ng-model="vm.fuel_surcharge.settingsByMileage.selectedWay" value="2"/>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-class="{disabled: vm.fuel_surcharge.settingsByMileage.selectedWay != '2'}">
                                                            All distance (From C to A plus from A to B plus from B to C)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="way4">Way 4:</label>
                                                    <input type="radio" ng-change="vm.saveChangesSurcharge()" checkstyle="green" name="fuelSurchargeWays" id="way4" ichecks="" ng-model="vm.fuel_surcharge.settingsByMileage.selectedWay" value="3"/>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-class="{disabled: vm.fuel_surcharge.settingsByMileage.selectedWay != '3'}">
                                                            From A to B
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 notice">
                                                    Notice: A - Origin, B - Destination, C - Company address.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="acc_title">
                                Long Distance
                                <i class="icon-question elromco-tooltip" elromco-tooltip>
                                    <div class="rmtips">
                                        <div class="center">
                                            Priority
                                        </div>
                                        <ol>
                                            <li>
                                                Fuel percent from quote.
                                            </li>
                                            <li>
                                                Fuel settings by miles.
                                            </li>
                                        </ol>
                                    </div>
                                </i>
                            </h3>
                            <div class="row fuel-row form-group">
                                <div class="col-md-12">
                                    <h1>
                                        Fuel percent
                                        <i class="icon-question elromco-tooltip" elromco-tooltip>
                                            <div class="rmtips">
                                                For example, we have a setting that charges 5% from 1000$ quote, which will result in 50$ fuel surcharge. If this setting is disabled we calculate by last setting "Fuel settings by miles"
                                            </div>
                                        </i>
                                    </h1>
                                    <div class="col-md-5">
                                        <label>Default Long Distance fuel surcharge from quote</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input cc-percent ng-blur="vm.saveChangesSurcharge()" ng-model="vm.fuel_surcharge.def_ld" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row settingsByMileage form-group">
                                <h1>
                                    Fuel settings by miles
                                    <i class="icon-question elromco-tooltip" elromco-tooltip>
                                        <div class="rmtips">
                                            We take fuel charge per mile and multiply it by distance calculated with selected way setting below.
                                        </div>
                                    </i>
                                </h1>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-5" for="setting-per-mileage-ld">
                                            How much you charge per mile?
                                        </label>
                                        <div class="col-md-2">
                                            <input cc-currency ng-blur="vm.saveChangesSurcharge()" ng-model="vm.fuel_surcharge.settingsByMileageLD.amount" class="form-control" id="setting-per-mileage-ld">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5" for="setting-start-mile-ld">
                                            Start charge from distance:
                                        </label>
                                        <div class="col-md-2">
                                            <input type="number" min="0" ng-blur="vm.saveChangesSurcharge()" ng-model="vm.fuel_surcharge.settingsByMileageLD.minimumDistance" class="form-control" id="setting-start-mile-ld">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-5 select-label">
                                                    <label>Please select way for calculating fuel surcharge:</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="way1-ld">Way 1:</label>
                                                    <input type="radio" ng-change="vm.saveChangesSurcharge()" checkstyle="green" name="fuelSurchargeWaysLD" id="way1-ld" ichecks="" ng-model="vm.fuel_surcharge.settingsByMileageLD.selectedWay" value="0"/>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-class="{disabled: vm.fuel_surcharge.settingsByMileageLD.selectedWay != '0'}">
                                                            In one direction (From C to A or B to C):
                                                            <select class="form-element form-control" ng-model="vm.fuel_surcharge.settingsByMileageLD.details" ng-change="vm.saveChangesSurcharge()">
                                                                <option ng-repeat="wayoption in vm.wayOneOptions" value="{{wayoption.value}}">{{wayoption.name}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="way2-ld">Way 2:</label>
                                                    <input type="radio" ng-change="vm.saveChangesSurcharge()" checkstyle="green" name="fuelSurchargeWaysLD" id="way2-ld" ichecks="" ng-model="vm.fuel_surcharge.settingsByMileageLD.selectedWay" value="1"/>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-class="{disabled: vm.fuel_surcharge.settingsByMileageLD.selectedWay != '1'}">
                                                            From C to A plus from B to C:
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="way3-ld">Way 3:</label>
                                                    <input type="radio" ng-change="vm.saveChangesSurcharge()" checkstyle="green" name="fuelSurchargeWaysLD" id="way3-ld" ichecks="" ng-model="vm.fuel_surcharge.settingsByMileageLD.selectedWay" value="2"/>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-class="{disabled: vm.fuel_surcharge.settingsByMileageLD.selectedWay != '2'}">
                                                            All distance (From C to A plus from A to B plus from B to C)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="way4-ld">Way 4:</label>
                                                    <input type="radio" ng-change="vm.saveChangesSurcharge()" checkstyle="green" name="fuelSurchargeWaysLD" id="way4-ld" ichecks="" ng-model="vm.fuel_surcharge.settingsByMileageLD.selectedWay" value="3"/>
                                                    <div class="row">
                                                        <div class="col-md-12" ng-class="{disabled: vm.fuel_surcharge.settingsByMileageLD.selectedWay != '3'}">
                                                            From A to B
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 notice">
                                                    Notice: A - Origin, B - Destination, C - Company address.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>