<div class="pageheader">
    <h1>General Settings </h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>Settings</li>
            <li class="active">General</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInUp general"  ng-controller="GeneralController as vm">
    <!--mail wrapper start-->
    <div class="row">
        <div class="col-md-2 col-sm-12" id="compose-wrapper">
            <div class="panel">
                <aside class="panel-body">
                    <div class="btn btn-primary btn-block">General Settings</div>
                    <ul class="nav nav-pills nav-stacked compose-nav">
                        <li ng-repeat="tab in vm.tabs"
                            ng-class="{ 'active': tab.selected}"
                            >
                            <a href="" ng-click="vm.select(tab)"> <i class="{{tab.icon}}"></i>{{tab.name}}
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="panel" style="display:none">
                <aside class="panel-body">
                    <button class="btn btn-default btn-block">Manage Labels</button>
                    <ul class="nav nav-pills nav-stacked compose-nav">
                        <li>
                            <a href="#"> <i class="fa fa-bookmark danger-color"></i> Urgent

                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark warning-color"></i> Social<span class="label label-warning pull-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark primary-color"></i> Follow-up</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark success-color"></i> Work Inquiry</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark info-color"></i> Save <span class="label label-info pull-right inbox-notification"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark default-color"></i> ToDo</a>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="col-md-10 col-sm-12" id="inbox-wrapper">
            <div class="tab_content" ng-repeat="tab in vm.tabs"  ng-class="{active: tab.selected}">
                    <div  ng-if="tab.selected" ng-include="tab.url"></div>
            </div>
        </div>
    </div>
    
    <!--mail wrapper end-->
</section>