<section class="panel col-md-8" ng-init="selectedIndex = 0">
	<md-tabs md-stretch-tabs="always" md-dynamic-height="true" md-selected="selectedIndex">
        <md-tab>
            <md-tab-label>
                Updater
            </md-tab-label>
            <md-tab-body>
                <updater></updater>
            </md-tab-body>
        </md-tab>
		<md-tab>
			<md-tab-label>
				Quickbooks
			</md-tab-label>
			<md-tab-body>
				<quick-books></quick-books>
			</md-tab-body>
		</md-tab>
		<md-tab>
			<md-tab-label>
				Arrivy
			</md-tab-label>
			<md-tab-body>
				<arrivy-settings></arrivy-settings>
			</md-tab-body>
		</md-tab>
		<md-tab>
			<md-tab-label>
				Speedy inventory
			</md-tab-label>
			<md-tab-body>
				<speedy-inventory-settings ng-if="selectedIndex == 3"></speedy-inventory-settings>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</section>
