<!-- Parklot settings -->
<section class="panel col-md-6">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
    </header>
    <div class="panel-body minimal">
        <div class="saving-progress" >
            <span class=""  ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
        </div>
        <div class="option table-responsive">
            <h1>Marketing Tools</h1>
            <p>The techniques and materials used by those who are involved in the promotion of goods and services.
               Most businesses that need to sell their goods or services to the public will make extensive use of various marketing tools,
               such as market research and advertising to help further their success.
            </p>
        </div>

        <div class="option table-responsive">
            <h1>"Bloomingdales" Sales Promotion</h1>
            <p>Increase rates by % and show that you have sales promotion, but rates will stay same. </p>
            <p></p>
            <TABLE class="calculator">
                <tbody>
                <TR>
                    <td class="text">
                       Promotion Slogan
                    </td>
                    <td ng-class="{'disabled':!vm.basicSettings.promoTextOn}">
                        <input ng-maxlength="46" maxlength="46" style="    width: 451px;" class="form-element form-control"  ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.promoText">
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck" ichecks=""  ng-change="vm.saveSettings()" ng-model="vm.basicSettings.promoTextOn">

                    </td>

                </TR>
                </tbody>
            </TABLE>
            <table class="table table-inbox table-hover">
                <tbody>
                <tr class="option">
                    <td class="text">
                        Sales on all local rates by
                    </td>
                    <td colspan="2" ng-class="{'disabled':!vm.basicSettings.localDistountOn}">
                        <input class="form-element form-control"  ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.localDistount"> %
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck" ichecks=""  ng-change="vm.saveSettings()" ng-model="vm.basicSettings.localDistountOn">
                    </td>
                </tr>
                <tr class="option" >
                    <td class="text">
                        Sales on all long distance rates by
                    </td>
                    <td colspan="2" ng-class="{'disabled':!vm.basicSettings.longDistanceDistountOn}">
                        <input class="form-element form-control"  ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.basicSettings.longDistanceDistount"> %
                    </td>
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck" ichecks=""  ng-change="vm.saveSettings()" ng-model="vm.basicSettings.longDistanceDistountOn">
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div class="panel-body minimal">
        <div>
            <h1 style="display: inline-block; padding: 10px;">Deals & Gift Certificates</h1>
            <button class="btn btn-success status pull-right" ng-click="vm.createCoupon()" style="margin-top: 10px;">Create coupon</button>
        </div>
        <div class="row">
            <div class="col-md-12 option">
                <h3>Show Coupons
                    <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="vm.basicSettings.globalShowCoupons" id="checkOne" data-switchery="true" style="display: none;" ng-change="vm.saveSettings()">
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 option">
                <h3>Show coupons after <input type="number" class="form-control" min="0" ng-min="0" ng-model="vm.basicSettings.showCoupons" ng-disabled="!vm.basicSettings.globalShowCoupons"  ng-change="vm.saveSettings()"> inactive days </h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <h3>Deals & Gift Certificates title</h3>
                <textarea class="form-control"  ng-change="vm.saveSettings()" ng-model-options="{ updateOn: 'blur' }" ng-model="vm.basicSettings.couponsTitle" style="resize: vertical;"></textarea>
            </div>
        </div>
        <div id="coupon-settings" class="table-responsive">
            <div class="header" select-tab>
                <ul class="nav nav-tabs">
                    <li ng-class="{active: vm.couponsTabs.showOverview}">
                        <a href="" ng-click="vm.chooseCouponTab('showOverview')"> Overview </a>
                    </li>
                    <li ng-class="{active:vm.couponsTabs.showPurchases}">
                        <a href="" ng-click="vm.chooseCouponTab('showPurchases')"> Purchases </a>
                    </li>
                    <li ng-class="{active:vm.couponsTabs.showRedeemed}">
                        <a href="" ng-click="vm.chooseCouponTab('showRedeemed')"> Redeemed Coupons </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div ng-show="vm.couponsTabs.showOverview" id="overview-coupons">
                    <!--current-->
                    <h2>Current Offerings</h2>
                    <table class="panel-body table table-bordered" ng-if="vm.currCoupons.length">
                        <thead>
                        <tr class="table-active">
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Сoupons Count</th>
                            <th>Сoupons Left</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="coupon in vm.currCoupons">
                            <td class="text-left">{{coupon.value.name}}</td>
                            <td>
                                <span ng-if="coupon.value.start_date">{{coupon.value.start_date*1000 | date : "MMM dd, yyyy"}}</span>
                            </td>
                            <td>
                  <span ng-if="coupon.value.coupons_count >= 0">
                      {{coupon.value.coupons_count}}
                  </span> <span ng-if="coupon.value.coupons_count < 0">
                      Unlimit
                  </span>
                            </td>
                            <td>
                  <span ng-if="coupon.value.coupons_left >= 0">
                      {{coupon.value.coupons_left}}
                  </span> <span ng-if="coupon.value.coupons_left < 0">
                      Unlimit
                  </span>
                            </td>
                            <td ng-click="vm.removeCoupon(coupon)">
                                <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;"></i></td>
                            <td ng-click="vm.openCoupon(coupon)">
                                <i class="fa fa-pencil" aria-hidden="true" style="cursor: pointer;"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--past-->
                    <h2>Past Offerings</h2>
                    <table class="panel-body table table-bordered" ng-if="vm.pastCoupons.length">
                        <thead class="table-active">
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Сoupons Count</th>
                            <th>Сoupons Left</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="coupon in vm.pastCoupons">
                            <td class="text-left">{{coupon.value.name}}</td>
                            <td>
                                <span ng-if="coupon.value.start_date">{{coupon.value.start_date*1000 | date : "MMM dd, yyyy"}}</span>
                            </td>
                            <td>
                  <span ng-if="coupon.value.coupons_count >= 0">
                      {{coupon.value.coupons_count}}
                  </span> <span ng-if="coupon.value.coupons_count < 0">
                      Unlimit
                  </span>
                            </td>
                            <td>
                  <span ng-if="coupon.value.coupons_left >= 0">
                      {{coupon.value.coupons_left}}
                  </span> <span ng-if="coupon.value.coupons_left < 0">
                      Unlimit
                  </span>
                            </td>
                            <td ng-click="vm.removeCoupon(coupon)">
                                <i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;"></i></td>
                            <td ng-click="vm.openCoupon(coupon)">
                                <i class="fa fa-pencil" aria-hidden="true" style="cursor: pointer;"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="vm.couponsTabs.showPurchases" id="purchases-coupons">
                    <h2>Purchases</h2>
                    <table class="panel-body table table-bordered" ng-if="vm.purchasesCoupons.length">
                        <thead class="table-active">
                        <tr>
                            <th>Customer</th>
                            <th>Claim Code</th>
                            <th>Value</th>
                            <th>Discount</th>
                            <th>Purchased</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="coupon in vm.purchasesCoupons">
                            <td class="text-left">{{coupon.user_name}}</td>
                            <td>{{coupon.promo}}</td>
                            <td>{{coupon.total}}</td>
                            <td>{{coupon.discount}}</td>
                            <td>{{coupon.created * 1000 | date: 'MMM dd, yyyy'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="vm.couponsTabs.showRedeemed" id="redeemed-coupons">
                    <h2>Redeemed Coupons</h2>
                    <table class="panel-body table table-bordered" ng-if="vm.redeemedCoupons.length">
                        <thead class="table-active">
                        <tr>
                            <th>Customer</th>
                            <th>Claim Code</th>
                            <th>Value</th>
                            <th>Discount</th>
                            <th>Purchased</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="coupon in vm.redeemedCoupons">
                            <td class="text-left">{{coupon.user_name}}</td>
                            <td>{{coupon.promo}}</td>
                            <td>{{coupon.total}}</td>
                            <td>{{coupon.discount}}</td>
                            <td>{{coupon.created * 1000 | date: 'MMM dd, yyyy'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
