<div id="extraSettings" class="modal-body form-horizontal">
    <div ng-show="busy" class="busyoverlay">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <form action="#" name="createUserRequest">
        <div class="form-group">
            <legend style="padding: 10px 28px;">Packing Service</legend>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" >
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">Name: </label>
                            <div class="col-sm-8">
                                <input ng-model="request.name" class="required  form-control  form-select"  type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">LM Unit Cost: </label>
                            <div class="col-sm-8">
                                <input ng-model="request.rate" class="required form-control form-select hide-arrows" min="0" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">LD Unit Cost: </label>
                            <div class="col-sm-8">
                                <input ng-model="request.LDRate" class="required form-control form-select hide-arrows" min="0" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">Labor Rate: </label>
                            <div class="col-sm-8">
                                <input ng-model="request.laborRate" class="required form-control form-select hide-arrows" min="0" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">Show in Contract Page: </label>
                            <div class="col-sm-8">
                                <input ng-model="request.showInContract" class="required"  type="checkbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary"
            ng-click="create()"
            ng-class="{disabled: newRequest.$invalid || !isValid()}"
            ng-disabled="!isValid() || newRequest.$invalid">
        <span ng-if="editService">Update</span><span ng-if="!editService">Create</span>
    </button>
</div>
