<!-- Parklot settings -->
<section class="panel col-md-8">
    <div ng-show="vm.busyParser">
        <div class="busyoverlay">
            <img class="spinner" src="content/img/logo_animation.gif">
        </div>
    </div>
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
        <button ng-click="vm.saveParserSettings()" class="btn btn-primary pull-right">Update Parser</button>
        <button ng-click="vm.testParserSettings()" style="margin-right: 15px;" class="btn btn-primary pull-right">
            Test Connection
        </button>
    </header>
    <div class="panel-body minimal">
        <div class="saving-progress">
            <span class="" ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
        </div>
        <div class="parsing_settings">
            <!--EMAIL ACCOUNT -->
            <div class="form-group cusermodal-department">
                <h3 class="acc_title">
                    Parsing Settings
                </h3>
                <div class="col-sm-12" style="display: none;">
                    <div class="row">
                        <label class="col-sm-3 control-label">Incoming Mail Server</label>
                        <div class="col-sm-5">
                            <input class="form-control"
                                   type="text" ng-model="parsing.email_account.outgoing.server">
                        </div>
                        <label class="col-sm-1 control-label">Port</label>
                        <div class="col-sm-3">
                            <input class="form-control"
                                   type="text" ng-model="parsing.email_account.outgoing.port">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-8">
                            <label style="padding: 0px;">
                                <input type="checkbox" ng-model="parsing.email_account.outgoing.ssl"
                                       class="ng-valid ng-touched ng-dirty ng-valid-parse">
                                This server requires an encrypted connection (SSL)
                            </label>
                            <label style="padding: 0px;">
                                <input type="checkbox" ng-model="parsing.email_account.outgoing.tls"
                                       class="ng-valid ng-touched ng-dirty ng-valid-parse">
                                This server requires authentication
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">Email Address (account):</label>
                            <div class="col-sm-6">
                                <input class="form-control"
                                       type="text" name="email2" ng-model="parsing.name">
                            </div>
                            <label class="col-sm-2 control-label">Enable Parsing</label>
                            <div class="col-sm-1" for="enableParsing">
                                <input type="checkbox" name="enableParsing" id="enableParsing"
                                       ng-model="parsing.enabled" ng-true-value="1" ng-false-value="0">
                            </div>
                        </div>
                        <div class="row" style="    margin-top: 20px;">
                            <label class="col-sm-3 control-label">Password:</label>
                            <div class="col-sm-8">
                                <input class="form-control input-element-processed"
                                       name="password" type="password"
                                       ng-model="parsing.password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- INCOMING -->
            <div class="form-group">
                <div class="col-sm-12" style="    margin-top: 20px;">
                    <div class="row">
                        <label class="col-sm-3 control-label">Incoming Mail Server (IMAP)</label>
                        <div class="col-sm-5">
                            <input class="form-control"
                                   type="text" ng-model="parsing.incoming.server">
                        </div>
                        <label class="col-sm-1 control-label">Port</label>
                        <div class="col-sm-3">
                            <input class="form-control"
                                   type="text" ng-model="parsing.incoming.port">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-8">
                            <label style="padding: 0px;">
                                <input type="checkbox" ng-model="parsing.incoming.ssl"
                                       class="ng-valid ng-touched ng-dirty ng-valid-parse"
                                       ng-change="vm.chooseConnectionType('ssl')">
                                This server requires an encrypted connection (SSL)
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-8">
                            <label style="padding: 0px;">
                                <input type="checkbox" ng-model="parsing.incoming.tls"
                                       class="ng-valid ng-touched ng-dirty ng-valid-parse"
                                       ng-change="vm.chooseConnectionType('tls')">
                                This server requires an encrypted connection (TLS)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END-->

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-3 control-label">Use the same settings for all branches:</label>
                        <div class="col-sm-6">
                            <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                   ng-model="parsing.same_parser_settings_for_all_branches"
                                   id="same_parser_settings_for_all_branches" data-switchery="true" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="parser_list cusermodal-department">
            <h3 class="acc_title">
                Leads Providers
            </h3>
            <h3 class="show-quote">Show Quote</h3>
            <h3 class="name">Name</h3>
            <ul class="lead_providers">
                <li ng-repeat="parser in vm.basicSettings.parsers">
                    <span class="quote-check-box">
                        <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                 ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                 ng-model="parser.showQuote"
                                 ng-change="vm.saveSettings()"
                                 id="checkOne" data-switchery="true" style="display: none;"></span>
                    <span class="parser-name"><b>{{parser.name}}</b></span>
                    <a href="{{parser.url}}"> ( {{parser.format}} )  <i class="fa fa-external-link"></i> </a>
                </li>
            </ul>
        </div>
    </div>
</section>
