<!-- Parklot settings -->
<section class="panel col-md-6 payment-settings-wrapper">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
    </header>
    <div class="panel-body minimal">
        <div class="saving-progress" >
            <span class=""  ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
        </div>
        <div class="option table-responsive">


            <h1>authorize.net</h1>
            <h2 class="pull-right" style="margin-top: -40px;margin-bottom: 20px;font-size: 12px">
            <label>
                <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                       ng-model="vm.basicSettings.AuthPaymentSSL"
                       ng-change="vm.saveSettings()"
                       id="checkOne" data-switchery="true" style="display: none;">
                SSL Payment
            </label>
            </h2>

            <table class="table table-inbox table-hover">
                <tbody>
                <tr>
                    <td class="text">
                        <label for="apiLoginId">
                            API Login ID
                        </label>
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" id="apiLoginId" class="form-element form-control"  ng-change="vm.saveAuthorizeNet(vm.login_id,vm.transaction_key)"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.login_id">
                    </td>
                </tr>
                <!-- ng-change="vm.saveAuthorizeNet(vm.login_id,vm.transaction_key) -->
                <tr class="option">
                    <td class="text">
                        <label for="paymentTransactionKey">Transaction Key</label>
                    </td>
                    <td colspan="2">
                        <input style="width: 90%;" id="paymentTransactionKey" class="form-element form-control"  ng-change="vm.saveAuthorizeNet(vm.login_id,vm.transaction_key)"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.transaction_key">
                    </td>

                </tr>

                <tr class="option">
                    <td colspan="3" style="    text-align: center;
    background: #556B8D;
    color: white;">
                       <a style="    color: white;" href=" http://reseller.authorize.net/application/?id=34063" target="_blank">CREATE AUTHORIZE.NET ACCOUNT </a>
                    </td>
                </tr>


                <tr class="option" style="display:none;">
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck" ichecks=""  ng-change="vm.saveSettings()" ng-model="vm.basicSettings.sandboxPayment">
                    </td>
                    <td>
                        SandBox Mode
                    </td>
                </tr>

                </tbody>
            </table>

        </div>


    </div>
</section>
