<section class="panel panel col-md-12 col-sm-12 col-lg-12 nopadding hourly-rates-settings-wrapper">
    <div class="calendar_settings">
        <TABLE class="rates">
            <thead>
            <TR class="dark_blue_header_custom">
                <TD class="lg-td">Hourly Rates</TD>
                <TD style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.twomoversOn">
                        2 Movers + Truck /hr
                    </label>
                </TD>
                <TD style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.threemoversOn">
                        3 Movers + Truck /hr
                    </label>
                </TD>
                <TD style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.fourmoversOn">
                        4 Movers + Truck /hr
                    </label>
                </TD>

                <TD style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.addmoversOn">
                        Additional Mover /hr
                    </label>
                </TD>
                <TD style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.addtruckOn">
                        Additional Truck /hr
                    </label>
                </TD>
            </TR>
            </thead>
            <tbody>
            <TR>
                <td class=" lg-td Discount ratesTable type" style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.disocountOn">
                        Discount
                    </label>
                </td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Discount'][0]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Discount'][1]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Discount'][2]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Discount'][3]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Discount'][4]"></td>
            </TR>
            <TR>
                <td class="Regular ratesTable type" style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.regularOn">
                        Regular
                    </label>
                </td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Regular'][0]"></td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Regular'][1]"></td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Regular'][2]"></td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Regular'][3]"></td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Regular'][4]"></td>
            </TR>
            <TR>
                <td class="SubPeak ratesTable type" style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.subpeakOn">
                        SubPeak
                    </label>
                </td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['SubPeak'][0]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['SubPeak'][1]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['SubPeak'][2]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['SubPeak'][3]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['SubPeak'][4]"></td>
            </TR>
            <TR>
                <td class="Peak ratesTable type" style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.peakOn">
                        Peak
                    </label>
                </td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Peak'][0]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Peak'][1]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Peak'][2]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Peak'][3]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['Peak'][4]"></td>
            </TR>
            <TR>
                <td class="HighPeak ratesTable type" style="position: relative;">
                    <label>
                        <input type="checkbox" ichecks checkstyle="aero" class="mail-checkbox ifrate icheck"
                               ng-change="vm.saveSettings()" ng-model="vm.basicSettings.ratesSettings.hipeakOn">
                        HighPeak
                    </label>
                </td>
                <td><input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['HighPeak'][0]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['HighPeak'][1]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['HighPeak'][2]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['HighPeak'][3]"></td>
                <td><input class="form-control" ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveRates()"
                           ng-model="vm.ratesSettings['HighPeak'][4]"></td>
            </TR>
            </tbody>
        </TABLE>
    </div>
</section>
<section class="panel panel col-md-12 col-sm-12 col-lg-12 nopadding hourly-rates-settings-wrapper" style="margin-top: 25px !important;">
  <div class="calendar_settings">
        <TABLE class="rates">
            <thead>
            <TR class="dark_blue_header_custom">
                <td>Storage Rate monthly</td>
                <TD>Min Price $ / cubic feet</TD>
                <TD>Max Price $ / cubic feet</TD>
            </TR>
            </thead>
            <tbody>
            <TR>
                <td class="lg-td tooltip-setting">
                  <i class="fa fa-eye"
                     ng-click="vm.basicSettings.storage_rate.hide_estimated = true; vm.saveSettings()"
                     ng-if="!vm.basicSettings.storage_rate.hide_estimated"></i>
                    <i class="fa fa-eye-slash"
                     ng-click="vm.basicSettings.storage_rate.hide_estimated = false; vm.saveSettings()"
                     ng-if="vm.basicSettings.storage_rate.hide_estimated"></i>
                  Storage Rate
                  <div class="tooltip-active-settings" style="z-index: 10;">
                    Don't show storage estimate on account page
                  </div>
                </td>
                <td>
                    <input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-class="{'disabled': vm.basicSettings.storage_rate.hide_estimated}"
                           ng-change="vm.saveSettings()"
                           ng-model="vm.basicSettings.storage_rate.min">
                </td>
                <td>
                    <input class="form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-class="{'disabled': vm.basicSettings.storage_rate.hide_estimated}"
                           ng-change="vm.saveSettings()"
                           ng-model="vm.basicSettings.storage_rate.max">
                </td>
            </TR>
            <TR>
                <td>
                    <label class="overnight-rate-settings-label" for="overnightRateSettings">
                        Overnight Rate
                    </label>
                </td>
                <td style="width: 50%;">
                </td>
                <td style="width: 50%;">
                    <input class="form-control"
                           id="overnightRateSettings"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveSettings()"
                           ng-model="vm.basicSettings.overnight.rate">
                </td>
            </TR>
            <TR>
                <TD colspan="4" class="sizeset chat-widget">
                    Storage Explanation Text
                    <div ng-change="vm.saveSettings()" ng-model="vm.basicSettings.storage_explained" text-angular
                         ng-model="message"
                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]"
                    ></div>
                </TD>
            </TR>
            </tbody>
        </TABLE>
    </div>
</section>
