<section class="panel col-md-8 smtp-settings">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{tab.name}} Settings</h4>
        <button class="btn btn-primary pull-right" ng-click="vm.updateSMTP()">Update SMTP</button>
        <button style="margin-right: 15px;" class="btn btn-primary pull-right" ng-click="vm.testSMTP()">Test Connection</button>
    </header>
    <div class="panel-body minimal">
        <div class="saving-progress">
            <span class="" ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
        </div>
        <div class="parsing_settings">
            <div class="form-group cusermodal-department">
                <h3 class="acc_title">SMTP Settings</h3>
                <div class="form-group">
                    <div class="row smtp-margin_bottom">
                        <label class="col-sm-3 control-label">Email address (account):</label>
                        <div class="col-sm-9">
							<input type="text" name="smtpLogin" class="ng-hide" autocomplete="off">
                            <input type="text" name="smtpLogin" class="form-control" ng-model="vm.smtpUser" autocomplete="off">
                        </div>
                    </div>
                    <div class="row smtp-margin_bottom">
                        <label class="col-sm-3 control-label">Password:</label>
                        <div class="col-sm-9">
							<input type="password" name="smtpPassword" class="ng-hide" autocomplete="off">
                            <input type="password" name="smtpPassword" class="form-control" ng-model="vm.smtpPass" autocomplete="off">
                        </div>
                    </div>
                    <div class="row smtp-margin_bottom">
                        <label class="col-sm-3 control-label">SMTP Host:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="vm.smtpHost">
                        </div>
                        <label class="col-sm-3 control-label">Port:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="vm.smtpPort">
                        </div>
                    </div>
                    <div class="row smtp-margin_bottom">
                        <label class="col-sm-3 control-label">SMTP Encryption:</label>
                        <div class="col-sm-4">
                            <input checkstyle="green"
                                   type="checkbox"
                                   class="mail-checkbox icheckbox_flat-green icheck ng-valid ng-touched ng-dirty ng-valid-parse"
                                   ichecks=""
                                   ng-change="vm.changeConnection('ssl')"
                                   ng-model="vm.smtpEncryptionSettings.ssl"> Use SSL
                        </div>
                        <div class="col-sm-5">
                            <input checkstyle="green"
                                   type="checkbox"
                                   class="mail-checkbox icheckbox_flat-green icheck ng-valid ng-touched ng-dirty ng-valid-parse"
                                   ichecks=""
                                   ng-change="vm.changeConnection('tls')"
                                   ng-model="vm.smtpEncryptionSettings.tls"> Use TLS
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group cusermodal-department">
                <h3 class="acc_title">Site Settings</h3>
                <div class="form-group">
                    <div class="row smtp-margin_bottom">
                        <label class="col-sm-3 control-label">Company Name:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="vm.siteName">
                        </div>
                    </div>
                    <div class="row smtp-margin_bottom">
                        <label class="col-sm-3 control-label">Company Email:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="vm.siteMail">
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" ng-click="vm.updateSMTP()">Update Site Info</button>
                </div>
            </div>
        </div>
    </div>
</section>