.invoices-list
	width 100%
	font-size 12px
	font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
	background #fff
	&__job-list
		transition all 1s
		max-height: 0
		&_open
			animation: open 0.3s forwards ease-out
		&_close
			animation: close 0.3s forwards ease-out
		&__head
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			width 100%
			&__item
				position relative
				display flex
				flex-grow 1
				padding 8px
				height 56px
				justify-content center
				width 100px
				flex-direction column
				font-size 12px
				font-weight 500
				border-bottom 1px solid #ddd
				&:first-child
					padding-left 24px
				&:last-child
					padding-right 24px
		&__body
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			width 100%
			&__item
				display flex
				flex-grow 1
				position relative
				padding 8px
				height 56px
				justify-content center
				width 100px
				flex-direction column
				font-size 12px
				font-weight 500
				border-bottom 1px solid #ddd
				&:first-child
					padding-left 24px
				&:last-child
					padding-right 24px
			&__big-elips
				cursor pointer
				position absolute
				width 30px
				border-radius: 50%
				height: 30px
				padding 5px
				z-index 10
			&__smoll-elips
				position absolute
				border-radius: 50%;
				height: 14px;
				width 14px
				margin-left 7px
				opacity 0
				transition opacity 0.4s
				&_open
					opacity 1
			&__line
				position absolute
				margin-left 13px
				width 2px
				height 150%
				opacity 0
				transition opacity 0.4s
				&_open
					opacity 1
				&_top
					height 50%
					bottom 0
				&_bottom
					height 50%
					top 0
			&_success
				background-color #62c257
			&_pending
				background-color #ba78e0

	&__receipt
		z-index 10
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		background #fff

		&_open
			animation open_receipt 0.3s forwards
		&_close
			animation close_receipt 0.3s forwards

.animationIf.ng-enter,
.animationIf.ng-leave
	-webkit-transition: opacity ease-in-out 0.2s;
	-moz-transition: opacity ease-in-out 0.2s;
	-ms-transition: opacity ease-in-out 0.2s;
	-o-transition: opacity ease-in-out 0.2s;
	transition: opacity ease-in-out 0.2s;
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active
	animation: close 0.3s forwards ease-out
	opacity: 0;
	max-height: 0
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active
	animation: open 0.3s forwards ease-out
	opacity: 1
	max-height: 5000px
.invoices-list__job-list.ng-hide-remove
	-webkit-animation: slide 2s ease 3s
	-moz-animation: slide 2s ease 3s
	-o-animation: slide 2s ease 3s
	animation: slide 2s ease 3s


@keyframes remove_item
	from
		max-height: 5000px
		opacity: 1

	to
		max-height: 0
		opacity: 0
@keyframes open
	from
		max-height: 0

	to
		max-height: 5000px

@keyframes close
	from
		max-height: 5000px
	to
		max-height: 0


@keyframes open_receipt
	from
		background #fff

	to
		background #e4e4e4

@keyframes close_receipt
	from
		background #e4e4e4

	to
		background #fff
