.receipts-list(ng-show="invoices.length > 0"  ng-class="type")
  .receipts-list__body.animationIf(ng-repeat="item in invoices track by $index" ng-if="!hidePaidInvoices(item)")
    .receipts-list__receipt(ng-class="{'receipts-list__receipt_open': item.isShowlist, 'receipts-list__receipt_close': !item.isShowlist}")
      .receipts-list__body__item.receipts-list__body__item_flex-grow
        .invoices-list__job-list__body__big-elips.invoices-list__body_pointer(ng-class="getStatusClass(item.flag)" ng-click="showList(item)")
          ng-md-icon.black-icon(icon="playlist_add_check" size="20" )
        .invoices-list__job-list__body__line.invoices-list__job-list__body__line_top(ng-class="getOpenedClass(item)")

      .receipts-list__body__item.receipts-list__body__item_bigger-item
        span.receipts-list__body__title
          | Invoice Date
        | {{item.created * 1000| date: 'EEEE, d MMMM y' }}
      .receipts-list__body__item
        span.receipts-list__body__title
          | Total Amount
        | {{item.total | currency }}
      .receipts-list__body__item(ng-if=" item.value.partially_paid && item.value.partially_paid > 0")
        span.receipts-list__body__title
          | Partially Paid
        | {{item.value.partially_paid | currency }}
      .receipts-list__body__item(ng-if="item.value.partially_paid")
        span.receipts-list__body__title
          | Rest
        .rest-value(ng-click="openCustomPayment($event, getAmount(item.value, false, true), 0, item.value.jobs_id, 1, item, 0, true)") {{ getAmount(item.value) | currency }}
      .receipts-list__body__item(ng-if=" item.value.overpay")
        span.receipts-list__body__title
          | Overpaid
        div(custom-refund invoice="item" trip-id="item.ld_trip_id" balance="item.value.overpay" entity-type="7" entity-id="{{ userInfo.ld_carrier_id }}" user-info="userInfo" pay-success="getInvoices()" overpaid="true")
      .receipts-list__body__item
        span.receipts-list__body__title
          | Company
        | {{item.value.client_name }}
      .receipts-list__body__item
        span.receipts-list__body__title
          | Status
        div(ng-if="!item.value.partially_paid && !item.value.overpay")
          | {{item.flag | invoiceStatus}}
        div(ng-if="item.value.partially_paid && item.flag == 3")
          | Partially Paid
        div(ng-if="item.value.partially_paid && item.value.partially_paid < 0")
          | Overrefunded
        div(ng-if="item.value.overpay && item.flag == 3")
          | Overpaid
      .receipts-list__body__item
         ng-md-icon.black-icon(ng-if='item.receipts.length > 0' icon="arrow_forward")
      .receipts-list__body__item(ng-if="item.receipts.length > 0")
        receipt-modal(multiple-receipts="true" receipts='item.receipts' receipt-icon='card' get-jobs="getInvoices()" user-info="userInfo" invoice="item" open-custom-payment="openCustomPayment")
      .receipts-list__body__item.receipts-list__body__item_bigger-item
        div(ng-if="item.receipts.length")
          .receipts-list__body__title(ng-show="item.receipts.length == 1")
            | Receipt Date
          .receipts-list__body__title(ng-show="item.receipts.length > 1")
            | First Receipt Date
          | {{item.receipts[0].created * 1000| date: 'EEEE, d MMMM y' }}
      .receipts-list__body__item(ng-if="item.receipts.length == 0")
      .receipts-list__body__item(ng-if="item.receipts.length == 0")
      .receipts-list__body__item(ng-if="item.receipts.length == 0")

      .receipts-list__body__item
      .receipts-list__body__item.receipts-list__body__item__menu
        md-fab-speed-dial.md-icon-button.md-scale(md-open='isOpen', md-direction='left')
          md-fab-trigger
            md-button.md-icon-button(aria-label='menu')
              ng-md-icon.black-icon(icon="more_vert")
          md-fab-actions
            md-button.md-icon-button(aria-label='Remove' ng-click="removeInvoice(item.invoice_id, $index, $event)" ng-if="item.receipts.length == 0")
              ng-md-icon.red-icon(icon="delete_forever")
            a(href="/account/#/invoice/{{ item.hash }}" target="_blank")
              md-button.md-icon-button(aria-label='Show')
                md-tooltip(md-direction="bottom") Show invoice
                ng-md-icon.green-icon(icon="remove_red_eye")
            md-button.md-icon-button(aria-label='Resend' ng-click="resendInvoice(item)" ng-hide="item.flag == 3")
              md-tooltip(md-direction="bottom") Edit invoice
              ng-md-icon.green-icon(icon="create")
            md-button.md-icon-button(aria-label='Close invoice'  ng-click="openCustomPayment($event, getAmount(item.value), getAmount(item.value), item.value.jobs_id, 1, undefined, item)" ng-if="item.receipt != 0" ng-hide='!item.value.partially_paid')
              md-tooltip(md-direction="bottom") Pay rest
              ng-md-icon.green-icon(icon="check_circle")
            md-button.md-icon-button(aria-label='Close invoce' ng-if="( item.flag == 0 || item.flag == 1 || item.flag == 2 )" ng-click="openCustomPayment($event, getAmount(item.value), getAmount(item.value), item.value.jobs, 1, undefined, item)")
              md-tooltip(md-direction="bottom") Pay invoice
              ng-md-icon.green-icon(icon="check_circle")

    .receipts-list__job-list(ng-class="{'receipts-list__job-list_open' : item.isShowlist, 'receipts-list__job-list_close' : item.isShowlist == false}")
      .receipts-list__job-list__head
        .receipts-list__job-list__head__item.receipts-list__body__item_padding.receipts-list__job-list__head__item
          .invoices-list__job-list__body__line(ng-class="getOpenedClass(item)")
        .receipts-list__job-list__head__item
          | Job
        .receipts-list__job-list__head__item
          | Trip
        .receipts-list__job-list__head__item
          | Owner
        .receipts-list__job-list__head__item
          | Rate per Cf
        .receipts-list__job-list__head__item
          | Volume, Cf
        .receipts-list__job-list__head__item
          | Job Cost
        .receipts-list__job-list__head__item
          | Services
        .receipts-list__job-list__head__item
          | Job Total
        .receipts-list__job-list__head__item
          | TP Collected
        .receipts-list__job-list__head__item
          | Received
        .receipts-list__job-list__head__item
          | Paid
        .receipts-list__job-list__head__item
          | To Receive
        .receipts-list__job-list__head__item
          | To Pay
        .receipts-list__job-list__head__item
          | Balance
      .receipts-list__job-list__body(ng-repeat="job in item.items track by $index")
        .receipts-list__job-list__body__item(ng-if="job.state != 0")
          .invoices-list__job-list__body__smoll-elips(ng-class="getOpenedClass(item)" ng-if="job.state == 2 || job.state == 1")
          .invoices-list__job-list__body__smoll-elips(ng-class="getOpenedClass(item)" ng-if="job.state == 3 || job.state == 4")
          .invoices-list__job-list__body__line(ng-class="getOpenedClass(item)" ng-if="job.state == 2 || job.state == 1")
          .invoices-list__job-list__body__line.invoices-list__job-list__body__line_bottom(ng-class="getOpenedClass(item)" ng-if="job.state == 3 || job.state == 4")
        .receipts-list__job-list__body__item(call-job-modal id="job.job_id" show-text="{{job.job_id}}" ng-if="!job.delivery_job_id || job.delivery_job_id == null")
        .receipts-list__job-list__body__item(ng-if="job.delivery_job_id || job.delivery_job_id != null")
          .big-form__jobs-list__body__item__items.big-form__jobs-list__body__item_pointer(ng-click="openTpDelivery(job)")
            .big-form__jobs-list__body__item__items__inline
              span {{job.job_id}}
              span.big-form__jobs-list__body__item_margin-left-right /
              span {{job.delivery_job_id}}
        .receipts-list__job-list__body__item
          | {{ job.ld_trip_id }}
        .receipts-list__job-list__body__item
          | {{ job.owner }}
        .receipts-list__job-list__body__item
          | {{ job.rate_per_cf | currency }}
        .receipts-list__job-list__body__item
          | {{ job.volume_cf | number : 2 }}
        .receipts-list__job-list__body__item
          | {{ job.job_cost | currency }}
        .receipts-list__job-list__body__item
          | {{ job.services_total | currency }}
        .receipts-list__job-list__body__item
          | {{ job.job_total | currency }}
        .receipts-list__job-list__body__item
          | {{ job.tp_collected | currency }}
        .receipts-list__job-list__body__item
          | {{ job.received | currency }}
        .receipts-list__job-list__body__item
          | {{ job.paid | currency }}
        .receipts-list__job-list__body__item
           | {{ job.to_receive | currency }}
        .receipts-list__job-list__body__item
          | {{ job.to_pay | currency }}
        .receipts-list__job-list__body__item
          | {{ job.balance | currency }}
      .agent-folio-details__footer__directive(agent-folio-footer item="item.jobs_total" ng-if="item.items.length > 1")
.no-details(ng-hide="invoices.length > 0") No invoices


