<div class="day">
    <div class="date">
        <div class="h2" ng-bind="$ctrl.day.number"></div>
        <div class="h4" ng-bind="$ctrl.day.name"></div>
    </div>
    <div class="reminders" ng-transclude="reminder"></div>
</div>
