<div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></div>
</div>
<div id="ccinvoice">
    <div class="invoice_info">
        <div class="row">
            <div class="col-lg-12" ng-if="!request.newInvoice" ><b>{{invoiceTitle}} #</b> {{request.nid}}</div>
        </div>
    </div>
    <div class="invoice_info">
        <div class="col-lg-6 col-sm-12 nopadding padding-right-one" style="font-size: 14px;">
            <div>
                <div class="ilabel">Send To</div>
                <input ng-model="invoice.client_name" type="text" class="form-element name-form-invoice" ng-change="changeField('client_name', invoice.client_name)" /> <br>
                <input ng-model="invoice.email" type="email" class="form-element email-form-invoice" ng-change="changeField('email', invoice.email)"/>
                <input ng-model="invoice.phone"
                       minlength="14"
                       maxlength="14"
                       phone-input
                       type="text"
                       class="form-element email-form-invoice"
                       ng-change="changeField('phone', invoice.phone)"/>
            </div>
            <div class="flex-address-column">
                <div class="ilabel">Address</div>
                <input ng-model="invoice.field_moving_from.thoroughfare" type="text" class="form-element address-invoice" ng-change="changeField('field_moving_from', invoice.field_moving_from.thoroughfare, 'thoroughfare')"/>
            </div>
            <div class="flex-address">
                <input ng-model="invoice.field_moving_from.locality" type="text" class="address-inline city-invoice form-element "  ng-change="changeField('field_moving_from', invoice.field_moving_from.locality, 'locality')" />
                <input ng-model="invoice.field_moving_from.administrative_area" type="text" class="address-inline state-invoice"  ng-change="changeField('field_moving_from', invoice.field_moving_from.administrative_area, 'administrative_area')" />
                <input ng-model="invoice.field_moving_from.postal_code" type="text" class="address-inline postal-invoice"  ng-change="changeField('field_moving_from', invoice.field_moving_from.postal_code, 'postal_code')"/>
            </div>
            <div class="usa-invoice">United States</div>
        </div>
        <div class="col-lg-6 col-sm-12 nopadding padding-left-one">
            <div class="info-row" ng-hide="!edit">
                <div class="ilabel">Inovoice Number</div>
                <td><span ng-if="entitytype == fieldData.enums.entities.STORAGEREQUEST">S </span>{{request.nid}}-{{invoice.id}}</td>
            </div>
            <div class="info-row" ng-if="entitytype != fieldData.enums.entities.STORAGEREQUEST">
                <div class="ilabel">Date of Issue</div>
                <input type="text" class="form-control"
                       uib-datepicker-popup="mediumDate" ng-model="invoice.date" id="dateOfIssue"
                       is-open="openedFrom" ng-click="openedFrom = !openedFrom"
                       datepicker-options="dateOptions" close-text="Close" ng-change="bDateChange = true; changeField('date', invoice.date)">
            </div>
            <div class="info-row">
                <div class="ilabel">Date of Issue: {{invoice.date}}</div>
                <select ng-hide="!edit" data-index="{{$index}}" ng-model="invoice.flag"
                        class="form-control form-select status-invoice" name="Status"
                        ng-options="id as invoicesFlagsArray[id] for id in ::invoiceFlags">
                </select>
            </div>
        </div>
    </div>


    <div id="invoice-lines">
        <div id="progress-container" class="hide" style="display: none;">
            <div class="progress-bar-container">
                <div id="progress-bar" class="progress-bar-progress" style="width: 100%;"></div>
            </div>
            <div class="example ta_center">Loading...</div>
        </div>

        <table cellspacing="0" id="invoice-time"  class="invoice-lines spreadsheet">
            <thead>
            <tr>
                <th class="first">Item</th>
                <th>Description</th>
                <th class="ta_right">Unit Cost</th>
                <th class="ta_right">Qty</th>
                <th class="ta_right last">Line Total</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="(id, charge) in invoice.charges" ng-model-options="{updateOn: 'blur'}">
                <td class="first-column editable" ng-if="templatesOfItem.length == 0">
                    <input ng-model="charge.name" placeholder="Item Name" ng-change="changeField('charges', invoice.charges)" />
                </td>
                <td class="first-column editable" ng-if="templatesOfItem.length != 0">
                    <div class="input-group">
                        <input ng-model="charge.name" placeholder="Item Name"  ng-change="changeField('charges', invoice.charges)"/>
                        <div class="input-group-btn" uib-dropdown>
                            <button id="btn-append-to-body" type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="btn-append-to-body">
                                <li role="menuitem" ng-repeat="item in templatesOfItem" ng-click="applyInvoiceItemForCharge(item, id);changeField('charges', invoice.charges)">{{item.name}}</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="editable ">
                    <input ng-model="charge.description" placeholder="Description"   ng-change="changeField('charges', invoice.charges)"/>
                </td>
				<td class="editable num">
					<input er-only-float
                           ng-model="charge.cost"
                           value="0.00"
                           size="6"
                           placeholder="Cost"
                           ng-change="changeField('charges', invoice.charges)"/>
				</td>
				<td class="editable num">
					<input er-only-float
                           only-positive
                           ng-model="charge.qty"
                           value="1"
                           size="4"
                           ng-validate="number"
                           placeholder="Quantity"
                           ng-change="changeField('charges', invoice.charges)"/>
				</td>
                <td class="total">
                    <span class="ta_right">{{charge.qty * charge.cost | currency: currencySymbol}}</span><!-- price -->
                    <i class="fa fa-times" aria-hidden="true" ng-click="removeCharge(id);changeField('charges', invoice.charges)"></i>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="totals">
            <div class="col-xs-4 add-item-container buttun_fix">
                <div class="pull-left"><a class="btn btn-primary" href ng-click="addItem()" >Add Line</a></div>
                <div class="pull-left" style="margin-left: 10px;"><a class="btn btn-primary" href ng-click="showTemplatesOfItemsModal()">Items Settings</a></div>
            </div>
            <div class="col-xs-8 totals_box nopadding">
                <div class="totals_row nopadding row ">
                    <div class="nopadding col-xs-5">Sub Total</div>
                    <div class="number nopadding text-right col-xs-7">{{invoiceSubTotal() | currency: currencySymbol}}</div>
                </div>
                <div class="totals_row nopadding row" >
                    <div class=" nopadding col-xs-6">Discount</div>
                    <div class="nopadding col-xs-2">
                        <input style="padding: 5px !important; height: 25px;margin-top: -5px;"
                               ng-model="invoice.discount" class="form-element form-control col-xs-3" cc-percent value="1" size="4" ng-validate="number" ng-change="changeField('discount', invoice.discount)"/>
                    </div>
                    <div class="number nopadding text-right col-xs-4">{{calculateDiscount() | currency: currencySymbol}}</div>

                </div>
                <div class="totals_row nopadding row" >
                    <div class=" nopadding col-xs-6">
						<input
							ng-model="invoice.taxName"
							class="tax-name-input"
							ng-model-options="{updateOn: 'blur'}"
							ng-change="saveTaxName()"/>
					</div>
                    <div class="nopadding col-xs-2">
                        <input style="padding: 5px !important; height: 25px;margin-top: -5px;"
                               ng-model="invoice.tax" class="form-element form-control col-xs-3" cc-percent value="1" size="4" ng-validate="number"  ng-change="changeField('tax', invoice.tax)"/>
                    </div>
                    <div class="number nopadding text-right col-xs-4">{{calculateInvoiceTax() | currency: currencySymbol}}</div>

                </div>

                <div class="totals_row nopadding row totaldue">
                    <div class="nopadding title col-xs-5">Total Due</div>
                    <div class="title number nopadding text-right col-xs-7">{{calculateGrandTotal() | currency: currencySymbol }}</div>
                </div>

            </div>
        </div>


    </div>

<div class="clearfix"></div>
<div class="invoice_footer">
    <div class="col-xs-4 nopadding terms-box">
        <div class="ilabel">Terms</div>
        <textarea ng-model="invoice.terms" type="text" class="form-element form-control" placeholder="Terms" ng-change="changeField('terms', invoice.terms)"></textarea>
    </div>
    <div class="col-xs-8 nopadding pull-right info-box">
        <div class="ilabel">Notes Visible for Clients</div>
        <textarea ng-model="invoice.notes" type="text" class="form-element form-control" placeholder="Notes"  ng-change="changeField('notes', invoice.notes)"></textarea>
    </div>
</div>


    <div class="clearfix"></div>

    <div class="col-xs-12 center margin-top-50">
        <div class="col-xs-6">
            <div>
                <button ng-hide="edit" href="javascript:void(0);" ng-click="saveAsDraft()" class="btn btn-default" >Save as Draft</button>
                <button ng-show="edit" href="javascript:void(0);" ng-click="updateInvoice(invoiceFlags.DRAFT)" class="btn btn-primary green-btn">Save</button>
            </div>
            <p ng-if="entitytype != fieldData.enums.entities.STORAGEREQUEST">
            Save this invoice as a draft. Your client will not be able to view this invoice until it is sent.
            </p>
        </div>
        <div class="col-xs-6">
            <div>
                <a ng-hide="edit" href="javascript:void(0);" ng-click="sendInvoice()" class="btn btn-primary green-btn font-15px">Proceed to send invoice</a>
                <a ng-show="edit" href="javascript:void(0);" ng-click="updateInvoice(invoiceFlags.SENT)" class="btn btn-primary green-btn font-15px">Update and Proceed to send invoice</a>
            </div>
            <p ng-if="entitytype != fieldData.enums.entities.STORAGEREQUEST">
            Preview this invoice and send it to your client.
            </p>
        </div>
    </div>

    <div class="clearfix"></div>

</div>
