<div class="basic-modal template-invoice-item-modal">
    <div class="modal-header gray">
        <div class="actions pull-right">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
        </div>
    </div>
    <div class="modal-body">
        <h2 class="center">Invoice item templates</h2>
        <table cellspacing="0" class="invoice-lines spreadsheet">
            <thead>
            <tr>
                <th class="first">Item</th>
                <th>Description</th>
                <th class="ta_right">Unit Cost</th>
                <th class="ta_right">Qty</th>
                <th>Line Total</th>
                <th class="last"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="invoice in templatesOfItem track by $index">
                <td class="first-column editable">
                    <span ng-hide="isEditInvoceItem($index)">{{invoice.name}}</span>
                    <span ng-show="isEditInvoceItem($index)"><input ng-model="invoice.name" placeholder="Item Name" /></span>
                </td>
                <td class="editable">
                    <span ng-hide="isEditInvoceItem($index)">{{invoice.description}}</span>
                    <span ng-show="isEditInvoceItem($index)"><input ng-model="invoice.description" placeholder="Description" /></span>
                </td>
                <td class="editable num">
                    <span ng-hide="isEditInvoceItem($index)">{{invoice.cost}}</span>
                    <span ng-show="isEditInvoceItem($index)"><input ng-model="invoice.cost" value="0.00" ng-validate="number" size="6" placeholder="Cost" /></span>
                </td>
                <td class="editable num">
                    <span ng-hide="isEditInvoceItem($index)">{{invoice.qty}}</span>
                    <span ng-show="isEditInvoceItem($index)"><input ng-model="invoice.qty" value="1" size="4" ng-validate="number" placeholder="Quantity" /></span>
                </td>
                <td class="total">
                    <span class="ta_right">{{invoice.qty * invoice.cost | currency: currencySymbol}}</span><!-- price -->
                </td>
                <td class="center">
                    <i class="fa fa-pencil" aria-hidden="true" ng-hide="isEditInvoceItem($index)" ng-click="editInvoiceItem($index)"></i>
                    <i class="fa fa-check" aria-hidden="true" ng-show="isEditInvoceItem($index)" ng-click="applyEditInvoice($index)"></i>
                    <i class="fa fa-trash" aria-hidden="true" ng-click="deleteInvoiceItem($index)"></i>
                </td>
            </tr>
            <tr>
                <td class="first-column editable">
                    <input ng-model="templateItem.name" placeholder="Item Name" />
                </td>
                <td class="editable ">
                    <input ng-model="templateItem.description" placeholder="Description" />
                </td>
                <td class="editable num">
                    <input ng-model="templateItem.cost" value="0.00" ng-validate="number" size="6" placeholder="Cost" />
                </td>
                <td class="editable num">
                    <input ng-model="templateItem.qty" value="1" size="4" ng-validate="number" placeholder="Quantity" />
                </td>
                <td class="total">
                    <span class="ta_right">{{templateItem.qty * templateItem.cost | currency: currencySymbol}}</span><!-- price -->
                </td>
                <td class="center">
                    <i class="fa fa-plus" aria-hidden="true" ng-click="addItemTemplate()"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a ng-click="save()" class="btn btn-primary save-button">Save</a>
        <a ng-click="cancel()" class="btn btn-default cancel-button">Cancel</a>
    </div>
</div>
