
<div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></div>
</div>
<div ng-show="invoices.length">
    <div class="col-md-12 nopadding">
        <div class="inside_box invoice_table" style="border: 1px solid #297006;">
            <h2 class="small_box_header text_center" style="    background: #369a04;">
                <span ng-if="entitytype != fieldData.enums.entities.STORAGEREQUEST">Invoices</span>
                <span ng-if="entitytype == fieldData.enums.entities.STORAGEREQUEST">Charges</span>
            </h2>
            <table style="width: 100%;position: relative;">
                <thead>
                <tr>
                    <th>
                        <span ng-if="entitytype != fieldData.enums.entities.STORAGEREQUEST">Invoice</span>
                        <span ng-if="entitytype == fieldData.enums.entities.STORAGEREQUEST">Charge</span>
                    </th>
                    <th>Description</th>
                    <th class="value">Date</th>
                    <th class="value">Total</th>
                    <th class="value">Status</th>
                    <th class="value" style="width: 110px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="invoice in invoices track by $index" style="cursor: pointer;">
                    <td><span ng-if="entitytype == fieldData.enums.entities.STORAGEREQUEST">S </span>{{invoice.entity_id}}-{{invoice.id}}</td>
                    <td>{{invoice.data.charges[0].description}}</td>
                    <td>{{ dateFormat(invoice.data.date)}}</td>
                    <td>{{invoice.data.totalInvoice | number : 2}} <span>USD</span></td>
                    <td class="flag-raw">{{invoicesFlagsArray[invoice.data.flag]}}</td>
                    <td class="action">
                        <a ng-hide="invoice.data.flag == fieldData.enums.invoice_flags.PAID" href="javascript:void(0)" ng-click="editInvoice(invoice)" title="edit invoice"><i class="icon-wrench"></i></a>
                        <a ng-href="/account/#/invoice/{{invoice.hash}}" title="view invoice" target="_blank"><i class="icon-eye"></i></a>
                        <a ng-hide="invoice.data.flag == fieldData.enums.invoice_flags.PAID" href="javascript:void(0)" ng-click="deleteInvoice(invoice)" title="delete invoice"><i class="  icon-trash"></i></a>
                    <td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
