

<div>
    <cc-invoice request="request" entitytype="entity_type" edit="edit" prorate="prorate" terms="terms"></cc-invoice>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
</div>
