include print-trip-details/print-trip-details
include print-loading-receipt/print-loading-receipt

div(ng-show='printPage === 0' print-section print-only)
    +closing-payroll-trip()
div(ng-show='printPage === 1' print-section print-only)
    +print-loading-receipt()

.trip-create-modal-form__form
    h3.trip-create-modal-form__trip-info Trip Info # {{ trip.data.trip_id }}

    .trip-create-modal-form__trip-form
        .trip-create-modal-form__trip-form__inline
            .trip-create-modal-form__trip-form__inline__half
                md-input-container.md-block(flex-gt-sm='')
                    label Status
                    md-select(ng-model='trip.data.details.flag'  ng-change="createTrip(trip)")
                        md-option(ng-repeat='item in [{value: 1, name: "Draft"},{value: 2, name: "Pending"},{value: 3, name: "Active"},{value: 4, name: "Delivered/Closed"}]', value='{{item.value}}')
                            | {{item.name}}
            .trip-create-modal-form__trip-form__inline__half
                md-input-container.md-block(flex-gt-sm='')
                    label Internal Code:
                    input(ng-model='trip.data.details.internal_code' id="code")

        .trip-create-modal-form__trip-form__inline
            .trip-create-modal-form__trip-form__inline__half
                md-input-container.md-block(flex-gt-sm='')
                    label Type:
                    md-select(ng-model='type' ng-change="setType(type)" )
                        md-option(ng-repeat='item in [{value: 1, name: "Carrier/Agent"},{value: 2, name: "Foreman/Helper"}]', value='{{item.value}}')
                            | {{item.name}}

            .trip-create-modal-form__trip-form__inline__half
                md-input-container.md-block(flex-gt-sm='')
                    label Description:
                    textarea(ng-model='trip.data.details.description')

        .trip-create-modal-form__trip-form__inline
            .trip-create-modal-form__trip-form__inline__half
                md-input-container
                    label Date Start:
                    md-datepicker(ng-model="trip.data.details.start" md-placeholder="Enter date" ng-change="changeDates()" md-open-on-focus)
            .trip-create-modal-form__trip-form__inline__half
                md-input-container
                    label Date End:
                    md-datepicker(ng-model="trip.data.details.end" md-placeholder="Enter date"  ng-change="changeDates()" md-open-on-focus)
        form.trip-create-modal-form__trip-form__inline(ng-show="trip.data.details.type == 2" name="foremanForm")
            .trip-create-modal-form__trip-form__inline__half
                md-input-container.md-block(flex-gt-sm='' )
                    label Foreman / Driver:
                    md-select(ng-model='trip.data.foreman' md-on-close="createTrip(trip)" name="foreman" required)
                        md-option(ng-repeat='item in foremen' ng-value='item')
                            | {{item.foreman_name}}
                    div(ng-messages="foremanForm.foreman.$error" role="alert")
                        div(ng-message="required") You must select a foreman.

            .trip-create-modal-form__trip-form__inline__half
                md-input-container.md-block(flex-gt-sm=''  )
                    label Helpers:
                    md-select(ng-model='trip.data.helper' ng-model-options="{trackBy: '$value.helper_id'}" md-on-close="createTrip(trip)" ng-disabled="hideSelect" multiple ng-style="{'max-width': selectMaxWidth}" id="helpersSelect")
                        md-select-header(ng-style="{'max-width': selectMaxWidth + 30}").trip-create-modal-form__trip-form__select-header
                            md-chips.trip-create-modal-form__trip-form__select-header_chips( ng-model="trip.data.helper" readonly="true" md-removable="true")
                                md-chip-template
                                    strong {{$chip.helper_name}}
                                md-button.md-icon-button(class="md-primary")
                                    ng-md-icon(icon="close" fill="black" size="14px")
                            .trip-create-modal-form__trip-form__select-header_button
                                md-button.md-icon-button(ng-click="closeSelectBox($event)" ng-style="{'justify-content': 'flex-end'}")
                                    ng-md-icon(icon="check" fill="black" size="22px")
                        md-option(ng-repeat='item in helpers' ng-value='item')
                            | {{item.helper_name}}

.trip-create-modal-form__form.trip-create-modal-form__form_right-form(ng-show="trip.data.details.type == 1")
    h3.trip-create-modal-form__trip-info Carrier
    form.trip-create-modal-form__trip-form(name="carrierForm")
        .trip-create-modal-form__trip-form__inline.trip-create-modal-form__trip-form__inline_padding
            md-input-container.md-block(flex-gt-sm='')
                label Carrier:
                md-select(ng-model='carrierId' required="true" name="carrier" ng-change="setCarrier(carrierId)")
                    md-option(ng-repeat='item in carriers' ng-value='item.ld_carrier_id')
                        | {{item.name}}
                div(ng-messages="carrierForm.carrier.$error" role="alert")
                    div(ng-message="required") You must select a carrier.
        .trip-create-modal-form__trip-form__inline
            .trip-create-modal-form__trip-form__inline__half
                md-input-container.md-block(flex-gt-sm='')
                    label Driver Name:
                    input(ng-model='trip.data.carrier.driver_name' required="true" name="driverName")
                    div(ng-messages="carrierForm.driverName.$error" role="alert")
                        div(ng-message="required") You must enter a driver name.
            .trip-create-modal-form__trip-form__inline__half
                md-input-container.md-block(flex-gt-sm='')
                    label Driver Phone:
                    input(ng-model='trip.data.carrier.driver_phone' placeholder="(XXX) XXX-XXXX" required="true" name="driverPhone" phone-input minlength='14' maxlength='14')
                    div(ng-messages="carrierForm.driverPhone.$error" role="alert")
                        div(ng-message="required") You must enter a phone number.


.trip-create-modal-form__form.trip-create-modal-form__form_right-form(ng-if="trip.data.details.type == 2")
    .trip-create-modal-form__parklot-label
        h3 Parklot
        md-switch.md-warn(ng-model="ldTrucksOnly" ng-true-value="1" ng-false-value="0" ng-change="setStep(ldTrucksOnly); setLdTrucksOnly(ldTrucksOnly)") LD Trucks Only
    .trip-create-modal-form__truck-form
        div(trucks-timeline from="trip.data.details.start" to="trip.data.details.end" status="trip.data.details.flag" set-step="setStep" ld-trucks-only="ldTrucksOnly" create-trip="createTrip" trip="trip" change-state="changeState")

.trip-create-modal-form__form.trip-create-modal-form__form_right-form
    label.label-width-max
        h3.trip-create-modal-form__trip-info Notes
        .trip-create-modal-form__trip-form.text-cursor(ng-click="hitTextAreaFocus()")
            textarea(name="" ng-model="trip.data.note" id="tripNotes" class="trip-create-modal-form__trip-form_text-area trip-create-modal-form__trip-form_right")

.big-form
    h3.trip-create-modal-form__trip-info Jobs in Trip
    .big-form__jobs-list
        md-progress-linear(md-mode="indeterminate" ng-if="busy")
        .big-form__jobs-list__head
            .big-form__jobs-list__head_left
                div
                    md-button.md-raised.md-warn.big-form__jobs-list__head__item_text-blue(ng-click="removeSelectedJobs()" ng-disabled="!isItemsSelected()") Remove from trip
                        span(ng-if="selectedItems.length == 1")  : {{selectedItems.length}} Request
                        span(ng-if="selectedItems.length > 1")  : {{selectedItems.length}} requests
                    md-button.md-raised.md-primary(ng-click="changeState(1)" ng-if="trip.data.details.flag != 4" ng-disabled="(trip.data.details.type == 1 && carrierBusy) || (trip.data.details.type == 2 && foremanBusy)") ADD PICKUP/DELIVERY
                    md-button.md-raised.md-primary(ng-click="openTpDelivery(newTpDelivery)" ng-if="trip.data.details.type == 2 && trip.data.details.flag != 4") Add TP Delivery
                div
                    md-fab-speed-dial.md-scale.print-button-fab(ng-show="trip.data.details.type == 1" md-direction="down")
                        md-fab-trigger
                            md-button.md-raised.md-primary.print-trip-button
                                ng-md-icon.print-trip-button-icon(icon="print" size="30" )
                        md-fab-actions
                            md-button.md-raised(ng-click='openPrintPage(1)') print loading receipt
                            md-button.md-raised(ng-click='openPrintPage(0)') print trip details
                    md-button.md-raised.md-primary.print-trip-button(ng-show="trip.data.details.type == 2" ng-click='openPrintPage(0)')
                        ng-md-icon.print-trip-button-icon(icon="print" size="30" )
                    md-button.md-primary.md-raised.md-primary(ng-click="getJobs()") Refresh
        md-progress-linear.request-list__progress(md-mode="indeterminate" ng-if="jobsBusy")
        .big-form__jobs-list__head
            .big-form__jobs-list__head__item.smaller-item
                .big-form__jobs-list__body__item_padding
                    md-checkbox.md-primary(ng-model="selectAll" ng-change="selectAllItems(selectAll)")
            .big-form__jobs-list__head__item.bigger-item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Job
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'job_id'")
            .big-form__jobs-list__head__item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Type
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'r_type'")
            .big-form__jobs-list__head__item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Client
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'owner'")
            .big-form__jobs-list__head__item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Pickup Date
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'pickup_date'")
            .big-form__jobs-list__head__item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Delivery Dates
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'delivery_date'")
            .big-form__jobs-list__head__item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Sheduled Date
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'schedule_delivery_date'")
            .big-form__jobs-list__head__item.bigger-item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Pickup From
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'from_a_state'")
            .big-form__jobs-list__head__item.bigger-item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Delivery To
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'to_a_state'")
            .big-form__jobs-list__head__item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Volume ft
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'volume_cf'")
            .big-form__jobs-list__head__item
                .sit-list__head__item__sort-item
                    .sit-list__head__item__sort-item_left
                        | Status
                    .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getJobs()" order="'status'")
            .big-form__jobs-list__head__item
                | Payment status
            .big-form__jobs-list__head__item
                | {{trip.data.details.type == 1 ? 'Shipping Total' : 'Job Grand Total'}}
            .big-form__jobs-list__head__item
                | {{trip.data.details.type == 1 ? 'TP Collected' : 'Total Paid'}}
            .big-form__jobs-list__head__item
                | {{trip.data.details.type == 1 ? 'Shipping Balance' : 'Job Balance'}}

        .big-form__jobs-list__body(ng-if="jobs.length > 0" ng-repeat="item in jobs" ng-show="item.is_total != '1'")
            .big-form__jobs-list__body__item.smaller-item
                .big-form__jobs-list__body__item_padding
                    md-checkbox.md-primary(ng-model="item.selected" ng-change="toggleSelect(item)" ng-disabled="item.invoice || (item.receipt && item.receipt.length > 0)")
                        md-tooltip(md-direction="top" ng-if="item.invoice || (item.receipt && item.receipt.length > 0)") You can't remove job. Payments for this carrier allready exists.
            .big-form__jobs-list__body__item.bigger-item(ng-if="!item.ld_tp_delivery_id || item.ld_tp_delivery_id == null")
                div(call-job-modal id="item.job_id" show-text="{{item.job_id}}")
            .big-form__jobs-list__body__item.bigger-item(ng-if="item.ld_tp_delivery_id && item.ld_tp_delivery_id != null")
                .big-form__jobs-list__body__item__items.big-form__jobs-list__body__item_pointer(ng-click="openTpDelivery(item)")
                    .big-form__jobs-list__body__item__items__inline
                        span {{item.job_id}}
                        span.big-form__jobs-list__body__item_margin-left-right /
                        span {{item.delivery_job_id}}
            .big-form__jobs-list__body__item
                .job-type(class="job-type_type-{{item.j_type}}")
                    | {{ item.r_type }}
            .big-form__jobs-list__body__item
                | {{ item.owner }}
            .big-form__jobs-list__body__item(ng-if="item.pickup_date")
                | {{ (item.pickup_date - offset) * 1000 | date:'MM-dd-yyyy' }}
            .big-form__jobs-list__body__item(ng-if="!item.pickup_date")
                .trip-list-item-body__body__item_none
                    | None
            .big-form__jobs-list__body__item(ng-if="item.delivery_date && item.delivery_date != 0")
                span {{ (item.delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
                span(ng-if="item.second_delivery_date && item.second_delivery_date != 0") {{ (item.second_delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
                .trip-list-item-body__body__item_none(ng-if="!item.second_delivery_date || job.second_delivery_date == 0" ng-hide="item.ld_tp_delivery_id")
                    | None
            .big-form__jobs-list__body__item(ng-if="!item.delivery_date || item.delivery_date == 0")
                .trip-list-item-body__body__item_none
                    | None
            .big-form__jobs-list__body__item(ng-if="item.schedule_delivery_date && item.schedule_delivery_date != 0")
                | {{ (item.schedule_delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
            .big-form__jobs-list__body__item(ng-if="!item.schedule_delivery_date || item.schedule_delivery_date == 0")
                .trip-list-item-body__body__item_none
                    | None
            .big-form__jobs-list__body__item.bigger-item(ng-if="!item.ld_tp_delivery_id && item.from_a_zip")
                | {{ item.address_from }}
                br
                | {{ item. from_a_city}}, {{item.from_a_state}} {{item.from_a_zip}}
            .big-form__jobs-list__body__item(ng-if="!item.ld_tp_delivery_id && !item.from_a_zip")
                .trip-list-item-body__body__item_none
                    | None
            .big-form__jobs-list__body__item.bigger-item(ng-if="item.ld_tp_delivery_id")
                | {{ item.carrier_name }}
            .big-form__jobs-list__body__item.bigger-item(ng-if="item.to_a_zip")
                | {{ item.address_to }}
                br
                | {{ item. to_a_city}}, {{item.to_a_state}} {{item.to_a_zip}}
            .big-form__jobs-list__body__item(ng-if="!item.to_a_zip")
                .trip-list-item-body__body__item_none
                    | None
            .jobs-trip-list__body__item.jobs-trip-list__body__item_icon(rate-modal sum-jobs-trip-list="jobsTotal" item="item" modal-opened="modalOpened"  close-modal="closeDialog()"  get-jobs="getJobs" trip-type="trip.data.details.type" ng-if="item.confirmedVolumeToOpen")

            .big-form__jobs-list__body__item.jobs-trip-list__body__item_pointer(ng-click="openDialog(item)" style="jobs-trip-list__body__item_left" ng-hide="item.confirmedVolumeToOpen")
                .jobs-trip-list__body__edit-item(ng-mouseover="showPencilVolumeCf = 1" ng-mouseleave="showPencilVolumeCf = 0")
                    .jobs-trip-list__body__edit-item_left
                        | {{item.volume_cf}}
                    .jobs-trip-list__body__edit-item_right
                        ng-md-icon( icon="mode_edit" style="fill: #aaa " size="18px" ng-show="showPencilVolumeCf")
            .big-form__jobs-list__body__item
                elromco-select-list(job-id='item.job_id' job-status='item.status')
            .big-form__jobs-list__body__item
                .payment-status.payment-status__invoice_send(ng-if="item.invoice && item.receipt && !item.receipt.length")
                    | Invoice was send
                div(ng-if="item.invoice && item.receipt && item.receipt.length")
                    .payment-status.payment-status__invoice_paid(ng-if="item.balance == 0")
                        | Invoice was paid
                    .payment-status.payment-status__invoice_partially-paid(ng-if="item.balance > 0")
                        | Invoice was partially paid
                    .payment-status.payment-status__invoice_overpaid(ng-if="item.balance < 0")
                        | Invoice was overpaid
                div(ng-if="!item.invoice && item.receipt && item.receipt.length")
                    .payment-status.payment-status__job_paid(ng-if="item.balance == 0")
                        | Job was paid
                    .payment-status.payment-status__job_partially-paid(ng-if="item.balance < 0")
                        | Job was partially paid
                    .payment-status.payment-status__job_overpaid(ng-if="item.balance > 0")
                        | Job was overpaid
                .trip-list-item-body__body__item_none(ng-if="!item.invoice && item.receipt && !item.receipt.length")
                    | None
            .big-form__jobs-list__body__item
                | {{ item.job_total || 0 | currency }}
            .big-form__jobs-list__body__item
                | {{ item.tp_collected || 0 | currency }}
            .big-form__jobs-list__body__item
                | {{ item.balance || 0 | currency }}
        .no-jobs(ng-hide="jobs.length > 0") No jobs in this trip yet
        .request-list__disable(ng-if="busy")

