@media print
	md-toolbar, header, md-tabs-wrapper, aside
		display: none !important

	.trip-create-modal-form__form, .big-form
		display none !important

	.main-content-wrapper
		margin-left 0px !important
		padding-top 0px !important

	.trip-create-modal-form
		margin-bottom 0px !important
		padding-bottom 0px !important
		min-height 0px !important

	.loading-receipt__jobs
		display block !important

	.loading-receipt__trip-data-line
		position absolute !important

	.loading-receipt__notes-content
		display block !important

	.loading-receipt-table
		display table !important
		&__jobs
			display block !important
		tr
			display table-row !important
		td
			display table-cell !important
		thead
			display table-header-group !important
		tbody
			display table-row-group !important
		tfoot
			display table-footer-group !important

	#preloader
		*
			position static

.trip-create-modal-form
	left: 0
	right: 0
	min-height: 500px
	margin: auto
	background-color: white
	margin-bottom 50px
	padding-bottom: 90px
	display: block

	&__header
		height: 30px
		background-color: #F0F0F0
		font-weight: bold
		font-size: 12px
		border-bottom: 1px solid #e5e5e5
		padding-top: 5px
		padding-left: 10px

	&__tab
		padding-left: 20px
		padding-top: 10px
		border-bottom: 2px solid gray
	&__trip-info
		width 100%
		padding-top: 22px
		padding-bottom 22px
	&__parklot-label
		width 100%
		display inline-flex
		flex-direction row
		justify-content space-between
		align-items center
	&__form
		padding-left: 20px
		padding-right: 20px
		width: 50%
		float: left

		&_right-form
			padding-left: 20px
			padding-right: 20px
			width 50%
			float: right
	&__truck-form
		box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
	&__trip-form
		padding: 25px 15px
		padding-bottom 20px
		box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
		display inline-flex
		flex-direction column
		justify-content flex-start
		width 100%
		&__select-header
			display flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			min-height 40px
			border-bottom 1px solid black
			&_button
				display flex
				flex-direction column
				justify-content flex-start
			&_chips
				display flex
				flex-wrap wrap
				width 100%
				box-shadow: 0 0px !important;
		&__dates
			display inline-flex
			flex-wrap wrap
			justify-content space-around
			padding-bottom 0px !important
		&_padding
			padding-top: 25px
		&_small-padding
			padding-top: 5px
		&_red
			color: #a94442
		&__inline
			width 100%
			margin-top 10px
			display inline-flex
			flex-direction row
			flex-wrap wrap
			justify-content flex-start
			&__half
				display flex
				flex 1
				&:first-child
					padding-right 15px
				&:last-child
					padding-left 15px
			&_padding
				padding-bottom 24px
		&_input-form
			float: right
			border-top: none
			border-right: none
			border-left: none
			border-bottom: 1px solid #f0f0f0
			outline: none
			width: 200px

		&_text-area
			border-top: none
			border-right: none
			border-left: none
			outline none
			min-width 100%
			max-width 100%
			height 45px
		&_select
			padding-top: 5px

.big-form
	display inline-flex
	flex-direction column
	width 100%
	margin-left: 20px
	padding-right 40px
	padding-bottom 80px
	&__jobs-list
		position relative
		box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
		font-size 12px
		font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
		&__head
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			align-items center
			width 100%
			border-bottom 1px solid #ddd
			&__item
				display flex
				flex-grow 1
				padding 8px
				min-height 56px
				flex 1
				justify-content center
				flex-direction column
				font-size 12px
				font-weight 500
				color #757575
				&:first-child
					padding-left 24px
				&:last-child
					padding-right 24px
			
				&_text-blue
					font-weight normal
					color #283593
				&_fill-blue
					fill #283593
			&_left
				width 100%
				display inline-flex
				flex-direction row
				justify-content space-between
			&_right
				padding-top 4px
				float right
				padding-right 16px
				display inline-flex
				fill: #757575
			 	
		&__body			
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			width 100%
			&:nth-child(2n)
				background #f9f9f9
			&__item
				padding-top: 30px;
				display flex
				flex-grow 1
				padding 8px
				color #000
				flex 1
				justify-content center
				min-height 48px
				flex-direction column
				font-size 12px
				border-bottom 1px solid #ddd
				&__items
					display flex
					flex-direction column
					justify-content center
					padding-right 10px
					&__inline
						flex 1
						display flex
						flex-wrap nowrap
						flex-direction row
						justify-content flex-start
						font-size 14px
				&_margin-left-right
					margin-left 5px
					padding-right 5px
				&__input
					width 100%
					text-align center

				&_pointer
					cursor pointer

				&_padding
					padding-top 16px

				&:first-child
					padding-left 24px
				&:last-child
					padding-right 24px
		&_color
			color blue

.payment-status
	padding 6px
	font-weight 600
	border-radius 2px
	&__invoice
		&_send
			background-color #9575cd
		&_paid
			background-color #ffee58
		&_partially-paid
			background-color #fff59d
		&_overpaid
			background-color #fdd835
	&__job
		&_paid
			background-color #ffa726
		&_partially-paid
			background-color #ffcc80
		&_overpaid
			background-color #fb8c00
.job-type
	padding 6px
	font-weight 600
	border-radius 2px
	&_type-0
		background-color #cddc39
	&_type-1
		background-color #40c4ff
	&_type-11
		background-color #40c4ff
	&_type-2
		background-color #ab47bc
.bigger-item
	flex 1
	flex-grow 1

.smaller-item
	flex 0.5
	flex-grow 0.5

.text-cursor
	cursor text

.label-width-max
	width 100%

.print-button-fab
	position absolute
	right 39px

.print-trip-button
	min-width 50px

.print-trip-button-icon
	fill rgba(255, 255, 255, 0.87)
	position absolute
	top 2px
	left 11px
