include ../../../../../default.pug

+b('md-dialog').package-add-item
	+e('form').content(name="createFilter")
		
		+e('md-toolbar').header
			.md-toolbar-tools
				+e.progress
					md-progress-linear(md-mode="query" ng-show="busy")
				+e('h2').header-label {{ packageName }}
		+e('md-dialog-content').dialog-content
			+e('md-input-container').input-container
				+e('label').filter-title(ng-class="{'create-filter__filter-title_no-valid' : createItem.filters.$touched && !createItem.filters.$valid }") Filter
				+e('input').input_hidden(required ng-model="selectedFilter" name="filters" ng-disabled="true")
				+e.selected-container
					+e.selected-item(ng-repeat="item in filters" ng-click="selectFilter(item)" 
						ng-class="{ 'create-filter__selected-item_active' : item.selected }"
						)
						+e.selected-title {{ item.name }}
			+e.wraper
				+e.inventory-empty-label(ng-show="!currentFilter.items")
					| Choose filter
				+e.inventory-items(ng-show="currentFilter.items")
					+e.item(ng-repeat="item in currentFilter.items")
							div(new-inventory-item filters="filters" inventory-data="item" filter="currentFilter" room="room" request-id="{{ request.nid }}" package-id="{{ packageId }}")