.speedy-inventory-settings
	margin-right 20px
	.busyoverlay-container
		position inherit
	.row
		padding-bottom 15px
		.js-switch
			display none
		label
			cursor pointer
		button
			display block
			margin-right auto
			margin-left auto