<section class="speedy-inventory-settings">
    <div busy-overlay="busy"></div>
    <div class="panel-body minimal">
        <div class="form-goup row">
            <label for="enableSpeedy" class="col-sm-2">Enable</label>
            <div class="col-sm-10">
                <input type="checkbox"
                       id="enableSpeedy"
                       class="js-switch"
                       ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                       ng-model="speedySettings.enable"
                       data-switchery="true">
            </div>
        </div>
        <div class="form-goup row">
            <label for="exampleInputEmail1" class="col-sm-2">Email address</label>
            <div class="col-sm-10">
                <input type="email" class="ng-hide" name="exampleInputEmail1" ng-model="speedySettings.email" placeholder="Enter email" autocomplete="false">
                <input type="email" class="form-control" id="exampleInputEmail1" ng-model="speedySettings.email" placeholder="Enter email" autocomplete="false">
            </div>
        </div>
        <div class="form-goup row">
            <label for="speedyPassword" class="col-sm-2">Password</label>
            <div class="col-sm-10">
                <input type="password" class="ng-hide" name="speedyPassword" ng-model="speedySettings.password" placeholder="Enter password" autocomplete="false">
                <input type="password" class="form-control" id="speedyPassword" ng-model="speedySettings.password" placeholder="Enter password" autocomplete="false">
            </div>
        </div>
        <div class="form-goup row">
            <label for="speedyKey" class="col-sm-2">Key</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="speedyKey" ng-model="speedySettings.key" placeholder="Enter speedy key" autocomplete="false">
            </div>
        </div>
        <div class="form-goup row">
            <label for="speedyCompanyKey" class="col-sm-2">Company Key</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="speedyCompanyKey" ng-model="speedySettings.companyKey" placeholder="Enter company key" autocomplete="false">
            </div>
        </div>
        <div class="form-goup row">
            <label for="speedyUID" class="col-sm-2">UID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="speedyUID" ng-model="speedySettings.uid" placeholder="Enter UID" autocomplete="false">
            </div>
        </div>
        <div class="form-goup row">
            <label for="speedyURLLogin" class="col-sm-2">URL Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="speedyURLLogin" ng-model="speedySettings.urlLogin" placeholder="Enter URL login" autocomplete="false">
            </div>
        </div>
        <div class="form-goup row">
            <label for="speedyURLPostJob" class="col-sm-2">URL Post Job</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="speedyURLPostJob" ng-model="speedySettings.urlPostJob" placeholder="Enter URL post job" autocomplete="false">
            </div>
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" ng-class="{disabled: isNotChanged}" ng-click="saveChanges()">Save Changes</button>
        </div>
    </div>
</section>
