.sorting	
	&_icon-left
		margin-top -2px
	&_icon-right
		margin-left -7px
		margin-top 2px
	&_icon
		display flex
		flex-direction column
		justify-content center
		fill #cdd0d6
	&_icon-selected
		fill #757575