.sorting_icon-left
    ng-md-icon.sorting_icon(icon="arrow_upwards" size="14" ng-click="sortBy()" ng-class="{'sorting_icon-selected':(params.sorting.orderKey == order && params.sorting.orderValue == 'DESC')}")
.sorting_icon-right
    ng-md-icon.sorting_icon(icon="arrow_downward" size="14" ng-click="sortBy()" ng-class="{'sorting_icon-selected':(params.sorting.orderKey == order && params.sorting.orderValue == 'ASC')}")