.branch-logo-modal
  .modal-header
    .close
      margin-top -10px
  .modal-body
    h2
      text-align center
      padding 10px 0
    .actions
      .close
        margin-top -8px
    .default-photo-block
      padding 20px
      .default-photo
        border 1px solid transparent
        width 300px
        height 100px
        &:hover
          border 1px solid grey
    .crop-block
      .crop-photo
        padding 10px
        width initial
        canvas
          margin-top 10px !important
          margin-left 0 !important
      .cropped-photo
        max-width 228px
        max-height 176px
      h3
        padding-bottom 15px
.branch-logo
  img
    max-height 50px
    height 50px
  .branch-name
    position absolute
    right 0
    bottom 0
    color #1d212a
    opacity .8
    font-size 12px;

@media (max-width: 1024px)
  #header
    .logo
      &.branch-logo
        display none
    .brand
      display none