<div ng-class="{'disabled': uploadedBusy}" class="branch-logo-modal">
    <div flow-init="{target: '/upload', singleFile: true}" flow_name="uploader.flow" flow-files-submitted="" flow-file-added="onImageAdded( $file, $event, $flow )" class="tab-pane" ng-class="{'disabled': uploadedBusy}">
        <div class="modal-header gray">
            <div class="actions pull-right">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
            </div>
        </div>
        <div ng-show="uploadedBusy">
            <div class="sk-cube-grid busyoverlay">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <div class="modal-body">
            <h2>
                Change branch logo
            </h2>
            <div ng-show="$flow.files.length" class="row crop-block">
                <div class="col-sm-12 cropArea">
                    <ui-cropper area-type="rectangle" area-min-size="10" result-image-format="image/jpeg" result-image-size="'max'" result-image-quality="1" class="crop-photo" image="photo" result-image="myCroppedImage"></ui-cropper>
                </div>
                <div class="col-sm-12" ng-show="myCroppedImage">
                    <h3>Cropped logo:</h3>
                    <img class="cropped-photo nopadding" ng-src="{{myCroppedImage}}" />
                </div>
            </div>
            <div ng-hide="$flow.files.length" class="row text-center">
                <div class="col-sm-12">Select the picture or upload your logo</div>
                <div class="col-sm-12 default-photo-block">
                    <a ng-click="uploadSelectedPhoto(defoultLogo)"><img class="default-photo" ng-src="{{defoultLogo}}"></a>
                </div>
            </div>
            <div class="drop text-center" flow-drop="" ng-class="dropClass" ng-show="$flow.files.length < 1">
                <span class="btn btn-primary" flow-btn="">Upload Logo</span><br>
                <b>OR </b> Drag And Drop your logo here
            </div>
        </div>
        <div class="modal-footer" ng-show="$flow.files.length">
            <span  class="btn btn-default pull-left" flow-btn="" ng-click="">Change Logo</span>
            <span class="btn btn-primary pull-right" ng-click="uploadPhoto(myCroppedImage)">Save Logo</span>
        </div>
    </div>
</div>

