<div id="saleslog" class="fadeInLeft saleslog"  ng-class="{'logopen': open, 'logclose': !open}" >
        <h4>Activity Log<a href="javascript:void(0)" ng-click="logOpen()" class="config-link open"><i class="fa fa-cog"></i><i class="icon-settings"></i></a></h4>
        <div class="config-swatch-wrap">
            <form ng-submit="addMessage()" class="log add ng-pristine ng-valid">
				<input type="text" ng-model="message" size="30" placeholder="add new todo here" class="ng-pristine ng-valid ng-touched">
				<input class="btn-primary" type="submit" value="add">
			 </form>
            <div class="tab-wrapper">
                                       
                                                   
                 <div class="log-content" data-type="{{log.event_type}}" ng-repeat="log in logs ">
                     <div class="log {{log.id}}">
                         
                         
                         
                         <div class="type"><i class="fa {{getIconType(log.event_type)}}"></i></div>
						 <div class="user_name">{{log.user_name}}</div>
                         <div class="message"> {{log.text}}</div>
                         <div class="time"><i class="fa fa-clock-o"></i> {{log.date* 1000  | date:'M/d/yy h:mm' }}</div>
                         
						 
                     </div>                            
                      <div  class="body"><span ng-bind-html='toTrustedHTML(log.body)'> </span></div>
                     <div  class="body"><span ng-bind-html='toTrustedHTML(log.data)'> </span></div>


                 </div>
                                
             </div>
     </div>

</div>