<div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
     </svg></div> 
</div> 
<div ng-class="{'disabled': busy}">
    <div class="modal-header">
       <h2>Confirm your choice</h2>
    </div>
    <div class="modal-body">

        <h3>Pick up on {{option.pickup}} at around {{option.picktime1 | usatime}}<span ng-if="option.picktime2.length"> - {{option.picktime2 | usatime}}</span></h3>
        <h3>Delivery on {{option.delivery}} at around {{option.deltime1 | usatime}}<span ng-if="option.deltime2.length"> - {{option.deltime2 | usatime}}</span></h3>
        <h3 class="margintop">The flat rate price for your move would be ${{option.rate | number:2}}</h3>

        <div class="option_text" ng-bind-html="option.text"></div>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary" ng-click="update()">Confirm</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    </div>

</div>
  
 
    