<div class="emails-box-modal">
    <div class="modal-header">
        <h2>{{emailHeader}}</h2>
    </div>
    <div class="modal-body">
        <div class="col-md-12" ng-show="emailParameters && emailParameters.email && !emailParameters.hideSelectEmail">
            <div ng-init="emailChecked.main = !!emailParameters.email">
                <input type="checkbox"
                       ichecks="" class="icheck form-control"
                       ng-model="emailChecked.main"
                       ng-change="checkEmails()"/>
                <span ng-bind="emailParameters.mainClientName"></span>
            </div>
            <div ng-init="emailChecked.additional = !!emailParameters.additionalContact.mail"
                 ng-if="emailParameters.additionalContact.mail">
                 <input type="checkbox"
                        ichecks="" class="icheck form-control"
                        ng-model="emailChecked.additional"
                        ng-change="checkEmails()"/>
                <span ng-bind="emailParameters.additionalContact.name"></span>
            </div>
        </div>
        <div class="col-md-12 emailSelector" ng-if="enabledSelector">
            <div ng-repeat="selected in selectedReceivers" class="emailSelectorReceiver R{{$index}}"
                 ng-class="currentSelected==$index?'selected':''">
                <span>{{selected.name+' <'}}</span>
                <input type="text" class="emailSelectorReceiverInput R{{$index}}"
                       ng-model="selected.mail"
                       size="{{getSize($index)}}"
                       placeholder="add receiver"
                       ng-focus="enterToSelect($index)"
                       ng-change="doFilter($index)"
                       ng-disabled="selected.mail == emailParameters.additionalContact.mail || selected.mail == emailParameters.email">>
                <i class="icon-people R{{$index}} emailsSelectorFilterButton"
                   ng-focus="enterToSelect($index)"
                   ng-click="switchFilter($index)"
                   class="emailSelectorReceiverFilterIcon"
                   ng-class="selected.showFilter?'opened':''"
                ></i>
                <div ng-if="selected.showFilter" class="emailSelectorReceiverFilter R{{$index}}" ng-blur="outOfSelect($index)">
                    <div ng-repeat="receiver in filteredReceivers"
                         class="emailSelectorReceiverFilterItem R{{$parent.$index}}"
                         ng-class="receiver.selected?'selected':''"
                         ng-click="selectReceiver($index,$parent.$index)">
                        {{receiver.name+' <'+receiver.mail+'>'}}
                    </div>
                </div>
            </div>
            <i class="icon-plus emailSelectorAdd" ng-click="addReceiver()"></i>
        </div>
        <div class="col-md-12">
            <div class="col-md-4 nopadding">
                <div class="inside-box">
                    <h2 class="small-box-header text-center">Click to add email</h2>
                    <uib-accordion close-others="true">
                        <div uib-accordion-group ng-repeat="menu in emailsMenu"
                                             heading="{{menu.header}}">
                            <div ng-repeat="email in menu.templates" class="extra-list" ng-click="addEmail(email)">
                                <h4>{{email.name}}</h4>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="col-md-8">
                <div class="inside-box">
                    <h2 class="small-box-header text-center">Selected email</h2>
                    <div ng-repeat="email in emails track by $index">
                        <div class="addemail-box">
                            <table>
                                <thead>
                                <tr>
                                    <th class="email-header">Template Name</th>
                                    <th class="email-header">Subject</th>
                                    <th class="remove-mail" ng-click="removeEmail($index);">X</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td style="overflow:hidden; text-overflow:ellipsis">
                                        <input readonly="" type="text" value="{{email.name}}">
                                    </td>
                                    <td style="overflow:hidden; text-overflow:ellipsis">
                                        <input type="text" ng-model="email.subject">
                                    </td>
                                    <td style="overflow:hidden; text-overflow:ellipsis">
                                        <i class="icon-eye" ng-click="showPreview($index)">
                                        </i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 action-panel" ng-hide="isSendEmails">
            <a ng-click="cancel()" class="btn btn-default cancel-button">Close</a>
            <a ng-click="save()" class="btn btn-primary ok-button">Ok</a>
        </div>
        <div class="col-md-12 action-panel" ng-show="isSendEmails">
            <a ng-click="cancel()" class="btn btn-default cancel-button">Close</a>
            <a ng-click="sendEmailsAndClose()" class="btn btn-primary ok-button" ng-disabled="!selectedReceivers.length">Send emails and close</a>
        </div>
    </div>
</div>
