<div class="send-emails-box">
    <div class="busyoverlay ng-hide" ng-show="busyModal">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="emails-box" ng-hide="sendEmailButton">
        <div class="email-control-button">
            <div ng-repeat="email in emails" class="btn btn-circle " tooltip-placement="top" uib-tooltip="{{email.subject}}">
                <i class="icon-envelope">
                </i>
                <i class="icon-close" ng-click="deleteEmail($index)">
                </i>
            </div>
            <div class="btn btn-circle" ng-click="openMailDialog()">
                <i class="icon-plus"></i>
            </div>
        </div>
    </div>
    <div class="small-emails-box" ng-show="sendEmailButton">
        <div class="busyoverlay ng-hide" ng-show="smallBusyModal">
            <svg class="spinner" width="20px" height="20px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        <i class="fa fa-fw fa-envelope-o" uib-tooltip="Quick send emails" tooltip-popup-delay="2000" ng-click="openMailDialog()" ng-if="emailParameters.service_type != 'STORAGEREQUEST'"></i>
        <button class="btn btn-primary status" ng-click="openMailDialog()" ng-if="emailParameters.service_type == 'STORAGEREQUEST'">
            <i class="fa fa-envelope" style="color: white;"></i>
        </button>
    </div>
</div>
