<div class="parser-provider-name__text" ng-hide="isPresentSource" ng-click="isPresentSource = true">{{request.field_parser_provider_name}}</div>
<select ng-show="isPresentSource" class="form-control parser-provider-name-select"
        data-ng-options="source for source in sources"
        data-ng-model="request.field_parser_provider_name"
        ng-change="onSelectParserProvider()">
    <option disabled selected value>Please Choose Source</option>
</select>
