.home-estimate-schedule-work-preview
  position absolute
  display block
  background-color #c3c3c3
  width: 12px
  height: 11px
  margin-top 1px
  margin-right 2px
  margin-bottom 2px
  -webkit-box-shadow inset 0 0 5px 0 rgba(0, 0, 0, 0.4)
  box-shadow inset 0 0 5px 0 rgba(0, 0, 0, 0.4)
  &.home-estimate-work-item
    top inherit
    height 11px