.trucksettings__
	&header
		padding-bottom 10px
	&spin-icon
		text-align center
	&add-new-truck
		margin: 5px;
		background: white;
		border: none;
		font-weight: bold;
		float: right;
		font-size: 13px;
	&add-truck-container
		display inline-flex
		flex-direction row
		justify-content space-between
		width 100%
	&edit-truck-info
		max-width: 220px
		&__remove-truck
			color white
			margin-top -25px
	&select-trucks-avilability
		cursor pointer
		text-align right
	&update-calendar-button
		margin-right 10px
	&legends
		display: inline-flex
		flex-direction row
		flex-wrap wrap
		justify-content flex-start
		align-items center
		&__block
			padding-right 15px
			display: inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			align-items center
		&__legend
			margin-top 3px
			width 25px
			height 10px
			padding-left 10px
			padding-right 5px
			border 1px solid #535353
			&_available
				background-color #0188CC
			&_unavalable
				background-color #ffffff
			&_blocked
				background-color #e64446
		&__label
			margin-left 5px
			white-space nowrap
			font-size 11px