.trucksettings
	button.btn.btn-danger.btn-sm.trucksettings__update-calendar-button(ng-click="update()" ng-disabled="loader" ng-show="vm.trucks[vm.currentTruckId]") Update
	button.btn.btn-danger.btn-sm.trucksettings__update-calendar-button(ng-click="updateBranchesTruckCalendar()" ng-disabled="loader" ng-show="vm.branchingTrucks[vm.currentTruckId]") Update
	label.checkbox-inline
		input(type="checkbox" ng-model="unavailableDaysType.weekend" name="unavailableDaysType.weekend" ng-click="weekend()" ng-disabled="loader")
		| weekDays
	label.checkbox-inline
		input(type="checkbox" ng-model="unavailableDaysType.weekdays" name="unavailableDaysType.weekdays" ng-click="weekdays()" ng-disabled="loader")
		| weekend
	label.checkbox-inline
		input(type="checkbox" ng-model="unavailableDaysType.sundayDays" name="unavailableDaysType.sundayDays" ng-click="sundayDays()" ng-disabled="loader")
		| sundayDays
	label.checkbox-inline
		input(type="checkbox" ng-model="unavailableDaysType.allDays" name="unavailableDaysType.allDays" ng-click="allDays()" ng-disabled="loader")
		| allDays
	label.checkbox-inline
		input(type="checkbox" ng-model="unavailableDaysType.allDaysOn" name="unavailableDaysType.allDaysOn" ng-click="allDaysOn()" ng-disabled="loader")
		| allDaysOn
	.col-md-6
		h2.trucksettings__header Trucks
		.panel
			.panel-body.minimal
				.container(ng-show="loader")
					.col-sm-2
					.col-sm-10
						span.fa-stack.fa-5x
							i.fa.fa-cog.fa-spin.fa-stack-1x.trucksettings__spin-icon(aria-hidden="true")
				.option.table-responsive(ng-hide="loader")
					new-truck(trucks="vm.trucks" loading="loader")
					table.table.table-inbox.table-hover
						tbody
							tr.option(ng-repeat="(tid, truck) in vm.trucks" ng-class="{'active' : vm.truckAvailability[tid]}" ng-if="!truck.field_ld_only")
								td.trucksettings__edit-truck-info(ng-click="vm.editName(tid);")
									span.bold.truck_name(ng-click="vm.edit[tid] = true;" ng-show="!vm.edit[tid]" ng-bind="truck.name")
									div(ng-show="vm.edit[tid]")
										input.truck_name.full.form-control(type="text" ng-model="truck.name")
										.mybtn.blue.small.left(ng-click="vm.update(truck, tid); vm.edit[tid] = false;") Update
										.cancel(ng-click="vm.edit[tid] = false;") X
										.btn.red.pull-right.trucksettings__edit-truck-info__remove-truck(ng-click="deleteTruckModal(tid)") Remove Truck
								td
									.text.trucksettings__select-trucks-avilability(ng-click="vm.selectTruck(tid)")
										i.fa.fa-calendar
										| Truck Availability
										i.fa.fa-angle-right

		h2.trucksettings__header Trailers
		.panel
			.panel-body.minimal
				.container(ng-show="loader")
					.col-sm-2
					.col-sm-10
						span.fa-stack.fa-5x
							i.fa.fa-cog.fa-spin.fa-stack-1x.trucksettings__spin-icon(aria-hidden="true")
				.option.table-responsive(ng-hide="loader")
					new-truck(is-long-distance-trucks="true" trucks="vm.trucks" loading="loader")
					table.table.table-inbox.table-hover
						tbody
							tr.option(ng-repeat="(tid, truck) in vm.trucks" ng-class="{'active' : vm.truckAvailability[tid]}" ng-if="truck.field_ld_only")
								td.trucksettings__edit-truck-info(ng-click="vm.editName(tid);")
									span.bold.truck_name(ng-click="vm.edit[tid] = true;" ng-show="!vm.edit[tid]" ng-bind="truck.name")
									div(ng-show="vm.edit[tid]")
										input.truck_name.full.form-control(type="text" ng-model="truck.name")
										.mybtn.blue.small.left(ng-click="vm.update(truck, tid); vm.edit[tid] = false;") Update
										.cancel(ng-click="vm.edit[tid] = false;") X
										.btn.red.pull-right.trucksettings__edit-truck-info__remove-truck(ng-click="deleteTruckModal(tid)") Remove Truck
								td
									.text.trucksettings__select-trucks-avilability(ng-click="vm.selectTruck(tid)")
										i.fa.fa-calendar
										| Trailer Availability
										i.fa.fa-angle-right
		branching-truck(loader="loader"  truck-availability="vm.truckAvailability" available='vm.avail' blocked="vm.blocked" branching-trucks='vm.branchingTrucks' current-truck-id='vm.currentTruckId')
	.panel.col-md-4.truck_availability(id='update')
		div(ng-show="loader")
			.col-sm-9.col-sm-offset-3
				span.fa-stack.fa-5x
					i.fa.fa-cog.fa-spin.fa-stack-1x.trucksettings__spin-icon(aria-hidden="true")
		div(ng-hide="loader")
			.trucksettings__legends
				.trucksettings__legends__block
					.trucksettings__legends__legend.trucksettings__legends__legend_unavailable
					.trucksettings__legends__label - Unavailable
				.trucksettings__legends__block
					.trucksettings__legends__legend.trucksettings__legends__legend_available
					.trucksettings__legends__label - Available
				.trucksettings__legends__block
					.trucksettings__legends__legend.trucksettings__legends__legend_blocked
					.trucksettings__legends__label - Has confirmed/not-confirmed request

			.yeaer_list
				span.truCalcheader(ng-class="{'active': showCurrent}" ng-click="showCurrent = true;" ng-bind="::vm.currentYear")
				span.truCalcheader(ng-class="{'active': !showCurrent}" ng-click="showCurrent = false;" ng-bind="::vm.nextYear")
			div(ng-repeat="(tid, truck) in vm.trucks" ng-show="showCurrent")
				div(ng-repeat="month in ::vm.range(1,12,1)")
					trucks-calendar.clndr-ang(ng-if="vm.truckAvailability[tid]" unavailable="vm.avail[tid]" blocked="vm.blocked[tid]" tid="tid" year="vm.currentYear" month="month" dates="dates" month-dates="monthDates")
			div(ng-repeat="(tid, truck) in vm.trucks" ng-hide="showCurrent")
				div(ng-repeat="month in ::vm.range(1,12,1)")
					trucks-calendar.clndr-ang(ng-if="vm.truckAvailability[tid]" unavailable="vm.avail[tid]" blocked="vm.blocked[tid]" tid="tid" year="vm.nextYear" month="month" dates="dates" month-dates="monthDates")
			div(ng-repeat="(tid, truck) in vm.branchingTrucks" ng-show="showCurrent")
				div(ng-repeat="month in ::vm.range(1,12,1)")
					trucks-calendar.clndr-ang(ng-if="vm.truckAvailability[tid]" unavailable="vm.avail[tid]" blocked="vm.blocked[tid]" tid="tid" year="vm.currentYear" month="month" dates="dates" month-dates="monthDates")
			div(ng-repeat="(tid, truck) in vm.branchingTrucks" ng-hide="showCurrent")
				div(ng-repeat="month in ::vm.range(1,12,1)")
					trucks-calendar.clndr-ang(ng-if="vm.truckAvailability[tid]" unavailable="vm.avail[tid]" blocked="vm.blocked[tid]" tid="tid" year="vm.nextYear" month="month" dates="dates" month-dates="monthDates")
