.agent-folio-details__toolbar
	md-toolbar.md-hue-2
		.md-toolbar-tools
			md-button.md-icon-button(aria-label='Go Back' ng-click="back()" ng-disabled='false')
				ng-md-icon.agent-folio-details__toolbar__back-icon(icon="chevron_left" style="fill: #fff" size="24")
			h2.agent-folio-details__toolbar__label(flex='', md-truncate='') {{ newStorage.name }}
			.agent-folio-details__toolbar__item_left
				md-button(aria-label='Create' ng-click="create()" ng-disabled='false') Save
form.carrier-create-modal-form(name="storageModel" novalidate)
	.carrier-create-modal-form__container
		.carrier-create-modal-form__column
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label Name:
					input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="name" name="name" ng-model="newStorage.name" type="text" required="" aria-invalid="true")
					div(ng-messages="storageModel.name.$error")
						div(ng-message="required") Name is required.
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label E-mail:
					input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="email" name="email" type="email" ng-model="newStorage.email" required="" aria-invalid="true")
					div(ng-messages="storageModel.email.$error")
						div(ng-message="required") Email is required
						div(ng-message="email") Invalid Email
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label Default storage:
					md-checkbox.md-primary.pull-right(md-no-ink style="border-bottom: none" ng-false-value="'0'" ng-true-value="'1'" ng-model="newStorage.default_storage")
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label Active:
					md-checkbox.md-primary.pull-right(md-no-ink style="border-bottom: none" ng-false-value="'0'" ng-true-value="'1'" ng-model="newStorage.active")
		.carrier-create-modal-form__column
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label Address:
					textarea(ng-model="newStorage.address" id="agentAddress" rows="1" class="carrier-create-modal-form_input-form carrier-create-modal-form__right" aria-invalid="false")
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label Zip Code:
					input(ng-change="changePostalCode()" class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="zip" name="zip_code" ng-model="newStorage.zip_code" minLength="5" maxlength="5"  ng-maxlength="5" ng-model-options="{ debounce: 1000 }" data-mask="99999" type="text" required="true" aria-invalid="false" er-only-digit)
					div(ng-messages="storageModel.zip_code.$error")
						div(ng-message="required") Zip code is required
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label City:
					input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" ng-disabled="true" id="city" name="city" type="text" ng-model="newStorage.city" required="" aria-invalid="true")
					div(ng-messages="storageModel.city.$error")
						div(ng-message="required") City is required
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label State:
					input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" ng-disabled="true" required="" id="state" name="state" ng-model="newStorage.state" type="text" aria-invalid="false")
					div(ng-messages="storageModel.state.$error")
						div(ng-message="required") State is required.
		.carrier-create-modal-form__column
			.carrier-create-modal-form__padding
				md-input-container.md-block(flex-gt-sm='')
					label Notes:
					input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="notes" name="notes" type="text" ng-model="newStorage.notes" aria-invalid="false")

			.carrier-create-modal-form__no-padding
				label.carrier-create-modal-form__label-grey Phones: *
				.carrier-create-modal-form__inline(ng-repeat="phone in newStorage.phones track by $index")
					md-input-container.carrier-create-modal-form__padding.md-block(md-no-float flex-gt-sm='' ng-if="$first")
						label(style="display: none")
						input( type="text"
						ng-model="newStorage.phones[$index]"
						name="phone"
						class="carrier-create-modal-form_input-form carrier-create-modal-form__right"
						phone-input
						minlength="14"
						maxlength="14"
						placeholder="(XXX) XXX-XXXX"
						aria-invalid="true"
						required="true")
						div(ng-messages="storageModel.phone.$error")
							div(ng-message="required") At least one phone number required.
					md-input-container.carrier-create-modal-form__padding.md-block(md-no-float flex-gt-sm='' ng-if="!$first")
						label(style="display: none")
						input(type="text"
						ng-model="newStorage.phones[$index]"
						class="carrier-create-modal-form_input-form carrier-create-modal-form__right"
						phone-input
						minlength="14"
						maxlength="14"
						placeholder="(XXX) XXX-XXXX"
						aria-invalid="true")
					md-button.md-icon-button.carrier-create-modal-form__padding_phone(title="add phone number" ng-click="deletePhone($index)" ng-if="newStorage.phones.length > 1")
						ng-md-icon(icon="remove" style="fill: red" size="26")
			.carrier-create-modal-form__button-right
				md-button.md-icon-button(title="add phone number" ng-click="addPhone()" ng-if="newStorage.phones.length < 3 &&  newStorage.phones[newStorage.phones.length - 1].length == 14")
					ng-md-icon(icon="add" style="fill: green" size="26")
