<table style="margin:auto; background-color: #f7f7f7;" cellspacing="0" cellpadding="0" align="center" border="0">
    <tbody dragula="&quot;template-bag&quot;" dragula-model="template.blocks">
    <!-- ngRepeat: block in template.blocks track by $index --><tr block-directive="" block="block" delete-block="deleteBlockFromTemplate($index)" delete-button="deleteButton" editor-button="editorButton" edit-child-elements="editChildElements" dragdrop-button="dragdropButton" company-logo-url="companyLogoUrl" edit-block-options="editBlockOptions" ng-repeat="block in template.blocks track by $index" on-finish-render="templateRenderFinished"><tr>
        <td ng-bind-html="enableStyle(block.template)"><table style="min-width: 640px">
            <tbody>
            <tr>
                <td style="width: 640px;BORDER-BOTTOM: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 0 solid; PADDING: 0; BACKGROUND-COLOR: #feffff; BORDER-TOP: #dbdbdb 1px solid; BORDER-RIGHT: #dbdbdb 0 solid;">
                    <table style="WIDTH: 100%" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr style="HEIGHT: 225px">
                            <td style="BORDER-BOTTOM: #dbdbdb 1px hidden; TEXT-ALIGN: left; BORDER-LEFT: #dbdbdb 1px hidden; PADDING: 35px 15px; BACKGROUND-COLOR: #feffff; WIDTH: 100%; VERTICAL-ALIGN: top; BORDER-TOP: #dbdbdb 1px hidden; BORDER-RIGHT: #dbdbdb 1px hidden;">
                                <div>
                                    <p style="margin-top: -15px;margin-bottom: 15px;"><br></p>
                                </div>



                                <div>
                                    <p style="color: rgb(126, 126, 126);"><br></p><p style="color: rgb(126, 126, 126);"><span style="color: rgb(52, 52, 52);font-size: large;">[custom:message-text]</span><br></p><p style="color: rgb(126, 126, 126);"><span style="color: rgb(52, 52, 52);font-size: large;"><br></span></p>
                                </div>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table></td>
    </tr>
    <!-- ngIf: editorButton --><!-- end ngIf: editorButton -->
    <!-- ngIf: deleteButton --><!-- end ngIf: deleteButton -->
    <!-- ngIf: dragdropButton --><!-- end ngIf: dragdropButton -->
    <!-- ngIf: isVisibleEditor -->
    </tr><!-- end ngRepeat: block in template.blocks track by $index -->
    </tbody>
</table>