<style>
    .gray-box
    {
        background: #E3E3E3;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid #C4C4C4;
        margin: 10px 0;
    }
    .gray-box .form-control {
    border: 1px solid #D3D2D2;
    }
</style>
<div class="gray-box"  ng-if="editrequest.data.field_move_service_type != 4">
    <div class="address-block clearfix">
        <label class="col-sm-3 text-right">Origin</label>
        <div class="address-info col-sm-9">
            <div class="row">
                <div class="col-sm-10 no-padding-right">
                    <input class="form-control input-element-processed"
                           field="editrequest.data.field_moving_from"
                           ng-model="editrequest.data.field_moving_from.thoroughfare"
                           placeholder="From Address"
                           address-autocomplete>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-sm-7">

                    <select  class="form-select input-element-processed form-control" id="edit-type-from" name="Type_From"
                             required
                             ng-init="editrequest.data.field_type_of_entrance_from = '1' "
                             ng-model="editrequest.data.field_type_of_entrance_from"
                             ng-options="id as item for (id, item) in fieldData.field_lists.field_type_of_entrance_from"
                             tabindex="6"
                    >
                    </select>

                </div>
                <div class="col-md-3 nopadding">
                    <div>
                        <input class="form-control input-element-processed" id="edit-zip-code-from"
                               required
                               ng-maxlength="5"
                               name="editZipCodeFrom"
                               ng-model="editrequest.data.field_moving_from.postal_code"
                               placeholder="Zip from"
                               size="5" maxlength="5" autocomplete="off"
                               tabindex="7">

                    </div>
                </div>
            </div>

            <div class="main row form-item-moving-from-city" style="margin-top: 5px;">
                <div class="col-md-5">
                    <input  ng-model="editrequest.data.field_moving_from.locality"
                            placeholder="From City"
                            class="city  disabled form-control form-text"
                            type="text"
                            tabindex="-1">
                </div>
                <div class="col-md-5 nopadding">
                    <select ng-model="editrequest.data.field_moving_from.administrative_area"
                            id="edit-moving-from-state"
                            class="state disabled form-select form-control"
                            tabindex="-1">
                        <option value="">Select State</option>
                        <option ng-selected="editrequest.data.field_moving_from.administrative_area == '{{state}}'" value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}</option>
                    </select>
                </div>

            </div>




            <!-- Entrance to -->

        </div>
    </div>
</div>
<div class="gray-box" ng-if="editrequest.data.field_move_service_type != 3 && editrequest.data.field_move_service_type != 8">
    <div class="address-block clearfix">
        <label class="col-sm-3 text-right">Destination</label>
        <div class="address-info col-sm-9">
            <div class="row">
                <div class="col-sm-10 no-padding-right">
                    <input class="form-control input-element-processed"
                           field="editrequest.data.field_moving_to"
                           ng-model="editrequest.data.field_moving_to.thoroughfare"
                           placeholder="To Address"
                           address-autocomplete>
                </div>
            </div>

            <div class="row"  style="margin-top: 5px;">
                <div class="col-sm-7">
                    <select  class="form-select input-element-processed form-control" id="edit-type-to" name="Type_To"
                         required
                         name="editTypeTo"
                         ng-init="editrequest.data.field_type_of_entrance_to_ = '1' "
                         ng-model="editrequest.data.field_type_of_entrance_to_"
                         ng-options="id as item for (id, item) in fieldData.field_lists.field_type_of_entrance_to_"
                         tabindex="8">
                    </select>

                </div>
                <div class="col-md-3 nopadding">
                    <div>
                        <input class="form-control input-element-processed" id="edit-zip-code-to" required
                               placeholder="Zip to"
                               ng-model="editrequest.data.field_moving_to.postal_code"
                               ng-required="editrequest.data.field_move_service_type != 3"
                               ng-maxlength="5"
                               size="5" maxlength="5" autocomplete="off"
                               tabindex="9">
                    </div>
                </div>
            </div>

            <div class="main row form-item-moving-from-city" style="margin-top: 5px;">
                <div class="col-md-5">
                    <input  ng-model="editrequest.data.field_moving_to.locality"
                            placeholder="To City"
                            class="city  disabled form-control form-text"
                            type="text"
                            tabindex="-1">
                </div>
                <div class="col-md-5 nopadding">
                    <select ng-model="editrequest.data.field_moving_to.administrative_area"
                            id="edit-moving-from-state"
                            class="state disabled form-select form-control"
                            tabindex="-1">
                        <option value="">Select State</option>
                        <option ng-selected="editrequest.data.field_moving_to.administrative_area == '{{state}}'" value="{{state}}" ng-repeat="state in fieldData.allowedstate">{{state}}</option>
                    </select>
                </div>

            </div>


        </div>
    </div>
</div>
