<div class="">
    <div class="panel-heading">
        <h2>Request Info</h2>
    </div>
    <div class="col-md-12">
        <div class="panel-body minheight resulttable fadeInRight col-md-6  animated">
            <h3>Moving To Storage</h3>
            <TABLE >
                <TBODY>
                <TR>
                    <TD class="label">MOVE DATE:</TD>
                    <TD class="data">{{results1.field_date.date}}</TD>
                </TR>

                <TR>
                    <TD class="label">Rate:</TD>
                    <TD class="data">${{results1.field_price_per_hour | number:2}} / hour</TD>
                </TR>

                <TR>
                    <TD class="label">FROM:</TD>
                    <TD class="data">{{results1.field_moving_from.locality}},
                        {{results1.field_moving_from.administrative_area}}
                        {{results1.field_moving_from.postal_code}}</TD>
                </TR>
                <TR>
                    <TD class="label">TO:</TD>
                    <TD class="data">Storage ({{results1.field_moving_to.locality}},
                        {{results1.field_moving_to.administrative_area}}
                        {{results1.field_moving_to.postal_code}})</TD>
                </TR>
                <TR>

                    <TD class="label">DISTANCE:</TD>
                    <TD class="data">{{results1.field_distance}} miles</TD>

                </TR>

                <TR>
                    <TD class="label">Service Type:</TD>
                    <TD class="data">{{fieldData.field_lists.field_move_service_type[results1.field_move_service_type]}} </TD>
                </TR>

                <TR>
                    <TD class="label">TOTAL CUBIC FEET:</TD>
                    <TD class="data">{{weight.min}} - {{weight.max}}  CUBIC FEET</TD>
                </TR>

                <TR>
                    <TD class="label">TRUCK:</TD>
                    <TD class="data">{{trucks}}</TD>
                </TR>

                <TR>
                    <TD class="label">MOVERS: </TD>
                    <TD class="data">{{results1.field_movers_count}} movers</TD>
                </TR>

                <TR ng-if="storageCalcResult.to.travelTime">
                    <TD class="label" ng-show="!isDoubleDriveTime">{{::calcSettings.travelTimeName}}:</TD>
                    <TD class="label" ng-show="isDoubleDriveTime">{{::calcSettings.doubleDriveTimeName}}:</TD>
                    <TD class="data">{{storageCalcResult.to.travelTime | hrmin}}</TD>
                </TR>

                <TR>
                    <TD class="label">Work Time: </TD>
                    <TD class="data">{{results1.field_minimum_move_time | hrmin }}
                        <span ng-if="!storageCalcResult.to.small_job"> - {{results1.field_maximum_move_time  | hrmin}}</span>
                    </TD>
                </TR>

                <TR>
                    <TD class="label">Total Time Quote: </TD>
                    <TD class="data">{{storageCalcResult.to.minTime | hrmin }}
                        <span ng-if="!storageCalcResult.to.small_job">- {{storageCalcResult.to.maxTime | hrmin}}</span>
                    </TD>
                </TR>

                <TR>
                    <TD class="label">Move Quote: </TD>
                    <TD class="data">${{storageCalcResult.to.minTime * results1.field_price_per_hour | number: 2}}
                        <span ng-if="!storageCalcResult.to.small_job">- ${{storageCalcResult.to.maxTime * results1.field_price_per_hour | number: 2}}</span>
                    </TD>
                </TR>

                <TR ng-if="storageCalcResult.to.surcharge_fuel">
                    <TD class="label">Fuel Surcharge:</TD>
                    <TD class="data">${{storageCalcResult.to.surcharge_fuel}} </TD>
                </TR>

                <TR ng-if="storageCalcResult.to.equipmentFee.amount">
                    <TD class="label">{{storageCalcResult.to.equipmentFee.name}}:</TD>
                    <TD class="data">${{storageCalcResult.to.equipmentFee.amount}}</TD>
                </TR>

                <tr ng-if="storageCalcResult.overnightRate">
                    <td class="label">Overnight Rate:</td>
                    <td class="data">${{storageCalcResult.overnightRate | number:2}}</td>
                </tr>

                <TR class="grand_total_mark">
                    <TD class="label">Grand Total:</TD>
                    <TD class="data">${{storageCalcResult.to.minQuote | number: 2}}
                        <span ng-if="!storageCalcResult.to.small_job">- ${{storageCalcResult.to.maxQuote | number: 2}}</span>
                    </TD>
                </TR>

                </TBODY>
            </TABLE>


            <div class="longdistance" ng-show="vm.calc_results.request.serviceType == 5">
                <h3>Flat Rate And Long Distance Moves</h3>
                <table>
                    <tbody>
                    <TR >

                        <TD class="label">Pick up Time</TD>

                        <TD class="data">{{vm.calc_results.pickup_time.min | hrmin}} - {{vm.calc_results.pickup_time.max | hrmin}}</TD>

                    </TR>

                    </tbody>

                </table>
            </div>

        </div>
        <div class="panel-body minheight resulttable fadeInRight  col-md-6  animated">
            <h3>Moving From Storage</h3>
            <TABLE>
                <TBODY>
                <TR>
                    <TD class="label">MOVE DATE:</TD>
                    <TD class="data">{{results2.field_date.date}}</TD>
                </TR>

                <TR>
                    <TD class="label">Rate:</TD>
                    <TD class="data">${{results2.field_price_per_hour | number:2}} / hour</TD>
                </TR>

                <TR>
                    <TD class="label">FROM:</TD>
                    <TD class="data">Storage ({{results2.field_moving_from.locality}},
                        {{results2.field_moving_from.administrative_area}}
                        {{results2.field_moving_from.postal_code}})</TD>
                </TR>
                <TR>
                    <TD class="label">TO:</TD>
                    <TD class="data">{{results2.field_moving_to.locality}},
                        {{results2.field_moving_to.administrative_area}}
                        {{results2.field_moving_to.postal_code}}</TD>
                </TR>
                <TR>

                    <TD class="label">DISTANCE:</TD>
                    <TD class="data">{{results2.field_distance}} miles</TD>

                </TR>
                <TR>

                    <TD class="label">Service Type:</TD>
                    <TD class="data">{{fieldData.field_lists.field_move_service_type[results2.field_move_service_type]}} </TD>

                </TR>


                <TR>

                    <TD class="label">TOTAL CUBIC FEET:</TD>
                    <TD class="data">{{weight.min}} - {{weight.max}}  CUBIC FEET</TD>

                </TR>
                <TR>

                    <TD class="label">TRUCK:</TD>
                    <TD class="data">{{trucks}}</TD>

                </TR>
                <TR>

                    <TD class="label">MOVERS: </TD>
                    <TD class="data">{{results2.field_movers_count}} movers</TD>

                </TR>

                <TR ng-if="storageCalcResult.from.travelTime">
                    <TD class="label" ng-show="!isDoubleDriveTime">{{::calcSettings.travelTimeName}}:</TD>
                    <TD class="label" ng-show="isDoubleDriveTime">{{::calcSettings.doubleDriveTimeName}}:</TD>
                    <TD class="data">{{storageCalcResult.from.travelTime | hrmin}}</TD>
                </TR>

                <TR>
                    <TD class="label">Work Time:</TD>
                    <TD class="data">{{(results2.field_minimum_move_time+results2.field_duration) | hrmin }}
                        <span ng-if="!storageCalcResult.from.small_job">- {{(results2.field_maximum_move_time + results2.field_duration)  | hrmin}}</span>
                    </TD>
                </TR>

                <TR>
                    <TD class="label">Total Time Quote:</TD>
                    <TD class="data">{{storageCalcResult.from.minTime | hrmin }}
                        <span ng-if="!storageCalcResult.from.small_job">- {{storageCalcResult.from.maxTime | hrmin}}</span>
                    </TD>
                </TR>

                <TR>
                    <TD class="label">Move Quote:</TD>
                    <TD class="data">${{storageCalcResult.from.minTime * results2.field_price_per_hour | number: 2}}
                        <span ng-if="!storageCalcResult.from.small_job">- ${{storageCalcResult.from.maxTime * results2.field_price_per_hour | number: 2}}</span>
                    </TD>
                </TR>

                <TR ng-if="storageCalcResult.from.surcharge_fuel">
                    <TD class="label">Fuel Surcharge:</TD>
                    <TD class="data">${{storageCalcResult.from.surcharge_fuel | number:2}} </TD>
                </TR>

                <TR ng-if="storageCalcResult.from.equipmentFee.amount">
                    <TD class="label">{{storageCalcResult.from.equipmentFee.name}}:</TD>
                    <TD class="data">${{storageCalcResult.from.equipmentFee.amount}} </TD>
                </TR>

                <TR class="grand_total_mark">
                    <TD class="label">Grand Total:</TD>
                    <TD class="data">${{storageCalcResult.from.minQuote | number: 2}}
                        <span ng-if="!storageCalcResult.from.small_job">- ${{storageCalcResult.from.maxQuote | number: 2}}</span>
                    </TD>
                </TR>

                </TBODY>

            </TABLE>


            <div class="longdistance" ng-show="vm.calc_results.request.serviceType == 5">
                <h3>Flat Rate And Long Distance Moves</h3>
                <table>
                    <tbody>
                    <TR >

                        <TD class="label">Pick up Time</TD>

                        <TD class="data">{{vm.calc_results.pickup_time.min | hrmin}}
                            <span ng-if="!storageCalcResult.from.small_job">- {{vm.calc_results.pickup_time.max | hrmin}}</span>
                        </TD>

                    </TR>

                    </tbody>

                </table>
            </div>

        </div>
    </div>

</div>
