<div class="">
    <div class="panel-heading">
        <h2>Request Info</h2>
    </div>
       <div class="panel-body minheight resulttable fadeInRight animated">
        <TABLE class="centering_table">
            <TBODY>
            <TR>
                <TD class="label">MOVE DATE:</TD>
                <TD class="data">{{results.field_date.date}}</TD>
            </TR>

            <!--Hide this row if FLAT RATE , we don't have hourly rate for flat rate -->
            <TR ng-hide="editrequest.data.field_move_service_type == 5">
                <TD class="label">Rate:</TD>
                <TD class="data">
                    <span class="discount" ng-if="requestCalcResult.localdiscount">${{requestCalcResult.discountRate | number:2}} / hour</span>
                    ${{results.field_price_per_hour | number:2}} / hour</TD>
            </TR>

            <TR ng-if="editrequest.data.field_move_service_type != 4">
                <TD class="label">FROM:</TD>
                <TD class="data">{{results.field_moving_from.locality}},
                    {{results.field_moving_from.administrative_area}}
                    {{results.field_moving_from.postal_code}}</TD>
            </TR>

            <TR ng-if="editrequest.data.field_move_service_type != 3
                && editrequest.data.field_move_service_type != 8">
                <TD class="label">TO:</TD>
                <TD class="data">{{results.field_moving_to.locality}},
                    {{results.field_moving_to.administrative_area}}
                    {{results.field_moving_to.postal_code}}</TD>
            </TR>

            <TR ng-hide="editrequest.data.field_move_service_type == 5">
                <TD class="label">DISTANCE:</TD>
                <TD class="data">{{results.field_distance}} miles</TD>
            </TR>

            <TR>
                <TD class="label">Service Type:</TD>
                <TD class="data">{{fieldData.field_lists.field_move_service_type[results.field_move_service_type]}} </TD>
            </TR>

            <TR ng-hide="editrequest.data.field_move_service_type == 5">
                <TD class="label">TOTAL CUBIC FEET:</TD>
                <TD class="data">{{weight.min}} - {{weight.max}} CUBIC FEET</TD>
            </TR>

            <TR>
                <TD class="label">TRUCK:</TD>
                <TD class="data">{{trucks}}</TD>
            </TR>

            <TR>
                <TD class="label">MOVERS: </TD>
                <TD class="data">{{results.field_movers_count}} movers</TD>
            </TR>

            <TR ng-if="requestCalcResult.travelTime">
                <TD class="label" ng-if="!isDoubleDriveTime">{{::calcSettings.travelTimeName}}:</TD>
                <TD class="label" ng-if="isDoubleDriveTime">{{::calcSettings.doubleDriveTimeName}}:</TD>
                <TD class="data">{{requestCalcResult.travelTime | hrmin}}</TD>
            </TR>

            <TR ng-hide="editrequest.data.field_move_service_type == 5">
                <TD class="label">Work Time </TD>
                <TD class="data">{{results.field_minimum_move_time | hrmin }}
                    <span ng-if="!requestCalcResult.small_job">- {{results.field_maximum_move_time | hrmin}}</span>
                </TD>
            </TR>

            <TR ng-hide="editrequest.data.field_move_service_type == 5">
                <TD class="label">Total Time Quote </TD>
                <TD class="data">{{requestCalcResult.minTime | hrmin }}
                    <span ng-if="!requestCalcResult.small_job">- {{requestCalcResult.maxTime | hrmin}}</span>
                </TD>
            </TR>

            <TR ng-hide="editrequest.data.field_move_service_type == 5">
                <TD class="label">Move Quote </TD>
                <TD class="data">${{requestCalcResult.minTime * results.field_price_per_hour | number : 2}}
                    <span ng-show="requestCalcResult.minTime < requestCalcResult.maxTime">
                        &nbsp;- ${{requestCalcResult.maxTime * results.field_price_per_hour | number : 2}}
                    </span>
                </TD>
            </TR>

            <TR ng-if="requestCalcResult.surcharge_fuel">
                <TD class="label">Fuel Surcharge: </TD>
                <TD class="data">${{requestCalcResult.surcharge_fuel | number:2}}</TD>
            </TR>

            <TR ng-if="equipmentFee.amount">
                <TD class="label">{{equipmentFee.name}}: </TD>
                <TD class="data">${{equipmentFee.amount | number:2}}</TD>
            </TR>

            <TR ng-hide="editrequest.data.field_move_service_type == 5" class="grand_total_mark">
                <TD class="label">Grand Total</TD>
                <TD class="data">${{requestCalcResult.minQuote | number : 2}}
                    <span ng-if="!requestCalcResult.small_job">- ${{requestCalcResult.maxQuote | number : 2}}</span></TD>
            </TR>
            </TBODY>
        </TABLE>


        <div class="longdistance" ng-show="vm.calc_results.request.serviceType == 5">
            <h3>Flat Rate And Long Distance Moves</h3>
            <table>
                <tbody>
                <TR >
                    <TD class="label">Pick up Time</TD>
                    <TD class="data">{{vm.calc_results.pickup_time.min | hrmin}}
                        <span ng-if="!requestCalcResult.small_job">- {{vm.calc_results.pickup_time.max | hrmin}}</span>
                    </TD>
                </TR>
                </tbody>
            </table>
        </div>
    </div>
</div>
