<div class="">
    <div class="panel-heading">
        <h2>Request Info</h2>
    </div>
    <div  class="panel-body minheight resulttable fadeInRight  animated">
        <TABLE class="centering_table">
            <TBODY>
            <TR>
                <TD class="label">MOVE DATE:</TD>
                <TD class="data">{{results.field_date.date}}</TD>
            </TR>

            <TR>
                <TD class="label">Rate:</TD>
                <TD class="data">${{longDistanceRate | number:2}} per cubic feet</TD>
            </TR>

            <TR>
                <TD class="label">FROM:</TD>
                <TD class="data">{{results.field_moving_from.locality}},
                    {{results.field_moving_from.administrative_area}}
                    {{results.field_moving_from.postal_code}}</TD>
            </TR>
            <TR>
                <TD class="label">TO:</TD>
                <TD class="data" ng-class="{'red' : !moveToState}">{{results.field_moving_to.locality}},
                    {{results.field_moving_to.administrative_area}}
                    {{results.field_moving_to.postal_code}}</TD>
            </TR>
            <TR>
                <TD class="label">DISTANCE:</TD>
                <TD class="data">{{results.field_distance}} miles</TD>
            </TR>
            <TR>
                <TD class="label">Service Type:</TD>
                <TD class="data">{{fieldData.field_lists.field_move_service_type[results.field_move_service_type]}} </TD>
            </TR>


            <TR>
                <TD class="label">ESTIMATED CUBIC FEET:</TD>
                <TD class="data">{{request.inventory_weight.cfs}}  CUBIC FEET</TD>
            </TR>

            <TR>
                <TD class="label">Long Distance Quote </TD>
                <TD class="data">${{longDistanceQuote | number : 2}} <span ng-if="!longDistanceQuote"> (Was not setup)</span></TD>
            </TR>

            <TR ng-if="requestCalcResult.surcharge_fuel">
                <TD class="label">Fuel Surcharge </TD>
                <TD class="data">${{requestCalcResult.surcharge_fuel | number : 2}}</TD>
            </TR>

            <TR ng-if="requestCalcResult.extraServiceTotal">
                <TD colspan="2">
                    <table class="extra-service table table-striped">
                        <thead>
                        <tr>
                            <th colspan="2">
                                Extra services
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="extraService in request.extraServices">
                            <td class="label">{{extraService.name}}:</td>
                            <td class="data">${{extraService.extra_services[0].services_default_value | number: 2}}</td>
                        </tr>
                        <tr ng-if="request.extraServices.length > 1">
                            <td class="label">Total:</td>
                            <td class="data">${{requestCalcResult.extraServiceTotal| number: 2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </TD>
            </TR>

            <TR class="grand_total_mark">
                <TD class="label">Grand Total </TD>
                <TD class="data">${{requestCalcResult.quote | number : 2}}</TD>
            </TR>

            <TR ng-if="!moveToState">
                <TD class="label red">We don't move to this state</TD>
            </TR>
            </TBODY>

        </TABLE>

    </div>
</div>
