<div id="newRequestDirective">
    <div class="modal-request-responsive-fix">
      <div class="modal-body form-horizontal" style="padding: 0px;">
        <div ng-show="busy" class="busyoverlay">
          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
        </div>
        <!--Move Date-->
        <button type="button" class="close" ng-click="cancel()" style="position: absolute;top: 10px;right: 10px;">×
        </button>
        <div ng-form name="newRequest">
          <div class="step1" ng-show="step1">
            <div class="form-group">
              <legend style="padding: 10px 28px;">Request Info</legend>
              <label class="col-sm-3 control-label">Service Type:</label>
              <div class="col-sm-7">
                <select class="form-select form-control" name="move_service_type"
                        ng-model="editrequest.data.field_move_service_type"
                        ng-options="service.id as service.title for service in services"
                        tabindex="1">
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <label class="col-sm-3 control-label">Desired Move Date: </label>
                  <div class="col-sm-7">
                    <input class="required  form-control  form-select"
                           type="text" ng-model='editrequest.data.field_date'
                           id="edit-move-date-datepicker-popup-0" name="Move_Date"
                           calendar="fieldData.calendar"
                           field="field_date"
                           editrequest="editrequest"
                           cc-request-btn-date=""
                           placeholder="Move Date"
                           required
                           tabindex="2">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-show="editrequest.data.field_move_service_type == 2">
              <div class="col-sm-12">
                <div class="row">
                  <label class="col-sm-3 control-label">Desired Delivery Date: </label>
                  <div class="col-sm-7">
                    <input class="required form-control form-select "
                           type="text" ng-model='editrequest.data.field_delivery_date'
                           id="edit-date-storage-datepicker-popup-0" name="Date_Storage"
                           calendar="fieldData.calendar"
                           min-date="editrequest.data.field_date"
                           field="field_delivery_date"
                           editrequest="editrequest"
                           cc-request-btn-date=""
                           placeholder="Move Date"
                           tabindex="3">
                  </div>
                </div>
              </div>
            </div>
            <!-- Size of move-->
            <div class="form-group">
              <label class="col-sm-3 control-label">Size of Move: </label>
              <div class="col-sm-7">
                <select required
                        class="form-select form-control"
                        ng-model="editrequest.data.field_size_of_move"
                        ng-change="changeService()"
                        name="size_of_move"
                        ng-options="value.value as value.title for value in defaults.sizeOfMove"
                        tabindex="4">
                </select>
              </div>
            </div>
            <!-- Extra Rooms -->
            <div class="form-group select-extra-rooms"
                 ng-if="editrequest.data.field_size_of_move != 11">
              <label class="col-sm-3 control-label">Extra Rooms: </label>
              <div class="col-sm-7">
                <select class="form-control" cc-request-btn-rooms=""
                        ng-model="editrequest.data.field_extra_furnished_rooms"
                        multiple="multiple"
                        name="Furnished_Rooms"
                        id="edit-furnished-rooms"
                        class="form-select form-element"
                        tabindex="5">
                  <option value="1">living room</option>
                  <option value="2">dining room</option>
                  <option value="3">office</option>
                  <option value="4">extra room</option>
                  <option value="5">basement</option>
                  <option value="6">garage</option>
                  <option value="7">patio</option>
                  <option value="8">play room</option>
                </select>
              </div>
            </div>

            <div class="form-group select-extra-rooms" ng-if="editrequest.data.field_size_of_move == 11">
              <label class="col-sm-3 control-label">Extra Rooms: </label>
              <div class="col-sm-7">
                <commercial-move-size edit-request="editrequest" is-new-request="true"></commercial-move-size>
              </div>
            </div>

            <!-- Addresses-->
            <ng-include src="'app/requests/directives/new-request/addressesBox.html?2'"></ng-include>

            <div class="modal-footer">
              <button type="button" ng-click="Calculate()" ng-class="{disabled: !isValid() || dotsLoader}" class="btn btn-primary blue">
                  <div ng-if="!dotsLoader">Calculate</div>
                  <div ng-if="dotsLoader" class='uil-ellipsis-css' style='transform:scale(0.18); width: 62px; height: 21px;top: -15px;left: -10px;'>
                      <div class="ib">
                          <div class="circle">
                              <div></div>
                          </div>
                          <div class="circle">
                              <div></div>
                          </div>
                          <div class="circle">
                              <div></div>
                          </div>
                          <div class="circle">
                              <div></div>
                          </div>
                      </div>
                  </div>
              </button>
            </div>
          </div>
          <!-- Calca Results-->
          <div class="step2" ng-show="step2">
            <ng-include ng-if="editrequest.data.field_move_service_type !=2 && editrequest.data.field_move_service_type != 7 && editrequest.data.field_move_service_type != 6"
                        src="'app/requests/directives/new-request/calcResults.html?2'"></ng-include>
            <ng-include ng-if="editrequest.data.field_move_service_type == 2 || editrequest.data.field_move_service_type == 6"
                        src="'app/requests/directives/new-request/calcStorageResults.html'"></ng-include>
            <ng-include ng-if="editrequest.data.field_move_service_type == 7"
                        src="'app/requests/directives/new-request/longDistanceResults.html'"></ng-include>

            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" ng-click="step2 = false;step1 = true;">Back</button>
              <button ng-click="step2 = false;step3 = true;" class="btn btn-primary">Continue</button>
            </div>
          </div>
          <!-- User Info Step-->
          <div class="step3" ng-show="step3">
            <div class="form-group header-for-send-email">
              <div class="wrapper_legend_styles">
                <legend>
                  <div class="legend-title"> User Info</div>
                </legend>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <label class="col-sm-3 control-label">First Name:</label>
                  <div class="col-sm-7">
                    <input class="form-control input-element-processed" type="text" required
                           ng-model="editrequest.account.fields.field_user_first_name" value="">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <label class="col-sm-3 control-label">Last Name:</label>
                  <div class="col-sm-7">
                    <input class="form-control input-element-processed" type="text" required
                           ng-model="editrequest.account.fields.field_user_last_name">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" ng-if="editrequest.data.field_size_of_move == 11">
              <div class="col-sm-12">
                <div class="row">
                  <label class="col-sm-3 control-label">Company Name:</label>
                  <div class="col-sm-7">
                    <input type="text"
                           class="form-control input-element-processed"
                           requered
                           ng-model="editrequest.data.field_commercial_company_name">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <label class="col-sm-3 control-label">Email:</label>
                  <div class="col-sm-7">
                    <input class="form-control input-element-processed" type="email" required
                           pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                           ng-model="editrequest.account.mail" er-lowercase>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="row">
                  <label class="col-sm-3 control-label">Phone:</label>
                  <div class="col-sm-7">
                    <input id="newRequestPhone"
						   class="form-control input-element-processed"
                           type="text"
                           ng-model="editrequest.account.fields.field_primary_phone"
                           phone-input
                           minlength="14"
                           maxlength="14"
						   ng-blur="checkInput('newRequestPhone')"
                           required>
					<label style="color: #ce0000; font-weight: normal; padding: 0px 15px;" ng-show="newRequestPhoneInvalid">must have 10 digits</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group header-for-send-email">
              <div class="wrapper_legend_styles">
                <legend class="email_legend">
                  <div class="legend-title"> Emails</div>
                  <div class="legend-send-email">
                    <sending-emails email-parameters='emailParameters' emails='emailsForSend'></sending-emails>
                  </div>
                </legend>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" ng-click="step3 = false;step2 = true;">
                Back
              </button>
              <button type="button" class="btn btn-primary" ng-click="create()"
                      ng-class="{disabled: newRequest.$invalid || !isValid()}"
                      ng-disabled="!isValid() || newRequest.$invalid">Create
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
