@media all and (max-width: 860px) {
  .modal-request-responsive-fix .modal-body .step1 .form-group label.control-label {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .modal-request-responsive-fix .modal-body .step1 .form-group .col-sm-7 {
    margin: 0 10px !important;
  }
  .modal-request-responsive-fix .address-info.col-sm-9 .col-sm-7,
  .modal-request-responsive-fix .address-info.col-sm-9 .col-md-5 {
    padding: 0 10px !important;
  }
  .modal-request-responsive-fix .nopadding {
    padding: 0 10px !important;
    margin: 5px 0 !important;
  }
}
