<div ng-class="{'disabled': busy}">
    <div class="modal-body form-horizontal" style="padding: 0px;">
        <div ng-show="busy" class="busyoverlay">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <!--Move Date-->
        <form action="#" name="newRequest">
            <div class="form-group">
                <legend style="padding: 10px 28px;">User Info</legend>
                <div class="col-sm-12">
                    <div class="row has-feedback">
                        <label class="col-sm-3 control-label">First Name:</label>
                        <div class="col-sm-7">
                            <input class="form-control " type="text"
                                   ng-model="editrequest.account.fields.field_user_first_name"  value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row has-feedback">
                        <label class="col-sm-3 control-label">Last Name:</label>
                        <div class="col-sm-7">
                            <input  class="form-control " type="text"
                                    ng-model="editrequest.account.fields.field_user_last_name" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-3 control-label">Email:</label>
                        <div class="col-sm-6">
                            <input class="form-control input-element-processed" type="email" required
                                   ng-model="editrequest.account.mail" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <label class="col-sm-3 control-label">Phone:</label>
                        <div class="col-sm-7">
                            <input class="form-control input-element-processed"
                                   type="text"
                                   ng-model="editrequest.account.fields.field_primary_phone"
                                   phone-input
                                   minlength="14"
                                   maxlength="14">
                        </div>
                    </div>
                </div>
            </div>
            <div class="step1">
                <div class="form-group">
                    <legend style="padding: 10px 28px;">Request Info</legend>
                    <label class="col-sm-3 control-label">Service Type:</label>
                    <div class="col-sm-7">
                        <select   class="form-select form-control" id="" ng-model="editrequest.data.field_move_service_type"
                                  ng-options="service.id as service.title for service in services">

                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">Desired Move Date: </label>
                            <div class="col-sm-7">

                                <input class="required  form-control  form-select"
                                       type="text" ng-model='editrequest.data.field_date'
                                       id="edit-move-date-datepicker-popup-0" name="Move_Date[date]"
                                       calendar="fieldData.calendar"
                                       field="field_date"
                                       editrequest="editrequest"
                                       cc-request-btn-date=""
                                       placeholder="Move Date"
                                       required>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="editrequest.data.field_move_service_type == 2">
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="col-sm-3 control-label">Desired Delivery Date: </label>
                            <div class="col-sm-7">
                                <input class="required form-control form-select "
                                       type="text" ng-model='editrequest.data.field_delivery_date'
                                       id="edit-date-storage-datepicker-popup-0" name="Date_Storage[date]"
                                       calendar="fieldData.calendar"
                                       field="field_delivery_date"
                                       editrequest="editrequest"
                                       cc-request-btn-date=""
                                       placeholder="Move Date"
                                        >
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Size of move-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Size of Move: </label>
                    <div class="col-sm-7">
                        <select required
                                class="form-select form-control"
                                ng-model="editrequest.data.field_size_of_move"
                                ng-change="changeService()"
                                >
                            <option value="1" selected="selected">Room</option>
                            <option value="2">Studio</option>
                            <option value="3">Small 1 bedroom</option>
                            <option value="4">Large 1 bedroom</option>
                            <option value="5">Small 2 Bedroom</option>
                            <option value="6">Large 2 Bedroom</option>
                            <option value="7">3 Bedroom</option>
                            <option value="8">2 bedroom house/townhouse</option>
                            <option value="9">3 bedroom house/townhouse</option>
                            <option value="10">4 bedroom house/townhouse</option>
                        </select>
                    </div>
                </div>
                <!-- Extra Rooms -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Extra Rooms: </label>
                    <div class="col-sm-7">

                        <select cc-request-btn-rooms=""
                                ng-model="editrequest.data.field_extra_furnished_rooms"
                                multiple="multiple"
                                name="Furnished_Rooms[]"
                                id="edit-furnished-rooms"
                                class="form-select form-element">
                            <option value="1">living room</option>
                            <option value="2">dining room</option>
                            <option value="3">office</option>
                            <option value="4">extra room</option>
                            <option value="5">basement</option>
                            <option value="6">garage</option>
                            <option value="7">patio</option>
                            <option value="8">play room</option>
                        </select>
                    </div>
                </div>

                <!-- Addresses-->
                <ng-include src="'/moveBoard/app/requests/directives/new-request/addressesBox.html?2'"></ng-include>

                <div class="modal-footer">
                    <button ng-click="Calculate()"  ng-class="{disabled: !isValid()}" class="btn btn-primary blue">Calculate</button>
                </div>

            </div>
            <!-- Calca Results-->
            <div class="step2" ng-show="step2">

                <ng-include ng-if="editrequest.data.field_move_service_type !=2 && editrequest.data.field_move_service_type != 7 && editrequest.data.field_move_service_type != 6" src="'app/requests/directives/new-request/calcResults.html'"></ng-include>
                <ng-include ng-if="editrequest.data.field_move_service_type == 2 || editrequest.data.field_move_service_type == 6" src="'app/requests/directives/new-request/calcStorageResults.html'"></ng-include>

                <ng-include ng-if="editrequest.data.field_move_service_type == 7" src="'app/requests/directives/new-request/longDistanceResults.html'"></ng-include>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" ng-click="step2 = false;step1 = true;">Back</button>
                    <button ng-click="step2 = false;step3 = true;" class="btn btn-primary">Continue</button>
                </div>
            </div>

        </form>
    </div>




</div>
