<div class="request_account_page_wrapper">
    <div class="requestsettings">
        <div class="modal-body">

            <div class="form-group" ng-if="request.move_size.raw == 11">
                <commercial-custom-name request="request"></commercial-custom-name>
            </div>

            <div class="form-group">
                <div class="flexible-box">
                    <h4 class="center">Quote explanation</h4>
                    <div class="control">
                        <h5>Edit quote explanation</h5>
                        <span class="switchery-calc"
                              ng-click="default_text = !default_text"
                              ng-class="{'on': default_text , 'off': !default_text}"
                              role="button"
                              tabindex="0">
                            <small></small>
                        </span>
                    </div>
                </div>
                <div ng-bind-html="request.field_quote_explanationn" ng-hide="default_text" class="one-margin"></div>
                <div ng-show="default_text"
                     ng-model="request.field_quote_explanationn" text-angular="text-angular"
                     ta-toolbar="[['ul', 'ol'],
                 ['bold','italics', 'underline', 'strikeThrough'],
                 ['justifyLeft', 'justifyCenter', 'justifyRight'],
                 ['insertLink', 'insertImage'],
                 ['fontColor', 'fontName', 'fontSize'],
                 ['undo', 'redo', 'clear', 'html']]"
                     class="one-margin"
                ></div>
            </div>
            <div class="form-group" ng-if="request.service_type.raw == 7">
                <div class="flexible-box">
                    <h4>Delivery Explanation</h4>
                    <div class="control">
                        <h5>Edit delivery explanation</h5>
                        <span class="switchery-calc"
                              ng-click="default_text = !default_text"
                              ng-class="{'on': default_text , 'off': !default_text}"
                              role="button"
                              tabindex="0">
                            <small></small>
                        </span>
                    </div>
                </div>
                <div ng-bind-html="details.deliveryExplanation" ng-hide="default_text" class="one-margin"></div>
                <div ng-show="default_text"
                     ng-change="details_change('Delivery Explanation', details.deliveryExplanation, 'deliveryExplanation')"
                     ng-model="details.deliveryExplanation" text-angular="text-angular"
                     ta-toolbar="[['ul', 'ol'],
                                 ['bold','italics', 'underline', 'strikeThrough'],
                                 ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                 ['insertLink', 'insertImage'],
                                 ['fontColor', 'fontName', 'fontSize'],
                                 ['undo', 'redo', 'clear', 'html']]"
                     class="one-margin"
                ></div>
            </div>
            <div class="form-group chat-widget">
                <div class="flexible-box">
                    <h4 class="center">Additional block</h4>
                    <div class="control">
                        <h5>Show additional block</h5>
                        <input type="checkbox"
                               class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                               ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                               ng-click="switchAdditionalBlock()"
                               ng-model="isVisible"
                               id="visible" data-switchery="true" style="display: none;">
                    </div>
                </div>
                <div class="add_remove">
                    <i class="custom_btn btn-primary fa fa-plus" ng-click="addNewAdditionalBlock()"
                       aria-hidden="true"></i>
                    <i class="custom_btn btn-danger fa fa-times" ng-click="removeNewAdditionalBlock()"
                       aria-hidden="true"></i>
                </div>
                <div class="separator" ng-repeat="item in additionalBlock">
                    <div class="control-title one-margin">
                        <input id="title" class="form-control" type="text" ng-model="item.title"
                               placeholder="Title">
                    </div>
                    <div text-angular
                         ng-model="item.text"
                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]"
                         ta-unsafe-sanitizer="true" class="one-margin">
                    </div>
                    <div class="flexible-box flex-end">
                        <h5>Show on confirmation page</h5>
                        <div class="control">
                            <input type="checkbox"
                                   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                   ng-model="item.confirmationPage"
                                   id="visible" data-switchery="true" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <div ng-hide="request.service_type.raw == 6"  class="form-group chat-widget">
                <div class="flexible-box">
                    <h4 class="center">Arrival window</h4>
                </div>
                <div class="separator">
                    <div class="control-title one-margin">
                        <input class="form-control"
                               type="text"
                               ng-model="arrivalTime.text">
                    </div>
                    <div class="flexible-box flex-end">
                        <h5>Show on account page</h5>
                        <div class="control">
                            <input type="checkbox"
                                   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                   ng-model="arrivalTime.showInAccount"
                                   ng-change="showArrivalTimeWindow()"
                                   id="visible" data-switchery="true" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <request-pending-info-setting field="request.field_allow_to_pending_info"
                                          edit-request="editrequest"
                                          message="message"></request-pending-info-setting>
            <local-inventory-details-settings ng-if="request.service_type.raw == 7"
                                              nid="request.nid"
                                              all-data="request.request_all_data"></local-inventory-details-settings>
            <button class="btn btn-primary btn-3d fix-button-center" ng-click="saveComments()">Save account page
                settings
            </button>
        </div>
    </div>
</div>
