<div class="requestsettings">
    <div class="modal-body">
        <div ng-show="busy"><img src="../../../core/assets/images/loading.gif" class="busy-symbol"></div>
        <!-- SET MANAGERS FOR REQUEST-->
        <div class="form-group mobile-request-settings">
            <h3>Sales</h3>
            <P></P>
            <div class="row">
                <div class="col-md-5">
                    <span ng-show="currentManager">{{currentManager.first_name}} {{currentManager.last_name}}</span>
                    <span ng-show="!currentManager || !currentManager.first_name">No sales</span>
                </div>
                <div class="col-md-5" ng-show="::showManagerDropdown(currentManager.first_name)">
                    <div class="btn-group">
                        <button type="button"
                                class="btn-simple"
                                ng-class="{'btn dropdown-toggle sales-person-dropdown': !currentManager.first_name, 'btn sales-person-dropdown' : currentManager.first_name}"
                                data-toggle="dropdown"
                                aria-expanded="true">
                <span class="pull-right" ng-show="showManagerDropdown(currentManager.first_name)">
              <span class="caret" ng-class="{'caret-right' : showManagerDropdown(currentManager.first_name) }"></span>
            </span>
                            <span class="pull-left sales-name" ng-show="currentManager.first_name">
              {{currentManager.first_name + ' ' + currentManager.last_name}}
            </span>
                            <span class="pull-left" ng-show="!currentManager.first_name">
              Assign sales person
            </span>
                        </button>
                        <ul class="dropdown-menu sales-list" role="menu"
                            ng-show="showManagerDropdown(currentManager.first_name)">
                            <li ng-repeat="manager in managersList">
                                <a ng-click="setManager(manager.uid)"> {{manager.field_user_first_name}}
                                    {{manager.field_user_last_name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mobile-request-settings">
            <h3>Auto Calculator</h3>
            <p>If auto calculator is on , all changes will be automaticly calculated. Also client can change request</p>
            <input type="checkbox"
                   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                   ng-model="request.field_usecalculator.value"
                   id="checkOne"
                   data-switchery="true"
                   style="display: none;">
        </div>

        <div class="form-group mobile-request-settings">
            <h3>Show Coupons</h3>
            <input type="checkbox"
                   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                   ng-model="request.request_all_data.showCoupons"
                   id="checkOne"
                   data-switchery="true"
                   style="display: none;"
                   ng-change="showCouponChanged()">
        </div>

        <div class="form-group branching-group" ng-show="isActiveBranching">
            <h3>Move To Branch</h3>
            <div class="col-md-5 nopadding">
                <select class="form-element form-control" ng-model="selectedBranchId">
                    <option value="">
                        Select Branch
                    </option>
                    <option ng-repeat="branch in branches" value="{{branch.id}}">
                        {{branch.name}}
                    </option>
                </select>
            </div>
            <div class="col-md-5">
                <button type="button" class=" additional-btn btn btn-simple"
                        ng-class="{disabled: selectedBranchId == ''}" ng-click="migrateToBranch()">
                    Send to Branch
                </button>
            </div>
        </div>

        <div class="form-group mobile-request-settings">
            <h3 style="margin-top:25px">Calculate by cubic feet</h3>
            <p>Based on which type we going to calculate results.</p>
            <er-choose-list request="request" editrequest="editrequest" message="message"></er-choose-list>

            <p ng-if="isShowClosingWeightChooseList">Closing weight</p>
            <er-choose-list-invoice ng-if="isShowClosingWeightChooseList" request="request"></er-choose-list-invoice>
        </div>

        <div class="form-group mobile-request-settings">
            <div class="row nopadding mobile-flexible-display">
                <div class="col-md-3 nopadding text-center">
                    <h3 class="fix-desktop-screen">Clone Request</h3>
                    <button type="button" class="additional-btn btn btn-simple" ng-click="cloneRequest(request)">Clone
                        Request
                    </button>
                </div>

                <div class="col-md-3 nopadding text-center">
                    <h3 class="fix-desktop-screen">View Request</h3>
                    <button type="button" class="additional-btn btn btn-simple" ng-click="goToRequest()">Go to Request
                    </button>
                </div>

                <div class="col-md-3 nopadding text-center">
                    <h3>View Confirmation</h3>
                    <button type="button" class="additional-btn btn btn-simple" ng-click="goToConfirmation()">Go to
                        Confirmation
                    </button>
                </div>

                <div class="col-md-3 nopadding text-center">
                    <h3>Create Storage Tenant</h3>
                    <button type="button" class=" additional-btn btn btn-simple" ng-click="createStorageReq()">Create
                        Request
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group mobile-request-settings" ng-if="request.status.raw == 3">
            <div class="main-link-container">
                <a ng-href="/account/#/request/{{request.nid}}/contract_main_page_read"
                   target="_blank"
                   class="h5">
                    <i class="fa fa-external-link link-color" aria-hidden="true"></i>
                    <span class="link-color m-r-sm">Link to bill of lading</span>
                    <span class="link-bol-hidden"
                          ng-mouseenter="disableLinks = true"
                          ng-mouseleave="disableLinks = false">
                        <input type="text"
                               id="main-page"
                               class="proposal-link"
                               ng-value="clientRoute.mainPage"
                               ng-disabled="disableLinks"/>
                    </span>
                </a>
                <span class="container-copy" ng-click="copy('mainLink')">
                <span>Copy Link</span>
                    <i class="fa fa-copy copy-icon"></i>
                </span>
            </div>
            <div class="main-link-container" ng-if="clientRoute.additionalPages">
                <a ng-href="/account/#/request/{{request.nid}}/contract_proposal_additional_pages_read"
                   target="_blank"
                   class="h5">
                    <i class="fa fa-external-link link-color" aria-hidden="true"></i>
                    <span class="link-color m-r-sm">Link on additional pages</span>
                    <span class="link-bol-hidden"
                          ng-mouseenter="disableLinks = true"
                          ng-mouseleave="disableLinks = false">
                        <input type="text"
                               id="additional-pages"
                               class="proposal-link"
                               ng-value="clientRoute.additionalPages"
                               ng-disabled="disableLinks"/>
                    </span>
                </a>
                <span class="container-copy" ng-click="copy('additionalLink')">
                <span>Copy Link</span>
                    <i class="fa fa-copy copy-icon"></i>
                </span>
            </div>
            <div class="main-link-container" ng-if="clientRoute.mainPagePDF">
                <a ng-href="{{clientRoute.mainPagePDF}}"
                   target="_blank"
                   class="h5">
                    <i class="fa fa-external-link link-color" aria-hidden="true"></i>
                    <span class="link-color m-r-sm">Link on main page PDF</span>
                    <span class="link-bol-hidden"
                          ng-mouseenter="disableLinks = true"
                          ng-mouseleave="disableLinks = false">
                        <input type="text"
                               id="main-page-pdf"
                               class="proposal-link"
                               ng-value="clientRoute.mainPagePDF"
                               ng-disabled="disableLinks"/>
                    </span>
                </a>
                <span class="container-copy" ng-click="copy('mainPagePDF')">
                <span>Copy Link</span>
                    <i class="fa fa-copy copy-icon"></i>
                </span>
            </div>
        </div>
    </div>
</div>
