@import "../../../style/default.styl"

.inventory-item
	background #fff
	padding 2px
	padding-top 8px

	&__icon
		width 25px
		height 25px
	&__item
		width $invWidth
		height 170px

	&__item-image
		width 110px
		height 110px

	&__title
		display block
		float right
		width 66px
		text-align center
		font-size 12px
	&__col
		padding 10px
	
	&__remove
		float right
		margin-left 2px
.counter
	display flex
	align-items center
	justify-content center

	&_custom
		width 33%
		
	&__button
		size 28px
		background #fff
		border 1px solid #d9d9d9
		border-radius 5px
		outline none
		width 60px
		height 40px

		&:hover
			border 2px solid blue

		&:active
			background blue
			border 2px solid blue
			.counter__minus,
			.counter__plus
				position relative

				&:after,
				&:before
					background-color white
					transform translate(-50%, -50%)

		&:disabled
			border none

			& ^[0]__text
				color #d9d9d9

	&__minus
	&__plus
		position relative

		&:before
			position absolute
			top 50%
			left 50%
			width 11px
			height 2px
			content ''
			background-color blue
			transform translate(-50%, -50%)

	&__plus
		&:after
			position absolute
			top 50%
			left 50%
			width 2px
			height 11px
			content ''
			background-color blue
			transform translate(-50%, -50%)

	&__input
		display inline-block
		width 60px
		height 40px
		font-size 13px
		text-align center
		user-select none
		color #252525
		border none
		border-radius 3px
		outline none
		
		&:disabled
			background white
			font-size 16px
			font-weight bold
			color #252525
			//opacity 1
			-webkit-text-fill-color #252525