include ../../../../../../../node_modules/bemto.pug/bemto
include ../button/button

+b.inventory-item
	+e.item
		
		+e('i').remove(ng-show="isCustom(item)" ng-click="removeCustomItem(item)" aria-hidden="true").fa.fa-times
		
		+e.title
			| {{ item.title }}

		+e('img').item-image(ng-src="{{item.photo.path}}")
		
		+e.col
			div(
				ng-if="!showAdd"
				)
				+inventory-button({
					text: 'Add Item',
					style: 'transparent'
				})(
					ng-click="changeValue(1, item)"	
					)
			+b.counter.js-counter(
				ng-if="showAdd"
				)
			
			
				+e('button').button.js-counter-minus(
					ng-click='changeValue(-1, item)'
					)
					+e.minus
				+e('input').input.js-counter-input(
					type='text'
					maxlength='4'
					data-max="1000"
					ng-model="item.count"
					)
				+e('button').button.js-counter-plus(
					ng-click="changeValue(1, item)"	
					)
					+e.plus