<div id="listinventories-container" class="col-md-12" print-section>
    <div ng-if="rid" class="rid">Request #{{rid}} </div>
    <div id="left-column" class="col-md-2">
        <span>Inventory List</span>
        <span>
            <button class="btn btn-info" print-btn print-remove><i class="icon-printer"></i></button>
        </span>
        <div print-only>
            <span ng-show="totalItems.counts">
                Total Items: {{totalItems.counts}}
            </span>
            <span ng-show="totalItems.boxes">
                Total Boxes: {{totalItems.boxes}}
            </span>
            <span ng-show="totalItems.custom">
                Custom: {{totalItems.custom}}
            </span>
            <span ng-show="totalItems.custom">
                Custom: {{totalItems.custom}}
            </span>
            <span ng-show="totalItems.custom">
                Custom: {{totalItems.custom}}
            </span>
            <span ng-show="totalItems.cfs">
                Total Cubic Feet {{totalItems.cfs | number:0 }}  c.f Pound: {{totalItems.cfs*7 | number:0 }} lbs
            </span>
        </div>

    </div>
    <div id="right-coloumn" class="col-md-10">
        <div ng-drop="true"
                 ng-drop-success="onDropComplete($data,$event, room.id)" class="col-md-4 list-rooms" ng-repeat="room in rooms">
            <div class="col-md-12 inv-result">
                <div class="col-md-9 no-padd title">{{room.title}}</div>
                <div class="col-md-3 no-padd title total-right" >Qty.</div>
            </div>  
            <div id="selected-items-list" >
                
                <div ng-drag="true"  
                     ng-drag-data="{item:inventory, rid: room.id}" 
                     ng-drag-success="onDragSuccess($data,$event)" 
                     data-allow-transform="true" ng-repeat="inventory in filtredInventories.other | filter:{'rid':room.id}:true | orderBy:' - count*cf'" class="col-md-12 no-padd">
                    <div title="{{inventory.cf}}" class="col-md-9 inv-title-items no-padd drag-element" ng-bind-html="inventory.title | highlight"></div>
                    <div class="col-md-3 inv-total no-padd">
                        {{inventory.count}} <i print-remove ng-click="decreaseItem(inventory)"  class="fa fa-trash"></i>
                    </div>           
                </div>
                
                <div ng-if="room.hasBox" class="title">Boxes</div>
                <div ng-drag="true"  
                     ng-drag-data="{item:inventory, rid: room.id}" 
                     ng-drag-success="onDragSuccess($data,$event)" 
                     data-allow-transform="true" ng-repeat="inventory in filtredInventories.boxes | filter:{'rid':room.id}:true | orderBy:' - count * cf'" class="col-md-12 no-padd">
                    <div title="{{inventory.cf}}" class="col-md-9 inv-title-items no-padd drag-element">{{inventory.title}}</div>
                    <div class="col-md-3 inv-total no-padd">
                        {{inventory.count}} <i print-remove ng-click="decreaseItem(inventory)"  class="fa fa-trash"></i>
                    </div>           
                </div>
                
                <div ng-if="room.hasCustom" class="title">Custom</div>
                <div ng-drag="true"  
                     ng-drag-data="{item:inventory, rid: room.id}" 
                     ng-drag-success="onDragSuccess($data,$event)" 
                     data-allow-transform="true" ng-repeat="inventory in filtredInventories.customs | filter:{'rid':room.id}:true | orderBy:' - count * cf'" class="col-md-12 no-padd">
                    <div title="{{inventory.cf}}" class="col-md-9 inv-title-items no-padd drag-element">{{inventory.title}}</div>
                    <div class="col-md-3 inv-total no-padd">
                        {{inventory.count}} <i print-remove ng-click="decreaseItem(inventory)"  class="fa fa-trash"></i>
                    </div>           
                </div>
            </div>
        </div>
    </div>
</div>