<div id="your-voice">
	<!-- header -->
    <div class="row header">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <img ng-src="{{basicSettings.company_logo_url}}">
            <h1>We want to hear your voice.</h1>
        </div>
    </div>
    <!-- end header -->
    <!-- content your-voice form -->
    <div class="row">
    	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
    		<p style="text-align: center;">It is our commitment that customers come first here at {{basicSettings.company_name}}. We appreciate your business and would like your feedback on our performance.</p>
    	</div>
    </div>
<div class="info_box col-md-6 col-md-offset-3 col-xs-offset-3 col-lg-offset-3">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <label>Date:</label>
                {{ feedBack.date}}
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="text-align: right;">
                <label>Job #:</label>
                {{ feedBack.job}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-4 col-lg-6 col-lg-offset-4 col-sm-6 col-sm-offset-4 col-xs-6 col-xs-offset-4">
                <label>Team Leader:</label>
                {{ feedBack.teamLeader}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-4 col-lg-6 col-lg-offset-4 col-sm-6 col-sm-offset-4 col-xs-6 col-xs-offset-4">
                <label>Name:</label>
                {{ feedBack.customerName}}
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-4 col-lg-6 col-lg-offset-4 col-sm-6 col-sm-offset-4 col-xs-6 col-xs-offset-4">
                <label>Email:</label>
                {{ feedBack.customerEmail}}
            </div>
        </div>
</div>
    <div class="row">
    	<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3" style="text-align: center;" >
    		<!-- stars -->
            <star-rating ng-model="feedBack.rating" class="starts" readonly="feedBack.subbmited"></star-rating>
    	</div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <aside>On a 5 star rating, how would you rate your visit?
            <br>(5 stars being the most enjoyable experience and 1 star the least.)</aside>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
        	<label>Any additional comments would be greatly appreciated:</label>
            <textarea  placeholder="Enter your comments" ng-model="feedBack.comments" rows="10" class="form-control"  ng-class="{disabled: feedBack.subbmited}"></textarea>
        </div>
    </div>
    <aside>Your response may be shared online</aside>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3" style="text-align: center;margin-top: 15px;">
        <button class="btn btn-lg btn-info" ng-class="{disabled: feedBack.subbmited}" ng-click="saveFeedBack()">Send</button>
        </div>
    </div>
</div>