.custom-block-main
    .custom-block(class='{{testClasses[$index]}}', ng-repeat='service in services track by $index')
        .ibox
            .ibox-title
                .saving-progress
                    span.animated.fadeIn(ng-show='saved') Saved
                h5 {{service.name}} Custom Block
            .ibox-content
                ul.nav.nav-tabs
                    li(ng-repeat='tab in service.tabs track by $index', ng-class='{active: tab.selected}')
                        a(href='', ng-click='select(service, $index)', heading='{{tab.name}}') {{tab.name}}
                .tab-panel(ng-class='{"active_tab_status": !service.tabs[0].selected}')
                    .float-left
                        button.btn.btn-primary.btn-rounded(ng-click="addNewBlock(movingPendingBody[$index])") Add Block
                    table.calculator
                        tbody
                            tr(ng-repeat='pending_tab in movingPendingBody[$index]')
                                td.sizeset.chat-widget
                                    input.form-control.margin-one.custom-block-title(ng-model="pending_tab.title",
                                        ng-model-options="{ updateOn: 'blur' }",
                                        ng-class="{disabled: pending_tab.hideTitle}",
                                    placeholder="Title")
                                    div.margin-one(ng-model-options="{ updateOn: 'blur' }",
                                        ng-model='pending_tab.body',
                                        text-angular='text-angular',
                                        ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],\
                                            ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],\
                                            ['fontColor', 'fontName', 'fontSize'],\
                                            ['insertLink', 'insertImage'],\
                                            ['undo', 'redo', 'clear', 'html']]")
                                    .parent_left
                                        .settings_left
                                            h3 Show in account
                                            input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
                                                ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
                                                ng-model='pending_tab.showCustomBlock',
                                                data-switchery='true',
                                                style='display: none;')
                                        .settings_left
                                            h3 Hide title
                                            input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
                                                ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
                                                ng-model='pending_tab.hideTitle',
                                                data-switchery='true',
                                                style='display: none;')
                                    .parent_flex
                                        .flexible-box-custom-block
                                            button.btn.btn-primary.btn-right-one-em(ng-click='saveCustomBlockSettings()') Save
                                            button.btn.btn-danger(ng-click='removeBlock(pending_tab, movingPendingBody[service.index])') Remove
                .tab-panel(ng-class='{"active_tab_status": !service.tabs[1].selected}')
                    .float-left
                        button.btn.btn-primary.btn-rounded(ng-click="addNewBlock(movingNotConfirmedBody[$index])") Add Block
                    table.calculator
                        tbody
                            tr(ng-repeat='not_confirmed_tab in movingNotConfirmedBody[$index]')
                                td.sizeset.chat-widget
                                    input.form-control.margin-one.custom-block-title(ng-model="not_confirmed_tab.title",
                                    ng-model-options="{ updateOn: 'blur' }",
                                    ng-class="{disabled: not_confirmed_tab.hideTitle}",
                                    placeholder="Title")
                                    div(ng-model-options="{ updateOn: 'blur' }",
                                    ng-model='not_confirmed_tab.body',
                                    text-angular='text-angular',
                                    ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],\
                                                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],\
                                                                ['fontColor', 'fontName', 'fontSize'],\
                                                                ['insertLink', 'insertImage'],\
                                                                ['undo', 'redo', 'clear', 'html']]")
                                    .parent_left
                                        .settings_left
                                            h3 Show in account
                                            input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
                                            ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
                                            ng-model='not_confirmed_tab.showCustomBlock',
                                            data-switchery='true',
                                            style='display: none;')
                                        .settings_left
                                            h3 Show on confirmation page
                                            input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
                                            ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
                                            ng-model='not_confirmed_tab.showOnConfirmationPage',
                                            data-switchery='true',
                                            style='display: none;')
                                        .settings_left
                                            h3 Hide title
                                            input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
                                            ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
                                            ng-model='not_confirmed_tab.hideTitle',
                                            data-switchery='true',
                                            style='display: none;')
                                    .parent_flex
                                        .flexible-box-custom-block
                                            button.btn.btn-primary.btn-right-one-em(ng-click='saveCustomBlockSettings()') Save
                                            button.btn.btn-danger(ng-click='removeBlock(not_confirmed_tab, movingNotConfirmedBody[service.index])') Remove
                .tab-panel(ng-class='{"active_tab_status": !service.tabs[2].selected}')
                    .float-left
                        button.btn.btn-primary.btn-rounded(ng-click="addNewBlock(movingConfirmedBody[$index])") Add Block
                    table.calculator
                        tbody
                            tr(ng-repeat='confirmed_tab in movingConfirmedBody[$index]')
                                td.sizeset.chat-widget
                                    input.form-control.margin-one.custom-block-title(ng-model="confirmed_tab.title",
                                    ng-model-options="{ updateOn: 'blur' }",
                                    ng-class="{disabled: confirmed_tab.hideTitle}",
                                    placeholder="Title")
                                    div(ng-model-options="{ updateOn: 'blur' }",
                                    ng-model='confirmed_tab.body',
                                    text-angular='text-angular',
                                    ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],\
                                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],\
                                                ['fontColor', 'fontName', 'fontSize'],\
                                                ['insertLink', 'insertImage'],\
                                                ['undo', 'redo', 'clear', 'html']]")
                                    .parent_left
                                        .settings_left
                                            h3 Show in account
                                            input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
                                            ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
                                            ng-model='confirmed_tab.showCustomBlock',
                                            data-switchery='true',
                                            style='display: none;')
                                        .settings_left
                                            h3 Show on confirmation page
                                            input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
                                            ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
                                            ng-model='confirmed_tab.showOnConfirmationPage',
                                            data-switchery='true',
                                            style='display: none;')
                                        .settings_left
                                            h3 Hide title
                                            input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
                                            ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
                                            ng-model='confirmed_tab.hideTitle',
                                            data-switchery='true',
                                            style='display: none;')
                                    .parent_flex
                                        .flexible-box-custom-block
                                            button.btn.btn-primary.btn-right-one-em(ng-click='saveCustomBlockSettings()') Save
                                            button.btn.btn-danger(ng-click='removeBlock(confirmed_tab, movingConfirmedBody[service.index])') Remove