.custom-block-main
	.custom-block
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		transition all 0.3s cubic-bezier(.25,.8,.25,1)
		background-color #fff
		&:hover
			box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		.ibox
			margin-bottom 1em
			.ibox-title
				padding 1em
				background-color #556b8d
				h5
					color #fff
				span.animated.fadeIn
					margin-right 1em
					color #fff
					font-weight 600
			.ibox-content
				background-color #fff
				color inherit
				padding 15px 20px 20px
				border-color #e7eaec
				border-style solid solid none
				border-width 1px 0
				.tab-panel
					display block
					margin-top 1em
					.float-left
						float right
						margin-right .5em
					.margin-one
						margin-bottom .5em
					.parent_left
						width 60%
						padding-top 10px
						float left
						.settings_left
							display flex
							justify-content flex-start
							align-items center
							margin-top 5px
							h3
								margin-right 1em
					.parent_flex
						display flex
						flex-direction row-reverse
						.flexible-box-custom-block
							display flex
							flex-direction row
							justify-content flex-end
							align-items center
							margin-top 10px
							.btn
								width 140px
								&.btn-right-one-em
									margin-right 1em
					&.active_tab_status
						display none
		&.longdistance
			padding 0
			margin-top 0
			border 0
			h3
				text-transform none
				margin-bottom 0