.inventory__room
	&:hover .custom-room-name .settings
		transition-duration 150ms
		opacity 1
		margin-right 10px
		min-width 14px
		width 14px
		max-width 14px

	.custom-room-name
		display flex
		flex-direction row
		margin-right -10px


		.title-input-wrap
			width 100%
			.title-input
				width 100%
				border none
				background-color transparent
				cursor pointer
				font-family 'Open Sans'
				line-height 25px
				color #000
				font-size 15px
				& .editable
					cursor text

		.title-count
			margin-left 3px
			margin-right 10px
			font-weight 600
			font-size 15px

		.settings
			display block
			float right
			margin-right 0
			margin-left 0
			font-size 16px
			color #565656
			min-width 0
			width 0
			max-width 0
			padding 0
			opacity 0
			transition-duration 150ms
			&--edit
				&.active
					color blue
					font-size 16px
					transition-duration 150ms
				&:hover
					color blue
					font-size 18px
					transition-duration 150ms
				&.pending
					animation pending-pencil  1s infinite ease-in-out

			&--trash
				&:hover
					color red
					font-size 18px
					transition-duration 150ms
				&.pending
					animation pending-trash  1s infinite ease-in-out

		@keyframes pending-pencil {
			from {
				color blue
			}
			50% {
				color #565656
			}
			to {
				color blue
			}
		}

		@keyframes pending-trash {
			from {
				color red
			}
			50% {
				color #565656
			}
			to {
				color red
			}
		}
