div.custom-room-name
	div.title-input-wrap
		input.title-input(type='text' ng-model="newName" ng-click='clickOnInput($event)' ng-submit="inputKeyUp($event)" ng-blur="endEdit()")
	div.title-count(ng-show="room.count" ng-bind="room.count")
	div.settings.settings--edit(ng-click='enableEdit($event)' ng-class="{'active': editMode, 'pending': saving}" ng-if='isNotBedroom && customRoomPermissions.allowRename')
		i.fa.fa-pencil
	div.settings.settings--trash(ng-click='removeRoom($event)' ng-class="{'pending': removing}" ng-if="customRoomPermissions.allowRemove")
		i.fa.fa-trash