.settings-account-faq
	&__show-in-account-switch
		position absolute
		top 11px
		left 140px
		h3
			display inline-block
			margin-right 10px
	&__sort-settings
		margin-right 4px
		margin-left 4px
		.left-box
			display inline-block
		.right-box
			float right
			select
				width 165px
				display inline-block
				margin-left 20px
.settings-faq-question-block
	background #e9e9e9
	border 1px solid #d4d4d4
	margin 20px 0
	&__score
		margin-left 20px
		font-size 15px
		font-weight 600
		.score-box
			display inline-block
			text-align center
			font-weight 400
			color white
			border none
			border-radius 2px
			height 20px
			width 50px
		.upvote
			background #25b12f
		.downvote
			background #e83d3d
	&__remove-button
		float right
		background none
		color #ed5a5a
		padding-right 30px
		margin-top 10px
		border none
		font-size 15px
	&__edit-button
		margin-left 20px
	&__box-title
		font-weight 600
		font-size 14px
		margin 10px 0 0 20px
	&__question-box
		margin-left 20px
		padding-right 20px
		input.form-control
			background-color #fff
			cursor auto
			border 1px solid #d3d0d0
			color black
			font-weight bold
			font-size 20px
			text-align left
	&__answer-box
		background white
		border 1px solid #cccaca
		margin-right 20px
		margin-left 20px
		min-height 66px
		border-radius 2px
		box-shadow none
		padding 5px 12px 9px
		font-size 14px
		line-height 1.42857143
		color #555
	&__footer-block
		margin 20px 0 20px 0

.account-faq-settings-modal-window
	height 300px
	padding 0
	.acc_title
		display block
		width 100%
		text-align center
		padding 15px
		background-color #f1f1f1
		margin-bottom 1em
	.container_custom_block
		width 100%
		min-height 150px
		padding 0 20px
		h5
			font-size 1em
			margin-bottom .5em
	.answer-input
		margin-top 15px
	.modal-footer
		display block
		width 100%
		padding 15px
		background-color #f1f1f1
		margin-top 1em
	.answer-field-modal
		font-size 20px
		font-weight 600
