.modal-body.form-horizontal.account-faq-settings-modal-window
	h3.acc_title FAQ Setting
	.container_custom_block.chat-widget
		input.answer-field-modal.form-control.margin-one(id="title" type="text" ng-model="item.faq_question" placeholder="Question" required)
		.answer-input(ng-model="item.faq_answer" text-angular="text-angular" placeholder="Answer" ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'], ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'], ['fontColor', 'fontName', 'fontSize'], ['insertLink', 'insertImage'], ['undo', 'redo', 'clear', 'html']]" required)
	.modal-footer
		button(type="button" class="btn btn-default pull-left" ng-click="cancel()") Close
		button(type="button" class="btn btn-primary" ng-click="save()" ng-disabled="!item.faq_question || !item.faq_answer") Save
