include ../../../../../../../../node_modules/bemto.pug/bemto

+b.settings-account-faq.col-lg-12
	.statistics-main
		.settings_account_page_wrapper
			.ibox
				.ibox-title
					h5 FAQ Settings
				.faq__progress(ng-if="busy")
					md-progress-linear(md-mode="indeterminate")
				.ibox-content
					+e.show-in-account-switch
						.checkbox-box
							input.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type="checkbox" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-change="saveBasicSettingsFn()" ng-model="basicSettings.faqAccount" data-switchery="true" style="display: none;")
					+e.sort-settings
						.left-box
							button.btn.btn-primary.btn-rounded(ng-click="openCreateModal()")
								i.fa.fa-plus(aria-hidden="true")
								| Add
						.right-box
							| Sort
							select.form-control(ng-model="sort")
								option(ng-repeat="item in ::sortOptions" value="{{item.value}}")
									| {{item.title}}
					.tab-pane
						.calculator
							+b.settings-faq-question-block(ng-repeat="question in questionArr | orderBy: sort")
								div.sizeset.chat-widget
									+e.box-title
										| Question:
									+e.question-box
										input.form-control.margin-one(id="title" type="text" ng-model="question.faq_question" disabled)
									+e.box-title
										| Answer:
									+e.answer-box(ng-bind-html="question.faq_answer")
									+e.footer-block
										+e('button').edit-button.btn.btn-primary(ng-click="openEditModal(question)")
											i.fa.fa-pencil(aria-hidden="true")
											| Edit
										+e('span').score
											| Usefulness score:
											.score-box.upvote {{::question.usefulness_upvote}}
											.score-box.downvote {{::question.usefulness_downvote}}
										+e('button').remove-button(ng-click="remove(question, $index)")
											| Remove
