.day-dispatch-notes
	padding 0 20px 10px
	margin-top -20px
	&__title
		font-size 14px
		font-weight 600
		float left
	&__editor
		padding-top 10px
	&__save-button
		float left
		margin-left 10px
		margin-top -5px
		padding 5px 5px
	.busyoverlay-container
		padding-top 10px
