<div class="day-dispatch-notes" busy-overlay="vm.busy">
    <div class="day-dispatch-notes__title">Day dispatch note: </div>
    <button class="btn btn-info day-dispatch-notes__save-button" ng-class="{disabled: vm.busy || vm.isNotChangeDayNote()}" ng-click="vm.saveNote()">Save Note</button>
    <div class="day-dispatch-notes__editor" text-angular='' ng-model='vm.dayNote' ta-toolbar='[]'>
    </div>
</div>

