.confirmation-titles-modal
	&__tabset
		display flex
	.modal-dialog
		.nav-stacked
			width max-content
		.tab-content
			margin-left 25px
		.nav-tabs>li>a
			border 1px solid #ddd
			border-radius 4px
			&:hover
				border 1px solid #ddd
				color inherit
		.confirmation-titles-panel
			margin 10px
			.contract-settings-text-angular
				margin-top 10px
