<section class="confirmation-titles-panel">
    <uib-tabset active="activeTab" vertical="true" class="confirmation-titles-modal__tabset" type="pills">
        <uib-tab ng-repeat="serviceType in serviceTypes"
                 index="serviceType.id"
                 heading="{{serviceType.title}}">
            <div ng-model-options="{ updateOn: 'blur' }"
                 class="contract-settings-text-angular"
                 ng-model="confirmationPageTitles[serviceType.id]"
                 text-angular="text-angular"
                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                  ['fontColor', 'fontName', 'fontSize'],
                                                  ['insertLink', 'insertImage'],
                                                  ['undo', 'redo', 'clear', 'html']]"></div>
        </uib-tab>
    </uib-tabset>
    <div class="modal-footer col-xs-12"></div>
    <button class="btn btn-default pull-left" ng-click='cancel()'>Close</button>
    <button class="btn btn-primary pull-right" ng-click='save()'>Save</button>
</section>
