.trucks-parklot
	.trucks-parklot__toolbar
		.trucks-parklot__toolbar__label Date Range: {{selectedRange.dateStart | date}} - {{selectedRange.dateEnd | date}}
		.trucks-parklot__toolbar__type
			h3(ng-show="!ldTrucksOnly") Trucks Schedule
			h2(ng-show="ldTrucksOnly") Trailers Schedule
		.trucks-parklot__toolbar__right
			md-button(ng-click="selectRange($event, false)" class="md-raised") select A Date Range
			.trucks-parklot__toolbar__type(ng-show="!ldTrucksOnly")
				ng-md-icon.trucks-parklot__toolbar__icon(icon="keyboard_arrow_down" fill="black" size="28px" ng-click="showTrucksParklot()" ng-show="!showTrucks")
				ng-md-icon.trucks-parklot__toolbar__icon(icon="keyboard_arrow_up" fill="black" size="28px" ng-click="hideTrucksParklot()" ng-show="showTrucks")
			.trucks-parklot__toolbar__type(ng-show="ldTrucksOnly")
				ng-md-icon.trucks-parklot__toolbar__icon(icon="keyboard_arrow_down" fill="black" size="28px" ng-click="showTrailersParklot()" ng-show="!showTrailers")
				ng-md-icon.trucks-parklot__toolbar__icon(icon="keyboard_arrow_up" fill="black" size="28px" ng-click="hideTrailersParklot()" ng-show="showTrailers")
	md-progress-linear.trucks-parklot__toolbar__progress(md-mode="indeterminate" ng-if="busy")
.no-jobs(ng-if="trucksCount == 0 && !ldTrucksOnly") You haven't got Trucks
.trucks-timeline(ng-style="{'height': trucksTimelineHeight + 'px'}" ng-if="!ldTrucksOnly && trucksCount > 0" ng-class="{'trucks-timeline_open' : showTrucks, 'trucks-timeline_close' : !showTrucks}" id="trucksTimelineId" ng-cloak)
	.trucks-timeline__left-header
		.trucks-timeline__left-header__item(ng-repeat="item in trucks")
			md-button.md-primary.trucks-timeline__left-header__item__button(
			ng-disabled="item.blockSelectTruckButton"
			ng-click="chackValidationBeforeAddingTrip(item)"
			ng-class="{'trucks-timeline__left-header__item__button__current': item.active}") {{item.truck_name}}
	.trucks-timeline__line
		.trucks-timeline__head
			.trucks-timeline__head__item(ng-repeat="item in dates")
				span(ng-if="item.date").trucks-timeline__head__item_text-center {{ item.date | date: 'MM-dd-yyyy' }}
				span(ng-if="!item.date").trucks-timeline__head__item_text-center {{ item.hour }}
		.trucks-timeline__body(ng-repeat="truck in trucks")
			.trucks-timeline__body__item(ng-repeat="item in dates")
				.trucks-timeline__body__item__left
				.trucks-timeline__body__item__right
			.truck(ng-repeat="item in truck.items track by $index" ng-if="truck.items.length > 0")
				truck-item(item="item" truck="truck" open-modal="openModal" trip-id="tripId" ng-if="!item.blocked")
				unavailable-item(item="item" ng-if="item.blocked")
.trucks-parklot
	.trucks-parklot__toolbar(ng-if="!ldTrucksOnly")
		div.trucks-parklot__toolbar__fake-range
		div.trucks-parklot__toolbar__type
			h3 Trailers Schedule
		.trucks-parklot__toolbar__right
			.trucks-parklot__toolbar__fake-button
			.trucks-parklot__toolbar__type
				ng-md-icon.trucks-parklot__toolbar__icon(icon="keyboard_arrow_down" fill="black" size="28px" ng-click="showTrailersParklot()" ng-show="!showTrailers")
				ng-md-icon.trucks-parklot__toolbar__icon(icon="keyboard_arrow_up" fill="black" size="28px" ng-click="hideTrailersParklot()" ng-show="showTrailers")

.no-jobs(ng-if="trailersCount == 0") You haven't got Trailers
.trucks-timeline(ng-style="{'height': trailersTimelineHeight + 'px'}" ng-show="trailersCount > 0" ng-class="{'trucks-timeline_open' : showTrailers, 'trucks-timeline_close' : !showTrailers}" id="trailersTimelineId" ng-cloak)
	.trucks-timeline__left-header
		.trucks-timeline__left-header__item(ng-repeat="item in trailers")
			md-button.md-primary.trucks-timeline__left-header__item__button(
			ng-disabled="item.blockSelectTruckButton"
			ng-click="chackValidationBeforeAddingTrip(item)"
			ng-class="{'trucks-timeline__left-header__item__button__current': item.active}") {{item.truck_name}}
	.trucks-timeline__line
		.trucks-timeline__head
			.trucks-timeline__head__item(ng-repeat="item in dates")
				span(ng-if="item.date").trucks-timeline__head__item_text-center {{ item.date | date: 'MM-dd-yyyy' }}
				span(ng-if="!item.date").trucks-timeline__head__item_text-center {{ item.hour }}
		.trucks-timeline__body(ng-repeat="truck in trailers")
			.trucks-timeline__body__item(ng-repeat="item in dates")
				.trucks-timeline__body__item__left
				.trucks-timeline__body__item__right
			.truck(ng-repeat="item in truck.items" ng-if="truck.items.length > 0")
				truck-item(item="item" truck="truck" open-modal="openModal" trip-id="tripId" ng-if="!item.blocked")
				unavailable-item(item="item" ng-if="item.blocked")

.big-tooltip(trip-info-tooltip trip="tripCopy" truck="truck" delete-truck="deleteTruck(truck, trip, deleteBusy)" show-tooltip="showTooltip" ng-if="showTooltip" close-modal="closeModal(trip)" position="tooltipPosition" trip-id="tripId")
