.border-gradient
	position absolute
	right 0px
	z-index 1100
	width 20px
	overflow visible
	background linear-gradient(to right, rgba(224,224,224,0), rgba(224,224,224,1))
.trucks-parklot
	position relative
	width 100%
	display flex
	flex-direction column
	flex-wrap nowrap
	justify-content center
	&__toolbar
		height 54px
		display flex
		flex-direction row
		justify-content space-between
		background-color #E0E0E0
		border-bottom 1px solid #ddd
		position relative
		&__label
			font-size 14px
			margin-top 18px
			padding-left 15px
		&__right
			display flex
			flex-direction row
			justify-content flex-start
			padding-right 15px
		&__type
			margin-top 18px
			display flex
			flex-direction row
			justify-content flex-start
		&__progress
			bottom 0
			position absolute
		&__fake-button
			min-width 170px
		&__fake-range
			min-width 240px
		&__icon
			padding-left 10px
			margin-top -4px
			cursor pointer
.trucks-timeline
	overflow hidden
	position relative
	width 100%
	height 100%
	display inline-flex
	flex-direction row
	justify-content flex-start
	flex-wrap nowrap
	min-height 0px
	opacity 0
	&_open
		animation: open_timeline 0.3s forwards ease-in
	&_close
		animation: close_timeline 0.3s forwards ease-out
	&__line
		width 100%
		overflow visible
		display inline-flex
		flex-direction column
		justify-content flex-start
		background-color white
	&__head
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		cursor w-resize
		&__item
			display flex
			padding 8px
			height 40px
			min-width 100px
			justify-content center
			flex-direction column
			font-size 13px
			font-weight 500
			color #757575
			&_text-center
				display flex
				flex-direction row
				justify-content center
	&__body
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		&__item
			display flex
			padding-top 5px
			padding-bottom 5px
			height 30px
			min-width 100px
			justify-content center
			flex-direction row
			font-size 12px
			font-weight 500
			color #757575
			padding-bottom 20px
			&__left
				width 50%
				height 30px
				border-left 1px solid #f8f8f8
				border-bottom 2px solid #eaeaea
				border-right 1px solid #eaeaea
			&__right
				width 50%
				height 30px
				border-left 1px solid #eaeaea
				border-bottom 2px solid #eaeaea
				border-right 1px solid #f8f8f8

	&__left-header
		position absolute
		z-index 50
		background-color rgba(255, 255, 255, 0.8)
		margin-top 40px
		padding-top 4px
		padding-bottom 2px
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		&__item
			height 30px
			display flex
			flex-wrap nowrap
			flex-direction column
			justify-content center
			cursor pointer
			&__button
				font-size 14px
				width 100%
				margin-left 0px
				&__current
					background #82bdea !important


.truck
	position absolute
	&__item
		position absolute
		z-index 10
		width 100%
		margin-top 6px
		height 26px
		font-size 12px
		display flex
		flex-wrap nowrap
		flex-direction column
		justify-content center
		cursor pointer
		background-color gainsboro
		&:hover
			opacity 0.95
		&_bigger-index
			border-top 1px dashed #939393
			border-right 1px dashed #939393
			border-bottom 1px dashed #939393
			z-index 40
		&__info
			overflow hidden
			opacity 0
			padding-left 8px
			display flex
			flex-wrap nowrap
			flex-direction row
			justify-content flex-start
			transition opacity 0.5s
			white-space nowrap
			&_open
				z-index 45
				border-top 1px dashed #939393
				border-right 1px dashed #939393
				border-bottom 1px dashed #939393
				animation open_info 0.3s forwards
			&_close
				animation close_info 0.3s forwards
			&__icon
				padding-left 3px
				padding-right 3px
				margin-top 1px
			&__entity
				overflow hidden
				width 0
				display flex
				flex-direction column
				justify-content center
				opacity 0
				transition opacity 0.3s
				&_open
					opacity 1
					animation open_entity 0.2s forwards
			&__entity-ld
				overflow hidden
				width 0
				display flex
				flex-direction column
				justify-content center
				opacity 0
				transition opacity 0.3s
				&_open
					opacity 1
					animation open_entity_ld 0.2s forwards
			&__customer
				overflow hidden
				width 0
				display flex
				flex-direction column
				justify-content center
				flex-wrap nowrap
				opacity 0
				transition opacity 0.3s
				line-height 1
				white-space nowrap
				&_open
					opacity 1
					animation open_customer 0.3s forwards
			&__range
				margin-top 3px
				overflow hidden
				width 0
				display flex
				flex-direction row
				flex-wrap nowrap
				justify-content flex-start
				opacity 0
				transition opacity 0.6s
				white-space nowrap
				&_open
					opacity 1
					animation open_range 0.3s forwards
		&__unavailable-text
			overflow hidden
			display flex
			flex-wrap nowrap
			flex-direction row
			justify-content space-around
			&__text
				font-size: 12px;
				font-weight: 600;
				color: #848484
	&__unavailable-item
		position absolute
		z-index 10
		width 100%
		margin-top 6px
		height 28px
		display flex
		flex-wrap nowrap
		flex-direction column
		justify-content center
		pointer-events none
.ld-trucks-label
	position relative
	width 100%
	padding-top 10px
	padding-bottom 10px
	display flex
	flex-direction row
	justify-content center
	align-items center
	background radial-gradient(ellipse closest-side at center, rgba(173,173,173,0.8) 0%, rgba(191,191,191,0.6) 50%, rgba(209,209,209,0.4) 75%, rgba(230,230,230,0.2) 87.5%, rgba(255,255,255,0) 100%)
	&__text
		position absolute
		padding-left 5px
		padding-right 5px
		backgound-color white
.trucks-type-label
	background: white
	padding-left: 5px
	padding-right: 5px
.show-truck-info
	opacity 1

.tooltip-info
	font-size 14px
	display flex
	flex-wrap nowrap
	flex-direction row
	justify-content flex-start
	&__icon
		padding-top 2px
		padding-left 3px
		padding-right 3px

.request-status
	z-index 15
	position absolute
	&__unavailabale
		background: url(/moveBoard/content/img/bg.png) 0 0 repeat-x scroll #d6d6d6
	&__status_1
		background: url(/moveBoard/content/img/bg.png) 0 0 repeat-x scroll rgba(255, 165, 0, 1)
	&__status_2
		background: url(/moveBoard/content/img/bg.png) 0 0 repeat-x scroll #87C4F3
	&__status_3
		background: url(/moveBoard/content/img/bg.png) 0 0 repeat-x scroll #90ee90
	&__status_12
		background: #e57373
	&__status_22
		background: #b0bec5
	&__service_1
		border-left: 10px solid green !important
	&__service_2
		border-left: 10px solid #FFC800 !important
	&__service_3
		border-left: 10px solid #D68FFA !important
	&__service_4
		border-left: 10px solid #D68FFA !important
	&__service_5
		border-left: 10px solid #EEEB90 !important
	&__service_6
		border-left: 10px solid #F17373 !important
	&__service_7
		border-left: 10px solid #69B6F8 !important
	&__service_8
		border-left: 10px solid #D35400 !important

	&__flatrate
		background-color: #ffd54f
	&__personally
		background: url(/moveBoard/content/img/bg90.png) 0 0 repeat-x scroll #4db6ac
	&__current
		background: url(/moveBoard/content/img/bg90.png) 0 0 repeat-x scroll #b39ddb
@keyframes open_info
	to
		width: 400px

@keyframes close_info
	from
		width: 400px
		z-index : 45

@keyframes open_entity
	from
		width: 0

	to
		width: 60px
@keyframes open_entity_ld
	from
		width: 0

	to
		width: 80px
@keyframes open_customer
	from
		width: 0

	to
		min-width: 140px


@keyframes open_range
	from
		width: 0

	to
		width: 200px
@keyframes open_timeline
	from
		opacity: 0

	to
		opacity: 1
@keyframes close_timeline
	from
		opacity: 1

	to
		opacity: 0

