<div class="details row" ng-if="vm.request.request_all_data.additionalBlock.isVisible">
    <h2 class="btitle">{{::vm.request.request_all_data.additionalBlock.title}}:</h2>
    <div class="col-md-12 nopadding" style="width: 95%; border-bottom: 1px dotted rgba(128, 128, 128, 0.27); line-height: 20px;" ng-bind-html="vm.trustAsHtml(vm.request.request_all_data.additionalBlock.text)">
    </div>
</div>