<div class="details row">
    <h2 class="btitle">Additional Details</h2>
    <div ng-show="!vm.ifDetails && !vm.detailHasComment">N/A</div>
    <div ng-show="vm.ifDetails || vm.detailHasComment" class="row inventory-box" cc-list-details details="vm.move_details"></div>
</div>
<div class="inventory row">
    <h2 class="btitle">Inventory to be moved
        <span style="float:right;font-size: 11px;font-weight: 600;color: black"> Total Items:
            <span>{{inventoryTotals.counts}}</span>, Total Boxes:
            <span>{{inventoryTotals.boxes}}</span>, Custom: <span>{{inventoryTotals.custom}}</span>
            . Total Estimated: <span >{{vm.totalEstimated.weight | number:0 }} c.f. / {{vm.totalEstimated.lbs | number: 0 }} lbs</span>
        </span>
    </h2>
    <div class="empty-inventory-label" ng-if="!vm.listInventories.length">No inventory submitted</div>
    <div ng-if="vm.listInventories.length && vm.request.field_request_settings.inventoryVersion != 2" list-inventories listInventories="vm.listInventories" rooms="vm.rooms" rooms="vm.rooms" removed="vm.removedItems" decrease="vm.decreaseItems"></div>
    <div ng-if="vm.request.field_request_settings.inventoryVersion == 2" inventory-table entity-id="vm.request.nid"></div>
</div>
