<div id="reservation-page-extra-services" class="details row" ng-if="vm.extraServices.length">
    <h2 class="btitle">Additional Services:</h2>
    <div ng-repeat="service in vm.extraServices track by $index" class="col-md-12 nopadding" style="border-bottom: 1px dotted rgba(128, 128, 128, 0.27);
    line-height: 20px;">
        <div class="col-md-5 nopadding">{{service.name}}:</div>
        <div class="col-md-2 nopadding">${{calculateRowTotal(service) | number :2}}</div>
    </div>
</div>