<div class="section row relative-position">
    <a href="javascript:void(0)" id="printcancel" print-btn="" style="margin-top: 20px;" class="btn no-print printHide" print-hide>Print</a>
    <span class="confirmation_page_header" ng-bind-html="vm.contract_page.confirmationPageTitles[vm.request.service_type.raw]"></span>
    <div class="service_type rtitle" style="text-align: center;
    font-size: 16px;">
        SERVICE TYPE: {{vm.currentServiceType}}
        <span ng-if="vm.request.move_size.raw == 11"> - {{vm.commercialTitle}}</span>
    </div>
    <a href="#/request/{{::vm.request.nid}}" ng-if="!vm.isForeman && !vm.isHomeEstimator" id="printinerary" class=" pull right" print-hide>Back To Request</a>

    <div class="back-to-moveboard-block"
         ng-if="vm.isHomeEstimator">
        <a href="/moveBoard/#/inhome-estimator/request/{{vm.request.nid}}"
           target="_self"
           class="btn btn-primary">Back To In-home Estimate Portal</a>
    </div>

    <div class="company_signature" ng-if="vm.basicsettings.confirmation_page.showSignature" data-ng-class="{'signature_only_print':vm.basicsettings.confirmation_page.showSignatureprint}">
        <img src="{{vm.basicsettings.company_logo_url}}">
        <div class="com_sign_info">
            <p class="com_sign_line">{{vm.basicsettings.company_name}}</p>
            <p class="com_sign_line">{{vm.basicsettings.website_url}}</p>
            <p class="com_sign_line">{{vm.basicsettings.company_address}}</p>
            <p class="com_sign_line">{{vm.basicsettings.company_email}}</p>
            <p class="com_sign_line">{{vm.basicsettings.company_phone | nationalPhoneFormatter}}</p>
            <p class="com_sign_line">{{vm.basicsettings.company_licence}}</p>
        </div>

    </div>
</div>
