<div class="col-md-12 animated fadeInRight confirm-page">
    <down-page-arrow ng-if="vm.request.status.raw == 2"></down-page-arrow>
    <div class="ibox" print-section>
        <div class="ibox-content nopadding">
            <!-- HEADER -->
            <!-- Payment BLock -->
            <ng-include src="'app/requestpage/templates/reservation_page/header-block.html'"></ng-include>
            <!-- General Info -->
            <div class="resercontainer">
                <h2 class="title">Request #{{::vm.request.nid}}</h2>
                <div class="general row info">
                    <div class="col-md-12 general_info nopadding">
                        <ng-include
                                src="'app/requestpage/templates/reservation_page/user-block.html'"></ng-include>
                        <!--LOCAL MOVE -->
                        <div class="date nopadding"  ng-class="{'col-md-6':vm.isEmptyFieldAdditionalUser, 'col-md-8':!vm.isEmptyFieldAdditionalUser}">
                            <h2 class="tt"><i class="fa fa-calendar-o"></i>{{vm.moveDate}}</h2>
                            <div ng-hide="vm.request.request_all_data.arrivalTimeWindow.showInAccount && !vm.request.request_all_data.arrivalTimeWindow.text">
                                <h2 class="tt"><i class="fa fa-clock-o"></i>Start Time :
                                    <span ng-show="vm.request.request_all_data.arrivalTimeWindow.showInAccount">
                                        {{vm.request.request_all_data.arrivalTimeWindow.text}}
                                    </span>
                                    <span ng-hide="vm.request.request_all_data.arrivalTimeWindow.showInAccount">
                                        {{vm.request.start_time1.value}} - {{vm.request.start_time2.value}}
                                    </span>
                                    <span class="texttip">(movers arrival time)</span>
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Logistic -->
                <div class="row logistic">
                    <h2 class="btitle">Logistics</h2>
                    <div class="col-md-4 current nopadding" ng-hide="vm.request.service_type.raw == 4">

                        <h2  class="tt"><i class="fa fa-angle-left"></i><i class="fa fa-home"></i> Origin
                          <span class="texttip">({{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_from.raw]}})</span></h2>
                        <h3>{{vm.request.adrfrom.value}}
                            <span ng-show="vm.request.apt_from.value.length">
                                (Apt #{{vm.request.apt_from.value}})</span><br>
                            {{vm.request.field_moving_from.locality}}, {{vm.request.state_from.value}} {{vm.request.zip_from.value}}</h3>

                        <div class="row_info row extrapickup" style="width: 75%;" ng-if="vm.extraPickup">
                            <div class="col-md-12 title nopadding">Extra Pickup:</div>
                            <div class="col-md-12 info nopadding">
								{{vm.request.field_extra_pickup.thoroughfare}}
								<span ng-show="vm.request.field_extra_pickup.premise">
									(Apt #{{vm.request.field_extra_pickup.premise}})
								</span>
                                <div>
                                    {{vm.request.field_extra_pickup.locality}},
                                    {{vm.request.field_extra_pickup.administrative_area}}
								    {{vm.request.field_extra_pickup.postal_code}}
                                </div>
							</div>
                            <div class="col-md-12 info nocolor nopadding">
								{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_pickup.organisation_name]}}
							</div>

                        </div>

                    </div>

                    <div class="new col-md-4 nopadding" ng-hide="vm.request.service_type.raw == 3 || vm.request.service_type.raw == 8">

                        <h2  class="tt"><i class="fa fa-angle-right style='font-size:18px;'"></i>
                            <i class="fa fa-home"></i> Destination
                                    <span class="texttip">(
                                    {{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_to.raw]}}
                                    )</span>
                        </h2>
                            <h3>{{vm.request.adrto.value}} <span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.apt_to.value}})</span>
                                <br> {{vm.request.city_to.value}}, {{vm.request.state_to.value}} {{vm.request.zip_to.value}}</h3>
                        <div class="row_info row extrapickup" style="width: 75%;" ng-if="vm.extraDropoff">
                            <div class="col-md-12 title nopadding">Extra Drop-off</div>
                            <div class="col-md-12 info nopadding">
								{{vm.request.field_extra_dropoff.thoroughfare}}
								<span ng-show="vm.request.field_extra_dropoff.premise">
									(Apt #{{vm.request.field_extra_dropoff.premise}})
								</span>
                                <div>
                                    {{vm.request.field_extra_dropoff.locality}},
                                    {{vm.request.field_extra_dropoff.administrative_area}}
                                    {{vm.request.field_extra_dropoff.postal_code}}
                                </div>
							</div>
                            <div class="col-md-12 info nocolor nopadding">
								{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_dropoff.organisation_name]}}
							</div>
                        </div>



                    </div>

                </div>
                <!-- HEADER LOCAL MOVE-->
                <div class="row general_info stats general_info_row" ng-hide="vm.request.service_type.raw == 5">
                    <div class="stat_row row nopadding move_size_row">
                        <h2>Move Size</h2> {{vm.request.move_size.value}}
                        <span ng-if="vm.request.move_size.raw != 11">
                            <span class="tip" ng-if="vm.request.field_useweighttype.value == '1' && vm.request.total_weight.weight">
	            	            (Total {{vm.request.total_weight.weight}} c.f. / {{vm.request.total_weight.weight | cubicFootToPounds}} lbs)
				            </span>
				            <span class="tip" ng-if="vm.request.field_useweighttype.value == '2' && vm.request.inventory_weight.cfs">
	            	            (Based on Inventory {{vm.request.inventory_weight.cfs}} c.f. / {{vm.request.inventory_weight.cfs | cubicFootToPounds}} lbs)
				            </span>
                            <span class="tip" ng-if="vm.request.field_useweighttype.value == '3' && vm.request.custom_weight.value">
                                (Custom {{vm.request.custom_weight.value}} c.f. / {{vm.request.custom_weight.value | cubicFootToPounds}} lbs)
                            </span>
                            <span> {{vm.request.rooms.raw | rooms}}</span>
                        </span>
                        <span ng-if="vm.request.move_size.raw == 11" class="texttip">{{vm.commercialWeight.explanation}}</span>
                    </div>
                    <div class="stat_row row nopadding crew_size_row">
                        <h2>Crew Size</h2>  {{vm.request.crew.value}} Movers, {{vm.request.truckCount}}  Trucks
                    </div>
                    <div class="stat_row row nopadding rate_row" ng-hide="vm.request.rate.value == 0">
                        <h2>Rate</h2>   ${{vm.request.rate.value}}/Hr
                    </div>
                    <div id="reservation-page-travel-time" class="stat_row row nopadding travel_time_row" ng-if="!vm.isDoubleDriveTime  && vm.travelTimeSetting && vm.request.travel_time.raw != 0">
                        <h2>{{::vm.calcSettings.travelTimeName}}</h2>  {{vm.request.travel_time.raw | hrmin}}
                    </div>
                    <div class="stat_row row nopadding double_drive_time_row" ng-if="vm.isDoubleDriveTime && vm.request.field_double_travel_time.raw">
                        <h2>{{::vm.calcSettings.doubleDriveTimeName}}</h2>  {{vm.request.field_double_travel_time.raw || 0 | hrmin}}
                    </div>
                    <div id="reservation-page-estimated-job" ng-show="vm.contract_page.confirmationShowQuote.selected"
                         class="stat_row row nopadding">
                        <div class="estimated_job_time_row">
                            <h2>Estimated Job Time</h2>
                            <div ng-show="vm.isShowTime()">
                                <div style="display: inline-block;">{{vm.request.minimum_time.raw + (vm.isDoubleDriveTime ? vm.request.field_double_travel_time.raw : 0) + Number(vm.travelTimeSetting ? vm.request.travel_time.raw : 0) | hrmin }}</div>
                                <div style="display: inline-block;" ng-hide="vm.request.maximum_time.raw == vm.request.minimum_time.raw">-
                                    {{vm.request.maximum_time.raw + (vm.isDoubleDriveTime ? vm.request.field_double_travel_time.raw : 0) + Number(vm.travelTimeSetting ? vm.request.travel_time.raw : 0) | hrmin}}
                                </div>
                                <i ng-show="vm.tooltipData.jobTime.isDisplay" class="custom-tooltip fa fa-info-circle" tt-tool-tips tips-string="<div class='tips rmtips'> {{vm.tooltipData.jobTime.value}}</div>"></i>
                            </div>
                            <div ng-if="!vm.isShowTime()">{{vm.min_hours | hrmin}} (minimum hours)</div>
                        </div>
                        <div class="estimated_quote_row">
                            <h2>Estimated Quote</h2>
                            <div style="display: inline-block;">
                                <div class="">
                                    <div ng-if="vm.min_hours < vm.calculateLocalMoveMaxJobTime()">
                                        ${{vm.localMoveMinQuoteWithDiscount | number:2 }}
                                        <div style="display: inline-block;" ng-hide="vm.isEqualLocalMoveMaxMinTime()">
                                            - ${{vm.localMoveMaxQuoteWithDiscount | number:2 }}
                                        </div>
                                        <div style="display: inline-block;" ng-if="vm.extraServices.length">
                                            (with Additional Services)
                                        </div>
                                    </div>
                                    <div ng-if="vm.min_hours >= vm.calculateLocalMoveMaxJobTime()">${{vm.calculateLocalMoveQuoteByMinHours() | number:2 }}
                                        <div style="display: inline-block;" ng-if="vm.extraServices.length">(with Additional Services)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stat_row row nopadding pay_deposit_row" ng-show="vm.deposit">
                        <h2>Paid Deposit</h2>
                        <div style="display: inline-block;">
                            ${{vm.deposit}}
                        </div>
                    </div>


                    <div id="reservation-page-discounts" ng-if="vm.request.request_all_data.add_money_discount != 0 || vm.request.request_all_data.add_percent_discount !=0 "  class="stat_row row nopadding">

                        <h2 ng-if="vm.localdiscount != 0 && vm.request.request_all_data.add_money_discount && vm.request.request_all_data.add_percent_discount == 0 && vm.request.request_all_data.add_money_discount != 0">Additional Discount</h2>
                        <h2 ng-if="vm.localdiscount != 0 && vm.request.request_all_data.add_percent_discount && vm.request.request_all_data.add_money_discount == 0 && vm.request.request_all_data.add_percent_discount != 0">Additional Discount</h2>
                        <h2 ng-if="vm.localdiscount == 0">Discount</h2>
                        <span ng-if="vm.localdiscount != 0" class="total_discount">
                            <span ng-if="vm.request.request_all_data.add_percent_discount == 0 && vm.request.request_all_data.add_money_discount != 0 && vm.request.request_all_data.add_money_discount">
                                <span ng-if="vm.request.request_all_data.add_money_discount != 0">
                                    -${{vm.request.request_all_data.add_money_discount}}
                                </span>
                            </span>
                            <span ng-if="vm.request.request_all_data.add_money_discount == 0 && vm.request.request_all_data.add_percent_discount != 0 && vm.request.request_all_data.add_percent_discount">
                                <span ng-if="vm.request.request_all_data.add_percent_discount != 0">
                                    -{{vm.request.request_all_data.add_percent_discount}}%
                                </span>
                            </span>
                        </span>
                        <span ng-if="vm.localdiscount == 0" class="total_discount">
                            <span ng-if="vm.request.request_all_data.add_percent_discount == 0 && vm.request.request_all_data.add_money_discount != 0 && vm.request.request_all_data.add_money_discount">
                                <span ng-if="vm.request.request_all_data.add_money_discount != 0">
                                    ${{vm.request.request_all_data.add_money_discount}}
                                </span>
                            </span>
                            <span ng-if="vm.request.request_all_data.add_money_discount == 0 && vm.request.request_all_data.add_percent_discount != 0  && vm.request.request_all_data.add_percent_discount">
                                <span ng-if="vm.request.request_all_data.add_percent_discount != 0">
                                    {{vm.request.request_all_data.add_percent_discount}}%
                                </span>
                            </span>

                        </span>
                    </div>
                </div>

                <div ng-hide="vm.request.service_type.raw == 5"
                     class="col-md-12 explanation_quote_wrapper explanation_quote_row"
                     ng-bind-html="vm.quote_note"></div>

                <custom-blocks ng-if="!vm.additionalBloks.length && vm.request.service_type.raw != 5"
                               class="col-xs-12 reservation-page-custom-block-wrapper"
                               request="vm.request"></custom-blocks>
                <general-blocks ng-if="!vm.additionalBloks.length && vm.request.service_type.raw != 5"
                                class="col-xs-12 reservation-page-general-block-wrapper"
                                request="vm.request"></general-blocks>

                <div ng-hide="vm.request.service_type.raw == 5" class="col-md-12 explanation_quote_wrapper">
                    <div ng-repeat="addBlock in vm.additionalBloks">
                        <h2 class="btitle" ng-bind-html="addBlock.title"></h2>
                        <div class="stat_row row nopadding" ng-bind-html="addBlock.text"></div>
                    </div>
                </div>

                <!-- valuation -->
                <ng-include src="'app/requestpage/templates/reservation_page/valuation-reservation.html?4'"></ng-include>
                <!-- extraservices -->
                <ng-include src="'app/requestpage/templates/reservation_page/extraservices.html'"></ng-include>
                <!-- additional block -->
                <ng-include src="'app/requestpage/templates/reservation_page/additional-block.html'"></ng-include>
                <!-- PACKINGS -->
                <ng-include src="'app/requestpage/templates/reservation_page/packings.html'"></ng-include>
                <!-- Details -->
                <ng-include src="'app/requestpage/templates/reservation_page/details-block.html?3'"></ng-include>

                <notes-directive request-note="vm.request" admin="vm.admin" is-foreman="vm.isForeman"></notes-directive>

                <!-- Payment BLock -->
                <ng-include src="'app/requestpage/templates/payment_block.html?2'"></ng-include>



            </div>
        </div>
    </div>

</div>
