<div class="col-md-12 animated fadeInRight confirm-page">
    <down-page-arrow ng-if="vm.request.status.raw == 2"></down-page-arrow>
    <div class="ibox" print-section>
        <div class="ibox-content nopadding">
            <!-- HEADER -->
            <ng-include src="'app/requestpage/templates/reservation_page/header-block.html'"></ng-include>
            <!-- General Info -->
            <div class="resercontainer">
                <h2 class="title">Request #{{::vm.request.nid}}</h2>

                <div class="general row info">
                    <div class="col-md-12 general_info nopadding">
                        <ng-include src="'app/requestpage/templates/reservation_page/user-block.html'"></ng-include>

                                 <span>
                                     <div class="date nopadding" ng-class="{'col-md-3':vm.isEmptyFieldAdditionalUser, 'col-md-4':!vm.isEmptyFieldAdditionalUser}">
                                         <h2 style="color: black !important;line-height: 17px !important;">Move Date (Pick up day)</h2>
                                         <h2 class="tt" style="margin-bottom: 0px;"><i class="fa fa-calendar-o"></i>{{vm.moveDate}}</h2>
                                         <div ng-hide="vm.request.request_all_data.arrivalTimeWindow.showInAccount && !vm.request.request_all_data.arrivalTimeWindow.text">
                                             <h2 class="tt"><i class="fa fa-clock-o"></i>Start Time :
                                                 <span ng-show="vm.request.request_all_data.arrivalTimeWindow.showInAccount">
                                                     {{vm.request.request_all_data.arrivalTimeWindow.text}}
                                                 </span>
                                                 <span ng-hide="vm.request.request_all_data.arrivalTimeWindow.showInAccount">
                                                     {{vm.request.start_time1.value}}
                                                     <mi ng-if="vm.request.start_time2.value.length">- {{vm.request.start_time2.value}}</mi>
                                                 </span>
                                             </h2>
                                         </div>
                                     </div>

                                     <div class="date nopadding" ng-class="{'col-md-3':vm.isEmptyFieldAdditionalUser, 'col-md-4':!vm.isEmptyFieldAdditionalUser}">
                                         <h2 style="color: black !important;line-height: 17px !important;">Delivery Window</h2>
                                         <h2 class="tt" ng-if="vm.lastDeliveryDay != 0" style="margin-bottom: 0px;">
                                         <span>
                                         <i class="fa fa-calendar-o"></i>
                                             {{vm.request.inventory.move_details.delivery}} - {{vm.lastDeliveryDay}}</span></h2>
                                         <h2 class="tt" ng-if="vm.lastDeliveryDay == 0" style="margin-bottom: 0px;">
                                         <span><i class="fa fa-calendar-o"></i>
                                             NOT READY FOR DELIVERY</span></h2>

                                     </div>
                                    </span>

                    </div>
                </div>


                <!-- Logistic -->
                <div class="row logistic">
                    <h2 class="btitle">Logistics</h2>
                    <div class="col-md-4 current nopadding">

                        <h2  class="tt"><i class="fa fa-angle-left"></i><i class="fa fa-home"></i> Origin
                        <span class="texttip">({{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_from.raw]}})</span></h2>
                        <h3>{{vm.request.adrfrom.value}} <span ng-show="vm.request.apt_from.value.length">(Apt #{{vm.request.apt_from.value}})</span><br> {{vm.request.field_moving_from.locality}}, {{vm.request.state_from.value}} {{vm.request.zip_from.value}}</h3>


                        <div class="row_info row extrapickup" style="width: 75%;" ng-if="vm.extraPickup">
                            <div class="col-md-12 title nopadding">Extra Pickup:</div>
                            <div class="col-md-12 info nopadding">
								{{vm.request.field_extra_pickup.thoroughfare}}
								<span ng-show="vm.request.field_extra_pickup.premise">
									(Apt #{{vm.request.field_extra_pickup.premise}})
								</span>
								<div>
									{{vm.request.field_extra_pickup.locality}},
									{{vm.request.field_extra_pickup.administrative_area}}
									{{vm.request.field_extra_pickup.postal_code}}
								</div>
							</div>
                            <div class="col-md-12 info nocolor nopadding">
								{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_pickup.organisation_name]}}
							</div>

                        </div>
                    </div>



                    <div class="new col-md-4 nopadding">
                        <h2  class="tt"><i class="fa fa-angle-right style='font-size:18px;'"></i>
                            <i class="fa fa-home"></i> Destination
                                    <span class="texttip">(
                                    {{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_to.raw]}}
                                    )</span>
                        </h2>
                        <div>
                            <h3>{{vm.request.adrto.value}} <span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.apt_to.value}})</span>
                                <br> {{vm.request.city_to.value}}, {{vm.request.state_to.value}} {{vm.request.zip_to.value}}</h3>
                        </div>

                        <div class="row_info row extrapickup" style="width: 75%;" ng-if="vm.extraDropoff">
                            <div class="col-md-12 title nopadding">Extra Drop-off</div>
                            <div class="col-md-12 info nopadding">
								{{vm.request.field_extra_dropoff.thoroughfare}}
								<span ng-show="vm.request.field_extra_dropoff.premise">
									(Apt #{{vm.request.field_extra_dropoff.premise}})
								</span>
								<div>
									{{vm.request.field_extra_dropoff.locality}},
									{{vm.request.field_extra_dropoff.administrative_area}}
									{{vm.request.field_extra_dropoff.postal_code}}
								</div>
							</div>
                            <div class="col-md-12 info nocolor nopadding">
								{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_dropoff.organisation_name]}}
							</div>
                        </div>
                    </div>




                </div>
                <!-- FLAT RATE  MOVE-->
                <div class="row general_info stats" >

                    <div class="stat_row row nopadding">
                        <h2>Move Size</h2> {{vm.request.move_size.value}}
                        <span ng-if="vm.request.move_size.raw != 11" >
                            <span class="tip" ng-if="vm.request.field_useweighttype.value == '1' && vm.request.total_weight.weight">
	            	            (Total {{vm.request.total_weight.weight}} c.f. / {{vm.request.total_weight.weight | cubicFootToPounds}} lbs)
				            </span>
				            <span class="tip" ng-if="vm.request.field_useweighttype.value == '2' && vm.request.inventory_weight.cfs">
	            	            (Based on Inventory {{vm.request.inventory_weight.cfs}} c.f. / {{vm.request.inventory_weight.cfs | cubicFootToPounds}} lbs)
				            </span>
                            <span class="tip" ng-if="vm.request.field_useweighttype.value == '3' && vm.request.custom_weight.value">
                                (Custom {{vm.request.custom_weight.value}} c.f. / {{vm.request.custom_weight.value | cubicFootToPounds}} lbs)
                            </span>
                            <span> {{vm.request.rooms.raw | rooms}}</span>
                        </span>
                        <span ng-if="vm.request.move_size.raw == 11" class="texttip">{{vm.commercialWeight.explanation}}</span>
                    </div>
                    <div id="long-distance-reservation-page-transportation-info" class="stat_row row nopadding">
                        <span ng-if="!!vm.longDistanceQuote" class="totalDetail"><b>Transportation / Labor</b>   ${{vm.longDistanceQuote | number: 2}}</span>
                        <span ng-if="!!vm.fuelSurcharge" class="totalDetail"><b>Fuel surcharge</b>   ${{vm.fuelSurcharge | number: 2}}</span>
                        <span ng-if="!!vm.longDistanceServicesTotal" class="totalDetail"><b>Additional Services Total</b>   ${{vm.longDistanceServicesTotal | number: 2}}</span>
                        <span ng-if="!!vm.longDistancePackingTotal" class="totalDetail"><b>Packing Total</b>   ${{vm.longDistancePackingTotal | number: 2}}</span>
                        <span ng-if="!!vm.valuationCharge" class="totalDetail"><b>Valuation</b>   ${{vm.valuationCharge | number: 2}}</span>
                        <span ng-if="!!vm.longDistanceDiscount" class="totalDetail"><b>Discount</b>   -${{vm.longDistanceDiscount | number: 2}}</span>
                        <h2>Grand Total</h2>   <span class="grand-total">${{ vm.longDistanceTotal | number: 2 }}</span>
                    </div>
                    <div class="stat_row row nopadding" ng-show="vm.deposit">
                        <h2>Paid Deposit</h2>
                        <div style="display: inline-block;">
                            ${{vm.deposit}}
                        </div>
                    </div>
                    <div id="long-distance-reservation-page-quote-explanation" class="col-md-12 nopadding">
                        <p ng-if="vm.request.status.raw == 1" class="quote_note" style="color:black" ng-bind-html="vm.longdistancePendingInfo"></p>
                        <p ng-if="vm.request.status.raw == 2 || vm.request.status.raw == 3" class="quote_note" style="color:black" ng-bind-html="vm.longdistanceNotConfirmedInfo"></p>
                    </div>
                </div>
                <!-- additional block -->
                <ng-include src="'app/requestpage/templates/reservation_page/additional-block.html'"></ng-include>

                <div class="details row">
                    <h2 class="btitle">Delivery Info</h2>
                    <p class="quote_note" read-more ng-bind-html="vm.delivery_info_text"></p>
                </div>

                <custom-blocks ng-if="!vm.additionalBloks.length"
                               class="col-xs-12 reservation-page-custom-block-wrapper"
                               request="vm.request"></custom-blocks>
                <general-blocks ng-if="!vm.additionalBloks.length"
                                class="col-xs-12 reservation-page-general-block-wrapper"
                                request="vm.request"></general-blocks>

                <div class="row details">
                    <div ng-repeat="addBlock in vm.additionalBloks">
                        <h2 class="btitle" ng-bind-html="addBlock.title"></h2>
                        <div class="stat_row row nopadding" ng-bind-html="addBlock.text"></div>
                    </div>
                </div>

                <!-- Additional services -->
                <ng-include src="'app/requestpage/templates/reservation_page/extraservices.html'"></ng-include>

                <!-- valuation -->
                <ng-include src="'app/requestpage/templates/reservation_page/valuation-reservation.html'"></ng-include>
                <!-- PACKINGS -->
                <ng-include src="'app/requestpage/templates/reservation_page/packings.html'"></ng-include>

                <!-- Details -->
                <ng-include
                            src="'app/requestpage/templates/reservation_page/details-block.html'"></ng-include>

                <notes-directive request-note="vm.request" admin="vm.admin" is-foreman="vm.isForeman"></notes-directive>
                <!-- Payment BLock -->
                <ng-include src="'app/requestpage/templates/payment_block.html?2'"></ng-include>

            </div>
        </div>
    </div>

</div>
