<div  id="packing-reservation" class="details row" ng-if="vm.packings && vm.packings.length >0">
    <h2 class="btitle">Packing:</h2>
    <!-- header -->
    <div class="row">
    	<div class="packings-title">
            <div class="col-md-2 nopadding request-packings-item"></div>
	        <div class="col-md-2 nopadding request-packings-item">Quantity</div>
            <div class="col-md-2 nopadding request-packings-item" ng-if="vm.request.service_type.raw != '5' && vm.request.service_type.raw != '7'">Unit Cost</div>
            <div class="col-md-2 nopadding request-packings-item" ng-if="vm.request.service_type.raw == '5' || vm.request.service_type.raw == '7'">Unit Cost</div>
            <div class="col-md-2 nopadding request-packings-item" ng-if="vm.packing.labor" ng-hide="vm.request.service_type.raw != '5' && vm.request.service_type.raw != '7'">
                <span ng-if="vm.request.service_type.raw == '5' || vm.request.service_type.raw == '7'">
                    Labor Rate
                </span>
            </div>
            <div class="col-md-2 nopadding request-packings-item">Total</div>
    	</div>
    </div>
    <div ng-repeat="packing in vm.packings" class="col-md-12 nopadding request-packings-container">
        <div class="col-md-2 nopadding">{{packing.name}}:</div>
            <div class="col-md-2 nopadding request-packings-item">{{packing.quantity}}</div>
            <div class="col-md-2 nopadding request-packings-item" ng-if="vm.request.service_type.raw != '5' && vm.request.service_type.raw != '7'">$ {{packing.rate | number: 2}}</div>
            <div class="col-md-2 nopadding request-packings-item" ng-if="vm.request.service_type.raw == '5' || vm.request.service_type.raw == '7'">$ {{packing.LDRate | number: 2}}</div>
            <div class="col-md-2 nopadding request-packings-item" ng-if="vm.packing.labor" ng-hide="vm.request.service_type.raw != '5' && vm.request.service_type.raw != '7'">
                <span ng-if="vm.request.service_type.raw == '5' || vm.request.service_type.raw == '7'">
                    $ {{packing.laborRate | number: 2}}
                </span>
            </div>
            <div class="col-md-2 nopadding request-packings-item">$ {{packing.total | number: 2}}</div>
    </div>
</div>
