<div class="client nopadding user-block" ng-class="{'col-md-3':vm.isEmptyFieldAdditionalUser, 'col-md-4':!vm.isEmptyFieldAdditionalUser}">
    <h2 ng-if="!vm.isCommercial || !vm.commercialName.length">{{::vm.request.name}}</h2>
    <h2 ng-if="vm.isCommercial && vm.commercialName.length">{{::vm.commercialName}}</h2>
    <div class="phone">
        <i class="fa fa-phone"></i>{{::vm.request.phone | nationalPhoneFormatter}}
    </div>
    <div class="additional-phone" ng-if="vm.request.field_additional_phone">
        {{::vm.request.field_additional_phone | nationalPhoneFormatter}}
    </div>
    <div class="email">
        <i class="fa fa-fw fa-envelope-o"></i>{{::vm.request.email}}
    </div>
</div>
<div ng-if="vm.isEmptyFieldAdditionalUser" class="col-md-3 client nopadding user-block">
    <h2>Additional client contacts</h2>
    <div class="user-block__name">
        <span class="additional_name_field" ng-if="vm.request.field_additional_user.first_name">{{::vm.request.field_additional_user.first_name}}</span>
        <span class="additional_name_field" ng-if="vm.request.field_additional_user.last_name">{{::vm.request.field_additional_user.last_name}}</span>
    </div>
    <div class="phone" ng-if="vm.request.field_additional_user.phone">
        <i class="fa fa-phone"></i>{{::vm.request.field_additional_user.phone | nationalPhoneFormatter}}
    </div>
    <div class="email" ng-if="vm.request.field_additional_user.mail">
        <i class="fa fa-fw fa-envelope-o"></i>{{::vm.request.field_additional_user.mail}}
    </div>
</div>
