<!-- Valuation -->
<confirmation-Page-Valuation request="vm.request"></confirmation-Page-Valuation>
<div id="reservation-page-fuel-surcharge" class="row general_info stats" ng-if="vm.fuelSurcharge">
	<h2 class="btitle">Fuel Surcharge</h2>
	<div class="stat_row row nopadding" style="font-weight: initial">
		<h2 class="font-initial">Fuel Surcharge</h2>
		$ {{vm.fuelSurcharge | number : 2}}
	</div>
</div>
