<div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></div>
</div>
<div ng-class="{'disabled': busy}" id="extra-service-modal">
    <div class="modal-header gray">
        <h2>Packing/Unpacking</h2>
    </div>
    <div class="row">
       <div class="col-md-12">
           <div class="col-md-5" style="font-weight: 600;padding: 10px;">
               Request #{{request.nid}}
           </div>
           <div class="col-md-4 pull-right " style="font-weight: 600;padding: 10px;">
               Total Packings : ${{calculateTotals(add_extra_charges) | number : 2}}
           </div>
           <div ng-if="packing.labor"  ng-hide="request.service_type.raw != '5' && request.service_type.raw != '7' " class="col-md-3 " style="font-weight: 600;padding: 10px;">
               <span class="pull-right"  ng-if="request.service_type.raw == '5' || request.service_type.raw == '7' ">
                   Labor Rate
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
               </span>
           </div>



       </div>
    </div>
    <div class="col-md-12">
            <div class="col-md-4 nopadding">
                <div class="inside_box">
                    <h2 class="small_box_header text_center">Click to add service charge</h2>
                    <div class="charge_list">
                        <li ng-repeat="extra_charge in extra_charges" class="extra_list"
                            ng-click="addExtraCharges(extra_charge)">
                            {{extra_charge.name}}
                        </li>
                        <div style="margin-top: 20px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="text-align: center; margin-bottom: 5px;">Packing Services</h3>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="btn-group">
                                        <label class="btn btn-default col-md-4"
                                               ng-model="packing_service"
                                               ng-class="{active: request.request_all_data.requiredPackingService == 0}"
                                               uib-btn-radio="0" uncheckable
                                               ng-change="choosePackingService(packing_service)">
                                            <i class="icon-ban"></i><br>
                                            No packing
                                        </label>
                                        <label class="btn btn-default col-md-4"
                                               ng-model="packing_service"
                                               ng-class="{active: request.request_all_data.requiredPackingService == 1}"
                                               uib-btn-radio="1"
                                               uncheckable
                                               ng-change="choosePackingService(packing_service)">
                                            <i class="fa fa-cube"></i><br>
                                            Partial Packing
                                        </label>
                                        <label class="btn btn-default col-md-4"
                                               ng-model="packing_service"
                                               ng-class="{active: request.request_all_data.requiredPackingService == 2}"
                                               uib-btn-radio="2"
                                               uib-uncheckable="uncheckable"
                                               ng-change="choosePackingService(packing_service)">
                                            <i class="fa fa-cubes"></i><br>
                                            Full Packing
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-8">
                <div class="inside_box">
                <h2 class="small_box_header text_center">Packing charge</h2>


                        <div ng-repeat="add_extra_charge in add_extra_charges track by $index">
                            <div class="addcharege_box">
                                <table style="width: 100%;position: relative;">
                                    <thead>
                                    <tr>
                                        <th class="">Packing Name</th>
                                        <th class="" ng-if="request.service_type.raw != '5' && request.service_type.raw != '7'">LM Unit Cost</th>
                                        <th ng-if="requestType" class="">LD Unit Cost</th>
                                        <th ng-if="requestType && packing.labor" class="">Labor Rate</th>
                                        <th style="width:80px;">Quanitity</th>
                                        <th class="">Total</th>
                                        <th class="remove_charge" ng-click="removeCharge($index);">X</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td><input ng-show="add_extra_charge.custom" ng-model="add_extra_charge.name" />
                                                <input ng-hide="add_extra_charge.custom" ng-model="add_extra_charge.name" readonly />
                                            </td>
                                            <td ng-if="request.service_type.raw != '5' && request.service_type.raw != '7'">
                                                <input cc-currency type="text" ng-change="editPackingLog('LM Unit Cost', add_extra_charge, '$'+add_extra_charge.rate)" ng-model="add_extra_charge.rate" min="1" max="999" er-only-digit with-decimal-point="true">
                                            </td>
                                            <td ng-if="requestType">
                                                <input cc-currency type="text" ng-change="editPackingLog('LD Unit Cost', add_extra_charge, '$'+add_extra_charge.LDRate)" ng-model="add_extra_charge.LDRate" min="1" max="999" er-only-digit with-decimal-point="true">
                                            </td>
                                            <td ng-if="requestType && packing.labor">
                                                <input cc-currency type="text" ng-change="editPackingLog('Labor Rate', add_extra_charge, '$'+add_extra_charge.laborRate)" ng-model="add_extra_charge.laborRate" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"  min="1" max="999" er-only-digit with-decimal-point="true">
                                            </td>
                                            <td style="width:80px;" ng-init="add_extra_charge.quantity = add_extra_charge.quantity || 0">
                                                <input type="number"
                                                       min="0"
                                                       name="quantity"
                                                       string-to-number
                                                       id=""
                                                       ng-change="editPackingLog('Quantity', add_extra_charge, add_extra_charge.quantity)"
                                                       ng-model="add_extra_charge.quantity"/>
                                            </td>
                                            <!-- total calculated value -->
                                            <td style="width:50px; overflow:hidden; text-overflow:ellipsis" >
                                                <span readonly type="text">
                                                  ${{ add_extra_charge.total }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                               </table>
                            </div>
                        </div>
                </div>
                </div>
                <!-- list of additionla services Charges-->
            </div>


    </div>


    <div class="modal-footer">

        <button type="button" class="btn btn-primary" ng-click="save()" data-ng-disabled="Job_Completed">Ok</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    </div>

</div>
