<div class="col-md-12" style="padding: 50px;">
    <h2 style="text-align: center">Enter Amount to charge:</h2>
    <input ng-model="chargeAmount" style="    width: 225px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    height: 55px;" ng-model-options="{ updateOn: 'blur' }" class="form-element form-control">
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <div class="" style="display: inline-block;" request="request" data-company="BFRM" data-amount="{{chargeAmount}}" data-name="Enter Amount" cc-payment-link></div>
</div>
