<div ng-show="busy" style="position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;">
    <svg class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>

<form class="checkout" name="checkout_form" ng-class="{'disabled':busy}" novalidate>
    <div class="checkout-header">
        <span ng-if="entity_type != fieldData.enums.entities.COUPON">
            <i class="fa checkout_back  fa-chevron-left" ng-show="step1 && !clientPay && payment.payment_flag == 'contract'" ng-click="setStep(0, 1)"></i>
            <i class="fa checkout_back  fa-chevron-left" ng-show="step2 && !clientPay" ng-click="setStep(1, 2);choosePayment('creditPay');setCustomValue()"></i>
        </span>
        <h1 class="checkout-title">
            {{checkout_title}} <span style="display: none;" class="checkout-price"></span>
        </h1>
        <button ng-if="!step3 && !step4 && !step5" type="button" class="close" ng-click="cancel()" style="position: absolute;top: 10px;right: 10px;">×</button>
    </div>
    <div class="step" ng-if="step0 && payment.payment_flag == 'contract'">
        <div class="row">
            <div class="col-md-12">
                <hr style="margin: 5px;">
                <h3 style="text-align: center; margin-bottom: 5px; color: #7F889E;">Would you like to tip your movers?</h3>
                <hr style="margin: 5px;">
            </div>
        </div>
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-md-6 payment-tips">
                        <input type="tel" cc-percent class="form-control" ng-model="tips.perc" ng-change="tipsChange('perc'); editField('tipsPercent');" ng-disabled="true" required>
                    </div>
                    <div class="col-md-6 payment-tips">
                        <input type="tel" cc-currency class="form-control" ng-model="tips.amount" ng-change="tipsChange('amount'); editField('tipsAmount');" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col-md-3">
                <div class="payment-tips-percent" ng-click="tipsPercChange(10); editField('tipsPercent');">
                    %10
                </div>
            </div>
            <div class="col-md-3">
                <div class="payment-tips-percent" ng-click="tipsPercChange(15); editField('tipsPercent');">
                    %15
                </div>
            </div>
            <div class="col-md-3">
                <div class="payment-tips-percent" ng-click="tipsPercChange(20); editField('tipsPercent');">
                    %20
                </div>
            </div>
            <div class="col-md-3">
                <div class="payment-tips-percent" ng-click="tipsPercChange(25); editField('tipsPercent');">
                    %25
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="payment-tips-steb0">
                    <div style="position: relative;    cursor: pointer;" ng-click="tipsSelected()" class="checkout-btn payment_button">
                        <div ng-if="tips.perc == 0 && tips.amount == 0">
                            SKIP<i class="fa  fa-arrow-right"></i>
                        </div>
                        <div ng-if="tips.perc !=0 || tips.amount != 0">
                            ADD TIPS <span ng-if="tips.amount != 0">${{tips.amount}}</span>
                            <span ng-if="tips.perc != 0">${{(total_for_tip * tips.perc / 100).toFixed(2)}}</span>
                            <i class="fa  fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="step" ng-if="step1">
        <p>
            <input type="tel" cc-currency ng-model="charge_value.value" ng-change="changeChargeValue(charge_value.value); editField('amount');" ng-class="{'error':charge_invalide}" class="charge_amount checkout-input checkout-name" placeholder="Amount" style="height: 50px;">
        </p>
        <p>
            <button style="position: relative;    cursor: pointer;" ng-click="goStepTwo();" class="checkout-btn payment_button">Payment info
                <i class="fa  fa-arrow-right"></i></button>
        </p>
    </div>
    <div class="step credit_form " ng-if="step2" ng-init="payment.setPaymentBlockHeight('.credit_form.credit-pay')" style="min-height: 350px;">
        <div style="    text-align: center; padding: 0px 0px 15px; font-size: 30px;font-weight: bold; color: #4E4E4E;">
            <span style="vertical-align: super;"><i style="font-size: 13px;" class="fa fa-dollar"></i></span>{{  charge_value.value | currency:""}}
        </div>
        <div class="credit_form credit-pay" ng-show="statuses.creditPay">
            <div class="row pay" ng-if="payment.name == '' || !payment.name || request.phone == '' || request.email == ''">
                <div class="pay">
                    <div class="col-md-6 col-xs-6 col-sm-6" ng-show="payment.name == '' || !payment.name" ng-init="payment.setPaymentBlockHeight('.credit_form.credit-pay')">
                        <input style="width: 100%" type="text" required ng-class="{'invalid':ifInvalid}" class="checkout-input checkout-card" ng-model="payment.firstName" placeholder="First Name on Card" ng-change="editField('firstName');">
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6" ng-show="payment.name == '' || !payment.name"  ng-init="payment.setPaymentBlockHeight('.credit_form.credit-pay')">
                        <input style="width: 100%" type="text" required ng-class="{'invalid':ifInvalid}" class="checkout-input checkout-card" ng-model="payment.lastName" ng-change="editField('lastName');" placeholder="Last Name on Card">
                    </div>
                </div>
                <div class="pay" ng-show="(entity_type == fieldData.enums.entities.COUPON && request.phone == '') || (entity_type == fieldData.enums.entities.COUPON && request.email == '')">
                    <div class="col-md-6 col-xs-6 col-sm-6" ng-show="entity_type == fieldData.enums.entities.COUPON && request.phone == ''">
                        <input style="width: 100%"
                               type="text"
                               class="checkout-input"
                               ng-model="payment.phoneNumber"
                               ng-change="editField('phoneNumber');"
                               placeholder="Phone"
                               phone-input
                               minlength="14"
                               maxlength="14">
                    </div>
                    <div class="col-md-6 col-xs-6 col-sm-6" ng-show="entity_type == fieldData.enums.entities.COUPON && request.email == ''">
                        <input style="width: 100%" class="checkout-input" ng-model="payment.userEmail" placeholder="Email" type="email" ng-change="editField('userEmail');"  required>
                    </div>
                </div>
                <div class="pay">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <hr style="border-top: solid 1px #C5CCDB; margin-bottom: 5px;">
                    </div>
                </div>
            </div>
            <div class="row pay">
                <div class="col-md-8 col-xs-8 col-sm-8">
                    <input cc-payment-next-div style="width: 100%" required type="tel" cc-type cc-credit-card id="card_number" name="card_number" cc-number class="checkout-input checkout-card" cc-format minlength="17" maxlength="19" ng-model="payment.card_num" placeholder="4111 1111 1111 1111" id="card_num" ng-change="editField('cardNum');"/>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <input cc-payment-next-div style="width: 100%" type="tel" required ng-class="{'invalid':checkout_form.exp_month.$invalid}" class="checkout-input checkout-exp" ng-model="payment.exp_month" minlength="2" placeholder="MM" id="exp_month" cc-exp-month name="exp_month" ng-change="editField('expMonth');"/>
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2">
                    <input cc-payment-next-div type="tel" required ng-class="{'invalid':checkout_form.exp_year.$invalid}" class="checkout-input " style="margin-left: 0px;width: 100%;" ng-model="payment.exp_year" id="exp_year" minlength="2" placeholder="YY" cc-exp-year name="exp_year" ng-change="editField('expYear');"/>
                </div>
            </div>
            <div class="row pay">
                <div class="col-md-8 col-xs-8 col-sm-8" ng-hide="payment.name == '' || !payment.name">
                    <input style="width: 100%" type="text" required ng-class="{'invalid':ifInvalid}" class="checkout-input checkout-card" ng-model="payment.name" ng-change="editField('fullName');" placeholder="Name on Card">
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4" ng-show="!cvv.Amex">
                    <input type="tel" style="width: 100%" required ng-class="{'invalid':checkout_form.ccCvc.$invalid}" style="width: 95px;" class="checkout-input checkout-cvc" ng-model="secure.cvc" minlength="3" placeholder="CVC" cc-cvc cc-type="checkout_form.card_number.$ccType" id="cvc" name="ccCvc" ng-change="editField('secureCode');"/>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4" ng-show="cvv.Amex">
                    <input type="tel" style="width: 100%" required ng-class="{'invalid':ifInvalid}" style="width: 95px;" class="checkout-input checkout-cvc" ng-model="secure.cvcAmex" minlength="3" maxlength="4" placeholder="CVC" cc-cvc cc-type="checkout_form.card_number.$ccType" id="cvc" name="cvcAmex" ng-change="editField('secureCode');"/>
                </div>
            </div>
            <div class="row pay">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <input type="text" ng-class="{'invalid':ifInvalid}" style="width: 100%; pointer-events: none;background: #EAEAEA;" class="checkout-input" ng-model="payment.billing_city" placeholder="City" readonly/>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1">
                    <input type="text" ng-class="{'invalid':ifInvalid}" style="width: 45px;padding: 0px;text-align: center;pointer-events: none;background: #EAEAEA;" class="checkout-input" ng-model="payment.billing_state" readonly/>
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <input type="text" field="request.field_extra_pickup" ng-class="{'invalid':ifInvalid}" style="width: 100%;" maxlength="5" ng-maxlength="5" class="checkout-input" ng-model="payment.billing_zip" placeholder="Postal Code" ng-change="editField('zipCode');"/>
                    <span  ng-hide="entity_type == fieldData.enums.entities.COUPON" tooltip-placement="right" tooltip="Change to {{take_address}} address" class="address_switcher" style="position: absolute;right: -25px;top: 5px;color: #ADADAD; cursor: pointer;" ng-click="switchAddress();editField('zipCode');"><i class="fa fa-arrows-h"></i></span>
                </div>
            </div>
            <p></p>
            <p></p>
            <p style="position: relative;">

            </p>
        </div>
        <div class="check_form check-pay" ng-show="statuses.checkPay" style="min-height: 115px;text-align: center;">
            <p>
                <input type="tel" required id="check_number" mask="9999999999999999" ng-class="{'invalid':ifInvalid}" class="check_input checkout-input checkout-card" ng-model="paymentCheck.check_num" placeholder="Check Number" mask-clean='true' ng-change="editField('checkNum');"/>
            </p>
        </div>
        <div class="check_form cash-pay" ng-show="statuses.cashPay" style="min-height: 115px;">
            <p class="cash_payment">
                Cash Payment </p>
        </div>
        <div class="check_form custom-pay" ng-show="statuses.customPay" style="min-height: 115px;">
            <p class="cash_payment">
                Custom Payment </p>
        </div>
        <p>
            <input style="width: 100%" rows="2" type="text" ng-hide="request.payForStorage || request.storage_invoice || request.request_invoice ||payment.payment_flag == 'contract' || payment.payment_flag == 'Reservation by client' || payment.payment_flag == 'Reservation'|| entity_type == fieldData.enums.entities.COUPON" class="checkout-input" ng-model="payment.payment_flag" placeholder="Description"  ng-change="editField('flag');">
            <p class="notice pull-right" ng-show="request.payForStorage || payment.payment_flag == 'Reservation by client' || request.request_invoice || request.storage_invoice || entity_type == fieldData.enums.entities.COUPON ">
                <i class="icon-info"></i> Zip code must match credit card billing address.
            </p>
            <p ng-if="contract_page.paymentTax.creditCharge.state" class="pull-right" ng-show="!request.payForStorage && payment.payment_flag == 'regular' && !request.request_invoice && !request.storage_invoice && entity_type != fieldData.enums.entities.COUPON && statuses.creditPay ">
                <input type="checkbox" ng-model="payment.creditCardFee" ng-change="choosePayment('creditPay')"><strong>Insert Credit Card processing fee %{{contract_page.paymentTax.creditCharge.value}}</strong>
            </p>
        </p>
        <p>
            <div class="credit_form">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 ">
                        <input type="submit" value="Pay ${{charge_value.value | number : 2}}" ng-click="applyPayment()" class="checkout-btn payment_button">
                    </div>
                </div>
            </div>
        </p>
    </div>
    <div class="pay_options " ng-if="step2" ng-hide="clientPay" ng-init="payment.setPaymentBlockHeight('.credit_form.credit-pay')">
        <div ng-if="contract_page.paymentOptions[2].selected"
             class="option cash"
             ng-click="choosePayment('cashPay')"
             ng-class="{'active':statuses.cashPay}">
            <i class="fa fa-money"></i>
            <p>Cash</p>
        </div>
        <div ng-if="contract_page.paymentOptions[1].selected" class="option credit " ng-click="choosePayment('creditPay');" ng-class="{'active':statuses.creditPay}">
            <i class="icon-credit-card"></i>
            <p>Credit Card</p>
        </div>
        <div ng-if="contract_page.paymentOptions[0].selected"
             class="option check"
             ng-click="choosePayment('checkPay');"
             ng-class="{'active':statuses.checkPay}">
            <i class="fa fa-pencil-square-o"></i>
            <p>Check</p>
        </div>
        <div ng-repeat="option in contract_page.paymentOptions | filter:{ alias: 'custom', selected: true}"
             ng-init="payment.setPaymentBlockHeight('.credit_form.credit-pay')"
             class="option check" ng-click="choosePayment(option.name);"
             ng-class="{'active':statuses[option.name]}">
                <i class="fa fa-pencil-square-o"></i>
                <p ng-bind="option.name"></p>
        </div>
    </div>
    <div class="signature_step" ng-if="step3" ng-init="payment.canvasInit('signatureCanvasPayment')">
        <div class="modal-body">
            <p>
                <hr style="margin: 5px;">
                <h3 style="text-align: center; margin-bottom: 5px; color: #7F889E;">Signature</h3>
                <hr style="margin: 5px;">
            </p>
            <p>
                <div class="signature-form" style="top: 20%" ng-style="(payment.payment_flag == 'regular') && {'display': 'none'}">
                    <div class="signature-times" style="height: 25em;"></div>
                    <hr class="signature-underline" style="width: 95%;">
                </div>
                <canvas style="margin-left: 8px; " id="signatureCanvasPayment" height="450" width="1050" ng-style="(payment.payment_flag == 'regular') && {'background-color': 'white'}"></canvas>
            </p>
        </div>
        <div class="modal-footer signature_footer">
            <button type="button" class="btn  pull-left btn-default payment-btn" ng-click="clearSignature()" ng-show="step3">Clear</button>
            <button type="button" class="btn btn-primary payment-btn" ng-click="saveSignature()" data-dismiss="modal">Done</button>
        </div>
    </div>
    <div class="signature_step" ng-if="step4">
        <div style="text-align: center;">
            <div class="row">
                <div class="col-md-6" ng-hide="request.agreement && !statuses.creditPay">
                    <div class="btn btn-success upload-card-wrapper">
                        <div>
                            <img ng-show="card_photo.front.base64.dataURL && card_photo.front.base64.dataURL !=''" ng-src="{{card_photo.front.base64.compressed.dataURL}}" style="width: 100%;  margin-top: 5px;"/>
                            <input ng-if="!card_photo.front.base64.dataURL || card_photo.front.base64.dataURL ==''" type="file" class="upload-card-btn" image="card_photo.front.base64" accept="image/*" id="inputImage" name="front" resize-max-height="1024" resize-max-width="1024" resize-quality="0.7" resize-type="image/*" ng-image-compress>
                            <div ng-if="!card_photo.front.base64.dataURL || card_photo.front.base64.dataURL ==''" ng-click="logClickButtons('Clicked on Credit Card Slip uploader')">
                                <i class="fa fa-camera upload-camera-icon" aria-hidden="true"></i>
                            </div>
                            <div class="upload-card-text"> Credit Card Slip
                                <div ng-show="card_photo.front.base64.dataURL && card_photo.front.base64.dataURL !=''" class="remove-image" ng-click="removeFile('front');logClickButtons('Credit Card Slip image removed')">
                                    <span class="cancel" style="color: white;"> &times;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn btn-success upload-card-wrapper">
                        <div>
                            <img ng-show="card_photo.back.base64.dataURL && card_photo.back.base64.dataURL !=''" ng-src="{{card_photo.back.base64.compressed.dataURL}}" style="width: 100%;  margin-top: 5px;"/>
                            <input ng-if="!card_photo.back.base64.dataURL || card_photo.back.base64.dataURL ==''" type="file" class="upload-card-btn" accept="image/*" image="card_photo.back.base64" id="inputImage" name="back" resize-max-height="1024" resize-max-width="1024" resize-quality="0.7" resize-type="image/*" ng-image-compress>
                            <div ng-if="!card_photo.back.base64.dataURL || card_photo.back.base64.dataURL ==''" ng-click="logClickButtons('Clicked on Customer ID uploader')">
                                <i class="fa fa-camera upload-camera-icon" aria-hidden="true"></i>
                            </div>
                            <div class="upload-card-text">Customer ID <span ng-if="!request.agreement">(optional)</span>
                                <div ng-show="card_photo.back.base64.dataURL && card_photo.back.base64.dataURL !=''" class="remove-image" ng-click="removeFile('back');logClickButtons('Customer ID image removed')">
                                    <span class="cancel" style="color: white;"> &times;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn pull-left btn-default payment-btn" style="  " ng-click="removeFile('all')">Clear</button>
            <button type="button" class="btn btn-primary payment-btn" ng-click="saveFile();logClickButtons('Save Images button clicked')" data-dismiss="modal" ng-disabled="allPhotos()">Save</button>
        </div>
    </div>
    <div class="signature_step" ng-if="step5" id="reservation"  ng-init="payment.canvasInit('signatureCanvasReserv')">
        <div class="modal-body">
            <p>
                <hr style="margin: 5px;">
                <h3 style="text-align: center; margin-bottom: 5px; color: #7F889E;">Please Sign Confirmation Page</h3>
                <hr style="margin: 5px;">
            </p>
            <p>
                <div class="signature-form" style="top: 20%">
                    <div class="signature-times" style="height: 22em;"></div>
                    <hr class="signature-underline" style="width: 800px;">
                </div>
                <canvas style="margin-left: 8px; " id="signatureCanvasReserv" height="450" width="800"></canvas>
            </p>
        </div>
        <div class="modal-footer signature_footer">
            <button type="button" class="btn btn-md pull-left btn-default payment-btn" ng-click="cancel()">Close</button>
            <button type="button" class="btn btn-md pull-left btn-default payment-btn" ng-click="clearReservSignature()">Clear</button>
            <button type="button" class="btn btn-md btn-primary payment-btn" ng-click="saveReservSignature();logClickButtons('Save reservation sign button clicked')" data-dismiss="modal">Save</button>
        </div>
    </div>
</form>

<style>
    .remove-image {
        display: inline-block;
        color: #7F889E;
        font-size: 20px;
        cursor: pointer;
        float: right;
    }

    .upload-camera-icon {
        font-size: 55px;
        padding-top: 5px;
    }

    .upload-card-wrapper {
        position: relative;
        margin-bottom: 10px;
        line-height: 1.7;
        background-color: #4D93FF;
        border-color: #447ED8;
        margin-right: 20px;
        border-radius: 10px !important;
    }

    .upload-card-wrapper:hover {
        background-color: #4078CE;
        border-color: #3863A5;
    }

    .upload-card-text {
        font-size: 25px;
        font-weight: bold;
    }

    .upload-card-btn {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        display: block !important;
        /*width: 235px !important;
        height: 23px !important;*/
        opacity: 0 !important;
        overflow: hidden !important;
        cursor: pointer;
    }

    .checkout .pay_options {
        position: absolute;
        padding: 15px;
        top: 34px;
        left: -59px;
    }

    .checkout .check_input {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }

    input.charge_amount.error {
        border-color: #FBD0D0;
        background: #FFEAEA;
    }

    .option.active {
        background: #40ABFD !important;
        color: white !important;
        font-weight: 300;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .option:hover {
        color: #41A9FF;
    }

    .option.active:hover {
        color: white;
    }

    .checkout .option p {
        font-size: 12px;
        line-height: 10px;
    }

    .checkout .cash_payment {
        text-align: center;
        padding: 25px 0px 15px;
        font-size: 20px;
        font-weight: bold;
        /* margin-top: 20px; */
        letter-spacing: -1px;
        color: #4E4E4E;
        text-transform: UPPERCASE;
    }

    .checkout .pay_options .option {
        font-size: 20px;
        padding: 5px;
        width: 100px;
        margin-left: 45px;
        border-radius: 0px 3px 3px 0px;
        color: #DADADA;
        font-weight: normal;
        cursor: pointer;
        text-align: center;
        position: relative;
        background-color: #F3F6FA;
    }

    .checkout .step {
        width: 600px;
        margin: 0 auto;
    }

    .checkout .charge_amount {
        width: 100%;
        font-size: 24px;
        /*padding: 23px;*/
        text-align: center;
    }

    .checkout .checkout_back {
        position: absolute;
        margin: 12px;
        margin-left: 10px;
        cursor: pointer;
        text-shadow: 0px -1px 0px #A9A7A7;
        font-size: 16px;
        color: #D6D6D6;
    }

    .checkout .fa-arrow-right {
        position: absolute;
        right: 10px;
        top: 5px;
        padding: 4px;
        font-size: 10px;
        background: #138DF7;
        border: 1px solid;
        border-color: #1F97FB;
        border-radius: 17px;
    }

    .checkout #card_number.Visa {
        background-position: 130% 5px, 0px 0px;
    }

    .checkout #card_number.Mastercard {
        background-position: 130% -20px, 0px 0px;
    }

    .checkout #card_number.AMEX {
        background-position: 130% -48px, 0px 0px;

    }

    .checkout #card_number.Discover {
        background-position: 130% -80px, 0px 0px;
    }

    .checkout #card_number {
        background-image: url(../moveBoard/content/img/payment.png);
        background-repeat: no-repeat;
        background-size: 120px 361px, 120px 361px;
        background-position: 130% 30px, 0px 0px;
    }

    .checkout {
        padding: 15px;
        background: #f3f6fa;
        border: 1px solid;
        border-color: #c2cadb #bbc5d6 #b7c0cd;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }

    .checkout > p {
        zoom: 1;
    }

    .checkout > p:before, .checkout > p:after {
        content: '';
        display: table;
    }

    .checkout > p:after {
        clear: both;
    }

    .checkout > p + p {
        margin-top: 15px;
    }

    .checkout-header {
        position: relative;
        margin: -15px -15px 15px;
    }

    .checkout-title {
        text-align: center;
        padding: 0 15px;
        margin: 0px;
        line-height: 38px;
        font-size: 13px;
        font-weight: bold;
        color: #7f889e;
        text-shadow: 0 1px rgba(255, 255, 255, 0.7);
        background: #eceff5;
        border-bottom: 1px solid #c5ccdb;
        border-radius: 7px 7px 0 0;
        background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
        background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
        background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
        background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
        -webkit-box-shadow: inset 0 1px white;
        box-shadow: inset 0 1px white;
    }

    .checkout-title:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }

    .checkout-price {
        position: absolute;
        top: -14px;
        right: -14px;
        width: 40px;
        font: 14px/40px Helvetica, Arial, sans-serif;
        color: white;
        text-align: center;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
        text-indent: -1px;
        letter-spacing: -1px;
        background: #e54930;
        border: 1px solid;
        border-color: #b33323 #ab3123 #982b1f;
        border-radius: 21px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: -webkit-linear-gradient(top, #f75a3b, #d63b29);
        background-image: -moz-linear-gradient(top, #f75a3b, #d63b29);
        background-image: -o-linear-gradient(top, #f75a3b, #d63b29);
        background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
        -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .checkout-price:before {
        content: '';
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
        border: 2px solid #f5f8fb;
        border-radius: 18px;
        -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
    }

    input {
        margin: 0;
        line-height: normal;
        font-family: inherit;
        font-size: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .checkout-input {
        display: inline-block;
        padding: 0 7px;
        height: 32px;
        color: #525864;
        background: white;
        border: 1px solid;
        border-color: #b3c0e2 #bcc5e2 #c0ccea;
        border-radius: 4px;
        background-image: -webkit-linear-gradient(top, #f6f8fa, white);
        background-image: -moz-linear-gradient(top, #f6f8fa, white);
        background-image: -o-linear-gradient(top, #f6f8fa, white);
        background-image: linear-gradient(to bottom, #f6f8fa, white);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    }

    .checkout-input:focus {
        border-color: #46aefe;
        outline: none;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
    }

    .lt-ie9 .checkout-input {
        line-height: 30px;
    }

    .checkout-name {
        width: 150px;
    }

    .checkout-card {
        width: 185px;
    }

    .checkout-exp,
    .checkout-cvc {
        /*margin-left: 15px;*/
        width: 45px;
    }

    .checkout-btn {
        width: 100%;
        height: 34px;
        padding: 0;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid;
        border-color: #1486f9 #0f7de9 #0d6acf;
        background: #1993fb;
        border-radius: 4px;
        background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
        background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
        background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
        background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .checkout-btn:active {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        border-color: #075bba #0c69d2 #0f7de9;
        background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
        background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
        background-image: -o-linear-gradient(top, #1281dc, #1593fc);
        background-image: linear-gradient(to bottom, #1281dc, #1593fc);
        -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    }

    :-moz-placeholder {
        color: #acb6c8 !important;
    }

    ::-moz-placeholder {
        color: #acb6c8 !important;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #acb6c8;
    }

    :-ms-input-placeholder {
        color: #acb6c8;
    }

    ::-moz-focus-inner {
        padding: 0 !important;
        border: 0 !important;
    }

    .pay {
        margin-top: 10px;
    }

</style>

<div class="modal-footer" style="display:none;">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

    <button type="button" class="btn btn-succes" ng-click="applyPayment()">Apply Payment</button>

    <div class="" style="display: inline-block;" request="request" data-company="BFRM" data-amount="{{chargeAmount}}" data-name="Enter Amount" cc-payment-link></div>
</div>

