<div>
    <div class="modal-body">
        <form class="form-horizontal" name="clientForm" role="form">
            <div class="row form-group">
                <div class="col-sm-7 no-padding">
                    <label class="col-sm-5 control-label" style="text-align: left;">Date of Payment</label>
                    <div class="col-sm-7">
                        <input ng-model="receipt.date" class="required  form-control  form-select" placeholder="Date Of Birth" number-of-months="1" change-year="true" min-date="1916" cc-da-picker data-type="pickup">
                    </div>
                </div>
                <div class="col-sm-5 no-padding">
                    <div class="col-sm-12">
                        <label> <input type="checkbox" ng-model="receipt.pending"> Pending </label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-7">
                    <div class="row form-group">
                        <div class="col-sm-5 no-padding">
                            <label class="control-label" style="text-align: left;">Type of Payment</label>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="receipt.type">
                                <option value="customrefund">Custom Refund</option>
                                <option value="cash">Cash</option>
                                <option value="check">Check</option>
                                <option value="creditcard">Credit Card</option>
                                <option value="Reservation">Reservation</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-5 no-padding">
                            <label class="control-label" style="text-align: left;">Amount</label>
                        </div>
                        <div class="col-sm-7">
                            <input cc-currency ng-model="receipt.amount" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group" ng-show="receipt.type =='check'">
                        <div class="col-sm-5 no-padding">
                            <label class="control-label" style="text-align: left;">Check No</label>
                        </div>
                        <div class="col-sm-7">
                            <input ng-model="receipt.checkN" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group" ng-show="receipt.type =='creditcard' || receipt.type =='Reservation'">
                        <div class="col-sm-5 no-padding">
                            <label class="control-label" style="text-align: left;">Card Type</label>
                        </div>
                        <div class="col-sm-7">
                            <select class="form-control" ng-model="receipt.cctype">
                                <option value="visa">Visa</option>
                                <option value="master">Master Card</option>
                                <option value="americanexpress">American Express</option>
                                <option value="discover">Discover</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <small class="text-danger"> If this is a deposit charge, please close this window and use the reservation charge button to charge the deposit. Unless you charged the deposit by credit card in other source input the deposit info as a reservation. </small>
                </div>
            </div>
            <!-- CREDIT CARD FIELD -->
            <div ng-show="receipt.type =='creditcard' || receipt.type =='Reservation'">
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="text-align: left;">Card No</label>
                    <div class="col-sm-8">
                        <input ng-model="receipt.ccardN" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="text-align: left;">CVV</label>
                    <div class="col-sm-4">
                        <input ng-model="receipt.cvv" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="text-align: left;">Expire Date</label>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="receipt.expmonth">
                            <option ng-repeat="n in ::range(1,12,1)" value="{{n}}">{{n}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" ng-model="receipt.expyear">
                            <option ng-repeat="n in ::range(currYear,2100,1)" value="{{n}}">{{n}}
                            </option>
                        </select>

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="text-align: left;">Auth Code</label>
                    <div class="col-sm-4">
                        <input ng-model="receipt.auth_code" class="form-control">
                    </div>
                </div>
            </div>
            <!-- CREDIT CARD FIELD -->
            <div class="form-group">
                <div class="col-sm-10">
                    <label style="text-align: left;padding: 0;margin-bottom: 10px;" class="col-sm-3 control-label">Notes</label>
                    <textarea class="col-sm-12 form-control input-element-processed" style="resize: vertical;" ng-model="receipt.description"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="Save()">Save</button>
        <button type="button" class="btn btn-primary" ng-click="Cancel()">Cancel</button>
    </div>
</div>
