<div ng-if="busy">
    <div class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<div ng-class="{'disabled': busy}">
    <div class="modal-header gray">
        <h2>Payments | Request #{{request.nid}}</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-9 payments_buttons" style="font-weight: 600;padding: 10px;"
                 ng-class="{'col-md-8': entity_type == fieldData.enums.entities.STORAGEREQUEST}">
                <!-- <div class="" request="request" data-name="Add payment" cc-payment-link><i class=" icon-credit-card"></i></div>-->
                <div class="">
                    <a href="javascript:void(0)" class="btn btn-primary" ng-click="addCustomPayment()">
                        <i class=" icon-credit-card"></i>Add Custom Payment
                    </a>
                    <a href="javascript:void(0)" ng-hide="basicSettings.AuthPaymentSSL" class="btn btn-primary"
                       ng-click="addAuthOldPayment()" ng-if="entity_type != fieldData.enums.entities.STORAGEREQUEST">
                        <i class=" icon-credit-card"></i>Add Online Payment
                    </a>
                    <a href="javascript:void(0)" ng-show="basicSettings.AuthPaymentSSL" class="btn btn-primary"
                       ng-click="addAuthPayment()">
                        <i class=" icon-credit-card"></i>Add Online Payment
                    </a>
                    <a href="javascript:void(0)" ng-show="basicSettings.AuthPaymentSSL" class="btn btn-primary"
                       ng-click="addReservationPayment()" ng-if="entity_type != fieldData.enums.entities.STORAGEREQUEST">
                        <i class=" icon-credit-card"></i>Reservation charge
                    </a>
                    <a href="javascript:void(0)" ng-show="basicSettings.AuthPaymentSSL"
                       style="background: none;color: #E05151;" class="btn btn-primary" ng-click="openRefund()">
                        <i class=" icon-credit-card"></i>Refund
                    </a>
                </div>
            </div>
            <div class="col-md-3 pull-right " style="font-weight: 600;padding: 10px;font-size: 24px;" ng-if="entity_type != fieldData.enums.entities.STORAGEREQUEST">
                Total : ${{calculatePayments() | number : 2}}
            </div>
            <div class="col-md-4 pull-right " style="font-weight: 600;padding: 10px;font-size: 24px;"
                 ng-if="entity_type == fieldData.enums.entities.STORAGEREQUEST">
                Balance :
                <span ng-class="{'positive-balance': calculatePayments() >=0, 'negative-balance': calculatePayments() < 0 }">
                    ${{calculatePayments() | number : 2}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="inside_box">
            <h2 class="small_box_header text_center">Payments</h2>
            <table style="width: 100%;position: relative;">
                <thead>
                <tr>
                    <th style="padding-bottom: 5px;">Type</th>
                    <th class="value">Date</th>
                    <th class="value">Notes</th>
                    <th class="value">Amount</th>
                    <th class="value">Pending</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="receipt in receipts | orderBy : '-created' track by $index"
                    ng-class="{'active_row': activeRow === $index}"
                    ng-click="prepareToDelete($index, receipt.id)"
                    ng-dblclick="showReceipt(receipt.id)" style="cursor: pointer;">
                    <td style="padding: 5px;">
                        <span ng-if="receipt.type">
                          {{receipt.payment_flag}}
                        </span>
                        <span ng-if="receipt.transaction_id == 'Custom Payment'">{{customType(receipt)}}</span>
                        <span ng-if="receipt.transaction_id != 'Custom Payment'">#{{receipt.transaction_id}}</span>
                    </td>
                    <td >{{receipt.created | amFromUnix | amDateFormat: 'MMMM DD, YYYY hh:mm A'}}</td>
                    <td>{{receipt.description || receipt.notes}}</td>
                    <td>$<span ng-if="receipt.refunds">-</span>{{receipt.amount | number : 2}}</td>
                    <td><input ng-click="changePending(receipt)" type="checkbox" value="{{receipt.pending}}"
                               ng-model="receipt.pending"></td>
                </tr>
                </tbody>
            </table>
            <cc-invoice-table invoices="invoices" request="request" nid="request.nid" entitytype="entitytype"
                              prorate="prorate"></cc-invoice-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div style="float: left;">
        <a href="javascript:void(0)" class="btn btn-primary" ng-click="createInvoice()">
            <span ng-if="entity_type != fieldData.enums.entities.STORAGEREQUEST">Create  Invoice</span>
            <span ng-if="entity_type == fieldData.enums.entities.STORAGEREQUEST">Create  Charge</span>
        </a>
        <a href="javascript:void(0)" class="btn btn-primary" ng-click="proRate()" ng-if="entity_type == fieldData.enums.entities.STORAGEREQUEST">
            <i class=" icon-credit-card"></i>
            Pro rate
        </a>
        <a href="javascript:void(0)" class="btn btn-danger" ng-click="removeReceipt()" ng-if="activeRow != -1">
            Remove Payment
        </a>
    </div>
    <button type="button" class="btn btn-primary" ng-click="save()">Ok</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
