<div ng-show="busy" style="position: absolute;margin-top: 10px;"><svg class="spinner"  width="15px" height="15px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg> </div>
        <button ng-if="refund" class="auth_button btn activebtn"  style="background: #F96E61;" ng-click="addRefund()">Sumbit Refund </button>


       <form ng-hide="refund || test" method="post" ng-class="{'disabled': !value}" target="_blank"  action="https://secure.authorize.net/gateway/transact.dll">
                <input type="hidden" name="x_login" value="{{api_login_id}}">
                <input type="HIDDEN" name="x_invoice_num" value="{{request.nid}}">
                <input type="hidden" name="x_fp_hash" value="{{fingerPrint}}">
                <input type="hidden" name="x_amount" value="{{value}}">
               <input type="hidden" name="x_fp_timestamp" value="{{fp_timestamp}}">
                <input type="hidden" name="x_fp_sequence" value="{{fp_sequence}}">
                <input type="hidden" name="x_version" value="3.1">
                <input type="HIDDEN" name="x_description" value="Move Reservation #{{request.nid}}">
                <input type="hidden" name="x_show_form" value="payment_form">

                <input type="hidden" name="x_method" value="cc">
                <input type="hidden" name="x_company" value="{{company}}">
                <input type="hidden" name="x_receipt_link_method" value="LINK">
                <input type="hidden" name="x_receipt_link_text" value="Back to Request Page">
                <input type="hidden" name="x_receipt_link_url" value="">
                <input type="hidden" name="x_cust_id" value="1">

                <input type="submit" id="adminbutton" class="auth_button btn" ng-class="{'activebtn': active}" style="padding-left: 35px;" value="{{button_name}}">
                <input type="hidden" name="x_logo_url" value="{{request.company_logo_url}}">
                <input type="hidden" name="x_first_name" value="{{request.first_name}}">
                <input type="hidden" name="x_last_name" value="{{request.last_name}}">
                <input type="hidden" name="x_phone" value="{{request.phone | nationalPhoneFormatter}}">
                <input type="hidden" name="x_email" value="{{request.email}}">
                <input type="hidden" name="x_address" value="{{request.adrfrom.value}}">
                <input type="hidden" name="x_city" value="{{request.city_from.value}}">
                <input type="hidden" name="x_state" value="{{request.state_from.value}}">
                <input type="hidden" name="x_zip" value="{{request.zip_from.value}}">
                <input type="hidden" name="x_country" value="US">

       </form>

<form ng-show="test" method="post" ng-class="{'disabled': !value}" target="_blank"  action="https://test.authorize.net/gateway/transact.dll">
    <input type="hidden" name="x_login" value="{{api_login_id}}">
    <input type="HIDDEN" name="x_invoice_num" value="{{request.nid}}">
    <input type="hidden" name="x_fp_hash" value="{{fingerPrint}}">
    <input type="hidden" name="x_amount" value="{{value}}">
    <input type="hidden" name="x_fp_timestamp" value="{{fp_timestamp}}">
    <input type="hidden" name="x_fp_sequence" value="{{fp_sequence}}">
    <input type="hidden" name="x_version" value="3.1">
    <input type="HIDDEN" name="x_description" value="Move Reservation #{{request.nid}}">
    <input type="hidden" name="x_show_form" value="payment_form">

    <input type="hidden" name="x_method" value="cc">
    <input type="hidden" name="x_company" value="{{company}}">
    <input type="hidden" name="x_receipt_link_method" value="LINK">
    <input type="hidden" name="x_receipt_link_text" value="Back to Request Page">
    <input type="hidden" name="x_receipt_link_url" value="">
    <input type="hidden" name="x_cust_id" value="1">

    <input type="submit" id="adminbutton" class="auth_button btn" ng-class="{'activebtn': active}" style="padding-left: 35px;" value="{{button_name}}">
    <input type="hidden" name="x_logo_url" value="{{request.company_logo_url}}">
    <input type="hidden" name="x_first_name" value="{{request.first_name}}">
    <input type="hidden" name="x_last_name" value="{{request.last_name}}">
    <input type="hidden" name="x_phone" value="{{request.phone | nationalPhoneFormatter}}">
    <input type="hidden" name="x_email" value="{{request.email}}">
    <input type="hidden" name="x_address" value="{{request.adrfrom.value}}">
    <input type="hidden" name="x_city" value="{{request.city_from.value}}">
    <input type="hidden" name="x_state" value="{{request.state_from.value}}">
    <input type="hidden" name="x_zip" value="{{request.zip_from.value}}">
    <input type="hidden" name="x_country" value="US">

</form>


