
<form class="checkout" name="checkout_form">
    <div class="checkout-header">
        <span>
            <i class="fa checkout_back  fa-chevron-left" ng-show="step2" ng-click="step1=true;step2=false;"></i>
        </span>
        <h1 class="checkout-title">
            {{checkout_title}}
            <span style="display: none;" class="checkout-price"></span>
        </h1>
    </div>
    <div class="step" ng-show="step1">
        <p>
            <input type="text" required="" ng-model="charge_value" class="charge_amount checkout-input checkout-name" placeholder="Amount" autofocus>
        </p>
        <p>
            <div style="position: relative;    cursor: pointer;line-height: 30px;" ng-click="step1=false;step2=true;" class="checkout-btn payment_button">Payment info <i class="fa  fa-arrow-right"></i></div>
        </p>
    </div>
    <div class="step " ng-show="step2">
        <div style="    text-align: center;
    padding: 0px 0px 15px;
    font-size: 30px;
    font-weight: bold;
    color: #4E4E4E;">
            <span style="vertical-align: super;"><i style="font-size: 13px;" class="fa fa-dollar"></i></span>{{charge_value}}
        </div>
        <p>

            <input type="text" required="" data-mask="9999 9999 9999 9999" ng-class="{'invalid':ifInvalid}" cc-payment-next class="checkout-input checkout-card" ng-model="card_num" ng-minlength="19" placeholder="4111 1111 1111 1111">
            <input type="text" required="" data-mask="99" ng-class="{'invalid':ifInvalid}" cc-payment-next class="checkout-input checkout-exp" ng-model="exp_month" autofocus ng-minlength="2" max="2" placeholder="MM">
            <input type="text" required="" data-mask="99" ng-class="{'invalid':ifInvalid}" cc-payment-next class="checkout-input " style="margin-left: 0px;width: 45px;" ng-model="exp_year" ng-minlength="2" max="2" placeholder="YY">
        </p>
        <p>
            <input type="text" required="" ng-class="{'invalid':ifInvalid}" class="checkout-input checkout-card" ng-model="name" placeholder="Name on Card" >
            <input type="text" required="" data-mask="999" ng-class="{'invalid':ifInvalid}" style="width: 95px;" class="checkout-input checkout-cvc" ng-model="cvc" ng-minlength="3" max="3" placeholder="CVC">
        </p>
        <p>
            <input type="submit" value="Pay" ng-click="applyPayment()" class="checkout-btn">
        </p>
    </div>

</form>

<style>
    .checkout .step{
        width: 300px;
        margin: 0 auto;
    }
    .checkout .charge_amount{
        width: 100%;
        font-size: 24px;
        /*padding: 23px;*/
        text-align: center;
    }
    .checkout .checkout_back{
        position: absolute;
        margin: 12px;
        margin-left: 10px;
        cursor: pointer;
        text-shadow: 0px -1px 0px #A9A7A7;
        font-size: 16px;
        color: #D6D6D6;
    }
    .checkout .fa-arrow-right{
        position: absolute;
        right: 10px;
        top: 5px;
        padding: 4px;
        font-size: 10px;
        background: #138DF7;
        border: 1px solid;
        border-color: #1F97FB;
        border-radius: 17px;
    }
    .checkout {
        padding: 15px;
        background: #f3f6fa;
        border: 1px solid;
        border-color: #c2cadb #bbc5d6 #b7c0cd;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }
    .checkout > p {
        zoom: 1;
    }
    .checkout > p:before, .checkout > p:after {
        content: '';
        display: table;
    }
    .checkout > p:after {
        clear: both;
    }
    .checkout > p + p {
        margin-top: 15px;
    }

    .checkout-header {
        position: relative;
        margin: -15px -15px 15px;
    }

    .checkout-title {
        text-align: center;
        padding: 0 15px;
        line-height: 38px;
        font-size: 13px;
        font-weight: bold;
        color: #7f889e;
        text-shadow: 0 1px rgba(255, 255, 255, 0.7);
        background: #eceff5;
        border-bottom: 1px solid #c5ccdb;
        border-radius: 7px 7px 0 0;
        background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
        background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
        background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
        background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
        -webkit-box-shadow: inset 0 1px white;
        box-shadow: inset 0 1px white;
    }
    .checkout-title:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }

    .checkout-price {
        position: absolute;
        top: -14px;
        right: -14px;
        width: 40px;
        font: 14px/40px Helvetica, Arial, sans-serif;
        color: white;
        text-align: center;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
        text-indent: -1px;
        letter-spacing: -1px;
        background: #e54930;
        border: 1px solid;
        border-color: #b33323 #ab3123 #982b1f;
        border-radius: 21px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: -webkit-linear-gradient(top, #f75a3b, #d63b29);
        background-image: -moz-linear-gradient(top, #f75a3b, #d63b29);
        background-image: -o-linear-gradient(top, #f75a3b, #d63b29);
        background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
        -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    .checkout-price:before {
        content: '';
        position: absolute;
        top: 3px;
        bottom: 3px;
        left: 3px;
        right: 3px;
        border: 2px solid #f5f8fb;
        border-radius: 18px;
        -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
    }

    input {
        margin: 0;
        line-height: normal;
        font-family: inherit;
        font-size: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .checkout-input {
        display: inline-block;
        padding: 0 7px;
        height: 50px;
        color: #525864;
        background: white;
        border: 1px solid;
        border-color: #b3c0e2 #bcc5e2 #c0ccea;
        border-radius: 4px;
        background-image: -webkit-linear-gradient(top, #f6f8fa, white);
        background-image: -moz-linear-gradient(top, #f6f8fa, white);
        background-image: -o-linear-gradient(top, #f6f8fa, white);
        background-image: linear-gradient(to bottom, #f6f8fa, white);
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    }
    .checkout-input:focus {
        border-color: #46aefe;
        outline: none;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
    }
    .lt-ie9 .checkout-input {
        line-height: 30px;
    }

    .checkout-name {
        width: 150px;
    }

    .checkout-card {
        width: 185px;
    }

    .checkout-exp,
    .checkout-cvc {
        margin-left: 15px;
        width: 45px;
    }

    .checkout-btn {
        width: 100%;
        height: 34px;
        padding: 0;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid;
        border-color: #1486f9 #0f7de9 #0d6acf;
        background: #1993fb;
        border-radius: 4px;
        background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
        background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
        background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
        background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
        -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    .checkout-btn:active {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        border-color: #075bba #0c69d2 #0f7de9;
        background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
        background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
        background-image: -o-linear-gradient(top, #1281dc, #1593fc);
        background-image: linear-gradient(to bottom, #1281dc, #1593fc);
        -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    }

    :-moz-placeholder {
        color: #acb6c8 !important;
    }

    ::-moz-placeholder {
        color: #acb6c8 !important;
        opacity: 1;
    }

    ::-webkit-input-placeholder {
        color: #acb6c8;
    }

    :-ms-input-placeholder {
        color: #acb6c8;
    }

    ::-moz-focus-inner {
        padding: 0 !important;
        border: 0 !important;
    }

</style>