<div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></div>
</div>
<div ng-class="{'disabled': busy}" >
    <div class="modal-header gray col-md-12">
        <div class="col-md-8">
            <h2>Payments | Request #{{request.nid}}</h2>
        </div>
        <div class="col-md-4 pull-right " style="font-weight: 600;padding: 10px;font-size: 24px;">
                Total : ${{calculatePayments() | number : 2}}
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="inside_box">
                <table style="width: 100%;position: relative;">
                    <thead>
                    <tr>
                        <th style="padding-bottom: 5px;">Type</th>
                        <th class="value">Date</th>
                        <th class="value">Amount</th>
                        <th>TP Company</th>
                    </tr>
                    </thead>

                    <tbody>
                            <tr ng-repeat="receipt in receipts track by $index"
                                ng-class="{'active_row': activeRow === $index}"
                                ng-click="showReceiptModal(receipt, $index)" style="cursor: pointer;">
                                <td style="padding: 5px;">
                                <span ng-if="receipt.type">
                                    {{receipt.type}}  :
                                </span>
                                 {{receipt.transaction_id}}</td>
                                <td>{{dateFormat(receipt.created || receipt.date)}}</td>
                                <td>$ {{receipt.amount | number : 2}}</td>
                                <td></td>
                            </tr>
                    </tbody>
                </table>

            </div>
        </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>

</div>

</div>