<div>
	<div class="busyoverlay" ng-show="busy">
		<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" style="top: 25%;">
			<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30" ></circle>
	    </svg>
    </div>
    <div class="modal-header gray">
        <h2>Payments | Receipt #{{receipt.id}}</h2>
    </div>
    <div class="row">
	    <div class="col-md-12" style="padding:25px;">

			<div class="field-type-of-entrance-from"><span class="mtitle">Type : </span> <span>#{{receipt.payment_flag}}</span> </div>
	        <div class="field-type-of-entrance-from"><span class="mtitle">Transaction id : </span> <span ng-if="receipt.transaction_id == 'Custom Payment'">{{customType(receipt)}}</span> <span ng-if="receipt.transaction_id != 'Custom Payment'">#{{receipt.transaction_id}}</span></div>
	        <div class="field-type-of-entrance-from"><span class="mtitle">Date : </span> <span>{{dateFormat(receipt.created || receipt.date)}}</span> </div>
	        <div class="field-type-of-entrance-from"><span class="mtitle">Name : </span> {{receipt.name }}</div>
	        <div class="field-type-of-entrance-from"><span class="mtitle">Phone : </span> {{receipt.phone | nationalPhoneFormatter}} </div>
	        <div class="field-type-of-entrance-from"><span class="mtitle">Email : </span> {{receipt.email }} </div>

	        <div class="field-type-of-entrance-from"><span class="mtitle">Amount: </span> <span>{{receipt.amount | number : 2}}   </span></div>
	        <div class="field-type-of-entrance-from"><span class="mtitle">Card Type : </span>
	            <span>{{receipt.card_type}} </span> <span>{{receipt.cctype}} </span></div>
	        <div class="field-type-of-entrance-from"><span class="mtitle">Account number </span> <span>$ {{receipt.account_number}}   </span></div>
			<div class="field-type-of-entrance-from"><span class="mtitle">Card number </span>**** <span>{{receipt.ccardN}}   </span></div>
	        <div class="field-type-of-entrance-from"><span class="mtitle">Auth code: </span> <span>{{receipt.auth_code}}   </span></div>
	    </div>
	</div>

	<div class="row" style="padding:25px;" ng-if="cards && cards.length > 0">
	    <div class="col-md-4" style="text-align: center;" ng-repeat="image in cards track by $index"  >
	    	<img class="card-signatured-box" ng-click="openCardPhoto(image)" ng-src="{{image}}" style="cursor: pointer;">
	    </div>
	</div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
