<div>
    <div class="modal-body">
        <div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg></div>
        </div>
        <form class="form-horizontal" name="clientForm" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left;">Amount</label>
                <div class="col-sm-4" ng-class="{ 'has-error': clientForm.amount.$invalid || clientForm.amount.$error.required || data.amount <= 0}">
                    <input cc-currency ng-model="data.amount" name="amount" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left;">Name</label>
                <div class="col-sm-4" ng-class="{ 'has-error': clientForm.name.$invalid || clientForm.name.$error.required}">
                    <input type="text" ng-model="data.name" name="name" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left;">Email</label>
                <div class="col-sm-4" ng-class="{'has-error': clientForm.email.$error.required || clientForm.email.$error.email || clientForm.email.$invalid}">
                    <input type="email" ng-model="data.email" name="email" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left;">Phone</label>
                <div class="col-sm-4"  ng-class="{ 'has-error': clientForm.phone.$invalid || clientForm.phone.$error.mask || clientForm.phone.$error.required}">
                    <input type="text"
                           ng-model="data.phone"
                           name="phone"
                           class="form-control"
                           phone-input
                           minlength="14"
                           maxlength="14"
                           type="text"
                           ng-model-options="{ allowInvalid: true }"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" style="text-align: left;">Zip code</label>
                <div class="col-sm-4" ng-class="{ 'has-error': clientForm.zip_code.$invalid || clientForm.zip_code.$error.required || clientForm.zip_code.$error.mask }">
                    <input ng-model="data.zip_code" name="zip_code" class="form-control" size="5" maxlength="5" required>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-3 control-label" style="text-align: left;" >Transaction ID</label>
                <div class="col-sm-4" ng-class="{ 'has-error': clientForm.trans_id.$invalid || clientForm.trans_id.$error.required}">
                    <input ng-model="data.trans_id" name="trans_id" class="form-control" required>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-3 control-label" style="text-align: left;" >Receipt ID</label>
                <div class="col-sm-4" ng-class="{ 'has-error': clientForm.receipt_id.$invalid || clientForm.receipt_id.$error.required}">
                    <input ng-model="data.receipt_id" name="receipt_id" class="form-control" required>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" style="text-align: left;" >Card No</label>
                    <div class="col-sm-8" ng-class="{ 'has-error': clientForm.card_number.$invalid || clientForm.card_number.$error.required}">
                        <input ng-model="data.credit_card.card_number" name="card_number" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-3 control-label" style="text-align: left;" >CVV</label>
                    <div class="col-sm-4" ng-class="{ 'has-error': clientForm.card_code.$invalid || clientForm.card_code.$error.required}">
                        <input ng-model="data.credit_card.card_code" name="card_code" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-3 control-label" style="text-align: left;" >Expire Date</label>
                    <div class="col-sm-2" ng-class="{ 'has-error': clientForm.expmonth.$invalid || clientForm.expmonth.$error.required}">
                        <select class="form-control"
                                ng-model="expmonth" name="expmonth" required>
                            <option
                                    ng-repeat="n in ::range(1,12,1)" value="{{n}}">{{n}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4"  ng-class="{ 'has-error': clientForm.expyear.$invalid || clientForm.expyear.$error.required}">
                        <select class="form-control"
                                ng-model="expyear" name="expyear" required>
                            <option
                                    ng-repeat="n in ::range(currentYear,2100,1)" value="{{n}}">{{n}}
                            </option>
                        </select>

                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <label  style="text-align: left;padding: 0;margin-bottom: 10px;" class="col-sm-3 control-label">Notes</label>
                     <textarea class="col-sm-12 form-control input-element-processed" style="resize: vertical;"
                               ng-model="data.description"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="applyRefund()" ng-disabled="clientForm.$invalid">Refund</button>
        <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
    </div>
</div>
