button.trucksettings__add-new-truck(ng-click="openTruckForm()") + Add Branch Truck
div(ng-show="isAddTruck")
	input.truck_name.full.form-control(placeholder="Truck Name" type="text" ng-model="new_truck.name")
	.trucksettings__add-truck-container
		.mybtn.blue.small.left(ng-click="addTruck()") Add
		.cancel(ng-click="closeAddTruck()") X