<div class="row general listdetails">
    <div class="col-md-3 h2title">Details</div>
    <div class="col-md-9 det_info">
        <div class="row_info" ng-show="details.current_door > 1 || details.new_door > 1 || details.steps_origin >= 3 || details.steps_destination >= 3 || parking[details.current_permit] || parking[details.new_permit]">
            <div class="col-md-4 nopadding"></div>
            <div class="col-md-4 title nopadding">Origin</div>
            <div class="col-md-4 title nopadding">Destination</div>
        </div>
        <div class="row_info" ng-if="details.current_door > 1 || details.new_door > 1">
            <div class="col-md-4 tt info nopadding">Door To Parking</div>
            <div class="col-md-4 info nopadding"> <span ng-show="details.current_door == 2">Don't Know</span> <span ng-show="details.current_door > 2">{{details.current_door}} steps</span></div>
            <div class="col-md-4 info nopadding" ><span ng-show="details.new_door == 2">Don't Know</span><span ng-show="details.new_door > 2">{{details.new_door}} steps</span></div>
        </div>
        <div class="row_info" ng-if="details.steps_origin >= 3 && details.steps_destination >= 3">
            <div class="col-md-4 tt info nopadding">Steps On Stairs</div>
            <div class="col-md-4 info nopadding">{{details.steps_origin}} steps</div>
            <div class="col-md-4 info nopadding">{{details.steps_destination}} steps</div>
        </div>
        <div class="row_info" ng-show="parking[details.current_permit] || parking[details.new_permit]">
            <div class="col-md-4 tt info  nopadding">Parking Restrictions</div>
            <div class="col-md-4 info nopadding">{{parking[details.current_permit]}}</div>
            <div class="col-md-4 info nopadding">{{parking[details.new_permit]}}</div>
        </div>
        <div class="row_info">
            <div class="col-md-4 tt nopadding">Comments</div>
            <div class="col-md-8 nopadding"><p ng-bind-html="details.addcomment"></p></div>
        </div>
    </div>
</div>