form(name="carrierModel" novalidate)
	.agent-folio-details__toolbar
		md-toolbar.md-hue-2
			.md-toolbar-tools
				md-button.md-icon-button(aria-label='Go Back' ng-click="close()" ng-disabled='false' type="submit")
					ng-md-icon.agent-folio-details__toolbar__back-icon(icon="chevron_left" style="fill: #fff" size="24")
				h2.agent-folio-details__toolbar__label(flex='', md-truncate='') {{ agentModel.name }}
				.agent-folio-details__toolbar__item_left
					md-button(aria-label='Create' ng-click="create(agentModel)" ng-disabled='false') Save

	.carrier-create-modal-form
		.carrier-create-modal-form__container
			.carrier-create-modal-form__column
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Name:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="name" name="name" ng-model="agentModel.name" type="text" required="" aria-invalid="true" maxlength="35")
						div(ng-messages="carrierModel.name.$error")
							div(ng-message="required") Name is required.
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Contact Person:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="contactPerson" name="contactPerson" ng-model="agentModel.contact_person" type="text" required="" aria-invalid="true" maxlength="35")
						div(ng-messages="carrierModel.contactPerson.$error")
							div(ng-message="required") Contact person is required.
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Contact Person Phone:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right"
						name="contactPersonPhone"
						ng-model="agentModel.contact_person_phone"
						type="text"
						required=""
						aria-invalid="true"
						phone-input
						minlength="14"
						maxlength="14"
						placeholder="(XXX) XXX-XXXX")
						div(ng-messages="carrierModel.contactPersonPhone.$error")
							div(ng-message="required") Contact person phone is required.
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label E-mail:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="email" name="email" type="email" ng-model="agentModel.email" required="" aria-invalid="true" maxlength="35")
						div(ng-messages="carrierModel.email.$error")
							div(ng-message="required") Email is required.
							div(ng-message="email") Invalid Email.
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Web Site:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="site" type="text" ng-model="agentModel.web_site" aria-invalid="false")
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Per cubic feet:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="per_cf" ng-model="agentModel.per_cf" er-only-digit with-decimal-point format="currency" aria-invalid="false")
			.carrier-create-modal-form__column
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Address:
						textarea(ng-model="agentModel.address" id="agentAddress" rows="1" class="carrier-create-modal-form_input-form carrier-create-modal-form__right" aria-invalid="false" maxlength="50")
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Zip Code:
						input(ng-change="changePostalCode()" class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="zip" name="zip_code" ng-model="agentModel.zip_code" minLength="5" maxlength="5" placeholder="Zip from" ng-maxlength="5" ng-model-options="{ debounce: 1000 }" data-mask="99999" type="text" required="" aria-invalid="false" er-only-digit)
						div(ng-messages="carrierModel.zip_code.$error")
							div(ng-message="required") Zip code is required
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label City:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" ng-disabled="true" id="city" name="city" type="text" ng-model="agentModel.city" required="" aria-invalid="true")
						div(ng-messages="carrierModel.city.$error")
							div(ng-message="required") City is required
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label State:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" ng-disabled="true"  required="" id="state" name="state" ng-model="agentModel.state" type="text" aria-invalid="false")
						div(ng-messages="carrierModel.state.$error")
							div(ng-message="required") State is required
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Company Carrier:
						md-checkbox(md-no-ink aria-label="Company Carrier" style="border-bottom: none" ng-false-value="'0'"  ng-true-value="'1'"  class="md-primary pull-right" ng-model="agentModel.company_carrier")
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label Active:
						md-checkbox.pull-right.md-primary(md-no-ink aria-label="Active" style="border-bottom: none" ng-false-value="'0'"  ng-true-value="'1'"  ng-model="agentModel.active")
			.carrier-create-modal-form__column
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label ICC MC Number:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="ICC" type="text" ng-model="agentModel.icc_mc_number" aria-invalid="false")
				.carrier-create-modal-form__padding
					md-input-container.md-block(flex-gt-sm='')
						label USDOT Number:
						input(class="carrier-create-modal-form_input-form carrier-create-modal-form__right" id="USDOT" type="text" ng-model="agentModel.usdot_number" aria-invalid="false")
				.carrier-create-modal-form__no-padding
					label.carrier-create-modal-form__label-grey Phones: *
					.carrier-create-modal-form__inline(ng-repeat="phone in agentModel.phones track by $index")
						md-input-container.carrier-create-modal-form__padding.md-block(md-no-float flex-gt-sm='' ng-if="$first")
							label(style="display: none")
							input( type="text"
							ng-model="agentModel.phones[$index]"
							name="phone"
							class="carrier-create-modal-form_input-form carrier-create-modal-form__right"
							phone-input
							minlength="14"
							maxlength="14"
							placeholder="(XXX) XXX-XXXX"
							aria-invalid="true"
							required="true")
							div(ng-messages="carrierModel.phone.$error")
								div(ng-message="required") At least one phone number required.
						md-input-container.carrier-create-modal-form__padding.md-block(md-no-float flex-gt-sm='' ng-if="!$first")
							label(style="display: none")
							input(type="text"
							ng-model="agentModel.phones[$index]"
							class="carrier-create-modal-form_input-form carrier-create-modal-form__right"
							phone-input
							minlength="14"
							maxlength="14"
							placeholder="(XXX) XXX-XXXX"
							aria-invalid="true")
						md-button.md-icon-button.carrier-create-modal-form__padding_phone(title="add phone number" ng-click="deletePhone($index)" ng-if="agentModel.phones.length > 1")
							ng-md-icon(icon="remove" style="fill: red" size="26")
				.carrier-create-modal-form__button-right
					md-button.md-icon-button(title="add phone number" ng-click="addPhone()" ng-if="agentModel.phones.length < 3 &&  agentModel.phones[agentModel.phones.length - 1].length == 14")
						ng-md-icon(icon="add" style="fill: green" size="26")
