.carrier-create-modal-form
    padding 24px
    background #f0f3f3
    &__container
        width 100%
        padding 50px 50px
        box-shadow 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
        background-color: white
        display flex
        flex-direction row
        justify-content flex-start
        flex 1
    &__column
        padding 0 50px
        display flex
        flex-direction column
        justify-content flex-start
        flex 1
    &__inline
        position relative
        display flex
        flex-direction row
        flex-wrap nowrap
        justify-content space-between
    &__phone-button
        background-color: inherit
        border: none
        font-size: large
        color: green
        cursor: pointer
        outline: none

    &__x-button
        position: absolute
        right: 0px
        cursor: pointer
        border: none
        background-color: inherit
        font-size: 21px
        font-weight: 700
        line-height: 1
        color: lightgray
        text-shadow: 0 1px 0 #fff
        outline:    none

        &:hover
            color: #000

    &__heading
        padding-top: 50px
        border-bottom: 2px solid gray

    &__padding
        padding-bottom: 15px
        &_phone
            display flex
            padding 0px
            margin 0px
            min-width 0px
            min-height 0px
            font-size 40px
        &_top
            padding-top 12px
            padding-bottom 55px
    &__no-padding
        margin-top: -27px
    &__label-grey
        margin-left 2px
        color #A7AFAF

    &__label_red
        color:#a94442

    &__validation
        float: left
        font-size: 14px
        color: #a94442

    &_input-form
        display flex
        border-top: none
        border-right: none
        border-left: none
        border-bottom: 1px solid #f0f0f0
        outline: none
        width: 100%

    &__pad
        padding-top: 50px

    &__right
        float: right

    &_cancel-button
        left: 50px
        position: absolute
        bottom: 30px
        color: #ffffff
        background-color: #9ea7ac
        border-color: #9ea7ac
        border-radius: 3px
        padding: 8px 14px
        margin-bottom: 5px
        border: none
        font-size: 15px
        font-weight: normal
        cursor: pointer
        outline: none

        &:hover
            background-color: #778899

    &_save-button
        right: 50px
        position: absolute
        bottom: 30px
        color: #ffffff
        background-color: #2ccbc3
        border-color: #2ccbc3
        border-radius: 3px
        padding: 8px 14px
        margin-bottom: 5px
        border: none
        font-size: 15px
        font-weight: normal
        cursor: pointer
        outline: none

        &:hover
            background-color: #00FFFF
    &__button-right
        width 100%
        display flex
        flex-direction row
        justify-content flex-end

.add-agent
    font-weight: bold
    border-radius: 3px
    padding: 3px 10px
    margin-bottom: 5px
    border: none
    font-size: 15px
    text-align: center
    vertical-align: middle
    cursor: pointer
    color: #ffffff
    outline: none
    margin-top: -50px
    margin-right: 92px


