<section id="main-content" ng-controller="DispatchCtrl as vm" class="animated dispatch" style="min-height: 400px;">
    <div class="row full-height">
        <div class="col-md-12 col-lg-12 full-height">
            <div class="busyoverlay" ng-show="vm.busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>

            <div class="right-sidebar active fixed_aside_dispatch js-custom-scrollbar local-dispatch__crew-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-heading__header">
                            <h3>Assign Personal</h3>
                            <img class="create-crew-preset"
                                 uib-tooltip="Create Crew"
                                 tooltip-placement="bottom"
                                 src="../src/work-team.png"
                                 ng-click="vm.openCrewModal()"
                                 alt="Create Crew">
                        </div>
                        <div class="choose_dater row" style="margin-top: 15px;margin-bottom: -20px;">
                            <div class="col-xs-12" id="datePicker-block">
                                <i class="fa fa-calendar-o"></i>
                                <span>Date:  {{vm.moveDate}}</span>
                                <div cc-request-schedule-calendar ng-model="vm.moveDate"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" ng-if="!vm.crewBoxHidden">
                        <div ng-form name='worker_form' class="form-horizontal" novalidate>
                            <div class="form-group" ng-show="vm.clicked">
                                <div class="col-xs-12">
                                    <div class="radio">
                                        <input type="checkbox" name="checkbox" id="confirmedByCustomer"
                                               ichecks="" class="icheck"
                                               ng-model="vm.confirmedByCustomer" ng-change="vm.confirmCustomer()">
                                        <label for="confirmedByCustomer">Confirmed by customer </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="requestType == 'flatRate'">
                                <dispatch-flat-rate></dispatch-flat-rate>
                            </div>
                            <div ng-show="requestType != 'flatRate' ">
                                <div class="navigate">
                                    <div class="row">
                                        <ul class="nav nav-tabs" style="position: relative;">
                                            <!-- Base crew -->
                                            <li ng-class="{'active': vm.data.active == 0}"
                                                ng-click="vm.data.active = 0">
                                                <a href="javascript:;" class="text-capitalize">Crew 1</a>
                                            </li>
                                            <!--Add crews-->
                                            <li ng-repeat="crew in vm.data.additionalCrews track by $index"
                                                ng-class="{'active': vm.data.active == $index + 1}"
                                                ng-click="vm.data.active = $index + 1">
                                                <a href="javascript:;" class="text-capitalize">{{:: crew.name }} {{ $index + 2 }}</a>
                                                <a href="javascript:;" class="close-up"
                                                   ng-show="!!vm.contractStatus && vm.contractStatus[$index + 1] && vm.data.additionalCrews.length == $index + 1 && !vm.checkJobCompleted(curRequest)"
                                                   ng-click="vm.removeCrew($index)">×</a>
                                            </li>
                                            <!--Add crew btn-->
                                            <li id='add_crew' ng-show="vm.clicked && vm.contractStatus" ng-click="vm.addCrew()" ng-class="{disabled: !vm.canAddNewCrew || vm.checkJobCompleted(curRequest)}">
                                                <a href="javascript:;"
                                                   class="btn btn-primary text-center" title="Add crew">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- Tab panes -->
                                        <div class="tab-content" style="padding: 10px;">
                                            <!-- Base crew -->
                                            <div class="tab-pane" ng-class="{'active': vm.data.active == 0}" >
                                                <div>
                                                    <div class="form-group" ng-show="errors.foreman">
                                                        <div class="alert-danger">
                                                            <p ng-show="errors.foreman">* Please Select Foreman</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-class="{disabled: vm.checkJobCompleted(curRequest)}">
                                                        <div class="work-crew-presets">
                                                            <label for="crews">Crews</label>
                                                            <select ng-init="vm.data.crew"
                                                                    ng-disabled="!vm.clicked"
                                                                    class="form-control workers"
                                                                    ng-model="vm.data.crew"
                                                                    ng-change="vm.pasteCrew()"
                                                                    ng-options="crew.team_id as crew.name disable when crew.disabled for crew in vm.crews"
                                                                    id="crews">
                                                                <option value="">Please select crew</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <!-- Foreman -->
                                                    <div class="form-group" ng-class="{disabled: vm.checkJobCompleted(curRequest)}">
                                                        <div class="col-xs-12">
                                                            <label for="foreman">Foreman No. 1 &nbsp;
                                                                <a href="javascript:;"  ng-if='vm.clicked' ng-click="vm.openSettingsModal()">
                                                                    <i class="fa fa-cog fa-fw"></i>
                                                                </a>
                                                            </label>
                                                            <select data-ng-disabled="!vm.clicked" name="foreman" id="foreman" class="form-control workers"
                                                                    ng-model="vm.data.foreman"
                                                                    ng-change="vm.changeWorker('foreman', vm.data.foreman)">
                                                                <option value="">- Select foreman -</option>
                                                                <option ng-repeat="(uid, user) in vm.users.foreman | orderBy:'name'" value="{{:: user.uid}}"
                                                                        ng-selected="user.uid == vm.data.foreman"
                                                                        ng-disabled="vm.isSelected(user.uid) || user.disabled">
                                                                    {{ user.name}} | {{vm.workLoad[user.uid] || '0h'}}
                                                                </option>
                                                            </select>
                                                            <a href="javascript:;" class="btn btn-switch no-animate"
                                                               ng-show="vm.clicked && !vm.isExistSwitchers(vm.data.foreman)"
                                                               ng-click="vm.toggleSwitcher(vm.data.foreman)"><i class="fa fa-refresh"></i>
                                                            </a>
                                                            <a href="javascript:;" class="btn btn-switch no-animate"
                                                               ng-show="vm.clicked && vm.isExistSwitchers(vm.data.foreman)"
                                                               ng-click="vm.removeSwitcher(vm.data.foreman);"><i class="fa fa-times"></i>
                                                            </a>
                                                            <div class="clearfix"></div>

                                                            <select name="helper" class="form-control switcher no-animate" style="margin-top: 10px;"
                                                                    ng-model="vm.switchers[vm.data.foreman]"
                                                                    ng-change="vm.changeWorker('switcher', vm.switchers[vm.data.foreman], 'foreman', vm.data.foreman)"
                                                                    ng-show="vm.isExistSwitchers(vm.data.foreman)">
                                                                <option value="">- Select Helper -</option>
                                                                <option ng-repeat="user in vm.users.foreman  | orderBy:'name'"
                                                                        value="{{:: user.uid }}"
                                                                        ng-disabled="vm.isSelected(user.uid, true)"
                                                                        ng-selected="user.uid == vm.switchers[vm.data.foreman]">
                                                                    {{ user.name}} | {{vm.workLoad[user.uid] || '0h'}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <!-- Helpers -->
                                                    <div class="form-group helpers" ng-class="{disabled: vm.checkJobCompleted(curRequest)}"
                                                         ng-repeat="worker in vm.data.baseCrew.helpers track by $index">
                                                        <div class="col-xs-12">
                                                            <div class="clearfix">
                                                                <label >Helper No. {{ $index + 2}}</label>
                                                                <select name="helper" class="form-control workers"
                                                                        data-ng-disabled="!vm.clicked"
                                                                        ng-model="vm.data.baseCrew.helpers[$index]"
                                                                        ng-change="vm.setWorker(vm.data.baseCrew.helpers[$index], oldValue)"
                                                                        ng-class="{'no-helper': vm.data.baseCrew.helpers[$index] === undefined}"
                                                                        ng-click="oldValue = vm.data.baseCrew.helpers[$index]"
                                                                        ng-init="oldValue = vm.data.baseCrew.helpers[$index]">
                                                                    <option value="">- Select Helper -</option>
                                                                    <optgroup ng-repeat="(role, helpers) in vm.helpers | groupBy: 'role' " label="{{ ::role }}">
                                                                        <option ng-repeat="helper in helpers | orderBy:'name'"
                                                                                value="{{:: helper.uid }}"
                                                                                ng-disabled="vm.isSelected(helper.uid, true) || vm.isLockedHelper(helper)"
                                                                                ng-selected="helper.uid == worker"
                                                                                ng-init="oldValue = worker">
                                                                            {{ helper.name }} | {{vm.workLoad[helper.uid] || '0h'}}
                                                                        </option>
                                                                    </optgroup>

                                                                </select>
                                                                <a href="javascript:;" class="btn btn-switch no-animate"
                                                                   ng-show="vm.clicked &&  !vm.isExistSwitchers(worker)"
                                                                   ng-click="vm.toggleSwitcher(worker)">
                                                                    <i class="fa fa-refresh"></i>
                                                                </a>
                                                                <a href="javascript:;" class="btn btn-switch no-animate"
                                                                   ng-show="vm.clicked &&  vm.isExistSwitchers(worker)"
                                                                   ng-click="vm.removeSwitcher(worker);">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </div>
                                                            <select name="helper" class="form-control switcher no-animate" style="margin-top: 10px;"
                                                                    ng-model="vm.switchers[worker]"
                                                                    ng-change="vm.changeWorker('switcher', vm.switchers[worker], 'helper', worker)"
                                                                    ng-show="vm.isExistSwitchers(worker)">
                                                                <option value="">- Select Helper -</option>
                                                                <optgroup ng-repeat="(role, helpers) in vm.helpers | groupBy: 'role' " label="{{ ::role }}">
                                                                    <option ng-repeat="helper in helpers   | orderBy:'name'"
                                                                            value="{{:: helper.uid }}"
                                                                            ng-disabled="vm.isSelected(helper.uid, true)"
                                                                            ng-selected="helper.uid == vm.switchers[worker]">
                                                                        {{ helper.name }} | {{vm.workLoad[helper.uid] || '0h'}}
                                                                    </option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="btn-group btn-group-justified"
                                                         role="group"
                                                         ng-if="vm.clicked">
                                                        <div class="btn-group" ng-class="{disabled: vm.checkJobCompleted(curRequest)}">
                                                            <button class="btn dispatch-worker-crew-control-block__btn plus"
                                                                    uib-tooltip="Add Worker"
                                                                    ng-click="vm.addWorker()">
                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                        <div class="btn-group" ng-class="{disabled: vm.checkJobCompleted(curRequest)}">
                                                            <button class="btn dispatch-worker-crew-control-block__btn minus"
                                                                    uib-tooltip="Delete Worker"
                                                                    ng-click="vm.deleteWorker()"
                                                                    ng-disabled="vm.data.baseCrew.helpers.length == 1">
                                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button class="btn dispatch-worker-crew-control-block__btn contract"
                                                                    uib-tooltip="View Contract"
                                                                    ng-disabled="vm.isHideContractButtonLongDistance"
                                                                    ng-click="vm.openContractInBlack()">
                                                                <i class="fa fa-file-o"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="dispatch-assign-crew-control-block">
                                                        <button class="btn dispatch-assign-crew-control-block__btn assign"
                                                                ng-disabled="!vm.clicked || vm.isSubmitted[curRequest.nid] || vm.checkJobCompleted(curRequest)"
                                                                ng-click="vm.assignTeam()">
                                                            Assign crew
                                                        </button>
                                                        <button class="btn dispatch-assign-crew-control-block__btn unassign"
                                                                ng-disabled="vm.checkJobCompleted(curRequest)"
                                                                ng-show="vm.clicked && vm.isFlagExist(curRequest.field_company_flags, 'teamAssigned')"
                                                                ng-click="vm.unAssignTeam()">
                                                            Unassign Crew
                                                        </button>
                                                        <!--<button class="btn dispatch-assign-crew-control-block__btn create-crew"-->
                                                                <!--ng-if="vm.allowToCreateCrew"-->
                                                                <!--ng-click="vm.createCrewToPreset()">-->
                                                            <!--Create Crew-->
                                                        <!--</button>-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane"
                                                 ng-repeat="crew in vm.data.additionalCrews track by $index"
                                                 ng-class="{'active': vm.data.active == $index + 1}"
                                                 ng-click="vm.data.active = $index + 1">
                                                <!-- For other Crews -->
                                                <div>
                                                    <!-- Аддитионал helpers -->
                                                    <div class="form-group helpers" ng-class="{disabled: vm.checkJobCompleted(curRequest)}">
                                                        <div class="col-xs-12">
                                                            <label> + Additional Helpers &nbsp;
                                                                <a href="javascript:;" ng-click="vm.openSettingsModal($index)">
                                                                    <i class="fa fa-cog fa-fw"></i>
                                                                </a>
                                                            </label>
                                                            <div ng-repeat="addHelper in crew.helpers track by $index" class="" style="margin-top: 10px;">
                                                                <select name="helper" class="form-control "
                                                                        data-ng-disabled="!vm.clicked"
                                                                        ng-click="oldValue = crew.helpers[$index]"
                                                                        ng-model="crew.helpers[$index]"
                                                                        ng-change="vm.setWorker(crew.helpers[$index], oldValue)">
                                                                    <option value="">- Select Helper -</option>
                                                                    <optgroup ng-repeat="(role, helpers) in vm.helpers | groupBy: 'role' " label="{{ ::role }}">
                                                                        <option ng-repeat="helper in helpers | orderBy:'name'"
                                                                                value="{{:: helper.uid }}"
                                                                                ng-disabled="vm.isSelected(helper.uid, true) || vm.isLockedHelper(helper)"
                                                                                ng-selected="helper.uid == addHelper">
                                                                            {{ helper.name }} | {{vm.workLoad[helper.uid] || '0h'}}
                                                                        </option>
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Trucks -->
                                                    <div class="form-group helpers" ng-class="{disabled: vm.checkJobCompleted(curRequest)}">
                                                        <div class="col-xs-12">
                                                            <label> + Additional Trucks</label>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="workers">
                                                                <select ng-init='crew.trucks = crew.trucks || 0' ng-model="crew.trucks" class='form-control' ng-change="isSubmitted[curRequest.nid] = false; vm.loggingAdditionalTruck(crew.trucks)">
                                                                    <option value="0" selected>0</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" ng-class="{disabled: vm.checkJobCompleted(curRequest)}">
                                                        <div class="col-xs-12">
                                                            <div class="btn-group btn-group-justified"
                                                                 role="group"
                                                                 ng-if="vm.clicked">
                                                                <div class="btn-group">
                                                                    <button class="btn dispatch-worker-crew-control-block__btn plus"
                                                                            uib-tooltip="Add Worker"
                                                                            ng-click="vm.addWorker(true)">
                                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="btn-group">
                                                                    <button class="btn dispatch-worker-crew-control-block__btn minus"
                                                                            uib-tooltip="Delete Worker"
                                                                            ng-click="vm.deleteWorker(true)">
                                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="btn-group">
                                                                    <button class="btn dispatch-worker-crew-control-block__btn contract"
                                                                            uib-tooltip="View Contract"
                                                                            ng-disabled="vm.isHideContractButtonLongDistance"
                                                                            ng-click="vm.openContractInBlack()">
                                                                        <i class="fa fa-file-o"></i>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="dispatch-assign-crew-control-block">
                                                                <button class="btn dispatch-assign-crew-control-block__btn assign"
                                                                        data-ng-disabled="!vm.clicked || vm.isSubmitted[curRequest.nid] || vm.checkJobCompleted(curRequest)"
                                                                        ng-click="vm.assignTeam(request)">
                                                                    Assign crew
                                                                </button>
                                                                <button class="btn dispatch-assign-crew-control-block__btn unassign" data-ng-disabled="vm.checkJobCompleted(curRequest)"
                                                                        ng-show="vm.clicked && vm.isFlagExist(curRequest.field_company_flags, 'teamAssigned')"
                                                                        ng-click="vm.unAssignTeam()">
                                                                    Unassign Crew
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <dispatch-logs nid="vm.clicked" selected-date="vm.currentDate"></dispatch-logs>
            </div>
            <div class="adminpanel  panel-wrapper right">

                <div class="panel-heading with-current-time clearfix" ng-if="::vm.showheading">


                    <i class="disptach_icon icon-refresh" ng-click="vm.getByDate();"></i>
                    <i class="disptach_icon fa fa-map-marker" style="width: 40px;text-align: center;"  ng-class="{'active': view.map}"  ng-click="vm.openMap()"></i>
                    <i class="disptach_icon icon-grid"  ng-class="{'active': view.grid}"  ng-click="view.grid = true; view.schedule = false; view.map = false; "></i>
                    <i class=" disptach_icon icon-list" ng-class="{'active': view.schedule}"  ng-click="view.schedule = true; view.grid = false;view.map = false; "></i>
                    <i class=" disptach_icon fa fa-print"
                       print-parklot
                       jobs="vm.requests"
                       date="currentDay"
                       all-users-info="vm.users"
                       all-crews-info="vm.crews"
                       all-trucks-info="trucks"></i>

                    <h3>Dispatch</h3>
                    <strong>{{vm.currentDate}}</strong>
                    <div class="form-group">

                        <select name="" id="" class="form-group" ng-model="vm.reqFilter.type">
                            <option value="0">Done Jobs</option>
                            <option value="1">Scheduled Jobs</option>
                        </select>

                    </div>
                </div>

                <day-dispatch-notes day="vm.moveDate"></day-dispatch-notes>

                <div class="map-view" ng-if="view.map">
					<iframe ng-if="arrivyLink"
							id="arrivyFrame"
							ng-src="{{arrivyLink}}"
							allowfullscreen=”true”
							mozallowfullscreen=”true”
							webkitallowfullscreen=”true”>
                        Your Browser doesn't support iframes. Please install <a href="https://www.google.com/chrome/">Chrome</a> or <a href="https://www.mozilla.org/en-US/">Mozilla</a> browser.
					</iframe>
                    <ui-gmap-google-map data-ng-if="!arrivyLink"
                                        center='map.center'
                            zoom='map.zoom' aria-label="Google map">
                        <ui-gmap-marker ng-repeat="marker in markers"
                                        coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                            <ui-gmap-window>
                                <div>{{marker.window.title}}</div>
                            </ui-gmap-window>
                        </ui-gmap-marker>

                    </ui-gmap-google-map>
                </div>
                <div class="grid-view" ng-show="view.schedule">
                    <div class="schedule-legend-block">

                        <div class="donebox assigned" style="background: #fb8f50;"><i class="fa fa-users"></i> Crew Assigned</div>
                        <div class="donebox completed" style="background: #3a9bef;"><i class="icon-diamond"></i> Job Completed</div>
                        <div ng-repeat="legend in vm.legend" style="display: inline-table; margin-right: 10px;">
                            <div class="schedule-legend" ng-style="legend.style"></div>
                            <div style="display: inline-block;font-size: 12px">- {{legend.name}}</div>
                        </div>
                    </div>
                    <div er-park-lot requests="vm.requests" data-left="-190" data-height="135"></div>
                </div>

                <div class="panel-body mdDataTable" ng-show="view.grid" style="background: white;">
                    <table datatable="ng" dt-options="dtOptions" id="datatable2">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th class="dtStatus" >Status</th>
                            <th class="hidden">Day Part</th>
                            <th>Start time</th>
                            <th style="display:none;">Service Hidden</th>
                            <th class="dtService">Service Type</th>
                            <th class="dtDate">Date</th>
                            <th>Customer</th>
                            <th>Moving From</th>
                            <th>Moving To</th>
                            <th>Size of Move</th>
                            <th>Crew</th>
                            <th>Foreman</th>
                            <th>Crew Assigned /<br /> Conf. by Customer</th>
                        </tr>
                        </thead>
                        <tbody >

                        <tr ng-class="{'disabled':busy, 'active_row' : (vm.clicked == request.nid && !request.branch)}"
                            class="request" data-nid="{{request.nid}}"
                            ng-click="vm.checkIsTrip(request)"
                            ng-repeat="request in vm.filteredReq"
                            id="navigation-toggle">

                            <td>{{request.nid}}
                                <span ng-if="request.branch"> / Branch {{request.branch.name}}</span>
                            </td>
                            <td ng-if="!request.ld_trip" class="dtStatus"><span class="status status_{{request.status.raw}}">{{request.status.value}}</span>
                                <img width="30px" ng-show="request.field_company_flags.value.hasOwnProperty(3)"  src="../../../content/img/animat-essential/diamond/animat-diamond-color.gif">
                            </td>
                            <td ng-if="request.ld_trip" class="dtStatus">
                                <span class="status trip-status_{{request.status.raw}}">{{request.status.raw | tripStatus}}</span>
                            </td>
                            <td class="hidden">{{request.start_time1.raw}}</td>
                            <td>{{request.start_time1.value}} - {{request.start_time2.value}} </td>
                            <th style="display:none;">status_{{request.status.raw}}{{request.status.raw}}</th>
                            <td class="dtService" ng-if="!request.ld_trip">{{request.service_type.value}}</td>
                            <td class="dtService" ng-if="request.ld_trip">LD Trip</td>
                            <td class="dtDate">{{request.date.value}}</td>
                            <td>{{request.name}}</td>
                            <td>{{request.from || 'None'}}</td>
                            <td>{{request.to || 'None'}}</td>
                            <td>{{request.move_size.value || 'None'}}</td>
                            <td ng-if="!request.ld_trip">{{request.crew.value}}</td>
                            <td ng-if="request.ld_trip">{{request.helper.length}}</td>
                            <td ng-if="!request.ld_trip">{{ vm.formenTable[request.field_foreman.value].name || '-' }}</td>
                            <td ng-if="request.ld_trip">{{ request.name || '-' }}</td>
                            <td class='col-assigned' >
                                <a href="javascript:;"
                                   ng-class="{'active': vm.isFlagExist(request.field_company_flags, 'teamAssigned')}"
                                   title="{{ vm.isFlagExist(request.field_company_flags, 'teamAssigned') ? 'Team Assigned' : 'Team Not assigned'}}">
                                    <i class="fa fa-users"></i>
                                </a>
                                &nbsp;&nbsp;
                                <a href="javascript:;"
                                   title="{{ vm.isFlagExist(request.field_company_flags, 'ConfirmedbyCustomer') ? 'Confirmed' : 'Not confirmed'}}"
                                   ng-class="{'active': vm.isFlagExist(request.field_company_flags, 'ConfirmedbyCustomer')}">
                                    <i class="fa fa-check-square-o"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</section>
