<style>
    .form-control {
        height: 30px;
        padding: 2px 12px 6px 12px;
    }
</style>
<div class="switchModal">

    <div class="modal-header">
        <h2>Crew Settings</h2>
    </div>

    <div class="modal-body">
        <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
        </div>

        <form class="form form-horizontal" name="switcherForm">
            <div ng-if="page == 'simpleCrew'" class="form-group" >
                <div class="col-xs-6" >
                    <label >Set Crew Rate ($ - USD)</label>
                </div>
                <div class="col-xs-6" style="margin-top: 10px;">
                    <input style='width:80px;' type="number" ng-model="rate.value" min="0" class="form-control"/>
                </div>

            </div>

            <div ng-if="page == 'baseCrew'">
                <div class="form-group" ng-class="{disabled: isAddHelpers}"
                     ng-if="crews.baseCrew.helpers.length && crews.baseCrew.helpers[0].length">
                    <div class="col-xs-6" >
                        <label >Set unpaid helpers</label><br>
                        <small style="color:#7b7b7b; padding-left: 14px;">* (if you select unpaid helpers, then you can't add additional crews and vice versa)</small>
                    </div>
                    <div class="col-xs-6">
                        <div class="row" ng-repeat='uid in crews.baseCrew.helpers' ng-if="uid">
                            <label>
                                <input type="checkbox" name="" id=""
                                       ng-model="unpaidHelpers[uid]">
                                {{:: usersCollection[uid].name }}
                            </label>
                        </div>
                    </div>
                </div>
                <!--<div class="form-group"-->
                     <!--ng-if="!crews.baseCrew.helpers.length || !crews.baseCrew.helpers[0].length" >-->
                    <!--<div class="col-xs-12">-->
                        <!--<p class="text-center">- Please select Helpers -</p>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <div class="col-xs-4">
                        <label style="line-height: 0.6;">Select Payment Type <small class="required red">*</small></label>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control" ng-model="selectedPayment.alias">
                            <option ng-repeat="type in contract_page.paymentTypes | filter: { selected: true} track by type.alias "
                                    value="{{ type.alias }}"
                                    ng-selected="type.alias == selectedPayment.alias">
                                {{:: type.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-if="selectedPayment.alias == 'FlatFee'">
                    <div class="col-xs-4">
                        <label style="line-height: 0.6;">Pay options<small class="required red">*</small></label>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control" ng-model="selectedFlatFeeOption.baseCrew" style="text-transform: Capitalize;">
                            <option ng-repeat="(key,type) in flatFeeOptions track by key"
                                    value="{{ key }}"
                                    ng-selected="selectedFlatFeeOption.baseCrew == key">
                                {{ ::key }}
                            </option>
                        </select>
                    </div>
                </div>

                <div ng-if="selectedPayment.alias == 'FlatFee' && (crews.baseCrew.helpers.length && crews.baseCrew.helpers[0].length)">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <table class="table table-striped table-bordered" style="margin-left: 15px; max-width: 444px;">
                                <thead>
                                <tr>
                                    <th><strong>Workers</strong></th>
                                    <th><strong>Price by / {{ flatFeeOptions[selectedFlatFeeOption.baseCrew].point }}</strong></th>
                                </tr>
                                </thead>
                                <tbody class="text-capitalize">
                                <tr ng-if="usersCollection[crews.foreman]">
                                    <td> {{ usersCollection[crews.foreman].name }}
                                        <div ng-if="switchers[crews.foreman]" style="margin-top: 15px;">
                                            {{ usersCollection[switchers[crews.foreman]].name }} <strong>(Switcher)</strong>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input class='form-control' type="number" min="0" required  ng-model="pricePerHelperModel[crews.foreman]"/>
                                        </div>
                                        <div ng-if="switchers[crews.foreman]" style="margin-top: 5px;">
                                            <input class='form-control' type="number" min="0" required ng-model="pricePerHelperModel[switchers[crews.foreman]]"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="uid in crews.baseCrew.helpers" ng-if="uid">
                                    <td>
                                        {{ usersCollection[uid].name  }}
                                        <div ng-if="switchers[uid]" style="margin-top: 15px;">
                                            {{ usersCollection[switchers[uid]].name }} <strong>(Switcher)</strong>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input class='form-control' type="number" min="0" required ng-model="pricePerHelperModel[uid]"/>
                                        </div>
                                        <div ng-if="switchers[uid]" style="margin-top: 5px;">
                                            <input class='form-control' type="number" min="0" required ng-model="pricePerHelperModel[switchers[uid]]"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat="crew in crews.additionalCrews">
                                    <td colspan="2" ng-init="openThisCrew = true">
                                        <strong>Crew {{:: $index + 2 }}</strong>
                                        <a href="javascript:;" class="pull-right" style='font-size:17px' ng-click="openThisCrew = !openThisCrew">
                                            <i class="fa" ng-class="{'fa-toggle-on': openThisCrew, 'fa-toggle-off': !openThisCrew}"></i>
                                        </a>
                                        <table class="table table-bordered" style="margin-top: 10px;" ng-show="openThisCrew">
                                            <tr ng-repeat="uid in crew.helpers">
                                                <td> {{ usersCollection[uid].name  }} </td>
                                                <td><input class='form-control' type="number"  required ng-model="pricePerHelperModel[uid]"/></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <span>Total</span>
                                        <strong class="pull-right"> {{ getTotal() }} {{ flatFeeOptions[selectedFlatFeeOption.baseCrew].point }}</strong>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="selectedPayment.alias == 'FlatFee' && (!crews.baseCrew.helpers.length || !crews.baseCrew.helpers[0].length)" >
                    <div class="col-xs-12">
                        <p class="text-center">- Please select Helpers -</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6" >
                        <label for="pickup">Pickup/Unloading Option</label>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <label tooltip-enable="contractSigned"
                                   uib-tooltip="This job already has signatures in the contract, so you cannot change settings"
                                   tooltip-placement="right">
                                <input
                                    type="checkbox"
                                    name="pickup"
                                    id="pickup"
                                    ng-model="flatMiles.flatMiles"
                                    ng-disabled="contractSigned">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6" >
                        <label for="inventory">Use Inventory on Contract</label>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <label>
                                <input type="checkbox" name="inventory" id="inventory" ng-model="contract.useInventory">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-4">
                        <label for="credit">Credit</label>
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" name="credit" id="credit" ng-model="creditPayroll.amount" ng-disabled="creditPayroll.notShow" cc-currency>
                    </div>
                    <div class="col-xs-4">
                        {{creditPayroll.date * 1000 | date:'mediumDate'}}
                    </div>
                </div>

            </div>
        </form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" data-ng-disabled="switcherForm.$invalid"
                ng-click="saveSettings()">Save</button>
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
    </div>
</div>
