<style>
    .form-control {
        height: 30px;
        padding: 2px 12px 6px 12px;
    }
    .tab-pane {
        padding-top: 10px;
    }
</style>
<div class="switchModal">

    <div class="modal-header">
        <h2>{{ navigation.values[vm.navigation.active] }} Settings</h2>
    </div>

    <div class="modal-body">
        <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
        </div>

        <div class="navigate">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li ng-repeat="page in navigation.values track by $index"
                        ng-class="{'active': navigation.active == $index}"
                        ng-click="navigation.active = $index">
                        <a href="javascript:;">{{ page }}</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" ng-class="{'active': navigation.active === 0}" >
                        <form class="form form-horizontal" name="switcherForm1">
                            <div class="clearfix">
                                <div class='col-xs-12'>
                                    <div class="form-group">
                                        <div class="col-xs-4">
                                            <label>Select Payment Type <small class="required red">*</small></label>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-model="selectedPayment.pickup">
                                                <option ng-repeat="type in paymentTypes | filter: { selected: true} track by type.alias "
                                                        value="{{ type.alias }}"
                                                        ng-selected="type.alias == selectedPayment.pickup">
                                                    {{:: type.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="selectedPayment.pickup == 'Custom'">
                                        <div class="col-xs-4">
                                            <label>Pay options<small class="required red">*</small></label>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-model="selectedFlatFeeOption.pickedUpCrew" style="text-transform: Capitalize;" ng-options="type.id as key for (key,type) in  flatFeeOptions">
                                                <option value="" style="display: none;"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="selectedPayment.pickup == 'Custom' && crews.pickedUpCrew.helpers.length && crews.pickedUpCrew.helpers[0].length">
                                        <div class="col-xs-12">
                                            <table class="table table-striped table-bordered" style="margin-left: 15px; max-width: 444px;">
                                                <thead>
                                                <tr>
                                                    <th><strong>Workers</strong></th>
                                                    <th><strong>Price by / {{ flatFeeOptions[selectedFlatFeeOption.pickedUpCrew].point }}</strong></th>
                                                </tr>
                                                </thead>
                                                <tbody class="text-capitalize">
                                                <tr>
                                                    <td> {{ getUserName(crews.pickedUpCrew.foreman) }}
                                                        <div ng-if="switchers[crews.pickedUpCrew.foreman]" style="margin-top: 15px;">
                                                            {{ getUserName(switchers[crews.pickedUpCrew.foreman]) }} <strong>(Switcher)</strong>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <input class='form-control' type="number" required  ng-model="pricePerHelperModel.pickedUpCrew[crews.pickedUpCrew.foreman]"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="uid in crews.pickedUpCrew.helpers">
                                                    <td>
                                                        {{ getUserName(uid) }}
                                                        <div ng-if="switchers[uid]" style="margin-top: 15px;">
                                                            {{ getUserName(switchers[uid]) }} <strong>(Switcher)</strong>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <input class='form-control' type="number" required ng-model="pricePerHelperModel.pickedUpCrew[uid]"/>
                                                        </div>
                                                        <!--<div ng-if="switchers[uid]" style="margin-top: 5px;">-->
                                                            <!--<input class='form-control' type="number" required ng-model="pricePerHelperModel[switchers[uid]]"/>-->
                                                        <!--</div>-->
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <span>Total</span>
                                                        <strong class="pull-right">$ {{ getTotal('pickedUpCrew') }} </strong>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-if="selectedPayment.pickup == 'Custom' && !crews.pickedUpCrew.helpers.length || !crews.pickedUpCrew.helpers[0].length" >
                                        <div class="col-xs-12">
                                            <p class="text-center">- Please select Helpers -</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" ng-class="{'active': navigation.active === 1}" >
                        <form class="form form-horizontal" name="switcherForm">
                            <div class="clearfix">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <div class="col-xs-4">
                                            <label>Select Payment Type <small class="required red">*</small></label>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-model="selectedPayment.delivery">
                                                <option ng-repeat="type in paymentTypes | filter: { selected: true} track by type.alias "
                                                        value="{{ type.alias }}"
                                                        ng-selected="type.alias == selectedPayment.delivery">
                                                    {{:: type.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="selectedPayment.delivery == 'Custom'">
                                        <div class="col-xs-4">
                                            <label>Pay options<small class="required red">*</small></label>
                                        </div>
                                        <div class="col-xs-6">
                                            <select class="form-control" ng-model="selectedFlatFeeOption.deliveryCrew" style="text-transform: Capitalize;" ng-options="type.id as key for (key,type) in  flatFeeOptions">
                                                <option value="" style="display: none;"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="selectedPayment.delivery == 'Custom' && crews.deliveryCrew.helpers.length && crews.deliveryCrew.helpers[0].length">
                                        <div class="col-xs-12">
                                            <table class="table table-striped table-bordered" style="margin-left: 15px; max-width: 444px;">
                                                <thead>
                                                <tr>
                                                    <th><strong>Workers</strong></th>
                                                    <th><strong>Price by / {{ flatFeeOptions[selectedFlatFeeOption.deliveryCrew].point }}</strong></th>
                                                </tr>
                                                </thead>
                                                <tbody class="text-capitalize">
                                                <tr>
                                                    <td> {{ getUserName(crews.deliveryCrew.foreman) }}
                                                        <div ng-if="switchers[crews.deliveryCrew.foreman]" style="margin-top: 15px;">
                                                            {{ getUserName(switchers[crews.deliveryCrew.foreman]) }} <strong>(Switcher)</strong>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <input class='form-control' type="number" required  ng-model="pricePerHelperModel.deliveryCrew[crews.deliveryCrew.foreman]"/>
                                                        </div>
                                                        <!--<div ng-if="switchers[crews.deliveryCrew.foreman]" style="margin-top: 5px;">-->
                                                            <!--<input class='form-control' type="number" required ng-model="pricePerHelperModel[switchers[crews.deliveryCrew.foreman]]"/>-->
                                                        <!--</div>-->
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="uid in crews.deliveryCrew.helpers">
                                                    <td> {{ getUserName(uid)  }} </td>
                                                    <td><input class='form-control' type="number"  required ng-model="pricePerHelperModel.deliveryCrew[uid]"/></td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <span>Total</span>
                                                        <strong class="pull-right"> $ {{ getTotal('deliveryCrew') }} </strong>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-if="selectedPayment.delivery == 'Custom' && !crews.pickedUpCrew.helpers.length || !crews.pickedUpCrew.helpers[0].length" >
                                        <div class="col-xs-12">
                                            <p class="text-center">- Please select Helpers -</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" data-ng-disabled="switcherForm.$invalid || switcherForm1.$invalid"
                ng-click="saveSettings()">Save</button>
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
    </div>
</div>
