.template-builder-custom-variable-dropdown
	position absolute
	top 0
	right 0
	&__menu
		overflow-y auto
		overflow-x hidden
		max-height 360px
		min-height 100px
		width 220px
		position absolute
		top 100%
		left 0
		z-index 1000
		float left
		min-width 160px
		padding 5px 0
		margin 2px 0 0
		font-size 14px
		text-align left
		list-style none
		background-color #fff
		-webkit-background-clip padding-box
		background-clip padding-box
		border 1px solid #ccc
		border-radius 4px
		-webkit-box-shadow 0 6px 12px rgba(0,0,0,.175)
		box-shadow 0 6px 12px rgba(0,0,0,.175)
	&__search-bar
		margin-left 2%
		margin-right 2%
		width 96%
		border 1px solid #c4c4c4
		background-color #fff
		color #565a5c
		padding-bottom 5px
		padding-top 5px
		font-family Open Sans,Helvetica,Arial,sans-serif
		font-size 14px
		font-weight 600
		padding-left 10px
		border-radius 0
		box-shadow inset 0 1px 1px rgba(0,0,0,.075)
		vertical-align baseline
	&__checked
		border-bottom-left-radius 0
		border-top-left-radius 0
		position relative
		text-align left
		display block
		clear both
		font-weight 400
		line-height 1.428571429
		color gray
		white-space nowrap
		background-color #fff
		-webkit-appearance none
		width 100%
		border none
		font-size 15px
		height 23px
		padding 0 5px
		font-family Roboto,Helvetica Neue,sans-serif
		cursor pointer
		vertical-align baseline
