<ng-transclude></ng-transclude>
<span class='template-builder-custom-variable-dropdown' ng-show="isShowVariable">
	<ul class='template-builder-custom-variable-dropdown__menu'>
		<input class="template-builder-custom-variable-dropdown__search-bar" ng-model="searchValue" placeholder="Search" ng-click="activateSearch()" ng-blur="closeTooltip()">
		<li ng-repeat='item in tooltipButtons | filter: searchValue | orderBy: "name"'>
			<button class='template-builder-custom-variable-dropdown__checked' ng-click='chooseVariable(item)'>
				{{item.name}}
			</button>
		</li>
	</ul>
</span>
