.img-triangle {
    max-width: none;
    width: 55px;
    border: 1px solid #b1b1b1;
    
}

.account.panel {
    
    font-size: 13px;
    i.fa {
    margin-right: 10px;
    /* font-size: 12px; */
    }
}

i.fa.fa-mobile {
    font-size: 19px;
    padding-left: 4px;
    color: #858585;
}
