.badge {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: normal;
  font-size: $size11px;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 7px 4px 7px;
}

.badge-primary {
  background-color: $primaryColor;

}

.badge-warning {
  background-color: $warningColor;

}

.badge-success {
  background-color: $successColor;

}

.badge-danger {
  background-color: $dangerColor;

}

.badge-info {
  background-color: $infoColor;

}

.label.label-circle {
  border-radius: 50%;
  background-clip: padding-box;
  padding: 5px;
  width: 20px;
  height: 20px;
}