.noborder {
  border: 0px !important;
}

.modal-dialog.modal-lg.ui-draggable.wideDialog {
  width: 90%;
  -webkit-transition: width 2s, height 4s;
  transition: width 2s, height 4s;
}

.modal-dialog.modal-lg.ui-draggable {
  -webkit-transition: width 2s, height 4s;
  transition: width 2s, height 4s;
}

@media (min-width: 768px) {
  .requestModal .modal-dialog {
    min-width: 900px !important;
  }
}

@media (max-width: 995px) and (min-width: 210px) {
  .mobileclearfix {
    margin-bottom: 20px;
  }
  .mobileclearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

@media (max-width: 500px) and (min-width: 210px) {
  #header .navbar-left {
    top: -65px;
  }
  ul.nav.navbar-nav.navbar-left {
    zoom: 0.85 !important;
    top: -65px;
  }
  .brand img {
    display: none;
  }
  .requestModal {
    zoom: 0.75;
    min-width: 900px !important;
    .modal-header.gray.ui-draggable-handle span {
      margin-bottom: 0px;
      line-height: 22px;
    }
    .modal.in .modal-dialog {
      min-width: 900px !important;
    }
  }
  .modal-content {
    min-height: .01%;
    overflow-x: auto !important;
  }
}

#header .brand {
  width: 240px !important;
}

.nopadding.col-md-4.panel.widget-comments.widget-mini {
  float: left;
  width: 35%;
}

.nopadding.panel.widget-comments.widget-mini.col-md-8 {
  width: 65%;
  float: left;
}

.width50 {
  width: 50% !important;
}

#header .navbar-left {
  position: relative !important;
  left: 0;
}

.red {
  color: #F43131;
}

html, body {
  overflow: initial !important;
}

.navbar-nav > li {
  float: left;
}

ul.nav.navbar-nav {
  float: left;
  margin: 0;
}

.shell-view {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*
.col-md-2 {
  width: 16.66666667%;
  float: left;
}
.col-md-10 {
  width: 83.33333333%;float: left;
}
.col-md-12 {
  width: 100%;
  float: left;
}
.col-md-3{
  width:25%;
  float:left;
}
.col-md-9{
  width:75%;
  float:left;
}
.col-md-4 {
  width: 33.33333333%;
  float: left;
}
.col-md-6 {
  width: 50%;
  float: left;
}
*/

html {
  height: 100%;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
}

.margin20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  height: 100%;
  color: #565656;
  background: #F0F3F3;
  font-family: $fontStack;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.cross {
  text-decoration: line-through !important;
}

.red {
  color: #F53D3D;
}

a:link, a:visited {
  text-decoration: none;
  outline: none;
  color: $aLinkColor;
}

a {
  cursor: pointer;
}

a:hover, a:active {
  outline: none;
  text-decoration: none;
  color: $aLinkHover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontHeader;
  color: #424856;
  margin: 0;
}

h1, .h1 {
  font-size: $size22px;
}

h2, .h2 {
  font-size: $size19px;
}

h3, .h3 {
  font-size: $size17px;
}

h4, .h4 {
  font-size: $size15px;
}

h5, .h5 {
  font-size: $size13px;
}

h6, .h6 {
  font-size: $size12px;
}

p {
  font-size: $size14px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

::selection {
  background: #fff7dd;
}

::-moz-selection {
  background: #fff7dd;
}

canvas {
  display: block;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.busy-symbol {
  top: 35%;
  left: 45%;
  position: absolute;
  z-index: 2;
}

.required_text {
  color: red;
  font-size: 13px;
}
.required_field {
  border: 2px solid red !important;
}

div#splash-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000000;
  overflow: hidden !important;
  .page-splash {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .blink {
    margin-top: 20px;
  }

  .progress.progress-striped.active {
    height: 20px;
  }
}

table {

  font-size: 12px;

}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.paddingright {

  padding-right: 5px !important;
}

.paddingleft {
  padding-left: 5px !important;
}

.nopad {
  padding: 0 !important;
}

a.link {

  font-weight: 600;
  margin-right: 15px;
  text-decoration: none;
  font-family: 'Open sans', sans-serif;
  letter-spacing: 0PX;
  font-size: 14px;

}

.red {
  color: #f10707 !important;
}

.cube-packing {
  padding: 0px;
}

.green {
  color: #369a04;
}

.mybtn {
  width: 100%;
  padding: 10px !important;

}

.bold {
  font-weight: bold;
}

.mybtn.blue {

  background-color: #4897FD;
  &:hover {
    background-color: #6FABF9;
  }

}

a.blue {

  color: #076EF1;

}

.mybtn.small {
  width: 100px;
  margin-top: 10px;
  font-size: 12px;
}

a.btn, .mybtn {

  border-radius: 2px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;

  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
  padding-right: 12px;

}

a.btn.red {

  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  &:focus {
    border-color: #ff7e82;
    border-bottom-color: #fa0008;
    background-color: #ff7e82;
  }

}

a.btn.blue {

  border-color: #5797E8;
  border-bottom-color: #296BBD;
  background-color: #4899FF;
  &:focus {
    border-color: #076EF1;
    border-bottom-color: #076EF1;
    background-color: #076EF1;
  }

}

$offset: 187;
$duration: 1.4s;

.busyoverlay {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(240, 243, 243, 0.61);
  animation-name:fadeIn;
  animation-duration: .5s;
  &.fixed-busy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.busyoverlay.ng-hide {
  animation-name:fadeOut;
  animation-duration: .5s;
}

.mobile-busyoverlay-fixed {
  position: fixed;;
  z-index: 10000;
  width: 650px !important;
  height: 1024px !important;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  background-color: rgba(240, 243, 243, 0.61);
}

.busyoverlayfixed {
  position: fixed;;
  z-index: 10000;
  left: 43%;
  top: 40%;
  height: 400px;
}

.spinner {
  animation: rotator $duration linear infinite;
  text-align: center;
  position: absolute;
  width: 36px;
  height: 36px;
  left: calc(50% - (36px / 2));
  top: calc(50% - (36px / 2));

}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
  colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

select.form-control.form-element {
  padding: 0px;
  padding-left: 10px;

}

input.form-control.btn.default {
  color: white;
  background-color: #4BA8F7;
  border-bottom: 1px solid #2C96F1 !important;
  border: none;
  &:hover {
    background-color: #69B4F3;
  }
}

.fadeout {
  opacity: 0.5;
}

/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-cube-grid">
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *      <div class="sk-cube"></div>
 *    </div>
 *
 */
.sk-spinner-cube-grid {
  /*
 * Spinner positions
 * 1 2 3
 * 4 5 6
 * 7 8 9
 */
}

.sk-spinner-cube-grid.sk-spinner {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.sk-spinner-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #1ab394;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-spinner-cube-grid .sk-cube:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(4) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(6) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(7) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(8) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-spinner-cube-grid .sk-cube:nth-child(9) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.marginleft50 {
  margin-left: 50%;
}

@media screen and (max-width: 1366px) {
  .requestDashboardTable {
    height: calc(100vh - 395px);
    min-height: 300px;
  }
}
