.branchSettings {
  table {
    tbody {
      tr {
        td {
          line-height: 3;
          .fa-trash {
            cursor: pointer;
          }
        }
      }
    }
  }
  form {
    &.horizontal-line {
      padding-bottom: 60px;
    }
  }
  .has-error {
    border: 1px solid #f10707 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    &:active, &:focus {
      border: 1px solid #f10707 !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
  }
  .add-branch-expand {
    line-height: 50px;
    cursor: pointer;
    &.active {
      .fa {
        transform: rotate(90deg);
      }
    }
  }
  .empty-branches {
    padding: 20px 0;
    font-size: 14px;
    h2 {
      text-align: center;
    }
  }
  .sending-settings {
    padding-top: 20px;

    &-closest-branching {
      padding-top: 20px;
      label {
        font-weight: 500;
      }
      .icon-question {
        padding-left: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}