.calculator {

    td {padding:5px;}

    td.speed {
        width: 19%;

        input {
        text-align: center;
         font-weight: bold;
            width: 100% !important;
        }

    }
    td.movers {
    width: 8%;
    text-align: center;
    }
    thead td {
    font-weight: bold;
    }
    td.floor select.form-control {
    width: 35%;
    /* float: left; */
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
    }



}

table.calculator {
    width: 100%;
}

.calc-basic {

    .panel-title {display: inline-block;}

}
td.movesize {
    width: 12%;
    text-align: center;
    input {text-align: center;}
}
.calc.menu {
    display: inline-block;
    margin-left: 20px;

    .tab {
    display: inline-block;
    color: white;

    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;

    background-color: #8EA1B1;
        &:hover {background-color: #97A6B3;}
    }
    .tab.active {

    background-color: #498FCC;
        &:hover {background-color: #70A6D4;}
    }

    td.sizeset {
    width: 140px;
}

}

.calculator {
  .sizeset {
    .insurence-fix-height {
      .ta-text {
        .ta-bind {
          max-height: 400px;
        }
      }
      .btn-group {
        span.bar-btn-dropdown.active.open {
          ul.dropdown-menu {
            display: block !important;
          }
        }
      }
    }
  }
}

#block-calc-moving-form {
    .form-item.form-type-checkbox {
    font-size: 11px;
    float: left;
    width: 40%;
    }


    select {
    padding: 0px 10px !important;
    }

}
.calcsettings {
    h1,.button-menu {   display: inline-block;}
    .button-menu {

    margin-left: 15px;
    }

    .minheight {
        min-height: 435px;
    }
    .empty i.icon-calculator {

        font-size: 10em;
        color: #EAEAEA;
        text-shadow: 1px -1px #D4D4D4;
        text-align: center;
        margin: 0 auto;
        margin-left: 28%;

    }

   input[type=checkbox]{
    margin-right: 5px;
    vertical-align: bottom;
    position: relative;
    }

    #edit-extra-furnished-rooms{

        .form-item {
        margin-bottom: 5px;
            }
        label {
            /* margin-top: 8px; */
            line-height: 5px;
        }

    }
     h4.tip {
    font-size: 10px;
    text-transform: lowercase;
    }
    span.clear-icon {
    position: absolute;
    top: 0px;
    right: 30px;
    display: block;
    margin-top: 15px;
    font-size: 12px;
    cursor: pointer;
    color: #45aaf9;
    font-weight: 600;
}

}

.resulttable {
    table.centering_table {
      margin: 0 auto;
    }
    tr.grand_total_mark {
      border-top: 1px solid #424856;
      td.label {
        font-weight: bold;
      }
    }
    td.label {
        color: black;
        font-size: 11px;
        font-weight: normal;
        line-height: 25px;
        /* width: 334px; */
      text-transform: uppercase;
    }
    td.data {
    font-weight: bold;
    color: black;
      span {
        &.discount {
          text-decoration: line-through;
          font-style: normal;
          margin-right: 5px;
          color: #6B6B6B;
        }
      }
    }

    td {
      table.extra-service {
        thead {
          th {
            text-align: center;
            font-size: 14px;
            border-top: 0;
          }
        }
        tbody {
          tr {
            td {
              border-top: 0;
            }
          }
        }
      }
    }

}

td.ui-datepicker-week-end.Block.this.day {
    pointer-events: none;
    a {color: gray;}
}

.calculator {
  .error_field {
    border: $dangerColor 1px solid;

    &:focus {
      border: $dangerColor 1px solid;
      outline-color: $dangerColor;
      box-shadow: 0 0 5px 1px $dangerColor;
    }
  }
}
