td.ui-datepicker-unselectable {
    background: white;
}
.cal1 .clndr .clndr-controls {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}
.cal1 .clndr .clndr-controls .month {
    display: inline-block;
    width: 190px;
    text-align: center;
    color: #c1c1c1;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 5px 5px;
    position: relative;
    top: 2px;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
    display: inline-block;
    text-align: right;
}
.cal1 .clndr .clndr-controls .clndr-control-button.leftalign {
    text-align: left !important;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* IE10+ */
    
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #C1C1C1;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
    background: #f4f4f4;
    padding: 5px 10px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
    opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
    background: none;
    cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* IE10+ */
    
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #C1C1C1;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
    background: #f4f4f4;
    padding: 5px 10px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
    opacity: 0.5;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
    background: none;
    cursor: default;
}
.cal1 .clndr .clndr-table {
    table-layout: fixed;
    width: 100%;
}
.cal1 .clndr .clndr-table .header-days {
    height: 40px;
    font-size: 10px;
    background: #fff;
}
.cal1 .clndr .clndr-table .header-days .header-day {
    vertical-align: middle;
    text-align: center;
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    color: #666;
    font-size: 14px;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr {
    height: auto;
}
.cal1 .clndr .clndr-table tr td {
    vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
}
.cal1 .clndr .clndr-table tr .day.inactive {
    background: #ddd;
}
.cal1 .clndr .clndr-table tr .day:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
    box-sizing: border-box;
    padding: 8px;
    font-size: 12px;
    text-align: center;
}
.cal1 .clndr .clndr-table tr .empty, .cal1 .clndr .clndr-table tr .adjacent-month {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
}
.cal1 .clndr .clndr-table tr .empty:last-child, .cal1 .clndr .clndr-table tr .adjacent-month:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .day {
    border-bottom: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .empty {
    border-bottom: 0px solid #000000;
}
.calendar-block {
    background: #fff;
}
.event-list-block {
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}
.calendar-block .day-contents {
    width: 30px;
    margin: auto;
}
.today .day-contents {
    width: 30px;
    background: #1fb0ab;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.calendar-block .day-contents:hover {
    width: 30px;
    background: #1fb0ab;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.cal1 .clndr .clndr-controls {
    display: block !important;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    background: $successColor;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding: 23px 20px;
    width: auto !important;
    color: #fff;
}
.cal1 .clndr .clndr-controls .month span {
    display: block;
    font-size: 30px;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.cal1 .clndr .clndr-controls .month {
    color: #fff;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    color: #fff;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
    background: #f4f4f4;
    padding: 5px 10px;
    color: #1fb0ab;
}
.clndr-previous-button {
    left: 15px;
    top: 25px;
    position: absolute;
}
.clndr-next-button {
    right: 15px;
    top: 25px;
    position: absolute;
}

//Angularjs calendar
.clndr-ang {
    display: block;
    margin: 0 auto;
}
.clndr-ang .clndr-ang-controls {
    background: $successColor;
    display: block !important;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding: 23px 20px;
    width: auto !important;
    color: #fff;
}
.clndr-ang .clndr-ang-controls .month {
display: inline-block;
width: 190px;
text-align: center;
font-size: 20px;
text-transform: uppercase;
font-weight: 300;
position: relative;
}
.clndr-ang .clndr-ang-controls .clndr-ang-previous-button {
   right: auto;
left: 20px;
top: 10px;
font-size: 1.7em;
position: absolute;
}
.clndr-ang .clndr-ang-controls .clndr-ang-next-button {
    left: auto;
right: 20px;
top: 10px;
font-size: 1.7em;
position: absolute;
}
.clndr-ang .clndr-ang-controls:hover{
    cursor:pointer;
}
.clndr-ang .clndr-ang-grid .days-of-the-week {
    width: 100%;
}
.clndr-ang .clndr-ang-grid .days-of-the-week .header-day {
    float: left;
    width: 14.28571%;
    padding: 12px 0;
    text-align: center;
}
.clndr-ang .days .day, .clndr-ang .days .empty {
    float: left;
    width: 14.28571%;
    padding: 8px;
    position: relative;
    text-align: center;
}
.clndr-ang .days .day.today, .clndr-ang .days .empty.today {
    background: $successColor;
    color: #fff;
}
.clndr-ang .days .day .event-indicator, .clndr-ang .days .empty .event-indicator {
    background-color: $infoColor;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 9px;
    height: 15px;
    line-height: 16px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 15px;
}
.clndr-ang .days .day.adjacent-month, .clndr-ang .days .empty.adjacent-month {
    opacity: 0.3;
}



div.week {
     
        width:100%;
 

        span.day {
     
            width: 14.285%;
            display: inline-block;
            text-align: center;

            &:first-child {
                border-left:none;
            }

            &.today {
                background:#E3F2FF;
            }

            &.different-month {
                color:#C0C0C0;
            }
        }
}
