.select-box i:before  {
    /* font-size: 20em; */
    font-size: 64px;
}
i.fa.fa-cubes {
    padding: 14px;
    /* font-size: 2px; */
}
.choose_list {
    p.tips{
    position: absolute;
    top: 5px;
    right: 25px;
    }
     .select-box.active {
    color: white;
    background-color: #79BEF3;
    border: 1px solid #6AB8F5;
    &:hover {    
            background-color: #79BEF3;
            border: 1px solid #6AB8F5;
    }
         
     }
    .select-box {
        &:hover {    background-color: #EAEAEA;}
            cursor: pointer;
  text-align: center;
    width: 29%;
    border: 1px solid #DEDEDE;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    background-color: white;
    height: 140px;
    padding-top: 14px;
    }
    p {
    font-weight: 600;
    }
  
}

.input-addon {

    display: table;
    width: 100%;
    margin-top: 25px;
    padding-bottom: 30px;

        .input-prefix {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }
    .input-prefix, .input-suffix {
        display: table-cell;
        background-color: #edefed;
        width: 1px;
        white-space: nowrap;
        vertical-align: top;
    }
   .input-stem{
    border: none;
    background-color: #79BEF3;
    border-bottom: 2px solid white;
    color: white;
    font-size: 23px;
    text-align: center;
    width: 100%;
   }
    span.input-prefix {
    font-size: 14px;
    padding: 7px;
    font-weight: 700;
    }
}