.comments {
    span {
        padding: 0px 10px;
        font-size: 10px;
    }
}

.message-label span.status_12 {
    padding: 0px 10px;
    font-size: 10px;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 8px;
    letter-spacing: 0px;
    border-radius: .25em;
}

.ta-bind {
    text-transform: initial;
}
.ta-toolbar {

    button {
    padding: 0px 5px!important;
    font-size:10px;
        
    }
}
.chat-widget {
    .ta-scroll-window.ta-text.ta-editor.form-control {
        z-index: 1;
    }
    .btn-group {
        .bar-btn-dropdown.dropdown.btn.btn-default {
            height: 13.33px !important;
            padding: 0;
            line-height: 10px;
            .dropdown-menu {
                li {
                    .checked-dropdown {
                        position: relative;
                        text-align: left;
                    }
                    button {
                        display: block;
                        padding: 3px 20px;
                        clear: both;
                        font-weight: normal;
                        line-height: 1.42857;
                        color: gray;
                        white-space: nowrap;
                        background-color: white;
                        -webkit-appearance: none;
                        width: 100%;
                        border: none;
                    }
                }
            }
        }
    }
    button.btn.btn-primary.btn-3d {
        margin-left: 10px;
        width: 120px;
        margin-right: 20px;
        margin-top: 18px;
    }
  
    min-height: 100px;

    
    .post.new {
        cursor: pointer;
        /* border: 1px solid #FDFDFD; */
        background-color: #FFDBDB !important;
        
        .arrow {
            border-right-color: rgba(249, 0, 0, 0.15);
        }
    
    }
    
}
.ago {

    font-family: Roboto;
    font-size: 11px;
    color: #616161;

}
  .emptybox {
    margin: 0 auto;
    text-align: center;
    /* line-height: 63px; */
    /* height: 200px; */
    margin-top: 25px;
        .fa {    font-size: 70px;
    color: #D1D1D1;}
    }
.comments-table {
    .title{
        font-weight: bold;
        color: #556b8d;
    }
    ul.pagination {
        margin-right: 10px !important;
        font-size: 12px;
    }
    td.message {
        width: 100%;
        padding: 0px !important;
    }
    .dataTables_filter {
        position: absolute;
        top: -25px;
    }
    .label span {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 10px;
        font-weight: 700;
        line-height: 1;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 8px;
        letter-spacing: 0px;
        border-radius: .25em;
    }
    .dataTable {
        tr:hover td {
            background: #E8E8E8;
            cursor: pointer;
        }
        .active {
            border: 2px solid #3598D7 !important;
            background-color: #E8E8E8;
            color: white !important;
            /* box-shadow: 3px 22px 13px 4px #908C8C; */
            .arrowTable {display:block;}
        }
        .arrowTable {
            width: 22px;
            height: 40px;
            display: none;
            overflow: hidden;
            position: relative;
            left: 145%;
            margin-left: -15%;
            bottom: 10px;
            z-index: 10000;
        }
        .arrowTable:after {
            content: "";
            position: absolute;
            left: -15px;
            background: #E8E8E8;
            border: 2px solid #1F7BB6;
            top: 5px;
            width: 30px;
            height: 30px;
            -webkit-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
            -moz-box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
            box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }
    }
}