.dashboard_icon {
    font-size: 16px;
    padding: 11px;
    line-height: 20px;
    border: 1px solid #e0e0e0;
    position: absolute;
    z-index: 10;
    float: right;
    border-top: 0px;
    right: 5px;
    background: #eaeaea;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 10px;
}

.dashboard_icon:hover {
    background: #1fc5ac;
    color: #fbfbfb;
}

.sales-stats {

    .widget-mini {
        position: relative;
        cursor: pointer;
    }

	.invoiceBlock {
		display: flex;
		flex-direction: row;

		&:hover {
			.moneyBlock {
				overflow-x: visible;
				overflow-y: visible;
				text-shadow: 2px 2px 10px #606060, 2px 2px 30px #606060;
			}
		}
		.moneyBlock {
			z-index: 1;
			font-size: 15px;
			line-height: 27px;
			margin-top: -8px;
			padding-left: 10px;
			text-align: left;
			display: none;
			width: 100%;
			text-overflow: ellipsis;
			overflow-x: hidden;
			overflow-y: hidden;
			.moneyBlock__number {
				white-space: nowrap;
				width: 100%;
				text-align: right;
				font-weight: 600;
			}
			.moneyBlock__profit {
				color: #45ce45;
			}
			.moneyBlock__lost {
				color: #e23b3b;
			}
		}
	}

    .panel-pending-stats.active {

        .panel-body {
            background: orange;
            color: white;
        }

    }

    .panel-clients-info.active {
        background: #1F7BB6;
    }

    .widget-comments.active {
        background: #1f7bb6;
        color: #fff;
        border: none;

    }

}

.greenBox {
    background: rgba(19, 199, 19, 0.34);
    color: white;
    transition: background .2s ease-out;
	&.orange-stripped-box {
		background: linear-gradient(135deg, #face7d, #face7d 26%, #fac364 0, #fac364 39%,#fbb430 0,#fbb430 52%,#faa919 0,#faa919 57%,#fbb430 0,#fbb430 78%,#faa919 0,#faa919 90%,#fbb430 0,#fbb430);
		background-color: #face7d;
	}
}

.active .greenBox {
    background: #13C713;
    color: white;
	&.orange-stripped-box {
		background: linear-gradient(135deg,#fbb430,#fbb430 26%,#faa919 0,#faa919 39%,#fbb430 0,#fbb430 52%,#faa919 0,#faa919 57%,#fbb430 0,#fbb430 78%,#faa919 0,#faa919 90%,#fbb430 0,#fbb430);
		background-color: #fbb430;
	}
}

.redBox {
    background: #F39292;
    color: white;
	height: 97px;
	max-height: 97px;
	transition: background .2s ease-out;
	.title {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.active .redBox {
    background: #e25d5d;
    color: white;
	border: none;
}

.grayBox {
	color: white;
	height: 97px;
	max-height: 97px;
	transition: background .2s ease-out;
	.totalBlock {
		margin: auto;
		max-width: 100%;
	}
	.title {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.blueBox {
    background: rgba(54, 142, 197, 0.34);
    color: white;
    height: 97px;
    max-height: 97px;
    transition: background .2s ease-out;
    .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.active .blueBox {
    background: #1f7bb6;
    color: #fff;
    border: none;
}

.orangeBox {
    background: rgba(255, 165, 0, 0.39);
    color: white;
    height: 97px;
    max-height: 97px;
    transition: background .2s ease-out;
    .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.active .orangeBox {
  background: orange;
  color: #fff;
  border: none;
}

.conf_filter {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background: none;
    color: white;
    letter-spacing: -1px;
    font-family: "Open sans";
    font-size: 12px;
    opacity: 0.5;
	&_dates {
		top: 25px;
	}
}
.active .conf_filter{
    color: black;
    opacity: 1;
}
.search_box {
  .busyoverlay-search {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
}
.full-screen-block {
  margin: 22px 0 0 22px;
  padding-left: 5px;
  padding-right: 5px;
  .full-screen-btn{
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
  }
  .full-screen-btn:hover{
    cursor : pointer;
  }
}

.storage_icon_table {
  width: 40px;
  color: black;
  float: left;
  margin-right: 10px;
}

.packing_day_icon {
  width: 30px;
  color: black;
  float: left;
  margin-right: 10px;
}

.margin-bottom-twenty {
    margin-bottom: 20px;
    .dashboard-tab {
        transition: width .3s cubic-bezier(.42,.97,.52,1.49), background-color .2s ease-out;
        &.minus-width {
            width: 35% !important;
        }
		&.minus-width-messages {
			width: 20% !important;
		}
    }
    #inhome-estimate-tab.panel-inhome-estimate {
        background-color: rgba(211, 84, 0, .7);
        color: #fff;
        height: 97px;
        max-height: 97px;
        transition: width .3s cubic-bezier(.42,.97,.52,1.49), background-color .2s ease-out;
        .estimateBox {
            .icon-home {
                font-size: .8em;
            }
            .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        &.active {
            background-color: rgba(211, 84, 0, 1) !important;
            width: 65%;
        }
    }

	.panel-messages {
		width: 100%;
	}

	.panel-invoices {
		transition: width .3s cubic-bezier(.42,.97,.52,1.49), background-color .2s ease-out;
		background: #808080 !important;
		&.active {
			background: #666666 !important;
			width: 80% !important;
			.moneyBlock {
				display: flex;
                flex-direction: column;
			}
		}
	}

    .panel-reserved-requests {
        transition: width .3s cubic-bezier(.42,.97,.52,1.49), background-color .2s ease-out;
        &.active {
            background-color: #1f7bb6 !important;
            width: 65% !important;
        }
    }
}
