$primary-color: rgb(243, 106, 19); //orange
$orange: rgb(243, 106, 19); //orange
$green: rgb(31, 197, 172);
$dark-blue: #0a5c89;
$light-blue: #4cb1e0;
$red: #DB2D2D;

$regular: $light-blue;
$peak: $orange;
$subpeak: $dark-blue;
$discount: $green;
$nice-blue: #7FC3F8;
$main-color: #F36A13;

#ui-datepicker-div {
	font-size: 100%;
	font-family: Verdana, sans-serif;
	background: #eee;
	border-right: 2px #666 solid;
	border-bottom: 2px #666 solid;
	z-index: 9999;
}

.ui-datepicker {
	a.ui-state-default {
		color: black;
	}
}

.ui-state-default.ui-state-active {
	color: white !important;
	background: #5151f8 !important;
}

/* Datepicker
----------------------------------*/
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
	float: left;
	font-size: 1em;
	margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
	float: right;
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.ui-datepicker td {
	border: 0;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

div#ui-datepicker-div {
	border: 1px solid rgb(195, 195, 195);
	background: white;

}

span.ui-datepicker-month {
	color: black;
}

td.ui-datepicker-unselectable.ui-state-disabled span {
	color: rgb(207, 207, 207);
	font-weight: normal;
}

li.type.link a {
	padding: 4px 5px;
	&:hover {
		background: rgb(246, 246, 246);
	}
	color: rgb(92, 92, 92);
	font-weight: normal;
	border: 1px solid rgb(196, 195, 195);
}

#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > div > span.ui-datepicker-month, #ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > div > span.ui-datepicker-year, #ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > div > span.ui-datepicker-year span, #ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-last > div > div span, span.ui-icon.ui-icon-circle-triangle-e {
	color: white;
}

#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > a span, #ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-last > div > a span {
	background-image: none !important;
	color: rgb(33, 33, 33) !important;
	height: 28px;
	width: 50px;
	font-size: 10px !important;
}

#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > a, #ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-last > div > a {
	background: none !important;
	border: none !important;
}

td.highlight a {
	background: rgba(156, 156, 255, 0.81) !important;
	/* color: white !important; */
	color: white !important;
}

#ui-datepicker-div {
	font-size: 100%;
	font-family: 'Open sans', sans-serif;
	border: 2px solid blue;
	background: white;
	display: none;
	line-height: 22px;
}

#jrange input, #djrange input {
	width: 245px !important;
	text-align: center;

}

.ui-datepicker {
	font-family: 'Open sans', sans-serif;
	margin-top: 5px;
	position: absolute;
	box-shadow: 1px 5px 10px rgb(230, 230, 230);
}

.ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	span {
		color: black !important;
		font-weight: 500;
	}
}

.ui-datepicker th {
	padding: 0px;
	font-size: 12px;
	background-color: #FFFFFF;
	color: #CBCBCB;
	text-transform: uppercase;
	font-family: 'Open sans';
	font-weight: 600;
	span {

		color: rgb(108, 105, 105);
		font-size: 10px;
		font-weight: 400 !important;

	}
}

.ui-datepicker tbody {
	background: #FFFFFF;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	font-weight: 600;
	text-align: center;
	font-family: 'Open sans' !important;
	border: none;
	color: white;
	background: none;
	font-size: 12px;
	cursor: pointer;
}

.ui-datepicker-inline.ui-datepicker.ui-widget {
	border: 3px solid #7c7cff;
}

.ui-widget-content {

	color: #222;
}

.ui-state-default.ui-state-hover {
	color: white !important;
	background: rgb(83, 83, 255) !important;
}

.ui-state-default.ui-state-active {
	color: white;
	background: #5151f8 !important;
}

td.date-range-selected.range a {
	background: #5353ff !important;
	color: white !important;
}

td.date-range-selected .ui-state-default {
	background: #5151f8;
	color: white !important;
}

button.ui-datepicker-close.ui-state-default {
	border-top: 1px solid rgb(242, 242, 242) !important;
	border-top: 1px solid #f2f2f2 !important;
	background: rgb(76, 172, 220);
	color: white !important;
	cursor: pointer;
}

button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all {
	display: none;
}

.ui-datepicker-buttonpane.ui-widget-content {
	border: none;
	margin-top: -10px;

}

.day-number.peak, li.peak, .ui-datepicker-calendar td.peak a {
	background: #e76a6b;
}

#owl-calendar .cal {
	float: left;
	margin-left: 45px;
	min-height: 245px;
}

.cal {
	display: block;
	width: 210px;

	caption {
		display: block;
		font-family: "Open sans";
		line-height: 25px;
		font-size: 12px;
		font-weight: bold;
		color: #4D9FDF;
		text-align: center;
		background: white;
		margin: 0px;
	}

	th {
		line-height: 20px;
		font-size: 8px;
		color: #4D9FDF;
		font-weight: bold;
		text-transform: uppercase;
		background: #FFFFFF;
		border: 0px;
	}
}

.cal th, .cal td {
	width: 15%;
	text-align: center;
	padding: 0px;
}

.cal td {
	font-size: 11px;
	font-weight: bold;
}

.cal th:first-child, .cal td:first-child {
	border-left: 0;
}

.cal td a {
	clear: both;
	display: block;
	position: relative;
	width: 30px;
	line-height: 28px;
	color: #fff;
}

.day-number.regular, li.regular, .ui-datepicker-calendar td.regular a {
	background: $regular;
}

.day-number.peak, li.peak, .ui-datepicker-calendar td.peak a {
	background: $peak
}

.day-number.subpeak, li.subpeak, .ui-datepicker-calendar td.subpeak a {
	background: $subpeak;
}

.day-number.discount, li.dicount, .ui-datepicker-calendar td.discount a {
	background: $discount;
}

.day-number.highpeak, li.highpeak, .ui-datepicker-calendar td.highpeak a {
	background: $red;
}

.type_popup li {
	.subpeak {
		background: $subpeak;
	}
}

.ui-datepicker-buttonpane.ui-widget-content li.type {
	list-style: none;
	float: left;
	margin-left: 4px;
	margin: 4px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 0px 10px;
	color: white;
	font-family: "Open sans";
	font-weight: 400;
	font-size: 14px;
}
