.cusermodal-department {
  padding: 0px;

  legend {
    font-size: 12px;
    background: #EAEAEA;
    margin-bottom: -15px;
    border: none;
  }
  .nav-tabs > li {
    float: left;
    margin-bottom: -2px;
  }
  .tab-pane {
    padding: 20px;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: inherit;
  }
  .tab-content label {
    font-family: Roboto;
    font-size: 12px;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 12px;
  }
  .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: gray;
  }
  .form-group.main {
    background: #EAEAEA;
  }
  .tab-content {
    background: white;
  }
  .tab-content {
    background: white;
    .form-group {
      background: #FFFFFF;
    }
  }

  .tab-content.checkboxes {
    input {
      vertical-align: middle;
      margin-top: 0px;
    }
  }

  select {
    padding: 5px 12px !important;
  }

  select {
    cursor: pointer;

    option {
      &:disabled {
        color: #e8e8e8;
      }
    }
  }
  .btn-delete {
    cursor: pointer;
    max-width: 20px;
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
  }
  .btn-add {
    cursor: pointer;
    max-width: 27px;
    height: 25px;
    line-height: 12px;
    font-size: 26px;
    font-weight: bold;
    padding: 6px;
    color: #fff;
    background: #19B119;
    border-radius: 50%;
  }
  .acc_title {
    margin-bottom: 10px;
    margin-top: 20px;
    /* margin-left: 30px; */
    padding: 10px;
    padding-left: 33px;
    text-align: center;
    background: #E4E4E4;
    border: 1px solid #D2CFCF;
    .btn-test-connection {
      margin-top: -5px;
      padding: 5px;
    }
  }
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
  .validation-text {
    color: red;
    font-size: 13px;
  }
	.ng-invalid-phone-parser {
		border-color: #f00;
		background-color: rgba(231, 76, 60, .2);
	}
  .validation-field {
    border: 2px solid red !important;
  }
  .input-addon-x {
    padding: 6px 12px;
    background: #e0e0e0;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 0px;
  }
	.active-user {
		label {
			float: right;
			margin-right: 10px;
		}
		div {
			float: right;
			margin-right: 15px;
			margin-top: 5px;
		}
		input[type=checkbox] {
			margin-left: 20px;
		}
	}
  .with-left-padding{
    float: left;
    width: 100%;
    padding-left: 15px;
  }
}
.footer-bg_grey {
  background-color: rgb(234, 234, 234);
}
.department {
  .tab_content{
    .select-status{
      div {
        float: left;
        margin-right: 15px;
        font-size: 0.813em;
        margin-top: 3px;
        text-transform: none;
        font-weight: 600;
      }
    }
  }
}

.panel-wrapper-department {
  .department {
    .panel {
      margin-right: 0px;
    }
  }
}
