 .overlay {
        position: absolute;
    background-color: rgba(255, 255, 255, 0.48);
    width: 100%;
    height: 100%;
    z-index: 10000;

    }
div#details {
    padding: 0px;

    .details_block {padding:0px;}

}


// DETAILS TABLE
table.details {
    width: 100%;
    .center {text-align: center;}

    td.icon {
        width: 5%;
        text-align: center;
        border-right: 1px solid gray;
        border-right: 1px solid #d9d9d9;
        font-size: 7px;
        padding-top: 25px;
        .icon-note{
            font-size:14px;
        }
    }
    td.icon.checked {
            color: #ACF2AC !important;
    }
    td.box {
        padding: 15px;
        text-align: center;
        font-size: 1.1em;
        select,  .dateRange input {
            width: 65%;
            padding: 5px;
            margin-top: 10px;
            /* text-align: center; */
        }
        .fa-picture-o {
            cursor: pointer;

            &:hover{
                color: gray;
            }
        }
        .icon-note{
            cursor: pointer;
        }
        p.additional-block {
            color: #565656;
            font-weight: normal;
            font-family: Roboto;
            text-align: left;
        }
        .additional-block h1 {
            font-size: 18px;
        }
        .additional-block-title {
            font-size: 18px;
            font-weight: 700;
        }
        &.additional-block-box {
            .add_comment {
              padding-left: 9%;
              padding-right: 9%;
            }
            &:hover {
                cursor: pointer;
                position: relative;
                .icon-note {
                    display: inline;
                    z-index: 1000;
                }
            }

        }
    }
    h4.center {
    margin-bottom: 10px;
      .icon-note {
        display: inline;
        z-index: 1000;
      }
}
    td.boxleft{
        border-right: 1px solid #D8D8D8;
    }
    .add_comment{
        padding: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .buttonbox {

        padding:20px;
        button { margin-left: 6%;}
    }

    .control {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 1em;
      h5 {
        margin-right: 1em;
      }
      .switchery-small {
        width: 30px;
        height: 15px;
        small {
          width:15px;
          height: 15px;
        }
      }
    }
    .control-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
      label {
        margin-right: 1em;
        padding: 0;
      }
    }

    .dateRange.delivery  {

        .ui-datepicker{

            margin-left: -50px;

        }

    }

}

.details-image-modal {
    .modal-header {
        float: left;
        width: 100%;
        text-align: center;
    }
    .modal-body {
        float: left;
        width: 100%;
        .empty-gallery-box {
            text-align: center;
            width: 100%;
            padding: 40px 20px;
        }
    }
    .modal-footer {
        float: left;
        width: 100%;
    }
}

.additional-block-modal {
    .modal-header {
        float: left;
        width: 100%;
        text-align: center;
    }
    .modal-body {
        float: left;
        width: 100%;
        .row {
          padding: 10px 0;
          #title {
            width: 100%;
          }
          label {
            font-size: initial;
            padding: 0 !important;
          }
          .ta-text > .ta-bind {
            min-height: 300px;
          }
        }
    }
    .modal-footer {
        float: left;
        width: 100%;

        .cancel-button {
          float: right;
          margin-right: 15px;
        }

        .save-button {
          float: right;
        }
    }
}
