@media (min-width: 220px) and (max-width: 720px) {


}
@media (min-width: 1620px) {

}
i.disptach_icon {
  font-size: 20px;
  padding: 10px;
  line-height: 20px;
  background: #eaeaea;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  float: right;
  margin-top: 0px;
  margin-right: 10px;
  &:hover {
    background: #1fc5ac;
    color: #fbfbfb;
  }

}
i.disptach_icon.active {
    background: #1fc5ac;
    color: white;
    border: 1px solid #23c5ad;
}

.dispatch {
	.angular-google-map-container {
		height: 950px;
	}

	.ui-datepicker-inline.ui-datepicker.ui-widget {
		border: 3px solid #7c7cff;
		width: 240px;
	}

	.fixed_aside_dispatch {
		position: fixed;
		top: 76px;
		right: 30px !important;
		.panel.panel-default {
			width: 100%;
		}
	}

	.diamond {
		top: 0px;
		position: absolute;
		right: 0px;
	}
	.schedule-legend-block {
		margin-left: 20px;
		margin-bottom: 20px;
		.donebox {
			color: white;
			display: inline-block;
			padding: 5px 10px;
			font-size: 12px;
		}

	}
	.schedule-legend {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin-right: 3px;
	}
	.bubble.popup {
		display: none !important;
	}
	.request {
		&.dhx_cal_event_line {
			&.teamAssigned {
				background: #fb8f50;
				color: white;
			}
			&.clicked {
				border: 3px dotted #080808;
			}
			&.jobDone {
				background: #3a9bef !important;
				color: white;
			}
		}
	}
	.ld-trip.dhx_cal_event_line.clicked {
		border: 3px dotted #080808;
	}

	.park_lot .pkl_data {
		max-width: 1200px !important;
	}
	.panel {
		display: block;
		-webkit-transition: width 300ms ease-in-out;
		-moz-transition: width 300ms ease-in-out;
		-o-transition: width 300ms ease-in-out;
		transition: width 300ms ease-in-out;
		.panel-heading {
			&__header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.create-crew-preset {
					cursor: pointer;
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	.adminpanel {
		float: initial;
		margin-right: 300px;
		background: white;
		border: 1px solid #eaeaea;
		overflow-x: scroll;
		.panel-heading {
			font-family: Roboto, sans-serif;
			width: 100%;
			display: inline-block;
		}
		.mdDataTable {
			font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
			font-size: 15px;
			display: inline-block;
			width: 100%;
		}
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		border-left: 0;
		padding: 10px 15px;
	}

	.flat-rate-crew-panel .nav-tabs > li.active > a,
	.flat-rate-crew-panel .nav-tabs > li.active > a:hover,
	.flat-rate-crew-panel .nav-tabs > li.active > a:focus {
		border-left: 0;
		padding: 10px 8px;
	}

	.radio label {
		padding-left: 10px;
	}
	.unassign {

		.fa.fa-users {
			margin-right: 15px;
			display: inline-block;
		}

		a[disabled='disabled'] {
			cursor: not-allowed;
			color: #eee;
			opacity: 1;
			pointer-events: none;
		}

	}

	.btn-circle {
		font-weight: bold;
		font-size: 16px;
		border-radius: 100%;
	}

	.with-current-time {
		h3 {
			float: left;
			min-width: 20%;
		}
		strong {
			float: left;
			display: block;
			width: 40%;
			text-align: center;
			font-size: 16px;
			padding: 0 15px;

			+ div {
				float: left;
				width: 30%;

			}
		}
	}
	.col-assigned {
		text-align: center;

		a {
			.fa {
				color: #e0e0e0;
			}
			&.active {
				.fa {
					color: #13C713;
				}
			}
		}

	}

	#add_crew {
		z-index: 10;
		a {
			margin: 0;
			box-shadow: inset 0 2px 10px rgba(255, 255, 255, 0.13);
			text-align: left;
			border-radius: 24px 24px 0 0;
			background: #556B8D !important;
			&:hover {
				border-color: #556B8D !important;
				animation-name: growthBtn;
				animation-duration: .3s;
				animation-timing-function: ease-in-out;
				animation-fill-mode: both;
			}
		}
	}
}

@keyframes growthBtn {
  0% {
    height: inherit;
    transform: translateY(-1px);
  }
  100% {
    height: 60px;
    transform: translateY(-15px);
    position: absolute;
  }
}

.right-sidebar
{
  float: right;
  width: 270px;
  margin-right: 10px;
  z-index: 199;
  -webkit-transition: right 300ms ease-in-out;
  -moz-transition: right 300ms ease-in-out;
  -o-transition: right 300ms ease-in-out;
  transition: right 300ms ease-in-out;

  &.active {
    right:0;
  }

  .ui-datepicker
  {
    border:0 !important;
    position: static;
    box-shadow: none !important;
  }

  .workers {
    max-width: 195px;
    float: left;
  }
	.work-crew-presets {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
	}
  .nav-tabs>li>a.close-up,
  .nav-tabs>li.active>a.close-up {
    border: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 9px;
    color: white;
    padding: 4px 3px 7px 3px;
    cursor: pointer;
    background: #E25D5D;
    text-align: center;
    border-radius: 0 0% 50% 50%;
    font-weight: bold;
  }

  .btn-switch {
    display: inline-block;
    color: #27B6AF;
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 13px;
    padding: 0px;
    float: left;
      i{
          padding: 0;
      }
  }

  .switcher {
    margin-top: 10px;
  }
}

.gallery-box {
  float: left;
  max-width: 200px;
  padding: 0 10px;
}
.no-animate {
  -webkit-transition: none !important;
  transition: none !important;
}

.miscModal {
  .modal-content label {
    padding: 10px 0;
  }
}
#user-payroll .dataTables_filter{
  top: -47px;
  right: 150px;
}
#worker-payroll .dataTables_filter{
  top: -30px;
  right: 150px;
}
#department-payroll .dataTables_filter{
  top: -47px;
  right: 150px;
}
#payroll-status .btn-default,a.btn-default:link,a.btn-default:visited{
  background-color: white;
  color: black;
}
#payroll-status .btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
  background-color: #6767EF !important;
  width: 100%;
  color: white !important;
}

@media all and (max-width: 860px) {
  .fixed_aside_dispatch {
    position: static !important;
  }
}
