.log-arrow-up{
	position: absolute;
	// right: 20px;
	top: -7px;
	left: 7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 11px 10px;
	border-color: transparent transparent #ffffff transparent;
}
.log-arrow-down{
	position: absolute;
	// right: 20px;
	bottom: -7px;
	top: inherit;
	left: 7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 11px 10px;
	// border-color: transparent transparent #ffffff transparent;
	border-width: 10px 10px 0 10px;
	border-color: #ffffff transparent transparent transparent;
}
#company-flags .dropdown-menu {
	border: none;
	left: -10px;
	top: 110%;
	z-index: 1001;
	text-transform:uppercase;
}
#company-flag{
	li{
		text-transform:uppercase;
	}
	li:nth-last-child(1){
		margin-bottom: 5px;
		hr{
			display:none;
		}
	}
	li:first-child{
		margin-top: 5px;
	}
}
.dropdown-hr{
	width: 85%;
}
