.job_closed {

	.general.col-md-12 .addr, .general.col-md-12 .subbox.col-md-3 {
		margin-top: 30px;
	}
	.general.col-md-12 .subbox.col-md-8 {
		position: relative;
	}

}

.salesState, .invoiceState {
	.addr-block {
		opacity: 0.85;
		pointer-events: none;
		img {
			pointer-events: auto;
		}
	}
	.main-info .col-md-9, .main-info .leftblok, .subbox.sales.col-md-3 {
		pointer-events: none;
		opacity: 0.85;
	}
	.subbox.sales.col-md-3.not-blocked {
		pointer-events: all;
		opacity: 1;
	}

}

.request-setting-wrapper {
  width: 27%;
  float: left;
  margin-left: 35px;
}

.packing-day-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	.remove-packing-day {
		position: absolute;
		top: 7px;
		right: 20px;
	}
	label.packing-day-binding {
		display: block;
		text-align: center;
		padding-left: 0;
		cursor: pointer;
	}
	.addPackingInfo {
		span {
			font-size: .8em;
			font-weight: 700;
			text-align: center;
			display: block;
		}
	}
	.packing-day-icon {
		padding: 0 5px 0 5px;
		margin: 0 auto;
		display: block;
		&.without-parent {
			height: 90px;
		}
		&.with-parent {
			height: 50px;
		}
	}
}

.closing_row {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: -10px;
	right: -15px;
}

.open_button.clossing:active {
	border-color: #45BB45;
}

.open_button.completed {
	background: #45BB45;
	color: white;
	border-color: #45BB45 #3FAF3F #308430;
	.open {
		display: none;
	}
}

.open_button.clossing.completed:hover {
	.open {
		display: block !important;
	}
	.completedjob {
		display: none;
	}
	background: #FD5757 !important;
	border-color: #FD5757 #FD5757 #CE4343 !important;
}

.open_button.clossing:hover {
	background: #45BB45;
	color: white;
	border-color: #45BB45 #3FAF3F #308430;
	i {
		color: #FFFFFF;
		font-weight: normal;
	}
	.closing {
		display: block;
	}
	.open {
		display: none;
	}

}

.active_job {
	.closing {
		display: none;
	}
}

.open_button {
	display: inline-block;
	background: white;
	border: 1px solid #D0CECE;
	font-size: 14px;
	padding: 5px 15px;
	float: right;
	cursor: pointer;
	margin-left: 25px;
	min-width: 127px;
	&:hover {
		background: #EFEFEF;
	}
}

.prk_overlay {
	position: absolute;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.64);
	height: 100%;
	width: 100%;
	text-align: center;
}

.invoice_box {
	position: absolute;
	right: 19px;
	top: -10px;
	z-index: 1;
	width: 27%;
	display: flex;
	justify-content: space-around;
}
.invoice_box div {
  width: 102px;
  font-size: 12px;
  line-height: 29px;
  text-align: center;
  text-transform: Uppercase;
  cursor: pointer;
  display: inline-block;
  background: white;
  border: 1px solid #D0CECE;

}
.invoice_box div.sales_type.active {
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  background: #56AEF9;
  border-color: #56AEF9 #46A0EC #2578BF;
  color: white;
}
.invoice_box div.invoice_name.active {
  border-color: #FB9E3C #E28C31 #C1792D;
  background: #FB9E3C;
  color: white;

}

.requestModal {
	.modal-header {
		min-height: 16.43px;
		padding: 0px;
		padding-bottom: 0px;
		border-bottom: 1px solid #e5e5e5;
	}
	.nav-tabs {
		border-bottom: 0px solid #ddd;
	}
	.active {
		//border-bottom: 2px solid #556B8D !important;
		border-top: 0px solid #556B8D;
	}
	.nav-tabs > li {
		float: left;
		margin-bottom: 0px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #555;
		cursor: default;
		background-color: #fff;
		border: 0px solid #ddd;
		border-bottom-color: transparent;
		font-weight: 600;
	}

	.form-item.request-weight {
		line-height: 20px;
		padding-top: 45px;

		i.fa-cubes {
			display: inline-block;
			float: left;
			margin-right: 10px;
		}

	}

}

.panel-body.second.Details.open {
	background-color: white;
}

h4.panel-title {
	cursor: pointer;
}

h4.panel-title-with-saving {
	cursor: default;
	.saving-progress {
		position: inherit;
		display: block;
		top: 10px;
		float: right;
		right: 10px;
		font-weight: bold;
		color: #FF2D2D;
	}
}

#movecalc-admin-edit-form {
	background: #f0f0f0;

	select {
		padding-left: 15px;
	}

	.addr {

		input, select {
			width: 100% !important;
			padding-left: 10px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 14px;
			letter-spacing: 0px;
			color: black;
			text-transform: capitalize;
			line-height: 40px;
		}

	}

	input#edit-est-price {
		width: 215px;
	}
	.panel-body.second {
		padding: 15px;
		margin-top: 20px;
		padding-top: 15px;
		border-top: 1px solid #C1C1C1;

	}
	.panel-title {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 14px;
		color: inherit;
		padding: 0px;
		font-family: "Roboto", sans-serif;
	}

	label {
		font-size: 13px;
		padding: 0px;
		padding-left: 0px;
		padding-top: 0px;
		display: block;
	}

	.btn-update {
		float: left;
		margin-top: 25px;

	}
	a.admin-editable {
		position: absolute;
		font-size: 21px;
		right: 0px;
		top: -10px;
		margin: 0px !important;
		/* margin-top: -40px; */
		color: #6d6d6d !important;
	}
}

#movecalc-admin-edit-form {
	div#edit_furnished_rooms_invoice_chosen {
		width: 100% !important;
	}
	div#edit_furnished_rooms_chosen {
		width: 100% !important;
	}
	.chosen-choices li.search-choice {
		font-size: 16px;
		margin-top: 7px;
		/* padding: 3px; */
		padding-left: 10px;
		margin-left: 5px;
		padding: 10px 20px 10px 10px;
		border: 1px solid #aaa;
		border-radius: none;

	}

	input#suggested_trucks {
		padding-left: 10px;
	}
	.form-item.form-type-select.form-item-Furnished-Rooms {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.addr.right {
		float: left;
		margin-left: 40px;
		width: 45%;
	}
	.offbtn {
		background: rgb(194, 194, 194);
		opacity: 0.4;
		pointer-events: none;
	}
	.update_btn_field {
		/* margin-top: 30px; */
		float: left;
		//margin-left:20px;
	}
	select#edit-status {
		border: 1px solid #c4c4c4;

		background-color: #fff;
		color: #565a5c;
		padding-bottom: 10px;
		padding-top: 10px;
		font-family: 'Open sans';
		font-size: 14px;
		width: 145px;
		font-weight: 600;
	}
	label {
		color: #848484;
		line-height: 24px;
		/* margin-top: 5px; */
		font-weight: 400;
		font-family: "Open sans", Helvetica, Arial, sans-serif;
		font-size: 12px;
		letter-spacing: 0px;
		text-transform: capitalize;
		margin: 0px;
	}
	.form-item-Status {
		float: left;
		width: 145px;
	}

	.form-item.form-type-textfield.form-item-price-per-hour {
		float: left;
		width: 57px;
	}
	input#edit-price-per-hour {
		margin-left: 26px;
		padding-left: 25px;
		width: 85px !important;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.form-item.form-type-textfield.form-item-travel-time, .form-item-del-time2 {
		margin-left: 40px;
	}
	.form-item.form-type-textfield.form-item-start-time2, .form-item-max-time {
		margin-left: 40px;
	}
	.form-item.form-type-textfield.form-item-movers-crew {
		margin-left: 25px;
	}
	.main_edit_info, #acc_req_info {
		padding-left: 20px;
		padding-right: 20px;
	}
	.addr select {
		width: 105%;
	}
	.form-item-price-per-hour {
		float: left;
		width: 40px;
		margin-left: 25px;
	}
	.form-item.form-type-textfield.form-item-est-time, .delivery_dates {
		float: left;
		width: 200px;
		margin-left: 35px;
	}
	input#edit-movers-crew {
		width: 45px;
		padding-left: 15px;

	}
	input#edit-est-time, input#edit-est-price {
		text-align: center;
	}
	.form-item.form-type-textfield.form-item-est-price {
		float: left;
		width: 180px;
		margin-left: 35px;
	}
	.form-item.form-type-textfield.form-item-movers-crew {
		margin-left: 15px;
	}
	.flat_rate1 {

		#edit-max-time {
			width: 40px !important;
			padding-left: 10px !important;
		}
		.form-item.form-type-textfield.form-item-movers-crew {
			margin-left: 10px !important;
		}
		.form-item-est-price {
			float: left;
			width: 70px !important;
			margin-left: 0px !important;
		}
		#frdates input {
			width: 175px !important;
		}
	}
	input#edit-est-price.flat {
		pointer-events: auto !important;
		background: white !important;
	}
	input#edit-est-time {
		background: rgb(231, 231, 231);
		pointer-events: none;
	}
	#edit-del-time, #edit-del-time2, input#edit-start-time, #edit-start-time2, #edit-travel-time, #edit-movers-crew, #edit-min-time, #edit-max-time {
		width: 60px;
		padding-left: 10px;
		margin-left: 35px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	input#edit-max-time, input#edit-min-time {
		width: 55px !important;
		padding-left: 20px !important;
	}
	.form-item-del-time, .form-item-del-time2, .form-item-start-time, .form-item-start-time2, .form-item-movers-crew, .form-item-travel-time, .form-item-min-time, .form-item-max-time {
		float: left;
		width: 110px;
	}
	.form-item.form-type-textfield.form-item-delivery-dates-starttime {
		float: left;
		width: 80px;
		margin-left: 25px;
	}
	input#edit-start-time, input#edit-start-time2, input#edit-del-time, input#edit-del-time2 {
		width: 85px !important;
	}
	.form-item-Move-Date, .form-item-Service, .form-item-Size-Move {
		float: left;
	}
	.form-item.form-type-date.form-item-Delivery-Date {
		float: left;
		margin-left: 40px;
	}
	.form-item.form-type-textfield.form-item-delivery-dates-str {
		display: none;
	}
	.form-item-Service, .form-item-Size-Move {
		width: 240px;
		margin-left: 35px;
	}
	.form-item-Move-Date-date {
		label, .description {
			display: none;
		}
	}
	textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
		border: 1px solid #c4c4c4;
		border-radius: 2px;
		background-color: #fff;
		color: #565a5c;
		padding-bottom: 10px;
		padding-top: 10px;
		font-family: 'Open sans';
		font-size: 14px;
		font-weight: 600;
		box-shadow: none;
	}
	span.field-prefix span {
		display: table-cell;
		position: absolute;
		color: #989898;
		margin-left: -5px;
		margin-top: 0px;
		padding: 10px;
		padding-top: 5px;
		line-height: 30px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding-bottom: 4px;
		background: #edefed;
		border: 1px solid #c4c4c4;
		border-right: none;

	}
	.form-item, .form-actions {
		margin-top: 0em;
		margin-bottom: 0em;

	}

	div.left {
		float: left;
		width: 45%;
	}
	h2 {
		font-size: 14px;
		font-size: 12px;
		letter-spacing: 0px;
		color: black;
		text-transform: capitalize;
	}
	#edit-move-date select {
		width: 80px;
	}
	select#edit-move-date-month {
		width: 75px !important;
	}

	background: rgb(240, 240, 240);

}

div#acc_req_info {
	padding-top: 20px;
}

.main_edit_info {
	margin-bottom: 20px;
	padding-bottom: 10px;
}

h3.acc_req_info.reqinfo {
	border: none !important;
	position: absolute;
	left: 44%;
	margin-top: -30px;
	width: 100px;
}

#accordion2 #acc_req_info2 {
	display: block;
}

#accordion, #accordion2, #accordion3 {

	#acc_req_info {
		padding-left: 60px !important;
		display: none;
	}
	margin-top: 20px;
	h3 {
		cursor: pointer;
		font-size: 12px;
		font-family: 'Open sans';
		text-transform: Capitalize;
		font-weight: 600;
		padding-left: 30px;
		letter-spacing: 0px;
		border-top: 2px solid rgb(235, 235, 235);
		color: #696868;
	}
}

#accordion3.open {
	margin-top: 20px;
	background: white;
	border-bottom: 2px solid rgb(229, 229, 229);
}

#accordion3 {
	margin: 0px !important;
	div#acc_req_info {
		padding-top: 0px;
	}

}

#accordion.open {
	margin-top: 20px;
	background: white;
	height: 655px;
	border-bottom: 2px solid rgb(229, 229, 229);
}

h3.acc_req_info span {
	color: gray;
	margin-left: -15px;
	margin-right: 15px;
}

#accordion h3.open {
	border-bottom: 0px solid rgb(229, 229, 229);
}

div#accordion2 {
	margin-top: 0px;
}

.bggray {
	background: rgb(229, 229, 229) !important;
}

.btnclose {
	background: rgb(206, 206, 206);
	opacity: 0.5;
	border: 2px solid rgb(193, 193, 193);
}

h3.acc_req_info.open {
	background: white;
}

//Flat rate form
.main_edit_info.flat_rate {

	.form-item.form-type-textfield.form-item-max-time {
		margin-right: 38px;
	}
	.form-item.flat_delivery_date_end {
		float: left;
	}
	.form-item.form-type-textfield.form-item-delivery-start-time {
		float: left;
	}

	.form-item.form-type-textfield.form-item-start-time {
		width: 285px !important;
	}
	.form-item-start-time {
		label {
			text-align: center;
		}
	}
	input#edit-start-time {
		margin-right: 35px;
	}

	.form-item-max-time {
		margin-left: 30px;
		margin-right: 85px;
	}

}

// Flat rate input style
.flat_delivery_date_end {

}

.flat_delivery_date {
	float: left;
	/* width: 171px; */
	margin-right: 35px;
	margin-left: -5px;
}

input#delivery_time_start, #delivery_time_end {
	width: 65px;
	text-align: center;
	margin-left: 35px;
}

.form-item.flat_delivery_date label, .form-item.flat_delivery_date_end label {
	text-align: center;
}

input#delivery_date_start, #delivery_date_end {
	width: 110px;
	/* margin-left: 35px; */
	margin-right: 33px;
}

div#edit-move-delivery_date {
	float: left;
	margin-right: 40px;
}

input#edit-start-delivery-time {
	width: 65px;
	margin-left: 35px;
	margin-right: 30px;
}

input#edit-start-delivery-time2 {
	width: 65px;
	margin-left: 35px;
}

select#edit-move-delivery-date-year, select#edit-move-delivery-date-day {
	width: 80px;
}

select#edit-move-delivery-date-month {
	width: 75px;
}

.form-item.form-type-textfield.form-item-delivery-start-time {
	float: left;
	text-align: center;
}

.flat_rate_option2 h5 {
	line-height: 12px;
	font-family: 'Open sans';
	letter-spacing: 0px;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 14px;

}

.current_false {
	background-color: #E1E1E1;
	opacity: 0.4;
}

.flat_rate_option2 {
	border: 1px solid #dce0e0;
	background-color: #fff;
	padding: 10px;
	width: 90%;

	/* margin-top: 20px; */
	margin: 0px !important;
	margin-bottom: 15px !important;
}

.countdown-field {
	display: none;
	i.fa.fa-clock-o {
		position: absolute;
		color: #989898;
		font-size: 12px;
		margin-left: 0px;
		margin-top: 0px;
		padding: 10px;
		padding-top: 5px;
		line-height: 30px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding-bottom: 2px;
		background: #edefed;
		border: 1px solid #c4c4c4;
		border-right: none;
	}
	input#edit-count-down {
		width: 75px !important;

		margin-left: 30px !important;
		padding-left: 30px !important;
	}
}

input#reservation_price {
	margin-left: 27px;
	padding-left: 25px;
	width: 85px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.form-item.form-type-textfield.reservation-price {
	float: left;
	margin-left: 85px;
	width: 100px;
}

.form-item.form-type-textfield.form-item-min-time {
	margin-left: 32px;
	width: 101px;
}

// New Flat Rate Admin Form
#movecalc-admin-edit-form .main_edit_info, #movecalc-admin-edit-form #acc_req_info {
	padding-left: 20px;
	padding-right: 20px;
	min-height: 125px;
}

#movecalc-admin-edit-form input#edit-max-time, #movecalc-admin-edit-form input#edit-min-time {
	width: 65px !important;
	padding-left: 10px !important;
}

.form-box.reqstatus {
	height: 110px;
	width: 165px;
	margin-right: 0px;
}

.form-box.work_time {
	width: 115px;
}

.form-box.flatduration {
	width: 235px;
}

.form-box.update {
	border: none;
	width: 117px;
	margin-right: 0px;
	margin-top: 30px;
	margin-left: 15px;
}

.form-box {
	span.field-prefix.delivery_crew {
		margin-left: 6px;
		float: left;
	}

	input#edit-movers-crew {
		width: 25px !important;
		padding-left: 25px !important;
	}

	a#update_request {
		width: 100px;
		font-size: 10px;
		margin-top: 0px;
		font-size: 12px;
	}
	select#edit-status {
		margin: 0px;
		margin-top: 5px;
	}

	input#delivery_crew {

		padding-left: 49px !important;
		width: 25px !important;
	}
	.button_on {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 2px 0 rgba(255, 255, 255, 0.2);
	}
	input#delivery_date_start, #delivery_date_end {
		margin: 0px;
		float: left;
		margin-right: 5px;
		margin-left: 0px !important;
	}

	float: left;
	width: 125px;
	margin-right: 20px;
	padding: 0px 0px 10px 0px;
	border-right: 1px solid rgb(214, 214, 214);

	input {
		/* width: 40px; */
		padding-left: 10px !important;
		line-height: 0px !important;
		margin-left: 28px !important;
		margin-top: 5px !important;
		margin-bottom: 0px !important;
		padding: 9px !important;
		/* float: none; */
		display: block;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

}

#move-admin-contract-upload-form {

	#edit-image-file, #edit-upload {
		display: none;
	}

}

td.views-field.views-field-field-movers-count-1 {
	text-align: center;
}

th.views-field.views-field-field-movers-count-1 {
	width: 2px;
	text-align: center;
}

th.views-field.views-field-created {
	width: 115px;
	text-align: center;
}

td.views-field.views-field-nothing {
	width: 80px;
	text-align: center;
}

a.fbtn.reqbutton {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	background: rgb(33, 158, 255);
	color: white !important;
	padding: 5px;
	&:hover {
		background: rgb(105, 187, 250);
	}
}

div.saleslog {
	background: #F0F3F3;
	h4 {
		background-color: #1D212A;
		color: #fff;
		padding: 2px 0 5px 00px;
		margin: 0;
		line-height: 30px;
		text-align: center;
		font-size: 17px;
		text-transform: UPPERCASE;

		a {
			background-color: #1D212A;
			display: block;
			height: 37px;
			position: absolute;
			right: -40px;
			top: 0;
			width: 40px;
			font-size: 17px;
			line-height: 40px;
			color: #FFF;
			text-align: center;
			text-decoration: none;
			border-radius: 0px 5px 5px 0px;
		}
	}

	.log-content {
		padding: 0px 0px;
		.body {
			margin-top: 10px;
		}
		.open-html {
			cursor: pointer;
			font-size: 16px;
			color: #7C9EB2;
			float: right;
			margin: 10px;
			display: inline-block;
			//margin-top: 10px;
		}
		.log-text {
			display: inline-block;
			text-align: justify;
		}
		.mail-subject {
			max-width: 610px;
			display: inline-block;
		}
	}

}

div#saleslog.logopen {
	left: 0px !important;
}

div#saleslog.logclose {
	left: -650px !important;
}

.log {
	font-family: "Open sans";
	font-weight: normal;
	letter-spacing: 0px;
	color: black;
	font-size: 13px;
	//min-height: 100px;

	background-color: rgb(251, 251, 251);
	padding: 10px 10px;
	padding-top: 20px;
	border-bottom: 1px solid rgb(209, 209, 209);
	/* background: #F0F3F3; */
	border: 1px solid #dae2ea;
	color: #7c9eb2;

	.user_name {
		margin-left: 77px;
		font-size: 12px;
		color: #E29212;
	}

	margin: 5px;
	position: relative;
	.type {
		/* float: left; */
		position: absolute;
		top: 22px;
		width: 50px;
		height: 50px;
		transform: translateY(-50%);
		i.fa {
			font-size: 25px;
			position: absolute;
			top: 25%;
			left: 10px;
			padding-top: 7px;
		}
	}
	.time {
		float: right;
		margin-top: 0px;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.message {
		margin-left: 77px;
		line-height: 19px;
		color: rgb(29, 28, 28);
	}
	.message-new-log {
		margin-left: 50px;
		line-height: 19px;
		margin-top: 10px;
		color: rgb(29, 28, 28);
		//margin-bottom: 10px;
		.lot-numbers-label {
			min-width: 40px;
			display: inline-block;
		}
		.lot-numbers-item {
			display: inline-flex;
			padding-left: 5px;
		}
	}
	h2 {
		padding-left: 50px;
	}
	.info {
		font-size: 20px;
		position: absolute;
		right: 10px;
		bottom: 5px;
	}
	.customTooltip {
		top: 0px !important;
		left: -152px !important;
		right: 20px !important;
	}
}

.busyoverlay-new-log {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.46);
}

.config-swatch-wrap {
	height: 773px;
	overflow: auto;

}

.box_info.receipt {
	span.stitle {
		width: 130px;
	}
}

.reservation_paid {

	span.flaticon-dollars2 {
		width: 12px;
		background-color: rgb(13, 217, 13) !important;
		color: white !important;
		border: 0px;
		border: 1px solid rgb(13, 217, 13) !important;
		box-shadow: 0px 0px 1px rgb(13, 217, 13);
		border-radius: 2px;
		border-bottom: 2px;
		cursor: pointer;
	}

}

div.park_lot .status_2.not-paid {
	background-color: #FF9999;
}

form.log.add {
	padding: 0px 0px;
	padding-left: 5px;
	min-height: 0px;
	input {
		width: 85%;
		border: none;

		outline: none;
	}
	input.btn-primary {
		border-color: #64B4F3;
		/* border-bottom-color: #267DC2; */
		background-color: #219EFF;
		color: #fff;
		padding: 0px;
		font-size: 12px;
		padding: 10px 0px;
		text-transform: uppercase;
		border: None;
		width: 13%;
		font-weight: bold;
		&:hover {
			background-color: #58B4FB;
		}
	}
}

.payroll-done {
	display: inline-block;
	float: right;
	i {
		color: #70E244;
		padding-left: 5px;
	}
}

.log-tabs {
	li.active > a {
		background-color: transparent !important;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	li > a {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	margin-left: 20px;
	margin-right: 20px;
}

.open_button_contract {
	display: inline-block;
	background: white;
	border: 1px solid #D0CECE;
	font-size: 14px;
	padding: 5px 15px;
	cursor: pointer;
	min-width: 130px;
}

.width-20 {
	width: 20% !important;
}

.width-30 {
	width: 30% !important;
}

.add_travel_time {
	top: 65%;
	left: 17%;
	color: #4198DB !important;
}

.pac-container {
	width: auto !important;
	z-index: 10000 !important;
}

@media all and (max-width: 767px) {
	.subbox.sales.mobile-subbox-wrapper {
		position: relative;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
		min-height: 290px;
		.subbox__child {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
		}
	}
}

@media all and (max-width: 860px) {
	.mobile-invoice-box-wrapper {
		top: -45px;
		right: 10px;
	}
	.request-setting-wrapper {
		display: none;
	}
}
