// special for elromco tooltip directive
// Please do not change anything
.elromco-tooltip {
  cursor: pointer;
  position: relative;
  .rmtips {
    position: absolute;
    left: 50px;
    top: 0;
    width: 350px;
    max-width: 220px;
    line-height: 16px;
    padding: 10px;
    color: #ffffff;
    text-shadow: none;
    border: 1px solid #8a8a8a;
    border-radius: 4px;
    background-color: #8a8a8a;
    display: none;
    z-index: 10000;
  }
}