.employee-signature{
  .mode-switch{
    text-align: right;
    font-size: 0.813em;
    font-weight: 600;
    margin: 0 0px 5px;
    padding: 0 15px;
  }
  .edit-emp-sig{
    .show-info-on-account {
      margin-top: 1em;
      min-height: 40px;
      .text-align-right {
        text-align: right;
      }
    }
    >div:nth-child(2){
      min-height: 160px;

    }
  }
  .show-emp-sig{
    .show-emp-margin {
      margin: 0 15px;
    }
    //TODO need to refactor this code bellow
    h1{
      line-height: 22px;
      padding-bottom: 10px !important;
      font-size: 16px;
      margin: 0px;
      font-weight: 600;
      font-family: 'Open sans' !important;
    }
    >div{
      min-height: 120px;
      padding: 5px;
      padding-top: 5px;
      line-height: 20px;
      padding-bottom: 0px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      img{
        height: 110px;
        width: 110px;
        padding-top: 0px;
        margin-right: 5px;
        float: left;
      }
      div{
        min-height: 110px;
        word-wrap: break-word;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      }
    }
  }
}

