.flat-rate-account-settings {
  i.fa.fa-info-circle {
    float: right;
    text-transform: lowercase;
  }
  h3.half-margin-bottom {
    margin-bottom: .5em;
  }
  .panel {
    transition: box-shadow .3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    .panel-heading {
      background-color: #556B8D;
      color: #fff;
      border-radius: 0;
    }
  }
  .active_tab_status {
    display: none;
  }
  ul.nav.nav-tabs {
    margin-bottom: 1em;
  }
  .margin-one {
    margin-bottom: 1em;
  }
  .flex-justify-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h3 {
      margin-right: 1em;
    }
  }
  .setting-fr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    float: left;
    padding: .5em;
    h3 {
      margin-right: 1em;
    }
  }
	.show-period-settings{
		margin-bottom: 15px;
		span{
			margin-left: 5px;
		}
	}
}

.modal-content.example-greeting-modal {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0 none;
  position: relative;
  .confgrats_box {
    padding: 50px;
    h1 {
      padding: 0px;
      font-size: 28px;
      line-height: auto;
      padding-bottom: 1.422em;
      top: 0.2em;
      margin: 0px;
      text-align: center;
    }
    .calc-confirm {
      display: block;
    }
    .flex-greeting-box {
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-inv-default {
        font-weight: normal;
        text-transform: uppercase;
        background-color: #45AAF9;
        color: white !important;
        font-size: 16px;
        border: none;
        padding: 10px 20px;
        margin-top: 30px;
      }
    }
  }
}

.inventory-account-settings {
	&__panel {
		position: relative;
		transition: box-shadow .3s cubic-bezier(.25,.8,.25,1);
		&:hover {
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}
	}
	&__panel-heading {
		background-color: #556B8D;
		color: #fff;
		border-radius: 0;
	}
	&__setting {
		display: flex;
		justify-content: space-between;
		align-items: center;
		float: left;
		padding: .5em;
	}
	&__setting-name {
		margin-right: 1em;
	}
	&__saving-alert {
		position: absolute;
		top: 3px;
		right: 8px;
		font-size: 15px;
		font-weight: 600;
		color: green;
	}
}
