@media (max-width: 995px) and (min-width: 210px) {

  section#main-wrapper, #header, .main-content-wrapper {
    min-width: 210px !important;
  }
  .sidebar-header {
    text-align: center;
  }

  .mobile-foreman-line div.status_1 {
    margin-top: 6px;
    background-color: #FBB130; }
  .mobile-foreman-line div.status.status_2, .mobile-foreman-line div.status.status_11 {
    margin-top: 6px;
    background-color: #4B94D2; }
  .mobile-foreman-line .div, .mobile-foreman-line-1 .status_6, .mobile-foreman-line .status_5 {
    margin-top: 6px;
    background-color: #F77D7D; }
  .mobile-foreman-line .status_16, .mobile-foreman-line .status_3 {
    margin-top: 6px;
    background-color: #FFA500; }
  .mobile-foreman-line div.status_3 {
    min-width: 130px;
    margin-top: 6px;
    background-color: #13C713; }
  .mobile-foreman-line .status_15, .mobile-foreman-line .status_9 {
    margin-top: 6px;
    background-color: #7E8D9A; }
}
.paddingbottom20{
  padding-bottom: 20px;
}

.foreman-img-mobile {
  width: 50px;
  padding-top: 45px;
  padding-bottom: 20px;
}
.foreman-mobile-head {
  margin-top: 50px;
  overflow: hidden;
  background-color: #dae4eb;

}
.alignleft{
  text-align: left;
}
.mobile-foreman-job {
  overflow: hidden;
  background-color: #f6f9f9 !important;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  font-size: 16px;
  border: 1px solid #c1c1c1;
}
.mobile-foreman-head {
  margin: 20px 0;
  text-align: center;
  font-size: 28px;
}
.header-bottom-line {
  padding-top:5px;
}
.no-padding-right {
  padding-right:0;
  text-align: center;
}

.mobile-foreman-line div{
  font-weight: 600;
}
.mobile-foreman-line:first-child{
  border-bottom:1px solid #808080;
}
.mobile-foreman-search {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 60px;
}
.mobile-input-foreman{
  margin-left: 10px;
  margin-top: 10px;
}
.mobile-foreman-view-request {
  border: 1px solid #ccc;
  background-color: #10791a;
  border-radius: 10px !important;
  font-weight: bolder !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-size: 18px !important;
  width: 100%;
}
.mobile-foreman-add-receipt {
  color: #21A7A0 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
  border-radius: 10px !important;
  font-weight: bolder !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  width: 100%;
  font-size: 18px !important;
}
.mobile-foreman-view-request:hover {
  color: #fff;
}
.mobile-foreman-add-receipt:hover {
  color: #21A7A0 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}
.foreman-mobile-buttons{
  text-align: center;
  background: #e6e5e5;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}
.mobile-foreman-circle{
  border-radius:360px;
  width: 100px;
  height: 100px;
  border: 1px solid #808080;
  margin-top:30px;
}
.foreman-mobile-pagination li a {
  font-size: 20px;
}

.icon-button-mobile-foreman {
  width: 20px;
  margin-top: -5px;
  margin-right: 10px;
}
.icon-button-mobile-foreman-steering-wheel{

}
.button-text {
  font-weight: normal;
  font-size: 18px;
}
.mobile-foreman-job {
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.mobile-foreman-id {
  border-right: 1px solid #808080;
  height: 44px;
  padding-top: 10px;
}
.mobile-foreman {
  .start_window {
    font-size: 16px;
    color: #252525;
  }
  .flaticon-logistics2:before {
    font-size: 24px;
    color: #a0a0a0;
    padding-right: 12px;
  }
  .job-info {
    padding-bottom: 15px;
  }
}
.mobile-foreman-first-line {

}
.mobile-foreman-second-line {
  padding-top: 10px;
  padding-bottom: 30px;
}
.mobile-foreman-list-icon {
  width: 23px;
}
/* @media (max-width: 450px) and (min-width: 210px) {
  .foreman-mobile-buttons{
    padding:0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mobile-foreman-button-all{
    margin-left: -10px;
    margin-right: 10px;
  }
  .mobile-foreman-first-line {
    padding-bottom: 0;
    padding-top: 0;
  }
  .mobile-foreman-second-line {
    padding-bottom: 0;
    padding-top: 0;
  }
  .mobile-foreman {
    padding-top: 5px;
  }
  a.btn, .mybtn {
    padding: 0 !important;
  }
  .mobile-foreman-status{
    margin: 5px 0;
  }
  .mobile-foreman-head {
    margin-top:20px;
    font-size: 20px !important;
  }
  .foreman-mobile-header-holder{

  }
  .mobile-foreman-job {
    font-size: 8px;
  }
  .mobile-foreman-status div.status_1 {
    background-color: #FBB130;
    font-size: 10px;
    width: 50%;
    padding-bottom: 4px;
    border: none !important;
    margin: auto;
  }
  .mobile-foreman-status div.status.status_2, .mobile-foreman-status div.status.status_11 {
    background-color: #4B94D2;
    font-size: 10px;
    width: 50%;
    padding-bottom: 4px;
    border: none !important;
    margin: auto;
  }
  .mobile-foreman-status .div, .mobile-foreman-status .status_6, .mobile-foreman-status .status_5 {
    background-color: #F77D7D;
    font-size: 10px;
    width: 50%;
    padding-bottom: 4px;
    border: none !important;
    margin: auto;
  }
  .mobile-foreman-status .status_16, .mobile-foreman-status .status_3 {
    background-color: #FFA500;
    font-size: 10px;
    width: 50%;
    padding-bottom: 4px;
    border: none !important;
    margin: auto;
  }
  .mobile-foreman-status div.status_3 {
    background-color: #13C713;
    font-size: 10px;
    width: 50%;
    padding-bottom: 4px;
    border: none !important;
    margin: auto;
  }
  .mobile-foreman-status .status_15, .mobile-foreman-status .status_9 {
    background-color: #7E8D9A;
    font-size: 10px;
    width: 50%;
    padding-bottom: 4px;
    border: none !important;
    margin: auto;
  }
  .mobile-foreman-add-receipt {
    font-size: 9px !important;
    font-weight: bold !important;
    padding:  5px 0!important;
    width: 60px;
  }
  .mobile-foreman-view-request {
    font-size: 9px !important;
    font-weight: bold !important;
    padding: 5px 0!important;
    width: 100%;
  }
  #header .brand {
    float:none;
  }
  .mobile-foreman-search {
    font-size: 10px;
  }

  .li.regular, .dropdown.profile {
    margin-top: -58px !important;
  }
  #header .nav li.profile > a > .meta > .text {
    font-size: 16px !important;
  }
  .mobile-foreman-job {
    margin-bottom: 15px;
  }
  .float-cleaner {
    clear: both .
  }
} */
@media (max-width: 767px) and (min-width: 210px) {
  .foreman-img-mobile {
    width: 50px;
    padding-top: 45px;
    padding-bottom: 20px;
  }
  .mobile-foreman-circle {
    border-radius: 360px;
    width: 50px;
    height: 50px;
    border: 1px solid #808080;
    margin-top: 26px;
  }
  .foreman-mobile-buttons {
    text-align: center;
    background: #e6e5e5;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    overflow: hidden;
  }
  .icon-button-mobile-foreman {
    width: 16px;
  }
  .mobile-foreman-list-icon {
    width: 17px;
  }
  .icon-button-mobile-foreman-steering-wheel {

  }
  .mobile-foreman-id {
    border-right: 1px solid #808080;
    height: 37px;
    padding-top: 10px;
  }
  .mobile-foreman-head {
    font-size: 25px !important;
  }
  .mobile-foreman-job {
    font-size: 12px;
  }
  .mobile-foreman-status div.status_1 {
    font-size: 14px;
  }
  .mobile-foreman-status div.status.status_2, .mobile-foreman-status div.status.status_11 {
    font-size: 14px;
  }
  .mobile-foreman-status .div, .mobile-foreman-status .status_6, .mobile-foreman-status .status_5 {
    font-size: 14px;
  }
  .mobile-foreman-status .status_16, .mobile-foreman-status .status_3 {
    font-size: 14px;
  }
  .mobile-foreman-status div.status_3 {
    font-size: 14px;
  }
  .mobile-foreman-status .status_15, .mobile-foreman-status .status_9 {
    font-size: 14px;
  }
  .mobile-foreman-add-receipt {
    font-size: 13px !important;
  }
  .mobile-foreman-view-request {
    font-size: 13px !important;
  }


}
.upload-card-wrapper {
  position: relative;
  line-height: 1.7;
  background-color: #4D93FF;
  border-color: #447ED8;
  border-radius: 10px !important;
  .upload-card-text {
    font-size: 25px;
    font-weight: bold;
  }
  .upload-card-btn {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
  }
  .upload-camera-icon{
    font-size: 55px;
    padding-top: 5px;
  }
}
.upload-card-wrapper:hover{
  background-color: #4078CE;
  border-color: #3863A5;
}
.largeWidth {
  width: 100%;
}
