.basicinput {
	text-align: center;
	border: none;
	border-bottom: 1px solid #B5B5B5;
	width: 40px !important;
	padding: 0px;
	margin-right: 5px;
	display: inline-block;
}

.calc-middle-box-wrap {
	width: inherit;
	.move-date {
		.word-wrap {
			word-wrap: break-word;
		}
	}
}

#middle-wrapper.box_info.calc-middle-box-text-angular-wrap {
	width: inherit;
	margin: 0 -29px;
	.ta-scroll-window.ta-text.ta-editor.form-control {
		overflow: hidden;
	}
	.ta-toolbar.btn-toolbar {
		position: relative;
		top: 0;
		left: 0;
		width: inherit;
		background: transparent;
	}
}

.general {
	background-color: rgb(240, 243, 243);
	i {
		padding-right: 10px;
	}

	#compose-wrapper {
		.btn.btn-primary.btn-block {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.tab_content {
		display: none;

		.panel {
			margin-right: 20px;
		}
		h1 {
			/* line-height: 29px; */
			margin-bottom: 20px;
		}
		p {
			font-size: 13px;
			margin-bottom: 20px;
		}
		.option {

			/* padding-bottom: 20px; */
			margin-bottom: 40px;
			input {
				width: 75px;
				font-weight: bold;
				display: inline-block;
				margin-right: 10px;
				&.full-width-90 {
					width: 90%;
				}
			}
			td.text {
				vertical-align: baseline;
				line-height: 30px;
			}

			.floating {
				h1 {
					float: left;
					margin-right: 1em;
				}
			}

		}

		.tt-border-bottom {
			padding-bottom: 1em;
			margin-bottom: 1em;
			border-bottom: 1px solid #D6D6D6;
		}
	}

	.tab_content.active {
		display: block;
	}

	.fuel-settings {
		.panel {
			margin-right: 0;
		}

		.acc_title {
			margin-bottom: 10px;
			margin-top: 20px;
			padding: 10px;
			text-align: center;
			background: #E4E4E4;
			border: 1px solid #D2CFCF;
		}

		.settingsByMileage {
			padding-bottom: 25px;
			margin: 0 0 25px;

			.select-label {
				padding: 20px 15px 10px;
			}

			.notice {
				padding: 27px 20px 0;
			}
		}

		.elromco-tooltip {
			font-size: 14px;
			.rmtips {
				left: 21px;
				top: -45px;
				max-width: 240px;
				text-align: left;
				font-family: "Open Sans", Helvetica, Arial, sans-serif;
				.center {
					text-align: center;
				}
				ol {
					li {
						text-align: left;
					}
				}
			}
		}
	}

	.equipment-fee-settings {
		margin-top: 25px;
	}

	.extra-services-setting {
		margin-right: -15px;
	}

	.horizontal-line {
		border-bottom: 1px solid #D6D6D6;
		padding-bottom: 25px;
		margin: 0 0 25px;
	}

	.contract-settings {
		.confirmation-page-policy-text-button {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 100%;
		}
		table {
			margin-top: 20px;
			tr td {
				vertical-align: middle;
			}
		}
		.big {
			width: 90px;
			cursor: pointer;
			&.selected {
				background: #556B8D;
				h1 {
					color: #f0f3f3;
				}
			}
			h1 {
				font-size: 30px;
				text-align: center;
				color: #333;
				text-transform: uppercase;
				&.selected {
					background: #556B8D;
					h1 {
						color: #f0f3f3;
					}
				}
			}
		}
	}
}

.notice {
	color: #FF2D2D;
	font-size: 10pt;
}

.saving-progress {
	position: absolute;
	top: 10px;
	right: 20px;
	font-weight: bold;
	color: #FF2D2D;
	z-index: 10;
}

.rates {
	thead {
		tr {
			color: white;
			padding: 5px 10px;
			font-size: 11px;
			text-align: center;
			cursor: pointer;
			font-weight: 600;
			background-color: #8EA1B1;
		}
		.dark_blue_header_custom {
			background-color: #556B8D;
		}

		td {
			padding: 20px;
		}

	}

	tbody {
		td {
			padding: 25px;
			i.fa.fa-eye {
				cursor: pointer;
				color: lighten(#6fb86f, 10%);
			}
			i.fa.fa-eye-slash {
				cursor: pointer;
			}

			input {
				font-weight: bold;
				text-align: center;
			}
		}

	}
	.type {
		color: white;
		font-size: 14px;
		font-weight: 600;
	}

}

.calendar_settings {
	.clndr-ang .clndr-ang-controls {
		padding: 5px 10px;

	}
	h1.year {
		text-align: center;
		font-size: 3em;
		margin-bottom: 35px
	}
	.clndr-ang .clndr-ang-controls .month {
		display: inline-block;
		width: 160px;
		text-align: center;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 300;
		position: relative;
	}
	.month {
		display: inline-block;
		/* margin-left: 10px; */
		margin-right: 50px;
	}
	calendar.clndr-ang {
		height: 287px;
		width: 285px;
		font-size: 14px;
		display: inline-block;
	}

}

.Block {
	background: #878787;
}

.Discount {
	background: #1fb89a;
}

.Regular {
	background: #2196f6;
}

.Sub-Peak, .SubPeak, .Subpeak {
	background: #eebe74;
}

.HightPeak, .HighPeak {
	background: #e76b6b;
}

.Peak {
	background: orange;
}

.type_popup {
	display: none;
	li {
		list-style: none;
		padding: 6px;
		color: white;
		font-weight: 600;
		cursor: pointer;

	}
	li.types {
		&:hover {
			border-left: 2px solid #0A0A0A;
		}
	}
}

.modal-backdrop-white {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.68);
}

li.block_date {
	background-color: #F7F7F7;
	color: #4C4C4C;
}

//CALENDAR SETTINGS PAGE
.calendar_settings {

	span.day.Block.this {
		color: black;
		background-color: #383838;
		color: white;
	}

	span.day.different-month {
		background-color: white !important;
	}
	.day {
		cursor: pointer;
		color: white;
		padding: 5px;
	}
	.clicked_day {

		text-align: center;
		width: 40px;

	}
	.week.empty {
		height: 2.65em;
	}
}

input.full {
	width: 100% !important

}

//TRUCKS SETTINGS PAGE
.trucksettings {
	span.day {
		cursor: pointer;
		font-weight: 600;
	}

	.mybtn {
		float: left;
		margin-right: 20px;
	}
	span.notruck {
		color: #C0C0C0;
	}
	.cancel {
		padding: 8px;
		font-size: 15px;
		line-height: 14px;
		margin-top: 10px;

		cursor: pointer;
	}

	.clndr-ang-controls {
		padding: 0px;
		font-size: 12px;
		margin: 0px;
		background: #0188CC;
		span {
			font-size: 14px !important;
		}
	}
	calendar.clndr-ang.ng-isolate-scope {
		height: 230px;
	}
	.truck_availability {
		height: 800px;
		overflow: auto;

	}
	trucks-calendar.clndr-ang {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.text_button {
		/* width: 145px; */
		margin: 5px;
		background-color: none;
		background: white;
		border: none;
		font-weight: bold;
		float: right;
		font-size: 13px;
	}
	i.fa.fa-angle-right {
		color: white;
		margin-left: 15px;
	}
	.active {
		color: white;
		background-color: #27B6AF;
	}

	.day.notavail {
		background-color: white;
		color: #C1C1C1;
	}
	.day.blocked-date {
		background: url(../img/bg.png) 0 0 repeat-x scroll #e64446;
		color: #ffffff;
		pointer-events: none;
		cursor: default;
	}
	div.week span.day.different-month {
		color: #C0C0C0;
		background-color: white;
	}
	span.day {
		background-color: #0188CC;
		color: white;
	}
}

.long_distance {

	h2.statename {
		text-align: center;
		padding: 15px;
		border-bottom: 1px solid #E8E8E8;
	}

	.areacodes {
		width: 100px;
		margin-right: 13px;
	}
	.panel.box {
		margin: 15px !important;
	}
	.sinput {
		width: 60px;
		display: inline-block;
		margin-right: 10px;
	}

}

.setting_extra {
	input {
		text-align: center;
		border: none;
		border-bottom: 1px solid #B5B5B5;
	}

}

/// LOng Distance MAp
path {
	cursor: pointer;
}

.schedule_settings {
	margin: 1em;
	.setprice input {
		width: 100px;
		display: inline-block;
	}
}

.calcsettings {
	.longdistance {
		padding: 10px;
		background-color: #E2E2E2;
		margin-top: 20px;
		border: 1px solid #D0D0D0;

		h3 {
			text-align: center;
			text-transform: UPPERCASE;
			font-size: 14px;
			margin-bottom: 15px;

		}
	}

}

.truCalcheader {
	width: 48%;
	display: block;
	display: inline-block;
	text-align: center;
	line-height: 21px;
	margin-top: 20px;
	/* font-weight: bold; */
	font-size: 20px;
	cursor: pointer;
}

.truCalcheader.active {
	font-weight: bold;
	font-size: 30px !important;
	background: white;
	color: black;
}

.drag-packing {
	font-size: 16px;
	float: right;
	cursor: move;
}

.saving-progress-packing {
	position: absolute;
	top: 10px;
	right: 45px;
	font-weight: bold;
	color: #FF2D2D;
}

.packing-advanced-btn {
	border-radius: 2px;
	padding: 5px 10px;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	top: -20px;
}

.packing-title {
	text-align: center;
}

.pack-without-price {
	margin-top: 1em;
	height: 3em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	label.packing-title {
		margin-right: 1em;
	}
}

.fuel-row {
	margin-bottom: 35px;
}

.parser_list {
	.show-quote {
		display: inline-block;
		padding-bottom: 10px;
	}
	.name {
		display: inline-block;
		padding-left: 40px;
		padding-bottom: 10px;
	}
	.lead_providers {
		li {
			display: block;

			.quote-check-box {

			}

			.parser-name {
				padding-left: 40px;
			}
		}
	}
}

.hide-arrows {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
