#header {
    z-index: 200;
    height: $headerHeight;
    position: absolute;
    width: 100%;
    margin-right: 0;
    background: $baseColor;
     .brand {
        float: left;
        width: 240px;
        height: $headerHeight;

        position: relative;
        padding: 15px 0 0 10px;
        position: relative;
        text-align: center;
       text-align: left;
       padding-left: 20px;
    }
    .logo {
        font-size: $size19px;
        text-transform: uppercase;
        padding: 0px 0 0 0px;
        display: inline-block;
      color:white !important;
    }
    .logo img {
      margin-right: 0px;
      margin-top: -10px;
      max-width: 220px;
    }
    .logo span {
        font-weight: 700;
        letter-spacing: -2px;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-left {
        float: left;
    }
    .navbar-right {
        float: right;
    }
      .btn i{
        padding:0;
    }
     button.sidebar-toggle,
     button#toggle-profile,
      button#toggle-fullscreen,
     button.options{
        width: $headerHeight;
        height: $headerHeight;
        font-size: $size18px;
        padding: 20px;
        cursor: pointer;
        float: left;
        background-color: transparent;
        border-radius: 0;
        border: none;
    }
     button.sidebar-toggle:hover, button.sidebar-toggle:active,
     button#toggle-profile:hover, button#toggle-profile:active,
     button#toggle-fullscreen:hover, button#toggle-fullscreen:active   {
        box-shadow: none;
        outline: none!important;
        border: none;
    }
     button.sidebar-toggle:focus,button#toggle-profile:focus,button#toggle-fullscreen:focus {
        outline: none;
        border: none;
    }
    .search {
        -webkit-appearance: none !important;
        color: #282323;
        outline: 0;
        height: 30px;
        width: 350px;
        padding: 7px 15px;
        font-size: $size12px;
        font-weight: normal;
        vertical-align: top;
        background-color: #EDF1F2;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
         border: 1px solid #cac8c8;

        transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
        margin: 16px 0 0 20px;
        position:relative;
    }
     .btn-search{
        position: absolute;
        top: 17px;
        right: 5px;
        background:none;
    }
     .fa-search {
        font-size: $size17px;
        color: #212121;
    }
    .nav li.profile>a>.meta {
        display: table;
        width: 100%
    }
     .nav li.profile>a>.meta>.avatar {
        display: table-cell;
        vertical-align: middle;
        max-width: 32px;
        height: 32px
    }
     .nav li.profile>a>.meta>.text {
        font-size: 16px;
    }
     .nav li.profile>a {
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
        color: #13161C;
        text-shadow: none;
    }
     .nav li.profile>a:hover, .nav li.profile>a:active, .nav li.profile>a:focus {
        box-shadow: none;
        outline: none!important;
        border: none;
        color: #13161C;
    }
     .navbar-right>.dropdown>.dropdown-menu {
        position: absolute;
        margin-top: 5px;
        left: -100px;
        background-color: #fff;
        border: 1px solid #e0e7e8;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08)
    }
     .arrow {
        border-width: 8px;
        z-index: 10;
    }
    .arrow, .arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
     .arrow:after {
        border-width: 7px;
        content: "";
    }
     .arrow.top {
        left: 50%;
        margin-left: -8px;
        border-top-width: 0;
        border-bottom-color: #eee;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        top: -8px;
    }
     .arrow.top:after {
        content: " ";
        top: 1px;
        margin-left: -7px;
        border-top-width: 0;
        border-bottom-color: #fff;
    }
     .dropdown-menu>li>a>.icon {
        display: inline-block;
        min-width: 14px;
        text-align: center;
        margin-right: 5px;
    }
    .dropdown-menu>li.active>a, .dropdown-menu>li:active>a {
        background-color: #fbfbfb;
        color: #444
    }
     .dropdown-menu>li.active>a:hover, .dropdown-menu>li:active>a:hover {
        background-color: #fbfbfb;
        color: #373737
    }
     .profile ul>li:first-child {
        padding: 10px;
    }
     .profile ul>li h5, .profile ul>li p {
        font-size: $size13px;
        margin: 0;
        padding: 0;
    }
     .profile ul>li .progress {
        margin-bottom: 0;
    }
}


li.regular a {
  text-transform: UPPERCASE;
  padding: 20px;
  margin-top: 10px;
}


li.dropdown.profile.hidden-xs {
  margin-top: 10px;
  font-size: 19px;
  font-weight: normal;
  text-transform: UPPERCASE;
  /* color: gray; */
}

@media (min-width: 768px){
.navbar-left {
  float: left!important;
}
}
@media (max-width: 789px){
        #header .search{
        width: 155px;
    }
}
@media (min-width: 861px) and (max-width: 920px){
        #header .search{
        width: 220px;
    }
}

@media (min-width: 921px) and (max-width: 960px){
        #header .search{
        width: 280px;
    }
}

@media (min-width: 961px) and (max-width: 1002px){
        #header .search{
        width: 320px;
    }
}

@media (min-width: 998px) {

    .toggle-navigation.toggle-left{

    display:none;
    }


}
@media (max-width: 997px) {

    #header .brand {
        width: 100%;
        padding: 0 0 0 10px;
        text-align: center;
    }
    #header .logo {
        font-size: $size22px;
        padding: 14px 0 0 0;
    }
    #header .logo img {
      margin-right: 0px;
      margin-top: -10px;
      width: 145px;
    }
    #header .navbar-left {
        position: absolute;
        left: 0;
    }
    #header .navbar-right {
        position: absolute;
        right: 0;
    }

}

@media only screen and (max-width: 660px) {
    #header .user-nav ul {
        padding-left: 0;
    }
    #header .toggle-navigation.toggle-left {
        float: left;
    }
   .user-nav ul li {
        font-size: $size12px;
    }
}

@media only screen and (max-width: 479px) {
    #header .dropdown.messages {
        display: none;
    }
}
