.info-row {
  .status-invoice {
    margin-top: 9px;
    height: auto;
    width: 100%;
    border: none;
    padding: 0;
    border-bottom: 1px solid #b1b1b1;
  }
}

.invoice_table {
  thead td {
    padding: 5px 10px ;
  }

}
.green-btn{

  background: #39cc39 !important;
  border-color: #16af16 !important;

}
.invoice_table {
  th,td {padding:5px;}

  .flag-raw{
    text-transform: lowercase;
    color: green;
    font-weight: bold;
  }

  tr {
      line-height: 25px;
    }
    a {
      font-size: 13px;
      padding: 5px;
      background: #eaeaea;
      border: 1px solid #e0e0e0;
      cursor: pointer;
      margin-left: 5px;
    }
}
.font-15px{
  font-size: 15px !important;
  line-height: 26px;
}
.invoice_info {

  .btn-default, a.btn-default:link, a.btn-default:visited {
    color: #000000 !important;
    background-color: #ffffff !important;
    outline: none !important;
  }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #097dd2;
    background-color: #9ea7ac;
    border-color: #9ea7ac;
    background: white !important;
  }
}
.margin-top-50 {
  margin-top: 50px;
}
#ccinvoice {
  padding: 10px 40px;
  margin-bottom: 20px;


  .margin-top-bottom {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .address-invoice {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #b1b1b1;
    &:focus {
      outline-width: 0;
    }
  }
  .usa-invoice {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .flex-address {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .flex-address-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .city-invoice {
    display: inline-block;
    width: 75%;
    margin-right: 1em;
    border: none;
    border-bottom: 1px solid #b1b1b1;
    &:focus {
      outline-width: 0;
    }
  }
  .postal-invoice {
    display: inline-block;
    width: 15%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #b1b1b1;
    &:focus {
      outline-width: 0;
    }
  }

  .state-invoice {
    display: inline-block;
    width:10%;
    margin-right: 1em;
    text-align: center;
    border: none;
    border-bottom: 1px solid #b1b1b1;
    &:focus {
      outline-width: 0;
    }
  }
  .name-form-invoice{
    display: inline-block;
    width: 74%;
    border: none;
    font-weight: bold;
    pointer-events: none;
    &:focus {
      outline-width: 0;
    }
  }
  .email-form-invoice{
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #b1b1b1;
    &:focus {
      outline-width: 0;
    }
  }

  .invoice-lines{
    padding:15px;
    width: 100%;
    input {
      background: transparent;
      border: none;
      padding: 5px 10px;
      width: 100%;
    }
    td {
      vertical-align: top;
      text-align: left;
      padding: 2px 6px 2px 0px;
      border-bottom: 1px solid rgb(229, 229, 229);
      border-right: 1px solid rgb(204, 204, 204);
      .input-group-btn {
        .dropdown-toggle {
          font-size: 12px;
          padding: 5px;
          background: none;
          color: #0d83dd;
        }
        &.dropdown {
          ul {
            margin: initial;
            min-width: 272px;
            max-height: 155px;
            overflow-y: auto;
            li {
              min-height: initial;
              margin: 5px 0;
              cursor: pointer;
              padding-left: 10px;
              font-size: 12px;
              &:before {
                content: none;
              }
              &:hover {
                background: #EEEEEE;
              }
            }
          }
        }
      }
      &.total {
        .fa {
          &.fa-times {
            color: red;
            right: 15px;
            font-size: 16px;
            margin-left: 10px;
            margin-right: -30px;

            &:hover {
              cursor: pointer;
              color: rgba(237, 0, 81, 0.77);
            }
          }
        }
      }
    }
    textarea:focus, input:focus{
      outline: none;
    }
    td.first-column {
      padding-left: 1px;
      border-left: 1px solid rgb(204, 204, 204);
    }
    td.total, .total:hover {
      background-color: rgb(240, 240, 240);
      padding-left: 0px;
      text-align: right;
    }
    input:focus, textarea:focus {
      background-color: rgb(255, 248, 213);
    }
    th.ta_right.last {
      border-right: 1px solid #0D83DD;
      text-align: right;
    }
  }


  .info-box {
    width:300px;
    .info-row {
      margin-bottom: 10px;
    }
  }
  .ilabel {
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
//TOTAL BOX
  .text-right {
    text-align: right;
  }
  .invoice_footer {
    margin-top:35px;
  }
  .totals_box {
    float: right;
    width: 353px;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-top: -1px;
    .totals_row {
      font-size: 12px;
      padding: 10px 5px 10px 10px !important;
      .title {
        font-size: 14px;
      }

    }
  }
  .totaldue{
    background: #e8e8e8;
    border-top: 1px solid #c7c7c7;
  }
  .buttun_fix {
    padding: 0px;
    margin-top: 10px;
  }

  table.spreadsheet th.first {
    border-left: 1px solid #0D83DD;
  }
  table.spreadsheet th {
    border-top: 1px solid #0D83DD;
    border-bottom: 1px solid #0D83DD;
  }
  table.spreadsheet th {
    background-color: #0D83DD;
    color: #ffffff;
    padding: 5px 5px;
    font-weight: normal;
  }

  .action-buttons .delete {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 760px;
  }
  .action-buttons .insert {
    position: absolute;
    width: 40px;
    height: 24px;
    margin-left: -40px;
  }
  .action-buttons .handle {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -20px;
    z-index: 1;
  }
}
.template-invoice-item-modal {
  .invoice-lines{
    width: 100%;
    padding:15px;
    input {
      background: transparent;
      border: none;
      padding: 5px 8px;
      width: 100%;
      margin-left: -7px;
    }
    td {
      text-align: left;
      padding: 2px 6px 2px 10px;
      border-bottom: 1px solid rgb(229, 229, 229);
      border-right: 1px solid rgb(204, 204, 204);
      &.first-column {
        border-left: 1px solid rgb(204, 204, 204);
      }
      &.total {
        background-color: rgb(240, 240, 240);
        padding-left: 0px;
        text-align: right;
        &:hover {
          background-color: rgb(240, 240, 240);
          padding-left: 0px;
          text-align: right;
        }
      }
      &.center {
        text-align: center;
        padding: 10px;
        .fa {
          cursor: pointer;
        }
      }
      &:empty {
        display:none;
      }
    }
    textarea:focus, input:focus{
      outline: none;
    }
    input:focus, textarea:focus {
      background-color: rgb(255, 248, 213);
    }
    th.last {
      border-right: 1px solid #0D83DD;
    }
  }
  .info-box {
    width:300px;
    .info-row {
      margin-bottom: 10px;
    }
  }
  .ilabel {
    color: black;
    font-weight: bold;
    font-size: 14px;
  }
  //TOTAL BOX
  .text-right {
    text-align: right;
  }
  .invoice_footer {
    margin-top:35px;
  }
  .totals_box {
    float: right;
    width: 353px;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    margin-top: -1px;
    .totals_row {
      font-size: 12px;
      padding: 10px 5px 10px 10px !important;
      .title {
        font-size: 14px;
      }

    }
  }
  .totaldue{
    background: #e8e8e8;
    border-top: 1px solid #c7c7c7;
  }
  .buttun_fix {
    padding: 0px;
    margin-top: 10px;
  }
  table.spreadsheet th.first {
    border-left: 1px solid #0D83DD;
  }
  table.spreadsheet th {
    border-top: 1px solid #0D83DD;
    border-bottom: 1px solid #0D83DD;
  }
  table.spreadsheet th {
    background-color: #0D83DD;
    color: #ffffff;
    padding: 5px 5px;
    font-weight: normal;
  }

  .action-buttons .delete {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 760px;
  }
  .action-buttons .insert {
    position: absolute;
    width: 40px;
    height: 24px;
    margin-left: -40px;
  }
  .action-buttons .handle {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -20px;
    z-index: 1;
  }
  h2 {
    &.center {
      margin-bottom: 20px;
    }
  }
  .templates-item-table {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }
}

@media all and (min-width: 901px) {
  #ccinvoice {
    .invoice_info {
      .padding-left-one {
        padding-left: 1em !important;
      }
      padding-right-one {
        padding-right: 1em !important;
      }
    }
  }
}