$gray: #aaa;
$blue: #c8eeff;
$green: #c9dfaf;
$border: #ccc;
$light-gray: #f7f7f7;
$dark-gray: #444;
.long_distance_Lists {
  #longDistanceMap {
    > svg {
      path {
        &:hover {
          fill: $green;
        }
      }
    }
  }

  .list {
    padding: 0;
    position: relative;
    .list-head {
      border-bottom: 1px solid #ccc;
      display: inline-block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-bottom: 2px solid $border;
      h1, h2, h3 {
        line-height: 50px;
        font-weight: bold
      }
      label {
        width: 100%;
        font-weight: normal;
        cursor: pointer;
      }
    }
    .list-ignored {
      color: $gray;
      border-top: 2px solid $border;
      h1, h2, h3 {
        font-size: 14px;
      }
      .list-head {
        border-bottom: none;
      }
    }
    .clear-list{
      .search {
        width: 100%;
        position: absolute;
      }
    }
    .search {
      position: relative;
      float: right;
      top: 4px;
      left: 0;
      line-height: 45px;
      padding: 0 15px;
      .fa {
        line-height: 45px;
        position: absolute;
        right: 25px;
        &:hover {
          cursor: pointer;
        }
      }
      input {
        display: inline-block;
        width: 100%;
        right: 0px;
        height: 40px;
        background: rgba(240,243,243,.0);
        border: none;
        box-shadow: 0 2px 0 $gray;
        transition: .2s;
        &.active {
          background: #f0f3f3;
          right: 100%;
        }
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
    .buttons {
      float: right;
      display: inline-block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%;
      transition: .2s;
      &:hover {
        background: $dark-gray;
        color: #fff;
      }
    }
    h2 {
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .list-item {
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 10px;
      &.active {
        background: $blue;
      }
      &.copy {
        box-shadow: 0 0 0 2px $gray;
      }
      &:hover {
        background: $green
      }
      &:nth-last-child(1) {
        border-bottom: none;
      }
      .fa {
        background: $gray;
        color: #fff;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        line-height: 40px;
        text-align: center;
        height: 40px;
        opacity: 0;
        z-index: 1;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  /* need to move to general css */
  .btn {
    text-overflow: ellipsis;
  }

  /* block list */
  .list-block {
    position: relative;
    display: inline-block;
    width: 100%;
    .lost-block-item {
      padding: 10px;
      margin: 0;
      display: inline-block;
      @media screen and (min-width: 1400px) {
        width: 25%;
      }
      .panel {
        margin: 0;
        font-size: 14px;
        > div {
          padding: 0 20px;
        }
        &.selected {
          box-shadow: 0 0 0 4px $green;
        }
        .item-title {
          font-weight: bold;
          border-bottom: 2px solid #eee;
          display: inline-block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          .dropdown {
            right: 30px;
            position: absolute;
            .dropdown-menu {
              left: auto;
              right: -100%;
            }
          }
        }
        .items {
          line-height: 30px;
          label {
            width: 100%;
          }
        }
        .list-expand {
          line-height: 25px;
          background: $light-gray;
          .title {
            font-size: 12px;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            width: 100%;
            height: 35px;
            line-height: 35px;
            position: relative;
            &.active {
              .fa {
                transform: rotate(90deg);
              }
            }
            .fa {
              float: right;
              display: inline-block;
              width: 35px;
              height: 35px;
              line-height: 35px;
              text-align: center;
              margin: 0 -10px;
              transition: 0.2s;
            }
          }
        }
        label {
          width: 100%;
        }
        input.value, .value {
          display: inline-block !important;
          text-align: right;
          border: none;
          width: 35px;
          float: right;
          font-weight: bold;
          padding: 0;
          background: none;
          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          &:active, &:focus, &:hover {
            box-shadow: 0 2px 0 $gray
          }
        }
        .price {
          width: 100%;
          position: relative;
          padding-right: 25px;
          &:after {
            content: '$/c.f';
            font-size: 10px;
            position: absolute;
            right: 0;
            bottom: 4px;
          }
        }
        .list-expand-content {
          .price {
            z-index: 1;
            &:before {
              content: '';
              position: absolute;
              border-top: 1px dashed $gray;
              top: 13px;
              left: 40px;
              right: 50px;
              z-index: -1;
            }
            .value {
              background: $light-gray;
            }
          }
        }
      }
    }
    .gray {
      color: $gray;
    }
    .unable {
      opacity: .4;
      cursor: default;
      position: relative;
      z-index: -1;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;
      }
    }
    .new-state {
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline-block;
      background: #27b6af;
      cursor: pointer;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #fff;
    }
  }
  .grid-item {
    width: 33.3%;
  }
  .list-title {
    display: inline-block;
    width: 100%;
    height: 50%;
    line-height: 50px;
    h1, h2, h3 {
      line-height: 50px;
      font-weight: bold
    }
  }
  .print-section {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: calc(100vh - 116px);
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      .print-btn, .close {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        z-index: 0;
        cursor: pointer;
      }
      .close {
        left: 0;
        opacity: .8;
        &:hover { opacity: 1 }
        .fa {
          color: #fff;
          position: fixed;
          top: 40px;
          left: calc(50% - 500px);
          font-size: 64px;
        }
      }
      .print-btn {
        right: 0;
        .btn {
          overflow: hidden;
          text-overflow: ellipsis;
          position: fixed;
          top: 40px;
          left: calc(50% + 420px);
        }
      }
      .print-page {
        position: relative;
        display: block;
        margin: 20px auto;
        width: 800px;
        min-height: 1200px;
        padding: 40px;
        z-index: 1;
        table {
          tr {
            border-bottom: 2px solid $gray
          }
          td, th {
            border-right: 1px solid $gray;
            padding: 5px;
            > div {
              border-bottom: 1px solid $gray;
              &:nth-last-child(1) {
                border-bottom: none;
              }
            }
            &:nth-last-child(1) {
              border-right: none;
            }
          }
        }
      }
    }
    z-index: 500
  }

  .print-page {
    font-family: 'Sans serif', sans-serif;
    font-size: 10pt;
    background: #fff;
    color: #000;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 36px;
      color: #000;
    }
    hr {
      border: none;
      border-bottom: 2px solid #000;
    }
    th {
      text-align: left;
    }
    td, th {
      border-bottom: 2px solid #000;
      border-right: 1px solid #000;
      padding: 5px;
      font-size: 10pt;
      > div {
        border-bottom: 1px solid #000;
        &:nth-last-child(1) {
          border-bottom: none;
        }
      }
      &:nth-last-child(1) {
        border-right: none;
      }
    }
  }

  @media print {
    .btn {
      display: none;
    }
    tr {
      page-break-inside: avoid;
    }
  }

  .dropdown-menu > li > span {
    padding: 3px 20px;
  }
}