#main-wrapper {
    @include transition(all, .2s, ease-in-out);
    overflow: hidden;
}
#main-wrapper{
    height: 100%;
    overflow-y: auto;
}
.main-content-wrapper {
    margin-right: 0;
    padding-top: $headerHeight;
    background: $baseColor;
    position: relative;
    & #main-content {
        padding: 15px;
        width: 100%;
		height: calc(100vh - 60px);
        & .h1 {
            margin: 0;
            padding: 0px 10px 40px 10px;
            float: left;
            line-height: 10px;
            font-weight: 300;
            font-size: $size24px;
        }
		.full-height {
			height: 100%;
		}
		.adminpanel {
			height: 100%;
			.map-view {
				height: calc(100% - 110px);
				iframe {
					height: 100%;
					width: 100%;
					border-width: 0;
				}
			}
		}
    }
}
.main-content-toggle-left {
    margin-left: 0;
}
.main-content-toggle-right {
    margin-right: 240px;
}
.pageheader {
    padding: 15px;
    border-bottom: 1px solid #dce0e6;
    border-top: 1px solid #eee;
    background: #F6F8F8;
    position: relative;
}
.pageheader h2 {
   font-weight: 300;
    margin: 0;
}
.pageheader .description {
    margin: 0;
    margin-top: 5px;
    color: #999;
}
.pageheader .breadcrumb-wrapper {
    position: absolute;
    top: 13px;
    right: 25px;
}
.pageheader .breadcrumb-wrapper .label {
    color: #999;
    text-transform: uppercase;
    font-size: $size11px;
    font-weight: normal;
    display: inline-block;
}
.pageheader .breadcrumb {
    background: none;
    display: inline-block;
    padding: 0;
}
.pageheader .breadcrumb li {
    font-size: $size12px;
}
.pageheader .breadcrumb li.active {
    color: #333;
}
.pageheader .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #515050;
    font-family: FontAwesome;
    content: "\f105";
}

@media (max-width: 767px) {
    .main-content-wrapper {
        margin-left: 0;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    /* Main Content */
    #main-content .h1 {
        font-size: $size24px;
    }
}


@media only screen and (max-width: 660px) {
    .main-content-toggle-left {
        margin-left: 660px;
    }
}

@media only screen and (max-width: 479px) {
    /* Main Content */
    #main-content .h1 {
        font-size: 22px;
    }
}



footer.footer {
  background-color: $sidebarColor;
  color: rgb(181, 181, 181);
    background-color: #1d212a;
  color: #b5b5b5;
  padding-top: 40px;
  padding-bottom: 20px;
}
#main-content #datatable_wrapper .row{
    width: 100%;
}
