@media all and (max-width: 860px) {
  .shell-view {
    overflow: hidden;
    .sidebar.sidebar-left {
      overflow-y: auto;
      height: 100%;
    }
  }
}
@media all and (min-width: 539px) {
  .layout-torn-phone {
    display: none;
  }
}
@media all and (max-width: 538px) {
  .layout-torn-phone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0F3F3;
    z-index: 100000;
    h5.layout-header {
      text-transform: uppercase;
      position: relative;
      top: calc(50% - 100px);
      text-align: center;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    .phone {
      width: 100px;
      height: 180px;
      background-color: #000;
      border-radius: 7px;
      position: relative;
      top: calc(50% - 90px);
      left: calc(50% - 50px);
      animation-name: turn-phone;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      .phone_screen {
        width: 80px;
        height: 145px;
        background-color: #f4f4f4;
        position: absolute;
        top: 10px;
        left: 10px;
        img {
          margin-top: 65px;
          animation-name: rotate-img;
          animation-duration: 5s;
          animation-iteration-count: infinite;
        }
      }
      .phone_button {
        width: 14px;
        height: 14px;
        border: 1px solid #fff;
        border-radius: 50%;
        position: absolute;
        bottom: 3px;
        left: calc(50% - (15px / 2));
        box-shadow: inset 0 -1px rgba(255, 255, 255, 0.12);
        .phone_button_icon {
          width: 4px;
          height: 4px;
          border: 1px solid #fff;
          border-radius: 2px;
          position: absolute;
          top: calc(45% - 2px);
          left: calc(45% - 2px);
        }
      }
    }
  }
}

@keyframes turn-phone {
  50% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-img {
  50% {
    transform: rotate(-90deg);
  }
}
