.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
}

.modal-content {
    box-shadow: none;
    border-radius: 0;
    border: solid 10px rgba(255,255,255,0.6);

    label{
        font-size:13px;
        padding: 0px;
        padding-left:15px;
        padding-top: 10px;
    }
}

.requestModal {
    &.toggled {
        top: 90%;
        height: 90px;
        overflow: hidden;
    }
    &.toggled50{
        width:50%;
        .modal-dialog {width:90%}
    }
    &.pos2{
        left:50%
    }
    &.toggled33 {
        width:33%;
        .modal-dialog {width:90%}
        &.pos2{
            left:33%;
        }
        &.pos3{
            left:66%;
        }
    }
}

.modal {

    background-color: rgba(0, 0, 0, 0.22);

    .actions {
        i {
            color: #000;
            opacity: .3;
            font-size: 13px;
            text-shadow: 0 1px 0 #fff;
            margin: 0 10px;

            &:hover {color: #000;
                text-decoration: none;
                cursor: pointer;
                filter: alpha(opacity=50);
                opacity: .8;
            }
        }

    }
}

.text_center{    text-align: center;}
.text_left {    text-align: left;}
.inside_box{
    margin-top: 10px;
    border: 1px solid #556B8D;
    margin-bottom: 20px;
}
.small_box_header{
    padding: 5px;
    font-size: 11px;
    text-transform: UPPERCASE;

    border-bottom: 1px solid #D4D4D4;
    background: #556B8D;
    color: white;
}
.extra_list{
    list-style: none;
    background: #E4E4E4;
    margin: 5px;
    padding: 0px;
    text-align: center;
    border: 1px solid #D6D6D6;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    &:hover {
        background: #D4D4D4;
    }
}
.addcharege_box {
    margin: 10px;
    background: #EFEEEE;
    border: 1px solid #E0E0E0;
    td input {
        padding: 2px;
        border: 1px solid #CCC8C8;
        width: 95%;
    }
    thead {
        border-bottom: 1px solid gainsboro;
        margin-bottom: 5px;
        padding-bottom: 13px;
    }
    td{
        padding: 5px;
    }
    .value {
        width: 85px;
        padding-left: 10px;
        border-left: 1px solid #D0D0D0;
    }
    .remove_charge{
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 11px;
        position: absolute;
        top: 1px;
        right: 5px;
        cursor: pointer;
    }
}


.modal-content {
   tr.active_row {
        background: #6098EA;
        color: white;
    }
    span.mtitle {
        font-size: 14px;
        font-weight: 600;
        color: black;
        width: 155px;
        display:inline-block;
    }
    .activebtn {
        background: #6191F9;
        color: white;
        font-weight: 400;
    }
}

.commentQuickModal {
    .modal-dialog{
        margin-right: 10%;
    }

}

.group-request-modal {
    .modal-header {
        float: left;
        width: 100%;
        text-align: center;
    }

    .modal-body {
        float: left;
        width: 100%;

        input.error_field {
            border: 2px solid #e25d5d;

            &:focus {
                border: 2px solid #e25d5d;
            }
        }
    }

    .modal-footer {
        float: left;
        width: 100%;
    }
}

.basic-modal {
    .modal-header {
        min-height: 16.43px;
        padding: 0;
        border-bottom: 1px solid #e5e5e5;

        .close {
            margin-top: -10px;
        }

        &.gray {
            background-color: #F0F0F0;
            padding: 10px;
            font-weight: bold;
            font-size: 12px;
        }
    }

    .modal-body {
        padding: 30px 60px;
    }

    .date-picker {
        tbody {
            .btn {
                margin: inherit;
                background-color: white;
                color: black;
                &:hover {
                    background-color: #6767EF;
                    width: 100%;
                    color: white !important;
                }
            }
        }
        thead {
            .btn, .btn:hover {
                background-color: white !important;
                color: black !important;
            }
        }
        .dropdown-menu {
            li {
                &:hover {
                    background-color: inherit !important;
                }
            }
        }
    }

    .modal-footer {
        margin-top: 10px;

        .save-button,
        .cancel-button {
            float: right;
            margin-left: 15px;
        }
    }
}