.movecalc-edit-moving-form {
  height: 930px;
  max-width: 1200px !important;
  min-width: 800px !important;
  margin: 0 auto;
  position: relative;

  #progressbar {
    overflow: hidden;
    counter-reset: step;
    min-height: 120px;
    position: relative;
    margin: 0 auto 30px;
    width: 100%;

    span.progressline {
      border-bottom: 1px dashed #9a9b9b;
      bottom: 52px;
      content: "";
      left: 14%;
      position: absolute;
      width: 71%;
    }

    li {
      list-style-type: none;
      color: rgba(0, 0, 0, 0.45);
      text-transform: uppercase;
      width: 24% !important;
      float: left;
      text-align: center;
      height: 110px;
      position: relative;
    }

    li.active {
      color: black;
      font-weight: bold;
      -webkit-transition: 500ms linear 0s;
      -moz-transition: 500ms linear 0s;
      -o-transition: 500ms linear 0s;
      transition: 500ms linear 0s;
      outline: 0 none;

      .circle {
        display: block;
      }

      .dot {
        display: none;
      }
    }

    .circle {
      position: absolute;
      top: 50%;
      background: #f36a13 url("../img/settings/icon-succes.png") no-repeat center center;
      left: 50%;
      margin-left: -20px;
      margin-top: -9px;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      display: none;
      cursor: pointer;
    }

    .dot {
      background: none repeat scroll 0 0 #fff;
      border: 1px solid #9a9b9b;
      border-radius: 25px;
      bottom: -13px;
      content: "";
      height: 26px;
      width: 26px;
      left: 50%;
      top: 50%;
      margin-left: -5.5px;
      position: absolute;
      cursor: pointer;
    }

    h2 {
      margin: 0 !important;
      font-size: 16px !important;
      line-height: 62px;
      font-weight: 300 !important;
      text-transform: uppercase;
      color: #373838 !important;

      input {
        width: 215px;
        height: 35px;
        text-align: center;
        border: 0;
      }
    }
  }

  .moving-form {
    fieldset {
      margin: 0 auto;
      height: 575px;
      z-index: 10;
      width: 100%;
      float: left;

      label {
        font-size: 14px;
        color: #6a7076;
        font-weight: normal;
        display: block;
        text-align: left;
        margin: 0;
      }

      input, select {
        border: 1px solid darkgray;
      }

      select#edit-service {
        line-height: 22px;
      }

      #calculate_btn {
        float: left;

        input {
          height: 30px;
          background: inherit;
          border: none;
          width: 130px;
          margin: 0;
        }
        .calculate-button-ta {
          height: 30px;
          background: inherit;
          border: none;
          width: 130px;
          margin: 0;
          .btn-toolbar {
            top: 170px;
            left: -29px;
            z-index: 20;
          }
          .ta-scroll-window.ta-text.ta-editor.form-control {
            min-height: 10px !important;
            height: 30px;
            overflow: hidden;
            border: none;
            background-color: transparent;
            box-shadow: none;
            .ta-bind {
              min-height: inherit;
              height: inherit;
              background: transparent;
            }
          }
          &.calculate-button-ta-top {
            .btn-toolbar {
              top: -100px;
              width: 230px;
              left: -20px;
            }
          }
        }
      }
    }

    .fieldset-wrapper {
      .left-block {
        width: 32.5%;
        height: 575px;
        border: 1px solid #949494;
        float: left;
      }

      .direction_info {
        padding: 20px;
        padding-top: 15px !important;

        h3 {
          color: #585757;
          font-size: 13px;
          line-height: 10px;
          font-weight: normal;
          letter-spacing: 0;
          text-transform: Capitalize;
          margin: 0;
          text-align: left;
          font-family: inherit;
        }

        p.calc_left_info {
          text-align: left;
          padding: 0;
          line-height: 26px;
          font-weight: 600;
          font-size: 13px;
          margin: 0 !important;
        }

        span.bs {
          color: #585757 !important;
          font-size: 12px;
        }
      }

      .form-block {
        overflow-x: hidden;
        background-color: #ebebeb;
        padding: 10px 15px !important;
        z-index: -1;
        width: 33%;
        height: 575px;
        float: left;
        border: 1px solid #949494;
        margin: 0 1%;

        .form-group-left {
          float: left;
          width: 49%;
          margin-right: 1%;
        }

        .form-group-right {
          float: right;
          width: 48%;
          margin-left: 1%;
        }
      }

      .right-block {
        width: 32.5%;
        height: 575px;
        border: 1px solid #949494;
        z-index: -3;
        float: right;

        h4 {
          margin: 15px 20px 0;
          text-align: left;
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #45aaf9;
        }

        hr {
          border: 0;
          border-top: 1px dashed #373838;
          margin: 10px 21px 0;
        }
      }
    }
  }

  .clearfix {
    clear: both;
  }

  #edit-move-date-datepicker-popup-0 {
    background: #ffffff url(../img/settings/calendaricon.png) no-repeat 150px 7px;
    width: 100%;
    cursor: pointer;
  }

  input[type='text'], input[type='password'] {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #353535;
  }

  input {
    text-transform: CAPITALIZE;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-image: url(../img/settings/select-arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #353535;
  }

  .form-item.form-type-date-popup.form-item-Date-Storage {
    margin-bottom: -10px;
    margin-top: 2px;
  }

  .form-item .form-text {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0;
  }

  .zipcode_search {
    position: absolute;
    cursor: pointer;
    right: 10px;
    margin-top: 30px;
    font-size: 12px;
    color: #5685FF !important;
  }

  .form-group-left {
    float: left;
    width: 49%;
    margin-right: 1%;
  }

  .form-group-right {
    float: right;
    width: 48%;
    margin-left: 1%;
  }

  .form-item-Size-Move {
    margin-top: 0;
  }

  .form-item-Type-From {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
  }

  .form-item-Type-To {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }

  .input_panel {
    position: relative;
  }

  #edit-calculator span, #short-calculator span {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    .btn.btn-default.dropdown-toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      height: 13px;
    }
    .btn {
      font-size: 10px !important;
      line-height: 1;
      height: 16px;
    }
  }

  span.clear-icon {
    float: right;
    text-align: right;
    width: 120px !important;
    display: block;
    margin-top: 15px;
    cursor: pointer;
    color: #45aaf9;
    margin-left: 80px !important;

    input {
      height: 30px;
      background: inherit;
      border: none;
      margin: 0;
    }
  }

  .btn-primary.btn-3d {
    -webkit-box-shadow: 0 6px 0 #f36a13;
    -moz-box-shadow: 0 6px 0 #f36a13;
    box-shadow: 0 6px 0 #f36a13;
  }

  .btn.btn-3d {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .btn-primary {
    color: #fff;
    background-color: #FC8336;
    border-color: #FF7924;
  }

  .btn-toolbar {
    position: absolute;
    display: none;
    float: left;
    top: 215px;
    width: inherit;
    background: white;
    border: 2px solid #e8ebed;
    padding: 0 0 5px;
    margin: 0;
  }

  .focussed {
    display: block;
    .btn-group {
        height: 16px;
    }
  }

  .btn-success.btn-3d {
    -webkit-box-shadow: 0 4px 0 #0EDF2F;
    -moz-box-shadow: 0 4px 0 #0EDF2F;
    box-shadow: 0 4px 0 #18AA2F;
    background-color: #20D73E;
    border-color: #20D73E;
    border-bottom-color: #0BCB29;
  }

  .btn-default.btn-3d {
    -webkit-box-shadow: 0 6px 0 #858e93;
    -moz-box-shadow: 0 6px 0 #858e93;
    box-shadow: 0 6px 0 #858e93;
    background-color: #d1d1d1;
    color: #333;
    position: absolute;
    bottom: 80px;
    left: 20px;
  }

  #edit-personal-info {
    .form-item, .form-actions {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    label {
      font-weight: bold;
    }

    .ta-text > .ta-bind {
      background: #ebebeb;
    }
  }

  .four_block.left-small-block {
    width: 24%;
    height: 575px;
    border: 1px solid #949494;
    float: left;
    background-color: #ebebeb;

    label {
      color: black;
    }

    input {
      width: 100%;
    }

    #request_user_login {
      float: right;
    }

    .btn-toolbar {
      width: 287px;
      top: 186px;
    }
  }

  .login-forgot {
    float: left;
    margin-right: 24px;
    font-size: 12px;

    a {
      color: #606060 !important;
      text-decoration: underline !important;
      outline: none;
    }
  }

  .message-alert {
    min-height: 65px;
    line-height: 14px;
    margin-top: 22px;
    font-size: 16px;
    color: #fc1818;
  }

  .big-left-block {
    border: 1px solid gray;
    width: 75%;
    height: 575px;
    float: left;
    margin-left: 5px;
    padding: 0 20px;

    .four_block {
      float: left;
      width: 28%;
      margin-right: 40px;

      input, select {
        width: 100%;
      }
    }
  }

  #summery-alert {
    background: #ff5f5f;
    position: absolute;
    display: none;
    left: 27%;
    padding: 10px;
    line-height: 10px;
    bottom: 30px;
    color: white;
  }

  .button_right_position, #go-to-info-btn, #submitRequestButton, #edit-go-to-summery {
    position: absolute;
    bottom: 80px;
    right: 20px;
    z-index: 2;
  }

  #edit-calculator-results {
    .calc-form {
      padding: 0 15px;

      h3 {
        color: #585757;
        font-size: 13px;
        font-weight: normal;
        letter-spacing: 0;
        text-transform: Capitalize;
        float: left;
        width: 135px;
        margin: 0 !important;
        line-height: 20px;
        text-align: left;
      }

      .moving-date span {
        text-transform: capitalize;
        font-weight: 600 !important;
        font-size: 12px !important;
        color: #F36A13;
        text-align: left;
      }

      .ta-text > .ta-bind {
        background: #ebebeb;
      }

      .btn-toolbar {
        position: absolute;
        top: 339px;
        left: 403px;
        width: 394px;
        background: #ebebeb;
      }
    }

    .right-block {
      h4 {
        margin-top: 0;
      }
    }
  }

  .box_info {
    position: inherit;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
    background: transparent;
    box-shadow: none;

    .general .rooms {
      margin-left: 135px;
      margin-top: -5px;
      line-height: 16px;
    }

    &:before {
      border-style: hidden  !important;
    }
  }

  .calc-result-editable-block {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  i.rooms {
    font-style: normal;
    font-size: 12px;
    margin-top: -5px;
    display: block;
    min-height: 30px;
    color: #707070;
  }

  h2.flat_label {
    font-weight: bold !important;
    font-size: 13px !important;
    padding: 15px !important;
    color: black !important;
    dominant-baseline: black !important;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 15px !important;
    text-align: center !important;
    display: block !important;
    float: none !important;
    width: 100% !important;
    font-size: 13px;
    margin: 0px !important;
  }

  .flat_desc {
    line-height: 20px;
    font-size: 13px;
    color: #2E2C2C;

    ul {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    li {
      list-style: initial;
      margin-left: 20px;
      text-align: left;
    }
  }

  .calc_block {
    float: left;
    width: 50%;
  }

  .select-service-type {
    bottom: -26px;

    .active {
      color: #556B8D;
    }
  }

  .select-storage-type {
    left: 10px;
    z-index: 10;
  }

  .storage-explanation {
    .btn-toolbar {
      position: absolute;
      top: -84px;
      z-index: 100;
    }
  }

  .editable-block {
    .restore-to-default {
      z-index: 10;
      position: relative;
    }
    .btn-primary {
      color: #fff;
      background-color: #556B8D;
      border-color: #556B8D;
      margin-left: -70px;
      left: 50%;
    }
    &.moving-and-storage {
      position: relative;
    }
  }

  .ta-text > .ta-bind {
    background: white;
    z-index: 10;
    position: relative;
  }

  #calc-info-steps {
    .btn-primary {
      margin-left: 0;
      left: 0;
    }
  }

  .btn-toolbar>.btn-group {
    margin-top: 3px;
  }

  .gu-hide {
    display: none !important;
  }

  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  .dragable {
    cursor: pointer;
  }

  #edit-confirmation {

    #confirmation_block {
      text-align: center;
      height: 600px;
      border: 1px solid #949494;

      .confirm-button {
        margin: auto;
        text-transform: capitalize;
        color: white !important;
        font-weight: normal;
        text-decoration: none;
        outline: none;
        width: 300px;

        .editable-confirm-button {
          width: 300px !important;
          text-align: center;
          margin: 0;
          background-color: inherit;
          border: none !important;
          position: relative;
          &.calculate-button-ta {
            .btn-toolbar {
              top: -50px;
              left: -29px;
              z-index: 20;
            }
            .ta-scroll-window.ta-text.ta-editor.form-control {
              min-height: 10px !important;
              height: 30px;
              overflow: hidden;
              border: none;
              background-color: transparent;
              box-shadow: none;
              .ta-bind {
                min-height: inherit;
                height: inherit;
                background: transparent;
              }
            }
          }
          &.confirmation-button-calculate {
            .btn-toolbar {
              top: -130px;
              left: calc(50% - (264px / 2));
              z-index: 20;
              width: 230px;
            }
          }
        }
      }

      div.request-button.button {
        background-color: #f36a13;
        font-size: 18px;
      }

      .btn-toolbar {
        position: absolute;
        top: 264px;
        width: 100%;
      }

      .restore-to-default {
        margin-left: 50%;
        color: #fff;
        background-color: #556B8D;
        border-color: #556B8D;
      }
    }

  }

  .company-slogan {
    height: 145px;
    .btn-toolbar {
      position: inherit;
      width: 100%;
      display: block;
      visibility: hidden;
    }
    .focussed {
      visibility: visible;
    }
  }

  .dirMap {
    margin-bottom: 20px;
  }

  #map_direction_to_storage, #map_direction_from_storage, #map_direction_to_storage2, #map_direction_from_storage2 {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
  }

  .editable-button {
    width: 100% !important;
    background-color: inherit;
    border: none !important;
    &.calculate-button-ta {
      .ta-scroll-window.ta-text.ta-editor.form-control {
        min-height: 10px !important;
        height: 30px;
        overflow: hidden;
        border: none;
        background-color: transparent !important;
        box-shadow: none;
        .ta-bind {
          min-height: inherit;
          height: inherit;
          background: transparent !important;
        }
      }
    }
    &.customer-info-bottom-right {
      .btn-toolbar {
        top: -100px;
        left: -180px;
        z-index: 20;
      }
    }
    &.customer-info-bottom-left {
      .btn-toolbar {
        top: -100px;
        left: -20px;
        z-index: 20;
      }
    }
    &.calc-result-btn-bottom-right {
      .btn-toolbar {
        top: -100px;
        left: -180px;
        z-index: 20;
      }
    }
    &.calc-result-btn-bottom-left {
      .btn-toolbar {
        top: -100px;
        left: -20px;
        z-index: 20;
      }
    }
  }
}

.poll-sources-block {
  max-width: 1200px !important;
  min-width: 800px !important;
  margin: 0 auto;
  position: relative;

  .poll-panel {
    background-color: #f9f9f9;
    padding: 20px 15px;
    max-width: 500px;

    .poll-item {
      margin: 5px 0;
      position: relative;
      padding: 5px 0;
      cursor: default;

      .select-poll {
        visibility: hidden;
        cursor: default;
        height: 100%;
        width: 100%;
        background-color: rgba(120, 120, 120, 0.7);
        position: absolute;
        left: 0;
        top: 0;
      }

      .remove-poll-block {
        background-color: #464646;
        position: absolute;
        float: left;
        z-index: 2;
        text-align: center;
        color: white;
        left: 50%;
        top: 50%;
        width: 120px;
        height: 22px;
        margin-left: -60px;
        margin-top: -11px;

        &:hover {
          background-color: #e75d5d;
        }
      }

      .remove-poll-button {
        text-align: center;
        width: 120px;
        height: 20px;
        cursor: pointer;
      }

      &:hover {
        .select-poll {
          visibility: visible;
        }
      }
    }

    .control-panel {
      padding: 5px 0 20px;
      display: flex;
      input {
        width: 86%;
        float: left;
      }
      button {
        margin-bottom: 0;
        padding: 5px 10px;
        border-radius: 0;
      }
    }
  }

  .company-color-panel {
    input {
      float: left;
    }

    .color-preview {
      width: 28px;
      height: 28px;
      float: left;
    }
  }

  .edit-tool-tips-panel {
    .box_info {
      position: initial;
      width: 100%;
      box-shadow: initial;
      -webkit-box-shadow: initial;
    }
  }
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);

  .circle {
    position: absolute;
    top: 50%;
    background: #f36a13 url("../img/settings/icon-succes.png") no-repeat center center;
    left: 50%;
    margin-left: -20px;
    margin-top: -9px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: none;
    cursor: pointer;
  }

  .dot {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #9a9b9b;
    border-radius: 25px;
    bottom: -13px;
    content: "";
    height: 26px;
    width: 26px;
    left: 50%;
    top: 50%;
    margin-left: -5.5px;
    position: absolute;
    cursor: pointer;
  }

  h2 {
    margin: 0 !important;
    font-size: 16px !important;
    line-height: 62px;
    font-weight: 300 !important;
    text-transform: uppercase;
    color: #373838 !important;

    input {
      width: 215px;
      height: 35px;
      text-align: center;
      border: 0;
    }
  }
}

li.gu-mirror {
  list-style-type: none;
  color: rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
  text-align: center;
  height: 110px;
  position: relative;
}

li.active.gu-mirror {
  color: black;
  font-weight: bold;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;

  .circle {
    display: block;
  }

  .dot {
    display: none;
  }
}