div#admin_flat_rate_block {
  padding: 20px;
}

.short-info {
  font-size: 12px;

  .box {
    font-size: 12px;
    background: #DBDBDB;
    border: 1px solid #B5B5B5;
    padding: 15px !important;
    margin-bottom: 20px !important;
  }
}

.add_option_form {
  h2 {
    font-size: 13px;
    padding: 0px;
    line-height: 21px
  }

  input, select {
    border: 1px solid #dce0e0;
    padding: 4px;
    font-size: 14px;
  }

  .wrapper {
    .col-md-7 {
      padding-right: 0;
    }

    #flat_rate {
      float: left;
    }

    .money {
      float: left;
      padding-left: 10px;
    }
  }
}

.option_box.active {
  border: 2px solid #1E6EF1;
}

.option_box {
  background: #EDEDED !important;
  border: 1px solid #dce0e0;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  font-size: 15px;

  h3 {
    font-size: 15px;
    line-height: 25px;
  }
  .option_text {
    margin-top: 20px;
  }
}

.admin_buttons {
  margin-top: 20px;
  float: right;
}

.send-options-info {
  font-size: 14px;
  font-weight: 600;
  .box {
    color: #ffffff;
    padding: 15px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .box-info {
    background: lighten(#1F7BB6, 10%);
    border: 1px solid #1F7BB6;
  }
  .box-chosen {
    background: lighten(#51a351, 10%);
    border: 1px solid #51a351;
  }
}


