/* ==========================================================================
   Login
   ========================================================================== */

#login-wrapper {
    margin: 100px auto; 
      margin-bottom: 200px;
    .logo {
        color: #1d212a;
        font-size: 2em;
        text-transform: uppercase;
        padding: 15px 0 0 15px;
        display: inline-block;
    }
    .logo span {
        font-weight: 700;
    }
    .logo img {
        margin-top: -5px;
    }
    .brand {
        text-align: center;
        padding: 20px 0;
    }
}
#login-wrapper .form-group i {
    position: absolute;
    left: 27px;
    top: 11px;
}
#login-wrapper #email, #login-wrapper #password {
    padding-left: 32px;
}
/* ==========================================================================
   Profile
   ========================================================================== */

.profile-pic {
    margin: 20px 0 0 0;
    img {
        border: 7px solid #e5e6ea;
    }
}
.profile-info .connect {
    margin: 15px 0 5px 0;
    button {
        margin-right: 15px;
    }
}

.docs-link {
	display: flex;
	align-items: center;
	cursor: pointer;
	&__symbol {
		text-align: center;
		font-size: 2em;
		line-height: 1.3em;
		width: 1.4em;
		height: 1.4em;
		border: 2px solid #556b8d;
		color: white;
		background: #556b8d;
		border-radius: 50%;
		margin-right: 0.5em;
	}
	&:hover {
		.docs-link__symbol {
			animation: shadowing 2s infinite linear;
		}
	}
}

@keyframes shadowing {
	from {box-shadow: 0 0 0 0 rgba(85, 107, 141, 1);}
	50% {box-shadow: 0 0 0 10px rgba(85, 107, 141, 0);}
	to {box-shadow: 0 0 0 10px rgba(85, 107, 141, 0);}
}

.timeline-post-to {
    textarea {
        min-height: 80px;
        margin-bottom: 15px;
    }
}
.timeline-post-to:before {
width: 10px;
height: 10px;
border-style: solid;
content: " ";
position: absolute;
left: 5px;
top: 19px;
border-width: 8px 8px 8px 0;
border-color: transparent #fff transparent transparent;
display: block;
}
.timeline-post {
    ul {
        padding: 0;
        list-style: none;
        margin: 0 15px 0 30px;
        border-left: 2px solid #ddd;
    }
    ul li {
        padding: 5px 15px;
        display: block;
        min-height: 54px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin: 20px 0 20px 40px;
        background: #efefef;
        position: relative;
        border-left: 4px solid transparent;
    }
    ul li:before {
        width: 10px;
        height: 10px;
        border-style: solid;
        content: " ";
        position: absolute;
        left: -14px;
        top: 19px;
        border-width: 8px 8px 8px 0;
        border-color: transparent #efefef transparent transparent;
        display: block;
    }
    ul li img {
        margin-bottom: 15px;
    }
    .date {
        position: absolute;
        left: -69px;
        top: 0;
        width: 50px;
        height: 50px;
        background: $primaryColor;
        border-radius: 50%;
        text-align: center;
        line-height: 1.2em;
        span {
            color: #fff;
            font-size: 18px;
            display: block;
            margin-top: 7px;
            font-weight: 600;
        }
        span.small {
            color: #fff;
            font-size: 12px;
            display: block;
            margin-top: -2px;
        }
    }
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
   Error Pages 404 and 500
   ========================================================================== */
 #error-container {
    text-align:center;
    margin: 100px auto 0px;
}

#error-container header h1 {
    font-size:10em;
}

#error-container header p {
    text-transform: uppercase;
    font-size: 2em;
}
#error-container p {
    margin:10px 0 20px 0;
}