span.dhx_cal_event_wrapper.current {
  z-index: 1;
}

.park_lot .pkl_data {
  .dhx_cal_event_line {
    cursor: pointer;

  }
  .flatrate-request-style {
    width:850px;
    height: 100%;
    float: left;
  }

  .status_2.reserved {
    background: red;
    background: url(../img/bg.png) 0 0 repeat-x scroll #EC8383 !important;
    pointer-events: none;
  }

  .status_3 { // Confirmed
    background: url(../img/bg.png) 0 0 repeat-x scroll #90ee90;
    &:hover {

      opacity: 0.9;

    }
  }
  .status_1 { // Pending
    background: url(../img/bg.png) 0 0 repeat-x scroll rgba(255, 165, 0, 1);
    &:hover {
      opacity: 0.9;
    }
  }
  .status_2 { // Confirmed
    background: url(../img/bg.png) 0 0 repeat-x scroll #87C4F3;
    &:hover {
      opacity: 0.9;
    }
  }
  .lb {
    background: url(../img/bg.png) 0 0 repeat-x scroll #98ffa5 !important;
    border-bottom: none;
    color: #48ad41 !important;
    text-align: center;
  }
  .dt {
    background: url(../img/bg.png) 0 0 repeat-x scroll #f9fc78 !important;
    text-align: center;
    border-bottom: none;
    cursor: pointer;
    color: #c3a943 !important;
    &.dtl {
      background: url(../img/bg.png) 0 0 repeat-x scroll #fc9e99 !important;
      text-align: center;
      border-bottom: none;
      cursor: pointer;
      color: #a8c0c3 !important;
      opacity: 0.5;
      &:hover {
        opacity: 0.3;
      }
    }
    &:hover {
      opacity: 0.9;
    }
  }

}

.park_lot .pkl_data, #schedule {

  .service_1 {
    border-left: 10px solid lightgreen !important;
  }
  .service_2 {
    border-left: 10px solid #FFC800 !important;
  }
  .service_3 {
    border-left: 10px solid #D68FFA !important;
  }
  .service_4 {
    border-left: 10px solid #D68FFA !important;
  }
  .service_5 {
    border-left: 10px solid #EEEB90 !important;
  }
  .service_6 {
    border-left: 10px solid #F17373 !important;
  }
  .service_7 {
    border-left: 10px solid #69B6F8 !important;
  }

  .service_8 {
    border-left: 10px solid #D35400 !important;
  }

}

.choosen {
  background-color: #82BDEA !important;
  color: white;
}

.lotstats {
  float: left;
  margin-top: -10px;
  margin-left: 5px;
}

.modal-content {
  overflow: hidden;
}

.movecalc_edit_form {
  .date_header {
    text-align: center;
    padding: 20px 10px;
    font-size: 12px;
    .hide-parklot-button {
      padding: 7px;
      margin-top: -20px;
      background-color: white;
      opacity: .3;
      &:hover {
        opacity: 1;
      }
      i {
        padding: 0;
      }
    }
  }
  i.fa.fa-chevron-right {
    margin-left: 15px;
    font-size: 10px;
  }
  i.fa.fa-chevron-left {
    margin-left: 7px;
    margin-right: 15px;
    font-size: 10px;
  }

}

.park_lot {

  .trucks {
    position: absolute;
    top: 30px;
    background-color: white;
    width: 105px;
    z-index: 99;

    .truckid {
      font-family: "Roboto";
      line-height: 25px;
      font-weight: normal;
      padding-left: 10px;
      margin-bottom: 5px;
      padding-right: 10px;
      font-size: 12px;
      cursor: pointer;
      height: 25px;
      overflow: hidden;
      &:hover {
        background-color: whitesmoke;
      }
    }

  }

  .dhx_cal_header {
    /* margin-left: 85px; */
    position: absolute;
    left: 50px;
    top: 7px;
    margin-left: 0px !important;
    height: 20px;
    font-size: 12px;
    margin-top: 0px;
    width: 1200px;
    cursor: w-resize;
  }

  .pkl_data {
    position: absolute;
    top: 0px;

    /* z-index: 10000; */
    /* overflow: hidden; */
    width: 1205px;
  }

  td {
    padding: 0px;
  }
  width: 100%;
  background: white;
  position: relative;
  font-family: 'Open sans';
  font-weight: 600;
  letter-spacing: 0px;
  color: #595959;
  .dhx_cal_header {
    margin-left: 85px;
    height: 30px;
  }
  .dhx_cal_event_line {
    height: 100%;
    float: left;
    position: relative;
    &.current {
      border: 2px dotted #252525;
      /* line-height: 11px; */
      line-height: 12px !important;
      i.fa.fa-star {
        margin-left: -15px;
      }
    }
  }

}

.dhx_cal_event_line {

  padding: 5px;
  overflow: hidden;
  line-height: 16px;
  font-size: 10px;
  height: 25px;
}

.dhx_cal_event_line p {
  border-left: 2px solid rgb(255, 255, 129);
  text-indent: 10px;
  width: 250px;
  i.icon-users {
    margin-right: 5px;
  }
}

table.tblines {
  border-top: 1px solid rgb(249, 249, 249);
  height: 25px;
  margin: 0px;
  padding: 0px;
}

.dhx_scale_bar {
  position: relative;
  float: left;
  text-indent: -50px;
  width: 50px;
  text-align: center;

  span {
    font-size: 8px;
    color: #d7d5d5;
    margin-left: 35px;
    position: absolute;
    top: -2px;
  }

}

td.dhx_matrix_cell.first {
  width: 25px;
  border-right: 1px solid black;
}

td.dhx_matrix_scell {
  width: 85px;
  height: 25px;
  /* padding: 10px; */
  padding: 0px;
  /* margin: 7px; */
  padding-bottom: 0px;
  font-size: 10px;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
  border-right: 2px solid #ebebeb;
}

.dhx_cal_event_wrapper {
  &.flatrate {
    .request {
      background: #EEEB90 !important;
    }
  }
  &.flatrate{
    .ld-trip {
      background: url(/moveBoard/content/img/bg90.png) 0 0 repeat-x scroll #b39ddb  !important;
    }
  }
  &.not-flatrate {
    z-index: 10;
  }
  &.showpopup {
    z-index: 21;
  }
  .diamond {
    position: absolute;
    top: 60%;
    right: 0;
  }
  &:hover {
	z-index: 21;
  }
}

.dhx_matrix_line {
  position: relative;
  //overflow: hidden;
  margin-bottom: 5px;
}

td.dhx_matrix_cell {
  border-bottom: 1px solid rgb(248, 248, 248);
}

td.dhx_matrix_cell.first {
  width: 25px;
  border-right: 1px solid rgb(241, 241, 241);
}

td.dhx_matrix_cell.second {
  width: 25px;
  border-right: 2px solid rgb(234, 234, 234);
}

div.request {
  display: block;
  /* display: inline-block; */
  float: left;

}

