@media print {
 .payroll-pint-area{
   position: absolute;
   top: 5mm;
   width: 95%;
 }
}

$gray: #aaa;
.payroll {

    table {

      th {
        vertical-align: middle;
        font-size: 12px !important;
        height: 22px;
        color: #3e3d3d;
        border-bottom: 1px solid #ddd !important;
        cursor: pointer;
        position: relative;
        background:white !important;
        border-left: 1px solid #e6e6e6;
        font-weight: 600;
      }
    }

  .small_icon {
    font-size: 15px;
    padding: 5px 10px;
  }
  .small-btn {

  }

  .green_button{
    color: white !important;
    border-color: #1bb91b !important;
    background: linear-gradient(to bottom, #46d464 0%, rgb(39, 156, 74) 100%) !important;
    background: -moz-linear-gradient(top, #46d464 0%, rgb(39, 156, 74) 100%) !important;
    background: -webkit-linear-gradient(top, #46d464 0%, rgb(39, 156, 74) 100%) !important;
    font-weight: normal;
    text-shadow: 1px 1px 1px #848484 !important;
    &:hover {
      background: linear-gradient(to bottom, #38b151 0%, rgb(39, 156, 74) 100%);
      background: -moz-linear-gradient(top,#38b151 0%, rgb(39, 156, 74) 100%);
      background: -webkit-linear-gradient(top, #38b151 0%, rgb(39, 156, 74) 100%);
    }
  }

  .red_button{
    color: white !important;
    border-color: #E25D1E !important;
    background: linear-gradient(to bottom, #e25d4a 0%, #E25D6A 100%) !important;
    background: -moz-linear-gradient(top, #E25D4A 0%, #E25D6A 100%) !important;
    background: -webkit-linear-gradient(top, #E25D4A 0%, #E25D6A 100%) !important;
    font-weight: normal;
    text-shadow: 1px 1px 1px #848484 !important;
  }

  .blue_button{
    color: white !important;
    border-color: #465de2 !important;
    background: linear-gradient(to bottom, #6785e2 0%, #465de2 100%) !important;
    background: -moz-linear-gradient(top, #6785e2 0%, #465de2 100%) !important;
    background: -webkit-linear-gradient(top, #6785e2 0%, #465de2 100%) !important;
    font-weight: normal;
    margin-left: 20px;
    text-shadow: 1px 1px 1px #848484 !important;
  }

  .panel-body {
    padding: 0 5px;
  }

  .actions-group {
    padding: 0 4px;
	display: flex;
	align-items: center;
	margin: 18px 15px;

    .a-actions {
      text-transform: Capitalize;
      border: 1px solid #bfbfbf;
      margin-right: 15px;
      padding: 8px 10px;
      color: rgba(80, 79, 79, 0.81);
      font-weight: bold;
      border-radius: 5px;
      position: relative;
      background: -moz-linear-gradient(top, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%);
      background: -webkit-linear-gradient(top, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%);
      background: linear-gradient(to bottom, #ffffff 0%, rgba(237, 237, 237, 0.89) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#e3ededed', GradientType=0);
      margin-left: -4px;
      font-size: 12px;
    }

    label {
      font-size: 14px;
      color: rgba(51, 51, 51, 0.81);
      font-weight: 500;
      &.fa {
        &.fa-calendar-o {
          margin-left: 10px;
          margin-right: -5px;
          cursor: pointer;
          color: #4B89E8;
        }
      }
    }

    input {
      &.right-margin {
        margin-right: 20px;
      }
    }

    .quick-date-button {
      padding: 5px;
      border-radius: 5px;
      color: rgba(51, 51, 51, 0.81);
      border-color: #E0E0E0;
      font-size: 16px;
      cursor: pointer;
      margin-left: 10px;
      background: linear-gradient(to bottom, #eeeeee 0%, rgba(237, 237, 237, 0.89) 100%);
    }
  }

  .table {
    margin-top: 0 !important;

    & > thead > tr > th {
      vertical-align: middle;
      font-size: 12px;
      height: 35px;
    }

    thead tr:hover {
      background: transparent;
      cursor: pointer;
    }

    &.dataTable {
      clear: both;
      margin-top: 6px !important;
      margin-bottom: 6px !important;
      max-width: none !important;
      margin-left: 10px;
      margin-right: 10px;
      width: 99%;
      &#print-area{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px;
        margin-right: 0px;
      }

      .nopadding {
        padding: 0px;
        text-align: center;
      }


      thead {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;

        .sorting,
        .sorting_asc,
        .sorting_desc,
        .sorting_disabled,
        .sorting_asc_disabled,
        .sorting_desc_disabled {
          cursor: pointer;
          position: relative;
          background: rgba(224, 224, 224, 0.34);
          font-size: 16px;
          border-left: 1px solid #ddd;
        }

        .sorting:after,
        .sorting_asc:after,
        .sorting_desc:after {
          position: absolute;
          top: 8px;
          right: 8px;
          display: block;
          font-family: 'FontAwesome';
          opacity: 0.5;
        }

        .sorting {
          &:after {
            opacity: 0.2;
            content: "\f175\f176"; /* sort */
            display: none;
          }
        }

        .sorting_asc {
          &:after {
            content: "\f160"; /* sort-by-attributes */
          }
        }

        .sorting_desc {
          &:after {
            content: "\f161"; /* sort-by-attributes-alt */
          }
        }

        .sorting_asc_disabled:after,
        .sorting_desc_disabled:after {
          color: #eee;
        }

        & > tr > th {
          padding-left: 8px;
          padding-right: 15px;
        }
      }


      td{
        vertical-align: middle !important;
      }
      td, th {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        font-size: 14px;
        padding: 0px 8px;
      }

      th {
        &:active {
          outline: none;
        }
      }

      tbody {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        tr {
          &:hover {
            background: #EEEEEE !important;
            cursor: pointer;
          }
          &.active {
            td, th {
              background-color: #08C;
              color: white;
            }

            &:hover {
              td, th {
                background-color: #0075b0 !important;
              }
            }

            th > a,
            td > a {
              color: white;
            }
          }
          td {
            &.selected-column {
              border-right: 1px solid #ddd;
            }
          }
        }
      }
    }

    &.table-bordered {
      &.dataTable {
        border-collapse: separate !important;
      }
      thead {
        th, td {
          border-left-width: 0;
          border-top-width: 0;
        }
      }
      tbody {
        th, td {
          border-left-width: 0;
          border-bottom-width: 0;
        }
      }
      th:last-child,
      td:last-child {
        border-right-width: 0;
      }
    }
    &.DTTT_selectable tbody tr {
      cursor: pointer;
    }

    tfoot {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      tr:hover {
        background-color: #e3edfd;
        cursor: default;
      }

      tr {
        .fa {
          .fa-question-circle {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .dataTables_empty {
      cursor: default;
    }
  }

  div {
    &.dataTables_length {
      label {
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
      }
      select {
        width: 75px;
        display: inline-block;
      }
    }
    &.dataTables_filter {
      text-align: right;
      label {
        font-weight: normal;
        white-space: nowrap;
        text-align: left;
      }
      input {
        margin-left: 0.5em;
        display: inline-block;
      }
    }
    &.dataTables_info {
      padding-top: 8px;
      white-space: nowrap;
    }
    &.dataTables_paginate {
      margin: 0;
      white-space: nowrap;
      text-align: right;

      ul.pagination {
        margin: 2px 0;
        white-space: nowrap;
      }
    }
    @media screen and (max-width: 767px) {
      &.dataTables_length,
      &.dataTables_filter,
      &.dataTables_info,
      &.dataTables_paginate {
        text-align: center;
      }
    }
    &.dataTables_scrollHead {
      table {
        margin-bottom: 0 !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        thead {
          tr {
            &:last-child {
              th {
                &:first-child {
                  border-bottom-left-radius: 0 !important;
                  border-bottom-right-radius: 0 !important;
                }
              }
            }
          }
        }
        &.table-bordered {
          border-bottom-width: 0;
        }
      }
    }
    &.dataTables_scrollBody {
      table {
        border-top: none;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
      tbody {
        tr:first-child th,
        tr:first-child td {
          border-top: none;
        }
      }
    }
    &.dataTables_scrollFoot {
      table {
        margin-top: 0 !important;
        border-top: none;
      }
    }
    &.DTTT .btn:hover {
      text-decoration: none !important;
    }
    &.DTTT_collection_background {
      z-index: 2002;
    }
    &.dataTables_processing {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 60px;
      margin-left: -50%;
      margin-top: -25px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 1.2em;
      background-color: white;
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    }
  }

  .table-striped {
    &.dataTable {
      tbody {
        tr.active {
          &:nth-child(odd) {
            td, th {
              background-color: #017ebc;
            }
          }
        }
      }
    }
    & > tbody > tr:nth-child(odd) {
      background-color: initial;
    }
  }

  ul {
    &.DTTT_dropdown {
      &.dropdown-menu {
        z-index: 2003;
        a {
          color: #333 !important; /* needed only when demo_page.css is included */
        }
        li {
          position: relative;
          &:hover {
            a {
              background-color: #0088cc;
              color: white !important;
            }
          }
        }
      }
    }
  }

  div.DTFC_LeftHeadWrapper table,
  div.DTFC_LeftFootWrapper table,
  div.DTFC_RightHeadWrapper table,
  div.DTFC_RightFootWrapper table,
  table.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
  }

  div.DTFC_RightHeadWrapper table,
  div.DTFC_LeftHeadWrapper table {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
  div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
  div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
  div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  div.DTFC_RightBodyWrapper table,
  div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin: 0 !important;
  }

  div.DTFC_RightBodyWrapper tbody tr:first-child th,
  div.DTFC_RightBodyWrapper tbody tr:first-child td,
  div.DTFC_LeftBodyWrapper tbody tr:first-child th,
  div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
  }

  div.DTFC_RightFootWrapper table,
  div.DTFC_LeftFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
  }

  div.FixedHeader_Cloned table {
    margin: 0 !important
  }

  .mdDataTable {
    .mdDataTable-header-alternate{
      height: initial;
    }
  }

  .filter-box {
    border-top: 1px solid #E0E0E0;
    padding-top: 15px;

    .mdDataTable {
      &.dataTables_filter {
        display: none;
      }
    }

    label {
      font-size: 15px;
      font-weight: 400;
      text-transform: Capitalize;
      max-width: 70px;
      width: 100%;

    }

    select {
      max-width: 160px;
      width: 100%;

    }
  }
  .stats-wrapper{
    padding: 30px;
    background: #e3edfd;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
  }

  .total-payroll-panel {
    min-height: 80px;
    -webkit-box-shadow: 0 0 5px 1px #D7D7D9;
    -moz-box-shadow: 0 0 5px 1px #D7D7D9;
    box-shadow: 0 0 5px 1px #D7D7D9;
    border-radius: 5px;
    display: flex;
    background-color: white;

    .total-item {
      float: left;
      padding: 10px 10px 10px 20px;
      border-left: 1px solid #D7D7D9;
      margin-right: auto;
      line-height: 1.7;

      .total-title {
        text-transform: CAPITALIZE;
        font-weight: normal;
        font-size: 14px;
        color: #676767;
      }

      .total-body {
        color: black;
        font-size: 20px;
        font-weight: 500;
      }

      &:first-child {
        border-left: initial;
      }
    }


    @media (min-width: 996px) and (max-width: 1370px) {
      zoom: 0.85;
      .total-item {
        padding: 20px 10px 20px 10px;
        .total-body{
          font-size: 17px;
        }
      }

      .fa {
        &.fa-pencil-square-o {
          right: 59px !important;
          top: 105px !important;
        }
      }
    }

    @media (min-width: 720px) and (max-width: 995px) {
      zoom: 0.7;
      .total-item {
        padding: 20px 10px 20px 10px;
        .total-body{
          font-size: 17px;
        }
      }
      .fa {
        &.fa-pencil-square-o {
          right: 72px !important;
          top: 150px !important;
        }
      }
    }

    @media (max-width: 719px) {
      zoom: 0.5;

      .total-item {
        padding: 20px 10px 20px 10px;
        .total-body{
          font-size: 17px;
        }
      }

      .fa {
        &.fa-pencil-square-o {
          right: 107px !important;
          top: 241px !important;
        }
      }
    }

    .fa {
      &.fa-pencil-square-o {
        position: absolute;
        right: 50px;
        top: 90px;
        cursor: pointer;
      }
    }
  }

  .breadcrumb {
    margin-bottom: 0;
    background-color: inherit;
    padding: 0 15px;
    float: right;
    margin-top:15px;
  }

  .payroll-header {
    h3 {
      padding: 15px 30px;
      text-transform: capitalize;
      color: black;
      span {
        color: #25a34b;
      }
    }
  }

  .fixed-payroll-header {
    z-index: 300;
    position: absolute;
    width: 100%;
    border-color: #eff2f7;
    background: #fff;
  }

  .bottom-border {
    border-bottom: 1px solid beige;
  }

  .panel-heading {
    border-bottom: none;
    padding-bottom: 0;
    margin: 0px;
    padding: 0px;
  }

  .payroll-table {
    #print-area_wrapper {
      .dataTables_scrollHeadInner {
        table {
          margin-bottom: 0px !important;
        }
      }
    }
    .dataTables_paginate {
      &.paging_simple_numbers {
        display: none;
      }
    }
    .dataTables_info {
      display: none;
    }
  }

  .font-weight-bold {
    font-weight: bold;
    font-size: 13px !important;
  }
  .printOnlyPayroll {
    display: none;
  }
  @media print {
    &#print-area,
    &#print-area *{
      visibility: visible;
      table{
        display: table;
        tbody {
          display: table-row-group;
          th, td {
            display: table-cell;
          }
        }
      }
    }
    .btn {
      display: none;
    }
    tr {
      page-break-inside: avoid;
    }
  }
}

@media print {
  .printOnlyPayroll {
    display: table-cell !important;
    white-space: nowrap;
    padding: 5px;
  }
  table.payroll.user-data-table {
    width: 90%!important;
  }
}

.with-min-scroll-width{
  overflow-x: auto;
  margin-left: 10px;
  .row{
    margin: 0;
  }
  table{
    width: 99.54% !important;
    th,td{
      &:first-child{
        padding: 0 !important;
        text-align: center;
        min-width: 50px;
      }
      min-width: 60px;
    }
  }
  &.texted{
    th,td{
      &:first-child{
        padding-left: 10px !important;
        text-align: left;
      }
    }
  }
}
#printSection{
  padding: 20px;
}
