//payment modal
.payment-details-pending{
	height: 37px;
	margin-top: 10px;
}
#payment_details .btn-default,
a.btn-default:link,
a.btn-default:visited{
	background-color: white;
	color: black;
}
#payment_details .btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
	background-color: #6767EF !important;
	width: 100%;
	color: white !important;
}
#payment_details .text-info{
	color: black;
}
.payments_buttons a {
    font-size: 12px;
}
#payment_details .msg-create-payment{
	font-size: 12px;
    color: #e25d5d;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
}
.payment-tips-percent{
	display: inline-block;
    padding: 5px 9px 5px 8px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 1px 0px rgba(99, 122, 195, 0.75);
    color: #FFFFFC;
    min-width: 24%;
    text-align: center;
    cursor: pointer;
}
.payment-tips-percent:active {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #075bba #0c69d2 #0f7de9;
    background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
    background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
    background-image: -o-linear-gradient(top, #1281dc, #1593fc);
    background-image: linear-gradient(to bottom, #1281dc, #1593fc);
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}
.payment-tips{
	display: inline-block;
	.form-control:focus{
		border-color: #66afe9 !important;
	}
	.form-control{
		max-width: 145px;
	}
}
#extra-service-modal {
    .btn-group {
        width: 100%;
        padding-left: 5px;
        padding-right: 3px;
        .btn-default {
            color: #565656;
            padding: 3px 2px;
            background-color: #E4E4E4;
            font-size: 12px;
            font-weight: 600;
            border: solid 1px #D6D6D6;
            border-radius: inherit;
            i{
                font-size: 18px;
                padding: 10px;
                display: inline-block;
            }
        }
        .active {
            background-color: #DDFFCC;
        }

    }
}
