//payroll modal
.remove-worker{
    cursor: pointer;
    float: right;
}
#invoice_content select {
    border: none;
    padding-bottom: 0;
    height: 25px;
    font-size: 12px;
    padding-top: 0px;
}
#invoice_content  input {
    height: 25px;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
}
#invoice_content .table thead tr th{
    color: #638FC7;
    font-weight: bold;
}
#invoice .nav-tabs li {
    margin-left: 10px;
}
.invoice-active-tab{
    background-color: #eee;
    color: #2E2E32;
    border-radius: 4px 4px 0 0;
}
.invoice-employees-total{
    margin-right: 5px;
}
.invoice-icons{
    color: #638FC7;
    font-size: 18px;
}
.invoice-icons-add:hover{
    cursor: pointer;
}
.invoice-icons:hover{
    cursor: pointer;
}
.invoice-icons-add{
    color: #638FC7;
    font-size: 25px;
    float: right;
}
.disable-add-commissions{
    color: rgba(99, 143, 199, 0.31);
}
.salary-commissions{
    background-color: #4CAEF9 !important;
    color: white;
    padding: 0;
    margin-top: 5px;
}
.workers-salary{
    padding-bottom: 5px !important;
}
.add-worker{
    color: white;
    width: 60px !important;
    padding: 0;
    min-height: 25px;
    margin-top: 5px;
    margin-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btn-commission{
    background-color: white !important;
}
.btn-commission.disabled, .btn-commission[disabled],
.btn-commission fieldset[disabled]{
    background-color: white !important;
}
.modal-footer {
    .created-payroll {
        font-size: 14px;
        line-height: 3;
    }
}
.payment-receipt-modal {
    .print-button {
        margin-top: -29px;
        padding: 2px 7px 0px 9px;
        color: #1f7bb6;
        background-color: #ffffff;
        &:hover {
            color: #ffffff;
            background-color: #238acc;
        }
    }
}

@media print {
    .print-wrapper {
        margin: 25px;
        .modal-header {
            h2 {
                text-align: center;
            }
        }
        .field-type-of-entrance-from {
            display: block;
        }
    }
}
