//profit_losses
.profit-losses-date{
    margin-bottom: 20px; 
}
#profit-losses-date .btn-default, 
a.btn-default:link, 
a.btn-default:visited{
    background-color: white;
    color: black;
}
#profit-losses-date .btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-info {
    background-color: #6767EF !important;
    width: 100%;
    color: white !important;
}
#profit-losses-date {
    .text-info{
        color: black;
    }
}
.remove-expense{
    font-size: 20px;
}
#payment_details_view{
    font-size: 14px;
}
#datatable-profit,
#datatable-expenses{
    margin-top: 20px !important;
}
#datatable-profit_filter, 
#datatable-expenses_filter{
    top: -5px;
}
#datatable-profit_filter input, 
#datatable-expenses_filter input{
    border: 2px solid #e8ebed;
    margin-left: 5px;
}
.button-next-month{
    display: inline-block;
    width: 100%;
}
.button-prev-month{
    display: inline-block;;
    width: 100%;
}

.profit-and-loss-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}