.statistics-main {
  .masonry-grid {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-gap: 1em;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    .masonry-item {
      break-inside: avoid;
      page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      .switchery.switchery-small {
        margin: 0 5px;
      }
      .spinner {
        left: calc(50% - (65px / 2));
      }
    }
  }
  .advanced-info-total {
    font-weight: bold;
  }
  .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    .ibox-title {
      background-color: #fff;
      border-color: #e7eaec;
      border-style: none solid none;
      border-width: 2px 0 0;
      color: inherit;
      margin-bottom: 0;
      padding: 15px 15px 7px;
      min-height: 48px;
      position: relative;
      h5 {
        display: inline-block;
        font-size: 14px;
        margin: 0 0 7px;
        padding: 0;
        text-overflow: ellipsis;
        float: left;
      }
      .ibox-tools {
        display: block;
        float: none;
        margin-top: 0;
        position: relative;
        padding: 0;
        text-align: right;
        a.collapse-link {
          cursor: pointer;
          color: #c4c4c4;
          padding-right: 5px;
        }
      }
      .custom-right-datepicker {
        position: absolute;
        top: 5px;
        right: 15px;
        .panel-heading {
          padding: 0;
        }
        .actions.form-inline {
          display: flex;
          align-items: center;
          justify-content: center;
          .mbtn {
            padding: 10px;
            margin: 0;
          }
        }
      }
      h5 {
        font-size: 0.88em;
      }
    }
    .ibox-content {
      background-color: #fff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-style: solid solid none;
      border-width: 1px 0;
      .table {
        thead tr th {
          border-bottom: none;
          text-align: center;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
        tbody tr td {
          text-align: center;
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
      .no-margins {
        margin: 0 !important;
        font-size: 1.9em;
        font-weight: 100 !important;
        line-height: 1em;
        .small-text {
          font-size: .5em;
        }
      }
      .small-tooltip {
        font-size: 0.7em;
      }
      .stat-percent {
        float: right;
        font-size: 0.81em;
      }
      .font-bold {
        font-weight: 600;
      }
      .text-blue-color {
        color: #1c84c6;
      }
      .text-cyan-color {
        color: #ffa500;
      }
      .text-crimson-color {
        color: #1ab394;
      }
      .text-green-color {
        color: #ed5565;
      }
      canvas[chart-data="vm.lineData"] + ul {
        display: none;
      }
    }
    transition: .3s box-shadow ease-in-out;
    &.material-shadow:hover {
      box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
    }
    .ibox-title.statistic-line-chart-header {
      background: linear-gradient(to left, #ffffff, #1c84c6);
      .statistic-line-chart-title {
        color: #fff;
      }
    }
  }
  #dateFrom + .dropdown-menu, #dateTo + .dropdown-menu {
    width: 280px;
    top: 40px !important;
    right: 125% !important;
  }
  .device-progress {
    height: 5px !important;
  }
  .device-stat {
    font-size: 0.75em;
  }
  .text-bold {
    font-weight: 600 !important;
  }
  .btn-group-xs .label {
    border-radius: 0 !important;
    cursor: pointer;
    &:first-of-type {
      border-top-right-radius: 0.25em !important;
      border-bottom-right-radius: 0.25em !important;
    }
    &:last-of-type {
      border-top-left-radius: 0.25em !important;
      border-bottom-left-radius: 0.25em !important;
    }
  }
  .label-active-bg {
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.48);
  }
  .label-blue-bg {
    background-color: #1c84c6;
    color: #fff;
    font-size: 0.63em;
    font-weight: 500;
  }
  .label-cyan-bg {
    background-color: #ffa500;
    color: #fff;
    font-size: 0.63em;
    font-weight: 500;
  }
  .label-green-bg {
    background-color: #ed5565;
    color: #fff;
    font-size: 0.63em;
    font-weight: 500;
  }
  .label-crimson-bg {
    background-color: #1ab394;
    color: #fff;
    font-size: 0.63em;
    font-weight: 500;
  }
  .bold-small-tooltip {
    font-weight: 600;
  }
  .devider-tooltip {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    margin-top: 1em;
  }
  .row .col-lg-3 .margtop {
    margin-top: 0.3em !important;
  }
  .tc-chart-js-legend {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    li span {
      border-radius: 0px;
      -webkit-border-radius: 0px;
    }
  }
  .conversion-tooltip {
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 1.2em;
    font-size: 1em;
    transition: all 0.5s ease-in-out;
  }
  .conversion-by-steps {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 10;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.5em;
    border-radius: 4px;
    font-size: 0.75em;
    line-height: 1em;
    transition: all 0.5s ease-in-out;
    .by-steps {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  .statistics-conversions {
    position: relative;
    cursor: pointer;
    &:hover {
      .conversion-tooltip, .conversion-by-steps {
        display: block;
      }
    }
  }
  .visibilitynone {
    visibility: hidden;
    opacity: 0;
  }
}

@media all and (max-width: 600px) {
  .statistics-main .tc-chart-js-legend {
    position: static;
    display: block;
  }
}
@media all and (max-width: 1124px) {
  .statistics-main {
    .masonry-grid {
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;
    }
    .advanced-info-total {
      font-weight: bold;
    }
  }
}

.panel {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
