.ifrate {
  margin-right: 20px;
}

.calendar_settings table.rates {
  width: 100%;
}

.lg-td {
  width: 11%;
}

.tooltip-active-settings {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1em;
  border-radius: 4px;
  position: absolute;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -8px;
    left: 25px;
  }
}

.tooltip-setting:hover .tooltip-active-settings {
  display: block;
}
