#receipt-search{
	margin-top: 10px;
	input{
		width: 100% !important;
		line-height: 1.42857143;
		margin-left: 0;
		border-bottom-color: rgb(232, 235, 237);
	    border-bottom-style: solid;
	    border-bottom-width: 2px;
	    cursor: auto;
	}
	select{
		width: 100% !important;
		border: 2px solid #e8ebed;
		margin-left: 0;
	}
	.btn-success{
	    height: 30px;
	    padding-top: 5px;
	    background-color: rgba(39, 182, 175, 0.36);
	    color: #333;
	}
	.ng-hide-add{ 
		animation:0.5s fadeOut ease; 
	}
}
.receipt-search-button{
	float: right;
}