.req-settings-wrapper {
  #compose-wrapper {
    .panel {
      margin: 0;
      box-shadow: none;
    }
  }
  .compose-nav.no-margin {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    li,
    li.active {
      a {
        font-size: 12px;
        padding: 10px 15px;
        &:hover,
        &:focus,
        &:visited {
          border-left: none;
        }
      }
    }
    li.active {
      a {
        border-left: none;
        border-bottom: 2px solid #556B8D;
        margin-left: 0;
      }
    }
  }
}
.request_account_page_wrapper {
  .add_remove {
    float: right;
  }

  .bar-btn-dropdown.dropdown.btn.btn-default {
    padding: 0 !important;
    height: 12px;
    line-height: 1.1;
    .dropdown-menu {
      li {
        .checked-dropdown {
          background: transparent;
          border: none;
          color: #424856;
          font-family: inherit;
          padding: 0 5px !important;
        }
      }
    }
  }

  .custom_btn {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
  }

  .separator {
    margin-bottom: 1em;
  }
  .requestsettings {
    .form-group {
      padding: 0 55px;
      .one-margin {
        margin-bottom: 1em;
      }
    }
    .modal-body {
      .form-group {
        .flexible-box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.5em;
          h4 {
            font-size: 0.938em;
          }
          .control {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            h5 {
              margin-right: 1em;
              font-size: 0.813em;
            }
            .switchery.switchery-small {
              width: 30px;
              height: 15px;
              small {
                width: 15px;
                height: 15px;
              }
            }
          }
          .control-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 1em;
            label {
              margin-right: 1em;
              padding: 0;
            }
          }
        }
        .flex-end {
          justify-content: flex-end;
          h5 {
            margin-right: 1em;
          }
        }
      }
      .fix-button-center {
        position: relative;
        top: 0;
        bottom: 0;
        left: calc(50% - (183.5px / 1.5));
      }
    }
  }
}
