.parklot_timing .row {
  margin: 0 !important;
}
.request-weight {
  width: 27%;
}
.park_lot .dhx_cal_event_wrapper.current {
  z-index: 20;
}
.required-input {
  color: #a94442;
  font-weight: 800;
  font-size: 16px;
  margin-right: 0.2em;
}

.modal-request-responsive-fix .select-extra-rooms input{
  width: 100% !important;
}

@media all and (width: 768px) {
  .modal.fade.requestModal .modal-content {
    width: 85.3%;
    .main-info.box {
      .leftblock {
        width: 73% !important;
      }
      .request-weight {
        width: 27%;
        margin-top: 30px !important;
      }
    }
  }
}

@media all and (max-width: 860px) {
  .general-fix-responsive {
    .subbox {
      width: auto !important;
      margin: 0 10px !important;
      .addr {
        margin: 0 !important;
        .address-block {
          &:first-of-type {
            padding-left: 15px;
          }
          .col-md-2.col-xs-2 {
            margin-left: 0 !important;
          }
          .address-info {
            width: auto;
          }
        }
      }
      .second {
        padding: 0 !important;
        margin: 1em 0 !important;
      }
    }
    .sales {
      height: 265px;
    }
  }
  .main-info.box {
    .leftblock {
      width: auto !important;
    }
    .request-weight {
      padding: 0 !important;
      width: 100%;
      .invoice_box {
        position: static;
        margin-top: 10px;
        margin-right: 25px;
      }
    }
  }
  .choose-dater-response .choose_dater.row {
    width: 105% !important;
    .dateRo.col-md-12 {
      width: auto !important;
      margin-bottom: 0.5em;
    }
    .tRo3 {
      width: 33.333333% !important;
      margin: 0 !important;
      margin-bottom: 0.5em !important;
      .tinputRo {
        border-radius: 0;
      }
      .tinputRo1 {
        border-top-left-radius: 5px;
      }
      .tinputRo3 {
        border-top-right-radius: 5px;
      }
    }
  }
  #schedule {
    .pageheader .schedule-legend-block {
      display: none;
    }
    .calendar-month-cell-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      .cal-events-num.badge {
        margin: 0.5em;
      }
    }
    .cal-day-today span.pull-right {
      opacity: 1;
      font-size: 1.2em;
    }
  }
  .modal-request-responsive-fix {
    .modal-body .step1 .form-group {
      label.control-label {
        margin-left: 10px !important;
        margin-right: 10px !important;
      }
      .col-sm-7 {
        margin: 0 10px !important;
      }
    }
    .address-info.col-sm-9 {
      .col-sm-7, .col-md-5 {
        padding: 0 10px !important;
      }
    }
    .nopadding {
      padding: 0 10px !important;
      margin: 5px 0 !important;
    }
  }

  #header {
    .brand {
      display: none;
    }
    .navbar-right .dropdown .dropdown-menu {
      left: 0 !important;
    }
  }
  .edit-request-main {
    font-size: 0.55em !important;
    .actions i {
      font-size: 1em !important;
    }
    span.client.client-info{
      display: block;
      float: left;
      max-width: 150px;
      overflow: hidden;
      height: 15px;
    }
  }
  .movecalc_edit_form {
    .date_header {
      font-size: 0.65em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      .lotstats, h3, button.btn.btn-update.btn-3d {
        margin: 0;
      }
      h3 .fa-calendar input {
        width: auto;
      }
      a.go-next-day {
        margin-right: 0;
      }
      button.btn.btn-update.btn-3d {
        font-size: 0.85em;
        padding: 4px;
      }
    }
    .parklot_timing .form-item {
      width: 14.2857% !important;
      height: 50px !important;
      padding: 0;
      margin: 0 5px;
      &:first-of-type input {
        width: 65px !important;
      }
      &:nth-of-type(2) {
        width: 35% !important;
      }
      &:nth-of-type(3) {
        width: 26% !important;
      }
      label {
        width: 100% !important;
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }
}

//@media all and (max-width: 1024px) {
//  .requests-main-table {
//    white-space: nowrap;
//    overflow-x: scroll;
//    overflow-y: hidden;
//    -webkit-overflow-scrolling: touch;
//    div {
//      display: inline;
//    }
//  }
//}
