#reviews-moveboard {
	.col-xs-7.review_column {
		padding-right: 0;
	}
	.col-xs-5.review_column {
		padding-left: 0;
	}
	.padding_one_em {
		padding: 1em;
		.chat-widget {
			min-height: 100px;
		}
		.slide-down-panel-review {
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			padding: 15px;
			min-height: 50px;
			transition: all .5s ease-in-out;
			&__black-text {
				cursor: pointer;
				font-size: 1.2em;
				font-weight: 500;
				line-height: 1.1;
				font-family: Montserrat, sans-serif;
				color: #424856;
			}
			.email-review {
				display: none;
			}
			&.open-panel-review {
				min-height: 200px;
				position: relative;
				transition: all .5s ease-in-out;
				h3 {
					margin-bottom: 1em;
				}
				.email-review {
					display: block;
				}
			}
		}
	}
	.tplBuilder.quick-template-preview {
		.modal-footer {
			display: none;
		}
	}
	.review-preview {
		border: 1px solid #7f8c8d;
		margin: 1em;
		padding: 1em;
		h3 {
			text-align: center;
			font-size: 2em;
		}
	}
	.setting_title {
		text-align: center;
		font-size: 1.2em;
		margin: 1em 0;
	}
	.ibox {
		clear: both;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 0;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		.ibox-title {
			background-color: #fff;
			border-color: #e7eaec;
			border-style: none solid none;
			border-width: 2px 0 0;
			color: inherit;
			margin-bottom: 0;
			padding: 15px 15px 7px;
			min-height: 48px;
			height: 60px;
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			h3 {
				display: inline-block;
				font-size: 18px;
				margin: 0 0 7px;
				padding: 0;
				text-overflow: ellipsis;
				float: left;
			}
		}
		.ibox-content {
			background-color: #fff;
			color: inherit;
			padding: 15px 20px 20px 20px;
			border-color: #e7eaec;
			border-style: solid solid none;
			border-width: 1px 0;
			.add-review {
				font-size: 16px;
			}
			.review {
				margin-bottom: 1em;
				padding-bottom: .5em;
				border-bottom: 1px solid #e7eaec;
			}
			.review-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 20px;
				margin-bottom: 1em;
				h5.open-request {
					cursor: pointer;
				}
			}
			.review-body {
				.review-text-body {
					span {
						color: #f39c12;
					}
					.star-color_red {
						color: #e74c3c;
					}
					span.review-date {
						margin-left: 1em;
						color: rgba(86, 86, 86, 1);
					}
					span.review-name {
						color: rgba(86, 86, 86, 1);
					}
				}
				word-break: break-word;
				margin-bottom: .5em;
				.middle-mark_blue {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					span.blue-text {
						font-size: 4em;
						color: rgba(41, 128, 185, 1);
					}
					.star-marks {
						display: inherit;
						color: rgba(41, 128, 185, 1);
						span {
							font-size: 1em;
							margin-right: .3em;
						}
					}
					p.explanation {
						font-size: 1em;
						margin-top: 1em;
					}
				}
			}
			.review-footer {
				height: 25px;
				.btn.btn-success {
					padding: 0;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					text-align: center;
					vertical-align: middle;
				}
				span {
					font-size: .75em;
					float: right;
				}
			}
		}
		.greatest-reviews {
			.review-text-body {
				margin-bottom: .5em;
			}
		}
	}
	.review_column {
		.ibox {
			transition: box-shadow .3s ease-in-out;
			&:hover {
				box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
			}
		}
		&:first-of-type {
			.ibox {
				margin-left: 15px;
				h3 {
					span {
						display: inline-block;
						margin: 0 .3em;
						cursor: pointer;
					}
					span.border-none {
						.form-control.display-inline-block {
							border: none;
						}
					}
				}
			}
		}
		&:last-of-type {
			.ibox {
				margin-right: 15px;
			}
		}
	}
	.stars {
		text-align: center;
		margin-bottom: 1em;
		&__explanation-of-settings {
			font-size: 1.2em;
			margin: .5em 0;
			font-weight: 500;
			line-height: 1.1;
			font-family: Montserrat, sans-serif;
			color: #424856;
		}
		.star_setting {
			font-size: 3em;
			color: #f1c40f;
			margin-right: .2em;
			cursor: pointer;
			&.fa-star {
				text-shadow: 1px 2px 10px #f1c40f;
			}
		}
		.star_setting_negative {
			font-size: 3em;
			color: #e74c3c;
			margin-right: .2em;
			cursor: pointer;
			&.fa-star {
				text-shadow: 1px 2px 10px #e74c3c;
			}
		}
	}
	.days-to-reminder {
		padding: 1em;
		padding-right: 2em;
		min-height: 69px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		h3 {
			padding-bottom: .5em;
		}
		h3.title-start {
			width: 9em;
		}
		input {
			margin-left: 1em;
			margin-right: 1em;
		}
	}
	.check-autosend {
		padding: 1em;
		padding-left: 2em;
		min-height: 69px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		h3 {
			padding-bottom: .5em;
		}
		.switchery.switchery-small {
			margin-bottom: 6px;
			margin-left: 1em;
		}
	}
	.show-review-btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 1em 2em;
		select.form-control.form-select {
			margin-left: 1em;
		}
	}
}
