//settings_valuation
.valuation-header{
  color: #e25d5d;
  th.fuel-header {
    border: .1px solid white;
  }
}
.valuation-perc input{
  padding: 2px 0 2px 10px;
}
#valuation table{
  font-size: 14px;
}
.add-valuation i{
  padding-right: 0px;
}
#valuation .saving-progress{
  position: absolute;
  top: 10px;
  right: 40px;
  font-weight: bold;
  color: #e25d5d;
}
#valuation .form-control{
  /*width: inherit;*/
}
.valuation-remove{
  cursor: pointer;
  font-size: 20px;
}
#valuation .btn-toolbar .btn-group button{
  font-size: 14px;
}
.valuation-editor{
  margin-top: 20px;
}
#valuation #taTextElement{
  min-height: 200px;
}
.settings-valuation-thead{
  display: inline-block;
  max-width: calc(100% - 50px);
  color: #e25d5d;
  color: #e25d5d;
  /*border-bottom: 1px solid #c4c4c4;*/
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 0;
}
.settings-valuation-thead input{
  display: inline-block;
  /*min-width: 90%;*/
  color: #e25d5d;
  border-bottom: 1px solid #c4c4c4;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 0;
}
.settings-valuation-thead input:focus{
  border-bottom-color: #e25d5d !important;
}
.remove-column{
  /*display: inline-block; */
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin-top: 10px;
}
.remove-column>i{
  font-size: 20px;
  margin-top: 8px;
}