.settings_account_page_wrapper {
  .blocks-updating {
    opacity: .5;
    pointer-events: none;
  }
  .empty_custom {
    font-size: 1.5em;
    text-align: center;
  }
  .general-block_border_bottom {
    border-bottom: 1px solid #dce0e6;
    td {
      padding-bottom: 2em;
    }
  }
  .custom-block_general {
    background-color: #556B8D !important;
    .saving-progress {
      color: rgb(244, 244, 244);
    }
    h5 {
      color: #fff;
    }
  }
  .active_tab_status {
    display: none;
  }
  .margin-one {
    margin: .5em 0;
  }
  .float-left {
    float: right;
    margin-top: 1em;
  }
  .show_custom_block {
    margin-top: .5em;
  }
  .flexible-box-custom-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1em;
    &:nth-child(2) {
      margin-right: 1em;
    }
    .btn {
      width: 140px;
    }
    .btn-right-one-em {
      margin-right: 1em;
    }
    h3 {
      margin-right: 1em;
    }
    .fa {
      padding-right: 0;
    }
  }
  .parent_flex {
    display: flex;
    flex-direction: row-reverse;
  }
  .parent_left {
    width: 60%;
    float: left;
    padding-top: 10px;
    .settings_left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1em;
      .show-account-settings-name {
        margin-right: 1em;
        font-weight: 700;
      }
      .fa-check {
        color: rgba(39, 182, 175, 1);
      }
      .fa-times {
        color: rgba(231, 76, 60, 1);
      }
    }
    .settings_float_wrapper {
      width: 33%;
      float: left;
    }
  }
}

.cusermodal-custom_block {
  padding: 0;
  .acc_title {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #f1f1f1;
    margin-bottom: 1em;
  }
  .container_custom_block {
    width: 100%;
    height: 400px;
    h5 {
      font-size: 1em;
      margin-bottom: .5em;
    }
  }
  .modal-footer {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #f1f1f1;
    margin-top: 1em;
  }
  .flexible-general {
    display: flex;
    margin: 1em 0;
    h3 {
      margin-left: 1em;
    }
  }
}

.greeting-show-period-modal-window {
	padding: 0;
	.acc_title {
		display: block;
		width: 100%;
		text-align: center;
		padding: 15px;
		background-color: #f1f1f1;
		margin-bottom: 1em;
	}
	.container_custom_block {
		width: 100%;
		height: 120px;
		padding-left: 20px;
			h5 {
				font-size: 1em;
				margin-bottom: .5em;
			}
	}
	.modal-footer {
		display: block;
		width: 100%;
		padding: 15px;
		background-color: #f1f1f1;
		margin-top: 1em;
	}
	.flexible-general {
		display: flex;
		margin: 1em 0;
			h3 {
				margin-left: 1em;
			}
	}
	.radio-button-element{
		margin: 5px;
			span{
				margin-left: 5px;
			}
	}
	.period-value{
		width: 50px;
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
