.flag-remove{
	cursor: pointer;
	font-size: 20px;
}
.flag-delete{
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
	margin-top: 5px;
    margin-left: 20px;
}
#company-flag .saving-progress{
	right: 40px;
}
.drag-flags{
	font-size: 16px;
    margin-top: 10px;
    cursor: move;
}