slide-panel {
  position: fixed;
  top: 60px;
  height: 100vh;
  width: 440px;
  background-color: #fefefe;
  box-shadow: -1px 5px 5px -1px;
  z-index: 200;
  .slide-panel-header {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    .header-title {
      color: #000;
      font-family: Roboto, sans-serif;
      margin-left: 10px;
    }
    .header-controls {
      font-size: 20px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      .control-item {
        margin: 0 10px;
        padding: 2px 5px 0 0;
        svg{
          fill: #007bc3;
        }
      }
    }
  }
}

.slide-panel-invoker {
  padding: 19px 0px 9px 6px;
  cursor: pointer;
  &:hover {
    background-color: #eee;
  }
  reminders-count {
    sup {
      position: absolute;
      top: 6px;
      left: 20px;
      width: 20px;
      color: #007bc3;
      font-weight: 600;
      display: flex;
      justify-content: center;
      line-height: 20px;
    }
  }
}

.controlls {
  .btn-default {
    background-color: white;
    color: darkblue;
  }
}

.calendar {
  border: 2px solid #e8ebed;
}
