.messagenotify {
  position: absolute;
  display: block;
  float: right;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  border: 2px solid #FFF;
  width: 18px;
  line-height: 14px;
  text-align: center;
  height: 18px;
  background: #E93B19;
  color: white !important;
  font-size: 9px;
}

.inventory_filled {
  color: #4198DB !important;
  font-weight: 600;
}

.according {
  i.fa.fa-chevron-right {
    margin-left: 15px;
    font-size: 12px;
  }
  i.pull-right.fa.fa-chevron-down {
    font-size: 12px;
  }
}

.switchery-calc {
  border-radius: 15px;
  height: 15px;
  width: 30px;
  border: none !important;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: inherit;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
  small {
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
  }
}

.switchery-calc.on {
  border-color: rgb(39, 182, 175);
  box-shadow: rgb(39, 182, 175) 0px 0px 0px 10px inset;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: rgb(39, 182, 175);
  small {
    left: 15px;
    transition: left 0.2s;
    background-color: rgb(255, 255, 255);
  }
}

.switchery-calc.off {
  box-shadow: rgb(179, 184, 195) 0px 0px 0px 0px inset;
  border-color: rgb(179, 184, 195);
  transition: border 0.4s, box-shadow 0.4s;
  background-color: rgb(179, 184, 195);
  small {
    left: 0px;
    transition: left 0.2s;
    background-color: rgb(255, 255, 255);
  }
}

.actions .icon-calculator {
  cursor: inherit;
  color: #046FC1;
  opacity: 1 !important;
  font-size: 13px;
  text-shadow: 0 1px 0 #fff;
  margin: 0 10px;
  span {
    font-family: Roboto;
    /* font-weight: 600; */
    font-size: 14px;
  }
}

.work.time-window {
  width: 145px !important;
}

.form-item-movers-crew {
  width: 75px !important;
}

.time-window {
  width: 175px !important;
  margin-left: 10px;
  .arrival-tooltip{
    top: 10px;
    left: 15px;
    color: #3498db !important;
  }
  label {
    width: 100%;
    text-align: center;
  }
  #edit-start-time {
    width: 60px;
  }
  #edit-start-time2 {
    margin-left: 0px;
  }
  .noleft {
    margin-left: 0px !important;
  }
}

.request-top-nav {
  .dropdown-toggle {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    padding: 10px;
    cursor: pointer;
  }
  img.draft-request {
    position: absolute;
    top: 2px;
    right: 0;
  }
}

span.delete_icon {
  float: right;
  margin-right: 5px;
  margin-top: -10px;
  color: gray;
  cursor: pointer;
}

.requestsettings {
  .form-group {
    padding: 5px;
    padding-left: 55px;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 30px;
    &.branching-group {
      display: none;
      padding-bottom: 50px;
      h3 {
        padding-bottom: 10px;
      }
    }
  }
  .text-center {
    text-align: center;
  }
  .additional-btn {
    margin-top: 10px;
  }
  .main-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    .link-color {
      font-size: 18px;
    }
    .link-bol-hidden {
      opacity: 0;
    }
  }
}

//Date Range Datetipcker

.dateRange .hasDatepicker {
  z-index: 100;
  position: inherit !important;
  .ui-datepicker {
    background-color: white;
  }
  a {
    color: #777171;
  }
  .ui-datepicker .ui-datepicker-next {
    right: 15px;
  }
}

.form-delivery-window {
  width: 175px !important;

  .dateRange {
    .hasDatepicker {
      .ui-datepicker {
        position: fixed;
        z-index: 1000 !important;
      }
    }
  }
}

.address-block {
  input#edit-moving-from-apt {
    width: 18%;
  }
  .icon-plus {
    margin-left: -10px;
    font-size: 12px;
    cursor: pointer;
  }
  h4 {
    font-size: 12px;
    margin-top: 5px;
    color: #429EE5;
  }
  .form-item {
    span {
      font-size: 13px;
      font-weight: bold;
    }
  }
}

.storage_btn {
  padding: 5px 15px;
  padding-left: 10px;
  border-radius: 0px;
  margin-top: 4px;
  line-height: 22px;
  border-color: #7AB7E6;
  border-bottom-color: #82C6FB;
  background-color: #7AB7E6;
  color: white;
}

.form-item-storage {
  margin-top: 30px;
  margin-right: 30px;
  margin-left: -15px;
}

.modal-header.gray {
  background-color: #F0F0F0;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
}

button.btn.btn-update.btn-3d {
  float: right;
  margin-top: -58px;
  font-size: 12px;
  padding: 5px;
}

div#movecalc-admin-compact-form {
  input, select {
    outline: none;
  }
}

.ra {
  border-bottom: 1px solid #c4c4c4;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #fff;
  color: #565a5c;
  /* line-height: 9px; */
  padding-bottom: 5px;
  padding-top: 4px;
  font-family: 'Open sans';
  font-size: 12px;
  font-weight: 600;
  box-shadow: none;
}

.parklot_timing {
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid #CCCCCC;
  &.flexible-displaying-timing-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1em;
  }
  .trucks {
    margin-left: 35px;
    /* font-weight: bold; */
  }
  .col-md-1.form-item {
    padding: 0px;
    width: 11%;
    &.truck-item {
      width: 7%;
    }

    i.minimum-price-is-enabled-icon {
      position: static;
      display: initial;
      color: #c0392b;
    }
    span.minimum-price-cost {
      position: absolute;
      font-size: .7em;
      top: 90%;
      right: 20px;
      color: #c0392b;
      font-style: italic;
    }
  }
  .double-travel-time {
    label {
      text-align: center;
      margin-top: -5px;
    }
  }
  .field-prefix span, i {
    display: table-cell;
    position: absolute;
    color: #989898;
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    padding-top: 5px;
    line-height: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 4px;
    border-right: none;
    &.fa-times.clear-sec-delivery {
      top: 50%;
      right: 4px;
      cursor: pointer;
    }
  }
  .overriding {
    border-bottom-color: #FF224F !important;
  }
  input {
    border-bottom: 1px solid #c4c4c4;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #fff;
    color: #565a5c;
    /* line-height: 9px; */
    padding-bottom: 5px;
    padding-top: 4px;
    font-family: 'Open sans';
    font-size: 12px;
    font-weight: 600;
    box-shadow: none;
    width: 100%;
  }
  input.md {
    width: 65px;
    margin-left: 30px;
    padding-left: 5px;
    /* text-align: center; */
    &.has-error {
      border-bottom: 1px solid #f10707 !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      &:active, &:focus {
        border-bottom: 1px solid #f10707 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
    }
  }
  input.small {
    width: 45px;
  }
  label {
    color: #737373;
    line-height: 12px;
    font-weight: 400;
    font-family: "Open sans";
    font-size: 10px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-top: 0px;
  }
  input#edit-movers-crew {
    width: 30px !important;
    margin: 0px;
    margin-left: 25px;
    text-align: center;
    padding-left: 0px;
  }
  input#edit-est-price {
    margin-left: 0px;
    width: 100px;
    /* text-align: center; */
  }
  .form-item-Move-Date input {
    margin-left: 0px;
    padding: 0px;
    height: 28px;
    width: 120px;
  }
  .second-flat-rate-date {
    width: 15% !important;
  }
  .delivery-flat-rate-time {
    width: 12% !important;
  }
  a {
    &.request-to-sit {
      color: #565656;
      margin-top: -5px;
      display: inline-block;
      background: white;
      border: 1px solid #D0CECE;
      font-size: 14px;
      padding: 7px 15px;
      float: right;
      cursor: pointer;
      margin-left: 25px;
      min-width: 130px;
      text-align: center;
      &:hover {
        background: #EFEFEF;
      }
    }
  }
}

.general.col-md-12 {
  padding: 0px;
  background-color: #F0F0F0;
  .subbox {
    padding: 0px;

  }
  .addr {
    padding: 10px 0px 10px;
    margin: 10px 15px 10px;
    padding-bottom: 0px;
    background-color: white;
    border: 1px solid #D0CECE;
    .col-md-6, .col-md-12 {
      padding: 0px;
    }
    .col-md-2 {
      padding: 0px;
      width: 35px;
      margin-left: 10px;
    }
    i {
      padding-right: 0px !important;
    }
  }
  .packing-request {
    cursor: pointer;
    text-decoration: underline;
    i.fa.fa-cubes,
    i.fa.fa-times {
      padding: 12px !important;
    }
  }
  .subbox.col-md-3 {
    background-color: white;
    width: 27%;
    margin-left: 25px;
    margin-top: 10px;
    border: 1px solid #D0CECE;
    margin-bottom: 15px;
  }
  .subbox.col-md-8 {
    width: 68%;
  }

}

.main-info.box {
  background: #f0f0f0;
  /* padding-bottom: 20px; */
  padding: 0px 0px 20px 0px;
  label {
    color: #848484;
    line-height: 24px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin: 0px;
    padding-left: 5px !important;
  }
  input, select {
    border: 1px solid #c4c4c4;
    background-color: #fff;
    color: #565a5c;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Open sans';
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  .form-item-Move-Date {
    padding: 0px;
    width: 20%;
    input {
      padding: 16px;
      margin: 0px;
    }
  }
  .second-flat-rate-date {
    width: 15%;
  }
  .delivery-flat-rate-time {
    width: 12%;
  }
  .form-item-Size-Move {
    padding: 0px;
    width: 30%;
    select {
      width: 95%;
    }

    .has-error {
      border: 1px solid #f10707 !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      &:active, &:focus {
        border: 1px solid #f10707 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
    }
  }
  .form-item.form-type-select.form-item-Service.col-md-3 {
    padding: 0px;
    width: 24%;
  }
  .col-md-9.leftblock {
    width: 73%;
    .form-item {
      select {
        width: 100%;
      }
    }
    .form-item-Service {
      padding-left: 0;
    }
    .form-item-Size-Move {
      width: 29%;
    }
  }
  .show-quote-icon {
    position: absolute;
    left: 60px;
    top: 7px;
    font-size: 16px;
    width: 16px;
    .fa {
      margin-top: 5px;
      &:hover {
        color: grey;
        cursor: pointer;
      }
      &.fa-eye {
        color: lighten(#6fb86f, 10%);
        &:hover {
          color: #6fb86f;
        }
      }
    }
  }
  .driving_time {
    position: absolute;
    left: 100px;
    top: 8px;
    width: 16px;
  }
}

.addr {
  padding: 20px 0px 0px;
  .col-md-2 h2 {
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-right: 5px;
  }
  h4 {
    display: inline-block;
  }
  .icon-ban {
    font-size: 10px;
    cursor: pointer;
  }
  .address-info {
    padding: 0px;
  }
  .address, .main, .address-info {
    input#edit-moving-from, .address-info input#edit-moving-to {
      float: left;
      margin-right: 15px;
      width: 75%;
    }
    input, select {
      @extend .ra;
    }
  }
  .form-item-moving-from {
    input.required {
      float: left;
      margin-right: 15px;
      width: 75%;
    }
  }
  select.zip {
    width: 22%;
  }
  select.state {
    width: 20%;
    line-height: 8px;
    padding: 0.3em;
  }
  input.city {
    font-weight: bold;
    float: left;
    width: 53%;
    margin-right: 10px;
  }
  .form-item-Furnished-Rooms {
    padding: 10px 0px 0px;
    .chosen-container {
      margin-left: 10px;
      width: 575px;
      border: none;
    }
    .chosen-container-multi .chosen-choices {
      border: none;
      border-bottom: 1px solid #C7C7C7;
      background-color: #fff;
      background-image: none !important;
    }
    .chosen-container.chosen-with-drop .chosen-drop {
      left: 0;
      top: -205px;
    }
  }
  .form-item.distance {
    border-top: 1px solid #CECECE;
    background: #E9E9E9;
    padding-bottom: 5px;
    margin-top: 15px;
    .md {
      margin-left: 20px;
    }
    span.map {
      margin-left: 20px;
      color: #5196F0;
      cursor: pointer;
    }
    span {
      font-size: 13px;
      font-weight: bold;
    }
  }
  .moving-storage-addr {
    .status-ms {
      font-family: 'Open sans';
      font-size: 12px;
      font-weight: 600;
      margin-top: -17px;
      &.without-title {
        margin-top: -5px;
      }
    }
    .move-date-ms {
      font-family: 'Open sans';
      font-size: 12px;
      font-weight: 600;
      margin-bottom: -17px;
    }
    .monthly-rate-ms {
      margin-bottom: 0;
      margin-top: 19px;
    }
    &.no-group-request {
      opacity: 0.5;
    }
    .storage-price-info {
      font-size: .75em;
      font-weight: 600;
    }
  }
  .address-block {
    .has-error {
      border-bottom: 1px solid #f10707 !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      &:active, &:focus {
        border-bottom: 1px solid #f10707 !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
    }
    h2 {
      &.map-mark {
        cursor: pointer;
      }
    }
  }
  i {
    &.moving-storage-edit-icon {
      font-size: 12px;
      position: absolute;
      margin-left: -6px;
      &.icon-pencil {
        top: 0;
        left: 95%;
        margin-left: -6px;
        cursor: pointer;
        &:hover {
          color: #999;
        }
      }
    }
  }
  .moving-storage-swap-box {
    position: absolute;
    left: 100%;
    margin-left: -8px;
    margin-top: -8px;
    top: 50%;
    width: 16px;
    cursor: pointer;
    z-index: 3;
    i {
      &.fa {
        float: left;
        height: 8px;
      }
    }
    &:hover {
      color: #999;
    }
    &.swap-box-left {
      left: 2%;
    }
  }
  .storage-request{
    padding-right: 15px;
    padding-top: 10px;
    text-decoration: underline;
    &:hover{
      cursor: pointer;
      color: #3131F4;
    }
  }
}

.panel-body.second.according {
  background-color: #F0F0F0;
  border-top: 1px solid #CFCFCF;
}

.sales {
  padding: 10px !important;
  .form-item {
    border-bottom: 1px solid whitesmoke;
    line-height: 14px;
  }
  label {
    font-size: 12px;
    padding: 0px;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: normal;
    color: #A6A5A5;
    padding: 0px !important;
    /* font-family: "Roboto" !important; */
    /* float: left; */
  }
  .md {
    float: right;
    width: 102px;
    border: none;
    text-align: right;
    font-weight: 600;
    color: #565A5C;
    font-size: 12px;
    /* line-height: 7px; */
  }
  .mdquote {
    float: right;
    width: 124px;
    border: none;
    text-align: right;
    font-weight: 600;
    color: #565A5C;
    font-size: 12px;
    /* line-height: 7px; */
  }
  #reserv_price {
    width: 50px;
  }
}

.date_header {
  .fa-calendar {
    img {
      opacity: 0;
      display: none;
    }
  }
  a {
    i {
      background: white;
      color: #424856;
    }
    &.go-next-day {
      margin-right: 3px;
    }
  }
  h3 {
    float: left;
    margin-top: -10px;
    margin-left: 110px;
  }
}

#facalendar {
  .ui-datepicker td {
    border: 0;
    padding: 1px;
    line-height: 25px;
  }
  .ui-datepicker .ui-datepicker-next {
    right: 15px;
  }
  .ui-datepicker {
    margin-left: -120px;
    z-index: 100;
    background-color: white;
    width: 465px;
  }
}

.box_info {
  background: white;
  position: absolute;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 340px;
  left: -340px;
  .field-type-of-entrance-from {
    font-size: 12px;
    font-family: Open Sans;
    line-height: 18px;
    color: #616161;
    letter-spacing: 0px;
    padding: 0px 10px 0px 10px;
  }
  span.stitle {
    width: 100px;
    display: inline-block;
    color: #565a5c;
  }
  span.delete_icon.flaticon-delete85 {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -5px;
  }
  .address_box {
    padding: 10px 0px;
    background: #e9e9e9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .btnbox {
    text-align: center;
    padding: 15px;
    .btn {
      margin: 0 auto;
      text-align: center;
      /* width: 100%; */
      background: #F6C655;
      color: white !important;
      padding: 5px;
      font-size: 12px;
      border-radius: 0px;
      &:hover {
        background: #FFC743;
      }
    }
  }
}

.form-item.form-type-select.form-item-Furnished-Rooms {
  margin-left: 30px;
  div#edit_furnished_rooms_chosen {
    width: 89% !important;
  }
}

#edit_furnished_rooms_invoice_chosen {
  width: 89% !important;
}

.box_info.right:before {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: right;
  transition-property: right;
  top: 35px;
  left: -10px !important;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  right: inherit !important;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #FFFFFF;
}

.box_info:before {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: right;
  transition-property: right;
  top: 35px;
  right: -10px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #FFFFFF;
}

.overlist {
  border-bottom: 2px solid transparent;
  list-style: none;
  float: left;
  display: inline-block;
  padding: 5px 20px;
  color: white;
  background: #83BFED;
  margin-right: 5px;
  margin-left: 10px;
  font-size: 11px;
  line-height: 10px;
  cursor: pointer;
}

.overlist.current {
  border-bottom: 2px solid #F6C655;
}

.request-weight {
  padding-top: 40px;
  padding-left: 0;
  font-size: 18px;
  i {
    display: inline-block;
  }
  .weight {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    span {
      font-size: 12px;
    }
  }
  span.tip {
    font-size: 10px;
    i {
      margin-right: 5px;
    }
    margin-left: 10px;
    padding-top: -10px;
    position: absolute;
  }
  span.tip.overriding {
    color: #FF224F;
    cursor: pointer;
  }
  i.fa.fa-cubes {
    padding: 15px;
    font-size: 25px;
    float: left;
  }
  .weight-line {
    border-top: 2px solid #565656;
  }
  i.flaticon-livingroom8:before {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 35px;
    float: left;
    padding-top: 0px;
  }
  i.flaticon-draw24:before {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 35px;
    float: left;
    padding-top: 0px;
    font-weight: bold;
  }
}

button.from-storage {
  padding: 5px;
}
span.inventoryfill.inventoryfill_left img {
  width: 15px;
  height: 15px;
  position: relative;
  top: 15px;
}
.inventoryfill {
  color: #4198DB;
  /* line-height: 20px; */
  position: absolute;
  right: 0px;
  font-size: 10px;
  top: 5px;
  font-family: Roboto;
  z-index: 1000;
  padding: 0px;
  line-height: 0px;
  .fa {
    font-size: 8px;
    margin-right: 2px;
  }
}

input.overriding {
  border-bottom-color: #4198DB !important;
}

.footer.dialog {
  background-color: #FFF9F9;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid #DEDEDE;
}

.release_button {
  color: white;
  background: #FD7E7E;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: normal;
  &:hover {
    background: #FF5757;
  }
}

.source_box span {
  .icon-pencil:before {
    content: "\e05f";
    font-size: 10px;
    margin-left: 10px;
    color: #9E9A9A;
  }
}

.coloryStyle {
  .blue {
    -webkit-box-shadow: 0px 2px 0px #4198DB;
    -moz-box-shadow: 0px 2px 0px #4198DB;
    box-shadow: 0px 2px 0px #4198DB;
    background-color: #4CAEF9;
  }
  .red {
    -webkit-box-shadow: 0px 2px 0px #4198DB;
    -moz-box-shadow: 0px 2px 0px #4198DB;
    box-shadow: 0px 2px 0px #E04E59;
    background-color: #F35E66;
  }
  .colbtn {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 1px;
    color: white;
  }
  .surcharge_fuel {
    .colbtn {
      width: 97px;
    }
    .amount {
      width: 92px !important;
    }
  }
  .surcharge_fuel {
    .colbtn {
      width: 65px;
    }
    .amount {
      width: 124px !important;
    }
  }
}
