.sorting-container {
	display: inline;
	position: relative;
	margin-left: 8px;

	.sorting {
		position: absolute;
		fill: #cdd0d6;
		vertical-align: text-bottom;
	}

	.desc-arrow {
		top: 1px;
		left: 7px;
	}

	.pick-up-sorting {
		fill: #757575;
	}
}
