.statistics-main {
  #main-wrapper {
    min-height: 550px;
  }
  .adminpanel .panel-heading .form-control {
    width: 86px;
  }
  .choose_dater .form-control {
    text-transform: UPPERCASE;
    background-image: none;
    width: 85px;
  }
  #dateFrom + .dropdown-menu {
    top: 38px !important;
    left: -165px !important;
  }
  #dateTo + .dropdown-menu {
    top: 38px !important;
    left: -35px !important;
  }
  .dropdown-menu:focus {
    outline: 0;
  }
  .mbtn {
    font-family: Roboto, sans-serif;
    text-transform: UPPERCASE;
    background-color: none !important;
    color: #3350FA;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
    background: none;
    border: none !important;
    padding: 2px 5px 10px;
    outline: 0 !important;
    margin-top: 4px;
  }

  .line-chart {
    max-height: 320px;
    height: auto;
    position: relative;

    &.busy {
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
    }
  }

  .busyoverlay {
    position: relative;
    width: 100%;
    z-index: 10;
    top: 43px !important;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin-top: 12.5%;
  margin-left: calc(50% - 20px) !important;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #4D93FF;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.gray-box {
  background: #E3E3E3;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #C4C4C4;
  margin-top: 10px;
}