$red: #F77D7D;

.status_12, .status_6, .status_5 { //Expired , DAY not AVAILABLE
  .modal-content {
    border: solid 10px rgba(247, 125, 125, 0.6);
  }
}

.status_3 { //Comfirmed
  .modal-content {
    border: solid 10px rgba(19, 199, 19, 0.42);
  }
}

.status_7 { //Expired , DAY not AVAILABLE
  .modal-content {
    border: solid 10px #FBB130;
  }
}

.status_2 {
  .modal-content {
    border: solid 10px #87C4F3;
  }
}

.status_1 {

  .modal-content {
    border: solid 10px rgba(255, 165, 0, 0.45);
  }

}

.request, .label {

  span.status_1, .status_10 { // Pedning
    background-color: #FBB130;
  }
  .status_2, span.status.status_2, span.status.status_11 { // Not CONFIRMED
    background-color: #4B94D2;
  }
  .status_12, .status_6, .status_5 { //Expired , DAY not AVAILABLE
    background-color: $red;
  }
  .status_16, .status_3, .status_7, .status_4, .status_17 {
    background-color: orange;
  }
  .trip-status_3 {
    background-color: #13C713;
  }
  .trip-status_4 {
    background-color: rgba(66, 165, 245, 1);
  }
  span.status_3 { // CONFIRMED
    background-color: #13C713;
  }

  .status_15, .status_9, .status_13, .status_14, .status_18, .status_21, .status_22{ // Not Submitted, Flat Rate, GRAY COLOR
    background-color: #7E8D9A;
  }

}

small.cal-events-num.badge.status_1.badge-important.pull-left {
  background-color: #13C713;
}

small.cal-events-num.status_2.badge.badge-important.pull-left {
  background-color: #4B94D2;
}