#storage-request {
  #ledger {
    .quick-send-email {
      display: inline-block;
      position: relative;
      .spinner {
        margin-top: -13.5px;
        margin-left: -9.5px;
      }
    }
  }
}

.add-info-client {
  margin-top: 10px !important;
  input:disabled {
    cursor: auto;
  }
}
