#storage_invoices {
  .panel-title {
    font-size: inherit;
  }
  .panel-footer {
    min-height: 70px;
  }
  .storage-invoices_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .invoices-controls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 50%;
      h3 {
        margin-right: .5em;
        color: rgb(118, 118, 118);
      }
      select.form-control {
        width: 20%;
        padding: 0;
        border: none;
        line-height: 18.7088px;
      }
    }
  }
  .mdDataTable {
    thead {
      tr {
        th {
          padding: 15px;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 15px;
          span.status {
            border-radius: 3px;
            color: #fff;
            &.draft {
              background-color: #f1c40f;
            }
            &.sent {
              background-color: #9b59b6;
            }
            &.viewed {
              background-color: #3498db;
            }
            &.paid {
              background-color: #27ae60;
            }
            &.autopaid {
              background-color: #16a085;
            }
            &.failed {
              background-color: #e74c3c;
            }
          }
        }
      }

    }
  }
}