.changelogContent{
   h1{
     padding-bottom: 15px;
     padding-top: 10px;
   }
  h3 {
    padding-bottom: 15px;
  }
  ul.features {
    border: none;
    margin: 0px;
    list-style-type: inherit;
    padding: 5px 18px 0;
  }

  .features.bugs {
    margin-bottom: 30px;
  }

  .features-link {
    padding-bottom: 10px;
  }

  ul.features li {
    padding: 0px;
    margin: 0px;
    list-style: initial;
    min-height: 2px !important;
    line-height: 20px;
    padding-bottom: 10px;
  }

  .fa-bug {
    font-size:10px;
    margin-right: 10px;
  }

  .icon-energy {
    font-size:10px;
    margin-right: 10px;
  }
}