.small {
  #datatable_filter, #datatable_info, #datatable_paginate, .panel-heading {
    display: none;
  }
}

.choose_dater {
  .form-control {
    text-transform: UPPERCASE;
    background-image: none;
    width: 85px !important;
    text-aling: center;
  }

  .active .text-info {
    color: white;
  }

  .mbtn {
    font-family: Roboto, sans-serif;
    text-transform: UPPERCASE;
    font-weight: 400;
    background-color: initial !important;
    color: #3350FA;
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
    background: none;
    border: none !important;
    padding: 5px 10px;
    outline: 0 !important;
    margin-top: 4px;

    &:hover {
      text-decoration: underline;
      background-color: initial !important;
    }

  }

  .dropdown-menu {
    outline: 0 !important;
  }
}

.adminpanel .panel-heading {
  font-family: Roboto, sans-serif;

  .status, .choose_dater {
    display: inline-block;
    width: 100%;
  }

  h3.panel-title.status {
    font-family: Roboto, sans-serif;
  }

  .form-control {
    border: 0;
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d2d2d2, #d2d2d2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 0px;
    line-height: 11px;
    height: 35px;
    display: inline-block;
    width: 115px;
    margin-left: 10px;
    cursor: pointer;
  }

  .floating-label {
    display: inline-block;
    font-size: 13px;
  }

  .status {
    color: rgb(118, 118, 118);
  }

  .btn {
    background-color: white;
    color: black;
  }

  tbody .btn {
    padding: 0.4rem 0.5rem 0.5rem 0.6rem;
    line-height: 16px;

    &:hover {
      background-color: #6767EF;
      width: 100%;
      color: white !important;
    }
  }

  tbody .btn.active {
    background-color: #6767EF;
    width: 100%;
    color: white !important;
  }

  button.btn.btn-info.pull-right {
    font-family: Roboto, sans-serif;
    text-transform: UPPERCASE;
    font-weight: 400;
    background-color: #337AB7;
    color: white;
    margin-left: 10px;

    &:hover {
      background-color: #679BC7;
    }
  }
}

.dataTable {
  span {
    position: static;
  }
  .btn-group, .dropdown {
    position: static;
    &.open {
      position: relative;
    }
  }
}

.status {
  position: inherit;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.26)
}

td.title {
  text-transform: CAPITALIZE;
  font-weight: bold;
  color: black;
}

$red: #F77D7D;

.status_12, .status_6, .status_5 { //Expired , DAY not AVAILABLE
  .modal-content {
    border: solid 10px rgba(247, 125, 125, 0.6);
  }
}

div {
  .request-lead-score {
    font-weight: 700;
    font-size: 11px;
    padding-top: 9px;
    width: 26px;
    line-height: 9px;
    height: 26px;
    text-align: center;
    background-color: rgba(0, 158, 255, .6);
    border-radius: 50%;
    color: #fefefe;
    right: 0;
    top: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16), 0 1px 3px 0 rgba(0, 0, 0, .26);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .for-request-modal {
    text-transform: none;
  }
  .hot {
    background-color: rgba(255, 2, 16, 0.6) !important;
  }
  .warm {
    background-color: rgba(255, 111, 2, 0.6) !important;
  }
  .cold {
    background-color: rgba(0, 158, 255, 0.6) !important;
  }
}
md-input-container.request-score-input-container {
  margin: 0 !important;
  padding: 0 !important;
}
md-input-container.request-score-input-container .md-input {
  font-size: 12px !important;
  color: #ffffff !important;
  text-align: center;
  border-radius: 50% !important;
  height: 30px;
  width:  30px;
  box-shadow: none !important;
  border: none !important;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
md-input-container.request-score-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-radius: 0 !important;
  width: 50px;
  font-size: 14px !important;
  background-color: white !important;
  border: 1px solid #c4c4c4 !important;
  color: #565a5c !important;
  cursor: text;
}


input.request-score-input[type=number]::-webkit-inner-spin-button,
input.request-score-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.request-score-input[type=number] {
  -moz-appearance: textfield;
  padding: 0 !important;
}

.request {

  span.status_1 { // CONFIRMED
    background-color: #FBB130;
  }

  span.status.status_2, span.status.status_11 { // Not CONFIRMED
    background-color: #4B94D2;
  }

  .status_12, .status_6, .status_5 { //Expired , DAY not AVAILABLE
    background-color: $red;
  }

  .status_16, .status_3 {
    background-color: orange;
  }

  span.status_3 { // CONFIRMED
    background-color: #13C713;
  }

  .status_15, .status_9 { // Not Submitted, Flat Rate
    background-color: #7E8D9A;
  }
}

table {
  .btn.small {
    padding: 5px 10px !important;
    font-size: 12px !important;
  }
}

.panel_body {
  .dataTables_length {
    display: none;
  }

  .dataTables_filter {
    position: absolute;
    top: -55px;
    right: 55px;
  }
}

.material {
  tr.request {
    cursor: pointer;

    &:hover {
      background-color: whitesmoke;
    }
  }

  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
  }

  table {
    th {
      font-weight: 600 !important;
      /* text-align: left; */
    }
  }

  .panel-body {
    padding: 0px !important;
  }

  .table > tbody > tr > td, .table > tfoot > tr > td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 1.0rem;
    vertical-align: top;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic");
.edit-request__quickbooks-icon{
  width: 21px;
}

.export-to-quickbooks{
  margin-right: 10px;
  margin-top: 10px;
}
.phone-number {
  white-space: nowrap;
}
.mdDataTable {
  overflow-x: hidden;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;

  .dataTables_length {
    display: none;
  }

  div.dataTables_info {
    padding-top: 8px;
    padding-left: 10px;
    font-size: 14px;
  }

  table.dataTable thead > tr > th {
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 10px; */
  }

  .dataTables_filter {
    position: absolute;
    top: -15px;
    right: 50px;
    border: none;
    input {
      border: none;
      padding: 0px;
      height: 20px;
      padding-left: 10px;
    }
  }

  .panel {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  }

  .panel-body {
    padding: 0px !important;
  }

  table {
    width: 100%;
  }

  td, th {
    padding: 0;
    margin: 0;
  }

  font-size: 15px;

  $whiteColor: #ffffff;
  $primaryColorPalette: #0D47A1;

  /* 12sp Roboto Medium, 54% black */
  th {
    font-size: 12px;
    font-weight: 500;
    color: darken($whiteColor, 54%);
    cursor: pointer;
    white-space: nowrap;

    /* when hoverSortIcons on a non-sorted column*/
    .hoverSortIcons .ng-md-icon {
      visibility: hidden;
      fill: darken($whiteColor, 30%);
    }

    &:hover .hoverSortIcons .ng-md-icon {
      visibility: visible;
    }

    /* when hoverSortIcons on a sorted column*/
    .sortedColumn .hoverSortIcons .ng-md-icon {
      display: none;
    }

    .sortedColumn .ng-md-icon {
      fill: darken($whiteColor, 87%);
    }

    svg {
      -webkit-transform: rotate(90deg);
    }
  }

  /* 64dp card header height */
  .mdDataTable-header {
    height: 64px;
    padding-left: 24px;
    padding-right: 14px;

    .md-button {
      margin-left: 24px;
    }

    .ng-md-icon {
      fill: darken($whiteColor, 54%);
    }
  }

  .mdDataTable-header-alternate {
    @extend .mdDataTable-header;

    background-color: lighten($primaryColorPalette, 60%);

    .alternate-text {
      color: $primaryColorPalette;
    }
  }

  /* 56do for last row */
  .mdDataTable-footer, tr th {
    height: 56px;
  }

  /* column padding */
  .checkboxCell {
    width: 18px;

    & .md-checkbox {
      margin: 0;
      padding: 0;
    }

    /*the next cell should not have just 24px padding */
    & + td, & + th {
      padding-left: 24px;
    }
  }

  /* 48dp row height */
  /* 13sp Roboto Regular, 87% black */
  tr td {
    padding: 10px;
    height: 30px;
    font-size: 13px;
    color: darken($whiteColor, 87%);
  }

  td:last-child, th:last-child {
    padding-right: 24px;
  }

  .column {
    padding-left: 56px;
  }

  .leftAlignedColumn {
    text-align: left;
  }

  .rightAlignedColumn {
    text-align: right;
  }

  /* border separation color */
  tr th {
    border-bottom: solid 1px #DDDDDD;
  }

  tr td {
    border-bottom: solid 1px #DDDDDD;
  }

  /* INTERACTION */
  tr:hover {
    background: #EEEEEE;
    cursor: pointer;
  }

  .active_row {
    background: #7DB3F9;

    td {
      color: white;
      background: #7DB3F9;
    }
  }

  tr.active_row:hover {
    background: #7DB3F9 !important;

    td {
      background: #7DB3F9 !important;
      cursor: pointer;
    }
  }

  .selectedRow td {
    background: #F5F5F5;
  }

  .request-sales {
    .sales-name {
      margin-right: 10px;
    }
    .sales-list {
      left: inherit;
      right: 0;
    }
  }

  .icon-mark-all-read {
    width: 17px;
    cursor: pointer;
  }
}

.tRo {
  width: 145px;
  float: left;
  margin-right: 20px;
}

.tinputRo {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  color: #2B2B2B;
  border-color: #E0E0E0;
  font-size: 16px;
  cursor: pointer;
}
.scoreInputRo {
  width: 145px;
  padding: 5px;
  border-radius: 5px;
  color: #2B2B2B;
  border-color: #E0E0E0;
  font-size: 16px;
  cursor: pointer;
}


.dateRo {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  color: #4B89E8;
  border: 1px solid #E0E0E0;
  font-size: 15px;
  text-align: center;
  line-height: 10px;
  cursor: pointer;
  width: 265px;
  input {
    width: 106px !important;
    height: 21px !important;
  }
}

.requests-flag {
  min-width: 100px;
  min-height: 20px;
  text-transform: uppercase;
}

@media all and (max-width: 1366px) {
  .mdDataTable {
    overflow-x: auto;
    tr {
      td {
        padding: 5px 5px;
        height: 30px;
        font-size: 10px;
        color: #212121;
        .btn {
          font-size: 10px;
        }
      }
    }
  }
}
@media all and (min-width: 1367px) {
  .mdDataTable {
    overflow-x: auto;
  }
}
