$component-active-color: #fff;

$component-active-bg: #428bca;

$gray-dark: gray;
//** Dropdown link text color.
$dropdown-link-color: $gray-dark;
//** Hover color for dropdown links.
$dropdown-link-hover-color: darken($gray-dark, 5%);
//** Hover background for dropdown links.
$dropdown-link-hover-bg: #f5f5f5;

//** Active dropdown menu item text color.
$dropdown-link-active-color: $component-active-color;
//** Active dropdown menu item background color.
$dropdown-link-active-bg: $component-active-bg;

$line-height-base: 1.428571429;

.tplBuilder {
  min-height: 100vh;

	.main-block-checkbox{
		padding-top: 25px;
	}

  &#main-content {
    .busyoverlay {
      position: absolute;
    }
  }

  .block-builder-menu .builder-menu {
    width: 310px;
  }

  .builder-menu {
    width: 40%;
    padding-right: 10px;

    .tab-menu {
      padding-right: 5px;
      width: 40%;
      float: left;
    }

    .panel-body {
      padding: 10px 10px 0;

      .style-select-block {
        width: 100%;
        padding: 20px 10px;
      }
    }

    .style-menu {
      background-color: white;
      padding: 20px 15px;
      min-height: 50vh;

      .style-instruction {
        .arrow-right {
          margin: auto;
          width: 15%;
          font-size: 35px;
        }
        .text {
          margin: auto;
          width: 57%;
        }
      }

      .style-editor {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 0 15px;
        left: 0;
      }

      .swicher {
        padding: 20px 0;

        .title {
          margin-right: 20px;
        }
      }
    }

    .template-folders-panel {
      background-color: white;
      padding: 20px 15px;
      min-height: 50vh;

      .folder {
        margin: 5px 0;
        position: relative;
        padding: 5px 0;
        cursor: default;

        .select-folder {
          visibility: hidden;
          cursor: default;
          height: 100%;
          width: 100%;
          background-color: rgba(120, 120, 120, 0.7);
          position: absolute;
          left: 0;
          top: 0;
        }

        .remove-folder-block {
          background-color: #464646;
          position: absolute;
          float: left;
          z-index: 2;
          text-align: center;
          color: white;
          left: 35%;
          top: 50%;
          width: 80px;
          height: 22px;
          margin-left: -60px;
          margin-top: -11px;

          &:hover {
            background-color: #e75d5d;
          }
        }

        .edit-folder-block {
          background-color: #464646;
          position: absolute;
          float: left;
          z-index: 2;
          text-align: center;
          color: white;
          left: 70%;
          top: 50%;
          width: 80px;
          height: 22px;
          margin-left: -60px;
          margin-top: -11px;

          &:hover {
            background-color: #556B8D;
          }
        }

        .remove-folder-button {
          text-align: center;
          width: 80px;
          height: 20px;
          cursor: pointer;
        }

        .edit-folder-button {
          text-align: center;
          width: 80px;
          height: 20px;
          cursor: pointer;
        }

        &:hover {
          .select-folder {
            visibility: visible;
          }
        }
      }

      .control-panel {
        padding: 5px 0 20px;
        display: flex;
        position: relative;

        input {
          width: 86%;
          float: left;
        }

        button {
          margin-bottom: 0;
          padding: 5px 10px;
          border-radius: 0;
        }
      }
    }

    .tab-menu-button {
      margin-top: 15px;
    }

    .preview-template {
      min-height: 90px;
      position: relative;

      .dragdrop-block {
        width: 20px;
        display: block;
        top: 50%;
        position: absolute;
        margin-top: -10px;
        cursor: pointer;
      }

      .template-block {
        width: 90%;
        height: 100%;
        position: absolute;
        left: 30px;
      }

      &.active-template {
        border-top: 1px solid #f2f3f6;
        background: #F9F9E1;
        visibility: visible;
      }
    }

    .block {
      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      display: block;
      height: 100%;

      .select-block {
        visibility: hidden;
        cursor: default;
        height: 100%;
        width: 100%;
        background-color: rgba(224, 224, 224, 0.7);
        position: absolute;
        left: 0;
        top: 0;
      }

      .copy-button {
        height: 90px;
        width: 245px;
        background-color: rgba(70, 70, 70, 1);
        position: absolute;
        left: 30%;
        top: 40%;
        float: left;
        margin-top: -15px;
        margin-left: -50px;
        z-index: 2;
        text-align: center;
        font-size: 60px;
        color: white;
      }

      .copy-button:hover {
        background-color: rgba(0, 0, 0, 1);
        cursor: pointer;
      }

      .edit-button {
        @extend .copy-button;
        left: 65%;
      }

      .edit-button:hover {
        @extend .copy-button:hover;
      }

      .edit-template-button {
        height: 25px;
        width: 65px;
        background-color: #464646;
        position: absolute;
        left: 50%;
        top: 50%;
        float: left;
        margin-top: -12px;
        margin-left: -32px;
        z-index: 2;
        text-align: center;
        color: white;
      }

      .edit-template-button:hover {
        background-color: rgba(0, 0, 0, 1);
        cursor: pointer;
      }

      .delete-template-button-block {
        background-color: #464646;
        position: absolute;
        float: left;
        z-index: 2;
        text-align: center;
        color: white;
        left: 92%;
        width: 20px;
        height: 20px;
      }

      .delete-template-button-block:hover {
        background-color: #e75d5d;
      }

      .delete-template-button {
        background-image: url(../img/template-builder/deleteButton.png);
        background-position: center center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
      }

      .copy-block-in-template-button {
        @extend .copy-button;
        left: 42%;
      }

      .copy-block-in-template-button:hover {
        @extend .copy-button:hover;
      }
    }

    .block:hover {
      .select-block {
        visibility: visible;
      }
    }

    .block-preview {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media (max-width: 1299px) {
      .block-preview {
        zoom: 33%;
        -moz-transform: scale(0.33);
        -moz-transform-origin: 0 0;
      }
    }

    @media (max-width: 1600px) and (min-width: 1300px) {
      .block-preview {
        zoom: 41%;
        -moz-transform: scale(0.41);
        -moz-transform-origin: 0 0;
      }

      .copy-block-in-template-button {
        width: 200px !important;
        height: 65px !important;
        font-size: 42px !important;
      }
    }

    @media (max-width: 1800px) and (min-width: 1601px) {
      .block-preview {
        zoom: 51%;
        -moz-transform: scale(0.51);
        -moz-transform-origin: 0 0;
      }

      .copy-block-in-template-button {
        width: 160px !important;
        height: 50px !important;
        font-size: 32px !important;
      }
    }

    @media (min-width: 1801px) {
      .block-preview {
        zoom: 60%;
        -moz-transform: scale(0.6);
        -moz-transform-origin: 0 0;
      }

      .copy-block-in-template-button {
        width: 160px !important;
        height: 50px !important;
        font-size: 32px !important;
      }
    }

    .compose-nav {
      margin: 15px -10px 0 -7px;
    }

    .child-template-is-edit {
      position: absolute;
      color: grey;
      font-size: 20px;
      margin-top: 0;
      margin-left: 5px;
    }
  }

  .frame {
    width: 59%;
    min-height: 180px;
    background: #E0E0E0;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    height: auto;
    padding: 10px;

    .empty {
      text-align: center;
      font-size: xx-large;
      width: 100%;
      padding-top: 5%;
      margin: 0;
      cursor: default;
    }

    .not-empty-block {
      overflow-y: initial;
      height: inherit;

      iframe {
        width: 100%;
        height: 500px;
      }
    }
  }

  .quick-edit-template {
    width: 640px;
    margin: auto;
    position: inherit;

    .empty-template-preview {
      text-align: center;
      font-size: 20px;
      padding: 100px 0;
    }

    .preview-templete-subject {
      height: 50px;

      label {
        float: left;
        width: 24%;
        padding-top: 5px;
        color: #565656;
        font-size: 14px;
        font-weight: 700;
      }

      input {
        float: left;
        width: 76%;
        color: #555;
      }
    }
  }

  #template {
    position: relative;
  }

	.block-main-button {
		position: absolute;
		left: -40px;
		margin-top: -80px;

		.module-main-button {
			width: 40px;
			height: 40px;
			top: 0;
			z-index: 9999999;
			display: block;

			.main-button {
				width: 100%;
				height: 100%;
				background-color: #ed7831;
				text-align: center;
				padding-top: 8px;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}

  .block-delete-button {
    position: absolute;
    left: -40px;
    margin-top: -40px;

    .module-delete-button {
      width: 40px;
      height: 40px;
      top: 0;
      z-index: 9999999;
      display: block;

      .delete-button {
        width: 100%;
        height: 100%;
        background-color: #cecece;
        background-image: url(../img/template-builder/deleteButton.png);
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        top: 0;
      }

      .delete-button:hover {
        background-color: #e75d5d;
      }
    }
  }

  .block-dragdrop-button {
    position: absolute;
    left: 100%;
    margin-top: -80px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    .module-dragdrop-button {
      width: 40px;
      height: 40px;
      display: block;
      top: 0;
      z-index: 9999999;

      .dragdrop-button:hover {
        background-color: #ed7831;
      }

      .dragdrop-button {
        width: 100%;
        height: 100%;
        background-color: #cecece;
        background-image: url(../img/template-builder/dragButton.png);
        background-position: center center;
        background-repeat: no-repeat;
        top: 0;
      }
    }
  }

  .block-code-button {
    position: absolute;
    left: 100%;
    margin-top: -40px;

    .module-code-button {
      right: -40px;
      width: 40px;
      height: 40px;
      top: 0;
      z-index: 9999999;
      display: block;

      .code-button {
        width: 100%;
        height: 100%;
        background-color: #cecece;
        background-image: url(../img/template-builder/openCodeEditor.png);
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        top: 0;
      }

      .code-button:hover {
        background-color: #009fc0;
      }

      .save-code-button {
        width: 100%;
        height: 100%;
        background-color: #cecece;
        background-image: url(../img/template-builder/saveCode.png);
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        top: 0;
      }

      .save-code-button:hover {
        background-color: #27b6af;
      }
    }
  }

  .code-editor {
    width: 100%;
    resize: none;
  }

  .block-code-editor {
    @extend .code-editor;
    margin: 20px 0;
  }

  .empty-block-preview {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .block-preview {
    background: white;
    margin-left: -11px;
  }

  .builder-block-panel {
    margin-top: 30px;

    .delete-block-button {
      float: left;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      color: #606060;
      font-weight: normal;
      text-decoration: underline;
      padding: 5px 0;
    }

    .btn {
      float: right;
    }
  }

  .builder-template-panel {
    margin: 30px 10px 0;

    .copy-template-button {
      float: left;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      color: #606060;
      font-weight: normal;
      text-decoration: underline;
      padding: 5px 0;
    }

    .btn-success {
      float: right;
    }
  }

  .row-edit {
    position: relative;
    display: block;
  }

  .row-edit-hover {
    height: 100%;
    width: 100%;
    background-color: rgba(224, 224, 224, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    cursor: default;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .row-edit-hover i {
    position: absolute;
    height: 30px;
    width: 30px;
    line-height: 30px;
    left: 50%;
    top: 50%;
    text-align: center;
    margin-top: -15px;
    margin-left: -15px;
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 16px;
  }

  .row-edit-hover i:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .builder-select {
    padding-bottom: 15px;
  }

  .tab-container {
    padding: 0;
    min-height: 226px;
    width: 60%;
    float: left;

    .template-description {
      width: 100%;
      color: #848484;
      line-height: 24px;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0;
      text-transform: capitalize;
      margin: 0;
    }
  }

  label {
    width: 100%;
    color: #848484;
    line-height: 24px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    text-transform: capitalize;
    margin: 0;
    padding-left: 5px !important;
  }

  input, select {
    width: 100%;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    color: #565a5c;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }

  .modal-header {
    min-height: 16.43px;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;

    .close {
      margin-top: -7px;
    }
  }

  .gray {
    background-color: #F0F0F0;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
  }

  .modal-body {
    padding: 30px 60px;

    .modal-edit-title {
      float: left;
      width: 100%;
      font-size: 25px;
      color: rgba(153, 153, 153, 1);
    }

    .modal-edit-text {
      float: left;
      width: 100%;
      font-size: 16px;
      color: rgba(102, 102, 102, 1);
      font-weight: 600;
      margin-top: 15px;

      span {
        font-size: 13px;
        color: rgba(153, 153, 153, 1);
      }
    }

    .edit-field-wrapper {
      float: left;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 20px;

      .edit-field {
        float: left;
        height: 33px;
        width: 100%;
        border: 1px solid rgba(204, 204, 204, 1);
        outline: none;
        font-family: inherit;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        color: rgba(102, 102, 102, 1);
      }
    }

    .action-panel {
      margin-top: 30px;

      .delete-button {
        float: left;
      }

      .save-button,
      .cancel-button {
        float: right;
        margin-right: 15px;
      }
    }

    // Toolbar buttons textAngular
    .ta-toolbar button {
      font-size: 15px;
      height: 23px;
    }

    .bar-btn-dropdown {
      padding: 0;
      border: none;

      .dropdown-toggle {
        margin: 0;
        height: 22px;
      }
    }

    .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) button {
      border-radius: 0;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) button {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    .btn-group > .btn:last-child:not(:first-child):not(.dropdown-toggle) button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    // Links within the dropdown menu
    .bar-btn-dropdown .dropdown-menu > li > button {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: $line-height-base;
      color: $dropdown-link-color;
      white-space: nowrap; // prevent links from randomly breaking onto new lines
      background-color: white;
      -webkit-appearance: none;
      width: 100%;
      border: none;
    }

    // Dropdowns with active checkmark
    .bar-btn-dropdown .dropdown-menu > li > .checked-dropdown {
      padding-left: 30px;
      position: relative;
      text-align: left;
    }

    .bar-btn-dropdown .dropdown-menu > li > button .fa-check {
      position: absolute;
      left: 80%;
      top: 50%;
      margin-top: -5px;
      font-size: 14px;
    }

    .dropdown-menu.inline-opts {
      min-width: 0;
    }

    // Hover/Focus state
    .dropdown-menu > li > button {
      &:hover,
      &:focus {
        text-decoration: none;
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
      }
    }

    // Active state
    .dropdown-menu > .active > button {
      &,
      &:hover,
      &:focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: $dropdown-link-active-bg;
      }
    }

  }

  &.block-builder {
    position: absolute;
    z-index: 10;
    background: white;
    height: 100%;
    left: 0;
    top: 0;

    .block-builder-preview {
      zoom: 0;
      -moz-transform: scale(0);
      -moz-transform-origin: 0 0;
    }
  }

  .block-builder-title {
    top: -55px;
    position: fixed;
    z-index: 17;
    background: white;
    width: 100%;
    left: 0;
  }

  .select-block-builder-tab {
    padding-left: 15px;
  }
}

.modal-content {
  .tplBuilder {
    min-height: 50px;

    .tooltip {
      width: 240px;
      height: auto;
      max-height: 380px;

      .tooltip-inner {
        max-width: 400px;
        text-align: left;
        height: auto;
        max-height: 380px;
        background-color: rgba(0, 0, 0, 0);
        padding: 3px 4px;

        .block-btn {
          background-color: #000000;
          display: block;
          float: right;
          border-radius: 5px;
          padding: 5px 0 5px;
          height: 100%;
          max-height: 380px;
          overflow-y: auto;
        }

        .btn {
          width: 100%;
          float: left;
          padding: 0;
          margin: 0;
          color: white;
          background-color: black;
          font-size: 13px;

          &:hover {
            background-color: rgba(55, 55, 55, 1);
          }
        }
      }
    }
  }
}

.import-export-modal {
  width: 90%;
  margin: auto;

  .modal-header {
    padding: 20px;
  }

  .modal-body {
    .import-export-button {
      margin: 30px auto 0;
      width: 40%;
      display: block;
      padding: 10px 0;
    }
  }

  .modal-footer {
    margin-top: 10px;

    .close-button {
      float: right;
      margin-left: 15px;
    }
  }
}

.prevent-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.visibility-block {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.visibility-block:hover {
  visibility: visible;
  opacity: 1;
}

.builder-block:hover .visibility-block {
  visibility: visible;
  opacity: 1;
}

.builder-modules .block-code-button {
  visibility: hidden;
}

.builder-modules .block-delete-button {
  visibility: hidden;
}

.gu-mirror {

  .block-dragdrop-button {
    visibility: visible;
    opacity: 0.8;
    position: absolute;
    left: 100%;
    margin-top: -59px;

    .module-dragdrop-button {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      z-index: 9999999;
      margin-top: -20px;

      .dragdrop-button {
        width: 100%;
        height: 100%;
        background-color: #ed7831;
        background-image: url(../img/template-builder/dragButton.png);
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
      }
    }
  }

  .code-editor {
    min-width: 750px;
    resize: none;
  }

  .block-code-editor {
    @extend .code-editor;
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dragdrop-block {
    width: 20px;
    display: block;
    top: 50%;
    position: absolute;
    margin-top: -10px;
  }

  .template-block {
    width: 90%;
    height: 100%;
    position: absolute;
    left: 30px;

    .select-block {
      display: none;
    }
  }
}

.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.ta-root.focussed .ta-text.form-control {
  box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px inset, rgba(102, 175, 233, 0.6) 0 0 8px;
  border-color: rgb(102, 175, 233);
  outline: 0;
  text-transform: initial;
}

.ta-text.form-control {
  height: auto;
  min-height: 70px;
  font-family: inherit;
  font-size: 100%;
  position: relative;
  overflow: auto;
}

.overflow-visible .ta-text.form-control{
  overflow: visible;
}

.calc-results-settings-third-col{
  overflow: auto;
  height: 88%;
}

.form-control {
  border: 2px solid #e8ebed;
  border-radius: 2px;
  box-shadow: none;
  height: 37px;
  padding: 5px 12px 9px 12px;
}

.ta-text > .ta-bind {
  height: auto;
  min-height: 66px;
  padding: 6px 12px;
}

.ta-bind {
  text-transform: initial;
}

.ta-editor.ta-html {
  min-height: 30px;
  height: auto;
  font-family: inherit;
  font-size: 100%;
  overflow: auto;
}

.send-emails-box{
  .emails-box {
    .btn-circle {
      float: left;
      color: #444444;
      background-color: #efefef;
      width: 40px;
      height: 40px;
      line-height: 25px;
      border-radius: 50%;
      text-align: center;
      padding-left: 7px;
      border: 1px solid #e7e7e7;
      margin-left: 5px;

      .icon-envelope {
        visibility: visible;
        display: inherit;
      }

      .icon-close {
        visibility: hidden;
        display: none;
      }

      i {
        padding: 5px;
      }
    }

    .btn-circle:hover {
      color: #444444;
      background-color: #d5d5d5;
      border-color: #c8c8c8;

      .icon-envelope {
        visibility: hidden;
        display: none;
      }

      .icon-close {
        visibility: visible;
        display: inherit;
      }
    }

    .btn {
      padding: 7px 5px 0;
    }

    .btn:hover {
      color: #444444;
      text-decoration: none;
    }
  }

  .small-emails-box{
    .busyoverlay {
      position: absolute;

      .spinner {
        margin-top: -9.5px;
        margin-left: -9.5px;
      }
    }

    i {
      text-decoration: none;
      outline: none;
      color: #2E2E32;
      cursor: pointer;

      &:hover {
        outline: none;
        text-decoration: none;
        color: #999;
      }
    }
  }

  .busyoverlay {
    position: fixed;
    top: 0 !important;

    .spinner{
      margin-top: -32.5px;
      margin-left: -32.5px;
    }
  }
}

.quick-send-emails, .reminders-modal-invoker {
  cursor: pointer;
  float: left;
  margin: 10px 10px 0px;
}

.reminders-modal-invoker {
  margin-top: 12px;
  font-size: 15px;
  color: black;

}

.emails-box-modal {
  width: 100%;

  .modal-body {
    padding: 30px;

    .inside-box {
      margin-top: 10px;
      border: 1px solid #556B8D;
      margin-bottom: 20px;

      .small-box-header {
        padding: 5px;
        font-size: 11px;
        text-transform: UPPERCASE;

        border-bottom: 1px solid #D4D4D4;
        background: #556B8D;
        color: white;
      }

      .extra-list {
        list-style: none;
        background: #E4E4E4;
        margin: 5px;
        padding: 4px 0;
        text-align: center;
        border: 1px solid #D6D6D6;
        text-transform: capitalize;
        font-size: 14px;
        cursor: pointer;
        font-weight: 600;
        &:hover {
          background: #D4D4D4;
        }
      }

      .text-center {
        text-align: center;
      }

      .addemail-box {
        margin: 10px;
        background: #EFEEEE;
        border: 1px solid #E0E0E0;
        table {
          width: 100%;
          position: relative;
        }
        td input {
          padding: 2px;
          border: 1px solid #CCC8C8;
          width: 95%;
        }
        thead {
          border-bottom: 1px solid gainsboro;
          margin-bottom: 5px;
          padding-bottom: 13px;
        }
        td {
          padding: 5px;
        }
        .email-header {
          width: 48%;
          padding-left: 10px;
        }
        .remove-mail {
          font-family: 'Open Sans', Helvetica, Arial, sans-serif;
          font-size: 11px;
          position: absolute;
          top: 1px;
          right: 5px;
          cursor: pointer;
        }
        .icon-eye {
          padding: 5px;
          display: block;
          &:hover {
            color: #444444;
            background-color: #d5d5d5;
            border-color: #c8c8c8;
            cursor: pointer;
          }
        }
      }
    }

    .action-panel {
      margin: 30px 0 20px;

      .cancel-button {
        float: right;
        margin-left: 10px;
      }

      .ok-button {
        float: right;
      }
    }
  }
  .emailSelector {
    display: inline;
    font-size: 15px;
    i {
      cursor: pointer;
    }
    span {
      cursor: default;
    }
    .emailSelectorReceiver {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px;
      &.selected {
        border-bottom: solid 1px #556b8d;
      }
      .emailsSelectorFilterButton {

        &:hover{
          color: #00378a;
          text-shadow: #00378a 0 0 3px;
        }
        &.opened{
          color: #00378a;
          text-shadow: #00378a 0 0 3px;
        }
      }
      .emailSelector i {
        display: inline;
      }
      .emailSelectorReceiverInput {
        &:disabled {
          background: transparent;
        }
        border-width: 0px;
      }
      .emailSelectorReceiverInput.error {
        background: white;
        border: 0px;
        color: #cc2020;
      }
      .emailSelectorReceiverFilter {
        position: fixed;
        z-index: 50;
        background-color: white;
        border: 1px solid #556B8D;
        max-height: 150px;
        overflow-y: scroll;

        .emailSelectorReceiverFilterItem {
          padding: 6px;
        }

        .emailSelectorReceiverFilterItem:hover {
          background-color: rgba(85, 107, 141, 0.4);
        }
        .emailSelectorReceiverFilterItem.selected {
          background-color: rgba(85, 107, 141, 0.4);
        }
      }
    }
    .emailSelectorAdd:hover {
      color: #0ca200;
      text-shadow: #0ca200 0 0 2px;
    }
  }
}

.visible-overflow {
  .modal-content {
    overflow: visible;
  }
}

.auto-x-overflow {
  .modal-content {
    overflow-x: auto;
  }
}

.quick-template-preview {
  .template-preview-header {
    padding: 15px 0 !important;
    text-align: center;
  }

  .btn {
    padding: 8px 8px;
  }

  .quick-add-block {
    left: 10px;
    display: block;
    position: absolute;
    margin: 7px 0;
    padding: 8px 8px;
    color: #fff;
    background-color: #556B8D;
    border-color: #2e6da4;
    border-radius: 3px;

    .dropdown {
      display: none;
      width: 100%;
      background-color: grey;
      z-index: 1;
      top: 32px;
      left: 0;
      position: absolute;
    }

    &:hover {
      cursor: pointer;
      color: #ffffff;
      background-color: #5f779d;
      border-color: #5f779d;

      .dropdown {
        display: block;
      }
    }

    .dropdown-tab {
      padding: 5px 5px;
      width: 100%;
      text-align: left;

      i {
        float: right;
      }

      &:hover {
        background-color: #787878;
      }
    }

    .blocks-container {
      background-color: #787878;
      position: absolute;
      width: 700px;
      height: 700px;
      top: 0;
      left: 102px;
      cursor: default;
      overflow-y: scroll;
      white-space: normal;

      .block {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px 0;
        display: block;
        width: 640px;
        background-color: white;

        .select-block {
          visibility: hidden;
          cursor: default;
          height: 100%;
          width: 100%;
          background-color: rgba(224, 224, 224, 0.7);
          position: absolute;
          left: 0;
          top: 0;
        }

        .copy-block-in-template-button {
          height: 30px;
          width: 90px;
          background-color: #464646;
          position: absolute;
          left: 50%;
          top: 50%;
          float: left;
          margin-top: -15px;
          margin-left: -45px;
          z-index: 2;
          text-align: center;
          font-size: 14px;
          color: white;
          padding: 5px;
        }

        .copy-block-in-template-button:hover {
          background-color: rgba(0, 0, 0, 1);
          cursor: pointer;
        }
      }

      .block:hover {
        .select-block {
          visibility: visible;
        }
      }
    }

    #header-container {
      display: none;
    }

    #footer-container {
      display: none;
    }

    #body-container {
      display: none;
    }
  }

  .tab-menu {
    .panel {
      .panel-body {
        padding-bottom: 0;
        .nav-tabs {
          border-bottom: none;
        }
      }
    }
  }
}

.form-group {
  legend {
    .legend-title {
      float: left;
      margin-top: 5px;
      display: inline-block;
    }
    .legend-send-email {
      display: inline-block;
    }
  }
  .wrapper_legend_styles {
    legend {
      padding: 10px 28px;
      .legend-title {
        float: none;
      }
    }
    legend.email_legend {
      padding: 10px 28px;
      margin-bottom: 0;
      border-bottom: 0;
      border-top: 1px solid #e5e5e5;
      div.legend-title {
        float: left;
      }
    }
  }
}

div.form-group.header-for-send-email {
  margin: 0 0;
}
