.photo-modal{
  >.modal-footer > span > input{
    visibility: hidden; position: absolute;
  }
  >.drop{
    > span > input{
      visibility: hidden; position: absolute;
    }
    padding-top: 80px;padding-bottom: 50px;
  }
  >.gray{
   border-bottom: none;
 }
  >.text-center > div{
      padding-top: 30px;
    }
  min-height: 350px;

  .default-photo{
    width: 110px;
    height: 110px;
  }
  .cropped-photo{
    >img{
      width: 110px;
      height: 110px;
    }
    padding-left: 30px;
    padding-right: 30px;
  }
  .crop-photo{
    background: white;
    overflow: hidden;
    width:400px;
    height:300px;
    canvas {
      margin-top: 27px !important;
      margin-left: 0 !important;
    }
  }
}
