.modal-content .tplBuilder .tooltip .tooltip-inner .tooltip-html-variable {
	div.block-btn{
		width: 100%;
		overflow-x: hidden;
		border-radius: 0;
	}
	.tooltip-header-search-input{
		width: 92%;
	}
	.tooltip-header-close-button{
		padding-left: 6px;
		width: 9%;
		position: absolute;
		right: 7px;
	}
}

span.bar-btn-dropdown.dropdown.text-angular-custom-variable-dropdown-menu {
	pointer-events: auto;
	cursor: auto;
	opacity: 1;
	ul {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 360px;
		min-height: 100px;
		width: 220px;
	}
	input {
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
}



