img-crop {
  width:100%;
  height:100%;
  display:block;
  position:relative;
  overflow:hidden;
  canvas {
    display:block;
    position:absolute;
    top:50%;
    left:50%;

    // Disable Outline
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
  }
}
.cropArea {
  background: #E4E4E4;
  margin: auto;
  overflow: hidden;
  height: 400px;
}
ui-cropper {
  width: 100%;
  &.fixed-height {
    height: 100%;
    position: relative;
    overflow: hidden;
    canvas {
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
  &.full-width {
    text-align:center;
    canvas {
      display:inline;
    }
  }

  display: block;
  canvas {
    // Disable Outline
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
  }
  .loading {
    .fixed-height {
      height: 100%;
      position: absolute;
    }
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
  }
}