.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.overlay {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 10000;
  position: fixed;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.wrapper {
  position: absolute;
  z-index: 11000;
  opacity: 1;
  top: 50%;
  left: 50%;
}

@-webkit-keyframes load-bar-grow {
  100% {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
  }
}
@keyframes load-bar-grow {
  100% {
    -webkit-transform: scaleX(1.1);
            transform: scaleX(1.1);
  }
}
@-webkit-keyframes load-bar-background {
  0% {
    background-color: #159756;
  }
  25% {
    background-color: #da4733;
  }
  50% {
    background-color: #1d6fee;
  }
  75% {
    background-color: #fdba2c;
  }
}
@keyframes load-bar-background {
  0% {
    background-color: #159756;
  }
  25% {
    background-color: #da4733;
  }
  50% {
    background-color: #1d6fee;
  }
  75% {
    background-color: #fdba2c;
  }
}
.load-bar-inbox {
  -webkit-animation: load-bar-background;
          animation: load-bar-background;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps(1);
          animation-timing-function: steps(1);
  top: 0;
  height: 10px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 9001;
  /* Over 9000 */
}
.load-bar-inbox::after, .load-bar-inbox::before {
  -webkit-animation-name: load-bar-grow, load-bar-background;
          animation-name: load-bar-grow, load-bar-background;
  -webkit-animation-duration: 1000ms, 4000ms;
          animation-duration: 1000ms, 4000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in, steps(1);
          animation-timing-function: ease-in, steps(1);
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  width: 50%;
}
.load-bar-inbox::after {
  right: 0;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
.load-bar-inbox::before {
  left: 0;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
}

.svg-wrapper {
  position: absolute;
  z-index: 11000;
  opacity: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.spinner {
  opacity: 1;
  -webkit-animation: rotator 1.4s linear infinite;
  -moz-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-moz-keyframes rotator {
  0% {
    -moz-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  -moz-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@-moz-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -moz-transform: rotate(135deg);
         transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -moz-transform: rotate(450deg);
         transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
  }
}