<div class="home-estimate-schedule-view-container">
    <el-home-estimate-month-calendar requests="vm.requests" current-day="currentDay" home-estimators="homeEstimators"></el-home-estimate-month-calendar>
</div>