<div id="timeheader" class="dhx_cal_header ui-draggable-handle">
    <div class="dhx_scale_bar ">1<span>AM</span></div>
    <div class="dhx_scale_bar ">2<span>AM</span></div>
    <div class="dhx_scale_bar ">3<span>AM</span></div>
    <div class="dhx_scale_bar ">4<span>AM</span></div>
    <div class="dhx_scale_bar ">5<span>AM</span></div>
    <div class="dhx_scale_bar ">6<span>AM</span></div>
    <div class="dhx_scale_bar ">7<span>AM</span></div>
    <div class="dhx_scale_bar ">8<span>AM</span></div>
    <div class="dhx_scale_bar ">9<span>AM</span></div>
    <div class="dhx_scale_bar ">10<span>AM</span></div>
    <div class="dhx_scale_bar ">11<span>AM</span></div>
    <div class="dhx_scale_bar ">12<span>AM</span></div>
    <div class="dhx_scale_bar ">1<span>PM</span></div>
    <div class="dhx_scale_bar ">2<span>PM</span></div>
    <div class="dhx_scale_bar ">3<span>PM</span></div>
    <div class="dhx_scale_bar ">4<span>PM</span></div>
    <div class="dhx_scale_bar ">5<span>PM</span></div>
    <div class="dhx_scale_bar ">6<span>PM</span></div>
    <div class="dhx_scale_bar ">7<span>PM</span></div>
    <div class="dhx_scale_bar ">8<span>PM</span></div>
    <div class="dhx_scale_bar ">9<span>PM</span></div>
    <div class="dhx_scale_bar ">10<span>PM</span></div>
    <div class="dhx_scale_bar ">11<span>PM</span></div>
    <div class="dhx_scale_bar ">12<span>PM</span></div>
</div>