<div class="home-estimate-work-plan-container">
    <div class="home-estimate-workers">
        <el-home-estimate-worker-item ng-click="selectWorker(idWorker)" ng-repeat="(idWorker, worker) in homeEstimators" item="worker" options="options"></el-home-estimate-worker-item>
    </div>
    <div class="home-estimate-day-plan">
        <ng-include src="'app/requests/directives/home-estimate/directives/work-plan/time-line.html'"></ng-include>
        <table class="home-estimate-day-plan-table" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="workline_{{idWorker}}" ng-repeat="(idWorker, worker) in homeEstimators">
                <td>
                    <div class="dhx_matrix_line">
                        <table class="tblines" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td ng-repeat="time in times track by $index" class="dhx_matrix_cell">
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- workers -->
                        <el-home-estimate-work-item ng-repeat="item in requestItems[idWorker]" item="item">
                        </el-home-estimate-work-item>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>