.home-estimate-
  &work-plan-container
    position relative
    width 100%
    background white
    font-family 'Open sans'
    font-weight 600
    letter-spacing 0
    color: #595959
    margin-top 10px
    .home-estimate-work-item
      height 25px
  &workers
    position absolute
    top 30px
    background white
    width 105px
    z-index 3
  &day-plan
    width 1500px
    position absolute
    top 0
    .dhx_cal_header
      cursor w-resize
      position absolute
      left 50px
      top 7px
      margin-left 0
      font-size 12px
      margin-top 0
      width 1200px
    .dhx_scale_bar
      font-size 12px
      position relative
      float left
      text-indent -50px
      width 50px
      text-align center
      span
        font-size 8px
        color #d7d5d5
        margin-left 35px
        position absolute
        top -2px
    &-table
      width 100%
      table-layout fixed
      margin-top 30px
      background-color white
      .dhx_matrix_line
        position relative
        margin-bottom 5px
        .tblines
          border-top 1px solid #F9F9F9
          margin 0
          padding 0
          height 25px
          .dhx_matrix_cell
            width 25px
            border-bottom 1px solid #F8F8F8
            padding 0
            &:nth-child(odd)
              border-right 1px solid #F1F1F1
            &:nth-child(even)
              border-right 2px solid #EAEAEA