.message
	.sms-message-header
		background-color #fff
		color #565656
		margin-bottom 10px
		border-bottom: 1px solid #dcdcdc;
		padding 0
		font-size 12px
		&__status
			color #e25d5d
		&.queued
			background-color #fff
			.sms-message-header__status
				color sandybrown
		&.undelivered,
		&.blacklist,
		&.failed
		&.error
		&.invalid.phone
			background-color #fff
			color #565656
		&.sent,
		&.delivered
			background-color #fff
			.sms-message-header__status
				color #13c713ab
