<div class="row">   
    <div class="col-md-6 col-sm-12" id="inbox-wrapper">

            <section class="panel">
              <div ng-show="!vm.busy" cc-messages-datatable active="active" requests="requests"></div>
            </section>

        </div>
    <div class="col-md-6 col-sm-12" id="view-mail-wrapper">
           
       <div message-thread nid="active"></div>
        
    </div>
</div>