<div ng-show="busy">
    <div class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<div class="panel panel-default chat-widget hot-fix-account-textangular">
    <div class="panel-footer">
        <form class="ng-pristine ng-valid">
            <div class="input-group">
                <div
                        text-angular
                        ng-model="message"
                        ta-toolbar="[]"
                ></div>
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-3d" ng-class="{disabled: isEmptyHTMLString(message)}"
                          ng-click="addMessage()" type="button">SEND</button>
                </span>
            </div>
        </form>
    </div>
    <div class="chat-discussion">
        <div ng-hide="messages.length" class="emptybox">
            <div>No Messages</div>
            <i class="fa fa-comments-o"></i>
        </div>
        <div class="chat-message animated fadeInLeft" ng-class="{'left':message.admin ,'right' :!message.admin}"
             ng-repeat="message in messages | reverse">
            <img class="message-avatar" ng-if="message.admin && manager.id != message.uid" src="content/user_pic.jpg" alt="">
            <img class="message-avatar" ng-if="message.admin && manager.id == message.uid" src="{{manager.photo}}" alt="">
            <img class="message-avatar" ng-if="!message.admin" src="content/user_pic.jpg" alt="">
            <div class="message">
                <sms-message-header></sms-message-header>
                <a class="message-author" href="#"> {{message.user_first_name}} </a>
                <span class="message-date">{{message.created | momentDate:'MMMM DD, YYYY, h:mm A'}}</span>
                <span class="message-content">
                      <p ng-bind-html="message.comment_body"></p>
                </span>
            </div>
        </div>


    </div>


</div>
