.add-custom-payment-form__dialog-container.md-dialog-container
	md-dialog.add-custom-payment-form__dialog(layout-padding="layout-padding" )
		md-toolbar
			.md-toolbar-tools.add-custom-payment-form__toolbar
				h2.add-custom-payment-form__title
					| Custom Refund
				span.add-custom-payment-form__toolbar__balance Balance: {{ getBalance() | currency}}
				md-button.md-icon-button(ng-click="cancel()")
					ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
		md-progress-linear.add-custom-payment-form__toolbar__progress(md-mode="indeterminate" ng-if="showLoader")
		md-dialog-content.add-custom-payment-form__scrollable
			.add-custom-payment-form__body
				.add-custom-payment-form__input
				.add-custom-payment-form__input
					form.add-custom-payment-form__input__left(name="amountRefundForm")
						md-input-container.md-block(flex-gt-sm)
							label Amount
							input(ng-model="payment.amount"
							name="amount" id="customPaymentAmount"
							ng-disabled="true"
							format="currency" placeholder="$0")
					.add-custom-payment-form__input__right

				form.custom-payment-form(name="cardRefundForm" ng-show="autorized")
					.add-custom-payment-form__input
						.add-custom-payment-form__input__left
							md-input-container.md-block(flex-gt-sm)
								label First Name
								input(ng-model="payment.firstName" name="firstName" required)
								div(ng-messages="cardRefundForm.firstName.$error")
									div(ng-message="required") First name No is required.
						.add-custom-payment-form__input__right
							md-input-container.md-block(flex-gt-sm)
								label Last Name
								input(ng-model="payment.lastName" name="lastName" required)
								div(ng-messages="cardRefundForm.lastName.$error")
									div(ng-message="required") Last Name No is required.
					.add-custom-payment-form__input
						.add-custom-payment-form__input__left-big
							md-input-container.md-block(flex-gt-sm)
								label Card No
								input(name="cardNumber" id="customRefundCardNo"
									ng-model="payment.ccardN"
									placeholder="4111 1111 1111 1111"
									ng-model-options="{allowInvalid: true}"
									ng-minlength="19" maxlength="19"
									ng-change="getCardType()"
									ng-focus="cardNumberInputFocused = true"
									ng-blur="cardNumberInputFocused = false"
									er-only-digit credit-card-validate-number
									card-type="payment.cctype" required InvalidCardType )
								div(ng-messages="cardRefundForm.cardNumber.$error")
									div(ng-message="required") Card No is required.
									div(ng-message="InvalidCardType") Invalid Card No.
									div(ng-message="minlength") Card No too short.
							.add-custom-payment-form__img(ng-class="{'add-custom-payment-form__img_focused': cardNumberInputFocused}" ng-show="payment.cctype")
								img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/visa.png" ng-show="payment.cctype == 'Visa'")
								img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/mastercard.png" ng-show="payment.cctype == 'Mastercard'")
								img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/amex.png" ng-show="payment.cctype == 'AMEX'")
								img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/discover.png" ng-show="payment.cctype == 'Discover'")
								img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/visaelectron.png" ng-show="payment.cctype == 'Visa Electron'")
						.add-custom-payment-form__input__right-small(ng-if="payment.cctype != 'AMEX'")
							md-input-container.md-block(flex-gt-sm)
								label CVV
								input(ng-model="payment.cvc" ng-disabled="!payment.cctype" md-input-minlength="3" minlength="3" maxlength="3"  er-only-digit= name="cvc")

								div(ng-messages="cardRefundForm.cvc.$error")
									div(ng-message="minlength") CVV is too short.
						.add-custom-payment-form__input__right-small(ng-if="payment.cctype == 'AMEX'")
							md-input-container.md-block(flex-gt-sm)
								label CVV
								input(ng-model="payment.cvcAmex" ng-disabled="!payment.cctype" md-input-minlength="4" minlength="4" maxlength="4" er-only-digit= name="cvcAmex")
								div(ng-messages="cardRefundForm.cvcAmex.$error")
									div(ng-message="minlength") AMEX CVV is too short.
					.add-custom-payment-form__input
						.add-custom-payment-form__input__left
							md-input-container.md-block(flex-gt-sm)
								label Auth Code
								input(ng-model="payment.auth_code" name="authCode")
						.add-custom-payment-form__input__right
							.add-custom-payment-form__input__left
								md-input-container.md-block
									label Month
									md-select( ng-model="payment.expmonth" name="month" ng-change="checkCardExpireDateValidation()" required InvalidDate)
										md-option(ng-repeat="n in ::range(1,12,1)" value="{{n}}") {{n}}
									div(ng-messages="cardRefundForm.month.$error")
										div(ng-message="required") Month is required.
									div(ng-messages="cardRefundForm.month.$error")
										div(ng-message="InvalidDate") Expired.
							.add-custom-payment-form__input__left
								md-input-container.md-block(flex-gt-sm)
									label Year
									md-select(checkCardExpireDateValidation ng-model="payment.expyear" name="year" ng-change="checkCardExpireDateValidation()" required InvalidDate)
										md-option(ng-repeat="n in ::range(2017,2100,1)" value="{{n}}") {{n}}
									div(ng-messages="cardRefundForm.year.$error")
										div(ng-message="required") Year is required.
									div(ng-messages="cardRefundForm.year.$error")
										div(ng-message="InvalidDate") Expired.
					.add-custom-payment-form__input(ng-if="payment.type == paymentTypes[4]")
						.add-custom-payment-form__input__left
							md-input-container.md-block(flex-gt-sm)
								label City
								input(ng-model="payment.city" ng-disabled="true")
						.add-custom-payment-form__input__right
							.add-custom-payment-form__input__left
								md-input-container.md-block(flex-gt-sm)
									label State
									input(ng-model="payment.state" ng-disabled="true")
							.add-custom-payment-form__input__left
								md-input-container.md-block(flex-gt-sm)
									label Zip Code
									input(ng-model="payment.zip_code" md-input-minlength="5" maxlength="5" onkeypress='return (event.charCode >= 48 && event.charCode <= 57 || event.charCode == 8 || event.charCode == 46)' name="zip_code" required invalidZip ng-change="getGeoCode()")
									div(ng-messages="cardRefundForm.zip_code.$error")
										div(ng-message="required") Zip Code is required.
									div(ng-messages="cardRefundForm.zip_code.$error")
										div(ng-message="invalidZip") Invalid Zip Code.
									div(ng-messages="cardRefundForm.zip_code.$error")
										div(ng-message="minlength") Zip Code is too short.

				.add-custom-payment-form__input
					md-input-container.md-block(flex-gt-sm)
						label Notes
						input(ng-model="payment.description")


		md-dialog-actions(layout="row")
			md-button(ng-click="cancel()" ng-disabled="showLoader")
				| Cancel
			span(flex)
			md-button(ng-click="save()" ng-disabled="showLoader")
				| Save
