md-button.md-raised.md-warn(ng-click="openCustomRefund($event)" ng-disabled="receipt.value.pending" ng-if="!overpaid") Refund
.rest-value(ng-if="overpaid" ng-click="openCustomRefund($event)") {{ balance | currency }}