<span class="text-center month-calendar-navigator">
    <i class="fa fa-angle-left" ng-click="prevMonth()"></i>
    <span class="current-date">{{curDate | date:'MMMM y'}}</span>
    <i class="fa fa-angle-right" ng-click="nextMonth()"></i>
</span>