include ../../../../../default.pug

+b.create-room
	+e.header
		+e.header-label
			h2 Room
	+e('form').content(name="createRoom")
		+e.progress
			md-progress-linear(md-mode="query" ng-show="busy")
		+e('md-input-container').input
			label Title
			input(ng-model='room.name' required ng-disabled="!allowRename")
		+e('md-input-container').input
			+e.uploader(file-uploader url="room.image_link", uri="room.uri", data-label="Image" required="true")
		+e.controls
			+e.controls_left
				md-button.md-raised.md-warn(ng-click="remove(room)" ng-show="mode == 'edit' && showRemove" ng-disabled="!allowRemove") Remove
			+e.controls_right
				md-button.md-raised(ng-click="cancel()") Close
				md-button.md-raised.md-primary( ng-show="mode == 'edit'" ng-click="create(room)") Update
				md-button.md-raised.md-primary( ng-show="mode != 'edit'" ng-click="create(room)" ng-disabled="busy") Create
