.create-room
	width 500px
	
	&__header
		width 100%
		display inline-flex
		flex-direction column
		justify-content center
		height 52px
		background #e0e0e0
		border-bottom 1px solid #ddd
	&__content
		width 100%
		padding 15px
		display inline-flex
		flex-direction column
		justify-content flex-start
		
	&__header-label
		padding-left: 15px
		display: flex
		flex-direction: row
		justify-content: flex-start
		
	&__input
		display flex
		font-weight normal !important
		
	&__controls
		width 100%
		display flex
		flex-direction row
		justify-content flex-end

		&_left
			justify-content flex-start

	&__progress
		position absolute
		margin-left -15px
		margin-top -15px
		width 100%
	&__uploader
		width 100%