<div ng-show="isOpen()" class="home-estimate-schedule-slide-box">
    <el-home-estimate-work-plan request="request" requests="requests" home-estimators="homeEstimators" options="homeEstimateOptions"></el-home-estimate-work-plan>
</div>