.home-estimate-schedule-slide-box
  position: relative;
  width: 100%;
  height: 100px;
  display: block;
  float: left;
  .dhx_cal_header
    &.ui-draggable-handle
      margin-left 100px
      cursor default
  .home-estimate-day-plan-table
    margin-left 100px