<section id="main-content" style="min-height:400px" class="animated fadeInRight">
    <div class="busyoverlay" ng-show="vm.busyInventory" style="background: rgba(255, 255, 255, 0.5);">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="busyoverlay" ng-show="vm.busy">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                     xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <div table-inventories listInventories="vm.request.request_all_data.additional_inventory"
                 rooms="vm.rooms" decrease="vm.decreaseItemsLog"
                 increase="vm.increaseItemsLog"  removed="vm.removedItemsLog"></div>
            <div list-inventories listInventories="vm.request.request_all_data.additional_inventory"
                 rooms="vm.rooms" removed="vm.removedItems" decrease="vm.decreaseItems"></div>
            <div class="col-md-3 col-md-offset-4 col-xs-3 col-xs-offset-4 col-sm-3 col-sm-offset-4">
                <button id="save-inventory" class="btn-inv-default btn-lg btn save-inventory"
                        ng-class="{'disabled':vm.busyInventory}"
                        ng-click="vm.saveAddListInventories()" data-ng-disabled="vm.request.request_all_data.additional_inventory_sign">Save Additional Inventory
                </button>
            </div>
        </div>
    </div>
    <signature-inventory-box ng-hide="true" step-id="5" owner="customer" box-type="signaturePad"></signature-inventory-box>
</section>
<signature-modal signature-type="signatureInventory"
                           save-step="saveStep()">
</signature-modal>
