
<section id="main-content container" class="invoice-page"  ng-controller="CouponController as vm">
  <div class="busyoverlay" ng-show="vm.busy">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
  <div class="">
    <div class="container invoice-page"  print-section>
      <style>
        .invoice-page {
          padding-top: 20px;
        }
        .invoice-box{
          font-size: 14px;
          max-width:800px;
          margin:auto;
          padding:30px;
          border:1px solid #eee;
          box-shadow:0 0 10px rgba(0, 0, 0, .15);
          line-height:24px;
          font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
          color:#555;
          background: white;
          margin-bottom: 45px
        }
        .payment_box{
          text-align: center;
            position: absolute;
            bottom: 55px;
            left: 50%;
            margin-left: -100px;
        }

        .invoice-box table{
          width:100%;
          line-height:inherit;
          text-align:left;
        }

        .invoice-box table td{
          padding:5px;
          vertical-align:top;
        }

        .invoice-box table tr td:nth-child(2){
          text-align:right;
        }

        .invoice-box table tr.top table td{
          padding-bottom:20px;
        }

        .invoice-box table tr.top table td.title{
          font-size:45px;
          line-height:45px;
          color:#333;
        }

        .invoice-box table tr.information table td{
          padding-bottom:40px;
        }

        .invoice-box table tr.heading td{
          background:#eee;
          border-bottom:1px solid #ddd;
          font-weight:bold;
          font-size:13px;
        }

        .invoice-box table tr.details td{
          padding-bottom:20px;
        }

        .invoice-box table tr.item td{
          border-bottom:1px solid #eee;
        }

        .invoice-box table tr.item.last td{
          border-bottom:none;
        }

        .invoice-box table tr.total td:nth-child(2){
          border-top:2px solid #eee;
          font-weight:bold;
        }

        .invoice-block-checkmark{
          width: 55px;
          display: block;
          margin: auto;
        }

        .invoice-checkmark{
          position: relative;
          font-size: 35px;
          cursor: pointer;
        }
        .checkmark-selected{
          color: #39cc39;
          -webkit-text-stroke: 1px #16af16;
        }

        .checkmark-disable{
          color: #d8d8d8;
          -webkit-text-stroke: 1px #a2a2a2;
        }
        .invoice-ckeck-icon{
          position: absolute;
          top: 50%;
          transform: translateY(150%);
        }

        @media only screen and (max-width: 600px) {
          .invoice-box table tr.top table td{
            width:100%;
            display:block;
            text-align:center;
          }

          .invoice-box table tr.information table td{
            width:100%;
            display:block;
            text-align:center;
          }
        }

        .invoice-float-right {
          float: right;
        }
        .invoice-onright{
          text-align: right;
        }
        .invoice-menu{
          max-width: 800px;
          margin: auto;
        }
        .show-up{
          background-color: #e5e5e5;
          border: solid 1px #c7c7c7;
        }
        .font-normal{
          font-weight: normal;
        }
        .green-btn{
            background: #68cc68; /* Old browsers */
            background: -moz-linear-gradient(top, #5EE062 0%, #39cc39 51%, #16af16 98%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #5EE062 0%,#39cc39 51%,#16af16 98%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #5EE062 0%,#39cc39 51%,#16af16 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68cc68', endColorstr='#16af16',GradientType=0 ); /* IE6-9 */
            border-radius: 5px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.26);
        }
        .green-btn:hover{
            background: #79e577; /* Old browsers */
            background: -moz-linear-gradient(top, #79e577 0%, #6acc6a 51%, #3cad3c 98%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #79e577 0%,#6acc6a 51%,#3cad3c 98%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #79e577 0%,#6acc6a 51%,#3cad3c 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79e577', endColorstr='#3cad3c',GradientType=0 ); /* IE6-9 */
        }
        .info-invoice-table td{
          padding: 0px 5px !important;
        }
        .cc-icon {
          background: url('content/cc-icon-sprite.png') no-repeat top left;
          display: inline-block;
          height: 20px;
          margin-left: 5px;
          margin-top: 5px;
          width: 32px;
        }
        .cc-icon.cc-icon-visa {
          background-position: 0 -522px;
        }
        .cc-icon.cc-icon-mastercard {
          background-position: 0 -348px;
        }
        .cc-icon.cc-icon-discover {
          background-position: 0 -174px;
        }
        .cc-icon.cc-icon-amex {
          background-position: 0 0;
        }
        h3{
          font-size: 20px;
        }
        h4{
          font-size: 18px;
        }
      </style>
      <div  class="invoice-menu" >
        <div class="title-inoice" style="display: inline-block">
          <div ng-if="vm.requestNid" class="title" style="margin-bottom: 25px;">
            <a href="#/request/{{::vm.requestNid}}" class="btn-link">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to #{{vm.requestNid}} request
            </a>
          </div>
          <h2 class="title" style=" margin: 0px;margin-bottom: 25px;">Coupon Deal</h2>
        </div>
        <div print-hide class="button-panel" style="display: inline-block;text-align: right;float: right;"  >
          <a style="margin-right: 20px;" ng-click="vm.couponPayment();" id="online-payment-button" class="button green-btn" ng-hide="vm.coupon.coupons_left == 0">
            Buy Coupon
          </a>
          <!--<a id="" href="javascript:void(0)" class="button  narrow pill-right" print-btn style="">-->
            <!--Print-->
          <!--</a>-->
        </div>
        <div print-hide class="button-panel" style="display: inline-block;text-align: right;float: right; margin-right: 20px;margin-top: -5px;">
          <span class="cc-icon  cc-icon-visa float_left" title="visa"></span>
          <span class="cc-icon  cc-icon-mastercard float_left" title="mastercard"></span>
          <span class="cc-icon  cc-icon-discover float_left" title="discover"></span>
          <span class="cc-icon  cc-icon-amex float_left" title="amex"></span>
        </div>
      </div>
      <div class="invoice-box">
        <div>
          <div id="preview-coupon" style="font-size: x-large;">
            <div class="coupon" style="margin-right: auto">
              <div class="row" style="margin-bottom: auto; margin-top: 10px;">
                <div class="col-md-12">
                  <div class="row">
                    <div style="display: inline-block;">
                      <h3>
                        <i class="fa fa-tag" aria-hidden="true" style="transform: rotate(90deg);color: #169816;"></i>
                        ${{vm.coupon.price | number : 2}} for ${{vm.coupon.discount | number : 2}} Deal at
                        {{::vm.basicSettings.company_name}}
                      </h3>
                      <h4 ng-if="vm.coupon.coupons_left > 0">Only {{vm.coupon.coupons_left}} deals left!</h4>
                    </div>
                    <div style="display: inline-block;" class="pull-right" >
                      <img  ng-src="{{::vm.basicSettings.company_logo_url}}">
                    </div>
                  </div>
                  <div class="row info-table">
                    <div class="col-md-4 vertical-line">
                      <div class="title-preview">Reg.Price</div>
                      <h4>${{vm.coupon.discount || 0 | number : 2}}</h4>
                    </div>
                    <div class="col-md-4 vertical-line">
                      <div class="title-preview">Discount</div>
                      <h4>%{{100 - (100*vm.coupon.price/vm.coupon.discount || 0 ) | number : 2}}</h4>
                    </div>
                    <div class="col-md-4">
                      <div class="title-preview">Savings</div>
                      <h4>${{vm.coupon.discount - vm.coupon.price || 0 | number : 2}}</h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p>{{vm.coupon.description}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <ul style="padding-left: 20px;list-style: initial;">
                        <li ng-repeat="term in vm.coupon.terms track by $index" ng-if="term && term != ''" style="margin-bottom: inherit;">
                          {{term}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" print-hide>
        <a  ng-click="vm.couponPayment();" ng-hide="vm.coupon.coupons_left == 0" style="font-size: 15px;padding: 15px 55px;" id="online-payment-button" class="button green-btn">
          Buy Coupon
        </a>
        <div style="margin-top: 20px;">
          <span class="cc-icon  cc-icon-visa " title="visa"></span>
          <span class="cc-icon  cc-icon-mastercard " title="mastercard"></span>
          <span class="cc-icon  cc-icon-discover " title="discover"></span>
          <span class="cc-icon  cc-icon-amex " title="amex"></span>
        </div>
      </div>
    </div>
  </div>
</section>
