<!--GENERAL INFO -->
<div class=" row general ">
    <div class="col-md-12">
        <div class="service_type rtitle" style="text-align: center;margin-top: -10px;padding-bottom: 5px;">Not interested in move ?</div>

        <h2>Tell us The Reason</h2>
        <div ng-change="details_change()" text-angular ng-model="cancelReason"  ta-toolbar="[]"
             placeholder=""
              ></div>
        <button class="btn btn-danger btn-3d pull-right" style="margin-top: 20px;"
                ng-class="{'disabled':!cancelReason.length}"
                ng-click="cancelMove(cancelReason)">Cancel move request</button>
    </div>

</div>