
<section id="main-content" class="cancelation-page"  ng-controller="ReservationController as vm">
    <!-- Begin Body -->
    <div class="container">
        <div class="row ibox" print-section>
            <div id="confpages" class="host" >

                <a href="javascript:void(0)"  id="printcancel" print-btn class="btn no-print" print-hide>Print</a>

                <div ng-show="!vm.ownCancelationPolicy.show" id="printwrapper">
                    <a href="javascript:void(0)" ng-click="cancel()" id="printinerary" class="pull right" print-hide>Back</a>
                    <h3 class="page_title">{{::vm.basicsettings.company_name}} CANCELLATION POLICIES</h3>
                    <p>
                        Our reservations calendar is critical to our success at {{::vm.basicsettings.company_name}} it controls the staffing of jobs, and our ability to

                        provide accurate estimates. Changes to our reservations calendar have a ripple effect in our business systems and can affect other

                        customers.
                    </p>
                    <p>
                        That being said, we do understand that things come up. We have a well-thought out set of cancellation policies designed to secure

                        our calendar at busy times, and therefore ensure the satisfaction of all of our customers. Securing a reservation with your deposit

                        means you accept the terms and conditions of the cancellation policy that applies to your move. Depending on day of the month

                        your move is scheduled and the type of service, one of these four (4) cancellation and rescheduling policies will apply: Flexible,

                        Moderate, Strict and Super Strict.
                    </p>

                    <div class="polici-block active">
                        <div class="col-block">
                            <div class="col-block-left">
                                <h2 class="discount">Flexible Policy</h2>
                                <div ng-show="flexible"  style="text-align: center;font-weight: bold;color: black;font-size: 14px;">(Your Request)</div>
                            </div>
                            <div class="col-block-right">
                                <li>Applies to all <b>discounted dates</b> (check rates calendar)</li>
                                <li>100% deposit refund with at least 24 hours cancellation notice </li>
                                <li>No reschedule fee</li>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                        <div class="col-block ">
                            <div class="col-block-left">
                                <h2 class="regular">Moderate Policy</h2>
                                <div ng-show="moderate"  style="text-align: center;font-weight: bold;color: black;font-size: 14px;">(Your Request)</div>
                            </div>
                            <div class="col-block-right">
                                <li>Applies to all <b>regular dates</b> (check rates calendar)</li>
                                <li>100% deposit refund with at least 72 hours cancellation notice</li>
                                <li>Each rescheduling with less than 4 business days notice is subject to a $99 fee.</li>
                            </div>
                            <span class="clearfix"></span>

                        </div>
                        <div class="col-block ">
                            <div class="col-block-left">
                                <h2 class="sub-paek">Strict Policy</h2>
                                <div ng-show="strict"  style="text-align: center;font-weight: bold;color: black;font-size: 14px;">(Your Request)</div>
                            </div>
                            <div class="col-block-right">
                                <li>Applies to all <b>sub-peak, peak, high-peak dates</b> (check rates calendar)</li>
                                <li>The deposit will not be refunded in the case of any cancellation.</li>
                                <li>Each rescheduling with less than 5 business days notice is subject to a $99 fee.</li>
                            </div>
                            <span class="clearfix"></span>
                        </div>
                        <div class="col-block ">
                            <div class="col-block-left">
                                <h2 class="sub-paek" style="color:#ff314f">Super Strict policy</h2>
                                <div ng-show="superstrict" style="text-align: center;font-weight: bold;color: black;font-size: 14px;" >(Your Request)</div>
                            </div>
                            <div class="col-block-right">
                                <li>Applies to all <b>long distance moves</b></li>
                                <li>The deposit will not be refunded in the case of any cancellation.</li>
                                <li>Each rescheduling with less than 5 business days notice is subject to a $149 fee.</li>
                            </div>
                            <span class="clearfix"></span>
                        </div>

                        <span class="clearfix"></span>

                    </div>

                </div>

                <div id="printwrapper"  ng-if="vm.ownCancelationPolicy.show">
                    <a href="javascript:void(0)" ng-click="cancel()" id="printinerary" class="pull right" print-hide>Back</a>
                    <h3 class="page_title">{{::vm.basicsettings.company_name}} CANCELLATION POLICIES</h3>
                    <div text-truncate="vm.ownCancelationPolicy" ng-bind-html="vm.ownCancelationPolicy.text"></div>
                </div>
            </div>
        </div>
    </div>
</section>
