
<section id="main-content" class="cancelation-page"  ng-controller="ReservationController as vm">
    <!-- Begin Body -->
    <div class="container">
        <div class="row ibox" print-section>
            <div id="confpages" class="host" >

                <a href="javascript:void(0)"  id="printcancel" print-btn class="btn no-print" print-hide>Print</a>

                <div id="printwrapper"  ng-if="vm.ownCompanyPolicy.show">
                    <a href="" ng-click="cancel()" id="printinerary" class="pull right" print-hide>Back</a>
                    <h3 class="page_title">{{::vm.basicsettings.company_name}} COMPANY POLICIES</h3>
                    <div ng-bind-html="vm.ownCompanyPolicy.text"></div>
                </div>
            </div>
        </div>
    </div>
</section>
