<!--GENERAL INFO -->
<div class=" row general ">
    <div class="col-md-12">
        <div class="service_type rtitle" style="text-align: center;margin-top: -10px;padding-bottom: 5px;">Moving Insurance</div>
        <p class="quote_note "
           ng-bind-html="vm.basicSettings.insurance_text"></p>
    </div>
</div>