<div class="modal-header gray">
    <div class="actions pull-right">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
    </div>
</div>
<div class="">
    <div class="busyoverlay" ng-if="vm.busyInventory">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        </svg>
    </div>

	<div ng-if="vm.request.field_request_settings.inventoryVersion == 2" ng-show="vm.activate" closing-function="cancel()" inventories request="vm.request" save-list-inventories="vm.saveListInventories" listinventories="vm.listInventories"></div>

	<div ng-if="vm.request.field_request_settings.inventoryVersion != 2" ng-show="vm.activate" >
		<div list-new-inventories calculate-filter="calculateFilter"
			 listInventories="vm.listInventories" save-list-inventories="vm.saveListInventories"
			 rooms="vm.rooms"></div>
		<div list-inventories calculate-filter="vm.calculateFilter"
			 listInventories="vm.listInventories" rooms="vm.rooms" removed="vm.removedItems"
			 decrease="vm.decreaseItems"></div>
	</div>
    <div class="inventory" ng-if="vm.request.field_request_settings.inventoryVersion != 2">
        <div class="ibox-content ibox-content_full-width nopadding" ng-class="{'disabled':vm.admin}">
            <button ng-hide="vm.flatRate" id="save-inventory" ng-class="{'disabled':vm.busyInventory}" class="btn-inv-default save-inventory"
                ng-click="vm.saveListInventories()"><span ng-if="!vm.busyInventory">Save Inventory</span><span ng-if="vm.busyInventory">Saving...</span></button>
            <button ng-if="vm.flatRate && !vm.longDistance" id="save-inventory" ng-class="{'disabled':vm.busyInventory}" class="btn-inv-default save-inventory"
                ng-click="vm.saveListInventories()"><span>Next To Overview</span></button>
            <button ng-if="vm.longDistance && vm.request.status.raw == 9" id="save-inventory" ng-class="{'disabled':vm.busyInventory}"
                class="btn-inv-default save-inventory" ng-click="vm.saveListInventories()"><span>See Your Quote</span></button>
        </div>
    </div>
</div>
