.invoice-page
	padding-top 20px
	display flex
	flex-direction column
	align-items center

.invoice-box
	font-size 14px
	width 800px
	padding 30px
	border 1px solid #eee
	box-shadow 0 0 10px rgba(0, 0, 0, .15)
	line-height 24px
	font-family 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif
	color #555
	background white
	margin-bottom 45px
	table
		&.info-invoice-table
			width 80%
			float right
			td
				padding 0px 5px !important
		width 100%
		line-height inherit
		text-align left
		td
			padding 5px
			vertical-align top
		tr
			td
				&:nth-child(2)
					text-align right
			&.top
				table
					td
						padding-bottom 20px
						&.title
							font-size 45px
							line-height 45px
							color #333
			&.information
				table
					td
						padding-bottom 40px
			&.heading
				td
					background #eee
					border-bottom 1px solid #ddd
					font-weight bold
					font-size 13px
			&.details
				td
					padding-bottom 20px
			&.item
				td
					border-bottom 1px solid #eee
				&.last
					td
						border-bottom none
			&.total
				td
					&:nth-child(2)
						border-top 2px solid #eee
						font-weight bold

.payment_box
	width 800px
	text-align center

.invoice-block-checkmark
	width 55px
	display block
	margin auto

.invoice-checkmark
	position relative
	font-size 35px
	cursor pointer

.checkmark-selected
	color #39cc39
	-webkit-text-stroke 1px #16af16

.checkmark-disable
	color #d8d8d8
	-webkit-text-stroke 1px #a2a2a2

.invoice-ckeck-icon
	position absolute
	top 50%
	transform translateY(150%)

@media only screen and (max-width: 600px)
	.invoice-box
		table
			tr
				&.top
					table
						td
							width 100%
							display block
							text-align center
				&.information
					table
						td
							width 100%
							display block
							text-align center

@media print
	.invoice-box, .invoice-menu
		width 90%
		font-size 26px !important
		line-height 40px !important

.invoice-float-right
	float right

.invoice-onright
	text-align right

.invoice-menu
	width 800px
	.title-invoice
		display inline-block

.show-up
	background-color #e5e5e5
	border solid 1px #c7c7c7

.font-normal
	font-weight normal

.green-btn
	background #39cc39
	border-color #16af16

.cc-icon
	background url('../../../content/cc-icon-sprite.png') no-repeat top left
	display inline-block
	height 20px
	margin-left 5px
	margin-top 5px
	width 32px
	&.cc-icon-visa
		background-position 0 -522px
	&.cc-icon-mastercard
		background-position 0 -348px
	&.cc-icon-discover
		background-position 0 -174px
	&.cc-icon-amex
		background-position 0 0