<section id="main-content container" class="invoice-page" ng-controller="InvoiceController as vm">
    <div class="busyoverlay" ng-show="vm.busy">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>

    <!-- Begin Body -->
	<div class="container invoice-page" print-section>

		<div class="invoice-box" ng-if="vm.invoice_notavalable">
			<div class="notification-page notification-error">
				<h3>This invoice is no longer available.</h3>
				Please contact the account administrator for more information.
			</div>
		</div>
		<div ng-if="!vm.invoice_notavalable" class="invoice-menu">
			<div class="title-invoice">
				<h2 class="title" style=" margin: 0px;margin-bottom: 25px;">Invoice:
					<span ng-if="vm.entitytype == vm.fieldData.enums.entities.STORAGEREQUEST">S </span>{{vm.invoice.entity_id}}-{{vm.invoiceId}}
				</h2>
			</div>
			<div print-hide class="button-panel" style="display: inline-block;text-align: right;float: right;">
				<a style="margin-right: 20px;" ng-click="vm.invoicePayment();" ng-if="!vm.invoicePaid"
				   id="online-payment-button" class="button green-btn"> Pay Online </a>
				<a style="margin-right: 20px;" class="button green-btn"
				   ng-href="/account/#/storage_tenant/{{vm.invoice.entity_id}}" target="_blank"
				   ng-if="vm.entitytype == vm.fieldData.enums.entities.STORAGEREQUEST"> Storage statement </a>
				<a id="" href="javascript:void(0)" class="button  narrow " print-btn> Print </a>
			</div>

			<div data-ng-hide="vm.invoicePaid" print-hide class="button-panel"
				 style="display: inline-block;text-align: right;float: right; margin-right: 20px;margin-top: -5px;">
				<span class="cc-icon  cc-icon-visa float_left" title="visa"></span>
				<span class="cc-icon  cc-icon-mastercard float_left" title="mastercard"></span>
				<span class="cc-icon  cc-icon-discover float_left" title="discover"></span>
				<span class="cc-icon  cc-icon-amex float_left" title="amex"></span>
			</div>
		</div>
		<div ng-if="!vm.invoice_notavalable" class="invoice-box">
			<img ng-if="vm.invoicePaid" src="content/paid_stamp_2.png"
				 style="    position: absolute;z-index: 1;left: 30%;">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="5">
						<table>
							<tr>
								<td>
									{{::vm.basicSettings.company_name}}<br> {{::vm.basicSettings.company_address}}<br>
								</td>
								<td>
									<img ng-src="{{::vm.basicSettings.company_logo_url}}">
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="information">
					<td colspan="5">
						<table>
							<tr>
								<td>
									{{vm.invoice.client_name}}<br>
									<span ng-if="vm.invoice.field_moving_from.thoroughfare">{{vm.invoice.field_moving_from.thoroughfare}}<br></span>
									{{vm.invoice.field_moving_from.locality}}
									{{vm.invoice.field_moving_from.administrative_area}}
									{{vm.invoice.field_moving_from.postal_code}}
								</td>
								<td>
									<table class="info-invoice-table">
										<tr>
											<th class="font-normal">Invoice #</th>
											<td class="nopadding">
												<span
													ng-if="vm.entitytype == vm.fieldData.enums.entities.STORAGEREQUEST">S </span>{{vm.invoice.entity_id}}-{{vm.invoiceId}}
											</td>
										</tr>
										<tr>
											<th class="font-normal">Invoice Date</th>
											<td class="nopadding">{{vm.invoice.date | date: 'mediumDate'}}</td>
										</tr>
										<tr class="show-up">
											<td colspan="2">
												<span
													ng-if="vm.entitytype == vm.fieldData.enums.entities.STORAGEREQUEST"><b>Invoice Balance Due(USD)</b></span>
												<span
													ng-if="vm.entitytype != vm.fieldData.enums.entities.STORAGEREQUEST"><b>Balance Due (USD)</b></span>
												<span
													ng-if="vm.entitytype == vm.fieldData.enums.entities.STORAGEREQUEST"
													class="pull-right">{{ vm.calculateGrandTotalBalance() | currency:currencySymbol }}</span>
												<span
													ng-if="vm.entitytype != vm.fieldData.enums.entities.STORAGEREQUEST"
													class="pull-right">{{vm.calculateGrandTotal() | currency:currencySymbol}}</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="heading">
					<td>
						Item
					</td>
					<td style="text-align: left;">
						Description
					</td>
					<td class="invoice-onright">
						Unit Cost
					</td>
					<td class="invoice-onright">
						Quantity
					</td>
					<td class="invoice-onright">
						Line Total
					</td>
				</tr>
				<tr class="item" ng-repeat="charge in vm.invoice.charges">
					<td>
						{{charge.name}}
					</td>
					<td style="text-align: left;">
						{{charge.description}}
					</td>
					<td class="invoice-onright">
						{{charge.cost | currency: currencySymbol}}
					</td>
					<td class="invoice-onright">
						{{charge.qty}}
					</td>
					<td class="invoice-onright">
						{{charge.qty * charge.cost | currency: currencySymbol}}
					</td>
				</tr>
				<tr class="paid">
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2">
						<span>Sub Total:</span>
						<span class="invoice-float-right">{{vm.invoiceSubTotal() | currency: currencySymbol}}</span>
						<br> <span ng-if="vm.prepaidCredit">Prepaid Credit:</span>
						<span class="invoice-float-right" ng-if="vm.prepaidCredit">{{vm.invoiceSubTotal() - vm.prepaidCredit | currency: currencySymbol}}</span>
						<br ng-if="vm.prepaidCredit">
						<span ng-show="vm.invoice.discount">Discount: ({{vm.invoice.discount}}%)</span>
						<span ng-show="vm.invoice.discount" class="invoice-float-right">{{vm.invoiceSubTotal()*vm.invoice.discount/100 | currency: currencySymbol}}</span>
						<br> <span ng-show="vm.invoice.tax">{{vm.invoice.taxName}}: ({{vm.invoice.tax}}%)</span>
						<span ng-show="vm.invoice.tax" class="invoice-float-right">{{(vm.invoiceSubTotal() - vm.invoiceSubTotal() * vm.invoice.discount/100)*vm.invoice.tax/100 | currency: currencySymbol}}</span>
						<br>
						<div ng-show="vm.invoice.flag == vm.invoiceFlags.PAID">Paid:
							<span class="invoice-float-right">{{vm.calculateGrandTotal('paid') | currency: currencySymbol}}</span>
						</div>
					</td>
				</tr>
				<tr class="bottom">
					<td colspan="5">
						<table style="margin-top:50px;">
							<tr>
								<td ng-show="vm.invoice.terms">
									<h4>Terms</h4>
									{{vm.invoice.terms}}
								</td>
								<td style="text-align: left;" ng-show="vm.invoice.notes">
									<h4>Notes</h4>
									{{vm.invoice.notes}}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr ng-if="!vm.lodashEmpty(vm.invoicesAnother)">
					<td colspan="5" style="text-align: center;color: #118411;">
						<h2>Unpaid invoices</h2>
					</td>
				</tr>
				<tr ng-repeat="anotherInvoice in vm.invoicesAnother track by $index"
					ng-if="!vm.lodashEmpty(vm.invoicesAnother)">
					<td colspan="5">
						<table>
							<tbody>
							<tr class="information">
								<td colspan="2">
									<table class="info-invoice-table" style="width: 290px;float: right;">
										<tr>
											<td class="font-normal">Invoice #</td>
											<td class="nopadding">
												<span
													ng-if="vm.entitytype == vm.fieldData.enums.entities.STORAGEREQUEST">S </span>
												{{anotherInvoice.id || anotherInvoice.entity_id}}-{{anotherInvoice.id}}
											</td>
										</tr>
										<tr>
											<td class="font-normal">Invoice Date</td>
											<td class="nopadding">{{anotherInvoice.data.date | date:'mediumDate'}}
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="10%" class="invoice-block-checkmark">
									<div class="invoice-checkmark"
										 ng-class="{'checkmark-selected': anotherInvoice.selected, 'checkmark-disable': !anotherInvoice.selected }"
										 ng-click="anotherInvoice.selected = !anotherInvoice.selected">
										<i class="fa fa-check invoice-ckeck-icon" aria-hidden="true"></i>
									</div>
								</td>
								<td width="90%">
									<table>
										<thead>
										<tr class="heading">
											<td width="25%">Item</td>
											<td width="30%">Description</td>
											<td width="15%" class="invoice-onright">Unit Cost</td>
											<td width="15%" class="invoice-onright">Quantity</td>
											<td width="15%" class="invoice-onright">Line Total</td>
										</tr>
										</thead>
										<tbody>
										<tr class="item" ng-repeat="charge in anotherInvoice.data.charges">
											<td width="25%">{{charge.name}}</td>
											<td width="30%">{{charge.description}}</td>
											<td width="15%" class="invoice-onright">{{charge.cost |
												currency:currencySymbol}}
											</td>
											<td width="15%" class="invoice-onright">{{charge.qty}}</td>
											<td width="15%" class="invoice-onright">{{charge.qty * charge.cost |
												currency:currencySymbol}}
											</td>
										</tr>
										<tr class="paid">
											<td colspan="3"></td>
											<td colspan="2">
												<span>Sub Total:</span>
												<span class="invoice-float-right">{{vm.invoiceSubTotalAddInv(anotherInvoice.data.charges) | currency: currencySymbol}}</span>
												<br>
												<span ng-show="anotherInvoice.data.discount">Discount: ({{anotherInvoice.data.discount}}%)</span>
												<span ng-show="anotherInvoice.data.discount"
													  class="invoice-float-right">{{vm.invoiceSubTotalAddInv(anotherInvoice.data.charges)*anotherInvoice.data.discount/100 | currency: currencySymbol}}</span>
												<br ng-show="anotherInvoice.data.discount">
												<span ng-show="anotherInvoice.data.tax">Tax: ({{anotherInvoice.data.tax}}%)</span>
												<span ng-show="anotherInvoice.data.tax" class="invoice-float-right">{{(vm.invoiceSubTotalAddInv(anotherInvoice.data.charges) - vm.invoiceSubTotalAddInv(anotherInvoice.data.charges) * anotherInvoice.data.discount/100)*anotherInvoice.data.tax/100 | currency: currencySymbol}}</span>
												<br ng-show="anotherInvoice.data.tax"> <br><br>
											</td>
										</tr>
										</tbody>
									</table>
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr class="total-due">
					<td colspan="2">
						<div
							ng-if="vm.entitytype == vm.fieldData.enums.entities.STORAGEREQUEST && vm.closeBalanceStorage"
							style="padding: 5px;">
							<label for="closeBalance">Pay full balance</label>
							<input ng-model="vm.closeBalance" for="closeBalance" ichecks="" id="closeBalance"
								   type="checkbox">
						</div>
					</td>
					<td></td>
					<td colspan="2" class="show-up" style="vertical-align: middle;">
                            <span ng-if="vm.entitytype != vm.fieldData.enums.entities.STORAGEREQUEST"><b>Total Balance Due (USD):</b>
                            <span class="invoice-float-right"><b>{{vm.calculateGrandTotalBalance()| currency: currencySymbol}}</b></span>
                                </span> <span ng-if="vm.entitytype == vm.fieldData.enums.entities.STORAGEREQUEST">
                                <b>Account Balance {{vm.totalBalance >= 0 ? 'Credit' : 'Due'}} (USD):</b>
                            <span class="invoice-float-right"><b>{{ vm.Abs(vm.totalBalance) | number : 2}}</b>
                            </span>
                            </span> <br>
					</td>
				</tr>
			</table>
		</div>
		<div ng-if="!vm.invoice_notavalable" class="payment_box" print-hide>
			<a ng-click="vm.invoicePayment();" ng-if="!vm.invoicePaid" style="font-size: 15px;padding: 15px 55px;"
			   id="online-payment-button" class="button green-btn"> Pay Online </a>
			<div style="margin-top: 20px;" ng-if="!vm.invoicePaid">
				<span class="cc-icon  cc-icon-visa " title="visa"></span>
				<span class="cc-icon  cc-icon-mastercard " title="mastercard"></span>
				<span class="cc-icon  cc-icon-discover " title="discover"></span>
				<span class="cc-icon  cc-icon-amex " title="amex"></span>
			</div>
		</div>
	</div>
</section>
