<div class="container-main-add-contract-page" ng-controller="ContractCtrl">
    <fieldset disabled>
        <flippy flip="['custom:FLIP']" flip-back="['custom:FLIP']" duration="800" timing-function="ease-in-out" class="container-flippy">
            <flippy-front class="navigate">
                <div ng-show="!busy" class="terms-condition pull-right" ng-click="flipPage()">
                    <p class="bold uppercase underline blue">
                    <span>
                        <i class="fa fa-long-arrow-right front-back-icon" aria-hidden="true"></i><br>
                        <span>back side</span>
                    </span>
                    </p>
                </div>
                <div ng-if="requestReady && request.service_type.raw != 5 && request.service_type.raw != 7">
                    <local-moves ng-show="activeTab == 0" id="main-contract" ng-if="mainContract"
                                 request="request"
                                 request-data="request_data"
                                 balance-paid="balance_paid"
                                 services="services"
                                 navigation="navigation"
                                 flat-miles="flatMiles"
                                 busy="busy"
                                 if-storage="ifStorage"
                                 max-sign-count="maxSignCount"
                                 additional-services="additionalServices"
                                 load-custom="loadCustom"
                                 show-declar-val="showDeclarVal"
                                 is-double-drive-time="isDoubleDriveTime"
                                 declaration-value="declarationValue"
                                 request-ready="requestReady"
                                 navigation="navigation"
                                 travel-time-setting="travelTimeSetting"
                                 travel-time="travelTime"
                                 tabs="tabs"
                                 show-contract-image="showContractImage"
                                 im-contract="imContract"
                                 grand-total-log="grandTotalLog"

                                 save-contract="saveContract({
                                                          isBtn: isBtn,
                                                          lastPageSubmit: lastPageSubmit,
                                                          data: data,
                                                          callback: callback,
                                                          errorCb: errorCb,
                                                          missModalClose: missModalClose
                                                          })"
                                 save-req-data-invoice="saveReqDataInvoice(type)"
                                 flip-page="flipPage()"
                                 show-payment="showPayment()"
                                 apply-payment="applyPayment(step)"
                                 remove-declar-select-error="removeDeclarSelectError()"
                                 get-tips="getTips()"
                                 send-letter-pdf="sendLetterPdf()"
                                 download-pdf-page="downloadPdfPage()">

                    </local-moves>
                </div>
                <div id="flat_rate_moves" ng-if="requestReady && requestType">
                    <flat-rate-moves ng-show="activeTab == 0"  id="main-contract" ng-if="mainContract"
                                     request="request"
                                     balance-paid="balance_paid"
                                     services="services"
                                     additional-services="additionalServices"
                                     max-sign-count="maxSignCount"
                                     navigation="navigation"
                                     im-contract="imContract"
                                     load-custom="loadCustom"
                                     show-declar-val="showDeclarVal"
                                     declaration-value="declarationValue"
                                     request-ready="requestReady"
                                     open-pay="openPay"
                                     tabs="tabs"
                                     grand-total-log="grandTotalLog"

                                     save-contract="saveContract({
                                                          isBtn: isBtn,
                                                          lastPageSubmit: lastPageSubmit,
                                                          data: data,
                                                          pickup: pickup,
                                                          delivery: delivery,
                                                          missModalClose: missModalClose
                                                          })"
                                     flip-page="flipPage()"
                                     get-tips="getTips()"
                                     save-req-data-invoice="saveReqDataInvoice(type)"
                                     show-payment="showPayment()"
                                     apply-payment="applyPayment(step)"
                                     send-letter-pdf="sendLetterPdf()"
                                     download-pdf-page="downloadPdfPage()">

                    </flat-rate-moves>
                </div>
            </flippy-front>
            <flippy-back class="navigate">
                <div class="terms-condition pull-right" ng-click="flipPage()">
                    <p class="bold uppercase underline blue">
                    <span>
                        <i class="fa fa-long-arrow-right front-back-icon" aria-hidden="true"></i><br>
                        <span>front side</span>
                    </span>
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <div ng-bind-html="terms" class="terms-condition-page"></div>
                    </div>
                </div>
            </flippy-back>
        </flippy>
    </fieldset>
</div>
