
<!-- LOCAL MOVE -->
<ng-include ng-if="vm.localMoves || vm.packingRequest"
            src="'app/requestpage/templates/overview/localMoves.html?18'"></ng-include>

<!-- MOVING AND STORAGE -->
<ng-include ng-if="vm.storageMoves"
            src="'app/requestpage/templates/overview/storage.html?4'"></ng-include>

<!-- FlatRate -->
<ng-include ng-if="vm.flatRateService"
            src="'app/requestpage/templates/overview/flatrate.html?1'"></ng-include>

<!-- Long Distance -->
<ng-include ng-if="vm.longDistance"
            src="'app/requestpage/templates/overview/longdistance.html?13'"></ng-include>
<!--GENERAL INFO -->
<ng-include src="'app/requestpage/templates/overview/detailsBlock.html?5'"></ng-include>




