<div id="payment_block" class="payment" ng-class="{'disabled':vm.admin}">
    <div class="confirm confirm-company-policies"
         ng-if="vm.request.reservation_rate.value !=0 && vm.request.status.raw != 3 && vm.request.status.raw == 2">
        <div class="check_row">
            <input type="checkbox"
                   ng-class="{'highlighed': highlightTerms}"
                   ng-model="vm.checkTerms"
                   name="vehicle"
                   id="cancel_policy">
            <div class="custom-content-company-policies"
                 ng-if="vm.contract_page.useCustomConfirmationText"
                 ng-class="{'highlighted': highlightTerms}"
                 move-board-compile="vm.contract_page.customConfirmationText"></div>
            <div class="content-company-policies"
                 ng-if="!vm.contract_page.useCustomConfirmationText"
                 ng-class="{'highlighted': highlightTerms}">
                I Agree with {{::vm.basicsettings.company_name}}
                <a href="javascript:void(0)" ng-click="vm.openPolicyModal('company')" class="bluelink_res" target="_blank" >Company Policies</a>
                and with {{::vm.basicsettings.company_name}}
                <a href="javascript:void(0)" ng-click="vm.openPolicyModal('cancelation')" class="bluelink_res" target="_blank">Cancellation And Reschedule Policy</a>
            </div>
        </div>

        <h2>Deposit: ${{vm.request.reservation_rate.value}}</h2>
        <div ng-show="search">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>

        <div print-hide type="submit" ng-if="!vm.basicsettings.AuthPaymentSSL" cc-payment-link  ng-hide="search"
               ng-click="checkPayment()" request="vm.request"  class="auth_button"
               data-amount="{{vm.request.reservation_rate.value}}" ></div>

        <div print-hide type="submit"   ng-if="vm.basicsettings.AuthPaymentSSL"  ng-hide="search"
               id="paybutton" value="PAY DEPOSIT" ng-click="addReservationPayment()"
               request="vm.request"
               class="auth_button btn" data-amount="{{vm.request.reservation_rate.value}}" >PAY DEPOSIT</div>


        <table print-hide border="0" cellpadding="10" cellspacing="0" class="not-active" align="center"><tbody><tr><td align="center"></td></tr><tr><td align="center">
            <img class="ecomm-checkout-img" src="content/ecomm_checkout.jpg">
        </td></tr></tbody></table>

    </div>

  <!-- PAID RESERVATION -->
    <div class="confirm confirm-company-policies"
         ng-if="vm.request.reservation_rate.value==0 && vm.request.status.raw != 3 && vm.request.status.raw == 2">
        <div class="check_row">
            <input type="checkbox"
                   ng-class="{'highlighed': highlightTerms}"
                   ng-model="vm.checkTerms"
                   name="vehicle"
                   id="cancel_policy">
            <div class="custom-content-company-policies"
                 ng-if="vm.contract_page.useCustomConfirmationText"
                 ng-class="{'highlighted': highlightTerms}"
                 move-board-compile="vm.contract_page.customConfirmationText"></div>
            <div class="content-company-policies"
                 ng-class="{'highlighted': highlightTerms}"
                 ng-if="!vm.contract_page.useCustomConfirmationText">
                I Agree with {{::vm.basicsettings.company_name}}
                <a href="javascript:void(0)" ng-click="vm.openPolicyModal('cancelation')" class="bluelink_res" target="_blank">Cancellation And Reschedule Policy</a>
                and with {{::vm.basicsettings.company_name}}
                <a href="javascript:void(0)" ng-click="vm.openPolicyModal('company')" class="bluelink_res" target="_blank">Company Policies</a>
            </div>
        </div>

        <input print-hide   type="submit" id="adminbutton" ng-click="confirmReservation()" class="auth_button btn" ng-class="{'disabled': vm.busy}" value="CONFIRM RESERVATION">
    </div>

    <!-- CONFIRMED -->
    <div class="confirm" ng-if="(vm.request.status.raw == 3 || vm.request.status.raw != 2 && reservationSignature && reservationSignature.length > 0) && vm.useOldPaymentBlock">
        <div class="content-company-policies">
            <input type="checkbox" ng-value="true" checked name="vehicle" id="terms">
            I Agree with {{::vm.basicsettings.company_name}}
            <a href="javascript:void(0)" ng-click="vm.openPolicyModal('cancelation')" class="bluelink_res" target="_blank">Cancellation And Reschedule Policy</a>
            and with {{::vm.basicsettings.company_name}}
            <a href="javascript:void(0)" ng-click="vm.openPolicyModal('company')" class="bluelink_res" target="_blank">Company Policies</a>
        </div>
        <h2>Deposit Collected: ${{vm.deposit}}
        </h2>
        <div class="reservation-signature-row" ng-if="reservationSignature && reservationSignature.length > 0">
            <div ng-repeat="image in reservationSignature track by $index">
                <img class="card-signatured-box" ng-click="vm.openCardPhoto(image)" ng-src="{{image}}">
            </div>
        </div>
    </div>
    <div class="confirm confirm-company-policies"
         ng-if="(vm.request.status.raw == 3 || vm.request.status.raw != 2 && reservationSignature && reservationSignature.length > 0) && !vm.useOldPaymentBlock">
        <div class="check_row">
            <input type="checkbox"
                   ng-class="{'highlighed': highlightTerms}"
                   ng-value="confirmCheckboxValue = true"
                   ng-model="confirmCheckboxValue"
                   ng-change="confirmCheckboxValue = true"
                   name="vehicle"
                   id="cancel_policy">
            <div class="custom-content-company-policies"
                 ng-if="vm.request.request_all_data.isCustomConfirmationText"
                 ng-class="{'highlighted': highlightTerms}"
                 move-board-compile="vm.contract_page.customConfirmationText"></div>
            <div class="content-company-policies" ng-if="!vm.request.request_all_data.isCustomConfirmationText">
                I Agree with {{::vm.basicsettings.company_name}}
                <a href="javascript:void(0)" ng-click="vm.openPolicyModal('cancelation', vm.switchConfirmationPrintPage)" target="_blank" class="bluelink_res">Cancellation And Reschedule Policy</a>
                and with {{::vm.basicsettings.company_name}}
                <a href="javascript:void(0)" ng-click="vm.openPolicyModal('company', vm.switchConfirmationPrintPage)" class="bluelink_res">Company Policies</a>
            </div>
        </div>
        <h2>Deposit Collected: ${{vm.deposit}}</h2>
        <div class="reservation-signature-row" ng-if="reservationSignature && reservationSignature.length > 0">
            <div ng-repeat="image in reservationSignature track by $index">
                <img class="card-signatured-box" ng-click="vm.openCardPhoto(image)" ng-src="{{image}}">
            </div>
        </div>
        <confirmation-signed-info confirmation-data="vm.request.request_all_data.confirmationData"></confirmation-signed-info>
    </div>
</div>
