<div flow-init flow_name="uploader.flow" flow-files-submitted="" flow-file-added="" ng-class="{'disabled': uploadedBusy}">
  <div ng-show="uploadedBusy">
    <div class="sk-cube-grid busyoverlay">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
  <div class="drop" flow-drop="" ng-class="dropClass">
    <span class="btn btn-inv-default" flow-btn="">Upload Image<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
    <b>OR</b>
    Drag And Drop your images here
  </div>
  <br>
  <div>
    <div>
        <div ng-repeat="image in images" class="gallery-box" style="text-align: center">
            <a ng-click="openLightboxModal($index)">
                <img ng-if="image.hasOwnProperty('url')" ng-src="{{image.url}}" class="img-thumbnail">


            </a>
            <div class="btn-group">
                <input type='text' style="float: left;margin:5px 10px 0 0;border:0;" ng-value="image.title" />
              <a class="btn btn-xs btn-danger" ng-click="vm.remove(image.fid, $index)" style="margin-top:15px;">
                Remove
              </a>
            </div>
        </div>
    </div>



    <div style="border-top: 1px solid #ddd" ng-show="$flow.files.length">
      <div ng-repeat="file in $flow.files" class="gallery-box">
        <div style="min-height: 18px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" class="title">{{file.title}}</div>
        <div class="thumbnail" ng-show="$flow.files.length">
          <img flow-img="file">
          <input style="width: 100%;margin-top: 5px;border-radius: 2px; border: 1px solid #ddd; padding: 0 5px;" type="text" placeholder="title" ng-model="file.title">
        </div>

        <div style="display: none;" class="progress progress-striped" ng-class="{active: file.isUploading()}">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}" style="width: 100%;">
            <span class="sr-only">1% Complete</span>
          </div>
        </div>
        <div class="btn-group">
          <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
            Remove
          </a>
        </div>
      </div>
        <div style="margin: 0 10px 10px 10px;">
            <span class="btn btn-inv-default" style="background-color: #F96C45 !important;" ng-click="vm.savePhotos($flow.files);">Save Photos</span>
        </div>
    </div>
      <div class="clear"></div>
  </div>

</div>
<!--

<form action="" class="dropzone ng-pristine ng-valid dz-clickable" drop-zone="" id="file-dropzone">
                        <div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>

-->