<div class="container-main-add-contract-page" ng-controller="ContractCtrl">
    <fieldset disabled>
        <ul class="nav nav-tabs contract-page-flippy-nav-tab m-t-sm">
            <li ng-if="!frontSide" ng-class="{'active': activeTab == tab.index}" ng-click="selectTab(tab.index)" ng-repeat="tab in proposalPages" ng-show="tab.show" ng-init="selectTab(proposalPages[0].index)">
                <a class="add-page-tab-name" ng-bind="tab.name"></a>
            </li>
            <div ng-show="!busy" class="terms-condition pull-right" ng-click="flipPage()">
                <p class="bold uppercase underline blue">
                <span>
                    <i class="fa fa-long-arrow-right front-back-icon" aria-hidden="true"></i><br>
                    <span ng-if="frontSide">front side</span>
                    <span ng-if="!frontSide">back side</span>
                </span>
                </p>
            </div>
        </ul>
        <flippy flip="['custom:FLIP']" flip-back="['custom:FLIP']" duration="800" timing-function="ease-in-out" class="container-flippy">
            <flippy-front class="navigate">
                <div ng-include="'app/contractpage/directives/additional-contracts/additionalContractPages.directive.html'" ng-if="loadAddPages"></div>
            </flippy-front>
            <flippy-back class="navigate">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                        <div ng-bind-html="terms" class="terms-condition-page"></div>
                    </div>
                </div>
            </flippy-back>
        </flippy>
    </fieldset>
</div>
