<!--GENERAL INFO -->
<div class=" row general ">
    <div class="col-md-12">
        <div class="inside_box">
            <h2 class="small_box_header text_center">Payments</h2>
            <table style="width: 100%;position: relative;">
                <thead>
                <tr>
                    <th style="padding-bottom: 5px;">Type</th>
                    <th class="value">Date</th>
                    <th class="value">Amount</th>
                    <th class="value">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="receipt in vm.request.receipts track by $index">
                    <td>{{receipt.payment_method}}/ Authorize.net : {{receipt.transaction_id}}</td>
                    <td>{{vm.dateFormat(receipt.created || receipt.date)}}</td>
                    <td>${{receipt.amount}}</td>
                    <td ng-click="showReceipt($index)" style="cursor: pointer;color:#6262F7;">View/Print full Receipt</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>