<section id="main-content" ng-controller="Request as vm">
    <div class="request-loading-root-wrapper"
         ng-if="vm.rootBusy">
        <img class="request-loading-root-wrapper__busy"
             src="content/logo_animation.gif"
             alt="loading">
        <h3 class="request-loading-root-wrapper__explanation">Wait a minute please... We're preparing your request</h3>
    </div>
    <div ng-if="vm.busy" class="main-content-spinner busyoverlay">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <!-- Begin Body -->
    <div style="background: #007ee5;
    color: white;
    position: fixed;text-align: center;
    padding: 15px;" ng-if="vm.admin" id="asadmin-box">
        <div><i style="    font-size: 36px;" class="fa fa-eye"></i></div>
        <h1 style="padding: 0px;
    margin: 0px;
    font-size: 20px;">AS ADMIN</h1>
    </div>
    <div class="container service_type_{{vm.request.service_type.raw}}_account_page_wrapper status_{{vm.request.status.raw}}_account_page_wrapper" ng-class="{'disabled': vm.busy}">
        <div class="row">
            <div class="col-md-3" id="leftCol">

                <cc-user-block
                        user="vm.user"
                        company-name="vm.request.field_commercial_company_name.value"
                        move-size="vm.request.move_size.raw"
                        nid="vm.request.nid">
                </cc-user-block>
                <div ng-if="vm.request.nid">
                    <request-score
                            ng-if="vm.progressBarSettings.enabled"
                            request-status="vm.request.status.raw"
                            request-receipts="vm.request.receipts"
                            is-inventory="vm.request.inventory_weight.cfs"
                            is-details="vm.ifDetails"
                            photos="vm.request.field_move_images"
                            is-optional="vm.isOptional">
                    </request-score>
                </div>
                <div style="text-align: center;padding: 15px;" class="ibox invoice link animated fadeInRight"
                     ng-if="vm.unpaidInvoice.length">
                    <a href="#/invoice/{{::vm.unpaidInvoice[0].hash}}" target="_blank">
                        <i class="icon-info" style="font-size: 20px;color:red;"></i>
                        <p style="font-size: 15px;color: #ff4f4f;font-weight: bold;">YOU HAVE UNPAID INVOICE</p>
                        <p><i class="icon-envelope-open"></i> View Invoice</p>
                    </a>
                </div>
                <div style="text-align: center;padding: 15px;" class="ibox invoice link animated fadeInRight"
                     ng-show="vm.unusedCoupons.length">
                    <i class="icon-info" style="font-size: 20px;color:red;"></i>
                    <p style="font-size: 15px;color: #ff4f4f;font-weight: bold; text-transform: uppercase;">you have
                        unused coupons</p>
                    <p ng-click="vm.select(vm.tabs[5])">
                        <a href="javascript:void(0)">
                            <i class="fa fa-tag"></i> View coupons
                        </a>
                    </p>
                </div>
                <!-- REQUEST MENU BLOCK -->
                <div class="ibox request_menu">
                    <ul class="nav nav-stacked compose-nav">
                        <li id="tab_{{::tab.name}}"
                            ng-repeat="tab in vm.tabs"
                            ng-class="{
                            'active': tab.selected,
                            'disabled': tab.name == 'Upload Photos' && vm.flatStepOne || ((tab.name == 'Details' || tab.name == 'Inventory') && disable_menu)
                            }"
                            ng-hide="tab.name == 'Additional Inventory' && !vm.request.request_all_data.needsAddInventory"
                            ng-if="tab.name != ''">
                            <a href="javascript:void(0)" ng-click="vm.select(tab)"> <i class="{{::tab.icon}}"></i>
                                {{::tab.name}}
                            </a>
                            <span class="tip pull-right"
                                  ng-if="vm.request.inventory_weight.cfs && tab.name == 'Inventory'">
                                <i class="icon-check"></i>
                            </span>
                            <span class="tip pull-right"
                                  ng-if="!vm.request.inventory_weight.cfs && tab.name == 'Inventory' && vm.longDistance">
                                <div class="tutorial-indicators">
                                    <div class="indicator" tooltip-placement="right"
                                         tooltip="In order to get a more accurate estimate and to perform your move, an inventory must be submitted."
                                         style="left:-15px; top: 10px;">
                                        <div class="animation-container animating highPriority">
                                            <div>
                                                <div class="top animating"></div>
                                                <div class="bottom animating"></div>
                                            </div>
                                            <div class="inner-circle animating highPriority"></div>
                                            <div class="outer-circle animating highPriority"></div>
                                        </div>
                                    </div>
                                </div>
                            </span>

                            <span class="tip pull-right" ng-if="vm.ifDetails
                                                                && tab.name == 'Details'">
                                <i class="icon-check"></i>
                            </span>
                            <span class="tip pull-right" ng-if="vm.request.messages && tab.name == 'Messages'">
                                <span class="notifymessage">{{::vm.request.messages}}</span>
                            </span>

                        </li>
                    </ul>
                </div>

                <!-- COUPONS -->
                <div ng-if="vm.showCoupons">
                    <div class="ibox request_menu" ng-hide="vm.hideCouponButton && !vm.isNotConfirmed">
                        <ul class="nav nav-stacked compose-nav">
                            <li id="tab_{{::tab.name}}"
                                ng-repeat="tab in vm.tabs8"
                                ng-class="{'active': tab.selected}">
                                <a style="color:green;" href="javascript:void(0)" ng-click="vm.select(tab)">
                                    <i class="{{::tab.icon}}"></i> {{::tab.name}} Available
                                    <img width="25px" style="float:right;" src="./content/img/icons/coupon.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>

                <!-- Messages BLOCK -->
                <div class="ibox request_menu">
                    <ul class="nav nav-stacked compose-nav">
                        <div ng-if="vm.request.current_manager && vm.currentManagerData.isShowManagerInfo" ng-include="'app/layout/specialist.html'"></div>
                        <li id="tab_{{::tab.name}}"
                            ng-repeat="tab in vm.tabs2"
                            ng-class="{'disabled':vm.admin}"
                            ng-class="{'active': tab.selected}">
                            <a href="javascript:void(0)" ng-click="vm.select(tab)"> <i class="{{::tab.icon}}"></i>Send Me a Message</a>
                            <span class="tip pull-right" ng-if="vm.request.messages && tab.name == 'Messages'"><span
                                    class="notifymessage">{{::vm.request.messages}}</span>
                            </span>
                        </li>
                    </ul>
                </div>

                <!-- REQUEST MENU BLOCK -->
                <div class="ibox request_menu moving_insurance_hide">
                    <ul class="nav nav-stacked compose-nav">
                        <li id="tab_{{::tab.name}}"
                            ng-repeat="tab in vm.tabs3"
                            ng-class="{'active': tab.selected}">
                            <a href="javascript:void(0)" ng-click="vm.select(tab)">
                                <i class="{{::tab.icon}}"></i>
                                {{::tab.name}}
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- CANCELATION MENU BLOCK -->
                <div class="ibox request_menu" ng-show="vm.request.receipts.length">
                    <ul class="nav nav-stacked compose-nav">
                        <li id="tab_{{::tab.name}}"
                            ng-repeat="tab in vm.tabs4"
                            ng-class="{'active': tab.selected}">
                            <a href="javascript:void(0)" ng-click="vm.select(tab)">
                                <i class="{{::tab.icon}}"></i>
                                {{::tab.name}}
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- PACKING SERVICE BLOCK -->
                <div class="ibox request_menu packing_service_hide" ng-if="vm.basicSettings.packing_settings.packingAccount">
                    <ul class="nav nav-stacked compose-nav">
                        <li id="tab_{{::tab.name}}"
                            ng-repeat="tab in vm.tabs6"
                            ng-class="{'active': tab.selected}">
                            <a href="javascript:void(0)" ng-click="vm.select(tab)">
                                <i class="{{::tab.icon}}"></i>
                                {{::tab.name}}
                            </a>
                        </li>
                    </ul>
                </div>

				<!--REVIEW US BLOCK-->
                <div class="ibox request_menu" ng-if="vm.showReciewBtn">
                    <ul class="nav nav-stacked compose-nav">
                        <li>
                            <a href="javascript:void(0)" ng-click="vm.createReview()">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                Review Us
                            </a>
                        </li>
                    </ul>
                </div>

				<!--FAQ BLOCK-->
				<div ng-if="vm.basicSettings.faqAccount">
						<account-faq is-admin="vm.admin"></account-faq>
				</div>

            </div>
            <div class="col-md-9 animated">
                <div class="ibox requestpage">
                    <div class="ibox-content nopadding">
                        <div class="request_header">
                            <div id="ermap" ng-hide="(vm.flatRateService || vm.longDistance) && vm.flatRate">
                            </div>
                            <div class="header_status" ng-style="{'top':vm.contractSubbmited?'0px':'10px'}"
                                 ng-class="{'flatrate':(vm.flatRateService || vm.longDistance)  && vm.flatRate}">
                                <div ng-include="vm.statusTemplate"></div>
                            </div>
                        </div>
                        <div class="tab_content" id="section_{{::tab.name}}" ng-repeat="tab in vm.tabs"
                             ng-class="{active: tab.selected}">
                            <div class="{{::tab.name}} " ng-if="tab.selected" ng-include="tab.url"></div>
                        </div>
                        <div class="tab_content" ng-repeat="tab in vm.tabs2" ng-class="{active: tab.selected}">
                            <div class="{{::tab.name}}" ng-if="tab.selected" ng-include="tab.url"></div>
                        </div>
                        <div class="tab_content" ng-repeat="tab in vm.tabs3" ng-class="{active: tab.selected}">
                            <div class="{{::tab.name}}" ng-if="tab.selected" ng-include="tab.url"></div>
                        </div>

                        <div class="tab_content" ng-repeat="tab in vm.tabs4" ng-class="{active: tab.selected}">
                            <div class="{{::tab.name}}" ng-if="tab.selected" ng-include="tab.url"></div>
                        </div>
                        <div class="tab_content" ng-repeat="tab in vm.tabs6" ng-class="{active: tab.selected}">
                            <div class="{{::tab.name}}" ng-if="tab.selected">
                                <div cc-packing-link request="vm.request"></div>
                            </div>
                        </div>
                        <div class="tab_content" ng-repeat="tab in vm.tabs8" ng-class="{active: tab.selected}">
                            <div class="{{::tab.name}}" ng-if="tab.selected">
                                <div cc-move-coupons></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-class="{'disabled':vm.admin}" class="col-md-8 col-md-offset-3  nopadding"
                     ng-show="vm.tabs[0].selected && vm.basicSettings.cancelationFromAccount"
                     ng-hide="vm.request.status.raw == 3 || vm.tabs[2].selected">
                    <form class="form-horizontal form-border">
                        <div class="col-md-6">
                            Still interested in moving?
                        </div>
                        <div class="col-md-2" ng-click="cancelMove(false)" style="cursor:pointer;">
                            <div ng-if="vm.interested" class="fa-circle fa"
                                 style="font-size: 14px;color: #08B708;margin-right: 5px;"></div>
                            <div ng-if="!vm.interested" class="fa-circle-o fa"></div>
                            <label>Yes</label>
                        </div>
                        <div class="col-md-2" ng-click="cancelMove(true)" style="cursor:pointer;">
                            <div ng-if="!vm.interested" class="fa-circle fa"
                                 style="font-size: 14px;color: #FF6868;margin-right: 5px;"></div>
                            <div ng-if="vm.interested" class="fa-circle-o fa"></div>
                            <label>No</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
