<section id="main-content container" class="reservation-page" ng-controller="ReservationController as vm" ng-class="{'printRemove':vm.isHideConfirmPrintPage}">
    <div class="reservation-page-loading-root"
         ng-if="vm.rootBusy">
        <img class="reservation-loading-spinner"
             src="content/logo_animation.gif"
             alt="Loading">
        <h3 class="reservation-loading-explanation">Wait a minute please... We're preparing your confirmation page</h3>
    </div>
<div  id="print_mode"  ng-show="vm.admin"  ng-class="{'printmodeon':vm.printMode}"  style="    margin-top: 20px;background: #007ee5;color: white;position: absolute;
    text-align: center;
    padding-top: 15px;
    left: 0px;" class=" no-print printHide">
    <i style="font-size: 22px;text-align: center;display: block;"
       class="icon-printer">
     </i>
    <div ng-click="vm.printModeOn()" style="font-size: 15px;
    line-height: 26px;
    padding: 10px; cursor: pointer"  class="print_btn">Print Mode</div>
    <div style="    font-size: 20px;
    background: #12a312;
    cursor: pointer;" class=" mod_btn plus" ng-click="vm.addZoom()" ng-show="vm.printMode">+</div>
    <div  style="    font-size: 20px;
    cursor: pointer;"  class=" mod_btn minus" ng-click="vm.minusZoom()" ng-show="vm.printMode">-</div>
</div>
    <div class="busyoverlay" ng-show="vm.busy">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>

    <!-- Begin Body -->
    <div class="">
        <div class="container confirm-page service_type_{{vm.request.service_type.raw}}_reservation_page_wrapper status_{{vm.request.status.raw}}_reservation_page_wrapper">
            <!-- Long Distance -->
            <ng-include ng-if="vm.request.service_type.raw == 7"
                        src="'app/requestpage/templates/reservation_page/long_distance_move.html?4'"></ng-include>
            <!-- Local Moves -->
            <ng-include
                    ng-if="vm.localMoveRequest"
                    src="'app/requestpage/templates/reservation_page/local_moves.html?5'"></ng-include>
            <div ng-if="vm.request.service_type.raw == 5 || vm.request.service_type.raw == 2  || vm.request.service_type.raw == 6"
                 class="col-md-12 confirm-page animated fadeInRight">
                <down-page-arrow ng-if="vm.request.status.raw == 2"></down-page-arrow>
                <div class="ibox" print-section>
                    <div class="ibox-content nopadding">
                        <!-- HEADER -->
                        <!-- Payment BLock -->
                        <ng-include src="'app/requestpage/templates/reservation_page/header-block.html?3'"></ng-include>
                        <!-- General Info -->
                        <div class="resercontainer">
                            <h2 class="title">Request #{{::vm.request.nid}}</h2>
                            <div class="general row info">
                                <div class="col-md-12 general_info nopadding">
                                    <ng-include
                                            src="'app/requestpage/templates/reservation_page/user-block.html'"></ng-include>
                                    <!--LOCAL MOVE -->
                                    <div class="date nopadding"  ng-class="{'col-md-6':vm.isEmptyFieldAdditionalUser, 'col-md-8':!vm.isEmptyFieldAdditionalUser}" ng-hide="vm.request.service_type.raw == 5">
                                        <h2 class="tt"><i class="fa fa-calendar-o"></i>{{vm.moveDate}}</h2>
                                        <h2 class="tt"><i class="fa fa-clock-o"></i>Start Time :
                                            <span ng-show="vm.basicsettings.arrivalTimeWindow.showInAccount">
                                                {{vm.basicsettings.arrivalTimeWindow.text}}
                                            </span>
                                            <span ng-hide="vm.basicsettings.arrivalTimeWindow.showInAccount">
                                                {{vm.request.start_time1.value}} - {{vm.request.start_time2.value}}
                                            </span>
                                            <span class="texttip">(movers arrival time)</span>
                                        </h2>
                                    </div>
                                    <!--FLAT RATE MOVE -->
                                    <span ng-show="vm.request.service_type.raw == 5">
                                     <div class="date nopadding" ng-class="{'col-md-3':vm.isEmptyFieldAdditionalUser, 'col-md-4':!vm.isEmptyFieldAdditionalUser}">
                                         <h2 style="color: black !important;line-height: 17px !important;">Pickup</h2>
                                         <h2 class="tt" style="margin-bottom: 0px;"><i class="fa fa-calendar-o"></i>{{vm.moveDate}}</h2>
                                         <h2 class="tt"><i class="fa fa-clock-o"></i>Start Time : {{vm.request.start_time1.value}}<mi
                                                 ng-if="vm.request.start_time2.value.length">- {{vm.request.start_time2.value}}</mi></h2>
                                     </div>

                                     <div class="date nopadding" ng-class="{'col-md-3':vm.isEmptyFieldAdditionalUser, 'col-md-4':!vm.isEmptyFieldAdditionalUser}" ng-hide="vm.request.field_flat_rate_local_move.value">
                                         <h2 style="color: black !important;line-height: 17px !important;">Delivery</h2>
                                         <h2 class="tt" style="margin-bottom: 0px;"><i class="fa fa-calendar-o"></i>{{vm.deliveryDate}}
                                             <mi ng-if="vm.deliveryDateSecond.length && vm.deliveryDateSecond != 'Invalid date'">- {{vm.deliveryDateSecond}}</mi>
                                         </h2>
                                         <h2 class="tt"><i class="fa fa-clock-o"></i>Start Time : {{vm.request.dstart_time1.value}} <mi
                                                 ng-if="vm.request.dstart_time2.value.length">- {{vm.request.dstart_time2.value}}</mi></h2>
                                     </div>
                                    </span>
                                </div>
                            </div>
                            <!-- Logistic -->
                            <div class="row logistic">
                                <h2 class="btitle">Logistics</h2>
                                <div class="col-md-4 current nopadding">
                                    <h2 class="tt"><i class="fa fa-angle-left"></i><i class="fa fa-home"></i> Origin
                                        <span ng-hide="vm.request.service_type.raw ==2  && vm.request.request_all_data.toStorage"
                                              class="texttip">({{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_from.raw]}})</span>
                                    </h2>
                                    <h3 ng-hide="vm.request.service_type.raw ==2 && vm.request.request_all_data.toStorage">
                                        {{vm.request.adrfrom.value}}
                                        <span ng-show="vm.request.apt_from.value.length">(Apt #{{vm.request.apt_from.value}})</span><br>
                                        {{vm.request.field_moving_from.locality}}, {{vm.request.state_from.value}}
                                        {{vm.request.zip_from.value}}</h3>
                                    <div ng-if="vm.request.service_type.raw ==2 && vm.request.request_all_data.toStorage ">
                                        <h3>Storage</h3>
                                    </div>
									<div class="row_info row extrapickup" style="width: 75%;" ng-if="vm.extraPickup">
										<div class="col-md-12 title nopadding">Extra Pickup:</div>
										<div class="col-md-12 info nopadding">
											{{vm.request.field_extra_pickup.thoroughfare}}
											<span ng-show="vm.request.field_extra_pickup.premise">
												(Apt #{{vm.request.field_extra_pickup.premise}})
											</span>
											<div>
												{{vm.request.field_extra_pickup.locality}},
												{{vm.request.field_extra_pickup.administrative_area}}
												{{vm.request.field_extra_pickup.postal_code}}
											</div>
										</div>
										<div class="col-md-12 info nocolor nopadding">
											{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_pickup.organisation_name]}}
										</div>

									</div>
                                </div>

                                <div class="new col-md-4 nopadding" ng-hide="vm.pickupOnly">
                                    <h2 class="tt"><i class="fa fa-angle-right style='font-size:18px;'"></i>
                                        <i class="fa fa-home"></i> Destination
                                        <span ng-hide="vm.request.service_type.raw ==2  && !vm.request.request_all_data.toStorage"
                                              class="texttip">({{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.type_to.raw]}})</span>
                                    </h2>
                                    <div ng-hide="vm.request.service_type.raw ==2 && !vm.request.request_all_data.toStorage">
                                        <h3>{{vm.request.adrto.value}} <span ng-show="vm.request.apt_to.value.length">(Apt #{{vm.request.apt_to.value}})</span>
                                            <br> {{vm.request.city_to.value}}, {{vm.request.state_to.value}}
                                            {{vm.request.zip_to.value}}</h3>
                                    </div>
                                    <div ng-if="vm.request.service_type.raw ==2 && !vm.request.request_all_data.toStorage ">
                                        <h3>Storage</h3>
                                    </div>
									<div class="row_info row extrapickup" style="width: 75%;" ng-if="vm.extraDropoff">
										<div class="col-md-12 title nopadding">Extra Drop-off</div>
										<div class="col-md-12 info nopadding">
											{{vm.request.field_extra_dropoff.thoroughfare}}
											<span ng-show="vm.request.field_extra_dropoff.premise">
												(Apt #{{vm.request.field_extra_dropoff.premise}})
											</span>
											<div>
												{{vm.request.field_extra_dropoff.locality}},
												{{vm.request.field_extra_dropoff.administrative_area}}
												{{vm.request.field_extra_dropoff.postal_code}}
											</div>
										</div>
										<div class="col-md-12 info nocolor nopadding">
											{{vm.fieldData.field_lists.field_type_of_entrance_from[vm.request.field_extra_dropoff.organisation_name]}}
										</div>
									</div>
                                </div>
                            </div>
                            <!-- HEADER LOCAL MOVE-->
                            <div class="row general_info stats general_info_row" ng-hide="vm.request.service_type.raw == 5">

                                <div class="stat_row row nopadding move_size_row">
                                    <h2>Move Size</h2> {{vm.request.move_size.value}}
                                    <span ng-if="vm.request.move_size.raw == 11"
                                          class="texttip">{{vm.request.rooms.raw | rooms}}</span>
                                    <span ng-if="vm.request.move_size.raw == 11"
                                          class="texttip">{{vm.commercialWeight.explanation}}</span>

                                </div>
                                <div class="stat_row row nopadding crew_size_row">
                                    <h2>Crew Size</h2> {{vm.request.crew.value}} Movers, {{vm.request.truckCount}}
                                    Trucks
                                </div>
                                <div class="stat_row row nopadding rate_row">
                                    <h2>Rate</h2> ${{vm.request.rate.value}}/Hr
                                </div>
                                <div class="stat_row row nopadding travel_time_row"  ng-if="!vm.isDoubleDriveTime && vm.travelTimeSetting && vm.request.travel_time.raw != 0">
                                    <h2>{{::vm.calcSettings.travelTimeName}}</h2>
                                    {{vm.request.travel_time.raw | hrmin}}
                                </div>
                                <div class="stat_row row nopadding double_drive_time_row"
                                     ng-if="vm.isDoubleDriveTime && vm.request.field_double_travel_time.raw">
                                    <h2>{{::vm.calcSettings.doubleDriveTimeName}}</h2>
                                    {{vm.request.field_double_travel_time.raw || 0 | hrmin}}
                                </div>
                                <div ng-if="vm.contract_page.confirmationShowQuote.selected && !vm.isDoubleDriveTime"
                                     class="stat_row row nopadding">
                                    <div class="estimated_job_time_row">
                                        <h2>Estimated Job Time</h2>
                                        <div ng-if="vm.min_hours < (vm.request.maximum_time.raw + (vm.travelTimeSetting ? vm.request.travel_time.raw : 0))">
                                            <div  style="display: inline-block;">{{(vm.request.minimum_time.raw + (vm.travelTimeSetting ? vm.request.travel_time.raw : 0)) | hrmin}}
                                            </div>
                                            <div style="display: inline-block;"
                                                 ng-hide="vm.request.maximum_time.raw == vm.request.minimum_time.raw">-
                                                {{(vm.request.maximum_time.raw + (vm.travelTimeSetting ? vm.request.travel_time.raw : 0)) | hrmin}}
                                            </div>
                                            <i ng-show="vm.tooltipData.jobTime.isDisplay" class="custom-tooltip fa fa-info-circle" tt-tool-tips tips-string="<div class='tips rmtips'> {{vm.tooltipData.jobTime.value}}</div>"></i>
                                        </div>
                                        <div ng-if="vm.min_hours >= (vm.request.maximum_time.raw + (vm.travelTimeSetting ? vm.request.travel_time.raw : 0))">
                                            {{vm.min_hours | hrmin}} (minimum hours)
                                        </div>
                                    </div>
                                    <div class="estimated_quote_row">
                                        <h2>Estimated Quote</h2>
                                        <div style="display: inline-block;">
                                            <div  style="display: inline-block;">
                                                ${{vm.localMoveMinQuoteWithDiscount | number:2 }} - ${{vm.localMoveMaxQuoteWithDiscount | number:2 }}
                                                <div style="display: inline-block;" ng-if="vm.extraServices.length">
                                                    (with Additional Services)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="stat_row row nopadding" ng-show="vm.deposit">
                                    <h2>Paid Deposit</h2>
                                    <div style="display: inline-block;">
                                        ${{vm.deposit}}
                                    </div>
                                </div>
                                <div ng-if="vm.contract_page.confirmationShowQuote.selected && vm.isDoubleDriveTime"
                                     class="stat_row row nopadding">
                                    <div class="estimated_job_time_row">
                                        <h2>Estimated Job Time</h2>
                                        <div ng-if="vm.min_hours < (vm.request.maximum_time.raw + (vm.request.field_double_travel_time.raw || 0))">
                                            <div  style="display: inline-block;">{{(vm.request.minimum_time.raw + (vm.request.field_double_travel_time.raw || 0)) | hrmin}}
                                            </div>
                                            <div style="display: inline-block;"
                                                 ng-hide="vm.request.maximum_time.raw == vm.request.minimum_time.raw">-
                                                {{(vm.request.maximum_time.raw + (vm.request.field_double_travel_time.raw || 0)) | hrmin}}
                                            </div>
                                            <i ng-show="vm.tooltipData.jobTime.isDisplay" class="custom-tooltip fa fa-info-circle" tt-tool-tips tips-string="<div class='tips rmtips'> {{vm.tooltipData.jobTime.value}}</div>"></i>
                                        </div>
                                        <div ng-if="vm.min_hours >= (vm.request.maximum_time.raw + (vm.request.field_double_travel_time.raw || 0))">
                                            {{vm.min_hours | hrmin}} (minimum hours)
                                        </div>
                                    </div>
                                    <div class="estimated_quote_row">
                                        <h2>Estimated Quote</h2>
                                        <div style="display: inline-block;">
                                            <div  style="display: inline-block;">
                                                ${{vm.localMoveMinQuoteWithDiscount | number:2 }} - ${{vm.localMoveMaxQuoteWithDiscount | number:2 }}
                                                <div style="display: inline-block;" ng-if="vm.extraServices.length">
                                                    (with Additional Services)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="reservation-page-discounts"
                                     ng-if="vm.request.request_all_data.add_money_discount != 0 || vm.request.request_all_data.add_percent_discount !=0 "
                                     class="stat_row row nopadding">
                                      <h2>{{vm.discountLabel}}</h2>
                                      <span class="total_discount">
                                        {{vm.discountValue}}
                                    </span>
								</div>
                            </div>
                            <!-- FLAT RATE  MOVE-->
                            <div class="row general_info stats" ng-show="vm.request.service_type.raw == 5">

                                <div class="stat_row row nopadding">
                                    <h2>Move Size</h2> {{vm.request.move_size.value}}
                                    <span ng-if="vm.request.move_size.raw == 11"
                                          class="texttip">{{vm.request.rooms.raw | rooms}}</span>
                                    <span ng-if="vm.request.move_size.raw == 11"
                                          class="texttip">{{vm.commercialWeight.explanation}}</span>


                                </div>
                                <!-- Don't Show Flat Rate if 0 give more option to companies play with rates-->
                                <div id="flat-rate-reservation-page-transpartation" class="stat_row row nopadding" ng-hide="vm.calculateFlatRateTotal() == 0">
                                    <span ng-if="!!vm.flat_rate_quote_value" class="totalDetail"><b>Transportation / Labor</b>   ${{vm.flat_rate_quote_value | number: 2}}</span>
                                    <span ng-if="!!vm.fuelSurcharge" class="totalDetail"><b>Fuel surcharge</b>   ${{vm.fuelSurcharge | number: 2}}</span>
                                    <span ng-if="!!vm.flatRateServicesTotal" class="totalDetail"><b>Additional Services Total</b>   ${{vm.flatRateServicesTotal | number: 2}}</span>
                                    <span ng-if="!!vm.flatRatePackingTotal" class="totalDetail"><b>Packing Total</b>   ${{vm.flatRatePackingTotal | number: 2}}</span>
                                    <span ng-if="!!vm.valuationCharge" class="totalDetail"><b>Valuation</b>   ${{vm.valuationCharge | number: 2}}</span>
                                    <span ng-if="!!vm.flatRateDiscount" class="totalDetail"><b>Discount</b>   -${{vm.flatRateDiscount | number: 2}}</span>
                                    <h2>Flat Rate</h2> ${{::vm.calculateFlatRateTotal() | number:2 }}
                                </div>
                                <div class="stat_row row nopadding" ng-show="vm.deposit">
                                    <h2>Paid Deposit</h2>
                                    <span class="grand-total">${{ vm.deposit | number: 2 }}</span>
                                </div>
                                <div id="flat-rate-reservation-page-explanation-quote" class="col-md-12 nopadding">
                                    <p class="quote_note"
                                       ng-if="!vm.flatOptionText"
                                       read-more
                                       textforshow="vm.quote_note"></p>
                                    <p class="quote_note"
                                       ng-if="vm.flatOptionText"
                                       read-more
                                       textforshow="vm.flatOptionText"></p>
                                </div>

                            </div>

                            <div ng-hide="vm.request.service_type.raw == 5" class="col-md-12 explanation_quote_wrapper" ng-bind-html="vm.quote_note"></div>

                            <custom-blocks ng-if="!vm.additionalBloks.length"
                                           class="col-xs-12 reservation-page-custom-block-wrapper"
                                           request="vm.request"></custom-blocks>
                            <general-blocks ng-if="vm.request"
                                            class="col-xs-12 reservation-page-general-block-wrapper"
                                            request="vm.request"></general-blocks>

                            <div class="col-md-12 explanation_quote_wrapper">
                                <div ng-repeat="addBlock in vm.additionalBloks">
                                    <h2 class="btitle" ng-bind-html="addBlock.title"></h2>
                                    <div class="stat_row row nopadding" ng-bind-html="addBlock.text"></div>
                                </div>
                            </div>

                            <!-- valuation -->
                            <ng-include
                                    src="'app/requestpage/templates/reservation_page/valuation-reservation.html?4'"></ng-include>
                            <!-- extraservices -->
                            <ng-include
                                    src="'app/requestpage/templates/reservation_page/extraservices.html'"></ng-include>
                            <!-- additional block -->
                            <ng-include
                                    src="'app/requestpage/templates/reservation_page/additional-block.html'"></ng-include>
                            <!-- PACKINGS -->
                            <ng-include src="'app/requestpage/templates/reservation_page/packings.html'"></ng-include>
                            <!-- Details -->
                            <ng-include
                                    src="'app/requestpage/templates/reservation_page/details-block.html?3'"></ng-include>

                            <notes-directive request-note="vm.request" admin="vm.admin" is-foreman="vm.isForeman"></notes-directive>

                            <!-- Payment BLock -->
                            <ng-include src="'app/requestpage/templates/payment_block.html?4'"></ng-include>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
