<div id="reviews-moveboard" class="modal-body form-horizontal cusermodal-custom_block">
    <div class="tab-content">
        <div id="review_settings">
            <div class="stars">
                <div ng-bind-html="welcomeTitle"></div>
                <div class="stars-mark"  ng-class="{disabled: allowSendReview}">
                    <i class="star_setting"
                       ng-repeat="star in stars"
                       ng-click="changeMark(star.index)"
                       ng-class="{'fa fa-star-o': !star.selected, 'fa fa-star': star.selected}"></i>
                </div>
            </div>
            <div class="days-to-reminder">
                <div class="calculator">
                    <div class="sizeset chat-widget">
                        <div text-angular ng-model="reviewRequest"
                             placeholder="Describe your experience."
                             ng-class="{disabled: allowSendReview}"
                             ta-toolbar="[]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-class="{disabled: allowSendReview}" ng-click="apply()">Submit</button>
    </div>
</div>