<div id="reviews-moveboard" class="modal-body form-horizontal cusermodal-custom_block">
    <div ng-show="busy" class="busyoverlay">
        <div class="sk-cube-grid" style="margin-top: 50%;">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <div class="tab-content">
        <div class="pull-right">
            <i class="fa fa-times fa-2x close-review-window" aria-hidden="true" ng-click="cancel()"></i>
        </div>
        <div id="review_settings" ng-bind-html="failText"></div>
        <div class="fail-explanation" ng-show="emailReview">
            <h3>How can we make our work better?</h3>
            <div class="days-to-reminder">
                <div class="calculator">
                    <div class="sizeset chat-widget">
                        <div text-angular ng-model="claimReview"
                             ta-toolbar="[]"></div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="updateReview()">Send ans close</button>
        </div>
    </div>
</div>