<section id="main-content container" class="invoice-page" ng-controller="StorageTenantController as vm">
    <div class="busyoverlay" ng-show="vm.busy">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <div class="">
        <div class="container invoice-page" ng-hide="vm.busy" print-section>
            <style>
                .invoice-page {
                    padding-top: 20px;
                }

                .invoice-box {
                    font-size: 14px;
                    max-width: 800px;
                    margin: auto;
                    padding: 30px;
                    border: 1px solid #eee;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
                    line-height: 24px;
                    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                    color: #555;
                    background: white;
                    margin-bottom: 45px
                }

                .payment_box {
                    max-width: 800px;
                    margin: auto;
                    text-align: center;
                }

                .invoice-box table {
                    width: 100%;
                    line-height: inherit;
                    text-align: left;
                }

                .invoice-box table td ,.invoice-box table  th{
                    padding: 5px;
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.top table td.title {
                    font-size: 45px;
                    line-height: 45px;
                    color: #333;
                }

                .invoice-box table tr.information table td {
                    padding-bottom: 40px;
                }

                .invoice-box table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                    font-size: 13px;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.item td {
                    border-bottom: 1px solid #eee;
                }

                .invoice-box table tr.item.last td {
                    border-bottom: none;
                }

                .invoice-box table tr.total td:nth-child(2) {
                    border-top: 2px solid #eee;
                    font-weight: bold;
                }

                .invoice-block-checkmark {
                    width: 55px;
                    display: block;
                    margin: auto;
                }

                .invoice-checkmark {
                    position: relative;
                    font-size: 35px;
                    cursor: pointer;
                }

                .checkmark-selected {
                    color: #39cc39;
                    -webkit-text-stroke: 1px #16af16;
                }

                .checkmark-disable {
                    color: #d8d8d8;
                    -webkit-text-stroke: 1px #a2a2a2;
                }

                .invoice-ckeck-icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(150%);
                }

                @media only screen and (max-width: 600px) {
                    .invoice-box table tr.top table td {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }

                    .invoice-box table tr.information table td {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }

                .invoice-float-right {
                    float: right;
                }

                .invoice-onright {
                    text-align: right;
                }

                .invoice-menu {
                    max-width: 800px;
                    margin: auto;
                }

                .show-up {
                    background-color: #e5e5e5;
                    border: solid 1px #c7c7c7;
                    padding: 2px 15px;
                }

                .font-normal {
                    font-weight: normal;
                }

                .green-btn {
                    background: #39cc39;
                    border-color: #16af16;
                }

                .info-invoice-table td {
                    padding: 0px 5px !important;
                }

                .cc-icon {
                    background: url('content/cc-icon-sprite.png') no-repeat top left;
                    display: inline-block;
                    height: 20px;
                    margin-left: 5px;
                    margin-top: 5px;
                    width: 32px;
                }

                .cc-icon.cc-icon-visa {
                    background-position: 0 -522px;
                }

                .cc-icon.cc-icon-mastercard {
                    background-position: 0 -348px;
                }

                .cc-icon.cc-icon-discover {
                    background-position: 0 -174px;
                }

                .cc-icon.cc-icon-amex {
                    background-position: 0 0;
                }
            </style>
            <div class="invoice-box" ng-if="!vm.storage_notavalable">
                <div class="notification-page notification-error">
                    <h3>This storage tenant is not available.</h3>
                    Please contact the account administrator for more information.
                </div>
            </div>

            <div class="invoice-menu">
                <div class="title-inoice" style="display: inline-block">
                    <h2 class="title" style=" margin: 0px;margin-bottom: 25px;">Storage statement: #{{vm.storageTenant.id}}</h2>
                </div>
                <div print-hide
                     class="button-panel"
                     style="display: inline-block;text-align: right;float: right;"
                     data-ng-show="vm.storageTenantTotalBalance() < 0">
                    <a style="margin-right: 20px;" ng-click="vm.storagePayment();"
                       id="online-payment-button"
                       class="button green-btn"> Pay Online </a>
                    <a id=""
                       href="javascript:void(0)"
                       class="button  narrow pill-right"
                       print-btn
                       style=""> Print </a>
                </div>
                <div print-hide class="button-panel" style="display: inline-block;text-align: right;float: right; margin-right: 20px;margin-top: -5px;">
                    <span class="cc-icon  cc-icon-visa float_left" title="visa"></span>
                    <span class="cc-icon  cc-icon-mastercard float_left" title="mastercard"></span>
                    <span class="cc-icon  cc-icon-discover float_left" title="discover"></span>
                    <span class="cc-icon  cc-icon-amex float_left" title="amex"></span>
                </div>
            </div>
            <div ng-if="vm.storage_notavalable" class="invoice-box">
                <img ng-if="vm.storageTenantTotalBalance() >= 0" src="content/paid_stamp_2.png" style="    position: absolute;z-index: 1;left: 30%;">
                <table cellpadding="0" cellspacing="0">
                    <tr class="top">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td>
                                        {{::vm.basicSettings.company_name}}<br>
                                        {{::vm.basicSettings.company_address}}<br>
                                    </td>
                                    <td style="text-align: right;">
                                        <img ng-src="{{::vm.basicSettings.company_logo_url}}">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="information">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td>
                                        {{:: vm.storageTenant.user_info.name}}<br>
                                        <span ng-if="vm.storageTenant.user_info.address">{{:: vm.storageTenant.user_info.address}}<br></span>
                                        {{:: vm.storageTenant.user_info.city}} {{:: vm.storageTenant.user_info.state}}   {{:: vm.storageTenant.user_info.zip}}
                                    </td>
                                    <td>
                                        <table class="info-invoice-table" style="width: 290px;float: right;">
                                            <tr>
                                                <th class="font-normal" >Storage statement #</th>
                                                <td class="nopadding">{{:: vm.storageTenant.id}}</td>
                                            </tr>
                                            <tr>
                                                <th class="font-normal">Storage statement date</th>
                                                <td class="nopadding">{{:: vm.dateFormatter(vm.storageTenant.rentals.moved_in_date)}}</td>
                                            </tr>
                                            <tr class="show-up">
                                                <td colspan="2">
                                                    <span><b>Balance Due (USD)</b></span>
                                                    <span class="pull-right">{{vm.storageTenantTotalBalance() | currency: currencySymbol}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <cc-ledger request="vm.storageTenant"></cc-ledger>
                        </td>
                    </tr>
                    <tr class="total-due" ng-if="vm.storageTenantTotalBalance() < 0">
                        <td></td>
                        <td>
                            <table style="width: 252px;float: right;">
                                <tr class="show-up">
                                    <th>Total Balance Due (USD)</th>
                                    <td class="nopadding">{{vm.storageTenantTotalBalance() | currency: currencySymbol}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="vm.storage_notavalable" class="payment_box" print-hide>
                <a ng-click="vm.storagePayment();" ng-if="vm.storageTenantTotalBalance() < 0" style="font-size: 15px;padding: 15px 55px;" id="online-payment-button" class="button green-btn"> Pay Online </a>
                <div style="margin-top: 20px;"  ng-if="vm.storageTenantTotalBalance() < 0">
                    <span class="cc-icon  cc-icon-visa " title="visa"></span>
                    <span class="cc-icon  cc-icon-mastercard " title="mastercard"></span>
                    <span class="cc-icon  cc-icon-discover " title="discover"></span>
                    <span class="cc-icon  cc-icon-amex " title="amex"></span>
                </div>
            </div>

        </div>


    </div>
</section>
