<section id="main-content" class="animated fadeInRight">
    <div ng-show="busy" style="position: absolute;margin-top: 10px;">
        <svg class="spinner" width="15px" height="15px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="row" ng-class="{'disabled': busy}">
        <div class="col-md-12">
            <div class="ibox-content">
                <div class="ibox-title">
                    <h2 class="font-bold no-margins">Your unused coupons</h2>
                </div>
                <div class="">
                    <div class="col-md-6" ng-repeat="coupon in vm.unusedCoupons" style="margin-bottom: 15px;">
                        <div id="preview-coupon">
                            <div class="coupon">
                                <div class="row" style="margin-bottom: auto; margin-top: 10px;">
                                    <div class="col-md-12">
                                        <h3><i class="fa fa-tag" aria-hidden="true" style="transform: rotate(90deg);color: #4E901A;"></i>
                                            ${{coupon.total | number : 2}} for ${{coupon.discount | number : 2}} Deal at
                                            {{::vm.basicSettings.company_name}}
                                        </h3>
                                        <div class="row info-table">
                                            <div class="col-md-4 vertical-line">
                                                <div class="title-preview">Reg.Price</div>
                                                <h4>${{coupon.discount | number : 2}}</h4>
                                            </div>
                                            <div class="col-md-4 vertical-line">
                                                <div class="title-preview">Discount</div>
                                                <h4>%{{100 - (100*coupon.total/coupon.discount || 0)| number : 2}}</h4>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="title-preview">Savings</div>
                                                <h4>${{coupon.discount - coupon.total | number : 2}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h4><i class="fa fa-user" aria-hidden="true"></i> Customer name: {{::vm.request.name}}</h4>
                                        </div>
                                        <div class="row">
                                            <h4><i class="fa fa-ticket" aria-hidden="true"></i> Claim code: {{coupon.promo}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
