<div class="modal-header gray">
  <span class="reqheader" style="display:none">Request# {{request.nid}} | </span>  <span class="client"><i class="icon-user"></i> {{request.name}}</span> | <span class="email"><i class="fa fa-fw fa-envelope-o"></i> {{request.email}}</span> | <span class="phone"><i class="icon-screen-smartphone"></i> {{request.phone | tel}} </span> | <span class="hstatus"><i class="icon-flag"></i> {{request.status.value}} </span>

    <div class="actions pull-right">
         <i class="icon-calculator"> </i>
         <span class="switchery-calc" ng-class="{'on':request.field_usecalculator.value , 'off' :!request.field_usecalculator.value}">
                 <small></small>
         </span>
                         <i modal-toggle="" nid="{{request.nid}}" class="fa fa-chevron-down"></i>
   <button type="button" class="close" ng-click="cancel()">&times;</button>
                </div>

</div>
<div class="modal-header tab-wrappe request-top-nav">

    <ul class="nav nav-tabs">

                            <li  ng-class="{active: tabs[0].selected}" heading="{{tabs[0].name}}" class="ng-isolate-scope">
                                 <a href="" ng-click="select(tabs[0])">{{tabs[0].name}}</a>
                            </li>
                            <li ng-show="request.serviceType.raw == 5" ng-class="{active: tabs[6].selected}" heading="{{tabs[6].name}}" class="ng-isolate-scope">
                                 <a href="" ng-click="select(tabs[6])">{{tabs[6].name}}</a>
                            </li>
                            <li  ng-class="{active: tabs[1].selected}" heading="{{tabs[1].name}}" class="ng-isolate-scope">
                                 <span ng-show="request.inventory.inventory_list.length" class="inventoryfill"><i class="fa fa-bolt"></i>{{request.inventory_weight.cfs}}</span>
                                 <a href="" ng-click="select(tabs[1])">{{tabs[1].name}}</a>
                            </li>
                            <li  ng-class="{active: tabs[2].selected}" heading="{{tabs[2].name}}" class="ng-isolate-scope">
                                 <a href="" ng-click="select(tabs[2])">{{tabs[2].name}}</a>
                            </li>
        <li  ng-class="{active: tabs[3].selected}" heading="{{tabs[3].name}}" class="ng-isolate-scope">
                                 <a href="" ng-click="select(tabs[3])">{{tabs[3].name}}</a>
                            </li>
        <li  ng-class="{active: tabs[4].selected}" heading="{{tabs[4].name}}" class="ng-isolate-scope">
                                 <a href="" ng-click="select(tabs[4])">{{tabs[4].name}}</a>
                            </li>
          <li  ng-class="{active: tabs[5].selected}" heading="{{tabs[5].name}}" class="ng-isolate-scope">
                                 <a href="" ng-click="select(tabs[5])">{{tabs[5].name}}</a>
                            </li>

                         <li  ng-class="{active: tabs[7].selected}" heading="{{tabs[7].name}}" class="ng-isolate-scope">
                                 <a href="" ng-click="select(tabs[7])">{{tabs[7].name}}</a>
                            </li>


      </ul>

</div>



        <div class="tab-wrappe">
          <div class="tab-content">

               <div class="tab-pane" ng-class="{active: tabs[0].selected}" >

                            <div  ng-include="tabs[0].url"></div>

                </div>
                <div  class="tab-pane" ng-class="{active: tabs[6].selected}" >

                            <div  ng-include="tabs[6].url"></div>

                </div>
               <div class="tab-pane" ng-class="{active: tabs[1].selected}" >

                            <div  ng-include="tabs[1].url"></div>

                </div>
               <div class="tab-pane" ng-class="{active: tabs[2].selected}" >

                            <div  ng-include="tabs[2].url"></div>

                </div>
               <div class="tab-pane" ng-class="{active: tabs[3].selected}" >

                            <div  ng-include="tabs[3].url"></div>

                </div>
               <div class="tab-pane" ng-class="{active: tabs[4].selected}" >

                            <div  ng-include="tabs[4].url"></div>

                </div>
               <div class="tab-pane" ng-class="{active: tabs[5].selected}" >

                            <div  ng-include="tabs[5].url"></div>

                </div>

              <div class="tab-pane animated fadeInRight" ng-class="{active: tabs[7].selected}" >

                            <div  ng-include="tabs[7].url"></div>

                </div>



           </div>

      </div>
</div>

