<section id="main-content" style="min-height:400px" ng-controller="InventoriesController as vm" ng-init="vm.init(request)"
    class="animated fadeInRight">
    <div class="row ">
        <div class="col-md-12">
            <div class="busyoverlay" ng-show="vm.busy">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>

            <div ng-show="!vm.busy" list-inventories listInventories="vm.listInventories" rooms="vm.rooms"></div>
            <div ng-if="vm.request.field_request_settings.inventoryVersion == 2" inventory-table entity-id="vm.request.nid"></div>

			<div ng-if="vm.request.field_request_settings.inventoryVersion != 2">
				<div list-new-inventories listInventories="vm.listInventories" ng-if="vm.rooms" rooms="vm.rooms" save-list-inventories="vm.saveListInventories"></div>

				<div list-inventories listInventories="vm.listInventories" rooms="vm.rooms"></div>
			</div>

            <div class="col-md-12" ng-if="vm.request.field_request_settings.inventoryVersion != 2">
                <button id="save-inventory" class="btn-inv-default save-inventory" ng-class="{'disabled':vm.busyInventory}" ng-click="vm.saveListInventories()">Save Inventory</button>
            </div>
        </div>
    </div>
</section>
