<div class="sidebar-profile">
    <div class="avatar">
        <img class="img-circle profile-image" src="img/profile.jpg">
        <i class="on border-dark animated bounceIn"></i>
    </div>
    <div class="profile-body dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>Mike Adams <span class="caret"></span></h4></a>
        <small class="title">Front-end Developer</small>
        <ul class="dropdown-menu animated fadeInRight" role="menu">
            <li class="profile-progress">
                <h5>
                <span>80%</span>
                  <small>Profile complete</small>
                </h5>
                <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-primary" style="width: 80%">
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon"><i class="fa fa-user"></i>
                                </span>My Account</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon"><i class="fa fa-envelope"></i>
                                </span>Messages</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon"><i class="fa fa-cog"></i>
                                </span>Settings</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);">
                    <span class="icon"><i class="fa fa-sign-out"></i>
                    </span>Logout</a>
            </li>
        </ul>
    </div>
</div>
<nav>
    <h5 class="sidebar-header">Navigation</h5>
    <!-- location directive.js | data-nav-toggle-sub maps to -->
    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
        <li class="nav-dropdown" ng-class="{active: $state.includes('tables')}">
            <a href="" title="Tables">
                <i class="fa  fa-fw fa-th-list"></i> Requests
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('requests')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="requests" title="Basic">Basic
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="tables.data" title="Data Tables">Confirmed Requests
                   </a>
                </li>
            </ul>
        </li>
        
        
        <li ui-sref-active="active">
            <a href="" ui-sref="index" title="Dashboard">
                <i class="fa fa-fw fa-tachometer"></i> Dashboard
            </a>
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('ui')}">
            <a href="" title="UI Elements">
                <i class="fa  fa-fw fa-cogs"></i> UI Elements
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('ui')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="ui.buttons" title="Buttons">Buttons
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.sliders-progress" title="Sliders &amp; Progress">Sliders &amp; Progress
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.modals-popups" title="Modals &amp; Popups">Modals &amp; Popups
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.tabs-accordions" title="Tabs &amp; Accordions">Tabs &amp; Accordions
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.alerts-notifications" title="Alerts &amp; Notifications">Alerts &amp; Notifications
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.nestable-lists" title="Nestable &amp; Lists">Nestable Lists
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.panels" title="Panels">Panels
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.icons" title="Icons">Icons</a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="ui.typography" title="Typography">Typography</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('forms')}">
            <a href="" title="Forms">
                <i class="fa  fa-fw fa-edit"></i> Forms
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('forms')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="forms.components" title="Components">Components
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="forms.validation" title="Validation">Validation
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="forms.mask" title="Mask">Mask
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="forms.wizard.step_one" title="Wizard">Wizard
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="forms.multi-upload" title="Multiple File Upload">Multiple File Upload
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="forms.wysiwyg" title="WYSIWYG Editors">WYSIWYG Editors
                   </a>
                </li>
            </ul>
        </li>
        
        <li class="nav-dropdown" ng-class="{active: $state.includes('charts')}">
            <a href="" title="Charts">
                <i class="fa  fa-fw fa-bar-chart-o"></i> Charts
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('charts')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="charts.chartjs" title="Chart.js">Chart.js
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="charts.c3" title="C3 Charts">C3 Charts
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="charts.morris" title="Morris.js Charts">Morris.js Charts
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="charts.sparkline" title="Sparkline Charts">Sparkline Charts
                   </a>
                </li>
            </ul>
        </li>
            <li class="nav-dropdown" ng-class="{active: $state.includes('mail')}">
            <a href="" title="mail">
                <i class="fa fa-fw fa-envelope-o"></i> Mail
                 <span class="label label-primary label-circle pull-right">8</span>
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('mail')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="mail.inbox" title="Mail Inbox">Inbox
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="mail.compose" title="Mail Compose">Compose Mail
                   </a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('maps')}">
            <a href="" title="maps">
                <i class="fa  fa-fw fa-map-marker"></i> Maps
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('maps')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="maps.google" title="Google Maps">Google Maps
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="maps.vector" title="Vector Maps">Vector Maps
                   </a>
                </li>
            </ul>
        </li>
        <li ui-sref-active="active">
            <a href="../Frontend/" title="Front-end Theme">
                <i class="fa  fa-fw fa-desktop"></i> Front-end Theme<span class="pull-right badge badge-danger">new</span>
            </a>
        </li>
        <li class="nav-dropdown" ng-class="{active: $state.includes('pages')}">
            <a href="" title="pages">
                <i class="fa  fa-fw fa-file-text"></i> Pages
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('pages')}">
                <li ui-sref-active="active">
                    <a href="" ui-sref="pages.blank" title="Blank Page">Blank Page
                   </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;" ui-sref="pages.profile" title="Profile">Profile
                   </a>
                </li>
                <li><a href="pages-sign-in.html">Sign In</a>
                </li>
                <li><a href="pages-sign-up.html">Sign Up</a>
                </li>
                <li><a href="pages-locked-screen.html">Locked Screen</a>
                </li>
                <li><a href="pages-404.html">404 Page</a>
                </li>
                <li><a href="pages-500.html">500 Page</a>
                </li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" title="Menu Levels">
                <i class="fa  fa-fw fa-folder-open"></i> Menu Levels
            </a>
            <ul class="nav-sub">
                <li>
                    <a href="javascript:;" title="Level 2.1">
                        <i class="fa fa-fw fa-file"></i> Level 1.1
                    </a>
                </li>
                <li>
                    <a href="javascript:;" title="Level 2.2">
                        <i class="fa fa-fw fa-file"></i> Level 1.2
                    </a>
                </li>
                <li class="nav-dropdown">
                    <a href="#" title="Level 2.3">
                        <i class="fa fa-fw fa-folder-open"></i> Level 1.3
                    </a>
                    <ul class="nav-sub">
                        <li>
                            <a href="javascript:;" title="Level 3.1">
                                <i class="fa fa-fw fa-file"></i> Level 2.1
                            </a>
                        </li>
                        <li class="nav-dropdown">
                            <a href="#" title="Level 3.2">
                                <i class="fa fa-fw fa-folder-open"></i> Level 2.2
                            </a>
                            <ul class="nav-sub">
                                <li>
                                    <a href="javascript:;" title="Level 4.1">
                                        <i class="fa fa-fw fa-file"></i> Level 3.1
                                    </a>
                                </li>
                                <li class="nav-dropdown">
                                    <a href="#" title="Level 4.2">
                                        <i class="fa fa-fw fa-folder-open"></i> Level 3.2
                                    </a>
                                    <ul class="nav-sub">
                                        <li class="nav-dropdown">
                                            <a href="#" title="Level 5.1">
                                                <i class="fa fa-fw fa-folder-open"></i> Level 4.1
                                            </a>
                                            <ul class="nav-sub">
                                                <li>
                                                    <a href="javascript:;" title="Level 6.1">
                                                        <i class="fa fa-fw fa-file"></i> Level 5.1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" title="Level 6.2">
                                                        <i class="fa fa-fw fa-file"></i> Level 5.2
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;" title="Level 5.2">
                                                <i class="fa fa-fw fa-file"></i> Level 4.2
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" title="Level 5.3">
                                                <i class="fa fa-fw fa-file"></i> Level 4.3
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
        <li ui-sref-active="active">
            <a href="javascript:;" ui-sref="animations" title="Animations">
                <i class="fa  fa-fw fa-magic"></i> CSS Animations
            </a>
        </li>
    </ul>
</nav>
<h5 class="sidebar-header">Account Settings</h5>
<div class="setting-list">
    <div class="row">
        <div class="col-xs-8">
            <label for="checkOne" class="control-label">Share your status</label>
        </div>
        <div class="col-xs-4">
            <input type="checkbox" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="checkOne" checked id="checkOne" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <label for="checkTwo" class="control-label">Push Notifications</label>
        </div>
        <div class="col-xs-4">
            <input type="checkbox" class="js-switch" ui-switch="{size: 'small',color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="checkTwo" id="checkTwo" />
        </div>
    </div>
</div>
