<div class="pageheader">
                <h1>Requests</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Requests</a>
                        </li>
                        <li class="active">All Requests</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInRight">
                  <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Borderless Table</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <table class="table">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Username</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                    </tr>
                                    <tr>
                                      <td>2</td>
                                      <td>Jacob</td>
                                      <td>Thornton</td>
                                      <td>@fat</td>
                                    </tr>
                                    <tr>
                                      <td>3</td>
                                      <td>Larry</td>
                                      <td>the Bird</td>
                                      <td>@twitter</td>
                                    </tr>
                                  </tbody>
                                </table>
             
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                           <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Striped rows</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>Username</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>Mark</td>
                                  <td>Otto</td>
                                  <td>@mdo</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Jacob</td>
                                  <td>Thornton</td>
                                  <td>@fat</td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>Larry</td>
                                  <td>the Bird</td>
                                  <td>@twitter</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Bordered table</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                              <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Username</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td rowspan="2">1</td>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                    </tr>
                                    <tr>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@TwBootstrap</td>
                                    </tr>
                                    <tr>
                                      <td>2</td>
                                      <td>Jacob</td>
                                      <td>Thornton</td>
                                      <td>@fat</td>
                                    </tr>
                                    <tr>
                                      <td>3</td>
                                      <td colspan="2">Larry the Bird</td>
                                      <td>@twitter</td>
                                    </tr>
                                  </tbody>
                                </table>
             
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                           <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Hover rows</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td colspan="2">Larry the Bird</td>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                        </table>
                          </div>
                        </div>
                    </div>
                </div>


                   <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Condensed table</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <table class="table table-condensed">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Username</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                    </tr>
                                    <tr>
                                      <td>2</td>
                                      <td>Jacob</td>
                                      <td>Thornton</td>
                                      <td>@fat</td>
                                    </tr>
                                    <tr>
                                      <td>3</td>
                                      <td colspan="2">Larry the Bird</td>
                                      <td>@twitter</td>
                                    </tr>
                                  </tbody>
                                </table>
             
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                           <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Contextual classes</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
              
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Column heading</th>
                                  <th>Column heading</th>
                                  <th>Column heading</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="active">
                                  <td>1</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                                <tr class="success">
                                  <td>3</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                                <tr>
                                  <td>4</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                                <tr class="info">
                                  <td>5</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                                <tr>
                                  <td>6</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                                <tr class="warning">
                                  <td>7</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                                <tr>
                                  <td>8</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                                <tr class="danger">
                                  <td>9</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                  <td>Column content</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>

                  <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Responsive table</h3>
                            <div class="actions pull-right">
                            <i data-fullscreen-widget class="fa fa-expand"></i>
                                <i data-widget-toggle class="fa fa-chevron-down"></i>
                                <i data-widget-close class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">

                            <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>1</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                    </div>
                </div>
               </div>
             </div>

              </section>