<div class="header">
    <h2>Missed Reminders</h2>
</div>
<div class="title" ng-if="upcoming.length">Upcoming</div>
<div ng-repeat="reminder in $ctrl.reminders | upcoming:true as upcoming">
    <div class="reminder">
        <reminder-min reminder="reminder" ng-click="$ctrl.openDialog(reminder)"></reminder-min>
    </div>
</div>
<div class="title" ng-if="expired.length">Past</div>
<div ng-repeat="reminder in $ctrl.reminders | upcoming | filter:$ctrl.filter as expired">
    <div class="reminder">
        <reminder-min reminder="reminder" ng-click="$ctrl.openDialog(reminder)"></reminder-min>
    </div>
</div>
<span ng-if="expired.length === 0 && $ctrl.filter" ng-init="$ctrl.done()"></span>
<div class="no-data" ng-if="$ctrl.reminders.length == 0">
    <h3>There are no reminders for this request</h3>
</div>
