.updater-wrapper
	.row
		line-height 2.4em
	&__switcher
		margin-top -40px
		margin-bottom 20px
		font-size 12px
	&__updater-input
		width 90% !important
	&__input-display
		display none
	span.switchery.switchery-small
		margin 0 1em
