include ../../../../../default.pug

+b('section').updater-wrapper
	.panel-body.minimal
		.updater-settings
			.form-goup.row
				label.col-sm-2 Enable
				.col-sm-10
					+e('input').input-display.js-switch(type='checkbox', ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}", ng-model='updaterIsOn', data-switchery='true')
			.form-goup.row(ng-class="{'disabled': !updaterIsOn}")
				label.col-sm-2 Token
				.col-sm-10
					+e('input').updater-input.form-element.form-control(ng-model-options="{ updateOn: 'blur' }", ng-model='updaterToken')
			button.btn.btn-primary.pull-right(ng-click='saveUpdaterSettings()') Save
