.home-estimate
  &-info-block
    position relative
    height 70px
    border-bottom 1px solid #CCCCCC
    background-color white
    padding-top 10px
    padding-bottom 10px
    label
      color #737373
      line-height 12px
      font-weight 400
      font-family "Open sans"
      font-size 10px
      letter-spacing 0;
      text-transform capitalize
      text-align center
      width 100%
      margin 0
      padding 0 0 0 5px
    .field-prefix
      display table-cell
      position absolute
      color #989898
      margin-left 0
      margint-top 0
      padding 5px
      line-height 15px
      border-right none
      border-top-right-radius 0
      border-bottom-right-radius 0
    .md
      margin-left 30px
      padding-left 5px
    .ui-datepicker-trigger
      display none
    &-date
      width 110px
      .date-input
        width 110px
        outline none
        margin-left 0
        padding 0
        height 24px
    &-start-time-window
      width 175px
      input
        width 60px
        &.second-time
          width 65px
          padding-left 5px
    &-duration
      input
        width 45px
    &-assigned-by
      font-size 10px
      font-weight 600
      color #565a5c
      width 140px
      text-align center
      .assign-manager-info
        padding: 0 10px;
      .create-date-info
        font-weight 400
        padding: 0 10px;
    &-status
      font-size 12.75px
      select
        margin-top 7px
        border 1px solid #C4C4C4
        border-radius 0
        background #FFFFFF
        color #565A5C
        font-family "Open sans"
