<div class="home-estimate-info-block col-md-12 col-xs-12">
    <div class="form-item home-estimate-info-block-date col-md-1 col-xs-1 nopadding">
        <label>In-home Estimate Date</label>
        <elromco-field-date-picker field="request.home_estimate_date" on-update-message="updateMessage" on-remove-message="removeMessage" cur-date="curDate"></elromco-field-date-picker>
    </div>

    <div class="form-item home-estimate-info-block-start-time-window col-md-1 col-xs-1 nopadding">
        <label for="home-estimate-start-time">Start Time Window</label>
        <span class="field-prefix">
            <span class="flaticon-calendar68"></span>
        </span>
        <input elromco-start-time-field field="request.home_estimate_actual_start" on-update-message="updateMessage" on-remove-message="removeMessage" type="text" id="home-estimate-start-time" size="60" maxlength="128" class="md" autocomplete="off" ng-model="request.home_estimate_actual_start.value"> -
        <input elromco-start-time-field field="request.home_estimate_start_time" on-update-message="updateMessage" on-remove-message="removeMessage" maxlength="128" class="second-time" autocomplete="off" ng-model="request.home_estimate_start_time.value">
    </div>

    <div class="form-item home-estimate-info-block-duration col-md-1 col-xs-1 nopadding">
        <label for="home-estimate-duration">Duration</label>
        <span class="field-prefix">
            <span class="flaticon-calendar68"></span>
        </span>
        <input elromco-time-duration-field on-update-message="updateMessage" on-remove-message="removeMessage" id="home-estimate-duration" field="request.home_estimate_time_duration" size="60" ng-model="request.home_estimate_time_duration.value" maxlength="128" class="md" autocomplete="off">
    </div>

    <div class="form-item home-estimate-info-block-assigned-by col-md-1 col-xs-1 nopadding">
        <label>Assigned by</label>
        <div class="assign-manager-info">
            By {{assignedUserInfo}}
        </div>
        <div class="create-date-info">
            On {{createdDateInfo}}
        </div>
    </div>

    <div class="form-item home-estimate-info-block-status col-md-1 col-xs-1 nopadding">
        <label for="home-estimate-status">Status</label>
        <home-estimate-status field="request.home_estimate_status" on-update-message="updateMessage" on-remove-message="removeMessage"></home-estimate-status>
    </div>
</div>