@import "../../../style/default.styl"

.inventory-button
	position relative
	padding-x 10px
	display inline-block
	overflow hidden
	width 100%
	min-width 60px
	height 37px
	font-family geom
	line-height 35px
	text-align center
	vertical-align top
	text-decoration none
	cursor pointer
	background-color #333
	border 1px solid blue
	border-radius 3px
	outline none
	transition background-color .3s ease, border-color .3s ease
	&_custom-item-border
		border none
	// +below($desktop)
	// 	height 42px
	// 	line-height 40px

	&:hover
		background-color blue
		border-color blue

	&__text
		position relative
		font-size 13px
		color blue
		text-transform uppercase
		transition color .3s

	&__custom-item-text
		color white

	&_width_auto
		width initial
		min-width 170px
		// +below($tablet-hor)
		// 	min-width 232px

	&_style_margin
		margin-left 20px
		margin-right 20px

	&_style_transparent
		background-color transparent
		&^[0]_hover_disable
			&:hover
				background-color transparent

	&_style_transparent &__text
		color blue

	&_style_transparent
		&:hover
			& ^[0]__text
				color white
		&^[0]_hover_disable
			&:hover
				& ^[0]__text
					color white

	&_style_search
		min-width 37px
		height 37px
		background-color transparent
		border none

		&:hover
			background-color transparent
			border none

		// +below($desktop)
		// 	height 42px

		// +below($tablet-hor)
		// 	display none
	&_style_search &
		&__icon_find
			vertical-align middle


	&_style_search-result
		min-width 37px
		height 37px
		background-color transparent
		border none

		&:hover
			background-color transparent
			border none

		// +below($desktop)
		// 	height 42px

	&_style_search-result &
		&__icon_find
			vertical-align middle

	&_style_filter-search
		size 37px
		line-height normal
		background-color transparent
		border none
		&:hover
			background-color transparent
			border none

	&_style_filter-search &
		&__icon_find
			vertical-align middle

	&_style_search-close
		padding-top 7px
		display none
		min-width 37px
		height 61px
		background-color transparent
		border none
		// +below($desktop)
		// 	height 61px

		&:hover
			background-color transparent
			border none

		&:before
		&:after
			position absolute
			top 0
			right 0
			left 0
			bottom 0
			margin auto
			width 1px
			height 20px
			content ''
			background-color #000

		&:before
			transform rotate(45deg)
		&:after
			transform rotate(135deg)

		// +below($tablet-hor)
		// 	display block

	&__icon
		&_find
			width 20px
			height 20px

	&_disabled
		pointer-events none
		background-color #d9d9d9
		border-color #d9d9d9

		&:hover
			color #000
			background-color #d9d9d9
			border-color #d9d9d9

	&:disabled
		background-color #d9d9d9
		border-color #d9d9d9

		&:hover
			background-color #d9d9d9
			border-color #d9d9d9

	&:disabled &__text
		color xl-grey

	&:disabled:hover &__text
		color xl-grey

	&_style_border
		outline 1px solid #fff
