mixin inventory-button(data)
	- data = data || {}
	- data.tag = data.tag || 'button'
	- data.href = data.href || jv0
	- var classes = [];
	- var customTextStyle = data.custom ? '__custom-item-text' : '';

	if data.width
		- classes.push('_width_' + data.width);	
	if data.margin
		- classes.push('_style_margin');
	if data.custom
		- classes.push('_custom-item-border');

	if data.style
		- classes.push('_style_' + data.style);

	+b(data.tag).inventory-button(
		class=classes.join(' ')
		class=data.class
		type=data.type || false
		target=data.tag === 'a' ? data.target || '_self' : null
		href=(data.tag === 'a') ? data.href : null
		ng-click=data.ngClick || null
		ng-class=data.ngClass || null
	).js-button&attributes(attributes)
		if data.icon
			+icon(data.icon)(class='__icon_' + data.icon)
		+e('span')(class=customTextStyle).text=data.text
