<div class="legend-service-type-block">
    <div class="service-types" ng-repeat="service in serviceTypes">
        <div class="service-type-style service_type_{{service.id}}"></div>
        <div class="service-type-name">- {{service.title}}</div>
    </div>
</div>
