$localMoveColor = lightgreen
$moveAndStorageColor = rgb(255, 200, 0)
$loadingHelpColor = rgb(214, 143, 250)
$unloadingHelpColor = rgb(214, 143, 250)
$flatRateColor = rgb(238, 235, 144)
$overnightColor = rgb(241, 115, 115)
$longDistanceColor = rgb(105, 182, 248)

.legend-service-type-block
  .service-types
    display inline-table
    margin-right 10px
  .service-type-style
    display inline-block
    width 10px
    height 10px
    margin-right 3px
    &.service_type_1
      background-color $localMoveColor
    &.service_type_2
      background-color $moveAndStorageColor
    &.service_type_3
      background-color $loadingHelpColor
    &.service_type_4
      background-color $unloadingHelpColor
    &.service_type_5
      background-color $flatRateColor
    &.service_type_6
      background-color $overnightColor
    &.service_type_7
      background-color $longDistanceColor
  .service-type-name
    display inline-block
    font-size 12px
