include ../../../../../default.pug

+b.create-room
	+e.header
		+e.header-label
			h2 Room
	+e('form').content(name="createPackage")
		+e.progress
			md-progress-linear(md-mode="query" ng-show="busy")
		+e('md-input-container').input
			label Title
			input(ng-model='inventoryPackage.name' required)
		+e.controls
			+e.controls_left
				md-button.md-raised.md-warn(ng-click="remove(inventoryPackage)" ng-show="mode == 'edit'") Remove
			+e.controls_right
			md-button.md-raised(ng-click="cancel()") Close
			md-button.md-raised.md-primary( ng-show="mode == 'edit'" ng-click="create(inventoryPackage)") Update
			md-button.md-raised.md-primary( ng-show="mode != 'edit'" ng-click="create(inventoryPackage)" ng-disabled="busy") Create
