.score-filter
	padding-top 2px
	height 22px
	&__line
		font-size 12px
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		align-items center
		justify-content flex-start
		&__label
			margin-left 5px
	&__select
		margin-left 15px
		height 15px
md-input-container.score-select-container
	margin 0
	padding 0
md-select.score-select
	margin-top -5px
md-select.score-select.md-default-theme .md-select-value, md-select.score-select .md-select-value
	min-height 15px
	width 100px !important
	height 20px !important
	border 1px solid #b7b7b7
	border-radius 5px
md-select.score-select:not([disabled]):focus .md-select-value
	border-bottom: 1px solid #b7b7b7
	padding-bottom 1px


/* css style to change mini warning message upon touch */
md-input-container.score-select-container.md-input-focused:not(.md-input-has-value) md-select.score-select .md-select-value.md-select-placeholder
	border-bottom: 1px solid #b7b7b7
	padding-bottom 1px

md-switch.score-filter__switch
	margin 0 0 0 15px
	height 18px

.score-select-menu
	border-radius 5px
	margin-top 10px

.score-select-disabled
	background-color #e8e8e8
	pointer-events none
	cursor none
	border-radius 5px