.score-filter
	.score-filter__line
		md-switch.score-filter__switch(ng-model="leadScoreFilter.enabled" ng-change="getRequestsByLeadScoreFilter()")
		span.score-filter__line__label Lead Score Filter
		.score-filter__select
			md-input-container.score-select-container
				md-select.score-select(ng-model="leadScoreFilter.key" ng-class="{'score-select-disabled': !leadScoreFilter.enabled}" md-container-class="score-select-menu" ng-change="getRequestsByLeadScoreFilter()")
					md-option(ng-repeat="(key, value) in leadscoringsettings.scoring" ng-value="key") {{key | uppercase}}
