<div class="pageheader" style="min-height: 65px;" >
    <h1>Storage Aging</h1>
</div>
<div ng-show="busy">
    <div class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<section id="main-content">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Storage Tenants <b  class="pull-right" style="margin-right: 50px;">Total: ${{totalAmount | number : 2}}</b></h3>
                    <div class="row">
                        <span class="icon-refresh-payment" ng-click="refreshPage();">
                            <i class="fa fa-refresh" ng-class="{'fa-spin': busy}" ></i>
                        </span>
                    </div>
                </div>
                <div class="panel-body mdDataTable">
                    <table datatable="ng" id="agingTable" dt-options="dtOptions" ng-if="dtOptions">
                        <thead>
                        <tr>
                            <th>Customer</th>
                            <th>0-30 Days</th>
                            <th>30-60 Days</th>
                            <th>60-90 Days</th>
                            <th>90+ Days</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class=" pendingRow request" ng-repeat="(id, request) in requests" ng-click="openModal(request, id)"  ng-class="{'disabled':busy, 'active_row' : clicked == id}">
                            <td>{{request.user_info.name}}</td>
                            <td>${{request.aging.lessDays30.balance | number : 2}}</td>
                            <td>${{request.aging.lessDays60.balance | number : 2}}</td>
                            <td>${{request.aging.lessDays90.balance | number : 2}}</td>
                            <td>${{request.aging.moreDays90.balance | number : 2}}</td>
                            <td>
                                <span ng-class="{'red': getBalance(request.invoices, request.payments) < 0, 'green': getBalance(request.invoices, request.payments) > 0}">
                                    ${{getBalance(request.invoices, request.payments) | number : 2}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
