  <div class="modal-header">
       <h2>Can't Place Request</h2>
    </div>
    <div class="modal-body">
        {{reason}}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-default" ng-click="cancel()">Ok</button>

    </div>
