<div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></div>
</div>
<div ng-class="{'disabled': busy}">
    <div class="modal-header noborder">
        <div class="center dialog_content">
            <img width="100px" src="../../../../content/img/animat-essential/sign-post/animat-sign-post-color.gif" class="">
        </div>
        <h1 class="center">You haven't saved the changes!</h1>


    </div>
    <div class="modal-footer noborder">

        <button type="button" class="btn  pull-left" ng-click="cancel()">Cancel</button>

        <button type="button" class="btn btn-primary" ng-click="Apply()">
           Save & Close
        </button>
        <button type="button" class="btn btn-default" ng-click="quit()">Close without saving</button>
    </div>

</div>
  