<div>
    <div class="busyoverlay" ng-show="busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="modal-header">
        <h2>Additional Discount ( will be deducted from Grand Total) </h2>
    </div>
    <div class="modal-body col-md-12" ng-if="type != 'invoice'">

        <div class="col-md-5" >
            <h2 style="text-align: center">Money discount:</h2>
            <input cc-currency ng-model="request.request_all_data.add_money_discount" ng-change="changeDiscount('money')" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;"
                   ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">
        </div>
        <div class="col-md-2 center" >
             OR
        </div>
        <div class="col-md-5">
            <h2 style="text-align: center">% discount:</h2>
            <input cc-percent ng-model="request.request_all_data.add_percent_discount" ng-change="changeDiscount('percent')" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;"
                   ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">
        </div>

    </div>
    <div class="modal-body col-md-12" ng-if="type == 'invoice'">

        <div class="col-md-5" >
            <h2 style="text-align: center">Money discount:</h2>
            <input cc-currency ng-model="invoice.request_all_data.add_money_discount" ng-change="changeDiscount('money')" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;"
                   ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">
        </div>
        <div class="col-md-2 center" >
             OR
        </div>
        <div class="col-md-5">
            <h2 style="text-align: center">% discount:</h2>
            <input cc-percent ng-model="invoice.request_all_data.add_percent_discount" ng-change="changeDiscount('percent')" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;"
                   ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info pull-left" ng-click="openCouponModal()" data-ng-disabled="discountId || Job_Completed">
            <span ng-if="discountId">Coupon used</span>
            <span ng-if="!discountId">Use Coupon</span>
        </button>
        <span style="cursor: pointer; line-height:2.4;" class="pull-left" ng-click="removeCoupon()" ng-if="discountId">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
        <button type="button" class="btn btn-primary" ng-click="Apply()" ng-class="{'disabled':!change || Job_Completed}">Apply</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    </div>

</div>
