input.min-weight-modal-input
	float left
	margin-top 20px
	margin-bottom 0px
	width calc(100% - 40px)
	text-align center
	font-size 32px
	line-height 38px
	height 55px

.min_weight_label
	float left
	padding-left 4px
	padding-top 28px
	font-size 25px

.min_price_label
	float left
	padding-right 4px
	padding-top 28px
	font-size 25px