<div>
    <div class="modal-body col-md-12">
      <div class="row">
        <div class="col-md-offset-2 col-md-4">
              <h2 class="text-center">Minimal Volume:</h2>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Price for Minimal Volume:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-offset-1 col-md-5">
              <input ng-model="min_weight"  ng-model-options="{ updateOn: 'blur' }" class="form-element form-control min-weight-modal-input">
			  <div class="min_weight_label">cbf</div>
          </div>
          <div class="col-md-5 text-center">
			  <div class="min_price_label">$</div>
            <input ng-model="min_price"
              ng-model-options="{ updateOn: 'blur' }"
                   ng-disabled="!min_price_enabled"
              class="form-element form-control min-weight-modal-input">
              <input type="checkbox"
                     ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                     ng-model="min_price_enabled"
                     id="checkOne" data-switchery="true" style="display: none;">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="Apply()">Apply</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>