<div>
    <div class="modal-header">
        <h2>Rate Discount </h2>
    </div>
    <div class="modal-body col-md-12">

        <div style="padding-bottom: 10px;
    background: #E8E7E7;
    padding-top: 10px;
    border: 1px solid #BDBDBD;">
            <h2 style="text-align: center">Current Rate:</h2>
            <div style="text-align: center;font-size: 25px" ng-if="!localdiscount"> ${{request.rate.value}} / hour</div>
            <div style="text-align: center;font-size: 25px" ng-if="localdiscount"><span class="cross">${{ uprate | number : 0 }}/ hour</span> ${{request.rate.value}} / hour</div>
        </div>
        <div style="    margin-top: 10px;
    margin-bottom: 10px;">

                <h2 style="text-align: center">New Rate:</h2>
            <input cc-currency ng-model="request.request_all_data.add_rate_discount" ng-change="calcDiscount()" style="width: 190px;margin: 0 auto;text-align: center;font-size: 32px;line-height: 38px;height: 55px;"
                   ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">

            <div style="float: right;margin-top: -45px;
    font-size: 13px;
    text-align: center;
    width: 110px;
    margin-right: 30px;">
            <lable>Expiration Date</lable>
            <input   ng-model="request.request_all_data.add_rate_discount_expiration" style="
    border: none;
    border-bottom: 1px solid #757474;
    color: black;
        width: 125px;
    text-align: center;
    "
                     class="dateRange" cc-da-picker details="details"  data-class="regular" data-type="pickup">
            </div>
            </div>
        <div style="    background: #A9E4FF;
    padding: 10px;
    border: 1px solid #99D0FF;">
        <h2 style="text-align: center">Discount:</h2>
            <div ng-if="!request.request_all_data.add_rate_discount" style="text-align: center"> Discount not Applied</div>
            <div ng-if="request.request_all_data.add_rate_discount" style="text-align: center;font-size: 25px;">{{discount | number : 0}}% </div>
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="removeDiscount()" ng-class="{'disabled': !request.request_all_data.add_rate_discount}">Delete discount</button>
        <button type="button" class="btn btn-primary" ng-click="Apply()" ng-class="{'disabled': request.request_all_data.add_rate_discount == request.rate.value}">Apply New Rate</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    </div>

</div>
