<div>
    <div class="busyoverlay" ng-show="busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class=" gray" style="font-weight: 600;padding: 10px;">
        <h2>Request #{{request.nid}} | Salary & Commission</h2>
    </div>
    <div class="tab-wrappe request-top-nav" id="invoice">
        <ul class="nav nav-tabs">
            <li heading="{{tabs[0].name}}" class="ng-isolate-scope">
                <a href="" ng-click="select(tabs[0])"
                   ng-class="{'invoice-active-tab': tabs[0].selected}">{{tabs[0].name}}</a>
            </li>
            <li heading="{{tabs[1].name}}" class="ng-isolate-scope">
                <a href="" ng-click="select(tabs[1])" ng-class="{'invoice-active-tab': tabs[1].selected}">{{tabs[1].name}}</a>
            </li>
            <li heading="{{tabs[2].name}}" class="ng-isolate-scope">
                <a href="" ng-click="select(tabs[2])" ng-class="{'invoice-active-tab': tabs[2].selected}">{{tabs[2].name}}</a>
            </li>
        </ul>
    </div>
    <div class="tab-wrappe" id="invoice_content">
        <div class="tab-content">
            <div class="row" ng-show="tabs[1].selected">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-repeat="foremans in foreman track by $index " ng-init="foremanIndex = $index">
                                <table class="table">
                                    <thead>
                                    <tr>
                                      <th>
                                          Foreman {{$index+1}}
                                      </th>
                                      <th class="workers-salary">
                                          <select class="form-control " ng-model="selected.foreman[foremanIndex]"
                                                  ng-change="changeForemanHelper(foremanIndex, selected.foreman[foremanIndex], 'foreman')">
                                              <option value="" style="display: none;"> Select foreman</option>
                                              <option ng-repeat="(id, foreman) in workers.foreman | objToArray | orderBy: 'info.name'" value="{{foreman.info.uid}}"
                                                      ng-selected="foreman.info.uid == foremans.uid"
                                                      ng-hide="foreman.info.status != 1"
                                                      ng-disabled="isSelected(foremanIndex, foreman.info.uid, 'foreman')">
                                                  {{foreman.info.name}}
                                              </option>
                                          </select>
                                      </th>
                                      <th>
                                          For commission
                                      </th>
                                      <th>
                                          Rate
                                      </th>
                                      <th>
                                          Totals
                                      </th>
                                      <th>
                                          <span ng-click="removeWorker(foremanIndex, 'foreman')" class="remove-worker"><i
                                                  class="fa fa-times" aria-hidden="true"></i></span>
                                      </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="foreman in foremans.commissions track by $index"
                                        ng-init="rateInd = $index" ng-hide="commissionHelperForemanList[foreman.id].name == ''">
                                        <td>

                                        </td>
                                        <td class="enumeration-workers-types">
                                            <select class="form-control"
                                                    ng-class="{'has-error' : disableRate('foreman', foremanIndex, foreman.id)}"
                                                    ng-model="foreman.id"
                                                    ng-change="changeForemanHelperCommissions(foremanIndex,rateInd, foreman.id, 'foreman', foremans.uid)">
                                                <option value="" style="display: none;"> Select commission</option>
                                                <option ng-repeat="commission in commissionHelperForemanList track by $index"
                                                        value="{{$index}}"
                                                        ng-hide="commission.name == ''"
                                                        ng-selected="$index == foreman.id"
                                                        ng-disabled="isSelectedCommission(foremanIndex, $index, 'foreman')">
                                                    {{commission.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <input ng-hide="disableRate('foreman', foremanIndex,  foreman.id)"
                                                   class="form-control" worker="getWorker('foreman', foremanIndex)"
                                                   commission="enumerationTypesHelperForeman(foreman.id)"
                                                   message="msgLogCommission" ng-model="foreman.for_commission"
                                                   type="text" step="any"
                                                   ng-change="changeCommission(foremanIndex, foreman.id, rateInd, 'foreman', foreman.type)"
                                                   cc-payroll-commissions-type
                                                   type-value="enumerationCommissionsType(foreman.id, foremanIndex,'foreman')">
                                        </td>
                                        <td>
                                            <input ng-hide="disableRate('foreman', foremanIndex,  foreman.id)"
                                                   class="form-control" ng-model="foreman.rate"
                                                   type="text" step="any" worker="getWorker('foreman', foremanIndex)"
                                                   commission="enumerationTypesHelperForeman(foreman.id)"
                                                   message="msgLogRate"
                                                   ng-change="changeCommission(foremanIndex, foreman.id, rateInd, 'foreman', foreman.type)"
                                                   cc-payroll-rate-type
                                                   type-value="enumerationRateType(foreman.id, foremanIndex,'foreman')"
                                                   ng-if="foreman.id != '10' && foreman.id != '3'">
                                            <span ng-if="foreman.id == '10' ||foreman.id == '3'">{{foremans.commissions[rateInd].rate}} %</span>
                                        </td>
                                        <td>
                                                <span ng-hide="disableRate('foreman', foremanIndex,  foreman.id)">
                                                    ${{foremans.commissions[rateInd].total  | number : 2}}
                                                </span>
                                        </td>
                                        <td>
                                                <span ng-hide="disableRate('foreman', foremanIndex,  foreman.id)"
                                                      ng-click="removeCommission('foreman', foremanIndex, rateInd)"
                                                      class="pull-right">
                                                    <i class="fa fa-trash invoice-icons" aria-hidden="true"></i>
                                                </span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="custom in foremans.custom_commission track by $index">
                                        <td style="text-align: center;">
                                                <span style="font-size: 14px; cursor:pointer;"
                                                      ng-click="openCustomReceipt('foreman', foremanIndex, custom)">
                                                    <i class="icon-wallet"></i>
                                                 </span>
                                        </td>
                                        <td class="enumeration-workers-types" colspan="2">
                                            <input class="form-control" ng-model="custom.name">
                                        </td>
                                        <td colspan="2">
                                            <span ng-hide="disableRate('foreman', foremanIndex,  foreman.id)">
                                                <input cc-currency class="form-control" ng-model="custom.amount"  ng-change="calcWorkerTotal('foreman');calcEmployeesTotal();">
                                            </span>
                                        </td>
                                        <td>
                                             <span ng-hide="disableRate('foreman', foremanIndex,  foreman.id)" ng-click="removeCustomCommission('foreman', foremanIndex, $index, custom.id)" class="pull-right">
                                                <i class="fa fa-trash invoice-icons" aria-hidden="true"></i>
                                            </span>
                                            <span ng-hide="disableRate('foreman', foremanIndex,  foreman.id)" ng-click="saveCustomCommission('foreman', foremanIndex, $index, custom.id)" class="pull-right" style="margin-right: 15px;">
                                                <i class="fa fa-floppy-o invoice-icons" aria-hidden="true"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button style="margin-left: 20px;" ng-show="selected.foreman[foremanIndex]" class="btn btn-success btn-md add-worker" ng-click="addReceipt(selected.foreman[foremanIndex])">Receipt</button>
                                        </td>
                                        <td colspan="5">
                                            <button class="btn btn-update pull-right btn-commission"
                                                    ng-disabled="checkCommissions()"
                                                    ng-click="addNewCommission('foreman', foremanIndex, foremans.uid)">
                                                <i class="fa fa-plus-circle invoice-icons-add" aria-hidden="true"
                                                   ng-class="{'disable-add-commissions' : checkCommissions()}"
                                                   ng-disabled="checkCommissions()"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <label class="pull-right" ng-init="calcWorkerTotal('foreman')">
                                    ${{workersTotal.foreman | number : 2}}
                                </label>
                                <div class=" btn btn-default add-worker" ng-disabled="checkCommissions()"
                                     ng-click="addWorker('foreman')">
                                    Add
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="tabs[2].selected">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-repeat="foremans in foremanAsHelper track by $index "
                                 ng-init="foremanAsHelperIndex = $index">
                                <table class="table">
                                    <thead>
                                    <tr>
                                      <th>
                                          Helper {{$index+1}} (foreman as helper)
                                      </th>
                                      <th class="workers-salary">
                                          <select class="form-control " ng-model="selected.foremanAsHelper[foremanAsHelperIndex]"
                                                  ng-change="changeForemanHelper(foremanAsHelperIndex, selected.foreman[foremanAsHelperIndex], 'foremanAsHelper')">
                                              <option value="" style="display: none;"> Select foreman</option>
                                              <option ng-repeat="(id, foreman) in workers.foreman | objToArray | orderBy: 'info.name'" value="{{foreman.info.uid}}"
                                                      ng-selected="foreman.info.uid == foremans.uid"
                                                      ng-hide="foreman.info.status != 1"
                                                      ng-disabled="isSelected(foremanAsHelperIndex, foreman.info.uid, 'foremanAsHelper')">
                                                  {{foreman.info.name}}
                                              </option>
                                          </select>
                                      </th>
                                      <th>
                                          For commission
                                      </th>
                                      <th>
                                          Rate
                                      </th>
                                      <th>
                                          Totals
                                      </th>
                                      <th>
                                          <span ng-click="removeWorker(foremanAsHelperIndex, 'foremanAsHelper')"
                                                class="remove-worker"><i class="fa fa-times"
                                                                         aria-hidden="true"></i></span>
                                      </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="foreman in foremans.commissions track by $index"
                                        ng-init="rateInd = $index"  ng-hide="commissionHelperForemanList[foreman.id].name == ''">
                                        <td>

                                        </td>
                                        <td class="enumeration-workers-types">
                                            <select class="form-control"
                                                    ng-class="{'has-error' : disableRate('foremanAsHelper', foremanAsHelperIndex, foreman.id)}"
                                                    ng-model="foreman.id"
                                                    ng-change="changeForemanHelperCommissions(foremanAsHelperIndex,rateInd, foreman.id, 'foremanAsHelper', foremans.uid)">
                                                <option value="" style="display: none;"> Select commission</option>
                                                <option ng-repeat="commission in commissionHelperForemanList track by $index"
                                                        value="{{$index}}"
                                                        ng-hide="commission.name == ''"
                                                        ng-selected="$index == foreman.id"
                                                        ng-disabled="isSelectedCommission(foremanAsHelperIndex, $index, 'foremanAsHelper')">
                                                    {{commission.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <input ng-hide="disableRate('foremanAsHelper', foremanAsHelperIndex,  foreman.id)"
                                                   class="form-control"
                                                   worker="getWorker('foremanAsHelper', foremanAsHelperIndex)"
                                                   commission="enumerationTypesHelperForeman(foreman.id)"
                                                   message="msgLogCommission" ng-model="foreman.for_commission"
                                                   type="text" step="any"
                                                   ng-change="changeCommission(foremanAsHelperIndex, foreman.id, rateInd, 'foremanAsHelper', foreman.type)"
                                                   cc-payroll-commissions-type
                                                   type-value="enumerationCommissionsType(foreman.id, foremanAsHelperIndex,'foremanAsHelper')">
                                        </td>
                                        <td>
                                            <input ng-hide="disableRate('foremanAsHelper', foremanAsHelperIndex,  foreman.id)"
                                                   class="form-control" cc-payroll-rate-type ng-model="foreman.rate"
                                                   type="text"
                                                   worker="getWorker('foremanAsHelper', foremanAsHelperIndex)"
                                                   commission="enumerationTypesHelperForeman(foreman.id)"
                                                   message="msgLogRate" step="any"
                                                   ng-change="changeCommission(foremanAsHelperIndex, foreman.id, rateInd, 'foremanAsHelper', foreman.type)"
                                                   cc-payroll-rate-type
                                                   type-value="enumerationRateType(foreman.id, foremanAsHelperIndex,'foremanAsHelper')"
                                                   ng-if="foreman.id != '10' && foreman.id != '3'">
                                            <span ng-if="foreman.id == '10' ||foreman.id == '3'">{{foremans.commissions[rateInd].rate}} %</span>
                                        </td>
                                        <td>
                                                <span ng-hide="disableRate('foremanAsHelper', foremanAsHelperIndex,  foreman.id)">
                                                    ${{foremans.commissions[rateInd].total  | number : 2}}
                                                </span>
                                        </td>
                                        <td>
                                                <span ng-hide="disableRate('foremanAsHelper', foremanAsHelperIndex,  foreman.id)"
                                                      ng-click="removeCommission('foremanAsHelper', foremanAsHelperIndex, rateInd)"
                                                      class="pull-right">
                                                    <i class="fa fa-trash invoice-icons" aria-hidden="true"></i>
                                                </span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="custom in foremans.custom_commission track by $index">
                                        <td style="text-align: center;">
                                                <span style="font-size: 14px; cursor:pointer;"
                                                      ng-click="openCustomReceipt('foremanAsHelper', foremanAsHelperIndex, custom)">
                                                    <i class="icon-wallet"></i>
                                                 </span>
                                        </td>
                                        <td class="enumeration-workers-types" colspan="2">
                                            <input class="form-control" ng-model="custom.name">
                                        </td>
                                        <td colspan="2">
                                            <span ng-hide="disableRate('foremanAsHelper', foremanAsHelperIndex,  foreman.id)">
                                                <input cc-currency class="form-control" ng-model="custom.amount" ng-change="calcWorkerTotal('foremanAsHelper');calcEmployeesTotal();">
                                            </span>
                                        </td>
                                        <td>
                                             <span ng-hide="disableRate('foremanAsHelper', foremanAsHelperIndex,  foreman.id)" ng-click="removeCustomCommission('foremanAsHelper', foremanAsHelperIndex, $index, custom.id)" class="pull-right">
                                                <i class="fa fa-trash invoice-icons" aria-hidden="true"></i>
                                            </span>
                                            <span ng-hide="disableRate('foremanAsHelper', foremanAsHelperIndex,  foreman.id)" ng-click="saveCustomCommission('foremanAsHelper', foremanAsHelperIndex, $index, custom.id)" class="pull-right" style="margin-right: 15px;">
                                                <i class="fa fa-floppy-o invoice-icons" aria-hidden="true"></i>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button style="margin-left: 20px;" ng-show="selected.foremanAsHelper[foremanAsHelperIndex]" class="btn btn-success btn-md add-worker" ng-click="addReceipt(selected.foremanAsHelper[foremanAsHelperIndex])">Receipt</button>
                                        </td>
                                        <td colspan="5">
                                            <button class="btn btn-update pull-right btn-commission"
                                                    ng-disabled="checkCommissions()"
                                                    ng-click="addNewCommission('foremanAsHelper', foremanAsHelperIndex, foremans.uid)">
                                                <i class="fa fa-plus-circle invoice-icons-add" aria-hidden="true"
                                                   ng-class="{'disable-add-commissions' : checkCommissions()}"
                                                   ng-disabled="checkCommissions()"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-repeat="drivers in driver track by $index" ng-init="driverIndex = $index">
                                <table class="table">
                                    <thead>
                                    <tr>
                                      <th>
                                          Helper {{$index+foremanAsHelper.length+1}} (driver as helper)
                                      </th>
                                      <th class="workers-salary">
                                          <select class="form-control" ng-model="selected.driver[driverIndex]"
                                                  ng-change="changeForemanHelper(driverIndex, selected.driver[driverIndex], 'driver')">
                                              <option value="" style="display: none;"> Select driver</option>
                                              <option ng-repeat="(id, driver) in workers.driver  | objToArray | orderBy: 'info.name'" value="{{driver.info.uid}}"
                                                      ng-selected="driver.info.uid == drivers.uid"
                                                      ng-hide="driver.settings.status != 1"
                                                      ng-disabled="isSelected(driverIndex, driver.info.uid, 'driver')">
                                                  {{driver.info.name}}
                                              </option>
                                          </select>

                                      </th>
                                      <th>
                                          For commission
                                      </th>
                                      <th>
                                          Rate
                                      </th>
                                      <th>
                                          Totals
                                      </th>
                                      <th>
                                          <span ng-click="removeWorker(driverIndex, 'driver')" class="remove-worker"><i
                                                  class="fa fa-times" aria-hidden="true"></i></span>
                                      </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="driver in drivers.commissions track by $index"
                                        ng-init="rateInd = $index"  ng-hide="commissionHelperForemanList[driver.id].name == ''">
                                        <td>

                                        </td>
                                        <td class="enumeration-workers-types">
                                            <select class="form-control "
                                                    ng-class="{'has-error' : disableRate('driver', driverIndex, driver.id)}"
                                                    ng-model="driver.id"
                                                    ng-change="changeForemanHelperCommissions(driverIndex,rateInd, driver.id, 'driver', drivers.uid)">
                                                <option value="" style="display: none;"> Select commission</option>
                                                <option ng-repeat="commission in commissionHelperForemanList track by $index"
                                                        value="{{$index}}"
                                                        ng-hide="commission.name == ''"
                                                        ng-selected="$index == driver.id"
                                                        ng-disabled="isSelectedCommission(driverIndex, $index, 'driver')">
                                                    {{commission.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <input ng-hide="disableRate('driver', driverIndex, driver.id)"
                                                   class="form-control" ng-model="driver.for_commission" type="text"
                                                   step="any" worker="getWorker('driver', driverIndex)"
                                                   commission="enumerationTypesHelperForeman(driver.id)"
                                                   message="msgLogCommission"
                                                   ng-change="changeCommission(driverIndex, driver.id, rateInd, 'driver', driver.type)"
                                                   cc-payroll-commissions-type
                                                   type-value="enumerationCommissionsType(driver.id, driverIndex,'driver')">
                                        </td>
                                        <td>
                                            <input ng-hide="disableRate('driver', driverIndex,  driver.id)"
                                                   class="form-control" ng-model="driver.rate" type="text"
                                                   worker="getWorker('driver', driverIndex)"
                                                   commission="enumerationTypesHelperForeman(driver.id)"
                                                   message="msgLogRate" step="any"
                                                   ng-change="changeCommission(driverIndex, driver.id, rateInd, 'driver', driver.type)"
                                                   cc-payroll-rate-type
                                                   type-value="enumerationRateType(driver.id, driverIndex,'driver')"
                                                   ng-if="driver.id != '10' && driver.id != '3'">
                                            <span ng-if="driver.id == '10' || driver.id == '3'"> {{drivers.commissions[rateInd].rate}} %</span>

                                        </td>
                                        <td>
                                                <span ng-hide="disableRate('driver', driverIndex,  driver.id)">
                                                    ${{drivers.commissions[rateInd].total  | number : 2}}
                                                </span>
                                        </td>
                                        <td>
                                                 <span ng-hide="disableRate('driver', driverIndex, driver.id)"
                                                       ng-click="removeCommission('driver', driverIndex, rateInd)"
                                                       class="pull-right">
                                                    <i class="fa fa-trash invoice-icons" aria-hidden="true"></i>
                                                </span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="custom in drivers.custom_commission track by $index">
                                        <td style="text-align: center;">
                                                <span style="font-size: 14px; cursor:pointer;"
                                                      ng-click="openCustomReceipt('driver', driverIndex, custom)">
                                                    <i class="icon-wallet"></i>
                                                 </span>
                                        </td>
                                        <td class="enumeration-workers-types" colspan="2">
                                            <input class="form-control" ng-model="custom.name">
                                        </td>
                                        <td colspan="2">
                                            <span ng-hide="disableRate('driver', driverIndex,  foreman.id)">
                                                <input cc-currency class="form-control" ng-model="custom.amount" ng-change="calcWorkerTotal('driver');calcEmployeesTotal();">
                                            </span>
                                        </td>
                                        <td>
                                             <span ng-hide="disableRate('driver', driverIndex,  foreman.id)" ng-click="removeCustomCommission('driver', driverIndex, $index, custom.id)" class="pull-right">
                                                <i class="fa fa-trash invoice-icons" aria-hidden="true"></i>
                                            </span>
                                            <span ng-hide="disableRate('driver', driverIndex,  foreman.id)" ng-click="saveCustomCommission('driver', driverIndex, $index, custom.id)" class="pull-right" style="margin-right: 15px;">
                                                <i class="fa fa-floppy-o invoice-icons" aria-hidden="true"></i>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <button style="margin-left: 20px;" ng-show="selected.driver[driverIndex]" class="btn btn-success btn-md add-worker" ng-click="addReceipt(selected.driver[driverIndex])">Receipt</button>
                                        </td>
                                        <td colspan="5">
                                            <button ng-hide="disableRate('driver', driverIndex, driver.id)"
                                                    ng-disabled="checkCommissions()"
                                                    ng-click="addNewCommission('driver', driverIndex, drivers.uid)"
                                                    class="btn-commission btn btn-update pull-right">
                                                <i class="fa fa-plus-circle invoice-icons-add" aria-hidden="true"
                                                   ng-class="{'disable-add-commissions' : checkCommissions()}"
                                                   ng-disabled="checkCommissions()"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div ng-repeat="helpers in helper track by $index" ng-init="helperIndex = $index">
                                <table class="table">
                                    <thead>
                                    <tr>
                                      <th>
                                          Helper {{$index + foremanAsHelper.length + driver.length +1}}
                                      </th>
                                      <th class="workers-salary">
                                          <select class="form-control" ng-model="selected.helper[helperIndex]"
                                                  ng-change="changeForemanHelper(helperIndex, selected.helper[helperIndex], 'helper')">
                                              <option value="" style="display: none;"> Select helper</option>
                                              <option ng-repeat="(id, helper) in workers.helper  | objToArray | orderBy: 'info.name'" value="{{helper.info.uid}}"
                                                      ng-selected="helper.info.uid == helpers.uid"
                                                      ng-hide="helper.info.status != 1"
                                                      ng-disabled="isSelected(helperIndex, helper.info.uid, 'helper')">
                                                  {{helper.info.name}}
                                              </option>
                                          </select>

                                      </th>
                                      <th>
                                          For commission
                                      </th>
                                      <th>
                                          Rate
                                      </th>
                                      <th>
                                          Totals
                                      </th>
                                      <th>
                                          <span ng-click="removeWorker(helperIndex, 'helper')" class="remove-worker"><i
                                                  class="fa fa-times" aria-hidden="true"></i></span>
                                      </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="helper in helpers.commissions track by $index"
                                        ng-init="rateInd = $index"  ng-hide="commissionHelperForemanList[helper.id].name == ''">
                                        <td>

                                        </td>
                                        <td class="enumeration-workers-types">
                                            <select class="form-control "
                                                    ng-class="{'has-error' : disableRate('helper', helperIndex, helper.id)}"
                                                    ng-model="helper.id"
                                                    ng-change="changeForemanHelperCommissions(helperIndex,rateInd, helper.id, 'helper', helpers.uid)">
                                                <option value="" style="display: none;"> Select commission</option>
                                                <option ng-repeat="commission in commissionHelperForemanList track by $index"
                                                        value="{{$index}}"
                                                        ng-hide="commission.name == ''"
                                                        ng-selected="$index == helper.id"
                                                        ng-disabled="isSelectedCommission(helperIndex, $index, 'helper')">
                                                    {{commission.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <input ng-hide="disableRate('helper', helperIndex, helper.id)"
                                                   class="form-control" ng-model="helper.for_commission" type="text"
                                                   step="any" worker="getWorker('helper', helperIndex)"
                                                   commission="enumerationTypesHelperForeman(helper.id)"
                                                   message="msgLogCommission"
                                                   ng-change="changeCommission(helperIndex, helper.id, rateInd, 'helper', helper.type)"
                                                   cc-payroll-commissions-type
                                                   type-value="enumerationCommissionsType(helper.id, helperIndex,'helper')">
                                        </td>
                                        <td>
                                            <input ng-hide="disableRate('helper', helperIndex,  helper.id)"
                                                   class="form-control" ng-model="helper.rate" type="text"
                                                   worker="getWorker('helper', helperIndex)"
                                                   commission="enumerationTypesHelperForeman(helper.id)"
                                                   message="msgLogRate" step="any"
                                                   ng-change="changeCommission(helperIndex, helper.id, rateInd, 'helper', helper.type)"
                                                   cc-payroll-rate-type
                                                   type-value="enumerationRateType(helper.id, helperIndex,'helper')"
                                                   ng-if="helper.id != '10' && helper.id != '3'">
                                            <span ng-if="helper.id == '10' || helper.id == '3'"> {{helpers.commissions[rateInd].rate}} %</span>

                                        </td>
                                        <td>
                                                <span ng-hide="disableRate('helper', helperIndex,  helper.id)">
                                                    ${{helpers.commissions[rateInd].total  | number : 2}}
                                                </span>
                                        </td>
                                        <td>
                                                 <span ng-hide="disableRate('helper', helperIndex, helper.id)"
                                                       ng-click="removeCommission('helper', helperIndex, rateInd)"
                                                       class="pull-right">
                                                    <i class="fa fa-trash invoice-icons" aria-hidden="true"></i>
                                                </span>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="custom in helpers.custom_commission track by $index">
                                        <td style="text-align: center;">
                                                <span style="font-size: 14px; cursor:pointer;"
                                                      ng-click="openCustomReceipt('helper', helperIndex, custom)">
                                                    <i class="icon-wallet"></i>
                                                 </span>
                                        </td>
                                        <td class="enumeration-workers-types" colspan="2">
                                            <input class="form-control" ng-model="custom.name">
                                        </td>
                                        <td colspan="2">
                                            <span ng-hide="disableRate('helper', helperIndex,  helper.id)">
                                                <input cc-currency class="form-control" ng-model="custom.amount" ng-change="calcWorkerTotal('helper');calcEmployeesTotal();">
                                            </span>
                                        </td>
                                        <td>
                                             <span ng-hide="disableRate('helper', helperIndex,  helper.id)" ng-click="removeCustomCommission('helper', helperIndex, $index, custom.id)" class="pull-right">
                                                <i class="fa fa-trash invoice-icons" aria-hidden="true"></i>
                                            </span>
                                            <span ng-hide="disableRate('helper', helperIndex,  helper.id)" ng-click="saveCustomCommission('helper', helperIndex, $index, custom.id)" class="pull-right" style="margin-right: 15px;">
                                                <i class="fa fa-floppy-o invoice-icons" aria-hidden="true"></i>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <button style="margin-left: 20px;" ng-show="selected.helper[helperIndex]" class="btn btn-success btn-md add-worker" ng-click="addReceipt(selected.helper[helperIndex])">Receipt</button>
                                        </td>
                                        <td colspan="5">
                                            <button ng-hide="disableRate('helper', helperIndex, helper.id)"
                                                    ng-disabled="checkCommissions()"
                                                    ng-click="addNewCommission('helper', helperIndex, helpers.uid)"
                                                    class="btn-commission btn btn-update pull-right">
                                                <i class="fa fa-plus-circle invoice-icons-add" aria-hidden="true"
                                                   ng-class="{'disable-add-commissions' : checkCommissions()}"
                                                   ng-disabled="checkCommissions()"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <label class="pull-right"
                                       ng-init="calcWorkerTotal('helper'); calcWorkerTotal('foremanAsHelper'); calcWorkerTotal('driver');">
                                    ${{(workersTotal.helper + workersTotal.foremanAsHelper + workersTotal.driver) | number : 2}}
                                </label>
                                <div class=" btn btn-default add-worker" ng-disabled="checkCommissions()"
                                     ng-click="addWorker('helper')">
                                    Add
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="tabs[0].selected">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-repeat="salesPerson in salesPerson track by $index"
                                 ng-init="salesPersonIndex = $index">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>
                                            Sales {{$index+1}}
                                        </th>
                                        <th class="workers-salary">
                                            <select class="form-control" ng-model="selected.salesPerson[salesPersonIndex]"
                                                    ng-change="changeForemanHelper(salesPersonIndex, selected.salesPerson[salesPersonIndex], 'salesPerson')">
                                                <option value="" style="display: none;"> Select sales person</option>
                                                <option ng-repeat="(id, sales) in workers.salesPerson  | objToArray | orderBy: 'info.name'" value="{{sales.info.uid}}"
                                                        ng-selected="sales.info.uid == salesPerson.uid"
                                                        ng-hide="sales.info.status != 1"
                                                        ng-disabled="isSelected(salesPersonIndex, sales.info.uid, 'salesPerson')">
                                                    {{sales.info.name}}
                                                </option>
                                            </select>
                                        </th>
                                        <th>
                                            For commission
                                        </th>
                                        <th>
                                            Rate
                                        </th>
                                        <th>
                                            Totals
                                        </th>
                                        <th>
                                            <span ng-click="removeWorker(salesPersonIndex, 'salesPerson')"
                                                  class="remove-worker"><i class="fa fa-times"
                                                                           aria-hidden="true"></i></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="sale in salesPerson.commissions track by $index"
                                        ng-init="rateInd = $index" ng-hide="sale.id != '0' ">
                                        <td ng-hide="sale.id != '0' ">
                                        </td>
                                        <td class="enumeration-workers-types" ng-hide="sale.id != '0' ">
                                            {{commissionManagerList[sale.id].name}}

                                        </td>
                                        <td ng-hide="sale.id != '0' ">
                                            <input class="form-control" ng-model="sale.for_commission " type="text"
                                                   step="any" worker="getWorker('salesPerson', salesPersonIndex)"
                                                   commission="commissionManagerList[sale.id].name"
                                                   message="msgLogCommission"
                                                   ng-change="changeCommission(salesPersonIndex, rateInd, sale.id, 'salesPerson', salesPerson.type)"
                                                   cc-payroll-commissions-type type-value="commissionType[0]">
                                        </td>
                                        <td ng-hide="sale.id != '0' ">
                                            <input class="form-control" ng-model="sale.rate" type="text" step="any"
                                                   ng-change="changeCommission(salesPersonIndex, rateInd,sale.id, 'salesPerson', salesPerson.type)"
                                                   worker="getWorker('salesPerson', salesPersonIndex)"
                                                   commission="commissionManagerList[sale.id].name" message="msgLogRate"
                                                   cc-payroll-rate-type type-value="commissionType[1]">
                                        </td>
                                        <td ng-hide="sale.id != '0' ">
                                            ${{salesPerson.commissions[rateInd].total | number : 2}}
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <label class="pull-right" ng-init="calcWorkerTotal('salesPerson')">
                                    ${{workersTotal.salesPerson | number : 2}}
                                </label>
                                <div class=" btn btn-default add-worker" ng-disabled="checkCommissions()"
                                     ng-click="addWorker('salesPerson')">
                                    Add
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row  invoice-employees-total">
                <div class="col-md-12">
                    <label class="pull-right" ng-init="calcEmployeesTotal()">
                        EMPLOYEES TOTAL ${{calcTotal | number : 2}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="pull-left btn btn-default" ng-click="revokePayroll()">Revoke payroll</button> -->
        <button type="button" class="pull-right btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="pull-right btn btn-primary" ng-click="reSubmitPayroll()"
                ng-disabled="checkCommissions()" ng-if="submitPayroll()" style="margin-right: 15px;">Resubmit payroll
        </button>
        <button type="button" class="pull-right btn btn-primary" ng-click="reSubmitPayroll()"
                ng-disabled="checkCommissions()" ng-if="!submitPayroll()" style="margin-right: 15px;">Submit payroll
        </button>
    </div>
</div>
