<div>
    <div class="modal-body col-md-12">
            <h2 style="text-align: center">Source:</h2>
            <input ng-model="request.field_parser_provider_name" ng-change="changeSource()" style="margin: 20px auto 0;text-align: center;font-size: 32px;line-height: 38px;height: 55px;"
                   ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">


    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary" ng-click="Apply()">Apply</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>

    </div>
</div>
