<div>
    <div class="modal-body col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div  ng-if="type != 'invoice'" class="col-md-4" >
              <h2 style="text-align: center">Surcharge Percentage:</h2>
          </div>
          <div  ng-if="type != 'invoice'" class="col-md-4" >
              <h2 style="text-align: center">Flat Surcharge:</h2>
          </div>
          <div  ng-if="type != 'invoice'" class="col-md-4" >
              <h2 style="text-align: center">Total:</h2>
          </div>
              <h2 ng-if="type == 'invoice'" style="text-align: center">Total:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4"  ng-if="type != 'invoice'" >
              <input ng-change="changeSurcharge('request','avg')"  ng-if="type != 'invoice'" cc-percent ng-model="request.request_all_data.surcharge_fuel_avg" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;" ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">
              <!-- <input ng-change="changeSurcharge('invoice','avg')" ng-if="invoice" cc-percent ng-model="invoice.request_all_data.surcharge_fuel_avg" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;" ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched"> -->
          </div>
          <div class="col-md-4"  ng-if="type != 'invoice'" >
              <input ng-change="changeSurcharge('request','perc')"  ng-if="type != 'invoice'" cc-currency ng-model="request.request_all_data.surcharge_fuel_perc" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;" ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">
            <!--  <input ng-change="changeSurcharge('invoice','perc')" ng-if="invoice" cc-currency ng-model="invoice.request_all_data.surcharge_fuel_perc" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;" ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched"> -->
          </div>
          <div class="col-md-4"  ng-if="type != 'invoice'">
              <div  ng-if="type != 'invoice'"  style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 50px;height: 55px;" class="form-element  | number : 2ng-pristine ng-valid ng-touched">
                <!-- ${{request.request_all_data.surcharge_fuel | number : 2}} -->
                <input ng-change="changeSurcharge('request','total')"  cc-currency ng-model="request.request_all_data.surcharge_fuel" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;" ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">
              </div>
            </div>
              <div ng-if="type == 'invoice'" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 50px;height: 55px;" class="form-element ng-pristine ng-valid ng-touched">
                <!-- ${{invoice.request_all_data.surcharge_fuel | number : 2}} -->
                <input ng-change="changeSurcharge('invoice','total')"  cc-currency ng-model="invoice.request_all_data.surcharge_fuel" style="margin: 0 auto;margin-top: 20px;text-align: center;font-size: 32px;line-height: 38px;height: 55px;" ng-model-options="{ updateOn: 'blur' }" class="form-element form-control ng-pristine ng-valid ng-touched">
             </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="Apply()" data-ng-disabled="Job_Completed">Apply</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
