<div ng-show="busy"><div class="busyoverlay"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
     </svg></div> 
</div> 
<div ng-class="{'disabled': busy}">
    <div class="modal-header">
       <h2>Update Request</h2>
    </div>
    <div class="modal-body">
         <div ng-if="!message.oldValue.length && message.label != 'custom' &&  message.label != 'notes'" class="" ng-repeat="message in messages track by $index"><b>{{message.label}}</b> was set to <b class="blue">{{message.newValue}}</b></div>
        <div  ng-if="message.oldValue.length && message.label != 'custom' &&  message.label != 'notes'" class="" ng-repeat="message in messages track by $index"><b>{{message.label}}</b> was changed from <b>{{message.oldValue}}</b> to <b class="blue">{{message.newValue}}</b></div>
        <div  ng-if="message.label == 'custom' || message.label == 'notes'" class="" ng-repeat="message in messages track by $index"><b>{{message.newValue}}</b></div>
    </div>
    <div class="modal-footer">
        <sending-emails emails="request.sendingTemplates" email-parameters="request.emailParameters"></sending-emails>

        <button type="button" class="btn btn-primary" ng-click="update(request)">
            <div ng-show="request.sendingTemplates.length == 0">Update</div>
            <div ng-hide="request.sendingTemplates.length == 0">Update request and send emails</div>
        </button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</div>
  
 
    