<div class="panel-body mdDataTable" id="department-payroll">
    <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
    </div>
    <div class="payroll printRemove payroll-table js-custom-scrollbar with-min-scroll-width texted">
        <table id="print-area" datatable="ng" dt-options="dtOptions" class="payroll printSection landscape-print table table-striped payroll-pint-area">
            <thead>
            <tr>
                <th class="printOnlyPayroll" colspan="3">
                    Payroll For All Departments Date Range: {{dateRangeFrom}} - {{dateRangeTo}}
                </th>
            </tr>
            <tr>
                <th ng-if="key != 'hours_pay'" ng-repeat="(key, column) in columns.fields" ng-class="column.name" ng-show="column.selected">
                    {{ column.name }}
                </th>
                <th ng-show="columns.fields['hours_pay'].selected">
                    {{ columns.fields['hours_pay'].name }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="isShowDepartment(dataObj)" ng-repeat="(id, dataObj) in dataTbl track by $index"
                ng-class="{'active_row' : clicked == id}"
                ng-click="selectDepartment(id, dataObj)" class="request">
                <td ng-show="columns.fields['department'].selected">
                     {{ dataObj['department'] }}
                </td>
                <td ng-show="columns.fields['jobs_count'].selected">
                     {{ dataObj['jobs_count'] }}
                </td>
                <td ng-show="columns.fields['hours'].selected">
                     {{ dataObj['hours'] | number:2 }}
                </td>
                <td ng-show="columns.fields['materials'].selected">
                    {{ columns.fields['materials'].prefix }} {{ dataObj['materials'] | number : 2}}
                </td>
                <td ng-show="columns.fields['m_extra'].selected">
                    {{ columns.fields['m_extra'].prefix }} {{ dataObj['m_extra'] | number : 2}}
                </td>
                <td ng-show="columns.fields['tip'].selected">
                    {{ columns.fields['tip'].prefix }} {{ dataObj['tip'] | number : 2}}
                </td>
                <td ng-show="columns.fields['total'].selected">
                    {{ columns.fields['total'].prefix }} {{ dataObj['total'] | number : 2 }}
                </td>
                <td ng-show="columns.fields['hours_pay'].selected">
                    {{ columns.fields['hours_pay'].prefix }} {{ dataObj['paid'] | number : 2 }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="mdDataTable-header-alternate">
                <td ng-show="columns.fields['department'].selected"></td>
                <td ng-show="columns.fields['jobs_count'].selected">
                    {{departments.total['jobs_count'] | number: 0}}
                </td>
                <td ng-show="columns.fields['hours'].selected">
                    {{departments.total['hours'] | number : 2}}
                </td>
                <td ng-show="columns.fields['materials'].selected">
                    {{ columns.fields['materials'].prefix }} {{departments.total['materials'] | number : 2}}
                </td>
                <td ng-show="columns.fields['m_extra'].selected">
                    {{ columns.fields['m_extra'].prefix }} {{departments.total['m_extra'] | number : 2}}
                </td>
                <td ng-show="columns.fields['tip'].selected">
                    {{ columns.fields['tip'].prefix }} {{departments.total['tip'] | number : 2}}
                </td>
                <td ng-show="columns.fields['total'].selected">
                    {{ columns.fields['total'].prefix }} {{departments.total['total'] | number : 2}}
                </td>
                <td ng-show="columns.fields['hours_pay'].selected">
                    {{ columns.fields['hours_pay'].prefix }} {{ departments.total['paid'] | number : 2}}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
