<div class="panel-body mdDataTable printRemove" id="user-payroll">
    <div class="busyoverlay" ng-show="busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div ng-if="userCurrentTbl" class="payroll-table js-custom-scrollbar ">
        <div  ng-if="isVisiblePayrollTable">
            <table datatable="" dt-column-defs="dtColumnDefsPaycheck" dt-options="dtOptionsPaycheck" class="table table-striped IdForTests1">
                <thead>
                <tr>
                    <th>
                        {{ columns.fields['a_job_misc'].name }}
                    </th>
                    <th>
                        Works
                    </th>
                    <th>
                        Form of Payment
                    </th>
                    <th>
                        Payment date
                    </th>
                    <th>
                        {{ columns.fields['total'].name }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(id, dataObj) in userCurrentTbl.users_paychecks track by id" ng-class="{'active_row' : jobClicked.nid == id && jobClicked.type == 'paycheck'}" class="request">
                    <td ng-click="editRequest('a_job_misc', id, 'paycheck')" ng-bind="dataObj.a_job_misc">
                    </td>
                    <td ng-click="editRequest('a_job_works', id, 'paycheck')" ng-bind="dataObj.a_job_works">
                    </td>
                    <td ng-click="editRequest('a_job_type', id, 'paycheck')" ng-bind="dataObj.a_job_type">
                    </td>
                    <td ng-click="editRequest('b_move_date', id, 'paycheck')" ng-bind="dataObj.b_move_date">
                    </td>
                    <td ng-click="editRequest('total', id, 'paycheck')" ng-bind="dataObj.total | currency">
                    </td>
                </tr>
                <tr ng-repeat="(id, dataObj) in userCurrentTbl.misc" ng-if="userCurrentTbl.hourly_misc[id].type == '1' && userCurrentTbl.hourly_misc[id].amount_options == '1'" ng-class="{'active_row' : jobClicked.nid == id && jobClicked.type == 'misc'}" class="request">
                    <td ng-show="columns.fields['a_job_misc'].selected" ng-click="editRequest('a_job_misc', id, 'misc')">
                        {{ dataObj['a_job_misc']}}
                    </td>
                    <td>

                    </td>
                    <td ng-show="columns.fields['a_job_type'].selected" ng-click="editRequest('a_job_type', id, 'misc')">
                        {{ dataObj['a_job_type']}}
                    </td>
                    <td ng-show="columns.fields['b_move_date'].selected" ng-click="editRequest('b_move_date', id, 'misc')">
                        {{ dataObj['b_move_date']}}
                    </td>
                    <td ng-show="columns.fields['total'].selected" ng-click="editRequest('total', id, 'misc')">
                        {{ columns.fields['total'].prefix }} {{ dataObj['total'] * -1 | number : 2 }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="with-min-scroll-width">
            <table id="print-area" datatable="ng" dt-column-defs="dtColumnDefs" dt-options="dtOptions" class="table printSection landscape-print payroll table-striped IdForTests1 payroll-pint-area user-data-table">
                <thead>
                <tr>
                    <th class="printOnlyPayroll" colspan="5">
                        Payroll For {{userName}} Date Range: {{dateRangeFrom}} - {{dateRangeTo}}
                    </th>
                </tr>
                <tr>
                    <th class="printRemove">
                        <input name="checkbox" ichecks="" class="icheck" ng-model="global" type="checkbox" ng-change="selectAll(global)" ng-init="global = false">
                    </th>
                    <th ng-show="columns.fields['a_job_misc'].selected">
                        {{ columns.fields['a_job_misc'].name }}
                    </th>
                    <th ng-show="columns.fields['a_job_type'].selected">
                        {{ columns.fields['a_job_type'].name }}
                    </th>
                    <th ng-show="columns.fields['b_move_date'].selected">
                        {{ columns.fields['b_move_date'].name }}
                    </th>
                    <th ng-show="columns.fields['b_pickup'].selected">
                        {{ columns.fields['b_pickup'].name }}
                    </th>
                    <th ng-show="columns.fields['booking_date'].selected">
                        {{ columns.fields['booking_date'].name }}
                    </th>
                    <th ng-show="columns.fields['c_delivery'].selected">
                        {{ columns.fields['c_delivery'].name }}
                    </th>
                    <th ng-show="columns.fields['c_estimate'].selected">
                        {{ columns.fields['c_estimate'].name }}
                    </th>
                    <th ng-show="columns.fields['c_grand_total'].selected">
                        {{ columns.fields['c_grand_total'].name }}
                    </th>
                    <th class="font-weight-bold" ng-show="columns.fields['ca_hours'].selected">
                        {{ columns.fields['ca_hours'].name }}
                    </th>
                    <th ng-show="columns.fields['cb_hourly_rate'].selected">
                        {{ columns.fields['cb_hourly_rate'].name }}
                    </th>
                    <th ng-show="columns.fields['c_materials'].selected">
                        {{ columns.fields['c_materials'].name }}
                    </th>
                    <th ng-show="columns.fields['custom_payroll'].selected">
                        {{ columns.fields['custom_payroll'].name }}
                    </th>
                    <th ng-show="columns.fields['extra'].selected">
                        {{ columns.fields['extra'].name }}
                    </th>
                    <th ng-show="columns.fields['ins'].selected">
                        {{ columns.fields['ins'].name }}
                    </th>
                    <th ng-show="columns.fields['tip'].selected">
                        {{ columns.fields['tip'].name }}
                    </th>
                    <th ng-show="columns.fields['tj_bonus'].selected">
                        {{ columns.fields['tj_bonus'].name }}
                    </th>
                    <th ng-show="columns.fields['total'].selected">
                        {{ columns.fields['total'].name }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(id, dataObj) in userCurrentTbl.jobs" ng-class="{'active_row' : jobClicked.nid == id && jobClicked.type == 'request'}" class="request">
                    <td ng-click="editRequest('a_a_selected', id, 'request', dataObj.trip_job)" class="selected-column printRemove">
                        <input class="icheck" name="checkbox" type="checkbox" ichecks=""  ng-model="userCurrentTbl.jobs[id].a_a_selected">
                    </td>
                    <td ng-show="columns.fields['a_job_misc'].selected" ng-click="editRequest('a_job_misc', id, 'request', dataObj.trip_job)">
                        {{ setNid(dataObj['a_job_misc']) }}
                    </td>
                    <td ng-show="columns.fields['a_job_type'].selected" ng-click="editRequest('a_job_type', id, 'request', dataObj.trip_job)">
                        {{ dataObj['a_job_type'] }}
                        <span ng-if="contractTypes.PICKUP_PAYROLL == dataObj.contract_type">(PickUp)</span>
                        <span ng-if="contractTypes.DELIVERY_PAYROLL == dataObj.contract_type">(Delivery)</span>
                        <span ng-if="dataObj.trip_job">(Trip)</span>

                    </td>
                    <td ng-show="columns.fields['b_move_date'].selected" ng-click="editRequest('b_move_date', id, 'request', dataObj.trip_job)">
                        {{ dataObj['b_move_date'] }}
                    </td>
                    <td ng-show="columns.fields['b_pickup'].selected" ng-click="editRequest('b_pickup', id, 'request', dataObj.trip_job)">
                        {{ dataObj['b_pickup'] }}
                    </td>
                    <td ng-show="columns.fields['booking_date'].selected" ng-click="editRequest('booking_date', id, 'request', dataObj.trip_job)">
                        {{ dataObj['booking_date'] }}
                    </td>
                    <td ng-show="columns.fields['c_delivery'].selected" ng-click="editRequest('c_delivery', id, 'request', dataObj.trip_job)">
                        {{ dataObj['c_delivery'] }}
                    </td>
                    <td ng-show="columns.fields['c_estimate'].selected" ng-click="editRequest('c_estimate', id, 'request', dataObj.trip_job)">
                        {{ dataObj['c_estimate'] | number: 2}}
                    </td>
                    <td ng-show="columns.fields['c_grand_total'].selected" ng-click="editRequest('c_grand_total', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['c_grand_total'].prefix }} {{ dataObj['c_grand_total'] | number : 2 }}
                    </td>
                    <td class="font-weight-bold" ng-show="columns.fields['ca_hours'].selected" ng-click="editRequest('ca_hours', id, 'request', dataObj.trip_job)">
                        {{ dataObj['ca_hours'] }}
                    </td>
                    <td ng-show="columns.fields['cb_hourly_rate'].selected" ng-click="editRequest('cb_hourly_rate', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['cb_hourly_rate'].prefix }} {{ dataObj['cb_hourly_rate'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['c_materials'].selected" ng-click="editRequest('c_materials', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['c_materials'].prefix }} {{ dataObj['c_materials'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['custom_payroll'].selected" ng-click="editRequest('custom_payroll', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['custom_payroll'].prefix }} {{ dataObj['custom_payroll'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['extra'].selected" ng-click="editRequest('extra', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['extra'].prefix }} {{ dataObj['extra'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['ins'].selected" ng-click="editRequest('ins', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['ins'].prefix }} {{ dataObj['ins'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['tip'].selected" ng-click="editRequest('tip', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['tip'].prefix }} {{ dataObj['tip'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['tj_bonus'].selected" ng-click="editRequest('tj_bonus', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['tj_bonus'].prefix }} {{ dataObj['tj_bonus'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['total'].selected" ng-click="editRequest('total', id, 'request', dataObj.trip_job)">
                        {{ columns.fields['total'].prefix }} {{ dataObj['total'] | number : 2 }}
                    </td>
                </tr>
                <tr ng-repeat="(id, dataObj) in userCurrentTbl.misc"
                    ng-class="{'active_row' : jobClicked.nid == id && jobClicked.type == 'misc'}" class="request">
                    <td ng-click="editRequest('a_a_selected', id, 'misc')" class="selected-column printRemove">
                        <input ng-if="!(userCurrentTbl.hourly_misc[id].type == '1' && userCurrentTbl.hourly_misc[id].amount_options == '1')" name="checkbox" ichecks="" class="icheck" ng-model="userCurrentTbl.misc[id].a_a_selected" type="checkbox">
                    </td>
                    <td ng-show="columns.fields['a_job_misc'].selected" ng-click="editRequest('a_job_misc', id, 'misc')">
                        {{ dataObj['a_job_misc']}}
                    </td>
                    <td ng-show="columns.fields['a_job_type'].selected" ng-click="editRequest('a_job_type', id, 'misc')">
                        {{ dataObj['a_job_type']}}
                    </td>
                    <td ng-show="columns.fields['b_move_date'].selected" ng-click="editRequest('b_move_date', id, 'misc')">
                        {{ dataObj['b_move_date']}}
                    </td>
                    <td ng-show="columns.fields['b_pickup'].selected" ng-click="editRequest('b_pickup', id, 'misc')">
                        {{ dataObj['b_pickup']}}
                    </td>
                    <td ng-show="columns.fields['booking_date'].selected" ng-click="editRequest('booking_date', id, 'misc')">
                        {{ dataObj['booking_date']}}
                    </td>
                    <td ng-show="columns.fields['c_delivery'].selected" ng-click="editRequest('c_delivery', id, 'misc')">
                        {{ dataObj['c_delivery']}}
                    </td>
                    <td ng-show="columns.fields['c_estimate'].selected" ng-click="editRequest('c_estimate', id, 'misc')">
                        {{ dataObj['c_estimate']}}
                    </td>
                    <td ng-show="columns.fields['c_grand_total'].selected" ng-click="editRequest('c_grand_total', id, 'misc')">
                        {{ dataObj['c_grand_total']}}
                    </td>
                    <td class="font-weight-bold" ng-show="columns.fields['ca_hours'].selected" ng-click="editRequest('ca_hours', id, 'misc')">
                        {{ dataObj['ca_hours'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['cb_hourly_rate'].selected" ng-click="editRequest('cb_hourly_rate', id, 'misc')">
                        {{ columns.fields['cb_hourly_rate'].prefix }} {{ dataObj['cb_hourly_rate'] | number : 2 }}
                    </td>
                    <td ng-show="columns.fields['c_materials'].selected" ng-click="editRequest('c_materials', id, 'misc')">
                        {{ dataObj['c_materials']}}
                    </td>
                    <td ng-show="columns.fields['custom_payroll'].selected" ng-click="editRequest('custom_payroll', id, 'misc')">
                        {{ dataObj['custom_payroll']}}
                    </td>
                    <td ng-show="columns.fields['extra'].selected" ng-click="editRequest('extra', id, 'misc')">
                        {{ dataObj['extra'] }}
                    </td>
                    <td ng-show="columns.fields['ins'].selected" ng-click="editRequest('ins', id, 'misc')">
                        {{ dataObj['ins'] }}
                    </td>
                    <td ng-show="columns.fields['tip'].selected" ng-click="editRequest('tip', id, 'misc')">
                        {{ dataObj['tip'] }}
                    </td>
                    <td ng-show="columns.fields['tj_bonus'].selected" ng-click="editRequest('tj_bonus', id, 'misc')">
                        {{ dataObj['tj_bonus'] }}
                    </td>
                    <td ng-show="columns.fields['total'].selected" ng-click="editRequest('total', id, 'misc')">
                        {{ columns.fields['total'].prefix }} {{ dataObj['total'] | number : 2 }}
                    </td>
                </tr>
                <tr ng-repeat="(id, dataObj) in userCurrentTbl.users_paychecks track by id" ng-class="{'active_row' : jobClicked.nid == id && jobClicked.type == 'paycheck'}" class="request">
                    <td ng-click="editRequest('a_a_selected', id, 'paycheck')" class="selected-column printRemove">

                    </td>
                    <td ng-show="columns.fields['a_job_misc'].selected" ng-click="editRequest('a_job_misc', id, 'paycheck')">
                        {{ dataObj['a_job_misc']}}
                    </td>
                    <td ng-show="columns.fields['a_job_type'].selected" ng-click="editRequest('a_job_type', id, 'paycheck')">
                        {{ dataObj['a_job_type']}}
                    </td>
                    <td ng-show="columns.fields['b_move_date'].selected" ng-click="editRequest('b_move_date', id, 'paycheck')">
                        {{ dataObj['b_move_date']}}
                    </td>
                    <td ng-show="columns.fields['b_pickup'].selected" ng-click="editRequest('b_pickup', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['booking_date'].selected" ng-click="editRequest('booking_date', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['c_delivery'].selected" ng-click="editRequest('c_delivery', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['c_estimate'].selected" ng-click="editRequest('c_estimate', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['c_grand_total'].selected" ng-click="editRequest('c_grand_total', id, 'paycheck')">

                    </td>
                    <td class="font-weight-bold" ng-show="columns.fields['ca_hours'].selected" ng-click="editRequest('ca_hours', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['cb_hourly_rate'].selected" ng-click="editRequest('cb_hourly_rate', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['c_materials'].selected" ng-click="editRequest('c_materials', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['custom_payroll'].selected" ng-click="editRequest('custom_payroll', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['extra'].selected" ng-click="editRequest('extra', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['ins'].selected" ng-click="editRequest('ins', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['tip'].selected" ng-click="editRequest('tip', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['tj_bonus'].selected" ng-click="editRequest('tj_bonus', id, 'paycheck')">

                    </td>
                    <td ng-show="columns.fields['total'].selected" ng-click="editRequest('total', id, 'paycheck')">
                        {{ columns.fields['total'].prefix }} {{ dataObj['total'] * -1 | number : 2 }}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="mdDataTable-header-alternate">
                    <td class="printRemove">

                    </td>
                    <td ng-show="columns.fields['a_job_misc'].selected">
                        {{userCurrentTbl.totals['a_job_misc']}}
                    </td>
                    <td ng-show="columns.fields['a_job_type'].selected">
                        {{userCurrentTbl.totals['a_job_type']}}
                    </td>
                    <td ng-show="columns.fields['b_move_date'].selected">
                        {{userCurrentTbl.totals['b_move_date']}}
                    </td>
                    <td ng-show="columns.fields['b_pickup'].selected">
                        {{userCurrentTbl.totals['b_pickup']}}
                    </td>
                    <td ng-show="columns.fields['booking_date'].selected">
                        {{userCurrentTbl.totals['booking_date']}}
                    </td>
                    <td ng-show="columns.fields['c_delivery'].selected">
                        {{userCurrentTbl.totals['c_delivery']}}
                    </td>
                    <td ng-show="columns.fields['c_estimate'].selected">
                        {{userCurrentTbl.totals['c_estimate']}}
                    </td>
                    <td ng-show="columns.fields['c_grand_total'].selected">
                        {{ columns.fields['c_grand_total'].prefix }} {{userCurrentTbl.totals['c_grand_total'] | number : 2}}
                    </td>
                    <td class="font-weight-bold" ng-show="columns.fields['ca_hours'].selected">
                        {{userCurrentTbl.totals['ca_hours'] | number : 2}}
                    </td>
                    <td ng-show="columns.fields['cb_hourly_rate'].selected">
                        {{ userCurrentTbl.totals['cb_hourly_rate'] | number : 2 }}
                        <i class="fa fa-question-circle" aria-hidden="true" uib-tooltip="Hourly rate: {{ userHourlyRate | number : 2 }}"></i>
                    </td>
                    <td ng-show="columns.fields['c_materials'].selected">
                        {{ columns.fields['c_materials'].prefix }} {{userCurrentTbl.totals['c_materials'] | number : 2}}
                    </td>
                    <td ng-show="columns.fields['custom_payroll'].selected">
                        {{ columns.fields['custom_payroll'].prefix }} {{userCurrentTbl.totals['custom_payroll'] | number : 2}}
                    </td>
                    <td ng-show="columns.fields['extra'].selected">
                        {{ columns.fields['extra'].prefix }} {{userCurrentTbl.totals['extra'] | number : 2}}
                    </td>
                    <td ng-show="columns.fields['ins'].selected">
                        {{ columns.fields['ins'].prefix }} {{userCurrentTbl.totals['ins'] | number : 2}}
                    </td>
                    <td ng-show="columns.fields['tip'].selected">
                        {{ columns.fields['tip'].prefix }} {{userCurrentTbl.totals['tip'] | number : 2}}
                    </td>
                    <td ng-show="columns.fields['tj_bonus'].selected">
                        {{ columns.fields['tj_bonus'].prefix }} {{userCurrentTbl.totals['tj_bonus'] | number : 2}}
                    </td>
                    <td ng-show="columns.fields['total'].selected">
                        {{ columns.fields['total'].prefix }} {{userCurrentTbl.totals['total'] | number : 2}}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
