<div class="panel-body mdDataTable" id="worker-payroll">
    <div class="busyoverlay" ng-show="busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div ng-if="workersTbl && workers" class="printRemove payroll-table js-custom-scrollbar with-min-scroll-width">
        <table class="payroll table printSection landscape-print table table-striped payroll-pint-area" id="print-area" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
            <thead>
            <tr>
                <th class="printOnlyPayroll" colspan="3">
                    Payroll For {{roleWorkers}} Date Range: {{dateRangeFrom}} - {{dateRangeTo}}
                </th>
            </tr>
            <tr>
                <th class="printRemove">
                </th>
                <th ng-if="key != 'paid' && key != 'tip' && key != 'total' && key != 'a_employee_selected'" ng-repeat="(key, column) in columns.fields" ng-class="column.name" ng-show="column.selected">
                    <span>{{ column.name }}</span>
                </th>
                <th ng-show="columns.fields['tip'].selected">
                    {{ columns.fields['tip'].name }}
                </th>
                <th ng-show="columns.fields['total'].selected">
                    {{ columns.fields['total'].name }}
                </th>
                <th ng-show="columns.fields['paid'].selected">
                     {{ columns.fields['paid'].name }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(idUser, dataObj) in workersTbl"
                ng-class="{'active_row' : clicked == idUser }"
                ng-click="selectUser(idUser, dataObj)"
                class="request">
                <td class="selected-column printRemove">
                    <input name="checkbox"
                           ichecks=""
                           class="icheck"
                           ng-model="dataObj.a_employee_selected"
                           type="checkbox"
                           ng-checked="dataObj.a_employee_selected"
                           ng-change="setUser(idUser, dataObj, dataObj.a_employee_selected)">
                </td>
                <td ng-show="columns.fields['a_name'].selected">
                    {{ dataObj['a_name']}}
                </td>
                <td ng-show="columns.fields['count_jobs'].selected">
                    {{ dataObj['count_jobs']}}
                </td>
                <td ng-show="columns.fields['hours'].selected">
                    {{ dataObj['hours'] | number : 2}}
                </td>
                <td ng-show="columns.fields['hours_pay'].selected">
                    {{ columns.fields['hours_pay'].prefix }} {{ dataObj['hours_pay'] | number : 2}}
                </td>
                <td ng-show="columns.fields['materials'].selected">
                    {{ columns.fields['materials'].prefix }} {{ dataObj['materials'] | number : 2}}
                </td>
                <td ng-show="columns.fields['m_extra'].selected">
                    {{ columns.fields['m_extra'].prefix }} {{ dataObj['m_extra'] | number : 2}}
                </td>
                <td ng-show="columns.fields['tip'].selected">
                    {{ columns.fields['tip'].prefix }} {{ dataObj['tip'] | number : 2}}
                </td>
                <td ng-show="columns.fields['total'].selected">
                    {{ columns.fields['total'].prefix }} {{ dataObj['total'] | number : 2}}
                </td>
                <td ng-show="columns.fields['paid'].selected">
                    {{ columns.fields['paid'].prefix }} {{ dataObj['paid'] | number : 2}}
                </td>
            </tr>
            </tbody>
            <tfoot >
            <tr class="mdDataTable-header-alternate">
                <td ng-show="columns.fields['a_employee_selected'].selected" class="printRemove">
                    {{ workers.total['a_employee_selected']}}
                </td>
                <td ng-show="columns.fields['a_name'].selected">
                    {{ workers.total['a_name']}}
                </td>
                <td ng-show="columns.fields['count_jobs'].selected">
                    {{ workers.total['count_jobs']}}
                </td>
                <td ng-show="columns.fields['hours'].selected">
                    {{ workers.total['hours'] | number : 2}}
                </td>
                <td ng-show="columns.fields['hours_pay'].selected">
                    {{ columns.fields['hours_pay'].prefix }} {{ workers.total['hours_pay'] | number : 2}}
                </td>
                <td ng-show="columns.fields['materials'].selected">
                    {{ columns.fields['materials'].prefix }} {{ workers.total['materials'] | number : 2}}
                </td>
                <td ng-show="columns.fields['m_extra'].selected">
                    {{ columns.fields['m_extra'].prefix }} {{ workers.total['m_extra'] | number : 2}}
                </td>
                <td ng-show="columns.fields['tip'].selected">
                    {{ columns.fields['tip'].prefix }} {{ workers.total['tip'] | number : 2}}
                </td>
                <td ng-show="columns.fields['total'].selected">
                    {{ columns.fields['total'].prefix }} {{ workers.total['total'] | number : 2}}
                </td>
                <td ng-show="columns.fields['paid'].selected">
                    {{ columns.fields['paid'].prefix }} {{ workers.total['paid'] | number : 2}}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>