.sorting-root
  padding 0
  height 250px
  position fixed
  top calc(100% - 40px)
  left 0
  right 0
  transition transform .5s cubic-bezier(.42,.97,.52,1.49)
  &__header
    height 40px
    border-top-left-radius 4px
    border-top-right-radius 4px
    width 100px
    padding .5em 1em
    text-align center
    background-color rgba(44, 62, 80,1.0)
    color #fff
    font-weight 600
    cursor pointer
    margin 0 auto
  &__body
    height 250px
    background-color #fff
    border-top 1px solid rgba(52, 73, 94,1.0)
    z-index 15
    padding 1em
  &__in-home-estimate-sorting
    width 100%
  &__navigation
    margin-top 1em
    display flex
    justify-content space-between
    align-items center
  &__previous
    background-color transparent
    color rgba(39, 174, 96,1.0)
    padding 1em
    font-size 1.2em
    border 1px solid rgba(39, 174, 96,1.0)
    transition all .5s cubic-bezier(.42,.97,.52,1.49)
    &:active
    &:hover
    &:focus
      background-color rgba(39, 174, 96,1.0)
      box-shadow 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
  &__next
    background-color transparent
    color rgba(39, 174, 96,1.0)
    padding 1em
    font-size 1.2em
    border 1px solid rgba(39, 174, 96,1.0)
    transition all .5s cubic-bezier(.42,.97,.52,1.49)
    &:active
    &:hover
    &:focus
      background-color rgba(39, 174, 96,1.0)
      box-shadow 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)

.active-meta
  transform translateY(-200px)

.disabled-iep-button
  opacity .5
  pointer-events none

.fa-chevron-circle-up.rotate
  transform rotate(180deg)