include ../../../../../../../node_modules/bemto.pug/bemto
.row
    +b.sorting-root.col-xs-12(ng-class='{"active-meta": settingsAvailable}',
                            md-swipe-up="swipeUp()",
                            md-swipe-down='swipeDown()')
        +e.header(ng-click='showSortingSettings()')
            +e('span').header-title
                i.fa.fa-chevron-circle-up(ng-class='{"rotate": settingsAvailable}')
        +e.body.col-xs-12
            +e.in-home-estimate-sorting.row
                +e.column.col-xs-6
                    +e('label').sorting-label(for='direction')
                        | Direction:
                    +e('select').sort-field.form-control#direction(ng-model='sortDirection', ng-change='changeSorting()')
                        option(value='DESC')
                            | Descending
                        option(value='ASC')
                            | Ascending
                +e.column.col-xs-6
                    +e('label').sorting-label(for='field')
                        | Sort by:
                    +e('select').sort-field.form-control#field(ng-model='sortDate', ng-change='changeSorting()')
                        option(value='field_home_estimate_date')
                            | In-home Estimate Date
                        option(value='field_home_estimate_date_created')
                            | Assign Date
                +e.navigation.col-xs-12
                    +e('button').previous.btn.btn-default(ng-class='{"disabled-iep-button": disabledPrev}',
                                                        ng-click='changePage(meta.currentPage - 1)')
                        | Previous Page
                    h3.jobs-info
                        | {{meta.totalCount}} requests on the page {{meta.currentPage}} of {{meta.pageCount}} pages
                    +e('button').next.btn.btn-default(ng-class='{"disabled-iep-button": disabledNext}',
                                                    ng-click='changePage(meta.currentPage + 1)')
                        | Next Page
