.log-trip
    width 100%
    &__log-content
        padding: 10px 15px
        &__log
            font-family: "Open sans";
            font-weight: normal;
            letter-spacing: 0px;
            color: black;
            font-size: 13px;
            background-color: #fbfbfb;
            padding: 10px 10px;
            padding-top: 20px;
            border-bottom: 1px solid #d1d1d1;
            /* background: #F0F3F3; */
            border: 1px solid #dae2ea;
            color: #7c9eb2;
            margin: 5px;
            position: relative;
            &__title
                display: inline-block
                padding-left: 50px
            &__source
                padding-left: 5px
                display: inline-block
            &__icon
                position: absolute
                top: 22px
                width: 50px
                height: 50px
                transform: translateY(-50%)
                i
                    font-size: 25px;
                    position: absolute;
                    top: 25%;
                    left: 10px;
                    padding-top: 7px;
            &__message
                margin-left: 50px
                line-height: 19px
                margin-top: 10px
                color: #1d1c1c
                &__log-text
                    display: inline-block
                    text-align: justify
                &__simple-text
                    display: inline-block
                    text-align: justify
                &__lot-numbers-label
                    min-width: 40px
                    display: inline-block
                &__lot-numbers-item
                    display: inline-flex
                    padding-left: 5px
                &__open-html
                    cursor: pointer
                    font-size: 16px
                    color: #7C9EB2
                    float: right
                    margin: 10px
                    display: inline-block
            &__body
                margin-top: 10px
            &__info
                font-size: 20px
                position: absolute
                right: 10px
                bottom: 5px
            &__time
                float: right
                margin-top: 0
                position: absolute
                right: 20px
                top: 20px
