.log-trip
    .log-trip__log-content(ng-repeat="log in allLogs | orderBy: '-id' track by $index" ng-init="allLogsIndex = $index")
        .log-trip__log-content__log
            div(ng-repeat="detail in log.details")
                .log-trip__log-content__log__title
                    h2 {{detail.title}}
                .log-trip__log-content__log__source
                    | by {{log.source}}
                .log-trip__log-content__log__icon
                    i(class="fa {{getIconLogType(detail.title, detail)}}")
                div
                    .log-trip__log-content__log__message(ng-repeat="item in detail.text")
                        .log-trip__log-content__log__message__log-text(ng-if="item.text")
                            b
                                span(ng-bind-html="toTrustedHtml(item.text)")
                        .log-trip__log-content__log__message__simpleText(ng-if="item.simpleText")
                            br(ng-hide="!item.text || !item.html")
                            b {{item.simpleText}}
                        div(ng-if="item.text.search('Lot') >= 0 || item.text.search('Charges') >= 0")
                            div(ng-if="item.from && item.from != ''")
                                br(ng-hide="!item.text || item.simpleText")
                                .log-trip__log-content__log__message__lot-numbers-label From
                                .log-trip__log-content__log__message__lot-numbers-item(ng-bind-html='item.from')
                            div(ng-if="item.to && item.to != ''")
                                br(ng-if="item.from && item.from != ''")
                                .log-trip__log-content__log__message__lot-numbers-label To
                                .log-trip__log-content__log__message__lot-numbers-item(ng-bind-html='item.to')
                        span(ng-if="item.text.search('Lot') == -1 && item.text.search('Charges') == -1")
                            span(ng-if="item.from && item.from != ''")
                                br(ng-hide="!item.text || item.simpleText")
                                span From:
                                .log-trip__log-content__log__message__lot-numbers-item {{item.from}}
                            span(ng-if="item.to && item.to != ''" style="padding-left: 25px;")
                                br
                                span To:
                                .log-trip__log-content__log__message__lot-numbers-item {{item.to}}
                        .log-trip__log-content__log__message__boby
                            span(ng-bind-html='item.html' ng-show="allLogsShow[allLogsIndex] && detail.body")
                            span(ng-bind-html='item.html' ng-show="!detail.body")
                    .log-trip__log-content__log__open-html(ng-if="detail.body" title="Open" ng-click="allLogsShow[allLogsIndex] = !allLogsShow[allLogsIndex]")
                        i(class="fa fa-caret-square-o-down" aria-hidden="true" ng-show="!allLogsShow[allLogsIndex]")
                        span(ng-show="!allLogsShow[allLogsIndex]")
                            | Expand
                        i(class="fa fa-caret-square-o-up" aria-hidden="true" ng-hide="!allLogsShow[allLogsIndex]")
                        span(ng-show="allLogsShow[allLogsIndex]")
                            | Collapse


                .log-trip__log-content__log__body(ng-if="detail.body")
                    span(ng-bind-html='toTrustedHTML(detail.body)' ng-show="allLogsShow[allLogsIndex]")

            .log-trip__log-content__log__time
                i(class="fa fa-clock-o")
                | {{log.date* 1000  | date:'M/d/yy h:mm a' }}
                busyoverlay-new-log