.request-filters
  .request-filters__left
    .request-filters__block
      .request-filters__opened__line
        .request-filters__block__title
          md-input-container
            h7.md-title Pick Up Date
        .request-filters__left__block
          md-input-container
            label From
            md-datepicker(ng-model='pickupDateFrom' md-open-on-focus='', ng-change='changePickupDateFrom(pickupDateFrom)')
        .request-filters__left__block
          md-input-container
            label To
            md-datepicker(ng-model='pickupDateTo' md-open-on-focus='', ng-change='changePickupDateTo(pickupDateTo)')
    .request-filters__block
      .request-filters__opened__line
        .request-filters__block__title
          md-input-container
            h7.md-title Delivery Date
        .request-filters__left__block
          md-input-container
            label From
            md-datepicker(ng-model='deliveryDateFrom' md-open-on-focus='', ng-change='changeDeliveryDateFrom(deliveryDateFrom)')
        .request-filters__left__block
          md-input-container
            label To
            md-datepicker(ng-model='deliveryDateTo' md-open-on-focus='', ng-change='changeDeliveryDateTo(deliveryDateTo)')
  
  .request-filters__right
    .request-filters__block
      .request-filters__opened__line
        .sit-filters__block__states
          md-input-container
            label Search by Id:
            input(ng-model="searchTerm" ng-change="searchByRequestId(searchTerm)")
        .sit-filters__block__states
          .sit-filters__block__states__label(ng-class="{'sit-filters__block__states__label_open' : modalFromOpened == true}") Pick Up States:
          .sit-filters__block__states__text.sit-filters__block__states__text_over(ng-click="openModalFrom()" ng-class="{'sit-filters__block__states__text_open' : modalFromOpened == true, 'sit-filters__block__states__text_text-black': selectStringFrom != 'None'}") {{selectStringFrom}}
            .sit-filters__block__states_border 
        .sit-state-modal(states-modal chosen-states="chosenStatesFrom" modal-opened="modalFromOpened" get-list="getrequestsData()")
      .request-filters__block
        .sit-filters__block__states
          .sit-filters__block__states__label(ng-class="{'sit-filters__block__states__label_open' : modalToOpened == true}") Delivery States:
          .sit-filters__block__states__text(ng-hide="modalFromOpened" ng-click="openModalTo()" ng-class="{'sit-filters__block__states__text_open' : modalToOpened == true, 'sit-filters__block__states__text_text-black': selectStringTo != 'None'}") {{selectStringTo}}
            .sit-filters__block__states_border 
        .sit-state-modal(states-modal chosen-states="chosenStatesTo" modal-opened="modalToOpened" get-list="getrequestsData()")
      .request-filters__block
        md-input-container
          label Storage
          md-select(ng-model='selectedStorage' ng-change="setStorage()")
            md-option(ng-value="item" ng-repeat="item in storagesforOption") {{item.name}}
    .request-filters__opened__line-no-margin
      .request-filters__block
        md-input-container.request-filters__block__options
          label LD Status
          md-select(ng-model='selectedStatus' ng-change="setStatus()")
            md-option
              em(ng-value="undefined") None
            md-option(ng-value="item" ng-repeat="item in ldStatuses")
              | {{item.name}}

      .request-filters__block
          .request-filters__block__boxes
            .request-filters__block__boxes_inline
              md-checkbox.md-primary(ng-model="sitOnly" ng-change="selectSitOnly(sitOnly)")
              span SIT only
            .request-filters__block__boxes_inline
              md-checkbox.md-primary(ng-model="deliveryOnly" ng-change="selectDeliveryOnly(deliveryOnly)") 
              span Ready for delivery only 
      .request-filters__block
        .trip-filters__block__remove-button
          md-button.md-raised(ng-click="removeFilters()")   Remove All Filters

  .bubble.popup(ng-show='request.showquickmessage')
          div(quick-message='', nid='request.nid')

.request-list-form
  .request-list-form__refresh-button
    md-button.md-primary.md-raised.md-hue-2(ng-click="getrequestsData()") Refresh

  .request-list
      .request-list__second-head
          .request-list__second-head__text(ng-show="selectedItems.length > 0")
              h1 Items selected: {{selectedItems.length}}
          .request-list__second-head__button(ng-class="{'request-list__second-head__button_right' : toggleAnimation()}")  
              md-button.md-raised.md-primary(ng-click="addRequestsToTrip()" ng-disabled="!toggleAnimation()" ) Add requests to trip
      md-progress-linear.request-list__progress(md-mode="indeterminate" ng-if="busy")
      .request-list__head
          .request-list__head__item
              md-checkbox.md-primary.icheck.checkbox-without-margin(ng-disabled='isEmpty(requests)', name='checkbox', ichecks='', ng-model='selectedAll', type='checkbox', ng-change='selectAll(selectedAll)')
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | Job
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'ld_nid'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | Type
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'r_type'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | Customer
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'customer_name'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | Pick Up Date
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'pickup_date'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | Delivery Dates
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'delivery_date'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | Schedule Delivery Date
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'schedule_delivery_date'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | Pick Up From
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'from_state'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | Delivery To
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'to_state'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | In Sit
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'storage_name'")
          .request-list__head__item
            .sit-list__head__item__sort-item
              .sit-list__head__item__sort-item_left
                | LD Status
              .sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getrequestsData()" order="'ld_status'")
      .request-list-item__body(request-list-item selected-items="selectedItems" is-all-selected="isAllSelected()" ng-repeat='item in requests track by $index' ng-class="{ 'request-list-item__body_hide' : item.hide}" item='item' offset="offset")
      .request-list__disable(ng-if="busy")
