.request-filters
	margin-top 28px
	margin-left 24px
	margin-right 24px
	display inline-flex
	flex-direction row
	flex-wrap wrap
	justify-content flex-start
	width 100%
	flex 1
	&__left
		flex-direction row
		flex-wrap wrap
		justify-content flex-start
		display flex
		flex 1
		width 620px
		max-width 620px
		min-width 620px
		padding-right 24px
		&__block
			max-height 70px
			min-width 150px
			padding-right 20px
			display inline-flex
	&__right
		flex-direction row
		flex-wrap wrap
		justify-content flex-start
		display flex
		flex 1
	&__block
		max-height 70px
		min-width 220px
		padding-right 20px
		display inline-flex
		&__title
			width 150px
			display inline-flex
		&__options
			margin-left 24px
			padding-right 24px
			width 220px
		&__boxes
			margin-left 24px
			padding-right 24px
			width 100%
			display inline-flex
			flex-wrap nowrap
			flex-direction column
			justify-content flex-start
			&_inline
				margin-top -5px
				display inline-flex
				flex-wrap nowrap
				flex-direction row
				justify-content flex-start
	&__opened
		height 150px
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		&__line
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
		&__line-no-margin
			margin-top -20px
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start

.request-list-form
	position relative
	width 100%
	padding 0px 24px 24px 24px
	margin-top 28px
	&__refresh-button
		margin-top -44px
		right 16px
		position absolute
		width 100%
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-end

.request-list
	position relative
	width 100%
	box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
	font-size 12px
	font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
	background #fff
	&__progress
		position absolute
	&__disable
		position absolute
		background #fff
		opacity 0.3
		z-index 1
		top 0
		left 0
		width 100%
		height 100%
	&__head
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		border-bottom 1px solid #ddd
		&__item
			display flex
			flex-grow 1
			padding 8px
			min-height 56px
			justify-content center
			width 100px
			flex-direction column
			font-size 12px
			font-weight 500
			color #757575
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
	&__second-head
		position relative
		width 100%
		height 56px
		padding 8px
		border-bottom 1px solid #ddd
		display inline-flex
		flex-direction column
		flex-wrap nowrap
		justify-content center
		&__text-button
			color #ddd
			opacity 1
			z-index 200
		&_hover
			&:hover
				color #283593
		&__text
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			z-index 1
			right 10px
			width 100%
			position absolute
			padding 14px
			font-weight normal
			color #283593
			justify-content flex-end
			transition all linear 0.1s
		&__button
			width 100%
			right 15px
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			z-index 2
			fill #fff
			position absolute
			justify-content flex-end
			transition all linear 0.5s
			left 0
			&_right
				left 0px
				width 200px
				color #4caf50

	&__add-button
		margin-left 40px
	&__filters
		margin-top 40px

.checkbox-without-margin
	margin 0

.request-container
	margin: 0
	margin-left: 20px
	font-size: 14px

.storage-checkbox
	width 190px
	margin-top 5px
	font-size 14px
	margin-left 20px
	margin-right 0px
	margin-bottom 0px

.request-list__second-head__text.ng-hide-remove
	opacity 0

.request-list__second-head__text-button.ng-hide-remove
	opacity 0

