<div class="slide-panel-header">
    <div class="header-title">
        <span ng-bind="$ctrl.name"></span>
    </div>
    <div class="header-controls">
        <div class="control-item" ng-click="$ctrl.service.togglePanel()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
            </svg>
        </div>
    </div>
</div>
<div class="slide-panel-content"></div>
