<section id="main-content" style="min-height:400px" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="busyoverlay" ng-show="vm.busy">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>
            <div ng-if="vm.requests">
                <div ng-show="!vm.busy" cc-requests-datatable requests="vm.requests"
                     display-length="100" flags="flagID" currentstatus="statusCode" 
                     totalentries="vm.totalCount" showheading="true" 
                     data-custom_pagination="true" create-date="vm.date" 
                     move-date="vm.date">
                </div>
            </div>
        </div>
    </div>
</section>
