<div class="sms-template-builder-editor">
	<div ng-if="busy" busy-overlay="busy"></div>
	<sms-template-builder-menu templates="templates" selected-template="templateItem" on-choose-template="onChooseTemplate"></sms-template-builder-menu>
	<div class="sms-template-builder-editor__form">
		<div class="sms-template-builder-editor__form_template-not-selected" ng-show="!templateItem.id">
			Please choose template for editing
		</div>
		<div class="sms-template-builder-editor__form_template" ng-show="templateItem.id">
			<div class="sms-template-builder-editor__form_template-header">
				<div class="sms-template-builder-editor__form_template-name">
					<span class="sms-template-builder-editor__form_template-header-name">Name: </span>
					{{templateItem.name}}
				</div>
				<div class="sms-template-builder-editor__form_template-active">
					<span class="sms-template-builder-editor__form_template-active-name">
						Active:
					</span>
					<input type="checkbox" class="js-switch"
						   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
						   ng-model="templateItem.isActive"
						   data-switchery="true" style="display: none;" ng-change="onChangeActive()">
				</div>
			</div>
			<div class="sms-template-builder-editor__form_template-body">
				<div class="sms-template-builder-editor__form_template-body-name">
					SMS Template:
				</div>
				<template-builder-custom-variable-drop-down edit-element-class="sms-template-builder-editor__form_template-body_textarea">
					<textarea class="sms-template-builder-editor__form_template-body_textarea" ng-model="templateItem.template" placeholder="Enter SMS template" ng-change="onChangeTemplate()">
					</textarea>
				</template-builder-custom-variable-drop-down>
			</div>
			<div class="sms-template-builder-editor__form_template-footer">
				<button class="btn btn-info" ng-click="saveChanges()" ng-class="{disabled: !isTemplateChanged}">Save Changes</button>
			</div>
		</div>
	</div>
</div>