.sms-template-builder-editor
	color black
	display flex
	position relative
	.busyoverlay-container
		width 100%
		height 100%
		position absolute
		left 0
		top 0
	&__form
		display flex
		width 950px
		@media (max-width: 1340px)
			width 700px
	&__form
		&_template
			width 100%
			margin 0 10px 10px
			padding 10px
			height 330px
			box-shadow 0 2px 5px 0 #00000029, 0 2px 10px 0 #0000001f
			&-header
				display flex
				justify-content space-between
				padding 10px
				&-name
					font-weight 700
			&-active-name
				font-weight 700
			&-not-selected
				width 100%
				margin 0 10px 10px
				padding 50px 10px 10px
				text-align center
				height 330px
				font-size x-large
				box-shadow 0 2px 5px 0 #00000029, 0 2px 10px 0 #0000001f
			&-body
				padding 10px
				position relative
				&-name
					font-weight 700
					padding-bottom 10px
				&_textarea
					resize none
					padding 10px
					width 100%
					min-height 150px
			&-footer
				padding 10px
				display flex
				justify-content center
				.btn
					width 200px