<div class="pageheader block-builder-title">
    <h1>Block builder </h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>Settings</li>
            <li class="active">Template builder</li>
            <li class="active">Block builder</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInUp tplBuilder block-builder blockBuilder" ng-controller="BlockBuilderController as vm">
    <!--mail wrapper start-->
    <div class="busyoverlay ng-hide" ng-show="vm.busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="row">
        <div class="block-builder-menu">
            <div class="col-sm-3 col-md-3 builder-menu">
                <div class="panel">
                    <aside class="panel-body">
                        <div class="btn btn-danger btn-block tab-menu-title" ng-click="vm.showTemplateBuilder()">Back to Template builder</div>
                        <div class="btn btn-primary btn-block tab-menu-button">Blocks builder</div>
                        <div class="btn btn-primary btn-block tab-menu-button" ng-click="vm.showImportDialog()"
                             ng-show="vm.isAdmin()">
                            Import
                        </div>
                        <div class="btn btn-primary btn-block tab-menu-button" ng-click="vm.showExportDialog()"
                             ng-show="vm.isAdmin()">
                            Export
                        </div>
                        <div class="col-sm-4 col-md-4 builder-select prevent-selection style-select-block">
                            <label>Select style: </label>
                            <select class="select-type" ng-model="styleFilter.data.style">
                                <option ng-repeat="partStyles in vm.styles" value="{{$index}}">{{partStyles}}
                                </option>
                            </select>
                        </div>
                        <uib-accordion close-others="true">
                            <div uib-accordion-group ng-repeat="menu in vm.blocksMenu">
                                <uib-accordion-heading>
                                    {{menu.header}} <i class="pull-right">{{filteredBlocks.length}}</i>
                                </uib-accordion-heading>
                                <div class="block-preview prevent-selection">
                                    <table>
                                        <tbody>
                                        <tr class="block" ng-repeat="block in menu.blocks | filter:styleFilter as filteredBlocks">
                                            <td>
                                                <block-directive block="block">
                                                </block-directive>
                                                <div class="select-block">
                                                    <div class="copy-button" ng-click="vm.copyBaseBlock(block)">
                                                        <i class="fa fa-clone" aria-hidden="true"></i>
                                                        Copy
                                                    </div>
                                                    <div class="edit-button" ng-click="vm.setBaseBlockForEdit(block)">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        Edit
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-accordion>
                    </aside>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 frame">
            <div class="row">
                <div class="col-sm-5 col-md-5 builder-select prevent-selection">
                    <label>Select block type: </label>
                    <select class="select-type" ng-model="vm.baseBlock.block_type">
                        <option ng-repeat="type in vm.blockTypes" value="{{type}}">{{vm.getBlockTypeName(type)}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-5 col-md-5 builder-select prevent-selection">
                    <label>Select style: </label>
                    <select class="select-type" ng-model="vm.baseBlock.data.style">
                        <option ng-repeat="partStyles in vm.styles" value="{{$index}}">{{partStyles}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2 col-md-2 main-block-checkbox" ng-if="vm.baseBlock.id != null">
                    <input type="checkbox" class="icheck mail-checkbox icheckbox_flat-green" ichecks="" checkstyle="green" ng-model="vm.baseBlock.data.isMainBlock">
                    <span>Main Block</span>
                    <i class="fa fa-info-circle"
                       aria-hidden="true"
                       tooltip-placement="bottom"
                       uib-tooltip="This setting is responsible for a templates blocks update. This block update its copies in all templates."></i>
                </div>
            </div>
            <textarea rows="15" wrap="off" class="block-code-editor" ng-model="vm.baseBlock.template">
            </textarea>
            <div class="empty empty-block-preview prevent-selection" ng-show="vm.blockTemplateIsEmpty()">
                Block is empty. All that you type in the editor will be displayed here.
            </div>
            <div class="not-empty-block block-builder-preview prevent-selection" ng-show="vm.blockTemplateIsNotEmpty()">
                <button style="width: 50%;margin: 20px 25%;" class="btn btn-info btn-small" ng-click="vm.isShowPreviewFrame = !vm.isShowPreviewFrame">
                    <div ng-hide="vm.isShowPreviewFrame">
                        Show preview frame <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <div ng-show="vm.isShowPreviewFrame">
                        Hide preview frame <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    </div>
                </button>
                <preview-block ng-show="vm.isShowPreviewFrame" content="vm.baseBlock.template"></preview-block>
                <table ng-hide="vm.isShowPreviewFrame" align="center" style='margin:auto;'>
                    <tbody>
                    <tr block-directive block="vm.baseBlock" edit-child-elements="true" company-logo-url="vm.companyLogoUrl" edit-block-options="vm.modalOptions">
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="builder-block-panel" ng-if="vm.blockTemplateIsNotEmpty()">
                <a class="delete-block-button" ng-show="vm.baseBlock.id != null" ng-click="vm.deleteBaseBlock()">
                    Delete base block
                </a>
                <a ng-if="vm.baseBlock.id == null" ng-click="vm.createBaseBlock()" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span> Create
                </a>
                <a ng-if="vm.baseBlock.id != null" ng-click="vm.updateBaseBlock()" class="btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span> Update
                </a>
                <a ng-click="vm.resetBaseBlock()" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Reset
                </a>
            </div>
        </div>
    </div>
    <!--mail wrapper end-->
    <div ng-show="false">
        <div id="template-container" class="row not-empty prevent-selection" ng-if="vm.showTemplate">
            <template-preview template="vm.template"
                              delete-button="true"
                              editor-button="true"
                              dragdrop-button="true"
                              edit-child-elements="true"
                              company-logo-url="vm.companyLogoUrl">
            </template-preview>
        </div>
    </div>
</section>

