<tr>
    <td id='block-template' ng-bind-html="enableStyle(block.template)">
    </td>
</tr>
<tr id="edit-button" ng-if="editorButton" class="block-code-button visibility-block" ng-click="setEditorVisibility()">
    <td>
        <div class="module-code-button prevent-selection">
            <div class="code-button" ng-hide="isVisibleEditor"></div>
            <div class="save-code-button" ng-show="isVisibleEditor"></div>
        </div>
    </td>
</tr>
<tr id="main-button" ng-if="block.data.isMainBlock" class="block-main-button visibility-block">
    <td>
        <div class="module-main-button prevent-selection">
            <div class="main-button"></div>
        </div>
    </td>
</tr>
<tr id="delete-button" ng-if="deleteButton" class="block-delete-button visibility-block" ng-click="deleteBlock()">
    <td>
        <div class="module-delete-button prevent-selection">
            <div class="delete-button"></div>
        </div>
    </td>
</tr>
<tr id="dragdrop-button" ng-if="dragdropButton" class="block-dragdrop-button visibility-block">
    <td>
        <div class="module-dragdrop-button prevent-selection">
            <div class="dragdrop-button"></div>
        </div>
    </td>
</tr>
<tr id="block-editor" ng-if="isVisibleEditor" style="width: 100%; display: block;">
    <td style="width: 100%; display: block;">
        <textarea rows="20" wrap="off" class="code-editor" ng-model="block.template">
        </textarea>
    </td>
</tr>
