<div class="panel animated pulse">
    <aside class="panel-body">
        <div class="col-sm-4 col-md-4 builder-select prevent-selection style-select-block">
            <label>Select style: </label>
            <select class="select-type" ng-model="styleFilter.data.style">
                <option ng-repeat="partStyles in vm.styles" value="{{$index}}">{{partStyles}}
                </option>
            </select>
        </div>
        <uib-accordion close-others="true">
            <div uib-accordion-group ng-repeat="menu in vm.blocksMenu">
                <uib-accordion-heading>
                    {{menu.header}} <i class="pull-right">{{filteredBlocks.length}}</i>
                </uib-accordion-heading>
                <div class="block-preview prevent-selection">
                    <table>
                        <tbody>
                        <tr class="block" ng-repeat="block in menu.blocks | filter:styleFilter as filteredBlocks">
                            <td>
                                <block-directive block="block">
                                </block-directive>
                                <div class="select-block">
                                    <div class="copy-block-in-template-button"
                                         ng-click="vm.addBlockToTemplate(block)">
                                        <i class="fa fa-clone" aria-hidden="true"></i>
                                        Copy
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-accordion>
    </aside>
</div>
