<div class="quick-add-block">
    Add block
    <i class="fa fa-caret-down" aria-hidden="true"></i>
    <div class="dropdown">
        <div class="dropdown-tab" id="header-tab" ng-init="initEvents()">
            Header
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="blocks-container" id="header-container">
            <table width="640px" cellspacing='0' border='0' cellpadding='0' align="center" style='margin:auto;'>
                <tbody>
                <tr class="block" ng-repeat="block in blocksMenu[0].blocks">
                    <td>
                        <block-directive block="block">
                        </block-directive>
                        <div class="select-block">
                            <div class="copy-block-in-template-button" ng-click="addBlockToTemplate(block)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="dropdown-tab" id="footer-tab">
            Footer
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="blocks-container" id="footer-container">
            <table width="640px" cellspacing='0' border='0' cellpadding='0' align="center" style='margin:auto;'>
                <tbody>
                <tr class="block" ng-repeat="block in blocksMenu[2].blocks">
                    <td>
                        <block-directive block="block">
                        </block-directive>
                        <div class="select-block">
                            <div class="copy-block-in-template-button" ng-click="addBlockToTemplate(block)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="dropdown-tab" id="body-tab">
            Body
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div class="blocks-container" id="body-container">
            <table width="640px" cellspacing='0' border='0' cellpadding='0' align="center" style='margin:auto;'>
                <tbody>
                <tr class="block" ng-repeat="block in blocksMenu[1].blocks">
                    <td>
                        <block-directive block="block">
                        </block-directive>
                        <div class="select-block">
                            <div class="copy-block-in-template-button" ng-click="addBlockToTemplate(block)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-header template-preview-header">
    <h2>{{templateTitle}}</h2>
</div>
<div class="modal-body">
    <div id="template-container" class="quick-edit-template">
        <div ng-show="template.blocks.length != 0">
            <div class="preview-templete-subject" ng-show="isSendPreview">
                <label for="preview-template-subject">Template subject: </label>
                <input id="preview-template-subject" ng-model="template.subject">
            </div>
            <div class="preview-templete-subject" ng-show="isEditTemplateName">
                <label for="preview-template-name">Template name: </label>
                <input id="preview-template-name" ng-model="template.name">
            </div>
            <template-preview template="template" delete-button="true" editor-button="true" dragdrop-button="true"
                              edit-child-elements="true" edit-block-options="editBlockOptions"></template-preview>
        </div>
        <div class="empty-template-preview" ng-show="template.blocks.length == 0">
            Template preview is empty.
        </div>
    </div>
</div>