<div id="edit-element-modal" class="tplBuilder">
    <div class="modal-header gray">
        <div class="actions pull-right">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row" ng-show="isImage()">
            <div class="modal-edit-title">Edit Image</div>
            <div class="modal-edit-text">URL <span>(full address including http://)</span></div>
            <div class="edit-field-wrapper">
                <input class="edit-field" type="text" ng-model="elementValue">
            </div>
        </div>
        <div class="row" ng-show="isText()">
            <div class="modal-edit-title">Edit text</div>
            <div class="modal-edit-text">Text content</div>
            <div class="edit-field-wrapper">
                <input ng-show="isShowVariableToolTip" class="edit-field" ng-click="setTooltipTrigger('trigger3')" type="text" ng-model="elementValue" tooltip-is-open="tooltipTriggers.trigger3" tooltip-placement="right" tooltip-template="tooltipHTML" tooltip-trigger="none">
                <input ng-show="!isShowVariableToolTip" class="edit-field" type="text" ng-model="elementValue">
            </div>
        </div>
        <div class="row" ng-show="isLargeText()">
            <div class="modal-edit-title">Edit text</div>
            <div class="modal-edit-text">Text content</div>
            <div class="edit-field-wrapper">
                <div id="large-text-editor" ng-model="elementTextAngularValue" text-angular
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                     ['ul', 'ol'],
                     ['justifyLeft', 'justifyCenter', 'justifyRight'],
                     ['fontColor', 'fontName', 'fontSize'],
                     ['insertLink', 'insertImage','insertCustom'],
                     ['undo', 'redo', 'clear', 'html']]"
                     ta-unsafe-sanitizer="true">
                </div>
            </div>
        </div>
        <div class="row" ng-show="isLinkImage()">
            <div class="modal-edit-title">Edit Link and Image</div>
            <div class="modal-edit-text">URL Image <span>(full address including http://)</span></div>
            <div class="edit-field-wrapper">
                <input class="edit-field" type="text" ng-model="elementValue.src">
            </div>
            <div class="modal-edit-text">URL Link <span>(full address including http:// or php directive)</span></div>
            <div class="edit-field-wrapper">
                <input ng-show="isShowVariableToolTip" class="edit-field"  ng-click="setTooltipTrigger('trigger4')" type="text" ng-model="elementValue.href" tooltip-is-open="tooltipTriggers.trigger4" tooltip-placement="right" tooltip-template="tooltipHTML" tooltip-trigger="none">
                <input ng-show="!isShowVariableToolTip" class="edit-field" type="text" ng-model="elementValue.href">
            </div>
        </div>
        <div class="row" ng-show="isLink()">
            <div class="modal-edit-title">Edit Link</div>
            <div class="modal-edit-text">Title</div>
            <div class="edit-field-wrapper">
                <input ng-show="isShowVariableToolTip" class="edit-field" ng-click="setTooltipTrigger('trigger1')" type="text" ng-model="elementValue.text" tooltip-is-open="tooltipTriggers.trigger1" tooltip-placement="right" tooltip-template="tooltipHTML" tooltip-trigger="none">
                <input ng-show="!isShowVariableToolTip" class="edit-field" type="text" ng-model="elementValue.text">
            </div>
            <div class="modal-edit-text">URL Link <span>(full address including http:// or php directive)</span></div>
            <div class="edit-field-wrapper">
                <input ng-show="isShowVariableToolTip" class="edit-field" ng-click="setTooltipTrigger('trigger2')" type="text" ng-model="elementValue.href" tooltip-is-open="tooltipTriggers.trigger2" tooltip-placement="right" tooltip-template="tooltipHTML" tooltip-trigger="none">
                <input ng-show="!isShowVariableToolTip" class="edit-field" type="text" ng-model="elementValue.href">
            </div>
        </div>
        <div class="row action-panel">
            <a ng-click="delete()" class="btn btn-danger delete-button"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a>
            <a ng-click="save()" class="btn btn-success save-button">Save</a>
            <a ng-click="cancel()" class="btn btn-danger cancel-button">Cancel</a>
        </div>
    </div>
</div>
