<div class="tplBuilder import-export-modal">
    <div class="busyoverlay ng-hide" ng-show="busyModal">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="modal-header">
        <h2>{{exportHeader}}</h2>
    </div>
    <div class="modal-body">
        <a ng-click="exportData()" class="btn btn-success import-export-button">{{exportButton}}</a>
    </div>
    <div class="modal-footer">
        <a ng-click="close()" class="btn btn-default close-button">Close</a>
    </div>
</div>