<div class="style-menu animated pulse">
    <div ng-hide="vm.blockChosen" class="style-instruction">
        <div class="arrow-right">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="text">
            Select a block to the right
        </div>
    </div>
    <er-styl-editor-frame ng-show="vm.blockChosen" style-container="templateStyleContainer" scope-template="vm.scopeTemplate">
    </er-styl-editor-frame>
</div>