<table id="template" cellspacing='0' border='0' cellpadding='0' align="center" style='margin:auto; background-color: #ffffff;'>
    <tbody dragula='"template-bag"' dragula-model='template.blocks'>
    <tr class="builder-block"
        block-directive block="block" delete-block="deleteBlockFromTemplate($index)" delete-button="deleteButton"
        editor-button="editorButton" edit-child-elements="editChildElements" dragdrop-button="dragdropButton"
        company-logo-url="companyLogoUrl" edit-block-options="editBlockOptions"
        ng-repeat="block in template.blocks track by $index"
        on-finish-render="templateRenderFinished">
    </tr>
    </tbody>
</table>