<div class="style-editor">
    <div class="swicher">
        <span class="title">Affect all templates </span>
        <span class="switchery-calc on" ng-click="switchEditorScope()" ng-class="{'on': scopeTemplate , 'off' :!scopeTemplate}">
              <small></small>
        </span>
    </div>
    <div>
        <strong>Background colors: </strong>
        <div class="form-group" ng-hide="styleContainer.block == undefined">
            <label>Block background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.block.backgroundColor"  style="background-color: {{styleContainer.block.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.largeButton == undefined">
            <label>Large button background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.largeButton.backgroundColor"  style="background-color: {{styleContainer.largeButton.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.smallButton == undefined">
            <label>Small button background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.smallButton.backgroundColor"  style="background-color: {{styleContainer.smallButton.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.button == undefined">
            <label>Button background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.button.backgroundColor"  style="background-color: {{styleContainer.button.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.linkButton == undefined">
            <label>Link button background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.linkButton.backgroundColor"  style="background-color: {{styleContainer.linkButton.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.titleBox == undefined">
            <label>Title background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.titleBox.backgroundColor"  style="background-color: {{styleContainer.titleBox.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.contentBox == undefined">
            <label>Container background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.contentBox.backgroundColor"  style="background-color: {{styleContainer.contentBox.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.innerBox == undefined">
            <label>Inner box background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.innerBox.backgroundColor"  style="background-color: {{styleContainer.innerBox.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.outerBox == undefined">
            <label>Outer box background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.outerBox.backgroundColor"  style="background-color: {{styleContainer.outerBox.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.leftBox == undefined">
            <label>Left box background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.leftBox.backgroundColor"  style="background-color: {{styleContainer.leftBox.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.centerBox == undefined">
            <label>Center box background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.centerBox.backgroundColor"  style="background-color: {{styleContainer.centerBox.backgroundColor}}">
        </div>
        <div class="form-group" ng-hide="styleContainer.rightBox == undefined">
            <label>Right box background-color:</label>
            <input colorpicker="hex" ng-model="styleContainer.rightBox.backgroundColor"  style="background-color: {{styleContainer.rightBox.backgroundColor}}">
        </div>
    </div>
</div>