<div class="tplBuilder quick-template-preview">
    <div class="busyoverlay ng-hide" ng-show="busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="tab-menu" ng-show="isShowPreviewTabs">
        <div class="panel">
            <aside class="panel-body">
                <ul class="nav nav-tabs">
                    <li ng-repeat="tab in tabs"
                        ng-class="{ 'active': tab.selected}">
                        <a href="" ng-click="select(tab)"> <i class="{{tab.icon}}"></i>{{tab.name}}
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <div ng-repeat="tab in tabs" ng-class="{active: tab.selected}">
        <div ng-show="tab.selected" ng-include="tab.url"></div>
    </div>
    <div class="modal-footer">
        <div class="row action-panel">
            <div class="col-md-12">
                <a ng-show="isShowSaveButton" ng-click="save()" class="btn btn-primary save-button">{{saveButtonText}}</a>
                <a ng-show="isShowCloseButton" ng-click="cancel()" class="btn btn-default cancel-button">{{closeButtonText}}</a>
            </div>
        </div>
    </div>
</div>