<div class="panel animated pulse">
    <aside class="panel-body">
        <div class="col-sm-4 col-md-4 builder-select prevent-selection style-select-block">
            <label>Show Template By: </label>
            <select class="select-type" ng-model="filterByKeyName.key_name">
                <option value="">- All templates -</option>
                <optgroup ng-repeat="(type, template) in vm.templateKeyNames | groupBy: 'type' " label="{{ ::type }}">
                    <option ng-repeat="keyName in template" value="{{ :: keyName.id}}">
                        {{::keyName.value}}
                    </option>
                </optgroup>
            </select>
        </div>
        <uib-accordion close-others="true">
            <div uib-accordion-group ng-repeat="menu in vm.templatesMenu">
                <uib-accordion-heading>
                    {{menu.header}} <span class="child-template-is-edit" ng-if="vm.isChooseChildTemplate(filteredTemplate)">*</span> <i class="pull-right">{{filteredTemplate.length}}</i>
                </uib-accordion-heading>
                <div dragula='"preview-template-bag"' dragula-model='menu.templates'>
                    <div class="preview-template" ng-repeat="template in menu.templates | filter:filterByKeyName:comparatorFunction as filteredTemplate"
                         ng-class="{'active-template': template.id == vm.template.id}">
                        <div class="dragdrop-block">
                            <i class="fa fa-arrows drag-templates" aria-hidden="true"></i>
                        </div>
                        <div class="template-block">
                            <div class="block prevent-selection">
                                <div>
                                    <div>{{template.name}}</div>
                                    <div ng-if="template.name == ''">Template without name</div>
                                    <div class="template-description">{{template.data.subject}}</div>
                                </div>
                                <div class="select-block">
                                    <div class="delete-template-button-block" ng-click="vm.deleteTemplate(template.id)">
                                        <div class="delete-template-button">
                                        </div>
                                    </div>
                                    <div class="edit-template-button" ng-click="vm.editTemplate(template)">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Edit
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </aside>
</div>
