<div class="pageheader">
    <h1>Template builder </h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>Settings</li>
            <li class="active">Template builder</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInUp tplBuilder" ng-controller="TplBuilderController as vm">
    <!--mail wrapper start-->
    <div class="busyoverlay ng-hide" ng-show="vm.busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="row">
        <div class="builder-menu" ng-class="{'col-sm-4 col-md-4' : !vm.isSelectBlockBuilderTab, 'select-block-builder-tab': vm.isSelectBlockBuilderTab}">
            <div class="tab-menu">
                <div class="panel">
                    <aside class="panel-body">
                        <div class="btn btn-primary btn-block tab-menu-button" ng-click="vm.createNewTemplate()">
                            Create template
                        </div>
                        <div class="btn btn-primary btn-block tab-menu-button" ng-click="vm.showImportDialog()" ng-show="vm.isAdmin()">
                            Import
                        </div>
                        <div class="btn btn-primary btn-block tab-menu-button" ng-click="vm.showExportDialog()" ng-show="vm.isAdmin()">
                            Export
                        </div>
                        <ul class="nav nav-pills nav-stacked compose-nav">
                            <li ng-repeat="tab in vm.tabs"
                                ng-class="{ 'active': tab.selected}">
                                <a href="" ng-click="vm.select(tab)"> <i class="{{tab.icon}}"></i>{{tab.name}}
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="tab-container">
                <div ng-repeat="tab in vm.tabs" ng-class="{active: tab.selected}">
                    <div ng-show="tab.selected" ng-include="tab.url"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 frame">
            <div ng-if="vm.templateIsEmpty()" class="row empty prevent-selection">
                Template is empty! Please select block from blocks section.
            </div>
            <div class="row" ng-show="vm.templateIsNotEmpty()">
                <div class="col-sm-4 col-md-4 builder-select prevent-selection">
                    <label>Template folder: </label>
                    <select class="select-type" ng-model="vm.template.data.templateFolder">
                        <option ng-repeat="folder in vm.templateFolders.folders track by $index" value="{{folder.index}}">{{folder.name}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4 col-md-4 builder-select prevent-selection">
                    <label>Template name: </label>
                    <input type="text" ng-model="vm.template.name">
                </div>
                <div class="col-sm-4 col-md-4 builder-select prevent-selection">
                    <label>Send Template When: </label>
                    <select class="select-type" ng-model="vm.template.key_name">
                        <option value="">- Not To Send Automatically -</option>
                        <optgroup ng-repeat="(type, template) in vm.templateKeyNames | groupBy: 'type' " label="{{ ::type }}">
                            <option ng-repeat="keyName in template" value="{{ :: keyName.id}}">
                                {{::keyName.value}}
                            </option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 builder-select prevent-selection">
                    <label>Template subject: </label>
                    <input type="text" ng-model="vm.template.data.subject">
                </div>
            </div>
            <button ng-show="vm.templateIsNotEmpty()" style="width: 50%;margin: 20px 25%;" class="btn btn-info btn-small" ng-click="vm.isShowPreviewFrame = !vm.isShowPreviewFrame">
                <div ng-hide="vm.isShowPreviewFrame">
                    Show preview frame <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
                <div ng-show="vm.isShowPreviewFrame">
                    Hide preview frame <i class="fa fa-eye-slash" aria-hidden="true"></i>
                </div>
            </button>
            <div id="template-container" class="row not-empty prevent-selection">
                <preview-block class="not-empty-block" ng-show="vm.isShowPreviewFrame && vm.templateIsNotEmpty()" content="vm.template.template"></preview-block>
                
                <er-styl-executor-frame style-container="templateStyleContainer" scope-template="vm.scopeTemplate" block-chosen="vm.blockChosen" ng-show="vm.templateIsNotEmpty() && !vm.isShowPreviewFrame">
                    <template-preview template="vm.template"
                                      delete-button="true"
                                      editor-button="true"
                                      dragdrop-button="true"
                                      edit-child-elements="true"
                                      company-logo-url="vm.companyLogoUrl"
                                      edit-block-options="vm.modalOptions">
                    </template-preview>
                </er-styl-executor-frame>
            </div>
            <div class="row builder-template-panel" ng-if="vm.templateIsNotEmpty()">
                <a class="copy-template-button" ng-click="vm.copyTemplate(vm.template)">
                    copy and create new template
                </a>
                <a ng-if="vm.template.id == null" ng-click="vm.createTemplate()" class="btn btn-success"><span
                        class="glyphicon glyphicon-save"></span> Create</a>
                <a ng-if="vm.template.id != null" ng-click="vm.updateTemplate()" class="btn btn-success"><span
                        class="glyphicon glyphicon-pencil"></span> Update</a>
            </div>
        </div>
    </div>
    <!--mail wrapper end-->
</section>

