<div class="template-folders-panel animated pulse">
    <div ng-repeat="folder in vm.templateFolders.folders track by $index" class="folder">
        {{folder.name}}
        <div class="select-folder" ng-hide="vm.isDefaultFolder(folder)">
            <div class="remove-folder-block">
                <div class="remove-folder-button" ng-click="vm.removeFolder($index)">
                    Remove
                </div>
            </div>
            <div class="edit-folder-block">
                <div class="edit-folder-button" ng-click="vm.setFolderForEdit(folder)">
                    Edit
                </div>
            </div>
        </div>
    </div>
    <div class="control-panel">
        <input placeholder="Folder name" ng-model="vm.newFolder" ng-enter="vm.addFolder()">
        <button class="btn btn-primary" ng-disabled="vm.newFolder == ''" ng-hide="vm.indexEditFolder" ng-click="vm.addFolder()">Add</button>
        <button class="btn btn-success" ng-disabled="vm.newFolder == ''" ng-show="vm.indexEditFolder" ng-click="vm.editFolder()">Edit</button>
        <button class="btn btn-danger" ng-show="vm.indexEditFolder" ng-click="vm.cancelEditFolder()" uib-tooltip="Cancel">X</button>
    </div>
</div>