<span class='bar-btn-dropdown dropdown dropdown-custom-variable'>
    <button class='btn btn-default dropdown-toggle' type='button' ng-disabled='showHtml()' ng-click="open()">
		<span>{{active}} </span>
		<i class='fa fa-caret-down'></i>
	</button>
	<ul class='dropdown-menu'>
		<input class="search-bar" ng-model="searchValue" placeholder="Search" ng-click="activateSearch($event)">
		<li ng-repeat='item in options()| filter: searchValue | orderBy: "name"'>
			<button class='checked-dropdown' type='button' ng-click='action(item)'>
				{{item.name}}
			</button>
		</li>
	</ul>
</span>
