<div class="tooltip-html-variable">
    <input class="tooltip-header-search-input" ng-model="searchValue" placeholder="Search">
    <input class="tooltip-header-close-button" type="button" ng-click="closeTooltip()" value="X">
    <div class="block-btn">
        <button class="btn" ng-repeat="button in tooltipButtons | filter: searchValue | orderBy: 'name'" ng-click="insertTextInInput(button.value)">{{button.name}}</button>
    </div>
</div>
