<div class="customer-online-modal">
    <div class="customer-online-modal__header">
        <div class="customer-online-modal__header-left">
            <div class="customer-online-modal__indicator"></div>
            <h3 class="customer-online-modal__customers-online">{{onlineCustomers || 0}} online</h3>
        </div>
        <i class="fa fa-times customer-online-modal__close"
           ng-click="closeCustomersOnlineModal()"></i>
    </div>
    <div class="customer-online-modal__body">
        <div class="customer-online-modal__empty"
             ng-show="!onlineCustomers">
            There is no online customers...
        </div>
        <div class="customer-online-modal__item"
             ng-show="onlineCustomers"
             ng-repeat="(key, request) in requests track by request.nid">
            <customer-card request="request"
                           user="request.uid"></customer-card>
        </div>
    </div>
    <div class="customer-online-modal__footer">
        <button class="btn btn-success"
                ng-click="closeCustomersOnlineModal()">Close</button>
    </div>
</div>
