.customer-online-modal
	&__header
		display flex
		justify-content space-between
		align-items center
		padding .5em 1em
		background-color rgba(245, 245, 245,.8)
	&__header-left
		display flex
		justify-content center
		align-items center
	&__indicator
		width 10px
		height 10px
		border-radius 50%
		background-color #27ae60
		filter blur(2px)
		margin-right 1em
	&__close
		cursor pointer
	&__footer
		padding .5em
		display flex
		justify-content flex-end
		align-items center
		background-color rgba(245, 245, 245, .8)
	&__body
		padding .5em
		display flex
		flex-wrap wrap
	&__item
		width 50%
		padding 1em
	&__empty
		width 100%
		display flex
		justify-content center
		align-items center
