

<div id="receipt">
    <div class="modal-header gray">
        <h2>Receipt | Request #{{receipt.invoice_id}}</h2>

        <a href="javascript:void(0)"  class="btn btn-primary pull-right no-print" style="margin-top: -35px;" data-ng-click="printDiv('receipt')">Print</a>
    </div>

    <div class="col-md-12" style="padding:25px;" >
        <div class="field-type-of-entrance-from"><span class="mtitle">Transaction id : </span> <span>#{{receipt.transaction_id}}</span> </div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Date : </span> <span>{{dateFormat(receipt.created || receipt.date)}}</span> </div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Name : </span> {{receipt.first_name }} {{receipt.last_name}} </div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Phone : </span> {{receipt.phone | nationalPhoneFormatter}} </div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Email : </span> {{receipt.email }} </div>

        <div class="field-type-of-entrance-from"><span class="mtitle">Amount: </span> <span>{{receipt.amount}}   </span></div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Card Type : </span> <span>{{receipt.card_type}} </span></div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Payment method: </span> <span>{{receipt.payment_method}}   </span></div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Account number </span> <span>{{receipt.account_number}}   </span></div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Auth code: </span> <span>{{receipt.auth_code}}   </span></div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
