<div busy-overlay="$ctrl.awaiter">
    <button ng-click="$ctrl.done()" class="close">
        <span>×</span>
    </button>
    <reminder-min class="notification" reminder="$ctrl.reminder"></reminder-min>
    <fieldset class="notification-footer">
        <div class="footer-row">
            <time-offset-for ng-model="$ctrl.reminder.snoozed_for" forward></time-offset-for>
            <button class="btn btn-success" ng-click="$ctrl.snooze()">Snooze</button>
        </div>
        <div class="footer-row">
            <button class="btn btn-danger" ng-click="$ctrl.dismiss()">Dismiss</button>
            <button class="btn btn-success" open-request="$ctrl.reminder.node_id">Open request</button>
        </div>
    </fieldset>
</div>
