<p class="paragraph left-offset bold"> if shipment must be stored, customer must initial below</p>
<div ng-repeat="sf in data.storageFit track by $index">
    <div class="paragraph left-offset sf-text-box">
        <div style="padding-left: 5px; margin-bottom: -10px;" ng-show="sf.unremovable">
            <label for="show_{{$index}}">Enable on contract</label>
            <input type="checkbox" ichecks="" ng-model="sf.show" id="show_{{$index}}">
        </div>
        <textarea class="sf-textarea" ng-model="sf.text" ng-class="{active: modal.showTextareaSettings == $index}"  ng-focus="modal.showTextareaSettings = $index" ng-blur="blur()"></textarea>
        <select class="form-control extra-storage" ng-model="sf.connected_service" ng-hide="sf.unremovable" ng-style="{'top':(sf.unremovable ? '30px' : '13px')}">
            <option value=""></option>
            <option ng-repeat="service in extraServices" ng-selected="service.alias == sf.connected_service" value="{{service.alias}}">{{service.name}}
            </option>
        </select>
        <div class="form-control extra-storage" style="height: initial;"  ng-show="sf.unremovable">
            {{changeName(sf.connected_service)}}
        </div>
        <button class="btn btn-danger remove-extra-storage" ng-click="removeStorage($index)" ng-hide="sf.unremovable">Remove</button>
        <div class="textarea-settings" ng-show="modal.showTextareaSettings == $index">
            <div ng-repeat="(id, setting) in settingsMenu" ng-click="addInput(setting, sf)">
                <button class="btn btn-block btn-default small" ng-disabled="sf.connected_service == '' && setting.title == 'Number input'" ng-if="id!='MONTHLY_TOTAL' && id!='VOLUME_CUFT'">{{ setting.title }}</button>
                <button class="btn btn-block btn-default small" ng-if="id=='MONTHLY_TOTAL' || id=='VOLUME_CUFT'">{{ setting.title }}</button>
            </div>
        </div>
    </div>
</div>
