<style>
    h1{
        text-align: center;
        font-weight: bold;
    }
    span{
        font-size: 18px;
    }
    .errorStorageVolume{
        border-bottom-color: red;
        background-color: rgba(255, 0, 0, 0.15);
    }
    .monthly-storage{
        font-size: 40px;
        text-align: center;
        margin: 25px 0px 25px 0px;
        min-height: 60px;
    }
</style>
<div ng-show="busy" style="position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.41);">
    <svg class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
<div class="modal-header" style="padding: 25px;">
    <div class="actions pull-right">
        <button type="button" class="close" ng-click="cancel()"  style="margin-top: -25px;">&times;</button>
    </div>
    <div class="actions pull-left">
        <i class="fa checkout_back  fa-chevron-left" ng-show="storage && !steps[0]" ng-click="returnStep(0)" style="margin-top: -15px;cursor: pointer;"></i>
    </div>
</div>
<div class="modal-body form-horizontal" style="min-height: 200px;">
    <div ng-show="steps[0]" style="padding: 25px 0px 25px 0px;">
        <h1>What your volume (cubic feet) ?</h1>
        <div class="row">
            <div class="col-md-2 col-xs-2 col-sm-2 col-md-offset-5 col-xs-offset-5 col-sm-offset-5">
                <input ng-model="storageVolume" class="form-control monthly-storage" ng-change="changeVolume()" ng-class="{'errorStorageVolume': errorStorageVolume}">
            </div>
        </div>
        <h1>Total: $ {{storageTotal || 0 | number : 2}}</h1>
    </div>
    <div ng-show="steps[1]">
        <h1>Please Agree with our terms and sign</h1>
        <div ng-if="steps[1]" parse-connected_service class="paragraph left-offset" additional-services="services" ng-model="service.connected_service" monthly-total="storageTotal" volume-cuft="storageVolume" rate-cuft="storageRateCuft">
        </div>
        <div class="signature-form" style="top: 20%" ng-style="(payment_flag == 'regular') && {'display': 'none'}">
            <div class="signature-times" style="height: 25em;"></div>
            <hr class="signature-underline" style="width: 95%;">
        </div>
        <canvas style="margin-left: 8px; background-color: white;" id="signatureCanvasService" height="450" width="1050"></canvas>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success btn-lg" ng-if="steps[1]"  ng-click="saveService()">Save</button>
    <button class="btn btn-success btn-lg" ng-if="steps[0]" ng-click="goSecondStep()">Ok</button>
</div>
