<a class="print-download-container" href="{{$ctrl.url}}" target="_blank">
    <span class="download-print-title">Print</span>
    <i class="fa fa-print download-print-icon" aria-hidden="true"></i>
</a>
<a class="print-download-container" href="{{$ctrl.url}}" download>
    <span class="download-print-title">Download</span>
    <i class="fa fa-download download-print-icon" aria-hidden="true"></i>
</a>
