.progress-bar-settings-container
	padding-bottom 20px
.progress-bar-settings
	position relative
	display inline-flex
	flex-direction column
	justify-content flex-start
	flex-wrap wrap
	padding 0 20px
	width 100%
	background-color #fff
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
	&__row
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		padding-bottom 20px
	&__examples
		margin 20px 0 0 20px
		border 1px dashed rgba(0, 0, 0, .16)
		padding 15px 0 15px 15px
		display inline-flex
		flex-direction column
		justify-content flex-start
	&__examples-column
		display inline-flex
		flex-direction column
		justify-content flex-start
	&__example
		margin-top 15px
		display inline-flex
		flex-direction row
		justify-content flex-start
		align-items center
		&__progress
			width 280px
		&__label
			margin-left 10px
			transform rotate(45deg)
	&__services
		display inline-flex
		flex-direction row
		justify-content flex-start
		width 100%
		padding-top 15px
	&__column
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		padding 15px
	&__with-border
		border-right 1px dashed rgba(0, 0, 0, .16)
	&__line
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
		width 100%
		align-items center
		padding 13px 0
	&__switch
		display flex
		flex-direction row
		flex-wrap nowrap
		align-items center
		justify-content space-between
		min-width 194px
@media all and (min-width: 2200px)
	.progress-bar-settings
		&__column
			padding 5px 70px
@media all and (min-width: 1650px) and (max-width: 1899px)
	.progress-bar-settings
		&__row
			flex-direction column
			padding-bottom 0
		&__examples-column
			flex-direction row
			justify-content space-around
		&__services
			padding-bottom 10px
		&__line
			padding 7px 0
		&__column
			padding 5px 50px
		.examle-label
			text-align center

@media all and (min-width: 1250px) and (max-width: 1649px)
	.progress-bar-settings
		&__row
			flex-direction column
			padding-bottom 0
		&__examples-column
			flex-direction row
			justify-content space-around
		&__services
			padding-bottom 10px
		&__line
			padding 7px 0
		&__column
			padding 5px 20px
		.examle-label
			text-align center

@media all and (max-width: 1249px)
	.progress-bar-settings
		&__row
			flex-direction column
			padding-bottom 0
		&__services
			padding-bottom 10px
			flex-direction column
		&__line
			padding 7px 0
		&__column
			padding 0 70px
	.hide-if-mobile
		display none
