.progress-bar-settings-container
	form.progress-bar-settings.animated.fadeInUp(name="serviceTypeProgress")
		.lead-scoring-rules__saving-alert
			span(ng-show="saving") Saving
			span.animated.fadeIn(ng-show="saved") Saved!
		.lead-scoring-rules__switch
			input.js-switch(
				type="checkbox"
				ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
				ng-model="progressBarSettings.enabled"
				ng-change="saveSettings()"
				data-switchery="true" style="display: none")
			h2.lead-scoring-rules__switch__label Enable progress bar on account page
		.progress-bar-settings__row
			.progress-bar-settings__examples
				h3.examle-label Example
				.progress-bar-settings__examples-column
					.progress-bar-settings__example
						.progress-bar-settings__example__progress
							progress-bar-example(is-optional="false")
						h3.progress-bar-settings__example__label Aggressive
					.progress-bar-settings__example
						.progress-bar-settings__example__progress
							progress-bar-example(is-optional="true")
						h3.progress-bar-settings__example__label Optional
			.progress-bar-settings__services

				.progress-bar-settings__column.progress-bar-settings__with-border
					.progress-bar-settings__line
						h2.notif-score-label Type of service
						h2.notif-score-label Type of Progress Bar
					.progress-bar-settings__line(ng-repeat="service in firstColumn")
						label.lead-score-input-label {{serviceTypesWithValidTitles[service.id].title}}
						.progress-bar-settings__switch
							h4 Aggressive
							div(ng-class="{'disabled': !progressBarSettings.enabled}")
								input.js-switch.progressSwitch(
									type="checkbox"
									ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#e2615d'}"
									ng-model="service.isOptional"
									ng-change="saveSettings()")
							h4 Optional
				.progress-bar-settings__column
					.progress-bar-settings__line.hide-if-mobile
						h2.notif-score-label Type of service
						h2.notif-score-label Type of Progress Bar
					.progress-bar-settings__line(ng-repeat="service in secondColumn")
						label.lead-score-input-label {{serviceTypesWithValidTitles[service.id].title}}
						.progress-bar-settings__switch
							h4 Aggressive
							div(ng-class="{'disabled': !progressBarSettings.enabled}")
								input.js-switch.progressSwitch(
									type="checkbox"
									ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#e2615d'}"
									ng-model="service.isOptional"
									ng-change="saveSettings()"
									data-switchery="true" style="display: none")
							h4 Optional

