<section id="main-content" class="animated fadeInUp" ng-controller="MailsController as vm" style="min-height: 700px;">
    <!--mail wrapper start-->
    <div class="busyoverlay ng-hide" ng-show="vm.busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-if="!vm.isAvailable">
            <div class="well">
                <p class="lead text-center" style="margin-bottom: 0;"> - Your Mail service unavailable - </p>
            </div>
        </div>
        <div ng-if="vm.isAvailable">
            <div class="col-md-2 col-sm-12" id="compose-wrapper">
                <div class="panel">
                    <aside class="panel-body">
                        <a ng-click="vm.showCompose = true" class="btn btn-primary btn-block">Compose Mail</a>
                        <ul class="nav nav-pills nav-stacked compose-nav">
                            <li ng-repeat="folder in vm.navigation.folders track by $index"
                                ng-class="{active: $index == vm.navigation.active}">
                                <a href="javascript:void(0);" ng-click="vm.setFolder($index, folder)">
                                    <i class="{{:: folder.icon }}"></i>
                                    {{ :: folder.title }}
                                <span class="label label-primary label-circle pull-right inbox-notification" ng-show="folder.unread != 0">
                                    {{ folder.unread }}
                                </span>
                                </a>
                            </li>

                        </ul>
                    </aside>
                </div>

                <!--<div class="panel">
                    <aside class="panel-body">
                        <button class="btn btn-default btn-block">Manage Labels</button>
                        <ul class="nav nav-pills nav-stacked compose-nav">
                            <li>
                                <a href="#"> <i class="fa fa-bookmark danger-color"></i> Urgent

                                </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-bookmark warning-color"></i> Social<span class="label label-warning pull-right"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-bookmark primary-color"></i> Follow-up</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-bookmark success-color"></i> Work Inquiry</a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-bookmark info-color"></i> Save <span class="label label-info pull-right inbox-notification"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-bookmark default-color"></i> ToDo</a>
                            </li>
                        </ul>
                    </aside>
                </div>
    -->

            </div>

            <div class="col-md-10 col-sm-12">
                <div class="col-md-5 col-sm-12" id="inbox-wrapper">
                    <cc-mail-data-list active="vm.navigation.active"></cc-mail-data-list>
                </div>
                <div class="col-md-7 col-sm-12" id="view-mail-wrapper">
                    <div class="panel" ng-show="vm.current.mail.user_id">
                        <div class="panel-body">
                            <header>
                                <h2>{{ vm.current.mail.m_subject }}</h2>
                                <p class="pull-right">{{ vm.current.mail.m_date * 1000 | date: 'EEEE, MMMM dd, h:mm a'}}</p>
                            </header>
                            <div class="row view-mail-header">
                                <div class="col-md-8 ">
                                    <img src="http://simpleicon.com/wp-content/uploads/user1.png"
                                         alt="" class="img-circle" width="50" height="50">
                                    <strong><a href="#">{{ vm.current.mail.address_from }}</a></strong> to
                                    <a href="#">{{ vm.current.mail.address_to }}</a>
                                </div>
                                <div class="col-md-4">
                                    <div class="view-mail-reply pull-right">
                                        <button class="btn btn-sm btn-primary"
                                                ng-click="vm.showCompose = true; vm.composeMsg.to = vm.current.mail.address_to; vm.composeMsg.subject = 'Re: ' + vm.current.mail.m_subject">
                                            <i class="fa fa-reply"></i> Reply
                                        </button>
                                        <button class="btn  btn-sm btn-default tooltips" ng-click='vm.printMsg()' data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i>
                                        </button>
                                        <button class="btn btn-default btn-sm tooltips" ng-click='vm.deleteMsg(id)' data-original-title="Trash" data-toggle="tooltip" data-placement="top" title="Trash"><i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="panel view-mail-body">
                                        <div class="panel-body" ng-bind-html="vm.current.mail.m_body">
                                        </div>
                                        <div class="panel-footer clearfix" ng-if=" vm.current.mail.attachment_exists != 0">
                                            <h5>Attchments ({{ vm.current.mail.attachments.length  }} file)</h5><br>
                                            <div class='pull-left' ng-repeat="attachment in vm.current.mail.attachments track by $index">
                                                <span class="label label-default">File</span>
                                                <a href="{{ attachment }}">
                                                    <span class="attchments">mockups.psd</span>
                                                </a>
                                            </div>
                                            <button class="btn btn-sm btn-primary pull-right">Download</button>
                                            <button class="btn btn-sm btn-default pull-right"><i class="fa fa-share-square-o"></i> Share</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--mail wrapper end-->

    <!-- Compose email popup -->
    <div class="row">
        <div class="panel compose-block" ng-show="vm.showCompose" ng-free-drag>
            <div id="drag-handler" >
                <header>
                    <h2>New Message
                        <a href="javascript:;" class="close close-handler" ng-click="vm.showCompose = false;"> &times; </a>
                    </h2>
                </header>
            </div>
            <div class="panel-body" >

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel view-compose-body">
                            <form class="form" name="composeForm">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <input type="email" ng-model="vm.composeMsg.to" class="form-control" id="to" placeholder="To:" required>
                                        <div class="send-options">
                                            <a href="javascript:void(0);" ng-click="vm.openCC=!vm.openCC" class="ccLink">Cc</a>
                                            <a href="javascript:void(0);" ng-click="vm.openBCC=!vm.openBCC" class="bccLink">Bcc</a>
                                        </div>
                                    </div>
                                    <div class="form-group" id="form-group-cc" ng-show="vm.openCC">
                                        <input type="text" ng-model="vm.composeMsg.cc" class="form-control" id="cc" placeholder="Cc:">
                                    </div>
                                    <div class="form-group" id="form-group-bcc" ng-show="vm.openBCC">
                                        <input type="text" ng-model="vm.composeMsg.bcc" class="form-control" id="bcc" placeholder="Bcc:">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" ng-model="vm.composeMsg.subject" class="form-control" id="subject" placeholder="Subject:" required>
                                    </div>

                                    <textarea class="textarea form-control" ng-model="vm.composeMsg.body" rows="5" cols="40" placeholder="Enter text ..." style="width: 100%; height: 200px"></textarea>
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-sm btn-primary " type='submit' ng-click='vm.send()' ng-disabled="composeForm.$invalid">Send</button>
                                    <button class="btn btn-default btn-sm close-handler" ng-click="vm.save()"><i class="fa fa-times"></i> Discard</button>
                                    <button class="btn btn-default btn-sm pull-right"><i class="fa fa-paperclip"></i> Attach a File</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


