<section class="panel">
    <div ng-show="busy" class="busyoverlay">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">{{ current.folder.title }} ({{ msgCount }})
            <form action="#" class="pull-right mail-src-position">
                <div class="input-append ">
                    <input type="text" class="form-control" placeholder="Search Mail">
                </div>
            </form>
        </h4>
    </header>
    <div class="panel-body minimal">
        <div class="mail-option">
            <div class="pull-left mail-checkbox icheck ">
                <input type="checkbox" class="mail-checkbox icheck"  class="icheck">
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    All <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">None</a>
                    </li>
                    <li><a href="#">Read</a>
                    </li>
                    <li><a href="#">Unread</a>
                    </li>
                    <li><a href="#">Starred</a>
                    </li>
                    <li><a href="#">Unstarred</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <a data-original-title="Refresh" data-placement="top" data-toggle="tooltip" href="#" class="btn btn-default btn-sm tooltips">
                    <i class=" fa fa-refresh"></i>
                </a>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                    More <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;" ng-click="markAsRead()"><i class="fa fa-pencil"></i> Mark as Read</a>
                    </li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a>
                    </li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>
                </ul>
            </div>
            <ul class="inbox-pag pull-right">
                <li><span>1-50 of 83</span>
                </li>
                <li>
                    <a class="btn btn-default btn-sm" href="javascript:;"
                       ng-click="changePage('left')">
                        <i class="fa fa-angle-left  pag-left"></i>
                    </a>
                </li>
                <li>
                    <a class="btn btn-default btn-sm" href="javascript:;"
                       ng-click="changePage('right')">
                        <i class="fa fa-angle-right pag-right"></i>
                    </a>
                </li>
            </ul>

        </div>
        <div style='width:100%;' class="table-responsive pull-left">
            <table class="table table-inbox table-hover">
                <tbody>
                <!-- class='unread'-->
                <tr ng-if="msgData.length == 0">
                    <td colspan="4">
                        - Folder is empty -
                    </td>
                </tr>
                <tr ng-repeat="msg in msgData | orderBy: '-m_date' track by $index"
                    ng-class="{unread: msg.m_unread == '0', active: current.mail.id == msg.id}"
                    >
                    <td>
                        <input type="checkbox" class="mail-checkbox icheck"  class="icheck" ng-click="selectedMsgs.push(msg.id)">
                    </td>
                    <td><i class="fa fa-star-o"></i>
                        <!--<i class="fa fa-star"></i>-->
                    </td>
                    <td class="message" ng-click="selectMsg(msg)" class="m-row">
                        <a href="javascript:;">
                            <span class="title">{{:: msg.m_subject }} </span>
                            {{ stripTags(msg.m_body) | limitTo: 50 }}
                        </a>
                    </td>
                    <td class="text-right">{{:: msg.m_date * 1000 | date: 'MMMM dd'}}
                        <i class="fa fa-paperclip" ng-if="msg.attachment_exists != 0"></i>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>