include ../../../../../../node_modules/bemto.pug/bemto
include ./aside/aside.pug
include ./button/button.pug

+b.inventory-old
	.busyoverlay(ng-show="!busy")
		svg(class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg")
			circle(class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30")

	+e.row(ng-show="busy")
		+e.toolbar
			+e.toolbar-item
				+e('input').search.js-inventory-search#gSearch(placeholder="Search item..." ng-init="searchText" ng-model="searchText")
			+e.toolbar-item(ng-if="calcTotals.counts && !isMobile")
				| Total Items : {{calcTotals.counts}}
			+e.toolbar-item(ng-if="calcTotals.boxes && !isMobile")
				| Total Boxes: {{calcTotals.boxes}}
			+e.toolbar-item(ng-if="calcTotals.custom && !isMobile")
				| Custom: {{calcTotals.custom}}
			+e.toolbar-item(ng-if="calcTotals.cfs > 0 && !isMobile")
				| Total Estimated Cubic Feet: {{calcTotals.cfs}}
			+e.toolbar-item
				+e('button').button(id="save-inventory" ng-class="{'disabled':vm.busyInventory}" ng-click="saveListInventories()")
					| Save Inventory
	+e.row(ng-show="busy && isMobile")
		+e.toolbar
			+e.toolbar-item(ng-if="calcTotals.counts && isMobile")
				| Total Items : {{calcTotals.counts}}
			+e.toolbar-item(ng-if="calcTotals.boxes && isMobile")
				| Total Boxes: {{calcTotals.boxes}}
			+e.toolbar-item(ng-if="calcTotals.custom && isMobile")
				| Custom: {{calcTotals.custom}}
			+e.toolbar-item(ng-if="calcTotals.cfs > 0 && isMobile")
				| Total Estimated Cubic Feet: {{calcTotals.cfs}}

	+e.row_curren-room(ng-show="busy && isMobile")
		+e.wraper-aside_auto-height.full-width
			+e.aside.full-width
				+b.aside.js-aside.full-width
					- var isTitleOpened = false;
					//- each item in title.items
					//- 	if item.text === pageTitle
					//- 		- isTitleOpened = true;
					+e.wrap-aside(class=isTitleOpened ? '_state_opened' : '' ng-show="myInventory.count").js-aside-wrap

						+e.nav.js-aside-nav(
							ng-show="myInventory.opened"
							ng-click="changeMobileMenu(true)"
							ng-class="{'aside__wrap-aside_state_opened' : myInventory.opened}"
							)
							+e('img').icon(ng-src="/moveBoard/content/img/icons/room-key.png")
							+e.title
								| My Inventory
								+e.count
									| {{ myInventory.count }}
					+e.wrap-aside(class=isTitleOpened ? '_state_opened' : '' ng-repeat="filter in filters" ng-show="filter.opened").js-aside-wrap

						+e.nav.js-aside-nav(
							ng-click="changeMobileMenu(true)"
							ng-class="{'aside__wrap-aside_state_opened' : filter.opened}"
							)
							+e('img').icon(ng-src="{{ filter.src }}")
							+e.title
								| {{ filter.title }}
								+e.count
									| {{ filter.count }}

	+e.row_absolute(ng-show="busy && isMobile && hideMobileMenu")
		+e.wraper-aside_auto-height.full-width
			+e.aside.full-width
				+b.aside.js-aside.full-width
					- var isTitleOpened = false;
					//- each item in title.items
					//- 	if item.text === pageTitle
					//- 		- isTitleOpened = true;
					+e.wrap-aside(class=isTitleOpened ? '_state_opened' : '').js-aside-wrap

						+e.nav.js-aside-nav(
							ng-if="myInventory.count"
							ng-click="onClick($event, myInventory); changeMobileMenu(false)"
							ng-class="{'aside__wrap-aside_state_opened' : myInventory.opened}"
							)
							+e('img').icon(ng-src="/moveBoard/content/img/icons/room-key.png")
							+e.title
								| My Inventory
								+e.count
									| {{ myInventory.count }}


					+e.wrap-aside(class=isTitleOpened ? '_state_opened' : '' ng-repeat="filter in filters").js-aside-wrap

						+e.nav.js-aside-nav(
							ng-click="onClick($event, filter)"
							ng-class="{'aside__wrap-aside_state_opened' : filter.opened}"
							)
							+e('img').icon(ng-src="{{ filter.src }}")
							+e.title
								| {{ filter.title }}
								+e.count
									| {{ filter.count }}
						+e.items.js-aside-items
							+e('a').link(
								href=jv0
								ng-repeat="item in filter.items track by $index"
								ng-click="setActiveItem(item, true)"
								ng-class="{'aside__link_state_active' : item.active}"
								).js-aside-inner.js-aside-item
								+e.item
									| {{item.title}}
									+e.count_item
										| {{ item.count }}


	+e.row(ng-show="busy")
		+e.wraper-aside(ng-show="!isMobile")
			+e.aside
				+b.aside.js-aside
					- var isTitleOpened = false;
					//- each item in title.items
					//- 	if item.text === pageTitle
					//- 		- isTitleOpened = true;
					+e.wrap-aside(class=isTitleOpened ? '_state_opened' : '').js-aside-wrap-desk

						+e.nav.js-aside-nav(
							ng-if="myInventory.count"
							ng-click="onClick($event, myInventory)"
							ng-class="{'aside__wrap-aside_state_opened' : myInventory.opened}"
							)
							+e('img').icon(ng-src="/moveBoard/content/img/icons/room-key.png")
							+e.title
								| My Inventory
								+e.count
									| {{ myInventory.count }}


					+e.wrap-aside(class=isTitleOpened ? '_state_opened' : '' ng-repeat="filter in filters").js-aside-wrap-desk

						+e.nav.js-aside-nav(
							ng-click="onClick($event, filter)"
							ng-class="{'aside__wrap-aside_state_opened' : filter.opened}"
							)
							+e('img').icon(ng-src="{{ filter.src }}")
							+e.title
								| {{ filter.title }}
								+e.count
									| {{ filter.count }}
						+e.items.js-aside-items
							+e('a').link(
								href=jv0
								ng-repeat="item in filter.items track by $index"
								ng-click="setActiveItem(item)"
								ng-class="{'aside__link_state_active' : item.active}"
								).js-aside-inner.js-aside-item
								+e.item
									| {{item.title}}
									+e.count_item
										| {{ item.count }}

		+e.wraper.js-custom-scrollba
			+e.inventory-items(ng-if="!myInventory.opened && searchText == '' && currentFilter")
				+e('form').item_custom(ng-show="customItemMode" name="customItemForm" ng-submit="addCustomItem(customItemForm)")
					input.new-custom-item_input(placeholder="Item Name" id="customInventoryName" ng-model="newItem.title.value" name="name" required)
					input.new-custom-item_input(placeholder="Count" id="customInventoryCount" ng-model="newItem.count.value" name="count" required elromco-input-pattern="[^0-9]")
					input.new-custom-item_input(placeholder="Cubic ft." id="customInventoryCubic" ng-if="!isAccount" ng-model="newItem.pounds.value" name="cubic" required elromco-input-pattern="[^0-9]")
					input.new-custom-item_input(placeholder="Width.in" id="customInventoryWidth" ng-if="isAccount" ng-model="newItem.width.value" name="width" required elromco-input-pattern="[^0-9]")
					input.new-custom-item_input(placeholder="Height.in" id="customInventoryHeight" ng-if="isAccount" ng-model="newItem.height.value" name="height" required elromco-input-pattern="[^0-9]")
					input.new-custom-item_input(placeholder="Depth.in" id="customInventoryDepth" ng-if="isAccount" ng-model="newItem.depth.value" name="depth" required elromco-input-pattern="[^0-9]")
					+inventory-button({text: 'Add Item', type: 'submit', margin: '1', ngClick: "customItemForm.$setSubmitted()"})

				md-table-container(ng-show="customItemMode && searchText == ''")
					+e('table').table(md-table multiple ng-model='selected' md-progress='promise')
						thead(md-head md-order='query.order' md-on-reorder='getDesserts')
							+e('tr').table-row(md-row)
								+e('th').table-cell(md-column) Name
								+e('th').table-cell(md-column) Cf
								+e('th').table-cell(md-column style="text-align: center;") Count
								+e('th').table-cell_center(md-column) Action
						tbody(md-body)
							+e('tr').table-row(md-row  ng-repeat='item in currentFilter.items')
								+e('td').table-cell(md-cell)
									| {{item.title}}
								+e('td').table-cell(md-cell)
									| {{item.cf}}
								+e('td').table-cell(md-cell)
									+b.counter.js-counter
										+e('button').button.js-counter-minus(
											ng-click='changeValue(-1, item)'
											)
											+e.minus
										+e('input').input.js-counter-input(
											type='text'
											maxlength='4'
											data-max="1000"
											ng-model="item.count"
											)
										+e('button').button.js-counter-plus(
											ng-click="changeValue(1, item)"
											)
											+e.plus
								+e('td').table-cell_center(md-cell)
									+e('i').remove( ng-click="deleteCustomItem(item)" aria-hidden="true").fa.fa-times

				+e.item(ng-repeat="item in currentFilter.items" ng-if="!customItemMode")
					div(inventory-item delete-custom-item="deleteCustomItem" delete-item="deleteItem" inventory-data="item" list="listInventories" current="activeRoom" room="currentFilter.rid"  calculate="calculateFilter")

			+e.inventory-items(ng-if="searchText  && searchText != ''")
				+e.item(ng-repeat="item in  invetories | filter:searchText track by $index" )
					div(inventory-item delete-custom-item="deleteCustomItem" delete-item="deleteItem" inventory-data="item" list="listInventories" current="activeRoom" room="item.rid" calculate="calculateFilter")

			+e.inventory-items(ng-if="myInventory.opened && searchText == ''")
				+e.group(ng-repeat="filter in filters track by $index" ng-if="filter.count > 0")
					+e.group-title
						| My {{filter.title}} items
					+e.item(ng-repeat="item in listInventories track by $index" ng-if="item.rid == filter.id")
						div(inventory-item delete-custom-item="deleteCustomItem" room="filter.id" delete-item="deleteItem" inventory-data="item" list="listInventories" current="filter.id" calculate="calculateFilter")
