@import "../../style/default.styl"

.inventory-old
	display: flex;
	flex-wrap wrap
	width 100%
	height 100%

	md-table-container
		width 100%

	&__fullscreen
		width 100%
		height 100%
		margin-top 0

	&__button
		padding 5px 15px
		height 30px
		padding 5px
		font-weight 600
		font-size 14px
		border none
		background-color #45AAF9
		color #fff
		text-transform uppercase
		margin-top -7px

	&__title
		margin-top 60px

	&__wraper
		width 100%
		height 600px
		overflow-y auto
		
	&__wraper-aside
		min-width 245px
		width  245px
		height 600px
		
		&_auto-height
			height auto

	&__aside
		width 245px

		

	&__table
		width 98%
		margin-top 10px
		border 1px #999 solid

	&__table-row
		height 35px
		border-top: 1px solid #eee

	&__table-cell
		padding 0 6px 0 6px
		&_center
			text-align center

	&__side-bar
		width 200px
		background #eee
	&__search
		color #000
		height 30px
		padding 5px
		margin-top -3px
		border solid 1px #aaa
		border-radius 2px

	&__item
		display flex
		flex-wrap wrap
		align-content flex-start
		background #eee
		padding 1px


		&_custom
			display flex
			flex-direction row
			flex-wrap nowrap
			width 98%
			
			height 56px
			border 1px solid #000
			align-items center
			justify-content center
			align-self flex-start

			input
				height 40px
				width 120px
				margin-left 20px
				padding 5px

		&_novalid
			border 1px solid red
		&_focus
			border 1px solid #909000

	&__toolbar
		display flex
		height 40px
		padding 10px
		padding-top 20px
		color #000
		width 100%
		font-size 14px
	&__group
		display flex
		flex-wrap wrap
		align-content flex-start
		width 100%

	&__group-title
		width 100%
		height 40px
		padding 10px
		background #2392BA
		color #fff
		text-align center
	&__toolbar-item
		display flex
		flex auto
		font-weight 600
	&__row
		display flex
		width 100%
		margin-bottom 15px

		&_hidden
			height 0
		&_curren-room
			width: 99%

		&_absolute
			position absolute
			overflow hidden
			background #fff
			z-index 100
			//box-shadow 0px 0px 20px 0px #aaa
			transition all 0.3s
			max-height 600px
			width 97%

	&__inventory-items
		width 100%
		margin-left 10px
		margin-right 10px
		padding 2px
		padding-top 2px
		overflow none
		display flex
		flex-wrap wrap
		align-content flex-start
.red-piano
	color red
.ibox-content_full-width
	width 100%


.full-width
	width 100%
