<section id="main-content" class="animated fadeInRight" ng-controller="Dashboard as vm">
    <!--- STATS -->
    <div class="row sales-stats">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-6 col-lg-3 col-xs-6 margin-bottom-twenty" style="display: inline-flex;">
                    <div ng-click="vm.select(1)"
                         ng-class="{	'active': vm.tabs[1].selected,
				   				'minus-width-messages': vm.tabs[6].selected,
				   				'col-md-7': vm.canSeeInvoices,
				   				'col-md-12': !vm.canSeeInvoices}"
                         class="panel panel-messages widget-comments widget-mini nopadding dashboard-tab">
                        <div class="panel-body redBox">
                            <i class="icon-envelope-open"></i>
                            <span class="total text-center">{{vm.unreadCount}}</span>
                            <span class="title text-center">New Messages</span>
                        </div>
                    </div>
                    <div ng-click="vm.select(6)"
                         ng-if="vm.canSeeInvoices"
                         ng-class="{'active': vm.tabs[6].selected}"
                         class="col-md-5 panel widget-comments widget-mini nopadding panel-invoices">
                        <div class="panel-body grayBox invoiceBlock">
                            <div class="totalBlock"><i class="icon-directions"></i>
                                <span class="total text-center">{{vm.invoices.all || 0}}</span>
                                <span class="title text-center">Total invoices</span>
                            </div>
                            <div class="moneyBlock">
						  <span class="moneyBlock__number moneyBlock__profit"
                                uib-tooltip="Total Paid">{{vm.invoices.paidMoney | currency}} ({{vm.invoices.paid}})</span>
                                <span class="moneyBlock__number moneyBlock__lost"
                                      uib-tooltip="Total Unpaid">{{vm.invoices.unpaidMoney | currency}} ({{vm.invoices.unpaid}})</span>
                                <span class="moneyBlock__number"
                                      uib-tooltip="Total">{{vm.invoices.allMoney | currency}} ({{vm.invoices.all}})</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-6 margin-bottom-twenty">
                    <div ng-click="vm.select(0)"
                         ng-class="{'active': vm.tabs[0].selected, 'col-md-8': vm.homeEstimateTotal, 'minus-width': vm.tabs[5].selected}"
                         class="panel widget-comments widget-mini nopadding dashboard-tab">
                        <div class="panel-body orangeBox">
                            <i class="icon-bar-chart"></i>
                            <span class="total text-center">{{vm.pendingCount}}</span>
                            <span class="title text-center">Pending Requests</span>
                        </div>
                    </div>
                    <div class="panel panel-inhome-estimate widget-comments widget-mini col-md-4 nopadding"
                         id="inhome-estimate-tab"
                         ng-if="vm.homeEstimateTotal"
                         ng-click="vm.select(5)"
                         ng-class="{'active': vm.tabs[5].selected}">
                        <div class="panel-body estimateBox">
                            <i class="icon-home" aria-hidden="true"></i>
                            <span class="total text-center">{{vm.homeEstimateTotal}}</span>
                            <span class="title text-center">In-home Estimate</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-6 margin-bottom-twenty">
                    <div ng-click="vm.select(3)"
                         ng-class="{active: vm.tabs[3].selected, 'col-md-8':vm.unconfirmedReserved, 'minus-width': vm.tabs[4].selected}"
                         class=" panel widget-comments widget-mini nopadding dashboard-tab">
                        <div class="panel-body blueBox">
                            <i class="icon-directions"></i>
                            <span class="total text-center">{{vm.unconfirmedCount}}</span>
                            <span class="title text-center">Not Confirmed</span>
                        </div>
                    </div>
                    <div ng-if="vm.unconfirmedReserved" ng-click="vm.select(4)" style="background: rgb(255, 0, 0);"
                         ng-class="{'active': vm.tabs[4].selected}"
                         class="col-md-4 panel widget-comments widget-mini nopadding panel-reserved-requests">
                        <div class="panel-body blueBox">
                            <i class="icon-directions"></i>
                            <span class="total text-center">{{vm.unconfirmedReserved}}</span>
                            <span class="title text-center">Reserved</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xs-6">
                    <div ng-click="vm.select(2)" ng-class="{active: vm.tabs[2].selected}"
                         class="panel widget-comments widget-mini">
                        <div class="panel-body greenBox"
                             ng-class="{'orange-stripped-box': vm.searchParams.conf_filter == 3 || vm.searchParams.conf_filter == 4}">
                            <i class="icon-diamond"></i>
                            <span class="total text-center" ng-show="vm.searchParams.conf_filter == 1">{{vm.bookedCount}}</span>
                            <span class="total text-center" ng-show="vm.searchParams.conf_filter == 2">{{vm.confirmedCount}}</span>
                            <span class="total text-center"
                                  ng-show="vm.searchParams.conf_filter == 3">
                                {{vm.allGreenCount}}
                            </span>
                            <span class="total text-center"
                                  ng-show="vm.searchParams.conf_filter == 4">
                                {{vm.confirmedCount}}
                            </span>
                            <span class="title text-center">Confirmed Requests</span>
                            <select class="conf_filter" ng-model="vm.searchParams.conf_filter">
                                <option value="1">Booked This month</option>
                                <option value="2">Moves This month</option>
                                <option value="3">All Moves</option>
                                <option value="4">All upcoming moves</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--- Table -->
    <div class="row">
        <i class="dashboard_icon icon-refresh" ng-click="vm.refreshDashboard();"></i>
        <div class="dashboard-main-tables">
            <div class="col-md-12 col-lg-12" ng-if="vm.tabs[0].selected">
                <div class="busyoverlay" ng-if="vm.busy">
                    <img class="spinner" src="../../content/img/logo_animation.gif">
                </div>
                <div cc-requests-datatable class="js-custom-table-scrollbar" requests="vm.pendingRequests"
                     data-issorting="nid" displayLength="100"
                     showheading="vm.heading" totalentries="vm.pendingCount" currentstatus="vm.pendingStatus"
                     sort-field="vm.searchParams.sorting_fields"
                     data-custom_pagination="true" tbtitle="vm.table_title" is-enable-sorting="true"
                     lead-score-filter="vm.searchParams.leadScoreFilter"></div>
            </div>
            <div class="col-md-12 col-lg-12" ng-if="vm.tabs[3].selected">
                <div class="busyoverlay" ng-if="vm.busy">
                    <img class="spinner" src="../../content/img/logo_animation.gif">
                </div>
                <div cc-requests-datatable class="js-custom-table-scrollbar" requests="vm.unconfirmedRequests"
                     data-issorting="nid" displayLength="100"
                     showheading="vm.heading" totalentries="vm.unconfirmedCount" currentstatus="vm.UnconfirmedStatus"
                     sort-field="vm.searchParams.sorting_fields"
                     data-custom_pagination="true" tbtitle="vm.table_title" is-enable-sorting="true"
                     lead-score-filter="vm.searchParams.leadScoreFilter"></div>
            </div>
            <div class="col-md-12 col-lg-12" ng-if="vm.tabs[1].selected">
                <div class="busyoverlay" ng-if="vm.busy">
                    <img class="spinner" src="../../content/img/logo_animation.gif">
                </div>
                <div ng-show="!vm.busy && vm.ifnomessages" messages-page requests="vm.unreadComments"></div>
                <div ng-show="!vm.ifnomessages" class="center"><h1><i
                    style="display: block;font-size: 40px;line-height: 70px;" class="icon-envelope"></i> No New Messages
                </h1></div>
            </div>
            <div class="col-md-12 col-lg-12" ng-if="vm.tabs[2].selected">
                <div class="busyoverlay" ng-if="vm.busy">
                    <img class="spinner" src="../../content/img/logo_animation.gif">
                </div>
                <div ng-if="vm.searchParams.conf_filter == 1" cc-requests-datatable class="js-custom-table-scrollbar"
                     requests="vm.bookedRequests" displayLength="100"
                     data-issorting="field_date_confirmed" data-showBooked="true" currentstatus="vm.ConfirmedStatus"
                     totalentries="vm.bookedCount" data-bookedDate="1" data-custom_pagination="true"
                     showheading="vm.heading" sort-field="vm.searchParams.sorting_fields" tbtitle="vm.table_title"
                     is-enable-sorting="true" lead-score-filter="vm.searchParams.leadScoreFilter"
                     dates-filter="vm.searchParams.dates_filter"></div>
                <div ng-if="vm.searchParams.conf_filter == 2  || vm.searchParams.conf_filter == 4" cc-requests-datatable class="js-custom-table-scrollbar"
                     requests="vm.confirmedRequests" displayLength="100"
                     data-issorting="field_date_confirmed" data-showBooked="true" currentstatus="vm.ConfirmedStatus"
                     totalentries="vm.confirmedCount" data-bookedDate={{vm.searchParams.conf_filter}} data-custom_pagination="true"
                     showheading="vm.heading" sort-field="vm.searchParams.sorting_fields" tbtitle="vm.table_title"
                     is-enable-sorting="true" lead-score-filter="vm.searchParams.leadScoreFilter"
                     dates-filter="vm.searchParams.dates_filter"></div>
                <div ng-if="vm.searchParams.conf_filter == 3"
                     cc-requests-datatable class="js-custom-table-scrollbar"
                     requests="vm.allGreenRequests" displayLength="100"
                     data-issorting="field_date_confirmed" data-showBooked="true" currentstatus="vm.ConfirmedStatus"
                     totalentries="vm.allGreenCount" data-bookedDate="3" data-custom_pagination="true"
                     showheading="vm.heading" sort-field="vm.searchParams.sorting_fields" tbtitle="vm.table_title"
                     is-enable-sorting="true" lead-score-filter="vm.searchParams.leadScoreFilter"
                     dates-filter="vm.searchParams.dates_filter"></div>
            </div>
            <div class="col-md-12 col-lg-12" ng-if="vm.tabs[4].selected">
                <div class="busyoverlay" ng-if="vm.busy">
                    <img class="spinner" src="../../content/img/logo_animation.gif">
                </div>
                <div ng-if="!vm.busy" cc-requests-datatable class="js-custom-table-scrollbar"
                     requests="vm.unconfReserved" currentstatus="vm.UnconfirmedStatus" displayLength="100"
                     reservation-received="vm.reservationReceived"
                     showheading="vm.heading" tbtitle="vm.table_title" data-custom_pagination="true"
                     sort-field="vm.searchParams.sorting_fields"
                     totalentries="vm.unconfirmedReserved" is-enable-sorting="true"
                     lead-score-filter="vm.searchParams.leadScoreFilter" is-reserved-tab="vm.tabs[4].selected"></div>
            </div>

            <div class="col-md-12 col-lg-12" ng-if="vm.tabs[5].selected">
                <div class="busyoverlay" ng-if="vm.busy">
                    <img class="spinner" src="../../content/img/logo_animation.gif">
                </div>
                <div ng-if="!vm.busy"
                     cc-requests-datatable
                     data-issorting="nid"
                     class="js-custom-table-scrollbar"
                     requests="vm.homeEstimateNodes"
                     currentstatus="vm.HomeEstimateStatus"
                     displayLength="100"
                     showheading="vm.heading"
                     tbtitle="vm.table_title"
                     data-custom_pagination="true"
                     sort-field="vm.searchParams.sorting_fields"
                     totalentries="vm.homeEstimateTotal"
                     is-enable-sorting="true"
                     lead-score-filter="vm.searchParams.leadScoreFilter"></div>
            </div>

            <div class="col-md-12 col-lg-12" ng-if="vm.tabs[6].selected">
                <div class="busyoverlay" ng-if="vm.busy">
                    <img class="spinner" src="../../content/img/logo_animation.gif">
                </div>
                <div ng-if="!vm.busy" datatable-invoice totals-top="vm.invoices"></div>
            </div>
        </div>
    </div>
</section>
