

@media all and (max-width: 860px) {
  .dashboard-main-tables .panel-body.mdDataTable {
    overflow-x: auto;
  }
  .dashboard-main-tables .panel-body.mdDataTable .dtStatus {
    min-width: 120px;
  }
}
button.btn.dropdown-toggle.sales-person-dropdown {
    background: rgba(255, 255, 255, 0) !important;
}
