.modal-body.form-horizontal.cusermodal-custom_block
    .busyoverlay(ng-show='busy')
        .sk-cube-grid(style='margin-top: 50%;')
            .sk-cube.sk-cube1
            .sk-cube.sk-cube2
            .sk-cube.sk-cube3
            .sk-cube.sk-cube4
            .sk-cube.sk-cube5
            .sk-cube.sk-cube6
            .sk-cube.sk-cube7
            .sk-cube.sk-cube8
            .sk-cube.sk-cube9
    h3.acc_title Custom block settings
    .container_custom_block
        .col-md-6.col-sm-6.col-xs-6
            h5 By service type
            .service_type_custom_block
                input.mail-checkbox.icheckbox_flat-green.icheck(checkstyle='green', type='checkbox', ichecks='', ng-model='allServices', ng-change='checkAll(serviceType, allServices)')
                |  All
            .service_type_custom_block(ng-repeat='setting_service in serviceType')
                input.mail-checkbox.icheckbox_flat-green.icheck(checkstyle='green', type='checkbox', ichecks='', ng-model='setting_service.show', ng-change='changeSetting()')
                |  {{setting_service.name}}
        .col-md-6.col-sm-6.col-xs-6
            h5 By request status
            .service_type_custom_block
                input.mail-checkbox.icheckbox_flat-green.icheck(checkstyle='green', type='checkbox', ichecks='', ng-model='allStatuses', ng-change='checkAll(statuses, allStatuses)')
                |  All
            .service_type_custom_block(ng-repeat='status in statuses')
                input.mail-checkbox.icheckbox_flat-green.icheck(checkstyle='green', type='checkbox', ichecks='', ng-model='status.show', ng-change='changeSetting()')
                |  {{status.name}}
        .col-md-12
            .flexible-general
                input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox', ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}", ng-model='showCustomBlock', data-switchery='true', style='display: none;')
                h3 Show custom block in account
            .flexible-general
                input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox', ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}", ng-model='showOnConfirmationPage', data-switchery='true', style='display: none;')
                h3 Show custom block on confirmation page
            .flexible-general
                input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox', ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}", ng-model='hideTitle', data-switchery='true', style='display: none;')
                h3 Hide title
            .flexible-general
                input#visible.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox', ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}", ng-model='useForCommercial', data-switchery='true', style='display: none;')
                h3 Use for commercial move
    .modal-footer
        button.btn.btn-default.pull-left(type='button', ng-click='cancel()') Close
        button.btn.btn-primary(type='submit', ng-click='apply()') Save