<div class="col-lg-12">
    <div class="statistics-main">
        <div class="settings_account_page_wrapper">
            <div class="ibox">
                <div class="ibox-title custom-block_general">
                    <div class="saving-progress">
                        <span class="animated fadeIn" ng-show="saved">Saved!</span>
                    </div>
                    <h5>General Custom Block</h5>
                </div>
                <div class="ibox-content" ng-class="{'blocks-updating' :saved}">
                    <div class="float-left">
                        <button class="btn btn-primary btn-rounded" ng-click="addNewGeneral()"><i class="fa fa-plus" aria-hidden="true"></i> Add Block</button>
                    </div>
                    <div class="tab-pane">
                        <table class="calculator">
                            <tbody>
                            <tr ng-if="!generalBlock.length">
                                <td class="empty_custom">There is no custom blocks...</td>
                            </tr>
                            <tr ng-repeat="gBlock in generalBlock" class="general-block_border_bottom">
                                <td class="sizeset chat-widget">
                                    <input id="title"  ng-change="updateBlocks()"
                                           class="form-control margin-one"
                                           ng-class="{'disabled':gBlock.hideTitle}"
                                           type="text"
                                           ng-model="gBlock.title"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           placeholder="Title">
                                    <div ng-model-options="{ updateOn: 'blur' }" ng-change="updateBlocks()"
                                         ng-model="gBlock.body" text-angular="text-angular"
                                         ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                                                  ['fontColor', 'fontName', 'fontSize'],
                                                                  ['insertLink', 'insertImage', 'insertCustom'],
                                                                  ['undo', 'redo', 'clear', 'html']]">
                                    </div>
                                    <div class="parent_left">
                                        <div class="settings_float_wrapper">
                                            <div class="settings_left settings_float" ng-repeat="servType in gBlock.where.serviceType" ng-if="!gBlock.where.all[0].serviceType" ng-show="servType.show">
                                                <span><i class="fa fa-check" aria-hidden="true"></i> {{servType.name}}</span>
                                            </div>
                                            <div class="settings_left settings_float" ng-if="gBlock.where.all[0].serviceType">
                                                <span><i class="fa fa-check" aria-hidden="true"></i> All service types</span>
                                            </div>
                                        </div>
                                        <div class="settings_float_wrapper">
                                            <div class="settings_left settings_float" ng-repeat="status in gBlock.where.status" ng-if="!gBlock.where.all[1].status" ng-show="status.show">
                                                <span ng-if="status.show"><i class="fa fa-check" aria-hidden="true"></i> {{status.name}}</span>
                                            </div>
                                            <div class="settings_left settings_float" ng-if="gBlock.where.all[1].status">
                                                <span><i class="fa fa-check" aria-hidden="true"></i> All statuses</span>
                                            </div>
                                        </div>
                                        <div class="settings_float_wrapper">
                                            <div class="settings_left settings_float">
                                                <span>
                                                    <i class="fa fa-check" aria-hidden="true"  ng-if="gBlock.showCustomBlock"></i>
                                                    <i class="fa fa-times" aria-hidden="true"  ng-if="!gBlock.showCustomBlock"></i>
                                                    Show custom block in account
                                                </span>
                                            </div>
                                            <div class="settings_left settings_float">
                                                <span>
                                                    <i class="fa fa-check" aria-hidden="true" ng-if="gBlock.showOnConfirmationPage"></i>
                                                    <i class="fa fa-times" aria-hidden="true" ng-if="!gBlock.showOnConfirmationPage"></i>
                                                    Show custom block on confirmation page
                                                </span>
                                            </div>
                                            <div class="settings_left settings_float">
                                                <span>
                                                    <i class="fa fa-check" aria-hidden="true" ng-if="gBlock.hideTitle"></i>
                                                    <i class="fa fa-times" aria-hidden="true" ng-if="!gBlock.hideTitle"></i>
                                                    Hide title
                                                </span>
                                            </div>
                                            <div class="settings_left settings_float">
                                                <span>
                                                    <i class="fa fa-check" aria-hidden="true" ng-if="gBlock.useForCommercial"></i>
                                                    <i class="fa fa-times" aria-hidden="true" ng-if="!gBlock.useForCommercial"></i>
                                                    Use for commercial move
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="parent_flex">
                                        <div class="flexible-box-custom-block">
                                            <button class="btn btn-primary"
                                                    ng-class="{'disabled': gBlock.index == 0}"
                                                    ng-click="replaceBlock(gBlock.index, gBlock.index - 1)">
                                                <i class="fa fa-arrow-up" aria-hidden="true"></i> Put up
                                            </button>
                                        </div>
                                        <div class="flexible-box-custom-block">
                                            <button class="btn btn-primary"
                                                    ng-class="{'disabled': gBlock.index == (generalBlock.length - 1)}"
                                                    ng-click="replaceBlock(gBlock.index, gBlock.index + 1)">
                                                <i class="fa fa-arrow-down" aria-hidden="true"></i> Put down
                                            </button>
                                        </div>
                                    </div>
                                    <div class="parent_flex">
                                        <div class="flexible-box-custom-block">
                                            <button class="btn btn-danger" ng-click="removeNewGeneral(gBlock, generalBlock)"><i class="fa fa-times" aria-hidden="true"></i> Remove</button>
                                        </div>
                                        <div class="flexible-box-custom-block">
                                            <button class="btn btn-primary" ng-click="openCustomBlockSettings(gBlock)"><i class="fa fa-wrench" aria-hidden="true"></i> Block Setting</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
