div(class="modal-body form-horizontal greeting-show-period-modal-window")
	h3(class="acc_title") Greeting Show Period Setting
	div(class='container_custom_block')
		h3(class="half-margin-bottom") Show
		div(class="margin-one")
		div(class='radio-button-element')
			input(type="radio" name="iCheck" radiostyle="green" class="iradio_flat-green icheck" ichecks ng-model="greetingsSettings.showPeriod" value="first")
			span first time
		div(class='radio-button-element')
			input(type="radio" name="iCheck" radiostyle="green" class="iradio_flat-green icheck" ichecks ng-model="greetingsSettings.showPeriod" value="each")
			span every time
		div(class='radio-button-element')
			input(type="radio" name="iCheck" radiostyle="green" class="iradio_flat-green icheck" ichecks ng-model="greetingsSettings.showPeriod" value="noActivityPeriod")
			span no activity
			input(class="period-value" min='0' type="number" ng-model="greetingsSettings.absentingPeriod" ng-disabled="greetingsSettings.showPeriod !== 'noActivityPeriod'")
			span days
	div(class="modal-footer")
		button(type="button" class="btn btn-default pull-left" ng-click="cancel()") Close
		button(type="button" class="btn btn-primary" ng-click="save()") Save
