.ibox.material-shadow
	.ibox-title(style='background: linear-gradient(to left, #ffffff, {{titleBG}})')
		span.label.pull-right(style='background: {{titleBG}}') {{graphicData.duration}}
		h5.statistic-tab-title {{graphicData.title}}
	.ibox-content
		.row
			.col-lg-6.col-xs-6
				p.no-margins {{graphicData.count || 0}}
				small.small-tooltip {{graphicData.tooltip}}
				.custom-canvas-tooltips(ng-class="{'active-tooltip': showTooltip}")
					p.no-margins.tooltip-date {{tooltipDate}}
					p.no-margins.tooltip-value {{globalTooltip}}
			.col-lg-6.col-xs-6
				canvas(tc-chartjs-bar='',
				chart='chart',
				chart-legend='chartLegend',
				chart-data='graphicData',
				chart-options='options',
				width='90%',
				height='32')