.material-shadow
	.ibox-title
		.statistic-tab-title
			color: #fff
	.ibox-content
		.custom-canvas-tooltips
			margin-top 1em
			opacity 0
			transition opacity .2s ease-in-out
			p.no-margins
				&.tooltip-date
					font-size .9em
					margin-bottom .5em !important
				&.tooltip-value
					font-size 1.2em
					font-weight 600 !important
		.custom-canvas-tooltips.active-tooltip
			opacity 1