include ../../../../../../node_modules/bemto.pug/bemto

+b.commercial-move-extra
	+e('label').label(for='commercial-select', ng-if='!isNewRequest')
		+e('i').icon.fa.fa-university
	+e('oi-select').commercial-sizes.form-item.form-type-select#commercial-select(ng-model='commercialSize',
	ng-change="updateExtraCommercialField(commercialSize)"
	oi-options="moveSize.id as moveSize.name for moveSize in commercialMoveSizes",
	oi-select-options='{newItem: true, newItemFn: "addCommercialSize($query)", saveTrigger: "enter . , ;"}')
	+e('i').clear.fa.fa-times#clear-btn(ng-click='clearCommercial()')
	+e('span').explanation-commercial(ng-if='!isNewRequest')
		| Select commercial move size or add your own