.commercial-move-extra
  &__label
    float left
    margin-right .8em !important
  &__explanation-commercial
    margin-left 30px
    font-size 11px
  &__clear
    position absolute
    z-index 1
    cursor pointer
    opacity .9
    right: 38px
    top: 82px
  &__commercial-sizes#commercial-select
    display block
    position relative
    float left
    z-index 1
    width 89%
    margin-top .5em
    .select-search
      border-radius 0
      border-bottom 1px solid rgba(0, 0, 0, 0.075)
      cursor text
      border 1px solid #d9d9d9
      background-color #fff
      overflow hidden !important
      box-sizing border-box
      .select-search-list
        height 25px
        display flex
        flex-flow row wrap
        justify-content flex-start
        margin 0
        padding 2px 4px
        list-style none
        .select-search-list-item.select-search-list-item_selection
          color #333
          cursor pointer
          background #efefef
          border-color #ebebeb
          font-size 14px
          margin 2px 4px 2px 0
          vertical-align middle
          white-space normal
          padding 1px 5px
          font-size 12px
          line-height 1.5
          border-radius 3px
          .close.select-search-list-item_selection-remove
            padding-left 2px
        .select-search-list-item.select-search-list-item_input
          input
            padding: 0;
            outline: 0;
            border: 0;
            width: 100%;
            box-shadow none
            font-weight normal
      .btn.btn-default.btn-xs.select-search-list-item.select-search-list-item_selection
        z-index 1
      .select-search-list-item.select-search-list-item_input.select-search-list-item_hide
        width 97%
        position absolute
    .select-dropdown
      position absolute
      width 100%
      overflow-y scroll
      max-height 100px
      min-width 160px
      font-size 14px
      background-color rgb(255, 255, 255)
      border-radius 0px 0px 4px 4px
      border-width 0px 1px 1px
      border-right-style solid
      border-bottom-style solid
      border-left-style solid
      border-right-color rgb(102, 175, 233)
      border-bottom-color rgb(102, 175, 233)
      border-left-color rgb(102, 175, 233)
      border-image initial
      border-top-style initial
      border-top-color initial
      outline 0px
      background-clip padding-box
      z-index 1000
      .select-dropdown-optgroup
        margin 0
        padding 0
        .select-dropdown-optgroup-option
          padding 3px 20px

.full-width
  width 100% !important
  margin-top 0 !important

.revert-margin
  margin-top -5px

span.close.select-search-list-item_selection-remove
  display none

li.select-search-list-item.select-search-list-item_input
  width 100%