<div class="valuation-move-board-setting-wrapper">
    <div class="valuation-move-board-setting-wrapper__navigation">
        <ul class="valuation-move-board-setting-wrapper__nav">
            <li class="valuation-move-board-setting-wrapper__nav-item"
                ng-repeat="tab in vm.valuationTabs track by $index"
                ng-class="{'active-setting': tab.active, 'unsaved': tab.unsavedChanges}"
                uib-tooltip="{{tab.name}}"
                tooltip-popup-delay="1500"
                ng-click="vm.changeActiveTab($index)">
                <i class="{{tab.icon}}"></i>
                {{tab.name}}
            </li>
        </ul>
    </div>
    <div class="valuation-move-board-setting-wrapper__content">
        <div class="valuation-move-board-setting-wrapper__active"
             move-board-compile="vm.template"></div>
    </div>
</div>
