.valuation-move-board-setting-wrapper
	display flex
	justify-content flex-start
	align-items center
	min-height 390px
	&__navigation
		width 200px
		align-self flex-start
		border-right 1px solid #ebebeb
	&__nav
		padding 0
		margin 0
		list-style none
		background-color #fff
	&__nav-item
		padding 10px
		cursor pointer
		background-color #fff
		color #34495e
		border-bottom 1px solid #ebebeb
		white-space normal
		text-overflow ellipsis
		overflow hidden
		transition transform  .4s cubic-bezier(.57,.21,.69,1.25), width .1s cubic-bezier(.57,.21,.69,1.25)
		z-index 9
		&.active-setting
			border-left inset 1px solid #556b8d
			width 215px
			transform translateX(-15px)
		&.unsaved
			color #e74c3c
	&__content
		width calc(100% - 200px)
		align-self flex-start
		background-color #fff
		min-height inherit
		box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		z-index 10
