.option.table-responsive.google-calendar-integration-setting(ng-class="{disabled: busy}")
	h1 Google Calendar Integration
	| Off
	input.js-switch(type="checkbox" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="isEnabled" ng-change="saveSettings()" data-switchery="true" style="display: none;")
	| On