.buy-sms-modal
	min-width 830px
	padding 15px
	background #f3f6fa
	border 1px solid
	border-color #c2cadb #bbc5d6 #b7c0cd
	-webkit-box-shadow 0 1px 5px rgba(0, 0, 0, 0.15)
	box-shadow 0 1px 5px rgba(0, 0, 0, 0.15)
	&__header
		position relative
		margin -15px -15px 15px
		&_close
			position absolute
			top 10px
			right 10px
			-webkit-appearance none
			padding 0
			cursor pointer
			background 0 0
			border 0
			float right
			font-size 21px
			font-weight 700
			line-height 1
			color #000
			text-shadow 0 1px 0 #fff
			opacity .2
		&_title
			text-align center
			padding 0 15px
			margin 0px
			line-height 38px
			font-size 13px
			font-weight bold
			color #7f889e
			text-shadow 0 1px rgba(255, 255, 255, 0.7)
			background #eceff5
			border-bottom 1px solid #c5ccdb
			border-radius 7px 7px 0 0
			background-image -webkit-linear-gradient(top, #f5f8fb, #e9edf3)
			background-image -moz-linear-gradient(top, #f5f8fb, #e9edf3)
			background-image -o-linear-gradient(top, #f5f8fb, #e9edf3)
			background-image linear-gradient(to bottom, #f5f8fb, #e9edf3)
			-webkit-box-shadow inset 0 1px white
			box-shadow inset 0 1px white
		&_back
			position absolute
			margin 12px
			margin-left 10px
			cursor pointer
			text-shadow 0px -1px 0px #A9A7A7
			font-size 16px
			color #D6D6D6
	&__body
		width 600px
		margin 0 auto
		[busy-overlay]
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			.busyoverlay-container
				width: 100%;
				height: 100%;
	&__input
		width 100%
		font-size 24px
		text-align center
		height 50px
		display inline-block
		padding 0 7px
		color #525864
		background white
		border 1px solid
		border-color #b3c0e2 #bcc5e2 #c0ccea
		border-radius 4px
		background-image -webkit-linear-gradient(top, #f6f8fa, white)
		background-image -moz-linear-gradient(top, #f6f8fa, white)
		background-image -o-linear-gradient(top, #f6f8fa, white)
		background-image linear-gradient(to bottom, #f6f8fa, white)
		-webkit-box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		margin 0
		line-height normal
		font-family inherit
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		margin-bottom 10px
	&__total
		text-align center
		padding 0 0 15px
		font-size 30px
		font-weight bold
		color #4E4E4E
		&-price
			vertical-align super
			margin-right -5px
			.fa-dollar
				font-size 13px
	&__button
		position relative
		cursor pointer
		text-shadow 0 1px 1px rgba(0, 0, 0, 0.2)
		border-color #075bba #0c69d2 #0f7de9
		background-image -webkit-linear-gradient(top, #1281dc, #1593fc)
		background-image -moz-linear-gradient(top, #1281dc, #1593fc)
		background-image -o-linear-gradient(top, #1281dc, #1593fc)
		background-image linear-gradient(to bottom, #1281dc, #1593fc)
		-webkit-box-shadow inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		box-shadow inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5)
		width 100%
		height 34px
		padding 0
		font-weight bold
		color white
		text-align center
		border 1px solid
		border-color #1486f9 #0f7de9 #0d6acf
		background #1993fb
		border-radius 4px
		background-image -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6)
		background-image -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6)
		background-image -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6)
		background-image linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6)
	&__enable-recurring
		padding-bottom 15px
		&_email-block
			&_use-company-email
				padding-bottom 10px
			.switchery
				margin-right 15px
		.switchery
			margin-right 15px
	&__enable-credit-card
		display flex
		align-items center
		font-size 20px
		font-weight 600
		.switchery
			margin-right 10px
	.fa-arrow-right
		position absolute
		right 10px
		top 5px
		padding 4px
		font-size 10px
		background #138DF7
		border 1px solid
		border-color #1F97FB
		border-radius 17px
	.animate-show-hide
		opacity 1
		&.ng-hide-add,
		&.ng-hide-remove
			transition all linear 0.5s
		&.ng-hide
			opacity 0
	&__card-block
		display flex
		padding 20px 0
		&_card-photo
			width 65px
			height 40px
			background-image url(../../../../../../moveBoard/content/img/payment.png)
			background-repeat no-repeat
			background-size 260px 600px,120px 361px
			background-position 130% 30px, 0 0
			&.Visa
				background-position 0 5px, 0 0
			&.Mastercard
				background-position 0 -40px, 0 0
			&.AMEX
				background-position 0 -85px, 0 0
			&.Discover
				background-position 0 -138px, 0 0
		&_card-number
			font-size 16px
			margin auto 0
		&_card-brand
			font-size 18px
			font-weight 700
			padding-right 10px
	&__skip-credit-card
		display flex
		justify-content space-between
		&_left
			justify-content flex-end
