<div class="buy-sms-modal">
	<div class="buy-sms-modal__header">
		<i class="buy-sms-modal__header_back fa fa-chevron-left" ng-show="vm.step2" ng-click="vm.goToStep(1)"></i>
		<div class="buy-sms-modal__header_title">{{vm.title}}</div>
		<button class="buy-sms-modal__header_close" ng-click="vm.close()">×</button>
	</div>
	<div class="buy-sms-modal__body">
		<div ng-if="vm.busy" busy-overlay="vm.busy"></div>
		<div class="buy-sms-modal__body_step1" ng-show="vm.step1">
			<div>
				<input class="buy-sms-modal__input" cc-currency ng-model="vm.price" ng-change="vm.onChangeAmount()" ng-model-options="{updateOn: 'blur'}">
			</div>
			<div>
				<div>
					<div class="buy-sms-modal__enable-recurring">
						<input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
							   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
							   ng-model="vm.recurring.enable"
							   ng-change="vm.onChangeEnableRecurring()"
							   data-switchery="true" style="display: none;">
						Auto Charge when balance less than $10
					</div>
					<div ng-show="vm.recurring.enable">
						<input class="buy-sms-modal__recurring_amount buy-sms-modal__input" cc-currency ng-model="vm.recurring.amount" ng-model-options="{updateOn: 'blur'}" ng-change="vm.onChangeRecurringAmount()">
					</div>
				</div>
			</div>
			<div>
				<button class="buy-sms-modal__button" ng-class="{disabled: !vm.price}" ng-click="vm.goToStep(2)">
					Payment info
					<i class="fa fa-arrow-right"></i>
				</button>
			</div>
		</div>
		<div class="buy-sms-modal__body_step2" ng-show="vm.step2">
			<div class="buy-sms-modal__total">
				<span class="buy-sms-modal__total-price">
					<i class="fa fa-dollar"></i>
				</span>{{vm.price}}
				<div class="buy-sms-modal__skip-credit-card" ng-class="{'buy-sms-modal__skip-credit-card_left': vm.chargeDifferentCreditCard}">
					<div class="buy-sms-modal__card-block" ng-show="vm.recurring.id && vm.recurring.enable && !vm.chargeDifferentCreditCard">
						<div class="buy-sms-modal__card-block_card-photo" ng-show="vm.isExistCardBrand" ng-class="vm.cardBrand">
						</div>
						<div class="buy-sms-modal__card-block_card-brand" ng-hide="vm.isExistCardBrand">{{vm.cardBrand}}</div>
						<div class="buy-sms-modal__card-block_card-number">
							*****{{vm.cardLastFour}}
						</div>
					</div>
					<div class="buy-sms-modal__enable-credit-card" ng-show="vm.recurring.id && vm.recurring.enable">
						<input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
							   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
							   ng-model="vm.chargeDifferentCreditCard"
							   data-switchery="true" style="display: none;">
						Update Payment Method
					</div>
				</div>
			</div>
			<er-payment-form secure="vm.secure" payer-data="vm.payerData" on-valid="vm.onValid" class="animate-show-hide" ng-show="!vm.recurring.id || vm.chargeDifferentCreditCard || !vm.recurring.enable"></er-payment-form>
			<button class="buy-sms-modal__button" ng-class="{disabled: !vm.valid && (!vm.recurring.id || !vm.recurring.enable)  || !vm.valid && vm.recurring.id && vm.chargeDifferentCreditCard}" ng-click="vm.submit()">
				Pay ${{vm.price}}
				<i class="fa fa-arrow-right"></i>
			</button>
		</div>
	</div>
</div>