<section class="animated fadeInRight" ng-controller="HomeEstimateSchedule as vm">
    <div class="busyoverlay" ng-show="vm.busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="container-fluid">
        <div class="row pageheader">
            <div class="col-lg-4">
                <el-service-types-legend></el-service-types-legend>
            </div>
            <div class="col-lg-4">
                <el-month-calendar-navigator current-date="vm.currendDate" on-update-calendar="vm.updateCalendar"></el-month-calendar-navigator>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <el-home-estimate-schedule-directive requests="vm.requests" home-estimators="vm.homeEstimators" view="vm.calendarView" current-day="vm.currendDate"></el-home-estimate-schedule-directive>
    </div>
</section>