<div class="pageheader">
	<h1>SMS Template Builder </h1>
	<div class="breadcrumb-wrapper hidden-xs">
		<span class="label">You are here:</span>
		<ol class="breadcrumb">
			<li>Settings</li>
			<li class="active">SMS Template Builder</li>
		</ol>
	</div>
</div>
<div class="sms-template-builder">
	<header class="sms-template-builder__panel-heading wht-bg">
		<ul class="nav nav-pills nav-stacked compose-nav navbar-nav" style="display: none">
			<li ng-repeat="tab in vm.tabs"
				ng-class="{ 'active': tab.selected}">
				<a href="javascript:void(0)" ng-click="vm.select(tab)">
					{{tab.name}}
				</a>
			</li>
		</ul>
		<er-saving-progress saving="vm.saving"></er-saving-progress>
	</header>
	<div ng-if="vm.busy" busy-overlay="vm.busy"></div>
	<div class="sms-template-builder__panel-body minimal" ng-if="!vm.busy">
		<sms-template-builder-editor ng-show="vm.tabs[0].selected" templates="vm.templates"></sms-template-builder-editor>
		<sms-template-builder-folders ng-show="vm.tabs[1].selected"></sms-template-builder-folders>
	</div>
</div>