.sms-template-builder
	color black
	display flex
	flex-direction column
	background-color white
	margin 20px
	overflow-x auto
	min-height 100vh
	&__panel-body
		display flex
		align-items flex-start
		flex-wrap wrap
		padding 15px
		&>div
			margin-top 15px
			position relative
	&__panel-heading
		padding 15px 15px 0
		position relative