<div>
    <select class="form-control" ng-model="$ctrl.offset" ng-change="$ctrl.bindToModel()"
            ng-options="time.time as time.value for time in ::$ctrl.timesBeforeRemind">
    </select>
</div>
