<div id="release">
    <!-- header -->
    <div class="row header">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <img ng-src="{{basicSettings.company_logo_url}}">
        </div>
    </div>
    <!-- end header -->
    <!-- content release form -->
    <div class="row">
        <h2 class="btitle">RELEASE FORM</h2>
        I <input ng-disabled="data.releaseData.isSubmitted" ng-model="releaseInitials.head.initial">, am hereby requesting the additional services that are not covered by {{basicSettings.company_name}}.
        <signature-release-box  step-id="head" owner="customer" data="data"></signature-release-box>
    </div>
    <div class="row">
        <h2 class="btitle">PLEASE MARK THE REQUIRED SERVICE/S:</h2>
        <div class="col-md-12 nopadding">
            <!-- sevice -->
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label for="hoisting_service">Hoisting Service:</label>
                    <input ng-disabled="data.releaseData.isSubmitted" type="checkbox" ng-model="itemsRelease.service.checkboxItem" class="pull-left checkbox-release"  name="hoisting_service" id="hoisting_service" ng-change="releaseExtraServices()" >
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div class="pull-right">
                        Cost Of Service: $<input ng-disabled="data.releaseData.isSubmitted" type="number" ng-model="itemsRelease.service.cost" ng-blur="releaseExtraServices()">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Item Description:</label>
                    <textarea ng-disabled="data.releaseData.isSubmitted" placeholder="Enter description" ng-model="itemsRelease.service.description" class="form-control" rows="5" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Location:</label> {{itemsRelease.service.billing_address}} {{itemsRelease.service.billing_city}}, {{itemsRelease.service.billing_state}} {{itemsRelease.service.billing_zip}}
                    <span tooltip-placement="right" ng-class="{ 'disabled' : data.releaseData.isSubmitted}" tooltip="Change to {{itemsRelease.service.take_address}} address" class="address_switcher" style="color: #ADADAD; cursor: pointer;position: absolute; bottom: -2px; margin-left: 10px;" ng-click="switchLocation(itemsRelease.service);">
                        <i class="fa fa-arrows-h"></i>
                    </span>
                </div>
            </div>
            <hr class="item-line">
            <!-- forcing -->
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label for="forcing">Forcing an item in or out of the premises:</label>
                    <input ng-disabled="data.releaseData.isSubmitted" type="checkbox" ng-model="itemsRelease.forcing.checkboxItem" class="pull-left checkbox-release"  name="forcing" id="forcing">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Item Description:</label>
                    <textarea ng-disabled="data.releaseData.isSubmitted" placeholder="Enter description" ng-model="itemsRelease.forcing.description" class="form-control" rows="5" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Location:</label> {{itemsRelease.forcing.billing_address}} {{itemsRelease.forcing.billing_city}}, {{itemsRelease.forcing.billing_state}} {{itemsRelease.forcing.billing_zip}}
                    <span tooltip-placement="right" ng-class="{ 'disabled' : data.releaseData.isSubmitted}" tooltip="Change to {{itemsRelease.forcing.take_address}} address" class="address_switcher" style="color: #ADADAD; cursor: pointer;position: absolute; bottom: -2px; margin-left: 10px;" ng-click="switchLocation(itemsRelease.forcing);">
                        <i class="fa fa-arrows-h"></i>
                    </span>
                </div>
            </div>
            <hr class="item-line">
            <!-- not wrapped -->
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <label for="not_wrapped">Not Wrapped Item::</label>
                    <input ng-disabled="data.releaseData.isSubmitted" type="checkbox" ng-model="itemsRelease.notWrapped.checkboxItem" class="pull-left checkbox-release"  name="not_wrapped" id="not_wrapped">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea ng-disabled="data.releaseData.isSubmitted" placeholder="Enter description" ng-model="itemsRelease.notWrapped.description" class="form-control" rows="5" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Location:</label> {{itemsRelease.notWrapped.billing_address}} {{itemsRelease.notWrapped.billing_city}}, {{itemsRelease.notWrapped.billing_state}} {{itemsRelease.notWrapped.billing_zip}}
                    <span tooltip-placement="right" ng-class="{ 'disabled' : data.releaseData.isSubmitted}" tooltip="Change to {{itemsRelease.notWrapped.take_address}} address" class="address_switcher" style="color: #ADADAD; cursor: pointer;position: absolute; bottom: -2px; margin-left: 10px;" ng-click="switchLocation(itemsRelease.notWrapped);">
                        <i class="fa fa-arrows-h"></i>
                    </span>
                </div>
            </div>
            <hr class="item-line">
            <!-- press wood furniture -->
            <div class="row">
                <div class="col-md-12">
                    <label for="press_wood">Press Wood Furniture:</label>
                    <input ng-disabled="data.releaseData.isSubmitted" type="checkbox" ng-model="itemsRelease.pressWoodFurniture.checkboxItem" class="pull-left checkbox-release"  name="press_wood" id="press_wood">
                    <p>
                        {{basicSettings.company_name}} will not take any responsibility to any damage occurred to press wood furniture, because of its nature. Press wood furniture is designed to be assembled once and when you disassemble or move it, it’s always involved with a risk that it may get damaged or will not be in a condition to be reassembled.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Item Description:</label>
                    <textarea ng-disabled="data.releaseData.isSubmitted" placeholder="Enter description" ng-model="itemsRelease.pressWoodFurniture.description" class="form-control" rows="5" ></textarea>
                </div>
            </div>
            <hr class="item-line">
            <div class="row">
                <div class="col-md-12">
                    As a result of my request of the services listed above, I am hereby releasing {{basicSettings.company_name}} from any liability to damage or loss of property such as openings, hallways, stairways and/or personal belongings listed above.
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    I <input ng-disabled="data.releaseData.isSubmitted" ng-model="releaseInitials.footer.initial">, understand and agree to the terms and conditions, and release {{basicSettings.company_name}} from any further claims concerning the service and/or item listed above.
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <signature-release-box  step-id="footer" owner="customer" data="data" style="float: right;" ng-class="{ 'disabled' : !data.releaseData.releaseInitials.head.signature.value}"></signature-release-box>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4" style="text-align: center;">
                    <button class="btn btn-lg btn-info" ng-disabled="data.releaseData.isSubmitted || !data.releaseData.releaseInitials.head.signature.value || !data.releaseData.releaseInitials.footer.signature.value" ng-click="saveReleaseData()">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>
<signature-modal signature-type="signatureRelease" save-step="saveSignatureRelease()"></signature-modal>
