<div ng-class="{'disabled': busy}">
    <div class="modal-body form-horizontal">
        <div ng-show="busy" class="busyoverlay">
            <div class="sk-cube-grid" style="margin-top: 50%;">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <div class="row" ng-repeat="service in checkList">
            <div class="col-xs-12">
                <label>
                    <input type="checkbox" checkstyle="green" class="icheck"
                           ng-model="service.value" ichecks="">
                    {{service.name}}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer footer-bg_grey">
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="saveSettings()">Save
        </button>
    </div>
</div>