<div class="dropdown-container btn-group" ng-class="{ show: listVisible }">
    <div class="dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
       <span ng-if="!isPlaceholder">Actions</span>
        <i class="fa fa-angle-down"></i>
    </div>
    <div class="dropdown-list">
        <div>
             <li><a href="#">Clone Request</a></li>
            
                                    <li>  
                                        <div class="btn-group">
                                          <div  class="dropdown-toggle" data-toggle="dropdown"  aria-expanded="true">
                                              Assign Manager
                                              <span class="caret"></span>
                                         </div>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="manager in managersList">{{manager.field_user_first_name}}</li>
                                            
                                            </ul>     
                                        
                                        </div>
                    
                                    
                                    
                                  </li>
            
                                  <li class="divider"></li>
            
                                  <li>  
                                      
                                        <label class="col-sm-2 control-label"><i class="icon-calculator"  tooltip-placement="bottom" tooltip="ON/OFF using auto calculator for this request. IF 'ON' client can change request info if it's unconfirmed and request will do autocalculate and change status to pending. Also manages when changin requets info, it will recalculate all field based on changes automaticaly"></i></label>
                                         <div class="col-sm-10">
                                        <input type="checkbox" class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                               ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" 
                                               ng-model="request.field_usecalculator.value" 
                                               id="checkOne" data-switchery="true" style="display: none;">

                                        </div>

                                 
                                  </li>
        </div>
    </div>
</div>
