<div class="field-status confirm">
	<div class="button color_3">Your move is confirmed and scheduled</div>
</div>
<div style="padding-top:10px;padding-bottom:0px" class="right text bold">
	<a class="receipt_link" href="#/request/{{::vm.request.nid}}/reservation">View confirmation page</a>
	<a class="receipt_link" href="javascript:void(0)" ng-show="vm.isShowExtraSignatureButton" ng-click="vm.openExtraSignaturePage()">Estimate Signatures Page</a>
    <a href="javascript:void(0)" ng-click="openPolicyModal('cancelation')" class="bluelink" target="_blank">Cancellation and Reschedule Policy</a>
    <a href="javascript:void(0)" ng-click="openPolicyModal('company')" class="receipt_link">{{::vm.basicSettings.company_name}} Company Policies</a>
	<a href="#/request/{{::vm.request.nid}}/contract_print" target="_blank" class="bluelink" ng-if="vm.contractSubbmited">Print Bill of Lading page</a>
</div>
