<div>
    <div class="col-md-12" ng-show="vm.statusText.length">
        <div class="col-md-3 withtext">
            <div class="button color_{{vm.request.status.raw}}">{{vm.request.status.value}}</div>
        </div>
        <div class="col-md-9">
            {{vm.statusText}}
        </div>
    </div>

    <div ng-show="!vm.statusText.length">
        <div class="col-md-12">
            <div class="button color_{{vm.request.status.raw}}">
                {{vm.request.status.value}}
                <span ng-if="vm.request.status.raw == 4">
                    <span class="home-estimator-info">
                    By {{vm.request.home_estimator.first_name}} {{vm.request.home_estimator.last_name}}
                    </span>
                    <span class="home-estimate-date-info">
                        On {{vm.homeEstimateDate}}
                    </span>
                    <span class="home-estimate-arrival-time">
                        Arrival Time Window: {{vm.request.home_estimate_actual_start.value}}
                        <span ng-show="vm.request.home_estimate_actual_start.value != vm.request.home_estimate_start_time.value">-{{vm.request.home_estimate_start_time.value}}</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>                     