<div class="group-header flat">
    <h2 class="request_title" ng-hide="vm.request.service_type.raw == 7">Flat Rate Request</h2>
    <h2 class="request_title" ng-show="vm.request.service_type.raw == 7">Long Distance Request</h2>
    <p class="helptext">Please continue and complete with move details and inventory list...</p>

    <ul id="flat_states" class="states row">

        <li class="state details">
            <span class="icon icon-medium "
                  ng-class="{ 'active': vm.tabs[2].selected,
                            'flaticon-check35 done':detailsDone,
                            'flaticon-edit26 notdone':!detailsDone}"

                ></span>Move Details
        </li>
        <li class="state inventory" >
            <span class="icon icon-medium"
                  ng-class="{ 'active': vm.tabs[1].selected,
                            'flaticon-check35 done':inventoryDone,
                            'flaticon-commercial15 notdone':!inventoryDone}"></span>Inventory
        </li>
        <li class="state over" ><span class="icon icon-medium notdone flaticon-verification5" ng-class="{ 'active': vm.tabs[0].selected}"></span>Review &amp; Submit</li>
    </ul>

</div>