<div class="group-header flat">
<h2 class="request_title">Reservation Process</h2>
    <ng-marquee id="marquee" style="width: 100%;
    margin: 0px auto;
    display: block;
    background-color: white;
    overflow: hidden;" ng-my-options="{duration: 15000}">
        We are now working to provide you with an estimate. We strive to send out all estimates within 24 hours. Please expect an additional day for all weekend requests.
    </ng-marquee>
<p class="helptext" style="display: none;"><span class="mircfix"></span>We are now working to provide you with an estimate. We strive to send out all estimates within 24 hours. Please expect an additional day for all weekend requests.</p>
<ul id="flat_states2" class="states row">

    <div id="progressbar"></div>
    <li class="state ftinfo tooltipf" title=""><i class="icon done icon-medium fa fa-check"></i>Step 1: Move Info</li>

    <li class="state rmoptions tooltipf rmicon"
        ng-class="{'current':vm.request.status.raw == 10,
        'done':vm.request.status.raw != 10}"
            ><i class="fa "
                ng-class="{'fa-spin fa-refresh':vm.request.status.raw == 10,
                        'fa-check':vm.request.status.raw != 10}"

            ></i></li>

    <li class="state choptions tooltipf"
            ng-class="{'current':vm.request.status.raw == 11,
             'done' : vm.request.status.raw == 11
            }"
            >
        <i class="icon  icon-medium fa"
                ng-class="{'fa-tasks notdone' : vm.request.status.raw == 11 || vm.request.status.raw == 10,
                 'fa-check done':vm.request.status.raw == 1 || vm.request.status.raw == 2
                }"
                ></i>Step 2: Choose Option
    </li>

    <li class="state rmoptions tooltipf rmicon"
        ng-class="{'current':vm.request.status.raw == 1,
        'done':vm.request.status.raw == 2}"
            ><i class="fa fa-refresh"
                ng-class="{'fa-spin':vm.request.status.raw == 1,
                        'fa-check':vm.request.status.raw == 2}
                        "
            ></i></li>


    <li class="state over tooltipf"
        ng-class="{'current':vm.request.status.raw == 2}"
            ><i class="icon notdone icon-medium fa fa-truck"></i>Step 3 : Confirm</li>
</ul>

<p class="optiontext"></p>

    <div class="row flat_rate_option col-md-12" ng-hide="vm.request.status.raw != 11">

        <div class="option_box" ng-repeat="(key,option) in vm.details.options">

            <button class="btn btn-primary btn-3d pull right" ng-click="vm.chooseOption(option)" style="float: right;">Proceed</button>

            <h5>Option {{key+1}}: </h5>
            <h3>Pick up on {{option.pickup}} at around {{option.picktime1 | usatime}}<span ng-if="option.picktime2.length"> - {{option.picktime2 | usatime}}</span></h3>
            <h3>Delivery on {{option.delivery}} at around {{option.deltime1 | usatime}}<span ng-if="option.deltime2.length"> - {{option.deltime2 | usatime}}</span></h3>
            <h3 class="margintop">The flat rate price for your move would be ${{option.rate | number:0}}</h3>

            <div class="option_text" ng-bind-html="option.text"></div>

        </div>
    </div>

</div>