<div class="field-status notconfirmed">
    <p style="    text-align: center;margin-top: -14px;color: black;font-size: 12px;margin-bottom: 0px;">Status: Not Confirmed</p>
    <a class="btn color_2" href="#request/{{::vm.request.nid}}/reservation">Proceed to BOOK YOUR MOVE</a>
</div>

<div style="padding-top:10px;padding-bottom:0px" class="right text bold">
    <a href="javascript:void(0)" ng-click="openPolicyModal('cancelation')" class="bluelink">Cancellation and Reschedule Policy</a>
    <a href="javascript:void(0)" ng-click="openPolicyModal('company')" class="receipt_link">{{::vm.basicSettings.company_name}} Company Policies</a>
</div>
