.agent-folio-details__footer
  .agent-folio-details__footer__item
  .agent-folio-details__footer__item
  .agent-folio-details__footer__item
  .agent-folio-details__footer__item
  .agent-folio-details__footer__item
  .agent-folio-details__footer__item
    | {{ item.volume_cf | number : 2 }}
  .agent-folio-details__footer__item
    | {{ item.job_cost | currency }}
  .agent-folio-details__footer__item
    | {{ item.services_total | currency }}
  .agent-folio-details__footer__item
    | {{ item.job_total | currency }}
  .agent-folio-details__footer__item
    | {{ item.tp_collected | currency }}
  .agent-folio-details__footer__item
    | {{ item.received | currency }}
  .agent-folio-details__footer__item
    | {{ item.paid | currency }}
  .agent-folio-details__footer__item
    | {{ item.to_receive | currency }}
  .agent-folio-details__footer__item
    | {{ item.to_pay | currency }}
  .agent-folio-details__footer__item
    | {{ item.balance | currency }}
