.new-commercial-move-size
  &__heading
    padding 10px 15px
    background url('../stripes.png') 0 0 repeat-x scroll #56ab2f
    h3
      color #fff
  &__fields
    label
      padding-left 0
  &__footer
    padding 10px 15px
  &__save-commercial-item
    margin-top .5em
    background url('../stripes.png') 0 0 repeat-x scroll #56ab2f
    color #fff
    float right