include ../../../../../../node_modules/bemto.pug/bemto

+b.new-commercial-move-size
	+e.heading
		h3 Add new commercial item
	+e.fields
		.col-xs-9
			label(for='commercial-item-name') Name:
			input.form-control(id='commercial-item-name', ng-model='commercialItem.name')
		.col-xs-3
			label(for='commercial-item-value') Cubic Feet:
			input.form-control(id='commercial-item-value', ng-model='commercialItem.cubic_feet', string-to-number)
	+e.footer
		+e('button').save-commercial-item.btn(ng-click='updateCommercialMoveSizes()') Save