.home-estimate-works-cell-preview
  position absolute
  bottom 0
  left 0
  z-index 50
  width 100%
  &-item
    display block
    width 100%
    height 14px
    border-top 1px solid #E4E4E4
    overflow hidden