<div class="home-estimate-works-cell-preview">
    <div class="home-estimate-works-cell-preview-item" ng-repeat="(id, worker) in monthItem.homeEstimators">
        <el-home-estimate-work-preview ng-repeat="work in monthItem.workPlan[id]" work="work"></el-home-estimate-work-preview>
    </div>
</div>