.add-online-payment-form
    &__title
        color: #eee
    &__input-container
        margin: 0
        font-size: 12px
    &__dialog
        width: 500px
        padding: 0

    &__next-button
        width: 98%
    &__checkout
        width: 85%
        margin-left: 15%
    &__toolbar
        width: 15%
        position: fixed
        left: 0
        top: 30%

    &__payment-type-container
        min-height: 230px

    &__payment-label
        text-align: center
        margin-left: 25%
        margin-top: 30px
        margin-bottom: 40px
    &__active-payment-type
        fill: #000
    &__button-icon
        fill: 999
    &__amount
       text-align: center
       margin-bottom: 30px
       margin-top: -20px
    &__toolbar-item
        .md-icon-button
            height: 78px
            width: 78px
            font-size: 10px
            line-height: 14px
            margin: 0
            padding: 0
            margin-top: -15px
            fill: #eee