include ../../../../../../../node_modules/bemto.pug/bemto

+b.add-online-payment-form(style="visibility: hidden")
	+e.dialog-container.md-dialog-container#addOnlinePayment
		+e('md-dialog').dialog(layout-padding)
			md-toolbar
				.md-toolbar-tools
					+e('h2').title
						| Online Payment
					span(flex)
					md-button.md-icon-button(ng-click="cancel()")
						ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
			md-dialog-content
				.md-dialog-content(ng-show="showLoader")
					div(layout="row" layout-sm="column" layout-align="space-around")
						md-progress-circular(ng-disabled="!showLoader" class="md-hue-2" md-diameter="40")

				.md-dialog-content(ng-show="!showLoader")

					.step(ng-show="currentStep == 1")
						+e('md-input-container').input-container.md-block(flex-gt-sm)
							label Amount
							input(ng-model="payment.amount"  cc-currency)

					.step(ng-show="currentStep == 2")
						+e.amount
							span
								i.fa.fa-dollar
							| {{payment.amount | currency:""}}
						+e('form').checkout(name="checkout_form")
							+e.toolbar
								+e.toolbar-item
									+e('md-button').button-icon.md-icon-button(ng-click="currentPaymentType=0")
										ng-md-icon(icon="local_atm" style='font-size: 24px;' ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 0}")
										br
										| Cash

								+e.toolbar-item
									+e('md-button').button-icon.md-icon-button(ng-click="currentPaymentType=1")
										ng-md-icon(icon="payment" style='font-size: 24px;' ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 1}")
										br
										| Credit Card

								+e.toolbar-item
									+e('md-button').button-icon.md-icon-button(ng-click="currentPaymentType=2")
										ng-md-icon(icon="note_add" style='font-size: 24px;' ng-class="{'add-online-payment-form__active-payment-type': currentPaymentType == 2}")
										br
										| Check
							+e.payment-type-container
								+e.payment-type(ng-show="currentPaymentType == 0")
									+e('label').payment-label
										| CASH PAYMENT
								+e.payment-type(ng-show="currentPaymentType == 1")
									div(layout-gt-xs="row")
										+e('md-input-container').input-container.md-block(flex-gt-sm)
											label Card number
											input(ng-model="payment.card_num" name="cardNumber" cc-credit-card cc-type cc-number cc-format placeholder="4111 1111 1111 1111" minlength="17" maxlength="19")
										+e('md-input-container').input-container.md-block
											label Month
											input(ng-model="payment.exp_month" name="cardMonth" maxlength="2" cc-exp-month placeholder="MM")
										+e('md-input-container').input-container.md-block(flex-gt-xs)
											label Year
											input(ng-model="payment.exp_year" name="cardYear" maxlength="2" cc-exp-year placeholder="YY")
									div(layout-gt-xs="row")
										+e('md-input-container').input-container.md-block(flex-gt-sm)
											label Name
											input(ng-model="payment.name" name="cardNumber")
										+e('md-input-container').input-container.md-block
											label CVC
											input(ng-model="payment.cvc")
									div(layout-gt-xs="row")
										+e('md-input-container').input-container.md-block(flex-gt-sm)
											label Billing city
											input(ng-model="payment.billing_city" name="billingCity")
										+e('md-input-container').input-container.md-block
											label State
											input(ng-model="payment.billing_state")
										+e('md-input-container').input-container.md-block
											label Postal Code
											input(ng-model="payment.billing_zip" ng-maxlength="5")

								+e.payment-type(ng-show="currentPaymentType == 2")
									+e('md-input-container').input-container.md-block(flex-gt-sm)
										label Check number
										input(ng-model="payment.check_num" name="paymentFlag")

								+e('md-input-container').input-container.md-block(flex-gt-sm)
									label Payment flag
									input(ng-model="payment.payment_flag" name="paymentFlag")

			md-dialog-actions(layout="row")
				md-button(md-autofocus)
					| Cancel
				span(flex)
				md-button(ng-click="currentStep = 2" ng-show="currentStep == 1")
					| Next step
				md-button(ng-click="save()" ng-show="currentStep == 2")
					| Pay
