.add-online-payment-form__title {
  color: #eee;
}
.add-online-payment-form__input-container {
  margin: 0;
  font-size: 12px;
}
.add-online-payment-form__dialog {
  width: 500px;
  padding: 0;
}
.add-online-payment-form__next-button {
  width: 98%;
}
.add-online-payment-form__checkout {
  width: 85%;
  margin-left: 15%;
}
.add-online-payment-form__toolbar {
  width: 15%;
  position: fixed;
  left: 0;
  top: 30%;
}
.add-online-payment-form__payment-type-container {
  min-height: 230px;
}
.add-online-payment-form__payment-label {
  text-align: center;
  margin-left: 25%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.add-online-payment-form__active-payment-type {
  fill: #000;
}
.add-online-payment-form__button-icon {
  fill: 999;
}
.add-online-payment-form__amount {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -20px;
}
.add-online-payment-form__toolbar-item .md-icon-button {
  height: 78px;
  width: 78px;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  margin-top: -15px;
  fill: #eee;
}
