<section class="animated fadeInUp general calcsettings">
    <account-top-text on-save-basic-settings="vm.saveSettings"
                      basic-settings="vm.basicSettings"></account-top-text>
</section>
