<section id="" class="animated fadeInUp general calcsettings">
    <div class="row col-md-12 nopadding">
        <div class="col-lg-12 col-md-12 col-sm-12" id="inbox-wrapper">
            <div class="row">
                <general-custom-block
                        basic-settings="vm.basicSettings">
                </general-custom-block>
            </div>
        </div>
    </div>
</section>
