<section id="" class="animated fadeInUp general calcsettings">
    <div class="row col-md-12 nopadding">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <custom-tooltip on-save-basic-settings="vm.saveSettings"
                                basic-settings="vm.basicSettings"></custom-tooltip>
            </div>
        </div>
    </div>
</section>