<section id="" class="animated fadeInUp general calcsettings">
	<div class="row col-md-12 nopadding">
		<div class="col-lg-12 col-md-12 col-sm-12" id="inbox-wrapper">
			<div class="row">
				<account-faq-settings save-basic-settings="vm.saveSettings"
							 basic-settings="vm.basicSettings" ></account-faq-settings>
			</div>
		</div>
	</div>
</section>
