<div class="col-lg-12">
    <div class="flat-rate-account-settings">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Flat Rate Account Settings</h3>
            </div>
            <div class="panel-body">
                <p class="description">The settings below will hide the relevant blocks on the account page. Valid only for flat rate requests in statuses Pending, Inventory needed, Provide Options, Wait Option.</p>
                <div class="setting-fr">
                    <h3>Show Fuel Surcharge</h3>
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-change="vm.saveSettings()"
                           ng-model="vm.faAccountSettings.fuelSurcharge"
                           data-switchery="true" style="display: none;">
                </div>
                <div class="setting-fr">
                    <h3>Show Additional Service</h3>
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-change="vm.saveSettings()"
                           ng-model="vm.faAccountSettings.additionalServices"
                           data-switchery="true" style="display: none;">
                </div>
                <div class="setting-fr">
                    <h3>Show Quote</h3>
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-change="vm.saveSettings()"
                           ng-model="vm.faAccountSettings.quote"
                           data-switchery="true" style="display: none;">
                </div>
                <div class="setting-fr">
                    <h3>Show Explanation Quote</h3>
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-change="vm.saveSettings()"
                           ng-model="vm.faAccountSettings.explanation"
                           data-switchery="true" style="display: none;">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Flat Rate Options Text</h3>
            </div>
            <div class="panel-body">
                <div class="option table-responsive">
                    <div class="sizeset chat-widget">
                        <div ng-change="vm.saveSettings('longdistance', vm.longdistance)"
                             ng-model-options="{ updateOn: 'blur' }"
                             ng-model="vm.longdistance.default_flat_option"
                             text-angular
                             ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                      ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                      ['fontColor', 'fontName', 'fontSize'],
                                      ['insertLink', 'insertImage'],
                                      ['undo', 'redo', 'clear', 'html']]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
