<section id="" class="animated fadeInUp flat-rate-settings calcsettings">
    <div class="row col-md-12 nopadding">
        <div class="col-lg-12 col-md-12 col-sm-12" id="inbox-wrapper">
            <div class="row">
                <flat-rate-settings on-save-basic-settings="vm.saveSettings"
                                    basic-settings="vm.basicSettings"></flat-rate-settings>
            </div>
        </div>
    </div>
</section>