<div class="col-lg-12">
    <div class="inventory-account-settings">
        <div class="inventory-account-settings__panel panel panel-default">
            <div class="inventory-account-settings__saving-alert">
                <span ng-show="vm.saving">Saving</span>
                <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
            </div>
            <div class="inventory-account-settings__panel-heading panel-heading">
                <h3 class="panel-title">Long Distance</h3>
            </div>
            <div class="panel-body">
                <div class="inventory-account-settings__setting">
                    <h3 class="inventory-account-settings__setting-name">Allow a customer to make changes to the Inventory & Details when the job is confirmed</h3>
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-change="vm.saveSettings('longdistance', vm.longdistance)"
                           ng-model="vm.longdistance.isConfirmedAccountMenuEnabled"
                           data-switchery="true">
                </div>
            </div>
        </div>
    </div>
</div>
