<div class="statistics-main">
    <div class="settings_account_page_wrapper">
        <div class="ibox">
            <div class="ibox-title">
                <div class="saving-progress">
                    <span class="animated fadeIn" ng-show="vm.saved">Saved!</span>
                </div>
                <h5>Moving Insurance</h5>
            </div>
            <div class="ibox-content">
                <TABLE class="calculator">
                    <tbody>
                    <TR>
                        <TD class="sizeset chat-widget">
                            <div ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveSettings()"
                                 ng-model="vm.basicSettings.insurance_text" text-angular ng-model="message"
                                 ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                ['fontColor', 'fontName', 'fontSize'],
                                ['insertLink', 'insertImage'],
                                ['undo', 'redo', 'clear', 'html']]">
                            </div>
                        </TD>
                    </TR>
                    </tbody>
                </TABLE>
            </div>
        </div>
    </div>
</div>
