<section id="" class="animated fadeInUp general calcsettings">
    <div class="row col-md-12 nopadding">
        <div class="col-lg-12 col-md-12 col-sm-12" id="inbox-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <quote-explanation-directive
                            save-settings="vm.saveSettings"
                            quote-explanation-settings="vm.customizedTextSettings"></quote-explanation-directive>
                </div>
            </div>
        </div>
    </div>
</section>
