<div class="mobile-request-root-wrapper"
	 ng-if="vm.initialRequest">

	<er-edit-request-page
			initial-request="vm.initialRequest"
			requests="vm.requests"
			super-response="vm.superResponse"
			is-delivery="isDelivery"
			modal-instance="vm.modalInstance"></er-edit-request-page>
</div>
<div class="inhome-estimate-request-loading"
	 ng-if="vm.globallLoading">
	<img src="../inhome-estimator-portal/src/logo_animation.gif"/>
	<h3 class="loading-header">Wait a minute please...</h3>
</div>
<div class="inhome-estimate-request-redirecting"
	 ng-if="vm.redirectLoading">
	<img src="../inhome-estimator-portal/src/logo_animation.gif"/>
	<h3 class="loading-header">We're redirecting you at confirmation page...</h3>
</div>
