.sit
	.agent-folio-details__toolbar
		md-toolbar.md-hue-2
			.md-toolbar-tools
				h2.agent-folio-details__toolbar__label(flex='', md-truncate='') Jobs in SIT
	
	.sit-filters
		.sit-filters__block
			md-input-container
				label Date from
				md-datepicker(ng-model='from' md-open-on-focus='' md-min-date="today" md-max-date="to", ng-change='changeFromFilter(from)')

		.sit-filters__block
			md-input-container
				label Date to
				md-datepicker(ng-model='to' md-open-on-focus='', ng-change='changeToFilter(to)' md-min-date="from")

		.sit-filters__block
			.sit-filters__block__states
				.sit-filters__block__states__label(ng-class="{'sit-filters__block__states__label_open' : modalFromOpened == true}") Pick Up States:
				.sit-filters__block__states__text.sit-filters__block__states__text_over(ng-click="openModalFrom()" ng-class="{'sit-filters__block__states__text_open' : modalFromOpened == true, 'sit-filters__block__states__text_text-black': selectStringFrom != 'None'}") {{selectStringFrom}}
					.sit-filters__block__states_border 
			.sit-state-modal(states-modal chosen-states="chosenStatesFrom" modal-opened="modalFromOpened" get-list="getList()")

		.sit-filters__block
			.sit-filters__block__states
				.sit-filters__block__states__label(ng-class="{'sit-filters__block__states__label_open' : modalToOpened == true}") Delivery States:
				.sit-filters__block__states__text(ng-hide="modalFromOpened" ng-click="openModalTo()" ng-class="{'sit-filters__block__states__text_open' : modalToOpened == true, 'sit-filters__block__states__text_text-black': selectStringTo != 'None'}") {{selectStringTo}}
					.sit-filters__block__states_border 
			.sit-state-modal(states-modal chosen-states="chosenStatesTo" modal-opened="modalToOpened" get-list="getList()")

		.sit-filters__block
				md-input-container.pickup-filters__block__options
					label Storage in Transit
					md-select(ng-model='selectedStorage' ng-change="setStorage()")
						md-option
							em(ng-value="undefined") None
						md-option(ng-value="item" ng-repeat="item in storages") {{item.name}}

		.sit-filters__block
				md-input-container.pickup-filters__block__options
					label Foreman name
					md-select(ng-model='selectedForeman' ng-change="setForeman()")
						md-option
							em(ng-value="undefined") None
						md-option(ng-value="item" ng-repeat="item in foreman") {{item.field_user_first_name}} {{item.field_user_last_name}}
		.sit-filters__block
			.trip-filters__block__remove-button
				md-button.md-raised(ng-click="removeFilters()")   Remove All Filters
.sit-list-form
	.request-list-form__refresh-button
		md-button.md-primary.md-raised.md-hue-2(ng-click="getList()") Refresh
	.sit-list
		md-progress-linear(md-mode="indeterminate" ng-if="busy")
		.sit-list__head
			.sit-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Date
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'date'")
			.sit-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						|Job ID
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'ld_nid'")
						
			.sit-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						|Customer
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'customer_name'")
						
			.sit-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						|Storage
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'storage_name'")
						
			.sit-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						|Pick Up From
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'from_city'")
						
			.sit-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						|Delivery To
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'to_city'")
						
			.sit-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						|Foreman
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'foreman_name'")
						
			.sit-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						|Blankets
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'blankets'")
						

		.sit-list__body(ng-repeat="item in jobs track by $index")
			.sit-list__body__item(ng-if="item.date != 0 && item.date")
				| {{ item.date * 1000 | date:'MM-dd-yyyy' }}
			.sit-list__body__item(ng-if="item.date == 0 || !item.date")
				.trip-list-item-body__body__item_none
					| None
			.sit-list__body__item(call-job-modal id="item.ld_nid" show-text="{{item.ld_nid}}")
			.sit-list__body__item
				| {{ item.customer_name }}
			.sit-list__body__item(ng-if="item.storage_name")
				| {{ item.storage_name }}
			.sit-list__body__item(ng-if="!item.storage_name")
				.trip-list-item-body__body__item_none
					| None
			.sit-list__body__item
				| {{ item.address_from }}
				br
				| {{ item.from_city }}, {{ item.from_state }} {{item.from_zip}}
			.sit-list__body__item
				| {{ item.address_to }}
				br
				| {{ item. to_city}}, {{ item.to_state }} {{ item.to_zip }}
			.sit-list__body__item(ng-if="item.foreman_name")
				| {{ item.foreman_name }}
			.sit-list__body__item(ng-if="!item.foreman_name")
				.trip-list-item-body__body__item_none
					| None
			.sit-list__body__item
				| {{ item.blankets }}
	.sit-list-pagination
		.pagination__totals
			span(ng-show="selectInfo.loaded")
				| from {{selectInfo.firstItemNumber}} to {{selectInfo.lastItemNumber}} of {{selectInfo.totalItems}}
		.pagination__buttons
			md-button.md-primary.md-raised.md-hue-2(
			ng-click="prevPage()"
			ng-class="{'disabled':params.page <= 1}") Prev page
			md-button.md-primary.md-raised.md-hue-2(
			ng-click="nextPage()"
			ng-class="{'disabled':params.page >= selectInfo.totalPages}") Next page