.sit-tabs
    margin-top -25px
    width 100%
    display inline-flex
    flex-direction row
    justify-content flex-start
    border-bottom 1px solid #ddd
    flex 1
    &__tab
        max-width 100px
        padding-left 5px
        padding-right 5px
        display flex
        justify-content center
        height 40px
        flex 1
        border-radius 5px 5px 0px 0px
        &_hover
            &:hover
                background #EEEEEE
                color #757575
                cursor pointer
        &_active
            border-bottom 2px solid #283593
            color #283593
    &__label
        font-size 16px
        display flex
        flex-direction column
        justify-content center
.sit-log
    margin -8px
    background #ffffff
    max-height: 350px