<div class="parent-container">
<div class=" col-md-12 directive-title">For easier inventory search user <span  class="recomended-background">recommended</span> filters. Do not see what you are looking for - use "custom item" filter.</div>

<div id="left-filter" class="col-md-2">
    <input class="inp-search-filter" type="text" placeholder="Search..." ng-model="search.title">
    <ul class="list-Filters" style="padding-left:0px;">
        <li ng-click="changeActiveFilter(filter)" ng-repeat="filter in filters" ng-class="{'active' : filter.active, 'recomended': isRecomended(filter.id)}" class="li-inv-default listFilters">{{filter.title}}</li>
    </ul>
</div>
     
<div id="data-rooms-container" class="col-md-10 data-rooms-container">
    
    <div class="col-md-12 tabs-rooms-container">
        <div id="tabs-rooms center" ng-class="{'active' : room.active}" ng-repeat="room in rooms" class="col-md-2 list-FillRoom">
            <div ng-click="changeActiveRoom(room)" class="li-inv-default listFillRoom">{{room.title}}</div>
        </div>
    </div>
    
    <div class="col-md-12 databable-rooms-container">
        <div id="datatable-items" class="col-md-2 inv-item" ng-repeat="inventory in inventories | filter: search" ng-class="{'inv-picked': getRequestInventory(inventory.id) > 0}" ng-if="search.title || (activeFilter.id== inventory.fid && activeFilter.id!=23)">
            <div id="inventory_{{inventory.id}}">
                <div id="buttons-container">
                    <button id="increase-btn" class="btn-inv-action increase" ng-click="increaseItem(inventory)"><i class="fa fa-plus"></i></button>
                    <button id="decrease-btn" class="btn-inv-action decrease" ng-click="decreaseItem(inventory)" ng-if="getRequestInventory(inventory.id) > 0"><i class="fa fa-minus"></i></button>
                    <div id="count-container" ng-if="getRequestInventory(inventory.id) > 0" class="counter-inventories">{{getRequestInventory(inventory.id)}}</div>
                </div>
                 <img ng-src="{{inventory.photo.path}}"/>
                <div class="invtitle">{{inventory.title}}</div>
                <i class="fa fa-pencil btn-inv-edit" ng-if="superadmin" ng-click="editInventory(inventory)"></i>
            </div>   
        </div>
        <div ng-if="activeFilter.id == 23">

        <div class="col-md-12 custom-inventory-container" style="display: none">
            <strong>Additional custom item dimensions (Inches):</strong>
            <form name="addItemform">
            <div class="inputs-container" class="col-md-12">
              <div class="col-md-2">
                  <div>Width</div>
                  <input type="text" name="width" ng-model="custom.width"
                         ng-pattern="/^[0-9]{1,7}$/" required 
                         class="inp-inventories inp-num"/></br>
                  <span class="valid-message" ng-show="addItemform.width.$error.pattern">Must be a number!</span>
              </div>
              <div class="col-md-2">
                  <div>Length</div>
                  <input type="text" name="length" ng-model="custom.length"
                         ng-pattern="/^[0-9]{1,7}$/"
                          required 
                         class="inp-inventories inp-num"/></br>
                   <span class="valid-message" ng-show="addItemform.length.$error.pattern">Must be a number!</span>
              </div>
              <div class="col-md-2">
                  <div>Height</div>
                  <input type="text" name="height" ng-model="custom.height"
                          ng-pattern="/^[0-9]{1,7}$/"
                          required 
                         class="inp-inventories inp-num"/></br>
                   <span class="valid-message" ng-show="addItemform.height.$error.pattern">Must be a number!</span>
              </div>
              <div class="col-md-4">
                  <div>Item Name</div>
                  <input type="text" class="inp-inventories inp-title" ng-model="custom.title"/>
              </div>
              <div class="col-md-2">
                  <div>Count</div>
                  <input type="text" name="count" class="inp-inventories inp-num" ng-model="custom.count" 
                         ng-pattern="/^[0-9]{1,7}$/"
                         required /> </br>
                  <span class="valid-message" ng-show="addItemform.count.$error.pattern" >Must be a number!</span>
              </div>
            <div class="col-md-12  add-custom-container">
            <button id="add-item"  class="btn btn-primary btn-inv-default add-custom" ng-click="addCustomItem()" 
                      ng-disabled="addItemform.$invalid">Add Item</button>
            </div>
            </div>
            </form>
            
            <div id="" ng-repeat="inventory in listInventories | filter : {'rid':activeRoom.id}:true" class="col-md-12 custom-items-list" ng-if="inventory.fid==23 && inventory.count>0">
                <div class="left check-container"><i class="fa fa-check check"></i> {{inventory.title}}</div>
                <div class="left custom-counter">{{inventory.count}}</div>
                <div ng-click="increaseItem(inventory)"  class="left"><i class="fa fa-plus-circle i-inv-action"></i></div>
                <div ng-click="decreaseItem(inventory)" ng-if="inventory.count > 0"> <i class="fa fa-minus-circle i-inv-action"></i></div>
            </div>
        </div>
        </div>


        <!-- sales adding form -->
        <div  ng-if="activeFilter.id == 23">
          <div class="col-md-12 custom-inventory-container">
            <strong>Additional custom item :</strong>
            <form name="addItemform">
                <div class="inputs-container" class="col-md-12">
                    <div class="col-md-4">
                        <div>Item Name</div>
                        <input type="text" id="custom_item_name" class="inp-inventories inp-title" ng-model="custom.title"/>
                    </div>
                    <div class="col-md-2">
                        <div>Count</div>
                        <input type="text" name="count" class="inp-inventories inp-num" ng-model="custom.count"
                               ng-pattern="/^[0-9]{1,7}$/"
                               required /> </br>
                        <span class="valid-message" ng-show="addItemform.count.$error.pattern" >Must be a number!</span>
                    </div>
                    <div class="col-md-2">
                        <div>Cubic ft.</div>
                        <input type="text" name="count" class="inp-inventories inp-num" ng-model="custom.pounds"
                               ng-pattern="/^[0-9]{1,7}$/"
                               required /> </br>
                        <span class="valid-message" ng-show="addItemform.count.$error.pattern" >Must be a number!</span>
                    </div>
                    <div class="col-md-12  add-custom-container">
                        <button id="add-item"  class="btn btn-primary btn-inv-default add-custom" ng-click="addCustomItem()"
                                ng-disabled="addItemform.$invalid">Add Item</button>
                    </div>
                </div>
            </form>

            <div id="" ng-repeat="inventory in listInventories | filter : {'rid':activeRoom.id}:true" class="col-md-12 custom-items-list" ng-if="inventory.fid==23 && inventory.count>0">
                <div class="left check-container"><i class="fa fa-check check"></i> {{inventory.title}}</div>
                <div class="left custom-counter">{{inventory.count}}</div>
                <div ng-click="increaseItem(inventory)"  class="left"><i class="fa fa-plus-circle i-inv-action"></i></div>
                <div ng-click="decreaseItem(inventory)" style="    float: left;" ng-if="inventory.count > 0"> <i class="fa fa-minus-circle i-inv-action"></i></div>
            </div>
        </div>
         </div>

    </div>
    </div>
    <div id="total-indicators-container" class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-4"> 
        <button class="btn-inv-default btn-add-inventory" ng-if="superadmin" ng-click="addInventory(null)">Add New Inventory</button>
    </div>
    <div class="col-md-7 total-right total-indicators">
        Total Items: {{calculateTotals().counts}}, Total Boxes: {{calculateTotals().boxes}}, Custom: {{calculateTotals().custom}}, Total Estimated Cubic Feet: {{calculateTotals().cfs | number:0 }}</div>
</div>
</div>

    

