.extra-signature-settings-template-builder-menu-modal
	&__body
		display flex
		align-items flex-start
		&__template-preview
			zoom 80%
			&_block
				border 1px solid gainsboro
				margin 25px 10px 10px
		&_menu
			width 300px
			margin-top 25px
			margin-left 15px
			&-item-title
				font-weight 600
			&-item-description
				font-style italic
				font-size small
			&-item-block
				display flex
				flex-direction column
				padding 5px
				border 1px solid gainsboro
				margin-bottom 5px
				cursor pointer
				text-align center
