<div class="tplBuilder quick-template-preview" busy-overlay="vm.busy">
	<div class="extra-signature-settings-template-builder-menu-modal__body">
		<uib-accordion close-others="true" class="extra-signature-settings-template-builder-menu-modal__body_menu">
			<div uib-accordion-group ng-repeat="menu in vm.templatesMenu">
				<uib-accordion-heading>
					{{menu.header}}
				</uib-accordion-heading>
				<div class="extra-signature-settings-template-builder-menu-modal__body_menu-item-block" ng-repeat="template in menu.templates" ng-class="{'active-template': template.id == vm.template.id}" ng-click="vm.chooseTemplate(template)">
					<div class="extra-signature-settings-template-builder-menu-modal__body_menu-item-title">{{template.name}}</div>
					<div class="extra-signature-settings-template-builder-menu-modal__body_menu-item-title" ng-if="template.name == ''">Template without name</div>
					<div class="extra-signature-settings-template-builder-menu-modal__body_menu-item-description">{{template.data.subject}}</div>
				</div>
			</div>
		</uib-accordion>
		<div class="modal-body extra-signature-settings-template-builder-menu-modal__body__template-preview_block">
			<div id="template-container" class="extra-signature-settings-template-builder-menu-modal__body__template-preview quick-edit-template">
				<div ng-show="vm.template.blocks.length != 0">
					<template-preview template="vm.template" delete-button="true" editor-button="false" dragdrop-button="false" edit-child-elements="false" edit-block-options="editBlockOptions">
					</template-preview>
				</div>
				<div class="empty-template-preview" ng-show="vm.template.blocks.length == 0">
					Please choose template.
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row action-panel">
			<div class="col-md-12">
				<a ng-click="save()" class="btn btn-primary save-button">Load template</a>
				<a ng-click="cancel()" class="btn btn-default cancel-button">Close</a>
			</div>
		</div>
	</div>
</div>