<!-- Parklot settings -->
<section class="panel col-md-5 col-sm-12 col-lg-4">
    <div class="panel-heading">
        <h3 class="panel-title">Test Calculator</h3>
    </div>
    <div class="panel-body">
        <calc-form></calc-form>
    </div>
</section>


<div class="panel col-md-5 col-sm-12 col-lg-4">
    <div class="panel-body minimal">
        <ng-include src="'app/settings/calculator/templates/calculator-results.html'"></ng-include>
    </div>
</div> 