<section class="panel col-md-9 col-sm-12 col-lg-7 ">

    <div class="panel-body minimal">
        <div class="saving-progress">
            <span class="" ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
        </div>

        <div class="option table-responsive">
            <h1>Calculator Type</h1>
            <p>Please choose between using our default automatic calculator based on average move or make your own settings</p>

            <div class="row" style="padding-bottom: 25px;"><h1 style="display: inline;">
                <div class="col-md-5">Show Quote</div>
                <div class="col-md-3" style="text-align: center;">Account</div>
                <div class="col-md-3" style="text-align: center;">Front Page</div>
            </h1></div>
            <div class="row" style="border-bottom: 1px solid #D6D6D6; padding-bottom: 25px; margin: 0 0 25px;">
                <div class="col-md-12" ng-repeat="(id, value) in vm.allowedServiceTypes">
                    <div class="col-md-6">
                        <label for="checkTwo" class="control-label">{{value}}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox"
                               class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                               ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                               ng-change="vm.saveBasicSettings()"
                               ng-model="vm.basicSettings.showQuote[id]"
                               id="checkTwo" data-switchery="true" style="display: none;">
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox"
                               class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                               ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                               ng-change="vm.saveBasicSettings()"
                               ng-model="vm.basicSettings.showQuoteFront[id]"
                               id="checkTwo" data-switchery="true" style="display: none;">
                    </div>
                </div>
            </div>

            <h1>Movers Speed</h1>
            <p>It's simple formula based on how many cubic feet movers can move per hour. Obviously, we reduce the amount of cubic feet when moving to 2 - 5 floors. </p>

            <div class="menu calc">
                <div ng-click="vm.currentMovers = mover" ng-repeat="mover in vm.range(2,8)" class="tab"
                     ng-class="{'active': vm.currentMovers == mover}">{{mover}} Movers
                </div>
            </div>
            <div class="panel-body minheight">
                <TABLE class="calculator">
                    <thead>
                    <TR>
                        <TD>Movers</TD>
                        <TD>Cubic feet / hours</TD>
                        <TD>Floor</TD>
                        <TD>Floor reduce</TD>

                    </TR>

                    </thead>

                    <tbody>
                    <TR ng-repeat="(key,label) in ::vm.fieldData.field_lists.field_type_of_entrance_from"
                        ng-if="key != 7">
                        <TD class="movers"><h2>{{vm.currentMovers}}</h2></TD>
                        <TD class="speed" ng-if="key == 1">
                            <input ng-change="vm.saveSettings()"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   class="form-control"
                                   ng-model="vm.calcSettings.speed[vm.currentMovers]">
                        </TD>
                        <TD class="speed disabled center" ng-if="key != 1">{{vm.calcSettings.speed[vm.currentMovers] *
                            (1 - vm.calcSettings.floor_kof[key] / 100) | number: 1}}
                        </TD>
                        <TD class="floor">

                            {{label}}

                        </TD>


                        <TD class="floor">
                            <select ng-change="vm.saveSettings()" ng-model-options="{ updateOn: 'blur' }"
                                    ng-model="vm.calcSettings.floor_kof[key]" class="form-control floor form-element">
                                <option
                                        ng-selected="n == vm.calcSettings.floor_kof[key]"
                                        ng-repeat="n in ::vm.range(0,100,5)" value="{{n}}">{{n}}%
                                </option>

                            </select>
                            <span ng-hide="key != 1">None</span>
                            <span ng-hide="key == 1">Slower than 1st Floor</span>
                        </TD>

                    </TR>


                    </tbody>
                </TABLE>

            </div>
        </div>

        <!-- MOVERS COUNT SETTING-->
        <div class="option table-responsive">


            <h1>Movers count</h1>
            <p>How many movers we need depends on total move weight and entrance type</p>
            <div class="panel-body">
                <TABLE class="calculator">


                    <tbody>

                    <TR>
                        <TD class="movers"><h2>Minimum Movers</h2></TD>
                        <TD class="movers">
                            <select ng-model="vm.calcSettings.min_movers" ng-change="vm.saveSettings()"
                                    class="form-control form-element">
                                <option value="2">2</option>
                                <option value="3">3</option>

                            </select>
                            movers

                        </TD>
                        <TD class="movers"><h2>Minimum Hours</h2></TD>
                        <TD class="movers">
                            <select ng-model="vm.calcSettings.min_hours" ng-change="vm.saveSettings()"
                                    class="form-control form-element">
                                <option value="0">None</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>

                            </select>
                            hours

                        </TD>
                    </TR>


                    <TR ng-hide="mover == 2" ng-repeat="mover in vm.range(2,8)">
                        <TD class="movers"><h2>{{mover}} movers when job size more than</h2></TD>
                        <TD class="movesize">
                            <input ng-model="vm.calcSettings.mover_size[mover]" ng-change="vm.saveSettings()"
                                   class="form-control form-element"> cubic feet
                        </TD>


                        <TD class="movers"><h2>OR MORE THAN</h2></TD>

                        <TD class="movesize">
                            <input ng-model="vm.calcSettings.mover_size_with_floor[mover]" ng-change="vm.saveSettings()"
                                   class="form-control form-element"> cubic feet
                        </TD>

                        <TD class="movers"><h2>and >=</h2></TD>
                        <TD class="movers">
                            <select ng-model="vm.calcSettings.mover_size_floor[mover]" ng-change="vm.saveSettings()"
                                    class="form-control form-element">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select> floor

                        </TD>

                    </TR>
                    </tbody>
                </TABLE>

            </div>


        </div>


        <!-- HOW MANY TRUCKS USE IN SISTYM -->
        <div class="option table-responsive">

            <h1>Truck Count</h1>
            <p>How many trucks we need based on total move size </p>
            <table class="table table-inbox table-hover">
                <tbody>
                <tr class="option">
                    <td>
                        <h2>2 TRUCKS when CUBIC FEET <b>more</b> than</h2>
                    </td>
                    <td>
                        <input class="form-element form-control" ng-change="vm.saveSettings()"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-model="vm.calcSettings.trucks2"> cubic feet
                    </td>
                </tr>
                <tr class="option">
                    <td>
                        <h2>3 TRUCKS when CUBIC FEET <b>more</b> than</h2>
                    </td>
                    <td>
                        <input class="form-element form-control"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-change="vm.saveSettings()" ng-model="vm.calcSettings.trucks3"> cubic feet
                    </td>
                </tr>
                <tr class="option">
                    <td>
                        <h2>4 TRUCKS when CUBIC FEET <b>more</b> than</h2>
                    </td>
                    <td>
                        <input class="form-element form-control"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-change="vm.saveSettings()" ng-model="vm.calcSettings.trucks4"> cubic feet
                    </td>
                </tr>
                <tr class="option">
                    <td>
                        <h2>5 TRUCKS when CUBIC FEET <b>more</b> than</h2>
                    </td>
                    <td>
                        <input class="form-element form-control"
                               ng-model-options="{ updateOn: 'blur' }"
                               ng-change="vm.saveSettings()" ng-model="vm.calcSettings.trucks5"> cubic feet
                    </td>
                </tr>

                </tbody>
            </table>

        </div>


</section>

<div class="panel col-md-3" er-hide-if-small-screen>
    <div class="panel-body minimal">
        <div class="panel manage-listing-help-panel no-box-shadow" style="top: 144px;">
            <div class="help-header-icon-container text-center va-container-h">
                <img src="https://a2.muscache.com/airbnb/static/manage_listing/lightbulb2x-8bca59ee335a4dbf1ae2be406fd0693f.png"
                     width="50" height="50" class="col-center">
            </div>
            <div class="panel-body">
                <h4 class="text-center">Calculator Settings </h4>
                <div class="location-help-panel-illustration"></div>
                <p>We base calculations on how much weight movers can move per hour.</p>
            </div>
        </div>
    </div>


</div>






