<div class="panel panel-default no-box-shadow">
    <div class="panel-heading">
        <h3 class="panel-title">Calculator Results</h3>
    </div>
    <div class="panel-body minheight resulttable flipInY animated" ng-if="vm.iscalcResults">
        <TABLE>
            <TBODY>
            <TR>
                <TD class="label">MOVE DATE:</TD>
                <TD class="data">{{vm.calc_results.request.moveDate}}</TD>
            </TR>

            <TR ng-if="vm.calc_results.request.serviceType != 5">
                <TD class="label">Rate:</TD>
                <TD class="data" ng-show="vm.calc_results.request.serviceType != 7">${{vm.calc_results.rate}} / hour</TD>
                <TD class="data" ng-show="vm.calc_results.request.serviceType == 7">${{vm.calc_results.rate}} / per c. f.</TD>
            </TR>

            <TR>
                <TD class="label">FROM:</TD>
                <TD class="data">{{vm.calc_results.request.From.full_adr}}</TD>
            </TR>
            <TR>
                <TD class="label">TO:</TD>
                <TD class="data">{{vm.calc_results.request.To.full_adr}}</TD>
            </TR>
            <TR>

                <TD class="label">DISTANCE:</TD>
                <TD class="data">{{vm.calc_results.distance}} miles</TD>

            </TR>
            <TR>

                <TD class="label">Service Type:</TD>
                <TD class="data">{{vm.serviceType[vm.calc_results.request.serviceType]}}</TD>

            </TR>


            <TR>

                <TD class="label">TOTAL CUBIC FEET:</TD>
                <TD class="data">{{vm.calc_results.total_cf.min}} - {{vm.calc_results.total_cf.max}} CUBIC FEET</TD>

            </TR>
            <TR>

                <TD class="label">TRUCK:</TD>
                <TD class="data">{{vm.calc_results.trucks}}</TD>

            </TR>
            <TR>

                <TD class="label">MOVERS:</TD>
                <TD class="data">{{vm.calc_results.movers_count}} movers</TD>

            </TR>

            <TR>

                <TD class="label">{{::vm.calcSettings.travelTimeName}}:</TD>
                <TD class="data">{{vm.calc_results.travel_time | hrmin}}</TD>

            </TR>

            <TR>

                <TD class="label">Work Time</TD>
                <TD class="data">{{vm.calc_results.work_time.min | hrmin }} - {{vm.calc_results.work_time.max | hrmin}}
                </TD>

            </TR>
            <TR>

                <TD class="label">Total Time Quote</TD>
                <TD class="data" ng-if="!vm.calc_results.results.small_job">{{vm.calc_results.quote_min | hrmin }} -
                    {{vm.calc_results.quote_max| hrmin}}
                </TD>
                <TD class="data" ng-if="vm.calc_results.results.small_job">{{vm.calc_results.quote_min | hrmin }}
                </TD>

            </TR>
            <TR ng-if="vm.calc_results.request.serviceType != 7">
                <TD class="label">Total Quote</TD>
                <TD class="data" ng-if="!vm.calc_results.results.small_job">${{vm.calc_results.total_quote_min| number: 2}} -
                    ${{vm.calc_results.total_quote_max | number: 2}}
                </TD>

                <TD class="data" ng-if="vm.calc_results.results.small_job">${{vm.calc_results.total_quote_min | hrmin }}
                </TD>
            </TR>
            <TR ng-if="vm.calc_results.request.serviceType == 7">
                <TD class="label">Total Quote</TD>
                <TD class="data">
                    ${{vm.calc_results.ldQutoe | number: 2}}
                </TD>
            </TR>

            </TBODY>
        </TABLE>

        <div class="longdistance" ng-show="vm.calc_results.request.serviceType == 5">
            <h3>Flat Rate And Long Distance Moves</h3>
            <table>
                <tbody>
                <TR>

                    <TD class="label">Pick up Time</TD>

                    <TD class="data">{{vm.calc_results.pickup_time.min | hrmin}} - {{vm.calc_results.pickup_time.max | hrmin}}
                    </TD>

                </TR>

                </tbody>

            </table>
        </div>
    </div>

    <div class="panel-body minheight resulttable empty" ng-if="!vm.iscalcResults">
        <div><i class="icon-calculator"></i></div>
    </div>

</div>