<div class="pageheader">
                <h1>General Settings </h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li>Settings</li>
                        <li class="active">Calculator</li>
                    </ol>
                </div>
  </div> 
<section id="main-content" class="animated fadeInUp general calcsettings"  ng-controller="CalcContorller as vm" >
    <!--mail wrapper start-->
    <div class="row">
        <div class="col-md-2 col-sm-12" id="compose-wrapper">
            <div class="panel">
                <aside class="panel-body">
                    <a href="javascript:void(0);" class="btn btn-primary btn-block">Moving Calculator Settings</a>
                    <ul class="nav nav-pills nav-stacked compose-nav">
                        <li ng-repeat="tab in vm.tabs"
                            ng-class="{ 'active': tab.selected}"
                            >
                            <a href="" ng-click="vm.select(tab)"> <i class="{{tab.icon}}"></i>{{tab.name}}
                                
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>

        </div>
        <div class="col-md-10 col-sm-12" id="inbox-wrapper">

            
            <div class="tab_content" ng-repeat="tab in vm.tabs"  ng-class="{active: tab.selected}">
                    <div  ng-include="tab.url"></div>
            </div>
  
        </div>
       
    </div>
    
    <!--mail wrapper end-->
</section>
