<div class="row">
    <section class="panel col-md-5 col-sm-12">
        <div class="panel-body minimal">
            <div class="saving-progress">
                <span class="" ng-show="vm.saving">Saving</span>
                <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
            </div>
            <div class="option table-responsive tt-border-bottom">
                <h1 style="margin-bottom: 5px;">Travel Time
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-change="vm.saveSettings()" ng-model="vm.calcSettings.travelTime" id="checkOne"
                           data-switchery="true">
                </h1>
                <table class="table table-inbox table-hover">
                    <tbody>
                    <tr class="option">
                        <td class="text">
                            Travel time from Origin to Destination
                        </td>
                        <td colspan="2">
                            <input type="checkbox"
                                   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                   ng-change="vm.saveSettings()" ng-model="vm.calcSettings.isTravelTimeSameAsDuration" id="checkOne"
                                   data-switchery="true">
                        </td>
                    </tr>
                    <tr class="option">
                        <td class="text">
                            Travel Time Settings Name
                        </td>
                        <td colspan="2">
                            <input placeholder="Please Enter New Name" class="form-element form-control full-width-90" ng-change="vm.saveSettings()" ng-model="vm.calcSettings.travelTimeName" ng-model-options="{ updateOn: 'blur' }">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="option table-responsive tt-border-bottom">
                <h1>Flat Rate Travel Time <input type="checkbox"
                                                 class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                                 ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                                 ng-change="vm.saveSettings()"
                                                 ng-model="vm.calcSettings.flatTravelTime.isActive"
                                                 id="checkOne" data-switchery="true"></h1>
                <p>Travel Time = A + B</p>
                <p>A = Driving Time from Company Address to Zip From</p>
                <p>B = Driving Time from Zip TO to Company Address.</p>
                <p></p>

                <TABLE class="calculator">
                    <tbody>
                    <TR>
                        <TD class="sizeset">
                            <input style="width: 85px;" class="form-element form-control"
                                   ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveSettings()"
                                   placeholder="Zip Code" maxlength="5" data-mask="99999"
                                   ng-model="vm.calcSettings.flatTravelTime.center_postalCode"> Zip Code
                        </TD>
                        <TD class="sizeset">
                            <input style="width: 85px;" class="form-element form-control"
                                   ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveSettings()"
                                   placeholder="Radius"
                                   maxlength="5" data-mask="99999"
                                   ng-model="vm.calcSettings.flatTravelTime.radius"> Radius (miles)
                        </TD>
                        <TD class="sizeset">
                            <input style="width: 85px;" class="form-element form-control"
                                   ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveSettings()"
                                   placeholder="Time"
                                   maxlength="5" data-mask="99999"
                                   ng-model="vm.calcSettings.flatTravelTime.amount"> Time (minutes)
                        </TD>
                    </TR>
                    </tbody>

                    <tbody style="display: none">
                    <TR ng-repeat="key in vm.objectKeys(vm.calcSettings.discount_zips)">
                        <TD class="sizeset">
                            <input style="width: 85px;" data-mask="99999" class="form-element form-control"
                                   ng-model-options="{ updateOn: 'blur' }" ng-change="vm.saveSettings()"
                                   ng-model="vm.calcSettings.discount_zips[key]"> cubic feet
                        </TD>
                    </TR>

                    </tbody>
                    <button style="display: none" ng-click="vm.calcSettings.discount_zips.push('')">Add Zip Code
                    </button>
                </TABLE>
            </div>
            <h1>Driving Time</h1>
            <div class="option table-responsive">
                <table class="table table-inbox table-hover">
                    <tbody>
                    <tr class="option">
                        <td class="text">
                            Add driving to travel time if distance <b>more</b> than
                        </td>
                        <td colspan="2">
                            <input class="form-element form-control" ng-change="vm.saveBasicSettings()"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   ng-model="vm.basicSettings.local_flat_miles"> miles
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="option table-responsive tt-border-bottom">
                <h1 style="margin-bottom: 5px;">Double Drive Time
                    <input type="checkbox"
                           class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                           ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                           ng-change="vm.saveSettings()" ng-model="vm.calcSettings.doubleDriveTime" id="checkOne"
                           data-switchery="true">
                </h1>
                <table class="table table-inbox table-hover">
                    <tbody>
                    <tr class="option">
                        <td class="text">
                            Minimum Double Drive Time (min)
                        </td>
                        <td colspan="2">
                            <select style="width: 90%;" class="form-element form-control" ng-change="vm.saveBasicSettings()"
                                    ng-model-options="{ updateOn: 'blur' }"
                                    ng-model="vm.basicSettings.minCATavelTime">
                                <option ng-selected="n == vm.basicSettings.minCATavelTime"
                                        ng-repeat="n in ::vm.doubleTravelTime" value="{{::n}}">{{::n}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr class="option">
                        <td class="text">
                            Double Drive Time Settings Name
                        </td>
                        <td colspan="2">
                            <input placeholder="Please Enter New Name" class="form-element form-control full-width-90" ng-change="vm.saveSettings()" ng-model="vm.calcSettings.doubleDriveTimeName" ng-model-options="{ updateOn: 'blur' }">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- TRUCK SPEED -->
            <h1>Custom Truck Speed</h1>
            <div class="option table-responsive">

                <div class="col-md-12" style="margin-bottom: 15px;">
                    <div class="col-md-3">
                        <label for="checkOne" class="control-label">Enabled</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox"
                               class="js-switch"
                               ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                               ng-model="vm.calcSettings.customTrackSpeed.enabledBool"
                               ng-change="switchTruckSpeedEnabled()"
                               data-switchery="true" style="display: none;">
                    </div>
                </div>
                <p>Create your own custom truck speed – good for long drives when you don’t want to use google maps driving time.</p>

                <table class="table table-inbox table-hover customTruckSpeedTable">
                    <tbody>
                    <tr class="option">
                        <td class="customTruckSpeed1td">
                            <h2>Truck speed</h2>
                        </td>
                        <td>
                            <input ng-model="vm.calcSettings.customTrackSpeed.customSpeed"
                                   ng-blur="vm.saveSettings()"
                                   class="form-control form-element"
                                   ng-disabled="!vm.calcSettings.customTrackSpeed.enabledBool"> miles per hour
                        </td>
                    </tr>
                    <tr>
                        <td class="customTruckSpeed1td">
                            <h2>Use when distance more than</h2>
                        </td>
                        <td>
                            <input ng-model="vm.calcSettings.customTrackSpeed.useWhenDistMoreThan"
                                   ng-blur="vm.saveSettings()"
                                   class="form-control form-element"
                                   ng-disabled="!vm.calcSettings.customTrackSpeed.enabledBool"> miles
                        </td>
                    </tr>
                    </tbody>
                </table>




            </div>
        </div>
    </section>
</div>
