<section class="panel col-md-5 col-sm-12">

    <div class="panel-body minimal">
        <div class="saving-progress">
            <span class="" ng-show="vm.saving">Saving</span>
            <span class="animated  fadeIn" ng-show="vm.saved">Saved!</span>
        </div>

        <div class="option table-responsive">
            <h1>Move Size</h1>
            <p>Select the bedrooms c.f. only</p>

            <TABLE class="calculator">
                <tbody>
                <TR ng-repeat="key in vm.objectKeys(vm.move_size)">
                    <TD class="sizeset" ng-if="key != 11"><h2>{{vm.move_size[key]}}</h2></TD>
                    <TD class="sizeset" ng-if="key != 11">
                        <input class="form-element form-control" ng-model-options="{ updateOn: 'blur' }"
                               ng-change="vm.saveSettings()" ng-model="vm.calcSettings.size[key]"> cubic feet
                    </TD>
                    <TD ng-if="false">
                        <select ng-change="vm.saveSettings()" ng-model-options="{ updateOn: 'blur' }"
                                    ng-model="vm.calcSettings.package[key]" class="form-control floor form-element">
                            <option
                                    ng-selected="vm.calcSettings.package[key] == package.package_id"
                                    ng-repeat="package in vm.packages" value="{{package.package_id}}">{{package.name}}
                            </option>

                        </select>
                    </TD>
                </TR>

                </tbody>
            </TABLE>
        </div>

        <!-- MOVERS COUNT SETTING-->
        <div class="option table-responsive">
            <h1>Room Size</h1>

            <TABLE class="calculator">
                <tbody>
                <TR>
                    <TD class="sizeset"><h2>Kitchen</h2></TD>
                    <TD class="sizeset">
                        <input class="form-element form-control" ng-model-options="{ updateOn: 'blur' }"
                               ng-change="vm.saveSettings()" ng-model="vm.calcSettings.room_kitchen"> cubic feet
                    </TD>

                </TR>
                <TR ng-repeat="key in vm.objectKeys(vm.rooms)">
                    <TD class="sizeset"><h2>{{vm.rooms[key]}}</h2></TD>
                    <TD class="sizeset">
                        <input class="form-element form-control" ng-model-options="{ updateOn: 'blur' }"
                               ng-change="vm.saveSettings()" ng-model="vm.calcSettings.room_size[key]"> cubic feet
                    </TD>
                </TR>
                </tbody>
            </TABLE>
        </div>
    </div>
</section>


<div class="panel col-md-3" er-hide-if-small-screen>
    <div class="panel-body minimal">
        <div class="panel manage-listing-help-panel no-box-shadow" style="top: 144px;">
            <div class="help-header-icon-container text-center va-container-h">
                <img src="https://a2.muscache.com/airbnb/static/manage_listing/lightbulb2x-8bca59ee335a4dbf1ae2be406fd0693f.png"
                     width="50" height="50" class="col-center">
            </div>
            <div class="panel-body">
                <h4 class="text-center">Move Size Settings </h4>
                <div class="location-help-panel-illustration"></div>
                <p>Use default or setup yours moving size</p>
            </div>
        </div>
    </div>
</div>         
