.states-modal(ng-show="modalOpened" ng-class="{'states-modal_open': modalOpened == true, 'states-modal_close': modalOpened == false}")

	.states-modal__toolbar(ng-class="{'states-modal__toolbar_open': modalOpened == true}")
		.states-modal__toolbar__button
			md-button.md-icon-button(ng-disabled='false' ng-click="closeModal()")
				ng-md-icon(icon="done" style="fill: #787179" size="24")
		
	.states-modal__item(ng-class="{'states-modal__item_open': modalOpened == true}")
		.states-modal__item_left
			md-input-container.md-block.states-modal__search(md-no-float)
				label(style="display:none")
				input(placeholder="Search state" ng-model="stateSearchInput" ng-click="stateSearchInput = ''; searchStates()" ng-change="searchStates()")
			md-content.states-modal__content.states-modal__content_margin
				.states-modal__content_item(ng-repeat='item in statesAfterSearch' ng-click="addState(item)")
					| {{item}}
		.states-modal__item_center
			ng-md-icon(icon="swap_horiz" style="fill: black" size="35")
		
		.states-modal__item_right
			md-content.states-modal__content
				.states-modal__content_item(ng-repeat='item in chosenStates' ng-click="deleteState(item)")
					| {{item}}