.states-modal
  margin-left 14px
  margin-top 14px
  position absolute
  z-index 20
  max-height: 0
  min-width 500px
  background #fff
  box-shadow 0px 0px 1px 1px rgba(192, 192, 192, 0.6)
  display inline-flex
  flex-direction column
  flex-wrap nowrap
  opacity 0
  transition opacity 0.3s
  &_open
    opacity 1
    animation: open 0.3s forwards ease-out
  &_close
    opacity 0
    animation: close 0.3s forwards ease-in
  &__toolbar
    opacity 0
    transition opacity 0.3s
    display inline-flex
    flex-direction row
    flex-wrap nowrap
    justify-content flex-end
    width 100%
    background #E0E0E0
    border-bottom 1px solid #ddd
    height 48px
    background #E0E0E0
    &_open
      opacity 1
    &__button
      margin-top 4px
      justify-content flex-end
      display flex
      width 100%
      
  &__item
    opacity 0
    transition opacity 0.1s
    display inline-flex
    flex-direction row
    justify-content space-between
    max-height 256px
    width 100%
    &_open
      opacity 1
    &_left
      position relative
      width 40%
      display inline-flex
      flex-direction column
      justify-content flex-start
      font-size: 14px
      background #FFFFFF
      border-right 1px solid #ddd
    &_center
      width 10%
      display inline-flex
      flex-direction column
      text-align center
      margin-top 100px
      
    &_right
      background #FFFFFF
      width 40%
      display inline-flex
      flex-direction row
      font-size: 14px
      border-left 1px solid #ddd
  &__content
    z-index 30
    min-height 210px
    width 100%
    border-bottom 1px solid #ddd
    &_margin
      margin-top 40px
      border-top 1px solid #ddd
    &_item
      padding 8px
      width 100%
      cursor pointer
      &:hover
        background #EEEEEE
  &__search
    z-index 25
    position absolute
    margin-top 5px
@keyframes open
  from
    max-height: 0

  to
    max-height: 300px

@keyframes close
  from
    max-height: 300px
  to
    max-height: 0