.sms-sent-table
	color black
	display flex
	flex-direction column
	.dataTables_filter
		input
			height 10px
			font-size 16px
			padding 10px
	&__sms-body
		width 500px
		max-width 500px
		overflow hidden
		overflow-wrap break-word
	&__title
		font-size 16px
		font-weight 700
		text-align center
	&__select_date
		margin 15px
		input
			border 0
			background-image linear-gradient(#009688,#009688),linear-gradient(#d2d2d2,#d2d2d2)
			background-size 0 2px,100% 1px
			background-repeat no-repeat
			background-position bottom,50% calc(100% - 1px)
			background-color transparent
			transition background 0s ease-out
			font-family Roboto,sans-serif
			font-size 16px
			padding 0
			line-height 11px
			display inline-block
			cursor pointer
			outline 0
			width 150px
			color #555
			height 30px
			text-align center
		&-block
			display flex
			justify-content center
		&-title
			font-weight 700
			font-size 12px
		&-divider
			font-weight 600
			margin auto 0
	[busy-overlay]
		position absolute
		width 100%
		height 100%
		left 0
		top 0
		.busyoverlay-container
			width 100%
			height 100%
	table
		font-size 16px
		@media only screen and (max-width: 1366px)
			font-size 12px
