<div class="sms-sent-table">
	<div ng-if="busy" busy-overlay="busy"></div>
	<div class="sms-sent-table__title">
		SMS History
	</div>
	<div class="sms-sent-table__select_date-block">
		<div class="sms-sent-table__select_date">
			<div class="sms-sent-table__select_date-title">
				Date from:
			</div>
			<er-datepicker-input er-value="selectedDateFrom" allow-past="allow" er-change="onChangeDateFrom(newVal, oldVal)">
			</er-datepicker-input>
		</div>
		<div class="sms-sent-table__select_date-divider fa fa-2x">
			-
		</div>
		<div class="sms-sent-table__select_date">
			<div class="sms-sent-table__select_date-title">
				Date To:
			</div>
			<er-datepicker-input er-value="selectedDateTo" allow-past="allow" er-change="onChangeDateTo(newVal, oldVal)">
			</er-datepicker-input>
		</div>
	</div>
	<div ng-if="!busy">
		<table class="table table-striped" datatable="ng" dt-options="dtOptions">
			<thead>
			<tr>
				<th>Date</th>
				<th>Direction</th>
				<th>From</th>
				<th>To</th>
				<th>Status</th>
				<th>Body</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="smsInfo in smsList">
				<td>{{smsInfo.dateSent | smsDateSent}}</td>
				<td>{{smsInfo.direction | smsDirection}}</td>
				<td>{{smsInfo.from.endpoint | nationalPhoneFormatter}}</td>
				<td>{{smsInfo.to | nationalPhoneFormatter}}</td>
				<td>{{smsInfo.status}}</td>
				<td class="sms-sent-table__sms-body">{{smsInfo.body}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
