<style>
    .tt-dropdown-menu {
        position: absolute;
        z-index: 1000;
        float: left;
        left: 20px;
        width: 350px;
        max-height: 500px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        min-width: 300px;
        padding: 0.75em;
        margin: 0;
        border: 0.1em solid #eeeeee;
        border-top: 0;
        padding: 0;
        min-width: 100px;
    }
    .tt-dropdown-menu h3{
        padding: 15px 10px;
        font-size: 14px;
        color: #900
    }
    .tt-dropdown-menu ul {
        margin: 0px;
        padding: 0px;
    }
    .tt-dropdown-menu li {
        padding: 10px;
        font-size: 13px;
        cursor: pointer;
        position: relative;
    }
    .tt-dropdown-menu li div {
        margin-top: 5px;
    }
    .tt-dropdown-menu li:hover {
        background: #556b8d;
        color: white;
    }
    .tt-dropdown-menu .super-class {
        font-weight: bold;
        text-decoration: underline;
    }
    .tt-dropdown-menu .requestsid{
        position: absolute;
        right: 5px;
        top: 10px;
    }
    .mCSB_inside > .mCSB_container {
        margin-right: 15px;
    }




</style>
<div class="search_box">
    <div ng-show="busy">
        <div class="busyoverlay busyoverlay-search">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
<input type="text"
       class="search" ng-model="search" id="gSearch" placeholder="Search anything..." ng-focus="searchFocus()">
<button type="submit" class="btn btn-sm btn-search">
    <svg ng-if="showPreloader" class="spinner" width="12px" height="12px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    <i ng-if="showSearchIcon && !search.length" class="fa fa-search"></i>
    <i ng-if="showSearchIcon && search.length" class="fa fa-times" ng-click="removeSearchLine()"></i>
</button>
<div class="tt-dropdown-menu js-custom-scrollbar" ng-show="showSearch"
      style="position: absolute;top: 45px;left: 20px; z-index: 100;right: auto;
      overflow-y: auto;">
    <div class="tt-dataset-0" ng-show="searchRequests.length == 0">
        <h3>No results</h3>
    </div>
    <div class="tt-dataset-0" ng-show="searchRequests.length">
        <h3>Move Requests</h3>
        <ul class="search_list">
            <li ng-repeat="request in searchRequests" ng-click="requestEditModal(request)">
                <div class="requestsid" ng-bind-html="request.nid | searchfilter:search"></div>
                <div ng-bind-html="request.name | searchfilter:search"></div>
                <div ng-bind-html="request.email | searchfilter:search"></div>
                <div ng-bind-html="request.phone | searchfilter:search | nationalPhoneFormatter"></div>
                <div ng-bind-html="request.moving_from | searchfilter:search"></div>
                <div ng-show="request.moving_to | ifSubstring:search" ng-bind-html="request.moving_to | searchfilter:search"></div>
            </li>
        </ul>

    </div>
    <div class="tt-dataset-1" ng-show="searchStorageRequests.length">
        <h3>Storage Requests</h3>
        <ul class="search_list">
            <li ng-repeat="request in searchStorageRequests" ng-click="requestOpenModalStorage(request)">
                <div class="requestsid" ng-bind-html="request.entity_id | searchfilter:search"></div>
                <div ng-bind-html="request.name | searchfilter:search"></div>
                <div ng-bind-html="request.email | searchfilter:search"></div>
                <div ng-bind-html="request.phone1 | searchfilter:search"></div>
                <div ng-bind-html="request.address | searchfilter:search"></div>
            </li>
        </ul>
    </div>
    <div class="tt-dataset-2" ng-show="searchReceiptsRequests.length">
        <h3>Receipts</h3>
        <ul class="search_list">
            <li ng-repeat="request in searchReceiptsRequests" ng-click="requestOpenReceiptModal(request)">
                <div class="requestsid" ng-bind-html="request.entity_id | searchfilter:search"></div>
                <div ng-bind-html="request.name | searchfilter:search"></div>
                <div ng-bind-html="request.email | searchfilter:search"></div>
                <div ng-bind-html="request.phone | searchfilter:search"></div>
                <div ng-bind-html="request.description | searchfilter:search"></div>
                <div>{{request.card_number}} {{request.card_type}}</div>
            </li>
        </ul>
    </div>
</div>
</div>
