button.btn-datepicker-popup
	position absolute
	right -10px
	border-color #e8ebed
	border-width 2px
	border-style solid
	border-left-style none
	padding 6px 20px
	top 0
.date.disabled.form-control
	opacity 1
.unix-date-picker-reminder
	.date-wraper
		.active
			.text-info
				color white
