<div class="date-picker unix-date-picker-reminder">
    <span class="date-wraper">
        <input class="form-control date disabled" type="text" uib-datepicker-popup="MMMM dd, yyyy" ng-model="$ctrl.ModelDate"
			   placeholder="{{::$ctrl.ModelDate | date:'MMMM dd, yyyy'}}" is-open="$ctrl.isPickerOpened"
			   min-date="$ctrl.minDate" required/>

		<button ng-click="$ctrl.switchDatepicker();"
				type="button"
				class="btn btn-default btn-datepicker-popup">
			<i class="glyphicon glyphicon-calendar"></i>
		</button>
    </span>
	<input class="form-control date" type="time" ng-model="$ctrl.ModelDate" ng-model-options="$ctrl.timeOptions" placeholder="{{::$ctrl.ModelDate | date: 'HH:mm a'}}" step="{{::$ctrl.RoundTo}}" required/>
</div>
