<section id="schedule" class="animated fadeInRight" ng-controller="Schedule as vm">
    <div class="pageheader">
        <div class="schedule-legend-block">
            <div ng-repeat="legend in vm.legend" style="display: inline-table; margin-right: 10px;">
                <div class="schedule-legend" ng-style="legend.style"></div>
                <div style="display: inline-block;font-size: 12px">- {{legend.name}}</div>
            </div>
        </div>

        <h1 class="text-center">
            <i class="fa fa-angle-left" ng-click="vm.prevMonth()" decrement="vm.calendarView"></i>
            <span class="current-date">{{vm.calendarDay | date:'MMMM y'}}</span>
            <i class="fa fa-angle-right" ng-click="vm.nextMonth()"></i>
        </h1>
    </div>

    <div class="busyoverlay" ng-show="vm.busy">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>

    <div cc-schedule
         requests="vm.requests"
         view="vm.calendarView"
         current-day="vm.calendarDay"
         cell-modifier="vm.modifyCell(calendarCell)">
    </div>
</section>
