.agent-folio-details__toolbar
	md-toolbar.md-hue-2
		.md-toolbar-tools
			h2.agent-folio-details__toolbar__label(flex='', md-truncate='') Carriers and Agents
			.agent-folio-details__toolbar__item_left
				md-button(aria-label='Create' ng-click="addCarrier()" ng-disabled='false') Add Agent
				md-switch(md-no-ink aria-label="Switch No Ink" ng-model="params.active" ng-false-value="0"  ng-true-value="1" ng-change="getCarriers()") Active
.trip-filters
	.trip-filters__block
		md-input-container.trip-filters__block__options
			label Search by Name:
			input(ng-model='searchTerm' ng-change="searchByName(searchTerm)")

.carrier-list-item
	md-progress-linear(md-mode="indeterminate" ng-if="busy")
	.carrier-list-item__head
		.carrier-list-item__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Name
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getCarriers()" order="'name'")
		.carrier-list-item__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Contact Person
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getCarriers()" order="'contact_person'")
		.carrier-list-item__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| Contact Person Phone
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getCarriers()" order="'contact_person_phone'")
		.carrier-list-item__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| City
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getCarriers()" order="'city'")

		.carrier-list-item__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| State
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getCarriers()" order="'state'")
		.carrier-list-item__head__item
			| Phones
		.carrier-list-item__head__item
			.sit-list__head__item__sort-item
				.sit-list__head__item__sort-item_left
					| E-mail
				.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getCarriers()" order="'email'")
	.carrier-list-item__body(ng-repeat="item in carriers")
		.carrier-list-item__body__item(ng-click='editCarrier(item.ld_carrier_id)')
			| {{ item.name }}
		.carrier-list-item__body__item(ng-click='editCarrier(item.ld_carrier_id)')
			| {{ item.contact_person }}
		.carrier-list-item__body__item(ng-click='editCarrier(item.ld_carrier_id)')
			| {{ item.contact_person_phone | nationalPhoneFormatter}}
		.carrier-list-item__body__item(ng-click='editCarrier(item.ld_carrier_id)')
			| {{ item.city }}
		.carrier-list-item__body__item(ng-click='editCarrier(item.ld_carrier_id)')
			| {{ item.state }}
		.carrier-list-item__body__item(ng-click='editCarrier(item.ld_carrier_id)')
			| {{ item.phones.join() }}
		.carrier-list-item__body__item(ng-click='editCarrier(item.ld_carrier_id)')
			| {{ item.email }}


	div(ng-if="meta.pageCount && meta.pageCount > 1" elromco-paginator meta="meta" set-page="setPage")
