.carrier-list-item
    border: none;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    font-size 15px
    font-family Roboto,Helvetica Neue,sans-serif
    background #fff
    &__head
        display inline-flex
        flex-direction row
        flex-wrap nowrap
        justify-content flex-start
        width 100%
        &__item
            display flex
            flex-grow 1
            padding 8px
            height 56px
            justify-content center
            width 100px
            flex-direction column
            font-size 12px
            font-weight 500
            color #757575
            border-bottom 1px solid #ddd
            &:first-child
                padding-left 24px
            &:last-child
                padding-right 24px
    &__body
        display inline-flex
        flex-direction row
        flex-wrap nowrap
        justify-content flex-start
        width 100%
        cursor pointer
        font-family Roboto,Helvetica Neue,sans-serif

        &_selected
            background #F5F5F5

        &:hover
            background #EEEEEE
        &__item
            display flex
            flex-grow 1
            padding 8px
            width 100px
            height 48px
            justify-content center
            flex-direction column
            color #212121
            font-size 13px
            border-bottom 1px solid #ddd

            &_checkbox
                padding-top 18px
            &:first-child
                padding-left 24px
            &:last-child
                padding-right 24px
                border-right 0


.add-agent
    background: #fbb130
    font-weight: bold
    border-radius: 3px
    padding: 3px 10px
    margin-bottom: 5px
    border: none
    font-size: 15px
    text-align: center
    vertical-align: middle
    cursor: pointer
    color: #ffffff
    outline: none

.add-trip
    color: #fff
    background-color: #556B8D
    font-size: 15px
    border-radius: 3px
    padding: 8px 14px
    margin-bottom: 5px
    border: none
    outline: none
    cursor: pointer
    text-align: center
    vertical-align: middle

.carrier-create-modal-form
    position:absolute
    padding-right: 50px
    padding-left: 50px
    height: 1000px
    width: 100%
    left: 0
    right: 0
    top: 124px
    margin: auto
    background-color: white

    &__phone-button
        background-color: inherit
        border: none
        font-size: large
        color: green
        cursor: pointer
        outline: none

    &__x-button
        position: absolute
        right: 0px
        cursor: pointer
        border: none
        background-color: inherit
        font-size: 21px
        font-weight: 700
        line-height: 1
        color: lightgray
        text-shadow: 0 1px 0 #fff
        outline:    none

        &:hover
            color: #000

    &__heading
        padding-top: 50px
        border-bottom: 2px solid gray

    &__padding
        padding-bottom: 5px

    &__label_red
        color:#a94442

    &__validation
        float: left
        font-size: 14px
        color: #a94442

    &_input-form
        border-top: none
        border-right: none
        border-left: none
        border-bottom: 1px solid #f0f0f0
        outline: none
        width: 100%

    &__data
        padding-top: 50px
        padding-right: 50px
        width: 50%
        float: left

    &__pad
        padding-top: 50px
        width: 50%

    &__right
        float: right

    &_cancel-button
        left: 50px
        position: absolute
        bottom: 30px
        color: #ffffff
        background-color: #9ea7ac
        border-color: #9ea7ac
        border-radius: 3px
        padding: 8px 14px
        margin-bottom: 5px
        border: none
        font-size: 15px
        font-weight: normal
        cursor: pointer
        outline: none

        &:hover
            background-color: #778899

    &_save-button
        right: 50px
        position: absolute
        bottom: 30px
        color: #ffffff
        background-color: #2ccbc3
        border-color: #2ccbc3
        border-radius: 3px
        padding: 8px 14px
        margin-bottom: 5px
        border: none
        font-size: 15px
        font-weight: normal
        cursor: pointer
        outline: none

        &:hover
            background-color: #00FFFF

.md-block
    margin: 1px 0;

.add-agent
    background: #fbb130
    font-weight: bold
    border-radius: 3px
    padding: 3px 10px
    margin-bottom: 5px
    border: none
    font-size: 15px
    text-align: center
    vertical-align: middle
    cursor: pointer
    color: #ffffff
    outline: none


