<tr>
    <th colspan="2" ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">
        <p class="blue">packing and unpacking</p>
    </th>
    <th ng-if="reqType  && !packingSettings.labor" colspan="3"><p class="blue">packing and unpacking</p></th>
    <th ng-if="reqType  && packingSettings.labor" colspan="2"><p class="blue">packing and unpacking</p></th>
    <th>No</th>
    <th ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">Rate</th>
    <th ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">Long distance rate</th>
    <th ng-if="reqType && packingSettings.labor">Labor Rate</th>
    <th>amount</th>
</tr>
<tr ng-repeat="p in extra.selectedPackings track by $index " ng-if="p.name != NAME_FULL_PACKING && p.name != NAME_PARTIAL_PACKING">
    <td ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'" colspan="2">
        <input class="large" type="text" ng-model="p.name" ng-value="p.name" data-ng-disabled="data.isSubmitted" ng-change="editPackingLog('Name', p, p.name)" ng-model-options="{ debounce: 500 }">
    </td>
    <td ng-if="reqType && !packingSettings.labor" colspan="3">
        <input class="large" type="text" ng-model="p.name" ng-value="p.name" data-ng-disabled="data.isSubmitted" ng-change="editPackingLog('Name', p, p.name)" ng-model-options="{ debounce: 500 }">
    </td>s
    <td ng-if="reqType && packingSettings.labor" colspan="2">
        <input class="large" type="text" ng-model="p.name" ng-value="p.name" data-ng-disabled="data.isSubmitted" ng-change="editPackingLog('Name', p, p.name)" ng-model-options="{ debounce: 500 }">
    </td>
    <td ng-init="p.quantity = p.quantity.toString() || '0'">
        <select ng-if="p.name != NAME_FULL_PACKING && p.name != NAME_PARTIAL_PACKING" name="quantity" id="quantity" ng-model="p.quantity" ng-value="p.quantity" ng-change="editPackingLog('Quantity', p, p.quantity);savePackings(p);" data-ng-disabled="data.isSubmitted">
            <option ng-repeat="n in dummyArray track by $index" ng-selected="p.quantity == $index">{{$index}}</option>
        </select>
        <input class="small" ng-if="p.name == NAME_FULL_PACKING || p.name == NAME_PARTIAL_PACKING" ng-value="p.quantity" ng-model="p.quantity" ng-change="editPackingLog('Quantity', p, p.quantity);savePackings(p);" data-ng-disabled="data.isSubmitted">
        <span ng-show="p.name == NAME_FULL_PACKING || p.name == NAME_PARTIAL_PACKING">c.f.</span>
    </td>
    <td ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">$
        <input class="small" type="zz" string-to-number er-only-digit ng-model="p.rate" ng-value="p.rate" ng-change="editPackingLog('Rate', p, '$'+p.rate);savePackings(p);" data-ng-disabled="data.isSubmitted" ng-model-options="{ debounce: 500 }">
    </td>
    <td ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">$
        <input class="small" type="number" string-to-number er-only-digit ng-model="p.LDRate" ng-value="p.LDRate" ng-change="editPackingLog('Long distance rate', p, '$'+p.LDRate);savePackings(p);" ng-model-options="{ debounce: 500 }" data-ng-disabled="data.isSubmitted">
    </td>
    <td ng-if="reqType && packingSettings.labor">
        $<input class="small" type="number" string-to-number er-only-digit ng-model="p.laborRate" ng-value="p.laborRate" ng-change="editPackingLog('Labor Rate', p, '$'+p.laborRate);savePackings(p);" ng-model-options="{ debounce: 500 }" data-ng-disabled="data.isSubmitted">
    </td>
    <td ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">
        $ {{ calcAmount(p.rate,p.quantity ) | number:2}}
        <p ng-if="showAddPackingBtn() && !p.showInContract" class="remove" ng-click="removeCharge($index)">
            <a href="javascript:;" class="btn btn-close">&times;
            </a>
        </p>
    </td>
    <td ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">
        <span ng-if="packingSettings.labor">$ {{ calcAmount(p.LDRate, p.quantity, p.laborRate) | number:2}}</span>
        <span ng-if="!packingSettings.labor">$ {{ calcAmount(p.LDRate, p.quantity) | number:2}}</span>
        <p ng-if="showAddPackingBtn() && !p.showInContract" class="remove" ng-click="removeCharge($index)">
            <a href="javascript:;" class="btn btn-close">&times;
            </a>
        </p>
    </td>
</tr>
<tr ng-if="showAddPackingBtn()">
    <td colspan="6" ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">
        <p class="bold">
            <a href="javascript:;" class="right" ng-click="showPackingServicesRef.show = !showPackingServicesRef.show">{{showPackingServicesRef.show ? "-" : "+"}} add packing </a>
        </p>
        <div class="services-dropdown" ng-show="showPackingServicesRef.show">
            <ul>
                <li ng-click="addPacking($index, p)" ng-repeat="p in packing track by $index">{{ p.name }}
                </li>
                <li class="bold" ng-click="addPacking()"> + Add a packing manually
                </li>
            </ul>
        </div>
    </td>
    <td colspan="5" ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">
        <p class="bold">
            <a href="javascript:;" class="right" ng-click="showPackingServicesRef.show = !showPackingServicesRef.show">{{showPackingServicesRef.show ? "-" : "+"}} add packing </a>
        </p>
        <div class="services-dropdown" ng-show="showPackingServicesRef.show">
            <ul>
                <li ng-click="addPacking($index,p)" ng-repeat="p in packing track by $index">{{ p.name }}
                </li>
                <li class="bold" ng-click="addPacking()"> + Add a packing manually
                </li>
            </ul>
        </div>
    </td>
</tr>
<tr>
    <td colspan="5" ng-if="request.service_type.raw == '7' || request.service_type.raw == '5'">
        <p class="blue right">total packing charges </p>
    </td>
    <td colspan="4" ng-if="request.service_type.raw != '7' && request.service_type.raw != '5'">
        <p class="blue right">total packing charges </p>
    </td>
    <td>$ {{ sumChanged() }}</td>
</tr>

