.conflict-crew-modal
	&__header
		padding .5em
		background-color #ebebeb
		display flex
		justify-content space-between
		align-items center
		.fa-times
			cursor pointer
	&__footer
		padding .5em
		background-color #ebebeb
		display flex
		justify-content flex-end
	&__body
		padding 1em .5em
	&__ok
		background-color #2ecc71
		color #fff
		&:hover
			background-color #2ecc71
			color #fff
		&:active
			background-color #2ecc71
			color #fff
	&__explanation
		display block
		padding-bottom .5em
		font-weight 600
		text-align center
		font-size .95em
