<div class="conflict-crew-modal">
    <div class="conflict-crew-modal__header">
        <h3 class="conflict-crew-modal__title">The crew has more helpers than needed. Please choose the helpers to be assigned to the job.</h3>
        <i class="fa fa-times"
           ng-click="closeConflictModal()"></i>
    </div>
    <div class="conflict-crew-modal__body">
        <h3 class="conflict-crew-modal__explanation">The maximum number of helpers for this job is {{maxLength | erMultipleUser}}</h3>
        <oi-select oi-options="helper.uid as helper.name for helper in crewHelpers"
                   placeholder="Add Helpers"
                   ng-model="resolvedConflict"
                   multiple
                   multiple-limit="maxLength"></oi-select>
    </div>
    <div class="conflict-crew-modal__footer">
        <!--<button class="btn conflict-crew-modal__close"-->
                <!--ng-click="closeConflictModal()">Close</button>-->
        <button class="btn conflict-crew-modal__ok"
                ng-disabled="!resolved"
                ng-click="resolveAndClose()">Resolve And Close</button>
    </div>
</div>
