.invoice-form
  &__input
    &_nomargin
      margin 0
  &__title
    color: #eee
  &__name-label
    margin-right: 20px
    width: 100px
  &__dialog-container
    z-index: 1060
  &__input-container
    margin: 0
    font-size: 12px
  &__dialog
    width: 800px
    padding: 0
  &__table-input
    width: 100%
    height: 100%
    border: none
  &__dialog-content
    padding: 0
  &__description
    margin-top: 30px
    &_item-left
      width: 50%
      float: left
    &_item-right
      width: 50%
      float: right

.invoice-send-info
  display block
  width 100%
  min-height 300px
  &__left-bar
    float left
    &__city
      display inline-block
      width 160px
      margin 0
    &__state
      display inline-block
      width 50px
      margin 0
    &__zip
      display inline-block
      width 90px
      margin 0
    &__input
      display block
      margin 0
      width 300px
  &__right-bar
    float right
    &__city
      display inline-block
      width 160px
      margin 0
    &__state
      display inline-block
      width 50px
      margin 0
    &__zip
      display inline-block
      width 90px
      margin 0
    &__input
      display block
      margin 0
      width 300px
  &__additional
    min-height 100px
    width 100%
    padding-top 220px
    h5
      margin-bottom 20px
    &__description
      display block
      margin 0
      width 300px
      float right
    &__notes
      display block
      margin 0
      width 300px
      float left
.invoice-table
  width 100%
  &__table
    width 100%
    &__head
      background #0b83dd
      color white
      display inline-flex
      flex-direction row
      flex-wrap nowrap
      justify-content flex-start
      width 100%
      &__item
        display inline-flex
        flex-grow 1
        padding 8px
        min-height 40px
        justify-content center
        text-align center
        flex 1
        flex-direction column
        font-size 12px
        font-weight 500
        color #ffffff
        &_small
          flex 0.5
          flex-grow 0.5
        &_big
          flex 4
          flex-grow 4
    &__body
      display inline-flex
      flex-direction row
      flex-wrap nowrap
      justify-content flex-start
      width 100%
      &__item
        display flex
        flex-grow 1
        padding 8px
        flex 1
        min-height 52px
        justify-content center
        flex-direction column
        text-align center
        color #212121
        font-size 13px
        &_small
          flex 0.5
          flex-grow 0.5
        &_big
          flex 4
          flex-grow 4
          
    &__foot
      display inline-flex
      flex-direction row
      flex-wrap nowrap
      justify-content flex-start
      width 100%
      &__item
        display flex
        flex-grow 1
        padding 8px
        flex 1
        min-height 48px
        justify-content center
        text-align center
        flex-direction column
        color #212121
        font-size 13px
        &_small
          flex 0.5
          flex-grow 0.5
        &_big
          flex 4
          flex-grow 4
        &__total
          font-size 14px
          font-weight 500
          text-align center
