.invoice-form__title {
  color: #eee;
}
.invoice-form__name-label {
  margin-right: 20px;
  width: 100px;
}
.invoice-form__dialog-container {
  z-index: 1060;
}
.invoice-form__input-container {
  margin: 0;
  font-size: 12px;
}
.invoice-form__dialog {
  width: 800px;
  padding: 0;
}
.invoice-form__table-input {
  width: 100%;
  height: 100%;
  border: none;
}
.invoice-form__dialog-content {
  padding: 0;
}
.invoice-form__description {
  margin-top: 30px;
}
.invoice-form__description_item-left {
  width: 50%;
  float: left;
}
.invoice-form__description_item-right {
  width: 50%;
  float: right;
}
