include ../../../../../../../node_modules/bemto.pug/bemto

+b.invoice-form(style="visibility: hidden")
  +e.dialog-container.md-dialog-container#invoice
    +e('md-dialog').dialog(layout-padding)
      md-toolbar
        .md-toolbar-tools
          +e('h2').title
            | Invoice
          span(flex)
          md-button.md-icon-button(ng-click="cancel()")
            ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
      md-dialog-content
        .md-dialog-content(ng-show="showLoader")
          div(layout="row" layout-sm="column" layout-align="space-around")
            md-progress-circular(ng-disabled="!showLoader" class="md-hue-2" md-diameter="40")
        .md-dialog-content(ng-show="!showLoader")
          .invoice-send-info
            .invoice-send-info__left-bar
              +e('h5') Company Name
              +e('md-input-container').input-container.invoice-send-info__left-bar__input
                input(ng-model='invoice.client_name' disabled)
              +e('md-input-container').input-container.invoice-send-info__left-bar__input
                input(ng-model='invoice.email')
              +e('md-input-container').input-container.invoice-send-info__left-bar__input
                input(ng-model='invoice.phone' disabled)
            .invoice-send-info__right-bar
              +e('h5') Address
              +e('md-input-container').input-container.invoice-send-info__right-bar__input
                input(ng-model='invoice.field_moving_from.thoroughfare' disabled)
              +e('md-input-container').input-container.invoice-send-info__right-bar__city
                input(ng-model='invoice.field_moving_from.locality' disabled)
              +e('md-input-container').input-container.invoice-send-info__right-bar__state
                input(ng-model='invoice.field_moving_from.administrative_area' disabled)
              +e('md-input-container').input-container.invoice-send-info__right-bar__zip
                input(ng-model='invoice.field_moving_from.postal_code' disabled)
              +e('h5') Date of Issue
              +e('md-input-container')
                md-datepicker(ng-model='invoice.date')
            .invoice-send-info__additional
              +e('h5') Additional Information
              +e('md-input-container').input-container.invoice-send-info__additional__notes
                label Notes
                textarea(ng-model="invoice.notes" md-maxlength="100" maxlength="100" rows="1")
              +e('md-input-container').input-container.invoice-send-info__additional__description
                label Description
                textarea(ng-model="invoice.description" md-maxlength="300" maxlength="300" rows="1")
          .invoice-table
            .invoice-table__table
              .invoice-table__table__head
                .invoice-table__table__head__item.invoice-table__table__head__item_small Item

                .invoice-table__table__head__item.invoice-table__table__head__item_big Description

                .invoice-table__table__head__item Unit Cost

                .invoice-table__table__head__item.invoice-table__table__head__item_small Qty

                .invoice-table__table__head__item Line Total
              .invoice-table__table__body(ng-repeat='item in invoice.charges')

                  .invoice-table__table__body__item.invoice-table__table__body__item_small {{ item.name }}

                  .invoice-table__table__body__item.invoice-table__table__body__item_big
                    md-input-container(class="md-block")
                      textarea(ng-model="item.description")

                  .invoice-table__table__body__item {{ item.cost | currency}}

                  .invoice-table__table__body__item.invoice-table__table__body__item_small {{ item.qty }}

                  .invoice-table__table__body__item {{ item.cost * item.qty | currency}}
              .invoice-table__table__foot
                .invoice-table__table__foot__item.invoice-table__table__foot__item_small

                .invoice-table__table__foot__item.invoice-table__table__foot__item_big

                .invoice-table__table__foot__item

                .invoice-table__table__foot__item.invoice-table__table__foot__item_small

                .invoice-table__table__foot__item.invoice-table__table__foot__item__total Total: {{ invoiceTotal | currency}}
      md-dialog-actions(layout="row")
        md-button(ng-click="saveAsDraft()")
          | Save as Draft
        span(flex)
        md-button.md-raised.md-primary(ng-click="sendInvoice()")
          | Proceed to send invoice
