h2.trucksettings__header Branch Trucks
	common-branches-trucks-settings(allow-truck='allowBranchingTruck')
.panel(ng-class="{'disabled': !allowBranchingTruck}")
	.panel-body.minimal
		.container(ng-show="loader")
			.col-sm-2
			.col-sm-10
				span.fa-stack.fa-5x
					i.fa.fa-cog.fa-spin.fa-stack-1x.trucksettings__spin-icon(aria-hidden="true")
		.option.table-responsive(ng-hide="loader")
			new-branching-truck(trucks="trucks" loading="loader" available="available")
			table.table.table-inbox.table-hover
				tbody
					tr.option(ng-repeat="(tid, truck) in branchingTrucks" ng-class="{'active' : truckAvailability[tid]}")
						td.trucksettings__edit-truck-info(ng-click="editName(tid);")
							span.bold.truck_name(ng-click="edit[tid] = true;" ng-show="!edit[tid]" ng-bind="truck.name")
							div(ng-show="edit[tid]")
								input.truck_name.full.form-control(type="text" ng-model="truck.name")
								.mybtn.blue.small.left(ng-click="update(truck, tid); edit[tid] = false;") Update
								.cancel(ng-click="edit[tid] = false;") X
								.btn.red.pull-right.trucksettings__edit-truck-info__remove-truck(ng-click="deleteTruckModal(tid)") Remove Truck
						td
							.text.trucksettings__select-trucks-avilability(ng-click="selectTruck(tid)")
								i.fa.fa-calendar
								| Truck Availability
								i.fa.fa-angle-right