<div ng-show="busy">
    <div class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<div class="panel panel-default chat-widget message-wrapper messages-thread-block">
    <div class="panel-footer">
        <form class="ng-pristine ng-valid ">
            <div class="input-group messages-thread-block__form">
                <div text-angular
                     ng-model="message"
                     ta-toolbar="[['bold','italics', 'underline', 'strikeThrough'],
                                  ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'],
                                  ['fontColor', 'fontName', 'fontSize'],
                                  ['insertLink', 'insertImage'],
                                  ['undo', 'redo', 'clear', 'html']]">
                </div>
                <span class="input-group-btn messages-thread-block__button-group">
                    <button class="btn btn-primary btn-3d"
                            ng-class="{disabled: isEmptyString(message)}"
                            ng-click="addMessage()"
                            type="button">SEND</button>
                    <button class="btn btn-primary btn-3d" ng-show="isEnableSms"
                            ng-class="{disabled: isEmptyString(message)}"
                            ng-click="sendSMS()"
                            type="button">SEND SMS</button>
                 </span>
            </div>
        </form>
    </div>
    <!--<er-messages-thread></er-messages-thread>-->
    <div class="panel-body" ng-repeat="message in messages | reverse">
        <div ng-if="!message.admin" class="row wrapper animated fadeInRight">
            <div class="col-xs-2 col-sm-2 col-md-2 ">
                <span class="avatar">{{message.user_first_name}}</span>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                <sms-message-header></sms-message-header>
                <div ng-mouseover="readMessage(message); message.read = 1" class="post default"
                     ng-class="{'new' : !message.read}">
                    <span class="arrow left"></span>
                    <p ng-bind-html="message.comment_body"></p>
                </div>
                <span class="ago pull-right">{{message.created | momentDate:'MMMM DD, YYYY, h:mm A'}}</span>
                <span ng-show="!message.read" class="message-label label pull-right"><span class="status_12"> new</span></span>
            </div>
        </div>
        <div ng-if="message.admin" class="row wrapper animated fadeInLeft">
            <div class="col-xs-10 col-sm-10 col-md-10">
                <sms-message-header></sms-message-header>
                <div class="post primary" style="position: relative">
                    <span class="arrow right"></span>
                    <p ng-bind-html="message.comment_body"></p>
                    <i ng-if="!message.sms" class="icon-pencil"
                       style="position: absolute;right: 10px;top: 5px;font-size: 12px;cursor: pointer;"
                       ng-click="openEditCommentModal(message,nid)"></i>
                </div>
                <span class="ago pull-right">{{message.created | momentDate:'MMMM DD, YYYY, h:mm A'}}</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <span class="avatar">{{message.user_first_name}}</span>
            </div>
        </div>
    </div>
    <div ng-show="empty" class="emptybox">
        <div>No Messages</div>
        <i class="fa fa-comments-o"></i>
    </div>
</div>
