<uib-tabset active="0" active="$ctrl.active" justified="true">
    <uib-tab heading="Upcoming" index="0">
        <reminder-calendar-day id="day-{{day.number}}" ng-repeat="day in $ctrl.month | upcomingInDay: true" day="day">
            <reminder-min ng-repeat="reminder in day.reminders | upcoming: true | orderBy: '-remindTime' track by $index"
                reminder="reminder" reminder-box-invoker="reminder">
            </reminder-min>
        </reminder-calendar-day>
    </uib-tab>
    <uib-tab heading="Past" index="1">
        <reminder-calendar-day id="day-{{day.number}}" ng-repeat="day in $ctrl.month | upcomingInDay | orderBy: '-number'" day="day">
            <reminder-min ng-repeat="reminder in day.reminders | upcoming | orderBy: '-remindTime' track by $index"
                reminder="reminder" reminder-box-invoker="reminder">
            </reminder-min>
        </reminder-calendar-day>
    </uib-tab>
</uib-tabset>
<div class="no-data" ng-if="$ctrl.month.length == 0">
    <h3>There are no reminders in this month</h3>
</div>
