.truck__item(ng-click="openModal(item, truck, $event)" ng-mouseenter="showItem(item, $event)" ng-mouseleave="hideItem(item)" ng-style="{'width': item.width + 'px', 'margin-left': item.margin + 'px'}" ng-class="{ 'request-status__status_{{item.full_info.status.raw}}' : item.full_info.service_type.raw != 5, 'request-status__service_{{item.full_info.service_type.raw}}' :true, 'request-status__personally' : (item.entity_type == 8 && item.entity_id != tripId), 'request-status__current' : (item.entity_type == 8 && item.entity_id == tripId), 'truck__item__info_open': item.resizeble, 'truck__item__info_close': !item.resizeble, 'request-status__flatrate': item.full_info.service_type.raw == 5}" )
	.truck__item__info(ng-style="{'margin-left': item.margin < 0 ? -item.margin + 20 + 'px': '0px'}" ng-class="{'show-truck-info': item.width > 70 && item.margin > 0 || item.margin < 0 && (item.margin + item.width) > 70 || item.resizeble}")

		.truck__item__info__entity(ng-class="{'truck__item__info__entity_open': item.width > 50 && item.margin > 0 ||  item.margin < 0 && (item.margin + item.width) > 50 || item.resizeble}" ng-if="item.entity_type != 8") # {{item.entity_id}}
		.truck__item__info__entity-ld(ng-class="{'truck__item__info__entity-ld_open': item.width > 70 && item.margin > 0 ||  item.margin < 0 && (item.margin + item.width) > 70 || item.resizeble}" ng-if="item.entity_type == 8") Trip # {{item.entity_id}}

		.truck__item__info__customer(ng-class="{'truck__item__info__customer_open': item.width > 190 && item.margin > 0 || item.margin < 0 && (item.margin + item.width) > 190 || item.resizeble}" )
			span(ng-if="item.entity_type != 8")  {{item.full_info.name}}
			span(ng-if="item.entity_type == 8")  Forman/Helper

		.truck__item__info__range(ng-class="{'truck__item__info__range_open': item.width > 350 && item.margin > 0 || item.margin < 0 && (item.margin + item.width) > 350 || item.resizeble}")
			ng-md-icon.truck__item__info__icon(icon="query_builder" style="fill: #757575" size="14px"  ng-if="item.entity_type != 8")
			span(ng-if="item.entity_type != 8")  {{item.start_time_1}} - {{item.start_time_2}}

			ng-md-icon.truck__item__info__icon(icon="today" style="fill: #757575" size="14px" ng-if="item.entity_type == 8")
			span(ng-if="item.entity_type == 8")  {{(item.from_date - offset) * 1000  | date}} - {{(item.to_date - offset) * 1000 | date}}
