.sms-payment-history
	&__title
		font-size 16px
		font-weight 700
		text-align center
	&__total
		padding 20px 0
		display flex
		&-title
			padding-right 15px
			font-weight 700
	.table
		font-size 16px
		@media only screen and (max-width: 1366px)
			font-size 12px
