<div class="sms-payment-history">
	<div class="sms-payment-history__title">
		SMS Payment History
	</div>
	<div class="sms-payment-history__total">
		<div class="sms-payment-history__total-title">Total:</div>
		${{amount | number: 2}}
	</div>
	<div>
		<table class="table table-striped" datatable="ng" dt-options="dtOptions">
			<thead>
			<tr>
				<th>Date</th>
				<th>Status</th>
				<th>Amount</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="history in smsPaymentHistory track by history.chargeId">
				<td>{{history.created | smsDateSent}}</td>
				<td>{{history.status}}</td>
				<td>${{history.amount | number:2}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>