<div class="contract-box" id="add-contract-page">
    <div class="tab-pane" ng-show="activeTab - 1 == $index" ng-repeat="page in viewAdditionalContractPages track by $index">
        <fieldset ng-disabled="page.isSubmitted">
            <print-download class="download-row"
                            ng-if="!isFamiliarization && !isPrint && page.pdfData.url ||
                                   tabs[$index + 1].printDownloadPage && isPrint && page.pdfData.url"
                            url="page.pdfData.url">
            </print-download>
            <send-letter-pdf class="row send-letter-pdf-row"
                             ng-if="tabs[$index + 1].allowSendLetterPdf && !page.isSubmitted"
                             index="$index"
                             send-pdf-page="sendLetterPdfAddPage(index)"
                             download-pdf-page="downloadPdfAddPage(index)">
            </send-letter-pdf>
            <div class="row" id="additional-contract-page_{{$index}}">
                <div class="col-md-12 contract-box-content">
                    <div additional-contract-pages
                            travel-time="travelTime.raw"
                            contract-page="page"
                            contract-index="$index"
                            request="request"
                            contract-tab="tabs[$index + 1]"
                            is-first-submitted-page="data.isFirstSubmittedPage"
                            calculate-add-contract-data="calculateAddContractData(index)"
                            save-contract="saveContract({data: data})"
                            get-add-main-page="getAddMainPage()"
                            style="padding: 10px 20px;"
                            id="additional-contracts">
                        </div>
                </div>


            </div>
            <div class="row bottom-margin">
                <div class="col-md-offset-4 col-md-4 col-xs-offset-4 col-xs-4 col-sm-offset-4 col-sm-4" style="text-align: center;" >
                    <button class="btn-lg btn-info"
                            ng-class="{'disabled':page.pdfData.url && page.isSubmitted}"
                            ng-click="submitAddContract($index)">
                            <span ng-if="::!tabs[$index + 1].mainContract">Save</span>
                            <span ng-if="::tabs[$index + 1].mainContract">Submit contract</span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
