<ul class="nav nav-tabs" style="margin: 15px 7px;">
    <li ng-if="!tab.removedPage"
        ng-class="{'active': activeTab == tab.index}"
        ng-click="selectTab(tab.index)"
        ng-repeat="tab in tabs">
        <a href="javascript:void(0)" style="min-height: 52px;">{{tab.name}}</a>
    </li>
    <li ng-click="addNewTab()">
        <a href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </li>
</ul>
<div id="add-contract-page">
    <div class="tab-pane" ng-show="activeTab == tab.index" ng-repeat="tab in tabs">
        <div class="row" style="margin: 25px 0px;">
            <div class="col-md-12" style="margin: 14px;">
                <div class="tab-label">Tab Name:</div>
                <div class="col-md-6">
                    <input class="form-control" ng-model="tab.name" placeholder="Enter tab name">
                </div>
                <div class="col-md-2 pull-right">
                    <button class="btn btn-md btn-danger" ng-click="removePage(tab.index)">Remove page</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="tab-label">
                        <span>Show contract page</span>
                        <input type="checkbox" ichecks ng-model="tab.show" ng-change="changeShow(tab.index)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab-label">
                        <span>Allow download and print</span>
                        <input type="checkbox" ichecks ng-model="tab.printDownloadPage">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab-label">
                        <span>Proposal page</span>
                        <input type="checkbox" ichecks ng-model="tab.proposalPage">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="tab-label">
                        <span>Attachment to email</span>
                        <input type="checkbox" ichecks ng-model="tab.allowAttachPage">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab-label">
                        <span>Allow send letter pdf</span>
                        <input type="checkbox" ichecks ng-model="tab.allowSendLetterPdf">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tab-label">
                        <span>Use as Main contract</span>
                        <input type="checkbox"
                               ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                               data-switchery="true"
                               ng-model="tab.mainContract"
                               ng-change="changeMainContract(tab.index)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 7px;">
                <text-angular ng-model="tab.page" class="additional-contract-textarea" id="additional-contract_{{tab.index}}"
                              ta-toolbar="[['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'pre', 'quote'],
                                ['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'redo', 'undo'],
                                ['fontColor', 'fontName', 'fontSize', 'backgroundColor'],
                                ['table', 'columns'],
                                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'indent', 'outdent'],
                                ['html', 'insertImage','insertLink', 'insertVideo'],
                                ['contract']]" ta-unsafe-sanitizer="true"></text-angular>
        </div>
    </div>
</div>
