@font-face {
    font-family: "Flaticon";
    src: url("flaticon.eot");
    src: url("flaticon.eot#iefix") format("embedded-opentype"),
    url("flaticon.woff") format("woff"),
    url("flaticon.ttf") format("truetype"),
    url("flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.form-item [class^="flaticon-"]:before, .form-item [class*=" flaticon-"]:before,
.form-item [class^="flaticon-"]:after, .form-item [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-family: Flaticon;
    font-size: 19px;
    font-style: normal;
}

.details_block [class^="flaticon-"]:before, .details_block [class*=" flaticon-"]:before, .details_block [class^="flaticon-"]:after, .details_block [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-family: Flaticon;
    font-size: 32px;
    font-style: normal;
    position: absolute;
    top: 36%;
    left: 11px;
    opacity: 0.5;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-family: Flaticon;
    font-size: 12px;
    font-style: normal;
}

.boxcount [class^="flaticon-"]:before, .boxcount [class*=" flaticon-"]:before, .boxcount [class^="flaticon-"]:after, .boxcount [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-family: Flaticon;
    font-size: 18px;
    color: rgb(120, 132, 139);
    font-weight: bold;
    margin-right: 10px;
    font-style: normal;
}

.col2 [class^="flaticon-"]:before, .col2 [class*=" flaticon-"]:before, .col2 [class^="flaticon-"]:after, .col2 [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-family: Flaticon;
    font-size: 50px;
    color: rgb(255, 104, 104);
    font-style: normal;
}

.flaticon-ascendant6:before {
    content: "\e000";
}

.flaticon-bedroom3:before {
    content: "\e001";
}

.flaticon-beds12:before {
    content: "\e002";
}

.flaticon-box41:before {
    content: "\e003";
}

.flaticon-calculator63:before {
    content: "\e004";
}

.flaticon-calendar68:before {
    content: "\e005";
}

.flaticon-clipboard52:before {
    content: "\e006";
}

.flaticon-cogwheel43:before {
    content: "\e007";
}

.flaticon-commercial15:before {
    content: "\e008";
}

.flaticon-delivery25:before {
    content: "\e009";
}

.flaticon-distance1:before {
    content: "\e00a";
}

.flaticon-draw24:before {
    content: "\e00b";
}

.flaticon-lists10:before {
    content: "\e00c";
}

.flaticon-livingroom8:before {
    content: "\e00d";
}

.flaticon-logistics2:before {
    content: "\e00e";
}

.flaticon-plate7:before {
    content: "\e00f";
}

.flaticon-studio10:before {
    content: "\e010";
}

.flaticon-verification5:before {
    content: "\e011";
}
