<div data-ng-controller="Shell as vm">
    <div id="splash-page" ng-show="vm.showSplash" class=" middle-box text-center lockscreen animated fadeIn" ng-class="{'fadeOut':!vm.showSplash}">
        <div class="page-splash">
            <div class="page-splash-message" >
                <img  src="{{vm.logoUrl}}"><div class="blink">{{vm.busyMessage}}</div>
            </div>
        </div>
    </div>

    <!-- Page Wrapper-->

    <section id="main-wrapper" class="theme-default  gray-bg animated fadeIn" ng-show="vm.showMain">
        <!-- Page wrapper -->
        <div ng-include="'app/layout/company/topnav.html?3'" ng-if="!vm.isContractPage" print-remove></div>
        <!-- Content wraper -->
        <section ng-if="vm.showMain" class="main-content-wrapper ">
            <!-- Main content view  -->
            <div ng-view></div>

        </section>


      <!-- Footer -->
          <div id="footer"
               ng-include="'app/layout/company/footer.html?3'"
               ng-if="vm.displayFooter()"
               print-remove>
          </div>
        <!-- /Content wraper-->
    </section>

</div>



