<div data-ng-controller="Sidebar as vm">
<nav>
    <h5 class="sidebar-header">Navigation</h5>
    <!-- location directive.js | data-nav-toggle-sub maps to -->
    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
         <li ng-class="vm.isCurrent('dashboard')">
            <a href="#dashboard"  title="Dashboard" >
                <i class="fa fa-fw fa-tachometer"></i> Dashboard
            </a>
        </li>
        
        <li class="nav-dropdown" ng-class="vm.isCurrent('requests')">
            <a href="" ng-click="vm.goToPage('requests')" title="Requests"  >
                <i class="fa fa-fw fa-th-list"></i>Requests
            </a>
            <ul class="nav-sub" ng-class="vm.isCurrent('requests/'+id)">
                
                <!--- REQUESTS PAGE - LOCAL--->
                    <li class="nav-dropdown" ng-repeat="(id,service) in vm.services_type" >
                        <a href="" ng-click="vm.goToPage('requests/'+id)" title="{{service}}">
                           {{service}}
                        </a>
                    </li>
            </ul>
        </li>
    
 
        
         <li ng-class="{active : vm.isCurrent('schedule')}">
            <a href="#schedule"   title="Schedule">
                <i class="fa fa-fw fa-calendar"></i> Schedule
            </a>
        </li>
        
        <li ng-class="{active : vm.isCurrent('statistics')}">
            <a href="#statistics"   title="Statistics">
                <i class="fa fa-fw fa-bar-chart-o"></i> Statistics
            </a>
        </li>
        
        <li class="nav-dropdown" ng-class="{active: $state.includes('ui')}">
            <a href="" title="UI Elements">
                <i class="fa  fa-fw fa-cogs"></i>Settings
            </a>
            <ul class="nav-sub" ng-class="{in: $state.includes('ui')}">
               
                <li >
                    <a href="#settings/general" title="general">General
                   </a>
                </li>
                  <li>
                    <a href="#settings/calculator" title="calculator">Calculator
                   </a>
                </li>
                   <li>
                    <a href="#settings/longdistance" title="calculator">Long Distance
                   </a>
                </li>
                    <li>
                    <a href="#settings/schedule" title="schedule">Schedule
                   </a>
                </li>
                <li >
                    <a href="#clients"   title="Clients">
                          Clients
                    </a>
                </li>
    
                
            </ul>
        </li>
       
         <li ng-class="{active : vm.isCurrent('messages')}">
            <a href="#messages"   title="Statistics">
                <i class="fa fa-fw fa-envelope-o"></i> Messages
                <span class="label label-primary label-circle pull-right" ng-if="vm.unreadCount > 0">{{vm.unreadCount}}</span>
            </a>
        </li>

     
      
    </ul>
</nav>
<h5 class="sidebar-header">Account Settings</h5>
<div class="setting-list">
    <div class="row">
        <div class="col-xs-8">
            <label for="checkOne" class="control-label">Share your status</label>
        </div>
        <div class="col-xs-4">
            <input type="checkbox" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="checkOne" checked id="checkOne" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <label for="checkTwo" class="control-label">Push Notifications</label>
        </div>
        <div class="col-xs-4">
            <input type="checkbox" class="js-switch" ui-switch="{size: 'small',color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model="checkTwo" id="checkTwo" />
        </div>
    </div>
</div>
</div>
