<h1 class="movspec">{{vm.currentManagerData.title}}</h1>
<div class="mspec">
    <!--<div ng-bind-html = 'vm.currentManagerData.dataHTML'></div>-->
    <img src={{vm.currentManagerData.photo}}>
    <div ng-bind-html = 'vm.currentManagerData.text'></div>
</div>