.dialog-modal(ng-class = '[extraDialogStyle, {"dialog-modal_right-position":position === "right","dialog-modal_center-position":position === "center"}]')
	md-progress-linear(md-mode="indeterminate" ng-if="busy")
	.dialog-modal__input(ng-if="mode ==='text'")
		md-input-container.md-block(flex-gt-sm='')
			input(ng-model="data.value" type="text")
	.dialog-modal__input(ng-if="mode ==='currency'")
		md-input-container.md-block(flex-gt-sm='')
			input(ng-model="data.value" type="text" er-only-digit with-decimal-point format="currency")
	.dialog-modal__input(ng-if="mode ==='totalDays'")
		md-input-container.md-block(flex-gt-sm='')
			input(ng-model="data.value" type="text" er-only-digit with-decimal-point format="number")
	.dialog-modal__input(ng-if="mode === 'datePicker'")
		md-input-container.md-block(flex-gt-sm='')
			md-datepicker(ng-model="data.value" md-placeholder="Enter date" md-open-on-focus)
	.dialog-modal__buttons
		.dialog-modal_buttons_left
			md-button.md-no-ink.md-primary(ng-click="close()") Close
		.dialog-modal_buttons_right
			md-button.md-no-ink.md-primary(ng-click="update()") Update
