.dialog-modal
  z-index 2000
  position: absolute
  padding-bottom -150px
  width 280px
  box-shadow 0 0 2px rgba(0,0,0,0.5)
  background-color #fff
  &__input
    padding-top 30px
    font-size 12px
    padding-left 26px
    padding-right 26px
  &__buttons
    padding-left 70px
    display inline-flex
    &_left
      width 50%
    &_right
      width 50%
  &_right-position
    right 0
  &_center-position
    left 50%
    margin-left -140px

.md-datepicker-calendar-pane
  z-index 2100 !important

.expenses-dialog
  top 50%
  margin-top -55px
