.call-job-modal__overlay
    .busyoverlay
        img.spinner(ng-src="././content/img/logo_animation.gif")
        
.call-job-modal(ng-click="openRequest(id)" ng-mousedown="(mouseClicked = true)" ng-class="{ 'call-job-modal__clicked': mouseClicked}") {{showText}}