<section class="animated fadeInRight extra-services-setting" extra-service>
    <div ng-show="busy">
        <img src="../../../../../app/core/assets/images/loading.gif" class="busy-symbol">
    </div>
    <div class="row" ng-class="{'disabled': busy}">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Additional settings</h3>
                    <div class="pull-right extra-services-setting__buttons-group">
                        <a href="javascript:void(0)" class="btn btn-primary" ng-click="addService()">Add Service</a>
                        <a href="javascript:void(0)" class="btn btn-danger" ng-click="removeService()" ng-disabled="activeRow === -1">Remove Service</a>
                    </div>
                </div>
                <div class="saving-progress">
                    <span ng-show="saving">Saving</span>
                    <span class="animated fadeIn" ng-show="saved">Saved!</span>
                </div>
                <div class="panel-body">
                    <table class="mdDataTable clients table table-striped">
                        <thead>
                        <tr class="extra-services-setting__table-title">
                            <th></th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody dragula='"extra-service-bag"' dragula-model='additionalSettings'>
                        <tr ng-repeat="setting in additionalSettings"
                            ng-class="{'active_row': activeRow === $index}"
                            ng-click="prepareToDelete($index)"
                            ng-dblclick="addService(setting, $index)" class="extra-services-setting__extra-service-item">
                            <td>
                                <i class="fa fa-arrows drag-packing" aria-hidden="true"></i>
                            </td>
                            <td>{{setting.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>