<div class="miscModal" id="payment_details">
    <div class="modal-body">
        <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
        </div>
        <div class="modal-header">
            <h2>{{ misc.payType == 'hourlyRate' ? 'Employee Hourly Payment' : 'Employee Miscellaneous Payment '}}</h2>
        </div>
        <form class="form-horizontal" name="clientForm" role="form" ng-class="{'disabled': busy}">
            <div class="form-group" >
                <div class="col-sm-3">
                    <label>Date of Payment</label>
                </div>
                <div class="col-sm-3 text-right">
                    <input type="text" class="form-control" style="    margin-top: 10px;"
                           uib-datepicker-popup="mediumDate" ng-model="misc.date" id="dateFrom"
                           is-open="showDate" ng-click="showDate = !showDate"
                           datepicker-options="dateOptions" init-date="misc.date" close-text="Close"/>

                </div>
                <div class="col-sm-3 text-right">
                    <div class="radio">
                        <label for="fields-hr">Hourly Rate</label>
                        <input type="radio" name="radio-1" id="fields-hr"
                               ichecks="" class="icheck"
                               ng-model="misc.payType" value="hourlyRate">
                    </div>
                </div>
                <div class="col-sm-3 text-right">
                    <div class="radio">
                        <label for="fields-amount">Amount</label>
                        <input type="radio" name="radio-1" id="fields-amount"
                               ichecks="" class="icheck"
                               ng-model="misc.payType" value="amount"/>
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-3">
                    <label>Payee</label>
                </div>
                <div class="col-sm-9">
                    <select class="form-control" ng-model="misc.payee">
                        <optgroup ng-repeat="(role, users) in usersByRole track by $index" label="{{:: role.toUpperCase() }}">
                            <option ng-repeat="(uid, user) in users | toArray | orderBy: ['field_user_first_name', 'field_user_last_name'] track by $index" value="{{ user.uid }}" ng-selected="user.uid == misc.payee">
                                {{ user.field_user_first_name + ' ' + user.field_user_last_name }}
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-3">
                    <label>Notes</label>
                </div>
                <div class="col-sm-9">
                    <textarea class="form-control" ng-model="misc.note"></textarea>
                </div>
            </div>

            <div class="form-group" >
                <div class="col-sm-3">
                    <label>Hourly Rate</label>
                </div>
                <div class="col-sm-3">
                    <input type="number" ng-model="misc.hourlyRate" class="form-control" ng-disabled="misc.payType == 'amount'" ng-change="changeAmount()"/>
                </div>
                <div class="col-sm-3 text-right">
                    <label>Hours</label>
                </div>
                <div class="col-sm-3">
                    <input type="number" ng-model="misc.hours" class="form-control"  ng-disabled="misc.payType == 'amount'" ng-change="changeAmount()"/>
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-3">
                    <label>Amount</label>
                </div>
                <div class="col-sm-3">
                    <input type="number" ng-model="misc.amount" class="form-control"  ng-disabled="misc.payType == 'hourlyRate'"/>
                </div>
                <div class="col-sm-4 nopadding text-right">
                    <div class="radio">
                        <label for="fields-payable">To pay</label>
                        <input type="radio" name="radio-2" id="fields-payable"
                               ichecks="" class="icheck"
                               ng-model="misc.amountType" value='payable' ng-disabled="misc.payType == 'hourlyRate'">
                    </div>
                </div>
                <div class="col-sm-2 nopadding">
                    <div class="radio">
                        <label for="fields-deduct">Deduct</label>
                        <input type="radio" name="radio-2" id="fields-deduct"
                               ichecks="" class="icheck"
                               ng-model="misc.amountType" value='deduct' ng-disabled="misc.payType == 'hourlyRate'">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="saveMisc()">Ok</button>
        <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
    </div>
</div>
