<div>
    <div class="modal-body">
        <form class="form-horizontal" name="clientForm" role="form" ng-class="{'disabled': busy}">
            <div class="form-group" >
                <div class="col-sm-12">
                    <div class="radio" ng-if="key != 'hours_pay' && key != 'isVisible'" ng-repeat="(key, column) in columns.totalFields">
                        <input type="checkbox" name="checkbox" id="fields-{{:: $index }}"
                               ichecks="" class="icheck"
                               ng-model="column.selected" ng-change="saveColumns()" ng-if="key != 'a_employee_selected' && key != 'a_a_selected'">
                        <label ng-if="key != 'a_employee_selected' && key != 'a_a_selected'" for="fields-{{:: $index }}">{{:: column.name }}</label>
                    </div>
                    <div class="radio" ng-if="columns.totalFields['hours_pay']">
                        <input type="checkbox" name="checkbox" id="fields-hours-pay"
                               ichecks="" class="icheck"
                               ng-model="columns.totalFields['hours_pay'].selected" ng-change="saveColumns()">
                        <label for="fields-hours-pay">{{:: columns.totalFields['hours_pay'].name }}</label>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>-->
    <!--</div>-->
</div>