<div id="payment_details_view" >
    <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
    </div>
    <div class="paymentModal">
        <div class="modal-body">
            <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>
            <div class="modal-header">
                <h2>Payment Details</h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Form of Payment</th>
                                <th ng-if="payment.check_numb != '0'">Check #</th>
                                <th class="value">Payroll range</th>
                                <th class="value">Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>
                                            <label>
                                                {{paymentOpt[payment.formPayment]}}
                                            </label>
                                        </td>
                                        <td ng-if="payment.check_numb != '0'" ng-class="{ 'has-error': payment.check_numb.$dirty}">
                                            <input type="text" ng-model="payment.check_numb" class="form-control" name="payment.check_numb" required/>
                                        </td>
                                        <td id="payment_details" >
                                            <input type="text" class="form-control"
                                                uib-datepicker-popup="mediumDate" ng-model="payment.date" id="dateFrom_payment"
                                                is-open="showDate" ng-click="showDate = !showDate" init-date="payment.date"
                                                datepicker-options="dateOptions" close-text="Close" />
                                        </td>
                                        <td ng-class="{ 'has-error': payment.amount.$dirty }">
                                            <input cc-amount-payment type="text" ng-model="payment.amount" class="form-control" name="payment.amount" required/>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="payment.jobs">
                <div class="col-md-2">
                    <label>Paid jobs</label>
                </div>
                <div class="col-md-10">
                    <span ng-repeat="(key, job) in payment.jobs">
                        #{{job.nid || job}}<span ng-if="key+1 != payment.jobs.length">,</span>
                    </span>

                </div>
            </div>
            <div class="row" ng-if="payment.misc">
                <div class="col-md-2">
                    <label>Paid miscs</label>
                </div>
                <div class="col-md-10">
                    <span ng-repeat="(key, misc) in payment.misc">
                        #{{misc}}<span ng-if="key+1 != payment.misc.length">,</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Note</label>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control" ng-model="payment.note"></textarea>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" ng-click="removePaycheck()">Remove paycheck</button>
            <button type="button" class="btn btn-primary pull-right" ng-click="cancel()">Close</button>
            <button type="button" class="btn btn-success pull-right" ng-click="savePaycheck()">Save changes</button>
            <div class="created-payroll pull-right" ng-if="payment.created != 0">
                Was created: {{payment.created}}
            </div>
        </div>
    </div>
</div>
