<div>
    <div class="modal-body">
        <form class="form-horizontal" name="clientForm" role="form" ng-class="{'disabled': busy}">
            <div class="form-group" >
                <div class="col-sm-12">
                    <div class="radio" ng-if="key != 'hours_pay' && key != 'closing'" ng-repeat="(key, column) in columns.fields">
                        <input type="checkbox" name="checkbox" id="fields-{{:: $index }}"
                               ichecks="" class="icheck"
                               ng-model="column.selected" ng-if="key != 'a_employee_selected' && key != 'a_a_selected'">
                        <label ng-if="key != 'a_employee_selected' && key != 'a_a_selected'" for="fields-{{:: $index }}">{{:: column.name }}</label>
                    </div>
                    <div class="radio" ng-if="columns.fields['hours_pay']">
                        <input type="checkbox" name="checkbox" id="fields-hours-pay"
                               ichecks="" class="icheck"
                               ng-model="columns.fields['hours_pay'].selected">
                        <label for="fields-hours-pay">{{:: columns.fields['hours_pay'].name }}</label>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>