<div id="payment_details">
    <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
    </div>
    <div class="paymentModal">
        <div class="modal-body">
            <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>
            <div class="modal-header">
                <h2>Payment Details</h2>
            </div>
            <form class="form-horizontal" name="clientForm" role="form" ng-class="{'disabled': busy}">
                <div class="form-group" >
                    <div class="col-sm-3">
                        <label>Payroll range</label>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div>
                             <input type="text" class="form-control" style="margin-top: 10px;" init-date="payment.date"
                                   uib-datepicker-popup="mediumDate" ng-model="payment.date"
                                   is-open="openedFrom" ng-click="openedFrom = !openedFrom"
                                   datepicker-options="dateOptions" close-text="Close"/>
                        </div>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-3">
                        <label>Form of Payment</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="payment.formPayment" ng-options="key as value for (key,value) in paymentOpt" >
                        <option value="" style="display: none"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-3">
                        <label>Amount</label>
                    </div>
                    <div class="col-sm-3">
                        <input cc-amount-payment type="text" ng-model="payment.amount" class="form-control" required />
                    </div>
                </div>
                <div class="form-group" ng-show="payment.formPayment=='0'">
                    <div class="col-sm-3">
                        <label>Check No</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" ng-model="payment.checkNo" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group" >
                    <div class="col-sm-3">
                        <label>Notes</label>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" ng-model="payment.note"></textarea>
                    </div>
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-left" ng-click="savePayment()">Apply</button>
            <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
        </div>
    </div>
</div>
