<section id="main-content" class="animated fadeInRight payroll" style="min-height: 400px;"
         ng-controller="PayrollCtrl">

    <div class="row">
        <div class="col-xs-12">
            <div class="busyoverlay" ng-show="busy"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
            </div>

            <div class="adminpanel panel panel-default panel-wrapper">
                <div class="panel-heading clearfix">
                    <div class="row bottom-border">
                        <div id="payroll_header" class="col-sm-7 col-md-8 col-xs-6 payroll-header">
                            <h3>Payroll For
                                <span ng-hide="dTable === 'workers' || dTable === 'user'">All Departments</span>
                                <span ng-show="dTable === 'workers'">{{roleWorkers}}</span>
                                <span ng-show="dTable === 'user'">{{userName}}</span>
                                Date From: {{dateRangeFrom}} - {{dateRangeTo}}
                            </h3>
                        </div>
                        <div class="col-sm-5 col-md-4 col-xs-6">
                            <ul class="breadcrumb">
                                <li class="active"><a href="javascript:;" ng-click="dTable='departments';employee=''"><i class="fa fa-home"></i> All departments</a></li>
                                <li ng-class="{'active': dTable == 'workers' || dTable == 'user'} " ng-show="dTable === 'workers' || dTable === 'user' "><a href="javascript:;" ng-click="dTable='workers';employee=''">{{roleWorkers}}</a></li>
                                <li ng-class="{'active'  : dTable == 'user'}" ng-show="dTable == 'user'"><a href="javascript:;" ng-click="dTable='user'">{{userName}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="fixed_payroll_header" ng-init="setUpPayrollHeader()" class="row bottom-border fixed-payroll-header" ng-hide="isShowPayrollHeader">
                        <div class="col-sm-7 col-md-8 col-xs-6 payroll-header">
                            <h3>Payroll For
                                <span ng-hide="dTable === 'workers' || dTable === 'user'">All Departments</span>
                                <span ng-show="dTable === 'workers'">{{roleWorkers}}</span>
                                <span ng-show="dTable === 'user'">{{userName}}</span>
                                Date From: {{dateRangeFrom}} - {{dateRangeTo}}
                            </h3>
                        </div>
                        <div class="col-sm-5 col-md-4 col-xs-6">
                            <ul class="breadcrumb">
                                <li class="active"><a href="javascript:;" ng-click="dTable='departments';employee=''"><i class="fa fa-home"></i> All departments</a></li>
                                <li ng-class="{'active': dTable == 'workers' || dTable == 'user'} " ng-show="dTable === 'workers' || dTable === 'user' "><a href="javascript:;" ng-click="dTable='workers';employee=''">{{roleWorkers}}</a></li>
                                <li ng-class="{'active'  : dTable == 'user'}" ng-show="dTable == 'user'"><a href="javascript:;" ng-click="dTable='user'">{{userName}}</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="stats-wrapper">
                        <div class="total-payroll-panel" ng-if="isDisplayDepartmentTable() && mainColumns[dTable].totalFields.isVisible">
                            <div class="total-item" ng-if="!(key == 'hours_pay' || key == 'department' || key == 'paid')" ng-show="mainColumns[dTable].totalFields[key].selected"  ng-repeat="(key, val) in departments.total">
                                <div class="total-title">{{mainColumns[dTable].totalFields[key].name}}</div>
                                <div class="total-body" ng-if="mainColumns[dTable].totalFields[key].prefix != '$'">{{ mainColumns[dTable].totalFields[key].prefix }} {{ val | number : 2}}</div>
                                <div class="total-body" ng-if="mainColumns[dTable].totalFields[key].prefix == '$'">{{ mainColumns[dTable].totalFields[key].prefix }} {{ val | number : 2}}</div>
                            </div>
                            <div class="total-item" ng-show="mainColumns[dTable].totalFields['hours_pay'].selected">
                                <div class="total-title">{{mainColumns[dTable].totalFields['hours_pay'].name}}</div>
                                <div class="total-body">{{ mainColumns[dTable].totalFields['hours_pay'].prefix }} {{ departments.total['paid'] | number : 2}}</div>
                            </div>
                            <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="openModal('totalColumns')"></i>
                        </div>
                        <div class="total-payroll-panel" ng-if="isDisplayWorkersTable() && mainColumns[dTable].totalFields.isVisible">
                            <div class="total-item" ng-if="mainColumns[dTable].totalFields[key].selected && key != 'a_employee_selected' && key != 'a_name' && key != 'paid'"
                                 ng-repeat="(key, val) in workers.total">
                                <div class="total-title">
                                    {{ mainColumns[dTable].totalFields[key].name }}
                                </div>
                                <div class="total-body" ng-if="mainColumns[dTable].totalFields[key].prefix != '$'">
                                    {{ mainColumns[dTable].totalFields[key].prefix }} {{ val | number : 2}}
                                </div>
                                <div class="total-body" ng-if="mainColumns[dTable].totalFields[key].prefix == '$'">
                                    {{ mainColumns[dTable].totalFields[key].prefix }} {{ val | number : 2}}
                                </div>
                            </div>
                            <div class="total-item" ng-if="mainColumns[dTable].totalFields['paid'].selected">
                                <div class="total-title">
                                    {{ mainColumns[dTable].totalFields['paid'].name }}
                                </div>
                                <div class="total-body" ng-if="mainColumns[dTable].totalFields['paid'].prefix == '$'">
                                    {{ mainColumns[dTable].totalFields['paid'].prefix }} {{ workers.total['paid'] | number : 2}}
                                </div>
                            </div>
                            <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="openModal('totalColumns')"></i>
                        </div>
                        <div class="total-payroll-panel" ng-if="isDisplayUserTable() && mainColumns[dTable].totalFields.isVisible">
                            <div ng-show="mainColumns[dTable].totalFields[key].selected" class="total-item" ng-if="isShowUserTotalItem(key)" ng-repeat="(key, val) in userCurrentTbl.totals">
                                <div class="total-title">{{mainColumns[dTable].totalFields[key].name}}</div>
                                <div class="total-body" ng-if="mainColumns[dTable].totalFields[key].prefix != '$'">
                                    {{ mainColumns[dTable].totalFields[key].prefix }} {{ val | number : 2}}
                                </div>
                                <div class="total-body" ng-if="mainColumns[dTable].totalFields[key].prefix == '$'">
                                    {{ mainColumns[dTable].totalFields[key].prefix }} {{ val | number : 2}}
                                </div>
                            </div>
                            <div ng-show="mainColumns[dTable].totalFields['total'].selected" class="total-item">
                                <div class="total-title">{{mainColumns[dTable].totalFields['total'].name}}</div>
                                <div class="total-body">
                                    {{ mainColumns[dTable].totalFields['total'].prefix }} {{ userCurrentTbl.totals['total'] - userCurrentTbl.totals['paid'] | number : 2}}
                                </div>
                            </div>
                            <i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="openModal('totalColumns')"></i>
                        </div>
                    </div>
                    <div id="action-group-panel" class="actions-group clearfix">
                        <a href="javascript:;" class="a-actions" ng-click="openModal('addMiscPayment')">Add hourly/Misc. payment</a>
                        <a href="" ng-class="{disabled: !isVisibleApplyPayment()}" class="green_button a-actions" ng-click="applyPayment()">Apply Payment</a>
                        <a href="" ng-class="{disabled: !isVisibleDeletePayrollButton()}" class="red_button a-actions" ng-click="deletePayroll()">Delete</a>
                        <label for="dateFromPayroll" class="fa fa-calendar-o"></label>
                        <input type="text"
							   class="form-control"
                               uib-datepicker-popup="mediumDate"
							   ng-model="dateRange.from"
							   id="dateFromPayroll"
                               is-open="openedFrom"
							   ng-click="openedFrom = !openedFrom"
                               datepicker-options="dateOptionsFrom"
							   close-text="Close"
							   ng-change="changeDateFrom()">
                        -
                        <input type="text"
							   class="form-control right-margin"
                               uib-datepicker-popup="mediumDate"
							   id="dateToPayroll"
							   ng-model="dateRange.to"
							   is-open="openedTo"
                               ng-click="openedTo = !openedTo"
							   datepicker-options="dateOptionsTo"
                               close-text="Close"
							   ng-change="bDateChange = true">
                        <div ng-show="bDateChange" class="" style="width: 75px;display: inline-block;">
                            <button class="blue_button a-actions" ng-click="getByDate();bDateChange=false">Submit</button>
                        </div>
                        <button style="margin-left: 20px; padding:5px;" class="a-actions small-btn" ng-click="changeperiod(2)">Last two weeks</button>
                        <button style="padding:5px;" class="a-actions small-btn" ng-click="changeperiod(1)">This two weeks</button>
                        <button style="padding:5px;" class="a-actions small-btn" ng-click="updatePayrollCache()" ng-if="isAdmin">Update payroll cache</button>
                        <!-- <a href="" class="a-actions">Send</a> -->
                        <div class="pull-right">
                            <a href="javascript:;"  ng-click="getByDate()"><i class="small_icon disptach_icon icon-refresh"></i></a>
                            <a href="javascript:;"  ng-click="openModal('columns')"><i class="small_icon  disptach_icon fa fa-pencil-square-o"></i></a>
                            <a href="javascript:;"  id="printcancel" ng-print print-element-id="print-area" class="no-print">
                                <i class="small_icon  disptach_icon fa fa-print"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body mdDataTable" ng-switch on="dTable" id="print-payroll">
                    <department-d-table  ng-switch-when="departments"></department-d-table>
                    <employers-d-table  ng-switch-when="employers"></employers-d-table>
                    <workers-d-table ng-switch-when="workers"></workers-d-table>
                    <user-d-table ng-switch-when="user"></user-d-table>
                </div>
            </div>
        </div>
    </div>
</section>
