<div class="cal-row-fluid cal-row-head">
    <div class="cal-cell1" ng-repeat="day in weekDays track by $index" ng-bind="day"></div>
</div>
<div class="cal-month-box">
    <div ng-repeat="rowOffset in ::monthOffsets track by rowOffset"
         ng-mouseenter="rowHovered = true"
         ng-mouseleave="rowHovered = false">
        <div class="cal-row-fluid cal-before-eventlist">
            <div ng-repeat="day in view | calendarLimitTo:7:rowOffset track by $index"
                 ng-init="dayIndex = view.indexOf(day)"
                 class="cal-cell1 cal-cell {{ day.highlightClass }}"
                 ng-click="dayClicked(day,$parent.$index)"
                 ng-class="{pointer: day.events.length > 0}">
                <ng-include src="'app/schedule/templates/calendarMonthCell.html?5'"></ng-include>
            </div>
        </div>
        <div er-schedule-slide-box
             requests="view[openDayIndex].requests"
             is-open="openRowIndex === $index "
             index="$index">
        </div>
    </div>
</div>
