<div style="height:{{day.trucksCount*22}}px; min-height: 140px;"
  class="cal-month-day {{ day.cssClass }}"
  ng-class="{
            'cal-day-outmonth': !day.inMonth,
            'cal-day-inmonth': day.inMonth,
            'cal-day-weekend': day.isWeekend,
            'cal-day-past': day.isPast,
            'cal-day-today': day.isToday,
            'cal-day-future': day.isFuture,
            'current' :dayIndex === openDayIndex && view[openDayIndex].requests.length > 0,
          }">

  <span
    class="pull-right"
    data-cal-date
    ng-bind="day.label">
  </span>

  <div class="calendar-month-cell-wrapper">
    <small
      class="cal-events-num badge status_1 badge-important pull-left"
      ng-show="day.badgeTotal > 0"
      ng-bind="day.parklot.confirmedCount">
    </small>
    <small
      class="cal-events-num status_2 badge badge-important pull-left"
      ng-show="day.badgeTotal > 0"
      ng-bind="day.parklot.unconfirmedCount">
    </small>
  </div>

  <div class="cal-day-tick" ng-show="dayIndex === openDayIndex ">
    <i class="glyphicon glyphicon-chevron-up"></i>
    <i class="fa fa-chevron-down"></i>
  </div>

  <ng-include src="'app/schedule/templates/calendarMonthCellEvents.html'"></ng-include>


</div>
