<div class="events-list" style="max-height:{{day.trucksCount*15}}px">
    <div
    ng-repeat="(tid, truckname) in ::day.trucks track by $index"
    class="truckLine"
    tooltip-append-to-body="true">
        <div class="request" ng-repeat="request in day.parklot.confirmed[tid] track by $index">
             <span ng-if="!(request.service_type.raw == '5' && request.date.value != day.currentDate && request.status.raw == 3) && !request.ld_trip"
                   style="position: absolute; width:{{(request.maximum_time.raw + request.travel_time.raw)*15}}px;left:{{(request.sT1*4)-50}}px;"
                   class="pull-left event status_{{request.status.raw}} service_{{request.service_type.raw}}"
                   ng-hide="request.service_type.raw == 5 && request.date.value != day.currentDate && request.status.raw != 3">

             </span>
            <span ng-if="request.service_type.raw == '5' && request.date.value != day.currentDate && request.status.raw == 3 && !request.ld_trip"
                  ng-class="{'flatrate': request.service_type.raw == '5'  && request.date.value != day.currentDate && request.status.raw == 3,
                             'ld-trip' : request.service_type.raw == '5' && request.ld_trip && request.date.value != day.currentDate && request.status.raw == 3}"
                  style="position: absolute; width:{{(request.maximum_time.raw + request.travel_time.raw)*15}}px;left:{{(request.sT1*4)-50}}px;"
                  class="pull-left event"
                  ng-hide="request.service_type.raw == 5 && request.date.value != day.currentDate && request.status.raw != 3">
            </span>
            <span ng-if="request.service_type.raw == '5' && request.status.raw == 3 && request.ld_trip"
                  ng-class="{'flatrate': request.service_type.raw == '5' && request.status.raw == 3,
                             'ld-trip' : request.ld_trip}"
                  style="position: absolute; width:{{(request.maximum_time.raw + request.travel_time.raw)*15}}px;left:{{(request.sT1*4)-50}}px;"
                  class="pull-left event"
                  ng-hide="request.service_type.raw == 5 && request.date.value != day.currentDate && request.status.raw != 3">
            </span>
        </div>
    </div>
</div>