<div class="park_lot" style="height:{{parklot_height}}px">
    <div class="trucks">
        <div style="height: {{line_height}}px;" class="dhx_matrix_scell truckid"
             ng-repeat="(tid,truck_name) in ::trucks"
             ng-hide="trucksUnvailability[tid][currentDay]"
             data-id="{{tid}}"
             ng-click="chooseTruck(tid)"
             title="{{truck_name}}"
             id="truck_{{tid}}" ng-class="{'choosen': !!choosen_truck[tid]}">{{truck_name}}
        </div>
    </div>
    <div class="pkl_data" style="left:{{pkl_left}}px;width:1500px">
        <div id="timeheader" class="dhx_cal_header ui-draggable-handle">
            <div class="dhx_scale_bar ">1<span>AM</span></div>
            <div class="dhx_scale_bar ">2<span>AM</span></div>
            <div class="dhx_scale_bar ">3<span>AM</span></div>
            <div class="dhx_scale_bar ">4<span>AM</span></div>
            <div class="dhx_scale_bar ">5<span>AM</span></div>
            <div class="dhx_scale_bar ">6<span>AM</span></div>
            <div class="dhx_scale_bar ">7<span>AM</span></div>
            <div class="dhx_scale_bar ">8<span>AM</span></div>
            <div class="dhx_scale_bar ">9<span>AM</span></div>
            <div class="dhx_scale_bar ">10<span>AM</span></div>
            <div class="dhx_scale_bar ">11<span>AM</span></div>
            <div class="dhx_scale_bar ">12<span>PM</span></div>
            <div class="dhx_scale_bar ">1<span>PM</span></div>
            <div class="dhx_scale_bar ">2<span>PM</span></div>
            <div class="dhx_scale_bar ">3<span>PM</span></div>
            <div class="dhx_scale_bar ">4<span>PM</span></div>
            <div class="dhx_scale_bar ">5<span>PM</span></div>
            <div class="dhx_scale_bar ">6<span>PM</span></div>
            <div class="dhx_scale_bar ">7<span>PM</span></div>
            <div class="dhx_scale_bar ">8<span>PM</span></div>
            <div class="dhx_scale_bar ">9<span>PM</span></div>
            <div class="dhx_scale_bar ">10<span>PM</span></div>
            <div class="dhx_scale_bar ">11<span>PM</span></div>
            <div class="dhx_scale_bar ">12<span>PM</span></div>
        </div>
        <div>
            <table style="width: 100%;table-layout:fixed;margin-top: 30px;background-color: white;" cellspacing="0"
                   cellpadding="0">
                <tbody>
                <tr class="truckline_{{tid}}" ng-repeat="(tid,truck_name) in ::trucks track by $index"
                    ng-hide="trucksUnvailability[tid][currentDay]">
                    <td>
                        <div class="dhx_matrix_line">
                            <span ng-bind-html="$sce.trustAsHtml(parklot_cells)"></span>
                            <span ng-repeat="current in parklot[tid] track by $index"
                                  class="dhx_cal_event_wrapper not-flatrate"
                                  ng-class="{'current': current.isCurrent, 'reserved': current.reservation, 'showpopup': current.showpopup}"
                                  style="position:absolute; top:0px; height: {{line_height}}px; left:{{current.st}}px;">
                                <div id="request_{{current.nid}}"
                                     ng-dblclick="OpenModel(current,parklot[tid])"
                                     ng-click="showOnlyThisPopup(current); vm.editRequest(current.nid);showClicked(current);"
                                     ng-class="{'current': request.nid === current.nid,
                                               'reserved' :current.reservation,
                                               'teamAssigned': current.assignedCrew,
                                               'jobDone': current.jobDone,
                                               'clicked' :current.clicked
                                               }"
                                     event-id="{{current.nid}}" truck_id="{{tid}}"
                                     class="request dhx_cal_event_line"
                                     er-parklot-style
                                     style="width:{{current.wt}}px;">
                                    <div class="line1">#{{current.nid}} |{{current.name}}
                                        <span ng-if="current.branch">| {{::current.branch.name}}</span>
                                        | <i class=" icon-clock"></i> {{current.start_time1.value}}-{{current.start_time2.value}}
                                    </div>
                                    <div>
                                        <i class='icon-users'></i> {{current.crew.value}}
                                        | <i class='icon-layers'></i> {{current.move_size.value}} |
                                        <i class=" icon-clock"></i>  {{current.maximum_time.value}}
                                    </div>
                                    <div class="line2">A {{current.from}} -> B {{current.to}}</div>
                                    <div class="diamond" ng-show="current.jobDone">
                                        <img width="40px"
                                             src="../../../content/img/animat-essential/diamond/animat-diamond-color.gif">
                                    </div>
                                </div>
                                <div class="dhx_cal_event_line lb" ng-if="!!current.lanch"
                                     style="height: 100%; width:25px;float: left;">
                                    <i class='icon-cup'></i>
                                </div>
                                <div class="dhx_cal_event_line dt" ng-if="!!current.driving_time"
                                     style="height: 100%; width:{{current.driving_time}}px;float: left;">
                                    <i class='icon-compass'></i>
                                </div>
                                <div class="bubble popup" ng-if="current.showpopup">
                                    <div request-popup request="current"></div>
                                </div>
                                <div ng-if="showCrewPreview"
                                     crew-preview
                                     job-id="{{current.nid}}"
                                     all-requests-info="vm.requests"
                                     all-users-info="vm.users"
                                     current-day="vm.moveDate"></div>
                                <request-dispatch-notes ng-show="!current.ld_trip && isLocalDispatch" nid="current.nid" branch="current.branch"></request-dispatch-notes>
                            </span>

                            <span ng-repeat="current in unconparklot[tid] track by $index"
                                  class="dhx_cal_event_wrapper not-flatrate"
                                  ng-class="{'current': current.isCurrent, 'showpopup': current.showpopup}"
                                  style="position:absolute; top:0px; height: {{line_height}}px; left:{{current.st}}px;">
                                <div id="request_{{current.nid}}"
                                     ng-click="showOnlyThisPopup(current)"
                                     ng-dblclick="OpenModel(current,parklot[tid])"
                                     event-id="{{current.nid}}" truck_id="{{tid}}"
                                     class=" request dhx_cal_event_line"
                                     ng-class="{'current': request.nid === current.nid,
                                                'status_{{current.status.raw}}': true,
                                                'service_{{current.service_type.raw}}': true,
                                                'reserved': current.reservation
                                                }" style="width:{{current.wt}}px;">
                                    <div class="line1">#{{current.nid}} | <i class='icon-user'></i> {{current.name}}
                                        <span ng-if="current.branch">| {{::current.branch.name}}</span>
                                        <i class='icon-users'></i> {{current.crew.value}}
                                        | <i class='fa fa-cubes' style="padding:0px;"></i> {{current.move_size.value}} |
                                        <i class=" icon-clock"></i>  {{current.maximum_time.value}}
                                        <i class='icon-layers'
                                           style="position: absolute;top:5px;right: 30px;color: red;"
                                           ng-show="current.overlay">
                                            <span>{{overlayRequests[tid].length}}</span>
                                        </i>
                                    </div>
                                    <div class="line2">A {{current.from}} -> B {{current.to}}</div>
                                </div>
                                <div class="dhx_cal_event_line lb" ng-if="!!current.lanch"
                                     style="height: 100%; width:25px;float: left;">
                                    <i class='icon-cup'></i>
                                </div>
                                <div class="dhx_cal_event_line dt" ng-if="!!current.driving_time"
                                     style="height: 100%; width:25px;float: left;">
                                    <i class='icon-compass'></i>
                                </div>
                                <div class="bubble popup"
                                     ng-if="current.showpopup">
                                    <div request-popup
                                         data-time="{{current.st}}"
                                         overlay="overlayRequests[tid]"
                                         data-width="{{current.wt}}"
                                         request="current"></div>
                                </div>
                                <div ng-if="showCrewPreview"
                                     crew-preview
                                     job-id="{{current.nid}}"
                                     all-requests-info="vm.requests"
                                     all-users-info="vm.users"
                                     current-day="vm.moveDate"></div>
                                <request-dispatch-notes ng-show="!current.ld_trip && isLocalDispatch" nid="current.nid" branch="current.branch"></request-dispatch-notes>
                            </span>
                            <span ng-repeat="current in fpl[tid] track by $index" class="dhx_cal_event_wrapper flatrate"
                                  ng-class="{'current': current.isCurrent, 'showpopup': current.showpopup}"
                                  ng-if="current.isShowTrack"
                                  style="position:absolute; top:0px; height: {{line_height}}px; left:{{current.dstime}}px;">
                                <div id="request_{{current.nid}}" ng-if="!current.ld_trip"
                                     ng-click="showOnlyThisPopup(current); vm.editRequest(current, true); showClicked(current);"
                                     ng-dblclick="OpenModel(current,parklot[tid])"
                                     event-id="{{current.nid}}" truck_id="{{tid}}"
                                     class="request flat_rate dhx_cal_event_line flatrate-request-style"
                                     ng-class="{'current': request.nid === current.nid,
                                               'clicked' :current.clicked
                                               }">
                                    <div class="line1"> Flat Rate  #{{current.nid}} |
                                        <i class='icon-user'></i> {{current.name}}
                                        <span ng-if="current.branch">| {{::current.branch.name}}</span>
                                        <i class='icon-users'></i> {{current.crew.value}}
                                        | <i class='icon-layers'></i>{{current.move_size.value}} |
                                        <i class=" icon-clock"></i>  {{current.maximum_time.value}}
                                    </div>
                                    <div class="line2">A {{current.from}} -> B {{current.to}}</div>
                                </div>
                                <div id="request_{{current.nid}}" ng-if="current.ld_trip"
                                     ng-click="showOnlyThisPopup(current); vm.hideCrewBox(); showClicked(current);"
                                     ng-dblclick="goToTrip(current)"
                                     event-id="{{current.nid}}" truck_id="{{tid}}"
                                     class="ld-trip flat_rate dhx_cal_event_line flatrate-request-style"
                                     ng-class="{'current': request.nid === current.nid,
                                               'clicked' :current.clicked
                                               }">
                                    <div class="line1"> LD Trip  #{{current.nid}} |
                                        <i class='icon-user'></i> {{current.name}} |
                                        <span ng-if="current.branch"> {{::current.branch.name}}</span> |
                                        <span class="flaticon-calendar68"></span>  {{current.date.value}} - {{current.ddate.value}}
                                    </div>
                                </div>
                                <div class="bubble popup" ng-if="current.showpopup">
                                    <div request-popup request="current" current-modal-request-id="request.nid"></div>
                                </div>
                                <div ng-if="showCrewPreview"
                                     crew-preview
                                     job-id="{{current.nid}}"
                                     all-requests-info="vm.requests"
                                     all-users-info="vm.users"
                                     current-day="vm.moveDate"></div>
                                <request-dispatch-notes ng-show="!current.ld_trip && isLocalDispatch" nid="current.nid" branch="current.branch"></request-dispatch-notes>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




