@media all and (max-width: 860px) {
  .parklot-main .park_lot {
    overflow-x: auto;
    height: 1000px;
  }
  .parklot-main .park_lot .dhx_cal_header {
    left: 40px;
  }
  .modal-dialog .parklot-main .park_lot .dhx_cal_header {
    left: 260px;
  }
  #schedule .pageheader .schedule-legend-block {
    display: none;
  }
  #schedule .calendar-month-cell-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  #schedule .calendar-month-cell-wrapper .cal-events-num.badge {
    margin: 0.5em;
  }
  #schedule .cal-day-today span.pull-right {
    opacity: 1;
    font-size: 1.2em;
  }
}
