<div class="schedule">

    
    <div er-calendar-month
         current-day="currentDay"
         cell-modifier="cellModifier"
         view-title="calendarTitle"
         requests = "requests"
         class="monthview">
        
    </div>

    
</div>