include ../../../../../../../node_modules/bemto.pug/bemto

+b.general-custom-blocks-root-container
	+e.blocks(ng-repeat='block in generalCustomBlocks',
			ng-if='generalCustomBlocks.length')
		+e.title(ng-if='!block.hideTitle',
			ng-class="{'col-xs-3': !isReservation}")
			| {{block.title}}
		+e.body(ng-class="{'col-xs-12': block.hideTitle && !isReservation, 'col-xs-9': !block.hideTitle && !isReservation}",
			move-board-compile="block.body")
