lightGreen = #1d8e1d

.ldDiscountsTable
	width 100%
	tr
		border-color #dddddd
		border-bottom-width 1px
		border-bottom-style solid
		&:hover
			background-color #f5f5f5;
		td
			padding 8px

.discountsLDInfo
	margin-left 30px
	line-height 36px
	display inline
	color green
	font-size 20px
	vertical-align middle

.expandDiscounts
	cursor pointer
	position relative
	float right
	width 20px
	height 37px
	div
		color green
		text-shadow 0 0 1px green
		font-size 12px
		float right
		padding-right 0px
		transition-duration 250ms
		&.upArrow
			margin-top 3px
			padding-top 0px
			i
				padding-right 0px
				display block
				margin-bottom -7px
		&.downArrow
			margin-top 6px
			padding-top 0px
			i
				padding-right 0px
				display block
				margin-bottom -7px
	&:hover
		div
			transition-duration 250ms
			&.upArrow
				margin-top -4px
			&.downArrow
				margin-top 18px

.hideDiscounts
	cursor pointer
	position relative
	float right
	width 20px
	height 37px
	div
		color green
		text-shadow 0 0 1px green
		font-size 12px
		float right
		padding-right 0px
		transition-duration 250ms
		&.upArrow
			margin-top -4px
			padding-top 0px
			i
				padding-right 0px
				display block
				margin-bottom -7px
		&.downArrow
			margin-top 18px
			padding-top 0px
			i
				padding-right 0px
				display block
				margin-bottom -7px
	&:hover
		div
			transition-duration 250ms
			&.upArrow
				margin-top 3px
			&.downArrow
				margin-top 6px

.removeRow
	cursor pointer
	position relative
	float right
	width 20px
	height 37px
	div
		position relative
		float right
		top 16px
		width 16px
		height 6px
		background-color #ce0000
		box-shadow: 0 0 2px 0 #ce0000
		transition-duration 250ms
	&:hover
		div
			box-shadow: 0 0 4px 0 #ce0000
			transition-duration 250ms

tr.option.addRow
	.addRowCell
		display flex
		align-items center
		text-align center
		width 100%
		height 100%
	.addRowTitle
		font-size 32px
		font-weight bold
		transition-duration 250ms
		line-height 32px
		color lightGreen
		text-shadow 0 0 1px lightGreen
		display flex
		align-items center
		vertical-align bottom
		justify-content center
		width 100%
		&:hover
			transition-duration 250ms
			box-shadow: inset 0 0 45px -8px lightGreen
		.addRowTitleText
			font-size 12px
			font-weight 100
			margin-left 6px
	.useMapButton
		color #d6ab00
		width 70px
		line-height 32px
		font-size 22px
		transition-duration 250ms
		&:hover
			box-shadow: inset 0 0 45px -8px #d6ab00
			transition-duration 250ms
	td
		cursor pointer
		padding 0
.manageRow
	position relative
	float right
	cursor pointer
	font-weight bold
	div
		height 20px
	.manageRowRemove
		div
			position relative
			top 5px
			width 16px
			height 6px
			background-color #ce0000
			box-shadow: 0 0 2px 0 #ce0000
			transition-duration 250ms
	.manageRowAdd
		div.h
			position relative
			top 11px
			width 16px
			height 4px
			background-color lightGreen
			box-shadow: 0 0 2px 0 lightGreen
			transition-duration 250ms
		div.v
			position relative
			top 1px
			left 6px
			width 4px
			height 16px
			background-color lightGreen
			box-shadow: 0 0 2px 0 lightGreen
			transition-duration 250ms