<table class="ldDiscountsTable">
	<tbody>
	<tr class="option addRow"
		ng-class="{'full':true || discounts.length==0, 'disabled':disabled}">
		<td colspan="2">
			<div class="addRowCell">
				<div ng-click="addDiscount(-1)" class="addRowTitle">
					<span>+</span>
					<span class="addRowTitleText">{{buttonText}}</span>
				</div>
				<div uib-tooltip="Use template"
					 tooltip-popup-delay="2000"
					 ng-if="showMapButton"
					 data-ng-disabled="disableUseTemplate"
					 ng-class="{'disabled': disableUseTemplate}"
					 class="useMapButton"
					 ng-click="useMap()">
					<i class="icon-magic-wand icons"></i>
				</div>
			</div>
		</td>
	</tr>
	</tbody>
	<tbody>
	<tr ng-repeat="row in discounts"
		class="option" ng-class="{'disabled':disabled}"
		ng-model-options="{updateOn: 'default'}">
		<td>
			{{rateText}}
			<input class="form-element sinput form-control editorInputShort"
				   ng-blur="saveSettings()"
				   er-only-float
				   ng-model="row.rate">

		</td>
		<td style="padding-left: 0px;">
			after
			<input class="form-element sinput form-control editorInput"
				   ng-blur="sortDiscount()"
				   er-natural-number
				   ng-model="row.startWeight" maxlength="4">
			cbf
			<div class="manageRow">
				<div ng-click="removeDiscount($index)" class="manageRowRemove">
					<div></div>
				</div>
				<div ng-click="addDiscount($index)" class="manageRowAdd">
					<div class="h"></div>
					<div class="v"></div>
				</div>
			</div>
		</td>
	</tr>
	</tbody>
</table>
