<section class="main-content-wrapper main-content-wrapper-storages aging pending animated fadeInDown">
    <div class="pageheader" style="min-height: 65px;" >
        <h1>Storage Recurring Revenue</h1>
    </div>
    <div ng-show="busy">
        <div class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    <section id="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" id="recurring_revenue" ng-style="{ 'height':(!recurringData ? '43px' :  '100%')}">
                    <div class="row">
                        <span ng-if="!recurringData" class="col-md-3" style="padding: 12px 40px;">
                            No data
                        </span>
                        <span class="icon-refresh-payment" ng-click="refreshPage();">
                            <i class="fa fa-refresh" ng-class="{'fa-spin': busy}"></i>
                        </span>
                    </div>
                    <div class="panel-body mdDataTable" >
                        <table datatable="ng" ng-repeat="(date, requests) in recurringData" ng-if="recurringData" dt-options="dtOptions" style="margin-top: 25px;">
                            <caption>
                                <h1>{{dateFormatter(date)}}</h1>
                            </caption>
                            <thead>
                            <tr>
                                <th>Storage Tenant #</th>
                                <th>Status</th>
                                <th>Customer</th>
                                <th>Start point</th>
                                <th>How Often</th>
                                <th>Total  Monthly</th>
                                <th>Balance due</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class=" pendingRow request" ng-repeat="(id, request) in requests" ng-class="{'disabled':busy, 'active_row' : clicked == request.request_storage_id+'_'+date}" ng-click="openStorageRequest(request.request_storage_id, request.entity_id)">
                                <td>{{request.request_storage_id}}</td>
                                <td class="dtService ">
                                        <span class="status storage-status_{{request.status_flag}}">
                                            {{serviceTypes[request.status_flag]}}
                                        </span>
                                </td>
                                <td>{{request.request_client}}</td>
                                <td>{{dateFormatterUnix(request.start_point)}}</td>
                                <td>{{howOften[request.how_often]}}</td>
                                <td>${{request.total_monthly | number : 2}}</td>
                                <td>
                                    <span ng-class="{'red': request.balance < 0, 'green': request.balance > 0}">
                                        ${{request.balance || 0 | number : 2}}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <b class="pull-right">
                                        Total:
                                    </b>
                                </td>
                                <td>
                                    <b>
                                        ${{calcTotalMonthly(requests) | number : 2}}
                                    </b>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
