<div class="panel-body minimal branchSettings">
    <div class="saving-progress">
        <span class="" ng-show="saving">Saving</span>
        <span class="animated fadeIn" ng-show="saved">Saved!</span>
    </div>
    <div ng-show="busy" class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>

    <div>
        <div class="row">
            <h1 class="pull-left">Manage branches</h1>
            <button ng-show="isActiveBranching" ng-click="synchronizeBranches()" class="btn btn-success pull-right">
                Save
            </button>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped" ng-show="!isEmptyBranches">
                    <thead>
                    <tr>
                        <th ng-if="isSuperAdministrator">Id</th>
                        <th>Branch Name</th>
                        <th ng-if="isSuperAdministrator">Branch URL</th>
                        <th>Base state</th>
                        <th>Parking zip</th>
                        <th ng-if="isSuperAdministrator">MoveBoard URL</th>
                        <th ng-if="isSuperAdministrator">Current Branch</th>
                        <th ng-if="isSuperAdministrator">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="branch in branches track by $index" ng-form name="editBranchForm">
                        <td ng-if="isSuperAdministrator">
                            {{branch.id}}
                        </td>
                        <td>
                            <input ng-blur="!editBranchForm.branchName.$invalid && updateBranch(branch)" ng-class="{'has-error': editBranchForm.branchName.$invalid}" name="branchName" type="text" class="form-control required" placeholder="Please enter branch name" ng-model="branch.name" required>
                        </td>
                        <td ng-if="isSuperAdministrator">
                            <input ng-blur="!editBranchForm.branchApi.$invalid && updateBranch(branch, true)" ng-class="{'has-error': editBranchForm.branchApi.$invalid}" type="text" class="form-control required" placeholder="http(s)://api.exaple.com" ng-model="branch.api_url" name="branchApi" required>
                        </td>
                        <td>{{branch.based_state}}</td>
                        <td>{{branch.parking_zip}}</td>
                        <td ng-if="isSuperAdministrator">
                            <input ng-blur="!editBranchForm.frontUrl.$invalid && updateBranch(branch)" ng-class="{'has-error': editBranchForm.frontUrl.$invalid}" type="text" class="form-control required" placeholder="http(s)://exaple.com" ng-model="branch.front_url" name="frontUrl" required>
                        </td>
                        <td ng-if="isSuperAdministrator">
                            <input type="radio" ichecks="" ng-model="currentBranch" ng-change="selectCurrentBranch(branch.id)" value="{{branch.id}}" name="current_branch">
                        </td>
                        <td ng-if="isSuperAdministrator"><i class="fa fa-trash" ng-click="removeBranch(branch)"></i></td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="isEmptyBranches" class="empty-branches">
                    <h2>
                        Branches have not been set up yet.
                        <span ng-if="isSuperAdministrator">Please add a new branch</span>
                        <span ng-if="!isSuperAdministrator">Please contact us for additional information</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row" ng-show="isSuperAdministrator">
            <div class="col-lg-12">
                <h2 ng-click="isOpenAddNewBranch = !isOpenAddNewBranch" ng-class="{active: !isOpenAddNewBranch}" class="add-branch-expand">
                    Add new Branch
                    <i class="fa fa-chevron-right"></i>
                </h2>
                <div uib-collapse="isOpenAddNewBranch">
                    <table ng-form name="newBranchForm" class="table table-inbox table-hover horizontal-line">
                        <tbody>
                        <tr>
                            <td class="text">
                                <label for="branch-name">Branch Name</label>
                            </td>
                            <td colspan="2">
                                <input type="text" id="branch-name" class="form-control form-element required" ng-class="{'has-error': newBranchForm.branchName.$invalid}" name="branchName" placeholder="Please enter branch name" ng-model="newBranch.name" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="text">
                                <label for="branch-url">Branch API URL</label>
                            </td>
                            <td colspan="2">
                                <input type="url" id="branch-url" ng-class="{'has-error': newBranchForm.branchUrl.$invalid}" class="form-control form-element required" name="branchUrl" placeholder="http(s)://api.exaple.com" ng-model="newBranch.api_url" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="text">
                                <label for="moveboard-url">MoveBoard URL (without /moveBoard)</label>
                            </td>
                            <td colspan="2">
                                <input type="url" id="moveboard-url" ng-class="{'has-error': newBranchForm.moveBoardUrl.$invalid}" class="form-control form-element required" name="moveBoardUrl" placeholder="http(s)://exaple.com" ng-model="newBranch.front_url" required>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <button ng-class="{'disabled': newBranchForm.$invalid || !newBranchForm.$dirty }" class="btn btn-primary btn-lg pull-right" ng-click="createBranch()">
                                    Add new branch
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row sending-settings" ng-show="isAdministrator">
            <div class="col-lg-12">
                <h2>
                    Sending request settings
                </h2>
                <div class="sending-settings-closest-branching">
                    <form name="chooseBranchSettings">
                        <div class="col-md-12 form-group">
                            <label class="col-md-7" for="way0">To the current branch:</label>
                            <div class="col-md-5">
                                <input type="radio" ng-change="saveBranchClosestSettings()"
                                       checkstyle="green" name="closestSettings" id="way0"
                                       ichecks=""
                                       ng-model="settingsclosestbranch"
                                       value="0"/>
                                <i class="icon-question" uib-tooltip="Request will be sent to the current branch"></i>
                            </div>
                        </div>
                    <form name="chooseBranchSettings">
                        <div class="col-md-12 form-group">
                            <label class="col-md-7" for="way1">By shortest mile distance to origin:</label>
                            <div class="col-md-5">
                                <input type="radio" ng-change="saveBranchClosestSettings()"
                                        checkstyle="green" name="closestSettings" id="way1"
                                        ichecks=""
                                        ng-model="settingsclosestbranch"
                                        value="1"/>
                                <i class="icon-question" uib-tooltip="Request will be sent to the branch with shortest mile distance to the pick-up location"></i>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="col-md-7" for="way3">By shortest mile distance to destination:</label>
                            <div class="col-md-5">
                                <input type="radio" ng-change="saveBranchClosestSettings()"
                                       checkstyle="green" name="closestSettings" id="way3"
                                       ichecks=""
                                       ng-model="settingsclosestbranch"
                                       value="3"/>
                                <i class="icon-question" uib-tooltip="Request will be sent to the branch with shortest mile distance to the drop-off location"></i>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="col-md-7" for="way4">By shortest distance to origin and destination:</label>
                            <div class="col-md-5">
                                <input type="radio" ng-change="saveBranchClosestSettings()"
                                       name="closestSettings" id="way4"
                                       ichecks=""
                                       ng-model="settingsclosestbranch"
                                       value="4"/>
                                <i class="icon-question" uib-tooltip="Request will be sent to the branch with shortest mile distance - from office to origin and from destination to the office"></i>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="col-md-7" for="way2">By shortest total distance:</label>
                            <div class="col-md-5">
                                <input type="radio" ng-change="saveBranchClosestSettings()"
                                       checkstyle="green" name="closestSettings" id="way2"
                                       ichecks=""
                                       ng-model="settingsclosestbranch"
                                       value="2"/>
                                <i class="icon-question" uib-tooltip="Request will be sent to the branch with shortest mile distance - from office to origin, from origin to destination and from destination to the office"></i>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="col-md-7" for="way5">By shortest travel time:</label>
                            <div class="col-md-5">
                                <input type="radio" ng-change="saveBranchClosestSettings()"
                                       name="closestSettings" id="way5"
                                       ichecks=""
                                       ng-model="settingsclosestbranch"
                                       value="5"/>
                                <i class="icon-question" uib-tooltip="Request will be sent to the branch with the shortest total travel time - from the office to origin and from destination to office"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>