.delivery
	.agent-folio-details__toolbar
		md-toolbar.md-hue-2
			.md-toolbar-tools
				h2.agent-folio-details__toolbar__label(flex='', md-truncate='') LD Delivery

	.delivery-filters
		.delivery-filters__block
			md-input-container
				label Delivery Date from
				md-datepicker(ng-model='from' ng-change='changeFromFilter(from)' md-open-on-focus)
		.delivery-filters__block
			md-input-container
				label Delivery Date to
				md-datepicker(ng-model='to' ng-change='changeToFilter(to)' md-open-on-focus)

		.delivery-filters__block
			.delivery-filters__block__states
				.delivery-filters__block__states__label(ng-class="{'delivery-filters__block__states__label_open' : modalFromOpened == true}") Pick Up States:
				.delivery-filters__block__states__text.delivery-filters__block__states__text_over(ng-click="openModalFrom()" ng-class="{'delivery-filters__block__states__text_open' : modalFromOpened == true, 'delivery-filters__block__states__text_text-black': selectStringFrom != 'None'}") {{selectStringFrom}}
					.delivery-filters__block__states_border
			.delivery-state-modal(states-modal chosen-states="chosenStatesFrom" modal-opened="modalFromOpened" get-list="getList()")

		.delivery-filters__block
			.delivery-filters__block__states
				.delivery-filters__block__states__label(ng-class="{'delivery-filters__block__states__label_open' : modalToOpened == true}") Delivery States:
				.delivery-filters__block__states__text(ng-hide="modalFromOpened" ng-click="openModalTo()" ng-class="{'delivery-filters__block__states__text_open' : modalToOpened == true, 'delivery-filters__block__states__text_text-black': selectStringTo != 'None'}") {{selectStringTo}}
					.delivery-filters__block__states_border
			.delivery-state-modal(states-modal chosen-states="chosenStatesTo" modal-opened="modalToOpened" get-list="getList()")

		.delivery-filters__block
			md-input-container.pickup-filters__block__options
				label LD Status
				md-select(ng-model='selectedStatus' ng-change="setStatus()")
					md-option
						em(ng-value="undefined") None
					md-option(ng-value="item" ng-repeat="item in ldStatuses")
						| {{item.name}}

		.delivery-filters__block
			md-input-container.delivery-filters__block__options
				label Storage in Transit
				md-select(ng-model='selectedStorage' ng-change="setStorage()")
					md-option(ng-value="item" ng-repeat="item in storagesforOption") {{item.name}}	

		.delivery-filters__block
			.delivery-filters__block__boxes
				.delivery-filters__block__boxes_inline
					md-checkbox.md-primary(ng-model="sitOnly" ng-change="selectSitOnly(sitOnly)")
					span SIT only
				.delivery-filters__block__boxes_inline
					md-checkbox.md-primary(ng-model="deliveryOnly" ng-change="selectDeliveryOnly(deliveryOnly)")
					span Ready for delivery only
		.delivery-filters__block
			.trip-filters__block__remove-button
				md-button.md-raised(ng-click="removeFilters()")   Remove All Filters

.delivery-list-form
	.request-list-form__refresh-button
		md-button.md-primary.md-raised.md-hue-2(ng-click="getList()") Refresh
	.delivery-list
		md-progress-linear(md-mode="indeterminate" ng-if="busy")
		.delivery-list__head
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Id
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'ld_nid'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Storage
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'storage_name'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Customer
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'customer_name'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Delivery Dates
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'delivery_date'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Pick Up From
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'from_state'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Delivery To
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'to_state'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Pick Up Distance
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'distance'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Weight/ cubic feet
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'weight'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| LD Status
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'ld_status'")
			.delivery-list__head__item
				.sit-list__head__item__sort-item
					.sit-list__head__item__sort-item_left
						| Ready for Delivery
					.sit-list__head__item__sort-item_right.sit-list__head__item_pointer(sorting params="params" get-list="getList()" order="'ready_for_delivery'")
		.delivery-list__body(ng-repeat="item in jobs track by $index")
			.delivery-list__body__item(call-job-modal id="item.ld_nid" show-text="{{item.ld_nid}}")
			.delivery-list__body__item(ng-if="item.storage_name")
				| {{ item.storage_name }}
			.delivery-list__body__item(ng-if="!item.storage_name")
				.trip-list-item-body__body__item_none
					| None
			.delivery-list__body__item
				| {{ item.customer_name }}
			.delivery-list__body__item(ng-if="item.delivery_date && item.delivery_date != 0")
				span {{ (item.delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }} -
				span(ng-if="item.second_delivery_date && item.second_delivery_date != 0") {{ (item.second_delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
				.trip-list-item-body__body__item_none(ng-if="!item.second_delivery_date || item.second_delivery_date == 0")
					| None
			.delivery-list__body__item(ng-if="!item.delivery_date || item.delivery_date == 0")
				.trip-list-item-body__body__item_none
					| None
			.delivery-list__body__item
				| {{ item.address_from }}
				br
				| {{ item. from_city}}, {{item.from_state}} {{item.from_zip}}
			.delivery-list__body__item
				| {{ item.address_to }}
				br
				| {{ item. to_city}}, {{item.to_state}} {{item.to_zip}}
			.delivery-list__body__item
				.delivery-list__body__item__text {{ item.distance }}
					.delivery-list__body__item__text_text-small  miles
			.delivery-list__body__item
				| {{ item.weight }}
			.delivery-list__body__item
				.option-select
					.option-select__span
						| {{ item.ld_status_name }}
					.option-select__icon(ng-hide="!item.ld_status_color")
						ng-md-icon( icon="flag" ng-style="{'fill': item.ld_status_color}" size="20px")
			.delivery-list__body__item
				span(ng-if="item.ready_for_delivery == 1") Ready
				span(ng-if="item.ready_for_delivery == 0") Not Ready
	.delivery-list-pagination
		.pagination__totals
			span(ng-show="selectInfo.loaded")
				| from {{selectInfo.firstItemNumber}} to {{selectInfo.lastItemNumber}} of {{selectInfo.totalItems}}
		.pagination__buttons
			md-button.md-primary.md-raised.md-hue-2(
			ng-click="prevPage()"
			ng-class="{'disabled':params.page <= 1}") Prev page
			md-button.md-primary.md-raised.md-hue-2(
			ng-click="nextPage()"
			ng-class="{'disabled':params.page >= selectInfo.totalPages}") Next page