.delivery
	width 100%
.delivery-filters
	width 100
	padding-right 24px
	padding-left 24px
	padding-top 24px
	padding-bottom 15px
	display inline-flex
	flex-direction row
	flex-wrap wrap
	justify-content flex-start
	&__block
		min-width 220px
		display inline-flex
		max-height 70px
		&__states
			margin-top -3px
			display inline-flex
			flex-direction column
			justify-content flex-start
			margin-left 24px
			padding-right 24px
			padding-bottom 24px
			width 100%
			&__label
				font-size 12px
				font-weight bold
				color #787179
				transition color 0.3s 
				&_open
					color #283593
			&__text
				cursor pointer
				margin-top 10px
				font-size 16px
				color #565656
				z-index 25
				&_text-black
					color #000000
				&_open
					cursor default
				&_over
					z-index 35
			&_border
				cursor pointer
				margin-top 2px
				width 100%
				border-bottom 1px solid #ddd
		&__options
			margin-left 24px
			padding-right 24px
			width 100%
			
		&__boxes
			margin-left 24px
			padding-right 24px
			width 100%
			display inline-flex
			flex-wrap nowrap
			flex-direction column
			justify-content flex-start
			&_inline
				margin-top -5px
				display inline-flex
				flex-wrap nowrap
				flex-direction row
				justify-content flex-start
.delivery-state-modal
	position absolute
	z-index 20
	
.delivery-list-form
	margin-top 15px
	margin-left 24px
	padding-right 24px
	padding-bottom 24px
.delivery-list
	font-size 15px
	font-family Roboto,Helvetica Neue,sans-serif
	background #fff
	box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
	&__head
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		&__item
			display inline-flex
			flex-grow 1
			padding 8px
			height 56px
			justify-content center
			width 100px
			flex-direction column
			font-size 12px
			font-weight 500
			color #757575
			border-bottom 1px solid #ddd
			&:first-child
					padding-left 24px
			&:last-child
					padding-right 24px
			&__with-sort
				display inline-flex
				flex-direction row
				flex-wrap nowrap
				justify-content space-between
				&_text
					width 50%
					display inline-flex
					justify-content flex-start
				&_sort
					width 50%
					display inline-flex
					justify-content flex-end
				
				
			
	&__body
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		font-family Roboto,Helvetica Neue,sans-serif
		flex-grow 1
		min-height 54px
		&_selected
			background #F5F5F5

		&:nth-child(2n)
			background #f9f9f9
		&__item
			display flex
			flex-grow 1
			padding 8px
			width 100px
			min-height 48px
			justify-content center
			flex-direction column
			color #212121
			font-size 13px
			border-bottom 1px solid #ddd
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
				border-right 0
			&_text-red
				text-shadow 0px 0.5px 1px rgba(255, 0, 0, 0.5)
			&_text-green
				text-shadow 0px 0.5px 1px rgba(0, 255, 0, 0.5)
			&__text
				display flex
				justify-content flex-start
				flex-direction row
				&_text-small
					margin-left 3px
					margin-top 2px
					display flex
					font-size 10px
			&_hover
				cursor pointer
				&:hover
					opacity 0.8
.delivery-list-pagination
	display flex
	text-align left
	padding-left 25px
	.pagination__totals
		width 100%
		align-self center
	.pagination__buttons
		display flex