.receipts-list
	width 100%
	font-size 12px
	font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
	background #fff
	&__job-list
		transition all 1s
		max-height: 0
		&_open
			animation: open-receipts-list 0.3s forwards ease-in
		&_close
			animation: close-receipts-list 0.3s forwards ease-out
		&__head
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			width 100%
			&__item
				position relative
				display flex
				flex-grow 1
				padding 8px
				height 56px
				justify-content center
				width 100px
				flex-direction column
				font-size 12px
				font-weight 500
				border-bottom 1px solid #ddd
				&:first-child
					padding-left 24px
				&:last-child
					padding-right 24px
		&__body
			display inline-flex
			flex-direction row
			flex-wrap nowrap
			justify-content flex-start
			width 100%
			&__item
				position relative
				display flex
				flex-grow 1
				position relative
				padding 8px
				height 56px
				justify-content center
				width 100px
				flex-direction column
				font-size 12px
				font-weight 500
				border-bottom 1px solid #ddd
				&:first-child
					padding-left 24px
				&:last-child
					padding-right 24px
				&_no-border
					position relative
					padding-top 0px
					padding-bottom 0px
					border-bottom none
			&__big-elips
				position absolute
				width 30px
				border-radius: 50%
				background-color #ffda0d
				height: 30px
				padding 5px
				z-index 10
			&__smoll-elips
				position absolute
				border-radius: 50%;
				background-color: #62c257
				height: 14px;
				width 14px
				margin-left 7px
				background-color #ffda0d
				opacity 0
				transition opacity 0.4s
				&_open
					opacity 1
			&__line
				position absolute
				margin-left 13px
				width 2px
				height 150%
				background-color #ffda0d
				opacity 0
				transition opacity 0.4s
				&_open
					opacity 1
				&_top
					height 50%
					bottom 0px
				&_bottom
					height 50%
					top 0px
			&_no-border
				position relative
				padding-top 0px
				padding-bottom 0px
				border-bottom none

	&__receipt
		z-index 10
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		background #fff
		color #242a33
		&_open
			animation open_receipt 0.3s forwards
		&_close
			animation close_receipt 0.3s forwards


	&__body
		display flex
		flex-direction column
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		overflow hidden
		border-bottom 1px solid #ddd
		&_pointer
			cursor pointer

		&__line
			margin-left 13px
			width 2px
			height 100%
			position absolute
			background-color: #62c257

			&_top
				height 50%
				margin-top 15px
			&_bottom
				height 50%
				margin-top -15px

		&__title
			color #78909c

		&__item
			display flex
			flex-grow 1
			padding 5px
			position relative
			width 100px
			color #000
			justify-content center
			height 52px
			flex-direction column
			font-size 12px

			&_flex-grow
				flex-grow 0.5
			&_bigger-item
				width 180px !important

			&_switch
				width 140px
				display inline-flex
				flex-direction row
				flex-wrap nowrap
				justify-content flex-end
				align-items center
			&_actions
				display flex
				flex-direction row
				justify-content space-between
				width 220px
				max-width 220px
				align-items center
			&_pay-icon-small
				width 30px !important
			&__menu
				justify-content flex-end
				flex-direction row

			&__input
				width 100%
				text-align center

			&_pointer
				cursor pointer

			&_padding
				padding-top 20px
			&_no-border
				position relative
				padding-top 0
				padding-bottom 0
				border-bottom none
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px

.receipt-modal-form
	border 10px solid #bdbdbd
	width 500px
	&__header
		background #f0f0f0
		width 100%
		height 40px
		margin-bottom 10px
		&__tools
			height 40px
	&__info
		background white
		&__item
			min-height 30px
			&__data
				width 200px


@keyframes open-receipts-list
	from
		max-height: 0

	to
		max-height: 2000px

@keyframes close-receipts-list
	from
		max-height: 2000px
	to
		max-height: 0


@keyframes open_receipt
	from
		background #fff

	to
		background #e4e4e4

@keyframes close_receipt
	from
		background #e4e4e4

	to
		background #fff
