.receipts-list(ng-show="receipts.length > 0"  ng-class="type")
	.receipts-list__body.animationIf(ng-repeat="item in receipts track by $index" ng-if="!hidePaidInvoices(item)")
		.receipts-list__receipt(ng-class="{'receipts-list__receipt_open': item.isShowlist, 'receipts-list__receipt_close': !item.isShowlist}")
			.receipts-list__body__item.receipts-list__body__item_flex-grow
				.receipts-list__job-list__body__big-elips.receipts-list__body_pointer(ng-click="showList(item)")
					ng-md-icon.black-icon(icon="credit_card" size="20" )
				.receipts-list__job-list__body__line.receipts-list__job-list__body__line_top(ng-class="{'receipts-list__job-list__body__line_open' : item.isShowlist}")
			.receipts-list__body__item.receipts-list__body__item_bigger-item
				span.receipts-list__body__title
					| Receipt Date
				| {{item.created * 1000 | date: 'EEEE, d MMMM y' }}
			.receipts-list__body__item
				span.receipts-list__body__title
					| Total Amount
				| {{item.value.total_amount || item.value.amount | currency }}
			.receipts-list__body__item(ng-if="item.value.amount != item.value.total_amount")
				span.receipts-list__body__title
					| Partially Paid
				| {{ item.value.amount | currency }}
			.receipts-list__body__item(ng-if=" item.value.partially_paid")
				span.receipts-list__body__title
					| Rest
				.rest-value(ng-click="openCustomPayment($event, getReceiptAmount(item.value), 0, item.value.jobs, 1, false, item, false, true, isReceiptsList)") {{ getReceiptAmount(item.value) | currency }}
			.receipts-list__body__item
				span.receipts-list__body__title
					| Company
				| {{item.value.name }}
			.receipts-list__body__item
				span.receipts-list__body__title
					| Status
				span(ng-if="item.value.pending") Pending
				span(ng-if="!item.value.pending && item.value.amount != item.value.total_amount") Partially Paid
				span(ng-if="!item.value.pending && item.value.amount == item.value.total_amount") Paid
			.receipts-list__body__item
				receipt-modal(receipt='item' get-jobs="getReceipts()")
			.receipts-list__body__item
			.receipts-list__body__item
			.receipts-list__body__item
			.receipts-list__body__item
			.receipts-list__body__item.receipts-list__body__item__menu
				md-fab-speed-dial.md-icon-button.md-scale(md-open='isOpen', md-direction='left')
					md-fab-trigger
						md-button.md-icon-button(aria-label='menu')
							ng-md-icon.black-icon(icon="more_vert")
					md-fab-actions.agent-folio-details__body__item__menu__items
						md-button.md-icon-button(aria-label='Close invoice'  ng-click="removeReceipt(item.receipt_id, $event)")
							md-tooltip(md-direction="top") Delete receipt
							ng-md-icon.red-icon(icon="delete_forever")
						md-button.md-icon-button(aria-label='Close invoice'  ng-click="openCustomPayment($event, item.value.amount, item.value.total_amount, item.value.jobs, 1, item)")
							md-tooltip(md-direction="top") <Edit></Edit> receipt
							ng-md-icon.green-icon(icon="create")
						receipt-modal(receipt = 'item' is-receipts-list="true" get-jobs="getReceipts()" ng-click="$event.stopPropagation()")
		.receipts-list__job-list(ng-class="{'receipts-list__job-list_open' : item.isShowlist, 'receipts-list__job-list_close' : item.isShowlist == false}")
			.receipts-list__job-list__head
				.receipts-list__job-list__head__item.receipts-list__body__item_padding.receipts-list__job-list__head__item
					.receipts-list__job-list__body__line(ng-class="{'receipts-list__job-list__body__line_open' : item.isShowlist}")
				.receipts-list__job-list__head__item
					| Job
				.receipts-list__job-list__head__item
					| Trip
				.receipts-list__job-list__head__item
					| Owner
				.receipts-list__job-list__head__item
					| Rate per Cf
				.receipts-list__job-list__head__item
					| Volume, Cf
				.receipts-list__job-list__head__item
					| Job Cost
				.receipts-list__job-list__head__item
					| Services
				.receipts-list__job-list__head__item
					| Job Total
				.receipts-list__job-list__head__item
					| TP Collected
				.receipts-list__job-list__head__item
					| Received
				.receipts-list__job-list__head__item
					| Paid
				.receipts-list__job-list__head__item
					| To Receive
				.receipts-list__job-list__head__item
					| To Pay
				.receipts-list__job-list__head__item
					| Balance
			.receipts-list__job-list__body(ng-repeat="job in item.items track by $index")
				.receipts-list__job-list__body__item
					.receipts-list__job-list__body__smoll-elips(ng-class="{'receipts-list__job-list__body__smoll-elips_open' : item.isShowlist}")
					.receipts-list__job-list__body__line(ng-class="{'receipts-list__job-list__body__line_open' : item.isShowlist}" ng-if="job.state == 2 || job.state == 1")
					.receipts-list__job-list__body__line.receipts-list__job-list__body__line_bottom(ng-class="{'receipts-list__job-list__body__line_open' : item.isShowlist}" ng-if="job.state == 3 || job.state == 4")
				.receipts-list__job-list__body__item(call-job-modal id="job.job_id" show-text="{{job.job_id}}" ng-if="!job.delivery_job_id || job.delivery_job_id == null")
				.receipts-list__job-list__body__item(ng-if="job.delivery_job_id || job.delivery_job_id != null")
					.big-form__jobs-list__body__item__items.big-form__jobs-list__body__item_pointer(ng-click="openTpDelivery(job)")
						.big-form__jobs-list__body__item__items__inline
							span {{job.job_id}}
							span.big-form__jobs-list__body__item_margin-left-right /
							span {{job.delivery_job_id}}
				.receipts-list__job-list__body__item
					| {{ job.ld_trip_id }}
				.receipts-list__job-list__body__item
					| {{ job.owner }}
				.receipts-list__job-list__body__item
					| {{ job.rate_per_cf | currency }}
				.receipts-list__job-list__body__item
					| {{ job.volume_cf | number : 2 }}
				.receipts-list__job-list__body__item
					| {{ job.job_cost | currency }}
				.receipts-list__job-list__body__item
					| {{ job.services_total | currency }}
				.receipts-list__job-list__body__item
					| {{ job.job_total | currency }}
				.receipts-list__job-list__body__item
					| {{ job.tp_collected | currency }}
				.receipts-list__job-list__body__item
					| {{ job.received | currency }}
				.receipts-list__job-list__body__item
					| {{ job.paid | currency }}
				.receipts-list__job-list__body__item
					| {{ job.to_receive | currency }}
				.receipts-list__job-list__body__item
					| {{ job.to_pay | currency }}
				.receipts-list__job-list__body__item
					| {{ job.balance | currency }}
			.agent-folio-details__footer__directive(agent-folio-footer item="item.jobs_total" ng-if="item.items.length > 1")
.no-details(ng-hide="receipts.length > 0") No receipts
