.account-page-custom-block-wrapper
	.custom-blocks-root-container
		&__blocks
			padding 1.5em 0
			border-top 1px solid #e4e2e2
			display flex
			justify-content flex-start
			align-items center
			overflow hidden
		&__title
			align-self flex-start
		.showMore
			p
				overflow hidden
.reservation-page-custom-block-wrapper
	padding-left 40px
	width 95%
	.custom-blocks-root-container
		&__title
			color #1f78bc
			text-transform uppercase
			border-bottom 1px solid #1b75bb
			margin 10px 0
			font-family "Open sans"
			font-weight bold
			font-size 15px
			line-height 28px
		&__body
			letter-spacing 0px
			font-weight 600
			line-height 27px
			color black
			font-size 12px
			padding-left 0 !important
		.showMore
			p
				overflow hidden
