include ../../../../../../../node_modules/bemto.pug/bemto

+b.custom-blocks-root-container
	+e.blocks(ng-repeat='block in customBlocks',
				ng-if='customBlocks.length')
		+e.title(ng-if='!block.hideTitle',
				ng-class="{'col-xs-3': !isReservation}")
			| {{block.title}}
		+e.body(ng-class="{'col-xs-12': block.hideTitle && !isReservation, 'col-xs-9': !block.hideTitle && !isReservation}",
				ng-bind-html="block.body")
