<div class="valuation-table-formula-wrapper">
	<div class="valuation-table-formula-wrapper__form">
		<div class="valuation-table-formula-wrapper__form-item">
			<span>Deductible Level:</span>
			<select type="text"
					ng-model="deductibleLevel"
					class="valuation-table-formula-wrapper__input form-control">
				<option ng-repeat="header in vm.selectedTable.header track by $index"
						value="{{$index}}">
					{{header | currency}}
				</option>
			</select>
		</div>
		<div class="valuation-table-formula-wrapper__form-item">
			<span>Amount Of Liability:</span>
			<input type="text"
				   ng-model="amountOfLiability"
				   class="valuation-table-formula-wrapper__input form-control">
		</div>
		<div class="valuation-table-formula-wrapper__form-item">
			<span>Coefficient:</span>
			<input type="text"
				   ng-model="directivePresets.setting"
				   ng-change="ctrl.applySettingChanges(directivePresets)"
				   class="valuation-table-formula-wrapper__input form-control">
		</div>
		<button class="btn btn-primary valuation-table-formula-wrapper__form-button"
				ng-click="calculateValuation()">Calculate!
		</button>
		<div class="valuation-table-formula-wrapper__form-item">
			<span>Valuation charge:</span>
			<input class="valuation-table-formula-wrapper__input form-control disabled"
				   ng-model="result"
				   cc-currency>
		</div>
	</div>
</div>
