.valuation-table-formula-wrapper
	margin-bottom 1em
	&__form
		display flex
		justify-content space-between
		align-items center
	&__form-button
		align-self flex-end
		margin 0
	&__form-result
		align-self flex-end
