section.new-notes-by-role
    .panel-body.second
        ul.nav.nav-tabs
            li.note-tab-position(ng-repeat='(key, tab) in tabs track by $index', ng-class='{active: tab.selected}', ng-if='tab.show', heading='{{tab.name}}')
                a(href='', ng-click='select(key)') {{tab.name}}
        .note-tab(ng-repeat='note in notes track by $index', ng-show='note.selected')
            .add_comment.admin-comments
                .note-textarea(class='{{::note.type}}', text-angular='', ng-model='note.text', ta-toolbar='note.toobarSettings' ng-change='noteEdited()')
                button.btn.btn-primary.button-right-margin-top-one(ng-click='updateNote()') Save notes