.new-notes-by-role
	width 100%
	padding 10px 0px 10px
	margin 10px 15px 10px
	position relative
	.panel-body
		padding 0
	.note-tab-position
		position relative
		top 0px
		a
			background-color #F0F0F0 !important
			&:hover
				border none
		&.active
			border-top 1px solid #D0CECE
			border-left 1px solid #D0CECE
			border-right 1px solid #D0CECE
			border-bottom none
			border-top-left-radius 5px
			border-top-right-radius 5px
			top 2px
	.btn-group
		span
			&.bar-btn-dropdown
				&.dropdown
					&.btn
						&.btn-default
							padding 0px 5px !important
							font-size 10px
							height 13.5px
							ul
								&.dropdown-menu
									li
										button
											&.checked-dropdown
												background-color transparent
												border none
												font-size 12px
												width 100%
												text-align left
												color #565656
	.note-tab
		border 1px solid #D0CECE
		padding 15px
		.button-right-margin-top-one
			margin-bottom 0
			margin-top 15px