<div class="pageheader">
    <h1>Department </h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li>Settings</li>
            <li class="active">Department</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInUp general department" ng-controller="Department as vm">
    <!--mail wrapper start-->
    <div class="row">
        <div class="col-md-4 col-sm-12" id="compose-wrapper">
            <div class="panel">
                <aside class="panel-body">
                    <data-create-user worker-counts="vm.getWorkersCountsByPosition();"></data-create-user>
                    <ul ng-init="vm.getWorkersByPosition(vm.tempWorkers[0])"
                        class="nav nav-pills nav-stacked compose-nav">
                        <li ng-repeat="worker in vm.tempWorkers"
                            ng-class="{ 'active': currentPosition === worker}">
                            <a href="" ng-click="vm.getWorkersByPosition(worker)"> <i class="icon-user"></i>{{worker ==
                                'Administrator' ? 'Owner' : worker}}
                                <span ng-show="vm.workersCounts[worker] || vm.workersCounts[worker] == 0">({{vm.workersCounts[worker][0]}})</span>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>
            <foreman-receipts-types ng-if="currentPosition == 'Foreman'"></foreman-receipts-types>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="tab_content active" ng-class="{'active': tab.selected}">
                <section class="animated fadeInRight" edit-worker>
                    <div ng-show="loaderBusy"><img src="../../core/assets/images/loading.gif" class="busy-symbol"></div>
                    <div class="row" ng-class="{'disabled': vm.busy}">
                        <div class="col-md-12">
                            <div class="panel-wrapper-department">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                        <h3 class="panel-title pull-left" style="margin-top:8px;">{{currentPosition ==
                                            'Administrator' ? 'Owner' : currentPosition}} List</h3>
                                        <div class="select-status pull-right">
                                            <div ng-show="vm.userStatus">Active Users</div>
                                            <div ng-hide="vm.userStatus">Inactive Users</div>
                                            <input type="checkbox"
                                                   class="js-switch ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse"
                                                   ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}"
                                                   ng-model="vm.userStatus" ng-change="vm.changeUserStatus()"
                                                   id="checkOne" data-switchery="true" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="panel-body"
                                         ng-if="currentPosition != 'Helper' && currentPosition != 'Driver'">
                                        <table class="clients table table-striped mdDataTable">
                                            <thead>
                                            <tr style="background: #fff;">
                                                <th>First And Last Name</th>
                                                <th>Role</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th ng-if="currentPosition == 'Manager' || currentPosition == 'Sales' || currentPosition == 'Customer service' || currentPosition == 'Administrator'">
                                                    Auto-Assignment
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="worker in workerByPosition | toArray | orderBy: 'field_user_first_name'"
                                                ng-class="{'active_row': vm.activeRow === $index}"
                                                ng-click="vm.activeRow = $index; prepareToDelete($index)"
                                                ng-dblclick="edit(worker, $index)" style="cursor: pointer;">
                                                <td>{{worker.field_user_first_name}} {{worker.field_user_last_name}}
                                                </td>
                                                <td>
                                                    <div ng-repeat="role in worker.roles"
                                                         ng-show="role !== 'authenticated user' && role !== 'home-estimator'">{{currentPosition ==
                                                        'Customer service' ? 'customer service' : (currentPosition ==
                                                        'Administrator' ? 'owner' : role)}}
                                                    </div>
                                                </td>
                                                <td>{{worker.settings.field_primary_phone | nationalPhoneFormatter}}</td>
                                                <td ng-if="currentPosition != 'Foreman'">{{worker.mail}}</td>
                                                <td ng-if="currentPosition == 'Foreman'">{{ worker.settings.field_notification_mail || worker.mail }}</td>
                                                <td ng-if="currentPosition == 'Manager' || currentPosition == 'Sales' || currentPosition == 'Customer service' || currentPosition == 'Administrator'"
                                                    style="pointer-events: none;">
                                                    <div ng-if="worker.settings.autoassignment">
                                                        <div ng-show="worker.settings.autoassignment.isAutoAssign">
                                                            <input checkstyle="green" type="checkbox"
                                                                   class="mail-checkbox flat-green icheck" ichecks=""
                                                                   ng-model="worker.settings.autoassignment.isAutoAssign">
                                                            {{getShortServiceName(worker.settings.autoassignment.services)}}
                                                        </div>
                                                        <div ng-hide="worker.settings.autoassignment.isAutoAssign">
                                                            <input checkstyle="green" type="checkbox"
                                                                   class="mail-checkbox flat-green icheck" ichecks=""
                                                                   ng-model="worker.settings.autoassignment.isAutoAssign">
                                                        </div>
                                                    </div>
                                                    <div ng-if="!worker.settings.autoassignment">
                                                        <input checkstyle="green" type="checkbox"
                                                               class="mail-checkbox flat-green icheck" ichecks=""
                                                               ng-model="worker.settings.autoassignment">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="panel-body"
                                         ng-if="currentPosition == 'Helper' || currentPosition == 'Driver'">
                                        <table class="clients table table-striped mdDataTable">
                                            <thead>
                                            <tr style="background: #fff;">
                                                <th>First And Last Name</th>
                                                <th>Role</th>
                                                <th>Phone</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="worker in workerByPosition | toArray | orderBy: 'field_user_first_name'"
                                                ng-class="{'active_row': vm.activeRow === $index}"
                                                ng-click="vm.activeRow = $index; prepareToDelete($index)"
                                                ng-dblclick="edit(worker, $index)" style="cursor: pointer;">
                                                <td>{{worker.field_user_first_name}} {{worker.field_user_last_name}}
                                                </td>
                                                <td>
                                                    <div ng-repeat="role in worker.roles"
                                                         ng-show="role !== 'authenticated user'">{{role}}
                                                    </div>
                                                </td>
                                                <td>{{worker.settings.field_primary_phone | nationalPhoneFormatter}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!--mail wrapper end-->
</section>
