<section id="main-content" style="min-height:400px" ng-controller="MessagesController as vm" class="animated fadeInRight">

    <div class="row ">
        <div class="col-md-12">

            <div messages-page requests="vm.unreadComments"></div>
        </div>
    </div>

</section>