 <div class="panel panel-default comments-table">

     <div class=" mdDataTable">  
<div class="panel-heading">
                                <h3 class="panel-title">Requests</h3>
                         
    </div>
                            <table datatable="ng" dt-options="dtOptions">
                          <thead>
                                <tr>
                                      <th hidden>#</th>
                                      <th class="dtStatus" hidden>Status</th>
                                      <th class="dtService"hidden>Service Type</th>
                                     
                                   
                                    </tr>
                              </thead>
                              <tbody >
                                    <tr ng-click="showComments(request)" ng-class="{'active': request.nid == nid}" ng-dblclick="requestEditModal(request)" class="request" data-nid="{{request.nid}}" ng-repeat="request in requests">
                
                                    <td>{{request.nid}}</td>

                                    <td class="message"><div class="title">{{request.name}} </div>
                                    <div> {{request.from}} | {{request.to}} | {{request.move_size.value}}</div>
                                    </td>
                                    <td class="text-right"><span class="label pull-right"><span class="status_{{request.status.raw}}">{{request.status.value}}</span></span></i>
                                  <div class="arrowTable"></div>
                                    </td>
                                  
                                    </tr>
         
                              </tbody>
                            </table>
     </div>
</div>