.arrivy-settings
	&__panel-body
		padding 15px 10px
	&__input-box
		margin-bottom 10px
	&__input-label
		margin-left 5px
	&__text-input
		width 200px
	&__message-box
		position relative
		left 20px
		top 7px
		color #982b1f
	&__tooltip-foreman
		margin-left 5px
	&__button-box
		min-height 40px

