include ../../../../../default.pug

+b('section').arrivy-settings
	div(ng-show='busy')
		.busyoverlay-search
			svg.spinner(width='65px', height='65px', viewbox='0 0 66 66', xmlns='http://www.w3.org/2000/svg')
				circle.path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')
	+e.panel-body.minimal
		.saving-progress
			span(ng-show="saving") Saving
			span.animated.fadeIn(ng-show="saved") Saved!
		.parsing_settings
			.form-group.cusermodal-department
				.form-group
					+e.input-box.row
						.col-sm-4.control-label
							label Authorization Key:
						.col-sm-8
							+e('input').text-input.form-control(type="text" ng-model="arrivy.arrivy_authorization_key" ng-disabled="arrivy.arrivy_connection_status || busy")
					+e.input-box.row
						.col-sm-4.control-label
							label Authorization Token:
						.col-sm-8
							+e('input').text-input.form-control(type="text" ng-model="arrivy.arrivy_authorization_token" ng-disabled="arrivy.arrivy_connection_status || busy")
					+e.input-box.row
						.col-sm-4
							input.mail-checkbox.icheckbox_flat-green.icheck.ng-valid.ng-touched.ng-dirty.ng-valid-parse(checkstyle="green" type="checkbox" ichecks="" ng-model="arrivy.arrivy_sms_notification" ng-disabled="busy")
							+e('span').input-label Turn on SMS notification
					+e.input-box.row
						.col-sm-4
							input.mail-checkbox.icheckbox_flat-green.icheck.ng-valid.ng-touched.ng-dirty.ng-valid-parse(checkstyle="green" type="checkbox" ichecks="" ng-model="arrivy.arrivy_email_notification" ng-disabled="busy")
							+e('span').input-label Turn on Email notification
			+e.button-box.form-group.cusermodal-department
				.pull-left
					button.btn.btn-primary(ng-click="connect()" ng-if="!arrivy.arrivy_connection_status" ng-disabled="busy") Connect
					button.btn.btn-primary(ng-click="disconnect()" ng-if="arrivy.arrivy_connection_status" ng-disabled="busy") Disconnect
				.pull-right
					button.btn.btn-primary(ng-click="save()" ng-disabled="busy") Save
