<div class="btn-group dropup" uib-dropdown is-open="$ctrl.isOpen">
    <button ng-style="{'background-color': $ctrl.color}" id="single-button"  type="button" class="btn btn-primary" uib-dropdown-toggle>
        <i class="fa fa-paint-brush" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <div class="color-group">
            <div class="color"
                 ng-repeat="color in $ctrl.colors track by $index"
                 ng-style="{'background-color': color}"
                 ng-class="{'selected': color === $ctrl.color}"
                 ng-click="$event.stopPropagation(); $ctrl.bindToModel(color)">
                <i class="fa fa-check fa-2x" aria-hidden="true"></i> 
            </div>
        </div>
    </div>
</div>
