<section id="main-content"  style="min-height:400px" ng-controller="SearchController as vm" class="animated fadeInRight">
   <div class="busyoverlay" ng-show="vm.busy">
      <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
         <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
   </div>
   <div class="row animated fadeInRight" ng-show="!vm.busy" ng-class="{'disabled': vm.busy}">
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h3 class="panel-title">Search Requests</h3>
            </div>
            <div class="mdDataTable" cc-requests-datatable  dtinstance="vm.dtInstance" requests="vm.requests" displayLength="20"></div>
         </div>
      </div>
   </div>
</section>