<div class="dispatch-logs-full-view-item">
	<div class="dispatch-logs-full-view-item__short-view">
		<span ng-if="isShowNID" class="dispatch-logs-full-view-item__short-view_nid">#{{log.nid}}</span>
		{{log | shortViewDispatchLog}}
	</div>
	<div class="dispatch-logs-full-view-item__full-view-container">
		<div class="dispatch-logs-full-view-item__full-view-item"
             ng-if="fullLog | fullViewDispatchLog"
             ng-repeat="fullLog in log.data.fullLogs">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                {{fullLog | fullViewDispatchLog}}
		</div>
	</div>
</div>
