.dispatch-logs-full-view-item
	padding 10px 5px
	margin-bottom 5px
	background-color #ebebeb00
	border 1px solid #d8d3d3
	&__short-view
		font-size 16px
		font-weight 700
		&_nid
			font-weight 700
	&__full-view-container
		padding-left 30px
		font-size 14px
	&__full-view-item
		justify-content flex-start
		font-size 14px
		font-weight 600