.truck__unavailable-item.request-status__unavailabale(ng-style="{'width': item.width + 'px', 'margin-left': item.margin + 'px'}")
	.truck__item__unavailable-text
		.truck__item__unavailable-text__text(ng-repeat="num in item.unavailable_labels_count track by $index") UNAVAILABLE