.elromco-dots
	display flex
	flex-direction column
	justify-content center
	width 100%
	
	&__contaier
		display flex
		flex-direction row
		justify-content center
		width 100%
		
	&__item
		background #c2cac7
		display flex
		width 10px
		height 10px
		margin 0 5px
		border-radius 50%
		cursor pointer
		
		&_active
			animation: dot_active 0.1s forwards ease-in
			
@keyframes dot_active
	from
		width 10px
		height 10px
		background #c2cac7

	to
		width 14px
		height 14px
		background #4caf50
		margin 0 3px
		margin-top -2px