<div class="er-messages-thread">
	<div class="er-messages-thread__item-wrapper" ng-class="{'er-messages-thread__item-wrapper_left': isLeftSide(message)}" ng-repeat="message in messages | reverse">
		<er-message-item></er-message-item>
	</div>
	<div ng-show="isEmpty(messages)" class="er-messages-thread__empty">
		<div>No Messages</div>
		<i class="fa fa-comments-o"></i>
	</div>
</div>
