.er-messages-thread
	color white
	flex 1 1 20%
	display flex
	flex-direction column
	overflow auto
	&__item-wrapper
		padding 1px 20px
		align-self flex-end
		max-width 95%
		&_left
			align-self start
