@media all and (max-width: 860px) {
  .edit-request-main {
    font-size: 0.55em !important;
  }
  .edit-request-main .actions i {
    font-size: 1em !important;
  }
  .movecalc_edit_form .date_header {
    font-size: 0.65em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  .movecalc_edit_form .date_header .lotstats,
  .movecalc_edit_form .date_header h3,
  .movecalc_edit_form .date_header button.btn.btn-update.btn-3d {
    margin: 0;
  }
  .movecalc_edit_form .date_header h3 .fa-calendar input {
    width: auto;
  }
  .movecalc_edit_form .date_header a.go-next-day {
    margin-right: 0;
  }
  .movecalc_edit_form .date_header button.btn.btn-update.btn-3d {
    font-size: 0.85em;
    padding: 4px;
  }
  .movecalc_edit_form .parklot_timing .form-item {
    width: 14.2857% !important;
    height: 50px !important;
    padding: 0;
    margin: 0 5px;
  }
  .movecalc_edit_form .parklot_timing .form-item:first-of-type input {
    width: 65px !important;
  }
  .movecalc_edit_form .parklot_timing .form-item:nth-of-type(2) {
    width: 35% !important;
  }
  .movecalc_edit_form .parklot_timing .form-item:nth-of-type(3) {
    width: 26% !important;
  }
  .movecalc_edit_form .parklot_timing .form-item label {
    width: 100% !important;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
  }
}
