mixin inventory-item-add-button()
	+e.col(ng-show="::item.type != undefined" ng-class="{disabled: item.isCannotEdit}")
		.js-add-button
			+inventory-button({
				text: 'Add Item',
				style: 'transparent'
			})(ng-click="onClickCounter(1)").js-counter
		+b.counter.js-counter-conteiner.simple-item
			+e('button').button(ng-click="onClickCounter(-1)")
				+e.minus
			+e('input').input(type='text', maxlength='4', data-max="1000", ng-model='item.count', ng-model-options="{ updateOn: 'blur' }", ng-change='manualUpdate()', er-only-digit)
			+e('button').button(ng-click="onClickCounter(1)")
				+e.plus
