include ../../../../../default.pug
include ../../aside/aside.pug
include ../../button/button.pug
include ./inventory-item-add-buttons.pug
include ./inventory-item-filter-name.pug

+inventory-item-filter-name()

+b.new-inventory-item(ng-show="::item.type != undeined")
	+e.visible
		+e.extraservice.js-extraservice
			| $
			span(ng-bind="::item.extra_service")
			br
			| Extra Service
		+e.header(ng-show="::item.type == 0")
			+e('img').item-image(ng-src="{{::item.image_link}}")
			+e.info
				+e.title_name(ng-bind="::item.name")
				+e.title(ng-if='!isAccount')
					| c.f.:
					span(ng-bind="::item.cf")
					| /lbs:
					span(ng-bind="::item.cf * 7")
				+e.title(ng-if='false && !isAccount')
					| Handle fee:
					span(ng-bind="::item.cf")
				+e.title(ng-if='false && !isAccount')
					| Packing fee:
					span(ng-bind="::item.packing_fee")

		+e.header(ng-show="::item.type == 1")
			+e('img').item-image(ng-src="{{::item.image_link}}")
			+e.info
				+e.title_name(ng-bind="::itemName")
				+e.title(ng-if='!isAccount')
					| c.f.:
					span(ng-bind="::item.cf")
					| /lbs:
					span(ng-bind="::item.cf * 7")

		+e.header(ng-show="::item.type == 2")
			+e('img').item-image(ng-src="{{::item.image_link}}")
			+e.info
				+e.title_name(ng-bind="::item.name")
				+e.title(ng-if='!isAccount')
					| c.f.:
					span(ng-bind="::item.cf")
					| /lbs
					span(ng-bind="::item.cf * 7")

		+inventory-item-add-button()
