<md-content class="payments-table-wrapper">
    <md-table-container>
        <table md-table class="payments-table">
            <thead md-head>
                <tr md-row>
                    <th md-column></th>
                    <th md-column ng-click="$ctrl.sort('entity_id')">
                        <span sorting-arrows="$ctrl.column.entity_id">Order #</span>
                    </th>
                    <th md-column ng-click="$ctrl.sort('customer_name')">
                        <span sorting-arrows="$ctrl.column.customer_name">Customer Name</span>
                    </th>
                    <th md-column ng-click="$ctrl.sort('payment_method')">
                        <span sorting-arrows="$ctrl.column.payment_method">Payment Type</span>
                    </th>
                    <th md-column>
                        Payment by
                    </th>
                    <th md-column ng-click="$ctrl.sort('transaction_id')">
                        <span sorting-arrows="$ctrl.column.transaction_id">ID transaction</span>
                    </th>
                    <th md-column ng-click="$ctrl.sort('created')" class="payment-date-column">
                        <span sorting-arrows="$ctrl.column.created">Date</span>
                    </th>
                    <th md-column ng-click="$ctrl.sort('amount')">
                        <span sorting-arrows="$ctrl.column.amount">Amount</span>
                    </th>
                    <th md-column ng-click="$ctrl.sort('description')">
                        <span sorting-arrows="$ctrl.column.description">Notes</span>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row
                    ng-repeat="payment in $ctrl.paymentsData.items | orderBy: $ctrl.order track by $index"
                    class="payment-row" ng-click="$ctrl.openReceits($index, $event)">
                    <td md-cell>
                        <div class="table-icon-container cash" ng-if="payment.refunds != 1 && payment.payment_method == $ctrl.paymentsType[1]">
                            <i class="fa fa-money cash-icon"></i>
                        </div>
                        <div class="table-icon-container credit-card" ng-if="payment.refunds != 1 && payment.payment_method == $ctrl.paymentsType[0]">
                            <i class="icon-credit-card credit-icon"></i>
                        </div>
                        <div class="table-icon-container check" ng-if="payment.refunds != 1 && payment.payment_method == $ctrl.paymentsType[2]">
                            <i class="fa fa-pencil-square-o check-icon"></i>
                        </div>
                        <div class="table-icon-container custom" ng-if="payment.refunds != 1 && payment.payment_method == $ctrl.paymentsType[3]">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="table-icon-container refund" ng-if="payment.refunds == 1">
                            <i class="fa fa-money cash-icon"></i>
                        </div>
                    </td>
                    <td md-cell ng-if="payment.entity_type == $ctrl.sit"
                        ng-click="$ctrl.goToTripPlanner(payment.entity_id)" class="td-order">{{payment.entity_id}}</td>
                    <td md-cell ng-if="payment.entity_type == $ctrl.storage"
                        ng-click="$ctrl.openStorageRequest($index)" class="td-order">{{payment.entity_id}}</td>
                    <td md-cell ng-if="payment.entity_type != $ctrl.sit && payment.entity_type != $ctrl.storage"
                                open-request="payment.entity_id" class="td-order">{{payment.entity_id}}</td>
                    <td md-cell>{{payment.customer_name}}</td>
                    <td md-cell>{{payment.payment_method}}</td>
                    <td md-cell>{{payment.paymentBy || '-'}}</td>
                    <td md-cell>{{payment.transaction_id || '-'}}</td>
                    <td md-cell>{{payment.created}}</td>
                    <td md-cell>{{payment.amount | currency}}</td>
                    <td md-cell>{{payment.description || '-'}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <div class="payments-collected-table-footer">
        <div class="table-footer-total">
            <span>From {{$ctrl.totalFrom()}}</span>
            <span>to {{$ctrl.totalTo()}}</span>
            <span>of {{$ctrl.paymentsData.meta.totalCount}}</span>
        </div>
        <div class="btn-footer-group">
            <md-button class="md-primary md-raised md-hue-2 md-button md-ink-ripple"
                       ng-click="$ctrl.prevPage()">Prev page
            </md-button>
            <md-button class="md-primary md-raised md-hue-2 md-button md-ink-ripple"
                       ng-click="$ctrl.nextPage()">Next page
            </md-button>
        </div>
    </div>
</md-content>
