.payments-table-wrapper {
	background: rgb(255, 255, 255);
	font-family: Roboto, "Helvetica Neue", sans-serif;

	.payments-table {
		.payment-date-column {
			min-width: 150px;
		}

		.table-icon-container {
			position: absolute;
			width: 30px;
			height: 30px;
			border-radius: 50%;
		}

		.cash, .credit-card, .check, .custom, .refund {
			position: relative;
			top: 3px;
			font-size: 20px;
		}

		.cash {
			background-color: #6cda6c;
		}

		.credit-card {
			background-color: #6eb7f3;
		}

		.check {
			color: #000;
			background-color: #ffd54f;
		}

		.refund {
			background-color: #ff7f7f;
		}

		.custom {
			background-color: purple;
		}

		.credit-icon, .check-icon, .cash-icon {
			position: relative;
		}

		.credit-icon {
			top: 3px;
		}

		.check-icon {
			top: 1px;
			left: 2px;
		}

		.cash-icon {
			top: 1px;
		}

		th, td {
			cursor: pointer;
			text-align: center !important;
		}

		tr.payment-row {
			height: 43px;
			&:nth-child(odd) {
				background: #eee;
			}

			&:hover {
				background-color: #def0ff;
			}
		}
	}

	.payments-collected-table-footer {
		display: flex;
		justify-content: space-between;

		.table-footer-total, .btn-footer-group {
			margin: 25px;
		}
	}
}
