.payments-table-wrapper {
  background: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.payments-table-wrapper .payments-table .payment-date-column {
  min-width: 150px;
}

.payments-table-wrapper .payments-table .table-icon-container {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.payments-table-wrapper .payments-table .cash, .payments-table-wrapper .payments-table .credit-card, .payments-table-wrapper .payments-table .check, .payments-table-wrapper .payments-table .custom, .payments-table-wrapper .payments-table .refund {
  position: relative;
  top: 3px;
  font-size: 20px;
}

.payments-table-wrapper .payments-table .cash {
  background-color: #6cda6c;
}

.payments-table-wrapper .payments-table .credit-card {
  background-color: #6eb7f3;
}

.payments-table-wrapper .payments-table .check {
  color: #000;
  background-color: #ffd54f;
}

.payments-table-wrapper .payments-table .refund {
  background-color: #ff7f7f;
}

.payments-table-wrapper .payments-table .custom {
  background-color: purple;
}

.payments-table-wrapper .payments-table .credit-icon, .payments-table-wrapper .payments-table .check-icon, .payments-table-wrapper .payments-table .cash-icon {
  position: relative;
}

.payments-table-wrapper .payments-table .credit-icon {
  top: 3px;
}

.payments-table-wrapper .payments-table .check-icon {
  top: 1px;
  left: 2px;
}

.payments-table-wrapper .payments-table .cash-icon {
  top: 1px;
}

.payments-table-wrapper .payments-table th, .payments-table-wrapper .payments-table td {
  cursor: pointer;
  text-align: center !important;
}

.payments-table-wrapper .payments-table tr.payment-row {
  height: 43px;
}

.payments-table-wrapper .payments-table tr.payment-row:nth-child(odd) {
  background: #eee;
}

.payments-table-wrapper .payments-table tr.payment-row:hover {
  background-color: #def0ff;
}

.payments-table-wrapper .payments-collected-table-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payments-table-wrapper .payments-collected-table-footer .table-footer-total, .payments-table-wrapper .payments-collected-table-footer .btn-footer-group {
  margin: 25px;
}
/*# sourceMappingURL=tablePaymentsCollected.css.map */