<section class="main-content-wrapper pending animated fadeInDown">
    <div class="pageheader">
        <h1>Storage Payment Collected</h1>
    </div>
    <div ng-show="pending.busy">
        <div class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
                        r="30"></circle>
            </svg>
        </div>
    </div>
    <section id="main-content">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="panel panel-default" id="payment_collected">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <span>Date From:</span>
                                    <input type="text" class="form-control date"
                                           uib-datepicker-popup="mediumDate" ng-model="dateFrom"
                                           is-open="openedFrom" ng-click="openedFrom = !openedFrom"
                                           placeholder="Date Range From"
                                           datepicker-options="dateFromOptions" close-text="Close"
                                           ng-change="changeDate()">
                                </div>
                                <div class="col-md-6">
                                    <span>Date To:</span>
                                    <input type="text" class="form-control date"
                                           uib-datepicker-popup="mediumDate" ng-model="dateTo"
                                           is-open="openedTo" ng-click="openedTo = !openedTo"
                                           placeholder="Date Range To"
                                           datepicker-options="dateToOptions" close-text="Close"
                                           ng-change="changeDate()">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span class="total-recurring pull-right">Total: ${{totalAmount  | number : 2}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="icon-refresh-payment" ng-click="getPayments();">
                                <i class="fa fa-refresh" ng-class="{'fa-spin': busy}" ></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body mdDataTable">
                        <table datatable="ng" dt-options="dtOptions">
                            <thead>
                            <tr>
                                <th>Tenant Ref. #</th>
                                <th>Order #</th>
                                <th>Customer Name</th>
                                <th>Payment Type</th>
                                <th>Credit Card</th>
                                <th>Auhtorize.Net #</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="pendingRow request" ng-repeat="(id, request)  in requests track by $index"
                                ng-class="{'disabled':busy, 'active_row' : clicked == request.id}" ng-click="openStorageRequest(request.id, request.entity_id)">
                                <td>{{request.entity_id}}</td>
                                <td>{{request.move_request_id}}</td>
                                <td>{{request.receipt.name}}</td>
                                <td>
                                    <span ng-if="request.receipt.transaction_id != 'Custom Payment'">
                                        {{request.receipt.card_type}}
                                    </span>
                                    <span ng-if="request.receipt.transaction_id == 'Custom Payment'">
                                        {{request.receipt.transaction_id}}
                                    </span>
                                </td>
                                <td>
                                    <span ng-if="request.receipt.ccardN">
                                        ****{{request.receipt.ccardN}}
                                    </span>
                                </td>
                                <td>
                                    <span ng-if="request.receipt.transaction_id != 'Custom Payment'">
                                        {{request.receipt.transaction_id}}
                                    </span>
                                </td>
                                <td>{{dateFormatter(request.created)}}</td>
                                <td>$<span ng-if="request.receipt.refunds">-</span>{{request.receipt.amount | number : 2}}</td>
                                <td>{{request.receipt.description}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7">
                                    <b class="pull-right">
                                        Total:
                                    </b>
                                </td>
                                <td>
                                    <b>
                                        ${{totalAmount | number : 2}}
                                    </b>
                                </td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
