.payment-tabs-totals
    .payment-tabs-totals__big-label Carrier Total:
    .payment-tabs-totals__column
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | Volume, Cf:
            .payment-tabs-totals__value
                | {{ defaultTotal.volume_cf }}
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | Job Cost:
            .payment-tabs-totals__value
                | {{ defaultTotal.job_cost | currency }}
    .payment-tabs-totals__column
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | Services: 
            .payment-tabs-totals__value
                | {{ defaultTotal.services_total | currency }}
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | Job Total: 
            .payment-tabs-totals__value
                | {{ defaultTotal.job_total | currency }}
    .payment-tabs-totals__column
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | TP Collected:
            .payment-tabs-totals__value
                | {{ defaultTotal.tp_collected | currency }}
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | Received:
            .payment-tabs-totals__value
                | {{ defaultTotal.received | currency }}
    .payment-tabs-totals__column
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | Paid:
            .payment-tabs-totals__value
                | {{ defaultTotal.paid | currency }}
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | To Receive: 
            .payment-tabs-totals__value
                | {{ defaultTotal.to_receive | currency }}
    .payment-tabs-totals__column
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | To Pay: 
            .payment-tabs-totals__value
                | {{ defaultTotal.to_pay | currency }}
        .payment-tabs-totals__column__item
            .payment-tabs-totals__label
                | Balance: 
            .payment-tabs-totals__value
                | {{ defaultTotal.balance | currency }}