.payment-tabs-totals
	position relative
	margin-top 15px
	display inline-flex
	flex-direction row
	justify-content flex-end
	width 100%
	background-color #e4e4e4
	&__big-label
		position absolute
		left 24px
		margin-top 10px
		font-size 18px
		font-weight 500
		color #616161
	&__column
		padding-top 5px
		padding-bottom 5px
		display flex
		flex-direction column
		justify-content flex-start
		min-width 200px
		&__item
			display flex
			flex-direction row
			justify-content flex-start
			flex-wrap nowrap
	&__label
		color #616161
		font-size 11px
		font-weight 400
	&__value
		align-items center
		margin-left 5px
		color black
