.setting-inventory-item
	background #fff
	padding 2px
	padding-top 8px

	&__icon
		width 25px
		height 25px
	&__item
		width $invWidth
		height 160px

	&__item-image
		width 110px
		min-width 110px
		height 110px
		min-height 110px
		padding 4px

	&__title
		display block
		float right
		width 100%
		text-align center
		font-size 18px
		word-break break-word
		
		&_name
			font-weight 700
			margin-bottom 5px
	&__col
		padding 10px
	
	&__remove
		float right
		margin-left 2px
		
	&__info
		display flex
		flex-direction column
		max-height 110px
		overflow-y auto
		&::-webkit-scrollbar-button
			background-repeat no-repeat
			width 5px
			height 0px
		&::-webkit-scrollbar-track
			background-color #ecedee
		&::-webkit-scrollbar-thumb
			-webkit-border-radius 0px
			border-radius 0px
			background-color #2392ba
		&::-webkit-scrollbar-thumb:hover
			background-color #56999f
		&::-webkit-scrollbar
			width 4px
	&__header
		display flex
		justify-content space-around

