include ../../../../../default.pug
include ../../../../newInventories/directive/button/button.pug


+b.setting-inventory-item
	+e.item
		+e('i').remove(ng-show="isCustom(item)" ng-click="removeCustomItem(item)" aria-hidden="true").fa.fa-times
		+e.header
			+e('img').item-image(ng-src="{{item.image_link}}")
			+e.info
				+e.title_name
					| {{ item.name }}
				+e.title
					| Cubic feet: {{ item.cf }}
				+e.title(ng-if='false')
					| Handle fee: {{ item.handle_fee }}
				+e.title(ng-if='false')
					| Packing fee: {{ item.packing_fee }}
				+e.title
					| Extra Service fee: {{ item.extra_service }}

		+e.col
			div(
				ng-if="!showAdd"
				)
				+inventory-button({
					text: 'Edit Item',
					style: 'transparent'
				})(
					inventory-create-item
					mode = "edit"
					filters = "filters"
					edit-inventory-item = "item" ng-if="item.type == 0")
				+inventory-button({
					text: 'Edit Item',
					style: 'transparent'
				})(
				inventory-create-box
				mode = "edit"
				filters = "filters"
				edit-inventory-item="item" ng-if="item.type == 2")
			+b.counter.js-counter(ng-if="showAdd")
				+e('button').button.js-counter-minus(
					ng-click='changeValue(-1, item)'
					)
					+e.minus
				+e('input').input.js-counter-input(
					type='text'
					maxlength='4'
					data-max="1000"
					ng-model="item.count"
				)
				+e('button').button.js-counter-plus(
					ng-click="changeValue(1, item)"
					)
					+e.plus
