.header.clndr-ang-controls
	span.month {{::month.format("MMMM, YYYY")}}
	label.checkbox-inline
		input(type="checkbox" ng-model="monthStatus" ng-click="setMonth(weeks, month, $event)")
		| ON/OFF
.clndr-ang-grid
	.week.names.days-of-the-week
		span.header-day Sun
		span.header-day Mon
		span.header-day Tue
		span.header-day Wed
		span.header-day Thu
		span.header-day Fri
		span.header-day Sat
	.week.empty(ng-if="weeks.length < 6")
		span.day.different-month(ng-class="{'different-month': !day.isCurrentMonth }" ng-click="showPopup(day, $event)" ng-repeat="day in ::week.days")
	.week(ng-repeat="week in weeks")
		span.day(ng-class="{'different-month': !day.isCurrentMonth, 'notavail' : day.type, 'blocked-date' : day.blocked  }" ng-click="createArray(day,$event)" ng-repeat="day in ::week.days")
			| {{::day.number}}