<div class="col-lg-12">
	<div class="extra-signatures-settings">
		<div class="panel panel-default">
			<div class="panel-heading extra-signatures-settings__heading">
				<h3 class="panel-title">
					Estimate Signatures
				</h3>
				<er-saving-progress saving="saving"></er-saving-progress>
				<i class="fa fa-info-circle" aria-hidden="true" tooltip-placement="left" uib-tooltip="This setting is responsible for a client's Estimate Signatures."></i>
			</div>
			<div busy-overlay="busy"></div>
			<div class="panel-body" ng-if="!busy">
				<div class="extra-signatures-settings__global-enable">
					<div class="extra-signatures-settings__global-enable_title">Enable Estimate Signatures</div>
					<div class="extra-signatures-settings__global-enable_checkbox">
						<input type="checkbox" id="visible" class="js-switch" ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}" ng-model='settings.isEnable' data-switchery='true' style='display: none;' ng-change="saveSetting()">
					</div>
				</div>
				<extra-signature-setting-item ng-repeat="(id, item) in settings.extraSignaturesByServiceTypes"></extra-signature-setting-item>
			</div>
		</div>
	</div>
</div>
