.extra-signatures-settings
	.extra-signatures-settings__heading
		background-color #556b8d
		color #fff
		border-radius 0
		display flex
		justify-content space-between
		position relative
		.er-saving-progress
			right 50px
	&__global-enable
		display flex
		&_title
			margin-right 10px
			font-family Montserrat,sans-serif
			color #424856
			font-size 1em
