.pageheader
	h1 Lead Scoring Settings
	.breadcrumb-wrapper.hidden-xs
		span.label You are here:
		ol.breadcrumb
			li Settings
			li.active Lead Scoring

section.animated.fadeInUp.general.calcsettings.long_distance_Lists(id="main-content")
	div.row.col-md-12.nopadding
		div.col-md-12.col-sm-12(id="inbox-wrapper")
			div.tab_content.active
				lead-scoring-rules