<div ng-show="busy">
    <div class="busyoverlay">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
</div>
<div ng-class="{'disabled': busy}" id="extra-service-modal">
    <div class="modal-header gray">
        <h2>Additional Services</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8" style="font-weight: 600;padding: 10px;">
                Request #{{request.nid}}
            </div>
            <div class="col-md-4 pull-right " style="font-weight: 600;padding: 10px;">
                Total Services : ${{total_services | number : 2}}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4 nopadding">
            <div class="inside_box">
                <h2 class="small_box_header text_center">Click to add service charge</h2>
                <div class="charge_list">
                    <li ng-repeat="extra_charge in extra_charges" class="extra_list"
                        ng-click="addExtraCharges(extra_charge)">
                        {{extra_charge.name}}
                    </li>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="inside_box" ng-form name="formChargeBox">
                <h2 class="small_box_header text_center">Additional service charge</h2>
                <div ng-repeat="add_extra_charge in add_extra_charges track by $index">
                    <div class="addcharege_box">
                        <table style="width: 100%;position: relative;" ng-form name="smallChargeForm{{$index}}">
                            <thead>
                            <tr>
                                <th style="padding-bottom: 5px;">Charge Name</th>
                                <th class="value">{{add_extra_charge.extra_services[0].services_name}}</th>
                                <th class="value">
                                    <span ng-hide="!add_extra_charge.extra_services[1].services_name">{{add_extra_charge.extra_services[1].services_name}}</span>
                                </th>
                                <th class="value">
                                    <span ng-hide="!add_extra_charge.extra_services[2].services_name">{{add_extra_charge.extra_services[2].services_name}}</span>
                                </th>
                                <th class="value">Total</th>
                                <th class="remove_charge" ng-click="removeCharge($index);">X</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input ng-class="{'disabled':!add_extra_charge.edit}"
                                           ng-model="add_extra_charge.name"></td>
                                <td>
                                    <input cc-currency type="text"
                                           ng-model="add_extra_charge.extra_services[0].services_default_value"
                                           ng-class="{'disabled':add_extra_charge.extra_services[0].services_read_only, 'has-error': costField.$invalid}"
                                           name="costField"
                                           ng-blur="editPackingLog('Cost', add_extra_charge, '$'+add_extra_charge.extra_services[0].services_default_value)">
                                </td>
                                <td style="padding-left: 5px;padding-right: 5px;">
                                    <input ng-model="add_extra_charge.extra_services[1].services_default_value"
                                           ng-class="{'disabled':add_extra_charge.extra_services[1].services_read_only, 'has-error': valueField.$invalid}"
                                           ng-if="add_extra_charge.extra_services[1].services_name"
                                           name="valueField"
                                           er-only-float decimals="3" required
                                           ng-blur="editPackingLog('Value', add_extra_charge, '$'+add_extra_charge.extra_services[1].services_default_value)">
                                </td>
                                <td>
                                    <input ng-if="add_extra_charge.extra_services[2].services_name"
                                           ng-model="add_extra_charge.extra_services[2].services_default_value"
                                           ng-class="{'disabled':add_extra_charge.extra_services[2].services_read_only, 'has-error': weightField.$invalid}"
                                           name="weightField"
                                           type="number" min="0" required
                                           ng-blur="editPackingLog('Weight', add_extra_charge, add_extra_charge.extra_services[2].services_default_value)">
                                </td>
                                <td>${{calculateRowTotal(add_extra_charge) | number : 2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- list of additionla services Charges-->
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save()" ng-class="{'disabled': formChargeBox.$invalid || Job_Completed}">Ok</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
