include ../../../../../../../node_modules/bemto.pug/bemto

+b.in-home-estimate-edit-request-wrapper
    +e.client-info-box.gray.border-bottom-wet-asphalt
        +e('span').client-info.name
            +e('i').margin-right.icon-user
            | {{request.name}}
        +e('span').client-info.mail
            +e('i').margin-right.fa.fa-fw.fa-envelope-o
            | {{request.email | limitTo:25}}
        +e('span').client-info.phone
            +e('i').margin-right.icon-screen-smartphone
            a(href='tel:{{request.phone}}') {{request.phone | nationalPhoneFormatter}}
        +e('span').client-info.inhome-request-portal-status
            +e('i').margin-right.icon-flag
            | {{fieldData.field_lists.field_approve[request.status.raw]}}
        +e('span').client-info.current-request-flag(uib-dropdown, on-toggle="toggled(open)")
            a(href='#', uib-dropdown-toggle)
                span(ng-style="{'color': currentFlag.color}")
                i.fa.fa-flag.margin-right-flag
                | {{currentFlag.name}}
            ul.dropdown-menu(uib-dropdown-menu,
                            class="dropdown-menu-right",
                            aria-labelledby="simple-dropdown")
                li
                    a(href='javascript:void(0)', ng-click='removeFlag(request.nid)')
                        | remove flag
                    hr.dropdown-hr
                li(ng-repeat='(key, flag) in companyFlags track by $index')
                    a(href='javascript:void(0)', ng-click='changeFlag(flag)', ng-style="{color: flag.color}")
                        | {{flag.name}}
                    hr(ng-hide='companyFlags.length === key + 1')
    +e('button').button-in-home-estimate.rounded.bottom-right.blue(ng-click='saveChanges()')
        img(src="../../src/update.png")
    +e('button').button-in-home-estimate.rounded.bottom-right-more.wet-asphalt(ng-click='openReservationPage()', ng-if='showReservationBtn')
        img(src="../../src/pen.png")
    +e('button').button-in-home-estimate.rounded.bottom-left.grey(ng-click='cancel()')
        img(src="../../src/home-white.png")
+b.in-home-estimate-main-content-wrapper
    +e('ul').in-home-estimate-request.nav.nav-tabs
        +e('li').tab-control(ng-class="{'active': tabs[0].selected}", heading="{{tabs[0].name}}")
            +e('a').header(href='javascript:void(0)', ng-click="select(tabs[0])")
                | {{tabs[0].name}}
        +e('li').tab-control(ng-class="{'active': tabs[6].selected, 'disabled': disableTabs}",
                            heading="{{tabs[6].name}}",
                            ng-show="request.service_type.raw == 5")
            +e('a').header(href='javascript:void(0)', ng-click="select(tabs[6])")
                | {{tabs[6].name}}
        +e('li').tab-control(ng-class="{'active': tabs[1].selected, 'disabled': disableTabs}", heading="{{tabs[1].name}}")
            +e('span').inventory-length.inventoryfill(ng-show="request.inventory.inventory_list.length")
                i.fa.fa-bolt
                | {{request.inventory_weight.cfs}}
            +e('span').inventory-radio.inventoryfill.inventoryfill_left(ng-show="isHaveRedPiano")
                img(src="/moveBoard/content/img/icons/piano-alert.png")
            +e('a').header(href='javascript:void(0)',
                        ng-click="select(tabs[1])",
                        ng-class="{'inventory_filled':request.inventory.inventory_list.length}",
                        ui-sref="inhome.estimator-inventory({id: {{request.nid}} })",
                        ng-if="request.field_request_settings.inventoryVersion == 2")
                | {{tabs[1].name}}
            +e('a').header(href="javascript:void(0)",
                        ng-if="request.field_request_settings.inventoryVersion != 2",
                        ng-click="select(tabs[1])",
                        ng-class="{'inventory_filled':request.inventory.inventory_list.length}")
                | {{tabs[1].name}}
        +e('li').tab-control(ng-class="{'active': tabs[2].selected, 'disabled': disableTabs}", heading="{{tabs[2].name}}")
            +e('span').details-photo.inventoryfill.inventoryfill_left(ng-show="isHavePhoto")
                img(src="/moveBoard/content/img/icons/photo.png")
            +e('a').header(href='javascript:void(0)',
                        ng-click='select(tabs[2])',
                        ng-class="{'inventory_filled':isDetailsChanged()}")
                | {{tabs[2].name}}
        +e('li').tab-control(ng-class="{active: tabs[3].selected}",
                            heading="{{tabs[3].name}}")
            +e('span').messages-box.messagenotify(ng-show="request.messages")
                i.fa.fa-comment-o
                | {{request.messages}}
            +e('a').header(href='javascript:void(0)',
                        ng-click='select(tabs[3])')
                | {{tabs[3].name}}
        +e('li').tab-control(ng-class="{active: tabs[4].selected}",
                            heading="{{tabs[4].name}}")
            +e('a').header(href='javascript:void(0)',
                        ng-click='select(tabs[4])')
                | {{tabs[4].name}}
            +e('img').draft-request(src="/moveBoard/content/img/warning.png",
                        alt='Draft Request',
                        ng-if='isDraftRequest')
        +e('li').tab-control(ng-class="{active: tabs[5].selected}",
                        heading="{{tabs[5].name}}")
            +e('a').header(href='javascript:void(0)',
                        ng-click='select(tabs[5])')
                | {{tabs[5].name}}
        +e('li').tab-control(ng-class="{active: tabs[7].selected}",
                        heading="{{tabs[7].name}}")
            +e('a').header(href='javascript:void(0)',
                        ng-click='select(tabs[7])')
                | {{tabs[7].name}}

+b.in-home-estimate-tab-content-wrapper
    +e.tab-content
        +e.tab-panel(ng-class="{'active': tabs[0].selected}",
                    ng-show="tabs[0].selected")
            +e.request(ng-include='tabs[0].url')

        +e.tab-panel(ng-class="{'active': tabs[6].selected}",
                    ng-show="tabs[6].selected")
            +e.options(ng-include="tabs[6].url")

        +e.tab-panel(ng-class="{'active': tabs[1].selected}",
                    ng-if="request.field_request_settings.inventoryVersion != 2"
                    ng-show="tabs[1].selected")
            +e.options(ng-include="tabs[1].url")

        +e.tab-panel(ng-class="{'active': tabs[2].selected}",
                    ng-show="tabs[2].selected")
            +e.details(ng-include="tabs[2].url")

        +e.tab-panel(ng-class="{'active': tabs[3].selected}",
                    ng-show="tabs[3].selected")
            +e.messages(ng-include="tabs[3].url")

        +e.tab-panel(ng-class="{'active': tabs[4].selected}",
                    ng-show="tabs[4].selected")
            +e.client(ng-include="tabs[4].url")

        +e.tab-panel(ng-class="{'active': tabs[5].selected}",
                    ng-show="tabs[5].selected")
            +e.logs(ng-include="tabs[5].url")

        +e.tab-panel(ng-class="{'active': tabs[7].selected}",
                    ng-show="tabs[7].selected")
            +e.settings(ng-include="tabs[7].url")
