include  ../../../../../../../node_modules/bemto.pug/bemto

+b.commercial-move-extra
	+e('label').label(for='commercial-select')
	+e('oi-select').commercial-sizes.form-item.form-type-select.custom-commercial-move-size-select.revert-margin#commercial-select(ng-model='commercialSize',
	ng-change="updateExtraCommercialField(commercialSize)"
	ng-disabled="confirmed"
	ng-class="{'disabled':confirmed}"
	oi-select-options='{cleanModel: true}',
	oi-options="moveSize.id as moveSize.name for moveSize in commercialMoveSizes",
	placeholder="Select commercial move size")