    <div class="search-zip-modal">
        <div class="">
            <div class="text-center " id="zip_code_search">
                <div class="section-title text-center">
                    <h2>Find Your Zip Code</h2>
                </div>
                <div id="zip_search_box">
                    <form autocomplete="off">
                        <input id="zipcity" tabindex="1" ng-model="city" class="form-control" type="text"
                               placeholder="Type City" size="90" autocomplete="off">
                        <select tabindex="2" ng-model="state" data-form-modal="toState" class="form-control"
                                id="zipstate"
                                name="toState" required="">
                            <option value="">Select State</option>
                            <option ng-repeat="state in allowedstate">{{state}}</option>

                        </select>
                        <input tabindex="3" id="getZipCode" class="btn btn-blue" type="button" ng-click="getZipCode()"
                               value="Search Zip Code">
                        <h2 ng-if='zipResults' id="zipResultsContainer">
                            <p>{{zipMessage}}</p>
                            <div id="zipResults">
                                <p ng-repeat="zip in zipCodes"
                                    ng-click="chooseZipCode(zip.postalCode)">
                                    {{zip.placeName}}, {{zip.adminCode1}}, {{zip.postalCode}}
                                </p>
                            </div>
                        </h2>
                        <h2 ng-if='!zipResults' id="zipResultsContainer">
                            {{zipMessage}}
                        </h2>
                    </form>
                </div>
            </div>
        </div>
    </div>

