.faq-content-block
	margin 5px
	padding-bottom 5px
	&__content
		background none
		border none
		box-shadow none
		clear both
		margin-bottom 25px
		margin-top 0
		padding 0
		.panel-heading
			.accordion-toggle
				outline none
	&__title
		text-align center
		font-weight bold
		font-size 16px
		color #1f1f1f
		font-family "roboto"
		padding 0px
		padding-top 15px
	&__quiz
		margin-top 5px
		padding 0 30px
	&__quiz-title
		text-align center
	&__quiz-button
		color white
		border none
		border-radius 2px
		height 20px
		width 40px
		&_left
			background #25b12f
		&_right
			float right
			background #e83d3d
	&__quiz-message
		text-align center
		color #008000
	.panel-group
		margin 0
	.panel.panel-default
		border none
		.panel-heading
			background-color: #f3f3f4;
	.panel
		.panel-title
			font-weight: normal;
			font-size: 14px;
		.glyphicon
			font-size: 10px;
			padding-right: 10px;
		span span
			display block
			margin-left 20px
