include ../../../../../../../node_modules/bemto.pug/bemto

+b.faq-content-block(ng-if='questionArr.length')
	+e.content
		+e.title
			| Questions?
		uib-accordion(close-others="true")
			div(uib-accordion-group ng-repeat="item in questionArr" is-open="status.open")
				uib-accordion-heading
					i.pull-left.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
					| {{item.faq_question}}
				div
					div(ng-bind-html="item.faq_answer")
				+e.quiz(ng-if='!item.quizDid && !isAdmin')
					+e.quiz-title Was this helpful?
					+e('button').quiz-button_left(ng-click='setUsefulness(item, "upvote")') Yes
					+e('button').quiz-button_right(ng-click='setUsefulness(item, "downvote")') No
				+e.quiz-message(ng-if='item.quizDid && !isAdmin')
					| Thanks for feedback!
