.storage-logs-wrapper
    .logs-block(ng-repeat="log in storageLogs track by $index", ng-if="storageLogs.length")
        .log
            .log-header
                span.title
                    | {{log.details.title}}
                    span.author (by {{log.source}})
                span.date.pull-right
                    i.fa.fa-clock-o(aria-hidden="true")
                    | {{log.date}}
            .log-body(ng-if="log.content.length")
                .log-text(ng-repeat="logText in log.content track by $index")
                    p(ng-bind-html="logText.simpleText")
            .log-footer
                i.fa.fa-info-circle(aria-hidden="true", uib-tooltip='Browser:{{log.details.info.browser.name}}; Browser version:{{log.details.info.browser.version}}; IP: {{log.details.info.ip}};', tooltip-placement="left", tooltip-trigger="click", tooltip-class="storage-request-tooltip", tooltip-popup-close-delay="1000")
    .logs-block(ng-if="!storageLogs.length")
        .log
            .log-header
                span.title There is no logs...