.storage-logs-wrapper
	.log
		background-color #fff
		color rgba(52, 73, 94, 1)
		padding 10px 15px
		.log-header
			padding 15px
			margin -10px -15px
			background linear-gradient(to right, #abbaab, #ffffff)
			margin-bottom 1em
			span.title
				letter-spacing 1px
				span.author
					margin-left .5em
					font-weight 100
			span.date
				i.fa.fa-clock-o
					margin-right .5em
		.log-body
			.log-text
				p
					font-size 1em
					margin-bottom 0
					padding .2em 0
					font-weight 600
		.log-footer
			position relative
			min-height 1.2em
			i.fa.fa-info-circle
				position absolute
				right 0
				top 0
				font-size 1.5em
				.storage-request-tooltip
					display block
					top -9.75px
					right 17px
				.tooltip-inner
					max-width 200px
					padding 3px 8px
					color #fff
					text-align center
					text-decoration none
					background-color #000
					border-radius 4px