.show-button
    border none
    outline none
    background-color lightgray
    height 25px
    min-height 20px
.jobs-in-trip-list
	font-size 12px
	font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
	max-height 0
	opacity 0
	overflow hidden
	&__progress
		width 100%
		position absolute
	&_open
		animation: open_jobs_list 0.3s forwards ease-in
	&_close
		animation: close_jobs_list 0.3s forwards ease-out
	&__head
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		border-bottom 1px solid #ddd
		&__item
			position relative
			display flex
			flex-grow 1
			padding 8px
			min-height 56px
			flex 1
			justify-content center
			flex-direction column
			font-size 12px
			font-weight 500
			color #757575
			
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
		
			&_text-blue
				font-weight normal
				color #283593
			&_fill-blue
				fill #283593
		&_left
			padding-left 16px
			width 100%
		&_right
			padding-top 4px
			float right
			padding-right 16px
			display inline-flex
		 	fill: #757575
	&__searched
		border 2px solid #ef9a9a
		border-radius 2px
		padding 3px
		 	
	&__body			
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		&:nth-child(2n)
			background-color #fafafa
		&:nth-child(2n+1)
			background-color #fff
		&__item
			position relative
			padding-top: 30px;
			display flex
			flex-grow 1
			padding 5px
			color #000
			flex 1
			justify-content center
			min-height 48px
			flex-direction column
			font-size 12px
			border-bottom 1px solid #ddd
			&__items
				display flex
				flex-direction column
				justify-content center
				padding-right 10px
				&__inline
					flex 1
					display flex
					flex-wrap nowrap
					flex-direction row
					justify-content flex-start
					font-size 14px
			&_margin-left-right
				margin-left 5px
				padding-right 5px
			&__input
				width 100%
				text-align center

			&_pointer
				cursor pointer

			&_padding
				padding-top 20px
				
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
.trip-elips
	&__status-1
      background-color rgb(120,144,156)
    &__status-2
      background-color rgb(255, 213, 79)
    &__status-3
      background-color rgb(102, 187, 106)
    &__status-4
      background-color rgb(66, 165, 245)
    &__big-elips
        position absolute
        width 30px
        border-radius: 50%
        height: 30px
        padding 5px
        z-index 10
    &__small-elips
        position absolute
        border-radius: 50%;
        height: 14px;
        width 14px
        margin-left 7px
        opacity 0
        transition opacity 0.3s
        &_open
            opacity 1
    &__line
        position absolute
        margin-left 13px
        width 2px
        height 100%
        opacity 0
        transition opacity 0.3s
        &_open
            opacity 1
        &_top
            height 50%
            bottom 0px
        &_bottom
            top 0px
            height 50%
.padding-window
    width 100%
    border-bottom 1px solid #ddd
@keyframes open_jobs_list
	from
		max-height: 0
		opacity: 0

	to
		max-height: 5000px
		opacity: 1
@keyframes close_jobs_list
	from
		opacity: 1
		max-height: 5000px

	to
		opacity: 0
		max-height: 0