.jobs-in-trip-list__progress(ng-if="item.jobsBusy")
    md-progress-linear(md-mode="indeterminate")
div(ng-if="item.jobs.length > 0" )
    .jobs-in-trip-list(ng-class="{'jobs-in-trip-list_open': item.showJobs, 'jobs-in-trip-list_close': !item.showJobs}")
        .jobs-in-trip-list__head
            .jobs-in-trip-list__head__item
                .trip-elips__line(ng-class="{'trip-elips__line_open': item.showJobs, 'trip-elips__status-{{item.flag}}': true}")
            .jobs-in-trip-list__head__item.bigger-item
                | Job
            .jobs-in-trip-list__head__item
                | Type
            .jobs-in-trip-list__head__item
                | Client
            .jobs-in-trip-list__head__item
                | Pickup Date
            .jobs-in-trip-list__head__item
                | Delivery Dates
            .jobs-in-trip-list__head__item
                | Sheduled Date
            .jobs-in-trip-list__head__item
                | Pickup From
            .jobs-in-trip-list__head__item
                | Delivery To
            .jobs-in-trip-list__head__item
                | Weight/cubic ft
            .jobs-in-trip-list__head__item
                | Job Balance
            .jobs-in-trip-list__head__item
                | Status
            .jobs-in-trip-list__head__item
                | {{item.type == 1 ? 'Shipping Total' : 'Job Grand Total'}}
            .jobs-in-trip-list__head__item
                | {{item.type == 1 ? 'TP Collected' : 'Total Paid'}}
            .jobs-in-trip-list__head__item
                | {{item.type == 1 ? 'Shipping Balance' : 'Job Balance'}}
        .jobs-in-trip-list__body(ng-repeat="job in item.jobs track by $index")
            .jobs-in-trip-list__body__item
                .trip-elips__small-elips(ng-class="{'trip-elips__small-elips_open': item.showJobs, 'trip-elips__status-{{item.flag}}': true}")
                .trip-elips__line(ng-class="{'trip-elips__line_open': item.showJobs, 'trip-elips__line_open': item.showJobs, 'trip-elips__status-{{item.flag}}': true}" ng-if="$index != item.jobs.length - 1")

                .trip-elips__line.trip-elips__line_bottom(ng-class="{'trip-elips__line_open': item.showJobs, 'trip-elips__status-{{item.flag}}': true}" ng-if="$index >= item.jobs.length - 1")
            .jobs-in-trip-list__body__item(ng-show="!job.ld_tp_delivery_id || job.ld_tp_delivery_id == null")
                div(call-job-modal id="job.job_id" show-text="{{job.job_id}}" ng-class="{'jobs-in-trip-list__searched' : job.searchedItem}")
            .jobs-in-trip-list__body__item.bigger-item(ng-show="job.ld_tp_delivery_id && job.ld_tp_delivery_id != null")
                .jobs-in-trip-list__body__item__items.jobs-in-trip-list__body__item_pointer(ng-click="openTpDelivery(item.ld_trip_id, job)")
                    .jobs-in-trip-list__body__item__items__inline( ng-class="{'jobs-in-trip-list__searched' : job.searchedItem}")
                        span {{job.job_id}}
                        span.jobs-in-trip-list__body__item_margin-left-right /   
                        span {{job.delivery_job_id}}
            .jobs-in-trip-list__body__item
                .job-type(class="job-type_type-{{job.j_type}}")
                    | {{ job.r_type }}
            .jobs-in-trip-list__body__item
                | {{ job.owner }}
            .jobs-in-trip-list__body__item(ng-if="job.pickup_date != 0 && job.pickup_date")
                | {{ (job.pickup_date - offset) * 1000 | date:'MM-dd-yyyy' }}
            .jobs-in-trip-list__body__item(ng-if="job.pickup_date == 0 || !job.pickup_date")
                .trip-list-item-body__body__item_none
                    | None
            .jobs-in-trip-list__body__item(ng-if="job.delivery_date != 0 && job.delivery_date")
                span {{ (job.delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
                span(ng-if="job.second_delivery_date && job.second_delivery_date != 0") {{ (job.second_delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
                .trip-list-item-body__body__item_none(ng-if="!job.second_delivery_date || job.second_delivery_date == 0" ng-hide="job.ld_tp_delivery_id")
                    | None
            .jobs-in-trip-list__body__item(ng-if="job.delivery_date == 0 || !job.delivery_date")
                .trip-list-item-body__body__item_none
                    | None
            .jobs-in-trip-list__body__item(ng-if="job.schedule_delivery_date != 0 && job.schedule_delivery_date")
                | {{ (job.schedule_delivery_date - offset) * 1000 | date:'MM-dd-yyyy' }}
            .jobs-in-trip-list__body__item(ng-if="job.schedule_delivery_date == 0 || !job.schedule_delivery_date")
                .trip-list-item-body__body__item_none
                    | None
            .jobs-in-trip-list__body__item(ng-if="!job.ld_tp_delivery_id && job.from_a_zip")
                | {{ job.address_from }}
                br
                | {{ job. from_a_city}}, {{job.from_a_state}} {{job.from_a_zip}}
            .jobs-in-trip-list__body__item(ng-if="!job.ld_tp_delivery_id && !job.from_a_zip")
                .trip-list-item-body__body__item_none
                    | None
            .jobs-in-trip-list__body__item(ng-if="job.ld_tp_delivery_id")
                | {{ job.carrier_name }}
            .jobs-in-trip-list__body__item(ng-if="job.to_a_zip")
                | {{ job.address_to }}
                br
                | {{ job. to_a_city}}, {{job.to_a_state}} {{job.to_a_zip}}
            .jobs-in-trip-list__body__item(ng-if="!job.to_a_zip")
                .trip-list-item-body__body__item_none
                    | None
            .jobs-in-trip-list__body__item(ng-if="job.volume_cf != 0")
                | {{ job.volume_cf * 7 }} / {{ job.volume_cf }}
            .jobs-in-trip-list__body__item(ng-if="job.volume_cf == 0")
                .trip-list-item-body__body__item_none
                    | None
            .jobs-in-trip-list__body__item
                | {{ job.request_balance | currency }}
            .jobs-in-trip-list__body__item
                .trip-status( ng-class="{'trip-status_grey' : job.status == 1, 'trip-status_orange' : job.status == 2, 'trip-status_green' : job.status == 3, 'trip-status_blue' : job.status == 4}")
                    | {{job.status || 0 | jobStatus}}
            .jobs-in-trip-list__body__item
                | {{ job.job_total || 0 | currency }}
            .jobs-in-trip-list__body__item
                | {{ job.tp_collected || 0 | currency }}
            .jobs-in-trip-list__body__item
                | {{ job.balance || 0 | currency }}
div(ng-if="item.jobs.length <= 0" )
    .jobs-in-trip-list(ng-class="{'jobs-in-trip-list_open': item.showJobs, 'jobs-in-trip-list_close': !item.showJobs}")
        .no-details There aren't jobs in this trip
