.add-custom-payment-form
    visibility: hidden
    display inline-flex
    flex-direction row
    justify-content flex-start
    &__toolbar
        display inline-flex
        flex-direction row
        justify-content space-between
        &__progress
            padding 0px
        &__balance
            font-size 14px
        &__info
            display flex
            flex-direction column
    &__title
        color: #eee
    &__input-container
        padding-top 20px
    &__dialog
        width: 600px
        max-height 900px
        padding: 0
    &__scrollable
        max-height 900px
    &__body
        padding-top 15px
        margin-left 15px
        padding-right 15px
        background-color: white
    &__input
        padding-top 20px
        width 100%
        display inline-flex
        flex-direction row
        justify-content flex-start
        flex 1
        &__card-type
            padding-bottom 25px
            display flex
            flex 1
        &__left
            display flex
            flex 1
            padding-right 10px
        &__right
            margin-left 10px
            display flex
            flex 1
        &__left-big
            display flex
            flex 3
            padding-right 10px
        &__right-small
            margin-left 10px
            display flex
            flex 1
        &__label
            margin-top 10px
            color #777777
    &__img
        margin-top -17px
        margin-left: -2px
        border: 1px solid rgba(0,0,0,0.12);
        height 50px
        width 80px
        position relative
        overflow hidden
        &__icon
            position absolute
            width: 80px
            height 50px
        &_focused
            border: 2px solid rgb(63,81,181);
            margin-top -17px
        &_error
            border: 2px solid rgb(221,44,0) !important;
.custom-payment-form
    display flex
    flex-direction column
    height 100%
/*.md-dialog-backdrop
    z-index: 1058*/
