.add-custom-payment-form
	.add-custom-payment-form__dialog-container.md-dialog-container(id="addCustomPayment")
		md-dialog.add-custom-payment-form__dialog(layout-padding="layout-padding" )
			md-toolbar
				.md-toolbar-tools.add-custom-payment-form__toolbar
					h2.add-custom-payment-form__title(ng-if="!editMode")
						| Custom Payment
					h2.add-custom-payment-form__title(ng-if="editMode")
						| Update Custom Payment # {{payment.receipt_id}}
					.add-custom-payment-form__toolbar__info
						span.add-custom-payment-form__toolbar__balance(ng-if="balance")  Job Id: # {{entityId}}
						span.add-custom-payment-form__toolbar__balance(ng-if="balance && !maxAmount") Balance: {{ getBalance() | currency}}
						span.add-custom-payment-form__toolbar__balance(ng-if="maxAmount") Max amount: {{ maxAmount | currency}}

					md-button.md-icon-button(ng-click="cancel()")
						ng-md-icon(icon="close" style='font-size: 24px; fill:#eee;')
			md-progress-linear.add-custom-payment-form__toolbar__progress(md-mode="indeterminate" ng-if="showLoader")
			md-dialog-content.add-custom-payment-form__scrollable
				.add-custom-payment-form__body
					.add-custom-payment-form__input
						.add-custom-payment-form__input__left
							md-input-container.md-block(flex-gt-sm)
									label Date of Payment
									md-datepicker(ng-model="payment.date" ng-disabled="true")
						.add-custom-payment-form__input__right
							md-checkbox.md-primary( aria-label="Pending" ng-model="payment.pending" ng-disabled="payment.type == 'Custom Refund'")
							.add-custom-payment-form__input__label
								label Pending
					.add-custom-payment-form__input
						.add-custom-payment-form__input__left
							md-input-container.md-block(flex-gt-sm)
									label Form of Payment
									md-select(ng-model="payment.type" ng-change="setType()")
										md-option(ng-repeat="type in paymentTypes" value="{{type}}") {{type}}
						form.add-custom-payment-form__input__right(name="amountForm")
							md-input-container.md-block(flex-gt-sm)
								label Amount
								input(name="amount" id="customPaymentAmount"
									ng-model="payment.amount"
									format="currency"
									placeholder="$0"
									validate-amount="{{maxAmount}}" maxlength="10" er-only-float
									required maxAmount)
								div(ng-messages="amountForm.amount.$error")
									div(ng-message="required") Amount can't be $0.
								div(ng-messages="amountForm.amount.$error" ng-if="payment.type != 'Custom Refund'")
									div(ng-message="maxAmount") Amount can't be greater then Invoice Amount
								div(ng-messages="amountForm.amount.$error" ng-if="payment.type == 'Custom Refund'")
									div(ng-message="maxAmount") Refund amount can't be greater then partially paid
					form.custom-payment-form(name="checkForm" ng-show="payment.type == 'Check'")
						.add-custom-payment-form__input
							md-input-container.md-block(flex-gt-sm )
								label Check No
								input(ng-model="payment.checkN" name="checkNumber" required)
								div(ng-messages="checkForm.checkNumber.$error")
									div(ng-message="required") Check No is required.
					form.custom-payment-form(name="cardForm" ng-show="payment.type == 'Credit Card' || payment.type == 'Authorized Credit Card'")
						.add-custom-payment-form__input
							.add-custom-payment-form__input__left
								md-input-container.md-block(flex-gt-sm)
									label First Name
									input(ng-model="payment.firstName" name="firstName" required)
									div(ng-messages="cardForm.firstName.$error")
										div(ng-message="required") First name is required.
							.add-custom-payment-form__input__right
								md-input-container.md-block(flex-gt-sm)
									label Last Name
									input(ng-model="payment.lastName" name="lastName" required)
									div(ng-messages="cardForm.lastName.$error")
										div(ng-message="required") Last name is required.
						.add-custom-payment-form__input
							.add-custom-payment-form__input__left-big
								md-input-container.md-block(flex-gt-sm)
										label Card No
										input(name="cardNumber" id="customPaymentCardNo"
											ng-model="payment.ccardN"
											ng-model-options="{allowInvalid: true}"
											placeholder="4111 1111 1111 1111"
											ng-minlength="19" maxlength="19"
											ng-change="getCardType()"
											ng-focus="cardNumberInputFocused = true"
											ng-blur="cardNumberInputFocused = false"
											er-only-digit credit-card-validate-number card-type="payment.cctype"
											required InvalidCardType )
										div(ng-messages="cardForm.cardNumber.$error")
											div(ng-message="required") Card No is required.
											div(ng-message="InvalidCardType") Invalid Card No.
											div(ng-message="minlength") Card No too short.
								.add-custom-payment-form__img(ng-class="{'add-custom-payment-form__img_focused': cardNumberInputFocused}" ng-show="payment.cctype")
									img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/visa.png" ng-show="payment.cctype == 'Visa'" )
									img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/mastercard.png" ng-show="payment.cctype == 'Mastercard'")
									img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/amex.png" ng-show="payment.cctype == 'AMEX'")
									img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/discover.png" ng-show="payment.cctype == 'Discover'")
									img.add-custom-payment-form__img__icon(src="../../../../content/img/icons/paymentIcons/visaelectron.png" ng-show="payment.cctype == 'Visa Electron'")
							.add-custom-payment-form__input__right-small(ng-if="payment.cctype != 'AMEX'")
								md-input-container.md-block(flex-gt-sm)
									label CVV
									input(name="cvc"
										ng-model="payment.cvc"
										ng-disabled="!payment.cctype"
										er-only-digit
										md-input-minlength="3" minlength="3" maxlength="3"
										required)
									div(ng-messages="cardForm.cvc.$error")
										div(ng-message="required") CVV is required.
									div(ng-messages="cardForm.cvc.$error")
										div(ng-message="minlength") CVV is too short.
							.add-custom-payment-form__input__right-small(ng-if="payment.cctype == 'AMEX'")
								md-input-container.md-block(flex-gt-sm)
									label CVV
									input(name="cvcAmex"
										ng-model="payment.cvcAmex"
										ng-disabled="!payment.cctype"
										er-only-digit
										md-input-minlength="4" minlength="4" maxlength="4" required)
									div(ng-messages="cardForm.cvcAmex.$error")
										div(ng-message="required") CVV is required.
									div(ng-messages="cardForm.cvcAmex.$error")
										div(ng-message="minlength") AMEX CVV is too short.
						.add-custom-payment-form__input
							.add-custom-payment-form__input__left
								md-input-container.md-block(flex-gt-sm)
										label Auth Code
										input(ng-model="payment.auth_code" name="authCode")
							.add-custom-payment-form__input__right
								.add-custom-payment-form__input__left
									md-input-container.md-block
											label Month
											md-select(name="month"
												ng-model="payment.expmonth"
												ng-change="checkCardExpireDateValidation()"
												required InvalidDate)
												md-option(ng-repeat="n in ::range(1,12,1)" value="{{n}}") {{n}}
											div(ng-messages="cardForm.month.$error")
												div(ng-message="required") Month is required.
											div(ng-messages="cardForm.month.$error")
												div(ng-message="InvalidDate") Expired.
								.add-custom-payment-form__input__left
									md-input-container.md-block(flex-gt-sm)
											label Year
											md-select(name="year"
												ng-model="payment.expyear"
												ng-change="checkCardExpireDateValidation()"
												checkCardExpireDateValidation
												required InvalidDate)
												md-option(ng-repeat="n in ::range(thisYear,thisYear + 20,1)" value="{{n}}") {{n}}
											div(ng-messages="cardForm.year.$error")
												div(ng-message="required") Year is required.
											div(ng-messages="cardForm.year.$error")
												div(ng-message="InvalidDate") Expired.
						.add-custom-payment-form__input(ng-if="payment.type == 'Authorized Credit Card'")
							.add-custom-payment-form__input__left
								md-input-container.md-block(flex-gt-sm)
									label City
									input(ng-model="payment.city" ng-disabled="true")
							.add-custom-payment-form__input__right
								.add-custom-payment-form__input__left
									md-input-container.md-block(flex-gt-sm)
										label State
										input(ng-model="payment.state" ng-disabled="true")
								.add-custom-payment-form__input__left
									md-input-container.md-block(flex-gt-sm)
										label Zip Code
										input(name="zip_code"
											ng-model="payment.zip_code"
											ng-change="getGeoCode()"
											er-only-digit
											md-input-minlength="5" maxlength="5" required invalidZip)
										div(ng-messages="cardForm.zip_code.$error")
											div(ng-message="required") Zip Code is required.
										div(ng-messages="cardForm.zip_code.$error")
											div(ng-message="invalidZip") Invalid Zip Code.
										div(ng-messages="cardForm.zip_code.$error")
											div(ng-message="minlength") Zip Code is too short.

					.add-custom-payment-form__input
						md-input-container.md-block(flex-gt-sm)
								label Notes
								input(ng-model="payment.description")


			md-dialog-actions(layout="row")
					md-button(ng-click="cancel()" ng-disabled="showLoader")
							| Cancel
					span(flex)
					md-button(ng-click="save()" ng-disabled="showLoader")
							| Save
