<section id="main-content" class="animated fadeInRight packing-settings-wrapper" packing-service>
    <div ng-show="vm.busy">
        <img src="../../../../../app/core/assets/images/loading.gif" class="busy-symbol">
    </div>
    <div class="row" ng-class="{'disabled': vm.busy}">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Packing</h3>
                    <div class="pull-right packing-settings-wrapper__buttons-group">
                        <a href="javascript:void(0);" class="btn btn-primary" ng-click="addService()">Add Packing</a>
                        <a href="javascript:void(0);" class="btn btn-danger" ng-click="removeService()" ng-disabled="vm.activeRow === -1">Remove packing</a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="mdDataTable clients table table-striped">
                        <thead>
                        <tr class="packing-settings-wrapper__table-title">
                            <th></th>
                            <th>Name</th>
                            <th>LM Unit Cost</th>
                            <th>LD Unit Cost</th>
                            <th>Labor Rate</th>
                            <th>Show in contract page</th>
                        </tr>
                        </thead>
                        <tbody dragula='"packing-bag"' dragula-model='packingSettings'>
                        <tr ng-repeat="setting in packingSettings"
                            ng-class="{'active_row': vm.activeRow === $index}"
                            ng-click="vm.activeRow = $index; prepareToDelete($index)"
                            ng-dblclick="addService(setting, $index)" class="packing-settings-wrapper__packing-item">
                            <td>
                                <i class="fa fa-arrows drag-packing" aria-hidden="true"></i>
                            </td>
                            <td>{{setting.name}}</td>
                            <td>$ {{setting.rate}}</td>
                            <td>$ {{setting.LDRate}}</td>
                            <td>$ {{setting.laborRate}}</td>
                            <td>{{setting.showInContract ? 'Yes' : 'No'}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="account-packing">Show Packing on account page</label>
                                    <input type="checkbox" name="checkbox" id="account-packing" ichecks="" class="icheck" ng-model="vm.packing.account" ng-change="vm.saveSettingsPacking()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="labor-rate">Show Labor Rate only on Long Distance and Flat Rate</label>
                                    <input type="checkbox" name="checkbox" id="labor-rate" ichecks="" class="icheck" ng-model="vm.packing.labor" ng-change="vm.saveSettingsPacking()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Packing Services (Client Page)
                    </h3>
                    <button class="btn btn-primary pull-right packing-advanced-btn" ng-click="vm.packingServiceModal()">Advanced settings</button>
                </div>
                <div class="saving-progress-packing" >
                    <span class=""  ng-show="vm.saving">Saving</span>
                    <span class="animated  fadeIn"  ng-show="vm.saved">Saved!</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row packing-title">
                                <label >Local Move</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Full Packing rate per c.f.</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" ng-blur="vm.changePackingsCoefficient()" ng-model="vm.packingService.LM.full" class="form-control hide-arrows">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Partial Packing</span>
                                </div>
                                <div class="col-md-6">
                                    <input ng-blur="vm.changePackingsCoefficient()" er-only-digit with-decimal-point="true" cc-percent ng-model="vm.packingService.LM.partial" class="form-control hide-arrows">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row packing-title">
                                <label class="packing-title">Long Distance and Flat Rate Move</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Full Packing rate per c.f.</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="number" ng-blur="vm.changePackingsCoefficient()" ng-model="vm.packingService.LD.full" class="form-control hide-arrows">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <span>Partial Packing</span>
                                </div>
                                <div class="col-md-6">
                                    <input ng-blur="vm.changePackingsCoefficient()" er-only-digit with-decimal-point="true" cc-percent ng-model="vm.packingService.LD.partial" class="form-control hide-arrows">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Test packing services</div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row packing-title">
                                <label>Local Move</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    Cubic Fit:
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <input class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched hide-arrows" type="number" ng-model="vm.cubic_feet_lm_test">
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <span>Full: ${{(vm.packingService.LM.full * vm.cubic_feet_lm_test || 0)|number:2}}</span>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <span>Partial: ${{((vm.packingService.LM.partial / 100) * vm.packingService.LM.full * vm.cubic_feet_lm_test || 0)|number:2}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row packing-title">
                                <label>Long Distance</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">
                                    Cubic Fit:
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <input class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched hide-arrows" type="number" ng-model="vm.cubic_feet_ld_test">
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <span>Full: ${{(vm.packingService.LD.full * vm.cubic_feet_ld_test || 0)|number:2}}</span>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <span>Partial: ${{((vm.packingService.LD.partial / 100) * vm.packingService.LD.full * vm.cubic_feet_ld_test || 0)|number:2}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>