*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.fadedout {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}

#block-movecalc-moving-form {
	height: 750px;
	max-width: 1200px !important;
	min-width: 800px !important;
	margin: 0 auto;

}
.promoBlock{
	height: 75px;
	background: #2E3B4C;
	width: 80%;
	margin: 0 auto;
}
.smal_elromco_logo img {
	width: 15px;
	margin-left: 10px;
	margin-top: -5px;
}

.smal_elromco_logo a {
	float: right;
	font-size: 8px;
	color: white;
}
p.elromco_logo {
	position: absolute;
	bottom: 30px;
	right: 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	line-height: 13px;
	color: #4F5050;
}
.er-request-form input[type='text'],.er-request-form input[type='password'], .er-request-form select {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	padding: 5px;

	width: 100%;
	line-height: 24px;
	font-size: 16px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #353535;
}
div#sf-move-size {
	color: #5D5B5B;
	margin-bottom: 10px;
}
#slide_menu .form-item.form-type-checkbox {
	margin-bottom: 10px;
}
.ng-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 3000px;
	left: 0;
	padding-bottom: 70px;
	background: white;
	z-index: 250;
	overflow-y: scroll;
}
.clearfix {
	clear: both;
}
.er-request-form .form-group-left {
	/* width: 155px; */
	float: left;
	width: 49%;
	margin-right: 1%;
}
.er-request-form .form-group-right {
	float: right;
	width: 48%;
	margin-left:1%
}

.calculate .calc-intro {
	padding: 0px 40px;
}
.calculate div#ui-datepicker-div {
	border: 1px solid #c3c3c3;
	background: white;
	z-index: 100000 !important;
}
.calculate ul#progressbar,
.calculate .right-block {
	display: none;
}
.calculate .left-block {
	background-color: white;
}
.calculate .left-block .title {
	background-color: white !important;
	color: #f36a13 !important;
	height: 100px !important;
	border-bottom: 1px dotted #d5cccc;
	padding-top: 45px !important;
}
body td.highlight a {
	background: rgba(156, 156, 255, 0.81) !important;
	/* color: white !important; */
	color: white !important;
}
div#summery-alert p {
	color: white;
}
body #ui-datepicker-div {
	font-size: 100%;
	font-family: 'Open sans', sans-serif;
	border: 2px solid blue;
	background: white;
	display: none;
	line-height: 22px;
}
body #jrange input,
body #djrange input {
	width: 245px !important;
	text-align: center;
}
body .ui-datepicker {
	font-family: 'Open sans', sans-serif;
	margin-top: 5px;
	position: absolute;
	box-shadow: 1px 5px 10px #e6e6e6;
}
body .ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}
body .ui-datepicker-header span {
	color: black !important;
	font-weight: 500;
}
body .ui-datepicker th {
	padding: 0px;
	font-size: 12px;
	background-color: #FFFFFF;
	color: #CBCBCB;
	text-transform: uppercase;
	font-family: 'Open sans';
	font-weight: 600;
}
body .ui-datepicker th span {
	color: #6c6969;
	font-size: 10px;
	font-weight: 400 !important;
}
body .ui-datepicker tbody {
	background: #FFFFFF;
}
body .ui-state-default,
body .ui-widget-content .ui-state-default,
body .ui-widget-header .ui-state-default {
	font-weight: 600;
	text-align: center;
	font-family: 'Open sans' !important;
	border: none;
	color: white;
	background: none;
	font-size: 12px;
	cursor: pointer;
}
body .ui-datepicker-inline.ui-datepicker.ui-widget {
	border: 3px solid #7c7cff;
}
body .ui-widget-content {
	color: #222;
}
body .ui-state-default.ui-state-hover {
	color: white !important;
	background: #5353ff !important;
}
body .ui-state-default.ui-state-active {
	color: white ;
	background: #5151f8 !important;
}
body td.date-range-selected.range a {
	background: #5353ff !important;
	color: white !important;
}
body td.date-range-selected .ui-state-default {
	background: #5151f8;
	color: white !important;
}
body button.ui-datepicker-close.ui-state-default {
	border-top: 1px solid #f2f2f2 !important;
	background: #4cacdc;
	color: white !important;
	cursor: pointer;
}
body button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all {
	display: none;
}
body .ui-datepicker-buttonpane.ui-widget-content {
	border: none;
	margin-top: -10px;
}
body td.regular.ui-datepicker-current-day a {
	background-color: orange !important;
}
body td a:hover {
	opacity: 0.8;
}
.calc-loading {
	position: absolute;
	/* right: 8px; */
	left: 120px;
	margin-top: 0px;
	/* font-weight: 600; */
	line-height: 30px;
	color: #8f8b8b;
}
#edit-calculator-results .right-block h4,
#summery_results .right-block h4 {
	margin-top: 0px;
}
#edit-calculator-results .right-block p,
#summery_results .right-block p {
	margin: 10px 21px;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	z-index: -2;
	position: relative;
}
#edit-calculator-results .right-block #calc-results2 .calc-intro-info,
#summery_results .right-block #calc-results2 .calc-intro-info {
	padding-top: 15px;
}
#edit-calculator-results .calc-form,
#summery_results .calc-form {
	padding: 0px 15px;
}
#edit-calculator-results .calc-form h3,
#summery_results .calc-form h3 {
	color: #585757;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0px;
	text-transform: Capitalize;
	float: left;
	width: 135px;
	margin: 0px!important;
	line-height: 20px;
	text-align: left;
}
#edit-calculator-results .calc-form .moving-date span,
#summery_results .calc-form .moving-date span {
	text-transform: capitalize;
	font-weight: 600 !important;
	font-size: 12px !important;
	/* font-family: 'Open sans'; */
	color: #F36A13;
	text-align: left;
	display: block;
}
.box_info .calc-intro_description {
	padding: 15px;
}
.box_info .calc-intro_description h3 {
	margin: 0px;
	text-align: left;
}
.box_info .calc-intro_description span {
	color: #f36a13;
	text-align: left;
}

.box_info .calc-intro_description .size-info-block img {
	width: 100%;
}
.box_info .calc-intro_description .move-size {
	cursor: pointer;
}
.box_info .calc-intro_description .move-size .desc {
	margin-top: 35px;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	color: black;
	font-weight: 300;
}
button#submitRequestButton {
	position: absolute;
	bottom: 25px;
	right: 120px;
}
button:focus,
button:focus {
	outline: none !important;
}
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
	min-height: 120px;
	position: relative;
	margin: 0 auto;
	width: 100%;
}
#progressbar span.progressline {
	border-bottom: 1px dashed #9a9b9b;
	bottom: 52px;
	content: "";
	left: 14%;
	position: absolute;
	width: 71%;
}
#progressbar li.active {
	color: black;
	font-weight: bold;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}
#progressbar li {
	list-style-type: none;
	color: rgba(0, 0, 0, 0.45);
	text-transform: uppercase;
	width: 24%;
	float: left;
	text-align: center;
	height: 110px;
	position: relative;
}
#progressbar .dot {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #9a9b9b;
	border-radius: 25px;
	bottom: -13px;
	content: "";
	height: 26px;
	width: 26px;
	left: 50%;
	top: 50%;
	margin-left: -5.5px;
	position: absolute;
}
#progressbar li.active .dot {
	display: none;
}
#progressbar h2 {
	margin: 0 !important;
	font-size: 16px !important;
	line-height: 62px;
	font-weight: 300 !important;
	text-transform: uppercase;
	color: #373838 !important;;
}
#progressbar .circle {
	position: absolute;
	top: 50%;
	background: #f36a13 url("https://themoveboard.com/elromco/icon-succes.png") no-repeat center center;
	left: 50%;
	margin-left: -20px;
	margin-top: -9px;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	display: none;
}
#progressbar li.active .circle {
	display: block;
}
.moving-form {
	margin: 0px auto;
	position: relative;
}

.blue_btn {
	background: #2CB1EF;
}
.orange_btn{
	background: #EF692C;
}
.big_btn {
	cursor: pointer;

	color: white;
	width: 100%;
	border-radius: 0px;
	padding: 27px;
	font-size: 26px;
}

div#sf-move-size.error {
	background: #FFEBE8 !important;
}
input[type="text"].error,
input[type="tel"].error,
input[type="password"].error,
textarea.error,
select.error,
input[type="text"].error:hover,
input[type="password"].error:hover,
textarea.error:hover,
select.error:hover,
input[type="text"].error:focus,
input[type="password"].error:focus,
textarea.error:focus,
select.error:focus {
	border: 1px solid #FF6633;
	background-color: #FFEBE8 !important;
}
.form_alert_text {
	color: #e6696b;
	position: absolute;
	bottom: -45px;
	width: 330px;
	font-size: 12px;
	line-height: 16px;
}
select#edit-prefered-fromstorage-time {
	margin-top: 5px;
}
input#edit-first-name,
input {
	text-transform: CAPITALIZE;
}
i.inputicon-storage.fa.fa-calendar {
	color: #5685FF;
	position: absolute;
	top: 115px;
	left: 170px;
	display: none;
}
.input_panel {
	position: relative;
}
.input_panel .ajax-progress {
	position: absolute;
	top: 10px;
	left: 125px;
}
.overhover {
	background: rgba(238, 238, 238, 0.65);
	height: 599px;
	position: absolute;
	width: 95%;
	z-index: 100;
	display: none;
}
span.clear-icon {
	float: right;
	text-align: right;
	/* margin-right: 31px; */
	width: 100px !important;
	display: block;
	margin-top: 15px;
	cursor: pointer;
	color: #45aaf9;
}
span.clear-icon:hover {
	color: rgba(69, 170, 249, 0.7);
}
#edit-calculator h3.smcap {
	color: #585757;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	font-family: 'Open sans';
	letter-spacing: 0px;
	font-weight: bold;
	text-transform: Capitalize;
	font-size: 16px;
	margin-top: 20px;
}
.arrow_box {
	position: relative;
	background: #45aaf9;
	/* border: 1px solid #88b7d5; */
	padding: 10px;
	margin-left: -38px;
	/* color: white; */
	width: 270px;
	margin-top: 15px;
}
.arrow_box h1.logo {
	font-size: 22px;
	color: white;
	padding-left: 25px;
	font-weight: normal;
}
.arrow_box:after,
.arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:before {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #45aaf9;
	border-width: 25px;
	margin-top: -25px;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	background-image: url('https://themoveboard.com/elromco/select-arrow.gif');
	background-repeat: no-repeat;
	background-position: right center;
}
.success.desktopzip {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('https://themoveboard.com/elromco/mymovepagecheck.png');
	background-repeat: no-repeat;
	background-position: 95% center;
}
.success.er-picker__input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('https://themoveboard.com/elromco/mymovepagecheck.png') !important;
	background-repeat: no-repeat !important;
	background-position: 95% center !important;
}
.success_desktopzip {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url('https://themoveboard.com/elromco/mymovepagecheck.png');
	background-repeat: no-repeat;
	background-position: 95% center;
}
span.cross {
	position: absolute;
	right: 0px;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
span.cross i {
	color: white !important;
}
span.cross i.fa.fa-times {
	font-size: 28px;
	margin-left: -10px;
}
span.boxcount {
	position: absolute;
	bottom: -100px;
	color: #8096ff;
	display: block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	font-size: 40px;
	left: 0px;
	margin-left: 0px !important;
}
i.tooltips.fa.fa-info-circle {
	margin-left: 10px;
	cursor: pointer;
	color: #f36a13;
}
.front #zone-menu-wrapper {
	position: relative;
	overflow: hidden;
}
.front #zone-menu-wrapper img {
	position: absolute;
	top: -270px;
	left: 0px;
	z-index: 0 !important;
}
i.inputicon.fa.fa-calendar {
	cursor: pointer;
	position: absolute;
	top: 50px;
	width: 0px;
	left: 170px;
	color: #5685FF;
	display: none;
}
search-zip{
	float: right;
	position: relative;
	margin-top: -30px;
	margin-right: 12px;
}
search-zip i.fa-search{
	cursor: pointer;
	pointer-events: all;
}

.crossline {
	text-decoration: underline;
}
.tips.rmtips:before {
	content: '';
	position: absolute;
	border: 10px solid transparent;
	border-left-color: #8A8A8A;
	left: -17px;
	bottom: 50%;
	z-index: 1;
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.tips.rmtips.geninfo,
.tips.rmtips.estinfo {
	margin-top: -55px !important;
	max-width: 370px !important;
	width: 350px;
}
.tips.rmtips.storageestinfo {
	margin-top: -41px !important;
	max-width: 370px !important;
	width: 350px;
}
.tips.rmtips.hourly {
	margin-top: -45px !important;
	max-width: 370px !important;
	width: 350px;
}
.tips.rmtips.estinfo:before {
	top: 37%;
}
.tips.rmtips.hourly:before {
	top: 33%;
}
.tips.rmtips {
	padding: 10px;
	max-width: 200px;
	color: #ffffff;
	border: 1px solid #8a8a8a;
	text-shadow: none;
	background-color: #8a8a8a;
	line-height: 16px;
	display: none;
}
.tips.rmtips {
	position: absolute;
	margin-top: -105px;
	margin-left: 18px;
	z-index: 10000;
	font-size: 13px;
}
#imgpopup {
	border: none;
	width: 1000px;
	height: 590px;
	opacity: 0;
	background: rgba(17, 17, 17, 0.68);
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
	display: block;
	padding-top: 10px;
	z-index: 100000000;
}
#imgpopup img.house2,
#imgpopup img.house3,
#imgpopup img.house4 {
	width: 780px;
	padding: 40px;
}
#imgpopup img.room {
	margin-left: 245px;
	padding: 40px;
}
#imgpopup img.studio {
	width: 800px;
	padding: 50px;
}
#imgpopup .lonebedroom {
	width: 780px !important;
	padding: 40px;
}
#imgpopup img.ltwobedroom,
#imgpopup img.onebedroom {
	width: 880px !important;
	padding: 40px;
}
#imgpopup img.stwobedroom {
	width: 860px !important;
	padding: 40px;
}
#imgpopup .big_image_desc {
	font-size: 26px;
	color: white;
	font-size: 14px;
	bottom: 40px;
	left: 20px;
	position: absolute;
	font-family: "open sans";
	padding-left: 50px;
}
i.fa.fa-search-plus {
	position: absolute;
	bottom: -100px;
	opacity: 0.4;
	color: #8096ff;
	font-size: 18px !important;
	display: block;
	width: 25px;
	height: 25px;
	right: 50px;
	cursor: pointer;
}
.form-item.form-type-textfield.form-item-Zip-Code-To {
	margin-left: 5px;
}

.suitboxes {
	display: block;
	width: 60px;
	margin-top: -20px;
	opacity: 0.4;
	float: left;
	height: 50px;
	background: url('https://themoveboard.com/elromco/suitcaseicons.png') no-repeat center center;
}
div#bboxes {
	color: white;
	/* float: right; */
	position: absolute;
	right: 100px;
	bottom: 30px;
	font-size: 24px;
}
div#bboxes b {
	margin-left: 10px;
}
div#bboxes .suitboxes {
	display: block;
	width: 60px;
	margin-top: -20px;
	opacity: 1;
	float: left;
	height: 50px;
	/*background: url(images/Suitcaseicons64.png) no-repeat center center;*/
}
span.boxcount b {
	font-size: 20px;
	color: #78848b;
	font-family: "Open sans";
	font-weight: normal;
}
#edit-confirmation #confirmation_block {
	padding: 20px;
	text-align: center;
	height: 600px;
	border: 1px solid #949494;
}
#edit-confirmation #confirmation_block h1 {
	padding: 0px;
	font-family: Open sans;
	text-transform: capitalize;
	color: #606061;
}
#edit-confirmation #confirmation_block .calc-confirm {
	padding: 0px;
}
#edit-confirmation #confirmation_block a {
	margin-top: 20px;
	text-transform: capitalize;
	color: white !important;
	font-weight: normal;
}
#edit-confirmation #confirmation_block h2 {
	padding: 0px;
	font-family: Open sans;
	text-transform: capitalize;
	color: #606061;
	margin-top: 25px;
	font-size: 14px;
}
h5 {
	display: inline-block;
}
.travel-time-box {
	margin-top: 5px;
}
.travel-time-box h5 {
	float: left;
	line-height: 23px;
	margin-right: 20px;
}
.form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-1,
.form-item-Extra-House-Furnished-Rooms-1,
.form-item-Extra-House-Furnished-Rooms-2 {
	pointer-events: none;
	opacity: 0.5;
}
.move-size {
	position: relative;
	width: 340px;
	height: 210px;
}
span.alerttext {
	color: #c24d56;
	/* font-weight: 600 !important; */
}
span.bs {
	color: #585757 !important;
	font-size: 12px;
}
.modal-backdrop.fade.in {
	cursor: pointer;
	z-index: 100 !important;
}
#fancybox-img {
	width: 800px;
}

img.studioimg {
	/* width: 700px; */
}
img.big_office_room_10 {
	position: absolute;
	top: 321px;
	left: 439px;
	width: 225px !important;
}
img.big_play_room_10 {
	position: absolute;
	width: 235px !important;
	top: 229px;
	left: 537px;
}


img.big_extra_room_10 {
	position: absolute;
	top: 204px;
	left: 107px;
	width: 190px !important;
}
img.big_office_room_9 {
	position: absolute;
	top: 310px;
	left: 371px;
}
img.big_extra_room_7 {
	position: absolute;
	top: 222px;
	left: 28px;
	width: 285px !important;
}
img.big_extra_room_8,
img.big_extra_room_9 {
	position: absolute;
	top: 240px;
	left: 104px;
}
div#edit-move-date {
	margin-top: -5px;
}
img.big_patio_room {
	position: absolute;
	top: 32px;
	width: 250px;
	left: 378px;
}
img.big_garage_room {
	position: absolute;
	top: 230px;
	width: 250px !important;
	left: 714px;
}
img.big_play_room_8 {
	position: absolute;
	width: 245px;
	left: 476px;
	top: 305px;
}
img.big_play_room_9 {
	position: absolute;
	width: 245px !important;
	left: 621px;
	top: 266px;
}
img.big_office_room_9 {
	position: absolute;
	top: 310px;
	left: 371px;
}
img.big_office_room_8 {
	position: absolute;
	left: 344px;
	top: 225px;
}
img.big_dinning_room_7 {
	position: absolute;
	top: 212px;
	left: 376px;
	width: 320px !important;
}
img.big_office_room_7 {
	position: absolute;
	top: 256px;
	left: 537px;
}
img.big_office_room_5 {
	position: absolute;
	top: 228px;
	z-index: 1;
	left: 630px;
	width: 345px !important;
}
img.big_dinning_room_3 {
	position: absolute;
	top: 245px;
	left: 400px;
	z-index: 2;
}
img.big_office_room_4 {
	position: absolute;
	top: 138px;
	z-index: 1;
	left: 455px;
	width: 285px !important;
}
img.big_office_room_6 {
	top: 235px;
	position: absolute;
	left: 680px;
	width: 320px !important;
}
img.big_basement_room {
	position: absolute;
	top: 35px;
	left: 665px;
}
img.big_extra_room_4 {
	position: absolute;
	top: 227px;
	left: 62px;
	width: 246px !important;
}
img.big_dinning_room_4 {
	position: absolute;
	top: 212px;
	left: 329px;
	z-index: 2;
}
img.big_office_room_3 {
	position: absolute;
	top: 152px;
	left: 521px;
	z-index: 1;
	width: 320px !important;
}
img.big_extra_room_3 {
	position: absolute;
	top: 242px;
	left: 123px;
	width: 265px !important;
}
img.big_extra_room_5 {
	position: absolute;
	top: 247px;
	left: 76px;
	width: 275px !important;
}
img.big_extra_room_6 {
	position: absolute;
	top: 253px;
	left: 65px;
	width: 275px !important;
}
img.big_dinning_room_6 {
	position: absolute;
	top: 245px;
	left: 400px;
}
img.big_dinning_room_5 {
	position: absolute;
	top: 259px;
	left: 364px;
}
img.smroom {
	width: 190px !important;
	margin-top: -10px;
	margin-left: -100px;
	margin-bottom: 50px;
}
img#fancybox-img {
	width: 800px;
}

.dinning_room {
	position: absolute;
	top: 159px;
	left: 107px;
	z-index: 1000;
	width: 115px !important;
}
.submit_btn {
	cursor: pointer;
	background: #EF692C;
	color: white;
}

.office_room_3,
.office_room_4 {
	position: absolute;
	top: 140px;
	left: 153px;
	z-index: 999;
	width: 95px !important;
}
.office_room_5 {
	position: absolute;
	top: 166px;
	left: 204px;
	z-index: 999;
	width: 95px !important;
}
.office_room_6 {
	position: absolute;
	top: 168px;
	left: 212px;
	z-index: 999;
	width: 95px !important;
}
.office_room_8 {
	position: absolute;
	top: 182px;
	left: 87px;
	z-index: 999;
	width: 95px !important;
}
.office_room_7 {
	position: absolute;
	top: 185px;
	left: 177px;
	z-index: 989;
	width: 95px !important;
	z-index: 10001;
}
.office_room_9 {
	position: absolute;
	top: 207px;
	left: 142px;
	z-index: 989;
	width: 87px;
	z-index: 10001;
}
.office_room_10 {
	position: absolute;
	top: 231px;
	left: 185px;
	z-index: 989;
	width: 90px !important;
	z-index: 10001;
}

.extra_room_5,
.extra_room_3 {
	position: absolute;
	top: 155px;
	left: 0px;
	width: 105px !important;
}

.extra_room_4,
.extra_room_6,
.extra_room_7 {
	position: absolute;
	top: 160px;
	left: -16px;
	width: 109px !important;
}
.extra_room_8,
.extra_room_9,
.extra_room_10 {
	position: absolute;
	top: 161px;
	left: 15px;
	width: 100px !important;
}
.cf-form #request-form #edit-date-storage input {

	background: #ffffff url('https://themoveboard.com/elromco/calendaricon.png') no-repeat 97% 7px !important;
	width: 50% !important;
	margin: 0 auto;
	margin-left: 23%;
	text-align: center;
}


.basement_room {
	position: absolute;
	width: 110px !important;
	top: 60px;
	left: 144px;
	z-index: 10;
}
.garage_room {
	position: absolute;
	width: 110px !important;
	top: 119px;
	left: 230px;
	z-index: 3;
}
.patio_room {
	position: absolute;
	top: 68px;
	width: 115px !important;
	left: -24px;
	z-index: 3;
}

.play_room_8 {
	position: absolute;
	top: 207px;
	width: 105px !important;
	left: 140px;
	z-index: 10001;
}
.play_room_10,
.play_room_9 {
	position: absolute;
	top: 181px;
	width: 110px !important;
	left: 230px;
	z-index: 10008;
}
.form-item.form-type-date-popup.form-item-Date-Storage .description {
	display: none;
}
#edit-personal-info .form-item,
#edit-personal-info .form-actions {
	margin-top: 1em;
	margin-bottom: 1em;
}
#edit-date-storage label {
	display: none;
}
#edit-calculator #edit-date-storage-datepicker-popup-0 {
	margin-bottom: 15px;
}
.cf-form #edit-date-storage-datepicker-popup-0 {
	width: 35%;
	height: 30px;

}
.ajax-progress {
	position: absolute;
	bottom: 20px;
	left: 50%;
}
.roll {
	color: #5685FF;
	margin-top: 0px;
}
.form-item select.error {
	border: 1px solid red !important;
}
.moving-form fieldset:not(:first-of-type) {
	display: none;
}
.moving-form fieldset {
	width: 100%;
	position: absolute;
	z-index: 10;
}
#edit-calculator .three_block.info_block.apartment {
	height: 720px;
}
#edit-calculator .three_block.info_block.thouse {
	height: 720px;
}
.flatmap {
	height: 700px;
	display: block;
	width: 680px;
	margin-left: -145px;
}
.box_info.total.storage {
	margin-top: 20px;
}
i.storage.tooltips.fa.fa-info-circle .rmtips.hourly {
	margin-top: -47px !important;
	width: 700px !important;
}
i.storage.tooltips.fa.fa-info-circle .rmtips.geninfo {
	/* position: relative; */
	/* margin-left: 200px; */
	width: 718px;
	margin-top: -58px !important;
}
.tips.rmtips.storages {
	margin-top: -5% !important;
}
/*progressbar*/
/*block layout in form*/
.calc-intro_description div {
	overflow: visible !important;
}
.form-item.form-type-radio.form-item-poll-info {
	margin: 0px;
	margin-top: 5px;
}
.dis-1 label {
	display: block !important;
}
.four_block.block_from.dis-1,
.time_block.dis-1 {
	margin-top: 0px !important;
}
#edit-personal-info > div > div.four_block.hear_block.dis-1 {
	display: none;
}
#edit-personal-info > div > div.four_block.time_block.dis- {
	margin-top: 0px;
}
#message-continue.dis-1 {
	display: none;
}
.four_block.login_block.dis- {
	background: #f3f3f3;
	padding-bottom: 20px;
}
.login-forgot {
	float: left;
	margin-right: 24px;
	font-size: 12px;
}
.login-forgot a {
	color: #606060 !important;
	text-decoration: underline !important;
}
.four_block.dis-1 .dis-1 {
	display: none;
}
#edit-moving-from-zip,
#edit-moving-to-zip,
#edit-moving-from-city,
#edit-moving-to-city,
#edit-moving-from-state,
#edit-moving-to-state {
	background-color: #f3f3f3;
	pointer-events: none;
}
.moving-form .four2_block {
	border: none;
	float: left;
	width: 46%;
	padding-left: 315px;
}
.moving-form .four2_block.log-1 {
	margin-top: -345px;
}
.moving-form .four2_block.log- {
	margin-top: -260px;
}
#message-continue {
	position: absolute;
	left: 44%;
	padding: 5px;
	color: #3190f2;
	font-family: Open Sans, sans-serif;
}
.form-item-moving-from label,
.form-item-moving-to label {
	display: none;
}
.four_block.block_from,
.time_block {
	margin-top: 20px;
}
#edit-moving-from-state,
#edit-moving-to-state {
	padding: 7px;
	width: 100%;
}
.click-disabled {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
}
a.request-button.button {
	padding: 15px 25px;
	font-size: 18px;
}
.request-buttom-margin-none p,
.request-buttom-margin-none p {
	margin: 0 !important;
}
.moving-form .three2_block {
	border: none;
	float: left;
	width: 61%;
	padding-left: 30px;
	margin-top: -60px;
	margin-bottom: 20px;
}
#go-calculator-results-btn {
	float: right;
}
.calendar_box {
	width: 25%;
	float: left;
}
.two_block {
	background: rgba(231, 231, 231, 0.36);
	height: 600px;
}
#map_direction,
#map_direction2 {
	width: 100%;
	height: 250px;
	margin-bottom: 20px;
}
#map_direction_to_storage,
#map_direction_from_storage,
#map_direction_to_storage2,
#map_direction_from_storage2 {
	width: 100%;
	height: 140px;
	margin-top: 5px;
}
.alerttip:before {
	content: '';
	position: absolute;
	border: 10px solid transparent;
	border-left-color: #FFEBE8;
	top: -18px;
	/* right: 40px; */
	left: 48%;
	z-index: 1;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
div#ui-datepicker-div {
	border: 1px solid #c3c3c3;
	background: white;
	z-index: 100000 !important;
}
span.ui-datepicker-month {
	color: black;
}
td.ui-datepicker-unselectable.ui-state-disabled span {
	color: #cfcfcf;
	font-weight: normal;
}
li.type.link a {
	padding: 4px 5px;
	color: #5c5c5c;
	font-weight: normal;
	border: 1px solid #c4c3c3;
}
li.type.link a:hover {
	background: #f6f6f6;
}
#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > div > span.ui-datepicker-month,
#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > div > span.ui-datepicker-year,
#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > div > span.ui-datepicker-year span,
#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-last > div > div span,
span.ui-icon.ui-icon-circle-triangle-e {
	color: white ;
}
#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > a span,
#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-last > div > a span {
	background-image: none !important;
	color: #212121 !important;
	height: 28px;
	width: 50px;
	font-size: 10px !important;
}
#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-first > div > a,
#ui-datepicker-div > div.ui-datepicker-group.ui-datepicker-group-last > div > a {
	background: none !important;
	border: none !important;
}
.dirMap {
	margin-bottom: 20px;
}
#dirMap,
#dirMapReview,
#dirM {
	width: 100%;
	height: 305px;
}
.flat_desc {
	line-height: 20px;
	font-size: 13px;
	color: #2E2C2C;
}
.flat_desc li {
	list-style: initial;
	/* padding-left: 2px; */
	margin-left: 20px;
	text-align: left;
}
.flat_desc ul {
	margin-top: 15px;
	margin-bottom: 15px;
}
ul.calc-intro_description {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul.calc-intro_description li {
	list-style: initial;
	margin-left: 20px;
}
h2.flat_label {
	font-weight: bold !important;
	font-size: 13px !important;
	padding: 15px !important;
	color: black !important;
	/*dominant-baseline: black !important; */
	line-height: 19px;
	margin-bottom: 15px;
	margin-top: 15px !important;
	text-align: center !important;
	display: block !important;
	float: none !important;
	width: 100% !important;
	font-size: 13px;
	margin: 0px !important;
}
.box_info.storage {
	padding-top: 0px;
	padding-bottom: 0px;
}
.storage .calc-intro_description {
	font-size: 12px;
}
.direction_info h5 {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	color: #585757;
	font-size: 12px;
	line-height: 5px;
	font-weight: normal;
	font-family: 'Open sans';
	letter-spacing: 0px;
	text-transform: Capitalize;
}
#edit-move-date-datepicker-short,
input#edit-move-date-datepicker-popup-0,
input#edit-move-date-datepicker-popup-1,
#edit-date-storage input {
	background: #ffffff url('https://themoveboard.com/elromco/calendaricon.png') no-repeat 150px 7px;
}
#edit-move-date-datepicker-short:focus,
input#edit-move-date-datepicker-popup-0:focus,
input#edit-move-date-datepicker-popup-1:focus,
#edit-date-storage input:focus {
	border: 1px solid #9999fb !important;
}
#edit-move-date-datepicker-short:hover,
input#edit-move-date-datepicker-popup-0:hover,
input#edit-move-date-datepicker-popup-1:hover,
#edit-date-storage input:hover {
	outline: 1px solid #6074EC;
	cursor: pointer;
}
div#calc_block_er {
	position: relative;
}
.dis-1 .form-item.form-type-radios.form-item-poll-info {
	display: none;
}
.disabled {
	opacity: 0.4;
}
.two_block,
.calc_block {
	float: left;
	width: 50%;
}
#confirmation_block .messages {
	display: none;
}
div.form-item.form-type-textfield.form-item-moving-from-auto label,
div.form-item.form-type-textfield.form-item-moving-to-auto label {
	display: none;
}
#calc-results {
	position: absolute;
	background: white;
	margin-left: -15px;
	z-index: 1000;
}
.page-user-reset- #edit-account > div.form-item.form-type-textfield.form-item-mail {
	display: none;
}
.page-user-reset- #edit-picture {
	display: none;
}
.page-user-reset- #edit-contact {
	display: none;
}
.page-user-reset- #edit-field-user-first-name {
	display: none;
}
.page-user-reset- #edit-field-user-last-name {
	display: none;
}
.page-user-reset- #edit-field-primary-phone {
	display: none;
}
.page-user-reset- #edit-field-user-additional-phone {
	display: none;
}
input#edit-email,
#edit-email-login,
#edit-confirmemail {
	text-transform: none;
}
.box_block img {
	float: left;
	width: 100px;
}
.box_block span {
	font-size: 44px;
	line-height: 70px;
	margin-left: 20px;
}
.calc_block.three_block.storage .general {
	min-height: 75px;
}
.box_info.general .rooms {
	margin-left: 0;
	margin-top: -5px;
	line-height: 16px;
}
.calc-intro-info {
	padding-top: 0px;
}
.calc-intro-info h2 {
	color: #5685FF;
	font-size: 14px;
	line-height: 30px;
	font-family: 'Open sans';
	text-transform: CAPITALIZE;
	font-weight: 600;
}
.calc-intro-info strong {
	font-size: 13px;
	line-height: 18px;
	color: #78848b;
	margin-bottom: 0px;
	font-family: "Open sans";
	font-weight: normal;
}
.form-item.form-type-date-popup.form-item-Move-Date {
	float: left;
	width: 40%;
	margin-right: 40px;
}
.form-item-Move-Date-date label,
.form-item-Move-Date-date .description {
	display: none;
}
.form-item-Zip-Code-From,
.form-item-Zip-Code-To {
	margin-top: 0px;
}

.box_info {
	padding-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
}
.view-move-time-table .form-actions {
	display: none;
	position: absolute;
}
.time-label span {
	font-size: 20px;
	font-family: Open Sans;
	text-transform: lowercase;
	font-weight: normal;
}
.two_block .calc-intro_description {
	font-size: 18px;
}
.box_info.price {
	float: left;
	margin-right: 135px;
	border-bottom: none;
}
#back-to-info-btn {
	position: absolute;
	bottom: 20px;
}
.calc-review_heading {
	color: #00c8d7;
	margin-bottom: 20px;
}
.calc-review_description {
	font-size: 14px;
	color: #969696;
}
.calc-review_description p {
	margin-bottom: 5px;
}
#edit-personal-info label {
	font-weight: bold;
}
#edit-personal-info .form-type-radio label {
	font-weight: normal;
}
.calc-confirm {
	padding: 40px;
	margin-top: 25px;
	padding-top: 0px;
	color: #333;
	line-height: 28px;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	color: #78848b;
	margin-bottom: 30px;
}
.calc-confirm a {
	text-transform: uppercase;
	color: #62d7e7 !important;
}
.calc-confirm .calc-intro_heading {
	margin-top: 40px;
}
.status {
	background: #fd4040;
	padding: 5px;
	color: white;
	font-size: 13px;
	font-weight: bold;
}
/*.ajax-progress {
position: absolute;
right: 10px;
bottom: 25px;
color: #918E8E;
font-size: 12px;
} */
.message-alert {
	min-height: 65px;
	line-height: 14px;
	margin-top: 22px;
	font-size: 16px;
	color: #fc1818;
}
.info.md-pop-4 p {
	font-size: 14px;
	line-height: 23px;
}
#edit-personal-info > div > div.four2_block.log-1 {
	margin-top: -325px;
}
#summery-alert {
	background: #ff5f5f;
	position: absolute;
	display: none;
	left: 27%;
	padding: 10px;
	line-height: 10px;
	bottom: 30px;
	color: white;
}
#login-summery-alert {
	margin-top: 10px;
	color: #ff5f5f;
}
.form-item-Size-Move {
	margin-top: 0px;
}
.red {
	color: #ff6c6c;
}
.password-strength,
.password-suggestions.description {
	display: none !important;
}
em {
	font-style: normal !important;
	font-size: 12px;
	font-family: 'Open sans';
	color: #5685FF;
	font-weight: 600;
}
span.msize {
	min-height: 20px;
}
.calc-intro_description.sizeimg {
	padding-top: 50px;
}
i.rooms {
	font-style: normal;
	font-size: 12px;
	margin-top: -5px;
	display: block;
	min-height: 30px;
	color: #707070;
	width:90%;
}
.box_info.detailsinfo {
	padding-top: 20px;
	margin-bottom: 20px;
}
.box_info .calc-intro_description {
	line-height: 10px;
	font-size: 12px !important;
	color: #6E88FE;
	font-weight: 600 !important;
	padding: 30px;
	padding-top: 0px;
}
#edit-calculator .moving-date,
#short-calculator .moving-date,
#edit-calculator .delivery-date h3,
#short-calculator .delivery-date h3 {
	float: left;
}
#edit-calculator span,
#short-calculator span {
	margin-left: 100px;
	width: 235px;
	display: block;
	text-transform: capitalize;
	font-weight: 600 ;
	font-size: 12px;
}
#edit-calculator h3,
#short-calculator h3 {
	color: #585757;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	text-transform: Capitalize;
}
#edit-calculator .delivery-date,
#short-calculator .delivery-date,
#edit-calculator .moving-date,
#short-calculator .moving-date,
#edit-calculator .service-type,
#short-calculator .service-type {
	line-height: 15px;
	margin-bottom: 5px;
	margin-top: 0px;
	color: #5685FF;
	font-weight: 600;
	font-family: 'Open sans';
	font-size: 12px;
}
#edit-calculator .delivery-date h3,
#short-calculator .delivery-date h3,
#edit-calculator .moving-date h3,
#short-calculator .moving-date h3,
#edit-calculator .service-type h3,
#short-calculator .service-type h3 {
	font-size: 12px;
	float: left;
	width: 100px;
}
#edit-calculator .box_info,
#short-calculator .box_info {
	margin-top: 20px;
	border-bottom: none;
}
#edit-calculator .box_info .moving-from,
#short-calculator .box_info .moving-from,
#edit-calculator .box_info .moving-to,
#short-calculator .box_info .moving-to,
#edit-calculator .box_info .move-size,
#short-calculator .box_info .move-size {
	line-height: 15px;
	margin-bottom: 5px;
	margin-top: 0px;
}
#edit-calculator .box_info .moving-from h3,
#short-calculator .box_info .moving-from h3,
#edit-calculator .box_info .moving-to h3,
#short-calculator .box_info .moving-to h3,
#edit-calculator .box_info .move-size h3,
#short-calculator .box_info .move-size h3 {
	font-size: 12px;
	float: left;
	width: 100px;
	height: 10px;
}
#calc-info-steps > div.box_info > div > div.move-size > div {
	padding-right: 1em;
}
.calc-error {
	position: absolute;
	top: 0px;
	padding: 10px;
	padding-left: 40px;
}
.calc-error .calc-error_heading {
	font-size: 10px;
	color: red;
}
.calc-error .calc-intro_description {
	color: #5d5d5d;
}
.ui-icon.ui-icon-circle-triangle-e,
.ui-icon.ui-icon-circle-triangle-w {
	text-indent: 0px;
	font-family: serif;
	font-weight: normal;
	color: #9c9c9c;
	margin-top: -15px !important;
	cursor: pointer;
}
.desc em {
	font-weight: 600;
	font-size: 12px;
}
.ui-icon.ui-icon-circle-triangle-w {
	margin-left: 0px !important;
}
.ui-icon.ui-icon-circle-triangle-e {
	margin-left: -15px !important;
}
.form-item .form-select,
.form-item .form-text,
.form-item .form-textarea {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 0px;
}
.direction_info span.calc-intro_description {
	line-height: 18px;
}
/*div#pref_popup:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -7px;
  right: 135px;
  bottom: auto;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom-color: white;
} */
div#prefeefe.error {
	background: #ffefec;
	border: 1px solid red;
}
.form-item.form-type-select.form-item-prefered-time {
	margin-bottom: -8px !important;
	padding: 0px;
}
div#prefeefe {
	background-image: url('https://themoveboard.com/elromco/select-arrow.gif');
	background-repeat: no-repeat;
	background-position: right center;
	width: 100%;
	line-height: 19px;
	margin-top: 7px !important;
	padding: 0.6em;
	background-color: #fff;
	/* border: 1px solid #dddddd; */
	color: #6a7076;
	line-height: 11px;
	text-align: left;
	border: 1px solid #a9a9a9;
	/* font-size: 14px; */
	color: #333333;
	vertical-align: middle;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	padding: 13px;
}
div#pref_popup {
	display: none;
	width: 565px;
	position: absolute;
	margin-left: -180px;
	margin-top: -10px;
	background: #f2f2f2;
	border: 1px solid #dddddd;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	border-radius: 2px;
}
div#pref_popup .md-pop-6 {
	float: left;
	width: 39%;
	text-align: center;
	background: white;
	border-left: 1px solid #C5C5C5;
}
div#pref_popup .md-pop-6 .select_item.blocked {
	pointer-events: none;
	color: #b6b6b6;
}
div#pref_popup .md-pop-6 h2 {
	padding-left: 30px;
	padding-right: 30px;
}
div#pref_popup h2.header {
	font-size: 14px;
	height: 40px;
	line-height: 14px;
	padding-top: 9px;
	font-weight: normal;
	margin: 0px;
	Text-transform: Capitalize;
	/* font-weight: 400; */
}
div#pref_popup .select_item.active {
	background: rgba(40, 131, 202, 0.22);
}
div#pref_popup .select_item.active i.fa.fa-clock-o {
	color: #00c7fc;
	position: absolute;
	left: 6px;
	top: 9px;
	display: block;
}
div#pref_popup .md-pop-2 .select_item {
	cursor: inherit;
	pointer-events: none;
}
div#pref_popup .select_item {
	color: black;
	line-height: 30px;
	height: 30px;
	font-weight: bold;
	border-top: 1px solid #dddddd;
	position: relative;
	cursor: pointer;
}
div#pref_popup .select_item i.fa.fa-clock-o {
	color: #00c7fc;
	position: absolute;
	left: 6px;
	top: 9px;
	display: none;
}
div#pref_popup .select_item:hover {
	background: rgba(40, 131, 202, 0.22);
}
div#pref_popup .md-pop-2 {
	float: left;
	width: 30%;
	border-left: 1px solid #dddddd;
	text-align: center;
}
div#pref_popup .md-pop-2 h2.header {
	padding-left: 10px;
	padding-right: 10px;
}
div#pref_popup .info.md-pop-4 {
	float: left;
	width: 31%;
	padding: 10px;
	background: #f2f2f2;
	height: 194px;
	color: black;
	line-height: 18px;
}
div#pref_popup .info.md-pop-4 h2 {
	font-size: 12px;
	text-align: center;
	margin: 0px;
	line-height: 12px;
}
.tostorage {
	float: left;
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 250px;
}
.fromtos {
	float: left;
	width: 286px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	font-size: 20px;
}
.storagehelp {
	margin-top: 20px;
	height: 40px;
}
.fromstorage {
	float: left;
	width: 190px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 160px;
}
.newuser {
	font-size: 17px;
	letter-spacing: 0px !important;
	line-height: 26px;
	margin-top: 20px;
}
.newuser span {
	color: red;
}
a.calculate-btn.form-submit.ajax-processed {
	padding: 10px 15px;
}
/* 3d Buttons*/
.btn.btn-3d {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.btn.btn-3d:active {
	-webkit-transform: translate(0, 3px);
	-moz-transform: translate(0, 3px);
	transform: translate(0, 3px);
	outline: none;
	-webkit-box-shadow: 0px 0px 0px #24aca5 !important;
	-moz-box-shadow: 0px 0px 0px #24aca5 !important;
	box-shadow: 0px 0px 0px #24aca5 !important;
}
.btn-default.btn-3d {
	-webkit-box-shadow: 0px 6px 0px #858e93;
	-moz-box-shadow: 0px 6px 0px #858e93;
	box-shadow: 0px 6px 0px #858e93;
	background-color: #d1d1d1;
}
.btn-default.btn-3d:hover,
.btn-default.btn-3d:focus {
	background-color: #909aa0;
}
.btn-default.btn-3d:active {
	-webkit-box-shadow: 0px 2px 0px #858e93;
	-moz-box-shadow: 0px 2px 0px #858e93;
	box-shadow: 0px 2px 0px #858e93;
}
.btn-default.btn-3d:hover,
.btn-default.btn-3d:focus {
	background-color: #909aa0;
}
.btn-primary {
	color: #fff;
	background-color: #FC8336;
	border-color: #FF7924;
}
.btn-primary:hover {
	background-color: #FC8336;
	border-color: #FF7924;
}
.btn-primary.btn-3d:hover,
.btn-primary.btn-3d:focus {
	background-color: #fc8336;
}
.btn-primary.btn-3d {
	-webkit-box-shadow: 0px 6px 0px #f36a13;
	-moz-box-shadow: 0px 6px 0px #f36a13;
	box-shadow: 0px 6px 0px #f36a13;
}
.btn-primary.btn-3d:active {
	-webkit-box-shadow: 0px 2px 0px #f36a13;
	-moz-box-shadow: 0px 2px 0px #f36a13;
	box-shadow: 0px 2px 0px #f36a13;
}
.btn-success.btn-3d {
	-webkit-box-shadow: 0px 4px 0px #0EDF2F;
	-moz-box-shadow: 0px 4px 0px #0EDF2F;
	box-shadow: 0px 4px 0px #18AA2F;
	background-color: #20D73E;
	border-color: #20D73E;
	border-bottom-color: #0BCB29;
}
.btn-success.btn-3d:active {
	-webkit-box-shadow: 0px 2px 0px #0BCB29;
	-moz-box-shadow: 0px 2px 0px #0BCB29;
	box-shadow: 0px 2px 0px #0BCB29;
}
.btn-success.btn-3d:hover,
.btn-success.btn-3d:focus {
	background-color: #2EEC4D;
}
.btn-info.btn-3d {
	-webkit-box-shadow: 0px 6px 0px #2273a5;
	-moz-box-shadow: 0px 6px 0px #2273a5;
	box-shadow: 0px 6px 0px #2273a5;
}
.btn-info.btn-3d:active {
	-webkit-box-shadow: 0px 2px 0px #2273a5;
	-moz-box-shadow: 0px 2px 0px #2273a5;
	box-shadow: 0px 2px 0px #2273a5;
}
.btn-info.btn-3d:hover,
.btn-info.btn-3d:focus {
	background-color: #1f7bb6;
}
.btn-warning.btn-3d {
	-webkit-box-shadow: 0px 6px 0px #dbbd7d;
	-moz-box-shadow: 0px 6px 0px #dbbd7d;
	box-shadow: 0px 6px 0px #dbbd7d;
}
.btn-warning.btn-3d:active {
	-webkit-box-shadow: 0px 2px 0px #d6ae11;
	-moz-box-shadow: 0px 2px 0px #d6ae11;
	box-shadow: 0px 2px 0px #d6ae11;
}
.btn-warning.btn-3d:hover,
.btn-warning.btn-3d:focus {
	background-color: #edce8c;
}
.btn-danger.btn-3d {
	-webkit-box-shadow: 0px 6px 0px #c94034;
	-moz-box-shadow: 0px 6px 0px #c94034;
	box-shadow: 0px 6px 0px #c94034;
}
.btn-danger.btn-3d:active {
	-webkit-box-shadow: 0px 2px 0px #c94034;
	-moz-box-shadow: 0px 2px 0px #c94034;
	box-shadow: 0px 2px 0px #c94034;
}
.btn-danger.btn-3d:hover,
.btn-danger.btn-3d:focus {
	background-color: #e25d5d;
}
/* square buttons */
.btn-square {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
/* Transparent buttons */
.btn-default.btn-trans {
	color: #909aa0;
	background-color: transparent;
	border: solid thin #909aa0;
}
.btn-default.btn-trans:hover,
.btn-default.btn-trans:active,
.btn-default.btn-trans:focus {
	color: #fff;
	background-color: #909aa0;
	border: solid thin #909aa0;
}
.btn-primary.btn-trans {
	color: #556b8d;
	background-color: transparent;
	border: solid thin #556b8d;
}
.btn-primary.btn-trans:hover,
.btn-primary.btn-trans:active,
.btn-primary.btn-trans:focus {
	color: #fff;
	background-color: #556b8d;
	border: solid thin #556b8d;
}
.btn-success.btn-trans {
	color: #27b6af;
	background-color: transparent;
	border: solid thin #27b6af;
}
.btn-success.btn-trans:hover,
.btn-success.btn-trans:active,
.btn-success.btn-trans:focus {
	color: #fff;
	background-color: #27b6af;
	border: solid thin #27b6af;
}
.btn-info.btn-trans {
	color: #1f7bb6;
	background-color: transparent;
	border: solid thin #1f7bb6;
}
.btn-info.btn-trans:hover,
.btn-info.btn-trans:active,
.btn-info.btn-trans:focus {
	color: #fff;
	background-color: #1f7bb6;
	border: solid thin #1f7bb6;
}
.btn-warning.btn-trans {
	color: #edce8c;
	background-color: transparent;
	border: solid thin #edce8c;
}
.btn-warning.btn-trans:hover,
.btn-warning.btn-trans:active,
.btn-warning.btn-trans:focus {
	color: #fff;
	background-color: #edce8c;
	border: solid thin #edce8c;
}
.btn-danger.btn-trans {
	color: #e25d5d;
	background-color: transparent;
	border: solid thin #e25d5d;
}
.btn-danger.btn-trans:hover,
.btn-danger.btn-trans:active,
.btn-danger.btn-trans:focus {
	color: #fff;
	background-color: #e25d5d;
	border: solid thin #e25d5d;
}
/* Button Sizes */
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
}
.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-family: Flaticon;
	font-size: 55px;
	font-style: normal;
	text-align: center;
}
.select_cross {
	display: block;
	position: absolute;
	z-index: 2;
	top: 15px;
	right: 10px;
	width: 5px;
	height: 5px;
	border-left: 5px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #525252;
	pointer-events: none;
}


.formText, .moving-form .right-block p {
	font-size: 14px;
	line-height: 20px;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
	min-height: 120px;
	position: relative;
	margin: -15px auto;
	width: 100%;
}
#progressbar span.progressline {
	border-bottom: 1px dashed #9a9b9b;
	bottom: 52px;
	content: "";
	left: 14%;
	position: absolute;
	width: 71%;
}
#progressbar li.active {
	color: black;
	font-weight: bold;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}
#progressbar li {
	list-style-type: none;
	color: rgba(0, 0, 0, 0.45);
	text-transform: uppercase;
	width: 24% !important;
	float: left;
	text-align: center;
	height: 110px;
	position: relative;
}
#progressbar .dot {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #9a9b9b;
	border-radius: 25px;
	bottom: -13px;
	content: "";
	height: 26px;
	width: 26px;
	left: 50%;
	top: 50%;
	margin-left: -5.5px;
	position: absolute;
}
#progressbar li.active .dot {
	display: none;
}

#progressbar .circle {
	position: absolute;
	top: 50%;
	background: #f36a13 url("https://themoveboard.com/elromco/icon-succes.png") no-repeat center center;
	left: 50%;
	margin-left: -20px;
	margin-top: -9px;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	display: none;
}
#progressbar li.active .circle {
	display: block;
}

/* ------------------
    Request
--------------------*/
#request {
	margin-bottom: 38px;
}
#request h2 {
	font-size: 28px;
	color: #0a5c89;
	font-weight: 400;
	margin: 25px auto 20px;
}
#request .orange {
	color: #f36a13;
	font-weight: 400;
}

.moving-form fieldset .form-block {
	background-color: #ebebeb;
	padding: 10px 15px !important;
	position: relative;
	z-index: -1;
	width: 33%;
	min-height: 575px;
	float: left;
	border: 1px solid #949494;
	margin: 0 1%;
	background-color: #ebebeb;
}

.moving-form fieldset label {
	font-size: 14px;
	color: #6a7076;
	font-weight: normal;
	display: block;
	text-align: left;
	margin: 0px;
}

.moving-form .left-block {
	width: 32.5%;
	height: 575px;
	border: 1px solid #949494;
	float: left;
}
.moving-form .left-block .title {
	height: 124px;
	background-color: #f36a13;
	color: #ffffff;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 54px;
	text-align: center;
}
.moving-form .left-block .title .fa {
	font-size: 44px;
	float: right;
	margin-right: 24px;
	line-height: 16px;
}
.moving-form .left-block h4 {
	margin: 30px 21px 0px;
	text-align: left;
	font-size: 24px;
	font-weight: 400;
	color: #0a5c89;
}
.moving-form .left-block p {
	margin: 10px 21px;
	text-align: left;
}
.moving-form .left-block hr {
	border: 0;
	border-top: 1px dashed #373838;
	margin: 25px 21px 0;
}
.moving-form .right-block {
	width: 32.5%;
	height: 575px;
	border: 1px solid #949494;
	z-index: -3;
	position: relative;
	float: right;
}
.moving-form .right-block h4 {
	margin: 15px 20px 0px;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	color: #45aaf9;
}
.moving-form .right-block p {
	margin: 10px 21px;
	text-align: left;
}
.moving-form .right-block hr {
	border: 0;
	border-top: 1px dashed #373838;
	margin: 10px 21px 0;
}

.moving-form fieldset {
	margin: 0 auto;
	height: 575px;
	z-index: 10;
}
.moving-form fieldset button#calculate_btn {
	float: left;
}
.moving-form fieldset input, .moving-form fieldset select {
	border: 1px solid darkgray;
}
.moving-form fieldset select#edit-size-move, .moving-form fieldset #edit-type-from, .moving-form fieldset #edit-type-to {
	width: 100%;
}
.moving-form fieldset .form-disabled input {
	background: #f3f3f3;
	pointer-events: none;
}

.personal-loading {
	position: absolute;
	bottom: 65px;
	right: 5%;
}

.review-loading {
	position: absolute;
	bottom: 65px;
	left: 160px;
}

.big-left-block {
	border: 1px solid gray;
	width: 75%;
	height: 575px;
	float: left;
	margin-left: 5px;
	padding: 0px 20px;
}
.big-left-block .four_block {
	float: left;
	width: 28%;
	margin-right: 40px;
}
.big-left-block .four_block input, .big-left-block .four_block select {
	width: 100%;
}

.four_block.left-small-block {
	width: 24%;
	padding: 0px 20px;
	height: 575px;
	border: 1px solid #949494;
	float: left;
	background-color: #ebebeb;
}
.four_block.left-small-block label {
	color: black;
}
.four_block.left-small-block input {
	width: 100%;
}
.four_block.left-small-block #request_user_login {
	float: right;
}
.four_block.left-small-block .account_info {
	text-align: left;
}
.four_block.left-small-block .account_info ul {
	padding-left: 20px;
}
.four_block.left-small-block .account_info li {
	list-style: initial;
	line-height: 20px;
	font-size: 14px;
}
.four_block.left-small-block .account_info h2.title {
	font-size: 13px !important;
	font-weight: bold !important;
	text-align: left;
	letter-spacing: 0px;
	margin: 0px !important;
	padding-bottom: 15px;
	height: inherit;
}

a.request-button.button {
	background-color: #f36a13;
}

i.fa.fa-check-circle-o {
	color: #30d730;
	font-size: 36px;
	padding: 0px;
}

.calc-confirm.ng-binding {
	color: #676767;
	font-weight: 400;
}

.note {
	color: #ff2424;
	font-weight: 400;
	font-size: 14px;
}

.left-block.direction_info {
	padding: 20px;
	padding-top: 15px !important;
}
.left-block.direction_info h3 {
	color: #585757;
	font-size: 13px;
	line-height: 10px;
	font-weight: normal;
	letter-spacing: 0px;
	text-transform: Capitalize;
	margin: 0px;
	text-align: left;
}
.left-block.direction_info p.calc_left_info {
	margin: 0px;
	text-align: left;
	padding: 0px;
	line-height: 15px;
	color: #f36a13;
	font-weight: 600;
	font-size: 13px;
	margin: 0px !important;
}
.left-block.direction_info .calc-intro.storage_from {
	padding-bottom: 0px;
}
.left-block.direction_info .calc-intro.storage_to {
	padding-top: 0px;
	margin-top: 10px;
}

span.st_title {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
	line-height: 18px;
	color: #4a4a4a;
}

.from_storage, .to_storage {
	margin-top: 0px;
	position: relative;
}
.from_storage .fa-level-up, .from_storage .fa-level-down, .to_storage .fa-level-up, .to_storage .fa-level-down {
	position: absolute;
	/* top: 0px; */
	margin-top: -30px;
	margin-left: 215px;
}
.from_storage .fa-level-up span, .from_storage .fa-level-down span, .to_storage .fa-level-up span, .to_storage .fa-level-down span {
	font-family: "Open sans";
	font-size: 10px;
	text-transform: UPPERCASE;
	margin-left: -90px;
	font-weight: 600 !important;
}

.box_info.total.storage {
	margin-top: 20px;
	border-bottom: none;
}

/* ------------------
   FORM INPUTS STYLES
--------------------*/

#edit-service:focus, #edit-size-move:focus, #edit-type-from:focus, #edit-type-to:focus {
	border-color: #5b9dd9;
	-webkit-box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
	box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

.calc_form .form-item, .calc_form .form-actions {
	text-align: left;
	margin-top: 5px;
}

.form-item.form-type-textfield.form-item-Date-Storage-date {
	margin-top: 0px !important;
	margin-bottom: 10px !important;
}

.form-item.form-type-date-popup.form-item-Date-Storage {
	margin-bottom: -10px;
	margin-top: 2px;
}

.form-item-Type-To {
	margin-top: 0px !important;
	margin-bottom: 20px !important;
}

.form-item-Type-From {
	margin-top: 5px !important;
	margin-bottom: 10px !important;
}


div#edit-extra-furnished-rooms label {
	font-size: 12px;
	line-height: 18px;
}

#edit-extra-furnished-rooms .form-checkbox {
	float: left;
	margin-bottom: 0px;
	margin-right: 5px;
}

.moving-form .form-item.form-type-checkbox {
	float: left;
	width: 110px;
	margin-right: 0px;
	line-height: 18px;
}

.form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-5 {
	width: 120px;
}

.form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-3 {
	margin-left: 25px;
	width: 70px !important;
}

.form-item-Extra-Furnished-Rooms-6 {
	width: 110px !important;
}

#short-calculator .form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-7 {
	width: 135px;
}

.form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-8 {
	width: 75px;
}

#short-calculator #edit-date-storage input, #short-calculator .input-group.date, #short-calculator #short-datepicker {
	width: 155px;
	background: #fff url('https://themoveboard.com/elromco/calendaricon.png') no-repeat 130px 7px;
}
#short-calculator .three_block.info_block.left-block {
	height: 435px !important;
	width: 50%;
}
#short-calculator .left-block .title {
	background-color: white !important;
	color: #f36a13 !important;
	height: 75px !important;
	border-bottom: 1px dotted #d5cccc;
	padding-top: 25px !important;
	font-weight: normal !important;
}
#short-calculator .input-group {
	cursor: pointer;
}
#short-calculator h3.smcap {
	font-size: 24px !important;
	line-height: 29px !important;
	margin: 0;
	margin-top: 15px;
	color: #0a5c89 !important;
	font-weight: 400 !important;
}
#short-calculator .form-type-checkbox label.option {
	color: white;
}

.calculate #block-movecalc-moving-form {
	height: 460px;
}

#short-calculator .calculate .form-calc .form-group {
	margin-bottom: 15px;
	position: relative;
}
#short-calculator .moving-form .left-block p {
	margin: -55px 0px;
	text-align: center;
	font-size: 17px;
	width: 100%;
	color: #f46a13;
}
#short-calculator .box_info .calc-intro_description .move-size .desc {
	display: none;
}
#short-calculator .form-control {
	border-radius: 0;
	border: 0;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	line-height: 20px;
	height: 32px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: none repeat scroll 0 0 white;
}
#short-calculator input:active, #short-calculator input:hover, #short-calculator input:focus, #short-calculator select:active, #short-calculator select:hover, #short-calculator select:focus {
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0px 0px 4px #f55e35 !important;
	outline-color: #fe4d4d;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}
#short-calculator #edit-service {
	width: 100%;
	padding: 2px !important;
}
#short-calculator .moving-form .left-block .title .fa {
	font-size: 25px;
	float: right;
	margin-right: 24px;
	line-height: 22px;
}
#short-calculator p.calc-intro_description {
	color: #373838;
	margin-top: 5px;
	margin-bottom: 14px;
	font-size: 14px;
	padding: 0px;
	text-align: left;
	margin: 0px;
}

.button_left_position, .btn-default {
	position: absolute;
	bottom: 25px;
	left: 20px;
}

.button_right_position, #go-to-info-btn, #submitRequestButton, #edit-go-to-summery {
	position: absolute;
	bottom: 25px;
	right: 20px;
}

button#submitRequestButton {
	position: absolute;
	bottom: 25px;
	right: 120px;
}

.btn.processing {
	-webkit-transform: translate(0, 3px) !important;
	-moz-transform: translate(0, 3px) !important;
	transform: translate(0, 3px) !important;
	opacity: 0.6;
	pointer-events: none;
	-webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.68) !important;
	-moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.68) !important;
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.68) !important;
}
select#edit-service {
	line-height: 22px;
}
#edit-calculator .form-item.form-type-checkbox.form-item-Extra-Furnished-Rooms-5 {
	width: 135px;
}

.check_ava_tip:before {
	content: '';
	position: absolute;
	border: 10px solid transparent;
	border-left-color: #f36a13;
	left: 44%;
	bottom: -20%;
	z-index: 1;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.check_ava_tip {
	-webkit-box-shadow: rgba(0, 0, 0, 0.49804) 0 0 10px;
	box-shadow: rgba(0, 0, 0, 0.49804) 0 0 4px;
	position: absolute;
	width: 190px;
	bottom: 75px;
	color: white;
	right: 95px;
	border: 1px solid #F06A28;
	letter-spacing: 0px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 400;
	background-color: #f36a13;
	padding: 5px;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

@media (min-width: 220px) and (max-width: 720px) {
	.prices-page .row.rates {
		display: none !important; }

	.row.ramobile {
		display: block !important; }

	.services-page section#home {
		display: none; }

	.prices-page section#home {
		display: none; }
	.prices-page #pricing {
		padding-top: 0px !important; }

	.promoText {
		color: white;
		font-size: 12px !important;
		line-height: 11px !important;
		font-weight: normal !important;
		padding: 0px !important;
		margin-top: 0px !important; }

	.col-md-6.col-xs-6.regular {
		font-size: 32px !important; }

	.ui-datepicker-div .type.link {
		display: none; }

	.flogo1 {
		width: 75px !important; }

	.flogo2 {
		width: 125px !important; }

	.flogo3 {
		width: 25px !important; }

	div#request {
		display: none; }

	.row.service-desc {
		display: none; }

	#services .service .title {
		display: none; }

	#services .service .img {
		width: 100% !important; }

	#services .hidden-desc {
		display: block !important; }


	.cf-form {
		display: block !important;
		zoom: 0.75;
	}

	.pricing-table .price {
		margin-top: 24px !important; }

	#storage-rates .hourly-rates .title {
		left: 80px !important;
		font-size: 20px !important; }

	#flat-rate .service.flat {
		width: 100% !important;
		float: none !important; }

	#flat-rate .flat-rates {
		width: 100% !important;
		float: none !important; }

	#flat-rate h4.flat-title span {
		font-size: 15px !important; }

	.monitor {
		display: none; }

	#services .hidden-desc h4 {
		font-size: 13px !important;
		line-height: 12px  !important;
		font-weight: 400;
		margin: 0;
		margin-top: 0px; }

	#pricing p {
		font-family: "Roboto";
		font-weight: 300;
		font-size: 13px !important;
		line-height: 22px !important; }

	.storage-info .flat-rates p {
		padding: 15px !important; }

	#pricing .flat-rates .title {
		font-size: 16px !important; }

	#pricing .storage-info .title {
		font-size: 16px !important;
		left: 60px !important;
		width: 260px !important; }

	#pricing .flat-rates .bottom-block {
		font-size: 12px !important; }

	#pricing .hourly-rates .bottom-block {
		font-size: 16px !important; }

	#pricing .hourly-rates .bottom-block {
		position: absolute;
		bottom: -10px;
		background-color: #ffffff;
		color: #f36a13;
		padding-right: 10px;
		width: 285px !important;
		left: 25px !important; }

	.container {
		width: 100%; }

	button#go-to-info-btn, #back-to-calc-btn {
		display: block; }

	.moving-form fieldset label {
		font-size: 12px !important; }

	.big-left-block.ng-scope {
		background-color: #ebebeb;
		WIDTH: 100%;
		height: 1320px !important; }

	fieldset#edit-personal-info {
		height: 1320px !important; }

	.time_block.dis-1, .four_block.hear_block.dis-1, .four_block.time_block, .four_block.user-info.ng-scope {
		width: 100% !important; }

	#navigation .header-contact .number {
		color: #f36a13;
		font-size: 12px !important; }

	div#confirmation_block {
		height: 900px !important; }

	#navigation .header-contact {
		margin: 10px 0px 0 !important; }



	div#pref_popup {
		width: 85% !important;
		margin: 0 auto !important; }
	div#pref_popup .md-pop-6 {
		width: 100% !important; }
	div#pref_popup .md-pop-2, div#pref_popup .info.md-pop-4 {
		display: none; }

	.four_block.left-small-block.ng-scope {
		display: none; }

	#block-movecalc-moving-form {
		height: 1320px !important; }

	.nav > li > a {
		position: relative;
		display: block;
		padding: 15px 10px !important; }

	ul#nav {
		display: none; }

	#short-calculator .three_block.info_block.left-block {
		display: none; }

	#home .calculate {
		width: 100% !important;
		height: 530px; }

	#pricing .hourly-rates .title {
		font-size: 20px; }

	.hourly-rates {
		width: 100% !important; }

	.flat-rates.wow.fadeInRight {
		width: 100% !important;
		margin-top: 70px; }

	#services .service {
		width: 100% !important; }

	.reviews-text {
		height: auto !important; }

	.statistic .col-xs-4 {
		width: 100% !important;
		margin-bottom: 30px; }

	#pricing .hourly-rates .sub-title {
		padding-left: 20% !important;
		text-align: left; }

	#services .lear-more {
		margin: 30px 0 0px; }

	#pricing .hourly-rates .price, #pricing .flat-rates .price {
		padding-left: 50% !important; }

	.calculate .form-calc {
		background: none;
		float: none !important;
		display: block !important;
		width: 320px;
		margin: 0 auto !important; }

	#pricing .hourly-rates .title {
		position: absolute;
		top: -28px;
		left: 29% !important; }


	.footer .rightbox {
		display: none; }
	.footer .leftbox {
		width: 100% !important;
		text-align: left; }

	#request h2 span {
		display: block; }
	#request .three_block.info_block.left-block {
		display: none; }
	#request .three_block.right-block {
		width: 100%;
		margin-top: 30px; }
	#request .three_block.form-block {
		width: 100% !important; }
	#request #progressbar {
		display: none; }
	#request .three_block.left-block.direction_info {
		display: none; }
	#request .four_block.block_from.dis-1 {
		width: 100%; } }

.spmenu {
	background: #65cff0;
	position: fixed; }
.spmenu.spmenu-open {
	-moz-box-shadow: -20px 0px 30px black;
	-webkit-box-shadow: -20px 0px 30px black;
	box-shadow: -20px 0px 30px black; }
.spmenu h3 {
	font-size: 14px;
	background: none;
}
.spmenu h4 {
	color: black; }
.spmenu a, .spmenu label {
	display: block;
	color: black;
	font-size: 1.1em;
	font-weight: 300; }
.spmenu a:active, .spmenu label:active {
	background: #65cff0;
	color: black; }
.spmenu a span, .spmenu label span {
	color: black; }
.spmenu a input, .spmenu label input {
	margin: 5px 10px 0 0 !important; }

/* Button */
a.spmenu-button {
	display: none;
	position: absolute;
	border: none;
	font-size: 25px;
	text-align: center;
	padding: 10px;
	background: #06c0f2;
	color: black;
	text-decoration: none;
	-moz-box-shadow: -8px 4px 10px black;
	-webkit-box-shadow: -8px 4px 10px black;
	box-shadow: -8px 4px 10px black;
	border: none !important; }
a.spmenu-button.show {
	display: block; }
a.spmenu-button.active {
	background: #65cff0;
	color: black; }
a.spmenu-button.active i, a.spmenu-button.active span {
	color: black; }
a.spmenu-button.active .caret {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid black;
	display: inline-block;
	height: 0;
	opacity: 1;
	vertical-align: top;
	width: 0; }
a.spmenu-button .caret {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid black;
	display: inline-block;
	height: 0;
	opacity: 1;
	vertical-align: top;
	width: 0;
	margin: 6px; }

/* Orientation-dependent styles for the content of the menu */
.spmenu-vertical {
	width: 320px;
	height: 100%;
	top: 0;
	z-index: 1000; }
.spmenu-vertical a, .spmenu-vertical label {
	padding: 0; }
.spmenu-vertical hr {
	margin: 0;
	border: 0;
	border-top: 1px solid white; }
.spmenu-vertical .menu-item-actions, .spmenu-vertical .menu-item-edit-actions {
	margin-top: 10px; }
.spmenu-vertical .menu-item-actions a, .spmenu-vertical .menu-item-edit-actions a {
	display: inline; }
.spmenu-vertical .menu-item-actions i, .spmenu-vertical .menu-item-edit-actions i {
	color: white; }
.spmenu-vertical .menu-item-actions .menu-item-action-separator, .spmenu-vertical .menu-item-edit-actions .menu-item-action-separator {
	color: white;
	display: inline-block;
	position: relative;
	top: -2px;
	margin: 0 5px; }

.spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	/*overflow: hidden;*/ }
.spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left; }
.spmenu-horizontal a, .spmenu-horizontal label {
	float: left;
	width: 20%;
	padding: 0.8em; }
.spmenu-horizontal hr {
	margin: 0;
	border: 0;
	border-left: 1px solid white; }

/* Vertical menu that slides from the left or right */
.spmenu-left {
	left: -320px;
	border-right: 1px solid #65cff0; }
.spmenu-left a.spmenu-button {
	left: 320px;
	top: 10px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px; }

.spmenu-right {
	right: -100%;
	border-left: 1px solid #65cff0; }
.spmenu-right a.spmenu-button {
	right: 320px;
	top: 10px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px; }

/* Horizontal menu that slides from the top or bottom */
.spmenu-top {
	top: -150px;
	border-bottom: 1px solid #65cff0; }
.spmenu-top a.spmenu-button {
	left: 10px;
	top: 150px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px; }

.spmenu-bottom {
	bottom: -150px;
	border-top: 1px solid #65cff0; }
.spmenu-bottom a.spmenu-button {
	left: 10px;
	bottom: 150px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px; }

/* Push classes applied to the body */
.spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0; }

.spmenu-push-toright {
	left: 320px; }

.spmenu-push-toleft {
	left: -320px; }

/* Transitions */
.spmenu, .spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease; }


/*CALENDAR */
.day-number.peak, li.peak, .ui-datepicker-calendar td.peak a {
	background: #e76a6b; }

#owl-calendar .cal {
	float: left;
	margin-left: 45px;
	min-height: 245px; }

.cal {
	display: block;
	width: 210px; }
.cal caption {
	display: block;
	font-family: "Open sans";
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	color: #4D9FDF;
	text-align: center;
	background: white;
	margin: 0px !important; }
.cal th {
	line-height: 20px;
	font-size: 8px;
	color: #4D9FDF;
	font-weight: bold;
	text-transform: uppercase;
	background: #FFFFFF;
	border: 0px; }

.cal th, .cal td {
	width: 15%;
	text-align: center;
	padding: 0px; }

.cal td {
	font-size: 11px;
	font-weight: bold; }

.cal th:first-child, .cal td:first-child {
	border-left: 0; }

.cal td a {
	clear: both;
	display: block;
	position: relative;
	width: 30px;
	line-height: 28px;
	color: #fff; }

.children.type_popup {
	display: none; }

.calendar-popup .month.ng-scope {
	float: left;
	width: 320px;
	min-height: 280px;
	margin-right: 40px; }
.calendar-popup span.day.SubPeak {
	background: #0a5c89;
	color: white; }
.calendar-popup span.day.Peak {
	background: #f36a13;
	color: white; }
.calendar-popup span.day.Discount {
	background: #1fc5ac; }
.calendar-popup span.day.HighPeak {
	background: #DB2D2D;
	color: white; }
.calendar-popup span.day.Regular {
	background: #4cb1e0;
	color: white; }

.day-number.regular, li.regular, .ui-datepicker-calendar td.Regular a {
	background: #4cb1e0; }

.day-number.peak, li.peak, .ui-datepicker-calendar td.Peak a {
	background: #f36a13; }

.day-number.subpeak, li.subpeak, .ui-datepicker-calendar td.SubPeak a {
	background: #0a5c89; }

.day-number.discount, li.dicount, .ui-datepicker-calendar td.Discount a {
	background: #1fc5ac; }

.day-number.highpeak, li.highPeak, .ui-datepicker-calendar td.HighPeak a {
	background: #DB2D2D; }

.ui-datepicker-buttonpane.ui-widget-content li.type {
	list-style: none;
	float: left;
	margin-left: 4px;
	margin: 4px;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 0px 10px;
	color: white;
	font-family: "Open sans";
	font-weight: 400;
	font-size: 14px; }

.calendar_settings .clndr-ang .clndr-ang-controls {
	padding: 5px 10px; }

.calendar_settings h1.year {
	text-align: center;
	font-size: 3em;
	margin-bottom: 35px; }

.calendar_settings .clndr-ang .clndr-ang-controls .month {
	display: inline-block;
	width: 160px;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 300;
	position: relative; }

.calendar_settings .month.ng-scope {
	display: inline-block;
	/* margin-left: 10px; */
	margin-right: 50px;
	min-height: 274px; }

.calendar_settings .clndr-ang {
	height: 287px;
	width: 285px;
	font-size: 14px;
	display: inline-block; }

.cal1 .clndr .clndr-controls {
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	text-align: center; }

.cal1 .clndr .clndr-controls .month {
	display: inline-block;
	width: 190px;
	text-align: center;
	color: #c1c1c1;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 5px 5px;
	position: relative;
	top: 2px; }

.cal1 .clndr .clndr-controls .clndr-control-button {
	display: inline-block;
	text-align: right; }

.cal1 .clndr .clndr-controls .clndr-control-button.leftalign {
	text-align: left !important; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
	cursor: pointer;
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+ */
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #C1C1C1; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
	background: #f4f4f4;
	padding: 5px 10px; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
	opacity: 0.5; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
	background: none;
	cursor: default; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
	cursor: pointer;
	-webkit-user-select: none;
	/* Chrome/Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+ */
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #C1C1C1; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
	background: #f4f4f4;
	padding: 5px 10px; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
	opacity: 0.5; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
	background: none;
	cursor: default; }

.cal1 .clndr .clndr-table {
	table-layout: fixed;
	width: 100%; }

.cal1 .clndr .clndr-table .header-days {
	height: 40px;
	font-size: 10px;
	background: #fff; }

.cal1 .clndr .clndr-table .header-days .header-day {
	vertical-align: middle;
	text-align: center;
	border-left: 0px solid #000000;
	border-top: 0px solid #000000;
	color: #666;
	font-size: 14px; }

.cal1 .clndr .clndr-table .header-days .header-day:last-child {
	border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr {
	height: auto; }

.cal1 .clndr .clndr-table tr td {
	vertical-align: top; }

.cal1 .clndr .clndr-table tr .day {
	border-left: 0px solid #000000;
	border-top: 0px solid #000000;
	width: 100%;
	height: inherit; }

.cal1 .clndr .clndr-table tr .day.inactive {
	background: #ddd; }

.cal1 .clndr .clndr-table tr .day:last-child {
	border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr .day .day-contents {
	box-sizing: border-box;
	padding: 8px;
	font-size: 12px;
	text-align: center; }

.cal1 .clndr .clndr-table tr .empty, .cal1 .clndr .clndr-table tr .adjacent-month {
	border-left: 0px solid #000000;
	border-top: 0px solid #000000;
	width: 100%;
	height: inherit; }

.cal1 .clndr .clndr-table tr .empty:last-child, .cal1 .clndr .clndr-table tr .adjacent-month:last-child {
	border-right: 0px solid #000000; }

.cal1 .clndr .clndr-table tr:last-child .day {
	border-bottom: 0px solid #000000; }

.cal1 .clndr .clndr-table tr:last-child .empty {
	border-bottom: 0px solid #000000; }

.calendar-block {
	background: #fff; }

.event-list-block {
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px; }

.calendar-block .day-contents {
	width: 30px;
	margin: auto; }

.today .day-contents {
	width: 30px;
	background: #1fb0ab;
	cursor: pointer;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }

.calendar-block .day-contents:hover {
	width: 30px;
	background: #1fb0ab;
	cursor: pointer;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }

.cal1 .clndr .clndr-controls {
	display: block !important;
	position: relative;
	margin-bottom: 10px;
	text-align: center;
	background: #27B6AF;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -15px;
	padding: 23px 20px;
	width: auto !important;
	color: #fff; }

.cal1 .clndr .clndr-controls .month span {
	display: block;
	font-size: 30px;
	padding: 0px 10px;
	margin-bottom: 10px; }

.cal1 .clndr .clndr-controls .month {
	color: #fff; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
	color: #fff; }

.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover, .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
	background: #f4f4f4;
	padding: 5px 10px;
	color: #1fb0ab; }

.clndr-previous-button {
	left: 15px;
	top: 25px;
	position: absolute; }

.clndr-next-button {
	right: 15px;
	top: 25px;
	position: absolute; }

.clndr-ang {
	display: block;
	margin: 0 auto; }

.clndr-ang .clndr-ang-controls {
	background: #27B6AF;
	display: block !important;
	position: relative;
	margin-bottom: 10px;
	text-align: center;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -15px;
	padding: 5px 20px;
	width: auto !important;
	color: #fff; }

.clndr-ang .clndr-ang-controls .month {
	display: inline-block;
	width: 190px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	position: relative; }

.clndr-ang .clndr-ang-controls .clndr-ang-previous-button {
	right: auto;
	left: 20px;
	top: 10px;
	font-size: 1.7em;
	position: absolute; }

.clndr-ang .clndr-ang-controls .clndr-ang-next-button {
	left: auto;
	right: 20px;
	top: 10px;
	font-size: 1.7em;
	position: absolute; }

.clndr-ang .clndr-ang-controls:hover {
	cursor: pointer; }

.clndr-ang .clndr-ang-grid .days-of-the-week {
	width: 100%; }

.clndr-ang .clndr-ang-grid .days-of-the-week .header-day {
	float: left;
	width: 14.28571%;
	padding: 12px 0;
	text-align: center; }

.clndr-ang .days .day, .clndr-ang .days .empty {
	float: left;
	width: 14.28571%;
	padding: 8px;
	position: relative;
	text-align: center; }

.clndr-ang .days .day.today, .clndr-ang .days .empty.today {
	background: #27B6AF;
	color: #fff; }

.clndr-ang .days .day .event-indicator, .clndr-ang .days .empty .event-indicator {
	background-color: #1F7BB6;
	border-radius: 100%;
	color: #fff;
	cursor: pointer;
	font-size: 9px;
	height: 15px;
	line-height: 16px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 15px; }

.clndr-ang .days .day.adjacent-month, .clndr-ang .days .empty.adjacent-month {
	opacity: 0.3; }

div.week {
	width: 100%; }
div.week span.day {
	width: 14.285%;
	display: inline-block;
	text-align: center; }
div.week span.day:first-child {
	border-left: none; }
div.week span.day.today {
	background: #E3F2FF; }
div.week span.day.different-month {
	color: #C0C0C0 !important;
	background: white !important; }

td.Block.this.day a {
	cursor: help;
	background: #CCCCCC !important;
	color: #252525;
	pointer-events: none;
}

.promo_block {
	position: absolute;
	left: 480px;
	top: 15%;
	background: rgba(39, 60, 82, 0.93);
	padding: 20px;
	color: white;
}
.promo_block h1 {
	color:white;

}
.ng-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 3000px;
	left: 0;
	padding-bottom: 70px;
	background: white;
	z-index: 250;
	overflow-y: scroll;
}
input.error {
	background: #F5ACAC;
	/* color: white !important; */
}

li.type.highpeak {
	background: red;
}

i.overlay-close.fa.fa-times.fa-2x {
	/* display: none; */
	top: 10%;
	position: absolute;
	right: 25%;
	color: #1D1D1D;
	cursor: pointer;
	font-size: 28px;
}

@media (min-height: 33.875em) {
	.er-picker--opened .er-picker__frame {
		top: 100px !important;
		bottom: 0;
		z-index: 10000;
		width: 100% !important;
	}
}
/* ANIMATIONS
============================================================================= */
/* slide out to the left */

/* enter animation */
#request-form .ng-enter            {
	-webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease;
}

/* leave animation */
#request-form .ng-leave            {
	-webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;
}
/* basic styling for entering and leaving */
/* left and right added to ensure full width */

div#request-form .input-group {
	width: 100%;
}

div#request-form .left-block .title {
	background-color: white !important;
	color: #f36a13 !important;
	height: 75px !important;
	border-bottom: 1px dotted #d5cccc;
	padding-top: 25px !important;
	font-weight: normal !important;
}

div#request-form h3.smcap {
	font-size: 24px !important;
	line-height: 29px !important;
	margin: 0;
	margin-top: 15px;
	color: #0a5c89 !important;
	font-weight: 400 !important;
}

div#request-form .three_block.info_block.left-block {
	background: white;
	padding: 20px;
	font-size: 14px;
}

div#request-form .form-control {
	border-radius: 0;
	border: 0;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	line-height: 23px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 3px;
}

div#request-form .form-group-left {
	/* width: 155px; */
	float: left;
	width: 48%;
	margin-right: 2%;
}

div#request-form .form-group-right {
	/* width: 155px; */
	float: left;
	width: 50%;
	position: relative;
}

div#request-form .form-group i {
	display: block;
	position: absolute;
	z-index: 2;
	top: 15px;
	right: 10px;
	width: 5px;
	height: 5px;
	border-left: 5px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #525252;
	pointer-events: none;
}

#edit-date-storage input {
	background-position: 150px 10px;
}

div#request-form .form-group {
	margin-bottom: 15px;
	position: relative;
}

.box_info .calc-intro_description .move-size .desc, #edit-calculator #zip_search {
	display:none;
}

#edit-calculator-results .moving-date {
	width:100%;
}

#edit-calculator-results .moving-date h3 {
	line-height:15px !important;
}


.office_room_9 {
	width: 87px !important;
}

#request-form .submit_btn {
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	background: #f06a28;
	color: white !important;
	-webkit-box-shadow: 0px 6px 0px #b75321;
	-moz-box-shadow: 0px 6px 0px #b75321;
	box-shadow: 0px 6px 0px #b75321;
	transition: all 0.3s ease;
}
#request-form .submit_btn p {
	display:inline;
	font-weight: 500;
}

#request-form .submit_btn:active {
	box-shadow: none;
}

#edit-calculator-results .calc-form .moving-date span, #summery_results .calc-form .moving-date span {
	line-height: 17px !important;
}

#edit-calculator-results .calc-form .moving-date span, #summery_results .calc-form .moving-date span .inline-commercial {
	display: inline;
}

.BottomToTop {
	font-size: 18px;
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 340px;
	box-shadow: 0px 6px 0px #b75321;
	transition: all 0.3s ease;
}