fieldset {
	border:none;
}

.sf-calculate-wrapper {
	background:#fff;
	top: 0px;
	position: relative;
	padding: 25px;
	max-width: 360px;
	margin: 0 auto;
	overflow: hidden;
	min-height: 500px;
	border-radius:5px;
	-webkit-box-shadow: 0px 15px 25px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px 15px 25px 0px rgba(50, 50, 50, 0.35);
	box-shadow:         0px 15px 25px 0px rgba(50, 50, 50, 0.35);
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */

/* enter animation */
#request-form .ng-enter            {
	-webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease;
}

/* leave animation */
#request-form .ng-leave            {
	-webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;
}
/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#request-form .ng-enter,
#request-form .ng-leave      {
	transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}

nav#slide_menu, .slide_menu {
	z-index: 10000 !important;
	width: 100%;
	border: none;
	background: white;
	position: absolute;
}

#slide_menu .form-item.form-type-checkbox {
	float: left;
	/* width: 89%; */
	width: 33%;
	font-size: 12px;
}

.sf-calculate-wrapper .form-slogan {
	margin-bottom: 25px;
	border:solid 1px #f3f3f3;
	border-radius:5px;
	padding:5px;
}

.sf-calculate-wrapper .form-slogan a {
	text-decoration:none;
	color:#41c780;
}

.sf-calculate-wrapper .form-slogan a:hover {
	text-decoration:underline;
}

span.company_phone.ng-binding {
	display: block;
	font-weight: bold;
}


.slide-wrapper {
	padding: 10px;
}

.back-link {
	font-size: 14px;
	color: #ececec;
}

.movesizeinput {
	cursor: pointer;
}

.toolbar {
	text-align: left;
	background-color: #221f20;
	bottom: auto;
	top: 0;
	height: 50px;
}

.toolbar button {
	border: 0;
	padding: 0 20px 0 15px;
	color: #f38e1c;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	background: none;
	cursor: pointer;
	font-weight: bold;
}

.sf-calculate-wrapper .el-form-control {
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 3px;
	background:#f3f3f3;
	height:40px;
	text-indent:10px;
}

#calc-info-steps > div.box_info > div > div.move-size > div {
//margin-top: 10px;
}

.icheckbox_square-green {
	float: left;
	margin-right: 5px;
}

.sf-calculate-wrapper .el-form-control-wrapper i {
	display: block;
	position: absolute;
	z-index: 2;
	top: 15px;
	right: 10px;
	width: 5px;
	height: 5px;
	border-left: 5px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #525252;
	pointer-events: none;
}

#edit-date-storage input {
	background-position: 150px 10px;
}

.sf-calculate-wrapper .el-form-control-wrapper {
	margin-bottom: 15px;
	position: relative;
	display:inline-block;
	width:100%;
}

.sf-calculate-wrapper .el-form-control-wrapper-half-left {
	width:48%;
	float:left;
}

.sf-calculate-wrapper .el-form-control-wrapper-half-right {
	width:48%;
	float:right;
}

.sf-calculate-wrapper .el-form-control-wrapper input {
	width:100%;
}

.divan {
	position: absolute;
	right: 40px;
	top: -8px;
}

.divan i::before {
	font-size: 30px;
}

.movesize .success.desktopzip {
	background-position: 95% center !important;
}

.movesize .success.desktopzip .divan {
	display: none;
}

#edit-size-move .full {
	height: 220px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.circleHandler {
	position: absolute;
	bottom: 0px;
	left: 8%;
	width: 100%;
	height: 40px;
}

.SmallFormCircle {
	border: 2px white solid;
	border-radius: 50%;
	position: relative;
	float: left;
	margin-right: 12%;
	margin-left: 12%;
	top: 100%;
	width: 0px;
	height: 0px;
}

.circleShow {
	top: 0 !important;
	width: 15px !important;
	height: 15px !important;
	transition: .5s;
}

.circleDone {
	background-color: limegreen;
	transition: .5s;
}

.MoveSizeBtn {
	background-color: #e2e2e2;
	border: 1px #8a8a8a solid;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
	margin: 2px;
	cursor: pointer;
}

.box_info .calc-intro_description .move-size .desc, #edit-calculator #zip_search {
	display:none;
}

#edit-calculator-results .moving-date {
	width:100%;
}

#edit-calculator-results .moving-date h3 {
	line-height:15px !important;
}

.bottom-done-button-wrapper {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.bottom-done-button {
	display: inline-block;
	padding: 5px 35px;
	color: #fff;
	border: none;
	background: #fc8336;
	border-radius: 5px;
	-webkit-box-shadow: 0 6px 0 #f36a13;
	-moz-box-shadow: 0 6px 0 #f36a13;
	box-shadow: 0 6px 0 #f36a13;
	transition: all 0.3s ease;
}

.bottom-done-button:hover {
	color: #000;
}

.bottom-done-button:active {
	box-shadow: none;
}

#slide_menu .form-item.form-type-checkbox {
	float: left;
	width: 50% !important;
	font-size: 12px;
	margin-left: 0 !important;
}

.office_room_9 {
	width: 87px !important;
}

#request-form .submit_btn {
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	background: #f06a28;
	color: white !important;
	-webkit-box-shadow: 0px 6px 0px #b75321;
	-moz-box-shadow: 0px 6px 0px #b75321;
	box-shadow: 0px 6px 0px #b75321;
	transition: all 0.3s ease;
}
#request-form .submit_btn p {
	display:inline;
	font-weight: 500;
}

#request-form .submit_btn:active {
	box-shadow: none;
}

#congrats_menu.spmenu {
	position:absolute;
	width:100%;
}

#congrats_menu.spmenu h3 {
	padding:15px !important;
	line-height:25px !important;
	font-size: 1.5em !important;
}

#congrats_menu.spmenu .mobileform.submit_btn {
	margin-bottom:30px;
	margin-top:20px;
}