<div class="modal-header">
    <ul class="nav nav-tabs storage-modal" select-tab>
        <li ng-class="{active:tabs.isSet(1)}" heading="Storage Info">
            <a href="" ng-click="tabs.setTab(1)">Storage Info</a>
        </li>
        <li ng-class="{active:tabs.isSet(2)}" heading="Invoice Template">
            <a href="" ng-click="tabs.setTab(2)">Invoice Template</a>
        </li>
        <li ng-class="{active:tabs.isSet(3)}" heading="Reminder 1">
            <a href="" ng-click="tabs.setTab(3)">Reminder 1</a>
        </li>
        <li ng-class="{active:tabs.isSet(4)}" heading="Reminder 2">
            <a href="" ng-click="tabs.setTab(4)">Reminder 2</a>
        </li>
        <li ng-class="{active:tabs.isSet(5)}" heading="Reminder 3">
            <a href="" ng-click="tabs.setTab(5)">Reminder 3</a>
        </li>
        <li ng-class="{active:tabs.isSet(6)}" heading="Fee Invoice Template">
            <a href="" ng-click="tabs.setTab(6)">Fee Invoice Template</a>
        </li>
        <li ng-class="{active:tabs.isSet(7)}"
            ng-if="modalSave.logs"
            heading="Logs">
            <a href="" ng-click="tabs.setTab(7)">Logs</a>
        </li>
    </ul>
</div>
    <div class="modal-body form-horizontal">
        <div ng-show="modalSave.busy" class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        <div class="tab-content">
            <div ng-show="tabs.isSet(1)" id="add">
                <form name="addStorage">
                    <div class="row">
                        <div class="col-sm-6 half">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="name">Name<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.username.$dirty && addStorage.username.$error.required }">
                                        <input ng-model="modalSave.name" name="username" class="required form-control" type="text" id="name" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="storageAddress" class="col-sm-4 control-label">Address<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.address.$dirty && addStorage.address.$error.required }">
                                        <textarea ng-model="modalSave.address" id="storageAddress" name="address" rows="5" class="form-control" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="zip">Zip<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.zip.$dirty && (addStorage.zip.$error.required || addStorage.zip.$error.mask)}">
                                        <input ng-model="modalSave.zip" maxlength="5" placeholder="Zip from" ng-maxlength="5" ng-model-options="{ debounce: 1000 }" data-mask="99999" ng-change="modalSave.changePostalCode()" class="required form-control" name="zip" type="text" id="zip" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label">State: </label>
                                    <div class="col-sm-7" >
                                        <input ng-model="modalSave.state" placeholder="State" ng-maxlength="5" class="required form-control" type="text" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="zip">City: </label>
                                    <div class="col-sm-7">
                                        <input ng-model="modalSave.city" placeholder="City" class="required form-control" type="text" id="city" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="phone1">Phone 1<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.phone1.$dirty && (addStorage.phone1.$error.required || addStorage.phone1.$error.mask)}">
                                        <input ng-model="modalSave.phone1"
                                               phone-input
                                               minlength="14"
                                               maxlength="14"
                                               placeholder="(XXX) XXX-XXXX"
                                               class="required form-control"
                                               type="text"
                                               id="phone1"
                                               name="phone1"
                                               required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="phone2">Phone 2: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.phone2.$dirty && (addStorage.phone2.$error.required || addStorage.phone2.$error.mask)}">
                                        <input class="required form-control"
                                               id="phone2"
                                               name="phone2"
                                               ng-model="modalSave.phone2"
                                               phone-input
                                               minlength="14"
                                               maxlength="14"
                                               placeholder="(XXX) XXX-XXXX"
                                               type="text" >
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="fax">Fax: </label>
                                    <div class="col-sm-7">
                                        <input ng-model="modalSave.fax" class="required form-control" type="text" id="fax">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="email">E-mail<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': !addStorage.email.$error.required && addStorage.email.$dirty && addStorage.email.$error.email }">
                                        <input ng-model="modalSave.email" class="required form-control" type="email" id="email" name="email" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 half">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="tax">Tax: </label>
                                    <div class="col-sm-7">
                                        <input cc-percent id="tax" ng-model="modalSave.tax" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="rate">Rate Per Cuft<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.rate.$dirty && addStorage.rate.$error.required && addStorage.rate.$error.rate }">
                                        <input cc-currency ng-model="modalSave.rate_per_cuft" id="rate" name="rate" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="lateFee">Late Fee: </label>
                                    <div class="col-sm-7">
                                        <input cc-currency ng-model="modalSave.late_fee" id="lateFee"  class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="lateFeeDays">Apply late Fee in: </label>
                                    <div class="col-sm-7">
                                        <input cc-days ng-model="modalSave.apply_late_fee_in" type="text" class="form-control" id="lateFeeDays">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="min-cuft">Minimum Cuft: </label>
                                    <div class="col-sm-7">
                                        <input ng-model="modalSave.min_cuft" type="number" class="form-control" id="min-cuft">
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="storageTerms" class="col-sm-4 control-label">Terms: </label>
                                    <div class="col-sm-7">
                                        <textarea ng-model="modalSave.terms" id="storageTerms" name="terms" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h2 class="storage-reminders-title">Storage reminders time</h2>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="remindertime1">Reminder 1 days<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.remindertime1.$dirty && addStorage.remindertime1.$error.required }">
                                        <input ng-model="modalSave.reminder1Days" name="remindertime1" class="required form-control" type="number" min="0" id="remindertime1" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="remindertime2">Reminder 2 days<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.remindertime2.$dirty && addStorage.remindertime2.$error.required }">
                                        <input ng-model="modalSave.reminder2Days" name="remindertime2" class="required form-control" type="number" min="0" id="remindertime2" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="remindertime3">Reminder 3 days<span style="color: #a94442;">* </span>: </label>
                                    <div class="col-sm-7" ng-class="{ 'has-error': addStorage.remindertime3.$dirty && addStorage.remindertime3.$error.required }">
                                        <input ng-model="modalSave.reminder3Days" name="remindertime3" class="required form-control" type="number" min="0" id="remindertime3" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row def-del">
                        <div class="col-sm-6 half">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label" for="default">Default Storage </label>
                                    <div class="col-sm-3">
                                        <input  ng-model="modalSave.default" ng-disabled="!modalSave.isDefault && modalSave.defaultStorageExist" type="checkbox" name="checkbox" id="default">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-sm-offset-1 control-label" for="closeBalance">Always collect full balance</label>
                                    <div class="col-sm-3" style=" line-height: 2.8;">
                                        <input  ng-model="modalSave.closeBalance" type="checkbox" name="closeBalance" id="closeBalance">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 half">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2 col-sm-offset-10">
                                        <i ng-show="isUpdate" ng-click="deleteStorage()" class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="tabs.isSet(2)" id="invoiceTemp">
                <email-template-preview template="invoiceStorageTemplate" blocks-menu="blocksMenu" is-send-preview="isSendEmailPreview" template-options="previewOptionsOfInvoice"></email-template-preview>
            </div>
            <div ng-show="tabs.isSet(3)" id="reminder1">
                <email-template-preview template="reminder1StorageTemplate" blocks-menu="blocksMenu" is-send-preview="isSendEmailPreview" template-options="previewOptionsOfReminder1"></email-template-preview>
            </div>
            <div ng-show="tabs.isSet(4)" id="reminder2">
                <email-template-preview template="reminder2StorageTemplate" blocks-menu="blocksMenu" is-send-preview="isSendEmailPreview" template-options="previewOptionsOfReminder2"></email-template-preview>
            </div>
            <div ng-show="tabs.isSet(5)" id="reminder3">
                <email-template-preview template="reminder3StorageTemplate" blocks-menu="blocksMenu" is-send-preview="isSendEmailPreview" template-options="previewOptionsOfReminder3"></email-template-preview>
            </div>
            <div ng-show="tabs.isSet(6)" id="feeInvoiceTemp">
                <email-template-preview template="feeInvoiceTemplate" blocks-menu="blocksMenu" is-send-preview="isSendEmailPreview" template-options="previewOptionsTitleOfFeeInvoice"></email-template-preview>
            </div>
            <div ng-if="tabs.isSet(7) && modalSave.logs"
                 id="logs">
                <storage-logs logs="modalSave.logs"></storage-logs>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">Close</button>
        <button type="button" class="btn btn-success" ng-disabled="addStorage.$invalid || modalSave.rate_per_cuft == 0 " ng-click="isUpdate? saveStorage() : addNewStorage()">Save</button>
    </div>
