<section class="main-content-wrapper storage">
    <div class="pageheader">
        <h1>Storage</h1>
    </div>
    <section id="main-content">
        <div class="row">
            <div ng-repeat="object in storage.list" class="col-md-6 storage-item animated fadeInLeft">
                <a href="" data-toggle="modal" data-target="#addingStorage">
                    <section class="panel hvr-glow" ng-click="storage.updateStorage($index)">
                        <div class="panel-body profile-wrapper">
                            <div class="col-md-4">
                                <div class="storage-pic text-center">
                                    <img ng-src="content/img/storage-icons/Storage.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="storage-info col-md-10">
                                    <h1 ng-bind="object.data.name"></h1>
                                    <p>Address: <span ng-bind="object.data.address + ', ' + object.data.city + ', ' + object.data.state + ', ' + object.data.zip"></span></p>
                                    <p>E-mail: <span ng-bind="object.data.email"></span></p>
                                    <p>Phone: <span ng-bind="object.data.phone1 | nationalPhoneFormatter"></span></p>
                                    <p>Tax: <span ng-bind="object.data.tax + '%'"></span></p>
                                    <p>Rate Per Cuft: <span ng-bind="object.data.rate_per_cuft | currency"></span></p>
                                    <p>Late Fee: <span ng-bind="'$'+object.data.late_fee"></span></p>
                                    <p>Apply late Fee in: <span ng-bind="object.data.apply_late_fee_in + ' days'"></span></p>
                                </div>
                                <div ng-show="object.data.default" class="default text-center col-md-2" data-toggle="tooltip" data-placement="bottom" title="Default storage">
                                    <img ng-src="content/img/storage-icons/buildings1.png" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </section>
                </a>
            </div>
            <div class="col-md-6 storage-item new animated fadeInLeft" >
                <a href="" ng-click="storage.openModal()">
                    <section class="panel hvr-glow">
                        <div class="panel-body profile-wrapper">
                            <div class="col-md-12">
                                <div class="storage-pic text-center">
                                    <img ng-src="content/img/storage-icons/add_Storage.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="storage-info text-center">
                                    <h1>Add New Storage</h1>
                                </div>
                            </div>
                        </div>
                    </section>
                </a>
            </div>
        </div>
    </section>
</section>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
