<div id="reservation-page-valuation"
	 class="row general_info stats"
	 ng-if="show_valuation_settings[request.service_type.raw]">
	<h2 class="btitle">Valuation</h2>
	<div class="stat_row row nopadding" ng-if="isPerPoundValuation">
		<h2  class="unlimitedWidth"> Basic Value Protection: {{valuationTitles[valuationTypes.PER_POUND].title}} (included)</h2>
	</div>
	<div class="quote_note"
		 ng-if="isPerPoundValuation"
		 move-board-compile="valuationTitles[1].explanation">
	</div>
	<div class="stat_row row nopadding" ng-if="confirmation_table_show || isFullAmount">
		<h2 class="unlimitedWidth">
			Full Value Protection Amount of Liability:
			<span class="unlimitedWidth__amount">${{::request.request_all_data.valuation.selected.liability_amount | number : 2}}</span>
			<span class="unlimitedWidth__amount"
				  ng-if="!isFullAmount">(optional)</span>
		</h2>
	</div>
	<div class="stat_row row nopadding"
		 ng-if="selectedDeductible && isFullAmount">
		<h2 class="unlimitedWidth">
			Deductible Level:
			<span class="unlimitedWidth__amount">${{::request.request_all_data.valuation.selected.deductible_level | number:2}}</span>
		</h2>
	</div>
	<div class="stat_row row nopadding" ng-if="request.request_all_data.valuation.selected.valuation_charge">
		<h2 class="unlimitedWidth">
			Valuation charge:
			<span class="unlimitedWidth__amount">${{::request.request_all_data.valuation.selected.valuation_charge | number:2}}</span>
		</h2>
	</div>

    <div class="valuation-confirmation-table-wrapper table-responsive">
        <table class="valuation-confirmation-table table" ng-if="confirmation_table_show || isFullAmount">
            <tr>
                <td class="valuation-confirmation-table__cell text-left">
                    <h2>Deductible level</h2>
                </td>
                <td class="valuation-confirmation-table__cell"
                    ng-repeat="level in headers track by $index">
                    <span>$ {{level | number : 2}}</span>
                    <span class="selected-deductible-level"
                          ng-if="selected[$index] && isFullAmount">(selected)</span>
                </td>
            </tr>
            <tr>
                <td class="valuation-confirmation-table__cell text-left">
                    <h2>Valuation charge</h2>
                </td>
                <td class="valuation-confirmation-table__cell"
                    ng-repeat="charge in calculatedValuations track by $index">
                    <span>$ {{charge | number : 2}}</span>
                </td>
            </tr>
            <tr>
                <td class="valuation-confirmation-table__cell text-left">
                    <h2>Total Estimate Plus Valuation Charge:</h2>
                </td>
                <td class="valuation-confirmation-table__cell"
                    ng-repeat="total in totalEstimatePlus track by $index">
                    <span>{{total}}</span>
                </td>
            </tr>
            <tr class="valuation-confirmation-table__explanation-row">
                <td class="valuation-confirmation-table__explanation-cell"
                    colspan="{{calculatedValuations.length + 1}}"
                    move-board-compile="valuationTitles[2].explanation"></td>
            </tr>
        </table>
    </div>
</div>
