height = 30px
.crew-preview
	position: absolute;
	background-color: white;
	border-radius: (height / 2);
	height: max-content;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	left: 16px;
	bottom: 5px;
	box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	&:hover
		.crew-preview__row__additional
			height: height;
			opacity: 1;
			transition-duration: 500ms;
	&__user-name
		left: 5px;
	&__row
		height: height;
		min-height: height;
		max-height: height;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 12px;
		line-height: 12px;
		&__additional
			height: 0;
			width: 100%;
			opacity: 0;
			transition-duration: 500ms;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 5px;
			&__text
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
	&__photo
		border: 1px solid white;
		border-radius: (height / 2);
		height: height;
		width: height;
		min-width: height;
		background-size: contain;
