<div class="crew-preview" ng-show="foremanInfo">
    <div class="crew-preview__row">
        <div class="crew-preview__photo" ng-style="photoStyle">
        </div>
        <span class="crew-preview__user-name">{{foremanInfo.name}}</span>
    </div>
    <div class="crew-preview__row__additional" ng-repeat="helper in helpersInfo track by (helper.uid + $index)">
        <span class="crew-preview__row__additional__text">
            {{helper.field_user_first_name ? helper.field_user_first_name+' '+helper.field_user_last_name : helper.name}}
        </span>
    </div>
</div>
