.modal-body.advanced-packing-settings
    .modal-title
        h3.text-center Advanced Packing Settings
    .advanced-settings.general-setting.col-xs-12
        .setting
            input.icheckbox_flat-green.icheck(ichecks="", checkstyle="green", type="checkbox", ng-model="hidePrice")
            h4 Show estimated packing price
    .advanced-settings.col-md-6.col-xs-12(ng-show="hidePrice")
        .setting
            input.icheckbox_flat-green.icheck(ichecks="", checkstyle="green", type="checkbox", ng-model="allSettingsService", ng-change="checkAll(advancedPackingSettingsService, allSettingsService)")
            span.service-type-name All
        .setting(ng-repeat="setting in advancedPackingSettingsService")
            input.icheckbox_flat-green.icheck(ichecks="", checkstyle="green", type="checkbox", ng-model="setting.show", ng-change="changeSetting()")
            span.service-type-name {{::setting.name}}
    .advanced-settings.col-md-6.col-xs-12(ng-show="hidePrice")
        .setting
            input.icheckbox_flat-green.icheck(ichecks="", checkstyle="green", type="checkbox", ng-model="allSettingsStatus", ng-change="checkAll(advancedPackingSettingsStatus, allSettingsStatus)")
            span.service-type-name All
        .setting(ng-repeat="setting in advancedPackingSettingsStatus")
            input.icheckbox_flat-green.icheck(ichecks="", checkstyle="green", type="checkbox", ng-model="setting.show", ng-change="changeSetting()")
            span.service-type-name {{::setting.name}}
.modal-footer.col-xs-12
    button.btn.btn-default.pull-left(type='button', ng-click='cancel()') Close
    button.btn.btn-primary(type='submit', ng-click='save()') Save
