.advanced-packing-settings
	.modal-title
		h3.text-center
			margin 0 -15px 15px
	.advanced-settings
		.setting
			margin-bottom .5em
			.service-type-name
				margin-left 1em
		&.general-setting
			padding .5em 1em
			border-bottom 1px solid #d4d4d4
			margin-bottom .5em
			.icheckbox_flat-green
				float left
				margin-right 1em
			h4
				float: left