.payment-collected md-content {
  background-color: #F3F3F4;
  overflow: visible;
}

.payment-collected .payment-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #283593;
}

.payment-collected .payment-toolbar .toolbar-column, .payment-collected .payment-toolbar .toolbar-column-name {
  font-size: 14px;
  padding-right: 100px;
}

.payment-collected .payment-toolbar .toolbar-column .title-lb, .payment-collected .payment-toolbar .toolbar-column-name .title-lb {
  color: #b6b6b6;
}

.payment-collected .payment-toolbar .toolbar-column .title-lb-name, .payment-collected .payment-toolbar .toolbar-column .title-value, .payment-collected .payment-toolbar .toolbar-column-name .title-lb-name, .payment-collected .payment-toolbar .toolbar-column-name .title-value {
  color: #FFF;
}

.payment-collected .payment-toolbar .toolbar-column .title-lb, .payment-collected .payment-toolbar .toolbar-column .title-value, .payment-collected .payment-toolbar .toolbar-column-name .title-lb, .payment-collected .payment-toolbar .toolbar-column-name .title-value {
  padding: 4px;
}

.payment-collected .payment-toolbar .toolbar-column-name {
  font-size: 20px;
}

@media only screen and (max-width: 1366px) {
  .payment-collected .payments-table-wrapper .payments-table td, .payment-collected .payments-table-wrapper .payments-table th {
    padding: 0 5px 0 0 !important;
  }
}

.filter-block {
  margin: 25px 5px;
}

.filter-block .md-errors-spacer {
  display: none;
}

.filter-block md-select {
  width: 200px;
  max-width: 200px;
}

.control-datepicker {
  display: inline-block;
}

.payment-refresh {
  top: 20px;
  margin-right: 25px;
}

.apply-btn-active {
  background: #57bb2b !important;
  color: #fff !important;
}

.payments-table-wrapper {
  background: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.payments-table-wrapper .payments-table .payment-date-column {
  min-width: 150px;
}

.payments-table-wrapper .payments-table .table-icon-container {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.payments-table-wrapper .payments-table .cash, .payments-table-wrapper .payments-table .credit-card, .payments-table-wrapper .payments-table .check, .payments-table-wrapper .payments-table .custom, .payments-table-wrapper .payments-table .refund {
  position: relative;
  top: 3px;
  font-size: 20px;
}

.payments-table-wrapper .payments-table .cash {
  background-color: #6cda6c;
}

.payments-table-wrapper .payments-table .credit-card {
  background-color: #6eb7f3;
}

.payments-table-wrapper .payments-table .check {
  color: #000;
  background-color: #ffd54f;
}

.payments-table-wrapper .payments-table .refund {
  background-color: #ff7f7f;
}

.payments-table-wrapper .payments-table .custom {
  background-color: purple;
}

.payments-table-wrapper .payments-table .credit-icon, .payments-table-wrapper .payments-table .check-icon, .payments-table-wrapper .payments-table .cash-icon {
  position: relative;
}

.payments-table-wrapper .payments-table .credit-icon {
  top: 3px;
}

.payments-table-wrapper .payments-table .check-icon {
  top: 1px;
  left: 2px;
}

.payments-table-wrapper .payments-table .cash-icon {
  top: 1px;
}

.payments-table-wrapper .payments-table th, .payments-table-wrapper .payments-table td {
  cursor: pointer;
  text-align: center !important;
}

.payments-table-wrapper .payments-table tr.payment-row {
  height: 43px;
}

.payments-table-wrapper .payments-table tr.payment-row:nth-child(odd) {
  background: #eee;
}

.payments-table-wrapper .payments-table tr.payment-row:hover {
  background-color: #def0ff;
}

.payments-table-wrapper .payments-collected-table-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payments-table-wrapper .payments-collected-table-footer .table-footer-total, .payments-table-wrapper .payments-collected-table-footer .btn-footer-group {
  margin: 25px;
}
/*# sourceMappingURL=index.css.map */