.payment-collected {
	md-content {
		background-color: #F3F3F4;
		overflow: visible;
	}

	.payment-toolbar {
		display: flex;
		background: rgb(40,53,147);

		.toolbar-column, .toolbar-column-name {
			font-size: 14px;
			padding-right: 100px;

			.title-lb {
				color: #b6b6b6;
			}
			.title-lb-name, .title-value {
				color: #FFF;
			}
			.title-lb, .title-value {
				padding: 4px;
			}
		}

		.toolbar-column-name {
			font-size: 20px;
		}
	}
}


@media only screen and (max-width: 1366px) {
	.payment-collected {
		.payments-table-wrapper {
			.payments-table {
				td, th {
					padding: 0 5px 0 0 !important;
				}
			}
		}
	}
}
