.payment-collected md-content {
  background-color: #F3F3F4;
  overflow: visible;
}

.payment-collected .payment-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #283593;
}

.payment-collected .payment-toolbar .toolbar-column, .payment-collected .payment-toolbar .toolbar-column-name {
  font-size: 14px;
  padding-right: 100px;
}

.payment-collected .payment-toolbar .toolbar-column .title-lb, .payment-collected .payment-toolbar .toolbar-column-name .title-lb {
  color: #b6b6b6;
}

.payment-collected .payment-toolbar .toolbar-column .title-lb-name, .payment-collected .payment-toolbar .toolbar-column .title-value, .payment-collected .payment-toolbar .toolbar-column-name .title-lb-name, .payment-collected .payment-toolbar .toolbar-column-name .title-value {
  color: #FFF;
}

.payment-collected .payment-toolbar .toolbar-column .title-lb, .payment-collected .payment-toolbar .toolbar-column .title-value, .payment-collected .payment-toolbar .toolbar-column-name .title-lb, .payment-collected .payment-toolbar .toolbar-column-name .title-value {
  padding: 4px;
}

.payment-collected .payment-toolbar .toolbar-column-name {
  font-size: 20px;
}

@media only screen and (max-width: 1366px) {
  .payment-collected .payments-table-wrapper .payments-table td, .payment-collected .payments-table-wrapper .payments-table th {
    padding: 0 5px 0 0 !important;
  }
}
/*# sourceMappingURL=paymentsCollected.css.map */