<div ng-controller="PaymentsCollectedCtrl" class="payment-collected">
    <md-toolbar>
        <div class="md-toolbar-tools payment-toolbar">
            <div class="toolbar-column-name">
                <h2 class="title-lb-name">Payments Collected</h2>
            </div>
            <div class="toolbar-column"
                 ng-if="paymentsData.meta.totalCount">
                <h2 class="title-lb">Receipts</h2>
                <h2 class="title-value">{{paymentsData.meta.totalCount}}</h2>
            </div>
            <div class="toolbar-column">
                <h2 class="title-lb">Total</h2>
                <h2 class="title-value">{{totalPayments || 0 | currency}}</h2>
            </div>
        </div>
    </md-toolbar>
    <md-content busy-overlay="busy">
        <controls-payments-collected payments-data="paymentsData"
                                     payments-filter="paymentsFilter"
                                     column="column"
                                     get-data="getData({filters: filters, page: page, sort: sort})"
                                     reset-sort="resetSort()">
        </controls-payments-collected>
        <table-payments-collected ng-if="paymentsData"
                                  payments-data="paymentsData"
                                  payments-filter="paymentsFilter"
                                  column="column"
                                  get-data="getData({filters: filters, page: page, sort: sort})"
                                  reset-sort="resetSort()">
        </table-payments-collected>
    </md-content>
</div>
