<div print-section class="payment-receipt-modal">
    <div class="busyoverlay" ng-show="busy" print-remove>
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="modal-header gray">
        <h2>Receipt | #{{receipt.transaction_id || receipt.id}}</h2>
        <div class="pull-right" print-remove>
            <button class="btn btn-info print-button" print-btn><i class="icon-printer"></i></button>
        </div>
    </div>
    <div class="col-md-12" style="padding:25px;" ng-show="receipt.transaction_id != 'Custom Payment' || isAccount" print-remove>
        <div class="field-type-of-entrance-from"><span class="mtitle">ID : </span> <span>{{receipt.id}}</span></div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Type : </span>
            <span>{{receipt.payment_flag}}</span></div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Transaction id :
            </span> <span>#{{receipt.transaction_id || receipt.transactionDefault}}</span>
        </div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Date : </span> <span>{{dateFormat(receipt.created || receipt.date)}}</span>
        </div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Name : </span> {{receipt.name || receipt.customer_name}}</div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Phone : </span> {{receipt.phone | nationalPhoneFormatter}}</div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Email : </span> {{receipt.email }}</div>

        <div class="field-type-of-entrance-from"><span class="mtitle">Amount: </span> <span>$ {{receipt.amount | number : 2}}   </span>
        </div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Card Type : </span>
            <span>{{receipt.card_type}} </span> <span>{{cardsTypes[receipt.cctype]}} </span></div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Account number </span> <span>****{{receipt.ccardN}}   </span>
        </div>
        <div class="field-type-of-entrance-from"><span class="mtitle">Auth code: </span>
            <span>{{receipt.auth_code}}   </span>
        </div>
    </div>
    <div ng-if="receipt.transaction_id == 'Custom Payment' && isNotAccount" style="padding:25px;" print-remove>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">ID : </label>
                <div class="col-sm-7">{{receipt.id}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Type : </label>
                <div class="col-sm-7">{{receipt.payment_flag}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Transaction id : </label>
                <div class="col-sm-7">#{{receipt.transaction_id || receipt.transactionDefault}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Date : </label>
                <div class="col-sm-7">
                    <input ng-model="receipt.date"
                           class="required  form-control  form-select validate"
                           number-of-months="1"
                           change-year="true"
                           min-date="1960"
                           cc-da-picker data-type="pickup"
                           created-date="receipt.created">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Name : </label>
                <div class="col-sm-7">{{receipt.name}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Phone : </label>
                <div class="col-sm-7">
                    <input class="form-control validate" ng-model="receipt.phone" phone-input>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Email : </label>
                <div class="col-sm-7">
                    <input class="form-control validate"
                           ng-model="receipt.email"
                           pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                           er-lowercase>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Amount: </label>
                <div class="col-sm-7">
                    <input class="form-control validate" ng-model="receipt.amount" er-only-float required>
                </div>
            </div>
        </div>
        <div class="row" ng-if="receipt.cctype">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Card Type : </label>
                <div class="col-sm-7">
                    <select class="form-control validate" ng-model="receipt.cctype">
                        <option value="visa">Visa</option>
                        <option value="master">Master Card</option>
                        <option value="americanexpress">American Express</option>
                        <option value="discover">Discover</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="receipt.ccardN">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Card Number: </label>
                <div class="col-sm-7">
                    <input class="form-control validate" ng-model="receipt.ccardN">
                </div>
            </div>
        </div>
        <div class="row" ng-if="receipt.checkN">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Check No: </label>
                <div class="col-sm-7">
                    <input class="form-control validate" ng-model="receipt.checkN">
                </div>
            </div>
        </div>
        <div class="row" ng-if="receipt.cvv">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">CVV: </label>
                <div class="col-sm-7">
                    <input class="form-control validate" ng-model="receipt.cvv">
                </div>
            </div>
        </div>
        <div class="row" ng-if="receipt.ccardN">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">Expire Date: </label>
                <div class="col-sm-3">
                    <select class="form-control validate"
                            ng-model="receipt.expmonth">
                        <option
                                ng-repeat="n in range(1,12,1)" value="{{n}}" ng-selected="receipt.expmonth == n">{{n}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control validate"
                            ng-model="receipt.expyear">
                        <option
                                ng-repeat="n in range(2000,2100,1)" value="{{n}}" ng-selected="receipt.expyear == n">
                            {{n}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">
                    Account number </label>
                <div class="col-sm-7">
                    <input class="form-control validate" ng-model="receipt.account_number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">
                    Auth code: </label>
                <div class="col-sm-7">
                    <input class="form-control validate" ng-model="receipt.auth_code">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4 control-label">
                    Notes: </label>
                <div class="col-sm-7">
                    <textarea class="form-control validate" style="resize: vertical;" ng-model="receipt.description"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row print-wrapper" print-only>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">ID : </span> <span>{{receipt.id}}</span>
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Type : </span>
            <span>{{receipt.payment_flag}}</span>
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Transaction id : </span> <span>#{{receipt.transaction_id || receipt.transactionDefault}}</span>
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Date : </span> <span>{{dateFormat(receipt.created || receipt.date)}}</span>
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Name : </span> {{receipt.name || receipt.customer_name}}
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Phone : </span> {{receipt.phone }}
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Email : </span> {{receipt.email }}
        </div>

        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Amount: </span> <span>$ {{receipt.amount | number : 2}}   </span>
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Card Type : </span>
            <span>{{receipt.card_type}} </span> <span>{{cardsTypes[receipt.cctype]}} </span>
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Account number </span> <span>****{{receipt.ccardN}}   </span>
        </div>
        <div class="col-md-12 field-type-of-entrance-from">
            <span class="mtitle">Auth code: </span>
            <span>{{receipt.auth_code}}   </span>
        </div>
    </div>
</div>
<div class="row" style="padding:25px;" ng-if="cardImages && cardImages.length > 0 && isAdmin" print-remove>
    <div class="col-md-4 fadeInUp" style="text-align: center;" ng-repeat="image in cardImages track by $index">
        <img class="card-signatured-box" ng-click="openCardPhoto(image)" ng-src="{{image}}" style="cursor: pointer;">
    </div>
</div>

<div class="modal-footer" print-remove>
    <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-danger" ng-click="save()" ng-if="receipt.transaction_id == 'Custom Payment' && isNotAccount">Save
    </button>
</div>
