<section class="datatable-invoice">
	<div ng-show="busy">
		<div class="busyoverlay">
			<svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33"
						r="30"></circle>
			</svg>
		</div>
	</div>
	<section>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Invoices</h3>
						<div class="inputGroup">
							<md-input-container>
								<md-datepicker
									ng-model="startDate"
									md-placeholder="Start Date"
									ng-change="getInvoicesFromApi()"
									md-open-on-focus
								>
								</md-datepicker>
							</md-input-container>
							<md-input-container>
								<md-datepicker
									ng-model="endDate"
									md-placeholder="End Date"
									ng-change="getInvoicesFromApi()"
									md-open-on-focus
								>
								</md-datepicker>
							</md-input-container>
							<button class="md-primary" ng-click="clickPrevMonth()">Last Month</button>
							<button class="md-primary" ng-click="clickCurrMonth()">This Month</button>
						</div>
						<div class="inputGroup">
							<i class="fa fa-filter" aria-hidden="true"></i>
							<md-input-container>
								<md-select ng-model="filterFlag">
									<md-option value="-1">All</md-option>
									<md-option ng-repeat="status in statusesInSelect" value="{{$index}}">{{status.name}}</md-option>
								</md-select>
							</md-input-container>
						</div>
						<span class="table-total">
							Total: {{totalsTop.allMoney || "0.00" | currency}}
						</span>
					</div>
					<div class="panel-body mdDataTable nopadding">
						<table class="data-table">
							<thead>
							<tr>
								<th ng-repeat="(key, value) in sortingFields" ng-click="clickOnField(key)"
									ng-class="{'sorting_desc': sortingDirection && value.sortBy, 'sorting_asc': !sortingDirection && value.sortBy}">
									{{value.name}}
								</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="invoice in invoices track by invoice.id" ng-class="{'disabled':busy}">
								<td>{{invoice.id}}</td>
								<td>{{invoice.client_name}}</td>
								<td>{{invoice.description}}</td>
								<td>{{invoice.invoice_date}}</td>
								<td>{{invoice.total | currency}}</td>
								<td> <span class="status status_{{statusNames[invoice.status]}}">{{statusNames[invoice.status]}}</span></td>
								<td class="openInvoice" ng-click="openInvoice(invoice.hash)">
									<i class="fa fa-eye" aria-hidden="true"></i>
									Open Invoice #{{invoice.storage_request_id}}
								</td>
								<td class="openRequest" ng-click="openRequest(invoice.storage_request_id)">
									<i class="fa fa-eye" aria-hidden="true"></i>
									Open Request #{{invoice.storage_request_id}}
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="invoice-table-footer">
						<div class="table_info">
							Showing {{pageStartsFrom}} to {{pageEndsOn}} of {{totalInvoices}} entries
						</div>
						<div class="data-tables_paginate paging_simple_numbers">
							<ul class="pagination">
								<li class="paginate_button previous"
									ng-class="{'disabled' : !currentPage}"
									aria-controls="example" tabindex="0">
									<a ng-click="previousPage()">Previous</a>
								</li>
								<li class="paginate_button next"
									aria-controls="example"
									ng-class="{'disabled' : currentPage>=totalPages - 1}">
									<a ng-click="nextPage()">Next</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</section>
