.datatable-invoice
	.panel-heading
		display flex
		md-input-container
			margin 0
			height 40px
			md-select
				md-select-value
					div.md-text
						text-transform capitalize
		.md-primary
			margin 0 4px
			padding 6px 12px
			border 1px solid #bfbfbf
			color rgba(80,79,79,.81)
			font-weight 700
			border-radius 5px
			background linear-gradient(180deg,#fff 0,hsla(0,0%,93%,.89))
			font-size 12px
		.inputGroup
			margin-left 20px
			margin-right 20px
		.fa-filter
			font-size 30px
			vertical-align middle
			color #3c7ade
		.table-total
			margin-right 20px
	.data-table
		th
			padding 15px
			&.sorting_asc, &.sorting_desc
				&::after
					position absolute
					padding-left 5px
					font-family 'FontAwesome'
					opacity 0.5
			&.sorting_asc
				&::after
					content "\f160"
			&.sorting_desc
				&::after
					content "\f161"
		.status
			position inherit
			font-weight 700
			border-radius 3px
			padding 3px 10px
			margin-bottom 5px
			white-space nowrap
			transition border .25s linear,color .25s linear,background-color .25s linear
			color #fff
			box-shadow 0 1px 2px 0 rgba(0,0,0,.16), 0 1px 3px 0 rgba(0,0,0,.26)
			&_paid
				background-color green
			&_sent
				background-color darkred
			&_draft
				background-color #f1c40f
			&_viewed
				background-color #3498db
			&_autopaid
				background-color #16a085
			&_failed
				background-color #e74c3c
		.openRequest
			.fa-eye
				font-size 14px
				color #285296
		.openInvoice
			.fa-eye
				font-size 14px
				color #285296

	.invoice-table-footer
		padding 20px
		padding-top 12px
		display flex
		flex-direction row
		.table_info
			padding-top 10px
			width 100%
		.data-tables_paginate
			width 170px

@media all and (max-width: 1024px) {
  .requests-main-table .panel-body.mdDataTable {
    overflow-x: auto;
  }
}
