.trip-payroll
	.trip-payroll__left-side
		.trip-payroll-top-box
			md-grid-list(md-cols="10" md-row-height="200px")
				md-grid-tile(md-rowspan="1" md-colspan="4")
					.trip-payroll-top-box__column(layout="column" layout-fill)
						md-input-container(layout="row").trip-payroll-top-box__date
							label Date Start
							md-datepicker(ng-model = 'dateStart' md-placeholder="Enter date" md-hide-icons ng-change='updatePayroll({dateStart: dateStart, dateEnd: dateEnd})' md-max-date="dateEnd" ng-disabled='loading' md-open-on-focus)
						.trip-payroll-top-box__inline
							md-input-container(layout="row").trip-payroll-top-box__date
								label Date End
								md-datepicker(ng-model = 'dateEnd' md-placeholder="Enter date" md-hide-icons ng-change='updatePayroll({dateStart: dateStart, dateEnd: dateEnd})' md-min-date="dateStart" ng-disabled='loading' md-open-on-focus)
							ng-md-icon.trip-payroll-top-box__dollar-sign(icon="attach_money" size="25px")
								md-tooltip(md-direction="top") Payroll day
						md-input-container(layout="row").trip-payroll-top-box__total-days
							label Total Days
							input(ng-model='payroll.foreman.total_days' ng-blur='updatePayroll()' format="number" er-only-digit ng-disabled='loading')
				md-grid-tile(md-rowspan="1" md-colspan="3")
					.trip-payroll-top-box__column(layout="column" layout-fill)
						md-input-container(layout="row")
							label Mileage Start
							input(ng-model='payroll.foreman.mileage_start' ng-blur='updatePayroll()' format="number" er-only-digit with-decimal-point ng-disabled='loading')
						md-input-container(layout="row")
							label Mileage End
							input(ng-model='payroll.foreman.mileage_end' ng-blur='updatePayroll()' format="number" er-only-digit with-decimal-point ng-disabled='loading')
						md-input-container(layout="row")
							label Trip Mileage
							input(ng-model='payroll.foreman.mileage' ng-blur='updatePayroll()' format="number" er-only-digit with-decimal-point ng-disabled='loading')
				md-grid-tile(md-rowspan="1" md-colspan="3")
					.trip-payroll-top-box__column(layout="column" layout-fill)
						md-input-container(layout="row")
							label Total Collected
							input(ng-model='payroll.foreman.total_collected' ng-blur='updatePayroll()' er-only-digit with-decimal-point format="currency" ng-disabled='loading')

		.payroll-total-box
			.payroll-total-box__head
				| Total calculation
			.payroll-total-box__body
				.payroll-total-box__row
					.payroll-total-box__column-item
						| Total Daily
					.payroll-total-box__column-item
						| + {{payroll.foreman.total_daily | currency}}
				.payroll-total-box__row
					.payroll-total-box__column-item
						| Total Hourly
					.payroll-total-box__column-item
						| + {{payroll.foreman.total_hourly | currency}}
				.payroll-total-box__row
					.payroll-total-box__column-item
						| Total Loading
					.payroll-total-box__column-item
						| + {{payroll.foreman.total_loading | currency}}
				.payroll-total-box__row
					.payroll-total-box__column-item
						| Total Unloading
					.payroll-total-box__column-item
						| + {{payroll.foreman.total_unloading | currency}}
				.payroll-total-box__row
					.payroll-total-box__column-item
						| Total Mileage
					.payroll-total-box__column-item
						| + {{payroll.foreman.total_mileage | currency}}
				.payroll-total-box__row
					.payroll-total-box__column-item
						| Total Collected
					.payroll-total-box__column-item
						| - {{payroll.foreman.total_collected | currency}}
				.payroll-total-box__row
					.payroll-total-box__column-item
						| Total Expenses
					.payroll-total-box__column-item
						| + {{payroll.foreman.total_expenses | currency}}
				.payroll-total-box__row
					.payroll-total-box__column-item
						| Total Cash Wires
					.payroll-total-box__column-item
						| - {{payroll.foreman.total_received | currency}}
				.payroll-total-box__total-row
					.payroll-total-box__column-item
						| Total Foreman
					.payroll-total-box__column-item
						|{{payroll.foreman.total_payroll | currency}}
				.payroll-total-box__total-row(ng-if='payroll.helper.length')
					.payroll-total-box__column-item
						| Total Helpers
					.payroll-total-box__column-item
						| + {{payroll.total_payroll_helpers | currency}}
			.payroll-total-box__total-row
				.payroll-total-box__column-item
					| Total
				.payroll-total-box__column-item
					|{{payroll.total_payroll | currency}}
	.trip-payroll__right-side
		.total-payroll-box
			| Total Payroll:  {{payroll.total_payroll | currency}}

		md-tabs(md-selected="currentTab" md-dynamic-height='', md-border-bottom='').payroll-tabs
			md-tab(label='foreman')
				.payroll-tabs__first-tab
					.content-foreman
						.content-foreman__foreman-name
							label.content-foreman__foreman-name_margin-right Foreman/Driver:
							span.content-foreman__foreman-name_red-text {{::foremanName}}
						calculation-box.content-foreman__calc-box
						.content-foreman__expenses-box
							expenses-list(mode = 'expenses' items = 'payroll.expenses' update = 'updatePayroll()' total='payroll.foreman.total_expenses' loading='loading').content-foreman__expenses-list
							expenses-list(mode = 'cash' items = 'payroll.received' update = 'updatePayroll()' total='payroll.foreman.total_received' loading='loading').content-foreman__expenses-list
			md-tab(label='helper')
				.payroll-tabs__second-tab
					.helper-table
						.helper-table__head
							.helper-table__head__item
								| Name
							.helper-table__head__item
								| Daily Amount
							.helper-table__head__item
								| Total Days
							.helper-table__head__item
								| Total Daily
							.helper-table__head__item
								| Other
							.helper-table__head__item
								| Total Payroll
						.helper-table__body(ng-repeat="item in payroll.helper" )
							.helper-table__body__item
								| {{ item.field_user_first_name_value}} {{ item.field_user_last_name_value}}
							.helper-table-dialog(edit-item-dialog value="item.daily_amount" close-dialog="closeDialog(item)" update-dialog="updateDialog(item)" mode="currency" ng-show="item.dailyAmountEditDialogOpen")
							.helper-table__body__item(ng-click="openDailyAmountEditDialog(item)" ng-mouseover="showPencilDailyAmount = 1" ng-mouseleave="showPencilDailyAmount = 0")
								.helper-table-item
									.helper-table-item__value
										| {{ item.daily_amount | currency}}
									.helper-table-item__icon
										ng-md-icon.helper-table-item__icon_fill( icon="mode_edit" size="18px" ng-show="showPencilDailyAmount")
							.helper-table-dialog(edit-item-dialog value="item.total_days" close-dialog="closeDialog(item)" update-dialog="updateDialog(item)" mode="totalDays" ng-show="item.totalDaysEditDialogOpen")
							.helper-table__body__item(ng-click="openTotalDaysEditDialog(item)" ng-mouseover="showPencilTotalDays = 1" ng-mouseleave="showPencilTotalDays = 0")
								.helper-table-item
									.helper-table-item__value
										| {{ item.total_days }}
									.helper-table-item__icon
										ng-md-icon.helper-table-item__icon_fill( icon="mode_edit" size="18px" ng-show="showPencilTotalDays")
							.helper-table__body__item
								| {{ item.total_daily | currency}}
							.helper-table-dialog(edit-item-dialog value="item.other" close-dialog="closeDialog(item)" update-dialog="updateDialog(item)" mode="currency" ng-show="item.otherEditDialogOpen")
							.helper-table__body__item(ng-click="openOtherEditDialog(item)" ng-mouseover="showPencilOther = 1" ng-mouseleave="showPencilOther = 0")
								.helper-table-item
									.helper-table-item__value
										| {{ item.other | currency}}
									.helper-table-item__icon
										ng-md-icon.helper-table-item__icon_fill( icon="mode_edit" size="18px" ng-show="showPencilOther")
							.helper-table__body__item
								| {{item.total_payroll | currency}}
