.trip-payroll
	display flex
	&__left-side
		display flex
		flex-direction column
		width 35%
	&__right-side
		width 65%

.trip-payroll-top-box
	margin 20px 0px 10px 20px
	padding-top 20px
	font-size 15px
	font-family Roboto, Helvetica Neue, sans-serif
	background white
	box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
	&__column
		margin 10px
	&__inline
		display inline-flex
		flex-wrap nowrap
		flex-direction row
		justify-content flex-start
		align-items center
	&__dollar-sign
		fill #737373
		margin-left 5px
	&__date
		margin-left -10px
		button
			margin-left 0px
			padding-left 0px
	&__total-days
		margin-left 40px
		width 96px
	.md-datepicker-input-container
		width 100px
		margin-left 0
	.md-datepicker-input
		min-width 80px

.total-payroll-box
	position absolute
	right 20px
	margin-top 20px
	font-size 14px
	font-family Roboto, Helvetica Neue, sans-serif
	text-transform uppercase
	font-weight 400
	color rgba(0, 0, 0, 0.54)

.payroll-tabs
	md-tabs-wrapper
		margin-left 20px
		margin-right 20px
	&__first-tab
		margin-left 20px
		margin-right 20px
	&__second-tab
		margin-left 20px
		margin-right 20px
		margin-bottom 71px

.content-foreman
	&__expenses-box
		padding-bottom 70px
	&__expenses-list
		margin-top 20px
		margin-bottom 20px
		display inline-block
		float left
		width 49%
		box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
	&__expenses-list:first-child
		margin-right 2%
	&__foreman-name
		width 300px
		margin-top 10px
		font-size 15px
		font-weight 600
		&_margin-right
			display inline-block
			margin-right 10px
		&_red-text
			color red !important

.helper-table
	margin 20px 0 20px 0
	box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
	font-size 12px
	font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
	display inline-flex
	flex-direction column
	width 100%
	&__head
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		border-bottom 1px solid #ddd
		&__item
			display flex
			flex-grow 1
			padding 8px
			min-height 56px
			flex 1
			justify-content center
			flex-direction column
			font-size 12px
			font-weight 500
			color #757575
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px
	&__body
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		width 100%
		&__item
			padding 5px
			display flex
			color #000
			flex 1
			justify-content center
			min-height 48px
			flex-direction column
			font-size 12px
			border-bottom 1px solid #ddd
			&:first-child
				padding-left 24px
			&:last-child
				padding-right 24px

.helper-table-item
	position relative
	height 18px
	&__value
		position relative
		display inline-block
	&__icon
		position absolute
		display inline-block
		top -2px
		&_fill
			fill: #aaa

.payroll-total-box
	margin 10px 0px 0 20px
	box-shadow 0px 0px 5px 1px rgba(192, 192, 192, 0.6)
	font-size 12px
	font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif
	&__head
		font-size 15px
		padding-left 10px
		display inline-flex
		flex-direction row
		flex-wrap nowrap
		justify-content flex-start
		align-items center
		width 100%
		border-bottom 1px solid #ddd
		min-height 30px
	&__body
		width 100%
	&__row
		display inline-flex
		flex-direction row
		justify-content flex-start
		width 100%
		background #fff
	&__column-item
		height 30px
		padding 4px
		border-bottom 1px solid #ddd
		color black
		font-size 13 sp
		opacity 0.87%
		display flex
		flex-direction column
		justify-content center
		&:first-child
			padding-left 10px
			width 60%
		&:last-child
			width 40%
			align-items flex-end
			padding-right 10px
	&__total-row
		font-size 14px
		display inline-flex
		flex-direction row
		justify-content flex-end
		align-items center
		width 100%
		background #fff
		height 30px
		border-bottom 1px solid #ddd
		.payroll-total-box__column-item
			font-weight 500



