<div class="option table-responsive">
    <h1>Flat Rate, Long Distance</h1>
    <p>Depends on what distance between addresses, system will know when apply each service type </p>
    <table class="table table-inbox table-hover">
        <div class="settings-local-move-info">
            <div class="text" ng-show="basicSettings.isflat_rate_miles && !basicSettings.flat_rate_intrastate">
                Local Move when distance <b>less</b> than <b>{{lessThan}} miles</b>
            </div>
            <div class="text" ng-show="basicSettings.isflat_rate_miles && basicSettings.flat_rate_intrastate">
                Local Move when a trip <b>inside</b> the <b>Main State</b><span ng-show="basicSettings.islong_distance_miles"> and distance <b>less</b> than <b>{{basicSettings.long_distance_miles}} miles</b></span>
            </div>
            <div class="text" ng-show="!basicSettings.isflat_rate_miles && basicSettings.islong_distance_miles">
                Local Move when distance <b>less</b> than <b>{{basicSettings.long_distance_miles}} miles</b>
            </div>
            <div class="text" ng-show="!basicSettings.isflat_rate_miles && !basicSettings.islong_distance_miles">
                Service types is <b>Local Move</b> by default
            </div>
            <tbody>

            <tr class="option" ng-class="{'fadeout' : !basicSettings.isflat_rate_miles}">
                <td class="text center-align">
                    Flat Rate when distance <b>more</b> than
                </td>
                <td>
                    <input class="form-element form-control"
                           ng-change="vm.saveSettings()"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-model="basicSettings.flat_rate_miles"
                           ng-disabled="basicSettings.flat_rate_intrastate"> miles
                    <b> or Interstate   </b>
                    <input type="checkbox"
                           class="mail-checkbox icheck"
                           ichecks=""
                           ng-change="vm.saveSettings()"
                           ng-model="basicSettings.flat_rate_intrastate"></td>
                </td>
                <td class="center-align">
                    <input type="checkbox"
                           class="mail-checkbox icheck"
                           ichecks=""
                           ng-change="vm.saveSettings()"
                           ng-model="basicSettings.isflat_rate_miles"></td>
            </tr>
            <tr class="option" ng-class="{'fadeout' : !basicSettings.islong_distance_miles}">
                <td class="text center-align">
                    Long Distance when distance <b>more</b> than
                </td>
                <td>
                    <input class="form-element form-control"
                           ng-model-options="{ updateOn: 'blur' }"
                           ng-change="vm.saveSettings()"
                           ng-model="basicSettings.long_distance_miles"> miles
                </td>
                <td class="center-align">
                    <input type="checkbox" class="mail-checkbox icheck" ichecks=""
                           ng-change="vm.saveSettings()"
                           ng-model="basicSettings.islong_distance_miles"></td>
            </tr>
            </tbody>
        </div>
    </table>
</div>
