.google-calendar-integration
	&__title
		font-size 16px
		padding 10px
	.form-item-container
	&__google-calendars
		margin-top 5px
		margin-bottom 1em
	&__hide-google-calendars
		padding-top 5px
		font-size 13px
