include ../../../../../../../../node_modules/bemto.pug/bemto

+b.google-calendar-integration(ng-class="{disabled: busy || !uid || disableForm}")
	+e.title Google Calendar Integration
	.row
		.col-xs-12
			.form-group
				.col-sm-12
					.row
						label.col-sm-3.control-label GMail address
						.col-sm-8
							input.required.form-control.form-select(type="mail" name="gmail" placeholder="Google mail address" ng-model="gmail")
					.row
						label.col-sm-3.control-label Calendars
						+e.google-calendars.col-sm-8(ng-show="userRole != 'Foreman' && userRole != 'Helper' && userRole != 'Driver'")
							multiple-autocomplete(ng-model="sharedCalendars" object-property="name" suggestions-arr="suggestedGoogleCalendars")
						+e.hide-google-calendars.col-sm-8(ng-show="userRole == 'Foreman' || userRole == 'Helper' || userRole == 'Driver'") Show only assigned jobs