<div class="sms-phone-numbers-settings">
	<div class="sms-phone-numbers-settings__title">
		SMS Phone numbers
	</div>
	<div class="sms-phone-numbers-settings__empty" ng-show="phoneNumbers.length == 0">
		You don't have phone number for using SMS. Please buy one.
	</div>
	<div class="sms-phone-numbers-settings__number" ng-repeat="phone in phoneNumbers">
		<div class="sms-phone-numbers-settings__number_row">
			<div class="sms-phone-numbers-settings__number_text">
				{{phone | nationalPhoneFormatter}}
			</div>
			<div class="sms-phone-numbers-settings__number_delete">
				<i class="icon-trash" ng-click="removeNumber(phone)"></i>
			</div>
		</div>
	</div>
	<div class="sms-phone-numbers-settings__number_buy" ng-class="{disabled: phoneNumbers.length > 0}">
		<button class="btn btn-info" ng-click="openBuyPhoneNumber()">Buy Number</button>
	</div>
</div>