.sms-phone-numbers-settings
	&>div
		padding-top 10px
		padding-bottom 5px
		&.sms-phone-numbers-settings__title
			padding-top 0
			padding-bottom 0
	&__number
		display flex
		background-color #FFFFFF
		border-bottom: 1px solid #e8ebed;
		&:nth-child(even)
			background-color #F9F9E8
		&_row
			display flex
		&_text
			padding 0 10px
		&_delete
			color red
			padding 0 10px
			.icon-trash
				cursor pointer
		&_buy
			display flex
			justify-content center
	&__title
		font-size 16px
		font-weight 700
		text-align center