<div class="confirmation-signed-information">
    <div ng-if="confirmationData.date">Confirmation signed: {{confirmationData.date}}</div>
    <div ng-if="confirmationData.ip">Client`s IP: {{confirmationData.ip}}</div>
    <div ng-if="confirmationData.browser">Client`s browser: {{confirmationData.browser}}</div>
</div>
