include ../../../../../../../node_modules/bemto.pug/bemto

+b.card-root
    +e.card
        +e.header
            +e('h3').card-title-date
                | In-home Estimate Date: {{displayingRequest.date}}
        +b.card-root-body
            +e.left-block.col-xs-3
                +e('img').house-icon(src='../../src/home.png', ng-class='{"old": jobType === 2}')
            +e.right-block.col-xs-9
                +b.request-info
                    +e.top-block
                        +e.left-side.col-xs-4
                            | Request: # {{displayingRequest.id}}
                        +e.right-side.col-xs-8
                            +e.time-window
                                +e('span').icon-time.flaticon-logistics2
                                | {{displayingRequest.time}}
                            +e.move-size
                                | Move Size: {{displayingRequest.moveSize}}
                    +e.top-block.row
                        +e.info-side.col-xs-6
                            | Client: {{displayingRequest.userName}}
                        +e.info-side.col-xs-6(ng-if="request.field_moving_from.thoroughfare")
                            | From: {{displayingRequest.from}}
                    +e.top-block.row
                        +e.info-side.col-xs-6
                            | Phone: {{displayingRequest.phone | nationalPhoneFormatter}}
                        +e.info-side.col-xs-6(ng-if="request.field_moving_to.thoroughfare")
                            | To: {{displayingRequest.to}}
        +e.footer
            +e('button').view-inventory.btn.btn-success(ng-click='openInventory(displayingRequest)')
                | Inventory
            +e('button').view-request.btn.btn-default(ng-click='openRequest(displayingRequest)')
                i.fa.fa-eye
                | View Request
