.card-root
  margin 2em 1em
  &__card-title-date
    font-size 1.5em
    text-align center
  &__card
    width 100%
    background-color #fff
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    border-radius 10px
    transition all 0.3s cubic-bezier(.25,.8,.25,1)
    &:hover
      box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  &__header
    padding 1em
  &__footer
    padding 1em
    background-color rgba(236, 240, 241, .9)
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
  &__view-request
    background-color transparent
    color rgba(52, 152, 219, 1)
    padding 1em
    font-size 1.2em
    border 1px solid rgba(52, 152, 219, 1)
    transition all .5s cubic-bezier(.42,.97,.52,1.49)
    &:active
    &:hover
    &:focus
      background-color rgba(52, 152, 219, 1)
      border-color rgba(44, 62, 80,1.0)
      box-shadow 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
    .fa.fa-eye
      margin-right 1em
  &__log-in-as-client
    width 200px
    background-color transparent
    color rgba(52, 152, 219, 1)
    padding 1em
    font-size 1.2em
    border 1px solid rgba(52, 152, 219, 1)
    transition all .5s cubic-bezier(.42,.97,.52,1.49)
    &:active
    &:hover
    &:focus
      background-color rgba(52, 152, 219, 1)
      border-color rgba(44, 62, 80,1.0)
      box-shadow 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)
  &__view-inventory
    width 200px
    background-color transparent
    color rgba(52, 152, 219, 1)
    padding 1em
    font-size 1.2em
    border 1px solid rgba(52, 152, 219, 1)
    transition all .5s cubic-bezier(.42,.97,.52,1.49)
    &:active
    &:hover
    &:focus
      background-color rgba(52, 152, 219, 1)
      border-color rgba(44, 62, 80,1.0)
      box-shadow 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23)

.card-root-body
  height 150px
  margin-bottom 1em
  &__left-block
    padding 1em
    position relative
  &__house-icon
    width 50%
    margin 0 auto
    display block
  &__right-block
    padding 1em
  &__house-icon
    width 90px

.request-info
  &__info-side
    margin-top 1em
    font-weight 600
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  &__left-side
    border-right 1px solid rgba(52, 73, 94, 1)
    border-bottom 1px solid rgba(52, 73, 94, 1)
    padding 1em
    display flex
    justify-content flex-start
    align-items center
    font-weight 600
    height 60px
    font-size .9em
  &__right-side
    border-bottom 1px solid rgba(52, 73, 94, 1)
    padding 1em
    display flex
    justify-content flex-start
    align-items center
    font-weight 600
    height 60px
    font-size .9em
  &__time-window
    margin-right 1em
  &__icon-time
    &:before
      font-size 16px
      color rgba(44, 62, 80, 1)
      padding-right 12px
      font-weight 400

.old
  filter grayscale(100%)