<div id="ledger">
    <div class="col-md-12 nopadding">
        <div class="inside_box invoice_table" >
            <h2 class="small_box_header text_center" style="background: #369a04;">Billing history</h2>
            <table style="width: 100%;position: relative;">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Charge</th>
                    <th>Payment</th>
                    <th>Balance</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bill in bills track by $index"
                    ng-class="{'charge': bill.type == 'invoice', 'payment': bill.type == 'payment', 'active': clicked == bill.bill_id}">
                    <td>
                        <span>
                            {{dateFormat(bill.date, bill.type)}}
                        </span>
                    </td>
                    <td>{{bill.description}}
                        <span ng-if="bill.type == 'payment'">({{paymentType(bill)}})</span>
                    </td>
                    <td>
                        <span ng-if="bill.type == 'invoice'">
                            $ {{bill.charge | number : 2}} <span>USD</span>
                        </span>
                    </td>
                    <td>
                        <span ng-if="bill.type == 'payment'">
                            $ <span ng-if="bill.refunds">-</span>{{bill.payment | number : 2}} <span>USD</span>
                        </span>
                    </td>
                    <td>${{bill.balance | number : 2}} <span>USD</span>
                        <a ng-if="bill.type == 'invoice'"
                           class="charge-link"
                           target="_blank"
                           ng-href="{{'/account/#/invoice/'+bill.hash}}">
                            <i class="icon-eye" style="float: right;line-height: 2.1;"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
