<div id="agreement" class="animated fadeInRight">
    <div ng-show="!data.agreement.imageAgreement">
        <div class="busyoverlay" ng-show="busy">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
        <a href="javascript:void(0)" id="printcancel" print-btn="" style="margin-top: 20px;" class="btn no-print printHide" print-hide>Print</a>
        <div class="print-section" print-section style="padding: 25px;">
            <!-- header -->
            <div class="row header">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6
                            col-md-offset-3
col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                    <h1> {{basicSettings.company_name}}</h1>
                    <h2>{{basicSettings.company_address}}<br>{{basicSettings.company_tall_free_phone | nationalPhoneFormatter}}</h2><br>
                    <h1 style="text-align: center;">RENTAL AGREEMENT</h1><br>
                </div>
            </div>
            <!-- end header -->
            <!-- content -->
            <div class="row" ng-if="rentalAgreement">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div ng-bind-html="rentalAgreement"></div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <form name="leaseAgreement">
                        <label>Lease Information:</label>
                        <div class="row">
                            <div class="col-md-12">
                                <ol>
                                    <li>Date of Lease: {{todayDate | date: "d/M/yyyy"}}</li>
                                    <li>Administration Fee: <span class="strikethrough">$20</span> $0</li>
                                    <li>Approx. Unit Size:
                                        <input type="number"
                                               min="1"
                                               ng-model="storageVolume"
                                               ng-change="recalcRate(storageVolume)"
                                               ng-disabled="data.agreement.isSubmitted"
                                               class="storageValueInput"/> Cuft
                                    </li>
                                    <li>Rental Rate Per Month: $ {{storageTotal}}</li>
                                    <li>Customer's Name: {{storageRequest.user_info.name || name}}</li>
                                </ol>
                                <br>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <b>Please fill up contact information</b> (so we can contact you while you in storage)
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="padding-left: 30px;">
                                <span>Phone:</span>
                            </div>
                            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" ng-class="{'has-error' : leaseAgreement.phoneNumber.$invalid}">
                                <input class="form-control"
                                       type="text"
                                       placeholder="Phone"
                                       phone-input
                                       minlength="14"
                                       maxlength="14"
                                       data-ng-disabled="data.agreement.isSubmitted"
                                       ng-model="data.agreement.phone"
                                       style="width: 165px"
                                       name="phoneNumber"
                                       required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="padding-left: 30px;">
                                <span>Address:</span>
                            </div>
                            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" ng-class="{'has-error' : leaseAgreement.address.$invalid}">
                                <input class="form-control"
                                       data-ng-disabled="data.agreement.isSubmitted"
                                       placeholder="Address"
                                       ng-model="data.agreement.address"
                                       type="text"
                                       name="address"
                                       required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="padding-left: 30px;">
                                <span>Zip:</span>
                            </div>
                            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" ng-class="{'has-error' : leaseAgreement.zip.$invalid}">
                                <input class="required form-control"
                                       data-ng-disabled="data.agreement.isSubmitted"
                                       placeholder="Zip"
                                       type="text"
                                       id="zip"
                                       name="zip"
                                       style="width: 4em;"
                                       ng-change="changeZip(data.agreement.zipCode)"
                                       ng-model="data.agreement.zipCode"
                                       size="5"
                                       maxlength="5"
                                       minlength="5"
                                       required/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="padding-left: 30px;">
                                <span>City:</span>
                            </div>
                            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                                <span style="padding: 10px;">{{data.agreement.city}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="padding-left: 30px;">
                                <span>State:</span>
                            </div>
                            <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                                <span style="padding: 10px;">{{data.agreement.state}}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>Tenant Signature:</span>
                    <div class="signature-box" ng-class="{'disabled': isInvalidForm()}">
                        <div class="empty-signature" ng-click="openService('monthly_storage_fee', 1)" ng-if="!data.agreement.signatures[0].value">
                            <i class="glyphicon glyphicon-pencil"></i> Click here to sign
                        </div>
                        <div ng-if="data.agreement.signatures[0].value">
                            <div class="signatured-box " style="cursor:default;"><img disabled="" ng-src="{{data.agreement.signatures[0].value}}">
                                <span class="sign-date ">{{data.agreement.signatures[0].date | date: "medium"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-4" style="margin-bottom: 50px;margin-top: 50px;">
                <button class="checkout_btn_rental btn btn-success"
                        ng-click="openPayment()"
                        ng-class="{'checkout_btn_rental_paid':data.agreement.isSubmitted}"
                        data-ng-disabled="!data.agreement.signatures[0] ||
                                          data.agreement.isSubmitted ||
                                          isInvalidForm() ||
                                          request.request_all_data.monthlyStorageFeeDeleted">
                    <span ng-show="!payClicked">Pay rental</span>
                    <div ng-show="payClicked" class="">
                        <svg class="spinner white" style="left: calc(50% - 12px);" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path_white" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <img ng-if="data.agreement.isSubmitted && data.agreement.imageAgreement"
         ng-src="{{data.agreement.imageAgreement}}"/>
</div>
