<style>
    h1{
        text-align: center;
        font-weight: bold;
    }
    span{
        font-size: 18px;
    }
    .content{
        padding: 15px 30px;
    }
    .content p{
        font-size: 24px;
    }
    .content p::first-line {
        text-indent: 20px;
    }
</style>
<div ng-show="busy" style="position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; background-color: rgba(255, 255, 255, 0.41);">
    <svg class="spinner" width="25px" height="25px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
<div class="modal-header" style="padding: 25px;">
    <div class="actions pull-right">
        <button type="button" class="close" ng-click="cancel()"  style="margin-top: -25px;">&times;</button>
    </div>
</div>
<div class="modal-body form-horizontal" style="min-height: 200px;">
    <div>
        <h1>Please Agree with our terms and sign</h1>
        <div class="content">
            <p>
                I understand that my monthly storage fee was
                <b>$ {{originalCost}}</b> based on my original list of items ({{originalWeight}} cubic feet) and my additional inventory monthly storage fee is
                <b>$ {{addInventoryCost}}</b>. So my new monthly storage fee is <b>$ {{totalInventoryCost}}</b>.
            </p>
        </div>
        <div class="signature-form" style="top: 20%">
            <div class="signature-times" style="height: 25em;"></div>
            <hr class="signature-underline" style="width: 95%;">
        </div>
        <canvas style="margin-left: 8px; background-color: white;" id="signatureCanvasAgreement" height="450" width="1050"></canvas>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success btn-lg"  ng-click="saveService()">Save</button>
</div>
