.sms-message-header
	font-style normal
	background-color #e25d5d
	padding 7px
	margin-bottom -3px
	color white
	display flex
	justify-content space-between
	border-top-left-radius 3px
	border-top-right-radius 3px
	&.queued
		background-color gainsboro
		color #565656
	&.sent,
	&.delivered
		background-color #13c713ab
		color #565656
