<div class="sms-message-header" ng-class="message.sms_status" ng-if="message.sms">
	<div class="sms-message-header__title" >SMS</div>
	<div class="sms-message-header__status" ng-show="message.sms_status">
		Status: {{message.sms_status | smsStatusesFilter}}
	</div>
</div>
