<section class="main-content-wrapper pending animated fadeInRight" ng-controller="ClosedJobs">
    <div class="pageheader" style="min-height: 65px;">
        <h1>Closed Jobs</h1>
    </div>
    <div ng-show="busy">
        <div class="busyoverlay">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
    </div>
    <section id="main-content">
        <div class="row sales-stats">
            <div class="col-md-12 col-lg-12">
                <div class="busyoverlay" ng-show="busy">
                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
                <div class="panel panel-default">
                    <div class="row profit-loses-date" id="profit-loses-date" style="padding: 25px 0 0 25px;">
                        <div class="col-md-2 col-lg-2 col-xs-1 col-sm-1">
                            <button ng-click="prevMonth()" class="btn btn-success button-prev-month">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Previous month
                            </button>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-3 col-sm-3">
                            <!-- <label for="datefield">Date From</label> -->
                            <input type="text"
								   class="form-control"
								   uib-datepicker-popup="mediumDate"
								   ng-model="dates.from"
								   is-open="openedFrom"
								   ng-click="openedFrom = !openedFrom"
								   datepicker-options="dateOptions"
								   close-text="Close"
								   ng-change="dates.to = dates.from; getClosedJobs()"/>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-3 col-sm-3">
                            <!-- <label for="datefield">Date To</label> -->
                            <input max-date="maxDate"
								   type="text"
								   class="form-control"
								   is-open="openedTo"
								   uib-datepicker-popup="mediumDate"
								   id="dateTo"
								   ng-model="dates.to"
								   ng-click="openedTo = !openedTo"
								   datepicker-options="dateOptions"
								   close-text="Close"
								   min-date="dates.from"
								   ng-change="getClosedJobs()"/>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-1 col-sm-1">
                            <button ng-click="nextMonth()" class="btn btn-success button-next-month">
                                Next month <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-if="requests">
                        <div cc-requests-datatable requests="requests" company-flags="company_flags" displayLength="100" data-showBooked="true" date="dates" data-custom_pagination="true" totalentries="totalCount"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
