.elromco-notifications
	
	&__icon-container
		height 60px
		margin-rigth 10px
		cursor pointer
		background #fff
		display flex
		flex-direction row
		&_icon
			height 100%
			width 44px
			padding 10px 10px
			display flex
			flex-direction column
			justify-content center
		&:hover
			background #eee
			
			
	&__request
		font-size 12px !important
		display inline-block
	&__close-button
		position absolute
		right 0px
		top 0px
		&_dismiss
			right 8px
	&__icon
		display flex
		
		&_blue
			fill: #007bc3
		&_red
			fill: #f44336

	&__icon-count
		font-size 12px
		position absolute
		margin-top -15px
		margin-left 11px
		color #f44336
		font-weight 600
		padding-left 5px
		padding-right 5px
	&__logo
		display flex
		margin-right 16px
		width 90px
		height 90px
	&__body
		flex-direction column
		width 350px
		margin-top 15px
		&_margin
			margin-left 15px
	&__type
		margin-top 20px
		color #8d8d8d
		font-size 12px
	&__message
		position fixed
		display flex
		flex-direction row
		background #fefefe
		width 400px
		top -200px
		right -176px
		box-shadow -1px 1px 4px 1px #b3b3b3
		
		&__large
			width 440px

		&_show
			z-index 2147483647
			animation notification-open-first 4s forwards cubic-bezier(0.0, 0.5, 0.5 ,1.0)
		&:hover
			animation-play-state paused
		&_close
			animation notification-close 1s forwards cubic-bezier(0.0, 0.5, 0.5 ,1.0)

		&_list
			position relative
			top auto
			right auto
			box-shadow none
			border-bottom solid 1px #d5d5d5
			cursor default
			
		&_blur
			&:hover
				animation notification-list-item-hover 0.2s alternate		
		&_hover
			&:hover
				animation notification-list-item-hover 0.2s forwards

	&__list-busy
		background #fff
		opacity 0.6
		height 100%
		width 100%
		position fixed
		z-index 1
		
	&__list-progress
		position fixed
		width 440px
		z-index 10
		background #000
		top 60px
	&__list
		position fixed
		right 0
		top 60px
		background #fefefe
		width 440px
		height 100%
		right -440px
		z-index 1000
		box-shadow -1px 5px 5px -1px
		padding-bottom 100px
		
		&_open
			animation notification-list-open 0.5s forwards
		&_close
			animation notification-list-close 0.5s forwards
		
	&__heder
		position relative
		font-family Roboto
		display flex
		flex-direction row
	&__title-icon
		margin-right 4px
	&__time
		display flex
		color #878787
		font-size 13px
	&__title
		font-family Roboto
		font-size 12px
		color #007bc3
		&_un-read
			color #f44336
			
	&__people
		display flex
		font-size 14px
		color #212121
	&__text
		margin-bottom 15px
		font-size 14px
		color #777777
	&__diamond
		margin-top -7px
		margin-left 10px
	&__toolbar
		display flex
		flex-direction column
		font-family Roboto
	&__toolbar-filters
		height 0
		overflow hidden
		&_open
			animation notification-filters-open 0.2s forwards
		&_close
			animation notification-filters-close 0.2s forwards
	&__toolbar-filters-group
		display flex
		flex-direction row
		font-family Roboto
		font-size 12px
		padding-left 15px
	&__toolbar-filters-item
		&_left
			justify-content flex-start
		&_right
			display flex
			justify-content flex-end
			width 100%
			flex-direction row
			padding-top 20px
		
	&__toolbar-controls
		background #eee
		display flex
		flex-direction row
		position relative
		height 50px
		padding-top 5px
		
	&__toolbar-info
		display flex
		justify-content center
		flex-direction column
		position absolute
		left 0
		height 40px
		padding-left 15px
	&__toolbar-menu
		display flex
		position absolute
		right 0
	&__footer
		height 50px
		width 100%
		position absolute
		background #eee
		bottom 0
		left 0
		opacity 0
		&_show
			animation notification-list-item-footer 0.5s forwards

@keyframes notification-filters-open
	0%
		height  0
	100%
		height  auto
		border-bottom 1px solid #d5d5d5
@keyframes notification-filters-close
	0%
		height  auto
	100%
		height  0
@keyframes notification-list-item-footer
	0%
		opacity 0
	70%
		opacity 0
	100%
		opacity 1
						
@keyframes notification-list-item-hover
	0%
		z-index 10
		padding-bottom 20px
	100%
		z-index 10
		padding-bottom 50px
		
@keyframes notification-list-open
	0%
		right -440px	
	100%
		right 0
@keyframes notification-list-close
	0%
		right 0	
	100%
		right -440px
		
@keyframes notification-open-first
	0%
		top	-100px
		right 50px
	20%
		top 64px
		right 50px
	90%
		top 64px
		right 50px
	100%
		top 64px
		right -700px	

@keyframes notification-close
	70%
		right -176px
	100%
		right -700px
