.elromco-notifications
	audio#js-notificaiton-audio
		source(src="content/audio/notification.mp3" type="audio/mpeg")

	.elromco-notifications__icon-container
		.elromco-notifications__icon-container_icon(ng-click="showAllNotifications()" ng-show="importantMessages")
			img(src="./src/warning.svg")
		.elromco-notifications__icon-container_icon(ng-click="showAllNotifications()")
			.elromco-notifications__icon-count(ng-show="haveNewNotifications")
				| {{ haveNewNotifications }}
			ng-md-icon.elromco-notifications__icon(icon="notifications_active" size="24" ng-show="turnOffNotifications == 1" ng-class="{'elromco-notifications__icon_red': haveNewNotifications, 'elromco-notifications__icon_blue': !haveNewNotifications}")
			ng-md-icon.elromco-notifications__icon(icon="notifications" size="24" ng-show="turnOffNotifications == 0" ng-class="{'elromco-notifications__icon_red': haveNewNotifications, 'elromco-notifications__icon_blue': !haveNewNotifications}")
		.elromco-notifications__message(ng-repeat="newNotification in newNotifications track by $index" ng-class="{'elromco-notifications__message_show':  ( newNotification.show  && newNotification.notification_type) }")
			md-button.md-icon-button.launch.elromco-notifications__close-button(title="Close" aria-label="Close" ng-click="newNotification.show = false")
				ng-md-icon.elromco-notifications__icon_blue(icon="close" size="24")
			.elromco-notifications__title-icon.elromco-notifications__logo
				img.elromco-notifications__logo(ng-src="content/img/logo.png")
			.elromco-notifications__body
				.elromco-notifications__heder
					.elromco-notifications__title
						span(ng-bind=" ::newNotification.notification_type | notificationsSources ")
						| #
						span(ng-bind=" ::newNotification.data.entity_id ")
					.elromco-notifications__time
						|  &nbsp &#8226; &nbsp
						span(ng-bind="::newNotification.created * 1000 | moment: 'fromNow' ")
					.elromco-notifications__diamond
						img(width="30px" height="30px" ng-if="::newNotification.isStatusChangedToConfirmed"
							src="../../../../content/img/animat-essential/diamond/animat-diamond-color.gif")
				.elromco-notifications__people(ng-bind="::newNotification.data.source")
				.elromco-notifications__text(ng-bind="::newNotification.data.text")
				//- .elromco-notifications__type
				//- 	| {{ newNotification.title }}

	md-content.elromco-notifications__list(ng-class="{'elromco-notifications__list_open': showList && showListDerty, 'elromco-notifications__list_close': !showList && showListDerty}")
		.elromco-notifications__list-progress(ng-show="busy")
			md-progress-linear(md-mode="indeterminate")
		.elromco-notifications__list-item
			.elromco-notifications__list-busy(ng-show="busy && updateListBusy")
			.elromco-notifications__toolbar
				.elromco-notifications__toolbar-controls
					.elromco-notifications__toolbar-info
						| Notifications
					.elromco-notifications__toolbar-menu
						md-button.md-icon-button.launch(title="Turn off notififications" aria-label="Show filters"  ng-click=" notificationSoundChange()")
							ng-md-icon.elromco-notifications__icon_blue(icon="notifications_active" size="24" ng-if="turnOffNotifications == 1")
							ng-md-icon.elromco-notifications__icon_blue(icon="notifications" size="24" ng-if="turnOffNotifications == 0")
						md-button.md-icon-button.launch(title="Dismiss all" aria-label="Show filters" ng-disabled="!haveNewNotifications" ng-click="checkAll()")
							ng-md-icon.elromco-notifications__icon_blue(icon="check_circle" size="24")
						md-button.md-icon-button.launch(title="Show filters" aria-label="Show filters" ng-click="openFilters = !openFilters")
							ng-md-icon.elromco-notifications__icon_blue(icon="filter_list" size="24")
						md-button.md-icon-button.launch(title="Close" aria-label="Show filters" ng-click="showAllNotifications()")
							ng-md-icon.elromco-notifications__icon_blue(icon="close" size="24")
				.elromco-notifications__toolbar-filters(ng-class="{'elromco-notifications__toolbar-filters_open': openFilters, 'elromco-notifications__toolbar-filters_close': openFilters == false}")
					.elromco-notifications__toolbar-filters-group
						.elromco-notifications__toolbar-filters-item_left
							md-switch.md-primary( ng-model="notificationTurnAll" aria-label="Turn on all " ng-true-value="1" ng-false-value="0" ng-change="turnAllNotifications()" ) Turn off/on all
					.elromco-notifications__toolbar-filters-group(ng-repeat="notificationType in notificationTypes track by $index")
						.elromco-notifications__toolbar-filters-item_left
							md-switch.md-primary( ng-model="notificationType.on" aria-label="notificationType.title" ng-true-value="1" ng-false-value="0" ng-change="changeFilters(notificationType)") {{ notificationType.title }}
						.elromco-notifications__toolbar-filters-item_right
							div(ng-show="notificationType.mail")
								md-checkbox.md-primary(aria-label="Send me email notification" ng-model="notificationType.mail" ng-true-value="'2'" ng-false-value="'3'" ng-change="changeUserEmailSetting(notificationType)")
								md-tooltip.md-primary(md-direction="left" md-z-index="11111111") Send me email notification

			md-tabs(md-selected="currentTab" md-dynamic-height='', md-border-bottom='')
				md-tab(label='New notifications' ng-click="changeStatus(0)")
					div(ng-if="currentTab == 0 && trip" add-trip-form trip="trip" jobs="jobs" get-jobs="getJobs()" create-trip="createTrip(trip)")
					.elromco-notifications__message.elromco-notifications__message__large.elromco-notifications__message_list(ng-repeat="notification in notifications"  ng-show="notification.status == '0'" ng-mouseleave="notification.showFoter = false" ng-mouseenter="notification.showFoter = true")
						md-button.md-icon-button.launch.elromco-notifications__close-button.elromco-notifications__close-button_dismiss( aria-label="Dismiss" ng-click="setViewed(notification)" ng-show="notification.showFoter")
							md-tooltip(md-direction="bottom"  md-z-index="11111111") Dismiss
							ng-md-icon.elromco-notifications__icon_red(icon="remove_red_eye" size="24")
						.elromco-notifications__body.elromco-notifications__body_margin
							.elromco-notifications__heder
								.elromco-notifications__title-icon
									ng-md-icon.elromco-notifications__icon.elromco-notifications__icon_red(icon="message" size="20" ng-show="notification.status == '0'")
									ng-md-icon.elromco-notifications__icon.elromco-notifications__icon_blue(icon="message" size="20" ng-show="notification.status == '1'")
								.elromco-notifications__title(ng-class="{'elromco-notifications__title_un-read': notification.status == '0'}")
									.elromco-notifications__request
										div(call-job-modal id="notification.data.entity_id" show-text="{{notification.entity_type | notificationsSources}} #{{notification.data.entity_id}}" ng-if="notification.entity_type == 0")
										div(ng-if="notification.entity_type != 0" ng-bind="::notification.data.entity_id")
								.elromco-notifications__time
									| &nbsp &#8226; &nbsp
									span(ng-bind="::notification.created * 1000 | moment: 'fromNow'")
								.elromco-notifications__diamond
									img(width="30px" height="30px" ng-if="::notification.isStatusChangedToConfirmed"
										src="../../../../content/img/animat-essential/diamond/animat-diamond-color.gif")
							.elromco-notifications__people(ng-bind="::notification.data.source")
							.elromco-notifications__text(ng-bind-html="notification.data.text")

				md-tab(label='Dismissed notifications' ng-click="changeStatus(1)")
					div(ng-if="currentTab == 0 && trip" add-trip-form trip="trip" jobs="jobs" get-jobs="getJobs()" create-trip="createTrip(trip)")
					.elromco-notifications__message.elromco-notifications__message__large.elromco-notifications__message_list(ng-repeat="notification in notifications" ng-show="notification.status == '1'" ng-mouseleave="notification.showFoter = false" ng-mouseenter="notification.showFoter = true")
						md-button.md-icon-button.launch.elromco-notifications__close-button.elromco-notifications__close-button_dismiss( aria-label="Restore" ng-click="setRestore(notification)" ng-show="notification.showFoter")
							md-tooltip(md-direction="bottom"  md-z-index="11111111") Restore
							ng-md-icon.elromco-notifications__icon_blue(icon="remove_red_eye" size="24")
						.elromco-notifications__body.elromco-notifications__body_margin
							.elromco-notifications__heder
								.elromco-notifications__title-icon
									ng-md-icon.elromco-notifications__icon.elromco-notifications__icon_red(icon="message" size="20" ng-show="notification.status == '0'")
									ng-md-icon.elromco-notifications__icon.elromco-notifications__icon_blue(icon="message" size="20" ng-show="notification.status == '1'")
								.elromco-notifications__title(ng-class="{'elromco-notifications__title_un-read': notification.status == '0'}")
									.elromco-notifications__request
										div(call-job-modal id="notification.data.entity_id" show-text="{{ notification.entity_type | notificationsSources}} #{{notification.data.entity_id}}" ng-if="notification.entity_type == 0")
										div(ng-if="notification.entity_type != 0" ng-bind="::notification.data.entity_id")
								.elromco-notifications__time
									| &nbsp &#8226;
									span(ng-bind="::notification.created * 1000 | moment: 'fromNow' ")
								.elromco-notifications__diamond
									img(width="30px" height="30px" ng-if="::notification.isStatusChangedToConfirmed"
										src="../../../../content/img/animat-essential/diamond/animat-diamond-color.gif")
							.elromco-notifications__people(ng-bind="::notification.data.source")
							.elromco-notifications__text(ng-bind-html="notification.data.text")


							