<div class="modal-body contract-agree-settings" ng-class="{'disabled': busy}">
    <div ng-if="busy"><img class="busy-symbol" src="../../../../app/core/assets/images/loading.gif"/></div>
    <div class="modal-title">
        <h3 class="text-center">Confirmation Page Policy Text Settings</h3>
    </div>
    <div class="modal-content row">
        <div class="col-md-12 confirm-text-settings-checkbox">
            <input class="ickeck icheckbox_flat-green" type="checkbox" ichecks="ichecks" id="useDefaultText" ng-change="changeCancellationSetting(&quot;useCustomConfirmationText&quot;, &quot;useDefaultText&quot;)" ng-model="useDefaultText"/>
            <label for="useDefaultText">Use Default</label>
        </div>
        <div class="col-md-12 confirm-text-settings-checkbox">
            <input class="icheck icheckbox_flat-green" type="checkbox" name="checkbox" ichecks="ichecks" id="useCustomConfirmationText" ng-change="changeCancellationSetting(&quot;useDefaultText&quot;, &quot;useCustomConfirmationText&quot;)" ng-model="useCustomConfirmationText"/>
            <label for="useCustomConfirmationText"> Use Custom Text for the Confirmation Page Agreement Block</label>
        </div>
        <div class="col-md-12 chat-widget"
             ng-show="useCustomConfirmationText">
            <div text-angular="text-angular"
                 ng-model="customConfirmationText"
                 ta-toolbar="[
                    ['bold','italics', 'underline', 'strikeThrough'],
                    ['ul', 'ol'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight'],
                    ['fontColor', 'fontName', 'fontSize'],
                    ['insertLink', 'insertImage'],
                    ['undo', 'redo', 'clear', 'html'],
                    ['companyPolicy', 'cancellationPolicy']
                ]"></div>
        </div>
    </div>
</div>
<div class="modal-footer col-xs-12">
    <button class="btn btn-default pull-left" type="button" ng-click="closeContractAgreeSettings()">Close</button>
    <button class="btn btn-primary" type="submit" ng-click="saveContractAgreeSettings()">Save</button>
</div>
