mixin closing-payroll-trip()
    .trip-details-sheet
        .trip-details-sheet__head
            .trip-details-sheet__title Trip Details Sheet
            .trip-details-sheet__date {{dateNow | date: 'EEEE, MMMM d, yyyy'}}
        .trip-details-sheet__trip
            .trip-details-sheet__trip-id
                .trip-details-sheet__trip-id_bold Trip #
                | &nbsp {{ tripPrintData.data.trip_id}}
            .trip-details-sheet__trip-left-box
                .trip-details-sheet__trip-data
                    .trip-details-sheet__trip-data_bold Trip Code:
                    | &nbsp {{ tripPrintData.data.details.internal_code}}
                .trip-details-sheet__trip-data
                    .trip-details-sheet__trip-data_bold Start  Date:
                    | &nbsp  {{ tripPrintData.data.details.date_start * 1000 | date:'MMMM dd yyyy'}}
                .trip-details-sheet__trip-data
                    .trip-details-sheet__trip-data_bold Mileage Start:
                    | &nbsp {{tripPrintData.data.payroll.foreman.mileage_start}}
                .trip-details-sheet__trip-data
                    .trip-details-sheet__trip-data_bold Mileage End:
                    | &nbsp {{tripPrintData.data.payroll.foreman.mileage_end}}
            .trip-details-sheet__trip-right-box
                .trip-details-sheet__trip-data
                    .trip-details-sheet__trip-data_bold Foreman:
                    | &nbsp  {{ tripPrintData.data.foreman.foreman_name}}
                .trip-details-sheet__trip-data
                    .trip-details-sheet__trip-data_bold Helpers:
                    span(ng-repeat='helper in tripPrintData.data.helper track by $index') &nbsp {{ helper.helper_name}}
                        span(ng-if="!$last") ,
                .trip-details-sheet__trip-data
                    .trip-details-sheet__trip-data_bold Trucks:
                    span(ng-repeat='truck in tripPrintData.data.trucks track by $index') &nbsp {{ truck.name}}
                        span(ng-if="!$last") ,
                    br
                    .trip-details-sheet__trip-data_bold Trailers:
                    span(ng-repeat='trailer in tripPrintData.data.trailers track by $index') &nbsp {{trailer.name}}
                        span(ng-if="!$last") ,
        .trip-details-sheet__jobs(ng-repeat='job in jobs track by $index')
            .trip-details-sheet__job-id
                .trip-details-sheet__job-id_bold {{ job.job_id}}
            .trip-details-sheet__jobs-left-box
                .trip-details-sheet__jobs-data
                    .trip-details-sheet__jobs-data_bold Customer Name:
                    | &nbsp {{ job.owner}}
                .trip-details-sheet__jobs-data
                    .trip-details-sheet__jobs-data_bold Phone:
                    | &nbsp {{job.phone | nationalPhoneFormatter}}
                .trip-details-sheet__jobs-data
                    .trip-details-sheet__jobs-data_bold Delivery Date(s):
                    span(ng-if='job.delivery_date > 0') &nbsp {{ job.delivery_date * 1000 | date: 'MMMM dd yyyy'}}
            .trip-details-sheet__jobs-right-box
                .trip-details-sheet__jobs-data
                    .trip-details-sheet__jobs-data_bold Pickup From:
                    |  {{ job.address_from }} {{ job. from_a_city}}, {{job.from_a_state}} {{job.from_a_zip}}
                .trip-details-sheet__jobs-data
                    .trip-details-sheet__jobs-data_bold Delivery To:
                    |  {{ job.address_to }} {{ job. to_a_city}}, {{job.to_a_state}} {{job.to_a_zip}}
                .trip-details-sheet__jobs-sm-data
                    .trip-details-sheet__jobs-data_bold Weight, Lbs:
                    | &nbsp {{ job.weight || job.volume_cf / 7 | number: 2 }}
                .trip-details-sheet__jobs-sm-data
                    .trip-details-sheet__jobs-data_bold Volume, Cf:
                    | &nbsp {{ job.volume_cf}}
                .trip-details-sheet__jobs-sm-data
                    .trip-details-sheet__jobs-data_bold Blankets:
                    | &nbsp {{ job.sit.blankets || 0}}
                .trip-details-sheet__jobs-sm-data
                    .trip-details-sheet__jobs-data_bold Job Total:
                    | &nbsp {{ job.job_total | currency}}
                .trip-details-sheet__jobs-sm-data
                    .trip-details-sheet__jobs-data_bold Total Paid:
                    | &nbsp {{ job.tp_collected | currency}}
                .trip-details-sheet__jobs-sm-data
                    .trip-details-sheet__jobs-data_bold Balance:
                    | &nbsp {{ job.balance | currency}}
        .trip-details-sheet__total
            .trip-details-sheet__total-item
                .trip-details-sheet__total-item_bold Total Jobs:
                | &nbsp {{ jobs.length}}
            .trip-details-sheet__total-item
                .trip-details-sheet__total-item_bold Total Volume, Cf:
                | &nbsp {{ jobsTotal.volume_cf}}
            .trip-details-sheet__total-item
                .trip-details-sheet__total-item_bold Total Blankets:
                | &nbsp {{jobsTotal.totalBlankets}}
            .trip-details-sheet__total-item
                .trip-details-sheet__total-item_bold Balance:
                | &nbsp {{ jobsTotal.balance | currency}}
        .trip-details-sheet__notes
            .trip-details-sheet__notes-title NOTES
            div(ng-bind-html = 'printNotes')
            .trip-details-sheet__notes-line
            .trip-details-sheet__notes-line
            .trip-details-sheet__notes-line
            .trip-details-sheet__notes-line
