.trip-details-sheet
  flex-direction: column
  justify-content: flex-start
  align-items: center
  font-size 70%
  &__head
    display block
    width 180mm
    margin auto
    margin-top 10mm
    height 6mm
    border-bottom 0.1mm solid black
  &__title
    font-size 120%
    font-weight 600
    width 50%
    display inline-block
    text-align left
  &__date
    width 50%
    display inline-block
    text-align right
  &__trip
    width 180mm
    display flex
    flex-wrap wrap
    margin auto
    margin-bottom 5mm
    margin-top 5mm
    min-height 24mm
    border 0.2mm solid black
  &__trip-left-box
    display inline-block
    flex-basis 50%
  &__trip-right-box
    display inline-block
    flex-basis 50%
  &__trip-id
    padding 1mm 0 0 2mm
    display block
    height 6mm
    width 100%
  &__trip-id_bold
    display inline-block
    font-weight 600
  &__trip-data
      padding 1mm 0 0 2mm
      display inline-block
      height 6mm
      width 100%
  &__trip-data_bold
      display inline-block
      font-weight 600
  &__jobs
    display flex
    flex-wrap wrap
    width 180mm
    margin auto
    margin-bottom 1mm
    border 0.2mm solid black
    min-height 30mm
  &__job-id
    padding 1mm 0 0 2mm
    display block
    height 6mm
    width 100%
  &__job-id_bold
    display inline-block
    font-weight 600
  &__jobs-left-box
    display inline-block
    flex-basis 40%
  &__jobs-right-box
    display inline-block
    flex-basis 60%
  &__jobs-data
    padding 1mm 0 0 2mm
    display inline-block
    height 6mm
    width 99%
  &__jobs-data_bold
    display inline-block
    font-weight 600
  &__jobs-sm-data
    padding 1mm 0 0 2mm
    display inline-block
    height 6mm
    width 33%
  &__total
    width 180mm
    display block
    margin auto
    margin-top 5mm
    margin-bottom 5mm
    border 0.2mm solid black
    height 5mm
  &__total-item
    display inline-block
    width 25%
  &__total-item_bold
    display inline-block
    font-weight 600
  &__notes
    width 180mm
    padding 2mm 2mm 0 2mm
    display block
    margin auto
    border 0.2mm solid black
    height 45mm
  &__notes-title
    display block
    text-align center
    font-weight 600
    margin-bottom 2mm
  &__notes-line
    display block
    border-bottom 0.1mm solid black
    margin-right 50mm
    margin-left 10mm
    height 5mm
