<div class="request-dispatch-notes icon-note" ng-click="vm.loadNotes()" uib-popover-html="vm.notes" popover-class="request-dispatch-notes-popover" popover-append-to-body="true" popover-trigger="'outsideClick'">
    <svg ng-if="vm.busy" class="spinner" width="12px" height="12px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
</div>
