.request-dispatch-notes
	background-color transparent
	width 25px
	height 25px
	position absolute
	right 3px
	bottom 3px
	cursor pointer
	padding 2px 5px
	font-size large
	font-weight 700
	border 1px solid transparent
	transition-timing-function linear
	transition-duration .3s
	&:hover
		background-color white
		border solid 1px black
		border-radius 3px
		transition-timing-function linear
		transition-duration .3s
	.spinner
		width 20px
		height 20px
		margin-left 8px
		margin-top 6px
	&__sales
		bottom 30px
		font-size 18px
		padding 3px 2px
