<div class="choose_list row">
    <div class="col-md-4 select-box" ng-class="{'active' : request.field_useweighttype.value == 1}" ng-click="selectList(1)">
        <i class="fa fa-cubes"></i>
        <p>Default</p>
         <p class="tips">{{request.total_weight.weight}} cbf</p>
    </div>
     <div class="col-md-4 select-box" ng-class="{'active' : request.field_useweighttype.value == 2,'disabled' : !request.inventory.inventory_list.length}" ng-click="selectList(2)">
        <i class="flaticon-livingroom8"></i>
        <p>Inventory</p>
        <p class="tips">{{request.inventory_weight.cfs}} cbf</p>
    </div>
     <div class="col-md-4 select-box custom" ng-click="selectList(3)" ng-class="{'active' : request.field_useweighttype.value == 3}">
         <i class="flaticon-draw24" ng-show="request.field_useweighttype.value != 3"></i>

         <div class="input-addon"  ng-show="request.field_useweighttype.value == 3">
             <input type="text"
                    class="form-element  input-stem form-control"
                    ng-change="setCustom()"
                    er-only-digit
                    with-decimal-point="true"
                    er-only-float
                    ng-model="request.custom_weight.value"
                    ng-model-options="{ updateOn: 'blur' }">
        </div>

        <p>Custom Cubic Feet</p>
    </div>
</div>
