.md-dialog-container
	overflow-y auto
	height calc(100vh - 60px) !important
	top 60px !important
	md-dialog
		max-height -moz-max-content
		max-height -webkit-max-content
		max-height max-content
		overflow-y hidden
		margin-bottom auto
		margin-top auto
input.noArrows
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button
		-webkit-appearance none
	-moz-appearance textfield