include ../../../../../default.pug

+b.create-filter
	+e.header
		+e.header-label
			h2 Inventory item
	+e('form').content(name="createItem")
		+e.progress
			md-progress-linear(md-mode="query" ng-show="busy")
		+e('md-input-container').input
			label Title
			input(ng-model='inventoryItem.name' required name="itemName")
		+e('md-input-container').input
			label Cubic Feet
			input(ng-model='inventoryItem.cf' required name="cf" er-only-float)
		+e('md-input-container').input(ng-if='false')
			label Handle Fee
			input(ng-model='handle_fee' ng-change="changeHandle(handle_fee)" name="handle_fee" cc-currency)
		+e('md-input-container').input(ng-if='false')
			label Packing Fee
			input(ng-model='packing_fee' ng-change="changePacking(packing_fee)" name="packing_fee" cc-currency)
		+e('md-input-container').input
			label Extra Service Name
			input(ng-model='inventoryItem.extra_service_name' name="extra_service_name")
		+e('md-input-container').input
			label Extra Service Fee
			input(ng-model='extra_service' ng-change="changeExtraservice(extra_service)" name="extra_service" cc-currency)
		+e('md-input-container')
			+e('label').filter-title(ng-class="{'create-filter__filter-title_no-valid' : createItem.filters.$touched && !createItem.filters.$valid }") Filters
			input(required ng-model="selectFilters" name="filters" ng-disabled="true")
			+e.selected-container
				+e.selected-item(ng-repeat="item in filters" ng-click="selectFilter(item)" 
					ng-class="{ 'create-filter__selected-item_active' : item.selected }"
					)
					+e.selected-title {{ item.name }}
					+e('img').selected-image(ng-src="{{ item.image_link }}")
		+e('md-input-container').input
			+e.uploader(file-uploader url="inventoryItem.image_link", show-image="true", uri="inventoryItem.uri", label="Image" required="true")
		+e.controls
			+e.controls_left
				md-button.md-raised.md-warn(ng-click="remove(inventoryItem)" ng-show="mode == 'edit' && showRemove") Remove
			+e.controls_right
				md-button.md-raised(ng-click="cancel(inventoryItem)") Close
				md-button.md-raised.md-primary(ng-click="create(inventoryItem)" ng-show="mode == 'edit'") Update
				md-button.md-raised.md-primary(ng-click="create(inventoryItem)" ng-show="mode != 'edit'" ng-disabled="busy") Create
