.commercial-move-block
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
  transition box-shadow .3s ease-in-out
  &.panel.nomargins
    margin-right 0
  &:hover
    box-shadow 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .22)
  &__title
    background linear-gradient(to right, #56ab2f, #a8e063)
    border-bottom 2px solid #56ab2f
    padding 15px 10px
  &__heading
    color #fff
  &__setting-explanation
    text-align center
    margin-bottom 0
    font-style italic
  &__settings-body
    padding 10px
    .col-center
      display block
      width 75px
      height 75px
      margin .5em auto
    .remove-block
      position relative
      top 20px
      right 15px
      cursor pointer
      .fa.fa-times
        padding 15px
        border-radius 50%
        transform scale(.8)
        transition all .4s ease-in-out
        &:hover
          transform scale(1)
          background #e74c3c
          color #fff
    .save-block
      position relative
      top 20px
      right 15px
      cursor pointer
      .fa.fa-floppy-o
        padding 15px
        border-radius 50%
        transform scale(.8)
        transition all .4s ease-in-out
        &:hover
          transform scale(1)
          background #2ecc71
          color #fff

.commercial-calculator
  &__save-commercial
    width 100%
    margin-top .5em
    background url('../stripes.png') 0 0 repeat-x scroll #3498db
    color #fff
    &:focus
    &:hover
    &:active
      color #fff
  &__remove-commercial
    width 100%
    margin-top .5em
    background url('../stripes.png') 0 0 repeat-x scroll #e74c3c
    color #fff
    &:focus
    &:hover
    &:active
      color #fff
.commercial-setting
  &__enabled
    display flex
    justify-content space-around
    align-items center
  &__add-commercial
    width 100%
    margin 0 15px
    background url('../stripes.png') 0 0 repeat-x scroll #56ab2f
    color #fff
    margin-left -15px
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
    transition box-shadow .3s ease-in-out
    &:focus
    &:active
    &:hover
      color #fff
