include ../../../../../../node_modules/bemto.pug/bemto

+b.commercial-move-block.panel.nomargins
	+e.title
		+e('h2').heading Commercial Setting
	+e.settings-body
		img.col-center(src="https://a2.muscache.com/airbnb/static/manage_listing/lightbulb2x-8bca59ee335a4dbf1ae2be406fd0693f.png")
		+e('p').setting-explanation
			| For commercial move you can set your own move sizes
		+b.commercial-setting
			.row
				+e.name.col-xs-7
					input.form-control(id='setting-name',
					ng-model='commecialMoveSizes.heading.name',
					ng-change='saveCommercialSetting()',
					ng-model-options='{ updateOn: "blur" }')
				+e.enabled.col-xs-3
					span Off
					input#checkOne.js-switch.ng-untouched.ng-valid.ng-isolate-scope.ng-dirty.ng-valid-parse(type='checkbox',
					ui-switch="{size: 'small', color:'#27B6AF',secondaryColor: '#B3B8C3'}",
					ng-change='saveCommercialSetting()', ng-model='commecialMoveSizes.heading.isEnabled',
					data-switchery='true',
					style='display: none;')
					span On
				+e.enabled.col-xs-2
					+e('button').add-commercial.btn(ng-click='addCommercialMoveSize()')
						| Add Commercial Move
		+b.commercial-calculator
			+e.move-sizes(ng-repeat="setting in commecialMoveSizes.moveSizes track by $index")
				.row
					.col-xs-7
						label(for='move-size-name-{{$index}}') Size name:
						input.form-control(id='move-size-name-{{$index}}',
						ng-model='setting.name',
						ng-model-options='{ updateOn: "blur" }')
					.col-xs-3
						label(for='move-size-value-{{$index}}') Cubic feet:
						input.form-control(id='move-size-value-{{$index}}',
						string-to-number,
						ng-model='setting.cubic_feet',
						ng-model-options='{ updateOn: "blur" }')
					.col-xs-1.save-block
						+e('button').save-commercial.btn(ng-click='updateCommercialExtra(setting)')
							| Save
					.col-xs-1.remove-block
						+e('button').remove-commercial.btn(ng-click='removeCommercialMoveSize(setting)')
							| Remove